Repository digital-asset/daml, pull requests merged in 2019-08, with the labels that each got.

#2353 release 0.13.16
  VERSION
  docs/source/support/release-notes.rst
  unreleased.rst
Labels: automerge

#2372 dedupe specification of LF value, transaction versions in Scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/LfVersions.scala
  daml-lf/data/src/test/scala/com/digitalasset/daml/lf/LfVersionsSpec.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageMajorVersion.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionVersion.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/VersionTimeline.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/ValueVersion.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/VersionTimelineSpec.scala
Labels: component/daml-engine

#2373 damldocs: Switch to mustache templates.
  compiler/damlc/base-md-template.md
  compiler/damlc/base-rst-template.rst
  compiler/damlc/daml-doc/BUILD.bazel
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Render.hs
  compiler/damlc/lib/DA/Cli/Damlc/Command/Damldoc.hs
  unreleased.rst
Labels: automerge

#2334 Daml-lf: update release note with changes in Protobuf archive definition
  daml-lf/archive/da/daml_lf_1.proto
  docs/source/support/release-notes.rst
Labels: automerge-after-rebase, component/daml-lf

#2387 Test template level let with keys
  compiler/damlc/tests/daml-test-files/LetKeys.daml
Labels: automerge

#2392 Fix daml build for usernames with spaces
  compiler/damlc/lib/DA/Cli/Damlc.hs
  daml-assistant/src/DA/Daml/Assistant/Install.hs
Labels: automerge

#2395 Enable TypeApplications in daml-lf-ast.cabal
  compiler/daml-lf-ast/daml-lf-ast.cabal
Labels: automerge

#2396 Hide daml deploy interface temporarily.
  release/sdk-config.yaml.tmpl
Labels: automerge

#2394 Damldocs qualified flag
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Driver.hs
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Extract.hs
  compiler/damlc/daml-doc/test/DA/Daml/GHC/Damldoc/Tests.hs
  compiler/damlc/lib/DA/Cli/Damlc/Command/Damldoc.hs
Labels: automerge

#2398 daml deploy: small changes and code cleanup
  daml-assistant/daml-helper/src/DA/Daml/Helper/Ledger.hs
  daml-assistant/daml-helper/src/DA/Daml/Helper/Run.hs
Labels: automerge

#2401 Slightly improve test for template-level let
  compiler/damlc/tests/daml-test-files/LetKeys.daml
Labels: automerge

#2399 Use a single map for RawDependencyInformation
  compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
  compiler/hie-core/src/Development/IDE/Core/Rules.hs
  compiler/hie-core/src/Development/IDE/Import/DependencyInformation.hs
Labels: automerge

#2400 Remove the old template resugaring from the GHC Core -> DAML-LF conversion
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
Labels: automerge

#2404 Simplify test for unserializability check
  compiler/damlc/tests/daml-test-files/Unserializable.daml
Labels: automerge

#2407 Merge the Iou12 and Iou_template test into one test
  compiler/damlc/tests/daml-test-files/Iou12.EXPECTED.md
  compiler/damlc/tests/daml-test-files/Iou12.EXPECTED.rst
  compiler/damlc/tests/daml-test-files/Iou12.daml
  compiler/damlc/tests/daml-test-files/Iou_template.daml
Labels: automerge

#2406 Upgrade hlint
  WORKSPACE
  compiler/damlc/tests/daml-test-files/List.daml
Labels: automerge

#2402 CODEOWNERS: Make Bernhard owner of docs and remove daml-foundations
  CODEOWNERS
Labels: automerge

#2415 Handle ExitCodeException in wrapErr
  daml-assistant/BUILD.bazel
  daml-assistant/src/DA/Daml/Assistant/Util.hs
Labels: automerge

#2417 Escape shell arguments in daml-helper
  daml-assistant/BUILD.bazel
  daml-assistant/daml-helper/BUILD.bazel
  daml-assistant/daml-helper/src/DA/Daml/Helper/Run.hs
  unreleased.rst
Labels: automerge

#2421 Activate VSCode extension on daml.resetTelemetryConsent
  compiler/daml-extension/package.json
Labels: automerge

#2422 Implement deploy in terms of allocate-parties and upload-dar.
  daml-assistant/daml-helper/src/DA/Daml/Helper/Main.hs
  daml-assistant/daml-helper/src/DA/Daml/Helper/Run.hs
  unreleased.rst
Labels: automerge

#2423 Avoid converting DARs to a strict bytestring
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Dar.hs
  compiler/damlc/lib/DA/Cli/Damlc.hs
Labels: automerge

#2405 Simplify test for different choice syntaxes
  compiler/damlc/tests/daml-test-files/ChoiceSyntaxes.daml
  compiler/damlc/tests/daml-test-files/Iou_new.daml
Labels: automerge

#2426 --json flag for daml ledger list-parties
  daml-assistant/daml-helper/src/DA/Daml/Helper/Main.hs
  daml-assistant/daml-helper/src/DA/Daml/Helper/Run.hs
Labels: automerge

#2429 Use tasty-golden for daml-doc's golden tests
  compiler/damlc/README.md
  compiler/damlc/daml-doc/BUILD.bazel
  compiler/damlc/daml-doc/test/DA/Daml/GHC/Damldoc/Tests.hs
Labels: automerge

#2430 Fix daml ledger navigator configuration.
  daml-assistant/daml-helper/src/DA/Daml/Helper/Run.hs
Labels: automerge

#2432 Speed up convertModuleName
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
Labels: automerge

#2437 Release SDK 0.13.17
  VERSION
  docs/source/support/release-notes.rst
  unreleased.rst
Labels: automerge

#2439 Deliver additional detail in daml deploy documentation.
  docs/source/deploy/index.rst
Labels: automerge

#2443 java-codegen: fix broken integration-tests-model-1.0.dar
  language-support/java/codegen/BUILD.bazel
  language-support/java/codegen/src/it/dar/integration-tests-model-1.0.dar
Labels: automerge, component/java-ecosystem

#2389 JWT HMAC256 Authorization
  3rdparty/dependencies.digest
  3rdparty/jvm/com/auth0/BUILD
  3rdparty/workspace.bzl
  dependencies.yaml
  ledger-service/http-json/BUILD.bazel
  ledger-service/http-json/README.md
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/HttpCodec.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/ResponseFormats.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/util/FutureUtil.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/HttpServiceIntegrationTest.scala
  ledger-service/jwt/BUILD.bazel
  ledger-service/jwt/README.md
  ledger-service/jwt/src/main/scala/com/digitalasset/jwt/JwtGenerator.scala
  ledger-service/jwt/src/main/scala/com/digitalasset/jwt/JwtSigner.scala
  ledger-service/jwt/src/main/scala/com/digitalasset/jwt/JwtVerifier.scala
  ledger-service/jwt/src/main/scala/com/digitalasset/jwt/Main.scala
  ledger-service/jwt/src/main/scala/com/digitalasset/jwt/RsaKeysGenerator.scala
  ledger-service/jwt/src/main/scala/com/digitalasset/jwt/domain.scala
Labels: automerge

#2447 Release 0.13.18
  VERSION
  docs/source/support/release-notes.rst
  unreleased.rst
Labels: automerge

#2451 Add link to deploy URL in daml ledger --help and daml deploy --help
  daml-assistant/daml-helper/src/DA/Daml/Helper/Main.hs
Labels: automerge

#2419 Semantic tests fall back to wall-clock time if timeservice is not available
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/semantictest/SemanticTestAdapter.scala
  ledger/ledger-api-integration-tests/src/test/semanticsuite/scala/com/digitalasset/platform/semantictest/SandboxSemanticTestsLfRunner.scala
Labels: component/ledger

#2446 Fixed bug when loading transactions with an empty workflow id
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/CommandTransactionChecks.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/PostgresLedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/util/Conversions.scala
  unreleased.rst
Labels: automerge, component/ledger

#2453 Fix pretty printing of empty annotations in DAML-LF AST
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Pretty.hs
  libs-haskell/da-hs-base/src/Text/PrettyPrint/Annotated/Extended.hs
Labels: automerge

#2374 lf-value-json: don't hardcode String cids; more consistent test runtimes, with special cases called out
  daml-lf/data-scalacheck/src/main/scala/com/digitalasset/daml/lf/data/DataArbitrary.scala
  daml-lf/transaction-scalacheck/BUILD.bazel
  daml-lf/transaction-scalacheck/src/main/scala/com/digitalasset/daml/lf/value/TypedValueGenerators.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/ApiValueToJsValueConverter.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/JsValueToApiValueConverter.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/JsonProtocol.scala
  ledger-service/lf-value-json/src/main/scala/com/digitalasset/daml/lf/value/json/ApiCodecCompressed.scala
  ledger-service/lf-value-json/src/test/scala/com/digitalasset/daml/lf/value/json/ApiCodecCompressedSpec.scala
Labels: component/daml-engine, component/navigator

#2464 Make DAML internal functions version independent
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
Labels: automerge

#2466 Avoid duplicate record constructors
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
Labels: automerge

#2471 Fix shutdown order to avoid dead letter logging when stopping sandbox
  ledger/sandbox/src/main/scala/com/digitalasset/ledger/server/apiserver/LedgerApiServer.scala
  unreleased.rst
Labels: automerge, component/ledger

#2469 Avoid one indirection when constructing enum values
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
  compiler/damlc/tests/daml-test-files/EnumLF.daml
Labels: automerge

#2473 Simplify how we compute the label of a data constructor
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
Labels: automerge

#2478 Increase timeout on lsp-tests
  compiler/lsp-tests/BUILD.bazel
  compiler/lsp-tests/src/Main.hs
Labels: automerge

#2366 Allow extractor to write to custom sinks
  extractor/src/main/scala/com/digitalasset/extractor/Extractor.scala
  extractor/src/main/scala/com/digitalasset/extractor/Main.scala
  extractor/src/main/scala/com/digitalasset/extractor/writers/Writer.scala
  extractor/src/test/lib/scala/com/digitalasset/extractor/services/ExtractorFixture.scala
  extractor/src/test/suite/scala/com/digitalasset/extractor/VeryLargeArchiveSpec.scala
Labels: component/extractor

#2441 Based the interface reader on the archive decoder.
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/Decode.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/interface/BUILD.bazel
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/Interface.scala
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/reader/DamlLfArchiveReader.scala
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/reader/DamlLfV1ArchiveReader.scala
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/reader/ErrorFormatter.scala
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/reader/InterfaceReader.scala
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/reader/Partitions.scala
  daml-lf/interface/src/test/scala/com/digitalasset/daml/lf/iface/reader/InterfaceReaderSpec.scala
  ledger-service/utils/src/main/scala/com/digitalasset/ledger/service/LedgerReader.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/store/platform/PlatformSubscriber.scala
Labels: automerge-after-rebase, component/daml-lf

#2480 engine: cleanup environment
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
Labels: automerge-after-rebase, component/daml-engine

#2483 Produce a more compact test summary output.
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/Reporter.scala
Labels: component/dlik

#2475 Simplify test for issue with GHC.Tuple.Unit
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
  compiler/damlc/tests/daml-test-files/SugarUnit.daml
Labels: automerge

#2487 damldocs: Show relevant instances for types and classes.
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Annotate.hs
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Extract.hs
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Render/Output.hs
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Transform.hs
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Types.hs
  compiler/damlc/daml-doc/test/DA/Daml/GHC/Damldoc/Render/Tests.hs
  compiler/damlc/daml-doc/test/DA/Daml/GHC/Damldoc/Tests.hs
  compiler/damlc/tests/daml-test-files/Deriving.EXPECTED.md
  compiler/damlc/tests/daml-test-files/Deriving.EXPECTED.rst
  compiler/damlc/tests/daml-test-files/ExportList.EXPECTED.md
  compiler/damlc/tests/daml-test-files/ExportList.EXPECTED.rst
  compiler/damlc/tests/daml-test-files/Newtype.EXPECTED.md
  compiler/damlc/tests/daml-test-files/Newtype.EXPECTED.rst
Labels: automerge

#2492 damldocs: Small type rendering improvements.
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Extract.hs
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Render/Hoogle.hs
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Render/Output.hs
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Transform.hs
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Types.hs
Labels: automerge

#2495 Move assertion on exception type to match block.
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/LedgerApiTestTool.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerTestSuite.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/Reporter.scala
Labels: component/dlik

#2496 Remove the --dump-pom flag from damlc package
  compiler/damlc/lib/DA/Cli/Damlc.hs
  unreleased.rst
Labels: automerge

#2497 Print stack traces in the scenario on failure
  compiler/scenario-service/client/src/DA/Daml/LF/PrettyScenario.hs
  compiler/scenario-service/protos/scenario_service.proto
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  unreleased.rst
Labels: automerge

#2503 Remove unused message from scenario service protobuf
  compiler/scenario-service/protos/scenario_service.proto
Labels: automerge

#2486 Port WitnessesIT to the new test infrastructure.
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/WitnessesIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerBindings.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerTestContext.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerTestSuite.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/SemanticTesterLedger.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/ContractKeys.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/Divulgence.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/Witnesses.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/package.scala
Labels: component/dlik

#2489 Fix release notes about improper freeze of 1.6
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/EncodeV1.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
  daml-lf/spec/daml-lf-1.rst
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/VersionTimeline.scala
  docs/source/support/release-notes.rst
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/ContractKeysChecks.scala
Labels: automerge, component/daml-engine, component/daml-lf

#2491 Add ContractKeys test.
  ledger/api-server-damlonx/reference-v2/BUILD.bazel
  ledger/api-server-damlonx/reference/BUILD.bazel
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/commands/ContractKeysNo1866IT.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/ContractKeysChecks.scala
  ledger/ledger-api-test-tool/BUILD.bazel
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/LedgerApiTestTool.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerTestSuiteRunner.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/ContractKeys.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/ContractKeysSubmitterIsMaintainer.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/package.scala
  ledger/sandbox/BUILD.bazel
  ledger/test-common/BUILD.bazel
Labels: component/dlik

#2513 #2512 Fix URL to daml code
  docs/source/daml/intro/0_Intro.rst
Labels: automerge

#2501 Removing JWT verification (should be done by the ledger... eventually)
  ledger-service/http-json/README.md
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Main.scala
  ledger-service/jwt/src/main/scala/com/digitalasset/jwt/Base64.scala
  ledger-service/jwt/src/main/scala/com/digitalasset/jwt/JwtDecoder.scala
  ledger-service/jwt/src/main/scala/com/digitalasset/jwt/JwtSigner.scala
  ledger-service/jwt/src/main/scala/com/digitalasset/jwt/JwtVerifier.scala
  ledger-service/jwt/src/main/scala/com/digitalasset/jwt/RsaKeysGenerator.scala
Labels: component/ledger

#2522 Fixing the copyright header
  ledger-service/jwt/src/main/scala/com/digitalasset/jwt/Base64.scala
  ledger-service/jwt/src/main/scala/com/digitalasset/jwt/JwtDecoder.scala
Labels: automerge

#2463 new JSON formats for some DAML-LF data
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/DecimalModule.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/ScalazEqual.scala
  ledger-service/lf-value-json/src/main/scala/com/digitalasset/daml/lf/value/json/ApiCodecCompressed.scala
  ledger-service/lf-value-json/src/test/scala/com/digitalasset/daml/lf/value/json/ApiCodecCompressedSpec.scala
  unreleased.rst
Labels: component/daml-lf, component/navigator

#2519 document lf-value-json's encoding of various types
  ledger-service/lf-value-json/specification.rst
Labels: component/documentation

#2498 Make the detail level of damlc inspect configurable
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Pretty.hs
  compiler/damlc/lib/DA/Cli/Damlc.hs
  libs-haskell/da-hs-base/src/DA/Pretty.hs
Labels: automerge

#2525 Release 0.13.19
  VERSION
  docs/source/support/release-notes.rst
  unreleased.rst
Labels: automerge

#2527 Mark the "damlc test" tests as flaky
  compiler/damlc/tests/BUILD.bazel
Labels: automerge

#2530 Simplify the pretty printing of location info in DAML-LF
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Pretty.hs
Labels: automerge

#2534 Make damlc inspect work with DARs
  compiler/damlc/lib/DA/Cli/Damlc.hs
Labels: automerge

#2543 Releasing //ledger-service/http-json module and its dependencies
  ledger-service/http-json/BUILD.bazel
  release/artifacts.yaml
Labels: automerge, component/ledger

#2548 Remove outdated todo
  compiler/damlc/tests/daml-test-files/ComposedKey.daml
Labels: automerge

#2550 daml-lf: typo in spec
  daml-lf/spec/daml-lf-1.rst
Labels: automerge, component/daml-lf

#2535 Add more hie-core diagnostics tests
  compiler/hie-core/test/exe/Main.hs
  compiler/hie-core/test/src/Development/IDE/Test.hs
Labels: automerge

#2551 Wait for all gRPC requests to finish before shutting down gRPC
  compiler/damlc/tests/BUILD.bazel
  compiler/scenario-service/client/src/DA/Daml/LF/ScenarioServiceClient.hs
  docs/BUILD.bazel
  unreleased.rst
Labels: automerge

#2508 Add Command submission test
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerBindings.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerSession.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerTestContext.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerTestSuite.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/SemanticTesterLedger.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/CommandService.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/package.scala
  ledger/sandbox/BUILD.bazel
Labels: component/dlik

#2562 hie-bios: Don't hard-code import-dirs
  .hie-bios
  bazel_tools/haskell_public_ghci_repl_wrapper.patch
  compiler/damlc/BUILD.bazel
Labels: automerge

#2560 Make stack traces work with cached top level values
  compiler/damlc/tests/src/DA/Test/ShakeIdeClient.hs
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
Labels: automerge

#2556 Daml-lf: Core type Numeric
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/DecimalModule.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/MatchingStringModule.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/NumericModule.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/Ref.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/Time.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/package.scala
  daml-lf/data/src/test/scala/com/digitalasset/daml/lf/data/NumericSpec.scala
Labels: automerge, component/daml-engine, component/daml-lf

#2571 Compile with optimizations on Windows
  WORKSPACE
  unreleased.rst
Labels: automerge

#2569 daml-lf: base implementation of Decimal on top of Numeric
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/DecimalModule.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/NumericModule.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/package.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  ledger-service/lf-value-json/src/main/scala/com/digitalasset/daml/lf/value/json/ApiCodecCompressed.scala
Labels: component/daml-lf

#2575 Write template locations when converting to DAML-LF
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
  compiler/damlc/tests/daml-test-files/Locations.daml
Labels: automerge

#2574 Go back to building grpc-haskell-core using c2hs
  bazel_tools/haskell-c2hs-windows.patch
  bazel_tools/haskell.bzl
  deps.bzl
  language-support/hs/bindings/BUILD.bazel
  nix/third-party/gRPC-haskell/core/BUILD.bazel
  nix/third-party/gRPC-haskell/core/chs/Network/GRPC/Unsafe.chi
  nix/third-party/gRPC-haskell/core/chs/Network/GRPC/Unsafe.hs
  nix/third-party/gRPC-haskell/core/chs/Network/GRPC/Unsafe/ByteBuffer.hs
  nix/third-party/gRPC-haskell/core/chs/Network/GRPC/Unsafe/ChannelArgs.hs
  nix/third-party/gRPC-haskell/core/chs/Network/GRPC/Unsafe/Metadata.hs
  nix/third-party/gRPC-haskell/core/chs/Network/GRPC/Unsafe/Op.hs
  nix/third-party/gRPC-haskell/core/chs/Network/GRPC/Unsafe/Security.hs
  nix/third-party/gRPC-haskell/core/chs/Network/GRPC/Unsafe/Slice.hs
  nix/third-party/gRPC-haskell/core/chs/Network/GRPC/Unsafe/Time.hs
Labels: automerge

#2577 engine: SDecimal -> SNumeric
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/NumericModule.scala
  daml-lf/data/src/test/scala/com/digitalasset/daml/lf/data/NumericSpec.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/CommandPreprocessor.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/interp/testing/ToTextTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
Labels: automerge-after-rebase, component/daml-engine

#2581 Fix log level for errors in Bot.java
  language-support/java/bindings-rxjava/src/main/java/com/daml/ledger/rxjava/components/Bot.java
Labels: component/java-ecosystem

#2576 Upgrade akka to 2.5.23 and akka-http to 10.1.9
  3rdparty/dependencies.digest
  3rdparty/jvm/com/typesafe/akka/BUILD
  3rdparty/workspace.bzl
  dependencies.yaml
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/PackageServiceIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/ReflectionIT.scala
  navigator/backend/BUILD.bazel
Labels: component/ledger, component/scala-ecosystem

#2593 Remove arx patch files
  3rdparty/haskell/BUILD.arx
  bazel_tools/haskell-arx.patch
Labels: automerge

#2587 daml-lf: make LF parser numeric compatible
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/NumericModule.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ExprParser.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/Lexer.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/Token.scala
  daml-lf/parser/src/test/scala/com/digitalasset/daml/lf/testing/parser/ParsersSpec.scala
Labels: component/daml-lf

#2592 Default to `-c opt` in Bazel
  .bazelrc
  WORKSPACE
  bazel_tools/haskell-opt.patch
  deps.bzl
Labels: automerge

#2583 Make hs-bindings usable outside daml repo
  compiler/daml-lf-ast/daml-lf-ast.cabal
  compiler/daml-lf-proto/daml-lf-proto.cabal
  language-support/hs/bindings/build_packages.sh
Labels: automerge

#2599 Stop highlighting signature as a keyword in the IDE
  compiler/daml-extension/syntaxes/daml12.tmLanguage.xml
Labels: automerge

#2600 Revert DAML-LF proto change for Numeric
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Pretty.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/DecodeV1.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/EncodeV1.hs
  daml-lf/archive/da/daml_lf_1.proto
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/EncodeV1.scala
  unreleased.rst
Labels: automerge, component/daml-lf

#2601 Delete obsolete proto3-suite patch
  WORKSPACE
  bazel_tools/haskell-proto3-suite.patch
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/Archive.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/Error.hs
  libs-haskell/da-hs-base/src/Orphans/Lib_pretty.hs
Labels: automerge

#2604 Bump rules_haskell
  deps.bzl
Labels: automerge

#2607 hie-core stack tests: Mark as flaky
  azure-pipelines.yml
Labels: automerge

#2589 damldocs: External docs links.
  compiler/damlc/daml-doc/BUILD.bazel
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Extract.hs
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Render/Markdown.hs
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Render/Monoid.hs
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Render/Output.hs
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Render/Rst.hs
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Transform.hs
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Types.hs
  compiler/damlc/tests/daml-test-files/Deriving.EXPECTED.md
  compiler/damlc/tests/daml-test-files/Deriving.EXPECTED.rst
  compiler/damlc/tests/daml-test-files/ExportList.EXPECTED.md
  compiler/damlc/tests/daml-test-files/ExportList.EXPECTED.rst
  compiler/damlc/tests/daml-test-files/Iou12.EXPECTED.md
  compiler/damlc/tests/daml-test-files/Iou12.EXPECTED.rst
  compiler/damlc/tests/daml-test-files/Newtype.EXPECTED.md
  compiler/damlc/tests/daml-test-files/Newtype.EXPECTED.rst
  compiler/damlc/tests/daml-test-files/Proposal.EXPECTED.md
  compiler/damlc/tests/daml-test-files/Proposal.EXPECTED.rst
  compiler/damlc/tests/daml-test-files/ProposalIou.EXPECTED.md
  compiler/damlc/tests/daml-test-files/ProposalIou.EXPECTED.rst
Labels: automerge

#2616 Hide GHC.Base.(++) from the docs.
  compiler/damlc/daml-prim-src/GHC/Base.daml
Labels: automerge

#2619 Support --ghc-option in `damlc ide`
  compiler/damlc/lib/DA/Cli/Damlc.hs
  unreleased.rst
Labels: automerge

#2620 Add an extraArguments config in the VSCode extension
  compiler/daml-extension/package.json
  compiler/daml-extension/src/extension.ts
  unreleased.rst
Labels: automerge

#2625 Fix VSCode extension if extraArguments is empty
  compiler/daml-extension/src/extension.ts
Labels: automerge

#2580 Port integration test for ActiveContractsService
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/ActiveContractsServiceIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/TransactionServiceIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerTestContext.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/ActiveContractsService.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/package.scala
  ledger/participant-state-index/src/main/scala/com/daml/ledger/participant/state/index/v2/package.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/ApiActiveContractsService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ActiveContracts.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/SandboxIndexAndWriteService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/LedgerDao.scala
  ledger/test-common/src/main/daml/Test.daml
Labels: component/dlik, component/ledger

#2623 Restore resource closing ordering in Ledger API server
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/ResetServiceIT.scala
  ledger/sandbox/src/main/scala/com/digitalasset/ledger/server/apiserver/LedgerApiServer.scala
  unreleased.rst
Labels: automerge, component/ledger

#2613 ledger-api-test: cleanning a bit the build files
  bazel_tools/client_server_test/client_server_test.bzl
  daml-lf/language/daml-lf.bzl
  ledger/api-server-damlonx/reference-v2/BUILD.bazel
  ledger/api-server-damlonx/reference/BUILD.bazel
  ledger/ledger-api-integration-tests/BUILD.bazel
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/PackageManagementServiceIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/ResetServiceIT.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/PlatformApplications.scala
  ledger/ledger-api-test-tool/BUILD.bazel
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/LedgerApiTestTool.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/CommandService.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/ContractKeys.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/ContractKeysSubmitterIsMaintainer.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/Divulgence.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/Witnesses.scala
  ledger/sandbox-perf/BUILD.bazel
  ledger/sandbox-perf/src/perf/benches/scala/com/digitalasset/platform/sandbox/perf/AcsBench.scala
  ledger/sandbox-perf/src/perf/benches/scala/com/digitalasset/platform/sandbox/perf/SimpleBench.scala
  ledger/sandbox-perf/src/perf/lib/scala/com/digitalasset/platform/sandbox/perf/AcsBenchState.scala
  ledger/sandbox/BUILD.bazel
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/TestHelpers.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/services/SandboxFixture.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/cli/CliSpec.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/PostgresDaoSpec.scala
  ledger/test-common/BUILD.bazel
Labels: component/dlik

#2621 Java Codegen now supports parametrized ContractIds.
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/ContractId.java
  language-support/java/codegen/src/it/daml/Tests/RecordTest.daml
  language-support/java/codegen/src/it/java-latest/com/digitalasset/lf_latest/AllTests.java
  language-support/java/codegen/src/it/java-latest/com/digitalasset/lf_latest/ParametrizedContractIdTest.java
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/TemplateClass.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/package.scala
  unreleased.rst
Labels: automerge, component/java-ecosystem

#2631 Fix imports in ActiveContractsService
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/ActiveContractsService.scala
Labels: automerge

#2629 Add stripInfix to daml stdlib
  compiler/damlc/daml-stdlib-src/DA/List.daml
  compiler/damlc/lib/DA/Cli/Damlc.hs
  compiler/damlc/tests/BUILD.bazel
  compiler/damlc/tests/src/DA/Test/DamlDocTestIntegration.hs
  unreleased.rst
Labels: automerge

#2633 Release 0.13.20
  VERSION
  docs/source/support/release-notes.rst
  unreleased.rst
Labels: automerge

#2632 damldocs: Only strip implied typeclass member constraint, not all constraints.
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Extract.hs
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Types.hs
  compiler/damlc/tests/daml-test-files/ConstrainedClassMethod.EXPECTED.md
  compiler/damlc/tests/daml-test-files/ConstrainedClassMethod.EXPECTED.rst
  compiler/damlc/tests/daml-test-files/ConstrainedClassMethod.daml
Labels: automerge

#2630 Port party management tests to the new test tool
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/PartyManagementServiceIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerTestContext.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/PartyManagement.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/package.scala
Labels: component/dlik, component/ledger

#2594 daml-lf: decommission internal Decimal type in favor of Numeric.
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/Decimal.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/DecimalModule.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/NumericModule.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/package.scala
  daml-lf/data/src/test/scala/com/digitalasset/daml/lf/data/DecimalSpec.scala
  daml-lf/encoder/BUILD.bazel
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/EncodeV1.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/CommandPreprocessor.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/Implicits.scala
  daml-lf/transaction-scalacheck/src/main/scala/com/digitalasset/daml/lf/value/TypedValueGenerators.scala
  daml-lf/transaction-scalacheck/src/main/scala/com/digitalasset/daml/lf/value/ValueGenerators.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/Value.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/ValueCoder.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/ValueVersion.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/value/ValueCoderSpec.scala
  extractor/src/main/scala/com/digitalasset/extractor/json/JsonConverters.scala
  extractor/src/main/scala/com/digitalasset/extractor/ledger/types/LedgerValue.scala
  extractor/src/main/scala/com/digitalasset/extractor/writers/postgresql/MultiTableDataFormat.scala
  extractor/src/main/scala/com/digitalasset/extractor/writers/postgresql/Queries.scala
  ledger-service/lf-value-json/src/main/scala/com/digitalasset/daml/lf/value/json/ApiCodecCompressed.scala
  ledger-service/lf-value-json/src/test/scala/com/digitalasset/daml/lf/value/json/ApiCodecCompressedSpec.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/ledger/api/validation/ValueValidator.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/participant/util/LfEngineToApi.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/ledger/api/validation/SubmitRequestValidatorTest.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/serialisation/KeyHasher.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/KeyHasherSpec.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/console/Pretty.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/json/ApiCodecVerbose.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/query/filter/package.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/query/project/package.scala
  navigator/backend/src/test/scala/com/digitalasset/navigator/backend/DamlConstants.scala
Labels: component/daml-lf

#2643 Fix curl on Windows
  .dadew
  dev-env/windows/manifests/curl-7.65.1.json
  dev-env/windows/manifests/curl-7.65.3.json
Labels: automerge

#2645 Mark doctest integration tests as flaky
  compiler/damlc/tests/BUILD.bazel
Labels: automerge

#2637 Properly set connection pool properties
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/HikariJdbcConnectionProvider.scala
  unreleased.rst
Labels: component/ledger

#2646 hie-core tests flaky
  azure-pipelines.yml
Labels: automerge

#2608 daml-lf: introduce Numeric in internal AST
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV1Spec.scala
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/EncodeV1.scala
  daml-lf/encoder/src/test/lf/since_1.0/Decimal.lf
  daml-lf/encoder/src/test/lf/since_1.0/Record.lf
  daml-lf/encoder/src/test/lf/since_1.0/Variant.lf
  daml-lf/engine/BUILD.bazel
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/CommandPreprocessor.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/CommandPreprocessorSpec.scala
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/reader/InterfaceReader.scala
  daml-lf/interface/src/test/scala/com/digitalasset/daml/lf/iface/TypeSpec.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Util.scala
  daml-lf/language/src/test/scala/com/digitalasset/daml/lf/language/AstSpec.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/AstRewriter.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ExprParser.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/KindParser.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/TypeParser.scala
  daml-lf/parser/src/test/scala/com/digitalasset/daml/lf/testing/parser/ParsersSpec.scala
  daml-lf/repl/src/main/scala/com/digitalasset/daml/lf/repl/testing/Main.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/AlphaEquiv.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Serializability.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/TypeSubst.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/ValidationError.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/traversable/TypeTraversable.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/SerializabilitySpec.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/TypingSpec.scala
  language-support/java/codegen/BUILD.bazel
Labels: component/daml-lf

#2651 Ensure uniqueness of decoding and encoding methods
  language-support/java/codegen/src/it/daml/Lib.daml
  language-support/java/codegen/src/it/daml/Tests/ParametersOrder.daml
  language-support/java/codegen/src/ledger-tests/scala/com/digitalasset/TestUtil.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/JavaEscaper.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/ClassForType.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/RecordMethods.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/ToValueExtractorParameters.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/VariantClass.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/VariantConstructorClass.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/VariantRecordMethods.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/package.scala
  unreleased.rst
Labels: component/java-ecosystem

#2655 bazel-docs: Replace references to DACH-NY repo
  BAZEL-JVM.md
  BAZEL-haskell.md
  BAZEL.md
  WORKSPACE
Labels: automerge

#2656 Robuster logic for --install-assistant=auto
  daml-assistant/exe/DA/Daml/Assistant.hs
  daml-assistant/src/DA/Daml/Assistant/Install.hs
  release/install.sh
Labels: automerge

#2649 daml-lf: udpate LF protobuf for numerics
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/DecodeV1.hs
  daml-lf/archive/da/daml_lf_1.proto
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV1Spec.scala
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/EncodeV1.scala
  daml-lf/spec/daml-lf-1.rst
  language-support/java/codegen/BUILD.bazel
  language-support/java/codegen/src/test/java/com/digitalasset/testing/AllTestsFor$1_0$.java
  language-support/java/codegen/src/test/java/com/digitalasset/testing/AllTestsFor$1_1$.java
  language-support/java/codegen/src/test/java/com/digitalasset/testing/AllTestsFor$1_3$.java
  language-support/java/codegen/src/test/java/com/digitalasset/testing/AllTestsFor$1_6$.java
  language-support/java/codegen/src/test/java/com/digitalasset/testing/AllTestsFor$1_dev$.java
  language-support/java/codegen/src/test/java/com/digitalasset/testing/DecimalTestFor$All$.java
  language-support/java/codegen/src/test/java/com/digitalasset/testing/EnumTestFor$1_6$1_dev$.java
Labels: automerge-after-rebase, component/daml-lf

#2653 Speedy: make the compiler/engine ready for Nat types
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/interp/testing/ToTextTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/InterpreterTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
Labels: automerge-after-rebase, component/daml-engine

#2597 Visual integration with LSP
  compiler/daml-extension/package.json
  compiler/daml-extension/src/extension.ts
  compiler/damlc/BUILD.bazel
  compiler/damlc/daml-ide-core/BUILD.bazel
  compiler/damlc/daml-ide-core/test/Development/IDE/State/API/Testing.hs
  compiler/damlc/daml-ide/BUILD.bazel
  compiler/damlc/daml-ide/src/DA/Daml/LanguageServer.hs
  compiler/damlc/daml-ide/src/DA/Daml/LanguageServer/Visualize.hs
  compiler/damlc/daml-visual/BUILD.bazel
  compiler/damlc/daml-visual/src/DA/Daml/Visual.hs
  compiler/damlc/lib/DA/Cli/Damlc.hs
  compiler/lsp-tests/src/Main.hs
Labels: automerge

#2667 damldocs: Rewrite class method extraction and fix handling of default methods.
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Annotate.hs
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Extract.hs
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Render/Hoogle.hs
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Render/Output.hs
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Transform.hs
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Types.hs
  compiler/damlc/daml-doc/test/DA/Daml/GHC/Damldoc/Render/Tests.hs
  compiler/damlc/daml-doc/test/DA/Daml/GHC/Damldoc/Tests.hs
  compiler/damlc/tests/daml-test-files/DefaultMethods.EXPECTED.md
  compiler/damlc/tests/daml-test-files/DefaultMethods.EXPECTED.rst
  compiler/damlc/tests/daml-test-files/DefaultMethods.daml
  compiler/damlc/tests/daml-test-files/MultipleNames.EXPECTED.md
  compiler/damlc/tests/daml-test-files/MultipleNames.EXPECTED.rst
  compiler/damlc/tests/daml-test-files/MultipleNames.daml
Labels: automerge

#2671 Correcting spelling mistakes
  compiler/damlc/tests/src/DA/Test/ShakeIdeClient.hs
Labels: automerge

#2675 daml-lf: minor fix for encoder
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/DamlLfEncoder.scala
Labels: automerge, component/daml-lf

#2678 Enable MonoLocalBinds and FlexibleContexts by default in DAML
  compiler/damlc/daml-opts/daml-opts/DA/Daml/Options.hs
  compiler/damlc/tests/daml-test-files/GenTemplContext.daml
  unreleased.rst
Labels: automerge

#2674 Update ghc-lib (v8.8.1.20190828)
  3rdparty/haskell/BUILD.ghc-lib-parser
  WORKSPACE
Labels: automerge

#2425 Ledger API Server H2 Database support
  ledger/sandbox/BUILD.bazel
  ledger/sandbox/src/main/resources/db/migration/h2database/V1__Init.sha256
  ledger/sandbox/src/main/resources/db/migration/h2database/V1__Init.sql
  ledger/sandbox/src/main/resources/db/migration/postgres/V1__Init.sha256
  ledger/sandbox/src/main/resources/db/migration/postgres/V1__Init.sql
  ledger/sandbox/src/main/resources/db/migration/postgres/V2_0__Contract_divulgence.sha256
  ledger/sandbox/src/main/resources/db/migration/postgres/V2_0__Contract_divulgence.sql
  ledger/sandbox/src/main/resources/db/migration/postgres/V4_0__Add_parties.sha256
  ledger/sandbox/src/main/resources/db/migration/postgres/V4_0__Add_parties.sql
  ledger/sandbox/src/main/resources/db/migration/postgres/V5__Add_packages.sha256
  ledger/sandbox/src/main/resources/db/migration/postgres/V5__Add_packages.sql
  ledger/sandbox/src/main/resources/db/migration/postgres/V6__External_Ledger_Offset.sha256
  ledger/sandbox/src/main/resources/db/migration/postgres/V6__External_Ledger_Offset.sql
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/JdbcIndex.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/JdbcIndexer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/StandaloneIndexServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/StandaloneIndexerServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/config/Config.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/SandboxIndexAndWriteService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/Ledger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/ReadOnlySqlLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/HikariJdbcConnectionProvider.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/JdbcLedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/migration/FlywayMigrations.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/migration/postgres/V2_1__Rebuild_Acs.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/migration/postgres/V3__Recompute_Key_Hash.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/migration/postgres/V4_1__Collect_Parties.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/util/DbDispatcher.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/LedgerResource.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/persistence/PostgresIT.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/PostgresDaoSpec.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/migration/FlywayMigrationsSpec.scala
  unreleased.rst
Labels: multi-domain

#2670 damlc: Add Numeric primitives and type-level nats.
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Base.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Optics.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Pretty.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Type.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Util.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/DecodeV1.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/EncodeV1.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/Simplifier.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Check.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Error.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Serializability.hs
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Upgrade.hs
Labels: automerge

#2684 Allow boundedly polymorphic recursive functions without type annotation
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
  compiler/damlc/tests/daml-test-files/ConstrainedRecursion.daml
  compiler/damlc/tests/src/DA/Test/DamlcIntegration.hs
Labels: automerge

#2686 Add --skip-jars to daml-sdk-head help text
  dev-env/bin/daml-sdk-head
Labels: automerge

#2681 engine: fix string to numeric conversions
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/NumericModule.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
Labels: automerge, component/daml-lf

#2692 Mark Haskell ledger bindings tests flaky on all platforms
  language-support/hs/bindings/BUILD.bazel
Labels: automerge

#2690 Upgrade ghc-lib (v8.8.1.20190828.1)
  3rdparty/haskell/BUILD.ghc-lib-parser
  WORKSPACE
Labels: automerge

#2694 daml-lf: cometic changes in DAML-LF encoder
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/DamlLfEncoder.scala
Labels: automerge, component/daml-lf

#2691 Extend release readme with intructions for manual testing comment
  release/RELEASE.md
Labels: automerge

#2683 Release missing sources jars
  release/artifacts.yaml
Labels: multi-domain, wip-issue

#2699 Refactor DAR manifest reader
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/World.hs
  compiler/daml-lf-reader/BUILD.bazel
  compiler/daml-lf-reader/src/DA/Daml/LF/Reader.hs
  compiler/damlc/daml-visual/src/DA/Daml/Visual.hs
  compiler/damlc/lib/DA/Cli/Damlc.hs
  compiler/damlc/tests/BUILD.bazel
  compiler/damlc/tests/src/DarReaderTest.hs
  language-support/hs/bindings/test/DA/Ledger/Tests.hs
Labels: automerge

#2700 fixed messed up release notes
  unreleased.rst
Labels: automerge

#2640 Sketch of generic transfers and swaps
  compiler/damlc/tests/daml-test-files/CashAsset.daml
  compiler/damlc/tests/daml-test-files/Swappable.daml
  compiler/damlc/tests/daml-test-files/Transferrable.daml
Labels: automerge

#2707 leger-api-test-tool: semantics equality
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/CommandPreprocessor.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ValueTranslator.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/CommandPreprocessorSpec.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/testing-tools/src/main/scala/com/digitalasset/daml/lf/engine/testing/SemanticTester.scala
  daml-lf/testing-tools/src/main/scala/com/digitalasset/daml/lf/engine/testing/SemanticsEquality.scala
Labels: automerge

#2688 ledger-api: rename decimal field to numeric in value Proto
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-assistant/integration-tests/src/Main.hs
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/NumericModule.scala
  daml-lf/data/src/test/scala/com/digitalasset/daml/lf/data/NumericSpec.scala
  extractor/src/main/scala/com/digitalasset/extractor/helpers/ValueConversions.scala
  extractor/src/main/scala/com/digitalasset/extractor/ledger/types/LedgerValue.scala
  extractor/src/main/scala/com/digitalasset/extractor/writers/postgresql/Queries.scala
  language-support/hs/bindings/src/DA/Ledger/Convert.hs
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/grpc/helpers/TransactionGenerator.scala
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/Decimal.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/Numeric.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/Value.java
  language-support/java/bindings/src/test/scala/com/daml/ledger/javaapi/data/Generators.scala
  language-support/java/bindings/src/test/scala/com/daml/ledger/javaapi/data/ValueSpec.scala
  language-support/java/codegen/src/it/java/com/digitalasset/RecordTest.java
  language-support/java/codegen/src/ledger-tests/scala/com/digitalasset/CodegenLedgerTest.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/Types.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/FromValueGenerator.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/package.scala
  language-support/java/codegen/src/test/java/com/digitalasset/testing/DecimalTestFor$All$.java
  language-support/scala/bindings/src/main/scala/com/digitalasset/ledger/client/binding/binding/Primitive.scala
  language-support/scala/bindings/src/main/scala/com/digitalasset/ledger/client/binding/binding/Value.scala
  language-support/scala/bindings/src/main/scala/com/digitalasset/ledger/client/binding/binding/encoding/LfEncodable.scala
  language-support/scala/bindings/src/main/scala/com/digitalasset/ledger/client/binding/binding/encoding/ValuePrimitiveEncoding.scala
  language-support/scala/codegen-sample-app/src/test/scala/com/digitalasset/codegen/DataTypeIT.scala
  language-support/scala/codegen-testing/src/main/scala/com/digitalasset/ledger/client/binding/encoding/DamlDecimalGen.scala
  language-support/scala/codegen-testing/src/main/scala/com/digitalasset/ledger/client/binding/encoding/EqualityEncoding.scala
  language-support/scala/codegen-testing/src/main/scala/com/digitalasset/ledger/client/binding/encoding/GenEncoding.scala
  language-support/scala/codegen-testing/src/main/scala/com/digitalasset/ledger/client/binding/encoding/ShowEncoding.scala
  language-support/scala/codegen-testing/src/main/scala/com/digitalasset/ledger/client/binding/encoding/ShrinkEncoding.scala
  language-support/scala/codegen-testing/src/test/scala/com/digitalasset/ledger/client/binding/ValueSpec.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/lf/LFUtil.scala
  language-support/scala/examples/iou-no-codegen/application/src/main/scala/com/digitalasset/quickstart/iou/IouCommands.scala
  ledger-api/grpc-definitions/com/digitalasset/ledger/api/v1/value.proto
  ledger-service/http-json/src/test/scala/com/digitalasset/http/HttpServiceIntegrationTest.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/ledger/api/validation/ValueValidator.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/participant/util/LfEngineToApi.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/participant/util/ValueConversions.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/ledger/api/ValueConversionRoundTripTest.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/ledger/api/validation/SubmitRequestValidatorTest.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/TransactionServiceIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/commands/CommandClientIT.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/CommandTransactionChecks.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/tests/integration/ledger/api/ParameterShowcaseTesting.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/services/TestCommands.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/console/Pretty.scala
  unreleased.rst
Labels: automerge-after-rebase, component/ledger

#2706 Add Numeric literals in daml-lf-ast and daml-lf-proto.
  compiler/daml-lf-ast/BUILD.bazel
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Base.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Numeric.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Pretty.hs
  compiler/daml-lf-ast/test/DA/Daml/LF/Ast/Tests.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/DecodeV1.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/EncodeV1.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/Simplifier.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Check.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Serializability.hs
Labels: automerge

#2708 Make sure ActiveContractService sends out a consistent snapshot
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/BaseLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/ReadOnlySqlLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/JdbcLedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/LedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/MeteredLedgerDao.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/PostgresDaoSpec.scala
  unreleased.rst
Labels: component/ledger

#2703 Remove libffi hack from ghc-lib
  3rdparty/haskell/BUILD.ghc-lib-parser
  WORKSPACE
  bazel_tools/ghc-lib-no-ffi.patch
  bazel_tools/ghci-template.sh
  nix/bazel.nix
  nix/ghc.nix
  util.bzl
Labels: automerge

#2662 SQL diagnostics
  3rdparty/dependencies.digest
  3rdparty/workspace.bzl
  dependencies.yaml
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/HikariJdbcConnectionProvider.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/JdbcLedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/util/DbDispatcher.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/util/SqlExecutor.scala
  unreleased.rst
Labels: component/ledger

#2716 Update ghc-lib (v8.8.1.20190830)
  3rdparty/haskell/BUILD.ghc-lib-parser
  WORKSPACE
  bazel_tools/ghc-lib-no-ffi.patch
  util.bzl
Labels: automerge
