Repository digital-asset/daml, pull requests merged in 2019-05, with the labels that each got.

#810 Don't promote warnings to errors in da-ghci
  WORKSPACE
Labels: automerge

#816 haskell-ledger-bindings: TransactionService, GetTransactions
  language-support/hs/bindings/BUILD.bazel
  language-support/hs/bindings/examples/View.hs
  language-support/hs/bindings/src/LedgerHL.hs
  language-support/hs/bindings/src/LedgerId.hs
  language-support/hs/bindings/src/LedgerIdentity.hs
  language-support/hs/bindings/src/Transaction.hs
Labels: automerge, component/ledger

#796 infra: add some docs / comments
  infra/README.md
  infra/bazel_cache.tf
  infra/main.tf
  infra/nix_cache.tf
Labels: automerge

#823 Enable -Wprepositive-qualified-module
  compiler/haskell-ide-core/src/Development/IDE/UtilGHC.hs
  daml-foundations/daml-ghc/bond-trading/Dvp.daml
  daml-foundations/daml-ghc/bond-trading/Test.daml
  daml-foundations/daml-ghc/tests/Import.daml
  daml-foundations/daml-ghc/tests/PreludeTest.daml
  daml-foundations/daml-ghc/tests/QualifiedPrelude.daml
Labels: automerge

#812 Hotfix damldoc render fixes
  daml-foundations/daml-ghc/src/DA/Daml/GHC/Damldoc/Render/Rst.hs
  daml-foundations/daml-ghc/tests/Iou_template.EXPECTED.md
  daml-foundations/daml-ghc/tests/Iou_template.EXPECTED.rst
  daml-foundations/daml-ghc/tests/Iou_template.daml
Labels: component/documentation, language

#828 Update rules_haskell
  bazel_tools/haskell-optp-response.patch
  bazel_tools/haskell-package-env.patch
  deps.bzl
Labels: automerge

#789 Engine: revist foldr, foldl, equalList implementation.
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
Labels: component/daml-engine

#802 fixing bug for mishandling potential offset gaps
  docs/source/support/release-notes.rst
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/transaction/SandboxTransactionService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/transaction/TransactionPipeline.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/services/transaction/TransactionPipelineTest.scala
Labels: component/ledger

#849 Move out classes from participant-state package object
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/DamlOnXTransactionService.scala
  ledger/participant-state-index/reference/src/main/scala/com/daml/ledger/participant/state/index/v1/impl/reference/IndexState.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/Configuration.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/LedgerInitialConditions.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/Offset.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/SubmitterInfo.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/TransactionMeta.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/package.scala
Labels: automerge

#856 Release version 0.12.13
  VERSION
  docs/source/support/release-notes.rst
Labels: automerge

#844 Deal with NUL bytes in strings
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Pretty.hs
  daml-foundations/daml-ghc/daml-stdlib-src/DA/Text.daml
  daml-foundations/daml-ghc/src/DA/Daml/GHC/Compiler/Convert.hs
  daml-foundations/daml-ghc/src/DA/Daml/GHC/Compiler/UtilGHC.hs
  daml-foundations/daml-ghc/tests/Text.daml
Labels: automerge

#858 Improve the error message if we can't find the file
  compiler/haskell-ide-core/src/Development/IDE/State/FileStore.hs
Labels: automerge

#864 Update urllib version to avoid security vulns warning
  docs/scripts/Pipfile
  docs/scripts/Pipfile.lock
  navigator/docs/licenses/Pipfile
  navigator/docs/licenses/Pipfile.lock
  oss-compliance/Pipfile
Labels: automerge

#851 Delete the `id` function
  daml-foundations/daml-ghc/daml-stdlib-src/DA/Bifunctor.daml
  daml-foundations/daml-ghc/daml-stdlib-src/DA/Internal/Compatible.daml
  daml-lf/tests/BasicTests.daml
  docs/source/support/release-notes.rst
Labels: automerge

#867 Update version in Pipfile.lock
  oss-compliance/Pipfile.lock
Labels: automerge

#859 Make the time between new version checks configurable.
  daml-assistant/daml-project-config/DAML/Project/Consts.hs
  daml-assistant/src/DAML/Assistant/Cache.hs
  daml-assistant/src/DAML/Assistant/Env.hs
  dev-env/bin/daml-sdk-head
Labels: automerge

#865 Don’t open a new terminal in the Windows installer
  release/windows-installer/src/WindowsInstaller.hs
Labels: automerge

#830 Add transaction provenance service methods for looking up flat transactions
  docs/source/support/release-notes.rst
  language-support/hs/bindings/src/LedgerHL.hs
  language-support/java/bindings-rxjava/src/main/java/com/daml/ledger/rxjava/TransactionsClient.java
  language-support/java/bindings-rxjava/src/main/java/com/daml/ledger/rxjava/grpc/TransactionClientImpl.java
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/components/BotTest.scala
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/components/LedgerViewFlowableSpec.scala
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/components/tests/helpers/DummyLedgerClient.scala
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/GetFlatTransactionResponse.java
  language-support/java/testkit/src/main/scala/com/daml/ledger/testkit/services/TransactionServiceImpl.scala
  ledger-api/grpc-definitions/com/digitalasset/ledger/api/v1/transaction_service.proto
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/DamlOnXTransactionService.scala
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/services/transactions/TransactionClient.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/services/domain/TransactionService.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/services/grpc/GrpcTransactionService.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/services/transaction/TransactionFiltration.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/TransactionServiceIT.scala
  ledger/ledger-api-scala-logging/src/test/scala/com/digitalasset/ledger/api/logging/FailingServerFixture.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/transaction/SandboxTransactionService.scala
Labels: component/java-ecosystem, component/ledger

#850 Simplify daml new template release process and add a simpler default template.
  daml-assistant/daml-helper/src/Main.hs
  daml-assistant/integration-tests/src/Main.hs
  release/BUILD.bazel
  templates/BUILD.bazel
  templates/quickstart-java/daml.yaml.template
  templates/skeleton/daml.yaml.template
  templates/skeleton/daml/Main.daml
Labels: automerge

#709 add LF 1.dev "minor dev version"
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Context.scala
  daml-foundations/daml-ghc/package-database/BUILD.bazel
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/LanguageMajorVersion.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/LanguageMinorVersion.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/LanguageVersion.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/Reader.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/package.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/EngineInfo.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineInfoTest.scala
  daml-lf/governance.rst
  daml-lf/lfpackage/src/main/scala/com/digitalasset/daml/lf/lfpackage/DecodeV1.scala
  daml-lf/spec/daml-lf-1.rst
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionVersion.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/VersionTimeline.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/ValueVersion.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/VersionTimelineSpec.scala
  docs/source/support/release-notes.rst
Labels: automerge, component/daml-lf

#857 Disable version nagging and avoid looking at unnecessary information in daml install.
  daml-assistant/exe/DAML/Assistant.hs
  daml-assistant/src/DAML/Assistant/Env.hs
Labels: automerge

#879 Haskell ledger bindings
  language-support/hs/bindings/BUILD.bazel
  language-support/hs/bindings/examples/Play.hs
  language-support/hs/bindings/examples/View.hs
  language-support/hs/bindings/src/DA/Ledger.hs
  language-support/hs/bindings/src/DA/Ledger/Convert.hs
  language-support/hs/bindings/src/DA/Ledger/LowLevel.hs
  language-support/hs/bindings/src/DA/Ledger/Types.hs
  language-support/hs/bindings/src/LedgerHL.hs
  language-support/hs/bindings/src/LedgerId.hs
  language-support/hs/bindings/src/Transaction.hs
Labels: automerge, component/ledger

#872 Fix some broken formatting
  docs/source/tools/sandbox.rst
Labels: automerge

#795 scenario-tester: Allow to mangle names used in scenarios before their executions.
  daml-lf/scenario-interpreter/BUILD.bazel
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ScenarioRunner.scala
  daml-lf/scenario-interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ScenarioRunnerTest.scala
  daml-lf/testing-tools/src/main/scala/com/digitalasset/daml/lf/engine/testing/SemanticTester.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/LedgerApiTestTool.scala
Labels: automerge

#848 Hazel: ./configure in build step
  3rdparty/haskell/BUILD.network
  3rdparty/haskell/BUILD.old-time
  3rdparty/haskell/network-package.bzl
  3rdparty/haskell/old-time-package.bzl
  WORKSPACE
  bazel_tools/hazel-configure.patch
  deps.bzl
Labels: automerge

#875 CommandService returns useful data for successful submissions
  docs/source/support/release-notes.rst
  language-support/java/bindings-rxjava/src/main/java/com/daml/ledger/rxjava/CommandClient.java
  language-support/java/bindings-rxjava/src/main/java/com/daml/ledger/rxjava/grpc/CommandClientImpl.java
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/DamlLedgerClientTest.scala
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/components/BotTest.scala
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/grpc/CommandClientImplTest.scala
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/grpc/CommandCompletionImplTest.scala
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/grpc/helpers/LedgerServices.scala
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/grpc/helpers/LedgerServicesImpls.scala
  language-support/java/testkit/src/main/scala/com/daml/ledger/testkit/services/CommandServiceImpl.scala
  language-support/scala/bindings-akka/src/main/scala/com/digitalasset/ledger/client/binding/retrying/CommandRetryFlow.scala
  language-support/scala/bindings-akka/src/test/scala/com/digitalasset/ledger/client/binding/retrying/CommandRetryFlowUT.scala
  ledger-api/grpc-definitions/com/digitalasset/ledger/api/v1/command_service.proto
  ledger-api/grpc-definitions/com/digitalasset/ledger/api/v1/completion.proto
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/Server.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/DamlOnXCommandCompletionService.scala
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/services/commands/tracker/CommandTracker.scala
  ledger/ledger-api-client/src/test/suite/scala/com/digitalasset/ledger/client/services/commands/CommandTrackerFlowTest.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/validation/CommandServiceValidation.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/services/command/ReferenceCommandService.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/services/command/Tracker.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/services/command/TrackerImpl.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/services/command/TrackerMap.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/platform/server/services/command/TrackerImplTest.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/commands/CommandCompletionServiceIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/commands/CommandServiceIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/commands/CommandTransactionChecksHighLevelIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/commands/FailingCommandsIT.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/semantictest/SemanticTestAdapter.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/tests/integration/ledger/api/LedgerTestingHelpers.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/tests/integration/ledger/api/TransactionServiceHelpers.scala
  ledger/participant-state-index/reference/src/main/scala/com/daml/ledger/participant/state/index/v1/impl/reference/ReferenceIndexService.scala
  ledger/participant-state-index/src/main/scala/com/daml/ledger/participant/state/index/v1/package.scala
  ledger/sandbox/src/main/scala/com/digitalasset/ledger/server/LedgerApiServer/LedgerApiServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/SandboxCommandCompletionService.scala
Labels: component/java-ecosystem, component/ledger

#889 LedgerApiTestTool: exit with success when doing '--extract'
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/LedgerApiTestTool.scala
Labels: automerge

#766 clarify the role of party sets in various locations
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineInfoTest.scala
  daml-lf/spec/transaction.rst
  daml-lf/transaction-scalacheck/src/main/scala/com/digitalasset/daml/lf/value/ValueGenerators.scala
  daml-lf/transaction/src/main/protobuf/com/digitalasset/daml/lf/transaction.proto
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Node.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionCoder.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionVersion.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/VersionTimeline.scala
  ledger-api/grpc-definitions/com/digitalasset/ledger/api/v1/event.proto
  ledger/sandbox/BUILD.bazel
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/PostgresLedgerDao.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/PostgresDaoSpec.scala
Labels: component/daml-engine, component/ledger

#884 Make sure Ledger API Test Tool generates unique command ids
  daml-lf/testing-tools/src/main/scala/com/digitalasset/daml/lf/engine/testing/SemanticTester.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/LedgerApiTestTool.scala
Labels: automerge

#897 Changed Diagnostics to FileDiagnostics
  compiler/haskell-ide-core/BUILD.bazel
  compiler/haskell-ide-core/src/Development/IDE/Functions/Compile.hs
  compiler/haskell-ide-core/src/Development/IDE/Functions/FindImports.hs
  compiler/haskell-ide-core/src/Development/IDE/Functions/GHCError.hs
  compiler/haskell-ide-core/src/Development/IDE/Functions/Warnings.hs
  compiler/haskell-ide-core/src/Development/IDE/State/Rules.hs
  compiler/haskell-ide-core/src/Development/IDE/State/Service.hs
  compiler/haskell-ide-core/src/Development/IDE/State/Shake.hs
  compiler/haskell-ide-core/src/Development/IDE/Types/Diagnostics.hs
  daml-foundations/daml-ghc/src/DA/Daml/GHC/Compiler/Convert.hs
  daml-foundations/daml-ghc/src/DA/Daml/GHC/Damldoc/HaddockParse.hs
  daml-foundations/daml-ghc/src/DA/Service/Daml/Compiler/Impl/Handle.hs
  daml-foundations/daml-ghc/src/DA/Service/Daml/LanguageServer.hs
  daml-foundations/daml-ghc/src/DA/Test/GHC.hs
  daml-foundations/daml-ghc/src/Development/IDE/State/API/Testing.hs
  daml-foundations/daml-ghc/src/Development/IDE/State/Rules/Daml.hs
  daml-foundations/daml-tools/da-hs-daml-cli/DA/Cli/Damlc/Test.hs
  daml-foundations/daml-tools/da-hs-daml-cli/DA/Cli/Output.hs
Labels: automerge

#904 Support the inline return type syntax for recursive functions
  daml-foundations/daml-ghc/src/DA/Daml/GHC/Compiler/Convert.hs
  daml-foundations/daml-ghc/tests/FunRetTypeSig.daml
Labels: automerge

#907 Make record constructors in contract keys work
  daml-foundations/daml-ghc/src/DA/Daml/GHC/Compiler/Convert.hs
  daml-foundations/daml-ghc/tests/ContractKeysSyntax.daml
Labels: automerge

#910 Rename the runTests function to main, since it serves as a main
  daml-assistant/BUILD.bazel
  daml-assistant/test/DAML/Assistant/Tests.hs
Labels: automerge

#908 Shorten data-default-instances-dlist target name
  3rdparty/haskell/BUILD.data-default
  3rdparty/haskell/BUILD.data-default-instances-dlist
  WORKSPACE
Labels: automerge

#909 Delete modules that appear entirely unused
  da-assistant/Data/These/Extended.hs
  daml-foundations/daml-tools/da-hs-damlc-app/src/da-hs-damlc-app.hs
  libs-haskell/da-hs-json-rpc/src/DA/Service/JsonRpc/Arbitrary.hs
Labels: automerge

#911 Remove completely redundant imports of DA.Prelude
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/Decode.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/Error.hs
  compiler/scenario-service/client/src/DA/Daml/LF/ScenarioServiceClient.hs
  daml-foundations/daml-ghc/src/DA/Service/Daml/LanguageServer/Definition.hs
  daml-foundations/daml-ghc/src/DA/Service/Daml/LanguageServer/Hover.hs
  daml-foundations/daml-tools/da-hs-daml-cli/DA/Cli/Damlc/Test.hs
  libs-haskell/da-hs-base/src/DA/Pretty.hs
  libs-haskell/da-hs-base/src/DA/Service/Logger/Impl/Pure.hs
  libs-haskell/da-hs-base/src/Data/Aeson/TH/Extended.hs
  libs-haskell/da-hs-base/src/Data/Text/Extended.hs
Labels: automerge

#871 Upgrade to nixpkgs 19.03
  WORKSPACE
  ci/dev-env-install.sh
  dev-env/bin/jupyter
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/DamlOnXCommandCompletionService.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/DamlOnXSubmissionService.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/DamlOnXTransactionService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/SandboxCommandCompletionService.scala
  nix/bazel.nix
  nix/nixpkgs.nix
  nix/nixpkgs/README.md
  nix/nixpkgs/nixos-18.09/default.nix
  nix/nixpkgs/nixos-18.09/default.src.json
  nix/nixpkgs/nixos-19.03/default.src.json
  nix/overrides/buildBazelPackage/default.nix
  nix/packages.nix
  nix/tools/bazel-deps/default.nix
  nix/tools/pipenv/default.nix
  nix/tools/pipenv/pip-no-input.patch
  nix/tools/pipenv/srcs.nix
Labels: automerge

#905 install StackDriver on build machines
  infra/vsts_agent_linux_startup.sh
  infra/vsts_agent_windows.tf
Labels: automerge

#917 Revert "Upgrade to nixpkgs 19.03 (#871)"
  WORKSPACE
  ci/dev-env-install.sh
  dev-env/bin/jupyter
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/DamlOnXCommandCompletionService.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/DamlOnXSubmissionService.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/DamlOnXTransactionService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/SandboxCommandCompletionService.scala
  nix/bazel.nix
  nix/nixpkgs.nix
  nix/nixpkgs/README.md
  nix/nixpkgs/nixos-18.09/default.nix
  nix/nixpkgs/nixos-18.09/default.src.json
  nix/nixpkgs/nixos-19.03/default.src.json
  nix/overrides/buildBazelPackage/default.nix
  nix/packages.nix
  nix/tools/bazel-deps/default.nix
  nix/tools/pipenv/default.nix
  nix/tools/pipenv/pip-no-input.patch
  nix/tools/pipenv/srcs.nix
Labels: automerge

#922 tweak azure build file
  azure-pipelines.yml
Labels: automerge

#931 Signposting the Node.js bindings
  docs/configs/pdf/index.rst
  docs/source/app-dev/bindings-js.rst
  docs/source/index.rst
Labels: automerge

#855 Dispatcher cleanup
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/akkastreams/HeadAwareDispatcher.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/akkastreams/dispatcher/Dispatcher.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/akkastreams/dispatcher/DispatcherImpl.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/akkastreams/dispatcher/SignalDispatcher.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/akkastreams/dispatcher/SubSource.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/services/testing/ReferenceTimeService.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/platform/akkastreams/dispatcher/DispatcherSpec.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/platform/akkastreams/dispatcher/DispatcherTest.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/platform/akkastreams/dispatcher/SignalDispatcherTest.scala
  ledger/participant-state-index/reference/src/main/scala/com/daml/ledger/participant/state/index/v1/impl/reference/ReferenceIndexService.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/InMemoryKVParticipantState.scala
  ledger/participant-state/reference/src/main/scala/com/daml/ledger/participant/state/v1/impl/reference/Ledger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/inmemory/LedgerEntries.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedger.scala
Labels: component/ledger

#933 Fix "unbound variable" error in fmt.sh
  fmt.sh
Labels: automerge, component/build-system

#929 Attempt at fixing flaky CodegenLedgerTest
  language-support/java/codegen/BUILD.bazel
  language-support/java/codegen/src/ledger-tests/resources/logback-test.xml
  language-support/java/codegen/src/ledger-tests/scala/com/digitalasset/CodegenLedgerTest.scala
Labels: component/java-ecosystem

#928 Index service refactoring
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/Server.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/DamlOnXActiveContractsService.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/DamlOnXCommandCompletionService.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/DamlOnXLedgerConfigurationService.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/DamlOnXPackageService.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/DamlOnXServiceUtils.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/DamlOnXSubmissionService.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/DamlOnXTimeService.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/DamlOnXTransactionService.scala
  ledger/participant-state-index/reference/src/main/scala/com/daml/ledger/participant/state/index/v1/impl/reference/IndexState.scala
  ledger/participant-state-index/reference/src/main/scala/com/daml/ledger/participant/state/index/v1/impl/reference/ReferenceIndexService.scala
  ledger/participant-state-index/src/main/scala/com/daml/ledger/participant/state/index/v1/IndexService.scala
  ledger/participant-state-index/src/main/scala/com/daml/ledger/participant/state/index/v1/package.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/InMemoryKVParticipantState.scala
  ledger/participant-state/reference/src/main/scala/com/daml/ledger/participant/state/v1/impl/reference/Ledger.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/LedgerInitialConditions.scala
Labels: component/dlik

#583 Fixes #479 - Add result of exercise to transaction.
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Event.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineInfoTest.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/types/Ledger.scala
  daml-lf/spec/transaction.rst
  daml-lf/testing-tools/src/main/scala/com/digitalasset/daml/lf/engine/testing/SemanticTester.scala
  daml-lf/transaction-scalacheck/src/main/scala/com/digitalasset/daml/lf/value/ValueGenerators.scala
  daml-lf/transaction/src/main/protobuf/com/digitalasset/daml/lf/transaction.proto
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Node.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionCoder.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionVersion.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/VersionTimeline.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionCoderSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionVersionSpec.scala
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/grpc/helpers/TransactionGenerator.scala
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/Event.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/ExercisedEvent.java
  language-support/java/bindings/src/test/scala/com/daml/ledger/javaapi/data/Generators.scala
  ledger-api/grpc-definitions/com/digitalasset/ledger/api/v1/event.proto
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/services/transaction/TransactionConversion.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/TransactionServiceIT.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/semantictest/ApiScenarioTransform.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/tests/integration/ledger/api/LedgerTestingHelpers.scala
  ledger/ledger-api-server-example/src/main/scala/com/digitalasset/ledger/example/Transaction.scala
  ledger/participant-state/reference/src/main/scala/com/daml/ledger/participant/state/v1/impl/reference/Transaction.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/services/transaction/EventConverterSpec.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/PostgresDaoSpec.scala
Labels: component/daml-engine, component/daml-lf, component/ledger

#935 Output a note about the new project in "daml new"
  daml-assistant/daml-helper/src/DamlHelper.hs
Labels: automerge

#768 Migration guide for new assistant
  docs/source/support/new-assistant.rst
  docs/source/support/release-notes.rst
Labels: automerge

#943 adding a simple test to hedge against existing sql migration files
  ledger/sandbox/src/main/resources/db/migration/V1__Init.sha256
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/migration/FlywayMigrations.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/migration/FlywayMigrationsSpec.scala
Labels: component/ledger

#936 don't annoy people with broken master
  azure-pipelines.yml
Labels: automerge

#903 simplify, fix recursion in transaction equal instances
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/ImmArray.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/ScalazEqual.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/SortedLookupList.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Node.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/Value.scala
Labels: component/daml-engine

#951 Fix getDispatchEnv / getDamlEnv re-entrancy.
  .hlint.yaml
  daml-assistant/BUILD.bazel
  daml-assistant/daml-project-config/DAML/Project/Consts.hs
  daml-assistant/integration-tests/src/Main.hs
  daml-assistant/src/DAML/Assistant/Env.hs
  daml-assistant/test/DAML/Assistant/Tests.hs
  daml-foundations/daml-ghc/src/DA/Test/GHC.hs
  daml-foundations/daml-ghc/src/DA/Test/ShakeIdeClient.hs
  daml-foundations/daml-tools/da-hs-daml-cli/tests/Cli.hs
  daml-foundations/daml-tools/da-hs-daml-cli/tests/DamlcTest.hs
  libs-haskell/da-hs-base/tests/DataLimit.hs
Labels: automerge

#946 Java Codegen: variants with unserializable cases are now accepted
  docs/source/support/release-notes.rst
  language-support/java/codegen/src/it/daml/Lib.daml
  language-support/java/codegen/src/it/daml/Tests/Serializable.daml
  language-support/java/codegen/src/it/java/com/digitalasset/SerializableTest.java
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/InterfaceTree.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/JavaBackend.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/ClassForType.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/VariantClass.scala
  language-support/java/codegen/src/test/scala/com/digitalasset/daml/lf/codegen/InterfaceTreeSpec.scala
Labels: component/java-ecosystem

#944 Extend test durations on CI for Ledger API Test Tool driven test.
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/semantictest/SemanticTestAdapter.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/tests/integration/ledger/api/FutureTimeouts.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/tests/integration/ledger/api/LedgerTestingHelpers.scala
  ledger/ledger-api-test-tool/BUILD.bazel
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/Cli.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/Config.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/LedgerApiTestTool.scala
Labels: automerge

#971 Java Codegen: Removing some dead/unused code
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/InterfaceTree.scala
Labels: component/java-ecosystem

#968 running batch queries nicer
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/PostgresLedgerDao.scala
Labels: component/ledger

#982 Java Bindings: Properly convert CreateAndExerciseCommand
  docs/source/support/release-notes.rst
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/Command.java
  language-support/java/bindings/src/test/scala/com/daml/ledger/javaapi/data/CommandSpec.scala
  language-support/java/bindings/src/test/scala/com/daml/ledger/javaapi/data/Generators.scala
Labels: component/java-ecosystem

#745 quickstart-scala DAML Assistant template
  docs/BUILD.bazel
  docs/source/support/release-notes.rst
  language-support/scala/codegen-sbt-example/README.md
  language-support/scala/examples/BUILD.bazel
  language-support/scala/examples/codegen-sbt-example/README.md
  language-support/scala/examples/codegen-sbt-example/build.sbt
  language-support/scala/examples/codegen-sbt-example/daml-model/src/Main.daml
  language-support/scala/examples/codegen-sbt-example/mock-example/src/main/scala/com/digitalasset/example/ExampleMain.scala
  language-support/scala/examples/codegen-sbt-example/project/Artifactory.scala
  language-support/scala/examples/codegen-sbt-example/project/Versions.scala
  language-support/scala/examples/codegen-sbt-example/project/build.properties
  language-support/scala/examples/codegen-sbt-example/project/daml.sbt
  language-support/scala/examples/codegen-sbt-example/project/project/Artifactory.scala
  language-support/scala/examples/codegen-sbt-example/project/project/Versions.scala
  language-support/scala/examples/codegen-sbt-example/sandbox-example/src/main/scala/com/digitalasset/example/ExampleMain.scala
  language-support/scala/examples/codegen-sbt-example/sandbox-example/src/main/scala/com/digitalasset/example/Util.scala
  language-support/scala/examples/codegen-sbt-example/scala-codegen/.keep
  language-support/scala/examples/quickstart-scala/README.md
  language-support/scala/examples/quickstart-scala/SDK_VERSION
  language-support/scala/examples/quickstart-scala/application/src/main/resources/logback.xml
  language-support/scala/examples/quickstart-scala/application/src/main/scala/com/digitalasset/quickstart/iou/ClientUtil.scala
  language-support/scala/examples/quickstart-scala/application/src/main/scala/com/digitalasset/quickstart/iou/DecodeUtil.scala
  language-support/scala/examples/quickstart-scala/application/src/main/scala/com/digitalasset/quickstart/iou/FutureUtil.scala
  language-support/scala/examples/quickstart-scala/application/src/main/scala/com/digitalasset/quickstart/iou/IouMain.scala
  language-support/scala/examples/quickstart-scala/build.sbt
  language-support/scala/examples/quickstart-scala/project/Artifactory.scala
  language-support/scala/examples/quickstart-scala/project/Versions.scala
  language-support/scala/examples/quickstart-scala/project/Versions.scala.template
  language-support/scala/examples/quickstart-scala/project/build.properties
  language-support/scala/examples/quickstart-scala/project/daml.sbt
  language-support/scala/examples/quickstart-scala/project/project/Artifactory.scala
  language-support/scala/examples/quickstart-scala/project/project/Versions.scala
  language-support/scala/examples/quickstart-scala/project/project/Versions.scala.template
Labels: automerge, component/daml-assistant, component/scala-ecosystem

#984 Fixes to kvutils when used as external workspace
  ledger/participant-state/kvutils/BUILD.bazel
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/KeyValueCommitting.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/package.scala
Labels: automerge

#892 Release DAML Integration Kit as ALPHA.
  docs/source/daml-integration-kit/index.rst
  docs/source/support/release-notes.rst
Labels: automerge

#937 Hazel: Shorten target names
  3rdparty/haskell/BUILD.arx
  3rdparty/haskell/BUILD.clock
  3rdparty/haskell/BUILD.data-default
  3rdparty/haskell/BUILD.data-default-instances-containers
  3rdparty/haskell/BUILD.data-default-instances-dlist
  3rdparty/haskell/BUILD.data-default-instances-old-locale
  3rdparty/haskell/BUILD.streaming-commons
  3rdparty/haskell/BUILD.wai-app-static
  3rdparty/haskell/BUILD.zlib
  BUILD
  WORKSPACE
  bazel_tools/haskell-short-names.patch
  bazel_tools/hazel-short-names.patch
  deps.bzl
Labels: automerge

#991 Add quickstart-scala template to DAML Assistant
  language-support/scala/examples/BUILD.bazel
  language-support/scala/examples/quickstart-scala/application/src/main/scala/com/digitalasset/quickstart/iou/IouMain.scala
  language-support/scala/examples/quickstart-scala/project/Versions.scala
  language-support/scala/examples/quickstart-scala/project/Versions.scala.template
  language-support/scala/examples/quickstart-scala/project/project/Versions.scala.template
  templates/BUILD.bazel
  templates/quickstart-scala/daml.yaml.template
Labels: automerge, component/daml-assistant, component/scala-ecosystem

#980 Update rules_nixpkgs
  WORKSPACE
  deps.bzl
Labels: automerge

#932 Document solution for .hs unneeded rebuilds
  BAZEL.md
Labels: automerge

#995 sandbox: correct KeyHasherSpec
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/Decimal.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/KeyHasherSpec.scala
Labels: automerge, component/ledger

#1007 quickstart-scala daml assistant template cleanup
  docs/BUILD.bazel
  language-support/scala/examples/quickstart-scala/README.md
  language-support/scala/examples/quickstart-scala/project/Versions.scala
  templates/BUILD.bazel
Labels: automerge, component/daml-assistant, component/scala-ecosystem

#999 add anchors to release notes
  docs/source/support/release-notes.rst
Labels: automerge

#996 da-ghci: Default to --data auto
  build.sh
  dev-env/bin/da-ghci
Labels: automerge

#1018 run ledger-api-integration-tests exclusively
  ledger/ledger-api-integration-tests/BUILD.bazel
Labels: automerge

#1024 Upgrade to ghc-lib-0.20190508
  WORKSPACE
Labels: automerge

#1013 capitalize ci job names
  azure-pipelines.yml
Labels: automerge

#976 Fixed the windows installation instructions
  README.md
Labels: automerge

#1027 making sql queue depth configurable -> making back-pressure tests more reliable
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxApplication.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/Ledger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedger.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedgerSpec.scala
Labels: component/ledger

#990 Sandbox: Respect MRT
  docs/source/support/release-notes.rst
  ledger/ledger-api-integration-tests/BUILD.bazel
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/WitnessesIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/commands/CommandServiceBackPressureIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/identity/LedgerIdentityServiceRandomIT.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/CommandTransactionChecks.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/LedgerContext.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/MultiLedgerFixture.scala
  ledger/ledger-api-integration-tests/src/test/semanticsuite/scala/com/digitalasset/platform/semantictest/SandboxSemanticTestsLfRunner.scala
  ledger/sandbox/BUILD.bazel
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/inmemory/InMemoryLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedger.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/LedgerResource.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/TransactionMRTComplianceIT.scala
  ledger/test-common/BUILD.bazel
  ledger/test-common/src/main/scala/com.digitalasset.platform.testing/LedgerBackend.scala
  ledger/test-common/src/main/scala/com.digitalasset.platform.testing/MultiFixtureBase.scala
  ledger/test-common/src/main/scala/com.digitalasset.platform.testing/MultiResourceBase.scala
  ledger/test-common/src/main/scala/com.digitalasset.platform.testing/ResourceExtensions.scala
Labels: component/ledger

#1028 increasing a perf test timeout due to flakiness
  ledger/sandbox-perf/src/perf/lib/scala/com/digitalasset/platform/sandbox/perf/TestHelper.scala
Labels: component/ledger

#1033 Fix LedgerResource after concurrent changes being merged to master
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/LedgerResource.scala
Labels: component/ledger

#1036 cleaning up LedgerApiServer
  ledger/ledger-api-server-example/src/main/scala/com/digitalasset/ledger/example/Application.scala
  ledger/sandbox/src/main/scala/com/digitalasset/ledger/server/LedgerApiServer/LedgerApiServer.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/LedgerResource.scala
Labels: component/ledger

#1050 Add an integration test for daml packages
  daml-assistant/integration-tests/BUILD.bazel
  daml-assistant/integration-tests/src/Main.hs
Labels: automerge-dangerous-but-fast

#1017 Remove ledger-api-server-example
  build.ps1
  ledger/ledger-api-server-example/BUILD.bazel
  ledger/ledger-api-server-example/README.md
  ledger/ledger-api-server-example/src/main/resources/banner.x.txt
  ledger/ledger-api-server-example/src/main/scala/com/digitalasset/ledger/example/Application.scala
  ledger/ledger-api-server-example/src/main/scala/com/digitalasset/ledger/example/Backend.scala
  ledger/ledger-api-server-example/src/main/scala/com/digitalasset/ledger/example/Ledger.scala
  ledger/ledger-api-server-example/src/main/scala/com/digitalasset/ledger/example/Main.scala
  ledger/ledger-api-server-example/src/main/scala/com/digitalasset/ledger/example/Transaction.scala
  ledger/ledger-api-server-example/src/main/scala/com/digitalasset/ledger/example/Validation.scala
Labels: automerge, component/ledger

#1016 Fix log output of ledger-api-integration-tests
  ledger/ledger-api-integration-tests/BUILD.bazel
  ledger/ledger-api-integration-tests/src/test/resources/logback-test.xml
Labels: automerge

#1037 Check wrongly typed contract ids
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SError.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/WronglyTypedContractIdIT.scala
Labels: automerge-dangerous-but-fast, component/daml-engine

#1047 Fix uncached Windows CI
  3rdparty/haskell/BUILD.zlib
  bazel_tools/haskell-cc-toolchain.patch
  bazel_tools/haskell-win-sys-includes.patch
  bazel_tools/hazel-cc-toolchain.patch
  deps.bzl
Labels: automerge-dangerous-but-fast

#1023 haskell-ledger-bindings, test connect against sandbox
  language-support/hs/bindings/BUILD.bazel
  language-support/hs/bindings/examples/Play.hs
  language-support/hs/bindings/src/DA/Ledger.hs
  language-support/hs/bindings/src/DA/Ledger/Convert.hs
  language-support/hs/bindings/src/DA/Ledger/LowLevel.hs
  language-support/hs/bindings/src/DA/Ledger/Types.hs
  language-support/hs/bindings/test/DA/Ledger/Sandbox.hs
  language-support/hs/bindings/test/DA/Ledger/Tests.hs
  language-support/hs/bindings/test/daml/quickstart/Iou.daml
  language-support/hs/bindings/test/daml/quickstart/IouTrade.daml
  language-support/hs/bindings/test/daml/quickstart/Main.daml
  language-support/hs/examples/ex-haskell-grpc-arithmetic/ArithmeticClient.hs
Labels: automerge, component/ledger

#1061 dade-collect-garbage to delete `~/.bazel-cache` as part of the cleanup
  dev-env/bin/dade-collect-garbage
Labels: automerge, component/build-system

#1055 Cleanup outdated and unused parts of the VSCode extension
  daml-foundations/daml-tools/daml-extension/src/extension.ts
Labels: automerge

#1064 Update to ghc-lib-0.20190509
  WORKSPACE
  compiler/haskell-ide-core/src/Development/IDE/Functions/Compile.hs
  daml-foundations/daml-ghc/src/DA/Daml/GHC/Compiler/Config.hs
  daml-foundations/daml-ghc/src/DA/Daml/GHC/Compiler/Preprocessor.hs
  daml-foundations/daml-ghc/src/DA/Daml/GHC/Compiler/Records.hs
  daml-foundations/daml-ghc/src/DA/Daml/GHC/Compiler/UtilGHC.hs
Labels: automerge

#1054 Fail if modules listed in exposed-modules are not in the DALF
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Base.hs
  daml-foundations/daml-ghc/src/DA/Daml/GHC/Compiler/Convert.hs
  daml-foundations/daml-ghc/src/DA/Service/Daml/Compiler/Impl/Handle.hs
  daml-foundations/daml-tools/da-hs-daml-cli/DA/Cli/Damlc.hs
  daml-foundations/daml-tools/da-hs-daml-cli/DA/Cli/Damlc/Base.hs
  libs-haskell/da-hs-base/src/DA/Service/Logger/Impl/GCP.hs
  libs-haskell/da-hs-base/src/DA/Service/Logger/Impl/IO.hs
Labels: automerge

#994 avoiding linear searching for transactions from genesis
  docs/source/support/release-notes.rst
  ledger/backend-api/src/main/scala/com/digitalasset/ledger/backend/api/v1/LedgerBackend.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/ledger/api/validation/TransactionServiceRequestValidator.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/validation/FieldValidations.scala
  ledger/ledger-api-common/src/test/lib/scala/com/digitalasset/ledger/api/validation/ValidatorTestUtils.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/transaction/SandboxEventIdFormatter.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/transaction/SandboxTransactionService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/transaction/TransactionPipeline.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/Ledger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/MeteredLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/SandboxLedgerBackend.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/inmemory/InMemoryLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/inmemory/LedgerEntries.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedger.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/services/transaction/EventIdFormatterSpec.scala
Labels: component/ledger

#1042 Cleaning up release notes
  docs/source/support/release-notes.rst
Labels: automerge

#1071 Release 0.12.17
  VERSION
  docs/source/support/release-notes.rst
Labels: automerge-dangerous-but-faster

#1085 Include install.bat in release tarball
  release/BUILD.bazel
Labels: automerge-dangerous-but-faster

#1080 Implement daml init command.
  daml-assistant/daml-helper/BUILD.bazel
  daml-assistant/daml-helper/src/DamlHelper.hs
  daml-assistant/daml-helper/src/Main.hs
  daml-assistant/daml-project-config/DAML/Project/Util.hs
  daml-assistant/src/DAML/Assistant/Util.hs
  release/sdk-config.yaml.tmpl
Labels: automerge

#1074 language: fix: move interface files to a different
  compiler/haskell-ide-core/src/Development/IDE/Functions/Compile.hs
  daml-foundations/daml-ghc/package-database/util.bzl
  daml-foundations/daml-ghc/src/DA/Daml/GHC/Compiler/Options.hs
  daml-foundations/daml-ghc/src/DA/Service/Daml/Compiler/Impl/Dar.hs
Labels: automerge-dangerous-but-faster

#1089 Fix a silly spelling mistake in developer docs
  ghc-lib/working-on-ghc-lib.md
Labels: automerge-dangerous-but-faster

#1062 add GCS bucket for docs
  azure-daily.yml
  ci/configure-bazel.sh
  infra/docs_bucket.tf
Labels: automerge

#1078 Update release instructions and add missing release label
  docs/source/support/release-notes.rst
  release/RELEASE.md
Labels: automerge-dangerous-but-faster, language

#1077 Ledger API Server refactor
  ledger/sandbox/src/main/scala/com/digitalasset/ledger/server/LedgerApiServer/ApiServices.scala
  ledger/sandbox/src/main/scala/com/digitalasset/ledger/server/LedgerApiServer/LedgerApiServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxApplication.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/SandboxResetService.scala
Labels: component/ledger

#1069 ci: use windows-pool
  azure-pipelines.yml
  dev-env/windows/libexec/core.ps1
Labels: automerge-dangerous-but-faster

#1096 Revert "Ledger API Server refactor"
  ledger/sandbox/src/main/scala/com/digitalasset/ledger/server/LedgerApiServer/ApiServices.scala
  ledger/sandbox/src/main/scala/com/digitalasset/ledger/server/LedgerApiServer/LedgerApiServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxApplication.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/SandboxResetService.scala
Labels: automerge-dangerous-but-faster, component/ledger

#1067 Remove ExercisedEvent in Event oneof.
  docs/source/support/release-notes.rst
  extractor/src/main/scala/com/digitalasset/extractor/ledger/types/Event.scala
  language-support/java/bindings-rxjava/src/main/java/com/daml/ledger/rxjava/components/helpers/TransactionContext.java
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/grpc/helpers/TransactionGenerator.scala
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/ArchivedEvent.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/CreatedEvent.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/Event.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/ExercisedEvent.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/TransactionTree.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/TreeEvent.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/UnsupportedEventTypeException.java
  language-support/java/bindings/src/test/scala/com/daml/ledger/javaapi/data/Generators.scala
  language-support/java/testkit/src/main/scala/com/daml/ledger/testkit/services/TransactionServiceImpl.scala
  language-support/scala/bindings-akka/src/main/scala/com/digitalasset/ledger/client/binding/DomainTransactionMapper.scala
  ledger-api/grpc-definitions/com/digitalasset/ledger/api/v1/event.proto
  ledger-api/grpc-definitions/com/digitalasset/ledger/api/v1/transaction.proto
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/api/v1/event/EventOps.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/services/transaction/TransientContractRemover.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/TransactionServiceIT.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/tests/integration/ledger/api/LedgerTestingHelpers.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/services/transaction/EventFilterSpec.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/model/converter/LedgerApiV1.scala
Labels: component/java-ecosystem, component/ledger

#1104 Add ui-backend.conf to skeleton template.
  templates/skeleton/ui-backend.conf
Labels: automerge-dangerous-but-faster

#1107 Java Codegen: generate methods for CreateAndExerciseCommand
  docs/source/app-dev/bindings-java/codegen.rst
  docs/source/support/release-notes.rst
  language-support/java/codegen/src/it/daml/Tests/Template1.daml
  language-support/java/codegen/src/it/java/com/digitalasset/TemplateMethodTest.java
  language-support/java/codegen/src/ledger-tests/scala/com/digitalasset/CodegenLedgerTest.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/TemplateClass.scala
Labels: component/java-ecosystem

#1109 Re-revert) "Ledger API Server refactor"
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/LedgerContext.scala
  ledger/sandbox/src/main/scala/com/digitalasset/ledger/server/LedgerApiServer/ApiServices.scala
  ledger/sandbox/src/main/scala/com/digitalasset/ledger/server/LedgerApiServer/LedgerApiServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxApplication.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/SandboxResetService.scala
Labels: component/ledger

#740 Full documentation for the new assistant
  docs/.gitignore
  docs/source/app-dev/bindings-java/codegen.rst
  docs/source/app-dev/grpc/index.rst
  docs/source/daml/daml-studio.rst
  docs/source/getting-started/installation.rst
  docs/source/getting-started/quickstart.rst
  docs/source/support/release-notes.rst
  docs/source/tools/assistant.rst
  docs/source/tools/extractor.rst
  docs/source/tools/navigator/console.rst
  docs/source/tools/navigator/index.rst
  docs/source/tools/sandbox.rst
Labels: automerge-dangerous-but-faster

#956 warn on use of 'return' Scala keyword; remove most usages
  bazel_tools/scala.bzl
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/ImmArray.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/UTF8.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ConcurrentCompiledPackages.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionCoder.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/package.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/participant/util/LfEngineToApi.scala
  ledger/participant-state-index/reference/src/main/scala/com/daml/ledger/participant/state/index/v1/impl/reference/IndexState.scala
Labels: automerge-dangerous-but-faster, component/daml-engine, component/daml-lf, component/ledger

#1103 Open navigator in web browser on daml start.
  daml-assistant/daml-helper/BUILD.bazel
  daml-assistant/daml-helper/src/DamlHelper.hs
Labels: automerge-dangerous-but-faster

#1101 Improve docs flow
  daml-foundations/daml-ghc/base-rst-prefix.rst
  docs/BUILD.bazel
  docs/configs/pdf/index.rst
  docs/redirects.map
  docs/scripts/live-preview.sh
  docs/source/daml/1-2-conversion.rst
  docs/source/daml/anti-patterns.rst
  docs/source/daml/patterns.rst
  docs/source/daml/reference/data-types.rst
  docs/source/daml/reference/functions.rst
  docs/source/daml/reference/index.rst
  docs/source/daml/stdlib/index.rst
  docs/source/daml/testing-scenarios.rst
  docs/source/daml/troubleshooting.rst
  docs/source/experimental/warning.rst
  docs/source/getting-started/introduction.rst
  docs/source/getting-started/quickstart.rst
  docs/source/index.rst
  docs/source/support/release-notes.rst
  docs/source/tools/navigator/console.rst
  docs/theme/da_theme_skeleton/boxes.html
Labels: automerge

#1102 set default page for docs
  infra/docs_bucket.tf
  infra/modules/gcp_cdn_bucket/README.md
  infra/modules/gcp_cdn_bucket/files/cache.html
  infra/modules/gcp_cdn_bucket/files/docs.html
  infra/modules/gcp_cdn_bucket/google_storage.tf
  infra/modules/gcp_cdn_bucket/variables.tf
Labels: automerge

#896 Fixes 895: Improve DA Bazel rules for building javadocs.
  bazel_tools/java.bzl
  bazel_tools/pom_template.xml
  deps.bzl
  docs/BUILD.bazel
  docs/source/support/release-notes.rst
  language-support/java/BUILD.bazel
  language-support/java/bindings-rxjava/BUILD.bazel
  language-support/java/bindings/BUILD.bazel
  ledger-api/rs-grpc-bridge/BUILD.bazel
  release/src/Util.hs
Labels: component/build-system

#1118 remove debugging output in Speedy.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
Labels: automerge-dangerous-but-faster

#1119 Add an option to not modify PATH in daml install --activate
  daml-assistant/src/DAML/Assistant/Command.hs
  daml-assistant/src/DAML/Assistant/Env.hs
  daml-assistant/src/DAML/Assistant/Install.hs
  daml-assistant/src/DAML/Assistant/Install/Path.hs
  daml-assistant/src/DAML/Assistant/Types.hs
  daml-assistant/test/DAML/Assistant/Tests.hs
Labels: automerge-dangerous-but-faster

#1105 fix duplicate contract ids when loading scenarios with `pass`
  docs/source/support/release-notes.rst
  docs/source/tools/sandbox.rst
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxApplication.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/cli/Cli.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/Ledger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/ScenarioLoader.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/inmemory/InMemoryLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/inmemory/LedgerEntries.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedger.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/LedgerResource.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/ScenarioLoadingITBase.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/TestHelpers.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/cli/CliSpec.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/persistence/PostgresAround.scala
  ledger/sandbox/src/test/resources/damls/Test.daml
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/ScenarioLoadingITPostgres.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedgerSpec.scala
Labels: automerge-dangerous-but-faster, component/ledger

#1121 Better error handling in get-daml.sh
  daml-assistant/get-daml.sh
Labels: automerge-dangerous-but-faster

#1113 Move release note
  docs/source/support/release-notes.rst
Labels: automerge

#1116 Multiple docs version
  azure-cron.yml
  azure-daily.yml
Labels: automerge

#1098 Daml lf type safty (Decimal)
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/Reader.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/ArrayFactory.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/Decimal.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/DecimalModule.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/MatchingStringModule.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/Ref.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/SortedLookupList.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/Time.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/UTF8.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/Utf8.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/package.scala
  daml-lf/data/src/test/scala/com/digitalasset/daml/lf/data/SortedLookupListSpec.scala
  daml-lf/data/src/test/scala/com/digitalasset/daml/lf/data/Utf8Spec.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/interp/testing/ToTextTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  daml-lf/lfpackage/src/main/scala/com/digitalasset/daml/lf/lfpackage/Ast.scala
  daml-lf/lfpackage/src/test/scala/com/digitalasset/daml/lf/lfpackage/AstSpec.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/Implicits.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/Token.scala
  daml-lf/parser/src/test/scala/com/digitalasset/daml/lf/testing/parser/ParsersSpec.scala
  daml-lf/repl/src/main/scala/com/digitalasset/daml/lf/repl/Main.scala
  daml-lf/scenario-interpreter/BUILD.bazel
  daml-lf/scenario-interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ScenarioRunnerTest.scala
  daml-lf/testing-tools/src/main/scala/com/digitalasset/daml/lf/engine/testing/SemanticTester.scala
  daml-lf/transaction-scalacheck/src/main/scala/com/digitalasset/daml/lf/value/ValueGenerators.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionCoder.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/Value.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/ValueCoder.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionCoderSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/value/ValueCoderSpec.scala
  extractor/src/main/scala/com/digitalasset/extractor/json/JsonConverters.scala
  extractor/src/main/scala/com/digitalasset/extractor/ledger/types/LedgerValue.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/participant/util/LfEngineToApi.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/ledger/api/ValueConversionRoundTripTest.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/ledger/api/validation/CommandSubmissionRequestValidatorTest.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/LedgerApiTestTool.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/serialisation/KeyHasher.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/services/transaction/EventConverterSpec.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/KeyHasherSpec.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/PostgresDaoSpec.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/json/ApiCodecCompressed.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/json/ApiCodecVerbose.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/model/converter/LedgerApiV1.scala
  navigator/backend/src/test/scala/com/digitalasset/navigator/backend/DamlConstants.scala
Labels: automerge, component/daml-engine

#1126 small tweaks to docs generation
  azure-cron.yml
Labels: automerge

#1139 Upgrade to ghc-lib-0.20190514.1
  WORKSPACE
  compiler/haskell-ide-core/src/Development/IDE/UtilGHC.hs
Labels: automerge

#1140 removing println
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/TransactionServiceLargeCommandIT.scala
Labels: automerge-dangerous-but-faster, component/ledger

#1144 Don't expose TextMap type via the Prelude anymore
  daml-foundations/daml-ghc/daml-stdlib-src/DA/Next/Map.daml
  daml-foundations/daml-ghc/daml-stdlib-src/DA/Next/Set.daml
  daml-foundations/daml-ghc/daml-stdlib-src/DA/TextMap.daml
  daml-foundations/daml-ghc/daml-stdlib-src/Prelude.daml
  docs/source/support/release-notes.rst
Labels: automerge-dangerous-but-faster

#1145 Less logging in tests
  language-support/java/codegen/src/ledger-tests/resources/logback-test.xml
  ledger/sandbox/src/test/resources/logback-test.xml
Labels: automerge-dangerous-but-faster, component/java-ecosystem, component/ledger

#1147 Add a function `splitAt` to `DA.Text`.
  daml-foundations/daml-ghc/daml-stdlib-src/DA/Text.daml
  daml-foundations/daml-ghc/tests/Text.daml
Labels: automerge-dangerous-but-faster, language

#1025 Scala ecosystem SDK doc
  docs/configs/pdf/index.rst
  docs/source/app-dev/bindings-scala/code-snippets/quickstart-scala
  docs/source/app-dev/bindings-scala/index.rst
  docs/source/index.rst
  language-support/scala/examples/quickstart-scala/application/src/main/scala/com/digitalasset/quickstart/iou/IouMain.scala
  language-support/scala/examples/quickstart-scala/build.sbt
  language-support/scala/examples/quickstart-scala/project/Versions.scala
Labels: component/documentation, component/scala-ecosystem

#1129 ledger-api-intgration-tests: Cleanup ledger ID handling.
  language-support/java/codegen/src/ledger-tests/scala/com/digitalasset/CodegenLedgerTest.scala
  language-support/scala/codegen-sample-app/src/test/scala/com/digitalasset/codegen/ScalaCodeGenIT.scala
  language-support/scala/examples/codegen-sbt-example/sandbox-example/src/main/scala/com/digitalasset/example/ExampleMain.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/common/LedgerIdMode.scala
  ledger/ledger-api-integration-tests/src/main/scala/com/digitalasset/platform/semantictest/StandaloneSemanticTestRunner.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/ActiveContractsServiceIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/LedgerConfigurationServiceIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/PackageServiceIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/ResetServiceIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/SemanticLedgerConfigurationIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/TimeServiceDisabledIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/TransactionServiceIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/TransactionServiceLargeCommandIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/commands/CommandServiceBackPressureIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/commands/CommandServiceIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/commands/CommandStaticTimeIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/commands/CommandSubmissionServiceIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/identity/LedgerIdentityServiceGivenIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/identity/LedgerIdentityServiceRandomIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/transaction/TransactionBackpressureIT.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/PlatformApplications.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/CommandTransactionChecks.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/LedgerContext.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/tests/integration/ledger/api/commands/MultiLedgerCommandUtils.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/LedgerApiTestTool.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/LedgerIdGenerator.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxApplication.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/cli/Cli.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/config/LedgerIdMode.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/config/SandboxConfig.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedger.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/cli/CliSpec.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/services/SandboxFixture.scala
Labels: automerge, component/ledger

#1135 Test DAML-LF version 1.dev in damlc integration tests
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  daml-foundations/daml-ghc/BUILD.bazel
  daml-foundations/daml-ghc/src/DA/Test/GHC.hs
Labels: automerge-dangerous-but-faster

#1153 Ghc update happy
  WORKSPACE
Labels: automerge

#953 remove -O option from curl command in order to pipe script contents t…
  infra/vsts_agent_linux_startup.sh
Labels: automerge

#1173 Update bower version to address secur vuln BDSA BDSA-2019-0228 and B…
  docs/theme/package-lock.json
  docs/theme/package.json
Labels: automerge

#1168 Snap small indirection in quickstart-scala build.sbt
  language-support/scala/examples/quickstart-scala/build.sbt
Labels: automerge, component/scala-ecosystem

#1117 extractor: use daml-lf transaction Value ADT instead of bespoke ADT
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/ImmArray.scala
  daml-lf/data/src/test/scala/com/digitalasset/daml/lf/data/ImmArrayTest.scala
  extractor/BUILD.bazel
  extractor/src/main/scala/com/digitalasset/extractor/json/JsonConverters.scala
  extractor/src/main/scala/com/digitalasset/extractor/ledger/types/Event.scala
  extractor/src/main/scala/com/digitalasset/extractor/ledger/types/LedgerValue.scala
  extractor/src/main/scala/com/digitalasset/extractor/ledger/types/RecordField.scala
  extractor/src/main/scala/com/digitalasset/extractor/ledger/types/package.scala
  extractor/src/main/scala/com/digitalasset/extractor/writers/postgresql/Queries.scala
  extractor/src/test/suite/scala/com/digitalasset/extractor/json/JsonConvertersSpec.scala
Labels: component/extractor

#1175 extractor: use RFC-3339-format strings for JSON output of dates and timestamps
  docs/source/support/release-notes.rst
  extractor/src/main/scala/com/digitalasset/extractor/json/JsonConverters.scala
  extractor/src/test/suite/scala/com/digitalasset/extractor/BasicPrimitiveTypesSpec.scala
Labels: automerge, component/extractor

#1130 eliminating some mutable state
  daml-assistant/integration-tests/src/Main.hs
  language-support/java/codegen/src/ledger-tests/scala/com/digitalasset/CodegenLedgerTest.scala
  language-support/scala/codegen-sample-app/src/test/scala/com/digitalasset/codegen/ScalaCodeGenIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/ResetServiceIT.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/PlatformApplications.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/LedgerFactories.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/SandboxServerResource.scala
  ledger/sandbox-perf/src/perf/lib/scala/com/digitalasset/platform/sandbox/perf/SandboxServerState.scala
  ledger/sandbox/src/main/scala/com/digitalasset/ledger/server/LedgerApiServer/ApiServices.scala
  ledger/sandbox/src/main/scala/com/digitalasset/ledger/server/LedgerApiServer/LedgerApiServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxApplication.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxMain.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/config/SandboxConfig.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/SandboxResetService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/SandboxLedgerBackend.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/HikariJdbcConnectionProvider.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/util/DbDispatcher.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/ScenarioLoadingITBase.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/persistence/PostgresAround.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/services/SandboxFixture.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/services/SandboxServerResource.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/TlsIT.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/persistence/PostgresIT.scala
Labels: automerge-dangerous-but-faster, component/ledger

#1178 navigator: revert commented out tests in 2e3a8793
  navigator/backend/src/test/scala/com/digitalasset/navigator/backend/json/ApiCodecVerboseSpec.scala
Labels: automerge, component/navigator

#1183 Assign @nicholassmith-da and @gerolf-da as CODEOWNERS for language-support/java
  CODEOWNERS
Labels: automerge-dangerous-but-faster

#1138 Scala examples bazel build + refactoring
  docs/BUILD.bazel
  language-support/scala/bindings-akka/BUILD.bazel
  language-support/scala/bindings/BUILD.bazel
  language-support/scala/examples/BUILD.bazel
  language-support/scala/examples/quickstart-scala/application/src/main/scala/com/digitalasset/quickstart/iou/DecodeUtil.scala
Labels: component/build-system, component/scala-ecosystem

#1112 Contract keys documentation
  docs/source/daml/code-snippets/ContractKeys.daml
  docs/source/daml/code-snippets/Reference.daml
  docs/source/daml/code-snippets/Structure.daml
  docs/source/daml/reference/contract-keys.rst
  docs/source/daml/reference/index.rst
  docs/source/daml/reference/structure.rst
  docs/source/daml/reference/templates.rst
  docs/source/daml/reference/updates.rst
  docs/source/support/release-notes.rst
Labels: automerge-dangerous-but-faster

#1163 Trying to make the stdlib docs more useful, round 1
  daml-foundations/daml-ghc/daml-prim-src/GHC/Base.daml
  daml-foundations/daml-ghc/daml-prim-src/GHC/Enum.daml
  daml-foundations/daml-ghc/daml-prim-src/GHC/Num.daml
  daml-foundations/daml-ghc/daml-prim-src/GHC/Show.daml
  daml-foundations/daml-ghc/daml-stdlib-src/DA/Internal/LF.daml
  daml-foundations/daml-ghc/daml-stdlib-src/DA/Internal/Prelude.daml
  daml-foundations/daml-ghc/damldoc/src/DA/Daml/GHC/Damldoc/Render/Markdown.hs
  daml-foundations/daml-ghc/damldoc/src/DA/Daml/GHC/Damldoc/Render/Rst.hs
  daml-foundations/daml-ghc/damldoc/test/DA/Daml/GHC/Damldoc/Render/Tests.hs
  daml-foundations/daml-tools/language-server-tests/tests/diagnostics/scenario-error/EXPECTED.json
Labels: automerge-dangerous-but-faster

#1059 Add tracking of disclosure to contract state
  ledger/participant-state/kvutils/src/main/protobuf/daml_kvutils.proto
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/KeyValueCommitting.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/LedgerInitialConditions.scala
Labels: automerge

#1203 Remove //language-support/scala/sandbox-control and references
  language-support/scala/bindings-akka/BUILD.bazel
  language-support/scala/bindings-akka/src/test/scala/com/digitalasset/ledger/client/binding/SandboxBinding.scala
  language-support/scala/sandbox-control/BUILD.bazel
  language-support/scala/sandbox-control/src/main/java/com/digitalasset/testing/BuildSystemSupport.java
  language-support/scala/sandbox-control/src/main/scala/com/digitalasset/sandbox/SandboxFixture.scala
  language-support/scala/sandbox-control/src/test/java/com/digitalasset/testing/BuildSystemSupportTest.java
Labels: automerge, component/scala-ecosystem

#1206 Fixes #1177: Remove unused dependency from quickstart-java
  docs/source/app-dev/bindings-java/codegen.rst
  docs/source/getting-started/quickstart.rst
  docs/source/getting-started/quickstart/template-root/pom.xml
  docs/source/getting-started/quickstart/template-root/src/main/java/com/digitalasset/quickstart/iou/IouMain.java
  docs/source/support/release-notes.rst
Labels: component/java-ecosystem

#1209 Fix Maven setup instructions
  docs/source/app-dev/bindings-java/code-snippets/pom.xml
  docs/source/app-dev/bindings-java/index.rst
  docs/source/app-dev/grpc/index.rst
  docs/source/getting-started/installation.rst
  docs/source/support/release-notes.rst
Labels: component/documentation, component/java-ecosystem

#1193 introducing WriteService in Sandbox
  language-support/java/codegen/BUILD.bazel
  language-support/scala/codegen-sample-app/BUILD.bazel
  ledger/api-server-damlonx/BUILD.bazel
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/DamlOnXSubmissionService.scala
  ledger/backend-api/BUILD.bazel
  ledger/backend-api/src/main/scala/com/digitalasset/ledger/backend/api/v1/SubmissionHandle.scala
  ledger/ledger-api-common/BUILD.bazel
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/services/command/time/TimeModelValidator.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/services/time/TimeModel.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/platform/server/services/time/TimeModelTest.scala
  ledger/ledger-api-integration-tests/BUILD.bazel
  ledger/participant-state/BUILD.bazel
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/InMemoryKVParticipantState.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/KeyValueCommitting.scala
  ledger/participant-state/reference/src/main/scala/com/daml/ledger/participant/state/v1/impl/reference/Ledger.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/Configuration.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/SubmissionResult.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/TimeModel.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/WriteService.scala
  ledger/sandbox-perf/BUILD.bazel
  ledger/sandbox/BUILD.bazel
  ledger/sandbox/src/main/scala/com/digitalasset/ledger/server/LedgerApiServer/ApiServices.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/SandboxSubmissionService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/Ledger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/MeteredLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/SandboxLedgerBackend.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/inmemory/InMemoryLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedger.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/TestHelpers.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/TransactionMRTComplianceIT.scala
Labels: automerge-dangerous-but-faster, component/ledger

#1151 Expose a contract's agreement text on the Ledger API
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Event.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/testing-tools/src/main/scala/com/digitalasset/daml/lf/engine/testing/SemanticTester.scala
  docs/source/app-dev/bindings-java/codegen.rst
  docs/source/getting-started/quickstart/template-root/src/main/java/com/digitalasset/quickstart/iou/IouMain.java
  docs/source/support/release-notes.rst
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/components/BotTest.scala
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/grpc/helpers/TransactionGenerator.scala
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/CreatedEvent.java
  language-support/java/codegen/src/it/java/com/digitalasset/TemplateMethodTest.java
  language-support/java/codegen/src/ledger-tests/daml/Wolpertinger.daml
  language-support/java/codegen/src/ledger-tests/scala/com/digitalasset/CodegenLedgerTest.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/DecoderClass.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/TemplateClass.scala
  language-support/java/codegen/src/test/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/TemplateClassSpec.scala
  language-support/scala/bindings-akka/src/test/scala/com/digitalasset/ledger/client/binding/DomainTransactionMapperUT.scala
  language-support/scala/bindings/src/main/scala/com/digitalasset/ledger/client/binding/binding/Contract.scala
  language-support/scala/bindings/src/main/scala/com/digitalasset/ledger/client/binding/binding/EventDecoderApi.scala
  language-support/scala/codegen-sample-app/src/test/scala/com/digitalasset/codegen/ScalaCodeGenIT.scala
  language-support/scala/examples/quickstart-scala/application/src/main/scala/com/digitalasset/quickstart/iou/DecodeUtil.scala
  ledger-api/grpc-definitions/com/digitalasset/ledger/api/v1/event.proto
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/participant/util/EventFilter.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/services/transaction/TransactionConversion.scala
  ledger/ledger-api-domain/src/main/scala/com/digitalasset/ledger/api/domain.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/ActiveContractsServiceIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/TransactionServiceIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/commands/CommandStaticTimeIT.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/CommandTransactionChecks.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/semantictest/ApiScenarioTransform.scala
  ledger/sandbox-perf/src/perf/benches/scala/com/digitalasset/platform/sandbox/perf/AcsBench.scala
  ledger/sandbox-perf/src/perf/lib/scala/com/digitalasset/platform/sandbox/perf/TestHelper.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/ScenarioLoadingITBase.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/services/transaction/EventConverterSpec.scala
  navigator/backend/README.md
  navigator/backend/src/main/scala/com/digitalasset/navigator/data/ContractRow.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/data/DatabaseActions.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/data/EventRow.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/data/Queries.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/graphql/GraphQLSchema.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/json/ModelCodec.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/model/Ledger.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/model/Model.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/model/converter/LedgerApiV1.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/query/filter/package.scala
  navigator/backend/src/test/resources/schema.graphql
  navigator/backend/src/test/scala/com/digitalasset/navigator/backend/data/RowSpec.scala
  navigator/backend/src/test/scala/com/digitalasset/navigator/backend/model/LedgerSpec.scala
  navigator/backend/src/test/scala/com/digitalasset/navigator/backend/query/ContractFilterSpec.scala
  navigator/backend/src/test/scala/com/digitalasset/navigator/backend/query/ContractSortSpec.scala
  navigator/backend/src/test/scala/com/digitalasset/navigator/backend/query/FilterSpec.scala
  navigator/frontend/src/api/Queries.ts
  navigator/frontend/src/applets/contract/ContractComponent.tsx
  navigator/frontend/src/applets/contract/index.tsx
Labels: component/java-ecosystem, component/ledger, component/navigator, component/scala-ecosystem

#1184 language: init package db on ide start.
  daml-foundations/daml-tools/da-hs-daml-cli/DA/Cli/Damlc.hs
Labels: automerge-dangerous-but-faster

#1212 Add a couple failure modes to daml new.
  daml-assistant/daml-helper/src/DamlHelper.hs
  daml-assistant/daml-helper/src/Main.hs
Labels: automerge-dangerous-but-faster

#1217 fixing hanging Sandbox process in case of invalid starting arguments
  ledger/sandbox/src/main/scala/com/digitalasset/ledger/server/LedgerApiServer/LedgerApiServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxMain.scala
Labels: automerge-dangerous-but-faster, component/ledger

#1220 Turn a few standalone deriving clauses into proper deriving clauses
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Recursive.hs
Labels: automerge-dangerous-but-faster

#1211 fixing Pascalized package name
  ledger/sandbox/src/main/scala/com/digitalasset/ledger/server/apiserver/ApiServices.scala
  ledger/sandbox/src/main/scala/com/digitalasset/ledger/server/apiserver/LedgerApiServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
Labels: automerge-dangerous-but-faster, component/ledger

#1226 Fixed typo in release notes
  docs/source/support/release-notes.rst
Labels: automerge-dangerous-but-faster, component/documentation

#1219 Relax syntactic restriction on contract keys in DAML-LF 1.dev
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Util.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/EncodeV1.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Check.hs
  daml-foundations/daml-ghc/ghc-compiler/src/DA/Daml/GHC/Compiler/Convert.hs
  daml-foundations/daml-ghc/tests/RelaxedContractKeys.daml
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
Labels: automerge-dangerous-but-faster
