Repository digital-asset/daml, pull requests merged in 2019-12, with the labels that each got.

#3689 daml2ts: Don't produce unused imports
  language-support/ts/codegen/BUILD.bazel
  language-support/ts/codegen/src/Main.hs
Labels: automerge

#3690 daml2ts: Use monoTraverse to collect modules refs in types
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Optics.hs
  language-support/ts/codegen/src/Main.hs
Labels: automerge

#3679 Fix submissionId typo in JdbcLedgerDao logging parameter
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/JdbcLedgerDao.scala
Labels: automerge

#3705 Error handling improvements
  daml-assistant/integration-tests/src/DA/Daml/Assistant/IntegrationTests.hs
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/ResponseFormats.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/json/ResponseFormatsTest.scala
Labels: automerge

#3706 Fix SDK versions in trigger and daml-script dars
  compiler/damlc/lib/DA/Cli/Damlc/Packaging.hs
  daml-assistant/integration-tests/src/DA/Daml/Assistant/IntegrationTests.hs
  daml-script/daml/BUILD.bazel
  daml-script/test/BUILD.bazel
  triggers/daml/BUILD.bazel
  triggers/tests/BUILD.bazel
Labels: automerge

#3702 Use surface names for type variables, instead of uniques.
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
Labels: automerge

#3711 Fix RST in DAML script docs
  docs/source/daml-script/index.rst
Labels: automerge

#3709 Remove component version from damlc output
  BUILD
  compiler/damlc/lib/DA/Cli/Damlc/BuildInfo.hs
Labels: automerge

#3728 Optimize imports in //language-support/java/bindings-rxjava
  language-support/java/bindings-rxjava/src/main/java/com/daml/ledger/rxjava/CommandSubmissionClient.java
  language-support/java/bindings-rxjava/src/main/java/com/daml/ledger/rxjava/DamlLedgerClient.java
  language-support/java/bindings-rxjava/src/main/java/com/daml/ledger/rxjava/components/LedgerViewFlowable.java
  language-support/java/bindings-rxjava/src/main/java/com/daml/ledger/rxjava/components/helpers/CommandsAndPendingSet.java
  language-support/java/bindings-rxjava/src/main/java/com/daml/ledger/rxjava/components/helpers/TemplateUtils.java
  language-support/java/bindings-rxjava/src/main/java/com/daml/ledger/rxjava/grpc/CommandCompletionClientImpl.java
  language-support/java/bindings-rxjava/src/main/java/com/daml/ledger/rxjava/grpc/CommandSubmissionClientImpl.java
  language-support/java/bindings-rxjava/src/main/java/com/daml/ledger/rxjava/grpc/TransactionClientImpl.java
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/DamlLedgerClientTest.scala
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/components/ContractTransformationTest.scala
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/components/LedgerViewFlowableSpec.scala
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/components/tests/helpers/DummyLedgerClient.scala
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/grpc/TimeClientImplTest.scala
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/grpc/helpers/DataLayerHelpers.scala
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/grpc/helpers/LedgerConfigurationServiceImpl.scala
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/grpc/helpers/LedgerIdentityServiceImpl.scala
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/grpc/helpers/TimestampComparatorTest.scala
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/grpc/package.scala
Labels: automerge

#3727 Fix comment explaining required claims for services
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/Claims.scala
Labels: automerge

#3714 Make the daml2ts tests fail on generated unused imports/definitions
  language-support/ts/codegen/tests/BUILD.bazel
  language-support/ts/codegen/tests/ts/daml-json-types/package.json
  language-support/ts/codegen/tests/ts/generated/package.json
  language-support/ts/codegen/tests/ts/generated/tsconfig.json
Labels: automerge

#3725 Use ghc-lib with exposed: False
  stack-snapshot.yaml
Labels: automerge

#3738 Fix logic for blog notifications (stop treating arrays as strings)
  compiler/daml-extension/src/extension.ts
Labels: automerge

#3736 daml assistant: expect auth token in Bearer format
  BUILD
  daml-assistant/daml-helper/src/DA/Daml/Helper/Ledger.hs
  daml-assistant/daml-helper/src/DA/Daml/Helper/Run.hs
  daml-assistant/integration-tests/src/DA/Daml/Assistant/IntegrationTests.hs
  language-support/hs/bindings/src/DA/Ledger/Jwt.hs
  language-support/hs/bindings/src/DA/Ledger/LedgerService.hs
  language-support/hs/bindings/test/DA/Ledger/Tests.hs
Labels: automerge

#3743 Add authentication support to DamlLedgerClient
  docs/source/app-dev/bindings-java/index.rst
  language-support/java/bindings-rxjava/src/main/java/com/daml/ledger/rxjava/DamlLedgerClient.java
  language-support/java/bindings-rxjava/src/main/java/com/daml/ledger/rxjava/LedgerConfigurationClient.java
  language-support/java/bindings-rxjava/src/main/java/com/daml/ledger/rxjava/grpc/ActiveContractClientImpl.java
  language-support/java/bindings-rxjava/src/main/java/com/daml/ledger/rxjava/grpc/CommandClientImpl.java
  language-support/java/bindings-rxjava/src/main/java/com/daml/ledger/rxjava/grpc/CommandCompletionClientImpl.java
  language-support/java/bindings-rxjava/src/main/java/com/daml/ledger/rxjava/grpc/CommandSubmissionClientImpl.java
  language-support/java/bindings-rxjava/src/main/java/com/daml/ledger/rxjava/grpc/LedgerConfigurationClientImpl.java
  language-support/java/bindings-rxjava/src/main/java/com/daml/ledger/rxjava/grpc/LedgerIdentityClientImpl.java
  language-support/java/bindings-rxjava/src/main/java/com/daml/ledger/rxjava/grpc/PackageClientImpl.java
  language-support/java/bindings-rxjava/src/main/java/com/daml/ledger/rxjava/grpc/TimeClientImpl.java
  language-support/java/bindings-rxjava/src/main/java/com/daml/ledger/rxjava/grpc/TransactionClientImpl.java
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/AuthMatchers.scala
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/DamlLedgerClientTest.scala
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/components/BotTest.scala
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/grpc/ActiveContractClientImplTest.scala
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/grpc/CommandClientImplTest.scala
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/grpc/CommandCompletionClientImplTest.scala
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/grpc/CommandSubmissionClientImplTest.scala
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/grpc/LedgerConfigurationClientImplTest.scala
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/grpc/LedgerIdentityClientTest.scala
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/grpc/PackageClientImplTest.scala
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/grpc/TimeClientImplTest.scala
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/grpc/TransactionsClientImplTest.scala
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/grpc/helpers/LedgerConfigurationServiceImpl.scala
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/grpc/helpers/LedgerServices.scala
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/grpc/helpers/LedgerServicesImpls.scala
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/grpc/package.scala
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/package.scala
Labels: automerge

#3668 language: suffix all dalfs dependencies in a dar with the pkgid.
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/World.hs
  compiler/daml-lf-reader/BUILD.bazel
  compiler/daml-lf-reader/src/DA/Daml/LF/Reader.hs
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Dar.hs
  compiler/damlc/daml-ide-core/BUILD.bazel
  compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
  compiler/damlc/lib/DA/Cli/Damlc.hs
  compiler/damlc/lib/DA/Cli/Damlc/Packaging.hs
  compiler/damlc/tests/src/DA/Test/Packaging.hs
  triggers/runner/BUILD.bazel
Labels: automerge

#3741 Spin off TokenHolder into a new library
  extractor/BUILD.bazel
  extractor/src/main/scala/com/digitalasset/extractor/Extractor.scala
  ledger-service/http-json/BUILD.bazel
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/AuthorizationTest.scala
  libs-scala/auth-utils/BUILD.bazel
  libs-scala/auth-utils/src/main/scala/com/digitalasset/auth/TokenHolder.scala
  release/artifacts.yaml
  triggers/runner/BUILD.bazel
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/RunnerMain.scala
  triggers/tests/BUILD.bazel
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/test/TestMain.scala
Labels: automerge

#3739 Publish the thin trigger library instead of the fat jar
  bazel_tools/scala.bzl
  release/artifacts.yaml
  release/src/Main.hs
  triggers/runner/BUILD.bazel
  triggers/tests/BUILD.bazel
Labels: automerge

#3731 sandbox: If the Flyway migrations fail, crash the process.
  ledger/api-server-damlonx/reference-v2/src/main/scala/com/daml/ledger/api/server/damlonx/reference/v2/ReferenceServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/StandaloneIndexServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/StandaloneIndexerServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
Labels: automerge

#3740 daml-lf: specified generic equality
  daml-lf/spec/daml-lf-1.rst
Labels: automerge-after-rebase, component/daml-lf

#3750 Release 0.13.39
  VERSION
  docs/source/support/release-notes.rst
Labels: automerge

#3749 Refactor packaging logic
  compiler/damlc/lib/DA/Cli/Damlc/Packaging.hs
Labels: automerge

#3759 Fix Sdk-Version field in daml-sdk-head
  release/util.bzl
Labels: automerge

#3748 Daml LF Encoder: reactivate and fix tests
  daml-lf/encoder/BUILD.bazel
  daml-lf/encoder/src/test/lf/TextMap_1.3_1.6_1.7_1.dev_.lf
  daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/archive/testing/DamlLfEncoderTest.scala
  daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/archive/testing/EncodeV1Spec.scala
Labels: automerge-after-rebase, component/daml-lf

#3761 Disable canton multi-participant ledger api test by default
  ledger/ledger-api-test-tool-on-canton/BUILD.bazel
Labels: automerge

#3682 Sandbox: Remove streaming connections
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/JdbcIndexer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/ReadOnlySqlLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/HikariJdbcConnectionProvider.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/JdbcLedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/migration/FlywayMigrations.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/util/DbDispatcher.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/util/PaginatingAsyncStream.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/persistence/PostgresIT.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/JdbcLedgerDaoSpec.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedgerSpec.scala
Labels: automerge, component/ledger

#3760 Fix code syntax in latest release notes
  docs/source/support/release-notes.rst
Labels: automerge

#3764 Upgrade Scalafmt to v2.3.1.
  .scalafmt.conf
  daml-assistant/daml-sdk/src/main/scala/com/digitalasset/daml/sdk/SdkMain.scala
  nix/overrides/scalafmt.nix
  scalafmt.sh
Labels: automerge

#3149 added tagmanager to docs
  docs/theme/da_theme_skeleton/layout.html
Labels: automerge

#3765 Create a new type for package imports
  compiler/damlc/daml-opts/daml-opts-types/DA/Daml/Options/Types.hs
  compiler/damlc/daml-opts/daml-opts/DA/Daml/Options.hs
  compiler/damlc/lib/DA/Cli/Damlc/Packaging.hs
  compiler/damlc/lib/DA/Cli/Options.hs
Labels: automerge

#3752 DAML LF: expose generic equality in LF
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/DecodeV1.hs
  daml-lf/archive/src/main/protobuf/com/digitalasset/daml_lf_dev/daml_lf_1.proto
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/EncodeV1.scala
  daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/archive/testing/EncodeV1Spec.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ExprParser.scala
  daml-lf/parser/src/test/scala/com/digitalasset/daml/lf/testing/parser/ParsersSpec.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
Labels: automerge, component/daml-lf

#3768 Increase party allocation timeout and mark test as flaky
  ledger/ledger-api-test-tool/conformance.bzl
  ledger/sandbox/BUILD.bazel
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/admin/ApiPartyManagementService.scala
Labels: automerge

#3753 sandbox: Merge `DbDispatcher` and `SqlExecutor`.
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/JdbcIndexer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/ReadOnlySqlLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/util/DbDispatcher.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/util/SqlExecutor.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/JdbcLedgerDaoSpec.scala
Labels: automerge

#3762 Java codegen fixes
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/ObjectMethods.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/EnumClass.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/RecordMethods.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/TemplateClass.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/VariantConstructorClass.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/VariantRecordMethods.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/package.scala
  language-support/java/codegen/src/test/scala/com/digitalasset/daml/lf/codegen/backend/java/ObjectMethodsSpec.scala
Labels: automerge

#3715 daml-lf: test equality and hashing of values
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/svalue/Equality.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/svalue/Hasher.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/svalue/SEquatableValuesSpec.scala
Labels: automerge, component/daml-engine, component/daml-lf

#3404 RxJava Bindings: Allow bot to run on a scheduler
  language-support/java/bindings-rxjava/src/main/java/com/daml/ledger/rxjava/components/Bot.java
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/components/BotTest.scala
Labels: automerge, component/java-ecosystem

#3773 Sandbox: Perform JDBC health checks on a timer.
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/HikariJdbcConnectionProvider.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/util/DbDispatcher.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/persistence/PostgresIT.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedgerSpec.scala
Labels: automerge

#3774 sandbox: Increase the timeout in StaticTimeIT.
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/services/time/StaticTimeIT.scala
Labels: automerge

#3786 Move the bazel aliases for yarn and java to the root BUILD file
  BUILD
  compiler/daml-extension/BUILD.bazel
  language-support/ts/codegen/tests/BUILD.bazel
Labels: automerge

#3788 Ensure the access token is initialized when constructing a client
  language-support/java/bindings-rxjava/src/main/java/com/daml/ledger/rxjava/DamlLedgerClient.java
Labels: automerge

#3785 ledger-api-scala-logging: Fix errors in IntelliJ IDEA.
  ledger/ledger-api-auth/BUILD.bazel
  ledger/ledger-api-common/BUILD.bazel
  ledger/ledger-api-integration-tests/BUILD.bazel
  ledger/ledger-api-scala-logging/BUILD.bazel
  ledger/sandbox/BUILD.bazel
  release/artifacts.yaml
Labels: automerge

#3770 Perform name collision check against other names in package.
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/NameCollision.hs
  compiler/damlc/tests/src/DA/Test/Packaging.hs
Labels: automerge

#3790 Workaround and test for #3777
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
  compiler/damlc/tests/daml-test-files/TypeVarShadowing2.daml
Labels: automerge

#3797 Release SDK 0.13.40
  VERSION
  docs/source/support/release-notes.rst
Labels: automerge

#3792 DAML LF: distribute daml_lf_1.7_archive_java_proto
  release/artifacts.yaml
Labels: component/daml-lf

#3798 DAML-LF: fix subsitution bug
  compiler/daml-lf-ast/BUILD.bazel
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Type.hs
  compiler/daml-lf-ast/test/DA/Daml/LF/Ast/Tests.hs
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/TypeSubst.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/TypeSubstSpec.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/TypingSpec.scala
Labels: component/daml-lf

#3801 DAML-LF: spec cleanup
  daml-lf/spec/daml-lf-1.rst
Labels: automerge, component/daml-lf

#3800 Bump ghcide
  bazel-haskell-deps.bzl
  compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
  compiler/damlc/tests/src/DA/Test/DamlcIntegration.hs
Labels: automerge

#3522 scala codegen: add GenMap support
  daml-lf/data/BUILD.bazel
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/InsertOrdMap.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/MapKOps.scala
  language-support/scala/bindings/BUILD.bazel
  language-support/scala/bindings/src/main/scala/com/digitalasset/ledger/client/binding/binding/Primitive.scala
  language-support/scala/bindings/src/main/scala/com/digitalasset/ledger/client/binding/binding/Value.scala
  language-support/scala/bindings/src/main/scala/com/digitalasset/ledger/client/binding/binding/encoding/LfEncodable.scala
  language-support/scala/bindings/src/main/scala/com/digitalasset/ledger/client/binding/binding/encoding/ValuePrimitiveEncoding.scala
  language-support/scala/codegen-sample-app/BUILD.bazel
  language-support/scala/codegen-sample-app/src/main/daml/MyMain.daml
  language-support/scala/codegen-sample-app/src/test/scala/com/digitalasset/codegen/DataTypeIT.scala
  language-support/scala/codegen-sample-app/src/test/scala/com/digitalasset/codegen/ScalaCodeGenIT.scala
  language-support/scala/codegen-testing/BUILD.bazel
  language-support/scala/codegen-testing/src/main/scala/com/digitalasset/ledger/client/binding/encoding/EqualityEncoding.scala
  language-support/scala/codegen-testing/src/main/scala/com/digitalasset/ledger/client/binding/encoding/GenEncoding.scala
  language-support/scala/codegen-testing/src/main/scala/com/digitalasset/ledger/client/binding/encoding/ShowEncoding.scala
  language-support/scala/codegen-testing/src/main/scala/com/digitalasset/ledger/client/binding/encoding/ShrinkEncoding.scala
  language-support/scala/codegen-testing/src/test/scala/com/digitalasset/ledger/client/binding/ValueSpec.scala
  language-support/scala/codegen-testing/src/test/scala/com/digitalasset/ledger/client/binding/encoding/EqualityEncodingSpec.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/lf/LFUtil.scala
Labels: automerge, component/daml-lf, component/scala-ecosystem

#3812 DAML-LF: fix generic equality
  daml-lf/archive/src/main/protobuf/com/digitalasset/daml_lf_dev/daml_lf_1.proto
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/spec/daml-lf-1.rst
Labels: automerge, component/daml-lf

#3807 Implement missing genmap functions
  compiler/scenario-service/client/src/DA/Daml/LF/PrettyScenario.hs
  language-support/hs/bindings/src/DA/Ledger/Convert.hs
  language-support/hs/bindings/src/DA/Ledger/Types.hs
Labels: automerge

#3815 Expose generic equality in compiler.
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Base.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Pretty.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/DecodeV1.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/EncodeV1.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/Simplifier.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Check.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion/Primitives.hs
Labels: automerge

#3817 DAML-LF: decommission equality function for atomic values
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV1Spec.scala
  daml-lf/spec/daml-lf-1.rst
Labels: automerge, component/daml-lf

#3818 Mark lsp tests flaky
  compiler/lsp-tests/BUILD.bazel
Labels: automerge

#3816 Add Eq instances for AnyTemplate, AnyChoice and AnyContractKey
  compiler/damlc/daml-stdlib-src/DA/Internal/LF.daml
  compiler/damlc/tests/daml-test-files/AnyEq.daml
Labels: automerge

#3820 Sandbox: Delete unused test helpers.
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/TestHelpers.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/services/time/LedgerApiITBase.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/services/transaction/TransactionServiceHelpers.scala
Labels: automerge

#3814 sandbox: Re-add the Docker images with a public base image.
  WORKSPACE
  ledger/sandbox/BUILD.bazel
Labels: automerge

#3822 Add ExceptionOps to extract exception details safely
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/MapKOps.scala
  language-support/scala/codegen-testing/src/test/scala/com/digitalasset/ledger/client/binding/ValueSpec.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Config.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsFetch.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/HttpCodec.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/JsonError.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/SprayJson.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/util/ApiValueToLfValueConverter.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/util/ExceptionOps.scala
Labels: automerge

#3823 sandbox/reference-v2: Split `Config` into three.
  ledger/api-server-damlonx/reference-v2/src/main/scala/com/daml/ledger/api/server/damlonx/reference/v2/Config.scala
  ledger/api-server-damlonx/reference-v2/src/main/scala/com/daml/ledger/api/server/damlonx/reference/v2/ReferenceServer.scala
  ledger/api-server-damlonx/reference-v2/src/main/scala/com/daml/ledger/api/server/damlonx/reference/v2/cli/Cli.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/ledger/api/tls/TlsConfiguration.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/ApiServerConfig.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/StandaloneApiServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/indexer/IndexerConfig.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/indexer/IndexerStartupMode.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/indexer/StandaloneIndexerServer.scala
Labels: automerge

#3827 Run a package-wide name collision check when building a DAR.
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/NameCollision.hs
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Dar.hs
  compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
  compiler/damlc/tests/src/DA/Test/Packaging.hs
Labels: automerge

#3782 daml-lf: second version of type synonym spec
  daml-lf/spec/daml-lf-1.rst
Labels: automerge, component/daml-lf

#3835 Fix authorization docs for contract keys
  docs/source/daml/reference/contract-keys.rst
Labels: automerge

#3809 Fix contract lookup endpoint
  docs/source/json-api/index.rst
  ledger-service/http-json/BUILD.bazel
  ledger-service/http-json/src/main/scala/com/digitalasset/http/CommandService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Config.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/EndpointsCompanion.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebsocketEndpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/domain.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/DomainJsonDecoder.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/JsonProtocol.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/util/Transactions.scala
  ledger-service/http-json/src/test/daml/Account.daml
  ledger-service/http-json/src/test/scala/com/digitalasset/http/AbstractHttpServiceIntegrationTest.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/AuthorizationTest.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/Generators.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/HttpServiceTestFixture.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/json/JsonProtocolTest.scala
Labels: automerge

#3841 Test tool party flakiness fix
  ledger/ledger-api-test-tool-on-canton/BUILD.bazel
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerTestContext.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/Synchronize.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/participant/ParticipantTestContext.scala
Labels: automerge

#3837 Sandbox / Reference v2: Close the Ledger API Server on failure.
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/LedgerApiServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/StandaloneApiServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
Labels: automerge

#3843 Test tool flakiness take2
  WORKSPACE
  ledger/ledger-api-test-tool-on-canton/canton.conf
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerTestContext.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/participant/ParticipantTestContext.scala
Labels: automerge

#3844 Move ResetServiceIT to Sandbox integration tests
  ledger/ledger-api-integration-tests/BUILD.bazel
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/ResetServiceIT.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/services/reset/ResetServiceIT.scala
  ledger/test-common/src/main/scala/com.digitalasset.platform.testing/WaitForCompletionsObserver.scala
Labels: automerge

#3756 Implementation for the configuration management service
  ledger-api/grpc-definitions/com/digitalasset/ledger/api/v1/admin/config_management_service.proto
  ledger/api-server-damlonx/reference-v2/BUILD.bazel
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/services/ConfigManagementServiceAuthorization.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/validation/ErrorFactories.scala
  ledger/ledger-api-domain/BUILD.bazel
  ledger/ledger-api-domain/src/main/scala/com/digitalasset/ledger/api/domain.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/Tests.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerServices.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/participant/ParticipantTestContext.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/ConfigManagement.scala
  ledger/participant-state-index/src/main/scala/com/daml/ledger/participant/state/index/v2/IndexConfigManagementService.scala
  ledger/participant-state-index/src/main/scala/com/daml/ledger/participant/state/index/v2/IndexService.scala
  ledger/participant-state/BUILD.bazel
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/KeyValueConsumption.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/TimeModel.scala
  ledger/sandbox/BUILD.bazel
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/ApiServices.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/JdbcIndex.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/StandaloneApiServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/ApiSubmissionService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/admin/ApiConfigManagementService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/SandboxIndexAndWriteService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/ConfigurationEntry.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/Ledger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/MeteredLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/inmemory/InMemoryLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/BaseLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/JdbcLedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/LedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/MeteredLedgerDao.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/services/reflection/ReflectionIT.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/JdbcLedgerDaoSpec.scala
Labels: automerge

#3850 Rename weirdly named directories
  ledger/test-common/src/main/scala/com/digitalasset/platform/testing/FiniteStreamObserver.scala
  ledger/test-common/src/main/scala/com/digitalasset/platform/testing/SingleItemObserver.scala
  ledger/test-common/src/main/scala/com/digitalasset/platform/testing/SizeBoundObserver.scala
  ledger/test-common/src/main/scala/com/digitalasset/platform/testing/TestTemplateIdentifiers.scala
  ledger/test-common/src/main/scala/com/digitalasset/platform/testing/TimeBoundObserver.scala
  ledger/test-common/src/main/scala/com/digitalasset/platform/testing/TimeoutException.scala
  ledger/test-common/src/main/scala/com/digitalasset/platform/testing/TimeoutTask.scala
  ledger/test-common/src/main/scala/com/digitalasset/platform/testing/WaitForCompletionsObserver.scala
  ledger/test-common/src/main/scala/com/digitalasset/platform/testing/WithTimeout.scala
Labels: automerge

#3851 Remove warts: ExplicitImplicitTypes
  bazel_tools/scala.bzl
  ledger-api/testing-utils/src/main/scala/com/digitalasset/ledger/api/testing/utils/MultiFixtureBase.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/services/testing/ApiTimeService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/UIBackend.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/config/Config.scala
Labels: automerge

#3854 daml2ts: Upgrade to TypeScript 3.7
  language-support/ts/codegen/tests/ts/daml-json-types/package.json
  language-support/ts/codegen/tests/ts/daml-ledger-fetch/package.json
  language-support/ts/codegen/tests/ts/generated/package.json
Labels: automerge

#3853 Sandbox: Fix warnings in SandboxServer.
  language-support/scala/codegen-sample-app/src/test/scala/com/digitalasset/codegen/ScalaCodeGenIT.scala
  language-support/scala/examples/codegen-sbt-example/sandbox-example/src/main/scala/com/digitalasset/example/ExampleMain.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/HttpServiceTestFixture.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/SandboxServerResource.scala
  ledger/sandbox-perf/src/perf/lib/scala/com/digitalasset/platform/sandbox/perf/SandboxServerResource.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxMain.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/services/SandboxServerResource.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/TlsIT.scala
Labels: automerge

#3846 Improve documentation on precision and scale of Numeric
  compiler/damlc/daml-prim-src/GHC/Types.daml
Labels: automerge

#3860 Document packaging code
  compiler/damlc/daml-opts/daml-opts-types/DA/Daml/Options/Types.hs
  compiler/damlc/lib/DA/Cli/Damlc/Packaging.hs
  compiler/damlc/tests/src/DA/Test/Packaging.hs
Labels: automerge

#3869 Rename Contract type to CreateEvent and move it to daml-ledger-fetch
  language-support/ts/codegen/tests/ts/daml-json-types/src/index.ts
  language-support/ts/codegen/tests/ts/daml-ledger-fetch/src/index.ts
Labels: automerge

#3868 Fixing a rare test failure,
  ledger-service/http-json/src/test/scala/com/digitalasset/http/PackageServiceTest.scala
Labels: automerge

#3885 Add CommandSubmissionCompletion suite to test tool
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/Tests.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/CommandSubmissionCompletion.scala
Labels: automerge

#3886 Fix roundCommercial
  compiler/damlc/daml-stdlib-src/DA/Internal/Prelude.daml
  compiler/damlc/tests/daml-test-files/NumericRound.daml
  compiler/damlc/tests/daml-test-files/PreludeTest.daml
Labels: automerge

#3889 Clean up the CPP around roundCommercial
  compiler/damlc/daml-stdlib-src/DA/Internal/Prelude.daml
Labels: automerge

#3892 Add DAML Integration Kit related changelog entries since last SDK release
  README.md
Labels: automerge

#3897 Make commented instructions to run bazel run @unpinned_maven//:pin more prominent
  bazel-java-deps.bzl
Labels: automerge

#3890 Move Any wrappers and Archive to stable packages
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/World.hs
  compiler/damlc/daml-ide-core/BUILD.bazel
  compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion/UtilGHC.hs
  compiler/damlc/daml-stdlib-src/DA/Internal/Any.daml
  compiler/damlc/daml-stdlib-src/DA/Internal/Desugar.daml
  compiler/damlc/daml-stdlib-src/DA/Internal/Template.daml
  compiler/damlc/daml-stdlib-src/DA/Internal/Template/Functions.daml
  compiler/damlc/daml-stdlib-src/LibraryModules.daml
  compiler/damlc/daml-stdlib-src/Prelude.daml
  compiler/damlc/stable-packages/BUILD.bazel
  compiler/damlc/stable-packages/src/GenerateStablePackage.hs
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DarReaderTest.scala
  language-support/hs/bindings/test/DA/Ledger/Tests.hs
  language-support/java/codegen/src/test/scala/com/digitalasset/daml/lf/codegen/CodeGenRunnerTests.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/KVUtilsPackageSpec.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/JdbcLedgerDaoSpec.scala
  libs-haskell/da-hs-base/src/Data/NameMap.hs
Labels: automerge

#3894 SDK 0.13.41 Release
  VERSION
  docs/source/support/release-notes.rst
Labels: automerge

#3902 daml-sdk container improvements
  ci/docker/daml-sdk/Dockerfile
Labels: language

#3887 Inline the Navigator banner
  navigator/backend/src/main/resources/banner.txt
  navigator/backend/src/main/scala/com/digitalasset/navigator/NavigatorBackend.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/console/commands/Info.scala
Labels: automerge

#3904 Limit ghci target on CI to damlc
  build.sh
Labels: automerge

#3905 Avoid globbing for stable packages
  compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
  compiler/damlc/stable-packages/BUILD.bazel
Labels: automerge

#3907 Fix WallClockTimeIT sandbox configuration
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/services/time/WallClockTimeIT.scala
Labels: automerge

#3838 friendly and gen testing for LF records, variants
  daml-lf/transaction-scalacheck/BUILD.bazel
  daml-lf/transaction-scalacheck/src/main/scala/com/digitalasset/daml/lf/value/TypedValueGenerators.scala
  ledger-service/lf-value-json/BUILD.bazel
  ledger-service/lf-value-json/src/main/scala/com/digitalasset/daml/lf/value/json/ApiCodecCompressed.scala
  ledger-service/lf-value-json/src/main/scala/com/digitalasset/daml/lf/value/json/ApiValueImplicits.scala
  ledger-service/lf-value-json/src/test/scala/com/digitalasset/daml/lf/value/json/ApiCodecCompressedSpec.scala
  navigator/backend/src/test/scala/com/digitalasset/navigator/backend/json/ApiCodecCompressedSpec.scala
Labels: automerge

#3891 Sandbox: Test RecoveringIndexer logs, and stop dumping them to STDERR.
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/common/logging/NamedLoggerFactory.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/common/logging/SimpleNamedLoggerFactory.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/logging/TestNamedLoggerFactory.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/indexer/RecoveringIndexerSpec.scala
Labels: automerge

#3919 Nuke //ledger/ledger-api-integration-tests
  ledger/ledger-api-integration-tests/BUILD.bazel
  ledger/ledger-api-integration-tests/README.md
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/PlatformApplications.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/LedgerContext.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/LedgerFactories.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/MultiLedgerFixture.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/PlatformChannels.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/SandboxServerResource.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/TestIdsGenerator.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/TestParties.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/TestTemplateIds.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/tests/integration/ledger/api/LedgerTestingHelpers.scala
  ledger/ledger-api-integration-tests/src/test/resources/logback-test.xml
  ledger/sandbox-perf/BUILD.bazel
Labels: automerge

#3921 daml2ts: Clean up yarn.lock for support libraries
  language-support/ts/codegen/tests/ts/yarn.lock
Labels: automerge

#3922 daml2ts: Do some maintenance tasks in daml-ledger-fetch
  language-support/ts/codegen/tests/ts/daml-ledger-fetch/src/index.ts
Labels: automerge

#3924 reenable scalafmt
  scalafmt.sh
Labels: component/build-system

#3871 Sandbox: Manage resources and close them properly on failure.
  language-support/scala/codegen-sample-app/src/test/scala/com/digitalasset/codegen/ScalaCodeGenIT.scala
  ledger-api/rs-grpc-akka/src/main/scala/com/digitalasset/grpc/adapter/AkkaExecutionSequencerPool.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/HttpServiceTestFixture.scala
  ledger/api-server-damlonx/reference-v2/src/main/scala/com/daml/ledger/api/server/damlonx/reference/v2/Config.scala
  ledger/api-server-damlonx/reference-v2/src/main/scala/com/daml/ledger/api/server/damlonx/reference/v2/ReferenceServer.scala
  ledger/api-server-damlonx/reference-v2/src/main/scala/com/daml/ledger/api/server/damlonx/reference/v2/cli/Cli.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/ApiServerConfig.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/JdbcIndex.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/LedgerApiServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/StandaloneApiServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/indexer/Indexer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/indexer/JdbcIndexer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/indexer/RecoveringIndexer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/indexer/StandaloneIndexerServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/resources/ActorMaterializerResourceOwner.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/resources/ActorSystemResourceOwner.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/resources/CloseableResourceOwner.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/resources/ExecutorServiceResourceOwner.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/resources/FutureCloseableResourceOwner.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/resources/FutureResourceOwner.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/resources/Resource.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/resources/ResourceAcquisitionFilterException.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/resources/ResourceOwner.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/resources/TimerResourceOwner.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/cli/Cli.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/config/SandboxConfig.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/SandboxIndexAndWriteService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/Ledger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/BaseLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/ReadOnlySqlLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/HikariJdbcConnectionProvider.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/JdbcLedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/LedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/MeteredLedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/migration/FlywayMigrations.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/util/DbDispatcher.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/LedgerResource.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/persistence/PostgresAround.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/indexer/RecoveringIndexerSpec.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/resources/ResourceOwnerSpec.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/persistence/PostgresIT.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/ImplicitPartyAdditionIT.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/TransactionMRTComplianceIT.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/JdbcLedgerDaoSpec.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedgerSpec.scala
Labels: automerge

#3882 Change variant JSON encoding, so it is easier to pattern match on it in TypeScript
  bazel_tools/runfiles/src/main/scala/com/digitalasset/daml/bazeltools/BazelRunfiles.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DarReader.scala
  docs/source/json-api/lf-value-specification.rst
  extractor/src/test/suite/scala/com/digitalasset/extractor/GenMapSpec.scala
  extractor/src/test/suite/scala/com/digitalasset/extractor/RecordsAndVariantsSpec.scala
  language-support/ts/codegen/tests/ts/generated/src/__tests__/test.ts
  ledger-service/http-json/src/main/scala/com/digitalasset/http/CommandService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Config.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsFetch.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/PackageService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/domain.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/DomainJsonDecoder.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/HttpCodec.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/JsValueToApiValueConverter.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/JsonError.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/SprayJson.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/query/ValuePredicate.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/util/ApiValueToLfValueConverter.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/util/Commands.scala
  ledger-service/http-json/src/test/daml/Account.daml
  ledger-service/http-json/src/test/scala/com/digitalasset/http/AbstractHttpServiceIntegrationTest.scala
  ledger-service/lf-value-json/BUILD.bazel
  ledger-service/lf-value-json/src/main/scala/com/digitalasset/daml/lf/value/json/ApiCodecCompressed.scala
  ledger-service/lf-value-json/src/main/scala/com/digitalasset/daml/lf/value/json/JsonVariant.scala
  ledger-service/lf-value-json/src/test/daml/JsonEncodingTest.daml
  ledger-service/lf-value-json/src/test/scala/com/digitalasset/daml/lf/value/json/ApiCodecCompressedSpec.scala
  ledger-service/utils/BUILD.bazel
  ledger-service/utils/src/main/scala/com/digitalasset/ledger/service/MetadataReader.scala
  ledger-service/utils/src/main/scala/com/digitalasset/util/ExceptionOps.scala
Labels: automerge

#3925 Remove unused dependencies to da_scala_test(_suite)
  bazel-java-deps.bzl
  bazel_tools/pom_file.bzl
  bazel_tools/scala.bzl
  compiler/scenario-service/server/BUILD.bazel
  daml-assistant/scala-daml-project-config/BUILD.bazel
  daml-lf/archive/BUILD.bazel
  daml-lf/encoder/BUILD.bazel
  daml-lf/engine/BUILD.bazel
  daml-lf/interface/BUILD.bazel
  daml-lf/language/BUILD.bazel
  daml-lf/scenario-interpreter/BUILD.bazel
  extractor/BUILD.bazel
  language-support/codegen-common/BUILD.bazel
  language-support/java/bindings-rxjava/BUILD.bazel
  language-support/java/bindings/BUILD.bazel
  language-support/java/codegen/BUILD.bazel
  language-support/scala/bindings-akka/BUILD.bazel
  language-support/scala/codegen-sample-app/BUILD.bazel
  language-support/scala/codegen/BUILD.bazel
  ledger-api/rs-grpc-akka/BUILD.bazel
  ledger-service/db-backend/BUILD.bazel
  ledger-service/http-json/BUILD.bazel
  ledger-service/jwt/BUILD.bazel
  ledger-service/lf-value-json/BUILD.bazel
  ledger-service/utils/BUILD.bazel
  ledger/ledger-api-akka/BUILD.bazel
  ledger/ledger-api-auth/BUILD.bazel
  ledger/ledger-api-client/BUILD.bazel
  ledger/ledger-api-common/BUILD.bazel
  ledger/ledger-api-health/BUILD.bazel
  ledger/ledger-api-scala-logging/BUILD.bazel
  ledger/participant-state-index/BUILD.bazel
  ledger/participant-state/BUILD.bazel
  ledger/participant-state/kvutils/BUILD.bazel
  ledger/sandbox/BUILD.bazel
  navigator/backend/BUILD.bazel
Labels: automerge
