Repository digital-asset/daml, pull requests merged in 2019-07, with the labels that each got.

#1944 Mask async exceptions in updateFileDiagnostics
  compiler/hie-core/src/Development/IDE/Core/Shake.hs
  compiler/lsp-tests/BUILD.bazel
Labels: automerge

#1932 fixing issue of returning inclusive ledger offsets with completions
  language-support/hs/bindings/test/DA/Ledger/Tests.hs
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/commands/CommandCompletionServiceIT.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/SandboxIndexAndWriteService.scala
  unreleased.rst
Labels: automerge, component/ledger

#1952 Use install script in integration test for unix.
  daml-assistant/integration-tests/src/Main.hs
  release/install.bat
Labels: automerge

#1553 provide party and package management in KVUtils and participant-state v1
  ledger/api-server-damlonx/reference/src/main/scala/com/daml/ledger/api/server/damlonx/reference/ReferenceServer.scala
  ledger/participant-state-index/reference/src/main/scala/com/daml/ledger/participant/state/index/v1/impl/reference/IndexState.scala
  ledger/participant-state-index/reference/src/main/scala/com/daml/ledger/participant/state/index/v1/impl/reference/ReferenceIndexService.scala
  ledger/participant-state/kvutils/BUILD.bazel
  ledger/participant-state/kvutils/src/main/protobuf/daml_kvutils.proto
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/InMemoryKVParticipantState.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/KeyValueCommitting.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/KeyValueConsumption.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/KeyValueSubmission.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/package.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/InMemoryKVParticipantStateIT.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/Offset.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/PartyAllocationResult.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/ReadService.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/RejectionReason.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/Update.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/UploadPackagesResult.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/WritePackagesService.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/WritePartyService.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/WriteService.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/package.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/Offset.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/RejectionReason.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/WriteService.scala
Labels: automerge, component/dlik, component/ledger

#1951 adapting docs to match state as is regarding not supporting dalf files
  docs/source/support/release-notes.rst
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/cli/Cli.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/InMemoryPackageStore.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/cli/CliSpec.scala
  unreleased.rst
Labels: automerge, component/ledger

#1959 Combine all artifacts output by damlc in .daml
  compiler/hie-core/src/Development/IDE/Core/Compile.hs
  compiler/hie-core/src/Development/IDE/Types/Options.hs
  daml-assistant/integration-tests/src/Main.hs
  daml-foundations/daml-ghc/ghc-compiler/src/DA/Daml/GHC/Compiler/Options.hs
  daml-foundations/daml-ghc/package-database/util.bzl
  daml-foundations/daml-tools/daml-cli/DA/Cli/Damlc.hs
  docs/source/tools/assistant.rst
  unreleased.rst
Labels: automerge

#1956 Fix running the IDE on damlc
  .hie-bios
  bazel_tools/ghci-template.sh
  build.sh
  compiler/hie-core/hie-core-daml.sh
  daml-foundations/daml-ghc/daml-compiler/src/DA/Service/Daml/Compiler/Impl/Dar.hs
  daml-foundations/daml-ghc/ide/src/Development/IDE/Core/API.hs
  daml-foundations/daml-ghc/ide/src/Development/IDE/Core/RuleTypes/Daml.hs
  daml-foundations/daml-ghc/ide/src/Development/IDE/Core/Rules/Daml.hs
  daml-foundations/daml-ghc/ide/src/Development/IDE/Core/Service/Daml.hs
  daml-foundations/daml-ghc/ide/test/Development/IDE/State/API/Testing.hs
  daml-foundations/daml-ghc/test-src/DA/Test/GHC.hs
  daml-foundations/daml-ghc/test-src/DA/Test/ShakeIdeClient.hs
  daml-foundations/daml-tools/daml-cli/DA/Cli/Damlc.hs
  daml-foundations/daml-tools/daml-cli/DA/Cli/Damlc/IdeState.hs
  daml-foundations/daml-tools/daml-cli/DA/Cli/Damlc/Test.hs
Labels: automerge

#1963 Use the default dar path in the quickstart-java example
  daml-assistant/integration-tests/src/Main.hs
  docs/source/getting-started/quickstart.rst
  docs/source/getting-started/quickstart/template-root/pom.xml
Labels: automerge

#1961 The completion stream RPC defaults to the ledger end as offset
  language-support/java/bindings-rxjava/src/main/java/com/daml/ledger/rxjava/CommandCompletionClient.java
  language-support/java/bindings-rxjava/src/main/java/com/daml/ledger/rxjava/DamlLedgerClient.java
  language-support/java/bindings-rxjava/src/main/java/com/daml/ledger/rxjava/grpc/CommandCompletionClientImpl.java
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/components/tests/helpers/DummyLedgerClient.scala
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/CompletionStreamRequest.java
  ledger-api/testing-utils/src/main/scala/com/digitalasset/ledger/api/testing/utils/MockMessages.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/ledger/api/validation/CompletionServiceRequestValidator.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/ledger/api/validation/LedgerOffsetValidator.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/ledger/api/validation/TransactionServiceRequestValidator.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/services/grpc/GrpcCommandCompletionService.scala
  ledger/ledger-api-domain/src/main/scala/com/digitalasset/ledger/api/messages/command/completion/CompletionStreamRequest.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/commands/CommandCompletionServiceIT.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/ApiCommandCompletionService.scala
  unreleased.rst
Labels: automerge

#1969 Buildifier: Exclude ./node_modules
  BUILD
Labels: automerge

#1973 Docs fixes based on Mopinion feedback
  docs/configs/pdf/index.rst
  docs/source/concepts/glossary.rst
  docs/source/getting-started/installation.rst
  docs/source/getting-started/introduction.rst
  docs/source/getting-started/quickstart.rst
  docs/source/getting-started/quickstart/images/contracts.png
  docs/source/getting-started/quickstart/images/createIou.png
  docs/source/getting-started/quickstart/images/ledger.png
  docs/source/getting-started/quickstart/images/tradeProp.png
  docs/source/index.rst
Labels: automerge

#1863 started centralizing api Test utils
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/PackageManagementServiceIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/TransactionServiceIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/TransactionServiceLargeCommandIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/WitnessesIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/commands/CommandClientIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/commands/CommandCompletionServiceIT.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/PlatformApplications.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/CommandTransactionChecks.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/LedgerContextExtensions.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/TestUtils.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/tests/integration/ledger/api/LedgerTestingHelpers.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/tests/integration/ledger/api/ParameterShowcaseTesting.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/tests/integration/ledger/api/TransactionServiceHelpers.scala
Labels: automerge

#1974 Fix race condition in termination of scenario service
  compiler/scenario-service/client/src/DA/Daml/LF/ScenarioServiceClient/LowLevel.hs
Labels: automerge

#1917 daml-lf: create value version 5 for enum types
  daml-lf/encoder/BUILD.bazel
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/testing/archive/EncodeV1.scala
  daml-lf/encoder/src/test/lf/since_1.dev/Enum.lf
  daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/testing/archive/EncodeV1Spec.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineInfoTest.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/VersionTimeline.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/ValueVersion.scala
  extractor/BUILD.bazel
  extractor/src/main/scala/com/digitalasset/extractor/Types.scala
  extractor/src/main/scala/com/digitalasset/extractor/json/JsonConverters.scala
  extractor/src/main/scala/com/digitalasset/extractor/ledger/types/LedgerValue.scala
  extractor/src/main/scala/com/digitalasset/extractor/writers/postgresql/MultiTableDataFormat.scala
  extractor/src/main/scala/com/digitalasset/extractor/writers/postgresql/Queries.scala
  extractor/src/test/suite/scala/com/digitalasset/extractor/EnumSpec.scala
  navigator/backend/src/test/scala/com/digitalasset/navigator/backend/DamlConstants.scala
  navigator/backend/src/test/scala/com/digitalasset/navigator/backend/json/ApiCodecCompressedSpec.scala
Labels: automerge-after-rebase, component/daml-lf

#1962 Allow shadowing of type variables in DAML and DAML-LF
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Check.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Env.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Error.hs
  daml-foundations/daml-ghc/BUILD.bazel
  daml-foundations/daml-ghc/ghc-compiler/src/DA/Daml/GHC/Compiler/Convert.hs
  daml-foundations/daml-ghc/tests/TypeVarShadowing.daml
  daml-foundations/daml-ghc/util.bzl
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/ValidationError.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/TypingSpec.scala
Labels: automerge

#1980 Cleanup moduleImportPaths now that file paths are normalized
  compiler/hie-core/src/Development/IDE/Core/Compile.hs
Labels: automerge

#1983 Make Priority in hie-core independent of DAML
  compiler/hie-core/src/Development/IDE/Core/Rules.hs
  compiler/hie-core/src/Development/IDE/Core/Shake.hs
  daml-foundations/daml-ghc/ide/src/Development/IDE/Core/Rules/Daml.hs
Labels: automerge

#1986 Restart on nix compression errors
  ci/dev-env-install.sh
Labels: automerge

#1978 Initial Ledger API Server
  ledger/api-server-damlonx/reference-v2/BUILD.bazel
  ledger/api-server-damlonx/reference-v2/src/main/resources/logback.xml
  ledger/api-server-damlonx/reference-v2/src/main/scala/com/daml/ledger/api/server/damlonx/reference/v2/ReferenceServer.scala
  ledger/participant-state/kvutils/BUILD.bazel
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/InMemoryKVParticipantState.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/v2/ParticipantStateConversion.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/SubmissionResult.scala
  ledger/sandbox/BUILD.bazel
  ledger/sandbox/src/main/resources/db/migration/V6__External_Ledger_Offset.sha256
  ledger/sandbox/src/main/resources/db/migration/V6__External_Ledger_Offset.sql
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/Indexer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/PostgresIndex.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/PostgresIndexer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/StandaloneIndexServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/StandaloneIndexerServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/cli/Cli.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/config/Config.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/metrics/MetricsManager.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/ApiSubmissionService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/transaction/SandboxEventIdFormatter.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/SandboxIndexAndWriteService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/Ledger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/MeteredLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/SandboxContractStore.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/ReadOnlySqlLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/LedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/MeteredLedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/PostgresLedgerDao.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/PostgresDaoSpec.scala
Labels: component/ledger

#1987 Hide some hie-core modules
  compiler/hie-core/BUILD.bazel
  compiler/hie-core/hie-core.cabal
Labels: automerge

#1992 Clean up hie-core
  compiler/hie-core/src/Development/IDE/Core/Compile.hs
  compiler/hie-core/src/Development/IDE/Core/Rules.hs
  compiler/hie-core/src/Development/IDE/Import/FindImports.hs
  compiler/hie-core/src/Development/IDE/Spans/Calculate.hs
Labels: automerge

#1749 Defining first endpoints for ledger-service/http-json
  daml-lf/interface/BUILD.bazel
  extractor/BUILD.bazel
  extractor/src/main/scala/com/digitalasset/extractor/Extractor.scala
  extractor/src/main/scala/com/digitalasset/extractor/Types.scala
  extractor/src/main/scala/com/digitalasset/extractor/helpers/TemplateIds.scala
  extractor/src/main/scala/com/digitalasset/extractor/writers/PostgreSQLWriter.scala
  extractor/src/main/scala/com/digitalasset/extractor/writers/PrinterFunctionWriter.scala
  extractor/src/main/scala/com/digitalasset/extractor/writers/Writer.scala
  extractor/src/main/scala/com/digitalasset/extractor/writers/postgresql/DataFormat.scala
  extractor/src/main/scala/com/digitalasset/extractor/writers/postgresql/MultiTableDataFormat.scala
  extractor/src/main/scala/com/digitalasset/extractor/writers/postgresql/SingleTableDataFormat.scala
  ledger-api/http-json/BUILD.bazel
  ledger-service/http-json/BUILD.bazel
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Main.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/PackageService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/domain.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/HttpCodec.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/JsonProtocol.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/ResponseFormats.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/util/ClientUtil.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/util/FutureUtil.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/Generators.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/GeneratorsTest.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/HttpServiceIntegrationTest.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/PackageServiceTest.scala
  ledger-service/utils/BUILD.bazel
  ledger-service/utils/src/main/scala/com/digitalasset/ledger/service/LedgerReader.scala
  ledger-service/utils/src/main/scala/com/digitalasset/ledger/service/TemplateIds.scala
Labels: component/ledger

#1991 Implement debouncing of diagnostics
  compiler/hie-core/src/Development/IDE/Core/Debouncer.hs
  compiler/hie-core/src/Development/IDE/Core/Shake.hs
  compiler/lsp-tests/src/Main.hs
Labels: automerge

#1995 resolve daml warnings for language-support
  extractor/BUILD.bazel
  language-support/java/codegen/src/it/daml/Lib.daml
  language-support/java/codegen/src/ledger-tests/daml/AllTests.daml
Labels: automerge

#1976 Ledger API Test Tool: skip semantic tests on unsupported Ledger API.
  ledger/ledger-api-integration-tests/src/test/semanticsuite/scala/com/digitalasset/platform/semantictest/SandboxSemanticTestsLfRunner.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/Cli.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/ToolReporter.scala
  ledger/test-common/src/main/scala/com.digitalasset.platform.testing/MultiFixtureBase.scala
Labels: automerge-after-rebase

#1998 Add Development.IDE.Core.Debouncer to library other-modules
  compiler/hie-core/hie-core.cabal
Labels: automerge

#2003 collect historical download data
  azure-cron.yml
  infra/data_bucket.tf
  infra/main.tf
Labels: automerge

#2004 Fix flaky LSP stress tests
  compiler/hie-core/src/Development/IDE/Core/Shake.hs
  compiler/lsp-tests/src/Main.hs
Labels: automerge

#2007 Remove unused damlPreprocessorImports
  daml-foundations/daml-ghc/ghc-compiler/src/DA/Daml/GHC/Compiler/Preprocessor.hs
Labels: automerge

#2008 Remove outdated fixme in scenario service client
  compiler/scenario-service/client/src/DA/Daml/LF/ScenarioServiceClient/LowLevel.hs
Labels: automerge

#2010 Fix some expected failures in damlc-shake-tests
  compiler/hie-core/src/Development/IDE/Spans/AtPoint.hs
  compiler/hie-core/src/Development/IDE/Spans/Calculate.hs
  compiler/hie-core/src/Development/IDE/Spans/Type.hs
  compiler/lsp-tests/src/Main.hs
  daml-foundations/daml-ghc/BUILD.bazel
  daml-foundations/daml-ghc/README.md
  daml-foundations/daml-ghc/test-src/DA/Test/ShakeIdeClient.hs
Labels: automerge

#1864 purge all `Map#mapValues` from `daml-lf` codebase
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/InsertOrdMap.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Event.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/AstRewriter.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/TypeSubst.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Util.scala
Labels: automerge

#2011 Add Min and Max newtypes
  daml-foundations/daml-ghc/daml-stdlib-src/DA/Semigroup.daml
  daml-foundations/daml-ghc/daml-stdlib-src/LibraryModules.daml
  daml-foundations/daml-ghc/tests/SemigroupTest.daml
  daml-foundations/daml-ghc/tests/Stdlib.daml
  unreleased.rst
Labels: automerge

#2002 Make DivulgenceIT work with the test tool
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/DivulgenceIT.scala
  unreleased.rst
Labels: component/dlik

#2014 Expose TcModuleResult in RuleTypes
  compiler/hie-core/src/Development/IDE/Core/Compile.hs
  compiler/hie-core/src/Development/IDE/Core/RuleTypes.hs
Labels: automerge

#2012 remove some build warnings
  daml-lf/archive/src/test/daml/DarReaderTest.daml
  daml-lf/tests/AuthorizedDivulgence.daml
  daml-lf/tests/DontDiscloseNonConsumingChoicesToObservers.daml
  language-support/hs/bindings/examples/nim-console/daml/Nim.daml
  language-support/scala/codegen-sample-app/src/main/daml/MyMain.daml
  ledger/ledger-api-integration-tests/src/test/semanticsuite/daml/SemanticTests.daml
Labels: automerge-after-rebase

#1967 check that submitter is in maintainers for lookup by key
  compiler/scenario-service/client/src/DA/Daml/LF/PrettyScenario.hs
  compiler/scenario-service/protos/scenario_service.proto
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Context.scala
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-foundations/daml-ghc/BUILD.bazel
  daml-foundations/daml-ghc/test-src/DA/Test/GHC.hs
  daml-foundations/daml-ghc/tests/SubmitterInMaintainers_after_1866.daml
  daml-foundations/daml-ghc/tests/SubmitterInMaintainers_before_1866.daml
  daml-lf/archive/da/daml_lf_1.proto
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Blinding.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ShouldCheckSubmitterInMaintainers.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Command.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SError.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/types/Ledger.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/interp/testing/InterpTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SpeedyTest.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
  daml-lf/repl/src/main/scala/com/digitalasset/daml/lf/repl/Main.scala
  daml-lf/scenario-interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ScenarioRunnerTest.scala
  daml-lf/spec/daml-lf-1.rst
  daml-lf/testing-tools/src/main/scala/com/digitalasset/daml/lf/engine/testing/SemanticTester.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/command/Command.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/VersionTimeline.scala
  docs/source/daml/reference/contract-keys.rst
  ledger/ledger-api-integration-tests/BUILD.bazel
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/commands/CommandTransactionChecksNo1866IT.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/CommandTransactionChecks.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/CommandTransactionChecksHighLevel.scala
  ledger/sandbox/BUILD.bazel
  ledger/sandbox/historical-dars/README.md
  ledger/sandbox/historical-dars/Test-1.5.dar
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/ScenarioLoader.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/inmemory/InMemoryLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedger.scala
  ledger/sandbox/src/test/resources/damls/Test.daml
  unreleased.rst
Labels: automerge

#2021 Refactor generatePackageMap
  daml-foundations/daml-ghc/daml-compiler/src/DA/Service/Daml/Compiler/Impl/Dar.hs
  daml-foundations/daml-ghc/ghc-compiler/src/DA/Daml/GHC/Compiler/Upgrade.hs
  daml-foundations/daml-ghc/ide/src/Development/IDE/Core/RuleTypes/Daml.hs
  daml-foundations/daml-ghc/ide/src/Development/IDE/Core/Rules/Daml.hs
  daml-foundations/daml-tools/daml-cli/DA/Cli/Damlc.hs
  daml-foundations/daml-tools/daml-cli/DA/Cli/Damlc/IdeState.hs
Labels: automerge

#2018 remove cmd echo from build.sh
  build.sh
Labels: automerge-after-rebase

#2016 record build times & statuses
  azure-pipelines.yml
  ci/report-end.yml
  ci/report-start.yml
  ci/tell-slack-failed.yml
Labels: automerge

#2020 Remove DA.HKTemplate from daml-stdlib
  daml-foundations/daml-ghc/daml-stdlib-src/DA/HKTemplate.daml
  daml-foundations/daml-ghc/daml-stdlib-src/DA/Newtype.daml
  daml-foundations/daml-ghc/daml-stdlib-src/LibraryModules.daml
  daml-foundations/daml-ghc/tests/HKTemplate.daml
  daml-foundations/daml-ghc/tests/Stdlib.daml
Labels: automerge

#2024 Add a reference server main class that starts an ephemeral postgres server
  ledger/api-server-damlonx/reference-v2/BUILD.bazel
  ledger/api-server-damlonx/reference-v2/src/test/scala/com/daml/ledger/api/server/damlonx/reference/v2/EphemeralPostgresReferenceServerMain.scala
Labels: automerge, component/dlik

#1957 Update to bazel-0.27
  .bazelrc
  .hie-bios
  BUILD
  WORKSPACE
  bazel_tools/dev_env_package/dev_env_package.bzl
  bazel_tools/dev_env_package/dev_env_package.py
  bazel_tools/fat_cc_library.bzl
  bazel_tools/grpc-java-plugin-visibility.patch
  bazel_tools/haskell-windows-library-dirs.patch
  bazel_tools/hlint.bzl
  bazel_tools/packaging/packaging.bzl
  bazel_tools/pom_file.bzl
  bazel_tools/scala-escape-jvmflags.patch
  bazel_tools/scala.bzl
  daml-assistant/BUILD.bazel
  daml-assistant/daml-helper/BUILD.bazel
  daml-foundations/daml-tools/daml-extension/BUILD.bazel
  daml-foundations/daml-tools/daml-extension/package.json
  daml-foundations/daml-tools/daml-extension/yarn.lock
  daml-foundations/daml-tools/damlc-app/BUILD.bazel
  deps.bzl
  dev-env/windows/manifests/bazel.json
  docs/BUILD.bazel
  navigator/frontend/BUILD.bazel
  navigator/frontend/package.json
  navigator/frontend/yarn.lock
  nix/bazel.nix
  nix/overrides/bazel/default.nix
  nix/overrides/bazel/nix-hacks.patch
  nix/overrides/bazel/src-deps.json
  nix/tools/bazel-deps/default.nix
  nix/tools/bazel-watcher/default.nix
  package.json
  yarn.lock
Labels: automerge

#2023 ghc-lib-8.8.0.20190704.selective-optimizations-off
  3rdparty/haskell/BUILD.ghc-lib-parser
  WORKSPACE
Labels: automerge

#2029 Hlb transaction service
  language-support/hs/bindings/src/DA/Ledger.hs
  language-support/hs/bindings/src/DA/Ledger/Convert.hs
  language-support/hs/bindings/src/DA/Ledger/Services/TransactionService.hs
  language-support/hs/bindings/src/DA/Ledger/Types.hs
  language-support/hs/bindings/test/DA/Ledger/Tests.hs
Labels: component/ledger

#2022 Make PostgresIndexer persist PublicPackagesUploaded
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/PostgresIndexer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/PostgresLedgerDao.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/PostgresDaoSpec.scala
Labels: automerge, component/ledger

#1999 DamlOnXSubmissionService shuts down ExecutorService on close
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/Server.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/DamlOnXSubmissionService.scala
  ledger/participant-state-index/reference/src/main/scala/com/daml/ledger/participant/state/index/v1/impl/reference/ReferenceIndexService.scala
  unreleased.rst
Labels: component/dlik

#2032 Integration test fixes + enable tests for postgres index|er
  ledger/api-server-damlonx/reference-v2/BUILD.bazel
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/TransactionServiceIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/commands/ContractKeysIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/commands/ContractKeysNo1866IT.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/CommandTransactionChecks.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/ContractKeysChecks.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/SandboxIndexAndWriteService.scala
Labels: automerge, component/dlik, component/ledger

#2031 Generate a list of single package updates for an upload message containing multiple packages
  ledger/participant-state-index/reference/src/main/scala/com/daml/ledger/participant/state/index/v1/impl/reference/IndexState.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/InMemoryKVParticipantState.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/KeyValueConsumption.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/v2/ParticipantStateConversion.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/InMemoryKVParticipantStateIT.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/ReadService.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/Update.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/WritePackagesService.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/ReadService.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/Update.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/WritePackagesService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/PostgresIndexer.scala
Labels: automerge, component/dlik, component/ledger

#2036 clean up versions v1 and v2 of participant-state
  ledger/api-server-damlonx/reference-v2/BUILD.bazel
  ledger/api-server-damlonx/reference-v2/src/main/scala/com/daml/ledger/api/server/damlonx/reference/v2/ParticipantStateConversion.scala
  ledger/api-server-damlonx/reference-v2/src/main/scala/com/daml/ledger/api/server/damlonx/reference/v2/ReferenceServer.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/ReadService.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/UploadPackagesResult.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/PartyAllocationResult.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/Update.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/UploadPackagesResult.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/PostgresIndexer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/admin/ApiPackageManagementService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/admin/ApiPartyManagementService.scala
Labels: automerge, component/dlik, component/ledger

#2039 Get hlint into the build system
  WORKSPACE
Labels: automerge

#2042 Fix VSCode extension and remove silly warnings
  azure-cron.yml
  compiler/damlc/daml-ide/src/DA/Service/Daml/LanguageServer.hs
  compiler/hie-core/src/Development/IDE/LSP/Notifications.hs
Labels: automerge

#2052 Clarify release instructions
  release/RELEASE.md
Labels: automerge

#2051 Fix VSCode path for mac in daml assistant
  daml-assistant/daml-helper/src/DamlHelper/Run.hs
  unreleased.rst
Labels: automerge

#2055 Fix conversion of getTag and tagToEnum#
  compiler/damlc/daml-lf-conversion/src/DA/Daml/GHC/Compiler/Convert.hs
  compiler/damlc/test-files/EnumLF.daml
Labels: automerge

#2059 Improve logic for building daml-lf-archive-java
  daml-lf/archive/BUILD.bazel
  unreleased.rst
Labels: automerge, component/daml-lf

#2067 hlb, support: ActiveContractsService
  language-support/hs/bindings/src/DA/Ledger/Convert.hs
  language-support/hs/bindings/src/DA/Ledger/Services.hs
  language-support/hs/bindings/src/DA/Ledger/Services/ActiveContractsService.hs
  language-support/hs/bindings/src/DA/Ledger/Stream.hs
  language-support/hs/bindings/test/DA/Ledger/Tests.hs
Labels: component/ledger

#2013 damldoc: Move towards extracting information from TypecheckedModule in HaddockParse.
  compiler/damlc/BUILD.bazel
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Anchor.hs
  compiler/damlc/daml-doc/src/DA/Daml/Doc/HaddockParse.hs
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Render/Hoogle.hs
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Render/Markdown.hs
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Render/Rst.hs
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Types.hs
  compiler/damlc/daml-doc/test/DA/Daml/GHC/Damldoc/Render/Tests.hs
  compiler/damlc/daml-prim-src/GHC/Base.daml
  compiler/damlc/daml-prim-src/GHC/Enum.daml
  compiler/damlc/daml-prim-src/GHC/Err.daml
  compiler/damlc/daml-prim-src/GHC/Num.daml
  compiler/damlc/daml-prim-src/GHC/Show.daml
  compiler/damlc/daml-prim-src/GHC/Types.daml
  compiler/damlc/lib/DA/Cli/Damlc/Command/Damldoc.hs
  unreleased.rst
Labels: automerge

#2074 Prepare release
  VERSION
  docs/source/support/release-notes.rst
  unreleased.rst
Labels: automerge

#2078 Small fixes to release test instructions
  release/RELEASE.md
Labels: automerge

#2081 Issue #2064 Include com.digitalasset namespacing in package names
  bazel_tools/client_server_test/tests/BUILD.bazel
  bazel_tools/client_server_test/tests/server.scala
  scala-protoc-plugins/scala-akka/AkkaGrpcServicePrinter.scala
  scala-protoc-plugins/scala-akka/AkkaStreamGenerator.scala
  scala-protoc-plugins/scala-akka/BUILD.bazel
  scala-protoc-plugins/scala-logging/BUILD.bazel
  scala-protoc-plugins/scala-logging/LoggingCompilerPlugin.scala
  scala-protoc-plugins/scalapb/BUILD.bazel
  scala-protoc-plugins/scalapb/ScalaPbCompilerPlugin.scala
Labels: automerge

#2087 damldoc: Apply annotations to JSON input.
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Driver.hs
  compiler/damlc/daml-prim-src/GHC/Base.daml
  compiler/damlc/daml-prim-src/GHC/Enum.daml
  compiler/damlc/daml-prim-src/GHC/Err.daml
  compiler/damlc/daml-prim-src/GHC/Num.daml
  compiler/damlc/daml-prim-src/GHC/Show.daml
  compiler/damlc/daml-prim-src/GHC/Types.daml
Labels: automerge

#2085 fixing unhandled passTime cases in scenario loader
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/SandboxIndexAndWriteService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/Ledger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/ScenarioLoader.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/inmemory/InMemoryLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/inmemory/LedgerEntries.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedger.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/LedgerResource.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/ScenarioLoadingITBase.scala
  ledger/sandbox/src/test/resources/damls/Test.daml
  unreleased.rst
Labels: automerge, component/ledger

#2075 haskell ledger bindings -- LedgerConfigurationService
  language-support/hs/bindings/BUILD.bazel
  language-support/hs/bindings/src/DA/Ledger/Convert.hs
  language-support/hs/bindings/src/DA/Ledger/Services.hs
  language-support/hs/bindings/src/DA/Ledger/Services/LedgerConfigurationService.hs
  language-support/hs/bindings/src/DA/Ledger/Stream.hs
  language-support/hs/bindings/src/DA/Ledger/Types.hs
  language-support/hs/bindings/test/DA/Ledger/Tests.hs
Labels: component/ledger

#2086 Small docs fixes
  docs/source/app-dev/index.rst
  docs/source/daml/intro/6_Parties.rst
  docs/source/getting-started/quickstart.rst
Labels: automerge

#2089 Refactor GCP logging
  libs-haskell/da-hs-base/BUILD.bazel
  libs-haskell/da-hs-base/src/DA/Service/Logger/Impl/GCP.hs
  libs-haskell/da-hs-base/tests/DataLimit.hs
Labels: automerge

#2076 shortcut to ImmArray#map from ImmArraySeq#map
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/ImmArray.scala
  daml-lf/data/src/test/scala/com/digitalasset/daml/lf/data/ImmArrayTest.scala
Labels: component/daml-engine

#2094 correcting the syntax for color as it breaks the dot command but not web client
  compiler/damlc/lib/DA/Cli/Visual.hs
  compiler/damlc/tests/visual/Basic.dot
Labels: automerge

#2110 Include NOTICES file in release tarballs
  release/BUILD.bazel
Labels: automerge

#2109 damldocs: Generate doc anchors at doc extraction.
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Anchor.hs
  compiler/damlc/daml-doc/src/DA/Daml/Doc/HaddockParse.hs
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Render/Hoogle.hs
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Render/Rst.hs
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Types.hs
  compiler/damlc/daml-doc/test/DA/Daml/GHC/Damldoc/Render/Tests.hs
  compiler/damlc/daml-doc/test/DA/Daml/GHC/Damldoc/Tests.hs
  compiler/damlc/tests/daml-test-files/Iou_template.EXPECTED.rst
Labels: automerge

#2005 loading Dars from ZipInputStreams
  daml-lf/archive/BUILD.bazel
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DarReader.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/UniversalArchiveReader.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DarReaderTest.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/CodeGenRunner.scala
  ledger/api-server-damlonx/reference-v2/src/main/scala/com/daml/ledger/api/server/damlonx/reference/v2/ReferenceServer.scala
  ledger/api-server-damlonx/reference/src/main/scala/com/daml/ledger/api/server/damlonx/reference/ReferenceServer.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/DamlOnXPackageManagementService.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/PackageManagementServiceIT.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/admin/ApiPackageManagementService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/InMemoryPackageStore.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/TestHelpers.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/services/TestCommands.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/PostgresDaoSpec.scala
Labels: automerge, component/ledger

#2107 s/save/safe/
  libs-haskell/da-hs-base/src/DA/Service/Logger/Impl/GCP.hs
Labels: automerge

#2118 Throw away unused resource extensions
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/LedgerContext.scala
  ledger/test-common/src/main/scala/com.digitalasset.platform.testing/ResourceExtensions.scala
Labels: automerge

#2119 Fix extraction of Maven tarball in integration tests
  daml-assistant/integration-tests/src/Main.hs
Labels: automerge

#2122 Filter out checkpoints in completion stream tailing test
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/commands/CommandCompletionServiceIT.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/utils/FirstElementObserver.scala
Labels: automerge, component/ledger

#2091 Keeping loaded packages after reset
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/StandaloneIndexServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/InMemoryPackageStore.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/inmemory/InMemoryLedger.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/TestHelpers.scala
  unreleased.rst
Labels: automerge, component/ledger

#2125 Update rules_haskell - bazel-runfiles
  bazel_tools/haskell-runfiles.patch
  bazel_tools/hazel-runfiles.patch
  deps.bzl
Labels: automerge

#2126 Add useNoFile helpers matching defineNoFile
  compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
  compiler/hie-core/src/Development/IDE/Core/OfInterest.hs
  compiler/hie-core/src/Development/IDE/Core/Rules.hs
  compiler/hie-core/src/Development/IDE/Core/Shake.hs
Labels: automerge

#2116 Removing redundant data
  compiler/damlc/lib/DA/Cli/Visual.hs
  compiler/damlc/tests/visual/Basic.dot
Labels: automerge

#2115 Daml hlint integration
  compiler/damlc/BUILD.bazel
  compiler/damlc/daml-ide-core/BUILD.bazel
  compiler/damlc/daml-ide-core/hlint.yaml
  compiler/damlc/daml-ide-core/src/Development/IDE/Core/RuleTypes/Daml.hs
  compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
  compiler/damlc/daml-ide-core/test/Development/IDE/State/API/Testing.hs
  compiler/damlc/daml-opts/daml-opts-types/DA/Daml/Options/Types.hs
  compiler/damlc/lib/DA/Cli/Damlc.hs
  compiler/damlc/tests/src/DA/Test/ShakeIdeClient.hs
  compiler/hlint-testing/.hlint.yaml
  compiler/hlint-testing/BUILD.bazel
  compiler/hlint-testing/data/default.yaml
  compiler/hlint-testing/data/report_template.html
  compiler/hlint-testing/src/Main.hs
  compiler/lsp-tests/BUILD.bazel
  compiler/lsp-tests/src/Main.hs
Labels: automerge

#2133 Remove filegroup now there's only hlint.yaml
  compiler/damlc/BUILD.bazel
  compiler/damlc/daml-ide-core/BUILD.bazel
Labels: automerge

#1937 Freeze DAML-LF version 1.6
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  compiler/damlc/pkg-db/BUILD.bazel
  daml-lf/archive/BUILD.bazel
  daml-lf/archive/da/daml_lf_1.proto
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV1Spec.scala
  daml-lf/encoder/BUILD.bazel
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/DamlLfEncoder.scala
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/Encode.scala
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/EncodeV1.scala
  daml-lf/encoder/src/test/lf/since_1.6/Enum.lf
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineInfoTest.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageMajorVersion.scala
  daml-lf/spec/daml-lf-1.rst
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/VersionTimeline.scala
  docs/source/app-dev/bindings-java/code-snippets/Enum.daml
  docs/source/app-dev/bindings-java/codegen.rst
  docs/source/support/release-notes.rst
  extractor/BUILD.bazel
  extractor/src/test/resources/damls/RecordsAndVariants.daml
  extractor/src/test/suite/scala/com/digitalasset/extractor/EnumSpec.scala
  extractor/src/test/suite/scala/com/digitalasset/extractor/RecordsAndVariantsSpec.scala
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/Value.java
  language-support/java/codegen/BUILD.bazel
  language-support/java/codegen/src/it/java-1.0/com/digitalasset/lf_1_0/AllTests.java
  language-support/java/codegen/src/it/java-1.0/com/digitalasset/lf_1_0/ListTest.java
  language-support/java/codegen/src/it/java-1.1/com/digitalasset/lf_1_1/AllTests.java
  language-support/java/codegen/src/it/java-1.1/com/digitalasset/lf_1_1/ListTest.java
  language-support/java/codegen/src/it/java-latest/com/digitalasset/lf_latest/AllTests.java
  language-support/java/codegen/src/it/java-latest/com/digitalasset/lf_latest/ListTest.java
  language-support/java/codegen/src/it/java/com/digitalasset/AllGenericTests.java
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/EnumClass.scala
  language-support/java/codegen/src/test/java-1.6/com/digitalasset/lf_1_6/AllTests.java
  language-support/java/codegen/src/test/java-1.6/com/digitalasset/lf_1_6/EnumTest.java
  language-support/scala/codegen-sample-app/BUILD.bazel
  language-support/scala/codegen-sample-app/src/main/daml/MyMain.daml
  language-support/scala/codegen-sample-app/src/test/scala/com/digitalasset/codegen/ScalaCodeGenIT.scala
  unreleased.rst
Labels: automerge-after-rebase, component/daml-engine, component/daml-lf

#2137 clean up unreleased.rst
  unreleased.rst
Labels: automerge-after-rebase

#2113 bundle vsix in sdk tarball
  compiler/daml-extension/BUILD.bazel
  daml-assistant/daml-helper/src/DamlHelper/Main.hs
  daml-assistant/daml-helper/src/DamlHelper/Run.hs
  release/BUILD.bazel
  unreleased.rst
Labels: automerge-after-rebase

#2140 Remove dead file
  ledger/UNRELEASED.md
Labels: automerge

#2132 damldoc: Derive missing type signatures and add links in type signatures.
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Driver.hs
  compiler/damlc/daml-doc/src/DA/Daml/Doc/HaddockParse.hs
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Render.hs
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Render/Rst.hs
  compiler/damlc/daml-doc/test/DA/Daml/GHC/Damldoc/Render/Tests.hs
  compiler/damlc/daml-doc/test/DA/Daml/GHC/Damldoc/Tests.hs
  compiler/damlc/tests/daml-test-files/Iou_template.EXPECTED.md
  compiler/damlc/tests/daml-test-files/Iou_template.EXPECTED.rst
  compiler/damlc/tests/daml-test-files/Newtype.EXPECTED.md
  compiler/damlc/tests/daml-test-files/Newtype.EXPECTED.rst
  unreleased.rst
Labels: automerge

#2104 daml-lf-repl: drop ad-hoc parser
  daml-lf/README.md
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ExprParser.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/package.scala
  daml-lf/repl/BUILD.bazel
  daml-lf/repl/src/main/scala/com/digitalasset/daml/lf/repl/testing/Main.scala
Labels: automerge-after-rebase, component/daml-engine

#2146 haskell ledger bindings, support uploadDarFile
  language-support/hs/bindings/BUILD.bazel
  language-support/hs/bindings/src/DA/Ledger/Services.hs
  language-support/hs/bindings/src/DA/Ledger/Services/PackageManagementService.hs
  language-support/hs/bindings/test/DA/Ledger/Tests.hs
  language-support/hs/bindings/test/daml/for-upload/ExtraModule.daml
  ledger-api/grpc-definitions/BUILD.bazel
Labels: component/ledger

#2152 Same chouce name visual
  compiler/damlc/lib/DA/Cli/Visual.hs
  compiler/damlc/tests/visual/Basic.dot
Labels: automerge

#2153 Prune DA.Generics and fix up some docs.
  compiler/damlc/daml-stdlib-src/DA/Generics.daml
Labels: automerge

#2161 Drop support for DAML-LF 1.5 from damlc
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/EncodeV1.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Check.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion/Primitives.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion/UtilLF.hs
  compiler/damlc/pkg-db/BUILD.bazel
  unreleased.rst
Labels: automerge

#2158 hlint upgrade
  WORKSPACE
Labels: automerge

#2053 navigator: Use LF Value ADT in place of ApiValue ADT
  bazel_tools/scala.bzl
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/DecimalModule.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/FrontStack.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/ImmArray.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/LawlessTraversals.scala
  daml-lf/data/src/test/scala/com/digitalasset/daml/lf/data/FrontStackSpec.scala
  daml-lf/data/src/test/scala/com/digitalasset/daml/lf/data/LawlessTraversalsSpec.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/Parsers.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/participant/util/LfEngineToApi.scala
  navigator/backend/BUILD.bazel
  navigator/backend/src/main/scala/com/digitalasset/navigator/console/Pretty.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/console/commands/Exercise.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/data/DatabaseActions.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/json/ApiCodecCompressed.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/json/ApiCodecVerbose.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/model/ApiValue.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/model/ApiValueImplicits.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/model/converter/Converter.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/model/converter/LedgerApiV1.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/model/package.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/query/filter/package.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/query/project/package.scala
  navigator/backend/src/test/scala/com/digitalasset/navigator/backend/DamlConstants.scala
  navigator/backend/src/test/scala/com/digitalasset/navigator/backend/model/ApiValueSpec.scala
  navigator/backend/src/test/scala/com/digitalasset/navigator/backend/model/ConverterSpec.scala
  navigator/backend/src/test/scala/com/digitalasset/navigator/backend/model/LedgerSpec.scala
  navigator/backend/src/test/scala/com/digitalasset/navigator/backend/query/ContractFilterSpec.scala
  navigator/backend/src/test/scala/com/digitalasset/navigator/backend/query/ContractSortSpec.scala
Labels: component/navigator

#2168 improve doc about enum types
  docs/source/app-dev/daml-lf-translation.rst
  unreleased.rst
Labels: automerge

#2170 Release 0.13.13
  VERSION
  docs/source/support/release-notes.rst
  unreleased.rst
Labels: automerge

#2103 enable old extension test
  compiler/daml-extension/BUILD.bazel
  compiler/daml-extension/check-json.py
  compiler/daml-extension/ci-tests.sh
Labels: automerge-after-rebase

#2177 Add damlc command 'lint'
  compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
  compiler/damlc/lib/DA/Cli/Damlc.hs
Labels: automerge

#2163 Stdlib doc edits
  compiler/damlc/daml-stdlib-src/DA/Internal/Assert.daml
  compiler/damlc/daml-stdlib-src/DA/Internal/Date.daml
  compiler/damlc/daml-stdlib-src/DA/Internal/LF.daml
  compiler/damlc/daml-stdlib-src/DA/Internal/Prelude.daml
  compiler/damlc/daml-stdlib-src/DA/Internal/Template.daml
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/commands/CommandClientIT.scala
Labels: automerge

#2184 Be more specific about SDK removal in Windows installer
  release/windows-installer/src/WindowsInstaller.hs
Labels: automerge

#2182 Rephrase lint exit actions
  compiler/damlc/lib/DA/Cli/Damlc.hs
Labels: automerge

#2180 Support reading of DAML-LF 1.5 in damlc again
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  compiler/damlc/tests/src/DA/Test/DamlcIntegration.hs
  unreleased.rst
Labels: automerge

#2187 Remove unused Bazel patches
  .bazelrc
  nix/overrides/bazel/combined_cache.patch
  nix/overrides/bazel/retry_cache.patch
Labels: automerge

#2189 Mention need to adjust release notes early in the release instructions
  release/RELEASE.md
Labels: automerge

#2195 Remove issue template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: automerge

#2193 In damlc session setup, pass options record around
  compiler/damlc/daml-opts/daml-opts/DA/Daml/Options.hs
Labels: automerge

#2204 runfiles_manifest: normalize was merged upstream
  bazel_tools/haskell-runfiles-normalize.patch
  deps.bzl
Labels: automerge

#2203 More stdlib tweaks
  compiler/damlc/daml-prim-src/GHC/Base.daml
  compiler/damlc/daml-prim-src/GHC/Num.daml
  compiler/damlc/daml-prim-src/GHC/Show.daml
  compiler/damlc/daml-prim-src/GHC/Types.daml
  compiler/damlc/daml-stdlib-src/DA/Assert.daml
  compiler/damlc/daml-stdlib-src/DA/Bifunctor.daml
  compiler/damlc/daml-stdlib-src/DA/Date.daml
  compiler/damlc/daml-stdlib-src/DA/Either.daml
  compiler/damlc/daml-stdlib-src/DA/Foldable.daml
  compiler/damlc/daml-stdlib-src/DA/Internal/LF.daml
  compiler/damlc/daml-stdlib-src/DA/Internal/Prelude.daml
  compiler/damlc/daml-stdlib-src/DA/Internal/Template.daml
Labels: automerge

#2209 Clean up and update owners
  CODEOWNERS
Labels: automerge

#2215 Fix MOVE in GHC.Enum
  compiler/damlc/daml-prim-src/GHC/Enum.daml
Labels: automerge

#2216 Drop two useless occurences of 'import ... as Base'
  compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
  compiler/hie-core/src/Development/IDE/Core/Rules.hs
Labels: automerge

#2207 Handling Dalfs list in Manifest file
  compiler/daml-lf-reader/src/DA/Daml/LF/Reader.hs
  compiler/damlc/tests/BUILD.bazel
  compiler/damlc/tests/src/DamlcVisual.hs
Labels: automerge

#2227 Import the IDE modules unqualified instead of as Compile(rService)
  compiler/damlc/lib/DA/Cli/Damlc/Test.hs
  compiler/damlc/tests/src/DA/Test/DamlcIntegration.hs
  compiler/hie-core/src/Development/IDE/Core/Rules.hs
Labels: automerge

#2144 document contract keys in the ledger model
  docs/source/concepts/ledger-model/images/action-structure-expanded-paint-offer.svg
  docs/source/concepts/ledger-model/images/action-structure-paint-offer.svg
  docs/source/concepts/ledger-model/images/authorization-invalid-obligation.svg
  docs/source/concepts/ledger-model/images/authorization-paint-offer.svg
  docs/source/concepts/ledger-model/images/consequences-are-transactions.svg
  docs/source/concepts/ledger-model/images/consistency-alice-iou-activeness.svg
  docs/source/concepts/ledger-model/images/consistency-order-on-actions.svg
  docs/source/concepts/ledger-model/images/consistency-paint-offer-activeness.svg
  docs/source/concepts/ledger-model/images/divulgence-stale-contracts.svg
  docs/source/concepts/ledger-model/images/double-key-creation-highlighted.svg
  docs/source/concepts/ledger-model/images/double-key-creation.svg
  docs/source/concepts/ledger-model/images/failed-key-assertion.svg
  docs/source/concepts/ledger-model/images/invalid-obligation.svg
  docs/source/concepts/ledger-model/images/models-paint-offer.svg
  docs/source/concepts/ledger-model/images/non-conformant-action.svg
  docs/source/concepts/ledger-model/images/paint-offer-blacklist.svg
  docs/source/concepts/ledger-model/images/paint-offer-ledger.svg
  docs/source/concepts/ledger-model/images/projecting-ledgers-paint-offer.svg
  docs/source/concepts/ledger-model/images/projecting-transactions-paint-offer.svg
  docs/source/concepts/ledger-model/images/signatories-paint-offer.svg
  docs/source/concepts/ledger-model/images/stakeholders-paint-offer.svg
  docs/source/concepts/ledger-model/images/subactions-paint-offer.svg
  docs/source/concepts/ledger-model/images/subtransactions-paint-offer.svg
  docs/source/concepts/ledger-model/ledger-daml.rst
  docs/source/concepts/ledger-model/ledger-integrity.rst
  docs/source/concepts/ledger-model/ledger-privacy.rst
  docs/source/concepts/ledger-model/ledger-structure.rst
  docs/source/daml/reference/contract-keys.rst
Labels: automerge

#2226 Only log the file-names and not the entire archive on startup
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/StandaloneIndexServer.scala
Labels: automerge, component/dlik, component/ledger

#2223 add Bazel bash help
  BAZEL-bash.md
Labels: automerge

#2233 Remove dependency on ghc from daml-helper
  daml-assistant/daml-helper/BUILD.bazel
  daml-assistant/daml-helper/src/DamlHelper/Main.hs
Labels: automerge

#2236 Remove duplication from PrettyScenario
  compiler/scenario-service/client/src/DA/Daml/LF/PrettyScenario.hs
Labels: automerge

#2244 Ignore optional notification and request methods
  compiler/damlc/daml-ide/src/DA/Daml/LanguageServer.hs
Labels: automerge

#2243 hie-core/test: Dedicated test suite for hie-core
  compiler/hie-core/BUILD.bazel
  compiler/hie-core/test/BUILD.bazel
  compiler/hie-core/test/exe/Main.hs
  compiler/hie-core/test/src/Development/IDE/Test.hs
  compiler/lsp-tests/BUILD.bazel
  compiler/lsp-tests/src/Daml/Lsp/Test/Util.hs
Labels: automerge

#2232 language: added a merge command to damlc
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Dar.hs
  compiler/damlc/lib/DA/Cli/Damlc.hs
Labels: automerge

#2248 Prefix method names in generic template classes with underscore
  compiler/damlc/tests/daml-test-files/ComposedKey.daml
  compiler/damlc/tests/daml-test-files/GenTemplCompat.daml
  compiler/damlc/tests/daml-test-files/IouDSL.daml
  compiler/damlc/tests/daml-test-files/ProposalDSL.daml
Labels: automerge

#2250 Fix the source field in daml.yaml produced by daml init
  daml-assistant/daml-helper/src/DamlHelper/Run.hs
Labels: automerge

#2249 Generic templates: erase default implementations of magic methods
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
Labels: automerge

#2251 Remove DA.Daml.LF.Decimal module
  compiler/daml-lf-ast/src/DA/Daml/LF/Decimal.hs
  compiler/scenario-service/client/src/DA/Daml/LF/PrettyScenario.hs
Labels: automerge

#2252 Erase key lookup methods implemented using magic as well
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
Labels: automerge

#2254 Switch to the digital asset hlint fork
  WORKSPACE
Labels: automerge

#2255 eliminate v2 version of the participant-state interface
  ledger/api-server-damlonx/BUILD.bazel
  ledger/api-server-damlonx/reference-v2/BUILD.bazel
  ledger/api-server-damlonx/reference-v2/src/main/scala/com/daml/ledger/api/server/damlonx/reference/v2/ParticipantStateConversion.scala
  ledger/api-server-damlonx/reference-v2/src/main/scala/com/daml/ledger/api/server/damlonx/reference/v2/ReferenceServer.scala
  ledger/api-server-damlonx/reference/BUILD.bazel
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/services/command/time/TimeModelValidator.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/services/time/TimeModel.scala
  ledger/participant-state-index/BUILD.bazel
  ledger/participant-state-index/reference/BUILD.bazel
  ledger/participant-state-index/src/main/scala/com/daml/ledger/participant/state/index/v2/IndexPartyManagementService.scala
  ledger/participant-state/BUILD.bazel
  ledger/participant-state/kvutils/BUILD.bazel
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/Configuration.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/LedgerInitialConditions.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/Offset.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/PartyAllocationResult.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/ReadService.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/RejectionReason.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/SubmissionResult.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/SubmitterInfo.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/TimeModel.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/TransactionMeta.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/Update.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/UploadPackagesResult.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/WritePackagesService.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/WritePartyService.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/WriteService.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/v2.scala
  ledger/sandbox/src/main/scala/com/digitalasset/ledger/server/apiserver/ApiServices.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/Indexer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/PostgresIndex.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/PostgresIndexer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/StandaloneIndexServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/StandaloneIndexerServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/ApiSubmissionService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/admin/ApiPackageManagementService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/admin/ApiPartyManagementService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/SandboxIndexAndWriteService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/CommandExecutor.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/CommandExecutorImpl.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/Ledger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/MeteredLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/inmemory/InMemoryLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/LedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/MeteredLedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/PostgresLedgerDao.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/TestHelpers.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/ImplicitPartyAdditionIT.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/TransactionMRTComplianceIT.scala
  release/artifacts.yaml
Labels: component/dlik, component/ledger

#2241 More integration tests for test tool
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/ActiveContractsServiceIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/TransactionServiceIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/WitnessesIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/commands/CommandServiceIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/commands/CommandSubmissionServiceIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/commands/CommandSubmissionTtlIT.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/LedgerContext.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/TestCommands.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/ledger/acs/data/AcsFutures.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/tests/integration/ledger/api/TransactionServiceHelpers.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/LedgerApiTestTool.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/ToolReporter.scala
Labels: component/dlik, component/ledger

#2265 Add property tests for PositionMapping
  compiler/damlc/tests/BUILD.bazel
  compiler/damlc/tests/src/DA/Test/PositionMapping.hs
  compiler/hie-core/src/Development/IDE/Core/PositionMapping.hs
Labels: automerge

#2267 hlb, support: CommandService, all 4 RPCs
  language-support/hs/bindings/src/DA/Ledger/Services.hs
  language-support/hs/bindings/src/DA/Ledger/Services/CommandService.hs
  language-support/hs/bindings/test/DA/Ledger/Tests.hs
Labels: component/ledger

#2211 ledger-api: Kill legacy identifier
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/DeprecatedIdentifier.scala
  extractor/src/main/scala/com/digitalasset/extractor/ledger/types/LedgerValue.scala
  language-support/hs/bindings/src/DA/Ledger/Convert.hs
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/Identifier.java
  language-support/scala/bindings-akka/src/test/scala/com/digitalasset/ledger/client/binding/DomainTransactionMapperUT.scala
  language-support/scala/bindings/src/main/scala/com/digitalasset/ledger/client/binding/binding/EventDecoderApi.scala
  language-support/scala/bindings/src/main/scala/com/digitalasset/ledger/client/binding/binding/Primitive.scala
  language-support/scala/bindings/src/main/scala/com/digitalasset/ledger/client/binding/binding/Value.scala
  language-support/scala/bindings/src/test/scala/com/digitalasset/ledger/api/refinements/CompositeCommandAdapterUT.scala
  language-support/scala/codegen-testing/src/main/scala/com/digitalasset/ledger/client/binding/encoding/ShowEncoding.scala
  language-support/scala/codegen-testing/src/test/scala/com/digitalasset/ledger/client/binding/PrimitiveSpec.scala
  language-support/scala/codegen-testing/src/test/scala/com/digitalasset/ledger/client/binding/encoding/LfTypeEncodingSpec.scala
  language-support/scala/codegen-testing/src/test/scala/com/digitalasset/ledger/client/binding/encoding/ShowEncodingSpec.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/CodeGen.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/Util.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/lf/EventDecoderGen.scala
  ledger-api/grpc-definitions/com/digitalasset/ledger/api/v1/value.proto
  ledger-api/testing-utils/src/main/scala/com/digitalasset/ledger/api/testing/utils/MockMessages.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/PackageServiceTest.scala
  ledger-service/utils/src/main/scala/com/digitalasset/ledger/service/TemplateIds.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/Server.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/DamlOnXActiveContractsService.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/DamlOnXSubmissionService.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/DamlOnXTransactionService.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/backport/EventFilter.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/backport/GrpcTransactionService.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/ledger/api/validation/CommandsValidator.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/ledger/api/validation/IdentifierValidator.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/ledger/api/validation/TransactionFilterValidator.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/ledger/api/validation/TransactionServiceRequestValidator.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/participant/util/LfEngineToApi.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/services/grpc/GrpcCommandService.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/services/grpc/GrpcCommandSubmissionService.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/services/grpc/GrpcTransactionService.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/validation/FieldValidations.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/validation/IdentifierResolver.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/services/command/ApiCommandService.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/ledger/api/ValueConversionRoundTripTest.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/ledger/api/validation/DefinitionRefValidatorTest.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/ledger/api/validation/IdentifierValidatorTest.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/ledger/api/validation/SubmitRequestValidatorTest.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/ledger/api/validation/TransactionServiceRequestValidatorTest.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/PackageManagementServiceIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/TransactionServiceIT.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/TestTemplateIdentifiers.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/semantictest/ApiScenarioTransform.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/tests/integration/ledger/api/ParameterShowcaseTesting.scala
  ledger/sandbox-perf/src/perf/lib/scala/com/digitalasset/platform/sandbox/perf/LargeTransactionCommands.scala
  ledger/sandbox-perf/src/perf/lib/scala/com/digitalasset/platform/sandbox/perf/TestHelper.scala
  ledger/sandbox/src/main/scala/com/digitalasset/ledger/server/apiserver/ApiServices.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/ApiActiveContractsService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/ApiSubmissionService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/transaction/ApiTransactionService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/ScenarioLoader.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/TestHelpers.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/TestTemplateIdentifiers.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/ScenarioLoadingITLegacyIdentifier.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/services/transaction/EventFilterSpec.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/model/package.scala
  unreleased.rst
Labels: automerge-after-rebase, component/ledger

#2266 Use the build-helper-maven-plugin to add generated sources
  docs/source/getting-started/quickstart.rst
  docs/source/getting-started/quickstart/template-root/pom.xml
  docs/source/getting-started/quickstart/template-root/src/main/java/com/digitalasset/quickstart/iou/IouMain.java
  unreleased.rst
Labels: automerge, component/java-ecosystem

#2278 damlc visual: detect ledger actions at surface level
  compiler/damlc/lib/DA/Cli/Visual.hs
  compiler/damlc/tests/visual/Basic.daml
  compiler/damlc/tests/visual/Basic.dot
Labels: automerge

#2272 Fix inserting contracts in Navigator
  navigator/backend/src/main/scala/com/digitalasset/navigator/data/DatabaseActions.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/data/Queries.scala
  unreleased.rst
Labels: automerge, component/navigator

#2279 Ghc lib 8.8.0.20190723
  3rdparty/haskell/BUILD.ghc-lib-parser
  WORKSPACE
  bazel_tools/haskell-hazel-include-paths.patch
  bazel_tools/haskell-no-isystem.patch
  compiler/hie-core/src/Development/IDE/GHC/CPP.hs
  deps.bzl
Labels: automerge

#2281 Improve debugging output
  compiler/hie-core/src/Development/IDE/Core/Shake.hs
  libs-haskell/bazel-runfiles/src/DA/Bazel/Runfiles.hs
Labels: automerge

#2287 stack/cabal for hie-core-tests
  compiler/hie-core/hie-core.cabal
  compiler/hie-core/stack.yaml
  compiler/hie-core/test/BUILD.bazel
  compiler/hie-core/test/bazel/Development/IDE/Test/Runfiles.hs
  compiler/hie-core/test/cabal/Development/IDE/Test/Runfiles.hs
  compiler/hie-core/test/exe/Main.hs
Labels: automerge

#2288 fix shebang line in daml-sdk-head
  dev-env/bin/daml-sdk-head
Labels: automerge-after-rebase

#2293 Fix hanging hie-core tests with stack
  compiler/hie-core/hie-core.cabal
Labels: automerge

#2299 Add a daml deploy integration test.
  daml-assistant/integration-tests/src/Main.hs
Labels: automerge

#2300 hlb, support: PartyManagementService
  language-support/hs/bindings/src/DA/Ledger/Convert.hs
  language-support/hs/bindings/src/DA/Ledger/GrpcWrapUtils.hs
  language-support/hs/bindings/src/DA/Ledger/Services.hs
  language-support/hs/bindings/src/DA/Ledger/Services/CommandService.hs
  language-support/hs/bindings/src/DA/Ledger/Services/CommandSubmissionService.hs
  language-support/hs/bindings/src/DA/Ledger/Services/PackageManagementService.hs
  language-support/hs/bindings/src/DA/Ledger/Services/PartyManagementService.hs
  language-support/hs/bindings/src/DA/Ledger/Services/TimeService.hs
  language-support/hs/bindings/test/DA/Ledger/Tests.hs
Labels: component/ledger

#2303 Delete now redundant temporary 8.8.1 build notes
  ghc-lib/working-on-ghc-lib.md
Labels: automerge

#2292 navigator: replace Value<->ledger-api conversion with ledger-api-common functions
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/BackStack.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/FrontStack.scala
  daml-lf/data/src/test/scala/com/digitalasset/daml/lf/data/FrontStackSpec.scala
  daml-lf/data/src/test/scala/com/digitalasset/daml/lf/data/ImmArrayTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/types/Ledger.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/Value.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/ledger/api/validation/CommandsValidator.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/ledger/api/validation/ValueValidator.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/ledger/api/ValueConversionRoundTripTest.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/ledger/api/validation/SubmitRequestValidatorTest.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/semantictest/ApiScenarioTransform.scala
  navigator/backend/BUILD.bazel
  navigator/backend/src/main/scala/com/digitalasset/navigator/model/converter/Converter.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/model/converter/LedgerApiV1.scala
  navigator/backend/src/test/scala/com/digitalasset/navigator/backend/model/ConverterSpec.scala
Labels: component/ledger, component/navigator

#2309 damldocs: Drop --json flag, update release notes.
  compiler/damlc/lib/DA/Cli/Damlc/Command/Damldoc.hs
  unreleased.rst
Labels: automerge

#2310 Fix typo in quickstart docs
  docs/source/getting-started/quickstart.rst
Labels: automerge

#2284 Add all packages in bindings-(rx)java to the javadoc
  language-support/java/BUILD.bazel
  unreleased.rst
Labels: automerge, component/documentation, component/java-ecosystem

#2308 Revert "add old releases to hubspot (#2290)"
  azure-cron.yml
Labels: automerge

#2262 Remove ExercisedEvent#contract_creating_event_id.
  extractor/src/main/scala/com/digitalasset/extractor/ledger/types/Event.scala
  extractor/src/main/scala/com/digitalasset/extractor/writers/PostgreSQLWriter.scala
  extractor/src/main/scala/com/digitalasset/extractor/writers/postgresql/MultiTableDataFormat.scala
  extractor/src/main/scala/com/digitalasset/extractor/writers/postgresql/Queries.scala
  extractor/src/main/scala/com/digitalasset/extractor/writers/postgresql/SingleTableDataFormat.scala
  extractor/src/test/lib/scala/com/digitalasset/extractor/services/Types.scala
  language-support/hs/bindings/src/DA/Ledger/Convert.hs
  language-support/hs/bindings/src/DA/Ledger/Types.hs
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/grpc/helpers/TransactionGenerator.scala
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/ExercisedEvent.java
  language-support/java/bindings/src/test/scala/com/daml/ledger/javaapi/data/Generators.scala
  ledger-api/grpc-definitions/com/digitalasset/ledger/api/v1/event.proto
  ledger-api/testing-utils/src/main/scala/com/digitalasset/ledger/api/testing/utils/MockMessages.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/backport/TransactionConversion.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/services/grpc/GrpcTransactionService.scala
  ledger/ledger-api-domain/src/main/scala/com/digitalasset/ledger/api/domain.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/CommandTransactionChecks.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/TransactionConversion.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/data/EventRow.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/data/Queries.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/model/Model.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/model/converter/LedgerApiV1.scala
  navigator/backend/src/test/scala/com/digitalasset/navigator/backend/data/RowSpec.scala
  navigator/backend/src/test/scala/com/digitalasset/navigator/backend/model/LedgerSpec.scala
  unreleased.rst
Labels: automerge, component/extractor, component/ledger, component/navigator

#2313 Eliminate grpc-netty runtime warning after grpc upgrade
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/RemoteServerResource.scala
Labels: automerge, component/ledger

#2131 Idempotent package uploads
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/LedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/MeteredLedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/PostgresLedgerDao.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/PostgresDaoSpec.scala
  unreleased.rst
Labels: automerge, component/ledger
