Repository digital-asset/daml, pull requests merged in 2019-10, with the labels that each got.

#3083 Bump ghcide
  WORKSPACE
  build.sh
  unreleased.rst
Labels: automerge

#3084 Share akka logic between DAML trigger main and tests
  triggers/runner/src/main/scala/com/daml/trigger/Runner.scala
  triggers/tests/src/test/scala/com/daml/trigger/test/AcsMain.scala
Labels: automerge

#3103 Avoid normalizing include dirs
  WORKSPACE
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Dar.hs
  compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
  compiler/damlc/lib/DA/Cli/Damlc.hs
  compiler/lsp-tests/src/DA/Daml/Lsp/Test/Util.hs
  compiler/lsp-tests/src/Main.hs
  unreleased.rst
Labels: automerge

#3107 Fix module names in quickstart example
  docs/source/getting-started/quickstart.rst
  docs/source/getting-started/quickstart/template-root/daml/Tests/Iou.daml
  docs/source/getting-started/quickstart/template-root/daml/Tests/Trade.daml
Labels: automerge

#3109 Release 0.13.28
  VERSION
  docs/source/support/release-notes.rst
  unreleased.rst
Labels: automerge

#3067 Intern all strings and dotted names in the DAML-LF protobuf encoding
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/DecodeV1.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/EncodeV1.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/Error.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/Util.hs
  compiler/damlc/tests/bond-trading/Test.daml
  compiler/damlc/tests/daml-test-files/EnumLF.daml
  compiler/damlc/tests/daml-test-files/ExerciseWithoutActors.daml
  compiler/damlc/tests/daml-test-files/InternedExternalRefs.daml
  compiler/damlc/tests/src/DA/Test/DamlcIntegration.hs
  compiler/damlc/tests/src/query-lf-interned.jq
  compiler/damlc/tests/src/query-lf-non-interned.jq
  daml-lf/archive/BUILD.bazel
  daml-lf/archive/da/daml_lf_1.proto
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeMain.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV1Spec.scala
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/EncodeV1.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageMajorVersion.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
Labels: automerge

#3112 fix release check
  azure-pipelines.yml
Labels: automerge

#3115 Implement ToTextTemplateId primitive on Scala side
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SpeedyTest.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/AstRewriter.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ExprParser.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/Lexer.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/Token.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/TypeSubst.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/traversable/ExprTraversable.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/TypingSpec.scala
Labels: automerge

#3118 Add to_text_template_id primitive to protobuf
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Base.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Pretty.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Recursive.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/DecodeV1.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/EncodeV1.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/Simplifier.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Check.hs
  daml-lf/archive/da/daml_lf_1.proto
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
  daml-lf/spec/daml-lf-1.rst
Labels: automerge

#3119 Typo fix on release-notes.rst
  docs/source/support/release-notes.rst
Labels: automerge

#3001 Engine: update daml-lf value proto
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/NumericModule.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ValueTranslator.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineInfoTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
  daml-lf/spec/value.rst
  daml-lf/transaction-scalacheck/src/main/scala/com/digitalasset/daml/lf/value/TypedValueGenerators.scala
  daml-lf/transaction-scalacheck/src/main/scala/com/digitalasset/daml/lf/value/ValueGenerators.scala
  daml-lf/transaction/src/main/protobuf/com/digitalasset/daml/lf/value.proto
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/VersionTimeline.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/ValueCoder.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/ValueVersion.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/VersionTimelineSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/value/ValueCoderSpec.scala
  daml-lf/unreleased-dev.rst
Labels: automerge-after-rebase, component/daml-engine

#3123 Mark daml json-api as experimental
  release/sdk-config.yaml.tmpl
Labels: automerge

#3108 Remove DAML-on-X IndexServer and Reference Server
  docs/source/concepts/glossary.rst
  docs/source/daml-integration-kit/images/architecture-overview.svg
  docs/source/daml-integration-kit/images/server-classes-and-interfaces.svg
  docs/source/daml-integration-kit/index.rst
  docs/source/index.rst
  docs/source/support/release-notes.rst
  docs/source/tools/ledger-api-test-tool/index.rst
  ledger/api-server-damlonx/BUILD.bazel
  ledger/api-server-damlonx/reference-v2/BUILD.bazel
  ledger/api-server-damlonx/reference/BUILD.bazel
  ledger/api-server-damlonx/reference/src/main/resources/logback.xml
  ledger/api-server-damlonx/reference/src/main/scala/com/daml/ledger/api/server/damlonx/reference/Cli.scala
  ledger/api-server-damlonx/reference/src/main/scala/com/daml/ledger/api/server/damlonx/reference/Config.scala
  ledger/api-server-damlonx/reference/src/main/scala/com/daml/ledger/api/server/damlonx/reference/ReferenceServer.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/Server.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/package.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/DamlOnXActiveContractsService.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/DamlOnXCommandCompletionService.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/DamlOnXLedgerConfigurationService.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/DamlOnXPackageManagementService.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/DamlOnXPackageService.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/DamlOnXPartyManagementService.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/DamlOnXSubmissionService.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/DamlOnXTimeService.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/DamlOnXTransactionService.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/backport/EventFilter.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/backport/EventOps.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/backport/GrpcTransactionService.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/backport/TransactionConversion.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/backport/TransactionService.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/backport/TransactionTreeNodes.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/backport/TransientContractRemover.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/backport/VisibleTransaction.scala
  ledger/participant-state-index/BUILD.bazel
  ledger/participant-state-index/reference/BUILD.bazel
  ledger/participant-state-index/reference/src/main/scala/com/daml/ledger/participant/state/index/v1/impl/reference/BoundedOffsetValidation.scala
  ledger/participant-state-index/reference/src/main/scala/com/daml/ledger/participant/state/index/v1/impl/reference/IndexState.scala
  ledger/participant-state-index/reference/src/main/scala/com/daml/ledger/participant/state/index/v1/impl/reference/MonotonicallyIncreasingOffsetValidation.scala
  ledger/participant-state-index/reference/src/main/scala/com/daml/ledger/participant/state/index/v1/impl/reference/ReferenceIndexService.scala
  ledger/participant-state-index/reference/src/main/scala/com/daml/ledger/participant/state/index/v1/impl/reference/TransactionFiltering.scala
  ledger/participant-state-index/reference/src/test/scala/com/daml/ledger/participant/state/index/v1/impl/reference/BoundedOffsetValidationTest.scala
  ledger/participant-state-index/reference/src/test/scala/com/daml/ledger/participant/state/index/v1/impl/reference/MonotonicallyIncreasingOffsetValidationTest.scala
  ledger/participant-state-index/src/main/scala/com/daml/ledger/participant/state/index/v1/ActiveContractsService.scala
  ledger/participant-state-index/src/main/scala/com/daml/ledger/participant/state/index/v1/CompletionsService.scala
  ledger/participant-state-index/src/main/scala/com/daml/ledger/participant/state/index/v1/ConfigurationService.scala
  ledger/participant-state-index/src/main/scala/com/daml/ledger/participant/state/index/v1/ContractStore.scala
  ledger/participant-state-index/src/main/scala/com/daml/ledger/participant/state/index/v1/IdentityService.scala
  ledger/participant-state-index/src/main/scala/com/daml/ledger/participant/state/index/v1/IndexService.scala
  ledger/participant-state-index/src/main/scala/com/daml/ledger/participant/state/index/v1/PackagesService.scala
  ledger/participant-state-index/src/main/scala/com/daml/ledger/participant/state/index/v1/PartyManagementService.scala
  ledger/participant-state-index/src/main/scala/com/daml/ledger/participant/state/index/v1/TimeService.scala
  ledger/participant-state-index/src/main/scala/com/daml/ledger/participant/state/index/v1/TransactionsService.scala
  ledger/participant-state-index/src/main/scala/com/daml/ledger/participant/state/index/v1/package.scala
  ledger/sandbox/BUILD.bazel
  release/artifacts.yaml
Labels: component/dlik

#3136 Remove custom State monad from daml-trigger
  compiler/damlc/daml-stdlib-src/LibraryModules.daml
  triggers/daml/Daml/Trigger.daml
Labels: automerge

#3137 Fix location of interface files in created dars
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Dar.hs
  daml-assistant/integration-tests/src/Main.hs
  unreleased.rst
Labels: automerge

#3121 extractor: replace bespoke LF value encoder with lf-value-json
  extractor/BUILD.bazel
  extractor/src/main/scala/com/digitalasset/extractor/json/JsonConverters.scala
  extractor/src/main/scala/com/digitalasset/extractor/writers/postgresql/Queries.scala
  extractor/src/test/suite/scala/com/digitalasset/extractor/MapsSpec.scala
  extractor/src/test/suite/scala/com/digitalasset/extractor/OptionalSpec.scala
  extractor/src/test/suite/scala/com/digitalasset/extractor/RecordsAndVariantsSpec.scala
  extractor/src/test/suite/scala/com/digitalasset/extractor/json/JsonConvertersSpec.scala
  unreleased.rst
Labels: component/extractor

#3139 Restrict type-level nats to [0,37].
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Base.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Optics.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Pretty.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/TypeLevelNat.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Util.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/DecodeV1.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/EncodeV1.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Check.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Serializability.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion/Primitives.hs
Labels: automerge

#3152 Add AnyChoice type to DAML
  WORKSPACE
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
  compiler/damlc/daml-stdlib-src/DA/Internal/Desugar.daml
  compiler/damlc/daml-stdlib-src/DA/Internal/LF.daml
  compiler/damlc/daml-stdlib-src/DA/Internal/Template.daml
  compiler/damlc/daml-stdlib-src/Prelude.daml
  compiler/damlc/tests/daml-test-files/AnyChoice.daml
  compiler/damlc/tests/daml-test-files/ProposalDesugared.daml
  triggers/runner/src/main/scala/com/daml/trigger/Converter.scala
Labels: automerge

#3061 Fix automatic retry mechanism in scala bindings.
  language-support/scala/bindings-akka/src/main/scala/com/digitalasset/ledger/client/binding/retrying/CommandRetryFlow.scala
  language-support/scala/bindings-akka/src/test/scala/com/digitalasset/ledger/client/binding/retrying/CommandRetryFlowUT.scala
  unreleased.rst
Labels: automerge, component/scala-ecosystem

#3164 validation: add mising cases in type traversable
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/traversable/TypeTraversable.scala
Labels: automerge, component/daml-engine

#3166 daml-lf: Move archive protofile to a more usual place.
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/Archive.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/Decode.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/DecodeV1.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/Encode.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/EncodeV1.hs
  compiler/damlc/lib/DA/Cli/Damlc.hs
  daml-lf/archive/BUILD.bazel
  daml-lf/archive/src/main/protobuf/com/digitalasset/daml_lf/daml_lf.proto
  daml-lf/archive/src/main/protobuf/com/digitalasset/daml_lf/daml_lf_0.proto
  daml-lf/archive/src/main/protobuf/com/digitalasset/daml_lf/daml_lf_1.proto
  daml-lf/spec/daml-lf-1.rst
  ledger/participant-state/kvutils/src/main/protobuf/daml_kvutils.proto
Labels: automerge, component/daml-lf

#3170 Use UUIDs for command ids emitted from DAML triggers
  triggers/daml/Daml/Trigger/LowLevel.daml
  triggers/runner/src/main/scala/com/daml/trigger/Runner.scala
  triggers/tests/src/test/scala/com/daml/trigger/test/TestMain.scala
Labels: automerge

#3168 daml-lf: rename daml_lf_archive_scala target to daml_lf_archive_reader
  compiler/scenario-service/server/BUILD.bazel
  daml-lf/archive/BUILD.bazel
  daml-lf/encoder/BUILD.bazel
  daml-lf/engine/BUILD.bazel
  daml-lf/interface/BUILD.bazel
  daml-lf/repl/BUILD.bazel
  language-support/java/codegen/BUILD.bazel
  language-support/scala/codegen/BUILD.bazel
  ledger-service/utils/BUILD.bazel
  ledger/api-server-damlonx/reference-v2/BUILD.bazel
  ledger/ledger-api-common/BUILD.bazel
  ledger/ledger-api-integration-tests/BUILD.bazel
  ledger/ledger-api-test-tool/BUILD.bazel
  ledger/participant-state/kvutils/BUILD.bazel
  ledger/sandbox-perf/BUILD.bazel
  ledger/sandbox/BUILD.bazel
  navigator/backend/BUILD.bazel
  release/artifacts.yaml
  triggers/runner/BUILD.bazel
  triggers/tests/BUILD.bazel
Labels: automerge, component/daml-engine

#3090 HTTP JSON API automatic package reload
  docs/source/json-api/index.rst
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Main.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/PackageService.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/HttpServiceTestFixture.scala
  ledger-service/utils/src/main/scala/com/digitalasset/ledger/service/LedgerReader.scala
  unreleased.rst
Labels: automerge

#3173 Fixing release notes
  unreleased.rst
Labels: automerge

#3165 damldocs: change External:Archive to Archive in template docs
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Extract.hs
  compiler/damlc/daml-doc/test/DA/Daml/GHC/Damldoc/Tests.hs
  compiler/damlc/tests/daml-test-files/ExportList.EXPECTED.md
  compiler/damlc/tests/daml-test-files/ExportList.EXPECTED.rst
  compiler/damlc/tests/daml-test-files/Iou12.EXPECTED.md
  compiler/damlc/tests/daml-test-files/Iou12.EXPECTED.rst
  compiler/damlc/tests/daml-test-files/Proposal.EXPECTED.md
  compiler/damlc/tests/daml-test-files/Proposal.EXPECTED.rst
  compiler/damlc/tests/daml-test-files/ProposalIou.EXPECTED.md
  compiler/damlc/tests/daml-test-files/ProposalIou.EXPECTED.rst
Labels: automerge

#3175 daml-lf: clean achive bazel build
  compiler/daml-lf-proto/BUILD.bazel
  compiler/damlc/BUILD.bazel
  compiler/damlc/tests/util.bzl
  compiler/scenario-service/server/BUILD.bazel
  daml-assistant/integration-tests/BUILD.bazel
  daml-lf/archive/BUILD.bazel
  daml-lf/archive/README.md
  daml-lf/encoder/BUILD.bazel
  daml-lf/engine/BUILD.bazel
  daml-lf/interface/BUILD.bazel
  daml-lf/repl/BUILD.bazel
  docs/BUILD.bazel
  language-support/java/codegen/BUILD.bazel
  language-support/scala/codegen/BUILD.bazel
  ledger-service/utils/BUILD.bazel
  ledger/api-server-damlonx/reference-v2/BUILD.bazel
  ledger/ledger-api-common/BUILD.bazel
  ledger/ledger-api-integration-tests/BUILD.bazel
  ledger/ledger-api-test-tool/BUILD.bazel
  ledger/participant-state-index/BUILD.bazel
  ledger/participant-state/BUILD.bazel
  ledger/participant-state/kvutils/BUILD.bazel
  ledger/sandbox-perf/BUILD.bazel
  ledger/sandbox/BUILD.bazel
  navigator/backend/BUILD.bazel
  release/artifacts.yaml
  triggers/runner/BUILD.bazel
  triggers/tests/BUILD.bazel
  unreleased.rst
Labels: automerge, component/daml-lf

#3180 Filter the contracts for the ACS already in the database.
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/Ledger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/MeteredLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/SandboxContractStore.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/inmemory/InMemoryLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/BaseLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/JdbcLedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/LedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/MeteredLedgerDao.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/JdbcLedgerDaoSpec.scala
  unreleased.rst
Labels: component/ledger

#3174 Implement templateTypeRep in DAML
  WORKSPACE
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Check.hs
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Upgrade.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
  compiler/damlc/daml-stdlib-src/DA/Assert.daml
  compiler/damlc/daml-stdlib-src/DA/Internal/Desugar.daml
  compiler/damlc/daml-stdlib-src/DA/Internal/LF.daml
  compiler/damlc/daml-stdlib-src/DA/Internal/Template.daml
  compiler/damlc/daml-stdlib-src/Prelude.daml
  compiler/damlc/tests/daml-test-files/ProposalDesugared.daml
  compiler/damlc/tests/daml-test-files/TemplateTypeRep.daml
Labels: automerge

#3185 Test templateTypeRef across modules
  compiler/damlc/tests/daml-test-files/TemplateTypeRep.daml
  compiler/damlc/tests/daml-test-files/TemplateTypeRep2.daml
Labels: automerge

#3186 [daml-triggers] Support wallclock time and make TTL configurable
  triggers/runner/src/main/scala/com/daml/trigger/Runner.scala
  triggers/runner/src/main/scala/com/daml/trigger/RunnerConfig.scala
  triggers/runner/src/main/scala/com/daml/trigger/RunnerMain.scala
  triggers/tests/BUILD.bazel
  triggers/tests/src/test/scala/com/daml/trigger/test/TestMain.scala
Labels: automerge

#3191 CLI option to specify JSON API interface
  docs/source/json-api/index.rst
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Main.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/HttpServiceTestFixture.scala
  unreleased.rst
Labels: automerge

#3070 Daml-LF: fix spec
  daml-lf/spec/daml-lf-1.rst
Labels: automerge, component/daml-lf

#3142 daml-lf proto: archive proto for daml-lf 1.6
  daml-lf/archive/BUILD.bazel
  daml-lf/archive/README.md
  daml-lf/archive/archive.bzl
  daml-lf/archive/src/main/protobuf/com/digitalasset/daml_lf_1_6/daml_lf.proto
  daml-lf/archive/src/main/protobuf/com/digitalasset/daml_lf_1_6/daml_lf_0.proto
  daml-lf/archive/src/main/protobuf/com/digitalasset/daml_lf_1_6/daml_lf_1.proto
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/ProtoTest.scala
  daml-lf/spec/daml-lf-1.rst
  release/artifacts.yaml
  unreleased.rst
Labels: automerge, component/daml-lf

#3196 daml-lf: prevent use of quanitifier in any type
  daml-lf/spec/daml-lf-1.rst
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/ValidationError.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/TypingSpec.scala
Labels: automerge, component/daml-lf

#3120 Intern all strings and dotted names in the DAML-LF archive
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/DecodeV1.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/EncodeV1.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/Error.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/Util.hs
  compiler/damlc/tests/bond-trading/Test.daml
  compiler/damlc/tests/daml-test-files/EnumLF.daml
  compiler/damlc/tests/daml-test-files/ExerciseWithoutActors.daml
  compiler/damlc/tests/daml-test-files/InternedExternalRefs.daml
  compiler/damlc/tests/src/DA/Test/DamlcIntegration.hs
  compiler/damlc/tests/src/query-lf-interned.jq
  compiler/damlc/tests/src/query-lf-non-interned.jq
  daml-lf/archive/BUILD.bazel
  daml-lf/archive/src/main/protobuf/com/digitalasset/daml_lf_dev/daml_lf_1.proto
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeMain.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV1Spec.scala
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/EncodeV1.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageMajorVersion.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
Labels: automerge, component/daml-lf

#3193 JSON API parties endpoint + Sandbox party management fix
  docs/source/json-api/index.rst
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/PartiesService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/domain.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/JsonProtocol.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/HttpServiceIntegrationTest.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ActiveLedgerStateManager.scala
  unreleased.rst
Labels: automerge

#3200 Forbid quantifiers in Any in the Haskell typechecker
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Check.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Env.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Error.hs
  daml-lf/spec/daml-lf-1.rst
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/ValidationError.scala
Labels: automerge

#3195 Add Numeric support to migrate.
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Upgrade.hs
  daml-assistant/integration-tests/src/Main.hs
Labels: automerge

#3204 daml-lf: fail if asked to encode unsupported features into older versions
  daml-lf/transaction-scalacheck/src/main/scala/com/digitalasset/daml/lf/value/ValueGenerators.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/ValueCoder.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/ValueVersion.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionCoderSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/value/ValueCoderSpec.scala
Labels: automerge, component/daml-engine

#3126 Properly fill eventId for active contracts
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/types/Ledger.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/ActiveContractsService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ActiveLedgerState.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ActiveLedgerStateManager.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/InMemoryActiveLedgerState.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/SandboxIndexAndWriteService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/Ledger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/ScenarioLoader.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/inmemory/InMemoryLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/JdbcLedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/migration/postgres/V2_1__Rebuild_Acs.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/ScenarioLoadingITBase.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/JdbcLedgerDaoSpec.scala
  unreleased.rst
Labels: automerge, component/ledger

#3209 daml-lf: fix maven coordinates of daml_lf_archive_reader
  daml-lf/archive/BUILD.bazel
  docs/source/support/release-notes.rst
  unreleased.rst
Labels: component/daml-lf

#3210 Improve logging and debugging of DAML triggers
  triggers/daml/Daml/Trigger.daml
  triggers/daml/Daml/Trigger/LowLevel.daml
  triggers/runner/BUILD.bazel
  triggers/runner/src/main/resources/logback.xml
  triggers/runner/src/main/scala/com/daml/trigger/Runner.scala
  triggers/tests/daml/ACS.daml
  unreleased.rst
Labels: automerge

#3122 DAML-LF Numeric: compute properly the value version for + test update
  daml-lf/language/daml-lf.bzl
  daml-lf/transaction-scalacheck/src/main/scala/com/digitalasset/daml/lf/value/ValueGenerators.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/ValueVersion.scala
  extractor/BUILD.bazel
  extractor/src/test/resources/damls/PrimitiveTypes.daml
  extractor/src/test/suite/scala/com/digitalasset/extractor/BasicPrimitiveTypesSpec.scala
  language-support/java/codegen/BUILD.bazel
  language-support/java/codegen/src/it/daml/Lib.daml
  language-support/java/codegen/src/it/daml/Tests/NumericTest.daml
  language-support/java/codegen/src/it/java-latest/com/digitalasset/lf_latest/AllTests.java
  language-support/java/codegen/src/it/java-latest/com/digitalasset/lf_latest/NumericTest.java
Labels: component/daml-lf

#3213 Use the same CopyTrigger in the docs and the tests
  docs/BUILD.bazel
  triggers/tests/BUILD.bazel
  triggers/tests/daml/Copy.daml
  triggers/tests/src/test/scala/com/daml/trigger/test/TestMain.scala
Labels: automerge

#3220 Only match identifiers from DA.Internal.LF if they are in the right module
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
  compiler/damlc/tests/daml-test-files/LFNameCollisions.daml
Labels: automerge

#3223 Added Sandbox CLI parameter --max-ttl-seconds
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/cli/Cli.scala
  unreleased.rst
Labels: component/ledger

#3221 Remove horribly outdated docker image
  release/docker/Dockerfile
  release/docker/README.md
  release/docker/start.sh
Labels: automerge

#3224 Shrink the docker image for the SDK by 57%
  ci/docker/daml-sdk/Dockerfile
  unreleased.rst
Labels: automerge

#3226 Run DAML trigger rule on failed completions
  triggers/daml/Daml/Trigger.daml
  triggers/tests/BUILD.bazel
  triggers/tests/daml/Retry.daml
  triggers/tests/src/test/scala/com/daml/trigger/test/TestMain.scala
Labels: automerge

#3222 Document order of root_event_ids
  ledger-api/grpc-definitions/com/digitalasset/ledger/api/v1/transaction.proto
Labels: automerge

#3231 DAML-LF: fix mapContractId for Any values
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
Labels: automerge, component/daml-lf

#3212 DAML LF: limit allocations for trivial constants
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/NumericModule.scala
  daml-lf/data/src/test/scala/com/digitalasset/daml/lf/data/NumericSpec.scala
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/DamlLfEncoder.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ValueTranslator.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/CommandPreprocessorSpec.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Util.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ModParser.scala
  daml-lf/transaction-scalacheck/src/main/scala/com/digitalasset/daml/lf/value/TypedValueGenerators.scala
  daml-lf/transaction-scalacheck/src/main/scala/com/digitalasset/daml/lf/value/ValueGenerators.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/Value.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/util/ApiValueToLfValueConverterTest.scala
  ledger-service/lf-value-json/src/main/scala/com/digitalasset/daml/lf/value/json/ApiCodecCompressed.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/ledger/api/validation/ValueValidator.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/ledger/api/validation/SubmitRequestValidatorTest.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/KeyHasherSpec.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/json/ApiCodecVerbose.scala
  navigator/backend/src/test/scala/com/digitalasset/navigator/backend/DamlConstants.scala
Labels: automerge, component/daml-engine, component/daml-lf

#3236 Fix reference to old assistant in sandbox docs
  docs/source/tools/sandbox.rst
Labels: automerge

#3242 fix a few links in documentation
  docs/source/json-api/search-query-language.rst
  docs/source/triggers/index.rst
Labels: automerge

#3245 Use TemplateTypeRep in DAML Trigger API
  compiler/damlc/daml-stdlib-src/DA/Internal/LF.daml
  compiler/damlc/daml-stdlib-src/DA/Next/Map.daml
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/Ref.scala
  docs/source/triggers/template-root/src/CopyTrigger.daml
  triggers/daml/Daml/Trigger.daml
  triggers/daml/Daml/Trigger/LowLevel.daml
  triggers/runner/src/main/scala/com/daml/trigger/Converter.scala
  triggers/tests/daml/ACS.daml
  triggers/tests/daml/Retry.daml
Labels: automerge

#3207 Improve performance of stakeholder retrieval from SQL
  .sha256
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/ActiveContractsService.scala
  ledger/sandbox/src/main/resources/db/migration/h2database/V5_0__Extract_Event_Data.sha256
  ledger/sandbox/src/main/resources/db/migration/h2database/V5_0__Extract_Event_Data.sql
  ledger/sandbox/src/main/resources/db/migration/h2database/V5_2__Extract_Event_Data.sha256
  ledger/sandbox/src/main/resources/db/migration/h2database/V5_2__Extract_Event_Data.sql
  ledger/sandbox/src/main/resources/db/migration/postgres/V10_0__Extract_Event_Data.sha256
  ledger/sandbox/src/main/resources/db/migration/postgres/V10_0__Extract_Event_Data.sql
  ledger/sandbox/src/main/resources/db/migration/postgres/V10_2__Extract_Event_Data.sha256
  ledger/sandbox/src/main/resources/db/migration/postgres/V10_2__Extract_Event_Data.sql
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/JdbcLedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/migration/h2database/V5_1__Populate_Event_Data.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/migration/postgres/V10_1__Populate_Event_Data.scala
  unreleased.rst
Labels: component/ledger

#3258 Warn on trigger package id mismatch
  triggers/runner/BUILD.bazel
  triggers/runner/src/main/scala/com/daml/trigger/Converter.scala
  triggers/runner/src/main/scala/com/daml/trigger/Runner.scala
Labels: automerge

#3265 Cleanup internals of high-level trigger API
  triggers/daml/Daml/Trigger.daml
Labels: automerge

#3263 Include daml-docs for daml-trigger in the documentation
  docs/BUILD.bazel
  docs/source/triggers/index.rst
  triggers/daml/BUILD.bazel
  triggers/daml/Daml/Trigger.daml
  triggers/daml/Daml/Trigger/LowLevel.daml
  triggers/daml/daml-trigger-rst-template.rst
Labels: automerge

#3268 Add a command to list the triggers in a DAR
  triggers/runner/src/main/scala/com/daml/trigger/RunnerConfig.scala
  triggers/runner/src/main/scala/com/daml/trigger/RunnerMain.scala
  triggers/tests/BUILD.bazel
  triggers/tests/list-triggers.sh
Labels: automerge

#3271 Log when user views scenario results
  WORKSPACE
  compiler/damlc/daml-ide/src/DA/Daml/LanguageServer.hs
  compiler/damlc/lib/DA/Cli/Damlc.hs
  compiler/damlc/lib/DA/Cli/Damlc/IdeState.hs
  libs-haskell/da-hs-base/src/DA/Service/Logger.hs
  libs-haskell/da-hs-base/src/DA/Service/Logger/Impl/GCP.hs
  libs-haskell/da-hs-base/src/DA/Service/Logger/Impl/IO.hs
Labels: automerge

#3266 fix spurious HubSpot announce bug
  ci/cron/src/Main.hs
Labels: automerge

#3277 daml-lf-spec: remove improper changes from a3518d67
  daml-lf/spec/daml-lf-1.rst
Labels: automerge, component/daml-lf

#3279 Configure maven_install to fetch srcjars
  bazel-java-deps.bzl
  maven_install.json
Labels: automerge

#3272 Move AuthService
  ledger/api-server-damlonx/reference-v2/BUILD.bazel
  ledger/api-server-damlonx/reference-v2/src/main/scala/com/daml/ledger/api/server/damlonx/reference/v2/ReferenceServer.scala
  ledger/ledger-api-auth/BUILD.bazel
  ledger/ledger-api-auth/README.md
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/AuthService.scala
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/AuthServiceNone.scala
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/AuthServiceStatic.scala
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/AuthServiceWildcard.scala
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/Claims.scala
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/interceptor/AsyncForwardingListener.scala
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/interceptor/AuthorizationInterceptor.scala
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/services/ActiveContractsServiceAuthorization.scala
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/services/ApiServiceAuthorization.scala
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/services/CommandCompletionServiceAuthorization.scala
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/services/CommandServiceAuthorization.scala
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/services/CommandSubmissionServiceAuthorization.scala
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/services/LedgerConfigurationServiceAuthorization.scala
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/services/LedgerIdentityServiceAuthorization.scala
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/services/PackageManagementServiceAuthorization.scala
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/services/PackageServiceAuthorization.scala
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/services/PartyManagementServiceAuthorization.scala
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/services/TimeServiceAuthorization.scala
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/services/TransactionServiceAuthorization.scala
  ledger/ledger-api-integration-tests/BUILD.bazel
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/AuthorizationIT.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/PlatformApplications.scala
  ledger/sandbox/BUILD.bazel
  ledger/sandbox/src/main/scala/com/digitalasset/ledger/server/apiserver/ApiServices.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/StandaloneIndexServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/config/SandboxConfig.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/SandboxResetService.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/TestHelpers.scala
  release/artifacts.yaml
Labels: automerge

#3280 Add dedupCreate/dedupExercise helpers to the DAML trigger API
  docs/source/triggers/index.rst
  docs/source/triggers/template-root/src/CopyTrigger.daml
  triggers/daml/Daml/Trigger.daml
  triggers/daml/Daml/Trigger/LowLevel.daml
  unreleased.rst
Labels: automerge

#3287 Fixed a bug in the DB migration script 10.1
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/migration/h2database/V5_1__Populate_Event_Data.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/migration/postgres/V10_1__Populate_Event_Data.scala
  unreleased.rst
Labels: component/ledger

#3281 add debug prints for docs cron
  ci/cron/src/Main.hs
Labels: automerge

#3255 daml-lf: interned strings/names in scenarios
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/EncodeV1.hs
  compiler/scenario-service/client/src/DA/Daml/LF/ScenarioServiceClient.hs
  compiler/scenario-service/client/src/DA/Daml/LF/ScenarioServiceClient/LowLevel.hs
  compiler/scenario-service/protos/scenario_service.proto
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Context.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/Decode.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
Labels: automerge, component/daml-lf

#3293 daml-lf: to_text_template_id -> to_text_type_con_name
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Base.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Pretty.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Recursive.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/DecodeV1.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/EncodeV1.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/Simplifier.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Check.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
  daml-lf/archive/src/main/protobuf/com/digitalasset/daml_lf_dev/daml_lf_1.proto
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SpeedyTest.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/AstRewriter.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ExprParser.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/Lexer.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/Token.scala
  daml-lf/spec/daml-lf-1.rst
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/TypeSubst.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/traversable/ExprTraversable.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/traversable/TypeTraversable.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/TypingSpec.scala
Labels: component/daml-lf

#3167 Add kvutils ledger dumps and integrity checker
  bazel-java-deps.bzl
  ledger/participant-state/kvutils/BUILD.bazel
  ledger/participant-state/kvutils/src/main/protobuf/daml_kvutils.proto
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/Debug.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/Envelope.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/KeyValueCommitting.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/Version.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committing/ProcessPackageUpload.scala
  ledger/participant-state/kvutils/tools/BUILD.bazel
  ledger/participant-state/kvutils/tools/src/main/resources/logback.xml
  ledger/participant-state/kvutils/tools/src/main/scala/com/daml/ledger/participant/state/kvutils/tools/IntegrityCheck.scala
  maven_install.json
Labels: automerge-after-rebase

#3292 Bring back daml integration kit docs
  docs/source/daml-integration-kit/images/architecture-overview.svg
  docs/source/daml-integration-kit/images/server-classes-and-interfaces.svg
  docs/source/daml-integration-kit/index.rst
  docs/source/index.rst
  unreleased.rst
Labels: automerge

#3298 Delete CommandSubmissionTtlIT.
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/commands/CommandSubmissionTtlIT.scala
Labels: automerge

#3302 Navigator properly sets the max incoming message size again.
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/LedgerClient.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/store/platform/PlatformStore.scala
  unreleased.rst
Labels: component/navigator

#3305 Add filter function to TextMap and Next.Map
  compiler/damlc/daml-stdlib-src/DA/Next/Map.daml
  compiler/damlc/daml-stdlib-src/DA/TextMap.daml
  unreleased.rst
Labels: automerge

#3309 Store extension version in global state
  compiler/daml-extension/src/extension.ts
Labels: automerge
