Repository digital-asset/daml, pull requests merged in 2019-09, with the labels that each got.

#2714 Disable the checkTtl validation in kvutils
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/Version.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committing/ProcessTransactionSubmission.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/KVUtilsTransactionSpec.scala
Labels: automerge

#2715 Dispatcher: Provide sub-source in startingAt
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/akkastreams/dispatcher/Dispatcher.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/akkastreams/dispatcher/DispatcherImpl.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/platform/akkastreams/dispatcher/DispatcherSpec.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/platform/akkastreams/dispatcher/DispatcherTest.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/InMemoryKVParticipantState.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/inmemory/LedgerEntries.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/BaseLedger.scala
Labels: automerge-after-rebase

#2713 Start porting the transaction service integration tests
  3rdparty/dependencies.digest
  3rdparty/jvm/ai/x/BUILD
  3rdparty/jvm/org/cvogt/BUILD
  3rdparty/workspace.bzl
  dependencies.yaml
  ledger/api-server-damlonx/reference-v2/BUILD.bazel
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/TransactionServiceIT.scala
  ledger/ledger-api-test-tool/BUILD.bazel
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/AssertionErrorWithPreformattedMessage.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerSession.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerTestContext.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerTestSuite.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerTestSuiteRunner.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/Reporter.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/Result.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/package.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/ActiveContractsService.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/Identity.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/TransactionService.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/package.scala
  ledger/test-common/src/main/daml/Test.daml
  ledger/test-common/src/main/scala/com.digitalasset.platform.testing/SizeBoundObserver.scala
Labels: component/ledger

#2719 Store external offset on every state update.
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/JdbcIndexer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/JdbcLedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/LedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/MeteredLedgerDao.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/JdbcLedgerDaoSpec.scala
Labels: component/ledger

#2723 Convert Decimal type, literals, and primitives to Numeric when feature is available.
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Base.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Numeric.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Type.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Util.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Error.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Serializability.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion/Primitives.hs
Labels: automerge

#2727 Organise generic templates and instances into separate files
  compiler/damlc/tests/daml-test-files/Asset.daml
  compiler/damlc/tests/daml-test-files/Cash.daml
  compiler/damlc/tests/daml-test-files/CashAsset.daml
  compiler/damlc/tests/daml-test-files/Fungible.daml
  compiler/damlc/tests/daml-test-files/IouInstance.daml
  compiler/damlc/tests/daml-test-files/Swappable.daml
  compiler/damlc/tests/daml-test-files/Transferrable.daml
Labels: automerge

#2729 Remove unused tracking of default methods from conversion to DAML-LF
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion/UtilGHC.hs
Labels: automerge

#2730 Simplify conversion of top level bindings to DAML-LF
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
Labels: automerge

#2724 Use (submitter, command_id, application_id) for command deduplication
  docs/source/app-dev/app-arch.rst
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/services/command/TrackerImpl.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/TransactionService.scala
  ledger/sandbox/src/main/resources/db/migration/h2database/V2__Command_deduplication.sha256
  ledger/sandbox/src/main/resources/db/migration/h2database/V2__Command_deduplication.sql
  ledger/sandbox/src/main/resources/db/migration/postgres/V7__Command_deduplication.sha256
  ledger/sandbox/src/main/resources/db/migration/postgres/V7__Command_deduplication.sql
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/deduplicator/Deduplicator.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/inmemory/InMemoryLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/JdbcLedgerDao.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/deduplicator/DeduplicatorSpec.scala
  unreleased.rst
Labels: component/ledger

#2731 Basic docs for generic templates
  docs/source/daml/code-snippets/Coin.daml
  docs/source/daml/code-snippets/Proposal.daml
  docs/source/daml/reference/generic-templates.rst
  docs/source/daml/reference/index.rst
  ghc-lib/template-desugaring.md
Labels: automerge

#2751 Releasing http-json-binary
  ledger-service/http-json/BUILD.bazel
  ledger-service/http-json/README.md
  release/artifacts.yaml
Labels: component/ledger

#2746 Adding max-inbound-message-size startup parameter
  ledger-service/http-json/README.md
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/LedgerClientJwt.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Main.scala
Labels: component/ledger

#2737 First multi-node test
  ledger/api-server-damlonx/reference-v2/BUILD.bazel
  ledger/api-server-damlonx/reference-v2/src/main/scala/com/daml/ledger/api/server/damlonx/reference/v2/ReferenceServer.scala
  ledger/ledger-api-test-tool/conformance.bzl
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/Identification.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerSession.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerTestSuiteRunner.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/participant/ParticipantSession.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/participant/ParticipantSessionManager.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/participant/ParticipantTestContext.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/PartyManagement.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/SemanticTests.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/cli/Cli.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/config/Config.scala
  unreleased.rst
Labels: component/dlik

#2765 Fix symbol in DA.Logic
  compiler/damlc/daml-stdlib-src/DA/Logic.daml
Labels: automerge

#2766 Fix typo in DAML-LF spec
  daml-lf/spec/daml-lf-1.rst
Labels: automerge

#2741 Rename referencedContracts to divulgedContracts
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/KeyValueConsumption.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/DivulgedContract.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/Update.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/Version.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/JdbcIndexer.scala
Labels: automerge-after-rebase

#2673 Adding fields to template graphs
  compiler/damlc/daml-ide-core/test/Development/IDE/State/API/Testing.hs
  compiler/damlc/daml-visual/src/DA/Daml/Visual.hs
  compiler/damlc/tests/BUILD.bazel
  compiler/damlc/tests/src/DA/Test/ShakeIdeClient.hs
  compiler/lsp-tests/src/Main.hs
Labels: automerge

#2784 HTTP JSON API daemon: adding named CLI arguments
  ledger-service/http-json/BUILD.bazel
  ledger-service/http-json/README.md
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Main.scala
Labels: component/ledger

#2764 Move HasField to DA.Record in the stdlib docs.
  compiler/damlc/daml-stdlib-src/DA/Internal/Record.daml
Labels: automerge

#2728 Move (/) to a Divisible class and drop the Fractional Int instance.
  compiler/damlc/daml-prim-src/GHC/Num.daml
  compiler/damlc/tests/daml-test-files/PreludeTest.daml
  unreleased.rst
Labels: automerge

#2804 Fix hie-core cabal file metadata
  compiler/hie-core/LICENSE
  compiler/hie-core/hie-core.cabal
Labels: automerge

#2816 Clean before running daml build
  triggers/daml/BUILD.bazel
  triggers/tests/BUILD.bazel
Labels: automerge

#2821 Add participant state v1 participantId and TransactionId vals
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/package.scala
Labels: component/ledger, multi-domain

#2791 Use cc_wrapper to shorten library and include paths and rpaths
  WORKSPACE
  bazel_tools/haskell-c2hs-prefix.patch
  bazel_tools/haskell-cc-wrapper-globbing.patch
  bazel_tools/haskell-cc-wrapper-include-dirs.patch
  bazel_tools/haskell-cc-wrapper.patch
  bazel_tools/haskell-darwin-symlink-dylib.patch
  bazel_tools/haskell-drop-fake-static.patch
  bazel_tools/haskell-ghci-grpc.patch
  bazel_tools/haskell-windows-library-dirs.patch
  deps.bzl
Labels: automerge

#2824 Fixing logging
  ledger-service/http-json/release/json-api-logback.xml
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Main.scala
Labels: automerge

#2832 Explicitly run schema migration/validation
  ledger/api-server-damlonx/reference-v2/BUILD.bazel
  ledger/api-server-damlonx/reference-v2/src/main/scala/com/daml/ledger/api/server/damlonx/reference/v2/ReferenceServer.scala
  ledger/api-server-damlonx/reference-v2/src/main/scala/com/daml/ledger/api/server/damlonx/reference/v2/cli/Cli.scala
  ledger/sandbox/BUILD.bazel
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/JdbcIndexer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/StandaloneIndexServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/StandaloneIndexerServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/config/Config.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/ReadOnlySqlLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/DbType.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/HikariJdbcConnectionProvider.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/JdbcLedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/migration/FlywayMigrations.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/util/DbDispatcher.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/persistence/PostgresIT.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/JdbcLedgerDaoSpec.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/migration/FlywayMigrationsSpec.scala
Labels: component/ledger

#2840 Avoid duplicate variant constructors
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
  compiler/damlc/tests/daml-test-files/SumProducts.daml
Labels: automerge

#2866 Roadmap update
  docs/source/support/roadmap.rst
Labels: automerge

#2875 Release 0.13.23
  VERSION
  docs/source/support/release-notes.rst
  unreleased.rst
Labels: automerge

#2871 Allow exercising choices on generic templates in a generic context
  compiler/damlc/daml-opts/daml-opts/DA/Daml/Options.hs
  compiler/damlc/daml-preprocessor/src/DA/Daml/Preprocessor.hs
  compiler/damlc/daml-preprocessor/src/DA/Daml/Preprocessor/TemplateConstraint.hs
  compiler/damlc/tests/daml-test-files/GenericChoice.daml
Labels: automerge

#2879 Upgrade ghcide to incorporate the latest changes
  WORKSPACE
  compiler/damlc/daml-opts/daml-opts/DA/Daml/Options.hs
Labels: automerge

#2882 Mark DAML trigger tests as flaky while we investigate
  triggers/tests/BUILD.bazel
Labels: automerge

#2878 Enable {-# LANGUAGE CPP #-} for daml.
  WORKSPACE
  compiler/damlc/BUILD.bazel
  compiler/damlc/daml-opts/daml-opts-types/DA/Daml/Options/Types.hs
  compiler/damlc/daml-opts/daml-opts/DA/Daml/Options.hs
  compiler/damlc/lib/DA/Cli/Damlc.hs
  compiler/damlc/pkg-db/util.bzl
Labels: automerge

#2891 Make CPP work in damldocs.
  compiler/damlc/BUILD.bazel
  compiler/damlc/daml-opts/daml-opts/DA/Daml/Options.hs
  compiler/damlc/daml-prim-src/GHC/Types.daml
  compiler/damlc/lib/DA/Cli/Damlc.hs
  compiler/damlc/lib/DA/Cli/Damlc/Command/Damldoc.hs
  compiler/damlc/lib/DA/Cli/Options.hs
Labels: automerge

#2899 Update hlint
  WORKSPACE
Labels: automerge

#2898 Do not consider archives that are already loaded in engine
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/CompiledPackages.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committing/ProcessPackageUpload.scala
Labels: automerge

#2902 Properly adhere to DbType#supportsParallelWrites in SqlLedger
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/JdbcIndexer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedger.scala
Labels: component/ledger

#2908 ledger-service: fix numGen for scale 38
  daml-lf/transaction-scalacheck/src/main/scala/com/digitalasset/daml/lf/value/ValueGenerators.scala
Labels: automerge

#2905 Implement AnyTemplate DAML-LF type on the Scala side
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/reader/InterfaceReader.scala
  daml-lf/interface/src/test/scala/com/digitalasset/daml/lf/iface/TypeSpec.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SpeedyTest.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Util.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/AstRewriter.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ExprParser.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/Lexer.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/Token.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/TypeParser.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Serializability.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/TypeSubst.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/ValidationError.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/traversable/ExprTraversable.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/TypingSpec.scala
Labels: automerge

#2907 Port WronglyTypedContractIdIT to new TestTool.
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/WronglyTypedContractIdIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/WronglyTypedContractId.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/package.scala
Labels: component/dlik

#2920 Rename dummy package to prevent wrong interpretation
  package.json
Labels: automerge

#2892 Allow qualified import of generic templates
  3rdparty/haskell/BUILD.ghc-lib-parser
  WORKSPACE
  compiler/damlc/tests/daml-test-files/QualGenTempl.daml
Labels: automerge

#2923 Hlint update + release note
  WORKSPACE
  unreleased.rst
Labels: automerge

#2919 Daml-LF: Add CAST_NUMERIC and SHIFT_NUMERIC
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/DecodeV1.hs
  daml-lf/archive/da/daml_lf_1.proto
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ExprParser.scala
  daml-lf/parser/src/test/scala/com/digitalasset/daml/lf/testing/parser/ParsersSpec.scala
  daml-lf/spec/daml-lf-1.rst
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
  unreleased.rst
Labels: automerge, component/daml-engine, component/daml-lf

#2927 HOTFIX damldoc: suppress instance docs when `--data-only`
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Transform.hs
  unreleased.rst
Labels: automerge, language

#2931 Filter the contracts for the ACS already in the database.
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/participant/util/EventFilter.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/SandboxIndexAndWriteService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/Ledger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/MeteredLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/TransactionConversion.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/inmemory/InMemoryLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/BaseLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/JdbcLedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/LedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/MeteredLedgerDao.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/services/transaction/EventFilterSpec.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/JdbcLedgerDaoSpec.scala
  unreleased.rst
Labels: component/ledger

#2921 Daml-LF: make MUL_NUMERIC and DIV_NUMERIC multi-scale
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Util.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Check.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion/Primitives.hs
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV1Spec.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/NumericModule.scala
  daml-lf/data/src/test/scala/com/digitalasset/daml/lf/data/NumericSpec.scala
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/EncodeV1.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
  daml-lf/spec/daml-lf-1.rst
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
  unreleased.rst
Labels: automerge, component/daml-lf

#2938 remove dead UNRELEASED.md files
  extractor/UNRELEASED.md
  ledger-api/UNRELEASED.md
Labels: automerge

#2940 Documenting contracts/search output
  ledger-service/http-json/README.md
Labels: automerge

#2945 Infer templateId and choiceName in daml trigger commands
  triggers/daml/Daml/Trigger.daml
  triggers/runner/src/main/scala/com/daml/trigger/Runner.scala
  triggers/tests/daml/ACS.daml
  triggers/tests/src/test/scala/com/daml/trigger/test/AcsMain.scala
Labels: automerge

#2944 Port TransactionServiceLargeCommandIT.
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/TransactionServiceLargeCommandIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/participant/ParticipantSessionManager.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/TransactionService.scala
Labels: component/dlik

#2799 ActiveContractsService stream now always returns at least 1 element
  ledger-api/grpc-definitions/com/digitalasset/ledger/api/v1/active_contracts_service.proto
  ledger-service/http-json/src/main/scala/com/digitalasset/http/LedgerClientJwt.scala
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/services/acs/ActiveContractSetClient.scala
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/services/acs/ActiveContractSetSource.scala
  ledger/ledger-api-client/src/test/suite/scala/com/digitalasset/util/akkastreams/ExtractSingleMaterializedValueTest.scala
  unreleased.rst
Labels: automerge, component/ledger, component/scala-ecosystem

#2954 Use the SQL-backend when testing the postgres-backend
  ledger/sandbox/BUILD.bazel
Labels: automerge, component/ledger

#2949 Move the dump parse tree logic slightly
  compiler/damlc/lib/DA/Cli/Damlc.hs
Labels: automerge

#2957 Support cpp in doctests
  rules_daml/daml.bzl
Labels: automerge

#2937 Daml-LF: make archive decoder more restrictive for 1.dev
  daml-lf/archive/da/daml_lf_1.proto
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV1Spec.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
  daml-lf/spec/daml-lf-1.rst
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/TypingSpec.scala
Labels: automerge-after-rebase, component/daml-lf

#2958 Daml-LF: make Numeric scale type safe
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV1Spec.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/Decimal.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/NumericModule.scala
  daml-lf/data/src/test/scala/com/digitalasset/daml/lf/data/NumericSpec.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/CommandPreprocessorSpec.scala
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/Type.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/TypeParser.scala
  daml-lf/parser/src/test/scala/com/digitalasset/daml/lf/testing/parser/ParsersSpec.scala
  daml-lf/transaction-scalacheck/src/main/scala/com/digitalasset/daml/lf/value/TypedValueGenerators.scala
  daml-lf/transaction-scalacheck/src/main/scala/com/digitalasset/daml/lf/value/ValueGenerators.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
  ledger-service/lf-value-json/src/test/scala/com/digitalasset/daml/lf/value/json/ApiCodecCompressedSpec.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/ledger/api/validation/SubmitRequestValidatorTest.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/json/DamlLfCodec.scala
  navigator/backend/src/test/scala/com/digitalasset/navigator/backend/DamlConstants.scala
Labels: automerge-after-rebase, component/daml-lf

#2947 Implement AnyTemplate in DAML
  WORKSPACE
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Util.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Upgrade.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
  compiler/damlc/daml-stdlib-src/DA/Internal/Desugar.daml
  compiler/damlc/daml-stdlib-src/DA/Internal/LF.daml
  compiler/damlc/daml-stdlib-src/DA/Internal/Template.daml
  compiler/damlc/daml-stdlib-src/Prelude.daml
  compiler/damlc/pkg-db/util.bzl
  compiler/damlc/tests/daml-test-files/AnyTemplate.daml
  compiler/damlc/tests/daml-test-files/ProposalDesugared.daml
  rules_daml/daml.bzl
Labels: automerge

#2962 Disable redundant $ rule by default
  compiler/damlc/daml-ide-core/dlint.yaml
Labels: automerge

#2969 Daml-LF: change Numeric max scale from 38 to 37
  daml-lf/archive/da/daml_lf_1.proto
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV1Spec.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/NumericModule.scala
  daml-lf/data/src/test/scala/com/digitalasset/daml/lf/data/NumericSpec.scala
  daml-lf/encoder/src/test/lf/Numeric_1.dev_.lf
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  daml-lf/spec/daml-lf-1.rst
  daml-lf/transaction-scalacheck/src/main/scala/com/digitalasset/daml/lf/value/ValueGenerators.scala
  language-support/java/codegen/src/test/java/com/digitalasset/testing/NumericTestFor1_dev.java
  ledger-api/grpc-definitions/com/digitalasset/ledger/api/v1/value.proto
  ledger/ledger-api-common/src/main/scala/com/digitalasset/ledger/api/validation/ValueValidator.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/ledger/api/validation/SubmitRequestValidatorTest.scala
Labels: automerge, component/daml-lf

#2978 Use a consistant include dir for cwd
  3rdparty/haskell/BUILD
  3rdparty/haskell/BUILD.ghcide
  3rdparty/haskell/Paths_ghcide.hs
  WORKSPACE
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Dar.hs
  compiler/damlc/lib/DA/Cli/Damlc.hs
  daml-assistant/integration-tests/src/Main.hs
  unreleased.rst
Labels: automerge

#2985 Remove outdated comment regarding feature flags in compiler
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
Labels: automerge

#2981 Name collision checking within a module.
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Error.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/NameCollision.hs
  compiler/damlc/tests/daml-test-files/Collision.daml
Labels: automerge

#2986 Address comments on AnyTemplate PRs
  compiler/damlc/daml-stdlib-src/DA/Internal/LF.daml
  compiler/damlc/tests/daml-test-files/AnyTemplate.daml
  compiler/damlc/tests/daml-test-files/ProposalDesugared.daml
  daml-lf/spec/daml-lf-1.rst
Labels: automerge

#2989 Fix getSrcRoot for A/B.daml
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Dar.hs
  daml-assistant/integration-tests/src/Main.hs
  libs-haskell/da-hs-base/src/Data/Conduit/Tar/Extra.hs
Labels: automerge

#2977 Extractor: enable numerics for multi table data format
  extractor/src/main/scala/com/digitalasset/extractor/writers/postgresql/Queries.scala
  extractor/src/test/resources/damls/PrimitiveTypes.daml
Labels: component/extractor

#2988 Test tool package test
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/PackageServiceIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerServices.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerTestSuite.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/participant/ParticipantTestContext.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/Packages.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/package.scala
Labels: component/dlik

#2991 Fix Windows CPP issues
  compiler/damlc/daml-stdlib-src/Prelude.daml
  compiler/damlc/lib/DA/Cli/Damlc.hs
  compiler/damlc/pkg-db/util.bzl
Labels: automerge

#3000 Deduce pkgname in damlc migrate from dalf not dar
  compiler/damlc/lib/DA/Cli/Damlc.hs
  daml-assistant/integration-tests/src/Main.hs
Labels: automerge

#3012 move ledger-service/http-json docs into docs.daml.com tree, summarize purpose
  docs/configs/pdf/index.rst
  docs/source/index.rst
  docs/source/json-api/index.rst
  docs/source/json-api/lf-value-specification.rst
  docs/source/json-api/search-query-language.rst
  ledger-service/http-json/README.md
Labels: component/documentation

#3014 internal link to daml json-api doc from daml assistant page
  docs/source/tools/assistant.rst
Labels: automerge, component/documentation

#2942 Generic template test
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
  compiler/damlc/tests/daml-test-files/TemplateSuperClassD.daml
  compiler/damlc/tests/daml-test-files/TemplateSuperClassF.daml
  unreleased.rst
Labels: automerge

#2999 Update hlint
  WORKSPACE
  compiler/damlc/tests/src/DA/Test/ShakeIdeClient.hs
Labels: automerge

#3003 scenario-service: run no validation, when called from ide
  compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
  compiler/damlc/daml-ide-core/src/Development/IDE/Core/Service/Daml.hs
  compiler/damlc/daml-opts/daml-opts-types/DA/Daml/Options/Types.hs
  compiler/damlc/lib/DA/Cli/Damlc.hs
  compiler/damlc/lib/DA/Cli/Options.hs
  compiler/damlc/tests/src/DA/Test/DamlcIntegration.hs
  compiler/scenario-service/client/src/DA/Daml/LF/ScenarioServiceClient.hs
  compiler/scenario-service/client/src/DA/Daml/LF/ScenarioServiceClient/LowLevel.hs
  compiler/scenario-service/protos/scenario_service.proto
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/ScenarioServiceMain.scala
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Context.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Validation.scala
Labels: component/daml-engine

#3019 Add a --target flag to the IDE
  compiler/damlc/lib/DA/Cli/Damlc.hs
  unreleased.rst
Labels: automerge

#2998 Improve ledger sql backend performance
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ActiveLedgerState.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ActiveLedgerStateManager.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/InMemoryActiveLedgerState.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/JdbcLedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/migration/postgres/V2_1__Rebuild_Acs.scala
  unreleased.rst
Labels: automerge, component/ledger

#3016 Added recommendation to quote the JDBC URL to the sandbox docs.
  docs/source/tools/sandbox.rst
Labels: automerge, component/documentation

#3020 Wait for lints in damlc integration tests
  compiler/damlc/tests/src/DA/Test/DamlcIntegration.hs
Labels: automerge

#2997 Engine: add missing spec for Enum
  daml-lf/spec/value.rst
  daml-lf/transaction/src/main/protobuf/com/digitalasset/daml/lf/value.proto
Labels: component/daml-engine

#3038 Refactor Numeric literal conversion and add tests.
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Numeric.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
  compiler/damlc/tests/daml-test-files/NumericLit.daml
  compiler/damlc/tests/daml-test-files/NumericLitMonoScaleOOB.daml
  compiler/damlc/tests/daml-test-files/NumericLitPolyTooLarge.daml
  compiler/damlc/tests/daml-test-files/NumericLitPolyTooSmall.daml
  compiler/damlc/tests/daml-test-files/RationalLowerBoundError.daml
  compiler/damlc/tests/daml-test-files/RationalLowerBoundMax.daml
  compiler/damlc/tests/daml-test-files/RationalPrecisionMax.daml
  compiler/damlc/tests/daml-test-files/RationalPrecisionUpperBoundError.daml
  compiler/damlc/tests/daml-test-files/RationalUpperBoundError.daml
  compiler/damlc/tests/daml-test-files/RationalUpperBoundMax.daml
Labels: automerge

#3041 Fix damlc build error messages if LOCALE_ARCHIVE is not set
  compiler/damlc/daml-doc/BUILD.bazel
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Driver.hs
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Extract.hs
  compiler/damlc/daml-doc/test/DA/Daml/GHC/Damldoc/Tests.hs
  compiler/damlc/lib/DA/Cli/Damlc/Command/Damldoc.hs
  compiler/damlc/lib/DA/Cli/Output.hs
  compiler/damlc/tests/src/DA/Test/DamlDocTestIntegration.hs
Labels: automerge

#3045 Unflake dlint in integration tests
  compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
  compiler/damlc/tests/src/DA/Test/DamlcIntegration.hs
Labels: automerge

#3010 Fix issue with template instance constraint rewriting
  compiler/damlc/daml-preprocessor/src/DA/Daml/Preprocessor/TemplateConstraint.hs
  compiler/damlc/tests/daml-test-files/GenericChoice.daml
  unreleased.rst
Labels: automerge

#3053 Simplify the Haskell implementation of the DAML-LF decoder
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/Decode.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/DecodeV1.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/Error.hs
Labels: automerge

#3060 Refactor DAML-LF encoder/decoder in prep for string interning
  compiler/daml-lf-proto/src/DA/Daml/LF/Mangling.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/DecodeV1.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/EncodeV1.hs
  compiler/scenario-service/client/src/DA/Daml/LF/ScenarioServiceClient/LowLevel.hs
Labels: automerge

#3054 Template instance type synonym polish
  WORKSPACE
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
  compiler/damlc/tests/daml-test-files/AnyTemplate.daml
  compiler/damlc/tests/daml-test-files/ComposedKey.daml
  compiler/damlc/tests/daml-test-files/ProposalDesugared.daml
  compiler/damlc/tests/daml-test-files/ProposalIou.daml
  unreleased.rst
Labels: automerge

#3064 Renaming "active" -> "created"
  docs/source/json-api/index.rst
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/JsonProtocol.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/HttpServiceIntegrationTest.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/json/JsonProtocolTest.scala
  unreleased.rst
Labels: automerge

#3056 Bundle packages with SDK releases
  compiler/damlc/lib/DA/Cli/Damlc.hs
  daml-assistant/integration-tests/src/Main.hs
  release/BUILD.bazel
  triggers/daml/BUILD.bazel
  triggers/tests/BUILD.bazel
  unreleased.rst
Labels: automerge
