Repository digital-asset/daml, pull requests merged in 2019-04, with the labels that each got.

#193 fixes inconsistent Sandbox port references
  build-scripts/monitoring/open_ports.sh
  da-assistant/DA/Sdk/Cli/Job.hs
  docs/source/app-dev/bindings-js/tutorial.rst
  docs/source/app-dev/ledger-api-introduction/wip/transaction_trees.wip
  docs/source/getting-started/quickstart.rst
  docs/source/getting-started/quickstart/template-root/pom.xml
  docs/source/tools/extractor.rst
  docs/source/tools/navigator/console.rst
  docs/source/tools/sandbox.rst
  language-support/java/bindings-rxjava/src/main/java/com/daml/ledger/rxjava/DamlLedgerClient.java
  ledger/ledger-api-integration-tests/src/main/scala/com/digitalasset/platform/semantictest/StandaloneSemanticTestRunner.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/MultiLedgerFixture.scala
  ledger/ledger-api-server-example/src/main/scala/com/digitalasset/ledger/example/Application.scala
  ledger/sandbox/README.md
  ledger/sandbox/src/main/scala/com/digitalasset/ledger/server/LedgerApiServer/LedgerApiServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxApplication.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/cli/Cli.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/config/SandboxConfig.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/config/SandboxContextSpec.scala
  ledger/scripts/test/sandbox-startup.sh
  release/docker/Dockerfile
Labels: component/ledger

#199 test divulgence in sandbox, see #164
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/participant/util/EventFilter.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/DivulgenceIT.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/TestTemplateIdentifiers.scala
  ledger/sandbox/src/test/resources/damls/Test.daml
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/ScenarioLoadingITLegacyIdentifier.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/ScenarioLoadingITNewIdentifier.scala
Labels: component/ledger

#194 language: fix: package db was always set to daml-lf 1.2 in tests
  daml-foundations/daml-ghc/src/DA/Daml/GHC/Compiler/Options.hs
  daml-foundations/daml-ghc/src/DA/Daml/GHC/Damldoc/Driver.hs
  daml-foundations/daml-ghc/src/DA/Daml/GHC/Damldoc/Tests.hs
  daml-foundations/daml-ghc/src/DA/Test/GHC.hs
  daml-foundations/daml-ghc/src/Development/IDE/State/API/Testing.hs
  daml-foundations/daml-tools/da-hs-daml-cli/DA/Cli/Damlc.hs
  daml-foundations/daml-tools/da-hs-daml-cli/tests/DamlcTest.hs
Labels: language

#220 DarReader fat dar support
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/Dar.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DarManifestReader.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DarReader.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/TryOps.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DarManifestReaderTest.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DarReaderTest.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/TryOps.scala
  daml-lf/data/src/test/scala/com/digitalasset/daml/lf/data/TryOpsTest.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/config/DamlPackageContainer.scala
Labels: component/scala-ecosystem

#242 Java codegen verbosity plus
  docs/source/support/release-notes.rst
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/CodeGenRunner.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/conf/Conf.scala
Labels: component/java-ecosystem

#241 Document IDE support for language-support/js
  language-support/js/README.md
Labels: component/js-ecosystem

#218 Add verbosity option for Java codegen
  docs/source/app-dev/bindings-java/codegen.rst
  docs/source/support/release-notes.rst
  language-support/java/codegen/src/main/resources/logback.xml
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/CodeGenRunner.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/conf/Conf.scala
Labels: component/java-ecosystem

#244 Fixes #226 java-codegen: Expand List integration tests
  language-support/java/codegen/src/it/daml/Tests/ListTest.daml
  language-support/java/codegen/src/it/java/com/digitalasset/ListTest.java
Labels: component/java-ecosystem

#216 Update Java example instructions to use new repository
  docs/source/app-dev/bindings-java/index.rst
  docs/source/app-dev/ledger-api-introduction/index.rst
Labels: component/documentation

#229 Stdlib package
  BAZEL.md
  daml-foundations/daml-ghc/BUILD.bazel
  daml-foundations/daml-ghc/README.md
  daml-foundations/daml-ghc/daml-prim-and-stdlib-src/BUILD.bazel
  daml-foundations/daml-ghc/daml-prim-and-stdlib-src/Control
  daml-foundations/daml-ghc/daml-prim-and-stdlib-src/DA
  daml-foundations/daml-ghc/daml-prim-and-stdlib-src/Data
  daml-foundations/daml-ghc/daml-prim-and-stdlib-src/GHC
  daml-foundations/daml-ghc/daml-prim-and-stdlib-src/LibraryModules.daml
  daml-foundations/daml-ghc/daml-prim-and-stdlib-src/Prelude.daml
  daml-foundations/daml-ghc/daml-prim-and-stdlib-src/README.md
  daml-foundations/daml-ghc/package-database/BUILD.bazel
  daml-foundations/daml-ghc/package-database/deprecated/BUILD.bazel
  daml-foundations/daml-ghc/package-database/deprecated/README.md
  daml-foundations/daml-ghc/package-database/util.bzl
  daml-foundations/daml-ghc/src/DA/Daml/GHC/Compiler/Convert.hs
  daml-foundations/daml-ghc/src/DA/Daml/GHC/Compiler/Options.hs
  daml-foundations/daml-ghc/util.bzl
  daml-foundations/daml-tools/da-hs-daml-cli/BUILD.bazel
  daml-foundations/daml-tools/da-hs-daml-cli/DA/Cli/Damlc.hs
  daml-foundations/daml-tools/da-hs-damlc-app/BUILD.bazel
  daml-foundations/daml-tools/da-hs-damli-app/BUILD.bazel
  daml-foundations/daml-tools/language-server-tests/tests/diagnostics/failed-name-resolution/EXPECTED.json
  daml-foundations/daml-tools/language-server-tests/tests/diagnostics/import-cycle/EXPECTED.json
  daml-foundations/daml-tools/language-server-tests/tests/diagnostics/multi-module-funny/EXPECTED.json
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DarReaderTest.scala
  daml-lf/engine/BUILD.bazel
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/LargeTransactionTest.scala
  daml-lf/testing-tools/BUILD.bazel
  daml-lf/testing-tools/src/test/scala/com/digitalasset/daml/lf/engine/testing/SemanticTests.scala
  daml-lf/tests/BUILD.bazel
  daml-lf/tests/scenario/actualize.sh
  extractor/BUILD.bazel
  language-support/scala/codegen-sample-app/BUILD.bazel
  language-support/scala/codegen-sample-app/src/test/scala/com/digitalasset/codegen/ScalaCodeGenIT.scala
  language-support/scala/sandbox-control/src/main/scala/com/digitalasset/sandbox/SandboxFixture.scala
  ledger/ledger-api-integration-tests/BUILD.bazel
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/PlatformApplications.scala
  ledger/sandbox/BUILD.bazel
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/services/SandboxFixture.scala
  rules_daml/daml.bzl
Labels: language

#263 language: fix: redundant glob in BAZEL rule
  daml-foundations/daml-ghc/daml-prim-and-stdlib-src/BUILD.bazel
Labels: language

#201 Java codegen daml lf map
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/reader/InterfaceReader.scala
  docs/source/app-dev/bindings-java/codegen.rst
  docs/source/support/release-notes.rst
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/DamlMap.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/Value.java
  language-support/java/codegen/BUILD.bazel
  language-support/java/codegen/src/it/daml/Lib.daml
  language-support/java/codegen/src/it/daml/Tests/MapTest.daml
  language-support/java/codegen/src/it/java-1.3/com.digitalasset/AllTests.java
  language-support/java/codegen/src/it/java-1.3/com.digitalasset/MapTest.java
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/CodeGenRunner.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/Types.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/FromValueGenerator.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/RecordMethods.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/ToValueGenerator.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/package.scala
  language-support/java/codegen/src/test/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/RecordLikeMethodsSpec.scala
Labels: component/java-ecosystem, wip

#261 Use DarReader for fat-dar reading in java-codegen
  language-support/codegen-main/BUILD.bazel
  language-support/java/codegen/BUILD.bazel
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/CodeGenRunner.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/Main.scala
  language-support/java/codegen/src/test/daml/test.daml
  language-support/java/codegen/src/test/resources/codegenit.dalf
  language-support/java/codegen/src/test/resources/codegenit.dar
  language-support/java/codegen/src/test/resources/codegenit2.dar
  language-support/java/codegen/src/test/scala/com/digitalasset/daml/lf/codegen/CodeGenRunnerTests.scala
Labels: component/java-ecosystem

#214 decode key expressions in scala correctly. fixes #177
  daml-foundations/daml-ghc/tests/ContractKeys.daml
  daml-foundations/daml-ghc/tests/ContractKeysSimple.daml
  daml-lf/lfpackage/src/main/scala/com/digitalasset/daml/lf/lfpackage/DecodeV1.scala
Labels: component/daml-lf

#282 Fixes the missing margin between codeblocks and headings
  docs/theme/sass/_theme_layout.sass
Labels: component/documentation

#281 Describe escaping rules in Java codegen docs
  docs/source/app-dev/bindings-java/codegen.rst
Labels: component/documentation, component/java-ecosystem

#289 fixing races in PostgresDaoSpec
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/LedgerDao.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/PostgresDaoSpec.scala
Labels: component/ledger

#258 Fixes #257 java-codegen: Reorganize Java Codegen ITs
  docs/BUILD.bazel
  language-support/java/codegen/BUILD.bazel
  language-support/java/codegen/codegen.bzl
  language-support/java/codegen/src/it/java-1.0/com/digitalasset/lf1_0/AllTests.java
  language-support/java/codegen/src/it/java-1.0/com/digitalasset/lf1_0/OptionalTest.java
  language-support/java/codegen/src/it/java-1.1/com/digitalasset/lf1_1/AllTests.java
  language-support/java/codegen/src/it/java-1.1/com/digitalasset/lf1_1/OptionalTest.java
  language-support/java/codegen/src/it/java-1.3/com.digitalasset.lf1_3/AllTests.java
  language-support/java/codegen/src/it/java-1.3/com.digitalasset.lf1_3/MapTest.java
Labels: component/java-ecosystem

#294 Delete `scala/codegen-sql-support` and all related tests
  language-support/scala/codegen-sample-app/BUILD.bazel
  language-support/scala/codegen-sample-app/src/test/scala/com/digitalasset/codegen/GenericMultiTableScenario.scala
  language-support/scala/codegen-sample-app/src/test/scala/com/digitalasset/codegen/JsonLfTypeEncodingSpec.scala
  language-support/scala/codegen-sample-app/src/test/scala/com/digitalasset/codegen/OdsIntegrationH2Spec.scala
  language-support/scala/codegen-sample-app/src/test/scala/com/digitalasset/codegen/OdsIntegrationSpec.scala
  language-support/scala/codegen-sample-app/src/test/scala/com/digitalasset/codegen/SlickIntegrationH2Spec.scala
  language-support/scala/codegen-sample-app/src/test/scala/com/digitalasset/codegen/SlickIntegrationPostgreSqlSpec.scala
  language-support/scala/codegen-sample-app/src/test/scala/com/digitalasset/codegen/problems/JavaSqlDateKnownProblemSpec.scala
  language-support/scala/codegen-sample-app/src/test/scala/com/digitalasset/codegen/problems/JavaSqlTimestampSolvedProblemSpec.scala
  language-support/scala/codegen-sample-app/src/test/scala/com/digitalasset/codegen/problems/PostgreSqlKnownProblemSpec.scala
  language-support/scala/codegen-sql-contract-query-framework/BUILD.bazel
  language-support/scala/codegen-sql-contract-query-framework/src/main/scala/com/digitalasset/ods/slick/ContractSlickTableQuery.scala
  language-support/scala/codegen-sql-contract-query-framework/src/main/scala/com/digitalasset/ods/slick/LfEncodableSlickTableQuery.scala
  language-support/scala/codegen-sql-contract-query-framework/src/main/scala/com/digitalasset/ods/slick/PendingContracts.scala
  language-support/scala/codegen-sql-contract-query-framework/src/main/scala/com/digitalasset/ods/slick/ProjectionAndTable.scala
  language-support/scala/codegen-sql-contract-query-framework/src/main/scala/com/digitalasset/ods/slick/SlickProfile.scala
  language-support/scala/codegen-sql-contract-query-framework/src/main/scala/com/digitalasset/ods/slick/SlickTableQuery.scala
  language-support/scala/codegen-sql-contract-query-framework/src/main/scala/com/digitalasset/ods/slick/TemplateCompanionSlickTableQuery.scala
  language-support/scala/codegen-sql-contract-query-framework/src/main/scala/com/digitalasset/ods/slick/implicits/SlickImplicits.scala
  language-support/scala/codegen-sql-contract-query-framework/src/test/scala/com/digitalasset/ods/slick/H2TestUtils.scala
  language-support/scala/codegen-sql-contract-query-framework/src/test/scala/com/digitalasset/ods/slick/implicits/CustomArbitraries.scala
  language-support/scala/codegen-sql-contract-query-framework/src/test/scala/com/digitalasset/ods/slick/implicits/SlickImplicitsSpec.scala
  language-support/scala/codegen-sql-contract-query-framework/src/test/scala/com/digitalasset/ods/slick/implicits/Wrappers.scala
  language-support/scala/codegen-sql-support-testing/BUILD.bazel
  language-support/scala/codegen-sql-support-testing/src/main/scala/com/digitalasset/slick/H2Db.scala
  language-support/scala/codegen-sql-support-testing/src/main/scala/com/digitalasset/slick/PostgreSqlConnection.scala
  language-support/scala/codegen-sql-support-testing/src/main/scala/com/digitalasset/slick/PostgreSqlConnectionWithContainer.scala
  language-support/scala/codegen-sql-support-testing/src/main/scala/com/digitalasset/slick/SlickConnection.scala
  language-support/scala/codegen-sql-support-testing/src/main/scala/com/digitalasset/slick/SlickUtil.scala
  language-support/scala/codegen-sql-support-testing/src/main/scala/com/digitalasset/util/TryOps.scala
  language-support/scala/codegen-sql-support-testing/src/main/scala/com/digitalasset/util/package.scala
  language-support/scala/codegen-sql-support-testing/src/test/scala/com/digitalasset/util/PackageObjectSpec.scala
  language-support/scala/codegen-sql-support/BUILD.bazel
  language-support/scala/codegen-sql-support/src/main/scala/com/digitalasset/ledger/client/binding/encoding/CustomJdbcTypes.scala
  language-support/scala/codegen-sql-support/src/main/scala/com/digitalasset/ledger/client/binding/encoding/CustomJsonFormats.scala
  language-support/scala/codegen-sql-support/src/main/scala/com/digitalasset/ledger/client/binding/encoding/JdbcJsonTypeCodecs.scala
  language-support/scala/codegen-sql-support/src/main/scala/com/digitalasset/ledger/client/binding/encoding/JsonColumnMapping.scala
  language-support/scala/codegen-sql-support/src/main/scala/com/digitalasset/ledger/client/binding/encoding/JsonLfTypeEncoding.scala
  language-support/scala/codegen-sql-support/src/main/scala/com/digitalasset/ledger/client/binding/encoding/JsonTypeCodecs.scala
  language-support/scala/codegen-sql-support/src/main/scala/com/digitalasset/ledger/client/binding/encoding/ListOptionMapCodec.scala
  language-support/scala/codegen-sql-support/src/main/scala/com/digitalasset/ledger/client/binding/encoding/SlickTypeEncoding.scala
  language-support/scala/codegen-sql-support/src/main/scala/com/digitalasset/ledger/client/binding/encoding/SqlTypeConverters.scala
  language-support/scala/codegen-sql-support/src/test/scala/com/digitalasset/ledger/client/binding/encoding/CustomJsonFormatsTest.scala
  language-support/scala/codegen-sql-support/src/test/scala/com/digitalasset/ledger/client/binding/encoding/ListOptionToJsonCodecTest.scala
  language-support/scala/codegen-sql-support/src/test/scala/com/digitalasset/ledger/client/binding/encoding/MultiTableTests.scala
  language-support/scala/codegen-sql-support/src/test/scala/com/digitalasset/ledger/client/binding/encoding/PrimitiveTypeGenerators.scala
  language-support/scala/codegen-sql-support/src/test/scala/com/digitalasset/ledger/client/binding/encoding/SlickTypeEncodingTest.scala
  language-support/scala/codegen-sql-support/src/test/scala/com/digitalasset/ledger/client/binding/encoding/SqlTypeConvertersTest.scala
  release/src/Util.hs
Labels: component/scala-ecosystem

#292 do not wait for 2 seconds before shutting down the server
  ledger/sandbox/src/main/scala/com/digitalasset/ledger/server/LedgerApiServer/LedgerApiServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/SandboxResetService.scala
Labels: component/ledger

#301 release -sources jars for java, when available
  release/src/Util.hs
Labels: component/build-system

#285 Fetch status.proto from remote, simplify JS gRPC codegen
  bazel_tools/proto.bzl
  daml-lf/archive/BUILD.bazel
  deps.bzl
  language-support/java/bindings-rxjava/BUILD.bazel
  language-support/java/bindings/BUILD.bazel
  language-support/js/BUILD
  language-support/js/daml-grpc/BUILD
  language-support/js/daml-grpc/defs.bzl
  ledger-api/grpc-definitions/BUILD.bazel
  ledger-api/grpc-definitions/google/rpc/README.md
  ledger-api/grpc-definitions/google/rpc/code.proto
  ledger-api/grpc-definitions/google/rpc/error_details.proto
  ledger-api/grpc-definitions/google/rpc/rpc_publish.yaml
  ledger-api/grpc-definitions/google/rpc/status.proto
  ledger-api/grpc-definitions/post-process.sh
  ledger/ledger-api-akka/BUILD.bazel
  ledger/ledger-api-scala-logging/BUILD.bazel
  nix/bazelrc
Labels: component/build-system, component/ledger

#309 Implement legacy DAR support, #308
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DarReader.scala
Labels: component/daml-lf

#305 Implement Functor for Dar, #109
  daml-lf/archive/BUILD.bazel
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/Dar.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DarSpec.scala
Labels: component/scala-ecosystem

#346 HOTFIX damlc: allow for passing options to the underlying GHC
  compiler/haskell-ide-core/src/Development/IDE/UtilGHC.hs
  daml-foundations/daml-ghc/src/DA/Daml/GHC/Compiler/Options.hs
  daml-foundations/daml-tools/da-hs-daml-cli/DA/Cli/Damlc.hs
Labels: language

#354 Improve SDK installations instructions a bit
  docs/source/getting-started/installation.rst
Labels: component/documentation

#206 clean up the static types of LF transaction nodes in Engine
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Blinding.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/types/Ledger.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Node.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionSpec.scala
Labels: component/daml-engine

#359 Add Universal Archive Reader to parse DARs and DALFs
  daml-lf/archive/BUILD.bazel
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DarReader.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/UniversalArchiveReader.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/UniversalArchiveReaderSpec.scala
Labels: component/daml-lf, component/scala-ecosystem

#247 Sandbox Sql fixture
  ledger-api/testing-utils/src/main/scala/com/digitalasset/ledger/api/testing/utils/MappedResource.scala
  ledger-api/testing-utils/src/main/scala/com/digitalasset/ledger/api/testing/utils/Resource.scala
  ledger/ledger-api-integration-tests/BUILD.bazel
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/PackageServiceIT.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/PlatformApplications.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/LedgerBackend.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/LedgerFactories.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/MultiLedgerFixture.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxApplication.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/LedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/PostgresLedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/util/SqlExecutor.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/persistence/PostgresAround.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/services/SandboxFixtureSQL.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/PostgresDaoSpec.scala
Labels: component/ledger

#290 Fix #152 java-codegen: Document parameterized types.
  docs/BUILD.bazel
  docs/source/app-dev/bindings-java/code-snippets/ParameterizedTypes.daml
  docs/source/app-dev/bindings-java/code-snippets/Variants.daml
  docs/source/app-dev/bindings-java/codegen.rst
  docs/source/daml/reference/data-types.rst
  docs/theme/sass/_theme_layout.sass
Labels: component/java-ecosystem

#362 docs: Explain the dependencies for the output of the Java codegen.
  docs/source/app-dev/bindings-java/codegen.rst
  docs/source/app-dev/bindings-java/index.rst
  docs/source/tools/assistant.rst
Labels: component/documentation, component/java-ecosystem

#392 Sandbox Postgres support with passing api integration tests
  docs/source/support/release-notes.rst
  ledger/backend-api/src/main/scala/com/digitalasset/ledger/backend/api/v1/LedgerBackend.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/TransactionServiceIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/transaction/TransactionBackpressureIT.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/CommandTransactionChecks.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/MultiFixtureBase.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/MultiLedgerFixture.scala
  ledger/ledger-api-server-example/src/main/scala/com/digitalasset/ledger/example/Backend.scala
  ledger/sandbox/src/main/scala/com/digitalasset/ledger/server/LedgerApiServer/LedgerApiServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxApplication.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/cli/Cli.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/SandboxSubmissionService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/Ledger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/SandboxLedgerBackend.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/inmemory/InMemoryLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/LedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/PostgresLedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/migration/HikariJdbcConnectionProvider.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/util/DbDispatcher.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedgerSpec.scala
Labels: component/ledger

#432 daml-on-x-server: document all participant state interfaces
  ledger/participant-state/reference/src/main/scala/com/daml/ledger/participant/state/v1/impl/reference/Ledger.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/ReadService.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/RejectionReason.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/Update.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/WriteService.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/package.scala
Labels: component/dlik

#439 fix various conversion functions from string to Decimal
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/Decimal.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/TypingSpec.scala
  docs/source/support/release-notes.rst
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/participant/util/ApiToLfEngine.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/platform/participant/util/ApiToLfEngineSpec.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/CommandTransactionChecks.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/TestTemplateIdentifiers.scala
  ledger/sandbox/src/test/resources/damls/Test.daml
Labels: component/ledger

#466 Reuse the same Engine object between ledger resets
  ledger/ledger-api-server-example/src/main/scala/com/digitalasset/ledger/example/Application.scala
  ledger/sandbox/src/main/scala/com/digitalasset/ledger/server/LedgerApiServer/LedgerApiServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxApplication.scala
Labels: component/ledger

#477 Include google/rpc/*.proto into ledger-api-scalapb
  ledger-api/grpc-definitions/BUILD.bazel
Labels: component/scala-ecosystem

#484 use .dars consistently in tests rather than .dalfs
  3rdparty/dependencies.digest
  build.sh
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/UniversalArchiveReader.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/UniversalArchiveReaderSpec.scala
  daml-lf/engine/BUILD.bazel
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/LargeTransactionTest.scala
  daml-lf/repl/src/main/scala/com/digitalasset/daml/lf/repl/Main.scala
  daml-lf/testing-tools/BUILD.bazel
  daml-lf/testing-tools/src/test/scala/com/digitalasset/daml/lf/engine/testing/SemanticTests.scala
  daml-lf/tests/BUILD.bazel
  daml-lf/tests/daml-lf-test.sh
  daml-lf/tests/scenario/test.sh
  extractor/BUILD.bazel
  extractor/src/test/suite/scala/com/digitalasset/extractor/BasicPrimitiveTypesSpec.scala
  extractor/src/test/suite/scala/com/digitalasset/extractor/ListsSpec.scala
  extractor/src/test/suite/scala/com/digitalasset/extractor/MapsSpec.scala
  extractor/src/test/suite/scala/com/digitalasset/extractor/OptionalSpec.scala
  extractor/src/test/suite/scala/com/digitalasset/extractor/RecordsAndVariantsSpec.scala
  extractor/src/test/suite/scala/com/digitalasset/extractor/TransactionSpec.scala
  ledger/ledger-api-integration-tests/BUILD.bazel
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/PackageServiceIT.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/PlatformApplications.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/tests/integration/ledger/api/TransactionServiceHelpers.scala
  ledger/ledger-api-integration-tests/src/test/semanticsuite/scala/com/digitalasset/platform/semantictest/SandboxSemanticTestsLfRunner.scala
  ledger/sandbox-perf/BUILD.bazel
  ledger/sandbox-perf/src/perf/benches/scala/com/digitalasset/platform/sandbox/perf/AcsBench.scala
  ledger/sandbox-perf/src/perf/benches/scala/com/digitalasset/platform/sandbox/perf/SimpleBench.scala
  ledger/sandbox-perf/src/perf/lib/scala/com/digitalasset/platform/sandbox/perf/AcsBenchState.scala
  ledger/sandbox-perf/src/perf/lib/scala/com/digitalasset/platform/sandbox/perf/TestHelper.scala
  ledger/sandbox-perf/src/perf/lib/scala/com/digitalasset/platform/sandbox/perf/util/DarUtil.scala
  ledger/sandbox/BUILD.bazel
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/TestHelpers.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/services/SandboxFixture.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/config/SandboxContextSpec.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/services/transaction/EventConverterSpec.scala
Labels: component/build-system

#462 HOTFIX: increasing 30.sec timeout to 300.sec
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/tests/integration/ledger/api/FutureTimeouts.scala
Labels: component/ledger

#366 scala/codegen Fat Dar support
  daml-lf/archive/BUILD.bazel
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/Dar.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DarSpec.scala
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/reader/DamlLfV1ArchiveReader.scala
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/reader/InterfaceReader.scala
  language-support/scala/codegen-sample-app/BUILD.bazel
  language-support/scala/codegen-sample-app/src/main/daml/MySecondMain.daml
  language-support/scala/codegen-sample-app/src/test/scala/com/digitalasset/codegen/ScalaCodeGenIT.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/CodeGen.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/Main.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/Util.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/lf/EnvironmentInterface.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/lf/LFUtil.scala
Labels: component/scala-ecosystem

#482 make reference index service stop repeating last event indefinitely + refactoring
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/DamlOnXActiveContractsService.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/DamlOnXCommandCompletionService.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/DamlOnXLedgerConfigurationService.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/DamlOnXPackageService.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/DamlOnXSubmissionService.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/DamlOnXTransactionService.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/services/grpc/GrpcTransactionService.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/validation/ActiveContractsServiceValidation.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/validation/CommandServiceValidation.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/validation/PackageServiceValidation.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/services/command/ReferenceCommandService.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/services/identity/LedgerIdentityServiceImpl.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/services/testing/ReferenceTimeService.scala
  ledger/participant-state-index/reference/src/main/scala/com/daml/ledger/participant/state/index/v1/impl/reference/ReferenceIndexService.scala
  ledger/participant-state/reference/src/main/scala/com/daml/ledger/participant/state/v1/impl/reference/Ledger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/transaction/SandboxTransactionService.scala
Labels: component/ledger

#521 Remove blocking call in Bot.wire
  docs/source/support/release-notes.rst
  language-support/java/bindings-rxjava/src/main/java/com/daml/ledger/rxjava/components/Bot.java
Labels: component/java-ecosystem

#523 Navigator: URLEncode party names for Akka
  navigator/backend/src/main/scala/com/digitalasset/navigator/store/platform/PlatformStore.scala
Labels: component/navigator

#483 adding explicit back pressure to Command Submission
  ledger/backend-api/src/main/scala/com/digitalasset/ledger/backend/api/v1/RejectionReason.scala
  ledger/backend-api/src/main/scala/com/digitalasset/ledger/backend/api/v1/SubmissionHandle.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/services/testing/TimeServiceBackend.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/commands/CommandServiceBackPressureIT.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/PlatformApplications.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/CommandTransactionChecks.scala
  ledger/ledger-api-server-example/src/main/scala/com/digitalasset/ledger/example/Backend.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxApplication.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/SandboxSubmissionService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/Ledger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/SandboxLedgerBackend.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/inmemory/InMemoryLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedger.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/PostgresDaoSpec.scala
Labels: component/ledger

#540 store sandbox perf test results as artifacts
  build.sh
  ci/build-unix.yml
Labels: component/build-system

#549 Remove compiler option that turned off fatal-warnings
  language-support/scala/bindings/BUILD.bazel
Labels: component/scala-ecosystem

#552 porting ResetServiceIT to the common testing suite
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/ResetServiceIT.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/LedgerContext.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/services/ResetServiceIT.scala
Labels: component/ledger

#425 language-support: more ScalaCodeGenIT coverage for Maps
  language-support/scala/codegen-sample-app/src/main/daml/MyMain.daml
  language-support/scala/codegen-sample-app/src/test/scala/com/digitalasset/codegen/ScalaCodeGenIT.scala
Labels: automerge

#553 enable mergify
  .mergify.yml
Labels: automerge

#554 fix the other typo in build.sh
  build.sh
Labels: automerge

#562 Add reference for passing -j 200 to Bazel
  build.sh
Labels: automerge

#576 strictify mergify
  .mergify.yml
Labels: automerge

#569 Reorganize damlc to put the test stuff in a separate module
  daml-foundations/daml-tools/da-hs-daml-cli/DA/Cli/Damlc.hs
  daml-foundations/daml-tools/da-hs-daml-cli/DA/Cli/Damlc/Base.hs
  daml-foundations/daml-tools/da-hs-daml-cli/DA/Cli/Damlc/Test.hs
  daml-foundations/daml-tools/da-hs-daml-cli/DA/Cli/Output.hs
  daml-foundations/daml-tools/da-hs-daml-cli/tests/DamlcTest.hs
Labels: automerge

#579 release 0.12.7
  VERSION
  docs/source/support/release-notes.rst
Labels: automerge

#566 Extracting large command test from TransactionServiceIT
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/CommandPreprocessor.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/TransactionServiceIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/TransactionServiceLargeCommandIT.scala
Labels: automerge, component/ledger

#578 Split mvn step in quickstart example in two commands
  docs/source/getting-started/quickstart.rst
Labels: automerge

#573 Rename DA.Private.TextMap into DA.TextMap
  daml-foundations/daml-ghc/daml-stdlib-src/DA/Internal/Prelude.daml
  daml-foundations/daml-ghc/daml-stdlib-src/DA/TextMap.daml
  daml-foundations/daml-ghc/daml-stdlib-src/LibraryModules.daml
  daml-foundations/daml-ghc/src/DA/Daml/GHC/Compiler/Preprocessor.hs
  daml-foundations/daml-ghc/tests/TextMap.daml
  daml-foundations/daml-tools/language-server-tests/tests/diagnostics/scenario-error/EXPECTED.json
  extractor/src/test/resources/damls/PrimitiveTypes.daml
  language-support/java/codegen/src/it/daml/Tests/MapTest.daml
  language-support/scala/codegen-sample-app/src/main/daml/MyMain.daml
Labels: automerge

#555 VS code extension - syntax highlighter dev guide
  daml-foundations/daml-tools/daml-extension/README.md
  daml-foundations/daml-tools/daml-extension/extension_guide.md
  daml-foundations/daml-tools/daml-extension/syntaxes/TestGrammar.daml
Labels: automerge

#574 Implement post-consuming choices
  daml-foundations/daml-ghc/daml-stdlib-src/DA/Internal/Template.daml
  daml-foundations/daml-ghc/src/DA/Daml/GHC/Compiler/Convert.hs
  daml-foundations/daml-ghc/tests/ConsumingTests.daml
Labels: automerge

#586 Adding non-consuming pre-consuming and postconsuming keywords
  daml-foundations/daml-tools/daml-extension/syntaxes/TestGrammar.daml
  daml-foundations/daml-tools/daml-extension/syntaxes/daml12.tmLanguage.xml
Labels: automerge

#568 Build and run damlc on Windows
  3rdparty/haskell/network-package.bzl
  bazel_tools/BUILD.bazel
  bazel_tools/haskell-drop-fake-static.patch
  bazel_tools/haskell-static-linking.patch
  build.ps1
  daml-foundations/daml-ghc/package-database/util.bzl
  daml-foundations/daml-tools/da-hs-damlc-app/BUILD.bazel
  deps.bzl
Labels: automerge

#419 Embryonic math library for DAML
  daml-foundations/daml-ghc/daml-prim-src/GHC/Num.daml
  daml-foundations/daml-ghc/daml-stdlib-src/DA/Internal/Prelude.daml
  daml-foundations/daml-ghc/daml-stdlib-src/DA/Math.daml
  daml-foundations/daml-ghc/daml-stdlib-src/LibraryModules.daml
  daml-foundations/daml-ghc/tests/Math.daml
  daml-foundations/daml-tools/language-server-tests/tests/diagnostics/scenario-error/EXPECTED.json
  docs/source/support/release-notes.rst
Labels: automerge, language

#588 Integrate ghc-lib-0.20190417
  WORKSPACE
  daml-foundations/daml-ghc/daml-stdlib-src/DA/Internal/Desugar.daml
  daml-foundations/daml-ghc/tests/ConsumingTests.daml
Labels: automerge

#580 running sandbox performance tests with SQL backend
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/LedgerFactories.scala
  ledger/sandbox-perf/src/perf/lib/scala/com/digitalasset/platform/sandbox/perf/PerfBenchState.scala
Labels: automerge, component/ledger

#594 Support package_app on windows
  bazel_tools/packaging/package-app.sh
  bazel_tools/packaging/packaging.bzl
  build.ps1
Labels: automerge

#595 Build //daml-assistant:daml on Windows
  bazel_tools/haskell-static-linking.patch
  build.ps1
Labels: automerge

#368 infra: add VSTS windows agents
  infra/apply
  infra/vsts_agent_windows.tf
Labels: automerge

#596 bazel: move .bazelrc back to the repo root
  .bazelrc
  build.ps1
  nix/packages.nix
Labels: automerge

#558 Update Scala Codegen SBT Example
  language-support/scala/codegen-sbt-example/README.md
  language-support/scala/codegen-sbt-example/build.sbt
  language-support/scala/codegen-sbt-example/project/Versions.scala
  language-support/scala/codegen-sbt-example/sandbox-example/src/main/scala/com/digitalasset/example/ExampleMain.scala
Labels: automerge, component/scala-ecosystem

#598 language: fix: accidentally removed project database
  daml-foundations/daml-ghc/src/DA/Daml/GHC/Compiler/Options.hs
Labels: automerge

#600 bump macOS builders to 10.14 Mojave
  azure-pipelines.yml
Labels: automerge

#563 Add CreateAndExercise command throughout the stack
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Command.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/CommandPreprocessor.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Command.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  docs/source/support/release-notes.rst
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/CreateAndExerciseCommand.java
  ledger-api/grpc-definitions/com/digitalasset/ledger/api/v1/commands.proto
  ledger/ledger-api-common/src/main/scala/com/digitalasset/ledger/api/validation/CommandSubmissionRequestValidator.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/participant/util/ApiToLfEngine.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/participant/util/LfEngineToApi.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/validation/CommandPayloadValidations.scala
  ledger/ledger-api-domain/src/main/scala/com/digitalasset/ledger/api/domain.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/commands/CommandSubmissionServiceIT.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/CommandTransactionChecks.scala
Labels: automerge, component/daml-engine, component/ledger

#605 run perf tests separately
  azure-pipelines.yml
  build.sh
Labels: automerge

#597 Build SDK release tarball on Windows
  build.ps1
Labels: automerge

#607 generate Haskell from ledger-api protos
  ledger-api/grpc-definitions/BUILD.bazel
Labels: automerge

#585 Unify Scala and Java Codegen Inputs
  language-support/codegen-common/BUILD.bazel
  language-support/codegen-common/src/main/scala/com/digitalasset/daml/lf/codegen/conf/Conf.scala
  language-support/codegen-common/src/test/scala/com/digitalasset/daml/lf/codegen/conf/ConfSpec.scala
  language-support/java/codegen/BUILD.bazel
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/CodeGenRunner.scala
  language-support/java/codegen/src/test/scala/com/digitalasset/daml/lf/codegen/CodeGenRunnerTests.scala
  language-support/scala/codegen-sample-app/BUILD.bazel
  language-support/scala/codegen/BUILD.bazel
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/CodeGen.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/Main.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/lf/DamlContractTemplateGen.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/lf/DamlRecordOrVariantTypeGen.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/lf/LFUtil.scala
  release-dry-run.sh
  release/artifacts.yaml
Labels: automerge, component/java-ecosystem, component/scala-ecosystem

#610 Adding snippet support for choice
  daml-foundations/daml-tools/daml-extension/snippets/daml.json
Labels: automerge

#617 Release codegen front-end shaded binary, #615
  language-support/codegen-main/BUILD.bazel
  release/artifacts.yaml
Labels: automerge, component/java-ecosystem, component/scala-ecosystem

#405 Check contract visibility when looking up contracts in sandbox
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Error.scala
  ledger/backend-api/src/main/scala/com/digitalasset/ledger/backend/api/v1/SubmissionHandle.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/CommandTransactionChecks.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/TestTemplateIdentifiers.scala
  ledger/ledger-api-integration-tests/src/test/semanticsuite/scala/com/digitalasset/platform/semantictest/SandboxSemanticTestsLfRunner.scala
  ledger/ledger-api-server-example/src/main/scala/com/digitalasset/ledger/example/Backend.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxApplication.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/SandboxSubmissionService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ActiveContracts.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/CommandExecutorImpl.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/Ledger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/SandboxLedgerBackend.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/ScenarioLoader.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/inmemory/InMemoryLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/LedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/PostgresLedgerDao.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/TestHelpers.scala
  ledger/sandbox/src/test/resources/damls/Test.daml
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/services/transaction/EventConverterSpec.scala
Labels: automerge, component/daml-engine, component/ledger

#619 Adding stepts to run daml scenario in daml-ghc readme
  daml-foundations/daml-ghc/README.md
Labels: automerge

#519 DamlOnX refactoring: Drop StateInit, Long Offset
  WORKSPACE
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/LanguageMajorVersion.scala
  deps.bzl
  ledger/api-server-damlonx/reference/src/main/scala/com/daml/ledger/api/server/damlonx/reference/ReferenceServer.scala
  ledger/participant-state-index/reference/src/main/scala/com/daml/ledger/participant/state/index/v1/impl/reference/IndexState.scala
  ledger/participant-state-index/reference/src/main/scala/com/daml/ledger/participant/state/index/v1/impl/reference/ReferenceIndexService.scala
  ledger/participant-state/reference/src/main/scala/com/daml/ledger/participant/state/v1/impl/reference/Ledger.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/ReadService.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/Update.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/package.scala
Labels: automerge

#626 Remove outdated documentation things
  ledger-api/README.md
Labels: automerge

#628 Remove a comment regarding the consuming method of the Choice class
  daml-foundations/daml-ghc/daml-stdlib-src/DA/Internal/Template.daml
Labels: automerge

#635 windows: fail on dev-env sync errors
  dev-env/windows/libexec/core.ps1
  dev-env/windows/test/dadew.Tests.ps1
  dev-env/windows/test/envs/nodejs/.dadew
Labels: automerge

#632 Add Functor/Foldable/Traversable instances for DAML's TextMap
  daml-foundations/daml-ghc/daml-stdlib-src/DA/TextMap.daml
Labels: automerge

#640 Update README.md
  ledger/README.md
Labels: automerge, component/ledger

#642 Make daml new files writeable.
  daml-assistant/daml-helper/src/DamlHelper.hs
Labels: automerge

#629 Fix termination of scenario service on Windows
  azure-pipelines.yml
  compiler/scenario-service/client/src/DA/Daml/LF/ScenarioServiceClient/LowLevel.hs
  daml-foundations/daml-ghc/package-database/util.bzl
Labels: automerge

#638 Inline record projections on this in maintainer expression
  daml-foundations/daml-ghc/src/DA/Daml/GHC/Compiler/Convert.hs
  daml-foundations/daml-ghc/tests/ContractKeyTests.daml
Labels: automerge

#633 Use isSingleConType instead of hand written pattern in Convert.hs
  daml-foundations/daml-ghc/src/DA/Daml/GHC/Compiler/Convert.hs
Labels: automerge

#639 Check that contract keys are supported in DAML-LF type checker
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/EncodeV1.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Check.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Error.hs
Labels: automerge

#647 Simplify implementation of fetchByKey in compiler
  daml-foundations/daml-ghc/daml-stdlib-src/DA/Internal/Template.daml
  daml-foundations/daml-ghc/src/DA/Daml/GHC/Compiler/Convert.hs
Labels: automerge

#611 Introducing range queries in Dispatcher
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/akkastreams/Dispatcher.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/platform/akkastreams/DispatcherIT.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/platform/akkastreams/DispatcherSpec.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/transaction/SandboxTransactionService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/inmemory/LedgerEntries.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/LedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/PostgresLedgerDao.scala
Labels: automerge, component/ledger

#664 Remove a temporary hack regarding daml-stdlib.dar and Scala tests
  daml-foundations/daml-ghc/src/DA/Daml/GHC/Compiler/Convert.hs
Labels: automerge

#657 allow arbitrary version numbers
  release/src/Main.hs
  release/src/Types.hs
  release/src/Util.hs
Labels: automerge

#643 use WithTxValue in place of VersionedValue more broadly
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/NodeToCommand.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/InMemoryPrivateLedgerData.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/LargeTransactionTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/testing-tools/src/main/scala/com/digitalasset/daml/lf/engine/testing/SemanticTester.scala
  daml-lf/transaction-scalacheck/src/main/scala/com/digitalasset/daml/lf/value/ValueGenerators.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
  ledger/backend-api/src/main/scala/com/digitalasset/ledger/backend/api/v1/v1.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/common/PlatformTypes.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/services/transaction/TransactionWithMeta.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/package.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ActiveContracts.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/LedgerEntry.scala
Labels: automerge, component/daml-engine

#646 adding Metrics around Ledger operations
  3rdparty/dependencies.digest
  3rdparty/jvm/io/dropwizard/metrics/BUILD
  3rdparty/workspace.bzl
  dependencies.yaml
  ledger/sandbox/BUILD.bazel
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxApplication.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/metrics/MetricsManager.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/Ledger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/MeteredLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/LedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/MeteredLedgerDao.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/MetricsAround.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedgerSpec.scala
Labels: automerge, component/ledger

#667 windows: fix concurrent sandbox tars building
  build.ps1
  ledger/sandbox/BUILD.bazel
Labels: automerge

#670 Document the need for long file paths on Windows
  dev-env/windows/README.md
Labels: automerge

#655 Disable echo in daml wrapper script
  daml-assistant/src/DAML/Assistant/Install.hs
  libs-haskell/da-hs-language-server/src/DA/LanguageServer/Server.hs
Labels: automerge

#676 Generate and compile Haskell for Ledger API protos
  ledger-api/grpc-definitions/BUILD.bazel
Labels: automerge, component/ledger

#652 Generate daml new config file from template
  daml-assistant/daml-helper/src/DamlHelper.hs
  release/BUILD.bazel
Labels: automerge

#645 release 0.12.9
  VERSION
  docs/source/support/release-notes.rst
Labels: automerge

#679 Fix concurrent DAML compilations on Windows
  daml-foundations/daml-ghc/package-database/util.bzl
Labels: automerge

#651 Improve comment on `SubmitRequest`
  ledger-api/grpc-definitions/com/digitalasset/ledger/api/v1/command_submission_service.proto
Labels: automerge

#606 daml-lf fix and cleanup Decimal.fromString
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/Decimal.scala
  daml-lf/data/src/test/scala/com/digitalasset/daml/lf/data/DecimalSpec.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  daml-lf/parser/src/test/scala/com/digitalasset/daml/lf/testing/parser/ParsersSpec.scala
  daml-lf/spec/daml-lf-1.rst
  daml-lf/spec/value.rst
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/participant/util/ApiToLfEngine.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/platform/participant/util/ApiToLfEngineSpec.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/commands/CommandClientIT.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/CommandTransactionChecks.scala
Labels: automerge

#677 add Windows tarball to github releases
  azure-pipelines.yml
  ci/build-windows.yml
  daml-assistant/src/DAML/Assistant/Install/Github.hs
Labels: automerge

#650 language: change default output dir of `package` command
  daml-assistant/integration-tests/src/Main.hs
  daml-foundations/daml-tools/da-hs-daml-cli/DA/Cli/Damlc.hs
Labels: automerge

#662 Fixes #659 build-system: Fix failure of ci/release.sh on unset variable
  ci/release.sh
Labels: automerge, component/build-system

#654 make DAML-LF 1.3 the default
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  docs/source/support/release-notes.rst
Labels: automerge

#684 Forward sandbox arguments properly (and navigator & extractor).
  daml-assistant/daml-helper/src/DamlHelper.hs
  daml-assistant/daml-helper/src/Main.hs
  release/sdk-config.yaml.tmpl
Labels: automerge

#686 Release SDK 0.12.10
  VERSION
  docs/source/support/release-notes.rst
Labels: automerge

#656 Add a script to download and install daml for Linux and macOS.
  daml-assistant/get-daml.sh
Labels: automerge

#685 Create .bazelrc.local on Windows if it does not already exist
  build.ps1
Labels: automerge

#666 Fix packaging of ghc-pkg on Unix systems
  WORKSPACE
  bazel_tools/packaging/package-app.sh
  bazel_tools/packaging/packaging.bzl
  daml-foundations/daml-tools/da-hs-daml-cli/DA/Cli/Damlc.hs
  daml-foundations/daml-tools/da-hs-damlc-app/BUILD.bazel
Labels: automerge

#688 Update the README with instructions to install and use a local version
  README.md
Labels: automerge

#663 Clean up how we check DAML-LF feature support in damlc
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/EncodeV1.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Check.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Error.hs
  daml-foundations/daml-ghc/src/DA/Daml/GHC/Compiler/Convert.hs
  daml-foundations/daml-ghc/src/DA/Daml/GHC/Compiler/Primitives.hs
Labels: automerge

#561 validate invariants on the transaction streams in indexer
  ledger/participant-state-index/BUILD.bazel
  ledger/participant-state-index/reference/BUILD.bazel
  ledger/participant-state-index/reference/src/main/scala/com/daml/ledger/participant/state/index/v1/impl/reference/BoundedOffsetValidation.scala
  ledger/participant-state-index/reference/src/main/scala/com/daml/ledger/participant/state/index/v1/impl/reference/MonotonicallyIncreasingOffsetValidation.scala
  ledger/participant-state-index/reference/src/main/scala/com/daml/ledger/participant/state/index/v1/impl/reference/ReferenceIndexService.scala
  ledger/participant-state-index/reference/src/test/scala/com/daml/ledger/participant/state/index/v1/impl/reference/BoundedOffsetValidationTest.scala
  ledger/participant-state-index/reference/src/test/scala/com/daml/ledger/participant/state/index/v1/impl/reference/MonotonicallyIncreasingOffsetValidationTest.scala
  ledger/participant-state-index/src/main/scala/com/daml/ledger/participant/state/index/v1/package.scala
  ledger/participant-state/reference/src/main/scala/com/daml/ledger/participant/state/v1/impl/reference/Ledger.scala
Labels: component/dlik, component/ledger

#678 parametrize iface types only by type...
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/DefDataType.scala
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/Type.scala
  daml-lf/interface/src/test/scala/com/digitalasset/daml/lf/iface/TypeSpec.scala
  extractor/src/main/scala/com/digitalasset/extractor/Types.scala
  extractor/src/main/scala/com/digitalasset/extractor/writers/postgresql/DataFormat.scala
  extractor/src/main/scala/com/digitalasset/extractor/writers/postgresql/MultiTableDataFormat.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/CodeGen.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/dependencygraph/DependencyGraph.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/lf/DamlRecordOrVariantTypeGen.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/lf/LFUtil.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/lf/UsedTypeParams.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/model/package.scala
Labels: automerge, component/daml-lf

#700 example of using haskell-grpc
  language-support/hs/examples/ex-haskell-grpc-arithmetic/ArithmeticClient.hs
  language-support/hs/examples/ex-haskell-grpc-arithmetic/ArithmeticServer.hs
  language-support/hs/examples/ex-haskell-grpc-arithmetic/BUILD.bazel
  language-support/hs/examples/ex-haskell-grpc-arithmetic/README.md
  language-support/hs/examples/ex-haskell-grpc-arithmetic/arithmetic.proto
Labels: automerge, component/ledger

#698 infra: reduce differences with hosted
  infra/vsts_agent_windows.tf
Labels: automerge

#649 Simplify ledger Api domain (drop ledger domain values)
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/Decimal.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/SortedLookupList.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/CommandPreprocessor.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/NodeToCommand.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/LargeTransactionTest.scala
  daml-lf/parser/BUILD.bazel
  daml-lf/testing-tools/src/main/scala/com/digitalasset/daml/lf/engine/testing/SemanticTester.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/command/Command.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/Value.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/DamlOnXSubmissionService.scala
  ledger/ledger-api-common/BUILD.bazel
  ledger/ledger-api-common/src/main/scala/com/digitalasset/ledger/api/validation/CommandSubmissionRequestValidator.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/ledger/api/validation/TransactionFilterValidator.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/ledger/api/validation/TransactionServiceRequestValidator.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/participant/util/ApiToLfEngine.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/participant/util/LfEngineToApi.scala
  ledger/ledger-api-common/src/test/lib/scala/com/digitalasset/ledger/api/DomainMocks.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/ledger/api/ValueConversionRoundTripTest.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/ledger/api/validation/CommandSubmissionRequestValidatorTest.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/platform/participant/util/ApiToLfEngineSpec.scala
  ledger/ledger-api-domain/BUILD.bazel
  ledger/ledger-api-domain/src/main/scala/com/digitalasset/ledger/api/domain.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/semantictest/ApiScenarioTransform.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/semantictest/SemanticTestAdapter.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/SandboxSubmissionService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/CommandExecutor.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/CommandExecutorImpl.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/services/transaction/EventConverterSpec.scala
Labels: automerge, component/daml-engine

#680 Navigator console: Fix documentation of contract arguments
  docs/source/tools/navigator/console.rst
  navigator/backend/src/main/scala/com/digitalasset/navigator/console/commands/Contract.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/console/commands/Event.scala
Labels: automerge, component/navigator

#697 fix Windows release to GitHub
  ci/build-windows.yml
Labels: automerge

#668 adding missing tests around Sandbox's CLI module
  docs/source/support/release-notes.rst
  docs/source/tools/sandbox.rst
  language-support/java/codegen/src/ledger-tests/scala/com/digitalasset/CodegenLedgerTest.scala
  language-support/scala/codegen-sample-app/src/test/scala/com/digitalasset/codegen/ScalaCodeGenIT.scala
  language-support/scala/codegen-sbt-example/sandbox-example/src/main/scala/com/digitalasset/example/ExampleMain.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/PlatformApplications.scala
  ledger/ledger-api-server-example/src/main/scala/com/digitalasset/ledger/example/Application.scala
  ledger/sandbox/src/main/scala/com/digitalasset/ledger/server/LedgerApiServer/LedgerApiServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxApplication.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/cli/Cli.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/config/DamlPackageContainer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/config/LedgerIdMode.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/config/SandboxConfig.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/cli/CliSpec.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/services/SandboxFixture.scala
Labels: component/ledger

#541 Improve the multi party pattern
  docs/source/daml/patterns/daml/MultiplePartyAgreement.daml
Labels: automerge

#717 Making api integration tests run exclusively to avoid flakiness
  ledger/ledger-api-integration-tests/BUILD.bazel
Labels: component/ledger

#648 Enable Bazel execution logs on Windows CI
  build.ps1
  ci/build-windows.yml
Labels: automerge

#712 Update to ghc-lib-0.20190425.1
  WORKSPACE
Labels: automerge

#440 daml-integration-kit: release PRE-ALPHA version in SDK
  docs/source/daml-integration-kit/images/architecture-overview.svg
  docs/source/daml-integration-kit/images/server-classes-and-interfaces.svg
  docs/source/daml-integration-kit/index.rst
  docs/source/experimental/warning.rst
  docs/source/index.rst
  docs/source/support/release-notes.rst
Labels: automerge, component/dlik, component/documentation

#724 Add lsp deps
  WORKSPACE
  compiler/haskell-ide-core/src/Development/IDE/State/Shake.hs
  util.bzl
Labels: automerge

#729 daml-integration-kit: add table of ledgers to docs
  docs/source/daml-integration-kit/index.rst
Labels: automerge, component/dlik, component/documentation

#733 Fix broken docs links to fix red master
  docs/source/app-dev/ledger-api-introduction
  docs/source/daml-integration-kit/index.rst
Labels: automerge

#707 empty daml_lf_0.proto, leaving Package so LFv0 errors preserved as-is
  daml-lf/archive/da/daml_lf_0.proto
Labels: component/daml-lf

#681 remove major LF dev version
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  compiler/daml-lf-proto/BUILD.bazel
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/Decode.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/DecodeV1.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/DecodeVDev.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/Encode.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/EncodeVDev.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/VersionVDev.hs
  compiler/scenario-service/client/src/DA/Daml/LF/ScenarioServiceClient/LowLevel.hs
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Context.scala
  daml-foundations/daml-ghc/package-database/BUILD.bazel
  daml-foundations/daml-ghc/src/DA/Daml/GHC/Compiler/Options.hs
  daml-foundations/daml-tools/da-hs-daml-cli/DA/Cli/Damlc.hs
  daml-foundations/daml-tools/da-hs-daml-cli/DA/Cli/Options.hs
  daml-lf/archive/BUILD.bazel
  daml-lf/archive/da/daml_lf.proto
  daml-lf/archive/da/daml_lf_dev.proto
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/LanguageMajorVersion.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/LanguageVersion.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/Reader.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/LanguageMajorVersionSpec.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/LanguageVersionSpec.scala
  daml-lf/governance.rst
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/reader/DamlLfV1ArchiveReader.scala
  daml-lf/lfpackage/src/main/scala/com/digitalasset/daml/lf/lfpackage/Decode.scala
  daml-lf/lfpackage/src/main/scala/com/digitalasset/daml/lf/lfpackage/DecodeVDev.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/VersionTimeline.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/TypingSpec.scala
  docs/source/support/release-notes.rst
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/cli/Cli.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/config/DamlPackageContainer.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/cli/CliSpec.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/services/transaction/EventConverterSpec.scala
Labels: component/daml-lf

#741 increase ledger-api IT timeout; daml-lf, language-support/scala: remove long-deprecated symbols
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/Reader.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/Ref.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/Time.scala
  language-support/scala/bindings-akka/BUILD.bazel
  language-support/scala/bindings-akka/src/test/scala/com/digitalasset/ledger/client/binding/DomainTransactionMapperUT.scala
  language-support/scala/bindings/src/main/scala/com/digitalasset/ledger/client/binding/binding/Primitive.scala
  ledger/ledger-api-integration-tests/BUILD.bazel
Labels: automerge, component/daml-lf, component/scala-ecosystem

#560 embryonic Slack notification for master builds
  azure-pipelines.yml
  ci/build-unix.yml
Labels: automerge

#727 Fix template precondition check (fixes #631)
  daml-foundations/daml-ghc/tests/Precondition.daml
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
Labels: automerge, component/daml-engine

#735 Track the packages used to produce a transaction
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Blinding.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/interpreter/BUILD.bazel
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/interp/testing/InterpTest.scala
  daml-lf/testing-tools/src/main/scala/com/digitalasset/daml/lf/engine/testing/SemanticTester.scala
  daml-lf/transaction-scalacheck/src/main/scala/com/digitalasset/daml/lf/value/ValueGenerators.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionCoder.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionCoderSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionSpec.scala
  docs/source/support/release-notes.rst
  ledger/api-server-damlonx/reference/src/main/scala/com/daml/ledger/api/server/damlonx/reference/ReferenceServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/ScenarioLoader.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/services/transaction/EventConverterSpec.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/PostgresDaoSpec.scala
Labels: automerge

#748 Add a test for function return type syntax
  daml-foundations/daml-ghc/tests/FunRetTypeSig.daml
Labels: automerge

#587 Add Ledger API Test Tool docs into DAML docs
  docs/source/daml-integration-kit/index.rst
  docs/source/tools/ledger-api-test-tool/index.rst
  ledger/ledger-api-test-tool/README.md
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/LedgerApiTestTool.scala
Labels: automerge, component/dlik

#754 introduced paging when streaming ledger entries
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/PostgresLedgerDao.scala
Labels: component/ledger

#637 DamlOnX participant-state key-value utilities
  ledger/api-server-damlonx/reference/BUILD.bazel
  ledger/api-server-damlonx/reference/src/main/scala/com/daml/ledger/api/server/damlonx/reference/ReferenceServer.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/Server.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/DamlOnXLedgerConfigurationService.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/DamlOnXTimeService.scala
  ledger/ledger-api-integration-tests/src/test/semanticsuite/daml/SemanticTests.daml
  ledger/participant-state-index/reference/src/main/scala/com/daml/ledger/participant/state/index/v1/impl/reference/ReferenceIndexService.scala
  ledger/participant-state-index/src/main/scala/com/daml/ledger/participant/state/index/v1/IndexService.scala
  ledger/participant-state/BUILD.bazel
  ledger/participant-state/kvutils/BUILD.bazel
  ledger/participant-state/kvutils/src/main/protobuf/daml_kvutils.proto
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/Conversions.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/InMemoryKVParticipantState.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/InputsAndEffects.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/KeyValueCommitting.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/KeyValueConsumption.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/KeyValueSubmission.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/package.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/InMemoryKVParticipantStateIT.scala
  ledger/participant-state/reference/src/main/scala/com/daml/ledger/participant/state/v1/impl/reference/Ledger.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/ReadService.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/RejectionReason.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/Update.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/package.scala
Labels: wip-issue

#756 Ledger api test tool release
  ci/release.sh
  docs/source/support/release-notes.rst
  docs/source/tools/ledger-api-test-tool/index.rst
  ledger/ledger-api-test-tool/BUILD.bazel
  ledger/ledger-api-test-tool/README.md
  release-dry-run.sh
  release/artifacts.yaml
Labels: automerge

#722 documenting persistence with Postgres in SDK docs
  docs/source/support/release-notes.rst
  docs/source/tools/sandbox.rst
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/cli/Cli.scala
Labels: component/ledger

#755 haskell-ledger-bindings, LedgerIdentity
  language-support/hs/bindings/BUILD.bazel
  language-support/hs/bindings/examples/View.hs
  language-support/hs/bindings/src/LedgerIdentity.hs
Labels: automerge, component/ledger

#765 Clarify how you get DAML studio
  docs/source/daml/daml-studio.rst
Labels: automerge

#759 sign off / document first version of SQL schema.
  ledger/sandbox/src/main/resources/db/migration/V1__Init.sql
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/PostgresLedgerDao.scala
Labels: component/ledger

#739 implement TLS in reference daml-on-x server
  extractor/src/main/scala/com/digitalasset/extractor/config/ConfigParser.scala
  extractor/src/main/scala/com/digitalasset/extractor/config/ExtractorConfig.scala
  extractor/src/test/lib/scala/com/digitalasset/extractor/services/ExtractorFixture.scala
  ledger/api-server-damlonx/reference/BUILD.bazel
  ledger/api-server-damlonx/reference/src/main/scala/com/daml/ledger/api/server/damlonx/reference/Cli.scala
  ledger/api-server-damlonx/reference/src/main/scala/com/daml/ledger/api/server/damlonx/reference/Config.scala
  ledger/api-server-damlonx/reference/src/main/scala/com/daml/ledger/api/server/damlonx/reference/ReferenceServer.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/Server.scala
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/api/tls/TlsConfiguration.scala
  ledger/ledger-api-integration-tests/src/main/scala/com/digitalasset/platform/semantictest/StandaloneSemanticTestRunner.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/LedgerFactories.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/RemoteServerResource.scala
  ledger/ledger-api-server-example/src/main/scala/com/digitalasset/ledger/example/Application.scala
  ledger/ledger-api-test-tool/BUILD.bazel
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/Cli.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/Config.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/LedgerApiTestTool.scala
  ledger/ledger-api-test-tool/testdata/ca.crt
  ledger/ledger-api-test-tool/testdata/ca.key
  ledger/ledger-api-test-tool/testdata/client.crt
  ledger/ledger-api-test-tool/testdata/client.csr
  ledger/ledger-api-test-tool/testdata/client.key
  ledger/ledger-api-test-tool/testdata/client.pem
  ledger/ledger-api-test-tool/testdata/openssl-extensions.cnf
  ledger/ledger-api-test-tool/testdata/server.crt
  ledger/ledger-api-test-tool/testdata/server.csr
  ledger/ledger-api-test-tool/testdata/server.key
  ledger/ledger-api-test-tool/testdata/server.pem
  ledger/sandbox/src/main/scala/com/digitalasset/ledger/server/LedgerApiServer/LedgerApiServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxApplication.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/cli/Cli.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/config/SandboxConfig.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/cli/CliSpec.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/TlsIT.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/config/Arguments.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/console/commands/Info.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/store/platform/PlatformStore.scala
Labels: automerge, component/dlik, component/ledger

#752 SQL performance improvements
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/TransactionServiceIT.scala
  ledger/sandbox-perf/src/perf/benches/scala/com/digitalasset/platform/sandbox/perf/LargeTransactionBench.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/PostgresLedgerDao.scala
Labels: component/ledger

#781 daml-lf: move EnvironmentInterface from Scala codegen to interface library
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/EnvironmentInterface.scala
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/Interface.scala
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/reader/InterfaceReader.scala
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/reader/package.scala
  extractor/src/main/scala/com/digitalasset/extractor/ledger/LedgerReader.scala
  extractor/src/main/scala/com/digitalasset/extractor/writers/PostgreSQLWriter.scala
  extractor/src/main/scala/com/digitalasset/extractor/writers/PrettyPrintWriter.scala
  extractor/src/main/scala/com/digitalasset/extractor/writers/PrinterFunctionWriter.scala
  extractor/src/main/scala/com/digitalasset/extractor/writers/SimpleTextWriter.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/CodeGenRunner.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/InterfaceTree.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/Backend.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/JavaBackend.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/TemplateClass.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/VariantClass.scala
  language-support/java/codegen/src/test/scala/com/digitalasset/daml/lf/codegen/InterfaceTreeSpec.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/CodeGen.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/dependencygraph/DependencyGraph.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/lf/EnvironmentInterface.scala
  language-support/scala/codegen/src/test/scala/com/digitalasset/codegen/UtilTest.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/model/PackageRegistry.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/model/PartyState.scala
  navigator/backend/src/test/scala/com/digitalasset/navigator/backend/DamlConstants.scala
Labels: component/daml-lf, component/scala-ecosystem
