Repository digital-asset/daml, pull requests merged in 2019-11, with the labels that each got.

#3303 Extractor stores exercise events in single table data format.
  extractor/BUILD.bazel
  extractor/src/main/scala/com/digitalasset/extractor/writers/postgresql/SingleTableDataFormat.scala
  extractor/src/test/lib/scala/com/digitalasset/extractor/services/ExtractorFixture.scala
  extractor/src/test/suite/scala/com/digitalasset/extractor/TransactionMultiTableSpec.scala
  extractor/src/test/suite/scala/com/digitalasset/extractor/TransactionSingleTableSpec.scala
  unreleased.rst
Labels: component/extractor

#3312 Fix the import paths of {value,transaction,blindinginfo}.proto
  daml-lf/transaction-scalacheck/BUILD.bazel
  daml-lf/transaction/BUILD.bazel
  daml-lf/transaction/src/main/protobuf/BUILD.bazel
  ledger/participant-state/BUILD.bazel
  ledger/participant-state/kvutils/BUILD.bazel
  ledger/participant-state/kvutils/src/main/protobuf/daml_kvutils.proto
  ledger/participant-state/kvutils/tools/BUILD.bazel
  ledger/sandbox/BUILD.bazel
  release/artifacts.yaml
Labels: automerge

#3313 Address warnings over filename mismatch
  daml-lf/tests/BUILD.bazel
  daml-lf/tests/DontDiscloseNonConsumingExercisesToObservers.daml
Labels: automerge

#3316 Fix superclass detection for Numeric
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
  compiler/damlc/tests/daml-test-files/NumericInstance.daml
  unreleased.rst
Labels: automerge

#3296 Intern all strings: proto cleanup
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/DecodeV1.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/EncodeV1.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/Util.hs
  compiler/damlc/tests/daml-test-files/EnumLF.daml
  compiler/damlc/tests/daml-test-files/InternedExternalRefs.daml
  compiler/damlc/tests/daml-test-files/Locations.daml
  compiler/damlc/tests/daml-test-files/ProposalIou.daml
  compiler/damlc/tests/daml-test-files/SerializableAnnotation.daml
  compiler/damlc/tests/daml-test-files/SugarUnit.daml
  compiler/damlc/tests/src/query-lf-interned.jq
  compiler/damlc/tests/src/query-lf-non-interned.jq
  daml-lf/archive/src/main/protobuf/com/digitalasset/daml_lf_dev/daml_lf_1.proto
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DarReaderTest.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV1Spec.scala
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/EncodeV1.scala
  daml-lf/spec/daml-lf-1.rst
Labels: automerge-after-rebase, component/daml-lf

#3310 Expose DB wait/exec times over JMX as well as logs
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/JdbcIndex.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/JdbcIndexer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/StandaloneIndexServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/metrics/MetricsManager.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/SandboxIndexAndWriteService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/Ledger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/MeteredLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/ReadOnlySqlLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/JdbcLedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/LedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/MeteredLedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/util/DbDispatcher.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/util/SqlExecutor.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/LedgerResource.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/MetricsAround.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/TestHelpers.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/ImplicitPartyAdditionIT.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/TransactionMRTComplianceIT.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/JdbcLedgerDaoSpec.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedgerSpec.scala
  unreleased.rst
Labels: automerge

#3319 Update hlint; add some dlint smoke tests
  WORKSPACE
  compiler/damlc/tests/src/DA/Test/ShakeIdeClient.hs
Labels: automerge

#3282 Map Telemetry severity level to NOTICE so GCP doesn't reject log messages
  libs-haskell/da-hs-base/src/DA/Service/Logger/Impl/GCP.hs
Labels: automerge

#3325 ledger/ledger-api-test-tool: Implement diff correctly for sequences.
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerTestSuite.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/SemanticTests.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/TransactionService.scala
Labels: automerge

#3320 Port command-related integration tests
  ledger-api/testing-utils/src/main/scala/com/digitalasset/ledger/api/testing/utils/AkkaBeforeAndAfterAll.scala
  ledger-api/testing-utils/src/main/scala/com/digitalasset/ledger/api/testing/utils/LedgerBackend.scala
  ledger/ledger-api-common/src/test/lib/scala/com/digitalasset/platform/esf/TestExecutionSequencerFactory.scala
  ledger/ledger-api-integration-tests/BUILD.bazel
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/AuthorizationIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/LedgerConfigurationServiceIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/LotsOfPartiesIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/ReflectionIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/ResetServiceIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/TimeServiceDisabledIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/TimeServiceIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/commands/CommandClientIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/commands/CommandCompletionServiceIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/commands/CommandServiceBackPressureIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/commands/CommandStaticTimeIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/commands/FailingCommandsIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/transaction/TransactionBackpressureIT.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/PlatformApplications.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/CommandTransactionChecks.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/CommandTransactionChecksHighLevel.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/LedgerContext.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/LedgerContextExtensions.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/LedgerFactories.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/MultiLedgerFixture.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/RemoteServerResource.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/TestCommands.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/TestParties.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/TestUtils.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/tests/integration/ledger/api/FutureTimeouts.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/tests/integration/ledger/api/LedgerTestingHelpers.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/tests/integration/ledger/api/ParameterShowcaseTesting.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/tests/integration/ledger/api/TransactionServiceHelpers.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/tests/integration/ledger/api/commands/MultiLedgerCommandUtils.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/tests/integration/ledger/api/identity/LedgerIdentityServiceITBase.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerServices.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/participant/ParticipantTestContext.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/CommandService.scala
  ledger/sandbox-perf/src/perf/lib/scala/com/digitalasset/platform/sandbox/perf/PerfBenchState.scala
  ledger/sandbox/BUILD.bazel
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/ScenarioLoadingITBase.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/services/SandboxFixture.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/ScenarioLoadingITDivulgence.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/TlsIT.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/services/time/StaticTimeIT.scala
  ledger/test-common/src/main/scala/com.digitalasset.platform.testing/TimeoutException.scala
  ledger/test-common/src/main/scala/com.digitalasset.platform.testing/TimeoutTask.scala
  ledger/test-common/src/main/scala/com.digitalasset.platform.testing/WithTimeout.scala
Labels: component/ledger

#3326 DAML-LF add Type Representation value
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Base.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Pretty.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Recursive.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Util.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/DecodeV1.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/EncodeV1.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/Simplifier.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Check.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Error.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Serializability.hs
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Upgrade.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
  compiler/damlc/daml-stdlib-src/DA/Internal/LF.daml
  compiler/damlc/daml-stdlib-src/DA/Next/Map.daml
  compiler/damlc/tests/daml-test-files/TemplateTypeRep.daml
  daml-lf/archive/src/main/protobuf/com/digitalasset/daml_lf_dev/daml_lf_1.proto
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/Ref.scala
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/reader/InterfaceReader.scala
  daml-lf/interface/src/test/scala/com/digitalasset/daml/lf/iface/TypeSpec.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SpeedyTest.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Util.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/AstRewriter.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ExprParser.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/Lexer.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/Token.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/TypeParser.scala
  daml-lf/parser/src/test/scala/com/digitalasset/daml/lf/testing/parser/ParsersSpec.scala
  daml-lf/spec/daml-lf-1.rst
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Serializability.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/TypeSubst.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/ValidationError.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/traversable/ExprTraversable.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/traversable/TypeTraversable.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/TypingSpec.scala
  triggers/daml/Daml/Trigger.daml
  triggers/daml/Daml/Trigger/LowLevel.daml
  triggers/runner/src/main/scala/com/daml/trigger/Converter.scala
Labels: automerge, component/daml-lf

#3329 daml-lf: prepare release of LF 1.7
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/DecodeV1.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/EncodeV1.hs
  daml-lf/archive/src/main/protobuf/com/digitalasset/daml_lf_dev/daml_lf_1.proto
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/EncodeV1.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
Labels: component/daml-lf

#3318 Add assertEq and assertNotEq to DA.Assert
  compiler/damlc/daml-stdlib-src/DA/Assert.daml
  compiler/damlc/tests/src/DA/Test/DamlDocTestIntegration.hs
  unreleased.rst
Labels: automerge

#3339 daml-lf-encoder: validate dar generated by the encoder
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/encoder/BUILD.bazel
  daml-lf/encoder/src/test/lf/Bool_all_.lf
  daml-lf/encoder/src/test/lf/Date_all_.lf
  daml-lf/encoder/src/test/lf/Decimal_all_.lf
  daml-lf/encoder/src/test/lf/Enum_1.6_1.dev_.lf
  daml-lf/encoder/src/test/lf/Int64_all_.lf
  daml-lf/encoder/src/test/lf/List_all_.lf
  daml-lf/encoder/src/test/lf/Map_1.3_1.6_1.dev_.lf
  daml-lf/encoder/src/test/lf/Numeric_1.dev_.lf
  daml-lf/encoder/src/test/lf/Option_1.1_1.3_1.6_1.dev_.lf
  daml-lf/encoder/src/test/lf/Party_all_.lf
  daml-lf/encoder/src/test/lf/Record_all_.lf
  daml-lf/encoder/src/test/lf/Text_all_.lf
  daml-lf/encoder/src/test/lf/Timestamp_all_.lf
  daml-lf/encoder/src/test/lf/Unit_all_.lf
  daml-lf/encoder/src/test/lf/Variant_all_.lf
  daml-lf/encoder/src/validate.sh
  daml-lf/repl/src/main/scala/com/digitalasset/daml/lf/repl/testing/Main.scala
  extractor/src/test/suite/scala/com/digitalasset/extractor/EnumSpec.scala
  language-support/java/codegen/src/test/java/com/digitalasset/testing/DecimalTestForAll.java
  language-support/java/codegen/src/test/java/com/digitalasset/testing/EnumTestFor1_6AndFor1_dev.java
  language-support/java/codegen/src/test/java/com/digitalasset/testing/NumericTestFor1_dev.java
  language-support/scala/codegen-sample-app/src/test/scala/com/digitalasset/codegen/DataTypeIT.scala
Labels: automerge, component/daml-lf

#3322 pin hoogle version to avoid surprises
  infra/hoogle_server.tf
Labels: automerge

#3328 ledger-api-test-tool: Port LotsOfPartiesIT.
  ledger/api-server-damlonx/reference-v2/BUILD.bazel
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/LotsOfPartiesIT.scala
  ledger/ledger-api-test-tool/conformance.bzl
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerTestSuite.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/LotsOfParties.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/package.scala
  ledger/sandbox/BUILD.bazel
Labels: automerge

#3341 trigger.Converter avoid exceptions
  triggers/runner/src/main/scala/com/daml/trigger/Converter.scala
  triggers/runner/src/main/scala/com/daml/trigger/Runner.scala
Labels: automerge

#3349 ledger-api-test-tool: Extract non-core test functionality into objects.
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/Assertions.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/DiffExtensions.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/Eventually.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerTestSuite.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/Synchronize.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/TransactionHelpers.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/ActiveContractsService.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/CommandService.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/ContractKeys.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/ContractKeysSubmitterIsMaintainer.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/Divulgence.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/LedgerConfigurationService.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/LotsOfParties.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/PackageManagement.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/Packages.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/SemanticTests.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/Time.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/TransactionService.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/WronglyTypedContractId.scala
Labels: automerge

#3343 Added a missing index to the disclosures table
  ledger/sandbox/src/main/resources/db/migration/h2database/V6__Disclosures_index.sha256
  ledger/sandbox/src/main/resources/db/migration/h2database/V6__Disclosures_index.sql
  ledger/sandbox/src/main/resources/db/migration/postgres/V11__Disclosures_index.sha256
  ledger/sandbox/src/main/resources/db/migration/postgres/V11__Disclosures_index.sql
  unreleased.rst
Labels: component/ledger

#3357 Limit Bazel build parallelism on Windows to physical cores
  .bazelrc
Labels: automerge

#3344 Add GrpcException extractor
  language-support/java/bindings-rxjava/BUILD.bazel
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/components/BotTest.scala
  language-support/scala/bindings/src/main/scala/com/digitalasset/api/util/util/GrpcStatusError.scala
  ledger-api/testing-utils/BUILD.bazel
  ledger-api/testing-utils/src/main/scala/com/digitalasset/ledger/api/testing/utils/IsStatusException.scala
  ledger/ledger-api-client/BUILD.bazel
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/services/commands/CommandSubmissionFlow.scala
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/services/commands/tracker/CommandTracker.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/services/command/TrackerImpl.scala
  ledger/ledger-api-grpc-utils/BUILD.bazel
  ledger/ledger-api-grpc-utils/src/main/scala/com/digitalasset/grpc/GrpcException.scala
  ledger/ledger-api-grpc-utils/src/main/scala/com/digitalasset/grpc/GrpcStatus.scala
  ledger/ledger-api-integration-tests/BUILD.bazel
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/commands/CommandTransactionChecksHighLevelIT.scala
  ledger/ledger-api-test-tool/BUILD.bazel
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/Assertions.scala
  navigator/backend/BUILD.bazel
  navigator/backend/src/main/scala/com/digitalasset/navigator/UIBackend.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/store/platform/PlatformStore.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/util/RetryHelper.scala
Labels: automerge

#3353 ledger-api-test-tool: Generate the vector of tests automatically.
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerTest.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerTestCase.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerTestSuite.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerTestSuiteRunner.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/ActiveContractsService.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/CommandService.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/ContractKeys.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/ContractKeysSubmitterIsMaintainer.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/Divulgence.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/Identity.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/LedgerConfigurationService.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/LotsOfParties.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/PackageManagement.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/Packages.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/PartyManagement.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/SemanticTests.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/Time.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/TransactionService.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/Witnesses.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/WronglyTypedContractId.scala
Labels: automerge

#3345 Add support for single-constructor enum types.
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion/UtilGHC.hs
  compiler/damlc/daml-opts/daml-opts/DA/Daml/Options.hs
  compiler/damlc/daml-preprocessor/src/DA/Daml/Preprocessor.hs
  compiler/damlc/daml-preprocessor/src/DA/Daml/Preprocessor/EnumType.hs
  compiler/damlc/daml-prim-src/GHC/Types.daml
  compiler/damlc/daml-stdlib-src/DA/Internal/Prelude.daml
  compiler/damlc/tests/daml-test-files/AmbiguousDataType.daml
  compiler/damlc/tests/daml-test-files/SingleConEnum.EXPECTED.rst
  compiler/damlc/tests/daml-test-files/SingleConEnum.daml
  compiler/damlc/tests/daml-test-files/SingleConEnumError.daml
  unreleased.rst
Labels: automerge

#3364 ledger-api-test-tool: Correct test timing output and improve times a little.
  ledger/api-server-damlonx/reference-v2/BUILD.bazel
  ledger/ledger-api-test-tool/BUILD.bazel
  ledger/ledger-api-test-tool/conformance.bzl
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/Cli.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/Config.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/LedgerApiTestTool.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerTestCase.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerTestSuite.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerTestSuiteRunner.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/Reporter.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/Result.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/LotsOfParties.scala
  ledger/sandbox/BUILD.bazel
Labels: automerge

#3369 Release
  VERSION
  docs/source/support/release-notes.rst
  unreleased.rst
Labels: automerge

#3370 Add artifacts publishing for //ledger/ledger-api-grpc-utils
  release/artifacts.yaml
Labels: automerge

#3290 Build rules for producing and verifying ledger dumps
  bazel_tools/client_server/BUILD.bazel
  bazel_tools/client_server/client_server_build.bzl
  bazel_tools/client_server/client_server_test.bzl
  bazel_tools/client_server/runner/BUILD.bazel
  bazel_tools/client_server/runner/Main.hs
  bazel_tools/client_server/tests/BUILD.bazel
  bazel_tools/client_server/tests/client.sh
  bazel_tools/client_server/tests/client_input_file
  bazel_tools/client_server/tests/server.scala
  ledger/api-server-damlonx/reference-v2/BUILD.bazel
  ledger/ledger-api-test-tool/conformance.bzl
  ledger/participant-state/kvutils/tools/integrity_test.bzl
  triggers/tests/BUILD.bazel
Labels: automerge

#3340 daml-lf: freeze version 1.7
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  compiler/damlc/pkg-db/BUILD.bazel
  daml-lf/archive/src/main/protobuf/com/digitalasset/daml_lf_dev/daml_lf_1.proto
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV1Spec.scala
  daml-lf/encoder/BUILD.bazel
  daml-lf/encoder/src/test/lf/Enum_1.6_1.7_1.dev_.lf
  daml-lf/encoder/src/test/lf/Numeric_1.7_1.dev_.lf
  daml-lf/encoder/src/test/lf/Option_1.1_1.3_1.6_1.7_1.dev_.lf
  daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/testing/archive/DamlLfEncoderTest.scala
  daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/testing/archive/EncodeV1Spec.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineInfoTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/language/daml-lf.bzl
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageMajorVersion.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
  daml-lf/spec/daml-lf-1.rst
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/VersionTimeline.scala
  daml-lf/unreleased-dev.rst
  extractor/BUILD.bazel
  extractor/src/test/suite/scala/com/digitalasset/extractor/EnumSpec.scala
  language-support/java/bindings-rxjava/BUILD.bazel
  language-support/java/codegen/BUILD.bazel
  ledger/ledger-api-test-tool/BUILD.bazel
  ledger/test-common/BUILD.bazel
  unreleased.rst
Labels: automerge, component/daml-lf

#3371 daml-lf: clone dev protobuf for LF 1.7
  daml-lf/archive/BUILD.bazel
  daml-lf/archive/src/main/protobuf/com/digitalasset/daml_lf_1_7/daml_lf.proto
  daml-lf/archive/src/main/protobuf/com/digitalasset/daml_lf_1_7/daml_lf_0.proto
  daml-lf/archive/src/main/protobuf/com/digitalasset/daml_lf_1_7/daml_lf_1.proto
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/ProtoTest.scala
  release/artifacts.yaml
  unreleased.rst
Labels: automerge, component/daml-lf

#3375 Allow building and testing the reference ledger dump on macOS
  ledger/api-server-damlonx/reference-v2/BUILD.bazel
Labels: automerge

#3365 Remove git-revision from dependency graph
  .bazelrc
  BUILD
  bazel_tools/workspace_status.cmd
  bazel_tools/workspace_status.sh
  navigator/README.md
  navigator/backend/BUILD.bazel
  navigator/backend/src/main/scala/com/digitalasset/navigator/ApplicationInfo.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/NavigatorBackend.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/UIBackend.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/console/commands/Info.scala
  navigator/frontend/src/applets/about/index.tsx
Labels: automerge

#3379 language: dont change directory for generation of ifaces
  compiler/damlc/lib/DA/Cli/Damlc.hs
Labels: automerge

#3381 LF conversion: Qualify every conversion rule.
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion/UtilGHC.hs
  compiler/damlc/daml-stdlib-src/DA/Internal/Prelude.daml
Labels: automerge

#3378 Add support for on-disk incremental builds in damlc build
  3rdparty/haskell/BUILD.ghcide
  WORKSPACE
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/DecodeV1.hs
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Dar.hs
  compiler/damlc/daml-ide-core/BUILD.bazel
  compiler/damlc/daml-ide-core/src/Development/IDE/Core/RuleTypes/Daml.hs
  compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
  compiler/damlc/daml-ide/src/DA/Daml/LanguageServer/CodeLens.hs
  compiler/damlc/daml-opts/daml-opts-types/DA/Daml/Options/Types.hs
  compiler/damlc/daml-opts/daml-opts/DA/Daml/Options.hs
  compiler/damlc/lib/DA/Cli/Damlc.hs
  compiler/damlc/lib/DA/Cli/Options.hs
  compiler/damlc/tests/BUILD.bazel
  compiler/damlc/tests/src/DA/Test/IncrementalBuilds.hs
  unreleased.rst
Labels: automerge

#3376 write ledger dumps on release
  azure-pipelines.yml
Labels: automerge

#3362 Proper pagination
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/akkastreams/dispatcher/Dispatcher.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/akkastreams/dispatcher/DispatcherImpl.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/akkastreams/dispatcher/SignalDispatcher.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/services/testing/ApiTimeService.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/platform/akkastreams/dispatcher/DispatcherSpec.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/platform/akkastreams/dispatcher/DispatcherTest.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/platform/akkastreams/dispatcher/SignalDispatcherTest.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/commands/CommandCompletionServiceIT.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/InMemoryKVParticipantState.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/JdbcIndexer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/inmemory/LedgerEntries.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/BaseLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/ReadOnlySqlLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/JdbcLedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/LedgerDao.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/JdbcLedgerDaoSpec.scala
  unreleased.rst
Labels: component/ledger

#3384 ledger-api-test-tool: Port TransactionBackpressureIT.
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/transaction/TransactionBackpressureIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/TransactionService.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/package.scala
Labels: automerge

#3392 Add a test for transitive dependencies in incremental builds
  compiler/damlc/tests/src/DA/Test/IncrementalBuilds.hs
Labels: automerge

#3383 ledger-api-test-tool: Clearer timing information.
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerTestSuiteRunner.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/Reporter.scala
Labels: automerge

#3401 ledger-api-test-tool: Allocate participants and parties declaratively.
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/Allocation.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerTestCase.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerTestContext.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerTestSuite.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/ActiveContractsService.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/CommandService.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/ContractKeys.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/ContractKeysSubmitterIsMaintainer.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/Divulgence.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/Identity.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/LedgerConfigurationService.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/LotsOfParties.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/PackageManagement.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/Packages.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/PartyManagement.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/SemanticTests.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/Time.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/TransactionService.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/Witnesses.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/WronglyTypedContractId.scala
Labels: automerge

#3397 language: support BTAny/BTTypeRep in upgrades
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Upgrade.hs
Labels: automerge

#3394 Extractor: fixed bug in setting up TLS to the ledger
  extractor/BUILD.bazel
  extractor/src/main/scala/com/digitalasset/extractor/config/ConfigParser.scala
  extractor/src/test/resources/certificates/ca.crt
  extractor/src/test/resources/certificates/ca.key
  extractor/src/test/resources/certificates/client.crt
  extractor/src/test/resources/certificates/client.csr
  extractor/src/test/resources/certificates/client.key
  extractor/src/test/resources/certificates/client.pem
  extractor/src/test/resources/certificates/openssl-extensions.cnf
  extractor/src/test/resources/certificates/server.crt
  extractor/src/test/resources/certificates/server.csr
  extractor/src/test/resources/certificates/server.key
  extractor/src/test/resources/certificates/server.pem
  extractor/src/test/suite/scala/com/digitalasset/extractor/TlsSpec.scala
  unreleased.rst
Labels: component/extractor

#3396 Expose projection from contract key to maintainers
  WORKSPACE
  compiler/damlc/daml-stdlib-src/DA/Internal/Template.daml
  compiler/damlc/tests/daml-test-files/ContractKeys.daml
  compiler/damlc/tests/daml-test-files/ProposalDesugared.daml
  ghc-lib/template-desugaring.md
  unreleased.rst
Labels: automerge

#3406 Rewrite PRSelf when loading a dependency package
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/World.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/Archive.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/Decode.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/DecodeV1.hs
  compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
  compiler/damlc/daml-visual/src/DA/Daml/Visual.hs
  compiler/damlc/lib/DA/Cli/Damlc.hs
  language-support/hs/bindings/test/DA/Ledger/Tests.hs
Labels: automerge

#3414 Fix Bazel warnings
  compiler/damlc/jar/BUILD.bazel
  compiler/damlc/tests/BUILD.bazel
  language-support/java/codegen/codegen.bzl
  navigator/frontend/BUILD.bazel
Labels: automerge

#3420 Do not re-register loaded-packages metric in PackageCommitter
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/PackageCommitter.scala
Labels: automerge

#3412 Remove an inaccurate FIXME
  compiler/damlc/lib/DA/Cli/Damlc.hs
Labels: automerge

#3415 Fix potential race in Dispatcher
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/akkastreams/dispatcher/DispatcherImpl.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/akkastreams/dispatcher/SignalDispatcher.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/services/testing/ApiTimeService.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/platform/akkastreams/dispatcher/SignalDispatcherTest.scala
  ledger/ledger-api-integration-tests/src/test/resources/logback-test.xml
Labels: component/ledger

#3367 clear scaladoc warnings in ledger-service, extractor, navigator
  extractor/src/main/scala/com/digitalasset/extractor/Types.scala
  extractor/src/main/scala/com/digitalasset/extractor/ledger/types/ReqFieldLens.scala
  ledger-service/lf-value-json/src/main/scala/com/digitalasset/daml/lf/value/json/ApiCodecCompressed.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/Read.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/graphql/SprayMarshallers.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/store/Store.scala
Labels: automerge, component/extractor, component/navigator

#3408 Add toAnyContractKey and fromAnyContractKey
  WORKSPACE
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
  compiler/damlc/daml-stdlib-src/DA/Internal/Desugar.daml
  compiler/damlc/daml-stdlib-src/DA/Internal/LF.daml
  compiler/damlc/daml-stdlib-src/DA/Internal/Template.daml
  compiler/damlc/daml-stdlib-src/Prelude.daml
  compiler/damlc/tests/daml-test-files/AnyContractKey.daml
  compiler/damlc/tests/daml-test-files/ProposalDesugared.daml
  triggers/tests/BUILD.bazel
Labels: automerge

#3423 Strip binaries
  WORKSPACE
Labels: automerge

#3422 Extend timing for AuthorizationIT
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/AuthorizationIT.scala
Labels: component/ledger

#3426 Authenticated ledger identifier call in LedgerClient
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/LedgerClient.scala
Labels: automerge

#3416 cleanup equality for SValues
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/svalue/Equality.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SpeedyTest.scala
Labels: automerge, component/daml-lf

#3275 Update rules_haskell
  bazel_tools/ghci-template.sh
  bazel_tools/haskell-bazel-1.1.0.patch
  bazel_tools/haskell-cc-wrapper-globbing.patch
  bazel_tools/haskell-cc-wrapper-include-dirs.patch
  bazel_tools/haskell-cc-wrapper.patch
  bazel_tools/haskell-ghci-grpc.patch
  deps.bzl
  nix/nixpkgs.nix
Labels: automerge

#3431 daml-lf: add GenMap to archive proto
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/DecodeV1.hs
  daml-lf/archive/src/main/protobuf/com/digitalasset/daml_lf_dev/daml_lf_1.proto
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/reader/InterfaceReader.scala
  daml-lf/interface/src/test/scala/com/digitalasset/daml/lf/iface/TypeSpec.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Util.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ExprParser.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/TypeParser.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Serializability.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/ValidationError.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/TypingSpec.scala
Labels: automerge, component/daml-lf

#3435 Add integration tests with LedgerClient
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/AuthorizationIT.scala
Labels: automerge

#3433 language: updated docu mentioning instances module
  docs/source/daml/reference/packages.rst
Labels: automerge

#3438 Fix typo in description of free applicatives
  daml-script/daml/Daml/Script.daml
Labels: automerge

#3439 correct package path for ReferenceServer
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/package.scala
Labels: automerge

#3405 json-api: in-memory comparison query
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/Time.scala
  docs/source/json-api/search-query-language.rst
  ledger-service/http-json/src/main/scala/com/digitalasset/http/query/ValuePredicate.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/query/ValuePredicateTest.scala
  unreleased.rst
Labels: automerge

#3443 Clean up IT Logback config, reduce noise in CI logs
  ledger/ledger-api-integration-tests/src/test/resources/logback-test.xml
Labels: automerge

#3445 Clean trigger tracelog after each step
  triggers/runner/src/main/scala/com/daml/trigger/Runner.scala
Labels: automerge

#3444 Fetch grpc and protobuf Haskell libraries from Hackage
  3rdparty/haskell/BUILD.grpc-haskell
  3rdparty/haskell/BUILD.grpc-haskell-core
  WORKSPACE
  bazel_tools/grpc-haskell-core-mask-runops.patch
Labels: automerge

#3448 Remove logging output coloring
  extractor/src/main/resources/logback.xml
  language-support/java/codegen/src/main/resources/logback.xml
  ledger/api-server-damlonx/reference-v2/src/main/resources/logback.xml
  ledger/ledger-api-test-tool/src/main/resources/logback.xml
Labels: automerge

#3442 Mark ledger-api-integration-tests as flaky on Windows
  ledger/ledger-api-integration-tests/BUILD.bazel
Labels: automerge

#3437 Add GenMap support in the compiler.
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Base.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Pretty.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Util.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/DecodeV1.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/EncodeV1.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/Simplifier.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Check.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Error.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Serializability.hs
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Upgrade.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion/Primitives.hs
Labels: automerge

#3452 reference-v2, sandbox: Add the dependency on PostgreSQL where required.
  ledger/api-server-damlonx/reference-v2/BUILD.bazel
  ledger/sandbox/BUILD.bazel
Labels: automerge

#3454 Check internal dependencies of maven artifacts
  ledger/sandbox/BUILD.bazel
  release/artifacts.yaml
  release/src/Main.hs
Labels: automerge

#3457 language: reexport module in data dependencies
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Upgrade.hs
  compiler/damlc/lib/DA/Cli/Damlc.hs
  daml-assistant/integration-tests/src/DA/Daml/Assistant/IntegrationTests.hs
  docs/source/daml/reference/packages.rst
Labels: automerge

#3449 language: fix for tuple types in source generation
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Upgrade.hs
  compiler/damlc/lib/DA/Cli/Damlc.hs
  daml-assistant/integration-tests/src/DA/Daml/Assistant/IntegrationTests.hs
Labels: automerge

#3467 Cleanup conversions in DAML script and fix value translation
  daml-script/runner/BUILD.bazel
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Converter.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/RunnerConfig.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/RunnerMain.scala
  daml-script/test/BUILD.bazel
  daml-script/test/daml/ScriptTest.daml
  daml-script/test/src/com/digitalasset/daml/lf/engine/script/test/TestMain.scala
Labels: automerge

#3468 ledger-api-test-tool-on-canton: Upgrade Canton to v0.4.0.
  WORKSPACE
  ledger/ledger-api-test-tool-on-canton/BUILD.bazel
Labels: automerge

#3464 Release 0.13.35
  VERSION
  docs/source/support/release-notes.rst
  unreleased.rst
Labels: automerge

#3472 Support wallclock time in DAML script
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/RunnerConfig.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/RunnerMain.scala
  daml-script/test/BUILD.bazel
  daml-script/test/src/com/digitalasset/daml/lf/engine/script/test/TestMain.scala
Labels: automerge

#3475 Split multi-subscription ledger api tests to local and distributed
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/TransactionService.scala
Labels: automerge

#3474 fix InsertOrdMap
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/InsertOrdMap.scala
  daml-lf/data/src/test/scala/com/digitalasset/daml/lf/data/InsertOrdMapTest.scala
Labels: automerge, component/daml-engine

#3480 Add sync points in flaky TransactionService tests
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/TransactionService.scala
Labels: automerge

#3478 Re-release 0.13.35 as 0.13.36
  VERSION
  docs/source/support/release-notes.rst
  unreleased.rst
Labels: automerge

#3481 Move packaging logic to a separate module
  compiler/damlc/lib/DA/Cli/Damlc.hs
  compiler/damlc/lib/DA/Cli/Damlc/Packaging.hs
Labels: automerge

#3453 Daml lf genmap
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/InsertOrdMap.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/svalue/Equality.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/svalue/Hasher.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/types/Ledger.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/Value.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/ValueCoder.scala
  extractor/src/main/scala/com/digitalasset/extractor/writers/postgresql/Queries.scala
  ledger-service/lf-value-json/src/main/scala/com/digitalasset/daml/lf/value/json/ApiCodecCompressed.scala
  ledger-service/lf-value-json/src/main/scala/com/digitalasset/daml/lf/value/json/NavigatorModelAliases.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/participant/util/LfEngineToApi.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/serialisation/KeyHasher.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/console/Pretty.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/json/ApiCodecVerbose.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/model/converter/LedgerApiV1.scala
Labels: automerge, component/daml-lf

#3473 Update rules_haskell
  WORKSPACE
  bazel_tools/dev_env_tool/dev_env_tool.bzl
  bazel_tools/haskell-cabal-wrapper.patch
  bazel_tools/haskell-ghci-grpc.patch
  compiler/damlc/BUILD.bazel
  compiler/damlc/pkg-db/util.bzl
  deps.bzl
  rules_daml/daml.bzl
  stack-snapshot.yaml
Labels: automerge

#3483 add genmap in scenario service
  compiler/scenario-service/client/src/DA/Daml/LF/PrettyScenario.hs
  compiler/scenario-service/protos/scenario_service.proto
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
Labels: component/daml-engine

#3484 Move packaging tests to a separate test suite
  compiler/damlc/lib/DA/Cli/Damlc/Packaging.hs
  compiler/damlc/tests/BUILD.bazel
  compiler/damlc/tests/src/DA/Test/Packaging.hs
  daml-assistant/integration-tests/src/DA/Daml/Assistant/IntegrationTests.hs
Labels: automerge

#3486 Break up Ledger API Test Tool target to reduce average build time
  bazel_tools/scala.bzl
  ledger/ledger-api-test-tool/BUILD.bazel
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/LedgerApiTestTool.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/Tests.scala
Labels: automerge

#3489 release instructions: add label to PR
  release/RELEASE.md
Labels: automerge

#3492 ledger-api-test-tool-on-canton: Disable tests unless run explicitly.
  ledger/ledger-api-test-tool-on-canton/BUILD.bazel
  ledger/ledger-api-test-tool/conformance.bzl
Labels: automerge

#3493 add check for Standard-Change label
  azure-pipelines.yml
Labels: automerge

#3487 DAML-LF: add GenMap in iface reader
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/Type.scala
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/reader/InterfaceReader.scala
  extractor/src/main/scala/com/digitalasset/extractor/writers/postgresql/MultiTableDataFormat.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/package.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/lf/LFUtil.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/query/ValuePredicate.scala
  ledger-service/lf-value-json/src/main/scala/com/digitalasset/daml/lf/value/json/ApiCodecCompressed.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/json/DamlLfCodec.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/query/filter/package.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/query/project/package.scala
Labels: automerge-after-rebase, component/daml-lf

#3496 Fix comment about Party type in DAML-LF Engine
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/Ref.scala
Labels: automerge, component/daml-lf

#3494 individual scalatest in bazel md
  BAZEL.md
Labels: automerge

#3495 Clean up rules_daml (the bazel rules for DAML)
  compiler/damlc/BUILD.bazel
  compiler/damlc/tests/BUILD.bazel
  docs/BUILD.bazel
  rules_daml/BUILD.bazel
  rules_daml/daml.bzl
Labels: automerge

#3497 Fix typo in docs for JSON API query language
  docs/source/json-api/search-query-language.rst
Labels: automerge

#3491 DAML-LF: add GenMap tests for LF encoder
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/encoder/src/test/lf/Bool_all_.lf
  daml-lf/encoder/src/test/lf/Date_all_.lf
  daml-lf/encoder/src/test/lf/Decimal_all_.lf
  daml-lf/encoder/src/test/lf/Enum_1.6_1.7_1.dev_.lf
  daml-lf/encoder/src/test/lf/GenMap_1.dev_.lf
  daml-lf/encoder/src/test/lf/Int64_all_.lf
  daml-lf/encoder/src/test/lf/List_all_.lf
  daml-lf/encoder/src/test/lf/Map_1.3_1.6_1.dev_.lf
  daml-lf/encoder/src/test/lf/Numeric_1.7_1.dev_.lf
  daml-lf/encoder/src/test/lf/Option_1.1_1.3_1.6_1.7_1.dev_.lf
  daml-lf/encoder/src/test/lf/Party_all_.lf
  daml-lf/encoder/src/test/lf/Record_all_.lf
  daml-lf/encoder/src/test/lf/Text_all_.lf
  daml-lf/encoder/src/test/lf/Timestamp_all_.lf
  daml-lf/encoder/src/test/lf/Unit_all_.lf
  daml-lf/encoder/src/test/lf/Variant_all_.lf
  language-support/java/codegen/BUILD.bazel
  language-support/java/codegen/src/test/java/com/digitalasset/testing/AllTestsFor1_6.java
  language-support/java/codegen/src/test/java/com/digitalasset/testing/AllTestsFor1_7.java
  language-support/java/codegen/src/test/java/com/digitalasset/testing/EnumTestFor1_6AndFor1_7.java
  language-support/java/codegen/src/test/java/com/digitalasset/testing/NumericTestFor1_7.java
Labels: automerge, component/daml-lf

#3499 Upgrade ghcide and haskell-lsp
  WORKSPACE
  bazel_tools/haskell-lsp-test-no-reexport.patch
  compiler/damlc/daml-ide/src/DA/Daml/LanguageServer.hs
Labels: automerge

#3501 Map CommandIds in MTransaction
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Runner.scala
  triggers/tests/BUILD.bazel
  triggers/tests/daml/CommandId.daml
  triggers/tests/daml/ExerciseByKey.daml
  triggers/tests/list-triggers.sh
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/test/TestMain.scala
Labels: automerge

#3505 Improve Numeric type inference and safety by adding a scale constraint.
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
  compiler/damlc/daml-prim-src/GHC/Classes.daml
  compiler/damlc/daml-prim-src/GHC/Real.daml
  compiler/damlc/daml-stdlib-src/DA/Numeric.daml
  compiler/damlc/tests/daml-test-files/NumericLit.daml
  compiler/damlc/tests/daml-test-files/NumericLitMonoScaleOOB.daml
  compiler/damlc/tests/daml-test-files/NumericLitMonoScaleOOB2.daml
  compiler/damlc/tests/daml-test-files/NumericLitPoly.daml
  compiler/damlc/tests/daml-test-files/NumericScalePropagation.daml
  unreleased.rst
Labels: automerge

#3502 Add pending set to DAML triggers
  docs/source/triggers/template-root/src/CopyTrigger.daml
  triggers/daml/Daml/Trigger.daml
  triggers/tests/BUILD.bazel
  triggers/tests/daml/PendingSet.daml
  triggers/tests/list-triggers.sh
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/test/TestMain.scala
  unreleased.rst
Labels: automerge

#3400 Fix Navigator crashing on ledgers with no packages
  navigator/backend/src/main/scala/com/digitalasset/navigator/model/PackageRegistry.scala
  unreleased.rst
Labels: automerge, component/navigator

#3506 leger-api: add GenMap support
  extractor/src/main/scala/com/digitalasset/extractor/ledger/types/LedgerValue.scala
  language-support/hs/bindings/src/DA/Ledger/Convert.hs
  language-support/scala/bindings/src/main/scala/com/digitalasset/ledger/client/binding/binding/encoding/ValuePrimitiveEncoding.scala
  ledger-api/grpc-definitions/com/digitalasset/ledger/api/v1/value.proto
  ledger/ledger-api-common/src/main/scala/com/digitalasset/ledger/api/validation/ValueValidator.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/participant/util/LfEngineToApi.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/ledger/api/ValueConversionRoundTripTest.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/serialisation/KeyHasher.scala
  unreleased.rst
Labels: automerge, component/daml-lf

#3511 Expose conversion from Ast.Type to iface.Type
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/reader/InterfaceReader.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Converter.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
Labels: automerge

#3460 CLI configuration to enable serving static content as part of the JSON API daemon
  docs/source/json-api/index.rst
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Config.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Main.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/StaticContentEndpoints.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/AbstractHttpServiceIntegrationTest.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/HttpServiceIntegrationTest.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/HttpServiceTestFixture.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/HttpServiceWithPostgresIntTest.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/util/TestUtil.scala
  unreleased.rst
Labels: automerge

#3503 language: make only needed packages visible for cross sdk imports
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Upgrade.hs
  compiler/damlc/daml-opts/daml-opts-types/DA/Daml/Options/Types.hs
  compiler/damlc/daml-opts/daml-opts/DA/Daml/Options.hs
  compiler/damlc/lib/DA/Cli/Damlc.hs
  compiler/damlc/lib/DA/Cli/Damlc/Packaging.hs
  compiler/damlc/lib/DA/Cli/Options.hs
  compiler/damlc/tests/src/DA/Test/Packaging.hs
Labels: automerge

#3521 Fix protobuf zlib reference
  bazel_tools/proto-zlib-url.patch
  deps.bzl
Labels: automerge

#3520 Fix missing header margin in certain screen widths
  docs/theme/sass/_theme_layout.sass
Labels: automerge

#3519 Release lf scalacheck test jars to maven central
  release/artifacts.yaml
Labels: multi-domain

#3529 Upgrade to nodejs-10.16.3 on Windows
  .dadew
  WORKSPACE
  dev-env/windows/manifests/nodejs-10.12.0.json
  dev-env/windows/manifests/nodejs-10.16.3.json
Labels: automerge

#3441 MVP for a daml2ts codegen
  BUILD
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Optics.hs
  language-support/ts/codegen/BUILD.bazel
  language-support/ts/codegen/src/Main.hs
  language-support/ts/codegen/tests/BUILD.bazel
  language-support/ts/codegen/tests/build-and-lint.sh
  language-support/ts/codegen/tests/daml/Lib/Mod.daml
  language-support/ts/codegen/tests/daml/Main.daml
  language-support/ts/codegen/tests/ts/daml-json-types/package.json
  language-support/ts/codegen/tests/ts/daml-json-types/src/index.ts
  language-support/ts/codegen/tests/ts/daml-json-types/tsconfig.json
  language-support/ts/codegen/tests/ts/generated/package.json
  language-support/ts/codegen/tests/ts/generated/tsconfig.json
  language-support/ts/codegen/tests/ts/package.json
  language-support/ts/codegen/tests/ts/yarn.lock
Labels: automerge

#3531 Move the docs for the visualization to the experimental section
  docs/configs/pdf/index.rst
  docs/source/index.rst
  docs/source/tools/visual.rst
Labels: automerge

#3517 indentation to show continuation
  BAZEL.md
Labels: automerge

#3527 Add documentation for DAML script and bundle it in the SDK
  daml-assistant/integration-tests/src/DA/Daml/Assistant/IntegrationTests.hs
  daml-script/daml/Daml/Script.daml
  daml-script/test/BUILD.bazel
  docs/BUILD.bazel
  docs/configs/pdf/index.rst
  docs/source/daml-script/index.rst
  docs/source/daml-script/template-root/daml.yaml.template
  docs/source/daml-script/template-root/ledger-parties.json
  docs/source/daml-script/template-root/src/ScriptExample.daml
  docs/source/index.rst
  release/BUILD.bazel
  release/sdk-config.yaml.tmpl
  templates/BUILD.bazel
  unreleased.rst
Labels: automerge

#3533 ledger-api-test-tool-on-canton: Download Canton from canton.io.
  WORKSPACE
Labels: automerge

#3530 Switch the default DAML-LF version to 1.7
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  compiler/damlc/tests/BUILD.bazel
  compiler/lsp-tests/src/Main.hs
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DarReaderTest.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV1Spec.scala
  daml-lf/tests/scenario/daml-1.dev/mustfails/Test.daml
  docs/source/daml/code-snippets/Functions.daml
  docs/source/daml/intro/daml/daml-intro-3/Native.daml
  docs/source/daml/intro/daml/daml-intro-3/Record.daml
  docs/source/daml/intro/daml/daml-intro-3/Tuple.daml
  extractor/src/test/suite/scala/com/digitalasset/extractor/VeryLargeArchiveSpec.scala
  unreleased.rst
Labels: automerge

#3461 replace JSON witnessParties column with a text[] column
  ledger-service/db-backend/BUILD.bazel
  ledger-service/db-backend/src/main/scala/com/digitalasset/http/dbbackend/Queries.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsFetch.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/HttpServiceWithPostgresIntTest.scala
  unreleased.rst
Labels: automerge

#3534 JSON API: quit immediately after creating schema
  docs/source/json-api/index.rst
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Config.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Main.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/dbbackend/ContractDao.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/HttpServiceTestFixture.scala
  unreleased.rst
Labels: automerge

#3535 Change title of release notes tab
  compiler/daml-extension/src/extension.ts
Labels: automerge

#3541 Make AnyChoice and AnyContractKey take template type into account
  WORKSPACE
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
  compiler/damlc/daml-stdlib-src/DA/Internal/Desugar.daml
  compiler/damlc/daml-stdlib-src/DA/Internal/LF.daml
  compiler/damlc/daml-stdlib-src/DA/Internal/Template.daml
  compiler/damlc/daml-stdlib-src/Prelude.daml
  compiler/damlc/tests/daml-test-files/AnyChoice.daml
  compiler/damlc/tests/daml-test-files/AnyContractKey.daml
  compiler/damlc/tests/daml-test-files/ProposalDesugared.daml
  compiler/damlc/tests/src/DA/Test/DamlcIntegration.hs
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Converter.scala
  ghc-lib/template-desugaring.md
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Converter.scala
  unreleased.rst
Labels: automerge

#3545 Remove target flags in DAML triggers and DAML script
  daml-script/daml/BUILD.bazel
  daml-script/test/BUILD.bazel
  docs/source/daml-script/template-root/daml.yaml.template
  docs/source/triggers/template-root/daml.yaml.template
  triggers/daml/BUILD.bazel
  triggers/tests/BUILD.bazel
Labels: automerge

#3546 Include contract ids in DAML script’s query
  daml-script/daml/Daml/Script.daml
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Converter.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
  daml-script/test/daml/ScriptTest.daml
  daml-script/test/src/com/digitalasset/daml/lf/engine/script/test/TestMain.scala
  docs/source/daml-script/index.rst
  docs/source/daml-script/template-root/src/ScriptExample.daml
Labels: automerge

#3551 Trim exports from Upgrade module
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Upgrade.hs
Labels: automerge

#3547 Remove unreleased.rst
  .gitattributes
  .github/pull_request_template.md
  CONTRIBUTING.md
  release/RELEASE.md
  release/src/Util.hs
  unreleased.rst
  unreleased.sh
Labels: automerge

#3556 Show only logs in unreleased.sh
  unreleased.sh
Labels: automerge-after-rebase

#3552 Move non-upgrading code to a separate DataDependencies module
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/DataDependencies.hs
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Upgrade.hs
  compiler/damlc/lib/DA/Cli/Damlc.hs
  compiler/damlc/lib/DA/Cli/Damlc/Packaging.hs
Labels: automerge

#3554 Release 0.13.37
  VERSION
  docs/source/support/release-notes.rst
Labels: automerge

#3537 build a single graph to replace the two-ConnectionIO setup
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsFetch.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/domain.scala
Labels: automerge, component/json-api

#3566 Remove runtime-based coloring from LATT reports
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/Reporter.scala
Labels: automerge

#3567 Fix unreleased.sh
  unreleased.sh
Labels: automerge

#3570 Refactor trigger runner in preparation for template id filtering
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Runner.scala
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/test/TestMain.scala
Labels: automerge

#3574 Replace MetricsManager with MetricRegistry
  ledger/README.md
  ledger/api-server-damlonx/reference-v2/BUILD.bazel
  ledger/api-server-damlonx/reference-v2/src/main/scala/com/daml/ledger/api/server/damlonx/reference/v2/ReferenceServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/ledger/server/apiserver/ApiServices.scala
  ledger/sandbox/src/main/scala/com/digitalasset/ledger/server/apiserver/LedgerApiServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/JdbcIndex.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/JdbcIndexer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/StandaloneIndexServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/StandaloneIndexerServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/metrics/MetricsInterceptor.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/metrics/MetricsReporting.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/metrics/package.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/ApiSubmissionService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/SandboxIndexAndWriteService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/Ledger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/MeteredLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/ReadOnlySqlLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/LedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/MeteredLedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/util/DbDispatcher.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/util/SqlExecutor.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/LedgerResource.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/MetricsAround.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/TestHelpers.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/ImplicitPartyAdditionIT.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/TransactionMRTComplianceIT.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/JdbcLedgerDaoSpec.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedgerSpec.scala
Labels: component/ledger

#3577 Add template id filtering to triggers
  docs/source/triggers/index.rst
  docs/source/triggers/template-root/src/CopyTrigger.daml
  triggers/daml/Daml/Trigger.daml
  triggers/daml/Daml/Trigger/LowLevel.daml
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Converter.scala
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Runner.scala
  triggers/tests/BUILD.bazel
  triggers/tests/daml/ACS.daml
  triggers/tests/daml/CommandId.daml
  triggers/tests/daml/ExerciseByKey.daml
  triggers/tests/daml/Numeric.daml
  triggers/tests/daml/PendingSet.daml
  triggers/tests/daml/Retry.daml
  triggers/tests/daml/TemplateIdFilter.daml
  triggers/tests/list-triggers.sh
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/test/TestMain.scala
Labels: automerge

#3580 Support exerciseByKey in DAML script
  daml-script/daml/Daml/Script.daml
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Converter.scala
  daml-script/test/daml/ScriptTest.daml
  daml-script/test/src/com/digitalasset/daml/lf/engine/script/test/TestMain.scala
Labels: automerge

#3581 Move and improve LedgerIdentityService integration tests
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/identity/LedgerIdentityServiceGivenIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/identity/LedgerIdentityServiceRandomIT.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/tests/integration/ledger/api/identity/LedgerIdentityServiceITBase.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/services/identity/LedgerIdentityServiceIT.scala
Labels: automerge

#3579 Fix link in release note
  docs/source/support/release-notes.rst
Labels: automerge

#3549 Java-codegen: add support for Generic Maps.
  docs/source/app-dev/bindings-java/codegen.rst
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/grpc/helpers/TransactionGenerator.scala
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/DamlCollectors.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/DamlGenMap.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/DamlList.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/DamlMap.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/DamlOptional.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/DamlTextMap.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/Decimal.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/Value.java
  language-support/java/bindings/src/test/scala/com/daml/ledger/javaapi/data/Generators.scala
  language-support/java/bindings/src/test/scala/com/daml/ledger/javaapi/data/ValueSpec.scala
  language-support/java/codegen/src/it/java-1.0/com/digitalasset/lf_1_0/ListTest.java
  language-support/java/codegen/src/it/java-1.0/com/digitalasset/lf_1_0/OptionalTest.java
  language-support/java/codegen/src/it/java-1.1/com/digitalasset/lf_1_1/ListTest.java
  language-support/java/codegen/src/it/java-1.5/com/digitalasset/lf_1_5/ListTest.java
  language-support/java/codegen/src/it/java-latest/com/digitalasset/lf_latest/ListTest.java
  language-support/java/codegen/src/it/java/com/digitalasset/RecordTest.java
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/Types.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/FromValueGenerator.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/ToValueGenerator.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/package.scala
  language-support/java/codegen/src/test/java/com/digitalasset/testing/GenMapTestFor1_dev.java
Labels: automerge-after-rebase, component/daml-lf, component/java-ecosystem

#3584 DAML-LF: rename ValueMap to ValueTextMap
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ValueTranslator.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/CommandPreprocessorSpec.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/types/Ledger.scala
  daml-lf/transaction-scalacheck/src/main/scala/com/digitalasset/daml/lf/value/TypedValueGenerators.scala
  daml-lf/transaction-scalacheck/src/main/scala/com/digitalasset/daml/lf/value/ValueGenerators.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/Value.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/ValueCoder.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/ValueVersion.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/value/ValueCoderSpec.scala
  extractor/src/main/scala/com/digitalasset/extractor/json/JsonConverters.scala
  extractor/src/main/scala/com/digitalasset/extractor/ledger/types/LedgerValue.scala
  extractor/src/main/scala/com/digitalasset/extractor/writers/postgresql/Queries.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/query/ValuePredicate.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/util/ApiValueToLfValueConverterTest.scala
  ledger-service/lf-value-json/src/main/scala/com/digitalasset/daml/lf/value/json/ApiCodecCompressed.scala
  ledger-service/lf-value-json/src/main/scala/com/digitalasset/daml/lf/value/json/NavigatorModelAliases.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/ledger/api/validation/ValueValidator.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/participant/util/LfEngineToApi.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/ledger/api/validation/SubmitRequestValidatorTest.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/serialisation/KeyHasher.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/KeyHasherSpec.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/console/Pretty.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/json/ApiCodecVerbose.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/model/converter/LedgerApiV1.scala
  navigator/backend/src/test/scala/com/digitalasset/navigator/backend/DamlConstants.scala
Labels: automerge-after-rebase, component/daml-lf

#3573 Ledger API: Add healthcheck endpoints.
  bazel-java-deps.bzl
  ledger-api/grpc-definitions/BUILD.bazel
  ledger-api/grpc-definitions/grpc/health/v1/health_service.proto
  ledger-api/rs-grpc-bridge/BUILD.bazel
  ledger-api/rs-grpc-testing-utils/BUILD.bazel
  ledger-api/rs-grpc-testing-utils/src/main/scala/com/digitalasset/grpc/adapter/server/rs/MockClientCallStreamObserver.scala
  ledger-api/rs-grpc-testing-utils/src/main/scala/com/digitalasset/grpc/adapter/server/rs/MockServerCallStreamObserver.scala
  ledger-api/testing-utils/BUILD.bazel
  ledger-api/testing-utils/src/main/scala/com/digitalasset/ledger/api/testing/utils/AkkaBeforeAndAfterAll.scala
  ledger/API.md
  ledger/ledger-api-akka/BUILD.bazel
  ledger/ledger-api-common/BUILD.bazel
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/DropRepeated.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/services/grpc/GrpcHealthService.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/platform/server/api/DropRepeatedSpec.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/platform/server/api/services/grpc/GrpcHealthServiceSpec.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/ReflectionIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/Tests.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerServices.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/participant/ParticipantTestContext.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/HealthService.scala
  ledger/participant-state/kvutils/BUILD.bazel
  ledger/sandbox/BUILD.bazel
  ledger/sandbox/src/main/scala/com/digitalasset/ledger/server/apiserver/ApiServices.scala
  ledger/test-common/BUILD.bazel
  ledger/test-common/src/main/scala/com.digitalasset.platform.testing/TimeBoundObserver.scala
  release/artifacts.yaml
Labels: automerge

#2743 Replace Hazel by stack_snapshot
  3rdparty/README.md
  3rdparty/c/bzip2.BUILD
  3rdparty/c/zlib.BUILD
  3rdparty/haskell/BUILD
  3rdparty/haskell/BUILD.bindings-DSL
  3rdparty/haskell/BUILD.clock
  3rdparty/haskell/BUILD.ghc-lib-parser
  3rdparty/haskell/BUILD.ghcide
  3rdparty/haskell/BUILD.grpc-haskell-core
  3rdparty/haskell/BUILD.streaming-commons
  3rdparty/haskell/BUILD.wai-app-static
  3rdparty/haskell/BUILD.zlib
  3rdparty/haskell/Paths_ghcide.hs
  3rdparty/haskell/bzlib-conduit.patch
  BAZEL-haskell.md
  BUILD
  Upgrading.md
  WORKSPACE
  bazel-haskell-deps.bzl
  bazel_tools/grpc-haskell-core-cpp-options.patch
  bazel_tools/haskell-cabal-wrapper.patch
  bazel_tools/haskell-cc-wrapper-darwin-rpath-library-dirs.patch
  bazel_tools/haskell-ghci-grpc.patch
  bazel_tools/haskell-ghcide-expose-compat.patch
  bazel_tools/haskell-windows-remove-fake-libs.patch
  bazel_tools/haskell.bzl
  build.ps1
  compiler/damlc/daml-doctest/BUILD.bazel
  compiler/damlc/daml-lf-conversion/BUILD.bazel
  compiler/damlc/daml-preprocessor/BUILD.bazel
  compiler/ghcide-daml.sh
  compiler/lsp-tests/BUILD.bazel
  compiler/scenario-service/protos/BUILD.bazel
  daml-lf/archive/BUILD.bazel
  deps.bzl
  hazel/BUILD
  hazel/README.md
  hazel/packages.bzl
  ledger-api/grpc-definitions/BUILD.bazel
  stack-snapshot.yaml
  util.bzl
Labels: automerge

#3590 Manually run stack update
  .dadew
  build.ps1
  dev-env/windows/manifests/stack.json
Labels: automerge

#3587 Set Sdk-Version in DAR Manifest to compiler SDK version.
  compiler/damlc/daml-compiler/BUILD.bazel
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Dar.hs
  compiler/damlc/lib/DA/Cli/Damlc.hs
  compiler/damlc/lib/DA/Cli/Damlc/Packaging.hs
  compiler/damlc/tests/BUILD.bazel
  compiler/damlc/tests/src/DA/Test/Packaging.hs
  daml-assistant/daml-project-config/DA/Daml/Project/Consts.hs
Labels: automerge

#3582 Move ReflectionIT out of LAPI IT
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/ReflectionIT.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/services/reflection/ReflectionIT.scala
Labels: automerge

#3596 Windows: Take stack from dadew
  WORKSPACE
  bazel-haskell-deps.bzl
  bazel_tools/dev_env_tool/dev_env_tool.bzl
Labels: automerge

#3593 Hide warnings of external Haskell packages
  bazel-haskell-deps.bzl
Labels: automerge

#3594 grpc-utils: Simpler extractors.
  extractor/src/main/scala/com/digitalasset/extractor/Extractor.scala
  extractor/src/test/suite/scala/com/digitalasset/extractor/AuthSpec.scala
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/components/BotTest.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/AuthorizationIT.scala
  libs-scala/grpc-utils/src/main/scala/com/digitalasset/grpc/GrpcException.scala
  libs-scala/grpc-utils/src/main/scala/com/digitalasset/grpc/GrpcStatus.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/UIBackend.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/store/platform/PlatformStore.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/util/RetryHelper.scala
Labels: automerge

#3597 Remove all instances of `use_default_shell_env = True`
  bazel_tools/client_server/client_server_build.bzl
  bazel_tools/pkg.bzl
  bazel_tools/proto.bzl
  bazel_tools/rules_nodejs_default_shell_env.patch
  bazel_tools/rules_nodejs_posix_path.patch
  bazel_tools/scala.bzl
  deps.bzl
  language-support/scala/codegen/codegen.bzl
Labels: automerge

#3602 Ledger api test tool canton run config fix
  ledger/ledger-api-test-tool-on-canton/canton.conf
Labels: multi-domain

#3600 ledger-api-test-tool: Don't discard the cause on `fail`.
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/Assertions.scala
Labels: automerge

#3604 Properly drop invalid actor name chars in standalone indexer actor name
  ledger/api-server-damlonx/reference-v2/BUILD.bazel
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/StandaloneIndexerServer.scala
Labels: automerge

#3589 daml-lf: rename Map to TextMap in archive proto
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Base.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Pretty.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Util.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/DecodeV1.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/EncodeV1.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/Simplifier.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Check.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Serializability.hs
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/DataDependencies.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion/Primitives.hs
  compiler/damlc/daml-stdlib-src/DA/TextMap.daml
  daml-lf/archive/src/main/protobuf/com/digitalasset/daml_lf_dev/daml_lf_1.proto
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/encoder/src/test/lf/TextMap_1.3_1.6_1.dev_.lf
  daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/testing/archive/DamlLfEncoderTest.scala
  daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/testing/archive/EncodeV1Spec.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ValueTranslator.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/CommandPreprocessorSpec.scala
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/reader/InterfaceReader.scala
  daml-lf/interface/src/test/scala/com/digitalasset/daml/lf/iface/TypeSpec.scala
  daml-lf/interface/src/test/scala/com/digitalasset/daml/lf/iface/reader/InterfaceReaderSpec.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Util.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ExprParser.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/TypeParser.scala
  daml-lf/parser/src/test/scala/com/digitalasset/daml/lf/testing/parser/ParsersSpec.scala
  daml-lf/spec/daml-lf-1.rst
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Serializability.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/ValidationError.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/TypingSpec.scala
  language-support/ts/codegen/src/Main.hs
Labels: automerge-after-rebase, component/daml-lf

#3585 Print usage for the unreleased.sh script
  unreleased.sh
Labels: automerge

#3609 Obscure shared-secret-based authenticated sandbox
  docs/source/tools/sandbox.rst
  language-support/hs/bindings/test/DA/Ledger/Sandbox.hs
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/cli/Cli.scala
Labels: automerge
