Repository digital-asset/daml, pull requests merged in 2019-06, with the labels that each got.

#1476 Index service refactor
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/Server.scala
  ledger/backend-api/src/main/scala/com/digitalasset/ledger/backend/api/v1/LedgerBackend.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/services/command/ApiCommandService.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/services/identity/ApiLedgerIdentityService.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/services/testing/ApiTimeService.scala
  ledger/participant-state-index/src/main/scala/com/daml/ledger/participant/state/index/v2/IdentityProvider.scala
  ledger/participant-state-index/src/main/scala/com/daml/ledger/participant/state/index/v2/IndexActiveContractsService.scala
  ledger/participant-state-index/src/main/scala/com/daml/ledger/participant/state/index/v2/IndexConfigurationService.scala
  ledger/participant-state-index/src/main/scala/com/daml/ledger/participant/state/index/v2/IndexPackagesService.scala
  ledger/participant-state-index/src/main/scala/com/daml/ledger/participant/state/index/v2/IndexService.scala
  ledger/participant-state-index/src/main/scala/com/daml/ledger/participant/state/index/v2/IndexTimeService.scala
  ledger/participant-state-index/src/main/scala/com/daml/ledger/participant/state/index/v2/IndexTransactionsService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/ledger/server/apiserver/ApiServices.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/config/SandboxContext.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/damle/SandboxTemplateStore.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/ApiActiveContractsService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/ApiCommandCompletionService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/ApiLedgerConfigurationService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/ApiPackageService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/ApiSubmissionService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/transaction/ApiTransactionService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/SandboxIndexService.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/TestHelpers.scala
Labels: component/ledger

#1493 Added a barebones readme for haskell-ide-core as I've linked it from...
  compiler/haskell-ide-core/README.md
Labels: automerge-dangerous-but-faster

#1481 Addressing comments from the previous PR, adding more test cases
  extractor/src/main/scala/com/digitalasset/extractor/Extractor.scala
  extractor/src/main/scala/com/digitalasset/extractor/config/ConfigParser.scala
  extractor/src/main/scala/com/digitalasset/extractor/config/ExtractorConfig.scala
  extractor/src/main/scala/com/digitalasset/extractor/helpers/FutureUtil.scala
  extractor/src/main/scala/com/digitalasset/extractor/ledger/types/Event.scala
  extractor/src/test/lib/scala/com/digitalasset/extractor/config/Generators.scala
  extractor/src/test/suite/scala/com/digitalasset/extractor/config/ConfigParserSpec.scala
  extractor/src/test/suite/scala/com/digitalasset/extractor/config/CustomScoptReadersSpec.scala
  extractor/src/test/suite/scala/com/digitalasset/extractor/config/TemplateConfigSpec.scala
Labels: automerge, component/extractor

#1445 Drop support for DAML-LF 1.3 from damlc
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/EncodeV1.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Check.hs
  daml-foundations/daml-ghc/package-database/BUILD.bazel
  daml-lf/tests/BUILD.bazel
  daml-lf/tests/scenario/actualize.sh
  daml-lf/tests/scenario/daml-1.dev/contract-keys/EXPECTED.ledger
  daml-lf/tests/scenario/daml-1.dev/contract-keys/Test.daml
  daml-lf/tests/scenario/daml-1.dev/divulge-iou/EXPECTED.ledger
  daml-lf/tests/scenario/daml-1.dev/divulge-iou/Test.daml
  daml-lf/tests/scenario/daml-1.dev/embed-abort/EXPECTED.ledger
  daml-lf/tests/scenario/daml-1.dev/embed-abort/Test.daml
  daml-lf/tests/scenario/daml-1.dev/eval-agreement/EXPECTED.ledger
  daml-lf/tests/scenario/daml-1.dev/eval-agreement/Test.daml
  daml-lf/tests/scenario/daml-1.dev/mustfails/EXPECTED.ledger
  daml-lf/tests/scenario/daml-1.dev/mustfails/Test.daml
  daml-lf/tests/scenario/daml-1.dev/pass-time/EXPECTED.ledger
  daml-lf/tests/scenario/daml-1.dev/pass-time/Test.daml
  daml-lf/tests/scenario/daml-1.dev/pattern-matching/EXPECTED.ledger
  daml-lf/tests/scenario/daml-1.dev/pattern-matching/Test.daml
  daml-lf/tests/scenario/test.sh
  docs/source/support/release-notes.rst
  extractor/BUILD.bazel
  language-support/java/codegen/BUILD.bazel
  language-support/scala/codegen-sample-app/BUILD.bazel
  language-support/scala/examples/BUILD.bazel
  ledger/ledger-api-integration-tests/BUILD.bazel
  ledger/sandbox-perf/BUILD.bazel
Labels: automerge-dangerous-but-faster

#1505 added recovery logic around ledger entry persistence failures
  docs/source/support/release-notes.rst
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedger.scala
Labels: component/ledger

#1509 Move ActiveContractsInMemory to a separate file
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ActiveContracts.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ActiveContractsInMemory.scala
Labels: component/ledger

#1480 daml-lf (un)pack builtins for strings
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Base.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Pretty.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/DecodeV1.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/EncodeV1.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/Simplifier.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Check.hs
  daml-lf/archive/da/daml_lf_1.proto
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/Utf8.scala
  daml-lf/data/src/test/scala/com/digitalasset/daml/lf/data/Utf8Spec.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  daml-lf/lfpackage/src/main/scala/com/digitalasset/daml/lf/lfpackage/Ast.scala
  daml-lf/lfpackage/src/main/scala/com/digitalasset/daml/lf/lfpackage/DecodeV1.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ExprParser.scala
  daml-lf/spec/daml-lf-1.rst
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
Labels: automerge, component/daml-lf

#1467 Add colon (:) to party literal
  daml-lf/archive/da/daml_lf_1.proto
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/DecimalModule.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/Ref.scala
  daml-lf/data/src/test/scala/com/digitalasset/daml/lf/data/RefTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  daml-lf/spec/daml-lf-1.rst
  daml-lf/transaction-scalacheck/src/main/scala/com/digitalasset/daml/lf/value/ValueGenerators.scala
Labels: automerge, component/daml-lf

#1514 Add @hurryabit to CODEOWNERS file for compiler bits
  CODEOWNERS
Labels: automerge-dangerous-but-faster

#1518 Improving logging, using scala-logging
  docs/source/support/release-notes.rst
  extractor/BUILD.bazel
  extractor/src/main/scala/com/digitalasset/extractor/Extractor.scala
  extractor/src/main/scala/com/digitalasset/extractor/Main.scala
  extractor/src/main/scala/com/digitalasset/extractor/logging/Logging.scala
  extractor/src/main/scala/com/digitalasset/extractor/writers/PostgreSQLWriter.scala
  extractor/src/main/scala/com/digitalasset/extractor/writers/postgresql/MultiTableDataFormat.scala
Labels: automerge, component/extractor

#1506 daml-lf: add enum pattern matching
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/DecodeV1.hs
  daml-lf/archive/da/daml_lf_1.proto
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/DefDataType.scala
  daml-lf/interpreter/BUILD.bazel
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SpeedyTest.scala
  daml-lf/lfpackage/src/main/scala/com/digitalasset/daml/lf/lfpackage/Ast.scala
  daml-lf/lfpackage/src/main/scala/com/digitalasset/daml/lf/lfpackage/DecodeV1.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ExprParser.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ModParser.scala
  daml-lf/parser/src/test/scala/com/digitalasset/daml/lf/testing/parser/ParsersSpec.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/TypingSpec.scala
Labels: automerge, component/daml-lf

#1524 removing ledger backend module
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/DamlOnXTransactionService.scala
  ledger/backend-api/BUILD.bazel
  ledger/backend-api/README.md
  ledger/backend-api/src/main/scala/com/digitalasset/ledger/backend/api/v1/ActiveContract.scala
  ledger/backend-api/src/main/scala/com/digitalasset/ledger/backend/api/v1/LedgerBackend.scala
  ledger/backend-api/src/main/scala/com/digitalasset/ledger/backend/api/v1/LedgerSyncEvent.scala
  ledger/backend-api/src/main/scala/com/digitalasset/ledger/backend/api/v1/RejectionReason.scala
  ledger/backend-api/src/main/scala/com/digitalasset/ledger/backend/api/v1/TransactionSubmission.scala
  ledger/backend-api/src/main/scala/com/digitalasset/ledger/backend/api/v1/v1.scala
  ledger/ledger-api-common/BUILD.bazel
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/SubmitterInfo.scala
  ledger/sandbox/BUILD.bazel
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/ApiSubmissionService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/CommandExecutor.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/CommandExecutorImpl.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/Ledger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/LedgerEntry.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/MeteredLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/SandboxIndexAndWriteService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/ScenarioLoader.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/TransactionConversion.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/inmemory/InMemoryLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/PostgresLedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/migration/scripts/V2_1__Rebuild_Acs.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/TestHelpers.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/TransactionMRTComplianceIT.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/PostgresDaoSpec.scala
  release/artifacts.yaml
Labels: automerge-dangerous-but-faster, component/ledger

#1530 Release notes fix
  docs/source/support/release-notes.rst
Labels: automerge-dangerous-but-faster

#1520 extractor, navigator: --ledger-api-inbound-message-size-max option replaces 50MiB hard-coded [package size] limit
  docs/source/support/release-notes.rst
  extractor/src/main/scala/com/digitalasset/extractor/Extractor.scala
  extractor/src/main/scala/com/digitalasset/extractor/config/ConfigParser.scala
  extractor/src/main/scala/com/digitalasset/extractor/config/ExtractorConfig.scala
  extractor/src/test/lib/scala/com/digitalasset/extractor/services/ExtractorFixture.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/UIBackend.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/config/Arguments.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/store/platform/PlatformStore.scala
Labels: component/extractor, component/navigator

#1539 add forgotten changes to the changelog
  docs/source/support/release-notes.rst
Labels: automerge-dangerous-but-faster, component/daml-lf, component/ledger

#1546 Run daml-ghc tests with full validation in the scenario service
  compiler/scenario-service/client/src/DA/Daml/LF/ScenarioServiceClient.hs
  compiler/scenario-service/client/src/DA/Daml/LF/ScenarioServiceClient/LowLevel.hs
  daml-foundations/daml-ghc/ghc-compiler/src/DA/Daml/GHC/Compiler/Options.hs
  daml-foundations/daml-ghc/ide/src/Development/IDE/State/Rules/Daml.hs
  daml-foundations/daml-ghc/ide/src/Development/IDE/State/Service/Daml.hs
  daml-foundations/daml-ghc/test-src/DA/Test/GHC.hs
  daml-foundations/daml-tools/da-hs-daml-cli/DA/Cli/Damlc.hs
Labels: automerge-dangerous-but-faster

#1547 Release 0.12.24
  VERSION
  docs/source/support/release-notes.rst
Labels: automerge-dangerous-but-faster

#1542 windows: language-support java codegen tests
  build.ps1
  language-support/java/codegen/BUILD.bazel
  language-support/java/codegen/codegen.bzl
  language-support/java/codegen/src/ledger-tests/scala/com/digitalasset/CodegenLedgerTest.scala
  language-support/java/codegen/src/test/scala/com/digitalasset/daml/lf/codegen/CodeGenRunnerTests.scala
Labels: component/java-ecosystem

#1544 Ledger abstraction moves behind IndexAndWriteService
  ledger/sandbox/src/main/scala/com/digitalasset/ledger/server/apiserver/ApiServices.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/SandboxIndexAndWriteService.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/TestHelpers.scala
Labels: automerge-dangerous-but-faster, component/ledger

#1529 navigator: add enum types
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/CommandPreprocessor.scala
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/DefDataType.scala
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/reader/InterfaceReader.scala
  daml-lf/lfpackage/src/main/scala/com/digitalasset/daml/lf/lfpackage/Ast.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/ValueVersion.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/console/Pretty.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/json/ApiCodecCompressed.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/json/ApiCodecVerbose.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/json/DamlLfCodec.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/model/ApiValue.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/model/PackageRegistry.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/model/converter/LedgerApiV1.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/query/filter/package.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/query/project/package.scala
  navigator/frontend/src/applets/templatecontracts/columns.tsx
  navigator/frontend/src/applets/templatecontracts/index.tsx
  navigator/frontend/src/ui-core/src/ArgumentDisplay/index.tsx
  navigator/frontend/src/ui-core/src/ParameterForm/Guide.tsx
  navigator/frontend/src/ui-core/src/ParameterForm/index.tsx
  navigator/frontend/src/ui-core/src/api/DamlLfType.ts
  navigator/frontend/src/ui-core/src/api/DamlLfValue.ts
Labels: automerge, component/daml-engine, component/navigator

#1541 introduce participant-state interface v2
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/Configuration.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/LedgerInitialConditions.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/Offset.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/PartyAllocationResult.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/ReadService.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/RejectionReason.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/SubmissionResult.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/SubmitterInfo.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/TimeModel.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/TransactionMeta.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/Update.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/WriteService.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/v2.scala
  ledger/sandbox/src/main/scala/com/digitalasset/ledger/server/apiserver/ApiServices.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/ApiSubmissionService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/CommandExecutor.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/CommandExecutorImpl.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/Ledger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/MeteredLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/SandboxIndexAndWriteService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/inmemory/InMemoryLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/LedgerDao.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/TransactionMRTComplianceIT.scala
Labels: automerge, component/dlik, component/ledger

#1498 Provide initial implementation of package management in the KVUtils
  ledger/api-server-damlonx/reference/BUILD.bazel
  ledger/api-server-damlonx/reference/src/main/scala/com/daml/ledger/api/server/damlonx/reference/ReferenceServer.scala
  ledger/participant-state-index/reference/src/main/scala/com/daml/ledger/participant/state/index/v1/impl/reference/IndexState.scala
  ledger/participant-state/kvutils/src/main/protobuf/daml_kvutils.proto
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/InMemoryKVParticipantState.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/KeyValueCommitting.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/KeyValueConsumption.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/KeyValueSubmission.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/InMemoryKVParticipantStateIT.scala
  ledger/participant-state/reference/BUILD.bazel
  ledger/participant-state/reference/src/main/scala/com/daml/ledger/participant/state/v1/impl/reference/Ledger.scala
  ledger/participant-state/reference/src/main/scala/com/daml/ledger/participant/state/v1/impl/reference/Transaction.scala
  ledger/participant-state/reference/src/main/scala/com/daml/ledger/participant/state/v1/impl/reference/Validation.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/ReadService.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/SubmissionResult.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/Update.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/WriteService.scala
  release/artifacts.yaml
Labels: automerge, component/dlik, component/ledger

#1545 Use Ledger API Test Tool for sandbox
  bazel_tools/client_server_test/client_server_test.bzl
  docs/source/support/release-notes.rst
  docs/source/tools/ledger-api-test-tool/index.rst
  ledger/ledger-api-integration-tests/BUILD.bazel
  ledger/ledger-api-integration-tests/src/main/scala/com/digitalasset/platform/semantictest/StandaloneSemanticTestRunner.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/PlatformApplications.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/Cli.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/Config.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/LedgerApiTestTool.scala
  ledger/sandbox/BUILD.bazel
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/cli/Cli.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/config/SandboxConfig.scala
  release/artifacts.yaml
Labels: component/dlik, component/ledger

#1559 introducing the Indexer
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/Indexer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/SandboxIndexAndWriteService.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/TestHelpers.scala
Labels: component/ledger

#1560 upgrade versions for yarn audit
  package.json
  yarn.lock
Labels: automerge

#1548 windows: better language-support build / test coverage
  bazel_tools/runfiles/src/main/scala/com/digitalasset/daml/bazeltools/BazelRunfiles.scala
  build.ps1
  language-support/hs/bindings/BUILD.bazel
  language-support/hs/bindings/test/DA/Ledger/Sandbox.hs
  language-support/java/BUILD.bazel
  language-support/scala/codegen-sample-app/BUILD.bazel
  language-support/scala/codegen-sample-app/src/test/scala/com/digitalasset/codegen/util/TestUtil.scala
Labels: automerge-dangerous-but-faster

#1551 extractor: >50MiB module loading test
  extractor/BUILD.bazel
  extractor/src/test/lib/scala/com/digitalasset/extractor/services/ExtractorFixture.scala
  extractor/src/test/suite/scala/com/digitalasset/extractor/VeryLargeArchiveSpec.scala
Labels: component/extractor

#1561 Add examples repo link
  docs/source/examples/examples.rst
Labels: automerge

#1567 extractor: reduce large dar test to fail on 5MB, succeed on 10MB
  extractor/BUILD.bazel
  extractor/src/test/suite/scala/com/digitalasset/extractor/VeryLargeArchiveSpec.scala
Labels: automerge-dangerous-but-faster, component/extractor

#1550 Move TextMap to DA.Internal.LF
  daml-foundations/daml-ghc/daml-stdlib-src/DA/Internal/LF.daml
  daml-foundations/daml-ghc/daml-stdlib-src/DA/Internal/Prelude.daml
  daml-foundations/daml-ghc/daml-stdlib-src/DA/TextMap.daml
  daml-foundations/daml-ghc/daml-stdlib-src/Prelude.daml
  daml-foundations/daml-ghc/ghc-compiler/src/DA/Daml/GHC/Compiler/Convert.hs
Labels: automerge-dangerous-but-faster

#1566 infra: add docker daemon to ci agent
  infra/vsts_agent_linux_startup.sh
Labels: automerge

#1558 Connect up services page and proto docs
  docs/source/app-dev/app-arch.rst
  docs/source/app-dev/index.rst
  docs/source/app-dev/services.rst
  docs/source/getting-started/quickstart.rst
Labels: automerge

#1577 Move closer to upstream haskell-lsp and lsp-test
  WORKSPACE
Labels: automerge-dangerous-but-faster

#1562 create separate bazel targets for participant-state-v1
  ledger/api-server-damlonx/BUILD.bazel
  ledger/api-server-damlonx/reference/BUILD.bazel
  ledger/ledger-api-common/BUILD.bazel
  ledger/participant-state-index/BUILD.bazel
  ledger/participant-state-index/reference/BUILD.bazel
  ledger/participant-state/BUILD.bazel
  ledger/participant-state/kvutils/BUILD.bazel
  ledger/sandbox/BUILD.bazel
  release/artifacts.yaml
Labels: automerge, component/ledger

#1579 Remove EventFileValidation
  compiler/haskell-ide-core/src/Development/IDE/Types/LSP.hs
  daml-foundations/daml-ghc/language-server/src/DA/Service/Daml/LanguageServer.hs
Labels: automerge-dangerous-but-faster

#1584 Set support expectations more clearly
  docs/source/support/support.rst
Labels: automerge

#1588 Removing damlc dependency from quickstart-scala
  language-support/scala/examples/quickstart-scala/project/Versions.scala
  language-support/scala/examples/quickstart-scala/project/daml.sbt
Labels: automerge, component/daml-assistant, component/scala-ecosystem

#1585 Document syntactic restriction for ids in ledger-api proto
  ledger-api/grpc-definitions/com/digitalasset/ledger/api/v1/active_contracts_service.proto
  ledger-api/grpc-definitions/com/digitalasset/ledger/api/v1/admin/package_management_service.proto
  ledger-api/grpc-definitions/com/digitalasset/ledger/api/v1/admin/party_management_service.proto
  ledger-api/grpc-definitions/com/digitalasset/ledger/api/v1/command_completion_service.proto
  ledger-api/grpc-definitions/com/digitalasset/ledger/api/v1/command_service.proto
  ledger-api/grpc-definitions/com/digitalasset/ledger/api/v1/commands.proto
  ledger-api/grpc-definitions/com/digitalasset/ledger/api/v1/completion.proto
  ledger-api/grpc-definitions/com/digitalasset/ledger/api/v1/event.proto
  ledger-api/grpc-definitions/com/digitalasset/ledger/api/v1/ledger_configuration_service.proto
  ledger-api/grpc-definitions/com/digitalasset/ledger/api/v1/ledger_identity_service.proto
  ledger-api/grpc-definitions/com/digitalasset/ledger/api/v1/package_service.proto
  ledger-api/grpc-definitions/com/digitalasset/ledger/api/v1/testing/reset_service.proto
  ledger-api/grpc-definitions/com/digitalasset/ledger/api/v1/testing/time_service.proto
  ledger-api/grpc-definitions/com/digitalasset/ledger/api/v1/transaction.proto
  ledger-api/grpc-definitions/com/digitalasset/ledger/api/v1/transaction_filter.proto
  ledger-api/grpc-definitions/com/digitalasset/ledger/api/v1/transaction_service.proto
  ledger-api/grpc-definitions/com/digitalasset/ledger/api/v1/value.proto
Labels: automerge, component/daml-lf, component/ledger

#1570 Scala ecosystem: discourage Identifier name in scala primitive
  language-support/scala/bindings/src/main/scala/com/digitalasset/ledger/client/binding/binding/Primitive.scala
  language-support/scala/codegen-testing/src/test/scala/com/digitalasset/ledger/client/binding/PrimitiveSpec.scala
Labels: component/scala-ecosystem

#1210 language-support/scala: add support for specifying dependency roots explicitly
  docs/source/support/release-notes.rst
  language-support/codegen-common/src/main/scala/com/digitalasset/daml/lf/codegen/conf/Conf.scala
  language-support/scala/codegen/BUILD.bazel
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/CodeGen.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/Main.scala
  language-support/scala/codegen/src/test/scala/com/digitalasset/codegen/CodeGenSpec.scala
Labels: component/scala-ecosystem

#1601 Remove useless version paramater from LF.World.initSelfWorld
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/World.hs
  daml-foundations/daml-ghc/ide/src/Development/IDE/State/Rules/Daml.hs
  daml-foundations/daml-tools/da-hs-daml-cli/DA/Cli/Visual.hs
Labels: automerge-dangerous-but-faster

#1604 Correct docs
  daml-foundations/daml-ghc/daml-stdlib-src/DA/Text.daml
Labels: automerge-dangerous-but-faster

#1602 Buildsystem scala sources improvements
  bazel_tools/scala.bzl
  language-support/scala/codegen/codegen.bzl
Labels: component/build-system, component/scala-ecosystem

#1557 Glossary for SDK
  docs/configs/pdf/index.rst
  docs/source/app-dev/index.rst
  docs/source/app-dev/services.rst
  docs/source/concepts/glossary.rst
  docs/source/index.rst
Labels: automerge

#1612 Fixes #1611: Add multiple archive support to scala_source_jar() rule.
  bazel_tools/scala.bzl
Labels: component/build-system, component/scala-ecosystem

#1642 Remove the dependency of da-hs-language-server and language-server on…
  compiler/haskell-ide-core/src/Development/IDE/Logger.hs
  daml-foundations/daml-ghc/daml-compiler/src/DA/Service/Daml/Compiler/Impl/Handle.hs
  daml-foundations/daml-ghc/language-server/BUILD.bazel
  daml-foundations/daml-ghc/language-server/src/DA/Service/Daml/LanguageServer.hs
  daml-foundations/daml-ghc/language-server/src/DA/Service/Daml/LanguageServer/CodeLens.hs
  daml-foundations/daml-ghc/language-server/src/DA/Service/Daml/LanguageServer/Common.hs
  daml-foundations/daml-ghc/language-server/src/DA/Service/Daml/LanguageServer/Definition.hs
  daml-foundations/daml-ghc/language-server/src/DA/Service/Daml/LanguageServer/Hover.hs
  daml-foundations/daml-tools/da-hs-daml-cli/DA/Cli/Damlc.hs
  libs-haskell/da-hs-language-server/BUILD.bazel
  libs-haskell/da-hs-language-server/src/DA/LanguageServer/Protocol.hs
  libs-haskell/da-hs-language-server/src/DA/LanguageServer/Server.hs
Labels: automerge

#1650 Remove one level of tracking files of interest and open VRs
  compiler/haskell-ide-core/src/Development/IDE/State/Service.hs
  daml-foundations/daml-ghc/daml-compiler/src/DA/Service/Daml/Compiler/Impl/Handle.hs
  daml-foundations/daml-ghc/ide/src/Development/IDE/State/API.hs
  daml-foundations/daml-ghc/ide/src/Development/IDE/State/Service/Daml.hs
  daml-foundations/daml-ghc/language-server/src/DA/Service/Daml/LanguageServer.hs
  daml-foundations/daml-tools/da-hs-daml-cli/DA/Cli/Damlc/Test.hs
Labels: automerge

#1653 Remove atPoint indirection
  daml-foundations/daml-ghc/daml-compiler/src/DA/Service/Daml/Compiler/Impl/Handle.hs
  daml-foundations/daml-ghc/language-server/src/DA/Service/Daml/LanguageServer/Hover.hs
Labels: automerge

#1654 Remove gotoDefinition indirection
  daml-foundations/daml-ghc/daml-compiler/src/DA/Service/Daml/Compiler/Impl/Handle.hs
  daml-foundations/daml-ghc/language-server/src/DA/Service/Daml/LanguageServer/Definition.hs
Labels: automerge

#1641 Correctly implement hashCode for ImmArray and FrontStack
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/BackStack.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/FrontStack.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/ImmArray.scala
  daml-lf/data/src/test/scala/com/digitalasset/daml/lf/data/ImmArrayTest.scala
  docs/source/support/release-notes.rst
Labels: component/daml-lf

#1661 prevent hourly build from running on pr or merge
  azure-cron.yml
Labels: automerge-after-rebase

#1651 Remove DA.Service.DAML.LanguageServer.Common
  daml-foundations/daml-ghc/language-server/src/DA/Service/Daml/LanguageServer/CodeLens.hs
  daml-foundations/daml-ghc/language-server/src/DA/Service/Daml/LanguageServer/Common.hs
  daml-foundations/daml-ghc/language-server/src/DA/Service/Daml/LanguageServer/Hover.hs
Labels: automerge

#1662 Update to use LSP from github
  WORKSPACE
  compiler/haskell-ide-core/stack.yaml
Labels: automerge

#1669 Move the ofInterest kicking around in the IDE
  compiler/haskell-ide-core/BUILD.bazel
  compiler/haskell-ide-core/haskell-ide-core.cabal
  compiler/haskell-ide-core/src/Development/IDE/State/RuleTypes.hs
  compiler/haskell-ide-core/src/Development/IDE/State/Rules.hs
  compiler/haskell-ide-core/test/Demo.hs
  daml-foundations/daml-ghc/ide/src/Development/IDE/State/RuleTypes/Daml.hs
  daml-foundations/daml-ghc/ide/src/Development/IDE/State/Rules/Daml.hs
Labels: automerge

#1674 Initial commit of bare bones haskell extension
  compiler/haskell-ide-core/extension/.gitignore
  compiler/haskell-ide-core/extension/.vscodeignore
  compiler/haskell-ide-core/extension/README.md
  compiler/haskell-ide-core/extension/package-lock.json
  compiler/haskell-ide-core/extension/package.json
  compiler/haskell-ide-core/extension/src/extension.ts
  compiler/haskell-ide-core/extension/tsconfig.json
  compiler/haskell-ide-core/extension/tslint.json
Labels: automerge

#1673 Add CodeLens support to the fake LanguageServer
  compiler/haskell-ide-core/src/Development/IDE/LSP/LanguageServer.hs
Labels: automerge

#1586 Add contract keys to created events in the Ledger API
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Event.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/DefDataType.scala
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/reader/InterfaceReader.scala
  daml-lf/testing-tools/src/main/scala/com/digitalasset/daml/lf/engine/testing/SemanticTester.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
  docs/source/support/release-notes.rst
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/components/BotTest.scala
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/grpc/TransactionClientTest.scala
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/grpc/helpers/TransactionGenerator.scala
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/CreatedEvent.java
  language-support/java/codegen/src/it/java/com/digitalasset/TemplateMethodTest.java
  language-support/java/codegen/src/ledger-tests/daml/Wolpertinger.daml
  language-support/java/codegen/src/ledger-tests/scala/com/digitalasset/CodegenLedgerTest.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/TemplateClass.scala
  language-support/java/codegen/src/test/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/TemplateClassSpec.scala
  language-support/scala/bindings-akka/src/test/scala/com/digitalasset/ledger/client/binding/DomainTransactionMapperUT.scala
  language-support/scala/codegen/src/test/scala/com/digitalasset/codegen/CodeGenSpec.scala
  ledger-api/grpc-definitions/com/digitalasset/ledger/api/v1/event.proto
  ledger-api/grpc-definitions/com/digitalasset/ledger/api/v1/transaction.proto
  ledger-api/testing-utils/src/main/scala/com/digitalasset/ledger/api/testing/utils/MockMessages.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/DamlOnXActiveContractsService.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/backport/EventFilter.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/backport/TransactionConversion.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/participant/util/LfEngineToApi.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/services/grpc/GrpcTransactionService.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/services/transaction/TransientContractRemover.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/platform/server/services/transaction/TransientContractRemoverTest.scala
  ledger/ledger-api-domain/src/main/scala/com/digitalasset/ledger/api/domain.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/ActiveContractsServiceIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/TransactionServiceIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/commands/CommandStaticTimeIT.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/CommandTransactionChecks.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/semantictest/ApiScenarioTransform.scala
  ledger/participant-state-index/reference/src/main/scala/com/daml/ledger/participant/state/index/v1/impl/reference/ReferenceIndexService.scala
  ledger/participant-state-index/src/main/scala/com/daml/ledger/participant/state/index/v1/package.scala
  ledger/participant-state-index/src/main/scala/com/daml/ledger/participant/state/index/v2/package.scala
  ledger/sandbox-perf/src/perf/benches/scala/com/digitalasset/platform/sandbox/perf/AcsBench.scala
  ledger/sandbox-perf/src/perf/lib/scala/com/digitalasset/platform/sandbox/perf/TestHelper.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/ApiActiveContractsService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/SandboxIndexAndWriteService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/TransactionConversion.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/ScenarioLoadingITBase.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/services/transaction/EventFilterSpec.scala
  navigator/backend/src/test/scala/com/digitalasset/navigator/backend/DamlConstants.scala
Labels: automerge

#1664 add gerolf and robert as codeowners for /ledger
  CODEOWNERS
Labels: automerge

#1701 Remove exposed-modules from skeleton project
  templates/skeleton/daml.yaml.template
Labels: automerge

#1708 Don't pass the same argument twice
  compiler/haskell-ide-core/src/Development/IDE/Functions/Compile.hs
  compiler/haskell-ide-core/src/Development/IDE/State/Rules.hs
Labels: automerge

#1709 Add #1695 to the release notes
  docs/source/support/release-notes.rst
Labels: automerge

#1712 Load core-package dependencies in da-ghci
  bazel_tools/haskell_ghci_repl_toolchain_lib.patch
  compiler/haskell-ide-core/BUILD.bazel
  deps.bzl
  dev-env/bin/da-ghcid
Labels: automerge

#1205 Fixes #1204: Release bindings and codegens to Maven Central.
  bazel_tools/scala.bzl
  ci/build-unix.yml
  dev-env/bin/gpg
  docs/source/app-dev/bindings-java/code-snippets/pom.xml
  docs/source/app-dev/bindings-java/codegen.rst
  docs/source/app-dev/bindings-java/index.rst
  docs/source/getting-started/quickstart/template-root/pom.xml
  docs/source/support/release-notes.rst
  language-support/codegen-main/BUILD.bazel
  language-support/java/codegen/BUILD.bazel
  ledger-api/grpc-definitions/BUILD.bazel
  nix/packages.nix
  release/BUILD.bazel
  release/artifacts.yaml
  release/src/Main.hs
  release/src/Options.hs
  release/src/Types.hs
  release/src/Upload.hs
  release/src/Util.hs
Labels: component/build-system

#1702 added missing closure for checkpointQueue in SqlLedger
  docs/source/support/release-notes.rst
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedger.scala
Labels: component/ledger

#1619 Adding docs for generating visual
  daml-foundations/daml-tools/README.md
  docs/source/index.rst
  docs/source/support/release-notes.rst
  docs/source/tools/visual.rst
Labels: automerge

#1726 Fixes #1725: Correct Maven credential variables in CI release script.
  ci/build-unix.yml
  docs/source/app-dev/bindings-java/index.rst
  docs/source/support/release-notes.rst
  release/src/Upload.hs
Labels: component/build-system

#1720 windows: CI - more targets
  build.ps1
Labels: automerge

#1732 Release SDK 0.13.2 (fixes #1731)
  VERSION
  docs/source/support/release-notes.rst
Labels: component/build-system

#1717 Daml intro
  docs/BUILD.bazel
  docs/configs/pdf/index.rst
  docs/source/daml/intro/0_Intro.rst
  docs/source/daml/intro/1_Token.rst
  docs/source/daml/intro/2_Scenario.rst
  docs/source/daml/intro/3_Data.rst
  docs/source/daml/intro/4_Transformations.rst
  docs/source/daml/intro/5_Restrictions.rst
  docs/source/daml/intro/6_Parties.rst
  docs/source/daml/intro/7_Composing.rst
  docs/source/daml/intro/daml/daml-intro-1/Token.daml
  docs/source/daml/intro/daml/daml-intro-2/Token_Test.daml
  docs/source/daml/intro/daml/daml-intro-3/IDRef.daml
  docs/source/daml/intro/daml/daml-intro-3/Keys.daml
  docs/source/daml/intro/daml/daml-intro-3/List.daml
  docs/source/daml/intro/daml/daml-intro-3/Native.daml
  docs/source/daml/intro/daml/daml-intro-3/Record.daml
  docs/source/daml/intro/daml/daml-intro-3/Tuple.daml
  docs/source/daml/intro/daml/daml-intro-3/Variants.daml
  docs/source/daml/intro/daml/daml-intro-4/Contact.daml
  docs/source/daml/intro/daml/daml-intro-4/SimpleIou.daml
  docs/source/daml/intro/daml/daml-intro-5/Restrictions.daml
  docs/source/daml/intro/daml/daml-intro-6/Parties.daml
  docs/source/daml/intro/daml/daml-intro-7/daml.yaml.template
  docs/source/daml/intro/daml/daml-intro-7/daml/Intro/Asset.daml
  docs/source/daml/intro/daml/daml-intro-7/daml/Intro/Asset/Role.daml
  docs/source/daml/intro/daml/daml-intro-7/daml/Intro/Asset/Trade.daml
  docs/source/daml/intro/daml/daml-intro-7/daml/LibraryModules.daml
  docs/source/daml/intro/daml/daml-intro-7/daml/Test/Intro/Asset.daml
  docs/source/daml/intro/daml/daml-intro-7/daml/Test/Intro/Asset/Role.daml
  docs/source/daml/intro/daml/daml-intro-7/daml/Test/Intro/Asset/Trade.daml
  docs/source/daml/intro/images/2_Scenario/archived.png
  docs/source/daml/intro/images/2_Scenario/failure.png
  docs/source/daml/intro/images/2_Scenario/scenario_results1.png
  docs/source/daml/intro/images/2_Scenario/tabular_view1.png
  docs/source/daml/intro/images/2_Scenario/tx_graph.png
  docs/source/daml/intro/images/7_Composing/divulgence.png
  docs/source/index.rst
  docs/source/support/release-notes.rst
  templates/BUILD.bazel
Labels: component/documentation, language

#1738 Fixes #1737: Fix broken URL for releasing uploaded artefacts to Maven…
  docs/source/app-dev/bindings-java/index.rst
  docs/source/support/release-notes.rst
  release/src/Main.hs
  release/src/Upload.hs
Labels: component/build-system

#1734 debugging perf-test failures
  ledger/sandbox-perf/src/perf/benches/scala/com/digitalasset/platform/sandbox/perf/LargeTransactionBench.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/persistence/PostgresAround.scala
Labels: automerge, component/ledger

#1740 Prepare for SDK release 0.13.3 (Fixes #1739)
  VERSION
  docs/source/support/release-notes.rst
Labels: component/build-system

#1744 try to make macOS tests less flaky by bumping the TTL
  ledger/ledger-api-test-tool/BUILD.bazel
Labels: automerge

#1743 Support generic types as contract keys in codegen
  docs/source/support/release-notes.rst
  language-support/java/codegen/src/it/daml/Lib.daml
  language-support/java/codegen/src/it/daml/Tests/ContractKeys.daml
  language-support/java/codegen/src/it/java-latest/com/digitalasset/lf_latest/AllTests.java
  language-support/java/codegen/src/it/java-latest/com/digitalasset/lf_latest/ContractKeysTest.java
  language-support/java/codegen/src/it/java/com/digitalasset/AllGenericTests.java
  language-support/java/codegen/src/it/java/com/digitalasset/SerializableTest.java
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/FromValueGenerator.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/TemplateClass.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/ToValueGenerator.scala
Labels: automerge

#1715 Scala Daml-lf encoder
  daml-lf/archive/BUILD.bazel
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/MatchingStringModule.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/Ref.scala
  daml-lf/encoder/BUILD.bazel
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/testing/archive/DamlLfEncoder.scala
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/testing/archive/Encode.scala
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/testing/archive/EncodeV1.scala
  daml-lf/encoder/src/test/resource/Test.damllf
  daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/testing/archive/DamlLfAssemblerTest.scala
  daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/testing/archive/EncodeV1Spec.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SpeedyTest.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/AstRewriter.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ExprParser.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/Implicits.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/KindParser.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ModParser.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ParserError.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ParserParameters.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/Parsers.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/TypeParser.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/package.scala
  daml-lf/parser/src/test/scala/com/digitalasset/daml/lf/testing/parser/ParsersSpec.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/ValidationError.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/CollisionSpec.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/PartyLiteralsSpec.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/RecursionSpec.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/SerializabilitySpec.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/TypingSpec.scala
Labels: automerge-after-rebase, component/daml-lf

#1747 Fixes #1745: Fix JSON sent to release artefacts to Maven Central.
  docs/source/support/release-notes.rst
  release/src/Upload.hs
Labels: component/build-system

#1752 Release SDK 0.13.4
  VERSION
  docs/source/support/release-notes.rst
Labels: component/build-system

#1724 Add ExerciseByKey command to Ledger API
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/CommandPreprocessor.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Command.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/tests/BasicTests.daml
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/command/Command.scala
  docs/source/app-dev/bindings-java/code-snippets/Templates.daml
  docs/source/app-dev/bindings-java/codegen.rst
  docs/source/app-dev/code-snippets/ExerciseByKeyMySimpleTemplate.payload
  docs/source/app-dev/code-snippets/Templates.daml
  docs/source/app-dev/grpc/daml-to-ledger-api.rst
  docs/source/support/release-notes.rst
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/Command.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/ExerciseByKeyCommand.java
  language-support/java/codegen/src/ledger-tests/scala/com/digitalasset/CodegenLedgerTest.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/TemplateClass.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/ToValueGenerator.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/VariantConstructorClass.scala
  ledger-api/grpc-definitions/com/digitalasset/ledger/api/v1/commands.proto
  ledger/ledger-api-common/src/main/scala/com/digitalasset/ledger/api/validation/CommandsValidator.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/participant/util/LfEngineToApi.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/participant/util/ValueConversions.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/CommandTransactionChecks.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/tests/integration/ledger/api/LedgerTestingHelpers.scala
Labels: automerge

#1756 Fixes #1755: Carefully fix json message to release artefacts
  docs/source/support/release-notes.rst
  release/src/Upload.hs
Labels: component/build-system

#1758 Use a less generic directory name in damlc-dist.jar
  daml-foundations/daml-tools/damlc-jar/BUILD.bazel
Labels: automerge

#1760 Release SDK 0.13.5 (Fixes #1759)
  VERSION
  docs/source/support/release-notes.rst
Labels: component/build-system

#1610 Implement package management API in the sandbox
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DarReader.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/UniversalArchiveReader.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/TryOps.scala
  docs/source/support/release-notes.rst
  language-support/java/codegen/src/ledger-tests/scala/com/digitalasset/CodegenLedgerTest.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/CodeGenRunner.scala
  language-support/scala/codegen-sample-app/src/test/scala/com/digitalasset/codegen/ScalaCodeGenIT.scala
  language-support/scala/examples/codegen-sbt-example/sandbox-example/src/main/scala/com/digitalasset/example/ExampleMain.scala
  ledger-api/grpc-definitions/com/digitalasset/ledger/api/v1/admin/package_management_service.proto
  ledger/api-server-damlonx/reference/src/main/scala/com/daml/ledger/api/server/damlonx/reference/ReferenceServer.scala
  ledger/ledger-api-client/BUILD.bazel
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/services/admin/PackageManagementClient.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/PackageManagementServiceIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/ReflectionIT.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/PlatformApplications.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/LedgerContext.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/Config.scala
  ledger/participant-state-index/BUILD.bazel
  ledger/participant-state-index/reference/src/main/scala/com/daml/ledger/participant/state/index/v1/impl/reference/IndexState.scala
  ledger/participant-state-index/src/main/scala/com/daml/ledger/participant/state/index/v2/IndexPackagesService.scala
  ledger/participant-state-index/src/main/scala/com/daml/ledger/participant/state/index/v2/package.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/UploadDarResult.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/WritePackagesService.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/WriteService.scala
  ledger/sandbox-perf/src/perf/lib/scala/com/digitalasset/platform/sandbox/perf/SandboxServerState.scala
  ledger/sandbox/src/main/scala/com/digitalasset/ledger/server/apiserver/ApiServices.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/cli/Cli.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/config/DamlPackageContainer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/config/SandboxConfig.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/config/SandboxContext.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/damle/SandboxDamle.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/damle/SandboxTemplateStore.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/ApiPackageService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/ApiSubmissionService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/admin/ApiPackageManagementService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/InMemoryActiveContracts.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/InMemoryPackageStore.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/SandboxIndexAndWriteService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/CommandExecutorImpl.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/Ledger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/ScenarioLoader.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/inmemory/InMemoryLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedger.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/LedgerResource.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/TestHelpers.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/cli/CliSpec.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/services/SandboxFixture.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/services/TestCommands.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/config/SandboxContextSpec.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedgerSpec.scala
Labels: automerge

#1768 navigator: minor frontend fix
  navigator/frontend/src/ui-core/src/api/DamlLfValue.ts
Labels: automerge-after-rebase, component/navigator

#1757 Refactor handling of virtual resources
  daml-foundations/daml-tools/daml-extension/src/extension.ts
  docs/source/support/release-notes.rst
Labels: automerge

#1763 Refactor getAssociatedVirtualResources and remove error logging
  daml-foundations/daml-ghc/daml-compiler/src/DA/Service/Daml/Compiler/Impl/Handle.hs
  daml-foundations/daml-ghc/ide/src/Development/IDE/State/Rules/Daml.hs
Labels: automerge

#1770 Follow up with .gitattributes on #1762
  .gitattributes
Labels: automerge

#1765 Fix [x, y ..] and [x, y .. z] for x > y
  daml-foundations/daml-ghc/daml-prim-src/GHC/Enum.daml
  daml-foundations/daml-ghc/tests/Enum.daml
Labels: automerge

#1754 Clean up the daml-ghc tests a bit
  daml-foundations/daml-ghc/tests/Actions.daml
  daml-foundations/daml-ghc/tests/CustomOptional.daml
  daml-foundations/daml-ghc/tests/Examples.daml
  daml-foundations/daml-ghc/tests/IouOldDSL.daml
  daml-foundations/daml-ghc/tests/NoDamlVersion.daml
  daml-foundations/daml-ghc/tests/Precondition.daml
  daml-foundations/daml-ghc/tests/RationalPrecisionMax.daml
  daml-foundations/daml-ghc/tests/ScenarioReturningUpdate.daml
Labels: automerge

#1764 minor fix for scala typecheck
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/ValidationError.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/TypingSpec.scala
Labels: automerge-after-rebase, component/daml-lf

#1773 Update the state of the Windows SDK
  README.md
  docs/source/getting-started/installation.rst
Labels: automerge

#1775 Run a final sync in damlc test
  daml-foundations/daml-tools/da-hs-daml-cli/DA/Cli/Damlc/Test.hs
Labels: automerge

#1780 Run hlint sanity check on release directory
  fmt.sh
Labels: automerge

#1781 Upgrade protobuf
  3rdparty/dependencies.digest
  3rdparty/workspace.bzl
  WORKSPACE
  dependencies.yaml
  deps.bzl
  unreleased.rst
Labels: automerge

#1787 Use BadDependency consistently
  compiler/haskell-ide-core/src/Development/IDE/State/Rules.hs
  compiler/haskell-ide-core/src/Development/IDE/State/Shake.hs
  daml-foundations/daml-ghc/damldoc/BUILD.bazel
  daml-foundations/daml-ghc/damldoc/src/DA/Daml/GHC/Damldoc/HaddockParse.hs
  daml-foundations/daml-ghc/ide/BUILD.bazel
  daml-foundations/daml-ghc/ide/src/Development/IDE/State/Rules/Daml.hs
Labels: automerge

#1791 Add a note about reference equality making everything terrible
  daml-foundations/daml-tools/daml-extension/src/extension.ts
Labels: automerge

#1793 Clean up the Handle module
  compiler/haskell-ide-core/src/Development/IDE/State/Rules.hs
  daml-foundations/daml-ghc/daml-compiler/src/DA/Service/Daml/Compiler/Impl/Handle.hs
  daml-foundations/daml-ghc/ide/src/Development/IDE/State/Rules/Daml.hs
Labels: automerge

#1792 Additional tests for ledger api test tool
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/services/commands/CommandClient.scala
  ledger/ledger-api-integration-tests/BUILD.bazel
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/DivulgenceIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/commands/CommandTransactionChecksHighLevelIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/transaction/TransactionBackpressureIT.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/CommandTransactionChecks.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/LedgerApiTestTool.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/ToolReporter.scala
  ledger/sandbox/BUILD.bazel
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/SandboxIndexAndWriteService.scala
  unreleased.rst
Labels: component/dlik

#1526 Update roadmap now we're three months in
  docs/source/support/roadmap.rst
Labels: automerge

#1802 Remove the feedback widget as a valid source of support
  docs/source/support/support.rst
Labels: automerge

#1799 Move LSP stress tests to lsp-tests
  compiler/lsp-tests/src/Main.hs
  daml-foundations/daml-ghc/test-src/DA/Test/ShakeIdeClient.hs
Labels: automerge

#1801 Support goto definition on symbols in the module export list
  compiler/haskell-ide-core/src/Development/IDE/Functions/SpanInfo.hs
  daml-foundations/daml-ghc/test-src/DA/Test/ShakeIdeClient.hs
  unreleased.rst
Labels: automerge

#1803 [hs-ledger-bindings tests] Read the main dalf from the DAR manifest
  compiler/daml-lf-reader/BUILD.bazel
  compiler/daml-lf-reader/src/DA/Daml/LF/Reader.hs
  daml-foundations/daml-tools/da-hs-daml-cli/BUILD.bazel
  daml-foundations/daml-tools/da-hs-daml-cli/DA/Cli/Visual.hs
  language-support/hs/bindings/BUILD.bazel
  language-support/hs/bindings/test/DA/Ledger/Sandbox.hs
  language-support/hs/bindings/test/DA/Ledger/Tests.hs
Labels: automerge

#1795 Improve type docs
  daml-foundations/daml-ghc/daml-prim-src/GHC/Types.daml
  daml-foundations/daml-ghc/daml-stdlib-src/DA/Internal/LF.daml
  daml-foundations/daml-ghc/daml-stdlib-src/DA/Internal/Template.daml
Labels: automerge

#1808 Make release notes conform to new guidelines
  unreleased.rst
Labels: automerge

#1809 Rename haskell-ide-core to hie-core
  .hie-bios
  3rdparty/haskell/BUILD.ghc-lib-parser
  compiler/haskell-ide-core/.ghci
  compiler/haskell-ide-core/README.md
  compiler/haskell-ide-core/extension/.vscode/extensions.json
  compiler/haskell-ide-core/extension/.vscode/launch.json
  compiler/haskell-ide-core/extension/.vscode/settings.json
  compiler/haskell-ide-core/extension/.vscode/tasks.json
  compiler/hie-core/BUILD.bazel
  compiler/hie-core/README.md
  compiler/hie-core/extension/.gitignore
  compiler/hie-core/extension/.vscodeignore
  compiler/hie-core/extension/README.md
  compiler/hie-core/extension/package-lock.json
  compiler/hie-core/extension/package.json
  compiler/hie-core/extension/src/extension.ts
  compiler/hie-core/extension/tsconfig.json
  compiler/hie-core/extension/tslint.json
  compiler/hie-core/hie.cabal
  compiler/hie-core/src/Development/IDE/Compat.hs
  compiler/hie-core/src/Development/IDE/Functions/AtPoint.hs
  compiler/hie-core/src/Development/IDE/Functions/CPP.hs
  compiler/hie-core/src/Development/IDE/Functions/Compile.hs
  compiler/hie-core/src/Development/IDE/Functions/DependencyInformation.hs
  compiler/hie-core/src/Development/IDE/Functions/Documentation.hs
  compiler/hie-core/src/Development/IDE/Functions/FindImports.hs
  compiler/hie-core/src/Development/IDE/Functions/GHCError.hs
  compiler/hie-core/src/Development/IDE/Functions/SpanInfo.hs
  compiler/hie-core/src/Development/IDE/Functions/Warnings.hs
  compiler/hie-core/src/Development/IDE/LSP/Definition.hs
  compiler/hie-core/src/Development/IDE/LSP/Hover.hs
  compiler/hie-core/src/Development/IDE/LSP/LanguageServer.hs
  compiler/hie-core/src/Development/IDE/LSP/Protocol.hs
  compiler/hie-core/src/Development/IDE/LSP/Server.hs
  compiler/hie-core/src/Development/IDE/Logger.hs
  compiler/hie-core/src/Development/IDE/Orphans.hs
  compiler/hie-core/src/Development/IDE/State/FileStore.hs
  compiler/hie-core/src/Development/IDE/State/RuleTypes.hs
  compiler/hie-core/src/Development/IDE/State/Rules.hs
  compiler/hie-core/src/Development/IDE/State/Service.hs
  compiler/hie-core/src/Development/IDE/State/Shake.hs
  compiler/hie-core/src/Development/IDE/Types/Diagnostics.hs
  compiler/hie-core/src/Development/IDE/Types/LSP.hs
  compiler/hie-core/src/Development/IDE/Types/Location.hs
  compiler/hie-core/src/Development/IDE/Types/Options.hs
  compiler/hie-core/src/Development/IDE/Types/SpanInfo.hs
  compiler/hie-core/src/Development/IDE/UtilGHC.hs
  compiler/hie-core/stack.yaml
  compiler/hie-core/test/Demo.hs
  compiler/lsp-tests/BUILD.bazel
  daml-foundations/daml-ghc/BUILD.bazel
  daml-foundations/daml-ghc/daml-compiler/BUILD.bazel
  daml-foundations/daml-ghc/damldoc/BUILD.bazel
  daml-foundations/daml-ghc/ghc-compiler/BUILD.bazel
  daml-foundations/daml-ghc/ide/BUILD.bazel
  daml-foundations/daml-ghc/language-server/BUILD.bazel
  daml-foundations/daml-ghc/util.bzl
  daml-foundations/daml-tools/da-hs-daml-cli/BUILD.bazel
  rattle/Main.hs
Labels: automerge

#1769 daml-lf: encoder generates dar files
  daml-lf/encoder/BUILD.bazel
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/testing/archive/DamlLfEncoder.scala
  daml-lf/encoder/src/test/lf/since_1.0/Bool.lf
  daml-lf/encoder/src/test/lf/since_1.0/Date.lf
  daml-lf/encoder/src/test/lf/since_1.0/Decimal.lf
  daml-lf/encoder/src/test/lf/since_1.0/Int64.lf
  daml-lf/encoder/src/test/lf/since_1.0/List.lf
  daml-lf/encoder/src/test/lf/since_1.0/Party.lf
  daml-lf/encoder/src/test/lf/since_1.0/Record.lf
  daml-lf/encoder/src/test/lf/since_1.0/Text.lf
  daml-lf/encoder/src/test/lf/since_1.0/Timestamp.lf
  daml-lf/encoder/src/test/lf/since_1.0/Unit.lf
  daml-lf/encoder/src/test/lf/since_1.0/Variant.lf
  daml-lf/encoder/src/test/lf/since_1.1/Option.lf
  daml-lf/encoder/src/test/lf/since_1.3/Map.lf
  daml-lf/encoder/src/test/lf/since_1.dev/Enum.lf
  daml-lf/encoder/src/test/resource/Test.damllf
  daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/testing/archive/DamlLfAssemblerTest.scala
  daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/testing/archive/DamlLfEncoderTest.scala
Labels: automerge-after-rebase, component/daml-lf

#1811 build Docker image on cron
  azure-cron.yml
  release/RELEASE.md
Labels: automerge-after-rebase

#1816 Update Pipfile to python 3.7 for docs/scripts to avoid warnings
  docs/scripts/Pipfile
  docs/scripts/Pipfile.lock
Labels: automerge

#1813 Add fabric, corda, aurora to daml integration kit roadmap
  docs/source/daml-integration-kit/index.rst
Labels: automerge

#1815 Clean up hie-core
  .hlint.yaml
  compiler/hie-core/hie-core.cabal
  compiler/hie-core/src/Development/IDE/Functions/AtPoint.hs
  compiler/hie-core/src/Development/IDE/Functions/Compile.hs
  compiler/hie-core/src/Development/IDE/Functions/DependencyInformation.hs
  compiler/hie-core/src/Development/IDE/Functions/FindImports.hs
  compiler/hie-core/src/Development/IDE/Functions/GHCError.hs
  compiler/hie-core/src/Development/IDE/Functions/SpanInfo.hs
  compiler/hie-core/src/Development/IDE/LSP/Definition.hs
  compiler/hie-core/src/Development/IDE/LSP/Hover.hs
  compiler/hie-core/src/Development/IDE/LSP/LanguageServer.hs
  compiler/hie-core/src/Development/IDE/LSP/Protocol.hs
  compiler/hie-core/src/Development/IDE/Orphans.hs
  compiler/hie-core/src/Development/IDE/State/FileStore.hs
  compiler/hie-core/src/Development/IDE/State/RuleTypes.hs
  compiler/hie-core/src/Development/IDE/State/Rules.hs
  compiler/hie-core/src/Development/IDE/State/Service.hs
  compiler/hie-core/src/Development/IDE/State/Shake.hs
  compiler/hie-core/src/Development/IDE/Types/Diagnostics.hs
  compiler/hie-core/src/Development/IDE/Types/LSP.hs
  compiler/hie-core/src/Development/IDE/Types/Location.hs
  compiler/hie-core/src/Development/IDE/Types/Options.hs
  compiler/hie-core/src/Development/IDE/Types/SpanInfo.hs
  compiler/hie-core/src/Development/IDE/UtilGHC.hs
  compiler/hie-core/test/Demo.hs
  daml-foundations/daml-ghc/BUILD.bazel
  daml-foundations/daml-ghc/daml-compiler/src/DA/Service/Daml/Compiler/Impl/Dar.hs
  daml-foundations/daml-ghc/daml-compiler/src/DA/Service/Daml/Compiler/Impl/Handle.hs
  daml-foundations/daml-ghc/damldoc/src/DA/Daml/GHC/Damldoc/Driver.hs
  daml-foundations/daml-ghc/damldoc/src/DA/Daml/GHC/Damldoc/HaddockParse.hs
  daml-foundations/daml-ghc/damldoc/test/DA/Daml/GHC/Damldoc/Tests.hs
  daml-foundations/daml-ghc/ghc-compiler/src/DA/Daml/GHC/Compiler/Convert.hs
  daml-foundations/daml-ghc/ghc-compiler/src/DA/Daml/GHC/Compiler/Options.hs
  daml-foundations/daml-ghc/ide/src/Development/IDE/State/API.hs
  daml-foundations/daml-ghc/ide/src/Development/IDE/State/RuleTypes/Daml.hs
  daml-foundations/daml-ghc/ide/src/Development/IDE/State/Rules/Daml.hs
  daml-foundations/daml-ghc/ide/src/Development/IDE/State/Service/Daml.hs
  daml-foundations/daml-ghc/ide/test/Development/IDE/State/API/Testing.hs
  daml-foundations/daml-ghc/language-server/src/DA/Service/Daml/LanguageServer.hs
  daml-foundations/daml-ghc/language-server/src/DA/Service/Daml/LanguageServer/CodeLens.hs
  daml-foundations/daml-ghc/test-src/DA/Test/ShakeIdeClient.hs
  daml-foundations/daml-tools/da-hs-daml-cli/DA/Cli/Damlc.hs
  daml-foundations/daml-tools/da-hs-daml-cli/DA/Cli/Damlc/Command/Damldoc.hs
  daml-foundations/daml-tools/da-hs-daml-cli/DA/Cli/Damlc/Test.hs
  daml-foundations/daml-tools/da-hs-daml-cli/tests/DamlcTest.hs
Labels: automerge

#1660 terraform files for hoogle server
  infra/README.md
  infra/hoogle_server.tf
  infra/main.tf
Labels: automerge-after-rebase

#1820 fix docker repo name in cron
  azure-cron.yml
Labels: automerge-after-rebase

#1826 Using uniplate to reduce boilerplate code
  daml-foundations/daml-tools/da-hs-daml-cli/BUILD.bazel
  daml-foundations/daml-tools/da-hs-daml-cli/DA/Cli/Visual.hs
Labels: automerge

#1830 fix escaping in Docker existence check
  azure-cron.yml
Labels: automerge-after-rebase

#1827 Add additional step of building the hie-core extension
  compiler/hie-core/README.md
Labels: automerge

#1798 Add grpc-netty as dep for bindings-java. publish daml-lf-archive
  language-support/java/bindings/BUILD.bazel
  release/artifacts.yaml
  unreleased.rst
Labels: component/java-ecosystem

#1834 Fix cross package goto definition
  compiler/hie-core/src/Development/IDE/Core/Rules.hs
  compiler/hie-core/src/Development/IDE/GHC/Compat.hs
  daml-foundations/daml-ghc/test-src/DA/Test/ShakeIdeClient.hs
Labels: automerge

#1842 Only fix paths when running in a bazel environment.
  bazel_tools/runfiles/src/main/scala/com/digitalasset/daml/bazeltools/BazelRunfiles.scala
  unreleased.rst
Labels: automerge, component/dlik

#1843 Ledger API: scale all timeLimits in tests with ScaledTimeSpans
  docs/source/tools/ledger-api-test-tool/index.rst
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/platform/akkastreams/dispatcher/DispatcherSpec.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/platform/akkastreams/dispatcher/SignalDispatcherTest.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/ActiveContractsServiceIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/LedgerConfigurationServiceIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/PackageServiceIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/PartyManagementServiceIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/ResetServiceIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/SemanticLedgerConfigurationIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/TimeServiceDisabledIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/TimeServiceIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/TransactionServiceIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/TransactionServiceLargeCommandIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/commands/CommandStaticTimeIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/commands/CommandSubmissionServiceIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/transaction/TransactionBackpressureIT.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/tests/integration/ledger/api/identity/LedgerIdentityServiceITBase.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/Cli.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/LedgerApiTestTool.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/ImplicitPartyAdditionIT.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/TransactionMRTComplianceIT.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedgerSpec.scala
  ledger/test-common/src/main/scala/com.digitalasset.platform.testing/MultiFixtureBase.scala
Labels: automerge

#1846 Update codeowners for language-support/java
  CODEOWNERS
Labels: automerge

#1849 Fix docker path (again)
  azure-cron.yml
Labels: automerge

#1458 Add support for DAML_PROJECT in Navigator
  3rdparty/dependencies.digest
  3rdparty/jvm/io/circe/BUILD
  3rdparty/workspace.bzl
  daml-assistant/scala-daml-project-config/BUILD.bazel
  daml-assistant/scala-daml-project-config/README.md
  daml-assistant/scala-daml-project-config/src/main/scala/com/digitalasset/assistant/config/ProjectConfig.scala
  daml-assistant/scala-daml-project-config/src/test/scala/com/digitalasset/assistant/ProjectConfigSpec.scala
  dependencies.yaml
  navigator/backend/BUILD.bazel
  navigator/backend/src/main/scala/com/digitalasset/navigator/UIBackend.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/config/Arguments.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/config/Config.scala
  unreleased.rst
Labels: component/navigator

#1850 rebuild images if Dockerfile changes
  azure-cron.yml
  ci/docker/daml-sdk/Dockerfile
Labels: automerge-after-rebase

#1851 increasing default JMH timeout for manySmallContracts
  azure-pipelines.yml
  ledger/sandbox-perf/src/perf/benches/scala/com/digitalasset/platform/sandbox/perf/LargeTransactionBench.scala
  ledger/sandbox-perf/src/perf/lib/scala/com/digitalasset/platform/sandbox/perf/TestHelper.scala
Labels: automerge, component/ledger

#1844 Decode modules abstractely in scenario-service server
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Context.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/Decode.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
Labels: component/daml-lf

#1854 Release SDK 0.13.6
  VERSION
  docs/source/support/release-notes.rst
  unreleased.rst
Labels: automerge

#1855 fixing typo in Postgres config
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/persistence/PostgresAround.scala
Labels: automerge, component/ledger

#1856 Delete unused deps
  compiler/hie-core/BUILD.bazel
  compiler/hie-core/hie-core.cabal
  compiler/hie-core/src/Development/IDE/Core/Service.hs
  compiler/hie-core/src/Development/IDE/Core/Shake.hs
  compiler/hie-core/src/Development/IDE/GHC/Error.hs
  compiler/hie-core/src/Development/IDE/LSP/LanguageServer.hs
  compiler/hie-core/src/Development/IDE/Types/Diagnostics.hs
  compiler/hie-core/test/Demo.hs
  daml-foundations/daml-ghc/damldoc/src/DA/Daml/GHC/Damldoc/HaddockParse.hs
  daml-foundations/daml-ghc/ide/BUILD.bazel
  daml-foundations/daml-ghc/ide/src/Development/IDE/State/Rules/Daml.hs
  daml-foundations/daml-ghc/ide/src/Development/IDE/State/Service/Daml.hs
Labels: automerge

#1857 Exit from daml start if on-start command returns non-zero code.
  daml-assistant/daml-helper/src/DamlHelper/Run.hs
Labels: automerge

#1810 Rename none and some to optional_none and optional_some in DAML-LF
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/DecodeV1.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/EncodeV1.hs
  daml-lf/archive/da/daml_lf_1.proto
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/testing/archive/EncodeV1.scala
  unreleased.rst
Labels: automerge

#1824 Add support for DAML-LF's enum types to damlc
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Base.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Optics.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Pretty.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Recursive.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/DecodeV1.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/EncodeV1.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/Simplifier.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Check.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Error.hs
  compiler/scenario-service/client/src/DA/Daml/LF/PrettyScenario.hs
  daml-foundations/daml-ghc/ghc-compiler/src/DA/Daml/GHC/Compiler/Convert.hs
  daml-foundations/daml-ghc/ghc-compiler/src/DA/Daml/GHC/Compiler/UtilLF.hs
  daml-foundations/daml-ghc/tests/EnumLF.daml
Labels: automerge

#1862 Significantly alter the hie-core LanguageServer
  compiler/hie-core/hie-core.cabal
  compiler/hie-core/src/Development/IDE/LSP/Definition.hs
  compiler/hie-core/src/Development/IDE/LSP/Hover.hs
  compiler/hie-core/src/Development/IDE/LSP/LanguageServer.hs
  compiler/hie-core/src/Development/IDE/LSP/Notifications.hs
  compiler/hie-core/src/Development/IDE/LSP/Server.hs
  compiler/hie-core/test/Demo.hs
  daml-foundations/daml-ghc/language-server/src/DA/Service/Daml/LanguageServer.hs
Labels: automerge

#1871 Correct hie-core grammar
  compiler/hie-core/README.md
Labels: automerge

#1614 intern package IDs in LF
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Base.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Optics.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  compiler/daml-lf-proto/BUILD.bazel
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/DecodeV1.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/EncodeV1.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/Error.hs
  compiler/scenario-service/client/src/DA/Daml/LF/ScenarioServiceClient/LowLevel.hs
  daml-foundations/daml-ghc/tests/InternedExternalRefs.daml
  daml-lf/archive/BUILD.bazel
  daml-lf/archive/da/daml_lf_1.proto
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/archive/src/test/daml/DarReaderTest.daml
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV1Spec.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/UniversalArchiveReaderSpec.scala
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/reader/Errors.scala
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/reader/InterfaceReader.scala
  daml-lf/interface/src/test/scala/com/digitalasset/daml/lf/iface/reader/InterfaceReaderSpec.scala
  daml-lf/spec/daml-lf-1.rst
Labels: component/daml-lf

#1878 Fix release process
  daml-lf/archive/BUILD.bazel
  release/artifacts.yaml
  release/src/Main.hs
  release/src/Upload.hs
  release/src/Util.hs
Labels: automerge

#1648 java-codegen: Add support for enum types
  daml-lf/encoder/src/test/lf/since_1.dev/Enum.lf
  extractor/src/main/scala/com/digitalasset/extractor/writers/postgresql/Queries.scala
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/DamlEnum.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/Value.java
  language-support/java/codegen/BUILD.bazel
  language-support/java/codegen/src/it/daml/Lib.daml
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/ClassForType.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/EnumClass.scala
  language-support/java/codegen/src/test/java-1.dev/com/digitalasset/lf_1_dev/AllTests.java
  language-support/java/codegen/src/test/java-1.dev/com/digitalasset/lf_1_dev/EnumTest.java
Labels: automerge-after-rebase, component/daml-lf, component/java-ecosystem

#1891 Mark lsp-tests as flaky
  compiler/lsp-tests/BUILD.bazel
Labels: automerge

#1889 Fix CPP issue with default da-ghci
  bazel_tools/haskell.bzl
  build.sh
Labels: automerge

#1892 Refine, replace LF governors
  CODEOWNERS
  daml-lf/governance.rst
Labels: component/daml-lf

#1879 daml-lf: fix lf decoder
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
Labels: automerge-after-rebase, component/daml-lf

#1888 Drop support for DAML-LF 1.4 from damlc
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Check.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Serializability.hs
  daml-foundations/daml-ghc/daml-stdlib-src/DA/Internal/Template.daml
  daml-foundations/daml-ghc/daml-stdlib-src/DA/Text.daml
  daml-foundations/daml-ghc/ghc-compiler/src/DA/Daml/GHC/Compiler/Convert.hs
  daml-foundations/daml-ghc/ghc-compiler/src/DA/Daml/GHC/Compiler/Primitives.hs
  daml-foundations/daml-ghc/package-database/BUILD.bazel
  daml-foundations/daml-ghc/tests/ExerciseWithoutActors.daml
  unreleased.rst
Labels: automerge

#1896 Fix daml-assistant install script.
  release/install.sh
  release/windows-installer/src/WindowsInstaller.hs
Labels: automerge

#1322 Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: automerge

#1893 damlc: fix serializability of empty enum
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Serializability.hs
Labels: automerge-after-rebase

#1833 scala-codegen: add support for enum type
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Serializability.scala
  language-support/scala/bindings/src/main/scala/com/digitalasset/ledger/client/binding/binding/EnumCompanion.scala
  language-support/scala/bindings/src/main/scala/com/digitalasset/ledger/client/binding/binding/EnumRef.scala
  language-support/scala/bindings/src/main/scala/com/digitalasset/ledger/client/binding/binding/TemplateCompanion.scala
  language-support/scala/bindings/src/main/scala/com/digitalasset/ledger/client/binding/binding/Value.scala
  language-support/scala/bindings/src/main/scala/com/digitalasset/ledger/client/binding/binding/encoding/LfTypeEncoding.scala
  language-support/scala/codegen-sample-app/BUILD.bazel
  language-support/scala/codegen-sample-app/src/test/scala/com/digitalasset/codegen/DataTypeIT.scala
  language-support/scala/codegen-testing/src/main/scala/com/digitalasset/ledger/client/binding/encoding/EqualityEncoding.scala
  language-support/scala/codegen-testing/src/main/scala/com/digitalasset/ledger/client/binding/encoding/GenEncoding.scala
  language-support/scala/codegen-testing/src/main/scala/com/digitalasset/ledger/client/binding/encoding/ShowEncoding.scala
  language-support/scala/codegen-testing/src/main/scala/com/digitalasset/ledger/client/binding/encoding/ShrinkEncoding.scala
  language-support/scala/codegen-testing/src/test/scala/com/digitalasset/ledger/client/binding/encoding/LfTypeEncodingSpec.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/CodeGen.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/Util.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/lf/DamlContractTemplateGen.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/lf/DamlDataTypeGen.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/lf/HierarchicalOutput.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/lf/LFUtil.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/lf/UsedTypeParams.scala
  language-support/scala/docs/codegen/source/leo/CallablePayout.scala
Labels: automerge-after-rebase, component/daml-lf, component/scala-ecosystem

#1902 fix hoogle cron escaping
  infra/hoogle_server.tf
Labels: automerge-after-rebase

#1876 publish VSCode extension to marketplace on release
  azure-cron.yml
Labels: automerge-after-rebase

#1906 add authealing to hoogle cluster
  infra/hoogle_server.tf
Labels: automerge

#1908 Archives CLI args are not mandatory anymore
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/cli/Cli.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/cli/CliSpec.scala
  unreleased.rst
Labels: automerge, component/ledger

#1910 Exclude protobuf-lite from grpc-protobuf
  bazel_tools/pom_file.bzl
Labels: automerge
