Repository digital-asset/daml, pull requests merged in 2020-07, with the labels that each got.

#6555 Update maven_install.json in compatibility tests
  azure-pipelines.yml
  compatibility/maven_install.json
  compatibility/update-versions.sh
Labels: automerge

#6542 refactor speedy.Compiler.freeVars to be functional
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
Labels: automerge, component/daml-engine

#6559 Prepare snapshot release
  LATEST
Labels: Standard-Change

#6556 Trigger service: restart triggers in database on server startup
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Server.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/dao/DbTriggerDao.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceTest.scala
Labels: automerge

#6551 upgrade to Wartremover 2.4.9
  bazel-java-deps.bzl
  bazel_tools/scala.bzl
  compatibility/WORKSPACE
  compatibility/maven_install.json
  maven_install.json
Labels: automerge

#6563 Daml REPL - use data dependencies
  compiler/damlc/daml-opts/daml-opts-types/DA/Daml/Options/Packaging/Metadata.hs
  compiler/damlc/lib/DA/Cli/Damlc.hs
  compiler/damlc/tests/BUILD.bazel
  compiler/damlc/tests/ReplTest.daml
  compiler/damlc/tests/ReplTestIndirect.daml
  compiler/damlc/tests/src/DA/Test/Repl/FuncTests.hs
Labels: automerge

#6549 LF-Repl: log loading/compilation/validation time
  daml-lf/repl/BUILD.bazel
  daml-lf/repl/src/main/scala/com/digitalasset/daml/lf/repl/testing/Main.scala
  daml-lf/tests/scenario/test.sh
Labels: component/daml-engine

#6561 `CommitContext` records accessed input keys
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/CommitContext.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/CommitContextSpec.scala
Labels: automerge

#6570 make @silent annotations narrower
  daml-lf/transaction/BUILD.bazel
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/crypto/HashSpec.scala
  ledger-service/db-backend/src/main/scala/com/digitalasset/http/dbbackend/Queries.scala
  ledger/ledger-api-client/BUILD.bazel
  ledger/ledger-api-client/src/test/suite/scala/com/digitalasset/ledger/client/configuration/LedgerIdRequirementTest.scala
  ledger/ledger-api-common/BUILD.bazel
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/akkastreams/dispatcher/DispatcherImpl.scala
  ledger/participant-state/BUILD.bazel
  ledger/participant-state/kvutils/BUILD.bazel
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/api/LedgerWriter.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/WriteService.scala
Labels: automerge

#6564 Simplify and fix package id handling in daml-lf-verify
  compiler/daml-lf-verify/src/DA/Daml/LF/Verify/Context.hs
  compiler/daml-lf-verify/src/DA/Daml/LF/Verify/Generate.hs
  compiler/daml-lf-verify/src/DA/Daml/LF/Verify/Read.hs
  compiler/daml-lf-verify/src/DA/Daml/LF/Verify/Subst.hs
Labels: automerge

#6572 Delete unused concatEnv from daml-lf-verify
  compiler/daml-lf-verify/src/DA/Daml/LF/Verify/Context.hs
Labels: automerge

#6562 Unit tests for ANF transform
  daml-lf/interpreter/BUILD.bazel
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/AnfTest.scala
Labels: automerge

#6571 Distinguish witnesses and divulgences in scenario table view
  compiler/damlc/tests/src/DA/Test/ShakeIdeClient.hs
  compiler/scenario-service/client/src/DA/Daml/LF/PrettyScenario.hs
  compiler/scenario-service/protos/scenario_service.proto
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/scenario/ScenarioLedger.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
Labels: automerge

#6577 Split damlc integration tests per DAML-LF version
  BUILD
  compiler/damlc/README.md
  compiler/damlc/pkg-db/BUILD.bazel
  compiler/damlc/tests/BUILD.bazel
  compiler/damlc/tests/src/DA/Test/DamlcIntegration.hs
  compiler/damlc/tests/src/DA/Test/DamlcIntegrationMain.hs
  compiler/damlc/tests/util.bzl
  compiler/damlc/util.bzl
Labels: automerge

#6575 Avoid contention in create-daml-app tests
  compatibility/bazel_tools/create-daml-app/index.test.ts
  templates/create-daml-app-test-resources/index.test.ts
Labels: automerge

#6581 Remove the copyright header from the skeleton
  templates/BUILD.bazel
  templates/skeleton/NO_AUTO_COPYRIGHT
  templates/skeleton/daml/Main.daml
  templates/skeleton/daml/Setup.daml
Labels: automerge

#6578 Only ship disclosure information once in scenario service
  compiler/scenario-service/protos/scenario_service.proto
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/scenario/ScenarioLedger.scala
Labels: automerge

#6569 use daml-lf scalacopts for ledger-service
  ledger-service/db-backend/BUILD.bazel
  ledger-service/http-json/BUILD.bazel
  ledger-service/http-json/src/it/scala/http/AbstractHttpServiceIntegrationTest.scala
  ledger-service/http-json/src/it/scala/http/HttpServiceTestFixture.scala
  ledger-service/http-json/src/it/scala/http/WebsocketServiceIntegrationTest.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/CommandService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsFetch.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/EndpointsCompanion.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/PartiesService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebsocketEndpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/query/ValuePredicate.scala
  ledger-service/jwt/BUILD.bazel
  ledger-service/jwt/src/main/scala/com/digitalasset/jwt/JwtGenerator.scala
  ledger-service/jwt/src/main/scala/com/digitalasset/jwt/KeyUtils.scala
  ledger-service/jwt/src/main/scala/com/digitalasset/jwt/Main.scala
  ledger-service/lf-value-json/BUILD.bazel
  ledger-service/lf-value-json/src/main/scala/com/digitalasset/daml/lf/value/json/ApiValueImplicits.scala
  ledger-service/utils/BUILD.bazel
Labels: automerge, component/json-api

#6579 Speedy: make thing a bit more private
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/AExpr.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Anf.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Classify.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/PrettyLightweight.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/scenario-interpreter/BUILD.bazel
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ScenarioRunner.scala
  ledger/sandbox/BUILD.bazel
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/ScenarioLoader.scala
Labels: component/daml-engine

#6580 update versions bbased on git tags
  compatibility/update-versions.sh
  compatibility/versions/BUILD
  compatibility/versions/UpdateVersions.hs
Labels: automerge

#6586 Remove dead code in speedy execution engine
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Classify.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/PrettyLightweight.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
Labels: automerge, component/daml-engine

#6604 Reset windows cache
  build.ps1
  ci/configure-bazel.sh
  compatibility/build-release-artifacts-windows.ps1
  compatibility/test-windows.ps1
Labels: automerge

#6605 remove clean --expunge from Windows builds
  build.ps1
  compatibility/build-release-artifacts-windows.ps1
  compatibility/test-windows.ps1
Labels: automerge

#6607 Add test for divulgence with keys
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/DivulgenceIT.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/ContractsTable.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoContractsSpec.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoDivulgenceSpec.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoSuite.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoH2DatabaseSpec.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoPostgresqlSpec.scala
  ledger/test-common/src/main/daml/model/Test.daml
Labels: automerge

#6603 Do not expose log entry ID to committers
  ledger/participant-state/kvutils/src/main/protobuf/daml_kvutils.proto
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/Conversions.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/KeyValueCommitting.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/CommitContext.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/Committer.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/TransactionCommitter.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/KVTest.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/CommitContextSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/FakeCommitContext.scala
Labels: automerge

#6610 DAML-LF: cleanup TransactionBuilder
  daml-lf/transaction-test-lib/src/main/scala/lf/transaction/test/TransactionBuilder.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/ParticipantStateIntegrationSpecBase.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/ProjectionsSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/api/KeyValueParticipantStateWriterSpec.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoDivulgenceSpec.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoSuite.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/apiserver/execution/StoreBackedCommandExecutorSpec.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/TransactionTimeModelComplianceIT.scala
Labels: component/daml-lf

#6614 kvutils/integrity-check: Rewrite without `Await`.
  ledger/participant-state/kvutils/tools/BUILD.bazel
  ledger/participant-state/kvutils/tools/src/main/scala/com/daml/ledger/participant/state/kvutils/tools/IntegrityCheckV2.scala
  ledger/participant-state/kvutils/tools/src/main/scala/com/daml/ledger/participant/state/kvutils/tools/IntegrityChecker.scala
Labels: automerge

#6608 Add test for divulgence with keys (#6607)
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/Divulgence.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/ContractsTable.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoContractsSpec.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoDivulgenceSpec.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoSuite.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoH2DatabaseSpec.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoPostgresqlSpec.scala
  ledger/test-common/src/main/daml/Test.daml
Labels: automerge

#6616 Release a hotfix snapshot
  LATEST
Labels: Standard-Change, automerge

#6620 Only publish JSON API to GH releases
  azure-pipelines.yml
Labels: automerge

#6622 Fix project versions of DAML Script and DAML Triggers
  daml-script/daml/BUILD.bazel
  triggers/daml/BUILD.bazel
Labels: automerge

#6619 kvutils/integrity-check: Clean up code around printing.
  ledger/participant-state/kvutils/tools/src/main/scala/com/daml/ledger/participant/state/kvutils/tools/Color.scala
  ledger/participant-state/kvutils/tools/src/main/scala/com/daml/ledger/participant/state/kvutils/tools/IntegrityCheckV2.scala
  ledger/participant-state/kvutils/tools/src/main/scala/com/daml/ledger/participant/state/kvutils/tools/IntegrityChecker.scala
  ledger/participant-state/kvutils/tools/src/main/scala/com/daml/ledger/participant/state/kvutils/tools/package.scala
Labels: automerge

#6625 Bazel: Upgrade Buildifier.
  bazel_tools/dev_env_tool/dev_env_tool.bzl
  bazel_tools/pkg.bzl
  bazel_tools/proto.bzl
  compiler/daml-extension/BUILD.bazel
  compiler/damlc/BUILD.bazel
  compiler/damlc/pkg-db/util.bzl
  daml-assistant/integration-tests/BUILD.bazel
  deps.bzl
  docs/BUILD.bazel
  language-support/ts/typedoc.bzl
  ledger/ledger-api-test-tool-on-canton/BUILD.bazel
  ledger/sandbox/BUILD.bazel
  navigator/frontend/BUILD.bazel
  release/util.bzl
  templates/BUILD.bazel
Labels: automerge

#6624 Trigger service: increase timeout for db restart test
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceTest.scala
Labels: automerge

#6627 Renamed some `default` variables
  ledger/ledger-on-memory/src/app/scala/com/daml/ledger/on/memory/ExtraConfig.scala
  ledger/ledger-on-memory/src/app/scala/com/daml/ledger/on/memory/Main.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Config.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/batch/BatchedSubmissionValidatorFactory.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/batch/BatchedSubmissionValidatorParameters.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/batch/BatchedSubmissionValidatorSpec.scala
  ledger/participant-state/kvutils/tools/src/main/scala/com/daml/ledger/participant/state/kvutils/tools/IntegrityChecker.scala
Labels: automerge

#6629 Fix port handling in DAML Script over JSON API
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
Labels: automerge

#6623 Release 1.3.0 snapshot
  LATEST
Labels: Standard-Change, automerge

#6600 Update rules_haskell
  compiler/damlc/lib/DA/Cli/Damlc.hs
  compiler/damlc/tests/util.bzl
  daml-assistant/daml-helper/BUILD.bazel
  daml-assistant/daml-helper/src/DA/Daml/Helper/Main.hs
  deps.bzl
  language-support/ts/codegen/BUILD.bazel
  language-support/ts/codegen/src/TsCodeGenMain.hs
  libs-haskell/bazel-runfiles/BUILD.bazel
  libs-haskell/bazel-runfiles/src/DA/Bazel/Runfiles.hs
Labels: automerge

#6594 replace traverseU and sequenceU with traverse and sequence
  daml-lf/data/src/test/scala/com/digitalasset/daml/lf/data/ImmArrayTest.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/reader/Errors.scala
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/reader/InterfaceReader.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionCoder.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/LedgerInteraction.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
  extractor/src/main/scala/com/digitalasset/extractor/ledger/types/LedgerValue.scala
  extractor/src/main/scala/com/digitalasset/extractor/ledger/types/RecordField.scala
  extractor/src/main/scala/com/digitalasset/extractor/ledger/types/TransactionTree.scala
  extractor/src/main/scala/com/digitalasset/extractor/writers/PostgreSQLWriter.scala
  extractor/src/test/suite/scala/com/digitalasset/extractor/BasicPrimitiveTypesSpec.scala
  extractor/src/test/suite/scala/com/digitalasset/extractor/EnumSpec.scala
  extractor/src/test/suite/scala/com/digitalasset/extractor/GenMapSpec.scala
  extractor/src/test/suite/scala/com/digitalasset/extractor/ListsSpec.scala
  extractor/src/test/suite/scala/com/digitalasset/extractor/OptionalSpec.scala
  extractor/src/test/suite/scala/com/digitalasset/extractor/RecordsAndVariantsSpec.scala
  extractor/src/test/suite/scala/com/digitalasset/extractor/TextMapsSpec.scala
  language-support/scala/bindings-akka/src/main/scala/com/digitalasset/ledger/client/binding/DomainTransactionMapper.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/CodeGen.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/types/Namespace.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
  ledger-service/utils/src/main/scala/com/digitalasset/ledger/service/LedgerReader.scala
  ledger-service/utils/src/main/scala/com/digitalasset/ledger/service/MetadataReader.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/ledger/api/validation/TransactionFilterValidator.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/KVTest.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/packages/InMemoryPackageStore.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/model/converter/LedgerApiV1.scala
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Converter.scala
Labels: automerge

#6638 Return the ledger beginning as the ledger end on an empty ledger
  ledger/sandbox/src/main/scala/com/digitalasset/platform/ApiOffset.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/LedgerBackedIndexService.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/services/completion/EmptyLedgerIT.scala
Labels: automerge

#6642 Kill stale sandbox processes on macos and linux
  build.sh
  compatibility/test.sh
Labels: automerge

#6464 Replay transaction
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  ledger/participant-state/kvutils/tools/BUILD.bazel
  ledger/participant-state/kvutils/tools/src/test/scala/com/daml/Replay.scala
Labels: component/daml-engine

#6647 CI: Increase the PostgreSQL connections from 100 to 200.
  ci/postgresql.conf
Labels: automerge

#6650 Lock down lodash version
  compatibility/bazel_tools/create-daml-app/Main.hs
  language-support/ts/codegen/tests/src/DA/Test/Daml2jsUtils.hs
Labels: automerge

#6649 Bump test_sha in perf tests
  ci/cron/perf/test_sha
Labels: automerge

#6646 sandbox: Accept a new time model when none is set.
  ledger/sandbox-perf/src/perf/benches/scala/com/digitalasset/platform/sandbox/perf/AcsBench.scala
  ledger/sandbox-perf/src/perf/lib/scala/com/digitalasset/platform/sandbox/perf/DummyCommands.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/admin/ApiConfigManagementService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/configuration/LedgerConfiguration.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/services/TestCommands.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/services/TimeModelHelpers.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/services/completion/CompletionServiceWithEmptyLedgerIT.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/services/completion/EmptyLedgerIT.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/services/configuration/ConfigurationServiceWithEmptyLedgerIT.scala
Labels: automerge

#6648 Fix leakage of SDK installations
  libs-haskell/test-utils/DA/Test/Util.hs
Labels: automerge

#6652 Release yet another snapshot
  LATEST
Labels: Standard-Change, automerge

#6656 Load multiple DARs into DAML REPL
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Repl.hs
  compiler/damlc/lib/DA/Cli/Damlc.hs
  compiler/damlc/tests/BUILD.bazel
  compiler/damlc/tests/ReplTest2.daml
  compiler/damlc/tests/src/DA/Test/Repl/FuncTests.hs
Labels: automerge

#6664 Engine: bug fix for transaction validation
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Node.scala
Labels: component/daml-engine

#6669 Set YARN_CACHE_FOLDER in all tests
  compatibility/bazel_tools/create-daml-app/Main.hs
  daml-assistant/integration-tests/src/DA/Daml/Assistant/CreateDamlAppTests.hs
  language-support/ts/codegen/tests/build-and-lint.sh
  language-support/ts/codegen/tests/src/DA/Test/Daml2js.hs
Labels: automerge

#6666 Improve contribution guidelines
  CONTRIBUTING.md
Labels: automerge

#6651 Ledger API Test Tool: deprecate unneeded tests and options
  docs/source/tools/ledger-api-test-tool/index.rst
  ledger/ledger-api-test-tool/BUILD.bazel
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/Cli.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/Config.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/LedgerApiTestTool.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/Tests.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerSessionConfiguration.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerTestCase.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerTestCasesRunner.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerTestSuite.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/Reporter.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/Result.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/ConfigManagementServiceIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/LotsOfPartiesIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/TransactionScaleIT.scala
  ledger/ledger-on-memory/BUILD.bazel
  ledger/ledger-on-sql/BUILD.bazel
  ledger/sandbox/BUILD.bazel
Labels: automerge

#6660 support Scala-typed exercise-by-key in Scala codegen
  language-support/scala/bindings/src/main/scala/com/digitalasset/ledger/client/binding/binding/Primitive.scala
  language-support/scala/bindings/src/main/scala/com/digitalasset/ledger/client/binding/binding/Template.scala
  language-support/scala/bindings/src/main/scala/com/digitalasset/ledger/client/binding/binding/TemplateCompanion.scala
  language-support/scala/bindings/src/main/scala/com/digitalasset/ledger/client/binding/binding/encoding/ExerciseOn.scala
  language-support/scala/codegen-sample-app/src/main/daml/MyMain.daml
  language-support/scala/codegen-sample-app/src/test/scala/com/digitalasset/codegen/GeneratedCommandsUT.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/lf/DamlContractTemplateGen.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/lf/LFUtil.scala
Labels: component/scala-ecosystem

#6670 Reduce the number of runfiles in the compatibility tests
  bazel_tools/dev_env_tool/dev_env_tool.bzl
  compatibility/bazel_tools/daml_sdk.bzl
Labels: automerge

#6657 Generate JS + typings to speed up dam2js
  language-support/ts/codegen/src/TsCodeGenMain.hs
  language-support/ts/codegen/tests/BUILD.bazel
  language-support/ts/codegen/tests/src/DA/Test/Daml2js.hs
Labels: automerge

#6689 Bump timeouts in compat tests
  azure-pipelines.yml
  ci/cron/daily-compat.yml
Labels: automerge

#6693 Remove unused with-packages-wrapper
  WORKSPACE
  compatibility/WORKSPACE
  nix/ghc.nix
  nix/with-packages-wrapper.nix
Labels: automerge

#6672 Populate deduplicateUntil in DamlOutOfTimeBoundsLogEntry by Committers
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/CommitContext.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/Committer.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/TransactionCommitter.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/CommitterSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/TransactionCommitterSpec.scala
Labels: automerge

#6696 include contract keys in the Scala codegen output plan when using --root
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/DefDataType.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/dependencygraph/DependencyGraph.scala
  language-support/scala/codegen/src/test/scala/com/digitalasset/codegen/lf/LFUtilSpec.scala
Labels: component/scala-ecosystem

#6697 Bump migration timeout in compat tests
  compatibility/BUILD
Labels: automerge

#6703 Reduce dependencies of live-preview script
  docs/BUILD.bazel
  docs/scripts/live-preview.sh
  templates/BUILD.bazel
Labels: automerge

#6710 Support an empty list of DARs in DAML REPL
  compiler/damlc/lib/DA/Cli/Damlc.hs
  compiler/damlc/tests/src/DA/Test/Repl.hs
Labels: automerge

#6671 Add KVUtils pre-execution round-trip test
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/KVTest.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/KVUtilsConfigSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/KVUtilsPackageSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/KVUtilsPartySpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/KVUtilsTransactionSpec.scala
Labels: automerge

#6707 DAML REPL - Explicit package imports
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Repl.hs
  compiler/damlc/lib/DA/Cli/Damlc.hs
  compiler/damlc/tests/BUILD.bazel
  compiler/damlc/tests/src/DA/Test/Repl.hs
  compiler/damlc/tests/src/DA/Test/Repl/FuncTests.hs
Labels: automerge

#6714 DAMLLF: clean up Transaction definitions
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Blinding.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/Preprocessor.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/TransactionPreprocessor.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/InMemoryPrivateLedgerData.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/LargeTransactionTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/ledger/EnrichedTransaction.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/scenario/ScenarioLedger.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SError.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/transaction-test-lib/src/main/scala/lf/transaction/test/TransactionBuilder.scala
  daml-lf/transaction-test-lib/src/main/scala/lf/value/test/ValueGenerators.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/ledger/EventId.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/ledger/package.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/BlindingInfo.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Node.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionCoder.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionVersion.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/Value.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionCoderSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionVersionSpec.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/participant/util/LfEngineToApi.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/Projections.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/TransactionCommitter.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/ProjectionsSpec.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/TransactionMeta.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/package.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/TransactionConversion.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/InMemoryActiveLedgerState.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/Ledger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/TransactionCommitter.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/ActiveLedgerStateManager.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/Contract.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/package.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/entries/LedgerEntry.scala
  ledger/sandbox/src/main/scala/db/migration/postgres/v25_backfill_participant_events/package.scala
  ledger/sandbox/src/main/scala/db/migration/postgres/v29_fix_participant_events/package.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoSuite.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoTransactionTreesSpec.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoTransactionsSpec.scala
Labels: component/daml-lf

#6723 fix the the typo
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
  compiler/damlc/lib/DA/Cli/Damlc.hs
  compiler/repl-service/server/src/main/scala/com/digitalasset/daml/lf/ReplServiceMain.scala
  daml-assistant/daml-helper/src/DA/Daml/Helper/Main.hs
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/ImmArray.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/RunnerConfig.scala
  docs/source/concepts/ledger-model/ledger-structure.rst
  docs/source/daml/intro/6_Parties.rst
  docs/source/json-api/index.rst
  docs/source/tools/extractor.rst
  language-support/ts/daml-ledger/README.md
  ledger-api/grpc-definitions/com/daml/ledger/api/v1/admin/party_management_service.proto
  ledger-service/cli-opts/src/main/scala/ledger/api/tls/TlsConfigurationCli.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/Cli.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Config.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/ReadService.scala
  ledger/sandbox/README.md
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/cli/Cli.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/config/Arguments.scala
  navigator/frontend/src/ui-core/src/api/DamlLfType.ts
  release/src/Upload.hs
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/RunnerConfig.scala
Labels: automerge

#6729 Fix typing of nested decoders in daml2js
  language-support/ts/codegen/src/TsCodeGenMain.hs
  language-support/ts/codegen/tests/build-and-lint.sh
Labels: automerge

#6730 Backport #6712: Fix for event_offset to event_sequential_id conversion
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/JdbcLedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/EventsRange.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/TransactionsReader.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoTransactionsSpec.scala
Labels: automerge

#6732 Revert "refactor ci jobs: add setvar to ci/lib.sh (#6708)"
  azure-pipelines.yml
  ci/build-unix.yml
  ci/build-windows.yml
  ci/lib.sh
  ci/report-end.yml
  ci/report-start.yml
Labels: automerge

#6731 Release RC 2 for SDK 1.3.0
  LATEST
Labels: Standard-Change, automerge

#6711 [kvutils] Pre-executing submission validator
  ledger/ledger-on-memory/src/main/scala/com/daml/ledger/on/memory/InMemoryLedgerReaderWriter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/KeyValueCommitting.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/Committer.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/RawToDamlLedgerStateReaderAdapter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/batch/BatchedSubmissionValidator.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/caching/CachingDamlLedgerStateReaderWithFingerprints.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/LedgerStateReaderWithFingerprints.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/LogAppenderPreExecutingCommitStrategy.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/PreExecutingCommitStrategy.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/PreExecutingSubmissionValidator.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/PreExecutionOutput.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/RawToDamlLedgerStateReaderWithFingerprintsAdapter.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/KVTest.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/CommitterSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/caching/CachingDamlLedgerStateReaderSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/caching/CachingDamlLedgerStateReaderWithFingerprintsSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/preexecution/LogAppenderPreExecutingCommitStrategySpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/preexecution/PreExecutingSubmissionValidatorSpec.scala
  ledger/participant-state/kvutils/tools/src/main/scala/com/daml/ledger/participant/state/kvutils/tools/IntegrityChecker.scala
Labels: automerge

#6738 [kvutils] Added initial set of metrics for pre-execution
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/PreExecutingSubmissionValidator.scala
Labels: automerge

#6740 Stabilize DAML REPL
  docs/configs/pdf/index.rst
  docs/source/daml-repl/index.rst
  docs/source/index.rst
  release/sdk-config.yaml.tmpl
Labels: automerge

#6741 Release 1.4.0 snapshot
  LATEST
Labels: Standard-Change

#6661 Replay benchmark: adapt dar to ledger export
  ledger/participant-state/kvutils/tools/BUILD.bazel
  ledger/participant-state/kvutils/tools/README.md
  ledger/participant-state/kvutils/tools/src/test/scala/com/daml/ledger/participant/state/kvutils/test/Adapter.scala
  ledger/participant-state/kvutils/tools/src/test/scala/com/daml/ledger/participant/state/kvutils/test/Replay.scala
Labels: component/daml-engine

#6739 DAML-LF: move some type definitions out of Transaction object
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/ledger/EnrichedTransaction.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/scenario/ScenarioLedger.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SResult.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ScenarioRunner.scala
  daml-lf/transaction-test-lib/src/main/scala/lf/transaction/test/TransactionBuilder.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/DiscriminatedSubtype.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/package.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/Value.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/KeyValueConsumption.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/TransactionCommitter.scala
  ledger/participant-state/kvutils/tools/src/test/scala/com/daml/ledger/participant/state/kvutils/test/Adapter.scala
  ledger/participant-state/kvutils/tools/src/test/scala/com/daml/ledger/participant/state/kvutils/test/Replay.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/package.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/execution/CommandExecutionResult.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/ApiSubmissionService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/TransactionConversion.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/InMemoryActiveLedgerState.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/TransactionCommitter.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/ActiveLedgerStateManager.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/entries/LedgerEntry.scala
  ledger/sandbox/src/main/scala/db/migration/translation/TransactionSerializer.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoSuite.scala
Labels: component/daml-engine

#6752 DAML-LF: add templateId method to GenNode
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Node.scala
Labels: component/daml-engine

#6662 Document Sandbox metrics
  docs/source/tools/sandbox.rst
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/TimedIndexService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/cli/Cli.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/apiserver/execution/StoreBackedCommandExecutorSpec.scala
Labels: automerge

#6753 Release SDK 1.3.0
  LATEST
  docs/source/support/release-notes.rst
Labels: Standard-Change

#6743 remove dade-base-profile
  dev-env/README.md
  dev-env/lib/dade-base-profile
Labels: automerge

#6755 run tests on auto-compat pr
  azure-pipelines.yml
Labels: automerge

#6751 Additional stream pagination integration tests
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoBackend.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoPostCommitValidationSpec.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoTransactionsSpec.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/store/dao/events/EventsRangeSpec.scala
Labels: automerge

#6759 ignoring a flaky test
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoTransactionsSpec.scala
Labels: automerge

#6745 Update ghcide 0.1.0 --> 0.2.0
  bazel-haskell-deps.bzl
  bazel_tools/haskell-strict-source-names.patch
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/DataDependencies.hs
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Repl.hs
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Extract.hs
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Transform/Annotations.hs
  compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
  compiler/damlc/daml-ide/src/DA/Daml/LanguageServer.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
  compiler/damlc/daml-rule-types/src/Development/IDE/Core/RuleTypes/Daml.hs
  compiler/damlc/lib/DA/Cli/Damlc.hs
  deps.bzl
  dev-env/bin/ghcide
  ghcide-snapshot.yaml
  ghcide_snapshot.json
  libs-haskell/da-hs-base/src/DA/Pretty.hs
Labels: automerge

#6747 DAML-LF: compute the latest version of LF used by a package
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ConcurrentCompiledPackages.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/MutableCompiledPackages.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/CompiledPackageSpec.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/CompiledPackages.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Graphs.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
Labels: component/daml-engine

#6721 Allow running StandaloneApiServer in read-only mode.
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/common/LedgerIdNotFoundException.scala
  ledger/ledger-on-memory/src/app/scala/com/daml/ledger/on/memory/Main.scala
  ledger/ledger-on-memory/src/main/scala/com/daml/ledger/on/memory/InMemoryLedgerReaderWriter.scala
  ledger/ledger-on-memory/src/test/suite/scala/com/daml/ledger/on/memory/InMemoryLedgerReaderWriterIntegrationSpec.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/SqlLedgerReaderWriter.scala
  ledger/ledger-on-sql/src/test/lib/scala/com/daml/ledger/on/sql/SqlLedgerReaderWriterIntegrationSpecBase.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Config.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Runner.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/ParticipantStateIntegrationSpecBase.scala
  ledger/recovering-indexer-integration-tests/src/test/suite/scala/com/digitalasset/platform/indexer/RecoveringIndexerIntegrationSpec.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/ApiServices.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/StandaloneApiServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/LedgerConfigProvider.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/JdbcIndex.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/LedgerBackedIndexService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/ReadOnlySqlLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/SandboxIndexAndWriteService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandboxnext/Runner.scala
Labels: component/dlik, component/ledger

#6771 Undo lodash hack
  compatibility/bazel_tools/create-daml-app/Main.hs
  language-support/ts/codegen/tests/src/DA/Test/Daml2jsUtils.hs
Labels: automerge

#6773 Remove documentation to use Navigator using old assistant
  docs/source/tools/navigator/index.rst
Labels: automerge

#6783 remove clean --expunge
  build.ps1
  compatibility/build-release-artifacts-windows.ps1
  compatibility/test-windows.ps1
Labels: automerge

#6782 Ledger API: Only set the offset in the last ACS response
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/EventsTable.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoActiveContractsSpec.scala
Labels: component/dlik, component/ledger

#6786 check NodeFetch value_version on decode
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionCoder.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionCoderSpec.scala
Labels: component/daml-lf

#6768 Trigger service: Introduce auth service client and test fixture
  WORKSPACE
  triggers/service/BUILD.bazel
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/AuthServiceClient.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Server.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/TokenManagement.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/auth/client/AuthServiceClientTest.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/auth/client/AuthServiceFixture.scala
Labels: automerge

#6781 Engine: add maintainers to contract key call back
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Result.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ContractDiscriminatorFreshnessCheckSpec.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SResult.scala
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ScenarioRunner.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Node.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/execution/StoreBackedCommandExecutor.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/TransactionCommitter.scala
  ledger/participant-state/kvutils/tools/src/test/scala/com/daml/ledger/participant/state/kvutils/test/Replay.scala
Labels: component/daml-engine, don't merge!

#6784 LF: unset the field NodeFecth#value_version in transaction.proto
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionCoder.scala
Labels: component/daml-lf

#6797 Bump timeouts in trigger auth service tests
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/auth/client/AuthServiceFixture.scala
Labels: automerge

#6785 LF: clean TransactionCoder
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionCoder.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/ValueCoder.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/value/ValueCoderSpec.scala
Labels: component/daml-engine

#6795 LF: Move GlobalKey and GlobalKeyWithMaintainers outside Node
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Result.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ContractDiscriminatorFreshnessCheckSpec.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/scenario/ScenarioLedger.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SError.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SResult.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ScenarioRunner.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/GlobalKey.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Node.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/store/serialization/KeyHasher.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/platform/store/serialization/KeyHasherSpec.scala
  ledger/participant-integration-api/src/main/scala/db/migration/postgres/V2_1__Rebuild_Acs.scala
  ledger/participant-integration-api/src/main/scala/db/migration/postgres/V32_1__Fix_key_hashes.scala
  ledger/participant-integration-api/src/main/scala/db/migration/postgres/V3__Recompute_Key_Hash.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/TimedIndexService.scala
  ledger/participant-integration-api/src/main/scala/platform/index/LedgerBackedIndexService.scala
  ledger/participant-integration-api/src/main/scala/platform/index/MeteredReadOnlyLedger.scala
  ledger/participant-integration-api/src/main/scala/platform/store/ActiveLedgerState.scala
  ledger/participant-integration-api/src/main/scala/platform/store/ActiveLedgerStateManager.scala
  ledger/participant-integration-api/src/main/scala/platform/store/BaseLedger.scala
  ledger/participant-integration-api/src/main/scala/platform/store/ReadOnlyLedger.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/JdbcLedgerDao.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/LedgerDao.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/MeteredLedgerDao.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/package.scala
  ledger/participant-state-index/src/main/scala/com/daml/ledger/participant/state/index/v2/ContractStore.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/Conversions.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/InputsAndEffects.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/KeyValueCommitting.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/TransactionCommitter.scala
  ledger/participant-state/kvutils/tools/src/test/scala/com/daml/ledger/participant/state/kvutils/test/Adapter.scala
  ledger/participant-state/kvutils/tools/src/test/scala/com/daml/ledger/participant/state/kvutils/test/Replay.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/InMemoryActiveLedgerState.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/inmemory/InMemoryLedger.scala
Labels: component/daml-engine, component/daml-lf

#6799 Print results in DAML REPL and support pure expressions
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Output.hs
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Repl.hs
  compiler/damlc/lib/DA/Cli/Damlc.hs
  compiler/damlc/lib/DA/Cli/Damlc/Base.hs
  compiler/damlc/lib/DA/Cli/Damlc/Command/Damldoc.hs
  compiler/damlc/tests/src/DA/Test/Repl/FuncTests.hs
  compiler/repl-service/client/src/DA/Daml/LF/ReplClient.hs
  compiler/repl-service/protos/repl_service.proto
  compiler/repl-service/server/src/main/scala/com/digitalasset/daml/lf/ReplServiceMain.scala
  docs/source/daml-repl/index.rst
Labels: automerge

#6812 Remove outdated roadmap from the docs
  docs/source/support/roadmap.rst
Labels: automerge

#6810 sandbox-classic: Move the configuration from sandbox-common.
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/TestMain.scala
  language-support/java/codegen/src/ledger-tests/scala/com/digitalasset/TestUtil.scala
  ledger-service/http-json/src/it/scala/http/HttpServiceTestFixture.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/SandboxMain.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/SandboxServer.scala
  ledger/sandbox-classic/src/test/lib/scala/platform/sandbox/services/SandboxFixture.scala
  ledger/sandbox-common/src/main/scala/platform/sandbox/cli/Cli.scala
  ledger/sandbox-common/src/main/scala/platform/sandbox/config/SandboxConfig.scala
  ledger/sandbox-common/src/test/lib/scala/platform/sandbox/AbstractSandboxFixture.scala
  ledger/sandbox-common/src/test/suite/scala/platform/sandbox/cli/CliSpec.scala
  ledger/sandbox-perf/src/perf/lib/scala/com/digitalasset/platform/sandbox/perf/LedgerFactories.scala
  ledger/sandbox/src/main/scala/platform/sandboxnext/Main.scala
  ledger/sandbox/src/test/lib/scala/platform/sandboxnext/SandboxNextFixture.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceFixture.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/auth/client/AuthServiceFixture.scala
Labels: automerge

#6756 DAML-LF: Simplify inference of output transaction/value version.
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Context.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineInfoTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/repl/src/main/scala/com/digitalasset/daml/lf/repl/testing/Main.scala
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ScenarioRunner.scala
  daml-lf/scenario-interpreter/src/perf/benches/scala/com/digitalasset/daml/lf/speedy/perf/CollectAuthority.scala
  daml-lf/scenario-interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ScenarioRunnerTest.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionVersion.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/VersionTimeline.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionVersionSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/VersionTimelineSpec.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/ScenarioLoader.scala
Labels: component/daml-engine

#6814 Limit JVM memory in a few tests
  compiler/damlc/tests/src/DA/Test/Repl.hs
  compiler/damlc/tests/src/DA/Test/Repl/FuncTests.hs
  daml-assistant/integration-tests/src/DA/Daml/Assistant/CreateDamlAppTests.hs
  daml-assistant/integration-tests/src/DA/Daml/Assistant/IntegrationTests.hs
  libs-haskell/test-utils/DA/Test/Util.hs
Labels: automerge

#6598 Draft of new operational semantics.
  compiler/damlc/tests/daml-test-files/EvaluationOrder.daml
  compiler/damlc/tests/daml-test-files/RecordUpdateEvalOrder.daml
  compiler/damlc/tests/daml-test-files/SemanticsEvalOrder.daml
  compiler/damlc/tests/daml-test-files/SemanticsValue.daml
  compiler/damlc/tests/daml-test-files/SemanticsValueSince17.daml
  daml-lf/spec/daml-lf-1.rst
Labels: automerge

#6816 Bump test_sha in perf tests
  ci/cron/perf/test_sha
Labels: automerge

#6815 sandbox-common: Allow the user to specify the participant ID in the CLI.
  ledger/sandbox-classic/src/main/scala/platform/sandbox/SandboxServer.scala
  ledger/sandbox-common/src/main/scala/platform/sandbox/cli/Cli.scala
  ledger/sandbox-common/src/main/scala/platform/sandbox/config/SandboxConfig.scala
  ledger/sandbox-common/src/test/suite/scala/platform/sandbox/cli/CliSpec.scala
  ledger/sandbox/src/main/scala/platform/sandboxnext/Runner.scala
Labels: automerge

#6809 🔥
  bazel-java-deps.bzl
  maven_install.json
Labels: automerge

#6804 Trigger service: rest of auth service client
  triggers/service/BUILD.bazel
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/AuthServiceClient.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/auth/client/AuthServiceClientTest.scala
Labels: automerge

#6818 sandbox: Inline dependency declarations in the BUILD files.
  ledger/sandbox-classic/BUILD.bazel
  ledger/sandbox-common/BUILD.bazel
  ledger/sandbox/BUILD.bazel
Labels: automerge

#6821 Fix reference to return produced by ApplicativeDo
  ci/da-ghc-lib/compile.yml
  compiler/damlc/tests/daml-test-files/ApplicativeDo.daml
  stack-snapshot.yaml
  stackage_snapshot.json
Labels: automerge

#6763 Engine: redesign Engine.Config
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Context.scala
  daml-lf/engine/BUILD.bazel
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/EngineConfig.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/EngineInfo.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineInfoTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/repl/src/main/scala/com/digitalasset/daml/lf/repl/testing/Main.scala
  daml-lf/scenario-interpreter/src/perf/benches/scala/com/digitalasset/daml/lf/speedy/perf/CollectAuthority.scala
  daml-lf/scenario-interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ScenarioRunnerTest.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionVersion.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/VersionRange.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionVersionSpec.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Runner.scala
  ledger/participant-state/kvutils/tools/src/main/scala/com/daml/ledger/participant/state/kvutils/tools/IntegrityCheck.scala
  ledger/participant-state/kvutils/tools/src/main/scala/com/daml/ledger/participant/state/kvutils/tools/IntegrityChecker.scala
  ledger/participant-state/kvutils/tools/src/test/scala/com/daml/ledger/participant/state/kvutils/test/Replay.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/SandboxServer.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/ScenarioLoader.scala
  ledger/sandbox/src/main/scala/platform/sandboxnext/Runner.scala
Labels: component/daml-engine

#6825 Bump test_sha in perf tests
  ci/cron/perf/test_sha
Labels: automerge

#6826 Validate performance test keys
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/Cli.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/Tests.scala
Labels: automerge

#6830 release-2020-07-22
  LATEST
Labels: Standard-Change

#6835 Release a bugfix snapshot
  LATEST
Labels: Standard-Change, automerge

#6832 Improve errors on failing MapKey instances
  compiler/damlc/daml-stdlib-src/DA/Next/Map.daml
  compiler/damlc/tests/daml-test-files/NextMap.daml
Labels: automerge

#6838 Make DAML REPL work without a ledger
  compiler/damlc/lib/DA/Cli/Damlc.hs
  compiler/damlc/tests/src/DA/Test/Repl.hs
  compiler/damlc/tests/src/DA/Test/Repl/FuncTests.hs
  compiler/repl-service/client/src/DA/Daml/LF/ReplClient.hs
  compiler/repl-service/server/src/main/scala/com/digitalasset/daml/lf/ReplServiceMain.scala
  docs/source/daml-repl/index.rst
Labels: automerge

#6841 Log successful package uploads
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/admin/ApiPackageManagementService.scala
Labels: automerge

#6843 Support let-bindings in DAML REPL
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Repl.hs
  compiler/damlc/tests/src/DA/Test/Repl/FuncTests.hs
  docs/source/daml-repl/index.rst
Labels: automerge

#6852 Fix populating out-of-time-bounds log entry for pre-execution
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/Committer.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/ConfigCommitter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/TransactionCommitter.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/CommitterSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/ConfigCommitterSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/TransactionCommitterSpec.scala
Labels: automerge

#6853 Enable assertions in Haskell builds
  bazel-haskell-deps.bzl
  bazel_tools/haskell-ghcide-binary-q.patch
  bazel_tools/haskell.bzl
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Repl.hs
  compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
Labels: automerge

#6856 dummy release
  LATEST
Labels: Standard-Change

#6864 fix docs cron
  ci/cron/src/Main.hs
Labels: automerge

#6859 better release triggers
  azure-pipelines.yml
  ci/cron/wednesday.yml
  release.sh
Labels: automerge

#6829 daml-on-sql: An elegant Main class, for a more civilized age.
  language-support/java/codegen/src/ledger-tests/scala/com/digitalasset/TestUtil.scala
  ledger-service/http-json/src/it/scala/http/HttpServiceTestFixture.scala
  ledger/daml-on-sql/BUILD.bazel
  ledger/daml-on-sql/src/main/resources/banner.txt
  ledger/daml-on-sql/src/main/scala/on/sql/Cli.scala
  ledger/daml-on-sql/src/main/scala/on/sql/Main.scala
  ledger/daml-on-sql/src/main/scala/on/sql/package.scala
  ledger/daml-on-sql/src/test/lib/scala/on/sql/MainWithEphemeralPostgresql.scala
  ledger/daml-on-sql/src/test/suite/scala/on/sql/CliSpec.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/SeedService.scala
  ledger/sandbox-classic/BUILD.bazel
  ledger/sandbox-classic/src/main/scala/platform/sandbox/Cli.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/LedgerIdGenerator.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/SandboxMain.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/SandboxServer.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/package.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/SandboxIndexAndWriteService.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/sql/SqlLedger.scala
  ledger/sandbox-classic/src/test/lib/scala/platform/sandbox/LedgerResource.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/CliSpec.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/stores/ledger/sql/SqlLedgerSpec.scala
  ledger/sandbox-common/BUILD.bazel
  ledger/sandbox-common/src/main/scala/platform/sandbox/cli/CommonCli.scala
  ledger/sandbox-common/src/main/scala/platform/sandbox/cli/SandboxCli.scala
  ledger/sandbox-common/src/main/scala/platform/sandbox/config/SandboxConfig.scala
  ledger/sandbox-common/src/main/scala/platform/sandbox/config/package.scala
  ledger/sandbox-common/src/test/lib/scala/platform/sandbox/cli/CommonCliSpecBase.scala
  ledger/sandbox-common/src/test/resources/logback-test.xml
  ledger/sandbox-perf/src/perf/lib/scala/com/digitalasset/platform/sandbox/perf/LedgerFactories.scala
  ledger/sandbox/BUILD.bazel
  ledger/sandbox/src/main/scala/platform/sandboxnext/Cli.scala
  ledger/sandbox/src/main/scala/platform/sandboxnext/Main.scala
  ledger/sandbox/src/main/scala/platform/sandboxnext/Runner.scala
  ledger/sandbox/src/main/scala/platform/sandboxnext/package.scala
  ledger/sandbox/src/test/suite/scala/platform/sandboxnext/CliSpec.scala
  ledger/sandbox/src/test/suite/scala/platform/sandboxnext/services/completion/CompletionServiceWithEmptyLedgerIT.scala
  ledger/sandbox/src/test/suite/scala/platform/sandboxnext/services/configuration/ConfigurationServiceWithEmptyLedgerIT.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceFixture.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/auth/client/AuthServiceFixture.scala
Labels: automerge

#6813 Fix time model error message
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/TimeModel.scala
  ledger/participant-state/src/test/suite/scala/com/daml/ledger/participant/state/TimeModelTest.scala
Labels: automerge

#6858 Fix references to authentication in the docs
  docs/redirects.map
  docs/source/app-dev/app-arch.rst
  docs/source/app-dev/authorization.rst
  docs/source/app-dev/bindings-java/index.rst
  docs/source/app-dev/bindings-scala/index.rst
  docs/source/concepts/identity-and-package-management.rst
  docs/source/daml-repl/index.rst
  docs/source/daml-script/index.rst
  docs/source/deploy/generic_ledger.rst
  docs/source/index.rst
  docs/source/tools/extractor.rst
  docs/source/tools/navigator/index.rst
  docs/source/tools/sandbox.rst
  extractor/src/main/scala/com/digitalasset/extractor/config/ConfigParser.scala
Labels: automerge

#6871 daml2js: Add more tests for recursive types
  language-support/ts/codegen/tests/daml/Main.daml
  language-support/ts/codegen/tests/ts/build-and-lint-test/src/__tests__/test.ts
Labels: automerge

#6865 DAML REPL :module command
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Repl.hs
  compiler/damlc/tests/src/DA/Test/Repl/FuncTests.hs
  docs/source/daml-repl/index.rst
Labels: automerge

#6872 Avoid redundant DAML REPL imports
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Repl.hs
  compiler/damlc/tests/src/DA/Test/Repl/FuncTests.hs
Labels: automerge

#6881 Upgrade rules_go to the latest release
  deps.bzl
Labels: automerge

#6870 Upgrade rules-nodejs to the latest release
  WORKSPACE
  azure-cron.yml
  build.ps1
  build.sh
  compatibility/build-release-artifacts-windows.ps1
  compatibility/build-release-artifacts.sh
  compiler/daml-extension/BUILD.bazel
  deps.bzl
  package.json
  yarn.lock
Labels: automerge

#6882 Upgrade rules_jvm_external
  compatibility/maven_install.json
  deps.bzl
  maven_install.json
Labels: automerge

#6889 Fix version of @bazel/typescript
  compatibility/deps.bzl
  language-support/ts/packages/package.json
  language-support/ts/packages/yarn.lock
Labels: automerge

#6887 daml-on-sql: Build a Docker image.
  WORKSPACE
  ledger/daml-on-sql/BUILD.bazel
  ledger/daml-on-sql/kubernetes.yaml
  ledger/sandbox-classic/BUILD.bazel
  ledger/sandbox-common/BUILD.bazel
  ledger/sandbox/BUILD.bazel
Labels: automerge

#6883 Upgrade rules_scala
  bazel_tools/scala-binary-rootpath.patch
  bazel_tools/scala-escape-jvmflags.patch
  bazel_tools/scala-fail-jmh-build-on-error.patch
  bazel_tools/scala-fix-jopt-simple-version.patch
  compatibility/deps.bzl
  deps.bzl
Labels: automerge

#6892 daml2js: Memoize lazily constructed decoders
  language-support/ts/codegen/src/TsCodeGenMain.hs
  language-support/ts/daml-types/index.test.ts
  language-support/ts/daml-types/index.ts
Labels: automerge

#6899 daml2js: Add decoder test for recursive records
  language-support/ts/codegen/tests/ts/build-and-lint-test/src/__tests__/test.ts
Labels: automerge

#6901 Add a semantic test for updating a record field twice
  compiler/damlc/tests/daml-test-files/SemanticsEvalOrder.daml
Labels: automerge

#6893 Remove mentions of fidelity levels from the Ledger API test tool
  docs/source/tools/ledger-api-test-tool/index.rst
  ledger/daml-on-sql/README.rst
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/Cli.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/LedgerApiTestTool.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/Tests.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/Envelope.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/PerformanceEnvelope.scala
  ledger/ledger-on-memory/BUILD.bazel
  ledger/ledger-on-sql/BUILD.bazel
Labels: automerge

#6802 check for scaladoc comments that are not actually used
  bazel_tools/scala.bzl
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/ledger/EnrichedTransaction.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/BlindingInfo.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Node.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/lf/DamlDataTypeGen.scala
  ledger/participant-integration-api/src/main/scala/platform/configuration/LedgerConfiguration.scala
  ledger/participant-integration-api/src/main/scala/platform/configuration/PartyConfiguration.scala
  ledger/participant-integration-api/src/main/scala/platform/store/Contract.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/InputsAndEffects.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/Configuration.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/console/State.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/model/Model.scala
Labels: automerge

#6904 Ledger writer supporting pre-execution and normal flow
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/api/InterpretationCostBasedLedgerWriterChooser.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/api/InterpretationCostBasedLedgerWriterChooserSpec.scala
Labels: automerge

#6909 Release new snapshot
  LATEST
Labels: Standard-Change, automerge

#6915 Add a test for the conversion of (nested) record updates to DAML-LF
  compiler/damlc/tests/daml-test-files/RecordUpdate.daml
Labels: automerge

#6917 Remove some debugging left-overs from damlc tests
  compiler/damlc/tests/daml-test-files/RecordUpdate.daml
Labels: automerge

#6911 triggers + ports: Lock free ports before binding.
  libs-scala/ports/src/main/scala/com/digitalasset/ports/LockedFreePort.scala
  libs-scala/ports/src/main/scala/com/digitalasset/ports/Port.scala
  libs-scala/ports/src/main/scala/com/digitalasset/ports/PortLock.scala
  libs-scala/ports/src/test/suite/scala/com/digitalasset/ports/LockedFreePortSpec.scala
  libs-scala/postgresql-testing/BUILD.bazel
  libs-scala/postgresql-testing/src/main/scala/com/digitalasset/testing/postgresql/PostgresAround.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceFixture.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/auth/client/AuthServiceFixture.scala
Labels: automerge

#6919 Fix example in the trigger docs.
  docs/source/triggers/index.rst
  docs/source/triggers/template-root/src/CopyTrigger.daml
Labels: automerge

#6658 use row ID arithmetic for transaction stream pagination
  ledger/participant-integration-api/BUILD.bazel
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/EventsRange.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/EventsTableFlatEvents.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/EventsTableFlatEventsRangeQueries.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/EventsTableTreeEvents.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/SqlSequence.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/TransactionsReader.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/package.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoSuite.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoTransactionsSpec.scala
Labels: automerge, component/ledger

#6927 Trigger service tests: Make sure toxiproxy server is running before connecting the client
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceFixture.scala
Labels: automerge

#6928 Trigger service tests: Remove auth service process in trigger service fixture
  triggers/service/BUILD.bazel
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceFixture.scala
Labels: automerge
