Repository digital-asset/daml, pull requests merged in 2020-03, with the labels that each got.

#4768 Bump zip library
  stack-snapshot.yaml
Labels: automerge

#4764 Document package metadata in LF spec
  daml-lf/spec/daml-lf-1.rst
Labels: automerge

#4766 Add `validate-dar` to the assistant whitelist.
  daml-assistant/exe/DA/Daml/Assistant.hs
Labels: automerge

#4769 Prepare DAML-LF 1.8 release
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
Labels: automerge

#4763 Tighten the loop: backend services to return API responses
  ledger/ledger-api-common/BUILD.bazel
  ledger/ledger-api-common/src/main/scala/com/digitalasset/ledger/api/validation/TransactionServiceRequestValidator.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/api/v1/event/EventOps.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/participant/util/EventFilter.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/services/domain/TransactionService.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/services/grpc/GrpcTransactionService.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/services/transaction/TransientContractRemover.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/platform/server/services/transaction/TransientContractRemoverTest.scala
  ledger/participant-state-index/src/main/scala/com/daml/ledger/participant/state/index/v2/IndexTransactionsService.scala
  ledger/sandbox/BUILD.bazel
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/transaction/ApiTransactionService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/EventFilter.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/LedgerBackedIndexService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/MeteredReadOnlyLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/TransactionConversion.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/inmemory/InMemoryLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/BaseLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/ReadOnlyLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/JdbcLedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/LedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/MeteredLedgerDao.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/index/EventFilterSpec.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoSpec.scala
Labels: automerge

#4741 [kvutils] use new contract id scheme
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/crypto/Hash.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Node.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/crypto/HashSpec.scala
  ledger/ledger-api-test-tool/BUILD.bazel
  ledger/ledger-on-memory/BUILD.bazel
  ledger/ledger-on-sql/BUILD.bazel
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Config.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Runner.scala
  ledger/participant-state/kvutils/src/main/protobuf/daml_kvutils.proto
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/Conversions.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/InputsAndEffects.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/KeyValueConsumption.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/KeyValueSubmission.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/Version.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/api/KeyValueParticipantStateWriter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committing/ProcessTransactionSubmission.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/ParticipantStateIntegrationSpecBase.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/KVTest.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/KVUtilsTransactionSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/api/KeyValueParticipantStateWriterSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/SubmissionValidatorSpec.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/SeedService.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/TransactionMeta.scala
  ledger/sandbox/BUILD.bazel
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/ApiServices.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/CommandExecutor.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/CommandExecutorImpl.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/StandaloneApiServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/ApiSubmissionService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/cli/Cli.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/config/SandboxConfig.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandboxnext/Main.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandboxnext/Runner.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/ScenarioLoadingITBase.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/ImplicitPartyAdditionIT.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/TransactionMRTComplianceIT.scala
Labels: component/daml-engine

#4775 Small fix to daml code example in upgrade doc
  docs/source/upgrade/daml/Upgrade.daml
Labels: automerge

#4773 Lower Ledger api server rejected submissions to info
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/ApiSubmissionService.scala
Labels: automerge

#4755 Heartbeats for Sandbox-Next, ledger-on-sql, and ledger-on-memory.
  ledger/ledger-on-memory/BUILD.bazel
  ledger/ledger-on-memory/src/app/scala/com/daml/ledger/on/memory/Main.scala
  ledger/ledger-on-memory/src/main/scala/com/daml/ledger/on/memory/InMemoryLedgerReaderWriter.scala
  ledger/ledger-on-memory/src/main/scala/com/daml/ledger/on/memory/InMemoryState.scala
  ledger/ledger-on-memory/src/test/suite/scala/com/daml/ledger/on/memory/InMemoryLedgerReaderWriterIntegrationSpec.scala
  ledger/ledger-on-sql/hash-migrations.sh
  ledger/ledger-on-sql/src/main/resources/com/daml/ledger/on/sql/migrations/h2/V3__add_heartbeats_to_log.sql
  ledger/ledger-on-sql/src/main/resources/com/daml/ledger/on/sql/migrations/h2/V3__add_heartbeats_to_log.sql.sha256
  ledger/ledger-on-sql/src/main/resources/com/daml/ledger/on/sql/migrations/postgresql/V3__add_heartbeats_to_log.sql
  ledger/ledger-on-sql/src/main/resources/com/daml/ledger/on/sql/migrations/postgresql/V3__add_heartbeats_to_log.sql.sha256
  ledger/ledger-on-sql/src/main/resources/com/daml/ledger/on/sql/migrations/sqlite/V3__add_heartbeats_to_log.sql
  ledger/ledger-on-sql/src/main/resources/com/daml/ledger/on/sql/migrations/sqlite/V3__add_heartbeats_to_log.sql.sha256
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/SqlLedgerReaderWriter.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/queries/CommonQueries.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/queries/H2Queries.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/queries/PostgresqlQueries.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/queries/ReadQueries.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/queries/SqliteQueries.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/queries/WriteQueries.scala
  ledger/ledger-on-sql/src/test/lib/scala/com/daml/ledger/on/sql/SqlLedgerReaderWriterIntegrationSpecBase.scala
  ledger/ledger-on-sql/src/test/suite/scala/com/daml/ledger/on/sql/ImmutableMigrationsSpec.scala
  ledger/participant-state/kvutils/BUILD.bazel
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/api/KeyValueParticipantStateReader.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/api/LedgerEntry.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/api/LedgerReader.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/api/LedgerRecord.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/SubmissionValidator.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/ValidatingCommitter.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/ParticipantStateIntegrationSpecBase.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/api/KeyValueParticipantStateReaderSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/SubmissionValidatorSpec.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/TimeServiceBackend.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandboxnext/RegularHeartbeat.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandboxnext/Runner.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/ScenarioLoadingITBase.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/apiserver/AkkaQueueBasedObservedTimeServiceBackendSpec.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/ScenarioLoadingITNewIdentifier.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/ScenarioLoadingITPostgres.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandboxnext/RegularHeartbeatSpec.scala
Labels: automerge

#4754 Add create-and-exercise JSON API endpoint
  docs/source/json-api/index.rst
  ledger-service/http-json/src/main/scala/com/digitalasset/http/CommandService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ErrorMessages.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/PackageService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/domain.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/DomainJsonDecoder.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/DomainJsonEncoder.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/JsValueToApiValueConverter.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/JsonProtocol.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/util/Commands.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/AbstractHttpServiceIntegrationTest.scala
Labels: automerge

#4777 Add singleton to DA.List
  compiler/damlc/daml-stdlib-src/DA/List.daml
Labels: automerge

#4784 libs-scala/ports: Wrap socket ports in a type, `Port`.
  daml-script/runner/BUILD.bazel
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/TestMain.scala
  extractor/BUILD.bazel
  extractor/src/main/scala/com/digitalasset/extractor/Extractor.scala
  extractor/src/main/scala/com/digitalasset/extractor/config/ConfigParser.scala
  extractor/src/main/scala/com/digitalasset/extractor/config/ExtractorConfig.scala
  extractor/src/test/lib/scala/com/digitalasset/extractor/services/ExtractorFixture.scala
  extractor/src/test/suite/scala/com/digitalasset/extractor/AuthSpec.scala
  extractor/src/test/suite/scala/com/digitalasset/extractor/TlsSpec.scala
  language-support/java/codegen/BUILD.bazel
  language-support/java/codegen/src/ledger-tests/scala/com/digitalasset/TestUtil.scala
  language-support/scala/codegen-sample-app/BUILD.bazel
  ledger-service/http-json/src/test/scala/com/digitalasset/http/HttpServiceTestFixture.scala
  ledger/ledger-api-client/BUILD.bazel
  ledger/ledger-on-sql/BUILD.bazel
  ledger/participant-state/kvutils/app/BUILD.bazel
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Config.scala
  ledger/sandbox-perf/BUILD.bazel
  ledger/sandbox-perf/src/perf/lib/scala/com/digitalasset/platform/sandbox/perf/LedgerFactories.scala
  ledger/sandbox/BUILD.bazel
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/ApiServerConfig.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/LedgerApiServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/StandaloneApiServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/cli/Cli.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/config/SandboxConfig.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandboxnext/Runner.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/services/SandboxClientResource.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/services/SandboxFixture.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/TlsIT.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/cli/CliSpec.scala
  libs-scala/ports/BUILD.bazel
  libs-scala/ports/src/main/scala/com/digitalasset/ports/Port.scala
  libs-scala/ports/src/test/suite/scala/com/digitalasset/ports/PortSpec.scala
  release/artifacts.yaml
  triggers/service/BUILD.bazel
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceFixture.scala
Labels: automerge

#4782 Sandbox: Standardize logging when initializing the ledger.
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/ReadOnlySqlLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/indexer/JdbcIndexer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedger.scala
Labels: automerge

#4785 Merge cross-LF tests
  compiler/damlc/tests/src/DA/Test/Packaging.hs
Labels: automerge

#4787 ledger-on-sql: The tests are not that fast.
  ledger/ledger-on-sql/BUILD.bazel
Labels: automerge

#4793 [engine] refactor transaction's usedPackages
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Blinding.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/LargeTransactionTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/transaction-scalacheck/src/main/scala/com/digitalasset/daml/lf/value/ValueGenerators.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionCoder.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionCoderSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionSpec.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/InputsAndEffects.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/KeyValueConsumption.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/KeyValueSubmission.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/ParticipantStateIntegrationSpecBase.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/KVTest.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/KVUtilsTransactionSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/ProjectionsSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/api/KeyValueParticipantStateWriterSpec.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/TransactionMeta.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/WriteService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/CommandExecutorImpl.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/ScenarioLoader.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/ImplicitPartyAdditionIT.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/TransactionMRTComplianceIT.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoSpec.scala
Labels: automerge, component/daml-engine

#4791 Don't return witnessed contracts in ActiveContractsService
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Event.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/ActiveContractsService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/EventFilter.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/JdbcLedgerDao.scala
  ledger/test-common/src/main/daml/Test.daml
Labels: DAML SDK 1.0, component/ledger

#4786 resources: `Resource.unit`, as an alias for `Resource.successful(())`.
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/SandboxIndexAndWriteService.scala
  libs-scala/resources/src/main/scala/com/digitalasset/resources/Resource.scala
  libs-scala/resources/src/main/scala/com/digitalasset/resources/ResourceOwner.scala
Labels: automerge

#4798 A few more map query tests
  ledger-service/http-json/src/test/scala/com/digitalasset/http/query/ValuePredicateTest.scala
Labels: automerge

#4797 Sandbox: Refactoring and cleanup around `FlywayMigrations` and `JdbcIndexerFactory`.
  ledger/sandbox/src/main/scala/com/digitalasset/platform/indexer/JdbcIndexer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/indexer/RecoveringIndexer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/indexer/StandaloneIndexerServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/FlywayMigrations.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/indexer/RecoveringIndexerSpec.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/persistence/PostgresIT.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoSpec.scala
Labels: automerge

#4800 Fix for unknown template ID received from gRPC streaming API
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsService.scala
Labels: automerge

#4790 [Engine] track if time is used during evaluation
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/tests/BasicTests.daml
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
Labels: component/daml-engine

#4803 Only log message about duplicate package uploads in debug level
  ledger/sandbox/src/main/scala/com/digitalasset/platform/packages/InMemoryPackageStore.scala
Labels: automerge

#4802 Sandbox-Next: Add the ResetService.
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Runner.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/LedgerApiServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/StandaloneApiServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/indexer/IndexerStartupMode.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/indexer/StandaloneIndexerServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/config/InvalidConfigException.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/SandboxResetService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandboxnext/Main.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandboxnext/Runner.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandboxnext/StartupMode.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/FlywayMigrations.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/AbstractSandboxFixture.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/services/SandboxFixture.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/services/TestCommands.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/services/reset/ResetServiceITBase.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandboxnext/SandboxNextFixture.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/services/reset/ResetServiceIT.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandboxnext/services/reset/ResetServiceInMemoryIT.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandboxnext/services/reset/ResetServiceOnPostgresqlIT.scala
  libs-scala/resources/src/main/scala/com/digitalasset/resources/ResettableResourceOwner.scala
  libs-scala/resources/src/main/scala/com/digitalasset/resources/Resource.scala
  libs-scala/resources/src/test/suite/scala/com/digitalasset/resources/ResettableResourceOwnerSpec.scala
Labels: automerge

#4794 Extend the documentation for DAML upgrade
  docs/BUILD.bazel
  docs/source/upgrade/example/coinV1/daml.yaml
  docs/source/upgrade/example/coinV1/daml/CoinV1.daml
  docs/source/upgrade/example/coinV2/daml.yaml
  docs/source/upgrade/example/coinV2/daml/CoinV2.daml
  docs/source/upgrade/example/coinV2/daml/UpgradeFromCoinV1.daml
  docs/source/upgrade/example/run.sh
  docs/source/upgrade/index.rst
Labels: automerge

#4807 Make `debug` a bit more lazy
  compiler/damlc/daml-stdlib-src/DA/Internal/Prelude.daml
  compiler/damlc/tests/src/DA/Test/ShakeIdeClient.hs
Labels: automerge

#4813 Only unmangle once in decodeValueName
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/DecodeV1.hs
Labels: automerge

#4809 test that ContractStreamStep#append preserves data sensibly
  ledger-service/http-json/src/test/scala/com/digitalasset/http/util/ContractStreamStepTest.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/util/InsertDeleteStepTest.scala
Labels: automerge, component/json-api

#4812 `Option.exists` instead of `cata`
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsService.scala
Labels: automerge

#4815 handle dual LiveBegin case
  ledger-service/http-json/src/main/scala/com/digitalasset/http/util/ContractStreamStep.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/util/InsertDeleteStep.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/util/ContractStreamStepTest.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/util/InsertDeleteStepTest.scala
Labels: component/json-api

#4816 Remove damlc migrate
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Upgrade.hs
  compiler/damlc/lib/DA/Cli/Damlc.hs
  daml-assistant/daml-helper/src/DA/Daml/Helper/Main.hs
  daml-assistant/daml-helper/src/DA/Daml/Helper/Run.hs
  daml-assistant/integration-tests/src/DA/Daml/Assistant/IntegrationTests.hs
  release/sdk-config.yaml.tmpl
  templates/BUILD.bazel
  templates/migrate/daml.yaml.template
  templates/migrate/ui-backend.conf
Labels: automerge

#4820 daml2ts: Keep workspace package.json intact
  language-support/ts/codegen/BUILD.bazel
  language-support/ts/codegen/src/TsCodeGenMain.hs
  language-support/ts/codegen/tests/build-and-lint.sh
  language-support/ts/codegen/tests/ts/package.json
Labels: automerge

#4792 Allow `LedgerFactory` to provide a full-blown `ReadWriterService`
  ledger/ledger-on-memory/BUILD.bazel
  ledger/ledger-on-memory/src/app/scala/com/daml/ledger/on/memory/Main.scala
  ledger/ledger-on-sql/src/app/scala/com/daml/ledger/on/sql/SqlLedgerFactory.scala
  ledger/ledger-on-sql/src/test/lib/scala/com/daml/ledger/on/sql/MainWithEphemeralDirectory.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/LedgerFactory.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Runner.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/package.scala
Labels: automerge

#4830 daml2ts: Factor out assertFileExists in tests
  language-support/ts/codegen/tests/src/DA/Test/Daml2Ts.hs
Labels: automerge

#4836 sandbox-next: Disable ResetService tests.
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandboxnext/services/reset/ResetServiceInMemoryIT.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandboxnext/services/reset/ResetServiceOnPostgresqlIT.scala
Labels: automerge

#4827 Sandbox: Re-use actor systems between the StandaloneApiServer and StandaloneIndexerServer.
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Runner.scala
  ledger/recovering-indexer-integration-tests/BUILD.bazel
  ledger/recovering-indexer-integration-tests/src/test/suite/scala/com/digitalasset/platform/indexer/RecoveringIndexerIntegrationSpec.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/StandaloneApiServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/indexer/StandaloneIndexerServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandboxnext/Runner.scala
  libs-scala/resources/src/main/scala/com/digitalasset/resources/ResourceOwner.scala
Labels: automerge

#4829 daml2ts: Always use SDK version for @daml/types
  language-support/ts/codegen/src/TsCodeGenMain.hs
  language-support/ts/codegen/tests/src/DA/Test/Daml2Ts.hs
Labels: automerge

#4840 fix typo in daml-script docs
  docs/source/daml-script/index.rst
Labels: automerge

#4834 Document migration from scenarios to DAML script
  daml-script/test/daml-script-test-runner.sh
  docs/source/daml-script/index.rst
  docs/source/daml-script/template-root/src/ScriptExample.daml
  docs/source/tools/assistant.rst
Labels: automerge

#4839 Remove DA.Upgrade module
  compiler/damlc/daml-stdlib-src/DA/Upgrade.daml
  compiler/damlc/daml-stdlib-src/LibraryModules.daml
  compiler/damlc/tests/daml-test-files/Isomorphism.daml
  compiler/damlc/tests/daml-test-files/IsomorphismFail.daml
  compiler/damlc/tests/src/unstable-types.sh
Labels: automerge

#4853 Added --damlc option to daml-sdk-head
  dev-env/bin/daml-sdk-head
Labels: automerge

#4854 ledger-on-sql: Ensure log entries are returned in the correct order.
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/queries/CommonQueries.scala
Labels: automerge

#4833 Track erased types in data-dependencies.
  compiler/damlc/daml-compiler/BUILD.bazel
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/DataDependencies.hs
  compiler/damlc/tests/src/DA/Test/Packaging.hs
Labels: automerge

#4781 Refactor extraction of events from transaction
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/api/v1/event/EventOps.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/participant/util/LfEngineToApi.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/services/transaction/InvertedTransactionFilter.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/services/transaction/TransactionFiltration.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/services/transaction/TransientContractRemover.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/platform/server/services/transaction/InvertedTransactionFilterTest.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/platform/server/services/transaction/TransientContractRemoverTest.scala
  ledger/ledger-api-domain/src/main/scala/com/digitalasset/ledger/api/domain.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/events/EventIdFormatter.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/EventFilter.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/LedgerBackedIndexService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/TransactionConversion.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/index/TransactionConversionSpec.scala
Labels: automerge

#4860 Restore `LedgerFactory` inheritors' ability to use `Config` for setups
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/LedgerFactory.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Runner.scala
Labels: automerge

#4863 bind repl to localhost
  compiler/repl-service/server/BUILD.bazel
  compiler/repl-service/server/src/main/scala/com/digitalasset/daml/lf/ReplServiceMain.scala
Labels: automerge

#4877 Support specifying sandbox/navigator/json-api options in daml.yaml
  daml-assistant/daml-helper/src/DA/Daml/Helper/Run.hs
  daml-assistant/integration-tests/src/DA/Daml/Assistant/IntegrationTests.hs
  docs/source/tools/assistant.rst
Labels: automerge

#4835 kvutils: Throw meaningful errors when dealing with a `Left`.
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/queries/CommonQueries.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/SubmissionValidator.scala
Labels: automerge

#4876 sandbox: Format Cli.scala.
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/cli/Cli.scala
Labels: automerge

#4875 sandbox-next: Error if a scenario is provided.
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandboxnext/Runner.scala
Labels: automerge

#4865 sandbox: Avoid converting to byte arrays before deserializing.
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/JdbcLedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/serialization/ContractSerializer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/serialization/TransactionSerializer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/serialization/ValueSerializer.scala
  ledger/sandbox/src/main/scala/db/migration/h2database/V5_1__Populate_Event_Data.scala
  ledger/sandbox/src/main/scala/db/migration/postgres/V10_1__Populate_Event_Data.scala
  ledger/sandbox/src/main/scala/db/migration/postgres/V2_1__Rebuild_Acs.scala
  ledger/sandbox/src/main/scala/db/migration/postgres/V3__Recompute_Key_Hash.scala
  ledger/sandbox/src/main/scala/db/migration/postgres/V4_1__Collect_Parties.scala
Labels: automerge

#4881 data-dependencies: Call buildHiddenRefMap once per package.
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/DataDependencies.hs
Labels: automerge

#4880 Detect whether sandbox has started using --port-file
  daml-assistant/daml-helper/src/DA/Daml/Helper/Run.hs
Labels: automerge

#4890 Avoid some unnecessary work when encoding a transaction
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionCoder.scala
Labels: automerge

#4892 Add a warning for data X = Y {...}.
  compiler/damlc/daml-preprocessor/src/DA/Daml/Preprocessor.hs
  compiler/damlc/tests/daml-test-files/DataTypes.daml
  compiler/damlc/tests/daml-test-files/RecordConstructorCheck.daml
Labels: automerge

#4888 Ledger API Server: Add the `GetParties` endpoint.
  ledger-api/grpc-definitions/com/digitalasset/ledger/api/v1/admin/party_management_service.proto
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/services/PartyManagementServiceAuthorization.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/participant/ParticipantTestContext.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/PartyManagement.scala
  ledger/participant-state-index/src/main/scala/com/daml/ledger/participant/state/index/v2/IndexPartyManagementService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/admin/ApiPartyManagementService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/LedgerBackedIndexService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/MeteredReadOnlyLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/inmemory/InMemoryLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/BaseLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/ReadOnlyLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/JdbcLedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/LedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/MeteredLedgerDao.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoSpec.scala
Labels: automerge

#4808 [DAML-LF] define an ordering on values
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/svalue/Ordering.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/svalue/EqualitySpec.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/svalue/OrderingSpec.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/Value.scala
Labels: component/daml-lf

#4895 sandbox: Normalize language around listing all known parties.
  ledger/participant-state-index/src/main/scala/com/daml/ledger/participant/state/index/v2/IndexPartyManagementService.scala
  ledger/recovering-indexer-integration-tests/src/test/suite/scala/com/digitalasset/platform/indexer/RecoveringIndexerIntegrationSpec.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/admin/ApiPartyManagementService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/LedgerBackedIndexService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/MeteredReadOnlyLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/inmemory/InMemoryLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/BaseLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/ReadOnlyLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/JdbcLedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/LedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/MeteredLedgerDao.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/ImplicitPartyAdditionIT.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoSpec.scala
Labels: automerge

#4898 Add extra test on record constructor check.
  compiler/damlc/daml-preprocessor/src/DA/Daml/Preprocessor.hs
  compiler/damlc/tests/daml-test-files/RecordConstructorCheck.daml
Labels: automerge

#4901 Error out on dependencies on newer LF versions
  compiler/damlc/lib/DA/Cli/Damlc/Packaging.hs
  compiler/damlc/tests/src/DA/Test/Packaging.hs
Labels: automerge

#4894 Sandbox Next: Implicit party allocation.
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/Cli.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/Config.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/LedgerApiTestTool.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerSession.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerSessionConfiguration.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerTestContext.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/PartyAllocationConfiguration.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/participant/ParticipantSession.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/participant/ParticipantSessionConfiguration.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/participant/ParticipantTestContext.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/LedgerFactory.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Runner.scala
  ledger/sandbox/BUILD.bazel
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/ApiServices.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/StandaloneApiServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/ApiSubmissionService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/admin/ApiPartyManagementService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/configuration/PartyConfiguration.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/config/SandboxConfig.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandboxnext/Runner.scala
Labels: automerge

#4906 Mark lsp tests as flaky on Windows
  compiler/lsp-tests/BUILD.bazel
Labels: automerge

#4916 Fix CreatedEvent Protobuf documentation
  ledger-api/grpc-definitions/com/digitalasset/ledger/api/v1/event.proto
Labels: automerge

#4917 Remove experimental note about DAML script from daml --help
  release/sdk-config.yaml.tmpl
Labels: automerge

#4918 Include Bazel patch to mark tests as exclusive
  ledger/ledger-api-test-tool-on-canton/BUILD.bazel
  nix/nixpkgs.nix
Labels: automerge

#4891 New bazel rule: daml_build_test
  docs/BUILD.bazel
  docs/source/upgrade/example/coinV2/daml.yaml
  docs/source/upgrade/example/run.sh
  docs/source/upgrade/index.rst
  rules_daml/daml-build.bzl
Labels: automerge

#4923 Enable caching and sandboxing for canton ledger API test tool
  ledger/ledger-api-test-tool-on-canton/BUILD.bazel
  ledger/ledger-api-test-tool-on-canton/canton-test-runner.sh
Labels: automerge

#4922 Add lazy flattening function to Relation
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/Relation.scala
  daml-lf/data/src/test/scala/com/digitalasset/daml/lf/data/RelationTest.scala
Labels: automerge

#4928 kvutils: Avoid casting `ArgumentCaptor` and friends in tests.
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/MockitoHelpers.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/api/KeyValueParticipantStateReaderSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/api/KeyValueParticipantStateWriterSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/SubmissionValidatorSpec.scala
Labels: automerge

#4776 [DAML-LF] add submission time for contract ids seeding
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
  ledger/participant-state/kvutils/src/main/protobuf/daml_kvutils.proto
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/KeyValueConsumption.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/KeyValueSubmission.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/Version.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committing/ProcessTransactionSubmission.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/ParticipantStateIntegrationSpecBase.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/KVTest.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/api/KeyValueParticipantStateWriterSpec.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/TransactionMeta.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/CommandExecutorImpl.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/ImplicitPartyAdditionIT.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/TransactionMRTComplianceIT.scala
Labels: component/daml-lf

#4934 Bump nix version
  azure-pipelines.yml
  ci/dev-env-install.sh
Labels: automerge

#4926 Make generated packages easier to use
  language-support/ts/codegen/src/TsCodeGenMain.hs
  language-support/ts/codegen/tests/BUILD.bazel
  language-support/ts/codegen/tests/ts/build-and-lint/src/__tests__/test.ts
Labels: language

#4930 Rename EC auth cmdline options in line with the standard and document them.
  docs/source/tools/sandbox.rst
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/cli/Cli.scala
Labels: automerge

#4899 Don't read exclusive end in completions query
  ledger/sandbox/src/main/resources/db/migration/postgres/V19__Fix_Completions.sha256
  ledger/sandbox/src/main/resources/db/migration/postgres/V19__Fix_Completions.sql
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/CommandCompletionsTable.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/JdbcLedgerDao.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/services/completion/CompletionServiceIT.scala
Labels: automerge

#4941 Replace AsyncWordSpec with WordSpec
  language-support/scala/codegen-sample-app/src/test/scala/com/digitalasset/codegen/ScalaCodeGenIT.scala
Labels: automerge

#4939 Do not require the user type '@'
  language-support/ts/codegen/src/TsCodeGenMain.hs
Labels: language

#4945 daml-assistant tests: fix flaky test on Windows
  daml-assistant/test/DA/Daml/Assistant/Tests.hs
Labels: automerge

#4951 Reduce repetition by reuse of 'modPath'
  language-support/ts/codegen/src/TsCodeGenMain.hs
Labels: language

#4886 Websocket stream to emit last seen offset instead of heartbeat message
  docs/source/json-api/index.rst
  language-support/ts/daml-ledger/index.ts
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
Labels: automerge

#4957 Rename package 'build-and-lint' to 'build-and-lint-test'
  language-support/ts/codegen/tests/BUILD.bazel
  language-support/ts/codegen/tests/build-and-lint.sh
  language-support/ts/codegen/tests/ts/build-and-lint-test/.gitignore
  language-support/ts/codegen/tests/ts/build-and-lint-test/jest.config.js
  language-support/ts/codegen/tests/ts/build-and-lint-test/jest.setup.js
  language-support/ts/codegen/tests/ts/build-and-lint-test/package.json
  language-support/ts/codegen/tests/ts/build-and-lint-test/src/__tests__/test.ts
  language-support/ts/codegen/tests/ts/build-and-lint-test/tsconfig.json
  language-support/ts/codegen/tests/ts/package.json
Labels: language

#4936 Update packaging docs.
  docs/source/daml/reference/packages.rst
  docs/source/upgrade/index.rst
Labels: automerge, language

#4965 Make client authentication in Sandbox configurable
  daml-assistant/daml-helper/test/DA/Daml/Helper/Test/Tls.hs
  docs/source/tools/sandbox.rst
  extractor/BUILD.bazel
  ledger/ledger-api-common/src/main/scala/com/digitalasset/ledger/api/tls/TlsConfiguration.scala
  ledger/ledger-api-test-tool/BUILD.bazel
  ledger/participant-state/kvutils/app/BUILD.bazel
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/cli/Cli.scala
Labels: automerge

#4970 Add functions to compute disclosure for different stream types
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/Disclosure.scala
Labels: automerge

#4974 fix: include assets for generated docs
  language-support/ts/typedoc.bzl
Labels: language

#4976 publish prerelease documentation
  ci/cron/src/Main.hs
Labels: automerge

#4952 DAML-LF: introduce HexString to represents base16 array encoding
  daml-lf/data/BUILD.bazel
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/IdString.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/Ref.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/transaction/BUILD.bazel
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/crypto/Hash.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/crypto/HashSpec.scala
Labels: component/daml-lf

#4942 [DAML-LF] specification for generic comparison.
  daml-lf/spec/daml-lf-1.rst
Labels: component/daml-lf

#4978 Mark JSON API tests flaky, failing on Windows rather consistently
  ledger-service/http-json/BUILD.bazel
Labels: automerge

#4980 Fix ledgerId cli help message by removing note about persistent stores.
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/cli/Cli.scala
Labels: automerge

#4893 DAML-LF: base GenMap on SortedMap
  compiler/damlc/tests/daml-test-files/Map.daml
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ValueTranslator.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/svalue/Ordering.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/svalue/EqualitySpec.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/svalue/OrderingSpec.scala
  extractor/src/test/suite/scala/com/digitalasset/extractor/GenMapSpec.scala
Labels: component/daml-lf

#4975 Change daml2ts code generation for DAML enums
  docs/source/daml2ts/index.rst
  language-support/ts/codegen/src/TsCodeGenMain.hs
  language-support/ts/codegen/tests/daml/Main.daml
  language-support/ts/codegen/tests/ts/build-and-lint-test/src/__tests__/test.ts
Labels: language

#4819 optional offset argument to WebSocket streams
  docs/source/json-api/index.rst
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsFetch.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/domain.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/HttpServiceTestFixture.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/WebsocketServiceIntegrationTest.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/util/InsertDeleteStepTest.scala
Labels: component/json-api

#4991 Allocate party JSON API endpoint
  docs/source/json-api/index.rst
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/EndpointsCompanion.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/LedgerClientJwt.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/PartiesService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/domain.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/JsonProtocol.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/AbstractHttpServiceIntegrationTest.scala
Labels: component/json-api

#4983 DAML-LF add support for generic comparison in archive
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Base.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Pretty.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/DecodeV1.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/EncodeV1.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/Simplifier.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Check.hs
  daml-lf/archive/src/main/protobuf/com/digitalasset/daml_lf_dev/daml_lf_1.proto
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ExprParser.scala
  daml-lf/parser/src/test/scala/com/digitalasset/daml/lf/testing/parser/ParsersSpec.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
Labels: component/daml-lf

#4993 Polished generated docs for daml-ledger
  language-support/ts/daml-ledger/index.ts
Labels: language

#5001 Create package.json if not there
  language-support/ts/codegen/src/TsCodeGenMain.hs
  language-support/ts/codegen/tests/src/DA/Test/Daml2Ts.hs
Labels: language

#5000 Typedoc comments for daml-types
  language-support/ts/daml-types/index.ts
Labels: language

#4940 sandbox: Avoid daemon threads in AbstractSandboxFixture.
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/AbstractSandboxFixture.scala
Labels: automerge

#4981 DAML-LF: GenMap Spec
  daml-lf/spec/daml-lf-1.rst
Labels: component/daml-lf

#4972 Deprecate useExercise
  language-support/ts/daml-react/README.md
  language-support/ts/daml-react/hooks.test.ts
  language-support/ts/daml-react/hooks.ts
Labels: language

#4990 Engine: drop old internal comparision builtin
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV1Spec.scala
  daml-lf/encoder/src/test/lf/Builtin_1.0_.lf
  daml-lf/encoder/src/test/lf/Builtin_1.1_1.3_1.6_.lf
  daml-lf/encoder/src/test/lf/Builtin_1.7_1.8_.lf
  daml-lf/encoder/src/test/lf/Builtin_1.dev_.lf
  daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/archive/testing/DamlLfEncoderTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ExprParser.scala
  daml-lf/parser/src/test/scala/com/digitalasset/daml/lf/testing/parser/ParsersSpec.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
Labels: component/daml-engine

#5019 Output whether command execution depends on time
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/CommandExecutor.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/CommandExecutorImpl.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/ApiSubmissionService.scala
Labels: automerge

#5021 Update checked in DAR to one built with DAML-LF 1.8
  compiler/damlc/tests/BUILD.bazel
  compiler/damlc/tests/dars/old-proj-0.13.51-1.dev.dar
  compiler/damlc/tests/dars/old-proj-0.13.55-snapshot.20200309.3401.0.6f8c3ad8-1.8.dar
  compiler/damlc/tests/src/DA/Test/Packaging.hs
Labels: automerge

#5025 Use new primitives in tagToEnum# conversion.
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion/UtilLF.hs
Labels: automerge

#5024 DAML-LF: change semantics of GenMap insert, lookup, and delete
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
Labels: automerge, component/daml-lf

#5020 DAML-LF forbid non-generic comparison in 1.dev
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV1Spec.scala
Labels: automerge, component/daml-lf

#5030 sandbox: Make sure we can get the details of an empty list of parties.
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/PartyManagement.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/JdbcLedgerDao.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoSpec.scala
Labels: automerge

#5010 kvutils: Don't supply execution contexts to ResourceOwners.
  ledger/ledger-on-memory/src/app/scala/com/daml/ledger/on/memory/Main.scala
  ledger/ledger-on-memory/src/main/scala/com/daml/ledger/on/memory/InMemoryLedgerReaderWriter.scala
  ledger/ledger-on-memory/src/test/suite/scala/com/daml/ledger/on/memory/InMemoryLedgerReaderWriterIntegrationSpec.scala
  ledger/ledger-on-sql/src/app/scala/com/daml/ledger/on/sql/SqlLedgerFactory.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/SqlLedgerReaderWriter.scala
  ledger/ledger-on-sql/src/test/lib/scala/com/daml/ledger/on/sql/MainWithEphemeralDirectory.scala
  ledger/ledger-on-sql/src/test/lib/scala/com/daml/ledger/on/sql/SqlLedgerReaderWriterIntegrationSpecBase.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/LedgerFactory.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/api/KeyValueParticipantState.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/api/KeyValueParticipantStateWriter.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/ParticipantStateIntegrationSpecBase.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/api/KeyValueParticipantStateWriterSpec.scala
  ledger/recovering-indexer-integration-tests/src/test/suite/scala/com/digitalasset/platform/indexer/RecoveringIndexerIntegrationSpec.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandboxnext/Runner.scala
Labels: automerge

#5034 Give repl tests a long timeout
  compiler/damlc/tests/BUILD.bazel
Labels: automerge

#5028 DAM-LF minor fixes relative to GenMap
  daml-lf/interface/src/test/scala/com/digitalasset/daml/lf/iface/TypeSpec.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
  extractor/src/test/suite/scala/com/digitalasset/extractor/GenMapSpec.scala
Labels: component/daml-engine, component/daml-lf

#5040 Add missing migration for events to H2
  ledger/sandbox/src/main/resources/db/migration/h2database/V13__Events_new_schema.sha256
  ledger/sandbox/src/main/resources/db/migration/h2database/V13__Events_new_schema.sql
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/JdbcLedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/LedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/MeteredLedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/TransactionWriter.scala
Labels: automerge

#5041 Allow reusing same ValidatingCommitter for multiple participants
  ledger/ledger-on-memory/src/main/scala/com/daml/ledger/on/memory/InMemoryLedgerReaderWriter.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/SqlLedgerReaderWriter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/Err.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/ValidatingCommitter.scala
Labels: automerge

#5044 daml2ts : Simplify docs, use mapped types for enums.
  docs/source/daml2ts/index.rst
  language-support/ts/codegen/src/TsCodeGenMain.hs
  language-support/ts/daml-types/index.ts
Labels: automerge, language

#5032 Basic documentation for simplified ledger integration API
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/Version.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/api/KeyValueParticipantState.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/api/LedgerEntry.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/api/LedgerReader.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/api/LedgerWriter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/api/package.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/package.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/LedgerStateAccess.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/ValidatingCommitter.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/ReadService.scala
Labels: automerge

#5039 Engine: Replace SResultMissingDefinition by SResultMissingPackage
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SResult.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/InterpreterTest.scala
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ScenarioRunner.scala
Labels: component/daml-engine

#5033 sandbox: Fail to start if a time mode is not explicitly specified.
  daml-assistant/daml-helper/src/DA/Daml/Helper/Run.hs
  daml-assistant/integration-tests/src/DA/Daml/Assistant/IntegrationTests.hs
  daml-script/test/BUILD.bazel
  docs/source/daml-script/index.rst
  docs/source/daml-script/template-root/daml.yaml.template
  docs/source/daml/intro/daml/daml-intro-7/daml.yaml.template
  docs/source/getting-started/quickstart.rst
  docs/source/tools/ledger-api-test-tool/index.rst
  docs/source/tools/sandbox.rst
  docs/source/triggers/index.rst
  docs/source/triggers/template-root/daml.yaml.template
  docs/source/upgrade/index.rst
  language-support/scala/examples/quickstart-scala/README.md
  language-support/scala/examples/quickstart-scala/daml.yaml
  ledger/sandbox/BUILD.bazel
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandboxnext/Runner.scala
  release/RELEASE.md
  templates/quickstart-java/daml.yaml.template
  templates/quickstart-scala/daml.yaml.template
  templates/skeleton/daml.yaml.template
  triggers/tests/BUILD.bazel
Labels: automerge

#5045 daml-assistant: Add `daml sandbox-next`.
  daml-assistant/daml-sdk/src/main/scala/com/digitalasset/daml/sdk/SdkMain.scala
  daml-assistant/integration-tests/src/DA/Daml/Assistant/IntegrationTests.hs
  release/sdk-config.yaml.tmpl
Labels: automerge

#5061 Modularize JdbcLedgerDaoSpec
  ledger/sandbox/BUILD.bazel
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoConfigurationSpec.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoContractKeysSpec.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoContractsSpec.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoDivulgenceSpec.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoFetchSerializationSpec.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoLedgerEntriesSpec.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoPackagesSpec.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoPartiesSpec.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoSuite.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoSpec.scala
Labels: automerge

#5063 Get openssl from msys2
  .dadew
  WORKSPACE
  dev-env/windows/manifests/openssl.json
  ledger/test-common/test-certificates/BUILD.bazel
Labels: automerge

#5066 Notes on updating release version
  release/RELEASE.md
Labels: automerge

#5048 [Engine] Add rank to Enum and Variant speedy value
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/SortedLookupList.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ValueTranslator.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/svalue/Equality.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/svalue/Hasher.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/svalue/Ordering.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/svalue/EqualitySpec.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/svalue/OrderingSpec.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Converter.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
  triggers/daml/Daml/Trigger/LowLevel.daml
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Converter.scala
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Runner.scala
Labels: component/daml-engine

#5069 Update instructions
  release/RELEASE.md
Labels: automerge

#5072 Add tests for completion reader in JdbcLedgerDaoSpec
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoCompletionsSpec.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoLedgerEntriesSpec.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoSuite.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoH2DatabaseSpec.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoPostgresqlSpec.scala
Labels: automerge

#5068 Engine: Use enum and variant svalues' enum and variant s rank
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/svalue/Equality.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/svalue/Hasher.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/svalue/Ordering.scala
Labels: component/daml-engine

#5079 2nd part of stabilizing flaky websocket integration test
  ledger-service/http-json/BUILD.bazel
  ledger-service/http-json/src/main/scala/com/digitalasset/http/domain.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/util/LedgerOffsetUtil.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/WebsocketServiceIntegrationTest.scala
Labels: component/json-api

#5078 StandaloneApiServer facility for lf-seeding opt-out
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Runner.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/StandaloneApiServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandboxnext/Runner.scala
Labels: automerge

#5082 java-binding: fix protobuf testing generator
  language-support/java/bindings/src/test/scala/com/daml/ledger/javaapi/data/Generators.scala
Labels: automerge

#5076 Infer daml-script package id from script
  compiler/repl-service/server/src/main/scala/com/digitalasset/daml/lf/ReplServiceMain.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Converter.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/RunnerMain.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/TestMain.scala
  daml-script/test/src/com/digitalasset/daml/lf/engine/script/test/TestRunner.scala
Labels: automerge

#5085 daml2ts: Simplify generated build config
  language-support/ts/codegen/src/TsCodeGenMain.hs
Labels: automerge

#5083 Engine: fix missing usage of Enum Svalue rank
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/svalue/Ordering.scala
Labels: component/daml-engine

#5086 sandbox: Fix warnings by making test variables private.
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/ImplicitPartyAdditionIT.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/TransactionMRTComplianceIT.scala
Labels: automerge

#5087 Support complex patterns in DAML REPL
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Repl.hs
  compiler/damlc/tests/src/DA/Test/Repl.hs
  docs/source/daml-repl/index.rst
Labels: automerge

#5093 Support partial patterns in DAML repl
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Repl.hs
  compiler/damlc/tests/src/DA/Test/Repl.hs
  daml-script/daml/Daml/Script.daml
  docs/source/daml-repl/index.rst
Labels: automerge

#5098 Switch to 'eitherDecode'
  language-support/ts/codegen/src/TsCodeGenMain.hs
  language-support/ts/codegen/tests/src/DA/Test/Daml2Ts.hs
Labels: automerge

#5096 Sandbox: Remove duplication in `JdbcIndexerFactory`.
  ledger/sandbox/src/main/scala/com/digitalasset/platform/indexer/JdbcIndexer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/indexer/StandaloneIndexerServer.scala
Labels: automerge

#5102 Getting started guide: Invoke daml start directly
  docs/source/app-dev/app-arch.rst
  docs/source/getting-started/first-feature.rst
  docs/source/getting-started/index.rst
Labels: automerge

#5074 fix 0.13.55 release notes typo
  docs/source/support/release-notes.rst
Labels: automerge

#5105 Remove bzip2 library
  BAZEL-haskell.md
  bazel-haskell-deps.bzl
  deps.bzl
Labels: automerge

#5091 Sandbox: Make JdbcLedgerDao create its own execution context.
  ledger/recovering-indexer-integration-tests/src/test/suite/scala/com/digitalasset/platform/indexer/RecoveringIndexerIntegrationSpec.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/ReadOnlySqlLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/indexer/JdbcIndexer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/DbDispatcher.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/JdbcLedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/LedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/MeteredLedgerDao.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoBackend.scala
Labels: automerge

#5103 Bump ghcide
  bazel-haskell-deps.bzl
  bazel_tools/haskell-ghcide-expose-compat.patch
  compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
  compiler/damlc/daml-ide/src/DA/Daml/LanguageServer.hs
  compiler/damlc/daml-ide/src/DA/Daml/LanguageServer/CodeLens.hs
  compiler/damlc/daml-ide/src/DA/Daml/LanguageServer/Visualize.hs
  compiler/damlc/daml-ide/src/DA/Daml/SessionTelemetry.hs
  compiler/damlc/daml-opts/daml-opts/DA/Daml/Options.hs
  compiler/damlc/lib/DA/Cli/Damlc/IdeState.hs
  compiler/damlc/tests/src/DA/Test/DamlcIntegration.hs
  compiler/lsp-tests/src/Main.hs
Labels: automerge

#5109 Bumping up http-json tests size to large, adding some extra logging
  ledger-service/http-json/BUILD.bazel
  ledger-service/http-json/src/test/scala/com/digitalasset/http/WebsocketServiceIntegrationTest.scala
Labels: automerge

#5104 Integrate transaction lookup on new schema in Ledger API
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/api/v1/event/EventOps.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/TransactionService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/LedgerBackedIndexService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/MeteredReadOnlyLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/TransactionConversion.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/inmemory/InMemoryLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/BaseLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/ReadOnlyLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/JdbcLedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/LedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/MeteredLedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/EventsTable.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/EventsTableTreeEvents.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/ScenarioLoadingITBase.scala
Labels: automerge

#5110 DAML script runner takes CompiledPackages
  compiler/repl-service/server/src/main/scala/com/digitalasset/daml/lf/ReplServiceMain.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Converter.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/RunnerMain.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/TestMain.scala
  daml-script/test/src/com/digitalasset/daml/lf/engine/script/test/TestRunner.scala
Labels: automerge

#5099 remove List and TextMap support from the JSON query language
  daml-lf/transaction-scalacheck/src/main/scala/com/digitalasset/daml/lf/value/TypedValueGenerators.scala
  docs/source/json-api/search-query-language.rst
  ledger-service/http-json/src/main/scala/com/digitalasset/http/query/ValuePredicate.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/query/ValuePredicateTest.scala
Labels: component/json-api

#5123 Update hlint
  compiler/damlc/daml-ide-core/dlint.yaml
  compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
  compiler/damlc/tests/daml-test-files/ActionFail.daml
  compiler/damlc/tests/daml-test-files/Generics.daml
  compiler/damlc/tests/daml-test-files/List.daml
  compiler/damlc/tests/daml-test-files/TypeVarShadowing2.daml
  compiler/lsp-tests/src/Main.hs
  stack-snapshot.yaml
Labels: automerge, language

#5124 sandbox | kvutils/app: Re-use the Materializer in the JdbcIndexer.
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Runner.scala
  ledger/recovering-indexer-integration-tests/src/test/suite/scala/com/digitalasset/platform/indexer/RecoveringIndexerIntegrationSpec.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/indexer/JdbcIndexer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/indexer/StandaloneIndexerServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandboxnext/Runner.scala
Labels: automerge

#5125 Sandbox: Simplify the ApiCommandService a little.
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/ApiServices.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/ApiCommandService.scala
Labels: automerge

#5129 Add missing truncations from reset service and fix perf tests
  ledger/sandbox-perf/src/perf/lib/scala/com/digitalasset/platform/sandbox/perf/LedgerFactories.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/JdbcLedgerDao.scala
Labels: automerge

#5131 Cleanup: InfiniteRetries is used only in sandox-perf
  ledger/sandbox-perf/src/perf/lib/scala/com/digitalasset/platform/sandbox/perf/InfiniteRetries.scala
  ledger/sandbox-perf/src/perf/lib/scala/com/digitalasset/platform/sandbox/perf/PerfBenchState.scala
Labels: automerge

#5113 Sandbox: Configurable metrics output.
  bazel-java-deps.bzl
  ledger/recovering-indexer-integration-tests/src/test/suite/scala/com/digitalasset/platform/indexer/RecoveringIndexerIntegrationSpec.scala
  ledger/sandbox/BUILD.bazel
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/StandaloneApiServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/configuration/ServerRole.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/JdbcIndex.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/ReadOnlySqlLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/indexer/JdbcIndexer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/indexer/StandaloneIndexerServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/cli/Cli.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/config/SandboxConfig.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/metrics/MetricsReporter.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/metrics/MetricsReporting.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/SandboxIndexAndWriteService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandboxnext/Runner.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/FlywayMigrations.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/DbDispatcher.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/HikariJdbcConnectionProvider.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/JdbcLedgerDao.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/LedgerResource.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoBackend.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/persistence/PostgresIT.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/ImplicitPartyAdditionIT.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/TransactionMRTComplianceIT.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedgerSpec.scala
  maven_install.json
Labels: automerge
