Repository digital-asset/daml, pull requests merged in 2020-11, with the labels that each got.

#7848 Speedy: Add more tests for multi record updates
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SpeedyTest.scala
Labels: automerge

#7857 LF: fix CidContainer2
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/CidContainer.scala
Labels: component/daml-lf

#7856 LF: drop legacy logic to infer transaction versions.
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionVersion.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionCoderSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionVersionSpec.scala
Labels: component/daml-lf

#7860 Bump test_sha (#7512)
  ci/cron/perf/test_sha
Labels: automerge

#7861 LF: remove allowed transaction versions from EngineConfig.
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/EngineConfig.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/EngineInfo.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineInfoTest.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/ApiServices.scala
Labels: component/daml-engine

#7865 Improve Ledger API versioning docs
  docs/source/support/compatibility.rst
Labels: automerge

#7864 Represent overlap modes at the type level.
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/DataDependencies.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion/MetadataEncoding.hs
  compiler/damlc/tests/daml-test-files/OverlapPragmas.daml
Labels: automerge

#7869 Release 1.7.0-snapshot.2020.11.03
  LATEST
Labels: Standard-Change, automerge

#7879 Update release rotation
  release/rotation
Labels: automerge

#7878 testing Docker signing
  LATEST
Labels: Standard-Change

#7883 LF: Rotate type checking of case expressions by 90 degrees
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/ValidationError.scala
Labels: component/daml-engine

#7785 LF: Kill deprecated Transaction versions
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Event.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/Preprocessor.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/TransactionPreprocessor.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/spec/transaction.rst
  daml-lf/transaction-test-lib/src/main/scala/lf/transaction/test/TransactionBuilder.scala
  daml-lf/transaction-test-lib/src/main/scala/lf/value/test/ValueGenerators.scala
  daml-lf/transaction/src/main/protobuf/com/daml/lf/transaction.proto
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Node.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/NodeInfo.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionCoder.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionVersion.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/VersionTimeline.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/ValueCoder.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionCoderSpec.scala
  ledger/participant-integration-api/src/main/scala/db/migration/postgres/V4_1__Collect_Parties.scala
  ledger/participant-integration-api/src/main/scala/platform/store/ActiveLedgerStateManager.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoDivulgenceSpec.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoSuite.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/Conversions.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/InputsAndEffects.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/KeyValueCommitting.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/TransactionCommitter.scala
Labels: component/daml-lf

#7880 Refactor trigger service test fixture
  triggers/service/BUILD.bazel
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceFixture.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceTest.scala
Labels: automerge

#7889 release instructions: firefox
  release/RELEASE.md
Labels: automerge

#7891 DALF Reader: Refactor decoder environment
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV1Spec.scala
Labels: automerge

#7890 Store access token in trigger dao
  triggers/service/src/main/resources/com/daml/lf/engine/trigger/db/migration/postgres/V2__Add_access_token.sha256
  triggers/service/src/main/resources/com/daml/lf/engine/trigger/db/migration/postgres/V2__Add_access_token.sql
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/dao/DbTriggerDao.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceTest.scala
Labels: automerge, component/trigger-service

#7904 Bump timeouts in build-and-lint’s
  language-support/ts/codegen/tests/ts/build-and-lint-test/src/__tests__/test.ts
Labels: automerge

#7906 newtype wrapper for access token in trigger service
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Server.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/dao/DbTriggerDao.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/package.scala
Labels: automerge

#7909 damlc: Don't warn on TypeOperators and UndecidableInstances
  compiler/damlc/daml-opts/daml-opts/DA/Daml/Options.hs
Labels: automerge

#7826 LF: redesign transaction validation to return mismatching nodes.
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Error.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Node.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionSpec.scala
Labels: component/daml-engine

#7897 Haskell: Add hlint rule to suggest foldl' over foldl
  .hlint.yaml
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Util.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/DecodeV1.hs
  compiler/daml-lf-verify/src/DA/Daml/LF/Verify/ReferenceSolve.hs
  compiler/daml-lf-verify/src/DA/Daml/LF/Verify/Solve.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
  compiler/damlc/daml-preprocessor/src/DA/Daml/Preprocessor/Records.hs
  language-support/hs/bindings/examples/chat/src/DA/Ledger/App/Chat/Interact.hs
  libs-haskell/da-hs-base/src/Control/Lens/Ast.hs
  libs-haskell/da-hs-base/src/Data/NameMap.hs
Labels: automerge

#7905 LF: fix test scala type checker
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/ValidationError.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/World.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/SpecUtil.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/TypingSpec.scala
Labels: component/daml-engine

#7895 mark participant-integration-api-tests flaky
  ledger/participant-integration-api/BUILD.bazel
Labels: component/ledger

#7920 Handle authorization failure in the auth middleware and trigger service
  triggers/service/auth/BUILD.bazel
  triggers/service/auth/src/main/scala/com/daml/oauth/middleware/Server.scala
  triggers/service/auth/src/main/scala/com/daml/oauth/server/Config.scala
  triggers/service/auth/src/main/scala/com/daml/oauth/server/Request.scala
  triggers/service/auth/src/main/scala/com/daml/oauth/server/Server.scala
  triggers/service/auth/src/test/scala/com/daml/oauth/middleware/Test.scala
  triggers/service/auth/src/test/scala/com/daml/oauth/middleware/TestFixture.scala
  triggers/service/auth/src/test/scala/com/daml/oauth/server/Client.scala
  triggers/service/auth/src/test/scala/com/daml/oauth/server/Test.scala
  triggers/service/auth/src/test/scala/com/daml/oauth/server/TestFixture.scala
  triggers/service/authentication.md
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Server.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceFixture.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceTest.scala
Labels: automerge

#7835 LF: version transaction node independently
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/ledger/BlindingTransaction.scala
  daml-lf/transaction-test-lib/src/main/scala/lf/transaction/test/TransactionBuilder.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Node.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionCoder.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionVersion.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionCoderSpec.scala
Labels: component/daml-lf

#7921 Add a warning for GHC.Types.Symbol
  compiler/damlc/daml-preprocessor/src/DA/Daml/Preprocessor.hs
  compiler/damlc/tests/daml-test-files/LFNameCollisions.daml
  compiler/damlc/tests/daml-test-files/SymbolKindWarnings.daml
Labels: automerge

#7820 slow down trigger on RESOURCE_EXHAUSTED failures
  libs-scala/scalatest-utils/src/main/scala/scalatest/AsyncForAll.scala
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Runner.scala
  triggers/tests/BUILD.bazel
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/test/RunnerSpec.scala
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/test/UnfoldStateSpec.scala
Labels: automerge

#7932 Delete the Docker image targets.
  WORKSPACE
  deps.bzl
  ledger/daml-on-sql/BUILD.bazel
  ledger/ledger-on-memory/BUILD.bazel
  ledger/ledger-on-memory/README.md
  ledger/sandbox-classic/BUILD.bazel
  ledger/sandbox/BUILD.bazel
Labels: automerge

#7939 Release SDK 1.7.0
  LATEST
Labels: Standard-Change, automerge

#7944 Avoid generating ill-formed kinds in DAML compiler
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Check.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Error.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
  compiler/damlc/tests/daml-test-files/KindChecking.daml
Labels: automerge

#7948 damlc: Tiny improvement to DAML-LF type checker
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Check.hs
Labels: automerge

#7952 Trigger auth failure
  triggers/service/auth/src/main/scala/com/daml/oauth/server/Main.scala
  triggers/service/auth/src/main/scala/com/daml/oauth/server/Server.scala
  triggers/service/auth/src/test/scala/com/daml/oauth/middleware/Resources.scala
  triggers/service/auth/src/test/scala/com/daml/oauth/server/Resources.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceFixture.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceTest.scala
Labels: automerge

#7956 Allow for lets before letrec transformation.
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion/UtilGHC.hs
  compiler/damlc/tests/daml-test-files/IndirectLetRec.daml
Labels: automerge

#7954 daml ledger: add a max-inbound-message-size flag for grpc
  daml-assistant/daml-helper/BUILD.bazel
  daml-assistant/daml-helper/src/DA/Daml/Helper/Ledger.hs
  daml-assistant/daml-helper/src/DA/Daml/Helper/Main.hs
  daml-assistant/daml-helper/test/DA/Daml/Helper/Test/Ledger.hs
  language-support/hs/bindings/BUILD.bazel
  language-support/hs/bindings/src/DA/Ledger.hs
Labels: automerge

#7955 Include listKnownParties in DAML Script docs
  daml-script/test/daml-script-test-runner.sh
  docs/source/daml-script/index.rst
  docs/source/daml-script/template-root/src/ScriptExample.daml
Labels: automerge

#7947 LF: Make node validation taking into account version
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Error.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/transaction-test-lib/src/main/scala/lf/value/test/ValueGenerators.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionVersion.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionVersionSpec.scala
Labels: component/daml-lf

#7936 LF: Check DAML-LF pattern matches for exhaustiveness
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/ValidationError.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/TypingSpec.scala
Labels: component/daml-lf

#7959 LF: few more tests for pattern matching exhaustiveness
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/TypingSpec.scala
Labels: automerge, component/daml-engine

#7969 Make GHC recognise our ($) operator.
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
  compiler/damlc/daml-prim-src/GHC/Base.daml
  compiler/damlc/daml-stdlib-src/DA/Internal/Prelude.daml
  compiler/damlc/tests/daml-test-files/ApplicativeDo.daml
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/TestMain.scala
  daml-script/test/daml-script-test-runner.sh
  daml-script/test/src/test-utils/com/daml/lf/engine/script/test/AbstractFuncIT.scala
  docs/source/daml/intro/11_Testing.rst
Labels: automerge

#7958 update instructions for working on ghc-lib
  ghc-lib/new-working-on-ghc-lib.md
  ghc-lib/working-on-ghc-lib.md
Labels: automerge

#7981 Implement token refresh in auth middleware
  libs-scala/adjustable-clock/BUILD.bazel
  libs-scala/adjustable-clock/src/main/scala/com/digitalasset/clock/AdjustableClock.scala
  triggers/service/auth/BUILD.bazel
  triggers/service/auth/src/main/scala/com/daml/oauth/middleware/README.md
  triggers/service/auth/src/main/scala/com/daml/oauth/middleware/Request.scala
  triggers/service/auth/src/main/scala/com/daml/oauth/middleware/Server.scala
  triggers/service/auth/src/main/scala/com/daml/oauth/server/Config.scala
  triggers/service/auth/src/main/scala/com/daml/oauth/server/Request.scala
  triggers/service/auth/src/main/scala/com/daml/oauth/server/Server.scala
  triggers/service/auth/src/test/scala/com/daml/oauth/middleware/Resources.scala
  triggers/service/auth/src/test/scala/com/daml/oauth/middleware/Test.scala
  triggers/service/auth/src/test/scala/com/daml/oauth/middleware/TestFixture.scala
  triggers/service/auth/src/test/scala/com/daml/oauth/server/Client.scala
  triggers/service/auth/src/test/scala/com/daml/oauth/server/Resources.scala
  triggers/service/auth/src/test/scala/com/daml/oauth/server/Test.scala
  triggers/service/auth/src/test/scala/com/daml/oauth/server/TestFixture.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceFixture.scala
Labels: automerge, component/trigger-service

#7983 Split trigger service tests into a test suite
  triggers/service/BUILD.bazel
  triggers/service/src/test-suite/scala/com/daml/lf/engine/trigger/ImmutableMigrationsSpec.scala
  triggers/service/src/test-suite/scala/com/daml/lf/engine/trigger/ServiceConfigTest.scala
  triggers/service/src/test-suite/scala/com/daml/lf/engine/trigger/TriggerServiceTestAuth.scala
  triggers/service/src/test-suite/scala/com/daml/lf/engine/trigger/TriggerServiceTestAuthWithDb.scala
  triggers/service/src/test-suite/scala/com/daml/lf/engine/trigger/TriggerServiceTestInMem.scala
  triggers/service/src/test-suite/scala/com/daml/lf/engine/trigger/TriggerServiceTestWithDb.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceTest.scala
Labels: automerge, component/trigger-service

#7975 sandbox: When testing the reset service, wait for the ledger config.
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/LedgerConfigProvider.scala
  ledger/sandbox-classic/BUILD.bazel
  ledger/sandbox-classic/src/test/resources/logback-test.xml
  ledger/sandbox-common/BUILD.bazel
  ledger/sandbox-common/src/test/lib/scala/platform/sandbox/services/reset/ResetServiceITBase.scala
  ledger/sandbox-common/src/test/resources/com/daml/platform/sandbox/logback-test.base.xml
  ledger/sandbox/BUILD.bazel
  ledger/sandbox/src/test/resources/logback-test.xml
  ledger/test-common/src/main/scala/com/digitalasset/platform/testing/StreamConsumer.scala
  ledger/test-common/src/main/scala/com/digitalasset/platform/testing/TimeBoundObserver.scala
Labels: automerge

#7976 document name mangling from DAML to DAML-LF
  docs/source/app-dev/daml-lf-translation.rst
Labels: component/documentation

#7997 sandbox-classic: Make ScenarioLoadingIT tests async.
  ledger/sandbox-classic/BUILD.bazel
  ledger/sandbox-classic/src/test/lib/scala/platform/sandbox/ScenarioLoadingITBase.scala
Labels: automerge

#7991 resources: Release sequenced resources in parallel.
  libs-scala/resources/BUILD.bazel
  libs-scala/resources/src/main/scala/com/digitalasset/resources/ResourceFactories.scala
  libs-scala/resources/src/test/suite/scala/com/digitalasset/resources/ResourceOwnerSpec.scala
Labels: automerge

#7893 DAML-LF: Add interning for type to DAML-LF 1.dev
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/DecodeV1.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/EncodeV1.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/Error.hs
  compiler/damlc/tests/daml-test-files/FunctionalDependencies.daml
  compiler/damlc/tests/daml-test-files/InternedTypes.daml
  compiler/damlc/tests/daml-test-files/OverlapPragmas.daml
  compiler/damlc/tests/src/query-lf-interned.jq
  compiler/damlc/tests/src/query-lf-non-interned.jq
  daml-lf/archive/src/main/protobuf/com/daml/daml_lf_dev/daml_lf_1.proto
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV1Spec.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
  libs-haskell/da-hs-base/src/Data/Vector/Extended.hs
Labels: automerge

#7992 Hide docs of Daml.Trigger.Internal
  triggers/daml/Daml/Trigger/Internal.daml
Labels: automerge

#8002 extractor: Use pattern matching to get better error messages.
  extractor/src/test/suite/scala/com/digitalasset/extractor/VeryLargeArchiveSpec.scala
Labels: automerge

#8007 sandbox-common: Use a single sandbox for all the reset service tests.
  ledger/sandbox-common/src/test/lib/scala/platform/sandbox/services/reset/ResetServiceITBase.scala
Labels: automerge

#8006 Rewrite multiple binding lets sequentially.
  compiler/damlc/daml-preprocessor/src/DA/Daml/Preprocessor.hs
  compiler/damlc/tests/daml-test-files/SemanticsEvalOrder.daml
  compiler/damlc/tests/daml-test-files/SequentialLet.daml
  compiler/damlc/tests/daml-test-files/SequentialLetSig.daml
  compiler/damlc/tests/daml-test-files/SequentialLetSigUnbound.daml
  compiler/damlc/tests/daml-test-files/SequentialLetSigWrongType.daml
Labels: automerge

#7922 Support choice observers in 1.dev
  ci/da-ghc-lib/compile.yml
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
  compiler/damlc/daml-stdlib-src/DA/Internal/Desugar.daml
  compiler/damlc/tests/daml-test-files/ChoiceObservers.daml
  compiler/damlc/tests/daml-test-files/DiscloseViaChoiceObserver.daml
  compiler/damlc/tests/daml-test-files/MoreChoiceObserverDivulgence.daml
  daml-lf/spec/daml-lf-1.rst
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
  docs/BUILD.bazel
  docs/source/concepts/glossary.rst
  docs/source/daml/code-snippets-dev/Structure.daml
  docs/source/daml/reference/choices.rst
  docs/source/daml/reference/structure.rst
  rules_daml/daml.bzl
  stack-snapshot.yaml
  stackage_snapshot.json
  stackage_snapshot_windows.json
Labels: automerge

#8010 DAML-LF spec: Fix some bad markup for links
  daml-lf/spec/daml-lf-1.rst
Labels: automerge

#7854 Minor improvements to getting started doc
  docs/source/getting-started/index.rst
Labels: automerge

#8013 Use a NonEmpty list in makeLocalValBinds.
  compiler/damlc/daml-preprocessor/src/DA/Daml/Preprocessor.hs
Labels: automerge

#7998 Updated documentation of CommandClient.trackCommands(Unbounded)
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/services/commands/CommandClient.scala
Labels: automerge-after-rebase

#7850 fix section link in docs
  docs/source/json-api/index.rst
Labels: automerge, component/documentation

#8030 kvutils/tools: Fix the integrity checker so it compares state updates.
  ledger/participant-state/kvutils/tools/integrity-check/src/main/scala/ledger/participant/state/kvutils/tools/integritycheck/LogAppendingReadServiceFactory.scala
  ledger/participant-state/kvutils/tools/integrity-check/src/test/scala/ledger/participant/state/kvutils/tools/integritycheck/LogAppendingReadServiceFactorySpec.scala
Labels: automerge

#8044 Bump curl on Windows
  .dadew
  dev-env/windows/manifests/curl-7.73.0.json
Labels: automerge

#8038 kvutils/tools: Verify that write sets are readable. [KVL-493]
  ledger/participant-state/kvutils/tools/integrity-check/src/main/scala/ledger/participant/state/kvutils/tools/integritycheck/LogAppendingCommitStrategySupport.scala
  ledger/participant-state/kvutils/tools/integrity-check/src/main/scala/ledger/participant/state/kvutils/tools/integritycheck/Main.scala
  ledger/participant-state/kvutils/tools/integrity-check/src/test/scala/ledger/participant/state/kvutils/tools/integritycheck/LogAppendingCommitStrategySupportSpec.scala
  ledger/participant-state/kvutils/tools/src/main/scala/ledger/participant/state/kvutils/tools/integritycheck/CommitStrategySupport.scala
  ledger/participant-state/kvutils/tools/src/main/scala/ledger/participant/state/kvutils/tools/integritycheck/IntegrityChecker.scala
  ledger/participant-state/kvutils/tools/src/test/scala/ledger/participant/state/kvutils/tools/integritycheck/Builders.scala
  ledger/participant-state/kvutils/tools/src/test/scala/ledger/participant/state/kvutils/tools/integritycheck/IntegrityCheckerSpec.scala
Labels: automerge

#8049 LF: clean LF encoder from deprecated LF versions
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/EncodeV1.scala
  daml-lf/encoder/src/test/lf/Any_1.7_1.8_1.dev_.lf
  daml-lf/encoder/src/test/lf/Builtin_1.0_.lf
  daml-lf/encoder/src/test/lf/Builtin_1.6_.lf
  daml-lf/encoder/src/test/lf/Enum_all_.lf
  daml-lf/encoder/src/test/lf/Option_all_.lf
  daml-lf/encoder/src/test/lf/TextMap_all_.lf
  daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/archive/testing/DamlLfEncoderTest.scala
Labels: component/daml-engine

#8050 DAML-LF spec: Some minor fixes
  daml-lf/spec/daml-lf-1.rst
Labels: automerge

#8059 Bump timeout in integration tests
  daml-assistant/integration-tests/src/DA/Daml/Assistant/IntegrationTests.hs
Labels: automerge

#5915 add default capability to macos
  azure-pipelines.yml
  ci/cron/daily-compat.yml
  infra/macos/3-running-box/init.sh
Labels: Standard-Change

#8064 Get lsof from dev-env
  dev-env/bin/lsof
  nix/default.nix
Labels: automerge

#8036 Do tail-calls properly in Speedy.
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/PrettyLightweight.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
Labels: automerge, component/daml-engine

#8070 Bazel: Document attaching the Java sources in IntelliJ.
  BAZEL.md
Labels: automerge

#8057 participant-integration-api: Add unit tests for LedgerConfigProvider.
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/LedgerConfigProvider.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/services/LedgerConfigProviderSpec.scala
Labels: automerge

#8073 minor docs edits
  docs/source/daml/reference/packages.rst
Labels: automerge

#8071 LF: drop support for Exercise's actors
  compiler/scenario-service/client/src/DA/Daml/LF/PrettyScenario.hs
  compiler/scenario-service/protos/scenario_service.proto
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/EncodeV1.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/CheckAuthorization.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/AstRewriter.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ExprParser.scala
  daml-lf/parser/src/test/scala/com/digitalasset/daml/lf/testing/parser/ParsersSpec.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/ledger/Authorization.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/traversable/ExprTraversable.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/traversable/TypeTraversable.scala
Labels: component/daml-lf

#8075 Add party management service to the services page, targeting #8027.
  docs/source/app-dev/services.rst
Labels: component/documentation

#8076 Compiler: Clean compiler from from Exercise's actors
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Alpha.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Base.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/FreeVars.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Pretty.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Recursive.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Subst.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/DecodeV1.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/EncodeV1.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Check.hs
  compiler/daml-lf-verify/src/DA/Daml/LF/Verify/Generate.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion/Primitives.hs
  compiler/damlc/daml-visual/src/DA/Daml/Visual.hs
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ContractDiscriminatorFreshnessCheckSpec.scala
Labels: component/daml-lf

#8077 LF: clean scala Decoder test.
  daml-lf/archive/BUILD.bazel
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV1Spec.scala
Labels: component/daml-engine

#8084 Bazel: Factor out logic around Protobuf JARs. [KVL-714]
  bazel_tools/java.bzl
  bazel_tools/proto.bzl
  compiler/scenario-service/server/BUILD.bazel
  daml-assistant/integration-tests/BUILD.bazel
  daml-lf/archive/BUILD.bazel
  daml-lf/archive/README.md
  daml-lf/encoder/BUILD.bazel
  daml-lf/engine/BUILD.bazel
  daml-lf/interface/BUILD.bazel
  daml-lf/interpreter/perf/BUILD.bazel
  daml-lf/repl/BUILD.bazel
  daml-lf/scenario-interpreter/BUILD.bazel
  daml-lf/transaction/BUILD.bazel
  daml-script/runner/BUILD.bazel
  daml-script/test/BUILD.bazel
  docs/BUILD.bazel
  language-support/java/codegen/BUILD.bazel
  language-support/scala/codegen/BUILD.bazel
  ledger-service/utils/BUILD.bazel
  ledger/participant-integration-api/BUILD.bazel
  ledger/participant-state-index/BUILD.bazel
  ledger/participant-state-metrics/BUILD.bazel
  ledger/participant-state/BUILD.bazel
  ledger/participant-state/kvutils/BUILD.bazel
  ledger/participant-state/kvutils/app/BUILD.bazel
  ledger/participant-state/kvutils/tools/BUILD.bazel
  ledger/participant-state/protobuf/BUILD.bazel
  ledger/sandbox-classic/BUILD.bazel
  ledger/sandbox-common/BUILD.bazel
  ledger/sandbox-perf/BUILD.bazel
  ledger/sandbox/BUILD.bazel
  navigator/backend/BUILD.bazel
  release/artifacts.yaml
  release/util.bzl
  triggers/runner/BUILD.bazel
  triggers/service/BUILD.bazel
  triggers/tests/BUILD.bazel
Labels: automerge

#8088 Fix the paths of the files in protobufs.zip.
  bazel_tools/proto.bzl
  daml-lf/archive/BUILD.bazel
Labels: automerge

#8063 Refactor continuations for speedy machine
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
Labels: component/daml-engine

#8069 LF: require type interning for 1.dev
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV1Spec.scala
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/EncodeV1.scala
  daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/archive/testing/DamlLfEncoderTest.scala
Labels: component/daml-lf

#8068 First batch of formal exception semantics
  daml-lf/spec/daml-lf-1.rst
Labels: automerge

#8086 LF: Optimize LF ID validators
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/IdString.scala
Labels: component/daml-engine

#8091 ledger-api: Use `proto_jars`, and publish Protobuf sources separately from the Scala classes. [KVL-714]
  bazel_tools/proto.bzl
  daml-lf/archive/BUILD.bazel
  language-support/java/bindings-rxjava/BUILD.bazel
  language-support/java/bindings/BUILD.bazel
  language-support/scala/bindings/BUILD.bazel
  ledger-api/grpc-definitions/BUILD.bazel
  ledger-api/testing-utils/BUILD.bazel
  ledger/ledger-api-akka/BUILD.bazel
  ledger/ledger-api-auth/BUILD.bazel
  ledger/participant-state-index/BUILD.bazel
  ledger/participant-state/kvutils/BUILD.bazel
  ledger/test-common/BUILD.bazel
  libs-scala/grpc-utils/BUILD.bazel
  release/artifacts.yaml
  release/util.bzl
Labels: automerge

#8095 ledger-api: Remove unused imports from the Proto files.
  ledger-api/grpc-definitions/com/daml/ledger/api/v1/admin/participant_pruning_service.proto
  ledger-api/grpc-definitions/com/daml/ledger/api/v1/value.proto
Labels: automerge

#8097 release: Remove "plain" JARs from the release application.
  release/src/Util.hs
Labels: automerge

#8083 LF: drop support from deprecated LF versions
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/DecodeV1.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/EncodeV1.hs
  daml-lf/archive/src/main/protobuf/com/daml/daml_lf_dev/daml_lf_1.proto
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/Reader.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV1Spec.scala
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/EncodeV1.scala
  daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/archive/testing/EncodeV1Spec.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageMajorVersion.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
  daml-lf/language/src/test/scala/com/digitalasset/daml/lf/language/LanguageVersionSpec.scala
  daml-lf/transaction/src/main/protobuf/com/daml/lf/transaction.proto
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/VersionTimeline.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Serializability.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/SerializabilitySpec.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/TypingSpec.scala
  language-support/java/codegen/BUILD.bazel
  language-support/java/codegen/src/it/dar/integration-tests-model-1.0.dar
  language-support/java/codegen/src/it/dar/integration-tests-model-1.1.dar
  language-support/java/codegen/src/it/dar/integration-tests-model-1.5.dar
Labels: component/daml-lf

#8100 Exclude tests relying on 1.dev
  compatibility/bazel_tools/testing.bzl
Labels: automerge

#8108 LF: clean spec from deprecated version
  daml-lf/archive/src/main/protobuf/com/daml/daml_lf_dev/daml_lf_1.proto
  daml-lf/spec/daml-lf-1.rst
Labels: component/daml-lf

#8078 upgrade rules_nixpkgs
  WORKSPACE
  bazel_tools/nixpkgs-disable-http2.patch
  bazel_tools/nixpkgs-hermetic-cc-toolchain.patch
  compatibility/WORKSPACE
  compatibility/deps.bzl
  deps.bzl
Labels: automerge

#8109 Support listKnownParties in DAML Script over JSON API
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/LedgerInteraction.scala
  daml-script/test/daml/ScriptTest.daml
  daml-script/test/src/com/digitalasset/daml/lf/engine/script/test/JsonApiIt.scala
Labels: automerge

#7993 speed up sync fetch by contract ID/key with postgres and faster in-memory filtering
  ledger-service/db-backend/src/main/scala/com/digitalasset/http/dbbackend/Queries.scala
  ledger-service/http-json/src/it/scala/http/AbstractHttpServiceIntegrationTest.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/dbbackend/ContractDao.scala
Labels: component/json-api
