Repository digital-asset/daml, pull requests merged in 2020-06, with the labels that each got.

#6104 Special case atomic expressions in the functional-position of application
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Classify.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/PrettyLightweight.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
Labels: automerge, component/daml-engine

#6180 Trigger record status
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/ServiceMain.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/ServiceTest.scala
Labels: automerge

#6184 DAML profiler: Use non-blocking IO for writing profiles
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Profile.scala
Labels: automerge

#6191 Switch to timestamps not strings
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Response.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/ServiceMain.scala
Labels: automerge

#6194 Document how to use compatibility sub-dir
  compatibility/README.md
Labels: automerge

#6181 Remove older isLoading function calls.
  language-support/ts/daml-react/README.md
Labels: automerge

#6187 Enable caching of immutable state values only
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/BatchedValidatingCommitter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/batch/BatchedSubmissionValidatorFactory.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/caching/AlwaysCacheUpdatePolicy.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/caching/CacheUpdatePolicy.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/caching/CachingCommitStrategy.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/caching/CachingDamlLedgerStateReader.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/caching/ImmutablesOnlyCacheUpdatePolicy.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/TestHelper.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/caching/AlwaysCacheUpdatePolicySpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/caching/CachingCommitStrategySpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/caching/CachingDamlLedgerStateReaderSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/caching/ImmutablesOnlyCacheUpdatePolicySpec.scala
Labels: automerge

#6153 Trigger service: use DB for start and list commands
  triggers/service/BUILD.bazel
  triggers/service/daml-platform.sh
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/ServiceMain.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/TriggerDao.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/ServiceTest.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceFixture.scala
Labels: automerge

#6073 replace NodeExercises#controllers with controllersDifferFromActors boolean
  compiler/scenario-service/client/src/DA/Daml/LF/PrettyScenario.hs
  compiler/scenario-service/protos/scenario_service.proto
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Blinding.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/Preprocessor.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/TransactionPreprocessor.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/types/Ledger.scala
  daml-lf/transaction-scalacheck/src/main/scala/com/digitalasset/daml/lf/value/ValueGenerators.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Node.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionCoder.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionSpec.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoSuite.scala
Labels: component/daml-lf

#6185 Optimize the execution of Saturated Builtin Applications in Speedy.
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Classify.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/PrettyLightweight.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
Labels: automerge, component/daml-engine

#6201 1.2.0-snapshot.20200602.4310.0.1c18058f
  LATEST
Labels: Standard-Change

#6172 move event witnesses directly into the participant_events table
  ledger/sandbox/src/main/resources/db/migration/h2database/V22__Add_witnesses_to_participant_events.sha256
  ledger/sandbox/src/main/resources/db/migration/h2database/V22__Add_witnesses_to_participant_events.sql
  ledger/sandbox/src/main/resources/db/migration/postgres/V33__Add_witnesses_to_participant_events.sha256
  ledger/sandbox/src/main/resources/db/migration/postgres/V33__Add_witnesses_to_participant_events.sql
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/JdbcLedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/EventsTableFlatEvents.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/EventsTableFlatEventsRangeQueries.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/EventsTableInsert.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/EventsTableQueries.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/EventsTableTreeEvents.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/RawBatch.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/SqlFunctions.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/TransactionsReader.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/TransactionsWriter.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/WitnessesTable.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/persistence/PostgresIT.scala
Labels: component/ledger

#6196 @daml/react: Initialize loading indicators of hooks with true
  language-support/ts/daml-react/hooks.ts
Labels: automerge

#6207 Release new snapshot
  LATEST
Labels: Standard-Change

#6212 Refinements to error test DAMLs
  triggers/service/test-model/ErrorTrigger.daml
  triggers/service/test-model/LowLevelErrorTrigger.daml
Labels: automerge, language

#6213 Only force the result of GeneratePackageMap to WHNF
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Repl.hs
  compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
  compiler/damlc/daml-rule-types/src/Development/IDE/Core/RuleTypes/Daml.hs
  compiler/damlc/lib/DA/Cli/Damlc/Packaging.hs
Labels: automerge

#6217 Make the stop endpoint more robust and test
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/ServiceMain.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/ServiceTest.scala
Labels: automerge, language

#6211 Introduce CLI option for input buffer size
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/cli/Cli.scala
Labels: automerge

#6216 factor common structure in RawBatch.Event
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/EventsTableInsert.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/RawBatch.scala
Labels: component/ledger

#6227 Sandbox: Fix build instructions in README
  ledger/sandbox/README.md
Labels: automerge

#6223 DAML-LF: deprecate Transaction.TContractId
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/LargeTransactionTest.scala
  daml-lf/transaction-scalacheck/src/main/scala/com/digitalasset/daml/lf/value/ValueGenerators.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionCoderSpec.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/execution/LedgerTimeAwareCommandExecutor.scala
Labels: component/daml-lf

#6239 Speedy computational benchmarks.
  daml-lf/interpreter/perf/BUILD.bazel
  daml-lf/interpreter/perf/daml/JsonParser.daml
  daml-lf/interpreter/perf/src/main/scala/com/daml/lf/explore/LoadDarFunction.scala
  daml-lf/interpreter/perf/src/main/scala/com/daml/lf/explore/SpeedTestJsonParser.scala
  daml-lf/interpreter/perf/src/main/scala/com/daml/lf/explore/SpeedTestNfib.scala
Labels: component/daml-engine

#6229 Engine: Centralize the place where value version is inferred.
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SError.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/ValueVersion.scala
Labels: component/daml-engine

#6246 Trigger service style touch ups
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/ServiceMain.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/ServiceTest.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceFixture.scala
Labels: automerge

#6247 Trigger Service: Tweak error handling in listTriggers helper
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/ServiceMain.scala
Labels: automerge

#6190 shorten Windows CI username
  build.ps1
  infra/vsts_agent_windows.tf
Labels: Standard-Change

#6244 Refactor migrations to allow to easily add new test models
  compatibility/sandbox-migration/BUILD
  compatibility/sandbox-migration/SandboxMigrationRunner.hs
  compatibility/sandbox-migration/daml/ProposeAccept.daml
  compatibility/sandbox-migration/src/com/daml/Application.scala
  compatibility/sandbox-migration/src/com/daml/Config.scala
  compatibility/sandbox-migration/src/com/daml/JsonProtocol.scala
  compatibility/sandbox-migration/src/com/daml/MigrationStep.scala
  compatibility/sandbox-migration/src/com/daml/ProposeAccept.scala
Labels: automerge

#6240 Enable profiling builds of Cabal packages
  bazel_tools/haskell-pgmc.patch
  bazel_tools/haskell-profiling.patch
  compatibility/deps.bzl
  deps.bzl
Labels: automerge

#6256 DAML-LF: factorize ScenarioNodeId and EventId
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SError.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/types/Ledger.scala
  ledger/sandbox/BUILD.bazel
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/transaction/ApiTransactionService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/events/EventIdFormatter.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/events/package.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/TransactionConversion.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/Ledger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/ScenarioLoader.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/JdbcLedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/RawBatch.scala
  ledger/sandbox/src/main/scala/db/migration/postgres/V25__Backfill_Participant_Events.scala
  ledger/sandbox/src/main/scala/db/migration/postgres/V29__Fix_participant_events.scala
  ledger/sandbox/src/main/scala/db/migration/postgres/V2_1__Rebuild_Acs.scala
  ledger/sandbox/src/main/scala/db/migration/postgres/v25_backfill_participant_events/V25EventsTableInsert.scala
  ledger/sandbox/src/main/scala/db/migration/postgres/v25_backfill_participant_events/V25TransactionsWriter.scala
  ledger/sandbox/src/main/scala/db/migration/postgres/v29_fix_participant_events/V29EventsTableInsert.scala
  ledger/sandbox/src/main/scala/db/migration/postgres/v29_fix_participant_events/V29TransactionsWriter.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoSuite.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoTransactionTreesSpec.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/events/TransactionIdWithIndexSpec.scala
Labels: component/daml-lf, component/ledger

#6263 add sha256sums to releases
  azure-pipelines.yml
Labels: automerge

#6264 DAML-LF: split com.daml.lf.types.Ledger
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Context.scala
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Blinding.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/ledger/EnrichedTransaction.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/scenario/ScenarioLedger.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SError.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/types/Ledger.scala
  daml-lf/repl/src/main/scala/com/digitalasset/daml/lf/repl/testing/Main.scala
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ScenarioRunner.scala
  daml-lf/scenario-interpreter/src/perf/benches/scala/com/digitalasset/daml/lf/speedy/perf/CollectAuthority.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/ledger/Authorization.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/ledger/EventId.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/ledger/package.scala
  ledger/sandbox/BUILD.bazel
  ledger/sandbox/src/main/scala/com/digitalasset/platform/events/package.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/TransactionConversion.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/ScenarioLoader.scala
Labels: component/daml-engine

#6268 Adjust status code response for unauthorized
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/ServiceMain.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/TriggerRunnerImpl.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/ServiceTest.scala
Labels: automerge

#6269 Fix test descriptions
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/ServiceTest.scala
Labels: automerge

#6267 Fix perf sha
  ci/cron/daily-compat.yml
  ci/cron/perf/test_sha
  ci/daily_tell_slack.yml
Labels: automerge

#6143 DAML-LF: discriminate submitted and committed transactions
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/KeyValueConsumption.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/KeyValueSubmission.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/TransactionCommitter.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/ParticipantStateIntegrationSpecBase.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/KVTest.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/api/KeyValueParticipantStateWriterSpec.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/package.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/execution/CommandExecutionResult.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/ApiSubmissionService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/TransactionCommitter.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/JdbcLedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/ContractsTable.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/EventsTableInsert.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/PostCommitValidation.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/TransactionsWriter.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/package.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoSuite.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/store/dao/events/TransactionBuilder.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/TransactionTimeModelComplianceIT.scala
Labels: component/daml-lf

#6270 Fix caching on Linux and MacOS
  ci/configure-bazel.sh
Labels: automerge

#6272 Indexer: Fix function newRoots in TransactionConversion.
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/TransactionConversion.scala
Labels: component/ledger

#6277 damlc inspect: Clean up the DAML-LF pretty printer
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Pretty.hs
  compiler/damlc/lib/DA/Cli/Damlc.hs
Labels: automerge

#6274 damlc: Avoid immediately invoked closures
  compiler/daml-lf-tools/src/DA/Daml/LF/Simplifier.hs
  compiler/damlc/tests/daml-test-files/SimplifyAppliedLambda.daml
Labels: automerge

#6280 damlc inspect: Add output modes with less details
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Pretty.hs
Labels: automerge

#6283 release: Faster release process locally.
  release/src/Main.hs
  release/src/Maven.hs
  release/src/Upload.hs
  release/src/Util.hs
Labels: automerge

#6282 Release SDK 1.2.0
  LATEST
  docs/source/support/release-notes.rst
Labels: Standard-Change, automerge

#6294 Release 1.3.0-snapshot.20200610.4412.0.0544323d
  LATEST
Labels: Standard-Change

#6278 Ledger: use EventId instead of LedgerString
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionCoder.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/ledger/package.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/participant/util/LfEngineToApi.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/TransactionService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/transaction/ApiTransactionService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/events/package.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/TransactionConversion.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/Ledger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/ScenarioLoader.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/inmemory/InMemoryLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/Conversions.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/JdbcLedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/EventsTable.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/LfValueTranslation.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/RawBatch.scala
  ledger/sandbox/src/main/scala/db/migration/h2database/V5_1__Populate_Event_Data.scala
  ledger/sandbox/src/main/scala/db/migration/postgres/V10_1__Populate_Event_Data.scala
  ledger/sandbox/src/main/scala/db/migration/postgres/V25__Backfill_Participant_Events.scala
  ledger/sandbox/src/main/scala/db/migration/postgres/V29__Fix_participant_events.scala
  ledger/sandbox/src/main/scala/db/migration/postgres/V2_1__Rebuild_Acs.scala
  ledger/sandbox/src/main/scala/db/migration/postgres/v25_backfill_participant_events/V25EventsTableInsert.scala
  ledger/sandbox/src/main/scala/db/migration/postgres/v25_backfill_participant_events/V25TransactionsWriter.scala
  ledger/sandbox/src/main/scala/db/migration/postgres/v25_backfill_participant_events/V25WitnessesTable.scala
  ledger/sandbox/src/main/scala/db/migration/postgres/v29_fix_participant_events/V29EventsTableInsert.scala
  ledger/sandbox/src/main/scala/db/migration/postgres/v29_fix_participant_events/V29TransactionsWriter.scala
  ledger/sandbox/src/main/scala/db/migration/postgres/v29_fix_participant_events/V29WitnessesTable.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoSuite.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoTransactionTreesSpec.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoTransactionsSpec.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/events/TransactionIdWithIndexSpec.scala
Labels: component/ledger

#6303 LF: fix contract ID length in specification
  daml-lf/spec/daml-lf-1.rst
Labels: component/daml-engine

#6304 LF: Make VersionedTransaction a CidContainer
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Event.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Node.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/CidContainer.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/Value.scala
Labels: component/daml-lf

#6297 Ledger: use standard transactions in the indexer
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/ledger/EnrichedTransaction.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/scenario/ScenarioLedger.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SResult.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ScenarioRunner.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionCoder.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/participant/util/LfEngineToApi.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/TransactionConversion.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/InMemoryActiveLedgerState.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/Ledger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/ScenarioLoader.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/inmemory/InMemoryLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/ActiveLedgerStateManager.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/Contract.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/JdbcLedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/entries/LedgerEntry.scala
  ledger/sandbox/src/main/scala/db/migration/h2database/V5_1__Populate_Event_Data.scala
  ledger/sandbox/src/main/scala/db/migration/postgres/V10_1__Populate_Event_Data.scala
  ledger/sandbox/src/main/scala/db/migration/postgres/V25__Backfill_Participant_Events.scala
  ledger/sandbox/src/main/scala/db/migration/postgres/V29__Fix_participant_events.scala
  ledger/sandbox/src/main/scala/db/migration/postgres/V2_1__Rebuild_Acs.scala
  ledger/sandbox/src/main/scala/db/migration/postgres/V4_1__Collect_Parties.scala
  ledger/sandbox/src/main/scala/db/migration/translation/TransactionSerializer.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoSuite.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoTransactionTreesSpec.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoTransactionsSpec.scala
Labels: component/daml-engine, component/ledger

#6307 Ledger: remove optionality of submissionSeed in TransactionMeta
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/Conversions.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/KeyValueConsumption.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/KeyValueSubmission.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/ParticipantStateIntegrationSpecBase.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/KVTest.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/api/KeyValueParticipantStateWriterSpec.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/TransactionMeta.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/execution/StoreBackedCommandExecutor.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/TransactionTimeModelComplianceIT.scala
Labels: component/dlik

#6301 Simplify findCredentials logic
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/ServiceMain.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/TokenManagement.scala
Labels: automerge

#6316 LF: fix typos in contract ID specification
  daml-lf/spec/contract-id.rst
Labels: automerge, component/daml-lf

#6298 Add migration test for contract key transfers
  compatibility/BUILD
  compatibility/sandbox-migration/BUILD
  compatibility/sandbox-migration/daml/KeyTransfer.daml
  compatibility/sandbox-migration/runner/Migration/KeyTransfer.hs
  compatibility/sandbox-migration/runner/Migration/ProposeAccept.hs
  compatibility/sandbox-migration/runner/Migration/Runner.hs
  compatibility/sandbox-migration/runner/Migration/Types.hs
  compatibility/sandbox-migration/src/com/daml/Application.scala
  compatibility/sandbox-migration/src/com/daml/Config.scala
  compatibility/sandbox-migration/src/com/daml/JsonProtocol.scala
  compatibility/sandbox-migration/src/com/daml/KeyTransfer.scala
  compatibility/sandbox-migration/src/com/daml/MigrationStep.scala
  compatibility/sandbox-migration/src/com/daml/ProposeAccept.scala
Labels: automerge

#6324 A terser .gitignore file.
  .gitignore
Labels: automerge

#6315 Address miklos' comments made in #5966
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/transaction-scalacheck/src/main/scala/com/digitalasset/daml/lf/value/ValueGenerators.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/Value.scala
Labels: component/daml-lf

#6323 Ledger id requirement
  compiler/repl-service/server/src/main/scala/com/digitalasset/daml/lf/ReplServiceMain.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/RunnerMain.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/TestMain.scala
  daml-script/test/src/com/digitalasset/daml/lf/engine/script/test/TestRunner.scala
  extractor/src/main/scala/com/digitalasset/extractor/Extractor.scala
  language-support/scala/bindings-akka/src/main/scala/com/digitalasset/ledger/client/binding/config/LedgerClientConfig.scala
  language-support/scala/codegen-sample-app/src/test/scala/com/digitalasset/codegen/ScalaCodeGenIT.scala
  language-support/scala/examples/iou-no-codegen/application/src/main/scala/com/digitalasset/quickstart/iou/IouMain.scala
  language-support/scala/examples/quickstart-scala/application/src/main/scala/com/digitalasset/quickstart/iou/IouMain.scala
  ledger-service/http-json/src/it/scala/http/HttpServiceTestFixture.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
  ledger/ledger-api-client/src/it/scala/com/digitalasset/ledger/client/LedgerClientIT.scala
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/configuration/LedgerIdRequirement.scala
  ledger/ledger-api-client/src/test/suite/scala/com/digitalasset/ledger/client/configuration/LedgerIdRequirementTest.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/TlsIT.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/store/platform/PlatformStore.scala
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/RunnerMain.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/TriggerRunnerImpl.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceFixture.scala
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/test/AbstractTriggerTest.scala
Labels: automerge

#6326 Delete some unused files in the root.
  .dockerignore
  .sha256
  .watchmanconfig
  unreleased.rst
Labels: automerge

#6320 Validate data-dependencies test DARs
  compatibility/BUILD
  compatibility/bazel_tools/data_dependencies/BUILD.bazel
  compatibility/bazel_tools/data_dependencies/data_dependencies.bzl
  compatibility/bazel_tools/data_dependencies/validate_dar.sh
Labels: automerge

#6329 Trigger service docs and SDK integration basics
  daml-assistant/daml-sdk/BUILD.bazel
  daml-assistant/daml-sdk/src/main/scala/com/digitalasset/daml/sdk/SdkMain.scala
  daml-assistant/exe/DA/Daml/Assistant.hs
  daml-assistant/integration-tests/src/DA/Daml/Assistant/IntegrationTests.hs
  docs/source/index.rst
  docs/source/tools/trigger-service.rst
  release/artifacts.yaml
  release/sdk-config.yaml.tmpl
  release/util.bzl
  triggers/service/daml-platform.sh
Labels: automerge, component/trigger-service, language

#6336 Fix missed Trigger Service capitalizations
  docs/source/tools/trigger-service.rst
Labels: automerge

#6330 ledger-api-client: Support legacy `LedgerApiRequirement#copy` behavior.
  ledger/ledger-api-client/BUILD.bazel
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/configuration/LedgerIdRequirement.scala
  ledger/ledger-api-client/src/test/suite/scala/com/digitalasset/ledger/client/configuration/LedgerIdRequirementTest.scala
Labels: automerge

#6327 Update links in the SECURITY file.
  SECURITY.md
Labels: automerge

#6286 damlc: Run simplifier on templates as well
  compiler/daml-lf-tools/src/DA/Daml/LF/Simplifier.hs
  compiler/daml-lf-verify/src/DA/Daml/LF/Verify/Generate.hs
  compiler/daml-lf-verify/src/DA/Daml/LF/Verify/Subst.hs
  compiler/damlc/tests/daml-test-files/SimplifyAppliedLambda.daml
Labels: automerge

#6322 Ledger: move TransactionBuilder in LF and use it more broadly
  daml-lf/transaction-scalacheck/src/main/scala/com/digitalasset/daml/lf/transaction/test/TransactionBuilder.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/common/PlatformTypes.scala
  ledger/participant-state/kvutils/BUILD.bazel
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/TransactionCommitter.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/ParticipantStateIntegrationSpecBase.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/ProjectionsSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/api/KeyValueParticipantStateWriterSpec.scala
  ledger/sandbox/BUILD.bazel
  ledger/sandbox/src/main/scala/db/migration/postgres/v25_backfill_participant_events/package.scala
  ledger/sandbox/src/main/scala/db/migration/postgres/v29_fix_participant_events/package.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoSuite.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/TransactionTimeModelComplianceIT.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/store/dao/events/PostCommitValidationSpec.scala
Labels: component/daml-lf, component/ledger

#6342 Check application identifier when authorizing a Ledger API call
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/AuthServiceJWT.scala
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/Authorizer.scala
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/Claims.scala
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/services/CommandCompletionServiceAuthorization.scala
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/services/CommandServiceAuthorization.scala
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/services/CommandSubmissionServiceAuthorization.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/auth/ReadWriteServiceCallAuthTests.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/auth/ServiceCallWithMainActorAuthTests.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/auth/CompletionStreamAuthIT.scala
Labels: automerge

#6348 Add missing patterns to .gitignore
  .gitignore
Labels: automerge

#6328 Document a more modern way of using IntelliJ with our Bazel project.
  .bazelignore
  BAZEL.md
  dev-env/bin/bazel-project-view
Labels: automerge

#6358 Disable stack-traces in the speedy performance benchmarks.
  daml-lf/interpreter/perf/src/main/scala/com/daml/lf/explore/LoadDarFunction.scala
  daml-lf/scenario-interpreter/src/perf/benches/scala/com/digitalasset/daml/lf/speedy/perf/CollectAuthority.scala
Labels: automerge, component/daml-engine

#5906 Added minor logging to scala command client
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/services/commands/CommandClient.scala
Labels: automerge

#6361 Fix link to replicated committer topology
  docs/source/concepts/identity-and-package-management.rst
Labels: automerge

#6363 update for no stack-tracing in speedy perf
  ci/cron/perf/test_sha
Labels: automerge

#6359 Save/restore env-size in KFun/KBuiltin
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
Labels: automerge, component/daml-engine

#6375 Release new snapshot
  LATEST
Labels: Standard-Change

#6376 Add migration test for divulgence
  compatibility/sandbox-migration/BUILD
  compatibility/sandbox-migration/daml/Divulgence.daml
  compatibility/sandbox-migration/runner/Migration/Divulgence.hs
  compatibility/sandbox-migration/runner/Migration/KeyTransfer.hs
  compatibility/sandbox-migration/runner/Migration/ProposeAccept.hs
  compatibility/sandbox-migration/runner/Migration/Runner.hs
  compatibility/sandbox-migration/runner/Migration/Types.hs
  compatibility/sandbox-migration/runner/Migration/Util.hs
  compatibility/sandbox-migration/src/com/daml/Config.scala
  compatibility/sandbox-migration/src/com/daml/Divulgence.scala
Labels: automerge

#6378 fix typo in json-api lf docs
  docs/source/json-api/lf-value-specification.rst
Labels: automerge

#6379 Fix vscode extension
  compiler/daml-extension/package.json
  compiler/daml-extension/yarn.lock
Labels: automerge

#6371 use Profile.Label newtype for typechecked union instead of AnyRef
  daml-lf/interpreter/BUILD.bazel
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Profile.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/svalue/EqualitySpec.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/svalue/OrderingSpec.scala
Labels: automerge, component/daml-engine

#6392 .rst target for the contract keys section
  docs/source/daml/reference/contract-keys.rst
Labels: automerge

#6381 Release new snapshot
  LATEST
Labels: Standard-Change

#6400 Fix nix installation
  README.md
  azure-pipelines.yml
  ci/dev-env-install.sh
  dev-env/bin/nix-update-src-json
  dev-env/lib/dade-dump-profile
  dev-env/lib/ensure-nix
  infra/macos/2-vagrant-files/init.sh
  infra/vsts_agent_linux_startup.sh
Labels: Standard-Change

#6402 restore terraform to working state
  infra/macos/2-vagrant-files/init.sh
  infra/main.tf
  infra/vsts_agent_linux_startup.sh
Labels: Standard-Change

#6405 duplicate linux CI cluster
  infra/vsts_agent_linux_startup_temp.sh
  infra/vsts_agent_linux_temp.tf
Labels: Standard-Change

#6407 add redirect to nix curl (linux)
  infra/vsts_agent_linux_startup.sh
Labels: Standard-Change

#6406 macos nodes: add nix redirect
  infra/macos/2-vagrant-files/init.sh
Labels: Standard-Change

#6410 remove temp linux nodes
  infra/vsts_agent_linux_startup_temp.sh
  infra/vsts_agent_linux_temp.tf
Labels: Standard-Change, automerge

#6416 Update LF Perf test SHA
  ci/cron/perf/test_sha
Labels: automerge, component/daml-engine

#6415 LF: shield value versioning in Transaction builder.
  daml-lf/transaction-test-lib/src/main/scala/lf/transaction/test/TransactionBuilder.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/common/PlatformTypes.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/ProjectionsSpec.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoContractsSpec.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoPostCommitValidationSpec.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoSuite.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/store/dao/events/PostCommitValidationSpec.scala
Labels: component/daml-lf

#6101 Constant lifting transformation in the LF simplifier.
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/FreeVars.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/Simplifier.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Check.hs
  compiler/daml-lf-verify/src/DA/Daml/LF/Verify/Context.hs
  compiler/daml-lf-verify/src/DA/Daml/LF/Verify/Generate.hs
  compiler/daml-lf-verify/tests/DA/Daml/LF/Verify/Tests.hs
  compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
  compiler/damlc/tests/daml-test-files/ExerciseWithoutActors.daml
  compiler/damlc/tests/src/package-pattern-match-perf.sh
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/TestMain.scala
Labels: automerge

#6421 Trigger service: Increase server binding timeout
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/ServiceMain.scala
Labels: automerge

#6427 Speedy: clean machine builder name
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Context.scala
  daml-lf/interpreter/perf/src/main/scala/com/daml/lf/explore/Explore.scala
  daml-lf/interpreter/perf/src/main/scala/com/daml/lf/explore/ExploreDar.scala
  daml-lf/interpreter/perf/src/main/scala/com/daml/lf/explore/LoadDarFunction.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/InterpreterTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SpeedyTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/svalue/OrderingSpec.scala
  daml-lf/repl/src/main/scala/com/digitalasset/daml/lf/repl/testing/Main.scala
  daml-lf/scenario-interpreter/src/perf/benches/scala/com/digitalasset/daml/lf/speedy/perf/CollectAuthority.scala
  daml-lf/scenario-interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ScenarioRunnerTest.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Converter.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/ScenarioLoader.scala
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Runner.scala
Labels: component/daml-engine

#6432 caching | kvutils | sandbox: Use a size-based cache for LF value translation.
  ledger/caching/BUILD.bazel
  ledger/caching/src/main/scala/com/daml/caching/Cache.scala
  ledger/caching/src/main/scala/com/daml/caching/CaffeineCache.scala
  ledger/caching/src/main/scala/com/daml/caching/Configuration.scala
  ledger/caching/src/main/scala/com/daml/caching/NoCache.scala
  ledger/caching/src/main/scala/com/daml/caching/SizedCache.scala
  ledger/caching/src/main/scala/com/daml/caching/WeightedCache.scala
  ledger/caching/src/test/lib/scala/com/daml/caching/CacheBehaviorSpecBase.scala
  ledger/caching/src/test/lib/scala/com/daml/caching/CacheSpecBase.scala
  ledger/caching/src/test/suite/scala/com/daml/caching/NoCacheSpec.scala
  ledger/caching/src/test/suite/scala/com/daml/caching/SizedCacheSpec.scala
  ledger/caching/src/test/suite/scala/com/daml/caching/WeightedCacheSpec.scala
  ledger/ledger-on-memory/src/app/scala/com/daml/ledger/on/memory/Main.scala
  ledger/ledger-on-sql/src/app/scala/com/daml/ledger/on/sql/SqlLedgerFactory.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Config.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/caching/CachingCommitStrategySpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/caching/CachingDamlLedgerStateReaderSpec.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/cli/Cli.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/config/SandboxConfig.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandboxnext/Runner.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/LfValueTranslation.scala
Labels: automerge

#6435 remove jo from dev-env
  dev-env/bin/jo
  nix/default.nix
Labels: automerge

#6423 Enable -Wunused-matches
  ci/da-ghc-lib/compile.yml
  compiler/damlc/daml-ide-core/dlint.yaml
  compiler/damlc/daml-prim-src/GHC/Show.daml
  compiler/damlc/daml-stdlib-src/DA/Internal/Prelude.daml
  compiler/damlc/daml-stdlib-src/DA/List.daml
  compiler/damlc/daml-stdlib-src/DA/List/Total.daml
  compiler/damlc/daml-stdlib-src/DA/Logic.daml
  compiler/damlc/daml-stdlib-src/DA/Tuple.daml
  compiler/damlc/tests/bond-trading/Dvp.daml
  compiler/damlc/tests/bond-trading/Helper.daml
  compiler/damlc/tests/daml-test-files/AnyChoice.daml
  compiler/damlc/tests/daml-test-files/ContractKeyNotVisible.daml
  compiler/damlc/tests/daml-test-files/GenericTemplateError.daml
  compiler/damlc/tests/daml-test-files/Iou12.daml
  compiler/damlc/tests/daml-test-files/List.daml
  compiler/damlc/tests/daml-test-files/Map.daml
  compiler/damlc/tests/daml-test-files/NextMap.daml
  compiler/damlc/tests/daml-test-files/Otherwise.daml
  compiler/damlc/tests/daml-test-files/Random.daml
  compiler/damlc/tests/daml-test-files/TextMap.daml
  compiler/damlc/tests/daml-test-files/TypeVarShadowing2.daml
  compiler/damlc/tests/daml-test-files/UnusedMatchTests.daml
  compiler/damlc/tests/src/DA/Test/ShakeIdeClient.hs
  stack-snapshot.yaml
Labels: automerge, language

#6437 increase nix cache retention time
  infra/nix_cache.tf
Labels: Standard-Change

#6439 remove purge_old_agents
  ci/azure-cleanup/azure-devops.nix
  ci/azure-cleanup/default.nix
  ci/azure-cleanup/purge_old_agents.py
  infra/vsts_agent_linux_startup.sh
Labels: Standard-Change

#6386 Support external anchors
  compiler/damlc/BUILD.bazel
  compiler/damlc/daml-doc/BUILD.bazel
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Driver.hs
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Render.hs
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Render/Monoid.hs
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Render/Types.hs
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Types.hs
  compiler/damlc/daml-doc/test/DA/Daml/Doc/Render/Tests.hs
  compiler/damlc/daml-doc/test/DA/Daml/Doc/Tests.hs
  compiler/damlc/lib/DA/Cli/Damlc/Command/Damldoc.hs
  compiler/damlc/tests/BUILD.bazel
  compiler/damlc/tests/daml-test-files/ConstrainedClassMethod.EXPECTED.md
  compiler/damlc/tests/daml-test-files/ConstrainedClassMethod.EXPECTED.rst
  compiler/damlc/tests/daml-test-files/ConstraintTuples.EXPECTED.md
  compiler/damlc/tests/daml-test-files/ConstraintTuples.EXPECTED.rst
  compiler/damlc/tests/daml-test-files/DefaultMethods.EXPECTED.md
  compiler/damlc/tests/daml-test-files/DefaultMethods.EXPECTED.rst
  compiler/damlc/tests/daml-test-files/Deriving.EXPECTED.md
  compiler/damlc/tests/daml-test-files/Deriving.EXPECTED.rst
  compiler/damlc/tests/daml-test-files/ExportList.EXPECTED.md
  compiler/damlc/tests/daml-test-files/ExportList.EXPECTED.rst
  compiler/damlc/tests/daml-test-files/Iou12.EXPECTED.md
  compiler/damlc/tests/daml-test-files/Iou12.EXPECTED.rst
  compiler/damlc/tests/daml-test-files/Newtype.EXPECTED.md
  compiler/damlc/tests/daml-test-files/Newtype.EXPECTED.rst
  compiler/damlc/tests/daml-test-files/SingleConEnum.EXPECTED.rst
  compiler/damlc/tests/src/DA/Test/DamlDoc.hs
Labels: language

#6434 Consistently display stakeholders for key visibility errors
  compiler/damlc/tests/daml-test-files/KeyNotVisibleStakeholders.daml
  compiler/scenario-service/client/src/DA/Daml/LF/PrettyScenario.hs
  compiler/scenario-service/protos/scenario_service.proto
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/scenario/ScenarioLedger.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SError.scala
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ScenarioRunner.scala
Labels: automerge

#6446 damlc tests: Add suppressed test in Iou12 back
  compiler/damlc/tests/daml-test-files/Iou12.daml
Labels: automerge

#6452 Bump compat versions
  compatibility/versions.bzl
Labels: automerge

#6454 Save the expression in the CollectAuthority benchmark
  daml-lf/scenario-interpreter/src/perf/benches/scala/com/digitalasset/daml/lf/speedy/perf/CollectAuthority.scala
Labels: automerge

#6461 Revert "Multinode ledgers reflect whether party is non-local (#6382)"
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/PartyManagementServiceIT.scala
  ledger/sandbox/src/main/resources/db/migration/h2database/V23__Parties_is_local.sha256
  ledger/sandbox/src/main/resources/db/migration/h2database/V23__Parties_is_local.sql
  ledger/sandbox/src/main/resources/db/migration/postgres/V34__Parties_is_local.sha256
  ledger/sandbox/src/main/resources/db/migration/postgres/V34__Parties_is_local.sql
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/JdbcLedgerDao.scala
Labels: automerge

#6465 Improve explanation of offsets on the protobuf docs
  ledger-api/grpc-definitions/com/daml/ledger/api/v1/ledger_offset.proto
Labels: automerge

#6453 LF-REPL: proper dev-mode
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/repl/src/main/scala/com/digitalasset/daml/lf/repl/testing/Main.scala
  daml-lf/tests/BUILD.bazel
  daml-lf/tests/scenario/dev/gen-map/EXPECTED.ledger
  daml-lf/tests/scenario/dev/gen-map/Test.daml
  daml-lf/tests/scenario/stable/contract-key-through-exercises/EXPECTED.ledger
  daml-lf/tests/scenario/stable/contract-key-through-exercises/Test.daml
  daml-lf/tests/scenario/stable/contract-keys/EXPECTED.ledger
  daml-lf/tests/scenario/stable/contract-keys/Test.daml
  daml-lf/tests/scenario/stable/divulge-iou/EXPECTED.ledger
  daml-lf/tests/scenario/stable/divulge-iou/Test.daml
  daml-lf/tests/scenario/stable/embed-abort/EXPECTED.ledger
  daml-lf/tests/scenario/stable/embed-abort/Test.daml
  daml-lf/tests/scenario/stable/eval-agreement/EXPECTED.ledger
  daml-lf/tests/scenario/stable/eval-agreement/Test.daml
  daml-lf/tests/scenario/stable/mustfails/EXPECTED.ledger
  daml-lf/tests/scenario/stable/mustfails/Test.daml
  daml-lf/tests/scenario/stable/no-contract-ids-in-keys/EXPECTED.ledger
  daml-lf/tests/scenario/stable/no-contract-ids-in-keys/Test.daml
  daml-lf/tests/scenario/stable/pass-time/EXPECTED.ledger
  daml-lf/tests/scenario/stable/pass-time/Test.daml
  daml-lf/tests/scenario/stable/pattern-matching/EXPECTED.ledger
  daml-lf/tests/scenario/stable/pattern-matching/Test.daml
  daml-lf/tests/scenario/test.sh
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionVersion.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/ValueCoder.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/ValueVersion.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionVersionSpec.scala
Labels: component/daml-engine

#6462 Track runfile dependencies of SDK assistant
  compatibility/bazel_tools/daml_sdk.bzl
Labels: automerge

#6472 Release SDK 1.3.0-snapshot.20200623
  LATEST
Labels: Standard-Change

#6477 minor change in daml script doc
  docs/source/daml-script/index.rst
Labels: automerge

#6474 rs-grpc-bridge: If the execution sequencer pool is closed, fail fast.
  ledger-api/rs-grpc-bridge/src/main/java/com/daml/grpc/adapter/SingleThreadExecutionSequencer.java
  ledger-api/rs-grpc-bridge/src/main/java/com/daml/grpc/adapter/SingleThreadExecutionSequencerPool.java
Labels: automerge

#6475 Display why a party knows about a contract in table view
  compiler/daml-extension/src/webview.css
  compiler/damlc/tests/src/DA/Test/ShakeIdeClient.hs
  compiler/scenario-service/client/src/DA/Daml/LF/PrettyScenario.hs
Labels: automerge

#6476 bindings-rxjava: Return the `Disposable` from `Bot.wire`.
  language-support/java/bindings-rxjava/src/main/java/com/daml/ledger/rxjava/DamlLedgerClient.java
  language-support/java/bindings-rxjava/src/main/java/com/daml/ledger/rxjava/components/Bot.java
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/components/BotTest.scala
Labels: automerge

#6482 granular test selection: compat matrix update
  compatibility/bazel_tools/testing.bzl
Labels: automerge

#6483 Fix the release instructions to pass a git range to unrealeased.sh
  release/RELEASE.md
Labels: automerge

#6485 DAML REPL support static-time mode
  compiler/damlc/lib/DA/Cli/Damlc.hs
  compiler/damlc/tests/src/DA/Test/Repl.hs
  compiler/damlc/tests/src/DA/Test/Repl/FuncTests.hs
  compiler/repl-service/client/src/DA/Daml/LF/ReplClient.hs
  compiler/repl-service/server/src/main/scala/com/digitalasset/daml/lf/ReplServiceMain.scala
Labels: automerge

#6498 Trigger service: split up ServiceMain into multiple files
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Message.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Server.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/ServiceMain.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/package.scala
Labels: automerge

#6505 Only pass --implicit-party-allocation to versions that support it
  compatibility/bazel_tools/testing.bzl
Labels: automerge

#6428 Engine: introduce config to control value/transaction output version
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Context.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/EngineInfo.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ContractDiscriminatorFreshnessCheckSpec.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineInfoTest.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/LargeTransactionTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
  daml-lf/scenario-interpreter/src/perf/benches/scala/com/digitalasset/daml/lf/speedy/perf/CollectAuthority.scala
  daml-lf/scenario-interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ScenarioRunnerTest.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionVersion.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/VersionRange.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/VersionTimeline.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/ValueVersion.scala
  ledger/ledger-on-memory/src/test/suite/scala/com/daml/ledger/on/memory/InMemoryLedgerReaderWriterIntegrationSpec.scala
  ledger/ledger-on-sql/src/test/lib/scala/com/daml/ledger/on/sql/SqlLedgerReaderWriterIntegrationSpecBase.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Runner.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/SubmissionValidator.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/KVTest.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/SubmissionValidatorSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/batch/BatchedSubmissionValidatorSpec.scala
  ledger/participant-state/kvutils/tools/src/main/scala/com/daml/ledger/participant/state/kvutils/tools/IntegrityCheck.scala
  ledger/participant-state/kvutils/tools/src/main/scala/com/daml/ledger/participant/state/kvutils/tools/IntegrityChecker.scala
  ledger/recovering-indexer-integration-tests/src/test/suite/scala/com/digitalasset/platform/indexer/RecoveringIndexerIntegrationSpec.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/ApiServices.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/ScenarioLoader.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandboxnext/Runner.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoSuite.scala
Labels: component/daml-engine, component/daml-lf

#6510 Update LF Perf test SHA
  ci/cron/perf/test_sha
Labels: automerge

#6511 Always include GSG snippets in preview
  docs/scripts/live-preview.sh
Labels: automerge

#6176 FIX: Tiny typo
  docs/source/daml/reference/packages.rst
Labels: automerge

#6509 Remove localDisclosures from BlindingInfo entirely
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Blinding.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/transaction-test-lib/src/main/scala/lf/value/test/ValueGenerators.scala
  daml-lf/transaction/BUILD.bazel
  daml-lf/transaction/src/main/protobuf/com/daml/lf/blindinginfo.proto
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/BlindingCoder.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/BlindingInfo.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionCoderSpec.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/TransactionCommitter.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/Ledger.scala
  release/artifacts.yaml
Labels: automerge

#6514 switch CI nodes from n1-standard-8 to c2-*
  infra/vsts_agent_linux.tf
  infra/vsts_agent_windows.tf
Labels: Standard-Change

#6497 sandbox: Inject the dispatcher into the BaseLedger.
  ledger/ledger-api-common/BUILD.bazel
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/akkastreams/dispatcher/Dispatcher.scala
  ledger/ledger-on-memory/src/main/scala/com/daml/ledger/on/memory/package.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/SqlLedgerReaderWriter.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/JdbcIndex.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/ReadOnlySqlLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/SandboxIndexAndWriteService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/BaseLedger.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/LedgerResource.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedgerSpec.scala
Labels: automerge

#6512 sandbox: Add a command line flag to disable DAML stack traces
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ConcurrentCompiledPackages.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/cli/Cli.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/config/SandboxConfig.scala
Labels: automerge

#6520 Bump Flyway version to 6.5
  bazel-java-deps.bzl
  ledger/ledger-on-sql/src/test/suite/scala/com/daml/ledger/on/sql/ImmutableMigrationsSpec.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/store/FlywayMigrationsSpec.scala
  maven_install.json
Labels: automerge

#6525 kvutils: When creating the reference ledger dump, do it less eagerly.
  ledger/participant-state/kvutils/BUILD.bazel
Labels: automerge

#6533 Multinode ledgers reflect whether party is non-local - take 2
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/PartyManagementServiceIT.scala
  ledger/sandbox/src/main/resources/db/migration/h2database/V23__Parties_is_local.sha256
  ledger/sandbox/src/main/resources/db/migration/h2database/V23__Parties_is_local.sql
  ledger/sandbox/src/main/resources/db/migration/postgres/V34__Parties_is_local.sha256
  ledger/sandbox/src/main/resources/db/migration/postgres/V34__Parties_is_local.sql
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/JdbcLedgerDao.scala
Labels: automerge

#6499 Improve test output
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/CommandDeduplicationIT.scala
  ledger/test-common/src/main/daml/model/Test.daml
Labels: automerge

#6537 Use Distroless for the Java Docker base image.
  WORKSPACE
  deps.bzl
  dev-env/bin/docker-credential-gcloud
  ledger/ledger-on-memory/BUILD.bazel
  ledger/sandbox/BUILD.bazel
  nix/default.nix
Labels: automerge

#6545 add explanation for clearing shared segments
  azure-pipelines.yml
  ci/clear-shared-segments-macos.yml
  ci/cron/daily-compat.yml
Labels: automerge

#6515 Make interpretation cost available for LedgerWriter/WriteService
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  ledger/ledger-on-memory/src/main/scala/com/daml/ledger/on/memory/InMemoryLedgerReaderWriter.scala
  ledger/ledger-on-memory/src/test/suite/scala/com/daml/ledger/on/memory/InMemoryLedgerReaderWriterSpec.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/SqlLedgerReaderWriter.scala
  ledger/participant-state-metrics/src/main/scala/com/daml/ledger/participant/state/v1/metrics/TimedWriteService.scala
  ledger/participant-state/BUILD.bazel
  ledger/participant-state/kvutils/BUILD.bazel
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/api/BatchingLedgerWriter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/api/CommitMetadata.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/api/KeyValueParticipantState.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/api/KeyValueParticipantStateWriter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/api/LedgerWriter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/api/TimedLedgerWriter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/api/package.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/ParticipantStateIntegrationSpecBase.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/api/BatchingLedgerWriterSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/api/KeyValueParticipantStateWriterSpec.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/WriteService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/execution/CommandExecutionResult.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/execution/StoreBackedCommandExecutor.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/ApiSubmissionService.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/apiserver/execution/StoreBackedCommandExecutorSpec.scala
Labels: automerge

#6440 Speedy ANF
  compatibility/bazel_tools/testing.bzl
  compiler/repl-service/server/src/main/scala/com/digitalasset/daml/lf/ReplServiceMain.scala
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Context.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ConcurrentCompiledPackages.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/interpreter/perf/BUILD.bazel
  daml-lf/interpreter/perf/src/main/scala/com/daml/lf/explore/Explore.scala
  daml-lf/interpreter/perf/src/main/scala/com/daml/lf/explore/ExploreDar.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/CompiledPackages.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/AExpr.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Anf.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Classify.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/PrettyLightweight.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/repl/src/main/scala/com/digitalasset/daml/lf/repl/testing/Main.scala
  daml-lf/scenario-interpreter/src/perf/benches/scala/com/digitalasset/daml/lf/speedy/perf/CollectAuthority.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
  daml-script/test/src/com/digitalasset/daml/lf/engine/script/test/SingleParticipant.scala
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Runner.scala
Labels: automerge

#6553 bump-perf
  ci/cron/perf/test_sha
Labels: automerge
