Repository digital-asset/daml, pull requests merged in 2020-02, with the labels that each got.

#4183 Updated roadmap for Jan. 2020
  docs/source/support/roadmap.rst
Labels: automerge

#4338 @daml/ledger: Give more useful types to archive and archiveByKey
  language-support/ts/codegen/tests/ts/generated/src/__tests__/test.ts
  language-support/ts/daml-ledger/index.ts
  language-support/ts/daml-types/index.ts
Labels: automerge

#4339 @daml/ledger: Clean up Ledger.fetch* methods
  language-support/ts/codegen/tests/ts/generated/src/__tests__/test.ts
  language-support/ts/daml-ledger/index.ts
Labels: automerge

#4340 @daml/react: Add a comprehensive test suite for the TemplateStore
  language-support/ts/daml-react/context.ts
  language-support/ts/daml-react/ledgerStore.test.ts
  language-support/ts/daml-react/templateStore.test.ts
Labels: automerge

#4343 daml-lf: drop TransactionIdString
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/Ref.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/types/Ledger.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/ledger/package.scala
  ledger/ledger-api-domain/src/main/scala/com/digitalasset/ledger/api/domain.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/package.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/events/EventIdFormatter.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/LedgerBackedIndexService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/MeteredReadOnlyLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/InMemoryActiveLedgerState.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/ScenarioLoader.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/inmemory/InMemoryLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/inmemory/LedgerEntries.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/ActiveLedgerState.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/ActiveLedgerStateManager.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/BaseLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/Contract.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/ReadOnlyLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/JdbcLedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/entries/LedgerEntry.scala
  ledger/sandbox/src/main/scala/db/migration/postgres/V2_1__Rebuild_Acs.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/events/EventIdFormatterSpec.scala
Labels: automerge, component/daml-lf

#4362 daml2ts: Import modules referenced by key types
  language-support/ts/codegen/src/TsCodeGenMain.hs
  language-support/ts/codegen/tests/daml/T.daml
Labels: automerge

#4342 Change @SamirTalwar to @SamirTalwar-DA in CODEOWNERS.
  CODEOWNERS
Labels: automerge

#4221 daml-lf: cleanup StringIds
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/IdString.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/MatchingStringModule.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/Ref.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/types/Ledger.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/InterpreterTest.scala
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ScenarioRunner.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionCoder.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/Value.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/ledger/package.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/Conversions.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/ApiPackageService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/events/EventIdFormatter.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/ScenarioLoader.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/Conversions.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/serialization/TransactionSerializer.scala
Labels: component/daml-lf

#4356 resources: Pull out the shutdown hook logic into `ProgramResource`.
  daml-script/runner/BUILD.bazel
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/TestMain.scala
  ledger/api-server-damlonx/reference-v2/src/main/scala/com/daml/ledger/api/server/damlonx/reference/v2/ReferenceServer.scala
  ledger/ledger-on-memory/src/main/scala/com/daml/ledger/on/memory/Main.scala
  ledger/ledger-on-posix-filesystem/BUILD.bazel
  ledger/ledger-on-posix-filesystem/src/main/scala/com/daml/ledger/on/filesystem/posix/Main.scala
  ledger/ledger-on-posix-filesystem/src/test/lib/scala/com/daml/ledger/on/filesystem/posix/MainWithEphemeralDirectory.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/Main.scala
  ledger/ledger-on-sql/src/test/lib/scala/com/daml/ledger/on/sql/MainWithEphemeralDirectory.scala
  ledger/ledger-on-sql/src/test/lib/scala/com/daml/ledger/on/sql/MainWithEphemeralPostgresql.scala
  ledger/participant-state/kvutils/app/BUILD.bazel
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Runner.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxMain.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
  libs-scala/resources/BUILD.bazel
  libs-scala/resources/src/main/scala/com/digitalasset/resources/ProgramResource.scala
  libs-scala/resources/src/main/scala/com/digitalasset/resources/ResourceOwner.scala
Labels: automerge

#4370 add Windows debug machines
  infra/TEMP-vsts_agent_windows_DEBUG.tf
Labels: Standard-Change

#4371 fix Windows CI node startup script
  infra/vsts_agent_windows.tf
Labels: Standard-Change

#4366 kvutils|ledger|sandbox: Replace uses of `scala.App` with `def main`.
  ledger/api-server-damlonx/reference-v2/src/main/scala/com/daml/ledger/api/server/damlonx/reference/v2/ReferenceServer.scala
  ledger/api-server-damlonx/reference-v2/src/test/lib/scala/com/daml/ledger/api/server/damlonx/reference/v2/EphemeralPostgresReferenceServerMain.scala
  ledger/ledger-on-memory/src/main/scala/com/daml/ledger/on/memory/Main.scala
  ledger/ledger-on-posix-filesystem/src/main/scala/com/daml/ledger/on/filesystem/posix/Main.scala
  ledger/ledger-on-posix-filesystem/src/test/lib/scala/com/daml/ledger/on/filesystem/posix/MainWithEphemeralDirectory.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/Main.scala
  ledger/ledger-on-sql/src/test/lib/scala/com/daml/ledger/on/sql/MainWithEphemeralDirectory.scala
  ledger/ledger-on-sql/src/test/lib/scala/com/daml/ledger/on/sql/MainWithEphemeralPostgresql.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxMain.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/persistence/EphemeralPostgresSandboxMain.scala
  libs-scala/resources/src/main/scala/com/digitalasset/resources/ProgramResource.scala
Labels: automerge

#4373 remove temp debug ci nodes
  infra/TEMP-vsts_agent_windows_DEBUG.tf
Labels: Standard-Change

#4378 ledger-on-posix-filesystem: Burn it to the ground.
  ledger/ledger-on-posix-filesystem/BUILD.bazel
  ledger/ledger-on-posix-filesystem/src/main/resources/logback.xml
  ledger/ledger-on-posix-filesystem/src/main/scala/com/daml/ledger/on/filesystem/posix/Bytes.scala
  ledger/ledger-on-posix-filesystem/src/main/scala/com/daml/ledger/on/filesystem/posix/DeleteFiles.scala
  ledger/ledger-on-posix-filesystem/src/main/scala/com/daml/ledger/on/filesystem/posix/FileSystemLedgerReaderWriter.scala
  ledger/ledger-on-posix-filesystem/src/main/scala/com/daml/ledger/on/filesystem/posix/FileSystemLock.scala
  ledger/ledger-on-posix-filesystem/src/main/scala/com/daml/ledger/on/filesystem/posix/LedgerPaths.scala
  ledger/ledger-on-posix-filesystem/src/main/scala/com/daml/ledger/on/filesystem/posix/Main.scala
  ledger/ledger-on-posix-filesystem/src/main/scala/com/daml/ledger/on/filesystem/posix/StateKeys.scala
  ledger/ledger-on-posix-filesystem/src/main/scala/com/daml/ledger/on/filesystem/posix/package.scala
  ledger/ledger-on-posix-filesystem/src/test/lib/scala/com/daml/ledger/on/filesystem/posix/MainWithEphemeralDirectory.scala
  ledger/ledger-on-posix-filesystem/src/test/resources/logback-test.xml
  ledger/ledger-on-posix-filesystem/src/test/suite/scala/com/daml/ledger/on/filesystem/posix/FileSystemLedgerReaderWriterIntegrationSpec.scala
  ledger/ledger-on-posix-filesystem/src/test/suite/scala/com/daml/ledger/on/filesystem/posix/FileSystemLockSpec.scala
  ledger/ledger-on-posix-filesystem/src/test/suite/scala/com/daml/ledger/on/filesystem/posix/StateKeysSpec.scala
Labels: automerge

#4377 Expose HasField instances in data-dependencies.
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/DataDependencies.hs
  compiler/damlc/tests/src/DA/Test/Packaging.hs
Labels: automerge

#4382 Resource refactorings
  ledger/api-server-damlonx/reference-v2/BUILD.bazel
  ledger/api-server-damlonx/reference-v2/src/main/scala/com/daml/ledger/api/server/damlonx/reference/v2/ReferenceServer.scala
  ledger/api-server-damlonx/reference-v2/src/test/suite/scala/com/daml/ledger/api/server/damlonx/reference/v2/InMemoryKVParticipantStateIT.scala
  ledger/participant-state/kvutils/app/BUILD.bazel
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Runner.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/LedgerApiServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/StandaloneApiServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/JdbcIndex.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/indexer/JdbcIndexer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/indexer/RecoveringIndexer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/SandboxIndexAndWriteService.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/indexer/RecoveringIndexerSpec.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/persistence/PostgresIT.scala
  libs-scala/resources-akka/src/main/scala/com/digitalasset/resources/akka/ActorMaterializerResourceOwner.scala
  libs-scala/resources-akka/src/main/scala/com/digitalasset/resources/akka/ActorSystemResourceOwner.scala
  libs-scala/resources/src/main/scala/com/digitalasset/resources/CloseableResourceOwner.scala
  libs-scala/resources/src/main/scala/com/digitalasset/resources/ExecutorServiceResourceOwner.scala
  libs-scala/resources/src/main/scala/com/digitalasset/resources/FutureCloseableResourceOwner.scala
  libs-scala/resources/src/main/scala/com/digitalasset/resources/FutureResourceOwner.scala
  libs-scala/resources/src/main/scala/com/digitalasset/resources/Resource.scala
  libs-scala/resources/src/main/scala/com/digitalasset/resources/ResourceOwner.scala
  libs-scala/resources/src/main/scala/com/digitalasset/resources/TimerResourceOwner.scala
  libs-scala/resources/src/test/lib/scala/com/digitalasset/resources/TestResourceOwner.scala
  libs-scala/resources/src/test/suite/scala/com/digitalasset/resources/ResourceOwnerSpec.scala
Labels: automerge

#4389 @daml/react: Remove duplicate copyright header from context.ts
  language-support/ts/daml-react/context.ts
Labels: automerge

#4390 ensure archive of a key happens to left of create of same key in each WebSocket result block
  docs/source/json-api/index.rst
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/WebsocketServiceIntegrationTest.scala
Labels: component/json-api

#4392 Remove '.' from output of daml build
  compiler/damlc/lib/DA/Cli/Damlc.hs
Labels: automerge

#4374 kvutils|ledger: Don't use Scala's global execution context.
  ledger/api-server-damlonx/reference-v2/src/main/scala/com/daml/ledger/api/server/damlonx/reference/v2/ReferenceServer.scala
  ledger/ledger-on-memory/src/main/scala/com/daml/ledger/on/memory/Main.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/Main.scala
  ledger/ledger-on-sql/src/test/lib/scala/com/daml/ledger/on/sql/MainWithEphemeralDirectory.scala
  ledger/ledger-on-sql/src/test/lib/scala/com/daml/ledger/on/sql/MainWithEphemeralPostgresql.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/LedgerFactory.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Runner.scala
  libs-scala/resources/src/main/scala/com/digitalasset/resources/ProgramResource.scala
Labels: automerge

#4399 Release 0.13.51
  VERSION
  docs/source/support/release-notes.rst
Labels: automerge

#4398 ledger-on-sql: Run the indexer on PostgreSQL when possible.
  ledger/ledger-on-sql/src/main/resources/com/daml/ledger/on/sql/migrations/h2/V1__create_tables.sql
  ledger/ledger-on-sql/src/main/resources/com/daml/ledger/on/sql/migrations/h2/V1__create_tables.sql.sha256
  ledger/ledger-on-sql/src/main/resources/com/daml/ledger/on/sql/migrations/postgresql/V1__create_tables.sql
  ledger/ledger-on-sql/src/main/resources/com/daml/ledger/on/sql/migrations/postgresql/V1__create_tables.sql.sha256
  ledger/ledger-on-sql/src/main/resources/com/daml/ledger/on/sql/migrations/sqlite/V1__create_tables.sql
  ledger/ledger-on-sql/src/main/resources/com/daml/ledger/on/sql/migrations/sqlite/V1__create_tables.sql.sha256
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/Database.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/ExtraConfig.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/Main.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/SqlLedgerFactory.scala
  ledger/ledger-on-sql/src/test/lib/scala/com/daml/ledger/on/sql/MainWithEphemeralDirectory.scala
  ledger/ledger-on-sql/src/test/lib/scala/com/daml/ledger/on/sql/MainWithEphemeralPostgresql.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Config.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/LedgerFactory.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Runner.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/indexer/IndexerConfig.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/indexer/JdbcIndexer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/indexer/StandaloneIndexerServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/FlywayMigrations.scala
  libs-scala/resources/src/main/scala/com/digitalasset/resources/ResourceOwner.scala
Labels: automerge

#4402 Fix the flaky ledger-on-sql test on Windows.
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/Time.scala
  daml-lf/data/src/test/scala/com/digitalasset/daml/lf/data/TimeSpec.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/ParticipantStateIntegrationSpecBase.scala
Labels: automerge

#4404 kvutils: Add idle timeouts to all participant state tests, and reword test names.
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/ParticipantStateIntegrationSpecBase.scala
Labels: automerge

#4401 DAML-LF: Remove node seed from nodeId
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/LargeTransactionTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/types/Ledger.scala
  daml-lf/transaction-scalacheck/src/main/scala/com/digitalasset/daml/lf/value/ValueGenerators.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Node.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionCoder.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/Value.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionCoderSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/ProjectionsSpec.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/events/EventIdFormatter.scala
  ledger/sandbox/src/main/scala/db/migration/h2database/V5_1__Populate_Event_Data.scala
  ledger/sandbox/src/main/scala/db/migration/postgres/V10_1__Populate_Event_Data.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/ImplicitPartyAdditionIT.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoSpec.scala
Labels: component/daml-lf

#4405 Expose time in DAML script
  daml-script/daml/Daml/Script.daml
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/RunnerMain.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/TestMain.scala
  daml-script/test/daml-script-test-runner.sh
  daml-script/test/daml/ScriptTest.daml
  daml-script/test/src/com/digitalasset/daml/lf/engine/script/test/SingleParticipant.scala
  daml-script/test/src/com/digitalasset/daml/lf/engine/script/test/TestRunner.scala
Labels: automerge

#4408 data-dependencies: Add a test for template typeclass instances.
  compiler/damlc/tests/src/DA/Test/Packaging.hs
Labels: automerge

#4217 Introduce NodeInfo.informeesOfNode
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/types/Ledger.scala
  daml-lf/tests/scenario/daml-1.dev/contract-keys/EXPECTED.ledger
  daml-lf/tests/scenario/test.sh
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Node.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/NodeInfo.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionCoder.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionCoderSpec.scala
Labels: automerge

#4406 Add README and metadata to npm packages
  language-support/ts/daml-ledger/BUILD.bazel
  language-support/ts/daml-ledger/package.json
  language-support/ts/daml-react/BUILD.bazel
  language-support/ts/daml-react/package.json
  language-support/ts/daml-types/BUILD.bazel
  language-support/ts/daml-types/package.json
Labels: automerge

#4364 Make Transaction/Node/VersionnedValue mapContractId LF private
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Event.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/InMemoryPrivateLedgerData.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/LargeTransactionTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/types/Ledger.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Node.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/CidContainer.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/Value.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionCoderSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionVersionSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/value/ValueSpec.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Converter.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/common/PlatformTypes.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/Conversions.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/KeyValueConsumption.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committing/ProcessTransactionSubmission.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/events/EventIdFormatter.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/indexer/JdbcIndexer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/inmemory/InMemoryLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/ActiveLedgerStateManager.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/JdbcLedgerDao.scala
  ledger/sandbox/src/main/scala/db/migration/postgres/V2_1__Rebuild_Acs.scala
  ledger/sandbox/src/main/scala/db/migration/postgres/V3__Recompute_Key_Hash.scala
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Converter.scala
Labels: automerge, component/daml-lf

#4414 DAML-LF: constrain cid in transaction/value decode/encoder
  daml-lf/transaction-scalacheck/src/main/scala/com/digitalasset/daml/lf/value/ValueGenerators.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionCoder.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/ValueCoder.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionCoderSpec.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/Conversions.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/serialization/ContractSerializer.scala
Labels: automerge, component/daml-engine

#4426 reference-v2: Make IndexerIT less flaky.
  ledger/api-server-damlonx/reference-v2/BUILD.bazel
  ledger/api-server-damlonx/reference-v2/src/test/resources/logback-test.xml
  ledger/api-server-damlonx/reference-v2/src/test/suite/scala/com/daml/ledger/api/server/damlonx/reference/v2/IndexerIT.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/indexer/RecoveringIndexer.scala
Labels: automerge

#4429 Mark packaging tests as non-flaky
  compiler/damlc/tests/BUILD.bazel
Labels: automerge

#4427 Disable http2 with Nix to work around segfaults
  bazel_tools/nixpkgs-disable-http2.patch
  deps.bzl
  dev-env/bin/dade-freeze
  dev-env/lib/dade-common
  dev-env/lib/dade-dump-profile
Labels: automerge

#4422 Sandbox: Preliminary work to rebuild Sandbox on top of kvutils.
  ledger/ledger-on-memory/BUILD.bazel
  ledger/ledger-on-memory/src/app/resources/logback.xml
  ledger/ledger-on-memory/src/app/scala/com/daml/ledger/on/memory/Main.scala
  ledger/ledger-on-sql/BUILD.bazel
  ledger/ledger-on-sql/src/app/resources/logback.xml
  ledger/ledger-on-sql/src/app/scala/com/daml/ledger/on/sql/Main.scala
  ledger/ledger-on-sql/src/app/scala/com/daml/ledger/on/sql/SqlLedgerFactory.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/Database.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Config.scala
  ledger/sandbox/BUILD.bazel
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandboxnext/Main.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandboxnext/Runner.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/persistence/MainWithEphemeralPostgresql.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandboxnext/persistence/MainWithEphemeralPostgresql.scala
  libs-scala/resources/src/main/scala/com/digitalasset/resources/ProgramResource.scala
  release/artifacts.yaml
Labels: automerge

#4433 Fix flakiness in packaging tests
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/DocTest.hs
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Extract.hs
  compiler/damlc/daml-ide-core/test/Development/IDE/State/API/Testing.hs
  compiler/damlc/lib/DA/Cli/Damlc.hs
  compiler/damlc/lib/DA/Cli/Damlc/Packaging.hs
  compiler/damlc/lib/DA/Cli/Damlc/Test.hs
  compiler/damlc/tests/src/DA/Test/DamlDocTest.hs
Labels: automerge

#4435 Disable list comprehension hints
  compiler/damlc/daml-ide-core/dlint.yaml
Labels: automerge

#4393 Fetch by key stream test and doc
  docs/source/json-api/index.rst
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebsocketEndpoints.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/AbstractHttpServiceIntegrationTest.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/WebsocketServiceIntegrationTest.scala
Labels: automerge

#4436 rename "contracts" to "events" in JSON API exercise response
  docs/source/json-api/index.rst
  language-support/ts/daml-ledger/index.ts
  ledger-service/http-json/src/main/scala/com/digitalasset/http/domain.scala
Labels: automerge, component/json-api

#4438 Disable debouncer in the CLI compiler
  bazel-haskell-deps.bzl
  bazel_tools/haskell-ghcide-expose-compat.patch
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Extract.hs
  compiler/damlc/daml-ide-core/src/Development/IDE/Core/Service/Daml.hs
  compiler/damlc/daml-ide-core/test/Development/IDE/State/API/Testing.hs
  compiler/damlc/lib/DA/Cli/Damlc.hs
  compiler/damlc/lib/DA/Cli/Damlc/IdeState.hs
  compiler/damlc/tests/src/DA/Test/DamlDocTest.hs
  compiler/damlc/tests/src/DA/Test/DamlcIntegration.hs
Labels: automerge

#4425 DAML-LF: limit the instanciation of Proto en/de-coders of Cid, Val, and Nid.
  daml-lf/transaction-scalacheck/BUILD.bazel
  daml-lf/transaction-scalacheck/src/main/scala/com/digitalasset/daml/lf/value/ValueGenerators.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/BlindingCoder.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionCoder.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/ValueCoder.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionCoderSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/value/ValueCoderSpec.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/Conversions.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/serialization/ContractSerializer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/serialization/TransactionSerializer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/serialization/ValueSerializer.scala
Labels: component/daml-lf

#4352 Update to Bazel 2.0.0
  dev-env/windows/manifests/bazel.json
  nix/bazel.nix
  nix/nixpkgs.nix
  nix/nixpkgs/default.src.json
Labels: automerge

#4442 Fix indexing of transactions referencing divulged contracts
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/JdbcLedgerDao.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoSpec.scala
Labels: automerge

#4443 Update CI nix version
  azure-pipelines.yml
  ci/dev-env-install.sh
  dev-env/etc/nix.conf
  dev-env/lib/dade-common
  dev-env/lib/dade-dump-profile
Labels: automerge

#4446 Make WebsocketConfig public, so DABL can use it
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Config.scala
Labels: automerge

#4439 with `archived` responses from WS streams, include template ID alongside contract ID
  docs/source/json-api/index.rst
  ledger-service/http-json/BUILD.bazel
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsFetch.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/util/InsertDeleteStep.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/WebsocketServiceIntegrationTest.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/util/InsertDeleteStepTest.scala
Labels: component/json-api

#4424 Removing treatment of local divulgence blinding info
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/CommandExecutorImpl.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/indexer/JdbcIndexer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/InMemoryActiveLedgerState.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/Ledger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/ScenarioLoader.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/inmemory/InMemoryLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/ActiveLedgerStateManager.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/PersistenceEntry.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/JdbcLedgerDao.scala
  ledger/sandbox/src/main/scala/db/migration/postgres/V2_1__Rebuild_Acs.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoSpec.scala
Labels: component/ledger

#4449 Fix broken JdbcLedgerDaoSpec
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoSpec.scala
Labels: automerge

#4386 ci: temp machines for scheduled killing experiment
  infra/TEMP_KILLABLE_vsts_agent_linux.tf
  infra/periodic_killer.tf
Labels: Standard-Change

#4445 Support multiple-packages in `damlc ide`
  compiler/damlc/daml-ide-core/BUILD.bazel
  compiler/damlc/daml-ide-core/src/Development/IDE/Core/RuleTypes/Daml.hs
  compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
  compiler/damlc/daml-ide/src/DA/Daml/LanguageServer/Visualize.hs
  compiler/damlc/daml-opts/BUILD.bazel
  compiler/damlc/daml-opts/daml-opts-types/DA/Daml/Options/Types.hs
  compiler/damlc/daml-opts/daml-opts/DA/Daml/Options.hs
  compiler/damlc/lib/DA/Cli/Damlc.hs
  compiler/damlc/lib/DA/Cli/Damlc/Packaging.hs
  compiler/lsp-tests/BUILD.bazel
  compiler/lsp-tests/src/Main.hs
  docs/source/daml/daml-studio.rst
Labels: automerge

#4450 Test tool flags: participant-shuffle and no-wait-for-parties
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/Cli.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/Config.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/LedgerApiTestTool.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerSession.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerSessionConfiguration.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/participant/ParticipantSession.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/participant/ParticipantSessionConfiguration.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/participant/ParticipantTestContext.scala
Labels: automerge

#4411 Engine: fork method to resolve contractIds
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/IdString.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Event.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/InMemoryPrivateLedgerData.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/types/Ledger.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/crypto/Hash.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Node.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/CidContainer.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/Value.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/ValueVersion.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/crypto/HashSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/value/ValueSpec.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/Conversions.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/KeyValueConsumption.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committing/ProcessTransactionSubmission.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/Ledger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/ActiveLedgerStateManager.scala
Labels: component/daml-engine

#4447 Fix memory leak when using the reset service
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/TestMain.scala
  language-support/java/codegen/src/ledger-tests/scala/com/digitalasset/TestUtil.scala
  ledger-api/testing-utils/BUILD.bazel
  ledger-api/testing-utils/src/main/scala/com/digitalasset/ledger/api/testing/utils/ManagedResource.scala
  ledger-api/testing-utils/src/main/scala/com/digitalasset/ledger/api/testing/utils/OwnedResource.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/services/SandboxClientResource.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/services/SandboxFixture.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/services/SandboxServerResource.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/TlsIT.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/services/reset/ResetServiceIT.scala
Labels: automerge

#4463 expand documentation on WebSockets subprotocols to a more-visible section
  docs/source/json-api/index.rst
Labels: automerge, component/json-api

#4455 switch CI nodes to permanent
  infra/TEMP_KILLABLE_vsts_agent_linux.tf
  infra/periodic_killer.tf
  infra/vsts_agent_linux.tf
  infra/vsts_agent_windows.tf
Labels: Standard-Change

#4468 Switch to HashSet/HashMap for NormalizedUri/NormalizedFilePath
  bazel-haskell-deps.bzl
  compiler/damlc/daml-compiler/BUILD.bazel
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/DocTest.hs
  compiler/damlc/daml-doc/BUILD.bazel
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Extract.hs
  compiler/damlc/daml-ide-core/BUILD.bazel
  compiler/damlc/daml-ide-core/src/Development/IDE/Core/RuleTypes/Daml.hs
  compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
  compiler/damlc/daml-ide-core/src/Development/IDE/Core/Service/Daml.hs
  compiler/damlc/daml-ide-core/test/Development/IDE/State/API/Testing.hs
  compiler/damlc/daml-ide/src/DA/Daml/LanguageServer.hs
  compiler/damlc/daml-opts/daml-opts/DA/Daml/Options.hs
  compiler/damlc/lib/DA/Cli/Damlc.hs
  compiler/damlc/lib/DA/Cli/Damlc/Test.hs
  compiler/damlc/tests/src/DA/Test/DamlcIntegration.hs
  compiler/damlc/tests/util.bzl
Labels: automerge

#4482 Fix sandbox error message when both -w and -s are provided
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/cli/Cli.scala
Labels: automerge

#4487 @daml/ledger: Add Ledger.streamFetchByKey method
  language-support/ts/codegen/tests/daml/Main.daml
  language-support/ts/codegen/tests/ts/generated/src/__tests__/test.ts
  language-support/ts/daml-ledger/index.ts
Labels: automerge

#4490 Handle multiple constraints on an instance in data-dependencies
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/DataDependencies.hs
  compiler/damlc/tests/src/DA/Test/Packaging.hs
Labels: automerge

#4489 Add allocatePartyWithHint(On) to DAML Script
  daml-script/daml/Daml/Script.daml
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
  daml-script/test/daml-script-test-runner.sh
  daml-script/test/daml/MultiTest.daml
  daml-script/test/daml/ScriptTest.daml
  daml-script/test/src/com/digitalasset/daml/lf/engine/script/test/MultiParticipant.scala
  daml-script/test/src/com/digitalasset/daml/lf/engine/script/test/SingleParticipant.scala
Labels: automerge

#4492 Wrap -> kind in parentheses in data-dependencies
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/DataDependencies.hs
  compiler/damlc/tests/src/DA/Test/Packaging.hs
Labels: automerge

#4497 Fix release notes for 0.13.52
  docs/source/daml/daml-studio.rst
  docs/source/support/release-notes.rst
Labels: automerge

#4502 release: Sort artifacts.yaml.
  release/artifacts.yaml
Labels: automerge

#4504 [Engine] Adding a specific type for ParticipantId
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/IdString.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/Ref.scala
  ledger/api-server-damlonx/reference-v2/src/main/scala/com/daml/ledger/api/server/damlonx/reference/v2/Config.scala
  ledger/api-server-damlonx/reference-v2/src/main/scala/com/daml/ledger/api/server/damlonx/reference/v2/cli/Cli.scala
  ledger/api-server-damlonx/reference-v2/src/test/suite/scala/com/daml/ledger/api/server/damlonx/reference/v2/IndexerIT.scala
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/services/admin/PartyManagementClient.scala
  ledger/ledger-api-domain/src/main/scala/com/digitalasset/ledger/api/domain.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/KeyValueConsumption.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/ParticipantStateIntegrationSpecBase.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/KVUtilsConfigSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/TestHelpers.scala
  ledger/participant-state/kvutils/tools/src/main/scala/com/daml/ledger/participant/state/kvutils/tools/IntegrityCheck.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/package.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandboxnext/Runner.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/Conversions.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/JdbcLedgerDao.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/ImplicitPartyAdditionIT.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/TransactionMRTComplianceIT.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedgerSpec.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoSpec.scala
Labels: component/daml-engine

#4503 @daml/ledger: Add workaround for websocket proxying issues
  language-support/ts/codegen/tests/ts/generated/src/__tests__/test.ts
  language-support/ts/daml-ledger/index.ts
  language-support/ts/daml-react/DamlLedger.ts
Labels: automerge

#4460 [DAML-LF] Version new contractId in Proto values
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/IdString.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineInfoTest.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
  daml-lf/transaction-scalacheck/src/main/scala/com/digitalasset/daml/lf/value/ValueGenerators.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionCoder.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionVersion.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/VersionTimeline.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/ValueCoder.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/ValueVersion.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionVersionSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/value/ValueCoderSpec.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Serializability.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/common/PlatformTypes.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/Conversions.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/KeyValueCommitting.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/serialization/KeyHasher.scala
Labels: component/daml-lf

#4518 Clarify SDK version in DAML studio multi-package docs
  docs/source/daml/daml-studio.rst
Labels: automerge

#4519 pin Terraform plugin versions
  infra/main.tf
Labels: Standard-Change

#4526 Mark Shake tests as flaky
  compiler/damlc/tests/BUILD.bazel
Labels: automerge

#4501 sandbox: Move more resource acquisition into the `owner`.
  extractor/BUILD.bazel
  extractor/src/test/lib/scala/com/digitalasset/extractor/services/ExtractorFixture.scala
  extractor/src/test/suite/scala/com/digitalasset/extractor/AuthSpec.scala
  extractor/src/test/suite/scala/com/digitalasset/extractor/TlsSpec.scala
  extractor/src/test/suite/scala/com/digitalasset/extractor/VeryLargeArchiveSpec.scala
  language-support/java/codegen/BUILD.bazel
  language-support/java/codegen/src/ledger-tests/scala/com/digitalasset/CodegenLedgerTest.scala
  language-support/java/codegen/src/ledger-tests/scala/com/digitalasset/StakeholdersTest.scala
  language-support/java/codegen/src/ledger-tests/scala/com/digitalasset/TestUtil.scala
  language-support/scala/codegen-sample-app/BUILD.bazel
  language-support/scala/codegen-sample-app/src/test/resources/logback-test.xml
  language-support/scala/codegen-sample-app/src/test/scala/com/digitalasset/codegen/ScalaCodeGenIT.scala
  ledger-api/testing-utils/src/main/scala/com/digitalasset/ledger/api/testing/utils/OwnedResource.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/HttpServiceTestFixture.scala
  ledger/ledger-api-client/BUILD.bazel
  ledger/sandbox-perf/BUILD.bazel
  ledger/sandbox-perf/src/perf/lib/scala/com/digitalasset/platform/sandbox/perf/LedgerContext.scala
  ledger/sandbox-perf/src/perf/lib/scala/com/digitalasset/platform/sandbox/perf/LedgerFactories.scala
  ledger/sandbox-perf/src/perf/lib/scala/com/digitalasset/platform/sandbox/perf/PerfBenchState.scala
  ledger/sandbox-perf/src/perf/lib/scala/com/digitalasset/platform/sandbox/perf/SandboxServerResource.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/EventLoopGroupOwner.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/LedgerApiServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/LedgerResource.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/auth/ServiceCallAuthTests.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/services/SandboxClientResource.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/services/SandboxFixture.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/services/SandboxServerResource.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/ScenarioLoadingITPostgres.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/TlsIT.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/services/command/CommandServiceBackPressureIT.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/services/configuration/LedgerConfigurationServiceIT.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/services/identity/LedgerIdentityServiceIT.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/services/reset/ResetServiceIT.scala
  libs-scala/postgresql-testing/BUILD.bazel
  libs-scala/postgresql-testing/src/main/scala/com/digitalasset/testing/postgresql/PostgresResource.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceFixture.scala
Labels: automerge

#4523 Add `subtract` to the daml-stdlib
  compiler/damlc/daml-prim-src/GHC/Num.daml
Labels: automerge

#4524 Disable scaladoc on the MacOS CI
  bazel_tools/scala.bzl
  build.sh
  language-support/codegen-main/BUILD.bazel
  language-support/java/codegen/BUILD.bazel
  ledger-api/grpc-definitions/BUILD.bazel
Labels: automerge

#4528 Ledger api conformance tests: Add synchronize to LotsOfParties tests
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/LotsOfParties.scala
Labels: automerge

#4465 add live-data boundary marker to WS contract streams
  docs/source/json-api/index.rst
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsFetch.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/util/ContractStreamStep.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/util/InsertDeleteStep.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/WebsocketServiceIntegrationTest.scala
Labels: component/json-api

#4506 A first draft at telemetry for daml-assistant.
  compiler/damlc/lib/DA/Cli/Damlc.hs
  daml-assistant/BUILD.bazel
  daml-assistant/exe/DA/Daml/Assistant.hs
  daml-assistant/src/DA/Daml/Assistant/Env.hs
  daml-assistant/test/DA/Daml/Assistant/Tests.hs
  libs-haskell/da-hs-base/src/DA/Service/Logger/Impl/GCP.hs
  libs-haskell/da-hs-base/tests/DataLimit.hs
Labels: automerge

#4532 ledger-on-sql: Switch to the extra-simplified KVUtils API.
  ledger/ledger-on-memory/src/main/scala/com/daml/ledger/on/memory/InMemoryLedgerReaderWriter.scala
  ledger/ledger-on-sql/BUILD.bazel
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/Database.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/SqlLedgerReaderWriter.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/queries/CommonQueries.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/queries/H2Queries.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/queries/PostgresqlQueries.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/queries/Queries.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/queries/SqliteQueries.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/LedgerStateAccess.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/SubmissionValidator.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/ValidationResult.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/ParticipantStateIntegrationSpecBase.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/ApiSubmissionService.scala
Labels: automerge

#4538 Reduce data surface exposed by LedgerDao interface
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/LedgerBackedIndexService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/MeteredReadOnlyLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/inmemory/InMemoryLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/BaseLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/ReadOnlyLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/JdbcLedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/LedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/MeteredLedgerDao.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoSpec.scala
Labels: automerge

#4485 Return proper code for invalid authentication
  extractor/src/test/suite/scala/com/digitalasset/extractor/AuthSpec.scala
  language-support/java/bindings-rxjava/BUILD.bazel
  language-support/java/bindings-rxjava/src/test/resources/logback-test.xml
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/AuthMatchers.scala
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/grpc/ActiveContractClientImplTest.scala
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/grpc/CommandClientImplTest.scala
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/grpc/CommandCompletionClientImplTest.scala
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/grpc/CommandSubmissionClientImplTest.scala
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/grpc/LedgerConfigurationClientImplTest.scala
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/grpc/LedgerIdentityClientTest.scala
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/grpc/PackageClientImplTest.scala
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/grpc/TimeClientImplTest.scala
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/grpc/TransactionsClientImplTest.scala
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/AuthService.scala
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/Authorizer.scala
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/interceptor/AuthorizationInterceptor.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/validation/ErrorFactories.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/auth/AdminServiceCallAuthTests.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/auth/PublicServiceCallAuthTests.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/auth/ReadOnlyServiceCallAuthTests.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/auth/ReadWriteServiceCallAuthTests.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/auth/ServiceCallAuthTests.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/auth/ServiceCallWithMainActorAuthTests.scala
Labels: automerge

#4539 Make context updates in the scenario service thread safe
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/ScenarioServiceMain.scala
Labels: automerge

#4543 Simplify engine contract lookup query
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/JdbcLedgerDao.scala
Labels: automerge

#4533 [Sanbox] use new ContractId scheme
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/IdString.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/Ref.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/InMemoryPrivateLedgerData.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/LargeTransactionTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/types/Ledger.scala
  daml-lf/transaction-scalacheck/src/main/scala/com/digitalasset/daml/lf/value/ValueGenerators.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/command/Command.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/crypto/Hash.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionVersion.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/CidContainer.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/Value.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/ValueCoder.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/ValueVersion.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/value/ValueCoderSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/value/ValueSpec.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/ledger/api/validation/CommandsValidator.scala
  ledger/participant-state/kvutils/src/main/protobuf/daml_kvutils.proto
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/Conversions.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/KeyValueConsumption.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committing/ProcessTransactionSubmission.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/KVTest.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/TransactionMeta.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/ApiServices.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/CommandExecutorImpl.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/StandaloneApiServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/cli/Cli.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/config/SandboxConfig.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/Ledger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/ActiveLedgerStateManager.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/ErrorCause.scala
Labels: automerge, component/daml-engine, component/ledger

#4547 Short circuit package db initialization
  compiler/damlc/lib/DA/Cli/Damlc/Packaging.hs
Labels: automerge

#4545 Refactoring: pull contract lookup query in the common queries
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/JdbcLedgerDao.scala
Labels: automerge

#4548 New getting started guide (WIP) in experimental section of docs
  docs/configs/pdf/index.rst
  docs/source/getting-started/app-architecture.rst
  docs/source/getting-started/code/daml/User.daml
  docs/source/getting-started/code/ui-after/Feed.tsx
  docs/source/getting-started/code/ui-after/MainView.tsx
  docs/source/getting-started/code/ui-after/MessageEdit.tsx
  docs/source/getting-started/code/ui-before/MainView.tsx
  docs/source/getting-started/first-feature.rst
  docs/source/getting-started/index.rst
  docs/source/index.rst
Labels: automerge

#4546 kvutils & ledger-on-sql: Avoid a race condition in dispatching.
  ledger/ledger-on-memory/src/main/scala/com/daml/ledger/on/memory/InMemoryLedgerReaderWriter.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/SqlLedgerReaderWriter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/LedgerStateAccess.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/SubmissionValidator.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/ValidationFailed.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/SubmissionValidatorSpec.scala
Labels: automerge

#4560 Minor edits on GSG
  docs/source/getting-started/app-architecture.rst
  docs/source/getting-started/first-feature.rst
  docs/source/getting-started/index.rst
Labels: automerge

#4557 DAML-LF: cleanup transaction version
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineInfoTest.scala
  daml-lf/interpreter/src/main/lf/internal.lf
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionVersion.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/VersionTimeline.scala
Labels: automerge, component/ledger

#4562 Fix handling of duplicate instances
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/DataDependencies.hs
  compiler/damlc/tests/src/DA/Test/Packaging.hs
Labels: automerge

#4565 increase linux pool
  infra/vsts_agent_linux.tf
Labels: Standard-Change, automerge

#4561 Add more tests to default run of Ledger API Test Tool
  docs/source/tools/ledger-api-test-tool/index.rst
  ledger/api-server-damlonx/reference-v2/BUILD.bazel
  ledger/ledger-api-test-tool-on-canton/BUILD.bazel
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/Tests.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/participant/ParticipantTestContext.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/Time.scala
  ledger/ledger-on-memory/BUILD.bazel
  ledger/ledger-on-sql/BUILD.bazel
  ledger/sandbox/BUILD.bazel
Labels: automerge

#4563 @daml/ledger: Compute accumulated state in Ledger.stream* methods
  language-support/ts/codegen/tests/daml/Main.daml
  language-support/ts/codegen/tests/ts/generated/src/__tests__/test.ts
  language-support/ts/daml-ledger/index.ts
Labels: automerge

#4552 Make DAML's (>>) operator lazy in its second argument
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
  compiler/damlc/daml-stdlib-src/DA/Internal/Prelude.daml
  compiler/damlc/daml-stdlib-src/DA/Validation.daml
  compiler/damlc/tests/daml-test-files/LazyDo.daml
  compiler/damlc/tests/daml-test-files/Validation.daml
Labels: automerge

#4575 @daml/ledger: Factor out code to promisfy streams in test
  language-support/ts/codegen/tests/ts/generated/src/__tests__/test.ts
Labels: automerge

#4551 Fix validator accepting transactions with unallocated informees
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/Tests.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/ClosedWorld.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/InputsAndEffects.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committing/ProcessTransactionSubmission.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/KVTest.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/KVUtilsPackageSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/KVUtilsTransactionSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/TestHelpers.scala
  ledger/sandbox/BUILD.bazel
Labels: automerge

#4584 Embed shake data-files via TH
  bazel-haskell-deps.bzl
  bazel_tools/haskell-js-dgtable.patch
  bazel_tools/haskell-js-flot.patch
  bazel_tools/haskell-js-jquery.patch
  bazel_tools/haskell-shake.patch
Labels: automerge

#4577 Update hlint
  stack-snapshot.yaml
Labels: automerge

#4581 Sandbox-Next: Re-establish static time support.
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/TestMain.scala
  language-support/java/codegen/src/ledger-tests/scala/com/digitalasset/TestUtil.scala
  language-support/scala/codegen-sample-app/src/test/scala/com/digitalasset/codegen/ScalaCodeGenIT.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/HttpServiceTestFixture.scala
  ledger/api-server-damlonx/reference-v2/src/main/scala/com/daml/ledger/api/server/damlonx/reference/v2/Config.scala
  ledger/api-server-damlonx/reference-v2/src/main/scala/com/daml/ledger/api/server/damlonx/reference/v2/ReferenceServer.scala
  ledger/api-server-damlonx/reference-v2/src/test/suite/scala/com/daml/ledger/api/server/damlonx/reference/v2/InMemoryKVParticipantStateIT.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/services/time/TimeProviderType.scala
  ledger/ledger-on-memory/BUILD.bazel
  ledger/ledger-on-memory/src/app/scala/com/daml/ledger/on/memory/Main.scala
  ledger/ledger-on-memory/src/main/scala/com/daml/ledger/on/memory/InMemoryLedgerReaderWriter.scala
  ledger/ledger-on-memory/src/test/suite/scala/com/daml/ledger/on/memory/InMemoryLedgerReaderWriterIntegrationSpec.scala
  ledger/ledger-on-sql/src/app/scala/com/daml/ledger/on/sql/SqlLedgerFactory.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/SqlLedgerReaderWriter.scala
  ledger/ledger-on-sql/src/test/lib/scala/com/daml/ledger/on/sql/MainWithEphemeralDirectory.scala
  ledger/ledger-on-sql/src/test/lib/scala/com/daml/ledger/on/sql/SqlLedgerReaderWriterIntegrationSpecBase.scala
  ledger/participant-state/kvutils/BUILD.bazel
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/LedgerFactory.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Runner.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/ValidatingCommitter.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/ParticipantStateIntegrationSpecBase.scala
  ledger/sandbox/BUILD.bazel
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/ApiServerConfig.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/StandaloneApiServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/TimeServiceBackend.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/ApiTimeService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/cli/Cli.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/config/SandboxConfig.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandboxnext/Runner.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/services/SandboxFixture.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/apiserver/SimpleTimeServiceBackendSpec.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/cli/CliSpec.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/services/time/WallClockTimeIT.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/TransactionStreamTerminationIT.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceFixture.scala
Labels: automerge

#4587 Allow custom commit workflow to be implemented for SubmissionValidator
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/SubmissionValidator.scala
Labels: automerge

#4582 sandbox: Log, explaining the removal of static time and scenarios.
  ledger/sandbox/src/main/resources/logback.xml
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
Labels: automerge

#4590 Cleanup DarReaderTest
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DarReaderTest.scala
Labels: automerge

#4595 Fall back on the builtin SDK version in damlc telemetry
  libs-haskell/da-hs-base/BUILD.bazel
  libs-haskell/da-hs-base/src/DA/Service/Logger/Impl/GCP.hs
Labels: automerge

#4594 Navigator: don't store divulged contracts
  navigator/backend/src/main/scala/com/digitalasset/navigator/model/Ledger.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/model/PartyState.scala
  navigator/backend/src/test/scala/com/digitalasset/navigator/backend/model/LedgerSpec.scala
Labels: component/navigator

#4542 Use the contract key hasher in kvutils
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/types/Ledger.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/crypto/Hash.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Node.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/crypto/HashSpec.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/store/serialization/KeyHasher.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/platform/store/serialization/KeyHasherSpec.scala
  ledger/participant-state/kvutils/src/main/protobuf/daml_kvutils.proto
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/Conversions.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/InputsAndEffects.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/KeyValueCommitting.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/Version.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committing/ProcessTransactionSubmission.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/package.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/ActiveLedgerStateManager.scala
  ledger/sandbox/src/main/scala/db/migration/postgres/V3__Recompute_Key_Hash.scala
Labels: automerge

#4571 Support type-level strings in DAML.
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/DataDependencies.hs
  compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
  compiler/damlc/daml-prim-src/DA/Internal/PromotedText.daml
  compiler/damlc/daml-prim-src/LibraryModules.daml
  compiler/damlc/lib/DA/Cli/Damlc/Packaging.hs
  compiler/damlc/stable-packages/BUILD.bazel
  compiler/damlc/stable-packages/src/GenerateStablePackage.hs
  compiler/damlc/tests/src/DA/Test/Packaging.hs
  compiler/damlc/tests/src/stable-packages.sh
  language-support/hs/bindings/test/DA/Ledger/Tests.hs
  language-support/java/codegen/src/test/scala/com/digitalasset/daml/lf/codegen/CodeGenRunnerTests.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/KVUtilsPackageSpec.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoSpec.scala
Labels: automerge

#4602 @daml/react: Add useStreamFetchByKey hook
  language-support/ts/daml-react/hooks.ts
Labels: automerge

#4603 Remove hardcoded number of packages from Haskell ledger binding tests
  language-support/hs/bindings/test/DA/Ledger/Tests.hs
Labels: automerge

#4606 Remove the hardcoded number of packages from JdbcLedgerDaoSpec
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoSpec.scala
Labels: automerge

#4609 Push down completion requests to data access layer
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/LedgerBackedIndexService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/MeteredReadOnlyLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/inmemory/InMemoryLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/BaseLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/CompletionFromTransaction.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/ReadOnlyLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/CommandCompletionsReader.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/JdbcLedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/LedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/MeteredLedgerDao.scala
Labels: automerge

#4608 [Engine] optimize conversion of Hash to String
  daml-lf/engine/BUILD.bazel
  daml-lf/transaction/BUILD.bazel
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/crypto/Hash.scala
Labels: automerge, component/daml-engine

#4607 Sandbox & kvutils: Use the existing ledger ID if no ledger ID is specified.
  ledger/api-server-damlonx/reference-v2/src/main/scala/com/daml/ledger/api/server/damlonx/reference/v2/InMemoryKVParticipantState.scala
  ledger/api-server-damlonx/reference-v2/src/main/scala/com/daml/ledger/api/server/damlonx/reference/v2/ReferenceServer.scala
  ledger/api-server-damlonx/reference-v2/src/test/suite/scala/com/daml/ledger/api/server/damlonx/reference/v2/InMemoryKVParticipantStateIT.scala
  ledger/api-server-damlonx/reference-v2/src/test/suite/scala/com/daml/ledger/api/server/damlonx/reference/v2/IndexerIT.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/common/LedgerIdMismatchException.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/common/LedgerIdMode.scala
  ledger/ledger-on-memory/src/app/scala/com/daml/ledger/on/memory/Main.scala
  ledger/ledger-on-memory/src/main/scala/com/daml/ledger/on/memory/InMemoryLedgerReaderWriter.scala
  ledger/ledger-on-memory/src/test/suite/scala/com/daml/ledger/on/memory/InMemoryLedgerReaderWriterIntegrationSpec.scala
  ledger/ledger-on-sql/BUILD.bazel
  ledger/ledger-on-sql/src/app/scala/com/daml/ledger/on/sql/SqlLedgerFactory.scala
  ledger/ledger-on-sql/src/main/resources/com/daml/ledger/on/sql/migrations/common/V2__create_meta_table.sql
  ledger/ledger-on-sql/src/main/resources/com/daml/ledger/on/sql/migrations/common/V2__create_meta_table.sql.sha256
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/Database.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/SqlLedgerReaderWriter.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/queries/CommonQueries.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/queries/H2Queries.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/queries/PostgresqlQueries.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/queries/Queries.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/queries/SqliteQueries.scala
  ledger/ledger-on-sql/src/test/lib/scala/com/daml/ledger/on/sql/MainWithEphemeralDirectory.scala
  ledger/ledger-on-sql/src/test/lib/scala/com/daml/ledger/on/sql/SqlLedgerReaderWriterIntegrationSpecBase.scala
  ledger/participant-state/kvutils/BUILD.bazel
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Config.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/LedgerFactory.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Runner.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/ParticipantStateIntegrationSpecBase.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/JdbcIndex.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/ReadOnlySqlLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/config/SandboxConfig.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/SandboxIndexAndWriteService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandboxnext/Runner.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/LedgerResource.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/services/identity/LedgerIdentityServiceIT.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/services/reset/ResetServiceIT.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedgerSpec.scala
  libs-scala/resources/src/main/scala/com/digitalasset/resources/ProgramResource.scala
Labels: automerge

#4616 Add package metadata to DAML-LF proto and the Haskell AST
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Base.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Optics.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Pretty.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Util.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/World.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/DecodeV1.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/EncodeV1.hs
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Dar.hs
  compiler/damlc/daml-ide-core/src/Development/IDE/Core/RuleTypes/Daml.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion/UtilLF.hs
  compiler/damlc/stable-packages/src/GenerateStablePackage.hs
  compiler/damlc/tests/src/DA/Test/GenerateSimpleDalf.hs
  daml-lf/archive/src/main/protobuf/com/digitalasset/daml_lf_dev/daml_lf_1.proto
Labels: automerge

#4618 Add subtractDays to the standard library
  compiler/damlc/daml-stdlib-src/DA/Date.daml
Labels: automerge

#4619 Update to changes in create-daml-app
  docs/source/getting-started/app-architecture.rst
  docs/source/getting-started/code/ui-after/Feed.tsx
  docs/source/getting-started/code/ui-after/MainView.tsx
  docs/source/getting-started/code/ui-after/MessageEdit.tsx
  docs/source/getting-started/code/ui-after/MessageList.tsx
  docs/source/getting-started/code/ui-before/MainView.tsx
  docs/source/getting-started/first-feature.rst
Labels: automerge

#4620 ledger-on-sql: Split read queries out from write queries.
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/Database.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/SqlLedgerReaderWriter.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/queries/CommonQueries.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/queries/H2Queries.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/queries/PostgresqlQueries.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/queries/Queries.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/queries/ReadQueries.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/queries/SqliteQueries.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/queries/WriteQueries.scala
Labels: automerge

#4626 Revert "sandbox: Log, explaining the removal of static time and scenarios."
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
Labels: automerge

#4628 @daml/ledger: Use {live: true} marker from JSON API
  language-support/ts/daml-ledger/index.ts
Labels: automerge

#4627 Release 0.13.54
  VERSION
  docs/source/support/release-notes.rst
Labels: automerge

#4617 Engine: move partialTransaction to interpreter
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
Labels: automerge, component/daml-engine

#4634 increase linux nodes to 10
  infra/vsts_agent_linux.tf
Labels: Standard-Change, automerge

#4635 Reword introduction and explanation of codegen
  docs/source/getting-started/app-architecture.rst
  docs/source/getting-started/first-feature.rst
  docs/source/getting-started/index.rst
Labels: automerge

#4612 @daml/react: Add an initial test suite
  language-support/ts/daml-react/BUILD.bazel
  language-support/ts/daml-react/hooks.test.ts
  language-support/ts/daml-react/jest.config.js
  language-support/ts/daml-react/package.json
  language-support/ts/packages/package.json
  language-support/ts/packages/yarn.lock
Labels: automerge

#4637 Support authentication in DAML script
  daml-script/runner/BUILD.bazel
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/RunnerConfig.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/RunnerMain.scala
  daml-script/test/BUILD.bazel
  daml-script/test/daml/ScriptTest.daml
  daml-script/test/src/com/digitalasset/daml/lf/engine/script/test/MultiParticipant.scala
  daml-script/test/src/com/digitalasset/daml/lf/engine/script/test/SingleParticipant.scala
  daml-script/test/src/com/digitalasset/daml/lf/engine/script/test/TestRunner.scala
Labels: automerge

#4633 Refactor handling of package names and versions
  BUILD
  compiler/daml-lf-ast/BUILD.bazel
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Base.hs
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Dar.hs
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/DataDependencies.hs
  compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion/UtilLF.hs
  compiler/damlc/daml-opts/BUILD.bazel
  compiler/damlc/daml-opts/daml-opts-types/DA/Daml/Options/Types.hs
  compiler/damlc/daml-opts/daml-opts/DA/Daml/Options.hs
  compiler/damlc/daml-preprocessor/src/DA/Daml/Preprocessor.hs
  compiler/damlc/daml-preprocessor/src/DA/Daml/Preprocessor/Generics.hs
  compiler/damlc/lib/DA/Cli/Damlc.hs
  compiler/damlc/lib/DA/Cli/Damlc/Command/Damldoc.hs
  compiler/damlc/lib/DA/Cli/Damlc/Packaging.hs
  compiler/damlc/lib/DA/Cli/Options.hs
  compiler/damlc/tests/BUILD.bazel
  compiler/damlc/tests/src/DA/Test/Packaging.hs
Labels: automerge

#4639 GSG: Explain UI better in app arch section
  docs/source/getting-started/app-architecture.rst
  docs/source/getting-started/code/ui-before/MainView.tsx
Labels: automerge

#4646 @daml/react: Make the test suite invokable by yarn test
  language-support/ts/daml-react/jest.config.js
Labels: automerge

#4636 recovering-indexer-integration-tests: Extract from reference-v2.
  ledger/api-server-damlonx/reference-v2/BUILD.bazel
  ledger/api-server-damlonx/reference-v2/src/test/suite/scala/com/daml/ledger/api/server/damlonx/reference/v2/IndexerIT.scala
  ledger/recovering-indexer-integration-tests/BUILD.bazel
  ledger/recovering-indexer-integration-tests/src/test/resources/logback-test.xml
  ledger/recovering-indexer-integration-tests/src/test/suite/scala/com/digitalasset/platform/indexer/RecoveringIndexerIntegrationSpec.scala
  ledger/test-common/src/main/scala/com/digitalasset/platform/testing/LogCollector.scala
Labels: automerge

#4649 Improve documentation of DA.Text.sha256
  compiler/damlc/daml-stdlib-src/DA/Text.daml
Labels: automerge

#4648 Clarify optionality of pVersion field in PackageConfig
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Dar.hs
  compiler/damlc/lib/DA/Cli/Damlc.hs
Labels: automerge

#4655 Decode DAML-LF retrieved from the database in the server thread pool
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/JdbcLedgerDao.scala
Labels: automerge

#4653 Decode and validate package metadata in Scala
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Base.hs
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Context.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV1Spec.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/IdString.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/Ref.scala
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/DamlLfEncoder.scala
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/EncodeV1.scala
  daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/archive/testing/EncodeV1Spec.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/InterpreterTest.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
  daml-lf/language/src/test/scala/com/digitalasset/daml/lf/language/AstSpec.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/AstRewriter.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ModParser.scala
Labels: automerge

#4652 [Engine] push absolute contract ids inside the evaluation
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/Value.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/ValueCoder.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/value/ValueSpec.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/Conversions.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/events/EventIdFormatter.scala
Labels: component/daml-engine

#4586 Extractor: only store contracts if a party is a stakeholder
  extractor/src/main/scala/com/digitalasset/extractor/Extractor.scala
  extractor/src/main/scala/com/digitalasset/extractor/helpers/TransactionTreeTrimmer.scala
  extractor/src/main/scala/com/digitalasset/extractor/ledger/types/Event.scala
  extractor/src/main/scala/com/digitalasset/extractor/writers/postgresql/Queries.scala
  extractor/src/test/lib/scala/com/digitalasset/extractor/services/Types.scala
  extractor/src/test/resources/damls/TransactionExample.daml
  extractor/src/test/suite/scala/com/digitalasset/extractor/TransactionMultiTableSpec.scala
  extractor/src/test/suite/scala/com/digitalasset/extractor/TransactionSingleTableSpec.scala
Labels: component/extractor

#4662 @daml/react: Add rerendering test for useQuery
  language-support/ts/daml-react/hooks.test.ts
Labels: automerge

#4664 Highlight Typescript code snippets without tsx
  docs/source/getting-started/app-architecture.rst
  docs/source/getting-started/first-feature.rst
Labels: automerge

#4665 Sandbox: Fix a bug in the ResetServiceIT `timedReset` function.
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/services/reset/ResetServiceIT.scala
Labels: automerge

#4667 Use package metadata instead of file names to infer unit ids
  compiler/daml-lf-ast/BUILD.bazel
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Util.hs
  compiler/daml-lf-reader/src/DA/Daml/LF/Reader.hs
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/DataDependencies.hs
  compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
  compiler/damlc/daml-opts/daml-opts/DA/Daml/Options.hs
  compiler/damlc/lib/DA/Cli/Damlc.hs
  compiler/damlc/lib/DA/Cli/Damlc/Packaging.hs
  compiler/damlc/lib/DA/Cli/Options.hs
Labels: automerge

#4675 Make the completion service return API response directly
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/services/domain/CommandCompletionService.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/services/grpc/GrpcCommandCompletionService.scala
  ledger/participant-state-index/BUILD.bazel
  ledger/participant-state-index/src/main/scala/com/daml/ledger/participant/state/index/v2/IndexCompletionsService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/ApiCommandCompletionService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/LedgerBackedIndexService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/MeteredReadOnlyLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/inmemory/InMemoryLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/BaseLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/CompletionFromTransaction.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/ReadOnlyLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/CommandCompletionsReader.scala
Labels: automerge

#4679 Rework description of using the app with recent changes
  docs/source/getting-started/index.rst
Labels: automerge

#4678 Add documentation for DAML repl and advertise it
  compiler/damlc/lib/DA/Cli/Damlc.hs
  docs/configs/pdf/index.rst
  docs/source/daml-repl/index.rst
  docs/source/daml-script/index.rst
  docs/source/index.rst
  release/sdk-config.yaml.tmpl
Labels: automerge

#4684 ledger-api-test-tool-on-canton: Upgrade Canton to v0.9.0.
  WORKSPACE
Labels: automerge

#4686 Split Ledger API Test Tool output
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/LedgerApiTestTool.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerTestSuiteRunner.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerTestSummary.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/Reporter.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/Result.scala
Labels: automerge

#4683 Avoid opening a server to the world when finding a free port.
  bazel_tools/client_server/tests/server.scala
  bazel_tools/scala.bzl
  language-support/scala/bindings-akka-testing/BUILD.bazel
  language-support/scala/bindings-akka-testing/src/main/scala/com/digitalasset/ledger/client/testing/RandomPorts.scala
  language-support/scala/codegen-sample-app/src/test/scala/com/digitalasset/codegen/util/TestUtil.scala
  ledger-service/http-json/BUILD.bazel
  ledger-service/http-json/src/test/scala/com/digitalasset/http/HttpServiceTestFixture.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/util/TestUtil.scala
  libs-scala/ports/BUILD.bazel
  libs-scala/ports/src/main/scala/com/digitalasset/ports/FreePort.scala
  libs-scala/postgresql-testing/BUILD.bazel
  libs-scala/postgresql-testing/src/main/scala/com/digitalasset/testing/postgresql/PostgresAround.scala
Labels: automerge

#4688 daml2ts: Don't fest @daml/types from npmjs.com in tests
  language-support/ts/codegen/tests/BUILD.bazel
  language-support/ts/codegen/tests/src/DA/Test/Daml2Ts.hs
Labels: automerge

#4691 GSG: Explain Sandbox and JSON API better and improve wording in intro
  docs/source/getting-started/index.rst
Labels: automerge

#4621 Sandbox: Fix two race conditions on shutdown in ReadOnlySqlLedger.
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/StandaloneApiServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/JdbcIndex.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/ReadOnlySqlLedger.scala
Labels: automerge, component/ledger

#4695 fix release.sh
  release.sh
Labels: automerge

#4701 fix checkout release step
  azure-pipelines.yml
Labels: automerge

#4698 @daml/react: Expose the template id type parameter
  language-support/ts/daml-react/hooks.ts
Labels: automerge

#4685 Add init-script field to daml.yaml
  daml-assistant/daml-helper/src/DA/Daml/Helper/Main.hs
  daml-assistant/daml-helper/src/DA/Daml/Helper/Run.hs
  daml-assistant/integration-tests/BUILD.bazel
  daml-assistant/integration-tests/src/DA/Daml/Assistant/IntegrationTests.hs
Labels: automerge

#4708 @daml/react: Remove loading indication from useExercise hook
  language-support/ts/daml-react/hooks.ts
Labels: automerge
