Repository digital-asset/daml, pull requests merged in 2020-10, with the labels that each got.

#7538 Revert "Speedy Compiler: factorize and clean code (#7493)"
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
Labels: automerge

#7539 Fix data-deps dictionary function name mismatches.
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/DataDependencies.hs
  compiler/damlc/tests/src/DA/Test/Packaging.hs
Labels: automerge

#7542 DAML Engine: Remove token argument to SBU* builtins
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
Labels: automerge

#7545 trigger service auth /auth endpoint
  triggers/service/auth/BUILD.bazel
  triggers/service/auth/src/main/scala/com/daml/oauth/middleware/Request.scala
  triggers/service/auth/src/main/scala/com/daml/oauth/middleware/Server.scala
  triggers/service/auth/src/main/scala/com/daml/oauth/server/Request.scala
  triggers/service/auth/src/test/scala/com/daml/oauth/middleware/Test.scala
Labels: automerge

#7552 Fix bifunctor docs
  compiler/damlc/daml-stdlib-src/DA/Bifunctor.daml
  docs/configs/static/pygments_daml_lexer.py
Labels: automerge

#7544 Fix qualified name handling in DAML REPL
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Repl.hs
  compiler/damlc/tests/BUILD.bazel
  compiler/damlc/tests/Colliding.daml
  compiler/damlc/tests/ReplTest.daml
  compiler/damlc/tests/src/DA/Test/Repl/FuncTests.hs
Labels: automerge

#7558 participant-integration-api: Increase the migration connection timeout.
  ledger/participant-integration-api/src/main/scala/platform/store/FlywayMigrations.scala
Labels: automerge

#7525 ledger-on-sql: Use tagged execution contexts and data sources in `Database`.
  ledger/ledger-on-sql/BUILD.bazel
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/Database.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/SqlLedgerReaderWriter.scala
  ledger/metrics/BUILD.bazel
  ledger/metrics/src/main/scala/com/daml/metrics/Timed.scala
  libs-scala/concurrent/src/main/scala/concurrent/package.scala
Labels: automerge

#7560 Move besu to commercially supported ledgers
  docs/source/deploy/index.rst
Labels: automerge

#7563 make Script's free runner more declarative with new utilities
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
Labels: automerge

#7565 Make trigger service auth middleware /login endpoint compatible with Auth0
  triggers/service/auth/src/main/scala/com/daml/oauth/middleware/Config.scala
  triggers/service/auth/src/main/scala/com/daml/oauth/middleware/README.md
  triggers/service/auth/src/main/scala/com/daml/oauth/middleware/Server.scala
  triggers/service/auth/src/main/scala/com/daml/oauth/server/Request.scala
  triggers/service/auth/src/main/scala/com/daml/oauth/server/Server.scala
  triggers/service/auth/src/test/scala/com/daml/oauth/middleware/TestFixture.scala
  triggers/service/auth/src/test/scala/com/daml/oauth/server/Client.scala
Labels: automerge

#7564 Tiny compiler simpification
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
Labels: automerge, component/daml-engine

#7573 Engine: drop unused functions in com.daml.lf.engine.Result
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Result.scala
Labels: component/daml-engine

#7572 make focused transaction stream testing easy
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoSuite.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoTransactionsSpec.scala
Labels: automerge

#7594 fix comment
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Base.hs
  daml-lf/archive/src/main/protobuf/com/daml/daml_lf_dev/daml_lf_1.proto
Labels: automerge

#7576 Instrument command service queues [KVL-519]
  docs/source/tools/sandbox.rst
  ledger/daml-on-sql/README.rst
  ledger/ledger-api-client/BUILD.bazel
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/services/commands/CommandClient.scala
  ledger/ledger-api-client/src/main/scala/com/digitalasset/util/akkastreams/MaxInFlight.scala
  ledger/ledger-api-client/src/test/suite/scala/com/digitalasset/util/akkastreams/MaxInFlightTest.scala
  ledger/metrics/BUILD.bazel
  ledger/metrics/src/main/scala/com/daml/metrics/InstrumentedSource.scala
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
  ledger/metrics/src/test/scala/com/daml/metrics/InstrumentedSourceSpec.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/ApiServices.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiCommandService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/tracking/TrackerImpl.scala
Labels: automerge

#7598 remove known command ID from trigger state once Transaction and Completion message are seen
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Runner.scala
Labels: automerge

#7603 Release another 1.6.0 snapshot
  LATEST
Labels: Standard-Change

#7595 Update release instructions to follow newest GSG
  docs/source/getting-started/index.rst
  release/RELEASE.md
Labels: automerge

#7460 kutils: Make the validation and the preloading of PackageCommitter parametric
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/Reader.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/validation/BUILD.bazel
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
  ledger/participant-integration-api/BUILD.bazel
  ledger/participant-integration-api/src/main/scala/platform/apiserver/ApiServices.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/admin/ApiPackageManagementService.scala
  ledger/participant-state/kvutils/BUILD.bazel
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/PackageCommitter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/PackagePreloadingMode.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/PackageValidationMode.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/StepResult.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/ParticipantStateIntegrationSpecBase.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/CommitterSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/PackageCommitterSpec.scala
  ledger/recovering-indexer-integration-tests/BUILD.bazel
Labels: component/dlik

#7601 Add timer to track queue delay in InstrumentedSource.queue
  docs/source/tools/sandbox.rst
  ledger/daml-on-sql/README.rst
  ledger/metrics/src/main/scala/com/daml/metrics/InstrumentedSource.scala
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
  ledger/metrics/src/test/scala/com/daml/metrics/InstrumentedSourceSpec.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiCommandService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/tracking/TrackerImpl.scala
Labels: automerge

#7613 Force a rebuild of DamlcVisualize
  compiler/damlc/tests/src/DamlcVisualize.hs
Labels: automerge

#7619 remove submitCommands, ActionTrigger from high-level Trigger API
  triggers/daml/Daml/Trigger.daml
  triggers/daml/Daml/Trigger/Internal.daml
  triggers/daml/Daml/Trigger/LowLevel.daml
Labels: automerge

#7627 DAML-Script: use idomatic way to convert Option to Either.
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
Labels: automerge

#7631 LF: decouple template from record in the Scala Ast.
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Context.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV1Spec.scala
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/EncodeV1.scala
  daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/archive/testing/EncodeV1Spec.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/PackageLookup.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/Preprocessor.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/ValueTranslator.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/reader/InterfaceReader.scala
  daml-lf/interface/src/test/scala/com/digitalasset/daml/lf/iface/reader/InterfaceReaderSpec.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/InterpreterTest.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
  daml-lf/language/src/test/scala/com/digitalasset/daml/lf/language/AstSpec.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/AstRewriter.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ModParser.scala
  daml-lf/parser/src/test/scala/com/digitalasset/daml/lf/testing/parser/ParsersSpec.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Collision.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/PartyLiterals.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Recursion.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Serializability.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/TypeSubst.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/World.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/traversable/ExprTraversable.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/traversable/TypeTraversable.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/DependencyVersionSpec.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/TypingSpec.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
  ledger/participant-state/kvutils/tools/engine-benchmark/src/benchmark/scala/ledger/participant/state/kvutils/tools/engine/benchmark/Adapter.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/ScenarioLoader.scala
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Runner.scala
Labels: component/daml-engine

#7643 Fix broken migration
  ledger/participant-integration-api/src/main/scala/db/migration/postgres/V38__Update_value_versions.scala
Labels: automerge

#7610 LF: enforce non-empty maintainers in contract key lookup
  compiler/damlc/tests/daml-test-files/EmptyContractKeyMaintainers.daml
  compiler/scenario-service/client/src/DA/Daml/LF/PrettyScenario.hs
  compiler/scenario-service/protos/scenario_service.proto
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SError.scala
Labels: component/daml-lf

#7646 Set custom patienceConfig in TrackerImplTest [KVL-609]
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/services/tracking/TrackerImplTest.scala
Labels: automerge

#7647 Backport: Fix broken migration (#7643)
  ledger/participant-integration-api/src/main/scala/db/migration/postgres/V38__Update_value_versions.scala
Labels: automerge

#7644 Snapshot release DAML SDK for 1.7.0
  LATEST
Labels: Standard-Change

#7651 Unbreak pom_template.xml
  bazel_tools/pom_template.xml
Labels: automerge

#7650 Release RC3 for SDK 1.6.0
  LATEST
Labels: Standard-Change, automerge

#7653 Release 1.7 snapshot
  LATEST
Labels: Standard-Change

#7659 kvutils: fix bug in the PackageCommitter introduced in #7460
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/PackageCommitter.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/PackageCommitterSpec.scala
Labels: component/dlik

#7577 LF: add PackageSignatures
  compiler/repl-service/server/src/main/scala/com/digitalasset/daml/lf/ReplServiceMain.scala
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Context.scala
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/DamlLfEncoder.scala
  daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/archive/testing/EncodeV1Spec.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ConcurrentCompiledPackages.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/SignatureLookup.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/CommandPreprocessor.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/Preprocessor.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/ValueTranslator.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/CompiledPackages.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SpeedyTest.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Util.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/AstRewriter.scala
  daml-lf/repl/src/main/scala/com/digitalasset/daml/lf/repl/testing/Main.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Validation.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/World.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/DependencyVersionSpec.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/SerializabilitySpec.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Runner.scala
Labels: component/daml-engine

#7664 Refactor packaging test for data-dependencies
  compiler/damlc/tests/src/DA/Test/Packaging.hs
Labels: automerge

#7665 Improve the naming of things in data-dependencies tests
  compiler/damlc/tests/src/DA/Test/Packaging.hs
Labels: automerge

#7668 add silent_annotations option to da_scala bazel functions
  bazel_tools/scala.bzl
  daml-lf/interpreter/BUILD.bazel
  daml-lf/transaction/BUILD.bazel
  language-support/scala/bindings-akka/BUILD.bazel
  language-support/scala/bindings/BUILD.bazel
  language-support/scala/codegen-sample-app/BUILD.bazel
  language-support/scala/codegen-testing/BUILD.bazel
  ledger-service/db-backend/BUILD.bazel
  ledger-service/http-json/BUILD.bazel
  ledger/ledger-api-client/BUILD.bazel
  ledger/ledger-api-common/BUILD.bazel
  ledger/participant-integration-api/BUILD.bazel
  ledger/participant-state/kvutils/BUILD.bazel
  ledger/participant-state/kvutils/app/BUILD.bazel
  ledger/sandbox-classic/BUILD.bazel
  ledger/sandbox-perf/BUILD.bazel
  libs-scala/concurrent/BUILD.bazel
  libs-scala/contextualized-logging/BUILD.bazel
  libs-scala/resources/BUILD.bazel
  navigator/backend/BUILD.bazel
Labels: automerge, component/build-system

#7632 replace getContracts with query Action, usable in initialize, updateState, rule
  compatibility/BUILD
  compatibility/bazel_tools/daml_trigger/example/src/CopyTrigger.daml
  docs/source/triggers/index.rst
  docs/source/triggers/template-root/src/CopyTrigger.daml
  docs/source/upgrade/example/coin-upgrade-trigger/daml/UpgradeTrigger.daml
  triggers/daml/Daml/Trigger.daml
  triggers/daml/Daml/Trigger/Internal.daml
  triggers/service/test-model/ErrorTrigger.daml
  triggers/service/test-model/TestTrigger.daml
  triggers/tests/daml/CreateAndExercise.daml
  triggers/tests/daml/ExerciseByKey.daml
  triggers/tests/daml/MaxInboundMessageTest.daml
  triggers/tests/daml/PendingSet.daml
  triggers/tests/daml/Retry.daml
  triggers/tests/daml/TemplateIdFilter.daml
  triggers/tests/scenarios/Rule.daml
Labels: trigger-daml-api

#7663 LF: Add ExerciseByKey Update
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Alpha.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Base.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/FreeVars.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Pretty.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Recursive.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Subst.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/DecodeV1.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/EncodeV1.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Check.hs
  compiler/damlc/daml-visual/src/DA/Daml/Visual.hs
  daml-lf/archive/src/main/protobuf/com/daml/daml_lf_dev/daml_lf_1.proto
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/EncodeV1.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/AstRewriter.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ExprParser.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/Lexer.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/Token.scala
  daml-lf/parser/src/test/scala/com/digitalasset/daml/lf/testing/parser/ParsersSpec.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/traversable/ExprTraversable.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/traversable/TypeTraversable.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/TypingSpec.scala
Labels: component/daml-lf

#7679 Bump perf sha
  ci/cron/perf/test_sha
Labels: automerge

#7688 Spell out bazel directories in .gitignore
  .gitignore
Labels: automerge

#7692 Release SDK 1.6.0
  LATEST
Labels: Standard-Change

#7687 @daml/types: Improve Unit type
  language-support/ts/daml-types/index.ts
Labels: automerge

#7649 LF: enforce non-empty maintainers in contract key in fetchByKey
  compiler/damlc/tests/daml-test-files/EmptyContractKeyMaintainers.daml
  compiler/scenario-service/client/src/DA/Daml/LF/PrettyScenario.hs
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Command.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/tests/BasicTests.daml
Labels: component/daml-lf

#7694 Bump the version of ghcide we use
  bazel-haskell-deps.bzl
  compiler/damlc/daml-preprocessor/src/DA/Daml/Preprocessor.hs
Labels: automerge

#7662 Warn on potentially un-upgradable language extensions
  compiler/damlc/daml-opts/daml-opts/DA/Daml/Options.hs
  compiler/damlc/daml-preprocessor/src/DA/Daml/Preprocessor.hs
  compiler/damlc/tests/daml-test-files/BadExtensionOption.daml
  compiler/damlc/tests/daml-test-files/BadExtensionPragma.daml
  compiler/damlc/tests/daml-test-files/ConstrainedClassMethod.daml
  compiler/damlc/tests/daml-test-files/Constraint.daml
  compiler/damlc/tests/daml-test-files/Existential.daml
  compiler/damlc/tests/daml-test-files/ExistentialSum.daml
  compiler/damlc/tests/daml-test-files/Generics.daml
  compiler/damlc/tests/daml-test-files/GoodExtensionOption.daml
  compiler/damlc/tests/daml-test-files/GoodExtensionPragma.daml
  compiler/damlc/tests/daml-test-files/GoodExtensionUseless.daml
  compiler/damlc/tests/daml-test-files/PatternSynonyms.daml
  compiler/damlc/tests/daml-test-files/Records.daml
  compiler/damlc/tests/daml-test-files/TypeFamily.daml
Labels: automerge

#7705 Warn when importing DA.Generics
  compiler/damlc/daml-preprocessor/src/DA/Daml/Preprocessor.hs
  compiler/damlc/tests/daml-test-files/Generics.daml
Labels: automerge

#7618 upgrade doobie from 0.6.0 to 0.9.2
  bazel-java-deps.bzl
  extractor/src/main/scala/com/digitalasset/extractor/writers/postgresql/Queries.scala
  extractor/src/test/lib/scala/com/digitalasset/extractor/services/ExtractorFixture.scala
  ledger-service/db-backend/src/main/scala/com/digitalasset/http/dbbackend/Queries.scala
  ledger-service/http-json/BUILD.bazel
  ledger-service/http-json/src/it/scala/http/HttpServiceWithPostgresIntTest.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/dbbackend/ContractDao.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/query/ValuePredicateTest.scala
  maven_install.json
  navigator/backend/src/main/scala/com/digitalasset/navigator/data/DatabaseActions.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/dao/DbTriggerDao.scala
Labels: component/extractor, component/json-api, component/navigator, component/trigger-service

#7654 Use auth middleware in trigger service `/v1/start` endpoint
  triggers/service/BUILD.bazel
  triggers/service/auth/BUILD.bazel
  triggers/service/auth/src/main/scala/com/daml/oauth/middleware/Config.scala
  triggers/service/auth/src/main/scala/com/daml/oauth/middleware/README.md
  triggers/service/auth/src/main/scala/com/daml/oauth/middleware/Request.scala
  triggers/service/auth/src/main/scala/com/daml/oauth/middleware/Server.scala
  triggers/service/auth/src/main/scala/com/daml/oauth/server/Config.scala
  triggers/service/auth/src/main/scala/com/daml/oauth/server/Server.scala
  triggers/service/auth/src/test/scala/com/daml/oauth/middleware/Test.scala
  triggers/service/auth/src/test/scala/com/daml/oauth/middleware/TestFixture.scala
  triggers/service/auth/src/test/scala/com/daml/oauth/server/TestFixture.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Server.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/ServiceConfig.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/ServiceMain.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/TriggerRunnerImpl.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/dao/DbTriggerDao.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/package.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceFixture.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceTest.scala
Labels: automerge

#7735 Move CallStack, HasCallStack docs to DA.Stack
  compiler/damlc/daml-prim-src/GHC/Stack/Types.daml
  compiler/damlc/daml-stdlib-src/DA/Stack.daml
Labels: automerge

#7726 queryContractId and queryContractKey for high-level triggers
  triggers/daml/Daml/Trigger.daml
  triggers/daml/Daml/Trigger/Assert.daml
  triggers/daml/Daml/Trigger/Internal.daml
  triggers/tests/daml/ExerciseByKey.daml
  triggers/tests/scenarios/Rule.daml
Labels: trigger-daml-api

#7756 ledger-api-test-tool: Default to a ledger clock granularity of 1 second.
  ledger/ledger-api-test-tool/BUILD.bazel
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/Cli.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/Config.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/Tests.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/ProtobufConverters.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/CommandDeduplicationIT.scala
Labels: automerge

#7739 Replace occurrances of DAML SDK in the docs with appropriate new terms
  docs/README.md
  docs/configs/pdf/index.rst
  docs/source/app-dev/app-arch.rst
  docs/source/app-dev/authorization.rst
  docs/source/app-dev/bindings-java/index.rst
  docs/source/app-dev/bindings-java/quickstart.rst
  docs/source/app-dev/bindings-scala/index.rst
  docs/source/app-dev/ledger-api.rst
  docs/source/concepts/glossary.rst
  docs/source/daml-integration-kit/index.rst
  docs/source/daml-repl/index.rst
  docs/source/daml/daml-studio.rst
  docs/source/daml/intro/0_Intro.rst
  docs/source/daml/intro/8_Dependencies.rst
  docs/source/daml/reference/packages.rst
  docs/source/getting-started/app-architecture.rst
  docs/source/getting-started/index.rst
  docs/source/getting-started/installation.rst
  docs/source/getting-started/manual-download.rst
  docs/source/getting-started/path-variables.rst
  docs/source/index.rst
  docs/source/support/compatibility.rst
  docs/source/support/overview.rst
  docs/source/tools/assistant.rst
  docs/source/tools/codegen.rst
  docs/source/tools/navigator/console.rst
  docs/source/tools/navigator/index.rst
  docs/source/tools/sandbox.rst
Labels: automerge

#7759 fmt: Do not try and format missing Haskell files.
  fmt.sh
Labels: automerge

#7757 ledger-api-test-tool: Backport clearer logs to v1.6. [KVL-666]
  docs/source/tools/ledger-api-test-tool/index.rst
  ledger/ledger-api-test-tool/src/main/resources/logback.xml
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/Cli.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/Config.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/LedgerApiTestTool.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerTestCasesRunner.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/Reporter.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/participant/ParticipantTestContext.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/CommandDeduplicationIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/CommandSubmissionCompletionIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/ContractKeysIT.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/admin/ApiPartyManagementService.scala
  libs-scala/timer-utils/src/test/suite/scala/com/daml/timer/RetryStrategySpec.scala
Labels: automerge

#7768 release: Check that the commit is on a release branch on origin.
  release.sh
Labels: automerge

#7761 Require authorization on list and status endpoints
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Server.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceTest.scala
Labels: automerge, component/trigger-service

#7767 Release version 1.6.1-snapshot.20201021.5317.0.aafe46a5. [KVL-666]
  LATEST
Labels: Standard-Change, automerge

#7771 allow Moritz to kill machines
  infra/periodic_killer.tf
Labels: Standard-Change

#7772 sandbox: Do not re-register the metrics when resetting.
  ledger/sandbox/src/main/scala/platform/sandboxnext/Runner.scala
Labels: automerge

#7776 fix periodic-killer permissions
  infra/periodic_killer.tf
Labels: Standard-Change

#7774 Add Enum and Bounded instances to DA.Date
  compiler/damlc/daml-stdlib-src/DA/Date.daml
  compiler/damlc/tests/daml-test-files/PreludeTest.daml
Labels: automerge

#7782 document how to kill nodes
  infra/README.md
Labels: Standard-Change

#7779 LF: rename value version 7 and transaction version 11, dev
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineInfoTest.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/tests/scenario/dev/gen-map/EXPECTED.ledger
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionVersion.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/VersionTimeline.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/ValueVersion.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionVersionSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/VersionTimelineSpec.scala
Labels: component/daml-engine

#7778 Fix scenario service vs struct projections bug
  compiler/damlc/tests/BUILD.bazel
  compiler/damlc/tests/src/DA/Test/DamlcIntegration.hs
  compiler/damlc/util.bzl
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
Labels: automerge

#7786 Compiler: Add more tests for record projection conversion
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
  compiler/damlc/tests/daml-test-files/RecordProjection.daml
Labels: automerge

#7793 Snapshot 1.7.0 Friday 2020-10-23
  LATEST
Labels: Standard-Change, automerge

#7784 Refactoring: Use map in download helper for fetch-dar
  daml-assistant/daml-helper/src/DA/Daml/Helper/Ledger.hs
Labels: automerge

#7787 getCommandsInFlight can be used in updateState
  triggers/daml/Daml/Trigger.daml
  triggers/daml/Daml/Trigger/Assert.daml
  triggers/daml/Daml/Trigger/Internal.daml
  triggers/tests/daml/TemplateIdFilter.daml
Labels: trigger-daml-api

#7795 LF: add TransactionCoder tests for choiceObservers
  daml-lf/transaction-test-lib/src/main/scala/lf/value/test/ValueGenerators.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionCoderSpec.scala
Labels: component/daml-engine

#7802 damlc: Minor cleanup in setFieldPrim conversion
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
Labels: automerge

#7797 LF: add ad-hoc toString to GlobalKey
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/GlobalKey.scala
Labels: component/daml-engine

#7807 LF: Make the compiler using less stack when compiling commands
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/CompilerTest.scala
Labels: component/daml-engine

#7780 Factor out the JWT verifier CLI options
  ledger-service/cli-opts/BUILD.bazel
  ledger-service/cli-opts/src/main/scala/ledger-service/jwt/JwtVerifierConfigurationCli.scala
  ledger/sandbox-common/BUILD.bazel
  ledger/sandbox-common/src/main/scala/platform/sandbox/cli/CommonCli.scala
  triggers/service/BUILD.bazel
  triggers/service/auth/BUILD.bazel
  triggers/service/auth/src/main/scala/com/daml/oauth/middleware/Config.scala
Labels: automerge

#7729 Improve support statement in docs
  docs/source/daml-integration-kit/index.rst
  docs/source/support/compatibility.rst
  docs/source/support/overview.rst
  docs/source/support/releases.rst
Labels: automerge

#7813 Amend docs to introduce the concept of DAML Connect
  docs/source/app-dev/app-arch.rst
  docs/source/app-dev/authorization.rst
  docs/source/app-dev/bindings-java/quickstart.rst
  docs/source/app-dev/recommended_architecture.svg
  docs/source/getting-started/images/gsg_architecture.svg
  docs/source/support/architecture.png
  docs/source/support/overview.rst
  language-support/scala/examples/quickstart-scala/README.md
Labels: automerge

#7812 properly stream commands from initialState trigger actions
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Runner.scala
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/SourceShape2.scala
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/UnfoldState.scala
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/test/UnfoldStateSpec.scala
Labels: automerge

#7818 Cache computation of top-level values at definition level
  compiler/repl-service/server/src/main/scala/com/digitalasset/daml/lf/ReplServiceMain.scala
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Context.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ConcurrentCompiledPackages.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/CompiledPackages.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SDefinition.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SpeedyTest.scala
  daml-lf/repl/src/main/scala/com/digitalasset/daml/lf/repl/testing/Main.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
Labels: automerge

#7831 Include .proto files in ScalaPB source jar
  ledger-api/grpc-definitions/BUILD.bazel
Labels: automerge

#7842 Fix error handling in ledger-upload-dar
  daml-assistant/daml-helper/src/DA/Daml/Helper/Ledger.hs
Labels: automerge
