Repository digital-asset/daml, pull requests merged in 2020-04, with the labels that each got.

#5301 Make wall clock time the default time mode for sandbox
  docs/source/getting-started/quickstart.rst
  docs/source/tools/ledger-api-test-tool/index.rst
  docs/source/tools/sandbox.rst
  docs/source/upgrade/index.rst
  language-support/scala/examples/quickstart-scala/README.md
  ledger/sandbox/BUILD.bazel
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandboxnext/Runner.scala
Labels: DAML SDK 1.0, component/ledger

#5319 DAML-LF. method to suffix V1 cid
  daml-lf/engine/BUILD.bazel
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/CidContainer.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/Value.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionVersionSpec.scala
Labels: component/daml-lf

#5328 Refactor tree events query
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/EventsTableTreeEvents.scala
Labels: automerge

#5332 TS libs: Fail linting on warnings
  language-support/ts/daml-ledger/.eslintrc.json
  language-support/ts/daml-ledger/index.test.ts
  language-support/ts/daml-ledger/index.ts
  language-support/ts/daml-ledger/package.json
  language-support/ts/daml-react/.eslintrc.json
  language-support/ts/daml-react/DamlLedger.ts
  language-support/ts/daml-react/hooks.ts
  language-support/ts/daml-react/index.test.ts
  language-support/ts/daml-react/package.json
  language-support/ts/daml-types/.eslintrc.json
  language-support/ts/daml-types/package.json
  language-support/ts/eslint.bzl
Labels: automerge

#5323 Make 'callProcessSilent' a test library function
  compiler/damlc/tests/BUILD.bazel
  compiler/damlc/tests/src/DA/Test/IncrementalBuilds.hs
  compiler/damlc/tests/src/DA/Test/Packaging.hs
  compiler/damlc/tests/src/DamlcTest.hs
  language-support/ts/codegen/src/TsCodeGenMain.hs
  language-support/ts/codegen/tests/src/DA/Test/Daml2Ts.hs
  libs-haskell/test-utils/DA/Test/Util.hs
Labels: automerge, language

#5327 Retry if time lookup failed
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/LedgerTimeHelper.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/JdbcLedgerDao.scala
Labels: automerge

#5335 temp machines for cocreature
  infra/TEMP_moritz_vsts_agent_linux.tf
  infra/TEMP_moritz_vsts_agent_linux_startup.sh
  infra/TEMP_moritz_vsts_windows.tf
Labels: Standard-Change

#5340 Cleanup old daml-helper code dealing with da.yaml
  daml-assistant/daml-helper/src/DA/Daml/Helper/Run.hs
Labels: automerge

#5337 Use repline for DAML REPL
  bazel-haskell-deps.bzl
  compiler/damlc/daml-compiler/BUILD.bazel
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Repl.hs
  compiler/repl-service/server/src/main/scala/com/digitalasset/daml/lf/ReplServiceMain.scala
Labels: automerge

#5341 fix cocreature's temp machine
  infra/TEMP_moritz_vsts_agent_linux_startup.sh
Labels: Standard-Change

#5331 Read transaction trees from new schema
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/EventsTable.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/EventsTableTreeEvents.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/TransactionsReader.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoTransactionTreesSpec.scala
Labels: automerge

#5339 Update daml-assistant quickstart-java integration test for new sandbox.
  daml-assistant/integration-tests/src/DA/Daml/Assistant/IntegrationTests.hs
Labels: automerge

#5306 kvutils | sandbox: Wrap metric names in a value type.
  ledger/participant-state-metrics/src/main/scala/com/daml/ledger/participant/state/metrics/JvmMetricSet.scala
  ledger/participant-state-metrics/src/main/scala/com/daml/ledger/participant/state/metrics/MetricName.scala
  ledger/participant-state-metrics/src/main/scala/com/daml/ledger/participant/state/v1/metrics/TimedReadService.scala
  ledger/participant-state-metrics/src/main/scala/com/daml/ledger/participant/state/v1/metrics/TimedWriteService.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Metrics.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/KeyValueCommitting.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/KeyValueSubmission.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/Committer.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/ConfigCommitter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/PackageCommitter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/PartyAllocationCommitter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committing/ProcessTransactionSubmission.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/package.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/SubmissionValidator.scala
  ledger/sandbox/BUILD.bazel
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/MetricsInterceptor.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/MetricsNaming.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/TimedIndexService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/ApiSubmissionService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/MeteredReadOnlyLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/indexer/JdbcIndexer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/MeteredLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandboxnext/Runner.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/DbDispatcher.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/MeteredLedgerDao.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/apiserver/MetricsNamingSpec.scala
Labels: automerge

#5345 Reduce memory necessary to run the zipbomb detection test
  daml-lf/archive/BUILD.bazel
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DarReader.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/UniversalArchiveReader.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/ZipBombDetectionSpec.scala
  libs_python/BUILD.bazel
  libs_python/README.md
  libs_python/zipbomb.py
Labels: automerge

#5351 remove temp linux machine
  infra/TEMP_moritz_vsts_agent_linux.tf
  infra/TEMP_moritz_vsts_agent_linux_startup.sh
Labels: Standard-Change

#5346 Integrate transaction trees from new schema in Ledger API
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/LedgerBackedIndexService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/MeteredReadOnlyLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/inmemory/InMemoryLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/BaseLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/ReadOnlyLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/EventsTable.scala
Labels: automerge

#5348 Use snake_case for all metrics
  ledger/participant-state-metrics/src/main/scala/com/daml/ledger/participant/state/v1/metrics/TimedReadService.scala
  ledger/participant-state-metrics/src/main/scala/com/daml/ledger/participant/state/v1/metrics/TimedWriteService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/TimedIndexService.scala
Labels: automerge

#5350 Reduce the default maximum heap size for all Scala processes.
  BAZEL-JVM.md
  BAZEL.md
  bazel_tools/scala.bzl
  language-support/scala/codegen-sample-app/BUILD.bazel
  language-support/scala/codegen/BUILD.bazel
  navigator/backend/BUILD.bazel
Labels: automerge

#5360 Remove exposed-modules from `daml init` and quickstart-java template
  daml-assistant/daml-helper/src/DA/Daml/Helper/Run.hs
  templates/quickstart-java/daml.yaml.template
Labels: automerge

#5333 Don't deduplicate failed submissions
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/CommandDeduplication.scala
  ledger/participant-state-index/src/main/scala/com/daml/ledger/participant/state/index/v2/IndexSubmissionService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/TimedIndexService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/ApiSubmissionService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/LedgerBackedIndexService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/MeteredReadOnlyLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/inmemory/InMemoryLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/BaseLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/ReadOnlyLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/JdbcLedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/LedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/MeteredLedgerDao.scala
Labels: automerge

#5362 bazel_tools: Attempt to reduce the Scala process heap size further.
  bazel_tools/scala.bzl
Labels: automerge

#5365 Refactor flat events range queries
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/EventsTableFlatEvents.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/EventsTableFlatEventsRangeQueries.scala
Labels: automerge

#5364 bazel: Drop the heap size of Bazel to 1 GB.
  .bazelrc
Labels: automerge

#5370 @daml/react: Fix name of loading flag in README
  language-support/ts/daml-react/README.md
Labels: automerge

#5363 Replace unstable-types tests by a Haskell test suite
  compiler/damlc/tests/BUILD.bazel
  compiler/damlc/tests/src/DA/Test/UnstableTypes.hs
  compiler/damlc/tests/src/unstable-types.sh
Labels: automerge

#5372 Dont use inspect-dar to discover main package-id in test.
  daml-assistant/daml-helper/BUILD.bazel
  daml-assistant/daml-helper/test/DA/Daml/Helper/Test/Deployment.hs
Labels: automerge

#5373 Limit memory usage of scenario service in tests
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Scenario.hs
  compiler/damlc/tests/src/DA/Test/DamlcIntegration.hs
  compiler/damlc/tests/src/DA/Test/ShakeIdeClient.hs
  compiler/scenario-service/client/src/DA/Daml/LF/ScenarioServiceClient.hs
  compiler/scenario-service/client/src/DA/Daml/LF/ScenarioServiceClient/LowLevel.hs
  docs/source/tools/assistant.rst
Labels: automerge

#5380 sandbox: Wait longer in tests to start the Sandbox.
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/services/SandboxFixture.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandboxnext/SandboxNextFixture.scala
Labels: automerge

#5376 Rename callCommandQuiet -> callCommandSilent
  daml-assistant/integration-tests/src/DA/Daml/Assistant/IntegrationTests.hs
  libs-haskell/test-utils/DA/Test/Process.hs
Labels: automerge

#5368 kvutils: Do a little less inside the submission transaction.
  ledger/ledger-on-memory/src/app/scala/com/daml/ledger/on/memory/Main.scala
  ledger/ledger-on-memory/src/main/scala/com/daml/ledger/on/memory/InMemoryLedgerReaderWriter.scala
  ledger/ledger-on-memory/src/main/scala/com/daml/ledger/on/memory/InMemoryState.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/SubmissionValidator.scala
Labels: automerge

#5329 Signal live streaming with 'live' event
  language-support/ts/codegen/tests/BUILD.bazel
  language-support/ts/codegen/tests/ts/build-and-lint-test/src/__tests__/test.ts
  language-support/ts/daml-ledger/index.test.ts
  language-support/ts/daml-ledger/index.ts
  language-support/ts/daml-react/hooks.ts
  language-support/ts/daml-react/index.test.ts
  language-support/ts/packages/yarn.lock
Labels: automerge, language

#5375 Update ts packages docs
  language-support/ts/daml-ledger/README.md
  language-support/ts/daml-react/README.md
  language-support/ts/daml-react/hooks.ts
  language-support/ts/daml-types/README.md
Labels: automerge, language

#5385 Fix `daml new` command in GTG
  docs/source/getting-started/index.rst
Labels: automerge

#5371 Migrate create_consumed_at to offset
  ledger/sandbox/src/main/resources/db/migration/h2database/V17__Stable_offsets_archival.sha256
  ledger/sandbox/src/main/resources/db/migration/h2database/V17__Stable_offsets_archival.sql
  ledger/sandbox/src/main/resources/db/migration/postgres/V24__Stable_offsets_archival.sha256
  ledger/sandbox/src/main/resources/db/migration/postgres/V24__Stable_offsets_archival.sql
Labels: automerge

#5381 testing-utils: Actually run the tests.
  ledger-api/testing-utils/BUILD.bazel
Labels: automerge

#5389 Add an integration test for daml new ... create-daml-app
  daml-assistant/integration-tests/BUILD.bazel
  daml-assistant/integration-tests/src/DA/Daml/Assistant/IntegrationTests.hs
Labels: automerge

#5326 Sync query error reporting improvements
  docs/source/json-api/index.rst
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/EndpointsCompanion.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ErrorMessages.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/domain.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/JsonProtocol.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/SprayJson.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/AbstractHttpServiceIntegrationTest.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/Generators.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/HttpServiceWithPostgresIntTest.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/WebsocketServiceIntegrationTest.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/json/JsonProtocolTest.scala
Labels: automerge

#5390 Getting Started Guide: Generate JS into daml.js
  daml-assistant/integration-tests/src/DA/Daml/Assistant/IntegrationTests.hs
  docs/source/app-dev/app-arch.rst
  docs/source/getting-started/app-architecture.rst
  docs/source/getting-started/code/ui-after/MainView.tsx
  docs/source/getting-started/first-feature.rst
  docs/source/getting-started/index.rst
  templates/README.txt
  templates/create-daml-app/README.md
  templates/create-daml-app/ui/package.json.template
Labels: automerge

#5391 Fix yarn invocation in daml2ts on Windws
  language-support/ts/codegen/src/TsCodeGenMain.hs
Labels: automerge

#5378 Read active contracts for the Ledger API from new schema
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/EventsTable.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/EventsTableFlatEvents.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/EventsTableFlatEventsRangeQueries.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/TransactionsReader.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoActiveContractsSpec.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoH2DatabaseSpec.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoPostgresqlSpec.scala
Labels: automerge

#5388 testing-utils: Make `ManagedResource` idempotent.
  ledger-api/testing-utils/src/main/scala/com/digitalasset/ledger/api/testing/utils/ActorMaterializerResource.scala
  ledger-api/testing-utils/src/main/scala/com/digitalasset/ledger/api/testing/utils/GrpcServerResource.scala
  ledger-api/testing-utils/src/main/scala/com/digitalasset/ledger/api/testing/utils/ManagedResource.scala
  ledger-api/testing-utils/src/main/scala/com/digitalasset/ledger/api/testing/utils/OwnedResource.scala
Labels: automerge

#5383 kvutils: Remove the LedgerEntry trait; it's no longer necessary.
  ledger/ledger-on-memory/src/main/scala/com/daml/ledger/on/memory/InMemoryLedgerReaderWriter.scala
  ledger/ledger-on-memory/src/main/scala/com/daml/ledger/on/memory/InMemoryState.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/SqlLedgerReaderWriter.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/queries/CommonQueries.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/queries/ReadQueries.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/api/KeyValueParticipantStateReader.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/api/LedgerEntry.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/api/LedgerReader.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/api/LedgerRecord.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/api/KeyValueParticipantStateReaderSpec.scala
Labels: automerge

#5397 Integrate new active contracts reader in Ledger API
  ledger/participant-state-index/src/main/scala/com/daml/ledger/participant/state/index/v2/IndexActiveContractsService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/TimedIndexService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/ApiActiveContractsService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/LedgerBackedIndexService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/MeteredReadOnlyLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/inmemory/InMemoryLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/BaseLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/ReadOnlyLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/JdbcLedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/LedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/MeteredLedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/TransactionsReader.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoActiveContractsSpec.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoLedgerEntriesSpec.scala
Labels: automerge

#5402 daml2js: Remove the -p flag
  language-support/ts/codegen/src/TsCodeGenMain.hs
Labels: automerge

#5242 Implement timed command deduplication in kvutils
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/services/commands/tracker/CommandTracker.scala
  ledger/ledger-api-test-tool/BUILD.bazel
  ledger/ledger-on-memory/BUILD.bazel
  ledger/ledger-on-memory/src/main/scala/com/daml/ledger/on/memory/InMemoryLedgerReaderWriter.scala
  ledger/ledger-on-sql/BUILD.bazel
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/SqlLedgerReaderWriter.scala
  ledger/participant-state/kvutils/BUILD.bazel
  ledger/participant-state/kvutils/src/main/protobuf/daml_kvutils.proto
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/Conversions.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/KeyValueCommitting.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/Version.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committing/ProcessTransactionSubmission.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/SubmissionValidator.scala
  ledger/sandbox/BUILD.bazel
Labels: DAML SDK 1.0

#5384 Move more trigger tests to scala-test
  triggers/tests/BUILD.bazel
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/test/AbstractFuncTests.scala
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/test/AbstractTriggerTest
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/test/AbstractTriggerTest.scala
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/test/FuncTestsStaticTime.scala
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/test/FuncTestsWallClock.scala
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/test/Jwt.scala
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/test/Tls.scala
Labels: automerge

#5347 Regression test for silent REPL server errors
  compiler/damlc/tests/src/DA/Test/Repl.hs
  compiler/repl-service/server/src/main/scala/com/digitalasset/daml/lf/ReplServiceMain.scala
Labels: automerge

#5386 Support import in DAML REPL
  bazel-haskell-deps.bzl
  compiler/damlc/daml-compiler/BUILD.bazel
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Repl.hs
  compiler/damlc/tests/src/DA/Test/Repl.hs
  docs/source/daml-repl/index.rst
Labels: automerge

#5410 Add snapshot version support in daml-assistant.
  daml-assistant/exe/DA/Daml/Assistant.hs
  daml-assistant/src/DA/Daml/Assistant/Command.hs
  daml-assistant/src/DA/Daml/Assistant/Install.hs
  daml-assistant/src/DA/Daml/Assistant/Types.hs
  daml-assistant/src/DA/Daml/Assistant/Version.hs
  daml-assistant/test/DA/Daml/Assistant/Tests.hs
Labels: automerge, language

#5413 sandbox: Move server parameters into the `Config` objects.
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Config.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/LedgerFactory.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Runner.scala
  ledger/recovering-indexer-integration-tests/src/test/suite/scala/com/digitalasset/platform/indexer/RecoveringIndexerIntegrationSpec.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/ApiServerConfig.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/StandaloneApiServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/configuration/IndexConfiguration.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/JdbcIndex.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/ReadOnlySqlLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/indexer/IndexerConfig.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/indexer/JdbcIndexer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/indexer/StandaloneIndexerServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/SandboxIndexAndWriteService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandboxnext/Runner.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/JdbcLedgerDao.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/LedgerResource.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoBackend.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedgerSpec.scala
Labels: automerge

#5417 dam2js: Write better package.json files
  language-support/ts/codegen/src/TsCodeGenMain.hs
Labels: automerge

#5415 Engine: simplify commandPreprocessor output
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/CommandPreprocessor.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
Labels: automerge, component/daml-engine

#5419 Suppress DB related logging on sandbox startup.
  ledger/sandbox/src/main/resources/logback.xml
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandboxnext/Main.scala
Labels: DAML SDK 1.0

#5409 Rename daml codegen ts to daml codegen js
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/NameCollision.hs
  daml-assistant/daml-helper/src/DA/Daml/Helper/Main.hs
  daml-assistant/exe/DA/Daml/Assistant.hs
  daml-assistant/integration-tests/BUILD.bazel
  daml-assistant/integration-tests/src/DA/Daml/Assistant/IntegrationTests.hs
  docs/source/app-dev/app-arch.rst
  docs/source/daml2js/index.rst
  docs/source/getting-started/app-architecture.rst
  docs/source/getting-started/first-feature.rst
  docs/source/getting-started/index.rst
  templates/README.txt
  templates/create-daml-app/README.md
Labels: automerge

#5430 Remove debug output in REPL test
  compiler/damlc/tests/src/DA/Test/Repl.hs
Labels: automerge

#5392 Replace quickstart with new getting started guide
  docs/BUILD.bazel
  docs/configs/pdf/index.rst
  docs/redirects.map
  docs/source/app-dev/bindings-java/codegen.rst
  docs/source/app-dev/bindings-java/index.rst
  docs/source/app-dev/bindings-java/quickstart.rst
  docs/source/app-dev/bindings-java/quickstart/images/contracts.png
  docs/source/app-dev/bindings-java/quickstart/images/createIou.png
  docs/source/app-dev/bindings-java/quickstart/images/ledger.png
  docs/source/app-dev/bindings-java/quickstart/images/poundNote.jpg
  docs/source/app-dev/bindings-java/quickstart/images/tradeProp.png
  docs/source/app-dev/bindings-java/quickstart/template-root/daml/Iou.daml
  docs/source/app-dev/bindings-java/quickstart/template-root/daml/IouTrade.daml
  docs/source/app-dev/bindings-java/quickstart/template-root/daml/Main.daml
  docs/source/app-dev/bindings-java/quickstart/template-root/daml/Setup.daml
  docs/source/app-dev/bindings-java/quickstart/template-root/daml/Tests/Iou.daml
  docs/source/app-dev/bindings-java/quickstart/template-root/daml/Tests/Trade.daml
  docs/source/app-dev/bindings-java/quickstart/template-root/frontend-config.js
  docs/source/app-dev/bindings-java/quickstart/template-root/pom.xml
  docs/source/app-dev/bindings-java/quickstart/template-root/src/main/java/com/digitalasset/quickstart/iou/IouMain.java
  docs/source/app-dev/bindings-java/quickstart/template-root/src/main/resources/logback.xml
  docs/source/app-dev/bindings-scala/index.rst
  docs/source/app-dev/bindings-x-lang/code-snippets/quickstart
  docs/source/app-dev/bindings-x-lang/index.rst
  docs/source/daml-integration-kit/index.rst
  docs/source/daml/intro/6_Parties.rst
  docs/source/daml/intro/7_Composing.rst
  docs/source/getting-started/app-architecture.rst
  docs/source/getting-started/installation.rst
  docs/source/index.rst
  docs/source/json-api/index.rst
  docs/source/support/release-notes.rst
  docs/source/tools/navigator/console.rst
  docs/source/tools/visual.rst
Labels: automerge

#5427 Touch up docs after daml2js renaming
  docs/source/app-dev/bindings-ts/index.rst
  docs/source/daml2js/index.rst
Labels: automerge, language

#5432 Fix test for groupContiguous
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/store/dao/events/GroupContiguousSpec.scala
Labels: automerge

#5387 Freeze JSON API v1
  docs/configs/pdf/index.rst
  docs/source/index.rst
  docs/source/json-api/index.rst
Labels: DAML SDK 1.0, component/documentation, component/json-api

#5435 Fix typo
  docs/source/daml2js/index.rst
Labels: automerge

#5436 Scala codegen examples: removing bintray repository, relying on daml.yaml and -Dda.sdk.version
  language-support/scala/examples/iou-no-codegen/SDK_VERSION
  language-support/scala/examples/iou-no-codegen/build.sbt
  language-support/scala/examples/iou-no-codegen/project/Artifactory.scala
  language-support/scala/examples/iou-no-codegen/project/Versions.scala
  language-support/scala/examples/iou-no-codegen/project/build.properties
  language-support/scala/examples/iou-no-codegen/project/plugins.sbt
  language-support/scala/examples/quickstart-scala/README.md
  language-support/scala/examples/quickstart-scala/SDK_VERSION
  language-support/scala/examples/quickstart-scala/build.sbt
  language-support/scala/examples/quickstart-scala/project/Artifactory.scala
  language-support/scala/examples/quickstart-scala/project/Versions.scala
  language-support/scala/examples/quickstart-scala/project/build.properties
  language-support/scala/examples/quickstart-scala/project/plugins.sbt
Labels: automerge, component/scala-ecosystem

#5443 Java Codegen: fix template code generation
  daml-lf/encoder/src/test/lf/Template_all_.lf
  daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/archive/testing/DamlLfEncoderTest.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/TemplateClass.scala
Labels: automerge, component/java-ecosystem

#5447 Engine: increase memory for large transaction test
  daml-lf/engine/BUILD.bazel
Labels: automerge, component/daml-engine

#5449 language: docs: update on daml2js in app-arch section
  docs/source/app-dev/app-arch.rst
Labels: automerge, language

#5445 remove temp Windows machine
  infra/TEMP_moritz_vsts_windows.tf
Labels: Standard-Change

#5444 DAML-LF. fix parameter and self binder in choices.
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/EncodeV1.scala
  daml-lf/encoder/src/test/lf/Template_all_.lf
  daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/archive/testing/EncodeV1Spec.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
  daml-lf/language/src/test/scala/com/digitalasset/daml/lf/language/AstSpec.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ModParser.scala
  daml-lf/parser/src/test/scala/com/digitalasset/daml/lf/testing/parser/ParsersSpec.scala
  daml-lf/spec/daml-lf-1.rst
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/PartyLiteralsSpec.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/SerializabilitySpec.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/TypingSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/TestHelpers.scala
Labels: automerge, component/daml-lf

#5448 Update daml install docs
  docs/source/tools/assistant.rst
Labels: automerge

#5426 kvutils: Cache state value conversions from bytes.
  bazel-java-deps.bzl
  ledger/ledger-on-memory/src/app/scala/com/daml/ledger/on/memory/Main.scala
  ledger/ledger-on-memory/src/main/scala/com/daml/ledger/on/memory/InMemoryLedgerReaderWriter.scala
  ledger/ledger-on-memory/src/test/suite/scala/com/daml/ledger/on/memory/InMemoryLedgerReaderWriterIntegrationSpec.scala
  ledger/ledger-on-sql/src/app/scala/com/daml/ledger/on/sql/SqlLedgerFactory.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/SqlLedgerReaderWriter.scala
  ledger/participant-state/kvutils/BUILD.bazel
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Config.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/caching/Cache.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/caching/Configuration.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/caching/Weight.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/caching/package.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/SubmissionValidator.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/SubmissionValidatorSpec.scala
  ledger/recovering-indexer-integration-tests/src/test/suite/scala/com/digitalasset/platform/indexer/RecoveringIndexerIntegrationSpec.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandboxnext/Runner.scala
  maven_install.json
Labels: automerge

#5374 better Windows machine names
  infra/vsts_agent_windows.tf
Labels: Standard-Change

#5458 Fixing ledger offset ordering in JSON API
  ledger-service/http-json/src/main/scala/com/digitalasset/http/domain.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/util/LedgerOffsetUtil.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/Generators.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/WebsocketServiceIntegrationTest.scala
Labels: DAML SDK 1.0

#5446 Fix redirects, java-bindings javadoc, and live-preview.sh
  bazel_tools/javadoc_library.bzl
  daml-lf/archive/BUILD.bazel
  docs/redirects.map
  docs/scripts/live-preview.sh
  language-support/java/BUILD.bazel
  language-support/java/bindings/BUILD.bazel
Labels: DAML SDK 1.0

#5441 Add legacy proxy gRPC services.
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/LedgerApiServer.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/services/LegacyServiceIT.scala
Labels: DAML SDK 1.0, component/ledger

#5459 sandbox: Merge LotsOfParties tests into the main conformance test run.
  ledger/sandbox/BUILD.bazel
Labels: automerge

#5461 kvutils: Simplify calculating the weight of a Caffeine cache.
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/caching/Cache.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/caching/Weight.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/SubmissionValidator.scala
Labels: DAML SDK 1.0, automerge

#5463 kvutils/tools: Register more JVM metrics in the integrity checker.
  ledger/participant-state/kvutils/tools/BUILD.bazel
  ledger/participant-state/kvutils/tools/src/main/scala/com/daml/ledger/participant/state/kvutils/tools/IntegrityCheck.scala
Labels: automerge

#5456 Empty array of party IDs -- error, nothing found -- OK
  docs/source/json-api/index.rst
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ErrorMessages.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/AbstractHttpServiceIntegrationTest.scala
Labels: automerge

#5467 notify Remy on #team-daml-ci
  ci/slack_user_ids
Labels: automerge

#5468 Minor docs update
  docs/source/json-api/index.rst
Labels: automerge

#5469 Remove GSG disclaimer
  docs/source/getting-started/index.rst
Labels: automerge

#5379 Speedy: optimize value translation
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/ImmArray.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ValueTranslator.scala
Labels: automerge, component/daml-engine

#5475 DAML/JavaScript: Make naming in docs consistent
  docs/source/app-dev/bindings-ts/daml2js.rst
  docs/source/app-dev/bindings-ts/index.rst
  docs/source/index.rst
Labels: automerge

#5479 Fix sdk-versions in daml_build rule
  rules_daml/daml.bzl
Labels: automerge

#5478 Tag 0.13.56-snapshot.20200407.3859.0.b488b353
  LATEST
Labels: DAML SDK 1.0, automerge

#5481 Fix choice name in GSG
  docs/source/getting-started/first-feature.rst
Labels: automerge

#5482 Getting Started guide: Remove useless yarn build
  docs/source/getting-started/index.rst
Labels: automerge

#5487 Notify Sofia on #team-daml-ci
  ci/slack_user_ids
Labels: automerge

#5490 daml2js: Write all dependencies into package.json
  language-support/ts/codegen/src/TsCodeGenMain.hs
  language-support/ts/codegen/tests/build-and-lint.sh
  language-support/ts/codegen/tests/src/DA/Test/Daml2js.hs
  language-support/ts/codegen/tests/ts/package.json
Labels: automerge

#5492 Getting Started: Explain success for yarn start
  docs/source/getting-started/index.rst
Labels: automerge

#5486 DAML-LF. fix computation of cid
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/tests/BasicTests.daml
Labels: DAML SDK 1.0, component/daml-lf

#5493 daml-lf: Tiny performance improvements.
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/BackStack.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/FrontStack.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/ImmArray.scala
  daml-lf/data/src/test/scala/com/digitalasset/daml/lf/data/FrontStackSpec.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
Labels: automerge

#5502 Remove extraneous backslash
  docs/source/getting-started/first-feature.rst
Labels: automerge

#5454 Add --port-file command line option to JSON API
  daml-script/test/src/com/digitalasset/daml/lf/engine/script/test/JsonApiIt.scala
  docs/source/json-api/index.rst
  ledger-service/http-json/BUILD.bazel
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Config.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Main.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/HttpServiceTestFixture.scala
  libs-scala/ports/BUILD.bazel
  libs-scala/ports/src/main/scala/com/digitalasset/ports/PortFiles.scala
  libs-scala/ports/src/test/suite/scala/com/digitalasset/ports/PortFilesSpec.scala
Labels: automerge

#5505 Snapshot release (attempt -9223372036854775808)
  LATEST
Labels: automerge

#5506 Fixing scaladoc
  libs-scala/ports/src/main/scala/com/digitalasset/ports/PortFiles.scala
Labels: automerge

#5498 kvutils/integrity-checker: Report the time taken for each submission.
  ledger/participant-state/kvutils/tools/src/main/scala/com/daml/ledger/participant/state/kvutils/tools/IntegrityCheck.scala
Labels: automerge

#5496 kvutils: Don't measure submission interpretation twice.
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committing/ProcessTransactionSubmission.scala
Labels: automerge

#5509 sandbox: Re-enable "no seeding mode" for the StandaloneApiServer.
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/LedgerFactory.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/ApiServerConfig.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/StandaloneApiServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandboxnext/Runner.scala
Labels: automerge

#5510 sandbox: Reset the time service when resetting in Static Time mode.
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/config/SandboxConfig.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandboxnext/Runner.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/services/reset/ResetServiceITBase.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/services/reset/ResetServiceIT.scala
Labels: automerge

#5511 Inline disclosure computation
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/Disclosure.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/TransactionsWriter.scala
Labels: automerge

#5513 sandbox: Refactor command execution.
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/ApiServices.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/CommandExecutor.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/execution/CommandExecutionResult.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/execution/CommandExecutor.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/execution/LedgerTimeAwareCommandExecutor.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/execution/StoreBackedCommandExecutor.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/ApiSubmissionService.scala
Labels: automerge

#5518 fix docs typo in --crt
  docs/source/deploy/generic_ledger.rst
Labels: automerge

#5515 sandbox: Remove `ErrorCause.Sequencer`.
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/ApiSubmissionService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/ErrorCause.scala
Labels: automerge

#5516 Refactor witnesses table class
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/EventsTable.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/EventsTableFlatEventsRangeQueries.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/TransactionsWriter.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/WitnessesTable.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/package.scala
Labels: automerge

#5501 Applying Carol's JSON API doc changes
  docs/source/json-api/index.rst
Labels: automerge

#5520 Haskell: Add assertFileExists to DA.Test.Util
  compiler/damlc/tests/src/DA/Test/Packaging.hs
  daml-assistant/integration-tests/src/DA/Daml/Assistant/IntegrationTests.hs
  language-support/ts/codegen/tests/src/DA/Test/Daml2js.hs
  libs-haskell/test-utils/BUILD.bazel
  libs-haskell/test-utils/DA/Test/Util.hs
Labels: automerge

#5521 sandbox: Time command execution.
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/ApiServices.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/execution/LedgerTimeAwareCommandExecutor.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/execution/StoreBackedCommandExecutor.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/execution/TimedCommandExecutor.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/execution/package.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/ApiSubmissionService.scala
Labels: automerge

#5523 Fix unstableSplitOn
  compiler/damlc/tests/daml-test-files/UnstableText.daml
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
Labels: automerge

#5434 Engine: refactoring preprocessing.
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/CommandPreprocessor.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ValueTranslator.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/CommandPreprocessor.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/Preprocessor.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/TransactionPreprocessor.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/ValueTranslator.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/PreprocessorSpec.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Converter.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Converter.scala
Labels: component/daml-engine, component/daml-lf

#5522 participant_contracts write path
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/Relation.scala
  ledger/sandbox/src/main/resources/db/migration/h2database/V18__Contracts_new_schema.sha256
  ledger/sandbox/src/main/resources/db/migration/h2database/V18__Contracts_new_schema.sql
  ledger/sandbox/src/main/resources/db/migration/postgres/V25__Contracts_new_schema.sha256
  ledger/sandbox/src/main/resources/db/migration/postgres/V25__Contracts_new_schema.sql
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/JdbcLedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/ContractsTable.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/EventsTableInsert.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/TransactionsWriter.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/WitnessesTable.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/package.scala
Labels: automerge

#5533 Ignore daml.js not daml-ts in create-daml-app template
  templates/create-daml-app/.gitignore
Labels: automerge

#5528 Sadbonx: Add migration that backfills the participant_events table
  ledger/sandbox/src/main/resources/logback.xml
  ledger/sandbox/src/main/scala/db/migration/postgres/V25__Backfill_Participant_Events.scala
  ledger/sandbox/src/main/scala/db/migration/postgres/v25_backfill_participant_events/V25EventsTableInsert.scala
  ledger/sandbox/src/main/scala/db/migration/postgres/v25_backfill_participant_events/V25TransactionsWriter.scala
  ledger/sandbox/src/main/scala/db/migration/postgres/v25_backfill_participant_events/V25WitnessesTable.scala
  ledger/sandbox/src/main/scala/db/migration/postgres/v25_backfill_participant_events/package.scala
Labels: automerge, broken, component/ledger

#5537 Used `daml codegen java` instead of calling the codegen from maven
  daml-assistant/integration-tests/src/DA/Daml/Assistant/IntegrationTests.hs
  docs/source/app-dev/bindings-java/codegen.rst
  docs/source/app-dev/bindings-java/quickstart.rst
  docs/source/app-dev/bindings-java/quickstart/template-root/pom.xml
  release/RELEASE.md
  templates/quickstart-java/daml.yaml.template
Labels: automerge

#5536 Make a snapshot release
  LATEST
Labels: automerge

#5507 GSG: test messaging feature and remove copied code snippets
  WORKSPACE
  daml-assistant/integration-tests/BUILD.bazel
  daml-assistant/integration-tests/src/DA/Daml/Assistant/IntegrationTests.hs
  docs/BUILD.bazel
  docs/source/getting-started/code/daml-after/User.daml
  docs/source/getting-started/code/ui-after/MainView.tsx
  docs/source/getting-started/code/ui-after/MessageEdit.tsx
  docs/source/getting-started/code/ui-after/MessageList.tsx
  docs/source/getting-started/first-feature.rst
  language-support/ts/codegen/tests/src/DA/Test/Daml2jsUtils.hs
  nix/bazel.nix
  templates/BUILD.bazel
  templates/messaging.patch
Labels: automerge

#5416 Reconnect logic for websocket streams
  language-support/ts/daml-ledger/index.test.ts
  language-support/ts/daml-ledger/index.ts
Labels: automerge, language

#5545 reenable collect_build_data and notify_user
  azure-pipelines.yml
Labels: automerge

#5527 replace Windows agents
  infra/vsts_agent_windows.tf
Labels: Standard-Change

#5548 cleanup collect_build_data job
  azure-pipelines.yml
Labels: automerge

#5002 Macos boxes for ci
  infra/macos/.ruby-version
  infra/macos/1-create-box/README.md
  infra/macos/1-create-box/user-script.sh
  infra/macos/2-vagrant-files/.gitignore
  infra/macos/2-vagrant-files/README.md
  infra/macos/2-vagrant-files/Vagrantfile
  infra/macos/2-vagrant-files/init.sh
  infra/macos/README.md
Labels: Standard-Change

#5550 Add support for daml2js to write daml-ledger code
  daml-assistant/integration-tests/src/DA/Daml/Assistant/IntegrationTests.hs
  language-support/ts/codegen/README.md
  language-support/ts/codegen/src/TsCodeGenMain.hs
  language-support/ts/codegen/tests/BUILD.bazel
  language-support/ts/codegen/tests/src/DA/Test/Daml2js.hs
  language-support/ts/codegen/tests/ts/build-and-lint-test/src/__tests__/test.ts
  language-support/ts/codegen/tests/ts/package.json
Labels: automerge, component/daml2js, language

#5553 Do dynamic port allocation in build-and-lint-test
  language-support/ts/codegen/tests/BUILD.bazel
  language-support/ts/codegen/tests/ts/build-and-lint-test/src/__tests__/test.ts
Labels: component/daml2js, language

#5559 sandbox: Provide an option to disable implicit party allocation.
  ledger/sandbox/BUILD.bazel
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxMain.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/cli/Cli.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/config/SandboxConfig.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandboxnext/Runner.scala
Labels: automerge

#5549 metrics: Collect with Graphite and visualize with Grafana.
  ledger/metrics/collection/README.md
  ledger/metrics/collection/dashboards/graphite-carbon-metrics.json
  ledger/metrics/collection/dashboards/ledger-submissions.json
  ledger/metrics/collection/docker-compose.yml
  ledger/metrics/collection/provisioning/dashboards/dashboards.yaml
  ledger/metrics/collection/provisioning/datasources/graphite.yaml
Labels: automerge

#5564 resources: Don't time out `ProgramResource` on startup.
  libs-scala/resources/src/main/scala/com/digitalasset/resources/ProgramResource.scala
Labels: automerge

#5566 DAML-LF: add function to derive maintainer contract key UUID
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/crypto/Hash.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/crypto/HashSpec.scala
Labels: automerge, component/daml-lf

#5519 Engine: redesign PartialTransaction context
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/tests/scenario/daml-1.dev/contract-keys/EXPECTED.ledger
  daml-lf/tests/scenario/daml-1.dev/divulge-iou/EXPECTED.ledger
  daml-lf/tests/scenario/daml-1.dev/mustfails/EXPECTED.ledger
Labels: component/daml-engine

#5565 Improve error messages in daml repl on calls to `error`
  compiler/damlc/tests/src/DA/Test/Repl/FuncTests.hs
  compiler/repl-service/server/src/main/scala/com/digitalasset/daml/lf/ReplServiceMain.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Converter.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
Labels: automerge

#5577 Fix conversion from contract to node ids in the scenario service
  compiler/damlc/tests/daml-test-files/TransientFailure.daml
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/types/Ledger.scala
Labels: automerge

#5576 kvutils | ledger-on-(memory|sql): Read metrics.
  ledger/ledger-on-memory/BUILD.bazel
  ledger/ledger-on-memory/src/main/scala/com/daml/ledger/on/memory/InMemoryLedgerReaderWriter.scala
  ledger/ledger-on-sql/BUILD.bazel
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/Database.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/SqlLedgerReaderWriter.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/queries/TimedQueries.scala
  ledger/ledger-on-sql/src/test/suite/scala/com/daml/ledger/on/sql/DatabaseSpec.scala
  ledger/metrics/collection/dashboards/ledger-submissions.json
  ledger/metrics/src/main/scala/com/daml/metrics/Timed.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/api/KeyValueParticipantState.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/api/KeyValueParticipantStateReader.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/LedgerStateAccess.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/SubmissionValidator.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/api/KeyValueParticipantStateReaderSpec.scala
Labels: automerge

#5578 Engine: refactor PartialTransaction context
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Context.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/types/Ledger.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/InterpreterTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SpeedyTest.scala
  daml-lf/repl/src/main/scala/com/digitalasset/daml/lf/repl/testing/Main.scala
  daml-lf/scenario-interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ScenarioRunnerTest.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Converter.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committing/ProcessTransactionSubmission.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/ScenarioLoader.scala
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Runner.scala
Labels: component/daml-engine

#5571 Add ledger associated type synonyms
  language-support/ts/codegen/src/TsCodeGenMain.hs
  language-support/ts/codegen/tests/ts/build-and-lint-test/src/__tests__/test.ts
Labels: automerge, component/daml2js, language

#5583 sandbox: Moar command submission metrics.
  ledger/metrics/collection/dashboards/ledger-submissions.json
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/MetricsInterceptor.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/execution/package.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/ApiSubmissionService.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/apiserver/MetricsInterceptorSpec.scala
Labels: automerge

#5585 ledger-api-common: Add a metric for command validation upon submission.
  ledger/ledger-api-common/BUILD.bazel
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/services/grpc/GrpcCommandSubmissionService.scala
  ledger/metrics/collection/dashboards/ledger-submissions.json
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/ApiSubmissionService.scala
Labels: automerge

#5555 allow secure connection from JSON API to ledger
  daml-script/test/src/com/digitalasset/daml/lf/engine/script/test/JsonApiIt.scala
  docs/source/json-api/index.rst
  extractor/BUILD.bazel
  extractor/src/main/scala/com/digitalasset/extractor/config/ConfigParser.scala
  ledger-service/cli-opts/BUILD.bazel
  ledger-service/cli-opts/src/main/scala/ledger/api/tls/TlsConfigurationCli.scala
  ledger-service/http-json/BUILD.bazel
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Config.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Main.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/AbstractHttpServiceIntegrationTest.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/HttpServiceTestFixture.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/TlsTest.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/WebsocketServiceIntegrationTest.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/config/Arguments.scala
  release/artifacts.yaml
Labels: component/extractor, component/json-api

#5589 kvutils: Add a timing metric for the commit.
  ledger/metrics/collection/dashboards/ledger-submissions.json
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/api/KeyValueParticipantState.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/api/LedgerWriter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/api/TimedLedgerWriter.scala
Labels: automerge

#5588 sandbox: Revert execution metric paths.
  ledger/metrics/collection/dashboards/ledger-submissions.json
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/execution/package.scala
Labels: automerge

#5575 add puppeteer dependencies to Linux nodes
  infra/vsts_agent_linux_startup.sh
Labels: Standard-Change

#5597 Remy engine cleaning
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
Labels: automerge, component/daml-engine

#5539 Upgrade rules_nodejs to version 1.6.0
  compiler/daml-extension/package.json
  compiler/daml-extension/yarn.lock
  deps.bzl
  docs/BUILD.bazel
  language-support/ts/daml-ledger/tsconfig.json
  language-support/ts/daml-react/jest.config.js
  language-support/ts/defs.bzl
  language-support/ts/eslint.bzl
  language-support/ts/packages/package.json
  language-support/ts/packages/yarn.lock
  navigator/frontend/package.json
  navigator/frontend/yarn.lock
  package.json
  yarn.lock
Labels: automerge

#5586 test patch snapshot
  LATEST
  docs/source/support/release-notes.rst
Labels: Standard-Change

#5609 Scenario Service: drop support of submitter is in maintainers check
  compiler/damlc/tests/daml-test-files/SubmitterInMaintainers_after_1866.daml
  compiler/scenario-service/client/src/DA/Daml/LF/PrettyScenario.hs
  compiler/scenario-service/protos/scenario_service.proto
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Context.scala
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/archive/src/main/protobuf/com/daml/daml_lf_dev/daml_lf_1.proto
Labels: component/daml-engine

#5604 kvutils: Don't report ledger metrics by default.
  ledger/ledger-on-memory/src/main/scala/com/daml/ledger/on/memory/InMemoryLedgerReaderWriter.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/SqlLedgerReaderWriter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/SubmissionValidator.scala
Labels: automerge

#5610 patch snapshot attempt 2
  LATEST
Labels: Standard-Change

#5616 Mark create-daml-app-tests as flaky
  daml-assistant/integration-tests/BUILD.bazel
Labels: automerge

#5541 Add new participant schema contracts table
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/Relation.scala
  ledger/participant-state-index/src/main/scala/com/daml/ledger/participant/state/index/v2/ContractStore.scala
  ledger/sandbox/BUILD.bazel
  ledger/sandbox/src/main/resources/db/migration/h2database/V18__Contracts_new_schema.sha256
  ledger/sandbox/src/main/resources/db/migration/h2database/V18__Contracts_new_schema.sql
  ledger/sandbox/src/main/resources/db/migration/postgres/V26_0__Contracts_new_schema.sha256
  ledger/sandbox/src/main/resources/db/migration/postgres/V26_0__Contracts_new_schema.sql
  ledger/sandbox/src/main/resources/db/migration/postgres/V26_2__Contract_create_arg_not_null.sha256
  ledger/sandbox/src/main/resources/db/migration/postgres/V26_2__Contract_create_arg_not_null.sql
  ledger/sandbox/src/main/resources/db/migration/recompute-sha256sums.sh
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/TimedIndexService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/execution/LedgerTimeAwareCommandExecutor.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/LedgerBackedIndexService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/MeteredReadOnlyLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/inmemory/InMemoryLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/BaseLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/ReadOnlyLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/JdbcLedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/LedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/MeteredLedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/ContractsReader.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/ContractsTable.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/EventsTableInsert.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/TransactionsWriter.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/WitnessesTable.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/package.scala
  ledger/sandbox/src/main/scala/db/migration/postgres/V26_1__Fill_create_argument.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoActiveContractsSpec.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoContractsSpec.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoSuite.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoTransactionTreesSpec.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoTransactionsSpec.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/store/FlywayMigrationsSpec.scala
Labels: automerge

#5617 Fix reference to com.daml.lf package in ValueCoder
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/ValueCoder.scala
Labels: automerge

#5621 Patch zip library to not use temp files
  bazel-haskell-deps.bzl
  bazel_tools/haskell-zip.patch
  stack-snapshot.yaml
Labels: automerge

#5626 Create single-party specialized queries to access events
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/EventsTableFlatEvents.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/EventsTableFlatEventsRangeQueries.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/EventsTableTreeEvents.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/package.scala
Labels: automerge

#5632 Make DAML Triggers and DAML Script default to wall-clock-time
  daml-assistant/daml-helper/src/DA/Daml/Helper/Run.hs
  daml-assistant/integration-tests/src/DA/Daml/Assistant/IntegrationTests.hs
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/RunnerConfig.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/RunnerMain.scala
  docs/source/daml-script/index.rst
  docs/source/triggers/index.rst
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/RunnerConfig.scala
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/RunnerMain.scala
Labels: automerge

#5344 DAML-LF: update spec with scenarios
  daml-lf/spec/daml-lf-1.rst
Labels: component/daml-lf
