Repository digital-asset/daml, pull requests merged in 2020-01, with the labels that each got.

#3935 stack update
  WORKSPACE
  bazel-haskell-deps.bzl
  bazel_tools/haskell-optional-cabal-haddock.patch
  bazel_tools/haskell-windows-remove-fake-libs.patch
  build.ps1
  deps.bzl
Labels: automerge

#3946 daml-assistant: Install bash completion scripts on Linux and Mac.
  daml-assistant/exe/DA/Daml/Assistant.hs
  daml-assistant/src/DA/Daml/Assistant/Command.hs
  daml-assistant/src/DA/Daml/Assistant/Install.hs
  daml-assistant/src/DA/Daml/Assistant/Install/BashCompletion.hs
  daml-assistant/src/DA/Daml/Assistant/Types.hs
  daml-assistant/test/DA/Daml/Assistant/Tests.hs
  docs/source/tools/assistant.rst
  libs-haskell/da-hs-base/src/Options/Applicative/Extended.hs
Labels: automerge

#3957 daml2ts: Slightly prettify output
  language-support/ts/codegen/src/TsCodeGenMain.hs
Labels: automerge

#3965 Add akka slf4j library as dependency of super fat daml-sdk.jar
  daml-assistant/daml-sdk/BUILD.bazel
Labels: automerge

#3969 `/contracts/lookup` to return `result: null` when contract is not found
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/AbstractHttpServiceIntegrationTest.scala
Labels: automerge

#3976 Add regression test for unstable serializable types
  compiler/damlc/tests/BUILD.bazel
  compiler/damlc/tests/src/unstable-types.sh
Labels: automerge

#3958 Document way to check added changelog entries
  CONTRIBUTING.md
Labels: automerge

#3979 daml2ts: Use master version of damlc in watch-damlc.sh
  language-support/ts/codegen/tests/daml/.gitignore
  language-support/ts/codegen/tests/daml/daml.yaml
  language-support/ts/codegen/tests/watch-damlc.sh
Labels: automerge

#3978 Verify expected hashes of stable LF packages
  compiler/damlc/tests/BUILD.bazel
  compiler/damlc/tests/src/stable-packages.sh
Labels: automerge

#3981 Remove Optional from internalTypes
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
Labels: automerge

#3966 Allow omitting submitter info in kvutils transaction log entries
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/Conversions.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/KeyValueConsumption.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/KVTest.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/KVUtilsTransactionSpec.scala
Labels: automerge

#3983 Log DAML trace messages
  daml-lf/interpreter/BUILD.bazel
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/TraceLog.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/InterpreterTest.scala
  daml-script/runner/src/main/resources/logback.xml
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
  triggers/runner/src/main/resources/logback.xml
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Runner.scala
Labels: component/ledger

#3989 Aligning DB contract table with domain.ActiveContract class
  docs/source/json-api/index.rst
  language-support/ts/codegen/tests/ts/daml-ledger-fetch/src/index.ts
  ledger-service/db-backend/src/main/scala/com/digitalasset/http/dbbackend/Queries.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsFetch.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/dbbackend/ContractDao.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/domain.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/JsonProtocol.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/Generators.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/HttpServiceWithPostgresIntTest.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/query/ValuePredicateTest.scala
Labels: automerge

#3986 Attempt to fix ghci test on MacOS
  build.sh
Labels: automerge

#3947 Engine: Improve performance of critical parts
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/ImmArray.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/util/ApiValueToLfValueConverterTest.scala
Labels: component/daml-engine

#3987 daml2ts: Support lookupByKey
  language-support/ts/codegen/src/TsCodeGenMain.hs
  language-support/ts/codegen/tests/daml/Main.daml
  language-support/ts/codegen/tests/ts/daml-json-types/src/index.ts
  language-support/ts/codegen/tests/ts/daml-ledger-fetch/src/index.ts
  language-support/ts/codegen/tests/ts/generated/src/__tests__/test.ts
Labels: automerge

#3994 daml2ts: Lift type annotation for variant decoders to jtv.oneOf
  language-support/ts/codegen/src/TsCodeGenMain.hs
Labels: automerge

#3953 ECDA512 algorithm support
  docs/source/tools/sandbox.rst
  ledger-service/jwt/src/main/scala/com/digitalasset/jwt/JwtSigner.scala
  ledger-service/jwt/src/main/scala/com/digitalasset/jwt/JwtVerifier.scala
  ledger-service/jwt/src/main/scala/com/digitalasset/jwt/KeyUtils.scala
  ledger-service/jwt/src/test/scala/com/digitalasset/jwt/SignatureSpec.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/cli/Cli.scala
Labels: component/dlik, component/ledger

#3992 Implement sums of products
  language-support/ts/codegen/src/TsCodeGenMain.hs
  language-support/ts/codegen/tests/daml/Main.daml
  language-support/ts/codegen/tests/ts/generated/src/__tests__/test.ts
Labels: automerge

#3995 Move all Api...Service classes to Sandbox package
  ledger/ledger-api-common/BUILD.bazel
  ledger/sandbox/BUILD.bazel
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/ApiServices.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/StandaloneApiServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/TimeServiceBackend.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/ApiCommandService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/ApiLedgerIdentityService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/ApiTimeService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/admin/PollingUtils.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/tracking/HandleOfferResult.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/tracking/SizeCappedMap.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/tracking/Tracker.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/tracking/TrackerImpl.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/tracking/TrackerMap.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/apiserver/services/tracking/SizeCappedMapTest.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/apiserver/services/tracking/TrackerImplTest.scala
Labels: automerge

#3997 Send session ping telemetry messages
  compiler/damlc/daml-ide/BUILD.bazel
  compiler/damlc/daml-ide/src/DA/Daml/LanguageServer.hs
  compiler/damlc/daml-ide/src/DA/Daml/SessionTelemetry.hs
  compiler/damlc/lib/DA/Cli/Damlc.hs
Labels: automerge

#4003 Fix DAML module filename in java codegen tests
  language-support/java/codegen/BUILD.bazel
  language-support/java/codegen/src/test/daml/Foo.daml
Labels: automerge

#4002 Fix trigger time tests
  triggers/tests/daml/Time.daml
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/test/TestMain.scala
Labels: automerge

#3951 Engine: Small refactoring of partial transactions
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
Labels: automerge, component/daml-engine

#4004 Update hlint
  stack-snapshot.yaml
Labels: automerge

#4000 Fix Sandbox CLI help text for the -a option
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/cli/Cli.scala
Labels: component/ledger

#4006 daml2ts: Test that templates in non-top-level modules work
  language-support/ts/codegen/tests/daml/Lib/Mod.daml
  language-support/ts/codegen/tests/ts/generated/src/__tests__/test.ts
Labels: automerge

#4010 daml2ts: Add support for exerciseByKey
  language-support/ts/codegen/src/TsCodeGenMain.hs
  language-support/ts/codegen/tests/ts/daml-json-types/src/index.ts
  language-support/ts/codegen/tests/ts/daml-ledger-fetch/src/index.ts
  language-support/ts/codegen/tests/ts/generated/src/__tests__/test.ts
Labels: automerge

#4011 Implement DAML trigger heartbeat
  docs/source/triggers/index.rst
  docs/source/triggers/template-root/src/CopyTrigger.daml
  triggers/daml/Daml/Trigger.daml
  triggers/daml/Daml/Trigger/LowLevel.daml
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Converter.scala
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Runner.scala
  triggers/tests/BUILD.bazel
  triggers/tests/daml/ACS.daml
  triggers/tests/daml/CommandId.daml
  triggers/tests/daml/ExerciseByKey.daml
  triggers/tests/daml/Heartbeat.daml
  triggers/tests/daml/Numeric.daml
  triggers/tests/daml/PendingSet.daml
  triggers/tests/daml/Retry.daml
  triggers/tests/daml/TemplateIdFilter.daml
  triggers/tests/daml/Time.daml
  triggers/tests/list-triggers.sh
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/test/TestMain.scala
Labels: automerge

#4013 Bump ghcide
  bazel-haskell-deps.bzl
  compiler/damlc/tests/src/DA/Test/ShakeIdeClient.hs
Labels: automerge

#4018 Test parameteric sum of product
  language-support/ts/codegen/tests/daml/Main.daml
  language-support/ts/codegen/tests/ts/generated/src/__tests__/test.ts
Labels: automerge

#3931 bindings-rxjava: Attempt to fix the flakiness in BotTest.
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/components/BotTest.scala
Labels: automerge

#3930 kvutils: Add a Runner for the simplified KVUtils API.
  ledger/api-server-damlonx/reference-v2/BUILD.bazel
  ledger/api-server-damlonx/reference-v2/src/main/scala/com/daml/ledger/api/server/damlonx/reference/v2/InMemoryKVParticipantState.scala
  ledger/api-server-damlonx/reference-v2/src/main/scala/com/daml/ledger/api/server/damlonx/reference/v2/ReferenceServer.scala
  ledger/api-server-damlonx/reference-v2/src/main/scala/com/daml/ledger/api/server/damlonx/reference/v2/cli/Cli.scala
  ledger/api-server-damlonx/reference-v2/src/test/lib/scala/com/daml/ledger/api/server/damlonx/reference/v2/EphemeralPostgresReferenceServerMain.scala
  ledger/api-server-damlonx/reference-v2/src/test/suite/scala/com/daml/ledger/api/server/damlonx/reference/v2/InMemoryKVParticipantStateIT.scala
  ledger/ledger-on-memory/BUILD.bazel
  ledger/ledger-on-memory/src/main/scala/com/daml/ledger/on/memory/InMemoryLedgerReaderWriter.scala
  ledger/ledger-on-memory/src/main/scala/com/daml/ledger/on/memory/Main.scala
  ledger/ledger-on-memory/src/test/resources/logback-test.xml
  ledger/ledger-on-memory/src/test/suite/scala/com/daml/ledger/on/memory/InMemoryLedgerReaderWriterIntegrationSpec.scala
  ledger/participant-state/kvutils/BUILD.bazel
  ledger/participant-state/kvutils/app/BUILD.bazel
  ledger/participant-state/kvutils/app/src/main/resources/logback.xml
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Config.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Runner.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/package.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/ParticipantStateIntegrationSpecBase.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/api/KeyValueParticipantStateReaderSpec.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/resources/ResourceOwner.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/resources/ResourceOwnerSpec.scala
Labels: automerge

#4024 docker cron: ensure nix tools are installed
  azure-cron.yml
Labels: automerge

#4025 Respect build-options if project-root is used
  compiler/damlc/lib/DA/Cli/Damlc.hs
  compiler/damlc/tests/src/DA/Test/Packaging.hs
Labels: automerge

#4028 Build daml-script library with -Werror
  daml-script/daml/BUILD.bazel
Labels: automerge

#4032 Makes scalatest available in IntelliJ
  bazel-java-deps.bzl
  maven_install.json
Labels: automerge

#4035 Don’t expose primitive and magic
  compiler/damlc/daml-preprocessor/src/DA/Daml/Preprocessor.hs
  compiler/damlc/daml-stdlib-src/DA/Internal/Date.daml
  compiler/damlc/daml-stdlib-src/DA/Internal/Desugar.daml
  compiler/damlc/daml-stdlib-src/DA/Internal/LF.daml
  compiler/damlc/daml-stdlib-src/DA/Internal/Prelude.daml
  compiler/damlc/daml-stdlib-src/DA/Internal/Template/Functions.daml
  compiler/damlc/daml-stdlib-src/DA/Internal/Time.daml
  compiler/damlc/daml-stdlib-src/DA/Map.daml
  compiler/damlc/daml-stdlib-src/DA/Numeric.daml
  compiler/damlc/daml-stdlib-src/DA/Text.daml
  compiler/damlc/daml-stdlib-src/DA/TextMap.daml
Labels: automerge

#4037 Remove version suffix from stable packages in daml-stdlib
  compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
  compiler/damlc/tests/src/stable-packages.sh
Labels: automerge

#4044 Drop unused PollingUtils
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/admin/ApiPartyManagementService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/admin/PollingUtils.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/apiserver/services/admin/PollingUtilsSpec.scala
Labels: automerge

#4043 Disable generation of Template instances
  compiler/damlc/lib/DA/Cli/Damlc/Packaging.hs
  compiler/damlc/tests/src/DA/Test/Packaging.hs
Labels: automerge

#4014 `/contracts/search` should return HTTP 200 and report unresolved Template IDs in the `warnings` element
  docs/source/json-api/index.rst
  ledger-service/http-json/src/main/scala/com/digitalasset/http/CommandService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ErrorMessages.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/PackageService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/domain.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/DomainJsonDecoder.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/JsonProtocol.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/ResponseFormats.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/util/Collections.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/AbstractHttpServiceIntegrationTest.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/PackageServiceTest.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/json/JsonProtocolTest.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/json/ResponseFormatsTest.scala
Labels: automerge

#4047 daml2ts : sum-of-product rewrite
  language-support/ts/codegen/src/TsCodeGenMain.hs
Labels: automerge

#4051 Allow invoking generate-src on the main dalf of a dar
  compiler/damlc/lib/DA/Cli/Damlc.hs
Labels: automerge

#4053 Fix bug that can cause the transaction stream to not terminate.
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/akkastreams/dispatcher/Dispatcher.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/akkastreams/dispatcher/DispatcherImpl.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/SandboxIndexAndWriteService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/Ledger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/MeteredLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/inmemory/InMemoryLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/inmemory/LedgerEntries.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/BaseLedger.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/ImplicitPartyAdditionIT.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/TransactionMRTComplianceIT.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/inmemory/LedgerEntriesSpec.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/TransactionStreamTerminationIT.scala
Labels: automerge, component/ledger

#4056 Use https to access central.maven.org
  bazel_tools/scala-https.patch
  deps.bzl
Labels: automerge

#4055 fix Bash syntax in Docker cron
  azure-cron.yml
Labels: automerge

#4054 Update hlint
  stack-snapshot.yaml
Labels: automerge

#3936 websocket variant of query endpoint
  docs/source/json-api/index.rst
  ledger-service/http-json/BUILD.bazel
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Config.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsFetch.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/EndpointsCompanion.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/LedgerClientJwt.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Main.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebsocketEndpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/util/Collections.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/util/NewBoolean.scala
  ledger-service/http-json/src/test/resources/it/iouCreateCommand.json
  ledger-service/http-json/src/test/scala/com/digitalasset/http/AbstractHttpServiceIntegrationTest.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/HttpServiceTestFixture.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/WebsocketServiceIntegrationTest.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/util/TestUtil.scala
Labels: component/json-api

#4065 Return to unpatched rules_scala
  bazel_tools/scala-https.patch
  deps.bzl
Labels: automerge

#4068 ledger-api-test-tool-on-canton: Upgrade Canton to v0.6.0.
  WORKSPACE
Labels: automerge

#4066 libs-scala/resources: Move `Resource` and friends to their own package.
  ledger/api-server-damlonx/reference-v2/BUILD.bazel
  ledger/api-server-damlonx/reference-v2/src/main/scala/com/daml/ledger/api/server/damlonx/reference/v2/ReferenceServer.scala
  ledger/participant-state/kvutils/app/BUILD.bazel
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Runner.scala
  ledger/sandbox/BUILD.bazel
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/JdbcIndex.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/LedgerApiServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/StandaloneApiServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/indexer/Indexer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/indexer/JdbcIndexer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/indexer/RecoveringIndexer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/indexer/StandaloneIndexerServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/SandboxIndexAndWriteService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/Ledger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/ReadOnlySqlLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/HikariJdbcConnectionProvider.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/migration/FlywayMigrations.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/util/DbDispatcher.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/LedgerResource.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/indexer/RecoveringIndexerSpec.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/persistence/PostgresIT.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/JdbcLedgerDaoSpec.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedgerSpec.scala
  libs-scala/resources-akka/BUILD.bazel
  libs-scala/resources-akka/src/main/scala/com/digitalasset/resources/akka/ActorMaterializerResourceOwner.scala
  libs-scala/resources-akka/src/main/scala/com/digitalasset/resources/akka/ActorSystemResourceOwner.scala
  libs-scala/resources-akka/src/main/scala/com/digitalasset/resources/akka/AkkaResourceOwner.scala
  libs-scala/resources-akka/src/test/suite/scala/com/digitalasset/resources/akka/AkkaResourceOwnerSpec.scala
  libs-scala/resources/BUILD.bazel
  libs-scala/resources/src/main/scala/com/digitalasset/resources/CloseableResourceOwner.scala
  libs-scala/resources/src/main/scala/com/digitalasset/resources/ExecutorServiceResourceOwner.scala
  libs-scala/resources/src/main/scala/com/digitalasset/resources/FutureCloseableResourceOwner.scala
  libs-scala/resources/src/main/scala/com/digitalasset/resources/FutureResourceOwner.scala
  libs-scala/resources/src/main/scala/com/digitalasset/resources/Resource.scala
  libs-scala/resources/src/main/scala/com/digitalasset/resources/ResourceAcquisitionFilterException.scala
  libs-scala/resources/src/main/scala/com/digitalasset/resources/ResourceOwner.scala
  libs-scala/resources/src/main/scala/com/digitalasset/resources/TimerResourceOwner.scala
  libs-scala/resources/src/test/lib/scala/com/digitalasset/resources/DelayedReleaseResourceOwner.scala
  libs-scala/resources/src/test/lib/scala/com/digitalasset/resources/FailingResourceOwner.scala
  libs-scala/resources/src/test/lib/scala/com/digitalasset/resources/MockConstructor.scala
  libs-scala/resources/src/test/lib/scala/com/digitalasset/resources/TestCloseable.scala
  libs-scala/resources/src/test/lib/scala/com/digitalasset/resources/TestResourceOwner.scala
  libs-scala/resources/src/test/suite/scala/com/digitalasset/resources/ResourceOwnerSpec.scala
  release/artifacts.yaml
Labels: automerge

#4074 Bump ghcide to include bugfix
  bazel-haskell-deps.bzl
  compiler/lsp-tests/src/Main.hs
Labels: automerge

#4076 document that null Optional-in-record shortcut *not* used in JSON output
  docs/source/json-api/lf-value-specification.rst
Labels: automerge, component/json-api

#3849 daml-lf: new hashing for daml-lf values
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/SortedLookupList.scala
  daml-lf/transaction-scalacheck/src/main/scala/com/digitalasset/daml/lf/value/TypedValueGenerators.scala
  daml-lf/transaction/BUILD.bazel
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/crypto/Hash.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/crypto/HashSpec.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/query/ValuePredicateTest.scala
Labels: component/daml-lf

#4080 Update hlint
  stack-snapshot.yaml
Labels: automerge

#4069 Improve docs around the new Template, Choice, TemplateKey constraints.
  compiler/damlc/daml-stdlib-src/DA/Internal/Template/Functions.daml
Labels: automerge

#4034 Make sure the RecoveringIndexer terminates.
  ledger/api-server-damlonx/reference-v2/BUILD.bazel
  ledger/api-server-damlonx/reference-v2/src/test/resources/logback-test.xml
  ledger/api-server-damlonx/reference-v2/src/test/suite/scala/com/daml/ledger/api/server/damlonx/reference/v2/IndexerIT.scala
  ledger/ledger-api-common/BUILD.bazel
  ledger/sandbox/BUILD.bazel
  ledger/sandbox/src/main/scala/com/digitalasset/platform/indexer/IndexerConfig.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/indexer/JdbcIndexer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/indexer/RecoveringIndexer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/indexer/StandaloneIndexerServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/JdbcLedgerDao.scala
  ledger/sandbox/src/test/resources/logback-test.xml
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/indexer/RecoveringIndexerSpec.scala
Labels: automerge

#4092 damldocs: Fix handling of constraint tuples.
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Extract.hs
  compiler/damlc/tests/daml-test-files/ConstraintTuples.EXPECTED.md
  compiler/damlc/tests/daml-test-files/ConstraintTuples.EXPECTED.rst
Labels: automerge

#4098 Include runtime_deps in POM file generation
  bazel_tools/pom_file.bzl
Labels: automerge

#4095 Generate stable DA.Time.Types module as DAML-LF 1.6
  compiler/damlc/stable-packages/src/GenerateStablePackage.hs
  compiler/damlc/tests/BUILD.bazel
  compiler/damlc/tests/src/DA/Test/Packaging.hs
  compiler/damlc/tests/src/stable-packages.sh
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/KVUtilsPackageSpec.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/JdbcLedgerDaoSpec.scala
Labels: automerge

#4082 in query argument, rename %templates to templateIds, and nest query under 'query' field
  docs/source/json-api/index.rst
  docs/source/json-api/search-query-language.rst
  language-support/ts/codegen/tests/ts/daml-ledger-fetch/src/index.ts
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/JsonProtocol.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/AbstractHttpServiceIntegrationTest.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/HttpServiceWithPostgresIntTest.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/WebsocketServiceIntegrationTest.scala
Labels: component/json-api

#4078 for searchForever, use a similar response format to exercise results
  docs/source/json-api/index.rst
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/WebsocketServiceIntegrationTest.scala
Labels: component/json-api

#4108 Navigator: Fixes dependencies
  navigator/backend/BUILD.bazel
Labels: automerge, component/navigator

#4113 Test data-dependencies for more LF version combinations
  compiler/damlc/tests/src/DA/Test/Packaging.hs
Labels: automerge

#4112 damldocs: Refactoring DA.Daml.Doc.Extract
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Extract.hs
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Extract/Exports.hs
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Extract/Templates.hs
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Extract/TypeExpr.hs
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Extract/Types.hs
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Extract/Util.hs
  libs-haskell/da-hs-base/src/Data/List/Extended.hs
Labels: automerge

#4128 daml2ts: Fix validation of nested optionals
  language-support/ts/codegen/src/TsCodeGenMain.hs
  language-support/ts/daml-json-types/index.test.ts
  language-support/ts/daml-json-types/index.ts
  language-support/ts/daml-ledger-fetch/index.ts
Labels: automerge

#4137 Bump timeout of packaging tests
  compiler/damlc/tests/BUILD.bazel
Labels: automerge

#4138 contextualized-logging: Move to its own Bazel package.
  ledger/api-server-damlonx/reference-v2/BUILD.bazel
  ledger/api-server-damlonx/reference-v2/src/main/scala/com/daml/ledger/api/server/damlonx/reference/v2/ReferenceServer.scala
  ledger/api-server-damlonx/reference-v2/src/test/suite/scala/com/daml/ledger/api/server/damlonx/reference/v2/IndexerIT.scala
  ledger/participant-state/kvutils/app/BUILD.bazel
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Runner.scala
  ledger/sandbox/BUILD.bazel
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/ApiServices.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/JdbcIndex.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/LedgerApiServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/StandaloneApiServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/ApiActiveContractsService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/ApiCommandCompletionService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/ApiCommandService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/ApiLedgerConfigurationService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/ApiLedgerIdentityService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/ApiPackageService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/ApiSubmissionService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/ApiTimeService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/admin/ApiConfigManagementService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/admin/ApiPackageManagementService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/admin/ApiPartyManagementService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/tracking/TrackerMap.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/transaction/ApiTransactionService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/indexer/JdbcIndexer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/indexer/RecoveringIndexer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/indexer/StandaloneIndexerServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/SandboxResetService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/SandboxIndexAndWriteService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/Ledger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/ReadOnlySqlLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/JdbcLedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/migration/FlywayMigrations.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/util/DbDispatcher.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/LedgerResource.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/indexer/RecoveringIndexerSpec.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/persistence/PostgresIT.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/ImplicitPartyAdditionIT.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/TransactionMRTComplianceIT.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/JdbcLedgerDaoSpec.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedgerSpec.scala
  libs-scala/contextualized-logging/BUILD.bazel
  libs-scala/contextualized-logging/src/main/scala/com/digitalasset/logging/ContextualizedLogger.scala
  libs-scala/contextualized-logging/src/main/scala/com/digitalasset/logging/LeveledLogger.scala
  libs-scala/contextualized-logging/src/main/scala/com/digitalasset/logging/LoggingContext.scala
  libs-scala/contextualized-logging/src/test/suite/scala/com/digitalasset/logging/ContextualizedLoggerIT.scala
  libs-scala/contextualized-logging/src/test/suite/scala/com/digitalasset/logging/ContextualizedLoggerSpec.scala
  release/artifacts.yaml
Labels: automerge

#4124 Define and use eslint_test Bazel macro
  language-support/ts/codegen/tests/build-and-lint.sh
  language-support/ts/daml-json-types/BUILD.bazel
  language-support/ts/daml-json-types/index.ts
  language-support/ts/daml-json-types/package.json
  language-support/ts/daml-ledger-fetch/BUILD.bazel
  language-support/ts/eslint.bzl
  language-support/ts/package.json
  language-support/ts/yarn.lock
Labels: automerge

#4130 Remove pseudo* functions from daml-ledger-fetch
  language-support/ts/daml-ledger-fetch/index.ts
Labels: automerge

#4129 engine: node are ordered in transactions
  daml-lf/spec/transaction.rst
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/api/v1/event/EventOps.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/services/transaction/TransientContractRemover.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/TransactionConversion.scala
Labels: automerge, component/daml-engine

#4135 Avoid intermediate nodejs_dev_env
  WORKSPACE
  deps.bzl
  nix/bazel.nix
Labels: automerge

#4142 Remove intermediate PackageImport type
  compiler/damlc/daml-opts/daml-opts-types/DA/Daml/Options/Types.hs
  compiler/damlc/daml-opts/daml-opts/DA/Daml/Options.hs
  compiler/damlc/lib/DA/Cli/Damlc/Packaging.hs
  compiler/damlc/lib/DA/Cli/Options.hs
Labels: automerge

#4154 Release 0.13.45
  VERSION
  docs/source/support/release-notes.rst
Labels: automerge

#4150 Add other node_modules to bazelignore
  .bazelignore
Labels: automerge

#4156 Handle unserializable scenario result types
  compiler/damlc/tests/daml-test-files/UnserializableScenario.daml
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
Labels: automerge

#4140 Engine: Simplify ordering of nodes in transaction
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Blinding.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/types/Ledger.scala
  daml-lf/spec/transaction.rst
  daml-lf/transaction-scalacheck/src/main/scala/com/digitalasset/daml/lf/value/ValueGenerators.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionCoder.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/Value.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionCoderSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionVersionSpec.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/services/transaction/TransactionFiltration.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/InputsAndEffects.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committing/ProcessTransactionSubmission.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/ParticipantStateIntegrationSpecBase.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/ProjectionsSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/api/KeyValueParticipantStateWriterSpec.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/indexer/JdbcIndexer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ActiveLedgerStateManager.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/ScenarioLoader.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/TransactionConversion.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/inmemory/InMemoryLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/migration/postgres/V4_1__Collect_Parties.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/serialisation/TransactionSerializer.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/ImplicitPartyAdditionIT.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/TransactionMRTComplianceIT.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/JdbcLedgerDaoSpec.scala
Labels: automerge, component/daml-engine

#4155 ledger-on-sql: Get H2 working in the conformance tests.
  bazel-java-deps.bzl
  ledger/ledger-on-memory/src/main/resources/logback.xml
  ledger/ledger-on-memory/src/main/scala/com/daml/ledger/on/memory/InMemoryLedgerReaderWriter.scala
  ledger/ledger-on-memory/src/main/scala/com/daml/ledger/on/memory/Main.scala
  ledger/ledger-on-posix-filesystem/src/main/resources/logback.xml
  ledger/ledger-on-posix-filesystem/src/main/scala/com/daml/ledger/on/filesystem/posix/FileSystemLedgerReaderWriter.scala
  ledger/ledger-on-posix-filesystem/src/main/scala/com/daml/ledger/on/filesystem/posix/Main.scala
  ledger/ledger-on-posix-filesystem/src/test/lib/scala/com/daml/ledger/on/filesystem/posix/MainWithEphemeralDirectory.scala
  ledger/ledger-on-sql/BUILD.bazel
  ledger/ledger-on-sql/src/main/resources/logback.xml
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/Database.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/Main.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/SqlLedgerReaderWriter.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/queries/CommonQueries.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/queries/H2Queries.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/queries/Queries.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/queries/SqliteQueries.scala
  ledger/ledger-on-sql/src/test/lib/scala/com/daml/ledger/on/sql/MainWithEphemeralDirectory.scala
  ledger/ledger-on-sql/src/test/lib/scala/com/daml/ledger/on/sql/MainWithEphemeralSqlite.scala
  ledger/ledger-on-sql/src/test/suite/scala/com/daml/ledger/on/sql/H2FileSqlLedgerReaderWriterIntegrationSpec.scala
  ledger/ledger-on-sql/src/test/suite/scala/com/daml/ledger/on/sql/H2MemorySqlLedgerReaderWriterIntegrationSpec.scala
  ledger/ledger-on-sql/src/test/suite/scala/com/daml/ledger/on/sql/SqliteFileSqlLedgerReaderWriterIntegrationSpec.scala
  ledger/ledger-on-sql/src/test/suite/scala/com/daml/ledger/on/sql/SqliteMemorySqlLedgerReaderWriterIntegrationSpec.scala
  ledger/participant-state/kvutils/app/src/main/resources/com/daml/ledger/participant/state/kvutils/app/logback.base.xml
  ledger/participant-state/kvutils/app/src/main/resources/logback.xml
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Config.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/LedgerFactory.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Runner.scala
  maven_install.json
Labels: automerge

#4167 Cleanup typescript hacks for Windows
  WORKSPACE
  build.ps1
  language-support/ts/daml-json-types/BUILD.bazel
  language-support/ts/daml-ledger-fetch/BUILD.bazel
Labels: automerge

#4157 Remove damlc.jar
  compiler/damlc/jar/BUILD.bazel
  compiler/damlc/jar/README.md
  compiler/damlc/jar/src/com/digitalasset/damlc/Runner.java
  navigator/integration-test/BUILD.bazel
  navigator/integration-test/src/main/scala/com/digitalasset/navigator/test/runner/PackagedDamlc.scala
  release/artifacts.yaml
Labels: automerge

#4166 ledger-on-posix-filesystem: Fix the tests on CI.
  extractor/src/main/scala/com/digitalasset/extractor/Extractor.scala
  ledger/ledger-on-posix-filesystem/BUILD.bazel
  ledger/ledger-on-posix-filesystem/src/main/scala/com/daml/ledger/on/filesystem/posix/FileSystemLock.scala
  libs-scala/timer-utils/src/main/scala/com/digitalasset/timer/RetryStrategy.scala
Labels: automerge

#4077 Engine: Add node and contract Discriminator
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/BackStack.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/LargeTransactionTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/types/Ledger.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/svalue/SEquatableValuesSpec.scala
  daml-lf/transaction-scalacheck/src/main/scala/com/digitalasset/daml/lf/value/ValueGenerators.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/crypto/Hash.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/Value.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/crypto/HashSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionCoderSpec.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/Conversions.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committing/ProcessTransactionSubmission.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/ProjectionsSpec.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/EventIdFormatter.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/EventIdFormatterSpec.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/ImplicitPartyAdditionIT.scala
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Runner.scala
Labels: automerge, component/daml-engine

#4165 temporary Windows machins for Andreas
  infra/TEMP-vsts_agent_windows_DEBUG.tf
Labels: Standard-Change

#4186 Use template Key in template generic params list
  language-support/ts/codegen/src/TsCodeGenMain.hs
Labels: automerge

#4176 Bump ghcide to fix GHC panics in LSP tests
  bazel-haskell-deps.bzl
  bazel_tools/haskell-ghcide-expose-compat.patch
  compiler/damlc/BUILD.bazel
  compiler/damlc/daml-doc/BUILD.bazel
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Extract.hs
  compiler/damlc/daml-ide-core/BUILD.bazel
  compiler/damlc/daml-ide-core/src/Development/IDE/Core/Service/Daml.hs
  compiler/damlc/daml-ide-core/test/Development/IDE/State/API/Testing.hs
  compiler/damlc/lib/DA/Cli/Damlc.hs
  compiler/damlc/lib/DA/Cli/Damlc/IdeState.hs
  compiler/damlc/tests/BUILD.bazel
  compiler/damlc/tests/src/DA/Test/DamlDocTest.hs
  compiler/damlc/tests/src/DA/Test/DamlcIntegration.hs
  compiler/damlc/tests/src/DA/Test/ShakeIdeClient.hs
  compiler/damlc/tests/util.bzl
  compiler/lsp-tests/BUILD.bazel
  compiler/lsp-tests/src/Main.hs
Labels: automerge

#4023 Convert type classes to LF type synonyms
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion/UtilLF.hs
  compiler/damlc/tests/daml-test-files/ConstrainedClassMethod.EXPECTED.md
  compiler/damlc/tests/daml-test-files/ConstrainedClassMethod.EXPECTED.rst
  compiler/damlc/tests/daml-test-files/ConstrainedClassMethod.daml
  compiler/damlc/tests/src/unstable-types.sh
Labels: automerge

#4202 daml-ledger.ts: Simplify types of *ByKey operations
  language-support/ts/daml-ledger/index.ts
  language-support/ts/daml-ledger/tsconfig.json
  language-support/ts/daml-types/tsconfig.json
Labels: automerge

#4198 daml-ledger.ts: Rename create argument to payload
  language-support/ts/daml-ledger/index.ts
Labels: automerge

#4134 Document consumability qualifiers in the reference docs
  docs/source/daml/code-snippets/Reference.daml
  docs/source/daml/reference/choices.rst
  docs/source/daml/reference/structure.rst
Labels: automerge

#4206 Engine: make Node.isReplayedBy public
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Node.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
Labels: automerge, component/daml-engine

#4209 Change Exercise by Key to send ExerciseByKeyCommand
  ledger-service/http-json/src/main/scala/com/digitalasset/http/CommandService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/domain.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/util/Commands.scala
Labels: automerge

#4210 Remove obsolete scala codegen-sbt-example.
  language-support/scala/examples/BUILD.bazel
  language-support/scala/examples/codegen-sbt-example/README.md
  language-support/scala/examples/codegen-sbt-example/SDK_VERSION
  language-support/scala/examples/codegen-sbt-example/build.sbt
  language-support/scala/examples/codegen-sbt-example/daml-model/src/Main.daml
  language-support/scala/examples/codegen-sbt-example/mock-example/src/main/scala/com/digitalasset/example/ExampleMain.scala
  language-support/scala/examples/codegen-sbt-example/project/Artifactory.scala
  language-support/scala/examples/codegen-sbt-example/project/Versions.scala
  language-support/scala/examples/codegen-sbt-example/project/build.properties
  language-support/scala/examples/codegen-sbt-example/project/daml.sbt
  language-support/scala/examples/codegen-sbt-example/project/project/Artifactory.scala
  language-support/scala/examples/codegen-sbt-example/project/project/Versions.scala
  language-support/scala/examples/codegen-sbt-example/sandbox-example/src/main/scala/com/digitalasset/example/ExampleMain.scala
  language-support/scala/examples/codegen-sbt-example/sandbox-example/src/main/scala/com/digitalasset/example/Util.scala
  language-support/scala/examples/codegen-sbt-example/scala-codegen/.keep
Labels: automerge

#4205 Add logging context information to ledger services
  ledger/sandbox/BUILD.bazel
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/ApiActiveContractsService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/ApiCommandCompletionService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/ApiCommandService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/ApiSubmissionService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/logging/package.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/transaction/ApiTransactionService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/logging/package.scala
  libs-scala/contextualized-logging/src/main/scala/com/digitalasset/logging/LoggingContext.scala
  libs-scala/contextualized-logging/src/test/suite/scala/com/digitalasset/logging/ContextualizedLoggerSpec.scala
Labels: automerge

#4211 Fix missing module refs issue
  language-support/ts/codegen/src/TsCodeGenMain.hs
  language-support/ts/codegen/tests/daml/Main.daml
  language-support/ts/codegen/tests/daml/T.daml
Labels: automerge

#4208 daml-types.ts: Lint tests as well
  language-support/ts/codegen/tests/build-and-lint.sh
  language-support/ts/daml-types/BUILD.bazel
  language-support/ts/daml-types/package.json
  language-support/ts/daml-types/tsconfig.eslint.json
  language-support/ts/daml-types/tsconfig.json
Labels: automerge

#4215 daml-ledger.ts: Fix build and lint config
  language-support/ts/daml-ledger/BUILD.bazel
  language-support/ts/daml-ledger/tsconfig.json
Labels: automerge

#4219 Fail when a data-dependency fails to compile
  compiler/damlc/lib/DA/Cli/Damlc/Packaging.hs
Labels: automerge

#4234 Add daml2ts to the SDK release tarball
  language-support/ts/codegen/BUILD.bazel
  release/util.bzl
Labels: component/packaging, language

#4236 Engine: drop useless EContractId Ast node
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/AstRewriter.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ExprParser.scala
  daml-lf/parser/src/test/scala/com/digitalasset/daml/lf/testing/parser/ParsersSpec.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/traversable/ExprTraversable.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/traversable/TypeTraversable.scala
Labels: component/daml-lf

#4238 Remove position-mapping tests
  compiler/damlc/tests/BUILD.bazel
  compiler/damlc/tests/src/DA/Test/PositionMapping.hs
Labels: automerge

#4230 Preserve class method names during LF conversion.
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion/UtilLF.hs
  compiler/damlc/tests/daml-test-files/ClassMethodNames.daml
Labels: automerge

#4240 Initialize package db in damlc test
  compiler/damlc/lib/DA/Cli/Damlc.hs
  compiler/damlc/tests/src/DA/Test/Packaging.hs
Labels: automerge

#4233 Test triggers in scenarios
  compiler/damlc/daml-stdlib-src/DA/Internal/LF.daml
  triggers/daml/Daml/Trigger.daml
  triggers/tests/scenarios/BUILD.bazel
  triggers/tests/scenarios/Rule.daml
  triggers/tests/scenarios/daml.yaml
  triggers/tests/scenarios/test-scenarios.sh
Labels: automerge

#4239 sandbox: On initialization error, actually print the error and stop.
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxMain.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
Labels: automerge

#4241 ledger-api-test-tool: Run `scalafmt`.
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/Cli.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/LedgerApiTestTool.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/Tests.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/Allocation.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/AssertionErrorWithPreformattedMessage.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/Assertions.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/DiffExtensions.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/Eventually.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/Identification.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerSession.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerSessionConfiguration.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerTestCase.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerTestContext.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerTestSuite.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerTestSuiteRunner.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerTestSummary.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/Reporter.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/Synchronize.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/participant/ParticipantSession.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/participant/ParticipantSessionConfiguration.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/participant/ParticipantSessionManager.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/participant/ParticipantTestContext.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/ActiveContractsService.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/CommandService.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/CommandSubmissionCompletion.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/ConfigManagement.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/ContractKeys.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/ContractKeysSubmitterIsMaintainer.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/Divulgence.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/Identity.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/LedgerConfigurationService.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/LotsOfParties.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/PackageManagement.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/Packages.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/PartyManagement.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/SemanticTests.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/Time.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/TransactionScale.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/TransactionService.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/Witnesses.scala
Labels: automerge

#4244 ledger-api-test-tool-on-canton: Upgrade to Canton v0.8.0.
  WORKSPACE
Labels: automerge

#4232 ledger-on-sql: Migrate tables using Flyway.
  .gitignore
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerTestCase.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerTestSuite.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerTestSuiteRunner.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/LotsOfParties.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/SemanticTests.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/TransactionService.scala
  ledger/ledger-on-sql/BUILD.bazel
  ledger/ledger-on-sql/src/main/resources/com/daml/ledger/on/sql/migrations/h2/V1__create_tables.sql
  ledger/ledger-on-sql/src/main/resources/com/daml/ledger/on/sql/migrations/h2/V1__create_tables.sql.sha256
  ledger/ledger-on-sql/src/main/resources/com/daml/ledger/on/sql/migrations/postgresql/V1__create_tables.sql
  ledger/ledger-on-sql/src/main/resources/com/daml/ledger/on/sql/migrations/postgresql/V1__create_tables.sql.sha256
  ledger/ledger-on-sql/src/main/resources/com/daml/ledger/on/sql/migrations/sqlite/V1__create_tables.sql
  ledger/ledger-on-sql/src/main/resources/com/daml/ledger/on/sql/migrations/sqlite/V1__create_tables.sql.sha256
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/Database.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/Main.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/SqlLedgerReaderWriter.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/queries/CommonQueries.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/queries/H2Queries.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/queries/PostgresqlQueries.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/queries/Queries.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/queries/SqliteQueries.scala
  ledger/ledger-on-sql/src/test/lib/scala/com/daml/ledger/on/sql/SqlLedgerReaderWriterIntegrationSpecBase.scala
  ledger/ledger-on-sql/src/test/resources/logback-test.xml
  ledger/ledger-on-sql/src/test/suite/scala/com/daml/ledger/on/sql/H2FileSqlLedgerReaderWriterIntegrationSpec.scala
  ledger/ledger-on-sql/src/test/suite/scala/com/daml/ledger/on/sql/H2MemorySqlLedgerReaderWriterIntegrationSpec.scala
  ledger/ledger-on-sql/src/test/suite/scala/com/daml/ledger/on/sql/ImmutableMigrationsSpec.scala
  ledger/ledger-on-sql/src/test/suite/scala/com/daml/ledger/on/sql/PostgresqlSqlLedgerReaderWriterIntegrationSpec.scala
  ledger/ledger-on-sql/src/test/suite/scala/com/daml/ledger/on/sql/SqliteFileSqlLedgerReaderWriterIntegrationSpec.scala
  ledger/ledger-on-sql/src/test/suite/scala/com/daml/ledger/on/sql/SqliteMemorySqlLedgerReaderWriterIntegrationSpec.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/ParticipantStateIntegrationSpecBase.scala
  libs-scala/postgresql-testing/src/main/scala/com/digitalasset/testing/postgresql/PostgresAround.scala
Labels: automerge

#4251 Refactor ModRef out as a type.
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/DataDependencies.hs
Labels: automerge

#4252 Integrate daml2ts into the assistant
  daml-assistant/daml-helper/src/DA/Daml/Helper/Main.hs
  daml-assistant/daml-helper/src/DA/Daml/Helper/Run.hs
  daml-assistant/integration-tests/src/DA/Daml/Assistant/IntegrationTests.hs
  release/sdk-config.yaml.tmpl
Labels: automerge, component/packaging, language/now

#4153 Avoid ending at different ledger ends for multi-template-ID queries
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsFetch.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/LedgerClientJwt.scala
Labels: component/json-api

#4250 ledger-on-whatever: Enable more conformance tests.
  ledger/ledger-on-memory/BUILD.bazel
  ledger/ledger-on-posix-filesystem/BUILD.bazel
  ledger/ledger-on-sql/BUILD.bazel
Labels: automerge

#4255 ledger-on-sql: Don't allow unnamed in-memory databases.
  ledger/ledger-on-sql/BUILD.bazel
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/Database.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/queries/Queries.scala
  ledger/ledger-on-sql/src/test/lib/scala/com/daml/ledger/on/sql/SqlLedgerReaderWriterIntegrationSpecBase.scala
  ledger/ledger-on-sql/src/test/suite/scala/com/daml/ledger/on/sql/DatabaseSpec.scala
  ledger/ledger-on-sql/src/test/suite/scala/com/daml/ledger/on/sql/H2FileSqlLedgerReaderWriterIntegrationSpec.scala
  ledger/ledger-on-sql/src/test/suite/scala/com/daml/ledger/on/sql/H2MemorySqlLedgerReaderWriterIntegrationSpec.scala
  ledger/ledger-on-sql/src/test/suite/scala/com/daml/ledger/on/sql/PostgresqlSqlLedgerReaderWriterIntegrationSpec.scala
  ledger/ledger-on-sql/src/test/suite/scala/com/daml/ledger/on/sql/SqliteFileSqlLedgerReaderWriterIntegrationSpec.scala
  ledger/ledger-on-sql/src/test/suite/scala/com/daml/ledger/on/sql/SqliteMemorySqlLedgerReaderWriterIntegrationSpec.scala
Labels: automerge

#4257 Revert "Adopt trailingCommas option in scalafmt (#4214)"
  .scalafmt.conf
Labels: automerge

#4260 Run `scalafmt` on all files and fix the errors.
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Context.scala
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/types/Ledger.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/svalue/SEquatableValuesSpec.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/BlindingCoder.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Node.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionCoder.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/VersionTimeline.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/Value.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/ValueCoder.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/crypto/HashSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionCoderSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/VersionTimelineSpec.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsFetch.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/LedgerClientJwt.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/Cli.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/Reporter.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/participant/ParticipantSession.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/participant/ParticipantTestContext.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/CommandService.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/CommandSubmissionCompletion.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/LedgerConfigurationService.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/Packages.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/PartyManagement.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/Time.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/TransactionScale.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/TransactionService.scala
  ledger/ledger-on-memory/src/main/scala/com/daml/ledger/on/memory/InMemoryLedgerReaderWriter.scala
  ledger/ledger-on-posix-filesystem/src/main/scala/com/daml/ledger/on/filesystem/posix/FileSystemLedgerReaderWriter.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/Database.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/Main.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/SqlLedgerReaderWriter.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/ParticipantStateIntegrationSpecBase.scala
Labels: automerge

#4264 Daml.Trigger.Assert for trigger testing API
  triggers/daml/BUILD.bazel
  triggers/daml/Daml/Trigger.daml
  triggers/daml/Daml/Trigger/Assert.daml
  triggers/daml/Daml/Trigger/Internal.daml
  triggers/tests/scenarios/Rule.daml
Labels: automerge

#4267 remove debug Windows machine
  infra/TEMP-vsts_agent_windows_DEBUG.tf
Labels: Standard-Change

#4273 daml-react.ts: Don't use JSX
  language-support/ts/daml-react/BUILD.bazel
  language-support/ts/daml-react/DamlLedger.ts
  language-support/ts/daml-react/ledgerStore.test.ts
Labels: automerge

#4276 Update hlint
  compiler/damlc/daml-ide-core/dlint.yaml
  stack-snapshot.yaml
Labels: automerge

#4265 sandbox-perf: Fix broken benchmarks and make sure they stay fixed.
  bazel_tools/scala-fail-jmh-build-on-error.patch
  deps.bzl
  ledger/sandbox-perf/src/perf/benches/scala/com/digitalasset/platform/sandbox/perf/AcsBench.scala
  ledger/sandbox-perf/src/perf/benches/scala/com/digitalasset/platform/sandbox/perf/LargeTransactionBench.scala
  ledger/sandbox-perf/src/perf/benches/scala/com/digitalasset/platform/sandbox/perf/SimpleBench.scala
  ledger/sandbox-perf/src/perf/lib/scala/com/digitalasset/platform/sandbox/perf/AcsBenchState.scala
Labels: automerge

#4277 Fix contract keys test description
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/ContractKeys.scala
Labels: automerge

#4262 Clean-up JdbcLedgerDao
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/JdbcLedgerDao.scala
Labels: automerge

#4266 ledger-on-sql: Make sure the ledger picks up where it left off.
  ledger/ledger-on-sql/BUILD.bazel
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/Database.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/SqlLedgerReaderWriter.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/package.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/queries/CommonQueries.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/queries/H2Queries.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/queries/PostgresqlQueries.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/queries/Queries.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/queries/SqliteQueries.scala
  ledger/ledger-on-sql/src/test/lib/scala/com/daml/ledger/on/sql/SqlLedgerReaderWriterIntegrationSpecBase.scala
  ledger/ledger-on-sql/src/test/suite/scala/com/daml/ledger/on/sql/RestartSpec.scala
  libs-scala/resources/src/main/scala/com/digitalasset/resources/Resource.scala
  libs-scala/resources/src/test/suite/scala/com/digitalasset/resources/ResourceSpec.scala
Labels: automerge

#4282 Mark //ledger-service/http-json:tests as flaky
  ledger-service/http-json/BUILD.bazel
Labels: automerge

#4249 ledger-on-posix-filesystem: Lock the entire ledger with a file lock.
  ledger/ledger-on-posix-filesystem/BUILD.bazel
  ledger/ledger-on-posix-filesystem/src/main/scala/com/daml/ledger/on/filesystem/posix/FileSystemLedgerReaderWriter.scala
  ledger/ledger-on-posix-filesystem/src/main/scala/com/daml/ledger/on/filesystem/posix/FileSystemLock.scala
  ledger/ledger-on-posix-filesystem/src/test/lib/scala/com/daml/ledger/on/filesystem/posix/MainWithEphemeralDirectory.scala
  ledger/ledger-on-posix-filesystem/src/test/suite/scala/com/daml/ledger/on/filesystem/posix/FileSystemLedgerReaderWriterIntegrationSpec.scala
  ledger/ledger-on-posix-filesystem/src/test/suite/scala/com/daml/ledger/on/filesystem/posix/FileSystemLockSpec.scala
  ledger/ledger-on-posix-filesystem/src/test/suite/scala/com/daml/ledger/on/filesystem/posix/StateKeysSpec.scala
  ledger/ledger-on-sql/src/test/suite/scala/com/daml/ledger/on/sql/RestartSpec.scala
  libs-scala/resources/src/main/scala/com/digitalasset/resources/Resource.scala
  libs-scala/resources/src/main/scala/com/digitalasset/resources/ResourceOwner.scala
  libs-scala/resources/src/test/suite/scala/com/digitalasset/resources/ResourceOwnerSpec.scala
  libs-scala/resources/src/test/suite/scala/com/digitalasset/resources/ResourceSpec.scala
Labels: automerge

#4284 Refactor getTimeModel
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/admin/ApiConfigManagementService.scala
Labels: automerge

#4253 test that step conflation yields consistent results with unconflated streams
  ledger-service/http-json/BUILD.bazel
  ledger-service/http-json/src/test/scala/com/digitalasset/http/ContractsFetchTest.scala
Labels: component/json-api

#4291 Pass uninitialized mkOptions to initPackageDb
  compiler/damlc/lib/DA/Cli/Damlc.hs
Labels: automerge

#4283 Fix the case when start offset > end offset
  ledger-service/http-json/BUILD.bazel
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsFetch.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/LedgerClientJwt.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/util/LedgerOffsetUtil.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/Generators.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/util/LedgerOffsetUtilTest.scala
Labels: component/json-api

#4312 warn on unknown template IDs in searchForever
  docs/source/json-api/index.rst
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/WebsocketServiceIntegrationTest.scala
Labels: component/json-api

#4292 Release 0.13.50
  VERSION
  docs/source/support/release-notes.rst
Labels: automerge

#4315 @daml/react: Stop useQuery from reloading indefinitely
  language-support/ts/daml-react/hooks.ts
Labels: automerge

#4319 Factor out logic from mkOptions
  compiler/damlc/daml-opts/daml-opts-types/DA/Daml/Options/Types.hs
Labels: automerge

#4317 kvutils: Use matchers in ParticipantStateIntegrationSpecBase.
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/ParticipantStateIntegrationSpecBase.scala
Labels: automerge

#4274 Generate module references at the same time as conversion.
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/DataDependencies.hs
Labels: automerge

#4320 resources: Throw upon acquiring the implicit ExecutionContext.
  libs-scala/resources/src/main/scala/com/digitalasset/resources/ExecutorServiceResourceOwner.scala
  libs-scala/resources/src/test/suite/scala/com/digitalasset/resources/ResourceOwnerSpec.scala
Labels: automerge

#4323 Remove mkOptions and defaultOptionsIO
  compiler/damlc/daml-doc/test/DA/Daml/GHC/Damldoc/Tests.hs
  compiler/damlc/daml-ide-core/BUILD.bazel
  compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
  compiler/damlc/daml-ide-core/test/Development/IDE/State/API/Testing.hs
  compiler/damlc/daml-opts/daml-opts-types/DA/Daml/Options/Types.hs
  compiler/damlc/daml-opts/daml-opts/DA/Daml/Options.hs
  compiler/damlc/lib/DA/Cli/Damlc.hs
  compiler/damlc/lib/DA/Cli/Damlc/Command/Damldoc.hs
  compiler/damlc/lib/DA/Cli/Damlc/Packaging.hs
  compiler/damlc/lib/DA/Cli/Damlc/Test.hs
  compiler/damlc/lib/DA/Cli/Options.hs
  compiler/damlc/tests/src/DA/Test/DamlDocTest.hs
  compiler/damlc/tests/src/DA/Test/DamlcIntegration.hs
  compiler/damlc/tests/src/DamlcTest.hs
Labels: automerge

#4325 Ensure that diagnostics in buildDar are not lost
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Dar.hs
  compiler/damlc/tests/src/DA/Test/Packaging.hs
Labels: automerge

#4327 sandbox: Make sure we exit cleanly if the API server fails to start.
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxMain.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
Labels: automerge

#4329 Mark packaging tests as flaky
  compiler/damlc/tests/BUILD.bazel
Labels: automerge

#4331 Generate empty stub instances in data-dependencies
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/DataDependencies.hs
Labels: automerge

#4321 kvutils: Test that the ledger can be restarted and will resume where it left off.
  ledger/api-server-damlonx/reference-v2/src/test/suite/scala/com/daml/ledger/api/server/damlonx/reference/v2/InMemoryKVParticipantStateIT.scala
  ledger/ledger-on-memory/src/test/suite/scala/com/daml/ledger/on/memory/InMemoryLedgerReaderWriterIntegrationSpec.scala
  ledger/ledger-on-posix-filesystem/src/main/scala/com/daml/ledger/on/filesystem/posix/FileSystemLedgerReaderWriter.scala
  ledger/ledger-on-posix-filesystem/src/main/scala/com/daml/ledger/on/filesystem/posix/LedgerPaths.scala
  ledger/ledger-on-posix-filesystem/src/main/scala/com/daml/ledger/on/filesystem/posix/package.scala
  ledger/ledger-on-sql/src/test/lib/scala/com/daml/ledger/on/sql/SqlLedgerReaderWriterIntegrationSpecBase.scala
  ledger/ledger-on-sql/src/test/suite/scala/com/daml/ledger/on/sql/H2FileSqlLedgerReaderWriterIntegrationSpec.scala
  ledger/ledger-on-sql/src/test/suite/scala/com/daml/ledger/on/sql/H2MemorySqlLedgerReaderWriterIntegrationSpec.scala
  ledger/ledger-on-sql/src/test/suite/scala/com/daml/ledger/on/sql/PostgresqlSqlLedgerReaderWriterIntegrationSpec.scala
  ledger/ledger-on-sql/src/test/suite/scala/com/daml/ledger/on/sql/RestartSpec.scala
  ledger/ledger-on-sql/src/test/suite/scala/com/daml/ledger/on/sql/SqliteFileSqlLedgerReaderWriterIntegrationSpec.scala
  ledger/ledger-on-sql/src/test/suite/scala/com/daml/ledger/on/sql/SqliteMemorySqlLedgerReaderWriterIntegrationSpec.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/ParticipantStateIntegrationSpecBase.scala
  libs-scala/postgresql-testing/src/main/scala/com/digitalasset/testing/postgresql/PostgresAround.scala
Labels: automerge

#4212 Add fetch by key websocket stream, part 1 of 2
  docs/source/json-api/index.rst
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebsocketEndpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/domain.scala
Labels: automerge
