Repository digital-asset/daml, pull requests merged in 2020-08, with the labels that each got.

#6937 DAML Engine: Speed up updates of multiple fields in a record
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SpeedyTest.scala
Labels: automerge

#6957 fix docs typo
  docs/source/triggers/index.rst
Labels: automerge

#6958 Add evaluation order tests for foldl and foldr
  compiler/damlc/tests/daml-test-files/SemanticsEvalOrder.daml
Labels: automerge

#6960 FrontStack: Ensure that claimed invariant is maintained
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/FrontStack.scala
Labels: automerge

#6961 daml-on-sql: Extend the README with information about architecture and system dependencies.
  ledger/daml-on-sql/README.rst
Labels: automerge

#6854 LF: adapt TransactionBuilder to the new version inference
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Context.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/repl/src/main/scala/com/digitalasset/daml/lf/repl/testing/Main.scala
  daml-lf/scenario-interpreter/src/perf/benches/scala/com/digitalasset/daml/lf/speedy/perf/CollectAuthority.scala
  daml-lf/scenario-interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ScenarioRunnerTest.scala
  daml-lf/transaction-test-lib/BUILD.bazel
  daml-lf/transaction-test-lib/src/main/scala/lf/transaction/test/TransactionBuilder.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionVersion.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionVersionSpec.scala
  ledger/participant-integration-api/BUILD.bazel
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoDivulgenceSpec.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoSuite.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/dao/events/PostCommitValidationSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/ProjectionsSpec.scala
  ledger/participant-state/kvutils/tools/BUILD.bazel
  ledger/participant-state/kvutils/tools/src/test/scala/com/daml/ledger/participant/state/kvutils/test/Adapter.scala
  ledger/participant-state/kvutils/tools/src/test/scala/com/daml/ledger/participant/state/kvutils/test/Replay.scala
Labels: component/daml-lf

#6972 Bump test_sha in perf tests
  ci/cron/perf/test_sha
Labels: automerge

#6954 language-support/scala: Remove unused docs.
  language-support/scala/codegen/docs/daml-scala-code-gen-users-guide.rst
  language-support/scala/docs/codegen/source/index.rst
  language-support/scala/docs/codegen/source/leo/CallablePayout.scala
  language-support/scala/docs/codegen/source/leo/CodeGenExampleSpec.scala
Labels: automerge

#6926 fix flaky 'restart triggers after shutdown' test
  libs-scala/ports/src/main/scala/com/digitalasset/ports/PortLock.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Server.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceFixture.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceTest.scala
Labels: component/trigger-service

#6980 remove unused definitions, params, args from navigator Scala code
  navigator/backend/src/main/scala/com/digitalasset/navigator/Read.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/config/Arguments.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/config/Config.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/console/Console.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/console/Pretty.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/console/commands/Choice.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/console/commands/Command.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/console/commands/Commands.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/console/commands/GraphQL.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/console/commands/Info.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/data/CommandRow.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/dotnot/package.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/json/DamlLfCodec.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/json/ModelCodec.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/model/Ledger.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/model/PackageRegistry.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/model/converter/LedgerApiV1.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/query/filter/package.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/store/platform/PlatformStore.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/time/TimeProviderFactory.scala
  navigator/backend/src/test/scala/com/digitalasset/navigator/backend/data/RowSpec.scala
  navigator/backend/src/test/scala/com/digitalasset/navigator/backend/json/ApiCodecVerboseSpec.scala
  navigator/backend/src/test/scala/com/digitalasset/navigator/backend/model/LedgerSpec.scala
  navigator/integration-test/src/main/scala/com/digitalasset/navigator/test/BrowserTest.scala
  navigator/integration-test/src/main/scala/com/digitalasset/navigator/test/runner/HeadDamli.scala
  navigator/integration-test/src/main/scala/com/digitalasset/navigator/test/runner/PackagedDamlc.scala
Labels: automerge, component/navigator

#6981 remove unused definitions, params, args from codegen and bindings Scala code
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/grpc/helpers/TransactionGenerator.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/JavaBackend.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/ClassForType.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/EnumClass.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/RecordClass.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/TemplateClass.scala
  language-support/scala/bindings-akka/src/main/scala/com/digitalasset/ledger/client/binding/LedgerClientBinding.scala
  language-support/scala/bindings-akka/src/test/scala/com/digitalasset/ledger/client/binding/DomainTransactionMapperUT.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/CodeGen.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/dependencygraph/Graph.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/lf/DamlContractTemplateGen.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/lf/DamlDataTypeGen.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/lf/EventDecoderGen.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/lf/HierarchicalOutput.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/lf/PackageIDsGen.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/lf/UsedTypeParams.scala
  language-support/scala/codegen/src/test/scala/com/digitalasset/codegen/GraphSpec.scala
  language-support/scala/examples/iou-no-codegen/application/src/main/scala/com/digitalasset/quickstart/iou/IouMain.scala
Labels: automerge, component/java-ecosystem, component/scala-ecosystem

#6983 remove unused definitions, params, args from triggers Scala code
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Converter.scala
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Runner.scala
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/RunnerConfig.scala
Labels: automerge, component/trigger-service

#6982 remove unused definitions, params, args from sandbox DB migration Scala code
  ledger/participant-integration-api/src/main/scala/db/migration/postgres/V2_1__Rebuild_Acs.scala
  ledger/participant-integration-api/src/main/scala/db/migration/postgres/v29_fix_participant_events/V29EventsTableInsert.scala
  ledger/participant-integration-api/src/main/scala/db/migration/postgres/v29_fix_participant_events/V29TransactionsWriter.scala
Labels: automerge, component/ledger

#6985 remove unused definitions, params, args from ledger API Scala code
  ledger-api/rs-grpc-akka/src/test/scala/com/digitalasset/grpc/adapter/operation/AkkaClientCompatibilityCheck.scala
  ledger-api/rs-grpc-bridge/src/test/suite/scala/com/digitalasset/grpc/adapter/client/rs/PublisherCreation.scala
  ledger-api/rs-grpc-bridge/src/test/suite/scala/com/digitalasset/grpc/adapter/server/rs/ServerSubscriberWhiteboxTest.scala
  ledger-api/rs-grpc-testing-utils/src/main/scala/com/digitalasset/grpc/adapter/server/rs/MockClientCallStreamObserver.scala
  ledger-api/sample-service/src/test/scala/com/digitalasset/grpc/adapter/client/ReferenceClientCompatibilityCheck.scala
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/Main.scala
  ledger/ledger-api-client/src/it/scala/com/digitalasset/ledger/client/CommandClientIT.scala
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/services/commands/CommandClient.scala
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/services/transactions/TransactionClient.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/ledger/api/validation/CommandsValidator.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/ledger/api/validation/TransactionFilterValidator.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/ledger/api/validation/TransactionServiceRequestValidator.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/akkastreams/dispatcher/DispatcherImpl.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/services/grpc/GrpcHealthService.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/services/grpc/GrpcTransactionService.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/ledger/api/ValueConversionRoundTripTest.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/ledger/api/validation/SubmitRequestValidatorTest.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/platform/akkastreams/dispatcher/DispatcherSpec.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiActiveContractsService.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/services/command/CommandStaticTimeIT.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/stores/ledger/sql/TransactionStreamTerminationIT.scala
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Runner.scala
Labels: application-runtime, automerge, component/ledger

#6986 Trigger service test: Increase timeout for trigger to start running after service shutdown
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceTest.scala
Labels: automerge

#6987 remove unused definitions, params, args from daml-script Scala code
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Converter.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/LedgerInteraction.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/RunnerConfig.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/RunnerMain.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/TestConfig.scala
  daml-script/test/src/com/digitalasset/daml/lf/engine/script/test/MultiParticipant.scala
  daml-script/test/src/com/digitalasset/daml/lf/engine/script/test/SingleParticipant.scala
Labels: application-runtime, automerge

#6906 JSON API command submission perf test
  bazel-java-deps.bzl
  ledger-service/http-json-perf/BUILD.bazel
  ledger-service/http-json-perf/README.md
  ledger-service/http-json-perf/release/json-api-perf-logback.xml
  ledger-service/http-json-perf/src/main/scala/com/daml/http/perf/Config.scala
  ledger-service/http-json-perf/src/main/scala/com/daml/http/perf/Main.scala
  ledger-service/http-json-perf/src/main/scala/com/daml/http/perf/scenario/CreateAndExerciseCommand.scala
  ledger-service/http-json-perf/src/main/scala/com/daml/http/perf/scenario/CreateCommand.scala
  ledger-service/http-json-perf/src/main/scala/com/daml/http/perf/scenario/ExerciseCommand.scala
  ledger-service/http-json-perf/src/main/scala/com/daml/http/perf/scenario/SimulationConfig.scala
  ledger-service/http-json-perf/src/main/scala/com/daml/http/perf/scenario/SyncQueryConstantAcs.scala
  ledger-service/http-json-perf/src/main/scala/com/daml/http/perf/scenario/SyncQueryVariableAcs.scala
  maven_install.json
Labels: automerge

#6988 Updating template ID references in the JSON API query spec
  docs/source/json-api/search-query-language.rst
Labels: automerge

#6793 Pre-execution support for DAML on memory KV
  ledger/ledger-on-memory/BUILD.bazel
  ledger/ledger-on-memory/src/app/scala/com/daml/ledger/on/memory/ExtraConfig.scala
  ledger/ledger-on-memory/src/app/scala/com/daml/ledger/on/memory/Main.scala
  ledger/ledger-on-memory/src/main/scala/com/daml/ledger/on/memory/InMemoryLedgerReaderWriter.scala
  ledger/ledger-on-memory/src/test/suite/scala/com/daml/ledger/on/memory/InMemoryLedgerReaderWriterIntegrationSpec.scala
  ledger/ledger-on-memory/src/test/suite/scala/com/daml/ledger/on/memory/InMemoryLedgerReaderWriterSpec.scala
  ledger/participant-state/kvutils/BUILD.bazel
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/api/KeyValueParticipantStateReader.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/api/package.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/batch/BatchedValidatingCommitter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/package.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/LedgerStateReaderWithFingerprintsFromValues.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/LogAppenderPreExecutingCommitStrategy.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/PostExecutionFinalizer.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/PreExecutingValidatingCommitter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/RawKeyValuePairsWithLogEntry.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/TimeUpdatesProvider.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/package.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/api/KeyValueParticipantStateReaderSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/batch/BatchedValidatingCommitterSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/preexecution/LogAppenderPreExecutingCommitStrategySpec.scala
  ledger/recovering-indexer-integration-tests/src/test/suite/scala/com/digitalasset/platform/indexer/RecoveringIndexerIntegrationSpec.scala
Labels: automerge

#6996 Stratify Speedy Builtins as Pure/Effectful.
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
Labels: automerge, component/daml-engine

#6884 Factor out reproducibility flags for tar and gzip
  WORKSPACE
  bazel_tools/packaging/BUILD.bazel
  bazel_tools/packaging/package-app.sh
  bazel_tools/packaging/packaging.bzl
  bazel_tools/sh/BUILD.bazel
  bazel_tools/sh/mktar.sh
  bazel_tools/sh/mktgz.sh
  compatibility/WORKSPACE
  compatibility/bazel_tools/testing.bzl
  compiler/daml-extension/BUILD.bazel
  compiler/damlc/BUILD.bazel
  daml-assistant/integration-tests/BUILD.bazel
  docs/BUILD.bazel
  language-support/ts/typedoc.bzl
  ledger/sandbox-classic/BUILD.bazel
  ledger/sandbox/BUILD.bazel
  navigator/frontend/BUILD.bazel
  release/util.bzl
  templates/BUILD.bazel
Labels: automerge

#7012 Move ChoiceName -> String conversion to the edges in DAML Script
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Converter.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/LedgerInteraction.scala
Labels: automerge

#7024 Publish artifacts required for integrity checking tools
  ledger/participant-state/kvutils/tools/BUILD.bazel
  ledger/participant-state/kvutils/tools/src/main/scala/com/daml/ledger/participant/state/kvutils/tools/driver/IntegrityCheck.scala
  ledger/participant-state/kvutils/tools/src/main/scala/com/daml/ledger/participant/state/kvutils/tools/driver/IntegrityCheckV2.scala
  ledger/participant-state/kvutils/tools/src/main/scala/com/daml/ledger/participant/state/kvutils/tools/export/CommitStrategySupport.scala
  ledger/participant-state/kvutils/tools/src/main/scala/com/daml/ledger/participant/state/kvutils/tools/export/IntegrityChecker.scala
  ledger/participant-state/kvutils/tools/src/main/scala/com/daml/ledger/participant/state/kvutils/tools/export/LogAppendingCommitStrategySupport.scala
  ledger/participant-state/kvutils/tools/src/main/scala/com/daml/ledger/participant/state/kvutils/tools/export/WriteRecordingLedgerStateOperations.scala
Labels: automerge

#7027 Added NeverCacheUpdatePolicy
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/caching/NeverCacheUpdatePolicy.scala
Labels: automerge

#7025 Fixed serialization of record time in ledger exports
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/export/Serialization.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/export/FileBasedLedgerDataExportSpec.scala
Labels: automerge

#7028 JSON API SyncQueryVariableAcs perf test scenario
  ledger-service/http-json-perf/src/main/scala/com/daml/http/perf/scenario/HasRandomAmount.scala
  ledger-service/http-json-perf/src/main/scala/com/daml/http/perf/scenario/SimulationConfig.scala
  ledger-service/http-json-perf/src/main/scala/com/daml/http/perf/scenario/SyncQueryConstantAcs.scala
  ledger-service/http-json-perf/src/main/scala/com/daml/http/perf/scenario/SyncQueryVariableAcs.scala
Labels: automerge

#7032 remove more unused definitions, params, args from triggers Scala code
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/AuthServiceClient.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Server.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/ServiceConfig.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/TokenManagement.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/TriggerRunner.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceFixture.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceTest.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/auth/client/AuthServiceClientTest.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/auth/client/AuthServiceFixture.scala
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/test/AbstractFuncTests.scala
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/test/AbstractTriggerTest.scala
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/test/Jwt.scala
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/test/Tls.scala
Labels: application-runtime, automerge, component/trigger-service

#7026 Support exerciseByKeyCmd in DAML Script Service
  compiler/damlc/tests/src/DA/Test/ScriptService.hs
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/LedgerInteraction.scala
Labels: automerge

#7031 avoid generating unused warnings in Scala codegen
  language-support/scala/bindings/src/main/scala/com/digitalasset/ledger/client/binding/binding/TemplateCompanion.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/Util.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/lf/DamlDataTypeGen.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/lf/LFUtil.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/lf/PackageIDsGen.scala
Labels: automerge, component/scala-ecosystem

#7039 Update documentation of extractor’s JSON schema
  docs/source/tools/extractor.rst
Labels: automerge

#7006 Allow overriding comparison of write-sets by CommitStrategySupport implementation
  ledger/participant-state/kvutils/tools/BUILD.bazel
  ledger/participant-state/kvutils/tools/src/main/scala/com/daml/ledger/participant/state/kvutils/tools/export/CommitStrategySupport.scala
  ledger/participant-state/kvutils/tools/src/main/scala/com/daml/ledger/participant/state/kvutils/tools/export/IntegrityChecker.scala
  ledger/participant-state/kvutils/tools/src/main/scala/com/daml/ledger/participant/state/kvutils/tools/export/LogAppendingCommitStrategySupport.scala
  ledger/participant-state/kvutils/tools/src/test/scala/com/daml/ledger/participant/state/kvutils/tools/IntegrityCheckerSpec.scala
Labels: automerge

#7022 Support createAndExerciseCmd in DAML Script Service
  compiler/damlc/tests/src/DA/Test/ScriptService.hs
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/LedgerInteraction.scala
Labels: automerge

#7042 participant-integration-api: In `JdbcIndexer`, log with context.
  ledger/participant-integration-api/src/main/scala/platform/indexer/JdbcIndexer.scala
Labels: automerge

#7048 Use stable engine config when integrity checking
  ledger/participant-state/kvutils/tools/src/main/scala/com/daml/ledger/participant/state/kvutils/tools/driver/IntegrityCheck.scala
  ledger/participant-state/kvutils/tools/src/main/scala/com/daml/ledger/participant/state/kvutils/tools/export/IntegrityChecker.scala
Labels: automerge

#6992 remove unused definitions, params, args from kvutils Scala code
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/Envelope.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/InputsAndEffects.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/Projections.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/api/KeyValueParticipantState.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/api/KeyValueParticipantStateReader.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/Committer.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/TransactionCommitter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/SubmissionValidator.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/batch/BatchedSubmissionValidator.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/caching/CachingDamlLedgerStateReaderWithFingerprints.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/PreExecutingValidatingCommitter.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/ParticipantStateIntegrationSpecBase.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/ProjectionsSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/api/BatchingLedgerWriterSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/api/BatchingQueueSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/api/KeyValueParticipantStateReaderSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/api/KeyValueParticipantStateWriterSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/CommitterSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/FakeCommitContext.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/SubmissionValidatorSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/caching/CachingDamlLedgerStateReaderWithFingerprintsSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/preexecution/PreExecutingSubmissionValidatorSpec.scala
Labels: automerge, component/ledger

#7035 remove unused definitions, params, args from sandbox Scala code
  ledger/ledger-on-memory/src/app/scala/com/daml/ledger/on/memory/Main.scala
  ledger/ledger-on-memory/src/main/scala/com/daml/ledger/on/memory/InMemoryLedgerReaderWriter.scala
  ledger/ledger-on-sql/src/app/scala/com/daml/ledger/on/sql/SqlLedgerFactory.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/Database.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/SqlLedgerReaderWriter.scala
  ledger/ledger-on-sql/src/test/suite/scala/com/daml/ledger/on/sql/ImmutableMigrationsSpec.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/ApiServices.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/LedgerApiServer.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiActiveContractsService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiCommandService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiLedgerConfigurationService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiSubmissionService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/LedgerConfigProvider.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/admin/ApiPackageManagementService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/admin/ApiPartyManagementService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/tracking/TrackerImpl.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/transaction/ApiTransactionService.scala
  ledger/participant-integration-api/src/main/scala/platform/index/LedgerBackedIndexService.scala
  ledger/participant-integration-api/src/main/scala/platform/index/ReadOnlySqlLedger.scala
  ledger/participant-integration-api/src/main/scala/platform/index/TransactionConversion.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/DbDispatcher.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/HikariJdbcConnectionProvider.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/ContractsTable.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/EventsTableFlatEvents.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/EventsTableFlatEventsRangeQueries.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/EventsTableInsert.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/PostCommitValidation.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/RawBatch.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoTransactionsSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/dao/events/PostCommitValidationSpec.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/SandboxServer.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/SandboxIndexAndWriteService.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/ScenarioLoader.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/inmemory/InMemoryLedger.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/sql/SqlLedger.scala
  ledger/sandbox-classic/src/test/lib/scala/platform/sandbox/LedgerResource.scala
  ledger/sandbox-classic/src/test/lib/scala/platform/sandbox/services/reset/ResetServiceDatabaseIT.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/TlsIT.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/services/command/CommandStaticTimeIT.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/services/completion/CompletionServiceIT.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/stores/ledger/TransactionTimeModelComplianceIT.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/stores/ledger/sql/SqlLedgerSpec.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/stores/ledger/sql/TransactionStreamTerminationIT.scala
  ledger/sandbox-common/BUILD.bazel
  ledger/sandbox-common/src/test/lib/scala/platform/sandbox/services/TestCommands.scala
Labels: automerge, component/ledger

#7051 remove unused definitions, params, args from libs-scala and test tool Scala code
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/Cli.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/LedgerApiTestTool.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/Assertions.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/CommandDeduplicationIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/SemanticTests.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/TransactionServiceIT.scala
  ledger/test-common/src/main/scala/com/digitalasset/platform/testing/TimeBoundObserver.scala
  ledger/test-common/src/main/scala/com/digitalasset/platform/testing/WaitForCompletionsObserver.scala
  libs-scala/resources/src/main/scala/com/digitalasset/resources/ResourceOwner.scala
  libs-scala/resources/src/test/lib/scala/com/digitalasset/resources/DelayedReleaseResourceOwner.scala
  libs-scala/resources/src/test/suite/scala/com/digitalasset/resources/ResettableResourceOwnerSpec.scala
  libs-scala/timer-utils/src/main/scala/com/digitalasset/timer/Delayed.scala
Labels: automerge, component/ledger

#7056 Bump Windows cache
  build.ps1
  ci/configure-bazel.sh
  compatibility/build-release-artifacts-windows.ps1
  compatibility/test-windows.ps1
Labels: automerge

#7046 Speedy refactor Kmatch.execute
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
Labels: component/daml-engine

#7059 Bazel: Remove the reference in BAZEL-JVM.md to Artifactory.
  BAZEL-JVM.md
Labels: automerge

#7050 LF: check dependencies are not compiled to newer version.
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ConcurrentCompiledPackages.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/CompiledPackageSpec.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/CompiledPackages.scala
  daml-lf/spec/daml-lf-1.rst
  daml-lf/validation/BUILD.bazel
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Collision.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/DependencyVersion.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Recursion.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Validation.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/ValidationError.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/CollisionSpec.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/DependencyVersionSpec.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/RecursionSpec.scala
Labels: component/daml-lf

#6907 use -Ywarn-unused for all Scala code
  bazel_tools/scala.bzl
  compatibility/sandbox-migration/src/com/daml/KeyTransfer.scala
  compiler/repl-service/server/src/main/scala/com/digitalasset/daml/lf/ReplServiceMain.scala
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Context.scala
  daml-assistant/scala-daml-project-config/src/test/scala/com/digitalasset/assistant/ProjectConfigSpec.scala
  daml-lf/repl/src/main/scala/com/digitalasset/daml/lf/repl/testing/Main.scala
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ScenarioRunner.scala
  daml-lf/scenario-interpreter/src/perf/benches/scala/com/digitalasset/daml/lf/speedy/perf/CollectAuthority.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/LedgerInteraction.scala
  daml-script/test/src/com/digitalasset/daml/lf/engine/script/test/JsonApiIt.scala
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/components/LedgerViewSpec.scala
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/grpc/PackageClientImplTest.scala
  language-support/scala/bindings-akka/BUILD.bazel
  language-support/scala/bindings-akka/src/main/scala/com/digitalasset/ledger/client/binding/LedgerClientBinding.scala
  language-support/scala/bindings-akka/src/test/scala/com/digitalasset/ledger/client/binding/retrying/CommandRetryFlowUT.scala
  language-support/scala/bindings/BUILD.bazel
  language-support/scala/bindings/src/main/scala/com/digitalasset/ledger/client/binding/binding/TemplateCompanion.scala
  language-support/scala/codegen-sample-app/BUILD.bazel
  language-support/scala/codegen-testing/BUILD.bazel
  language-support/scala/codegen-testing/src/test/scala/com/digitalasset/ledger/client/binding/encoding/ExerciseOnSpec.scala
  ledger/ledger-api-client/src/it/scala/com/digitalasset/ledger/client/CommandClientIT.scala
  ledger/participant-integration-api/BUILD.bazel
  ledger/participant-state/kvutils/app/BUILD.bazel
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/LedgerFactory.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/api/LedgerWriter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/SubmissionValidator.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/WriteService.scala
  ledger/sandbox-perf/BUILD.bazel
  ledger/sandbox-perf/src/perf/lib/scala/com/digitalasset/platform/sandbox/perf/InfiniteRetries.scala
  ledger/sandbox-perf/src/perf/lib/scala/com/digitalasset/platform/sandbox/perf/LargeTransactionCommands.scala
  libs-scala/resources/BUILD.bazel
  libs-scala/resources/src/test/suite/scala/com/digitalasset/resources/ResourceOwnerSpec.scala
  navigator/backend/BUILD.bazel
  navigator/backend/src/main/scala/com/digitalasset/navigator/config/Config.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/graphqless/GraphQLObject.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/query/filter/package.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/query/project/package.scala
  scala-protoc-plugins/scala-akka/AkkaStreamGenerator.scala
Labels: component/daml-lf, component/ledger, component/navigator, component/scala-ecosystem

#7065 perf test harmlessly changed in #6907; match sha
  ci/cron/perf/test_sha
Labels: automerge

#7063 ledger-on-sql: Provide a dedicated committer execution context.
  ledger/ledger-on-memory/src/main/scala/com/daml/ledger/on/memory/InMemoryLedgerStateOperations.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/Database.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/SqlLedgerReaderWriter.scala
  ledger/participant-state/kvutils/BUILD.bazel
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/LedgerStateAccess.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/SubmissionValidator.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/ValidatingCommitter.scala
Labels: automerge

#7069 ledger-on-memory: Split the tests into a test suite.
  ledger/ledger-on-memory/BUILD.bazel
  ledger/ledger-on-memory/src/test/lib/scala/com/daml/ledger/on/memory/InMemoryLedgerReaderWriterIntegrationSpecBase.scala
  ledger/ledger-on-memory/src/test/suite/scala/com/daml/ledger/on/memory/InMemoryLedgerReaderWriterIntegrationSpec.scala
Labels: automerge

#7064 LF: move language version from modules to packages
  compiler/repl-service/server/src/main/scala/com/digitalasset/daml/lf/ReplServiceMain.scala
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Context.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/DamlLfEncoder.scala
  daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/archive/testing/EncodeV1Spec.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ConcurrentCompiledPackages.scala
  daml-lf/interface/src/test/scala/com/digitalasset/daml/lf/iface/reader/InterfaceReaderSpec.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/CompiledPackages.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/InterpreterTest.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
  daml-lf/language/src/test/scala/com/digitalasset/daml/lf/language/AstSpec.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/AstRewriter.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ModParser.scala
  daml-lf/parser/src/test/scala/com/digitalasset/daml/lf/testing/parser/ParsersSpec.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/DependencyVersion.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Serializability.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/DependencyVersionSpec.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/SerializabilitySpec.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/SpecUtil.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/TypingSpec.scala
Labels: component/daml-lf

#7078 Sync query perf scenario, new ACS every query
  ledger-service/http-json-perf/src/main/scala/com/daml/http/perf/scenario/AsyncQueryConstantAcs.scala
  ledger-service/http-json-perf/src/main/scala/com/daml/http/perf/scenario/HasArchiveRequest.scala
  ledger-service/http-json-perf/src/main/scala/com/daml/http/perf/scenario/HasCreateRequest.scala
  ledger-service/http-json-perf/src/main/scala/com/daml/http/perf/scenario/HasQueryRequest.scala
  ledger-service/http-json-perf/src/main/scala/com/daml/http/perf/scenario/SyncQueryNewAcs.scala
  ledger-service/http-json-perf/src/main/scala/com/daml/http/perf/scenario/SyncQueryVariableAcs.scala
Labels: automerge

#7081 ledger-api-test-tool: Fix warnings found by IntelliJ.
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/Cli.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/Assertions.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/BenchmarkReporter.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/Envelope.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/Identification.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/ProtobufConverters.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/participant/ParticipantTestContext.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/ActiveContractsServiceIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/CommandDeduplicationIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/CommandServiceIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/ConfigManagementServiceIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/DivulgenceIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/LotsOfPartiesIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/PackageManagementServiceIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/TransactionScaleIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/TransactionServiceIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/WitnessesIT.scala
Labels: automerge

#7049 Use case class for grouping components needed for replay
  ledger/participant-state/kvutils/tools/src/main/scala/com/daml/ledger/participant/state/kvutils/tools/export/CommitStrategySupport.scala
  ledger/participant-state/kvutils/tools/src/main/scala/com/daml/ledger/participant/state/kvutils/tools/export/IntegrityChecker.scala
  ledger/participant-state/kvutils/tools/src/main/scala/com/daml/ledger/participant/state/kvutils/tools/export/LogAppendingCommitStrategySupport.scala
Labels: automerge

#7082 language-support/ts/codegen: Mark the tests as flaky.
  language-support/ts/codegen/tests/BUILD.bazel
Labels: automerge

#7080 Use `Future.unit` instead of `Future.successful(())`.
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/TestMain.scala
  extractor/src/main/scala/com/digitalasset/extractor/Extractor.scala
  extractor/src/main/scala/com/digitalasset/extractor/writers/PrinterFunctionWriter.scala
  extractor/src/test/suite/scala/com/digitalasset/extractor/AuthSpec.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/InterfaceTree.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/JavaBackend.scala
  language-support/scala/examples/iou-no-codegen/application/src/main/scala/com/digitalasset/quickstart/iou/IouMain.scala
  ledger-service/http-json/src/it/scala/http/HttpServiceTestFixture.scala
  ledger/ledger-api-client/src/test/suite/scala/com/digitalasset/ledger/client/services/commands/CommandTrackerFlowTest.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/participant/ParticipantTestContext.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/CommandDeduplicationIT.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/LedgerApiServer.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/RecoveringIndexer.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/StandaloneIndexerServer.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/indexer/RecoveringIndexerSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/api/BatchingQueueSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/SubmissionValidatorSpec.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/SandboxServer.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/sql/SqlLedger.scala
  libs-scala/resources/src/main/scala/com/digitalasset/resources/Resource.scala
  libs-scala/resources/src/test/lib/scala/com/digitalasset/resources/TestResourceOwner.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/store/platform/PlatformSubscriber.scala
Labels: automerge

#7077 Update rules_haskell
  WORKSPACE
  bazel_tools/haskell-profiling.patch
  bazel_tools/haskell-strict-source-names.patch
  compatibility/WORKSPACE
  deps.bzl
Labels: automerge

#7084 language: daml-ledger: deal with null offsets
  language-support/ts/daml-ledger/index.test.ts
  language-support/ts/daml-ledger/index.ts
Labels: automerge, language

#7079 turn on NonUnitStatements in trigger runner, service main code
  triggers/runner/BUILD.bazel
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/RunnerConfig.scala
  triggers/service/BUILD.bazel
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Server.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/ServiceConfig.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/ServiceMain.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/TriggerRunner.scala
Labels: automerge

#7052 ensure /v1/status returns all results for restarted triggers
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Server.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceFixture.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceTest.scala
Labels: automerge

#7088 Correct 2 type-o's in the Daml-Script section of the DAML docs
  docs/source/app-dev/app-arch.rst
  docs/source/daml-script/index.rst
Labels: automerge

#7089 Error out on SResultScenarioCommit in DAML script service
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/LedgerInteraction.scala
Labels: automerge

#6918 Partial ANF transformation for Speedy.
  daml-lf/interpreter/BUILD.bazel
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Anf.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/PrettyLightweight.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/AnfTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SpeedyTest.scala
Labels: component/daml-engine

#7096 Fix notify_user job for releases
  azure-pipelines.yml
Labels: automerge

#7076 Support submitMustFail in DAML Script Service
  compatibility/bazel_tools/daml_script/example/src/ScriptExample.daml
  compiler/damlc/tests/src/DA/Test/ScriptService.hs
  daml-script/daml/Daml/Script.daml
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/LedgerInteraction.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
Labels: automerge

#7104 Fix more awk typos
  azure-pipelines.yml
Labels: automerge

#7103 Refelect Moritz' step up to tech lead in CODEOWNERS
  CODEOWNERS
Labels: automerge

#7094 Release SDK 1.4.0
  LATEST
  docs/source/support/release-notes.rst
Labels: Standard-Change

#7090 add --address option to trigger service
  ledger-service/cli-opts/BUILD.bazel
  ledger-service/cli-opts/src/main/scala/cliopts/Http.scala
  ledger-service/cli-opts/src/main/scala/cliopts/package.scala
  ledger-service/cli-opts/src/main/scala/ledger/api/tls/TlsConfigurationCli.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Config.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Main.scala
  triggers/service/BUILD.bazel
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/ServiceConfig.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/ServiceMain.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/ServiceConfigTest.scala
Labels: component/trigger-service

#7115 Document non-reproducible outputs
  compiler/daml-extension/BUILD.bazel
  navigator/frontend/BUILD.bazel
Labels: automerge

#7120 Support setTime/getTime in DAML Script service
  compiler/damlc/tests/src/DA/Test/ScriptService.hs
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/LedgerInteraction.scala
Labels: automerge

#7102 DAML Engine: Use ANF to make foldl/foldr faster
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
Labels: component/daml-engine

#7125 Scenario service: simplify getScenarioLedger method.
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/scenario-interpreter/BUILD.bazel
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ScenarioRunner.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/SandboxServer.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/ScenarioLoader.scala
Labels: component/daml-engine

#7123 DAML Engine: Move a few methods from the Machine object into the class
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
Labels: automerge

#7129 kvutils/tools: If there's an error in reading a submission, crash.
  ledger/participant-state/kvutils/tools/src/main/scala/com/daml/ledger/participant/state/kvutils/tools/export/IntegrityChecker.scala
Labels: automerge

#7116 Fix concurrent gauge creation
  ledger/metrics/BUILD.bazel
  ledger/metrics/src/main/scala/com/daml/metrics/CacheMetrics.scala
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
  ledger/metrics/src/test/scala/com/daml/metrics/CacheMetricsSpec.scala
  ledger/metrics/src/test/scala/com/daml/metrics/MetricsSpec.scala
Labels: automerge

#6847 LF: control of language version in the engine
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/EngineConfig.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SError.scala
Labels: component/daml-engine

#7128 LF: Drop completely the support for LF 0
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/Decode.hs
  daml-lf/archive/src/main/protobuf/com/daml/daml_lf_dev/daml_lf.proto
  daml-lf/archive/src/main/protobuf/com/daml/daml_lf_dev/daml_lf_0.proto
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/Reader.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineInfoTest.scala
  daml-lf/language/daml-lf.bzl
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageMajorVersion.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
  daml-lf/language/src/test/scala/com/digitalasset/daml/lf/language/LanguageVersionSpec.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/VersionTimeline.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/TypingSpec.scala
Labels: component/daml-lf

#6828 LF: control of input value version in the engine
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Context.scala
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/EngineConfig.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/EngineInfo.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineInfoTest.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Anf.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SError.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/repl/src/main/scala/com/digitalasset/daml/lf/repl/testing/Main.scala
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ScenarioRunner.scala
  daml-lf/scenario-interpreter/src/perf/benches/scala/com/digitalasset/daml/lf/speedy/perf/CollectAuthority.scala
  daml-lf/scenario-interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ScenarioRunnerTest.scala
  daml-lf/transaction-test-lib/src/main/scala/lf/transaction/test/TransactionBuilder.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionVersion.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/VersionRange.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/ValueCoder.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/ValueVersion.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionVersionSpec.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/LedgerInteraction.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/ApiServices.scala
Labels: component/daml-engine

#7130 Sandbox Classic: Privatize everything.
  ledger/sandbox-classic/src/main/scala/platform/sandbox/LedgerIdGenerator.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/InMemoryActiveLedgerState.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/LedgerBackedWriteService.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/SandboxIndexAndWriteService.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/Ledger.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/MeteredLedger.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/PartyIdGenerator.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/SandboxOffset.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/ScenarioLoader.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/inmemory/InMemoryLedger.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/inmemory/LedgerEntries.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/sql/SqlLedger.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/sql/SqlStartMode.scala
  ledger/sandbox-classic/src/test/lib/scala/platform/sandbox/LedgerResource.scala
Labels: automerge

#7060 Sandbox: More rigorous parsing for metrics reporters.
  ledger/participant-integration-api/src/main/scala/platform/configuration/MetricsReporter.scala
  ledger/sandbox-common/src/test/lib/scala/platform/sandbox/cli/CommonCliSpecBase.scala
Labels: automerge

#6948 ledger-api-test-tool: When in verbose mode, print exception causes.
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/Reporter.scala
Labels: automerge

#7132 metrics: Factor out registering a gauge, and remove the return type.
  ledger/metrics/src/main/scala/com/daml/metrics/CacheMetrics.scala
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
  ledger/metrics/src/main/scala/com/daml/metrics/package.scala
  ledger/metrics/src/test/scala/com/daml/metrics/MetricsSpec.scala
  ledger/metrics/src/test/scala/com/daml/metrics/PackageSpec.scala
Labels: automerge

#7127 Sandbox: add a development mode
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/EngineConfig.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineInfoTest.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/SandboxServer.scala
  ledger/sandbox-common/src/main/scala/platform/sandbox/cli/CommonCli.scala
  ledger/sandbox-common/src/main/scala/platform/sandbox/config/SandboxConfig.scala
  ledger/sandbox/src/main/scala/platform/sandboxnext/Runner.scala
Labels: component/ledger

#7119 ledger-on-sql: Fix the Maven coordinates.
  ledger/ledger-on-sql/BUILD.bazel
Labels: automerge

#7122 LF Engine: move profileDir and stackTraceMode to Engine Config.
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ConcurrentCompiledPackages.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/EngineConfig.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/MutableCompiledPackages.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/CompiledPackages.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/SandboxServer.scala
  ledger/sandbox/BUILD.bazel
  ledger/sandbox/src/main/scala/platform/sandboxnext/Runner.scala
Labels: component/daml-engine

#7145 http-json-perf cleanup
  ledger-service/http-json-perf/BUILD.bazel
  ledger-service/http-json-perf/release/json-api-perf-logback.xml
  ledger-service/http-json-perf/src/main/scala/com/daml/http/perf/Config.scala
  ledger-service/http-json-perf/src/main/scala/com/daml/http/perf/Main.scala
Labels: automerge

#7137 Add TO_TEXT_CONTRACT_ID primitive
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Base.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Pretty.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/DecodeV1.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/EncodeV1.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/Simplifier.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Check.hs
  daml-lf/archive/src/main/protobuf/com/daml/daml_lf_dev/daml_lf_1.proto
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV1Spec.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ExprParser.scala
  daml-lf/spec/daml-lf-1.rst
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/TypingSpec.scala
Labels: automerge

#7149 TS codegen tests: use #!/usr/bin/env bash
  language-support/ts/codegen/tests/build-and-lint.sh
  language-support/ts/codegen/tests/watch-daml2js.sh
  language-support/ts/codegen/tests/watch-damlc.sh
  language-support/ts/codegen/tests/watch-yarn.sh
Labels: Standard-Change

#7126 DAML Engine: Use while loop instead of for loops
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
Labels: automerge

#7154 Handle all scenario results in DAML Script IDE client
  compiler/damlc/tests/src/DA/Test/ScriptService.hs
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/LedgerInteraction.scala
Labels: automerge

#7157 Remove duplicated test-case
  compiler/damlc/tests/src/DA/Test/ScriptService.hs
Labels: automerge

#7158 Require 2 CPUs for repl integration tests
  compiler/damlc/tests/BUILD.bazel
Labels: automerge

#7071 kvutils: Move execution contexts to the submission methods.
  ledger/ledger-on-memory/BUILD.bazel
  ledger/ledger-on-memory/src/main/scala/com/daml/ledger/on/memory/InMemoryLedgerReaderWriter.scala
  ledger/ledger-on-memory/src/main/scala/com/daml/ledger/on/memory/InMemoryLedgerStateAccess.scala
  ledger/ledger-on-memory/src/main/scala/com/daml/ledger/on/memory/InMemoryLedgerStateOperations.scala
  ledger/ledger-on-memory/src/test/suite/scala/com/daml/ledger/on/memory/InMemoryLedgerReaderWriterSpec.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/SqlLedgerReaderWriter.scala
  ledger/participant-state/kvutils/BUILD.bazel
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/api/BatchingLedgerWriter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/api/InterpretationCostBasedLedgerWriterChooser.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/api/LedgerWriter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/LedgerStateAccess.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/LedgerStateReader.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/SubmissionValidator.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/batch/BatchedSubmissionValidatorFactory.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/LogAppenderPreExecutingCommitStrategy.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/PreExecutingCommitStrategy.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/PreExecutingValidatingCommitter.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/LogAppendingCommitStrategySpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/RawToDamlLedgerStateReaderAdapterSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/SubmissionValidatorSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/preexecution/PreExecutingSubmissionValidatorSpec.scala
  ledger/participant-state/kvutils/tools/src/main/scala/com/daml/ledger/participant/state/kvutils/tools/export/WriteRecordingLedgerStateOperations.scala
Labels: automerge

#7160 DAML on SQL: Renaming to "DAML for PostgreSQL", Markdown README, and further tweaks.
  ledger/daml-on-sql/README.rst
  ledger/daml-on-sql/generate-markdown-readme.sh
  nix/default.nix
Labels: automerge

#7166 Remove damlLfInstantiate in favor of TypeCon.instantiate
  ledger-service/lf-value-json/src/main/scala/com/digitalasset/daml/lf/value/json/ApiCodecCompressed.scala
  ledger-service/lf-value-json/src/main/scala/com/digitalasset/daml/lf/value/json/NavigatorModelAliases.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/console/Pretty.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/query/filter/package.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/query/project/package.scala
Labels: automerge

#7163 ledger-api-test-tool: Upload DARs, rather than expecting them.
  docs/source/tools/ledger-api-test-tool/index.rst
  ledger/ledger-api-test-tool-on-canton/canton-test-runner.sh
  ledger/ledger-api-test-tool/conformance.bzl
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/LedgerApiTestTool.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/Dars.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerSession.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerSessionConfiguration.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerTestCasesRunner.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/participant/ParticipantSession.scala
Labels: automerge

#5768 multistep macos setup
  infra/macos/1-create-box/README.md
  infra/macos/2-common-box/.gitignore
  infra/macos/2-common-box/README.md
  infra/macos/2-common-box/Vagrantfile
  infra/macos/2-common-box/init.sh
  infra/macos/2-vagrant-files/Vagrantfile
  infra/macos/2-vagrant-files/Vagrantfile.virtual-box-sample
  infra/macos/3-running-box/.gitignore
  infra/macos/3-running-box/README.md
  infra/macos/3-running-box/Vagrantfile
  infra/macos/3-running-box/init.sh
  infra/macos/README.md
  infra/macos/scripts/rebuild-crontask.sh
  infra/macos/scripts/run-agent.sh
  infra/macos/scripts/step1.sh
  infra/macos/scripts/step2.sh
Labels: Standard-Change

#7171 participant-integration-api: Factor out similar behavior in the admin service implementations.
  ledger/participant-integration-api/src/main/scala/platform/apiserver/TimedIndexService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/admin/ApiConfigManagementService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/admin/ApiPackageManagementService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/admin/ApiPartyManagementService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/admin/SynchronousResponse.scala
  ledger/participant-integration-api/src/main/scala/platform/index/LedgerBackedIndexService.scala
  ledger/participant-integration-api/src/main/scala/platform/index/MeteredReadOnlyLedger.scala
  ledger/participant-integration-api/src/main/scala/platform/store/BaseLedger.scala
  ledger/participant-integration-api/src/main/scala/platform/store/ReadOnlyLedger.scala
  ledger/participant-state-index/src/main/scala/com/daml/ledger/participant/state/index/v2/IndexPackagesService.scala
  ledger/participant-state-index/src/main/scala/com/daml/ledger/participant/state/index/v2/IndexPartyManagementService.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/inmemory/InMemoryLedger.scala
Labels: automerge

#7175 participant-integration-api: Never use a delay of zero.
  ledger/participant-integration-api/src/main/scala/platform/indexer/RecoveringIndexer.scala
  libs-scala/timer-utils/BUILD.bazel
  libs-scala/timer-utils/src/main/scala/com/digitalasset/timer/RetryStrategy.scala
  libs-scala/timer-utils/src/test/suite/scala/com/daml/timer/DelayedSpec.scala
  libs-scala/timer-utils/src/test/suite/scala/com/daml/timer/RetryStrategySpec.scala
Labels: automerge

#7186 Engine: move check of valide packages inside MutableCompiledPackages
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ConcurrentCompiledPackages.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/MutableCompiledPackages.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/PreprocessorSpec.scala
  triggers/service/BUILD.bazel
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Server.scala
Labels: component/daml-engine

#7189 Engine: submit fails nicely when transaction output cannot be serialized
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionVersion.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/LedgerInteraction.scala
Labels: component/daml-engine

#7179 Refactor IdeClient.submit - avoid Future.fromTry
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/LedgerInteraction.scala
Labels: automerge

#7184 sandbox: Use a different H2 database for every test.
  ledger/sandbox-common/src/test/lib/scala/platform/sandbox/SandboxBackend.scala
  ledger/sandbox/src/test/lib/scala/platform/sandboxnext/SandboxNextFixture.scala
Labels: automerge

#7176 DAML for PostgreSQL: prevent dev version of DAML-LF
  daml-lf/encoder/BUILD.bazel
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/EngineConfig.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/MutableCompiledPackages.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineInfoTest.scala
  ledger/daml-on-sql/src/main/scala/on/sql/Cli.scala
  ledger/daml-on-sql/src/main/scala/on/sql/package.scala
  ledger/sandbox-classic/BUILD.bazel
  ledger/sandbox-classic/src/main/scala/platform/sandbox/SandboxServer.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/DevModeIT.scala
  ledger/sandbox-common/src/main/scala/platform/sandbox/config/SandboxConfig.scala
  ledger/sandbox/src/main/scala/platform/sandboxnext/Runner.scala
Labels: component/ledger

#7083 Speedy: shortcut failure in equality for recursive data structures
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/svalue/Equality.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/svalue/EqualitySpec.scala
Labels: component/daml-engine

#7195 ledger-api-client: Add test cases for `LedgerClient`.
  extractor/src/test/suite/scala/com/digitalasset/extractor/AuthSpec.scala
  language-support/scala/codegen-sample-app/BUILD.bazel
  ledger/ledger-api-client/BUILD.bazel
  ledger/ledger-api-client/src/it/scala/com/digitalasset/ledger/client/LedgerClientAuthIT.scala
  ledger/ledger-api-client/src/it/scala/com/digitalasset/ledger/client/LedgerClientIT.scala
  ledger/sandbox-classic/BUILD.bazel
  ledger/sandbox-classic/src/test/lib/scala/platform/sandbox/auth/ServiceCallAuthTests.scala
  ledger/sandbox-classic/src/test/lib/scala/platform/sandbox/services/SandboxFixtureWithAuth.scala
  ledger/sandbox-common/BUILD.bazel
  ledger/sandbox-common/src/test/lib/scala/platform/sandbox/AbstractSandboxFixture.scala
  ledger/sandbox-common/src/test/lib/scala/platform/sandbox/SandboxRequiringAuthorization.scala
  triggers/tests/BUILD.bazel
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/test/Jwt.scala
Labels: automerge

#7197 IDE distinguish scripts and scenarios
  compiler/damlc/daml-ide/src/DA/Daml/LanguageServer/CodeLens.hs
  compiler/lsp-tests/BUILD.bazel
  compiler/lsp-tests/src/DA/Daml/Lsp/Test/Util.hs
  compiler/lsp-tests/src/Main.hs
Labels: automerge

#7092 use sandbox-style flyway migrations for trigger service
  triggers/service/BUILD.bazel
  triggers/service/src/main/resources/com/daml/lf/engine/trigger/db/migration/postgres/V1__Init.sha256
  triggers/service/src/main/resources/com/daml/lf/engine/trigger/db/migration/postgres/V1__Init.sql
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Server.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/ServiceConfig.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/dao/DbFlywayMigrations.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/dao/DbTriggerDao.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/dao/InMemoryTriggerDao.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/dao/RunningTriggerDao.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceTest.scala
Labels: automerge, component/trigger-service

#7191 PartialTransaction: replace nested Eithers by a custom ADT
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Error.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SError.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/LedgerInteraction.scala
Labels: component/daml-engine

#7203 LF: move the type ordering form interpreter to language package
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/svalue/Ordering.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/TypeOrdering.scala
Labels: automerge, component/daml-lf

#7147 Adding `package-max-inbound-message-size`
  docs/source/json-api/index.rst
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Config.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Main.scala
Labels: automerge

#7216 reenable Windows cache
  build.ps1
  compatibility/build-release-artifacts-windows.ps1
  compatibility/test-windows.ps1
Labels: automerge

#7214 participant-state: Run tests in parallel.
  ledger/participant-state/BUILD.bazel
  ledger/participant-state/kvutils/BUILD.bazel
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/KVTest.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/MockitoHelpers.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/TestHelpers.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/committer/FakeCommitContext.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/validator/TestHelper.scala
  ledger/participant-state/src/test/suite/scala/com/daml/ledger/participant/state/v1/SeedingSpec.scala
  ledger/participant-state/src/test/suite/scala/com/daml/ledger/participant/state/v1/TimeModelSpec.scala
Labels: automerge

#7211 Fix off-by-one error in logging
  ledger/participant-integration-api/src/main/scala/platform/store/dao/HikariJdbcConnectionProvider.scala
Labels: automerge

#7218 Ignore failed ipcrm calls
  ci/clear-shared-segments-macos.yml
Labels: automerge

#7217 Support HasCallStack constraints
  compiler/damlc/daml-preprocessor/src/DA/Daml/Preprocessor.hs
  compiler/damlc/daml-prim-src/GHC/Stack/Types.daml
  compiler/damlc/daml-prim-src/LibraryModules.daml
  compiler/damlc/daml-stdlib-src/DA/Stack.daml
  compiler/damlc/daml-stdlib-src/LibraryModules.daml
  compiler/damlc/tests/daml-test-files/CallStack.daml
  compiler/damlc/tests/src/DA/Test/ShakeIdeClient.hs
  compiler/damlc/tests/src/DA/Test/UnstableTypes.hs
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DarReaderTest.scala
Labels: automerge

#7223 kvutils: Fix flaky runs of BatchingQueueSpec.
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/api/BatchingQueueSpec.scala
Labels: automerge

#7228 Normalize struct field order in the LF spec.
  daml-lf/spec/daml-lf-1.rst
Labels: automerge

#7225 Speedy: make the field 'fields' of SRecord immutable.
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/ValueTranslator.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SpeedyTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/svalue/EqualitySpec.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/svalue/OrderingSpec.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Converter.scala
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Converter.scala
Labels: component/daml-engine

#7227 Speedy: Make the field 'fields' from SStruct immutable.
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SpeedyTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/svalue/EqualitySpec.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/svalue/OrderingSpec.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Converter.scala
Labels: component/daml-engine

#7215 kvutils: Simplify exporting by pushing the mutations outwards.
  ledger/ledger-on-memory/src/main/scala/com/daml/ledger/on/memory/InMemoryLedgerReaderWriter.scala
  ledger/participant-state/kvutils/BUILD.bazel
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/Debug.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/export/Deserialization.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/export/FileBasedLedgerDataExporter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/export/InMemorySubmissionAggregator.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/export/LedgerDataExporter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/export/LedgerDataWriter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/export/NoOpLedgerDataExporter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/export/NoOpSubmissionAggregator.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/export/NoopLedgerDataExporter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/export/Serialization.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/export/SubmissionAggregator.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/export/SubmissionInfo.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/export/package.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/package.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/CommitStrategy.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/LogAppendingCommitStrategy.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/batch/BatchedSubmissionValidator.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/batch/BatchedSubmissionValidatorFactory.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/caching/CachingCommitStrategy.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/package.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/export/FileBasedLedgerDataExportSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/export/InMemorySubmissionAggregatorSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/batch/BatchedSubmissionValidatorSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/caching/CachingCommitStrategySpec.scala
  ledger/participant-state/kvutils/tools/integrity_test.bzl
  ledger/participant-state/kvutils/tools/src/main/scala/com/daml/ledger/participant/state/kvutils/tools/export/CommitStrategySupport.scala
  ledger/participant-state/kvutils/tools/src/main/scala/com/daml/ledger/participant/state/kvutils/tools/export/IntegrityChecker.scala
  ledger/participant-state/kvutils/tools/src/main/scala/com/daml/ledger/participant/state/kvutils/tools/export/LogAppendingCommitStrategySupport.scala
  ledger/participant-state/kvutils/tools/src/main/scala/com/daml/ledger/participant/state/kvutils/tools/export/WriteRecordingLedgerStateOperations.scala
  ledger/participant-state/kvutils/tools/src/test/scala/com/daml/ledger/participant/state/kvutils/test/Replay.scala
  ledger/participant-state/kvutils/tools/src/test/scala/com/daml/ledger/participant/state/kvutils/tools/IntegrityCheckerSpec.scala
Labels: automerge

#7231 kvutils: Simpler constructors for common caching classes.
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/batch/BatchedSubmissionValidatorFactory.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/caching/CachingCommitStrategy.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/caching/CachingDamlLedgerStateReader.scala
Labels: automerge

#7235 Disable lsp-tests script tests on Windows
  compiler/lsp-tests/src/Main.hs
Labels: automerge

#7238 kvutils: Use classes in the integrity checker code.
  ledger/participant-state/kvutils/tools/src/main/scala/com/daml/ledger/participant/state/kvutils/tools/driver/IntegrityCheck.scala
  ledger/participant-state/kvutils/tools/src/main/scala/com/daml/ledger/participant/state/kvutils/tools/driver/IntegrityCheckV2.scala
Labels: automerge

#7220 LF: ad-hoc data struct to store LF Struct like data
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/Struct.scala
  daml-lf/data/src/test/scala/com/digitalasset/daml/lf/data/StructSpec.scala
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/EncodeV1.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/svalue/OrderingSpec.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/TypeOrdering.scala
  daml-lf/parser/BUILD.bazel
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/AstRewriter.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/TypeParser.scala
  daml-lf/parser/src/test/scala/com/digitalasset/daml/lf/testing/parser/ParsersSpec.scala
  daml-lf/repl/src/main/scala/com/digitalasset/daml/lf/repl/testing/Main.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/AlphaEquiv.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/TypeSubst.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
Labels: component/daml-engine

#7133 Improve the JSON API documentation, clarify common json-api options, update the authorization/authentication sections.
  docs/source/json-api/index.rst
Labels: component/documentation

#7232 Deprecating noop '--application-id' command-line option in JSON API
  daml-script/test/src/com/digitalasset/daml/lf/engine/script/test/JsonApiIt.scala
  docs/source/json-api/index.rst
  ledger-service/http-json/src/it/scala/http/HttpServiceTestFixture.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Config.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Main.scala
Labels: automerge

#7230 kvutils: Make the RawToDamlLedgerStateReaderAdapter constructor visible.
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/DamlLedgerStateReader.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/RawToDamlLedgerStateReaderAdapter.scala
Labels: automerge

#7247 Upgrade to canton 0.18.1 in ledger api conformance tests and enabling canton stdout info-level logging
  WORKSPACE
  ledger/ledger-api-test-tool-on-canton/canton-test-runner.sh
Labels: automerge

#7254 metrics: Use `Gauge#getValue` to avoid registering a metric externally.
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/JdbcIndexer.scala
Labels: automerge

#7253 participant-integration-api: Create the metrics CSV directory.
  ledger/participant-integration-api/src/main/scala/platform/configuration/MetricsReporter.scala
Labels: automerge

#7257 kvutils: Bump integrity check test sizes back to medium.
  ledger/participant-state/kvutils/BUILD.bazel
Labels: automerge

#7252 Track source locations on Daml.Script.submit
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
  compiler/damlc/daml-prim-src/GHC/Stack/Types.daml
  compiler/damlc/daml-stdlib-src/DA/Internal/LF.daml
  compiler/damlc/daml-stdlib-src/DA/Stack.daml
  compiler/damlc/tests/src/DA/Test/ShakeIdeClient.hs
  compiler/lsp-tests/BUILD.bazel
  compiler/lsp-tests/src/DA/Daml/Lsp/Test/Util.hs
  compiler/lsp-tests/src/Main.hs
  daml-script/daml/Daml/Script.daml
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Converter.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/LedgerInteraction.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
Labels: automerge

#7261 Upgrade Guava from v24 to v29.
  bazel-java-deps.bzl
  maven_install.json
Labels: automerge

#7263 kvutils: Buffer (im/ex)port streams, and simplify reading a fixed-length ByteString.
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/export/LedgerDataExporter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/export/SerializationBasedLedgerDataImporter.scala
  ledger/participant-state/kvutils/tools/src/main/scala/com/daml/ledger/participant/state/kvutils/tools/driver/IntegrityCheckV2.scala
  ledger/participant-state/kvutils/tools/src/test/scala/com/daml/ledger/participant/state/kvutils/test/Replay.scala
Labels: automerge

#7262 Refactor EnrichedTransaction
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Blinding.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/ledger/AuthorizingTransaction.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/ledger/BlindingTransaction.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/ledger/EnrichedTransaction.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/scenario/ScenarioLedger.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/ledger/Authorization.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/ScenarioLoader.scala
Labels: automerge, component/daml-engine

#7183 java-quickstart replace scenarios by DAML Script
  docs/BUILD.bazel
  docs/source/app-dev/bindings-java/quickstart/template-root/daml/Tests/Helper.daml
  docs/source/app-dev/bindings-java/quickstart/template-root/daml/Tests/Iou.daml
  docs/source/app-dev/bindings-java/quickstart/template-root/daml/Tests/Trade.daml
  rules_daml/daml.bzl
Labels: automerge

#7278 kvutils: Increase the streaming updates timeout in integration tests.
  ledger/ledger-on-memory/BUILD.bazel
  ledger/ledger-on-sql/BUILD.bazel
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/ParticipantStateIntegrationSpecBase.scala
Labels: automerge

#7283 JSON API perf test main that starts sandbox and json-api services
  ledger-service/http-json-perf/BUILD.bazel
  ledger-service/http-json-perf/release/json-api-perf-logback.xml
  ledger-service/http-json-perf/src/main/scala/com/daml/http/perf/Config.scala
  ledger-service/http-json-perf/src/main/scala/com/daml/http/perf/Main.scala
  ledger-service/http-json-testing/BUILD.bazel
  ledger-service/http-json-testing/src/main/scala/com/daml/http/HttpServiceTestFixture.scala
  ledger-service/http-json/BUILD.bazel
Labels: automerge
