Repository digital-asset/daml, pull requests merged in 2020-09, with the labels that each got.

#7246 DEL-8132 extract DAML LF haskell libraries (scripted)
  build-scripts/build_hs_lf_tooling.sh
  compiler/daml-lf-ast/daml-lf-ast.cabal
  compiler/daml-lf-proto/daml-lf-proto.cabal
  compiler/daml-lf-reader/daml-lf-reader.cabal
  libs-haskell/da-hs-base/da-hs-base.cabal
Labels: language

#7288 ledger-api-client: Do not release resources on a shutdown hook.
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/GrpcChannel.scala
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/LedgerClient.scala
Labels: automerge

#7289 Add queryContractId to DAML Script
  compiler/damlc/tests/src/DA/Test/ScriptService.hs
  daml-script/daml/Daml/Script.daml
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Converter.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/LedgerInteraction.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
  daml-script/test/daml-script-test-runner.sh
  daml-script/test/daml/ScriptTest.daml
  daml-script/test/src/com/digitalasset/daml/lf/engine/script/test/JsonApiIt.scala
  daml-script/test/src/com/digitalasset/daml/lf/engine/script/test/SingleParticipant.scala
  docs/source/app-dev/bindings-java/quickstart/template-root/daml/Tests/Helper.daml
  docs/source/app-dev/bindings-java/quickstart/template-root/daml/Tests/Iou.daml
  docs/source/app-dev/bindings-java/quickstart/template-root/daml/Tests/Trade.daml
Labels: automerge

#7291 Only include stakeholder contracts in result of query
  compiler/damlc/tests/src/DA/Test/ScriptService.hs
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/scenario/ScenarioLedger.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/LedgerInteraction.scala
Labels: automerge

#7292 Fix trace statement handling in DAML Script service
  compiler/damlc/tests/src/DA/Test/ScriptService.hs
  compiler/repl-service/server/src/main/scala/com/digitalasset/daml/lf/ReplServiceMain.scala
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/ScenarioServiceMain.scala
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Context.scala
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/TraceLog.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/InterpreterTest.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/LedgerInteraction.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/TestMain.scala
Labels: automerge

#7265 [KVL-254] kvutils: Export to protobuf, not a custom serialization format.
  ledger/participant-state/kvutils/BUILD.bazel
  ledger/participant-state/kvutils/src/main/protobuf/daml_kvutils.proto
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/Conversions.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/export/Header.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/export/InMemorySubmissionAggregator.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/export/LedgerDataExporter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/export/LedgerDataWriter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/export/SerializationBasedLedgerDataExporter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/export/SerializationBasedLedgerDataImporter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/export/v3/ProtobufBasedLedgerDataExporter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/export/v3/ProtobufBasedLedgerDataImporter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/export/v3/package.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/package.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/export/LedgerDataExportSpecBase.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/export/HeaderSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/export/InMemorySubmissionAggregatorSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/export/SerializationBasedLedgerDataExportSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/export/v3/ProtobufBasedLedgerDataExportSpec.scala
  ledger/participant-state/kvutils/tools/src/main/scala/com/daml/ledger/participant/state/kvutils/tools/driver/IntegrityCheckV2.scala
  ledger/participant-state/kvutils/tools/src/main/scala/com/daml/ledger/participant/state/kvutils/tools/export/IntegrityChecker.scala
  ledger/participant-state/kvutils/tools/src/test/scala/com/daml/ledger/participant/state/kvutils/test/Replay.scala
Labels: automerge

#7290 ledger-api-client: Rename `maxInboundMessageSize` to `maxInboundMetadataSize`.
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
  extractor/BUILD.bazel
  extractor/src/main/scala/com/digitalasset/extractor/Extractor.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/GrpcChannel.scala
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/configuration/LedgerClientConfiguration.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/store/platform/PlatformStore.scala
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/RunnerMain.scala
  triggers/service/BUILD.bazel
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/TriggerRunnerImpl.scala
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/test/AbstractTriggerTest.scala
Labels: automerge

#7302 http-json: Use matchers in WebsocketServiceIntegrationTest.
  ledger-service/http-json/src/it/scala/http/WebsocketServiceIntegrationTest.scala
Labels: automerge

#7305 Use implode in prettySrcLoc
  compiler/damlc/daml-stdlib-src/DA/Stack.daml
Labels: automerge

#6839 Add hints to the DAML Intro docs to encourage downloading the code.
  docs/source/daml/intro/0_Intro.rst
  docs/source/daml/intro/1_Token.rst
  docs/source/daml/intro/2_Scenario.rst
  docs/source/daml/intro/3_Data.rst
  docs/source/daml/intro/4_Transformations.rst
  docs/source/daml/intro/5_Restrictions.rst
  docs/source/daml/intro/6_Parties.rst
  docs/source/daml/intro/7_Composing.rst
Labels: automerge

#7310 ledger-api-test-tool: Actually print the cause of uncaught exceptions.
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerTestCasesRunner.scala
Labels: automerge

#7312 Upgrade bl to address security vulnerability
  package.json
  yarn.lock
Labels: automerge

#7313 kvutils: Remove deprecated methods [KVL-406]
  ledger/participant-state/BUILD.bazel
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/api/KeyValueParticipantState.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/api/LedgerWriter.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/WriteService.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/LedgerBackedWriteService.scala
Labels: automerge

#7299 LF: remove duplicate entries in Struct.
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV1Spec.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/Struct.scala
  daml-lf/data/src/test/scala/com/digitalasset/daml/lf/data/StructSpec.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/svalue/OrderingSpec.scala
  daml-lf/parser/BUILD.bazel
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/AstRewriter.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/TypeParser.scala
  daml-lf/parser/src/test/scala/com/digitalasset/daml/lf/testing/parser/ParsersSpec.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/TypeSubst.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
Labels: component/daml-engine

#7315 disble flaky tests in canton-conformance-test
  ledger/ledger-api-test-tool-on-canton/BUILD.bazel
Labels: automerge

#7205 more trigger service logs; tagged LoggingContext
  libs-scala/contextualized-logging/BUILD.bazel
  libs-scala/contextualized-logging/src/main/scala/com/digitalasset/logging/LoggingContextOf.scala
  libs-scala/contextualized-logging/src/main/scala/com/digitalasset/logging/package.scala
  triggers/runner/BUILD.bazel
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Runner.scala
  triggers/service/BUILD.bazel
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Request.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Response.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Server.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/TriggerRunner.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/TriggerRunnerImpl.scala
  triggers/tests/BUILD.bazel
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/test/AbstractTriggerTest.scala
Labels: automerge, component/trigger-service

#7320 Filter implicit parameter instances from data-dependencies
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/DataDependencies.hs
  compiler/damlc/tests/src/DA/Test/Packaging.hs
Labels: automerge

#7314 LF: extend tests for comparison builtins
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ComparisonSBuiltinTest.scala
Labels: component/daml-lf

#7241 LF: sort fields ValueStruct
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/Struct.scala
  daml-lf/data/src/test/scala/com/digitalasset/daml/lf/data/StructSpec.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/scenario/ScenarioLedger.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/Value.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/value/ValueCoderSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/value/ValueSpec.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/util/ApiValueToLfValueConverterTest.scala
  ledger/participant-state/kvutils/tools/engine-benchmark/src/benchmark/scala/ledger/participant/state/kvutils/tools/engine/benchmark/Adapter.scala
Labels: component/daml-engine

#7319 LF: sort fields in SStruct
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/Struct.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ComparisonSBuiltinTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SpeedyTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/svalue/EqualitySpec.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/svalue/OrderingSpec.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Converter.scala
Labels: component/daml-engine

#7331 LF: drop buggy/useless check in SBCheckPrecond
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
Labels: component/daml-engine

#7330 kvutils: Change the export header from "v3" to "v2".
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/export/LedgerDataExporter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/export/v2/ProtobufBasedLedgerDataExporter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/export/v2/ProtobufBasedLedgerDataImporter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/export/v2/package.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/export/v2/ProtobufBasedLedgerDataExportSpec.scala
  ledger/participant-state/kvutils/tools/engine-benchmark/src/benchmark/scala/ledger/participant/state/kvutils/tools/engine/benchmark/Replay.scala
  ledger/participant-state/kvutils/tools/integrity-check-v2/src/main/scala/ledger/participant/state/kvutils/tools/integritycheck/v2/Main.scala
Labels: automerge

#7328 ledger-api-test-tool: Only create sessions once.
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/LedgerApiTestTool.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerSession.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerSessionConfiguration.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerTestCasesRunner.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerTestContext.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/participant/ParticipantSession.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/participant/ParticipantSessionConfiguration.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/participant/ParticipantSessionManager.scala
Labels: automerge

#7333 Speedy: use standard scala equality to check SBuiltinTests result.
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
Labels: component/daml-engine

#7335 Release a new snapshot
  LATEST
Labels: Standard-Change

#7336 Update CODEOWNERS
  CODEOWNERS
Labels: automerge

#7339 moved robin down in release rotation because of holidays.
  release/rotation
Labels: automerge

#7329 Speedy: shortcup failure in SValue ordering.
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/svalue/Equality.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/svalue/InterlacedIterator.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/svalue/Ordering.scala
Labels: component/daml-engine

#7326 Speedy: cleanup tests for builtins
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ComparisonSBuiltinTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/svalue/EqualitySpec.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/svalue/OrderingSpec.scala
Labels: component/daml-engine

#7334 Speedy: share implementation of SGenMap and STextMap.
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/SortedLookupList.scala
  daml-lf/data/src/test/scala/com/digitalasset/daml/lf/data/SortedLookupListSpec.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/ValueTranslator.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/svalue/Equality.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/svalue/Hasher.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/svalue/Ordering.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/platform/store/serialization/KeyHasherSpec.scala
Labels: component/daml-engine

#7346 Speedy: drop useless Hasher for SValues
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/svalue/Hasher.scala
Labels: component/daml-engine

#7360 Disable multipackage LSP tests on Windows.
  compiler/lsp-tests/src/Main.hs
Labels: automerge

#7345 LF: minor cleanup in SortedLookupList
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/SortedLookupList.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/ledger/api/validation/SubmitRequestValidatorTest.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/platform/store/serialization/KeyHasherSpec.scala
Labels: component/daml-engine

#7361 damlc: Don't use uniques for type vars during conversion to LF
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
  compiler/damlc/tests/src/DA/Test/Packaging.hs
Labels: automerge

#7363 Contract ID spec: Fix typos
  daml-lf/spec/contract-id.rst
Labels: automerge

#7370 hoogle db as tarbal
  infra/hoogle_server.tf
Labels: Standard-Change

#7373 fixup Terraform setup
  infra/main.tf
Labels: Standard-Change

#7379 nix: Pin `scala` to v2.12.11, the same version we use in Bazel.
  nix/nixpkgs.nix
Labels: automerge

#7380 kvutils: Close GzipInputStream after decompressing message [KVL-485]
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/Envelope.scala
Labels: automerge

#7325 Open-sourcing Gatling statistics reporter
  ledger-service/http-json-perf/BUILD.bazel
  ledger-service/http-json-perf/src/main/resources/gatling.conf
  ledger-service/http-json-perf/src/main/scala/com/daml/http/perf/Config.scala
  ledger-service/http-json-perf/src/main/scala/com/daml/http/perf/Main.scala
  libs-scala/gatling-utils/BUILD.bazel
  libs-scala/gatling-utils/src/main/scala/com/daml/gatling/stats/Count.scala
  libs-scala/gatling-utils/src/main/scala/com/daml/gatling/stats/OutputFormattingHelpers.scala
  libs-scala/gatling-utils/src/main/scala/com/daml/gatling/stats/SimulationLog.scala
  libs-scala/gatling-utils/src/main/scala/com/daml/gatling/stats/SimulationLogSyntax.scala
  libs-scala/gatling-utils/src/main/scala/com/daml/gatling/stats/StatGroup.scala
  libs-scala/gatling-utils/src/main/scala/com/daml/gatling/stats/util/NonEmptySyntax.scala
  libs-scala/gatling-utils/src/main/scala/com/daml/gatling/stats/util/ReadFileSyntax.scala
  libs-scala/gatling-utils/src/main/scala/io/gatling/app/CustomRunner.scala
  libs-scala/gatling-utils/src/test/resources/simulation-log/minimal.txt
  libs-scala/gatling-utils/src/test/resources/simulation-log/missing-error-message.txt
  libs-scala/gatling-utils/src/test/resources/simulation-log/multiple-requests.txt
  libs-scala/gatling-utils/src/test/resources/simulation-log/multiple-run.txt
  libs-scala/gatling-utils/src/test/resources/simulation-log/multiple-scenarios-expected-csv.csv
  libs-scala/gatling-utils/src/test/resources/simulation-log/multiple-scenarios.txt
  libs-scala/gatling-utils/src/test/resources/simulation-log/no-request.txt
  libs-scala/gatling-utils/src/test/resources/simulation-log/no-run.txt
  libs-scala/gatling-utils/src/test/resources/simulation-log/no-user.txt
  libs-scala/gatling-utils/src/test/resources/simulation-log/with-unknown-entries.txt
  libs-scala/gatling-utils/src/test/scala/com/daml/gatling/stats/DurationStatisticsSpec.scala
  libs-scala/gatling-utils/src/test/scala/com/daml/gatling/stats/SimulationLogSpec.scala
Labels: automerge

#7384 Make sure GZIP input/output stream gets closed [KVL-485]
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/Envelope.scala
Labels: automerge

#7396 save daily perf results
  azure-pipelines.yml
  ci/bash-lib.yml
  ci/cron/daily-compat.yml
Labels: automerge-after-rebase

#7367 Add a queryFilter function to Daml.Script
  daml-script/daml/Daml/Script.daml
Labels: automerge

#7401 Add --navigator-port option in daml start.
  daml-assistant/daml-helper/src/DA/Daml/Helper/Main.hs
  daml-assistant/daml-helper/src/DA/Daml/Helper/Start.hs
Labels: automerge

#7412 Release 1.5.0
  LATEST
Labels: Standard-Change

#7413 increase Maven timeout
  release/src/Upload.hs
Labels: automerge

#7344 Sandbox: Migrate Pre SDK 1.0 values
  ledger/participant-integration-api/src/main/scala/db/migration/postgres/V38__Update_value_versions.scala
Labels: component/ledger

#7418 Fix code generation command for release testing
  release/RELEASE.md
Labels: automerge

#7419 fix check-changelog
  ci/check-changelog.sh
Labels: automerge

#7415 LF: Drop legacy engine configuration for Sandbox Classic.
  daml-lf/engine/BUILD.bazel
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/EngineConfig.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineInfoTest.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/SandboxServer.scala
Labels: component/daml-engine

#7421 Improve release instructions
  release/RELEASE.md
Labels: automerge

#7422 read access to data bucket for appr members
  infra/data_bucket.tf
Labels: Standard-Change

#7424 remove mailchim popup code
  docs/theme/da_theme_skeleton/layout.html
Labels: automerge

#7347 ExecutionContext[EC] phantom for control, Future[EC, A]
  libs-scala/concurrent/BUILD.bazel
  libs-scala/concurrent/src/main/scala/concurrent/ExecutionContextOf.scala
  libs-scala/concurrent/src/main/scala/concurrent/FutureOf.scala
  libs-scala/concurrent/src/main/scala/concurrent/package.scala
  libs-scala/concurrent/src/test/scala/concurrent/ExecutionContextSpec.scala
  libs-scala/concurrent/src/test/scala/concurrent/FutureSpec.scala
  release/artifacts.yaml
Labels: automerge

#7425 avoid ACS linear contract ID lookups in Trigger library
  compiler/damlc/daml-stdlib-src/DA/Internal/LF.daml
  triggers/daml/Daml/Trigger.daml
  triggers/daml/Daml/Trigger/Internal.daml
  triggers/daml/Daml/Trigger/LowLevel.daml
Labels: automerge

#7432 update certificates
  infra/bazel_cache.tf
  infra/binaries.tf
  infra/main.tf
  infra/nix_cache.tf
Labels: Standard-Change

#7427 add 'alter' function to DA.Map
  compiler/damlc/daml-stdlib-src/DA/Map.daml
  compiler/damlc/tests/daml-test-files/Map.daml
  triggers/daml/Daml/Trigger/Internal.daml
Labels: automerge

#7400 Engine: Interleave Execution and Authorization
  compatibility/bazel_tools/testing.bzl
  compiler/damlc/tests/daml-test-files/KeyNotVisibleStakeholders.daml
  compiler/damlc/tests/daml-test-files/SemanticsEvalOrder.daml
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Blinding.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/ledger/AuthorizingTransaction.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/scenario/ScenarioLedger.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SError.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/CheckAuthorization.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/tests/scenario/stable/mustfails/EXPECTED.ledger
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/WronglyTypedContractIdIT.scala
Labels: component/daml-engine

#7433 reorder some of the libs-scala artifacts
  release/artifacts.yaml
Labels: automerge

#7436 Engine: make package validation optional.
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ConcurrentCompiledPackages.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/EngineConfig.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
Labels: component/daml-engine

#7439 protect GCS bucket items
  infra/bazel_cache.tf
  infra/binaries.tf
  infra/data_bucket.tf
  infra/dumps_bucket.tf
  infra/nix_cache.tf
Labels: Standard-Change

#7430 Ledger-API: Validate Dar before sending it to the ledger.
  daml-assistant/daml-helper/src/DA/Daml/Helper/Main.hs
  daml-lf/validation/BUILD.bazel
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Validation.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/ValidationError.scala
  ledger-api/rs-grpc-akka/src/main/scala/com/digitalasset/grpc/adapter/AkkaExecutionSequencerPool.scala
  ledger/participant-integration-api/BUILD.bazel
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/admin/ApiPackageManagementService.scala
Labels: component/ledger

#7438 Speedy: group compiler parameters into a Config case class.
  compiler/repl-service/server/src/main/scala/com/digitalasset/daml/lf/ReplServiceMain.scala
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Context.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ConcurrentCompiledPackages.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/MutableCompiledPackages.scala
  daml-lf/interpreter/perf/src/main/scala/com/daml/lf/explore/Explore.scala
  daml-lf/interpreter/perf/src/main/scala/com/daml/lf/explore/ExploreDar.scala
  daml-lf/interpreter/perf/src/main/scala/com/daml/lf/explore/LoadDarFunction.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/CompiledPackages.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SpeedyTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/svalue/OrderingSpec.scala
  daml-lf/repl/src/main/scala/com/digitalasset/daml/lf/repl/testing/Main.scala
  daml-lf/scenario-interpreter/src/perf/benches/scala/com/digitalasset/daml/lf/speedy/perf/CollectAuthority.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
Labels: component/daml-engine

#7437 Cleanup following interleave execution and authorization
  compiler/scenario-service/protos/scenario_service.proto
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Blinding.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/scenario/ScenarioLedger.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SError.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/ledger/package.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/execution/StoreBackedCommandExecutor.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/TransactionCommitter.scala
Labels: component/daml-engine

#7441 Bump test_sha in perf tests
  ci/cron/perf/test_sha
Labels: automerge

#7409 DAML-LF: utility to compute duplicated keys in a transaction.
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
Labels: component/daml-lf

#7444 Upgrade stack
  dev-env/windows/manifests/stack.json
Labels: automerge

#7446 Address security vulnerability in navigator deps
  navigator/frontend/package.json
  navigator/frontend/yarn.lock
Labels: automerge

#7449 LF: Drop some tests for deprecated LF versions
  daml-lf/encoder/BUILD.bazel
  daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/archive/testing/DamlLfEncoderTest.scala
  language-support/java/codegen/BUILD.bazel
Labels: component/daml-lf

#7450 Speedy: remove wrong comments introduced as part of #7438.
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SpeedyTest.scala
Labels: component/daml-engine

#7420 Engine: documents for Engine configuration
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/EngineConfig.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/VersionRange.scala
Labels: component/daml-engine

#7440 Speedy: Check language version as part of Speedy compilation.
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Context.scala
  daml-lf/encoder/BUILD.bazel
  daml-lf/encoder/src/validate.sh
  daml-lf/engine/BUILD.bazel
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ConcurrentCompiledPackages.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/EngineConfig.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/MutableCompiledPackages.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/PreprocessorSpec.scala
  daml-lf/interpreter/perf/BUILD.bazel
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/repl/src/main/scala/com/digitalasset/daml/lf/repl/testing/Main.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/VersionTimeline.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
  triggers/service/BUILD.bazel
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Server.scala
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/test/AbstractTriggerTest.scala
Labels: component/daml-engine

#7459 LF Repl: cleanup
  daml-lf/repl/src/main/scala/com/digitalasset/daml/lf/repl/testing/Main.scala
Labels: component/daml-engine

#7461 LF: implement hashing for GenMap
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/crypto/Hash.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/Value.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/crypto/HashSpec.scala
Labels: component/daml-engine

#7464 Enables fetching scala library sources
  BAZEL.md
  WORKSPACE
Labels: automerge

#7467 Force newtype constructor names to match type name.
  compiler/damlc/daml-preprocessor/src/DA/Daml/Preprocessor.hs
  compiler/damlc/tests/daml-test-files/NewtypePolymorphic.daml
  compiler/damlc/tests/daml-test-files/RecordConstructorCheck.daml
Labels: automerge

#7465 Fix GSG environment variable setup instructions.
  docs/source/getting-started/path-variables.rst
Labels: automerge

#7475 ledger-api-test-tool: Retry the participant connection for a minute.
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/LedgerApiTestTool.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/Errors.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/participant/ParticipantSession.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/participant/ParticipantSessionManager.scala
Labels: automerge

#7466 Deprecate daml damlc package
  compiler/damlc/lib/DA/Cli/Damlc.hs
Labels: automerge

#7476 Tests for interleaved execution and authorization
  compiler/damlc/tests/daml-test-files/AuthEvalOrder.daml
Labels: automerge, component/daml-engine

#7468 stack_snapshot_json on Windows
  BAZEL-haskell.md
  bazel-haskell-deps.bzl
  compatibility/bazel-haskell-deps.bzl
  compatibility/stackage_snapshot_windows.json
  ghcide_snapshot_windows.json
  stackage_snapshot_windows.json
Labels: automerge

#7458 Documentation of our support and compatibility framework
  compiler/damlc/lib/DA/Cli/Damlc.hs
  compiler/damlc/lib/DA/Cli/Damlc/Command/Damldoc.hs
  daml-assistant/daml-helper/src/DA/Daml/Helper/Main.hs
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/RunnerConfig.scala
  docs/configs/pdf/index.rst
  docs/redirects.map
  docs/source/app-dev/bindings-java/index.rst
  docs/source/app-dev/bindings-js.rst
  docs/source/app-dev/bindings-scala/index.rst
  docs/source/daml-integration-kit/index.rst
  docs/source/getting-started/installation.rst
  docs/source/index.rst
  docs/source/support/architecture.png
  docs/source/support/compatibility.rst
  docs/source/support/component-statuses.rst
  docs/source/support/overview.rst
  docs/source/support/release-notes.rst
  docs/source/support/release-timeline.png
  docs/source/support/releases.rst
  docs/source/support/roadmap.rst
  docs/source/support/status-definitions.rst
  docs/source/support/support.rst
  docs/source/tools/extractor.rst
  docs/source/tools/navigator/console.rst
  docs/source/tools/navigator/database.rst
  docs/source/tools/trigger-service.rst
  docs/source/tools/visual.rst
  docs/source/triggers/index.rst
  navigator/backend/src/main/scala/com/digitalasset/navigator/config/Arguments.scala
  release/sdk-config.yaml.tmpl
Labels: automerge

#7480 Remove an unclear bit from JSON API documentation: no metaprogramming
  docs/source/json-api/index.rst
Labels: component/documentation

#7481 adjust quickstart-java release smoketest instructions for prior changes
  release/RELEASE.md
Labels: automerge

#7484 Missing closing quote in authorization docs
  docs/source/app-dev/authorization.rst
Labels: automerge

#7487 Fix the rules_pkg GitHub release URL
  deps.bzl
Labels: automerge

#7486 sandbox + kvutils: Add the "read" component back to the health checks. [KVL-475] [KVL-483]
  ledger/ledger-api-health/src/main/scala/com/digitalasset/ledger/api/health/HealthChecks.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/StandaloneApiServer.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Runner.scala
  ledger/sandbox/src/main/scala/platform/sandboxnext/Runner.scala
Labels: automerge

#7490 Deprecate specifying the template in daml new positional
  daml-assistant/daml-helper/BUILD.bazel
  daml-assistant/daml-helper/src/DA/Daml/Helper/Main.hs
  daml-assistant/daml-helper/src/DA/Daml/Helper/New.hs
  docs/source/daml/intro/1_Token.rst
  docs/source/daml/intro/2_DamlScript.rst
  docs/source/daml/intro/3_Data.rst
  docs/source/daml/intro/4_Transformations.rst
  docs/source/daml/intro/5_Restrictions.rst
  docs/source/daml/intro/6_Parties.rst
  docs/source/daml/intro/7_Composing.rst
  templates/README.txt
Labels: automerge

#7491 Allow speedy execution without performing authorization checks.
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/CheckAuthorization.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/ledger/Authorization.scala
Labels: automerge, component/daml-engine

#7483 Fix Numeric encoding and decoding in Scala bindings
  language-support/scala/bindings/src/main/scala/com/digitalasset/ledger/client/binding/binding/Value.scala
  language-support/scala/codegen-testing/BUILD.bazel
  language-support/scala/codegen-testing/src/test/scala/com/digitalasset/ledger/client/binding/PrimitiveSpec.scala
  language-support/scala/codegen-testing/src/test/scala/com/digitalasset/ledger/client/binding/ValueGen.scala
  language-support/scala/codegen-testing/src/test/scala/com/digitalasset/ledger/client/binding/ValueSpec.scala
Labels: automerge

#7497 ledger-api-auth: Extract `Main` in to a separate Bazel target.
  ledger/ledger-api-auth/BUILD.bazel
  ledger/ledger-api-auth/src/app/scala/com/daml/ledger/api/auth/Main.scala
Labels: automerge

#7489 Patch ghc to add a daml version header marker.
  ci/da-ghc-lib/compile.yml
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Extract.hs
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Extract/Util.hs
  compiler/damlc/daml-doc/test/DA/Daml/Doc/Tests.hs
  compiler/damlc/tests/daml-test-files/DamlHasVersion.EXPECTED.md
  compiler/damlc/tests/daml-test-files/DamlHasVersion.daml
  stack-snapshot.yaml
  stackage_snapshot.json
  stackage_snapshot_windows.json
Labels: automerge

#7500 kvutils: Remove the deprecated `v1_4` bridge for ledger state access.
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/LedgerStateAccess.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/SubmissionValidator.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/SubmissionValidatorSpec.scala
Labels: automerge

#7472 Speedy: Compile commands as speedy functions.
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
Labels: component/daml-engine

#7504 Improve Time Model docs
  docs/source/app-dev/app-arch.rst
Labels: automerge

#7503 Add queryFilter to the export list
  daml-script/daml/Daml/Script.daml
Labels: automerge

#7505 Some minor improvements to the DAML Intro docs
  docs/source/daml/intro/1_Token.rst
  docs/source/daml/intro/3_Data.rst
  docs/source/daml/intro/6_Parties.rst
  docs/source/daml/intro/7_Composing.rst
Labels: automerge

#7501 Separate off-ledger ond on-ledger speedy
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/ScenarioServiceMain.scala
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Context.scala
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SError.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ComparisonSBuiltinTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/svalue/OrderingSpec.scala
  daml-lf/repl/src/main/scala/com/digitalasset/daml/lf/repl/testing/Main.scala
  daml-lf/scenario-interpreter/BUILD.bazel
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ScenarioRunner.scala
  daml-lf/scenario-interpreter/src/perf/benches/scala/com/digitalasset/daml/lf/speedy/perf/CollectAuthority.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Converter.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/LedgerInteraction.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Runner.scala
Labels: automerge

#7512 Bump test_sha
  ci/cron/perf/test_sha
Labels: automerge

#7514 let CI delete bazel cache items
  infra/bazel_cache.tf
Labels: Standard-Change

#7513 Deprecate the "daml 1.2" version header.
  compatibility/bazel_tools/daml_ledger/Main.hs
  compiler/damlc/daml-doctest/src/DA/Daml/DocTest.hs
  compiler/damlc/daml-ide-core/test/Development/IDE/Core/API/Testing.hs
  compiler/damlc/daml-preprocessor/src/DA/Daml/Preprocessor.hs
  compiler/damlc/tests/daml-test-files/DamlHasVersion.daml
  compiler/damlc/tests/src/DA/Test/DamlDocTest.hs
  compiler/damlc/tests/src/DA/Test/DamlDocTestIntegration.hs
  compiler/damlc/tests/src/DA/Test/GenerateModuleTree.hs
  compiler/damlc/tests/src/DA/Test/IncrementalBuilds.hs
  compiler/damlc/tests/src/DA/Test/Packaging.hs
  compiler/damlc/tests/src/DA/Test/ShakeIdeClient.hs
  compiler/damlc/tests/src/DamlcTest.hs
  compiler/damlc/tests/src/daml-ghc-deterministic.sh
  compiler/lsp-tests/src/Main.hs
  daml-assistant/daml-helper/test/DA/Daml/Helper/Test/Deployment.hs
  daml-assistant/integration-tests/src/DA/Daml/Assistant/IntegrationTests.hs
  daml-lf/interpreter/perf/daml/Examples.daml
  daml-lf/tests/scenario/stable/contract-key-through-exercises/Test.daml
  docs/source/daml/reference/file-structure.rst
  docs/source/tools/extractor.rst
  extractor/BUILD.bazel
  ledger/test-common/src/main/daml/performance/PingPong.daml
Labels: automerge

#7510 Improve the user error message if the upload-dar command fails.
  daml-assistant/daml-helper/src/DA/Daml/Helper/Ledger.hs
Labels: automerge, component/daml-assistant

#7506 Intro to DAML Chapter 8
  docs/BUILD.bazel
  docs/daml-intro-7.yaml
  docs/source/daml/intro/0_Intro.rst
  docs/source/daml/intro/7_Composing.rst
  docs/source/daml/intro/8_Dependencies.rst
  docs/source/daml/intro/daml/daml-intro-8/daml.yaml.template
  docs/source/daml/intro/daml/daml-intro-8/daml/Intro/Asset/MultiTrade.daml
  docs/source/daml/intro/daml/daml-intro-8/daml/Test/Intro/Asset/MultiTrade.daml
  docs/source/daml/intro/daml/daml-intro-8/daml/Test/Intro/Asset/TradeSetup.daml
  docs/source/daml/reference/packages.rst
  rules_daml/daml.bzl
Labels: automerge

#7502 Speedy Compiler: compute variable indices more generally.
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
Labels: component/daml-engine

#7515 kvutils: Sort the output state before writing. [KVL-558]
  ledger/ledger-on-memory/src/main/scala/com/daml/ledger/on/memory/InMemoryLedgerStateOperations.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/SqlLedgerReaderWriter.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/queries/CommonQueries.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/queries/Queries.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/queries/ReadQueries.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/queries/TimedQueries.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/queries/WriteQueries.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/export/InMemorySubmissionAggregator.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/export/LedgerDataWriter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/export/v2/ProtobufBasedLedgerDataExporter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/LedgerStateAccess.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/LogAppendingCommitStrategy.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/batch/BatchedSubmissionValidator.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/batch/BatchedSubmissionValidatorFactory.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/batch/BatchedSubmissionValidatorParameters.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/LogAppenderPreExecutingCommitStrategy.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/PostExecutionFinalizer.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/RawKeyValuePairsWithLogEntry.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/export/LedgerDataExportSpecBase.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/export/InMemorySubmissionAggregatorSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/LogAppendingCommitStrategySpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/batch/BatchedSubmissionValidatorSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/preexecution/LogAppenderPreExecutingCommitStrategySpec.scala
  ledger/participant-state/kvutils/tools/integrity-check-v2/src/main/scala/ledger/participant/state/kvutils/tools/integritycheck/v2/IntegrityChecker.scala
  ledger/participant-state/kvutils/tools/integrity-check-v2/src/main/scala/ledger/participant/state/kvutils/tools/integritycheck/v2/WriteRecordingLedgerStateOperations.scala
Labels: automerge

#7517 concurrent: Tag DirectExecutionContext.
  ledger-api/rs-grpc-akka/BUILD.bazel
  ledger-api/testing-utils/BUILD.bazel
  ledger/ledger-api-auth/BUILD.bazel
  ledger/ledger-api-client/BUILD.bazel
  ledger/ledger-api-common/BUILD.bazel
  ledger/ledger-on-memory/BUILD.bazel
  ledger/metrics/BUILD.bazel
  ledger/participant-integration-api/BUILD.bazel
  ledger/participant-state/kvutils/BUILD.bazel
  ledger/participant-state/kvutils/tools/BUILD.bazel
  ledger/sandbox-classic/BUILD.bazel
  ledger/sandbox-common/BUILD.bazel
  ledger/sandbox-perf/BUILD.bazel
  ledger/sandbox/BUILD.bazel
  ledger/test-common/BUILD.bazel
  libs-scala/concurrent/BUILD.bazel
  libs-scala/concurrent/src/main/scala/dec/DirectExecutionContextInternal.scala
  libs-scala/concurrent/src/main/scala/dec/package.scala
  libs-scala/direct-execution-context/BUILD.bazel
  release/artifacts.yaml
Labels: automerge

#7507 Intro to DAML Chapter 9
  docs/source/daml/intro/0_Intro.rst
  docs/source/daml/intro/5_Restrictions.rst
  docs/source/daml/intro/8_Dependencies.rst
  docs/source/daml/intro/9_Functional101.rst
  docs/source/daml/intro/daml/daml-intro-8/daml/Intro/Asset/MultiTrade.daml
  docs/source/daml/intro/daml/daml-intro-8/daml/Test/Intro/Asset/MultiTrade.daml
  docs/source/daml/intro/daml/daml-intro-9/daml.yaml.template
  docs/source/daml/intro/daml/daml-intro-9/daml/Main.daml
  docs/source/daml/intro/images/9_Functional101/signature.png
Labels: automerge

#7508 Intro to DAML Chapter 10
  docs/source/daml/intro/0_Intro.rst
  docs/source/daml/intro/10_StdLib.rst
  docs/source/daml/intro/11_Testing.rst
  docs/source/daml/intro/9_Functional101.rst
  docs/source/daml/intro/daml/daml-intro-10/daml.yaml.template
  docs/source/daml/intro/daml/daml-intro-10/daml/Main.daml
  docs/source/daml/intro/daml/daml-intro-8/daml/Intro/Asset/MultiTrade.daml
Labels: automerge

#7482 more error logging for random transaction stream testing
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoTransactionsSpec.scala
Labels: automerge

#7492 Speedy Profiler: add labels for new SDefinitionRef
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Profile.scala
Labels: component/daml-engine

#7520 kvutils: Run the commit strategies in as parallel a fashion as possible. [KVL-558]
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/CommitStrategy.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/LogAppendingCommitStrategy.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/StateKeySerializationStrategy.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/StateSerializationStrategy.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/package.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/LogAppenderPreExecutingCommitStrategy.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/LogAppendingCommitStrategySpec.scala
Labels: automerge

#7527 kvutils: Flush export files after each write. [KVL-530]
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/export/v2/ProtobufBasedLedgerDataExporter.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/export/LedgerDataExportSpecBase.scala
Labels: automerge

#7524 Remove reference to release-notes.rst
  azure-pipelines.yml
  ci/cron/src/Main.hs
Labels: automerge

#7519 trigger service auth /login endpoint
  triggers/service/auth/BUILD.bazel
  triggers/service/auth/src/main/scala/com/daml/oauth/middleware/Config.scala
  triggers/service/auth/src/main/scala/com/daml/oauth/middleware/Main.scala
  triggers/service/auth/src/main/scala/com/daml/oauth/middleware/Request.scala
  triggers/service/auth/src/main/scala/com/daml/oauth/middleware/Server.scala
  triggers/service/auth/src/main/scala/com/daml/oauth/server/Config.scala
  triggers/service/auth/src/test/scala/com/daml/oauth/middleware/Resources.scala
  triggers/service/auth/src/test/scala/com/daml/oauth/middleware/Test.scala
  triggers/service/auth/src/test/scala/com/daml/oauth/middleware/TestFixture.scala
Labels: automerge

#7532 Update `Bazel/Intellij integration` docs
  BAZEL.md
Labels: automerge

#7535 remove leo
  CODEOWNERS
  infra/data_bucket.tf
Labels: Standard-Change
