Repository digital-asset/daml, pull requests merged in 2020-12, with the labels that each got.

#8098 kvutils: Publish the Protobuf definition. [KVL-714]
  release/artifacts.yaml
Labels: automerge

#8119 Bazel: Set the docstring on `java_home_runtime`.
  bazel_tools/java.bzl
Labels: automerge

#8102 test tail calls execute in constant env-stack
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/TailCallTest.scala
Labels: automerge, component/daml-engine

#8120 Bazel: Simplify the implementation of `proto_gen`.
  bazel_tools/proto.bzl
  language-support/java/bindings/BUILD.bazel
  ledger-api/grpc-definitions/BUILD.bazel
  ledger/ledger-api-akka/BUILD.bazel
Labels: automerge

#8042 [DPP-84] Employ parallel unnesting instead of batching on PostgreSQL
  bazel-java-deps.bzl
  ledger-api/testing-utils/src/main/scala/com/digitalasset/ledger/api/testing/utils/AkkaBeforeAndAfterAll.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/EventsTable.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/EventsTableDelete.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/EventsTableFlatEvents.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/EventsTableFlatEventsRangeQueries.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/EventsTableH2Database.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/EventsTablePostgresql.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/EventsTableTreeEvents.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/TransactionsReader.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/TransactionsWriter.scala
  maven_install.json
Labels: automerge

#8114 Add DAML_EXCEPTIONS feature.
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
Labels: automerge

#8115 ts/ledger: package management
  language-support/ts/codegen/tests/BUILD.bazel
  language-support/ts/codegen/tests/build-and-lint.sh
  language-support/ts/codegen/tests/ts/build-and-lint-test/src/__tests__/test.ts
  language-support/ts/daml-ledger/README.md
  language-support/ts/daml-ledger/index.ts
Labels: automerge

#8121 Bazel: Reduce visibility of Protobuf JARs and accoutrements.
  bazel_tools/proto.bzl
  daml-lf/archive/BUILD.bazel
  daml-lf/transaction/BUILD.bazel
  ledger-api/grpc-definitions/BUILD.bazel
  ledger/participant-state/kvutils/BUILD.bazel
  ledger/participant-state/protobuf/BUILD.bazel
Labels: automerge

#8128 incident-118: linux machines unable to start
  infra/vsts_agent_linux_startup.sh
Labels: Standard-Change, automerge

#8137 Add exception type coherence check on Haskell side
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Check.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Error.hs
Labels: automerge

#8037 Handle token expiry in trigger service
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Runner.scala
  triggers/service/BUILD.bazel
  triggers/service/auth/src/main/scala/com/daml/oauth/server/Server.scala
  triggers/service/src/main/resources/com/daml/lf/engine/trigger/db/migration/postgres/V4__Add_refresh_token.sql
  triggers/service/src/main/resources/com/daml/lf/engine/trigger/db/migration/postgres/V4__Add_refresh_token.sql.sha256
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Server.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/TriggerRunner.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/TriggerRunnerImpl.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/dao/DbTriggerDao.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/dao/InMemoryTriggerDao.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/dao/RunningTriggerDao.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/package.scala
  triggers/service/src/test/resources/logback.xml
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceFixture.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceTest.scala
Labels: automerge

#8133 LF: Change ordering of builtin type to follow proto declaration
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV1Spec.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/TypeOrderingSpec.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ComparisonSBuiltinTest.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/TypeOrdering.scala
  daml-lf/spec/daml-lf-1.rst
Labels: component/daml-lf

#8135 incident-118: investigate & fix
  infra/vsts_agent_linux_startup.sh
Labels: Standard-Change

#8140 infra: add prod label
  infra/hoogle_server.tf
  infra/main.tf
  infra/periodic_killer.tf
  infra/vsts_agent_linux.tf
  infra/vsts_agent_windows.tf
Labels: Standard-Change

#8148 When publishing Protobuf source JARs, publish the dependencies.
  bazel_tools/proto.bzl
  release/artifacts.yaml
Labels: automerge

#8150 release process: tweak automated messages
  azure-pipelines.yml
Labels: automerge

#8146 kvutils: Simplified CommitContext [KVL-750]
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/CommitContext.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/Committer.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/ConfigCommitter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/PackageCommitter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/PartyAllocationCommitter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/TransactionCommitter.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/TestHelpers.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/committer/FakeCommitContext.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/CommitContextSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/CommitterSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/ConfigCommitterSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/PackageCommitterSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/PartyAllocationCommitterSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/TransactionCommitterSpec.scala
Labels: automerge

#8144 Fixing minor documentation errors
  docs/source/daml/intro/1_Token.rst
  docs/source/daml/intro/2_DamlScript.rst
  docs/source/daml/intro/5_Restrictions.rst
  docs/source/daml/intro/6_Parties.rst
  docs/source/daml/intro/daml/daml-intro-1/Token.daml
  docs/source/daml/intro/daml/daml-intro-4/Contact.daml
  docs/source/daml/intro/daml/daml-intro-4/SimpleIou.daml
  docs/source/daml/intro/daml/daml-intro-5/Restrictions.daml
  docs/source/daml/intro/daml/daml-intro-6/Parties.daml
Labels: automerge

#8153 ledger-on-memory: Mark pre-execution conformance tests as flaky. [KVL-757]
  ledger/ledger-on-memory/BUILD.bazel
Labels: automerge

#8155 daml-lf: Remove aliases that have been deprecated since v1.4.
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Node.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/execution/StoreBackedCommandExecutorSpec.scala
Labels: automerge

#8156 Bump remaining Navigator frontend deps
  navigator/frontend/BUILD.bazel
  navigator/frontend/package.json
  navigator/frontend/src/ui-core/src/Button/index.tsx
  navigator/frontend/src/ui-core/src/Popover/index.tsx
  navigator/frontend/src/ui-core/src/Tooltip/index.tsx
  navigator/frontend/tslint.json
  navigator/frontend/yarn.lock
Labels: automerge

#8157 JSON API: document encoding flags
  docs/source/json-api/lf-value-specification.rst
Labels: automerge

#8158 Update instructions for working with ghc-lib
  ghc-lib/new-working-on-ghc-lib.md
Labels: automerge

#8159 Avoid favicons-webpack-plugin in Navigator
  navigator/frontend/package.json
  navigator/frontend/src/images/favicon.png
  navigator/frontend/webpack.config.js
  navigator/frontend/yarn.lock
Labels: automerge

#8147 Rename scenarios to scripts
  docs/source/daml/intro/5_Restrictions.rst
  docs/source/daml/intro/daml/daml-intro-8/daml/Test/Intro/Asset/TradeSetup.daml
Labels: automerge

#8166 notify_user: consider changelog entries
  azure-pipelines.yml
  ci/bash-lib.yml
Labels: automerge

#8167 Dont look for daml.yaml during SDK install.
  daml-assistant/exe/DA/Daml/Assistant.hs
  daml-assistant/src/DA/Daml/Assistant/Env.hs
  daml-assistant/src/DA/Daml/Assistant/Install.hs
  daml-assistant/src/DA/Daml/Assistant/Types.hs
  daml-assistant/test/DA/Daml/Assistant/Tests.hs
Labels: automerge

#8168 Fix Next button padding
  docs/theme/sass/_theme_layout.sass
Labels: automerge

#8171 Small sizing and alignment fixes
  docs/configs/html/conf.py
  docs/theme/docs/conf.py
  docs/theme/sass/_theme_landing_page.sass
  docs/theme/sass/_theme_layout.sass
  docs/theme/sass/_theme_nice_select.sass
  docs/theme/sass/_theme_variables.sass
Labels: automerge

#8174 Doc fix minor issues in intro
  docs/source/daml/intro/6_Parties.rst
  docs/source/daml/intro/7_Composing.rst
  docs/source/daml/intro/8_Dependencies.rst
Labels: automerge

#8178 daml-lf: Simplify types in the TransactionBuilder test helper.
  daml-lf/transaction-test-lib/src/main/scala/lf/transaction/test/TransactionBuilder.scala
Labels: automerge

#8181 Deprecate Sandbox persistence
  docs/source/support/component-statuses.rst
  docs/source/tools/sandbox.rst
  ledger/daml-on-sql/src/main/scala/on/sql/Cli.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/Cli.scala
  ledger/sandbox-common/src/main/scala/platform/sandbox/cli/CommonCli.scala
  ledger/sandbox/src/main/scala/platform/sandboxnext/Cli.scala
Labels: automerge

#8182 daml-lf: Include position information in the testing parsers.
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/Lexer.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ModParser.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ParserError.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/Parsers.scala
Labels: automerge

#8177 Speedy: Add a built to optimize cons with 1 elems
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
Labels: component/daml-engine

#8161 add blackduck scan to run on master (#6130)
  NOTICES
  NOTICES.md
  Pipfile
  bazel-java-deps.bzl
  ci/cron/daily-compat.yml
  maven_install.json
Labels: automerge

#8186 Wait for trigger shutdown before restart
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Server.scala
Labels: automerge

#8185 Handle admin claims in OAuth2 test server
  triggers/service/auth/src/main/scala/com/daml/auth/oauth2/test/server/Config.scala
  triggers/service/auth/src/main/scala/com/daml/auth/oauth2/test/server/Server.scala
  triggers/service/auth/src/test/scala/com/daml/auth/middleware/oauth2/Resources.scala
  triggers/service/auth/src/test/scala/com/daml/auth/middleware/oauth2/Test.scala
  triggers/service/auth/src/test/scala/com/daml/auth/middleware/oauth2/TestFixture.scala
  triggers/service/auth/src/test/scala/com/daml/auth/oauth2/test/server/Client.scala
  triggers/service/auth/src/test/scala/com/daml/auth/oauth2/test/server/Resources.scala
  triggers/service/auth/src/test/scala/com/daml/auth/oauth2/test/server/Test.scala
  triggers/service/auth/src/test/scala/com/daml/auth/oauth2/test/server/TestFixture.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceFixture.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceTest.scala
Labels: automerge

#8188 Add build rule for DAML Driver for PostgreSQL docs
  docs/BUILD.bazel
  docs/configs/html/conf.py
  docs/theme/da_theme_skeleton/layout.html
  docs/theme/da_theme_skeleton/searchinput.html
  docs/theme/da_theme_skeleton/theme.conf
  docs/theme/docs/conf.py
  docs/theme/js/switcher.js
  ledger/daml-on-sql/BUILD.bazel
  ledger/daml-on-sql/README.rst
Labels: automerge

#8180 KVUtils: If there is a missing input state during model conformance validation, report "Disputed". [KVL-757]
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/TransactionCommitter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/PreExecutingSubmissionValidator.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/PreExecutingValidatingCommitter.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/validator/TestHelper.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/preexecution/PreExecutingSubmissionValidatorSpec.scala
Labels: automerge

#8198 Clarify DAML Script docs
  docs/source/daml-script/index.rst
Labels: automerge

#8195 Disable asynchronous commits in JdbcIndexer
  ledger/participant-integration-api/src/main/scala/platform/indexer/JdbcIndexer.scala
Labels: automerge

#8199 kvutils: Fix a flaky batching queue test.
  ledger/ledger-on-memory/BUILD.bazel
  ledger/ledger-on-memory/src/main/scala/com/daml/ledger/on/memory/InMemoryLedgerReaderWriter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/api/BatchingLedgerWriter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/api/BatchingQueue.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/api/BatchingLedgerWriterSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/api/BatchingQueueSpec.scala
Labels: automerge

#8194 kvutils: Throw if CommitContext#read encounters missing input state. [KVL-757]
  ledger/ledger-on-memory/BUILD.bazel
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/CommitContext.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/CommitContextSpec.scala
Labels: automerge

#8197 Fix Scala version overwrite
  WORKSPACE
  compatibility/WORKSPACE
Labels: automerge

#8154 LF: Add version directly in GenNode
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/LfVersions.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/Preprocessor.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/TransactionPreprocessor.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/LargeTransactionTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/scenario/ScenarioLedger.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/transaction-test-lib/src/main/scala/lf/transaction/test/TransactionBuilder.scala
  daml-lf/transaction-test-lib/src/main/scala/lf/value/test/ValueGenerators.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Node.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionCoder.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionVersion.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionCoderSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionSpec.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/LedgerInteraction.scala
  ledger/participant-integration-api/src/main/scala/db/migration/h2database/V5_1__Populate_Event_Data.scala
  ledger/participant-integration-api/src/main/scala/db/migration/postgres/V10_1__Populate_Event_Data.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoDivulgenceSpec.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoSuite.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/dao/events/PostCommitValidationSpec.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/TransactionCommitter.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/ProjectionsSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/TransactionCommitterSpec.scala
Labels: component/daml-lf

#8200 Release 1.8 RC
  LATEST
Labels: Standard-Change

#8201 kvutils: Extract out a trait from StateUpdates.
  ledger/participant-state/kvutils/tools/BUILD.bazel
  ledger/participant-state/kvutils/tools/src/main/scala/ledger/participant/state/kvutils/tools/integritycheck/IntegrityChecker.scala
  ledger/participant-state/kvutils/tools/src/main/scala/ledger/participant/state/kvutils/tools/integritycheck/StateUpdateComparison.scala
  ledger/participant-state/kvutils/tools/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  ledger/participant-state/kvutils/tools/src/test/scala/ledger/participant/state/kvutils/tools/integritycheck/IntegrityCheckerSpec.scala
Labels: automerge

#8203 kvutils: Extract a SimplePackage class from TestHelpers. [KVL-759]
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/KVTest.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/SimplePackage.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/TestHelpers.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/KVUtilsConfigSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/KVUtilsPackageSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/KVUtilsPartySpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/KVUtilsTransactionSpec.scala
Labels: automerge

#8211 Bump rules_nodejs
  WORKSPACE
  deps.bzl
  language-support/ts/defs.bzl
  language-support/ts/packages/package.json
  language-support/ts/packages/yarn.lock
Labels: automerge

#8204 kvutils: Add a test case for conflicts during fetching by key. [KVL-759]
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/KVTest.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/SimplePackage.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/KVUtilsTransactionSpec.scala
Labels: automerge

#8218 kvutils: Use mockito-scala's ArgumentMatchersSugar.
  ledger/ledger-on-memory/src/test/suite/scala/com/daml/ledger/on/memory/InMemoryLedgerReaderWriterSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/execution/StoreBackedCommandExecutorSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/api/BatchingLedgerWriterSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/api/InterpretationCostBasedLedgerWriterChooserSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/api/KeyValueParticipantStateWriterSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/LogAppendingCommitStrategySpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/RawToDamlLedgerStateReaderAdapterSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/SubmissionValidatorSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/caching/CachingCommitStrategySpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/caching/CachingDamlLedgerStateReaderSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/preexecution/PreExecutingSubmissionValidatorSpec.scala
  ledger/participant-state/kvutils/tools/src/test/scala/ledger/participant/state/kvutils/tools/integritycheck/IntegrityCheckerSpec.scala
Labels: automerge

#8220 daml-sdk-head: don't install to path
  dev-env/bin/daml-sdk-head
Labels: automerge

#8219 LF: fix versioning output in LF Repl.
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/tests/scenario/dev/gen-map/EXPECTED.ledger
  daml-lf/tests/scenario/stable/contract-key-through-exercises/EXPECTED.ledger
  daml-lf/tests/scenario/stable/contract-keys/EXPECTED.ledger
  daml-lf/tests/scenario/stable/divulge-iou/EXPECTED.ledger
  daml-lf/tests/scenario/stable/embed-abort/EXPECTED.ledger
  daml-lf/tests/scenario/stable/mustfails/EXPECTED.ledger
Labels: component/daml-engine

#8230 Ledger api server index h2 avoid reliance on PUBLIC schema (#8223 - backport to 1.8.0)
  ledger/participant-integration-api/src/main/resources/db/migration/h2database/V28__multiple_submitters.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/h2database/V28__multiple_submitters.sql
Labels: automerge

#8243 update macOS nodes README
  infra/macos/README.md
Labels: Standard-Change

#8237 LF: drop support from deprecated LF value versions. (#8083)
  daml-lf/spec/value.rst
  daml-lf/transaction/src/main/protobuf/com/daml/lf/value.proto
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/VersionTimeline.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/ValueCoder.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/ValueVersion.scala
  ledger/participant-integration-api/BUILD.bazel
  ledger/participant-integration-api/src/main/scala/db/migration/postgres/V26_1__Fill_create_argument.scala
  ledger/participant-integration-api/src/main/scala/db/migration/postgres/V2_1__Rebuild_Acs.scala
  ledger/participant-integration-api/src/main/scala/db/migration/postgres/V32_1__Fix_key_hashes.scala
  ledger/participant-integration-api/src/main/scala/db/migration/postgres/V38__Update_value_versions.scala
  ledger/participant-integration-api/src/main/scala/db/migration/translation/ContractSerializer.scala
  ledger/participant-integration-api/src/main/scala/db/migration/translation/TransactionSerializer.scala
  ledger/participant-integration-api/src/main/scala/db/migration/translation/ValueSerializer.scala
  ledger/participant-integration-api/src/test/suite/scala/db/migration/translation/ValueSerializerTest.scala
Labels: component/daml-lf, component/ledger

#8244 Factor out the middleware client from the trigger server
  triggers/service/auth/BUILD.bazel
  triggers/service/auth/src/main/scala/com/daml/auth/middleware/api/Client.scala
  triggers/service/auth/src/main/scala/com/daml/auth/middleware/api/Request.scala
  triggers/service/auth/src/main/scala/com/daml/auth/middleware/oauth2/Server.scala
  triggers/service/auth/src/test/scala/com/daml/auth/middleware/oauth2/Test.scala
  triggers/service/auth/src/test/scala/com/daml/auth/middleware/oauth2/TestFixture.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Server.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/TriggerRunnerImpl.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/dao/DbTriggerDao.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/dao/InMemoryTriggerDao.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/dao/RunningTriggerDao.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/package.scala
Labels: automerge

#8255 daily ci: remove debug output
  ci/daily_tell_slack.yml
Labels: automerge

#8256 Bump perf test
  ci/cron/perf/test_sha
Labels: automerge

#8258 LF: Simplify Language Version representation
  compiler/repl-service/server/src/main/scala/com/digitalasset/daml/lf/ReplServiceMain.scala
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/ScenarioServiceMain.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/Reader.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV1Spec.scala
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/DamlLfEncoder.scala
  daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/archive/testing/EncodeV1Spec.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/EngineConfig.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageMajorVersion.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageMinorVersion.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
  daml-lf/language/src/test/scala/com/digitalasset/daml/lf/language/LanguageVersionSpec.scala
  daml-lf/repl/src/main/scala/com/digitalasset/daml/lf/repl/testing/Main.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/VersionTimeline.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionVersionSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/VersionTimelineSpec.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/DependencyVersionSpec.scala
Labels: component/daml-engine

#8217 LF: remove version from value nested in Node.
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Blinding.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Event.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/Preprocessor.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/TransactionPreprocessor.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/InMemoryPrivateLedgerData.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/LargeTransactionTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/ledger/BlindingTransaction.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/scenario/ScenarioLedger.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SResult.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/CheckAuthorization.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ScenarioRunner.scala
  daml-lf/scenario-interpreter/src/perf/benches/scala/com/digitalasset/daml/lf/speedy/perf/CollectAuthority.scala
  daml-lf/transaction-test-lib/src/main/scala/lf/transaction/test/TransactionBuilder.scala
  daml-lf/transaction-test-lib/src/main/scala/lf/value/test/ValueGenerators.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Node.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionCoder.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionVersion.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/Value.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionCoderSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionSpec.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/LedgerInteraction.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/common/PlatformTypes.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/participant/util/LfEngineToApi.scala
  ledger/participant-integration-api/src/main/scala/db/migration/postgres/V4_1__Collect_Parties.scala
  ledger/participant-integration-api/src/main/scala/db/migration/postgres/v25_backfill_participant_events/V25EventsTableInsert.scala
  ledger/participant-integration-api/src/main/scala/db/migration/postgres/v25_backfill_participant_events/package.scala
  ledger/participant-integration-api/src/main/scala/db/migration/postgres/v29_fix_participant_events/V29EventsTableInsert.scala
  ledger/participant-integration-api/src/main/scala/db/migration/postgres/v29_fix_participant_events/package.scala
  ledger/participant-integration-api/src/main/scala/db/migration/translation/ContractSerializer.scala
  ledger/participant-integration-api/src/main/scala/platform/index/TransactionConversion.scala
  ledger/participant-integration-api/src/main/scala/platform/store/ActiveLedgerStateManager.scala
  ledger/participant-integration-api/src/main/scala/platform/store/Contract.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/ContractsTable.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/LfValueTranslation.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/PostCommitValidation.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/package.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoSuite.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoTransactionTreesSpec.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoTransactionsSpec.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/Conversions.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/InputsAndEffects.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/TransactionCommitter.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/KVUtilsTransactionSpec.scala
  ledger/participant-state/kvutils/tools/engine-benchmark/src/benchmark/scala/ledger/participant/state/kvutils/tools/engine/benchmark/Adapter.scala
  ledger/participant-state/kvutils/tools/engine-benchmark/src/benchmark/scala/ledger/participant/state/kvutils/tools/engine/benchmark/Replay.scala
Labels: component/daml-engine

#8264 kvutils: Extract out a common type for the ledger state readers. [KVL-747]
  ledger/participant-state/kvutils/BUILD.bazel
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/DamlLedgerStateReader.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/RawToDamlLedgerStateReaderAdapter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/batch/BatchedSubmissionValidator.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/batch/BatchedSubmissionValidatorFactory.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/batch/BatchedValidatingCommitter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/caching/CachingDamlLedgerStateReader.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/reading/StateReader.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/reading/package.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/validator/ArgumentMatchers.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/LogAppendingCommitStrategySpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/RawToDamlLedgerStateReaderAdapterSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/SubmissionValidatorSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/batch/BatchedSubmissionValidatorSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/batch/BatchedValidatingCommitterSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/caching/CachingDamlLedgerStateReaderSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/caching/CachingDamlLedgerStateReaderWithFingerprintsSpec.scala
  ledger/participant-state/kvutils/tools/integrity-check/src/main/scala/ledger/participant/state/kvutils/tools/integritycheck/LogAppendingCommitStrategySupport.scala
  ledger/participant-state/kvutils/tools/src/main/scala/ledger/participant/state/kvutils/tools/integritycheck/CommitStrategySupport.scala
Labels: automerge

#8269 Bump perf test
  ci/cron/perf/test_sha
Labels: automerge

#8273 LF: retire VersionTimeline
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Context.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV1Spec.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/LfVersions.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/VersionRange.scala
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/DamlLfEncoder.scala
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/EncodeV1.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/EngineConfig.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ContractDiscriminatorFreshnessCheckSpec.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/interpreter/perf/BUILD.bazel
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageMajorVersion.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
  daml-lf/language/src/test/scala/com/digitalasset/daml/lf/language/LanguageVersionSpec.scala
  daml-lf/repl/src/main/scala/com/digitalasset/daml/lf/repl/testing/Main.scala
  daml-lf/transaction-test-lib/src/main/scala/lf/transaction/test/TransactionBuilder.scala
  daml-lf/transaction-test-lib/src/main/scala/lf/value/test/ValueGenerators.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Node.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionCoder.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionVersion.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/VersionTimeline.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/ValueCoder.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/ValueVersion.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionCoderSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionVersionSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/VersionTimelineSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/value/ValueCoderSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/value/ValueSpec.scala
  daml-lf/validation/BUILD.bazel
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/DependencyVersion.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/ValidationError.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/ledger/api/validation/CommandsValidator.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoDivulgenceSpec.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoSuite.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/SimplePackage.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/ProjectionsSpec.scala
  ledger/sandbox/BUILD.bazel
Labels: component/daml-lf

#8281 LF: fix some of the choice-observer FIXMEs
  daml-lf/spec/transaction.rst
  daml-lf/transaction-test-lib/src/main/scala/lf/transaction/test/TransactionBuilder.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionCoderSpec.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
Labels: component/daml-lf

#8282 Build //libs-scala/... on 2.13
  azure-pipelines.yml
  bazel_tools/proto.bzl
  bazel_tools/runfiles/src/main/scala/com/digitalasset/daml/bazeltools/BazelRunfiles.scala
  bazel_tools/scala.bzl
  ledger-api/rs-grpc-akka/BUILD.bazel
  ledger-api/rs-grpc-akka/src/main/scala/com/digitalasset/grpc/adapter/AkkaExecutionSequencer.scala
  ledger-api/rs-grpc-akka/src/main/scala/com/digitalasset/grpc/adapter/AkkaExecutionSequencerPool.scala
  ledger-api/testing-utils/BUILD.bazel
  ledger-api/testing-utils/src/main/scala/com/digitalasset/ledger/api/testing/utils/MultiFixtureBase.scala
  ledger-api/testing-utils/src/main/scala/com/digitalasset/ledger/api/testing/utils/MultiResourceBase.scala
  ledger/participant-integration-api/BUILD.bazel
  ledger/participant-state/kvutils/app/BUILD.bazel
  libs-scala/build-info/BUILD.bazel
  libs-scala/build-info/src/main/scala/com/digitalasset/buildinfo/BuildInfo.scala
  libs-scala/concurrent/BUILD.bazel
  libs-scala/concurrent/src/main/scala/concurrent/ExecutionContextOf.scala
  libs-scala/concurrent/src/main/scala/concurrent/FutureOf.scala
  libs-scala/concurrent/src/test/scala/concurrent/ExecutionContextSpec.scala
  libs-scala/contextualized-logging/BUILD.bazel
  libs-scala/contextualized-logging/src/main/scala/com/digitalasset/logging/LoggingContext.scala
  libs-scala/contextualized-logging/src/main/scala/com/digitalasset/logging/LoggingContextOf.scala
  libs-scala/contextualized-logging/src/test/suite/scala/com/digitalasset/logging/ContextualizedLoggerIT.scala
  libs-scala/flyway-testing/BUILD.bazel
  libs-scala/flyway-testing/src/main/scala/flyway/AbstractImmutableMigrationsSpec.scala
  libs-scala/gatling-utils/BUILD.bazel
  libs-scala/gatling-utils/src/main/scala/com/daml/gatling/stats/SimulationLog.scala
  libs-scala/gatling-utils/src/test/scala/com/daml/gatling/stats/SimulationLogSpec.scala
  libs-scala/postgresql-testing/BUILD.bazel
  libs-scala/postgresql-testing/src/main/scala/com/digitalasset/testing/postgresql/PostgresAround.scala
  libs-scala/resources-akka/BUILD.bazel
  libs-scala/resources/BUILD.bazel
  libs-scala/resources/src/main/2.12/com/daml/resources/UnitCanBuildFrom.scala
  libs-scala/resources/src/main/2.13/com/daml/resources/UnitCanBuildFrom.scala
  libs-scala/resources/src/main/scala/com/digitalasset/resources/ResourceFactories.scala
  libs-scala/scala-utils/BUILD.bazel
  libs-scala/scala-utils/src/main/scala/com/daml/scalautil/Statement.scala
  libs-scala/scalatest-utils/BUILD.bazel
  libs-scala/scalatest-utils/src/main/scala/scalatest/AsyncForAll.scala
  libs-scala/scalatest-utils/src/main/scala/scalatest/Equalz.scala
  libs-scala/timer-utils/src/main/scala/com/digitalasset/timer/PromiseTask.scala
  scala-protoc-plugins/scalapb/BUILD.bazel
Labels: automerge

#8262 kvutils: Generalize caching. [KVL-747]
  ledger/caching/src/main/scala/com/daml/caching/Cache.scala
  ledger/caching/src/main/scala/com/daml/caching/CaffeineCache.scala
  ledger/caching/src/main/scala/com/daml/caching/MappedCache.scala
  ledger/caching/src/main/scala/com/daml/caching/NoCache.scala
  ledger/caching/src/main/scala/com/daml/caching/SizedCache.scala
  ledger/caching/src/main/scala/com/daml/caching/WeightedCache.scala
  ledger/caching/src/test/lib/scala/com/daml/caching/ConcurrentCacheBehaviorSpecBase.scala
  ledger/caching/src/test/lib/scala/com/daml/caching/ConcurrentCacheCachingSpecBase.scala
  ledger/caching/src/test/lib/scala/com/daml/caching/ConcurrentCacheEvictionSpecBase.scala
  ledger/caching/src/test/lib/scala/com/daml/caching/ConcurrentCacheSpecBase.scala
  ledger/caching/src/test/lib/scala/com/daml/caching/MapBackedCacheForTesting.scala
  ledger/caching/src/test/suite/scala/com/daml/caching/MapBackedCacheForTestingSpec.scala
  ledger/caching/src/test/suite/scala/com/daml/caching/MappedCacheSpec.scala
  ledger/caching/src/test/suite/scala/com/daml/caching/NoCacheSpec.scala
  ledger/caching/src/test/suite/scala/com/daml/caching/SizedCacheSpec.scala
  ledger/caching/src/test/suite/scala/com/daml/caching/WeightedCacheSpec.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/SqlLedgerReaderWriter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/SubmissionValidator.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/batch/BatchedSubmissionValidatorFactory.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/batch/BatchedValidatingCommitter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/caching/AlwaysCacheUpdatePolicy.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/caching/CacheUpdatePolicy.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/caching/CachingCommitStrategy.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/caching/CachingDamlLedgerStateReader.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/caching/CachingDamlLedgerStateReaderWithFingerprints.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/caching/CachingStateReader.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/caching/ImmutablesOnlyCacheUpdatePolicy.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/caching/NeverCacheUpdatePolicy.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/LedgerStateReaderWithFingerprints.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/LedgerStateReaderWithFingerprintsFromValues.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/PreExecutingValidatingCommitter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/RawToDamlLedgerStateReaderWithFingerprintsAdapter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/package.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/reading/LedgerStateOperationsReaderAdapter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/reading/StateReader.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/reading/package.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/caching/CachingDamlLedgerStateReaderSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/caching/CachingDamlLedgerStateReaderWithFingerprintsSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/caching/CachingStateReaderSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/preexecution/PreExecutingSubmissionValidatorSpec.scala
Labels: automerge

#8286 [not trunk] kvutils: Revert fixes to the read set to ensure that all input state is captured. [KVL-773]
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/CommitContext.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/Committer.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/ConfigCommitter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/PackageCommitter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/PartyAllocationCommitter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/TransactionCommitter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/PreExecutingSubmissionValidator.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/PreExecutingValidatingCommitter.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/KVTest.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/TestHelpers.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/committer/FakeCommitContext.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/validator/TestHelper.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/CommitContextSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/CommitterSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/ConfigCommitterSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/PackageCommitterSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/PartyAllocationCommitterSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/TransactionCommitterSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/preexecution/PreExecutingSubmissionValidatorSpec.scala
Labels: automerge

#8283 LF: Archive decoder reject choice observers for LF < 1.dev
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV1Spec.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
Labels: component/daml-lf

#8291 Do not checkout release commit in scala 2.13
  azure-pipelines.yml
Labels: automerge

#8290 Release 1.8.0-snapshot.20201214.5841.0.a8ae8e4a. [KVL-773]
  LATEST
Labels: Standard-Change, automerge

#8272 Benchmarks for Speedy/DAML-LF/Protobuf translations [DPP-104]
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/ValueTranslator.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Anf.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SError.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/svalue/OrderingSpec.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Util.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/ValueCoder.scala
  ledger/participant-state/kvutils/BUILD.bazel
  ledger/participant-state/kvutils/tools/BUILD.bazel
  ledger/participant-state/kvutils/tools/codec-benchmark/README.md
  ledger/participant-state/kvutils/tools/codec-benchmark/src/benchmark/scala/com/daml/lf/DecodeTransactionBenchmark.scala
  ledger/participant-state/kvutils/tools/codec-benchmark/src/benchmark/scala/com/daml/lf/DecodeValueBenchmark.scala
  ledger/participant-state/kvutils/tools/codec-benchmark/src/benchmark/scala/com/daml/lf/DeserializeTransactionBenchmark.scala
  ledger/participant-state/kvutils/tools/codec-benchmark/src/benchmark/scala/com/daml/lf/DeserializeValueBenchmark.scala
  ledger/participant-state/kvutils/tools/codec-benchmark/src/benchmark/scala/com/daml/lf/EncodeTransactionBenchmark.scala
  ledger/participant-state/kvutils/tools/codec-benchmark/src/benchmark/scala/com/daml/lf/EncodeValueBenchmark.scala
  ledger/participant-state/kvutils/tools/codec-benchmark/src/benchmark/scala/com/daml/lf/SerializeTransactionBenchmark.scala
  ledger/participant-state/kvutils/tools/codec-benchmark/src/benchmark/scala/com/daml/lf/SerializeValueBenchmark.scala
  ledger/participant-state/kvutils/tools/codec-benchmark/src/benchmark/scala/com/daml/lf/benchmark/BenchmarkWithLedgerExport.scala
  ledger/participant-state/kvutils/tools/codec-benchmark/src/benchmark/scala/com/daml/lf/benchmark/Submissions.scala
  ledger/participant-state/kvutils/tools/codec-benchmark/src/benchmark/scala/com/daml/lf/benchmark/SubmissionsBuilder.scala
  ledger/participant-state/kvutils/tools/codec-benchmark/src/benchmark/scala/com/daml/lf/benchmark/TypedValue.scala
  ledger/participant-state/kvutils/tools/codec-benchmark/src/benchmark/scala/com/daml/lf/benchmark/TypedValueExtractor.scala
  ledger/participant-state/kvutils/tools/codec-benchmark/src/benchmark/scala/com/daml/lf/benchmark/package.scala
  ledger/participant-state/kvutils/tools/codec-benchmark/src/benchmark/scala/com/daml/lf/engine/SpeedyToValueBenchmark.scala
  ledger/participant-state/kvutils/tools/codec-benchmark/src/benchmark/scala/com/daml/lf/engine/ValueTranslatorBenchmark.scala
  ledger/participant-state/kvutils/tools/codec-benchmark/src/benchmark/scala/com/daml/lf/engine/package.scala
  ledger/participant-state/kvutils/tools/codec-benchmark/src/benchmark/scala/com/daml/lf/speedy/MachineImportValueBenchmark.scala
  ledger/participant-state/kvutils/tools/engine-benchmark/src/benchmark/scala/ledger/participant/state/kvutils/tools/engine/benchmark/Adapter.scala
Labels: automerge

#8285 damlc: Don't warn on ExplicitNamespaces extension
  compiler/damlc/daml-opts/daml-opts/DA/Daml/Options.hs
  compiler/damlc/tests/daml-test-files/TypeFamily.daml
  compiler/damlc/tests/src/DA/Test/DataDependencies.hs
Labels: automerge

#8289 kvutils: Reduce the surface area of fingerprints in pre-execution. [KVL-747]
  ledger/ledger-on-memory/src/main/scala/com/daml/ledger/on/memory/InMemoryLedgerReaderWriter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/LedgerStateAccess.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/caching/CachingDamlLedgerStateReaderWithFingerprints.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/ConflictDetectedException.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/FingerprintAwarePostExecutionConflictDetector.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/KeyNotPresentInInputException.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/LogAppenderPreExecutingCommitStrategy.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/PostExecutionConflictDetector.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/PostExecutionFinalizer.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/PreExecutingCommitStrategy.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/PreExecutingSubmissionValidator.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/PreExecutingValidatingCommitter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/PreExecutionOutput.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/RawPostExecutionFinalizer.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/package.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/preexecution/LogAppenderPreExecutingCommitStrategySpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/preexecution/PreExecutingSubmissionValidatorSpec.scala
Labels: automerge

#8297 Update CODEOWNERS for NOTICES file changes
  CODEOWNERS
Labels: automerge

#8304 Release 1.6.1-snapshot.20201215.5318.0.547abc97
  LATEST
Labels: Standard-Change

#8309 Release SDK 1.8
  LATEST
Labels: Standard-Change

#8299 LF: Refactor TransactionVersion
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/VersionRange.scala
  daml-lf/repl/src/main/scala/com/digitalasset/daml/lf/repl/testing/Main.scala
  daml-lf/transaction-test-lib/src/main/scala/lf/transaction/test/TransactionBuilder.scala
  daml-lf/transaction-test-lib/src/main/scala/lf/value/test/ValueGenerators.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionCoder.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionVersion.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionCoderSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionVersionSpec.scala
Labels: component/daml-lf

#8308 Release 1.9 snapshot
  LATEST
Labels: Standard-Change

#8311 Fix slack escaping
  ci/bash-lib.yml
  ci/daily_tell_slack.yml
  ci/tell-slack-failed.yml
Labels: automerge

#8316 Make choice observers mandatory when available.
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/EncodeV1.hs
  compiler/damlc/tests/daml-test-files/ChoiceObservers.daml
  daml-lf/archive/src/main/protobuf/com/daml/daml_lf_dev/daml_lf_1.proto
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV1Spec.scala
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/EncodeV1.scala
  daml-lf/encoder/src/test/lf/Template_1.6_1.7_1.8_.lf
  daml-lf/encoder/src/test/lf/Template_1.dev_.lf
  daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/archive/testing/EncodeV1Spec.scala
Labels: automerge

#8296 kvutils: Remove fingerprints from the pre-executing validator. [KVL-747]
  ledger/ledger-on-memory/src/main/scala/com/daml/ledger/on/memory/InMemoryLedgerReaderWriter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/package.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/PreExecutingSubmissionValidator.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/PreExecutingValidatingCommitter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/reading/HasDamlStateValue.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/preexecution/PreExecutingSubmissionValidatorSpec.scala
Labels: automerge

#8326 Reset Windows cache
  build.ps1
  ci/configure-bazel.sh
  compatibility/build-release-artifacts-windows.ps1
Labels: automerge

#8303 LF: retire ValueVersion
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/VersionRange.scala
  daml-lf/engine/BUILD.bazel
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ContractDiscriminatorFreshnessCheckSpec.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SError.scala
  daml-lf/repl/src/main/scala/com/digitalasset/daml/lf/repl/testing/Main.scala
  daml-lf/transaction-test-lib/src/main/scala/lf/transaction/test/TransactionBuilder.scala
  daml-lf/transaction-test-lib/src/main/scala/lf/value/test/ValueGenerators.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Node.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionCoder.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionVersion.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/Value.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/ValueCoder.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/ValueVersion.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionCoderSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionVersionSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/value/ValueCoderSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/value/ValueSpec.scala
  ledger/participant-integration-api/src/main/scala/db/migration/postgres/V38__Update_value_versions.scala
  ledger/participant-integration-api/src/main/scala/db/migration/translation/ValueSerializer.scala
  ledger/participant-integration-api/src/main/scala/platform/store/serialization/ValueSerializer.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoDivulgenceSpec.scala
  ledger/participant-state/kvutils/tools/codec-benchmark/src/benchmark/scala/com/daml/lf/benchmark/package.scala
Labels: component/daml-lf

#8312 LF: Add exceptions to Scala DAML-LF AST
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV1Spec.scala
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/EncodeV1.scala
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/reader/InterfaceReader.scala
  daml-lf/interface/src/test/scala/com/digitalasset/daml/lf/iface/TypeSpec.scala
  daml-lf/interface/src/test/scala/com/digitalasset/daml/lf/iface/reader/InterfaceReaderSpec.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/InterpreterTest.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/TypeOrdering.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Util.scala
  daml-lf/language/src/test/scala/com/digitalasset/daml/lf/language/AstSpec.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/AstRewriter.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ModParser.scala
  daml-lf/parser/src/test/scala/com/digitalasset/daml/lf/testing/parser/ParsersSpec.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Serializability.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/traversable/ExprTraversable.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/traversable/TypeTraversable.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/DependencyVersionSpec.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Converter.scala
Labels: component/daml-lf

#8328 Support multi-party submissions in the JSON API
  docs/source/json-api/index.rst
  ledger-service/http-json/src/it/scala/http/AbstractHttpServiceIntegrationTest.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/CommandService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/EndpointsCompanion.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/domain.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/util/Commands.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/DomainSpec.scala
Labels: automerge

#8319 kvutils: Avoid serializing keys and values except when necessary. [KVL-747]
  ledger/ledger-on-memory/src/main/scala/com/daml/ledger/on/memory/InMemoryLedgerReaderWriter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/package.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/RawToDamlLedgerStateReaderAdapter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/batch/BatchedSubmissionValidatorFactory.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/caching/CachingDamlLedgerStateReaderWithFingerprints.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/caching/CachingStateReader.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/EqualityBasedPostExecutionConflictDetector.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/FingerprintAwarePostExecutionConflictDetector.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/LogAppenderPreExecutingCommitStrategy.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/PostExecutionConflictDetector.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/PreExecutingCommitStrategy.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/PreExecutingValidatingCommitter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/reading/LedgerStateOperationsReaderAdapter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/reading/StateReader.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/validator/ArgumentMatchers.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/validator/TestHelper.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/batch/BatchedSubmissionValidatorSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/caching/CachingStateReaderSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/preexecution/LogAppenderPreExecutingCommitStrategySpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/preexecution/PreExecutingSubmissionValidatorSpec.scala
Labels: automerge

#8337 kvutils: Remove fingerprints from the PreExecutingValidatingCommitter. [KVL-747]
  ledger/ledger-on-memory/src/main/scala/com/daml/ledger/on/memory/InMemoryLedgerReaderWriter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/LedgerStateAccess.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/PostExecutionConflictDetector.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/PreExecutingValidatingCommitter.scala
Labels: automerge

#8332 LF: update LF parser with exceptions
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ExprParser.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/Lexer.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ModParser.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/Token.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/TypeParser.scala
  daml-lf/parser/src/test/scala/com/digitalasset/daml/lf/testing/parser/ParsersSpec.scala
Labels: component/daml-engine

#8341 Disable daml assistant's update-check by default.
  daml-assistant/src/DA/Daml/Assistant/Install.hs
Labels: automerge

#8342 Make auth callback URIs configurable
  triggers/service/auth/src/main/scala/com/daml/auth/middleware/oauth2/Config.scala
  triggers/service/auth/src/main/scala/com/daml/auth/middleware/oauth2/Server.scala
  triggers/service/auth/src/test/scala/com/daml/auth/middleware/oauth2/Test.scala
  triggers/service/auth/src/test/scala/com/daml/auth/middleware/oauth2/TestFixture.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Server.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/ServiceConfig.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/ServiceMain.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceFixture.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceTest.scala
Labels: automerge, component/trigger-service

#8280 LF: Preview of LF 1.11
  daml-lf/archive/src/main/protobuf/com/daml/daml_lf_dev/daml_lf_1.proto
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/encoder/BUILD.bazel
  daml-lf/encoder/src/test/lf/Any_1.7_1.8_1.11_1.dev_.lf
  daml-lf/encoder/src/test/lf/Builtin_1.11_.lf
  daml-lf/encoder/src/test/lf/GenMap_1.11_1.dev_.lf
  daml-lf/encoder/src/test/lf/Numeric_1.7_1.8_1.11_1.dev_.lf
  daml-lf/encoder/src/test/lf/Synonym_1.8_1.11_1.dev_.lf
  daml-lf/encoder/src/test/lf/Template_1.11_1.dev_.lf
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/EngineConfig.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineInfoTest.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageMajorVersion.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
  daml-lf/spec/daml-lf-1.rst
  daml-lf/spec/transaction.rst
  daml-lf/spec/value.rst
  daml-lf/transaction/src/main/protobuf/com/daml/lf/transaction.proto
  daml-lf/transaction/src/main/protobuf/com/daml/lf/value.proto
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionVersion.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionCoderSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionVersionSpec.scala
  language-support/ts/codegen/tests/ts/build-and-lint-test/src/__tests__/test.ts
  ledger/daml-on-sql/src/main/scala/on/sql/Cli.scala
  ledger/daml-on-sql/src/main/scala/on/sql/package.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/SandboxServer.scala
  ledger/sandbox-classic/src/test/lib/scala/platform/sandbox/services/SandboxFixture.scala
  ledger/sandbox-common/src/main/scala/platform/sandbox/cli/CommonCli.scala
  ledger/sandbox-common/src/main/scala/platform/sandbox/config/SandboxConfig.scala
  ledger/sandbox-common/src/test/lib/scala/platform/sandbox/AbstractSandboxFixture.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceFixture.scala
Labels: component/daml-lf

#8340 ledger-on-memory: Don't bother with fingerprints. [KVL-747]
  ledger/ledger-on-memory/src/app/scala/com/daml/ledger/on/memory/InMemoryLedgerFactory.scala
  ledger/ledger-on-memory/src/main/scala/com/daml/ledger/on/memory/InMemoryLedgerReaderWriter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/package.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/caching/CachingDamlLedgerStateReaderWithFingerprints.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/PreExecutingSubmissionValidator.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/RawPreExecutingCommitStrategy.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/preexecution/PreExecutingSubmissionValidatorSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/preexecution/RawPreExecutingCommitStrategySpec.scala
Labels: automerge

#8346 Fix compare.sh again
  ci/cron/perf/compare.sh
Labels: automerge

#8345 Release 1.6.1
  LATEST
Labels: Standard-Change

#8245 rename master to main
  .github/pull_request_template.md
  BAZEL-haskell.md
  BAZEL.md
  CONTRIBUTING.md
  README.md
  azure-cron.yml
  azure-pipelines.yml
  bazel_tools/pom_template.xml
  ci/bash-lib.yml
  ci/build-unix.yml
  ci/build-windows.yml
  ci/check-changelog.sh
  ci/cron/daily-compat.yml
  ci/cron/tuesday.yml
  ci/cron/wednesday.yml
  ci/daily_tell_slack.yml
  ci/tell-slack-failed.yml
  compiler/daml-extension/package.json
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/NameCollision.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
  daml-lf/archive/README.md
  daml-lf/archive/src/main/protobuf/com/daml/daml_lf_dev/daml_lf_1.proto
  dev-env/git-hooks/pre-push
  docs/source/app-dev/bindings-scala/index.rst
  docs/source/app-dev/bindings-ts/daml2js.rst
  docs/source/app-dev/bindings-x-lang/index.rst
  docs/source/app-dev/daml-lf-translation.rst
  docs/source/app-dev/grpc/index.rst
  docs/source/daml-integration-kit/index.rst
  docs/source/daml/intro/0_Intro.rst
  docs/source/daml/intro/8_Dependencies.rst
  docs/source/support/overview.rst
  docs/source/support/releases.rst
  docs/source/support/support.rst
  fmt.sh
  infra/macos/1-create-box/README.md
  infra/vsts_agent_linux_startup.sh
  language-support/hs/bindings/examples/nim/demo.md
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/components/LedgerViewFlowableSpec.scala
  language-support/ts/codegen/README.md
  language-support/ts/daml-ledger/README.md
  release.sh
  release/RELEASE.md
  templates/create-daml-app/README.md.template
Labels: Standard-Change
