Repository digital-asset/daml, pull requests merged in 2020-05, with the labels that each got.

#5816 Trigger service: Use tagged Party type instead of String
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Request.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/ServiceMain.scala
Labels: automerge

#5818 Fix the DAML-LF spec regarding text/codepoints conversion
  daml-lf/spec/daml-lf-1.rst
Labels: automerge

#5812 Remove spurious first argument from SHIFT_NUMERIC in DAML-LF spec
  daml-lf/spec/daml-lf-1.rst
Labels: automerge

#5820 Sandbox: expose back pressure config in CLI
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Config.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/LedgerFactory.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Runner.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/ApiServices.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/ApiCommandService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/configuration/CommandConfiguration.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/cli/Cli.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/config/SandboxConfig.scala
Labels: component/ledger

#5824 hopefully fix memory issue with pg on macos CI
  infra/macos/1-create-box/user-script.sh
Labels: Standard-Change

#5822 Upgrade scala compiler silencer to 1.6.0
  WORKSPACE
  bazel-java-deps.bzl
  daml-lf/transaction/BUILD.bazel
  language-support/scala/bindings/BUILD.bazel
  ledger-service/db-backend/BUILD.bazel
  ledger/ledger-api-common/BUILD.bazel
  maven_install.json
Labels: automerge

#5833 Fix typo Fasle -> False in com.daml.value.Value
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/Value.scala
Labels: automerge

#5791 Restrict sandbox memory in daml-ledger compatibility test
  compatibility/bazel_tools/daml_ledger/Sandbox.hs
  compatibility/bazel_tools/testing.bzl
Labels: automerge

#5825 Setup compatibility tests for DAML Script
  compatibility/BUILD
  compatibility/bazel_tools/daml_script/BUILD.bazel
  compatibility/bazel_tools/daml_script/daml_script.bzl
  compatibility/bazel_tools/daml_script/example/src/ScriptExample.daml
Labels: automerge

#5835 Refactorings
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
Labels: component/daml-engine

#5223 JSON decoding support for GenMap
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/Bytes.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/svalue/OrderingSpec.scala
  daml-lf/transaction-scalacheck/BUILD.bazel
  daml-lf/transaction-scalacheck/src/main/scala/com/digitalasset/daml/lf/value/ValueGenerators.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/crypto/Hash.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/Value.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/crypto/HashSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/value/ValueSpec.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
  docs/source/json-api/lf-value-specification.rst
  extractor/src/main/scala/com/digitalasset/extractor/json/JsonConverters.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/JsonProtocol.scala
  ledger-service/lf-value-json/src/main/scala/com/digitalasset/daml/lf/value/json/ApiCodecCompressed.scala
  ledger-service/lf-value-json/src/test/scala/com/digitalasset/daml/lf/value/json/ApiCodecCompressedSpec.scala
  ledger/participant-state/BUILD.bazel
Labels: component/json-api

#5848 Fixing the text in jwt.io link.
  docs/source/tools/sandbox.rst
Labels: automerge

#5849 Trigger service: Use JSON object in result of upload dar response
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/ServiceMain.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/ServiceTest.scala
Labels: automerge

#5841 docs: publish cheat sheet under docs.daml.com/cheat-sheet
  WORKSPACE
  deps.bzl
  docs/BUILD.bazel
  nix/bazel.nix
Labels: automerge, language

#5846 Apply platform_suffix on all Windows pipelines
  ci/configure-bazel.sh
  compatibility/test-windows.ps1
Labels: automerge

#5850 contract IDs' suffixes must match in emptiness, not mismatch
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/svalue/Ordering.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/svalue/OrderingSpec.scala
  daml-lf/transaction-scalacheck/src/main/scala/com/digitalasset/daml/lf/value/ValueGenerators.scala
Labels: component/daml-engine

#5856 disable https check for JWT tokens in JSON API, warn instead
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/HttpServiceIntegrationTest.scala
Labels: component/json-api

#5805 Engine: Contract IDs collecter for values, transactions…
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/SortedLookupList.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Event.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Node.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/CidContainer.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/Value.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionVersionSpec.scala
Labels: component/daml-engine

#5861 Fix broken migration v25 with v29
  ledger/sandbox/src/main/resources/db/migration/postgres/V29__Drop_old_schema.sha256
  ledger/sandbox/src/main/resources/db/migration/postgres/V30__Drop_old_schema.sha256
  ledger/sandbox/src/main/resources/db/migration/postgres/V30__Drop_old_schema.sql
  ledger/sandbox/src/main/scala/db/migration/postgres/V29__Fix_participant_events.scala
  ledger/sandbox/src/main/scala/db/migration/postgres/v29_fix_participant_events/V29EventsTableInsert.scala
  ledger/sandbox/src/main/scala/db/migration/postgres/v29_fix_participant_events/V29TransactionsWriter.scala
  ledger/sandbox/src/main/scala/db/migration/postgres/v29_fix_participant_events/V29WitnessesTable.scala
  ledger/sandbox/src/main/scala/db/migration/postgres/v29_fix_participant_events/package.scala
Labels: automerge

#5858 Make Bearer prefix optional in Haskell ledger bindings
  compatibility/bazel_tools/daml_ledger/Main.hs
  daml-assistant/daml-helper/test/DA/Daml/Helper/Test/Deployment.hs
  language-support/hs/bindings/src/DA/Ledger/LedgerService.hs
Labels: automerge

#5860 Print the postgres log on failures
  compatibility/BUILD
  compatibility/bazel_tools/client_server/with-postgres/BUILD
  compatibility/bazel_tools/client_server/with-postgres/lib/WithPostgres.hs
Labels: automerge

#5863 Implement version name shortening for Windows
  compatibility/bazel_tools/daml_script/daml_script.bzl
  compatibility/bazel_tools/testing.bzl
  compatibility/bazel_tools/versions.bzl
Labels: automerge

#5784 DAML-LF: Contract ID allocation scheme specification
  daml-lf/spec/contract-id.rst
  daml-lf/spec/daml-lf-1.rst
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
Labels: component/daml-lf

#5871 DAML-Script: cleanup to prepare #5811
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
Labels: automerge

#5811 Optimize Speedy machine.ctrl
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/svalue/OrderingSpec.scala
  daml-lf/repl/src/main/scala/com/digitalasset/daml/lf/repl/testing/Main.scala
  daml-lf/scenario-interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ScenarioRunnerTest.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Runner.scala
Labels: component/daml-engine

#5876 Contract ID spec. Address Martin's comments Martin #5784
  daml-lf/spec/contract-id.rst
Labels: automerge, component/daml-lf

#5865 Engine: Drop complicated implicit CidConsumer
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Event.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Node.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/CidContainer.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/Value.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionSpec.scala
Labels: component/daml-engine

#5881 Simplify and clarify the public interface to Speedy.
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Context.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/InterpreterTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SpeedyTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/svalue/OrderingSpec.scala
  daml-lf/repl/src/main/scala/com/digitalasset/daml/lf/repl/testing/Main.scala
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ScenarioRunner.scala
  daml-lf/scenario-interpreter/src/perf/benches/scala/com/digitalasset/daml/lf/speedy/perf/CollectAuthority.scala
  daml-lf/scenario-interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ScenarioRunnerTest.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/ScenarioLoader.scala
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Runner.scala
Labels: automerge, component/daml-engine

#5893 Move Bazel configuration before formatting
  ci/build-unix.yml
Labels: automerge

#5875 More annotations
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Runner.scala
Labels: automerge

#5869 ledger-on-sql: Use dedicated database execution contexts.
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/Database.scala
Labels: automerge

#5890 Simplify how speedy returns its final result.
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/svalue/OrderingSpec.scala
Labels: component/daml-engine

#5888 ledger-on-sql: Remove the reference to the removed "common" migrations.
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/Database.scala
Labels: automerge

#5867 Engine: Add in-execution-order traversal for transactions.
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionSpec.scala
Labels: component/daml-engine

#5894 DAML-LF: type checkers reject repeated variables in pattern
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Check.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Env.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Error.hs
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/ValidationError.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/TypingSpec.scala
Labels: component/daml-lf

#5905 Use weak contract id seeding in compatibility tests
  compatibility/bazel_tools/testing.bzl
Labels: automerge

#5904 scala/bindings: Remove the unnecessary `@silent` annotation.
  language-support/scala/bindings/BUILD.bazel
  language-support/scala/bindings/src/main/scala/com/digitalasset/ledger/client/binding/binding/Value.scala
Labels: automerge

#5911 postgresql-testing: Use a new, random database name every time.
  WORKSPACE
  extractor/src/test/lib/scala/com/digitalasset/extractor/services/ExtractorFixture.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/HttpServiceWithPostgresIntTest.scala
  ledger/ledger-on-sql/src/test/lib/scala/com/daml/ledger/on/sql/MainWithEphemeralPostgresql.scala
  ledger/ledger-on-sql/src/test/suite/scala/com/daml/ledger/on/sql/PostgresqlSqlLedgerReaderWriterIntegrationSpec.scala
  ledger/sandbox-perf/src/perf/lib/scala/com/digitalasset/platform/sandbox/perf/LedgerFactories.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/LedgerResource.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/SandboxBackend.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/persistence/MainWithEphemeralPostgresql.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandboxnext/persistence/MainWithEphemeralPostgresql.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoBackendPostgresql.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/persistence/PostgresIT.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/services/identity/LedgerIdentityServiceIT.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedgerSpec.scala
  libs-scala/postgresql-testing/src/main/scala/com/digitalasset/testing/postgresql/PostgresAround.scala
  libs-scala/postgresql-testing/src/main/scala/com/digitalasset/testing/postgresql/PostgresAroundAll.scala
  libs-scala/postgresql-testing/src/main/scala/com/digitalasset/testing/postgresql/PostgresAroundEach.scala
  libs-scala/postgresql-testing/src/main/scala/com/digitalasset/testing/postgresql/PostgresAroundSuite.scala
  libs-scala/postgresql-testing/src/main/scala/com/digitalasset/testing/postgresql/PostgresDatabase.scala
  libs-scala/postgresql-testing/src/main/scala/com/digitalasset/testing/postgresql/PostgresFixture.scala
  libs-scala/postgresql-testing/src/main/scala/com/digitalasset/testing/postgresql/PostgresResource.scala
  libs-scala/postgresql-testing/src/main/scala/com/digitalasset/testing/postgresql/Tool.scala
Labels: automerge

#5916 Restart triggers that fail
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Runner.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/ServiceMain.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/TriggerRunner.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/TriggerRunnerImpl.scala
Labels: component/trigger-service, language

#5912 add default machine capability
  azure-cron.yml
  azure-pipelines.yml
  ci/cron/daily-compat.yml
  ci/cron/monthly.yaml
  infra/vsts_agent_linux_startup.sh
  infra/vsts_agent_windows.tf
Labels: Standard-Change

#5819 Add instrumentation and lightweight tracing to Speedy CEK machine
  daml-lf/interpreter/perf/BUILD.bazel
  daml-lf/interpreter/perf/src/main/scala/com/daml/lf/explore/Explore.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Classify.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/PrettyLightweight.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
Labels: component/daml-engine

#5928 Bump timeout in create-daml-app tests
  templates/create-daml-app-test-resources/index.test.ts
Labels: automerge

#5923 Update Contract Key docs
  docs/source/daml/reference/contract-keys.rst
  docs/source/daml/reference/updates.rst
Labels: automerge

#5927 Centralize index DB metrics naming
  ledger/metrics/src/main/scala/com/daml/metrics/DatabaseMetrics.scala
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/CommandCompletionsReader.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/DbDispatcher.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/JdbcLedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/ContractsReader.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/TransactionsReader.scala
Labels: automerge

#5913 DAML-LF: enforce size limit for Contract ID suffixes.
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/package.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ContractDiscriminatorFreshnessCheckSpec.scala
  daml-lf/transaction-scalacheck/src/main/scala/com/digitalasset/daml/lf/value/ValueGenerators.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/CidContainer.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/Value.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/value/ValueSpec.scala
Labels: component/daml-lf

#5759 Inline typeclass projections.
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Alpha.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/FreeVars.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Subst.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Type.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  compiler/daml-lf-ast/test/DA/Daml/LF/Ast/Tests.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/Simplifier.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Check.hs
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/DataDependencies.hs
  compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
  compiler/damlc/daml-visual/src/DA/Daml/Visual.hs
Labels: automerge

#5934 Fix typescript tests
  language-support/ts/codegen/tests/src/DA/Test/Daml2js.hs
Labels: automerge

#5930 Offload transaction write preparation from DB thread
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/JdbcLedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/TransactionsWriter.scala
Labels: automerge

#5942 Sandbox: addapt scenario loader to the new contract ID scheme
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/ScenarioLoader.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/AbstractSandboxFixture.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/ScenarioLoadingITBase.scala
Labels: component/daml-engine

#5939 Script to start ledger and trigger service
  triggers/service/daml-platform.sh
Labels: component/trigger-service, language

#5936 Shutdown protocol
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/ServiceConfig.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/ServiceMain.scala
Labels: component/trigger-service, language

#5918 patching Bazel on Windows (infra bits, no patch yet)
  .dadew
  azure-pipelines.yml
  ci/patch_bazel_windows/compile.yml
  ci/patch_bazel_windows/patch-bazel
  dev-env/windows/manifests/bazel.json
  dev-env/windows/manifests/vcredist-14.0.23026.json
  dev-env/windows/manifests/vcredist-14.24.28127.4.json
  infra/binaries.tf
Labels: Standard-Change

#5952 Make Remy and Martin codeowner of everything interpreter
  CODEOWNERS
Labels: automerge

#5929 Sandbox classic: Emulate legacy contract ID scheme
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/SandboxIndexAndWriteService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/Ledger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/ScenarioLoader.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/TransactionCommitter.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/inmemory/InMemoryLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedger.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/LedgerResource.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedgerSpec.scala
Labels: component/ledger

#5955 Port PerformanceEnvelope.TransactionSize perf test from Canton
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/Tests.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/PerformanceEnvelope.scala
  ledger/ledger-on-memory/BUILD.bazel
  ledger/ledger-on-sql/BUILD.bazel
Labels: automerge

#5932 Scenario service: drop useless resolveRelCid
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/types/Ledger.scala
Labels: automerge, component/daml-engine

#5960 1.2.0-snapshot.20200513.4172.0.021f4af3
  LATEST
Labels: Standard-Change

#5963 Cleanup: move unused translation helpers to migrations
  ledger/sandbox/src/main/scala/db/migration/h2database/V5_1__Populate_Event_Data.scala
  ledger/sandbox/src/main/scala/db/migration/postgres/V10_1__Populate_Event_Data.scala
  ledger/sandbox/src/main/scala/db/migration/postgres/V25__Backfill_Participant_Events.scala
  ledger/sandbox/src/main/scala/db/migration/postgres/V26_1__Fill_create_argument.scala
  ledger/sandbox/src/main/scala/db/migration/postgres/V29__Fix_participant_events.scala
  ledger/sandbox/src/main/scala/db/migration/postgres/V2_1__Rebuild_Acs.scala
  ledger/sandbox/src/main/scala/db/migration/postgres/V4_1__Collect_Parties.scala
  ledger/sandbox/src/main/scala/db/migration/translation/ContractSerializer.scala
  ledger/sandbox/src/main/scala/db/migration/translation/TransactionSerializer.scala
Labels: automerge

#5965 Ledger: Remove optionality of contract ID seeding.
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/LedgerFactory.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/ApiServerConfig.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/ApiServices.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/StandaloneApiServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/execution/CommandExecutor.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/execution/LedgerTimeAwareCommandExecutor.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/execution/StoreBackedCommandExecutor.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/execution/TimedCommandExecutor.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/ApiSubmissionService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandboxnext/Runner.scala
Labels: component/ledger

#5879 random IOU create and split testing for websocket streams
  ledger-service/http-json/src/test/scala/com/digitalasset/http/Consume.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/WebsocketServiceIntegrationTest.scala
Labels: component/json-api

#5966 Engine: Remove optionality of contract ID Seeding.
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ContractDiscriminatorFreshnessCheckSpec.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/LargeTransactionTest.scala
  daml-lf/interpreter/perf/src/main/scala/com/daml/lf/explore/Explore.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/InterpreterTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SpeedyTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/svalue/OrderingSpec.scala
  daml-lf/repl/src/main/scala/com/digitalasset/daml/lf/repl/testing/Main.scala
  daml-lf/scenario-interpreter/BUILD.bazel
  daml-lf/scenario-interpreter/src/perf/benches/scala/com/digitalasset/daml/lf/speedy/perf/CollectAuthority.scala
  daml-lf/scenario-interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ScenarioRunnerTest.scala
  daml-lf/transaction-scalacheck/src/main/scala/com/digitalasset/daml/lf/value/ValueGenerators.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/Value.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/TransactionCommitter.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/KVTest.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/KVUtilsTransactionSpec.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/execution/StoreBackedCommandExecutor.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/ScenarioLoader.scala
Labels: component/daml-engine

#5971 Update perf tests SHA
  ci/cron/perf/test_sha
Labels: automerge

#5972 Fix evaluation order for create with contract keys
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/tests/BasicTests.daml
Labels: automerge

#5975 Fix a typo in the DAML-LF spec around contract keys
  daml-lf/spec/daml-lf-1.rst
Labels: automerge

#5981 Fix quadratic runtime when reading events
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/EventsTable.scala
Labels: automerge

#5984 daml-sdk-head: Standardize the syntax of the script.
  dev-env/bin/daml-sdk-head
Labels: automerge

#5986 daml-sdk-head: Delete the SDK temporary directory after installation.
  dev-env/bin/daml-sdk-head
Labels: automerge

#5985 Ledger: remove all reference to RelativeContractId
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/common/PlatformTypes.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/Conversions.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/InputsAndEffects.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/ProjectionsSpec.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/events/EventIdFormatter.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/ActiveLedgerStateManager.scala
  ledger/sandbox/src/main/scala/db/migration/postgres/V2_1__Rebuild_Acs.scala
Labels: component/ledger

#5994 ledger/metrics: Display graphs with counts alongside mean timings.
  ledger/metrics/collection/dashboards/ledger-submissions.json
Labels: automerge

#6000 Add max-inbound-message-size in DAML trigger/service configurable
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/RunnerConfig.scala
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/RunnerMain.scala
  triggers/service/BUILD.bazel
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/ServiceConfig.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/ServiceMain.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/TriggerRunnerImpl.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceFixture.scala
  triggers/tests/BUILD.bazel
  triggers/tests/daml/MaxInboundMessageTest.daml
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/test/AbstractFuncTests.scala
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/test/AbstractTriggerTest.scala
Labels: automerge

#6001 Include sources directory in the Bazel cache key
  ci/configure-bazel.sh
Labels: automerge

#6007 Add put and getIfPresent methods to Cache
  libs-scala/caching/src/main/scala/com/daml/caching/Cache.scala
Labels: automerge

#6006 Fix launchd killing VMWare process at end of script execution
  infra/macos/scripts/README.md
  infra/macos/scripts/com.digitalasset.macos-builder-crontab.plist
Labels: Standard-Change

#6009 Include Bazel patch to cache exclusive tests on Windows
  ci/patch_bazel_windows/patch-bazel
  dev-env/windows/manifests/bazel.json
Labels: automerge

#5957 Implement a simple profiler for DAML scenarios
  compiler/repl-service/server/src/main/scala/com/digitalasset/daml/lf/ReplServiceMain.scala
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Context.scala
  daml-lf/README.md
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ConcurrentCompiledPackages.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/interpreter/BUILD.bazel
  daml-lf/interpreter/perf/src/main/scala/com/daml/lf/explore/Explore.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/CompiledPackages.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Classify.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/PrettyLightweight.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Profile.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/svalue/EqualitySpec.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/svalue/OrderingSpec.scala
  daml-lf/repl/src/main/scala/com/digitalasset/daml/lf/repl/testing/Main.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Runner.scala
Labels: automerge

#6014 ledger-api-client: Make it Closeable.
  ledger/ledger-api-client/src/it/scala/com/digitalasset/ledger/client/LedgerClientIT.scala
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/LedgerClient.scala
Labels: automerge

#6020 nixpkgs_package quiet = True
  WORKSPACE
Labels: automerge

#6019 Create a Docker image for Sandbox Next.
  ledger/sandbox/BUILD.bazel
Labels: automerge

#6030 Mark yarn compat tests exclusive everywhere
  compatibility/bazel_tools/testing.bzl
Labels: automerge

#6028 Handle record dot syntax in DAML REPL
  compiler/damlc/daml-compiler/BUILD.bazel
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Repl.hs
  compiler/damlc/daml-preprocessor/src/DA/Daml/Preprocessor/Records.hs
  compiler/damlc/tests/src/DA/Test/Repl/FuncTests.hs
Labels: automerge

#6013 Run simplifier in topological order.
  compiler/daml-lf-tools/src/DA/Daml/LF/Simplifier.hs
Labels: automerge

#6031 Document CommandConfiguration
  ledger/sandbox/src/main/scala/com/digitalasset/platform/configuration/CommandConfiguration.scala
Labels: automerge

#6035 Enforce a dependency on node_nix
  bazel_tools/rules_nodejs_node_dependency.patch
  compatibility/deps.bzl
  deps.bzl
Labels: automerge

#6016 trigger all releases from master
  LATEST
  azure-pipelines.yml
  ci/build-unix.yml
  ci/build-windows.yml
  ci/cron/src/Main.hs
  release.sh
  release/RELEASE.md
Labels: Standard-Change

#5969 find cause of genesis contract duplicate in random Websocket testing
  ledger-service/http-json/src/test/scala/com/digitalasset/http/WebsocketServiceIntegrationTest.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/LedgerBackedIndexService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/MeteredReadOnlyLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/inmemory/InMemoryLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/BaseLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/ReadOnlyLedger.scala
Labels: component/json-api, component/ledger

#6040 1.2.0-snapshot.20200520.4224.0.2af134ca
  LATEST
Labels: Standard-Change

#6047 Better tests for environment handling.
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SpeedyTest.scala
Labels: automerge, component/daml-engine

#6045 Refactoring in Speedy Classify
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Classify.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
Labels: automerge, component/daml-engine

#6048 1.2.0-snapshot.20200520.4228.0.595f1e27
  LATEST
Labels: Standard-Change

#6066 Speedy explore dar
  daml-lf/interpreter/perf/BUILD.bazel
  daml-lf/interpreter/perf/daml/Examples.daml
  daml-lf/interpreter/perf/src/main/scala/com/daml/lf/explore/ExploreDar.scala
Labels: automerge, component/daml-engine

#6067 Bazel rule to inspect dar file when compiling daml
  daml-lf/scenario-interpreter/BUILD.bazel
  rules_daml/daml.bzl
Labels: automerge

#6069 Make the Lightweight Pretty Printing more helpful.
  daml-lf/interpreter/perf/BUILD.bazel
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/PrettyLightweight.scala
Labels: automerge, component/daml-engine

#6070 Add control to speedy compiler to choose if stack-trace support occurs at runtime.
  compiler/repl-service/server/src/main/scala/com/digitalasset/daml/lf/ReplServiceMain.scala
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Context.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ConcurrentCompiledPackages.scala
  daml-lf/interpreter/perf/src/main/scala/com/daml/lf/explore/Explore.scala
  daml-lf/interpreter/perf/src/main/scala/com/daml/lf/explore/ExploreDar.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/CompiledPackages.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/svalue/OrderingSpec.scala
  daml-lf/repl/src/main/scala/com/digitalasset/daml/lf/repl/testing/Main.scala
  daml-lf/scenario-interpreter/src/perf/benches/scala/com/digitalasset/daml/lf/speedy/perf/CollectAuthority.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
Labels: component/daml-engine

#6078 Bump the sha for CI perf
  ci/cron/perf/test_sha
Labels: automerge

#6076 Add JSON output to `damlc inspect-dar`
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Base.hs
  compiler/damlc/lib/DA/Cli/Damlc.hs
  compiler/damlc/lib/DA/Cli/Damlc/InspectDar.hs
  compiler/damlc/tests/BUILD.bazel
  compiler/damlc/tests/src/inspect-dar.sh
  docs/source/daml/reference/packages.rst
Labels: automerge

#6088 Add the stdlib anchor table as a bazel target.
  compiler/damlc/BUILD.bazel
Labels: automerge

#6052 Introduce DAML-LF value caching for transaction service
  daml-script/runner/BUILD.bazel
  daml-script/test/BUILD.bazel
  extractor/BUILD.bazel
  language-support/java/codegen/BUILD.bazel
  language-support/scala/codegen-sample-app/BUILD.bazel
  ledger-service/http-json/BUILD.bazel
  ledger/ledger-api-client/BUILD.bazel
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Config.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Runner.scala
  ledger/recovering-indexer-integration-tests/src/test/suite/scala/com/digitalasset/platform/indexer/RecoveringIndexerIntegrationSpec.scala
  ledger/sandbox-perf/BUILD.bazel
  ledger/sandbox/BUILD.bazel
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/StandaloneApiServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/JdbcIndex.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/index/ReadOnlySqlLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/indexer/JdbcIndexer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/indexer/StandaloneIndexerServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/cli/Cli.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/config/SandboxConfig.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandboxnext/Runner.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/JdbcLedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/ContractsTable.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/EventsTableInsert.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/LfValueTranslation.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/Raw.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/RawBatch.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/TransactionsReader.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/TransactionsWriter.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/store/dao/JdbcLedgerDaoBackend.scala
  triggers/service/BUILD.bazel
  triggers/tests/BUILD.bazel
Labels: automerge

#6110 Get toxify from nix
  WORKSPACE
  nix/bazel.nix
Labels: automerge

#6079 Don't update running triggers until we know the trigger is running
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/ServiceConfig.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/ServiceMain.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/TriggerRunner.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/TriggerRunnerImpl.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/ServiceTest.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceFixture.scala
Labels: automerge

#6117 Release snapshot
  LATEST
Labels: Standard-Change

#6080 Improve CollectAuthority perf benchmark
  daml-lf/scenario-interpreter/BUILD.bazel
  daml-lf/scenario-interpreter/src/perf/benches/scala/com/digitalasset/daml/lf/speedy/perf/CollectAuthority.scala
Labels: automerge, component/daml-engine

#6068 Disentangle the execution of closures and builtin functions.
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Classify.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/PrettyLightweight.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
Labels: automerge, component/daml-engine

#6112 Setup compatibility tests for DAML Trigger
  compatibility/BUILD
  compatibility/bazel_tools/daml_trigger/BUILD.bazel
  compatibility/bazel_tools/daml_trigger/daml_trigger.bzl
  compatibility/bazel_tools/daml_trigger/example/src/CopyTrigger.daml
  compatibility/bazel_tools/daml_trigger/example/src/TestScript.daml
  compatibility/bazel_tools/testing.bzl
  compatibility/bazel_tools/versions.bzl
Labels: automerge

#6109 DAML-LF: restrict value versions
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/VersionRange.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/Value.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/ValueCoder.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/ValueVersion.scala
Labels: component/daml-lf

#6125 update perf test sha
  ci/cron/perf/test_sha
Labels: automerge

#6126 DAML-LF: cleanup last refs to Absolute Contract IDs
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/svalue/Ordering.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
  ledger/ledger-api-domain/src/main/scala/com/digitalasset/ledger/api/domain.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/Conversions.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/InputsAndEffects.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/KeyValueSubmission.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/TransactionCommitter.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/ParticipantStateIntegrationSpecBase.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/KVTest.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/api/KeyValueParticipantStateWriterSpec.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/TransactionTimeModelComplianceIT.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/model/converter/LedgerApiV1.scala
Labels: component/daml-lf

#6129 add sed to dev-env
  dev-env/bin/sed
Labels: automerge

#6128 build old docs with their release notes
  ci/cron/src/Main.hs
Labels: automerge

#6075 use 2.13-style collections library syntax in json-api
  bazel-java-deps.bzl
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DarManifestReader.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/LfVersions.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/FrontStack.scala
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/EnvironmentInterface.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionCoderSpec.scala
  ledger-service/http-json/BUILD.bazel
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/PackageService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/PartiesService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/dbbackend/ContractDao.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/util/Transactions.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/AbstractHttpServiceIntegrationTest.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/HttpServiceWithPostgresIntTest.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/PackageServiceTest.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/json/JsonProtocolTest.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/json/ResponseFormatsTest.scala
  ledger-service/lf-value-json/src/main/scala/com/digitalasset/daml/lf/value/json/ApiCodecCompressed.scala
  ledger-service/utils/src/main/scala/com/digitalasset/ledger/service/MetadataReader.scala
  ledger-service/utils/src/main/scala/com/digitalasset/ledger/service/TemplateIds.scala
  maven_install.json
Labels: automerge, component/json-api

#6038 add law checking for SValue Ordering
  daml-lf/interpreter/BUILD.bazel
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/svalue/OrderingSpec.scala
Labels: automerge, component/daml-engine

#6137 Remove unused zlib patch
  bazel_tools/proto-zlib-url.patch
Labels: automerge

#6105 Add a module-prefixes field to rename all modules in a pkg
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Base.hs
  compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
  compiler/damlc/daml-opts/BUILD.bazel
  compiler/damlc/daml-opts/daml-opts-types/DA/Daml/Options/Packaging/Metadata.hs
  compiler/damlc/daml-opts/daml-opts-types/DA/Daml/Options/Types.hs
  compiler/damlc/daml-package-config/BUILD.bazel
  compiler/damlc/daml-package-config/src/DA/Daml/Package/Config.hs
  compiler/damlc/lib/DA/Cli/Damlc.hs
  compiler/damlc/lib/DA/Cli/Damlc/Packaging.hs
  compiler/damlc/lib/DA/Cli/Options.hs
  compiler/damlc/tests/src/DA/Test/Packaging.hs
  compiler/damlc/tests/src/DA/Test/Repl/FuncTests.hs
  docs/source/daml/reference/packages.rst
  docs/source/tools/assistant.rst
Labels: automerge

#6133 Macos fix nix installer for build agent servers
  infra/macos/2-vagrant-files/init.sh
Labels: Standard-Change

#6135 split http-json tests into tests and integration-tests targets
  ledger-service/http-json/BUILD.bazel
  ledger-service/http-json/src/it/daml/Account.daml
  ledger-service/http-json/src/it/resources/it/iouCreateCommand.json
  ledger-service/http-json/src/it/resources/logback.xml
  ledger-service/http-json/src/it/scala/http/AbstractHttpServiceIntegrationTest.scala
  ledger-service/http-json/src/it/scala/http/AuthorizationTest.scala
  ledger-service/http-json/src/it/scala/http/Consume.scala
  ledger-service/http-json/src/it/scala/http/HttpServiceIntegrationTest.scala
  ledger-service/http-json/src/it/scala/http/HttpServiceTestFixture.scala
  ledger-service/http-json/src/it/scala/http/HttpServiceWithPostgresIntTest.scala
  ledger-service/http-json/src/it/scala/http/TlsTest.scala
  ledger-service/http-json/src/it/scala/http/WebsocketServiceIntegrationTest.scala
  ledger-service/http-json/src/it/scala/http/util/TestUtil.scala
Labels: component/json-api

#6136 Small wording fixes for the GSG based on user feedback
  docs/source/getting-started/first-feature.rst
Labels: automerge

#6149 clean up Node map function
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Node.scala
Labels: component/daml-lf

#6154 Release new snapshot
  LATEST
Labels: Standard-Change

#6148 Improve error message for unsuccessful key lookups
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
Labels: automerge

#6152 declare http-json Streaming API as stable
  docs/source/json-api/index.rst
Labels: component/documentation, component/json-api

#6167 Engine: remove unecessary pattern matching
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/CommandPreprocessor.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/TransactionPreprocessor.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
Labels: component/daml-engine

#6170 Making `PaginatingAsyncStream.streamFrom` more generic
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/PaginatingAsyncStream.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/store/dao/events/TransactionsReader.scala
Labels: automerge
