Repository digital-asset/daml, pull requests merged in 2021-04, with the labels that each got.

#9250 Extend `scalacheck` testing to generate `NodeRollback` nodes
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ValueEnricher.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/kv-transaction-support/src/main/scala/com/daml/lf/kv/Normalizer.scala
  daml-lf/kv-transaction-support/src/test/scala/com/daml/lf/kv/NormalizerSpec.scala
  daml-lf/transaction-test-lib/src/main/scala/lf/value/test/ValueGenerators.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Node.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionCoderSpec.scala
Labels: component/daml-engine

#9310 LF: add test for bigNumeric operations
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/NumericModule.scala
  daml-lf/interpreter/BUILD.bazel
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinBigNumericTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
Labels: component/daml-engine, component/daml-lf

#9326 snapshot to test non-repudiation publish
  LATEST
Labels: Standard-Change, automerge

#9322 daml ledger: better error messages for missing host/port args
  daml-assistant/daml-helper/src/DA/Daml/Helper/Codegen.hs
  daml-assistant/daml-helper/src/DA/Daml/Helper/Start.hs
  daml-assistant/daml-helper/src/DA/Daml/Helper/Util.hs
Labels: automerge

#9334 Update issue number for BigNumeric Divisible instance.
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/DataDependencies.hs
  compiler/damlc/daml-prim-src/GHC/Num.daml
Labels: automerge

#9341 Improve TX normalization.
  daml-lf/kv-transaction-support/src/main/scala/com/daml/lf/kv/Normalizer.scala
  daml-lf/kv-transaction-support/src/test/scala/com/daml/lf/kv/NormalizerSpec.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionSpec.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/keys/ContractKeysValidation.scala
Labels: component/daml-engine

#9336 Expose rounding modes as constructors + add BigNumeric docs.
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
  compiler/damlc/daml-prim-src/GHC/Types.daml
  compiler/damlc/daml-stdlib-src/DA/BigNumeric.daml
  compiler/damlc/daml-stdlib-src/DA/Internal/Prelude.daml
  compiler/damlc/tests/daml-test-files/BigNumericTooBig.daml
  compiler/damlc/tests/daml-test-files/RoundingModeMatch.daml
  daml-lf/tests/scenario/dev/big-numeric/Test.daml
  docs/source/daml/reference/data-types.rst
Labels: automerge

#9343 fix macOS cache cleaning
  infra/macos/3-running-box/init.sh
Labels: Standard-Change

#9344 bump hoogle ubuntu
  infra/hoogle_server.tf
Labels: Standard-Change

#9350 macos: move cache setup to step 2
  infra/macos/2-common-box/init.sh
  infra/macos/3-running-box/init.sh
Labels: Standard-Change

#9202 Removing Git as a prerequisit from the GSG
  docs/source/getting-started/index.rst
Labels: automerge

#9351 infra: hoogle blue/green tf
  infra/README.md
  infra/hoogle_server.tf
Labels: Standard-Change

#9359 Fix comment formatting in state
  compiler/damlc/daml-stdlib-src/DA/Action/State/Class.daml
Labels: automerge, component/documentation

#9362 infra/hoogle: use nix
  infra/README.md
  infra/hoogle_server.tf
Labels: Standard-Change

#9364 fix hoogle
  infra/hoogle_server.tf
Labels: Standard-Change

#9366 Patch hoogle binary to include bugfix
  infra/hoogle_server.tf
Labels: Standard-Change

#9299 StateCache implementation for mutable contract state
  ledger/participant-integration-api/BUILD.bazel
  ledger/participant-integration-api/src/main/scala/platform/store/cache/StateCache.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/cache/StateCacheSpec.scala
Labels: automerge

#9377 daml package: bump timeout for tests
  compiler/damlc/tests/BUILD.bazel
Labels: automerge

#9349 LedgerDao and ContractsReader interface updates
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
  ledger/participant-integration-api/src/main/scala/platform/index/ReadOnlySqlLedger.scala
  ledger/participant-integration-api/src/main/scala/platform/store/BaseLedger.scala
  ledger/participant-integration-api/src/main/scala/platform/store/Conversions.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/JdbcLedgerDao.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/ParametersTable.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/ContractsReader.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/JdbcLedgerDao.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/LedgerDao.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/MeteredLedgerDao.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/ContractsReader.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/contracts/TranslationCacheBackedContractsStore.scala
  ledger/participant-integration-api/src/main/scala/platform/store/interfaces/LedgerDaoContractsReader.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoContractsSpec.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoTransactionsWriterSpec.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/sql/SqlLedger.scala
Labels: automerge

#9373 Implement Prometheus metrics back-end
  bazel-java-deps.bzl
  ledger/participant-integration-api/BUILD.bazel
  ledger/participant-integration-api/src/main/scala/platform/configuration/MetricsReporter.scala
  ledger/participant-integration-api/src/main/scala/platform/configuration/PrometheusReporter.scala
  ledger/sandbox-common/src/test/lib/scala/platform/sandbox/cli/CommonCliSpecBase.scala
  maven_install_2.12.json
  maven_install_2.13.json
Labels: automerge

#9380 Extend prometheus metrics with min/mean/max values
  ledger/participant-integration-api/src/main/scala/io/prometheus/client/dropwizard/DropwizardExportsAccess.scala
  ledger/participant-integration-api/src/main/scala/platform/configuration/ExtendedDropwizardExports.scala
  ledger/participant-integration-api/src/main/scala/platform/configuration/PrometheusReporter.scala
Labels: automerge

#9368 DPP-316: Enable the use of the append only index database
  daml-script/test/src/test-utils/com/daml/lf/engine/script/test/MultiParticipantFixture.scala
  ledger/ledger-on-sql/src/app/scala/com/daml/ledger/on/sql/SqlLedgerFactory.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/ApiServerConfig.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/StandaloneApiServer.scala
  ledger/participant-integration-api/src/main/scala/platform/index/JdbcIndex.scala
  ledger/participant-integration-api/src/main/scala/platform/index/ReadOnlySqlLedger.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/IndexerConfig.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/JdbcIndexer.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/StandaloneIndexerServer.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/indexer/JdbcIndexerSpec.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Config.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/LedgerFactory.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/ParticipantConfig.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/ParticipantIndexerConfig.scala
  ledger/participant-state/kvutils/tools/src/main/scala/ledger/participant/state/kvutils/tools/integritycheck/IntegrityChecker.scala
  ledger/sandbox/src/main/scala/platform/sandboxnext/Runner.scala
Labels: automerge

#9389 Fix flaky StateCacheSpec test
  ledger/participant-integration-api/src/test/suite/scala/platform/store/cache/StateCacheSpec.scala
Labels: automerge

#9382 Fix recording of cache metrics [KVL-888]
  ledger/caching/src/main/scala/com/daml/caching/CaffeineCache.scala
Labels: automerge

#9398 offboarding @hurryabit
  CODEOWNERS
  release/RELEASE.md
Labels: automerge

#9378 MutableCacheBackedContractStore implementation
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
  ledger/participant-integration-api/src/main/scala/platform/index/ReadOnlySqlLedger.scala
  ledger/participant-integration-api/src/main/scala/platform/store/cache/ContractKeyStateCache.scala
  ledger/participant-integration-api/src/main/scala/platform/store/cache/ContractsStateCache.scala
  ledger/participant-integration-api/src/main/scala/platform/store/cache/MutableCacheBackedContractStore.scala
  ledger/participant-integration-api/src/main/scala/platform/store/cache/TranslationCacheBackedContractStore.scala
  ledger/participant-integration-api/src/main/scala/platform/store/cache/package.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/cache/MutableCacheBackedContractStoreSpec.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/sql/SqlLedger.scala
Labels: automerge

#9381 Pattern matching for RoundingMode
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Pretty.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/DecodeV1.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion/Primitives.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion/UtilGHC.hs
  compiler/damlc/daml-prim-src/GHC/Num.daml
  compiler/damlc/daml-prim-src/GHC/Show.daml
  compiler/damlc/daml-prim-src/GHC/Types.daml
  compiler/damlc/tests/daml-test-files/RoundingModeMatch.daml
  compiler/damlc/tests/daml-test-files/RoundingModeOrder.daml
  daml-lf/spec/daml-lf-1.rst
Labels: automerge

#9370 LF: fix contract ID freshness check
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/Preprocessor.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/TransactionPreprocessor.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ContractDiscriminatorFreshnessCheckSpec.scala
  daml-lf/spec/contract-id.rst
Labels: component/daml-engine

#9407 Release SDK 1.12.0
  LATEST
Labels: Standard-Change, automerge

#9408 Avoid assertFromString in validateParties
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/PostCommitValidation.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/PostCommitValidation.scala
Labels: automerge

#9395 State cache behind feature flag
  ledger/participant-integration-api/src/main/scala/platform/apiserver/ApiServerConfig.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/StandaloneApiServer.scala
  ledger/participant-integration-api/src/main/scala/platform/index/JdbcIndex.scala
  ledger/participant-integration-api/src/main/scala/platform/index/ReadOnlySqlLedger.scala
  ledger/participant-integration-api/src/main/scala/platform/store/cache/MutableCacheBackedContractStore.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Config.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/LedgerFactory.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/ParticipantConfig.scala
  ledger/sandbox/src/main/scala/platform/sandboxnext/Runner.scala
Labels: automerge

#9409 release 1.13.0-snapshot.20210413.6706.0.2dc09ba2
  LATEST
Labels: Standard-Change

#9367 Create rollback nodes
  compiler/damlc/tests/daml-test-files/ExceptionDesugared.daml
  compiler/damlc/tests/daml-test-files/ExceptionSyntax.daml
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/PartialTransactionSpec.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/RollbackTest.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
Labels: component/daml-engine

#9416 LF: distninguish Rollback from Action Nodes
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/Preprocessor.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/TransactionPreprocessor.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/ledger/BlindingTransaction.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/transaction-test-lib/src/main/scala/lf/transaction/test/TransactionBuilder.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Node.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/NodeInfo.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionSpec.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/execution/StoreBackedCommandExecutor.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiSubmissionService.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/PostCommitValidation.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/PostCommitValidation.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/InputsAndEffects.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/TransactionCommitter.scala
Labels: component/daml-engine

#9420 LF: Add method to compute transaction informees.
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiSubmissionService.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/PostCommitValidation.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/PostCommitValidation.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/TransactionCommitter.scala
Labels: component/daml-engine

#9423 Oracle json-api: deduplicate queried contracts with multiple signatories/observers
  ledger-service/db-backend/src/main/scala/com/digitalasset/http/dbbackend/Queries.scala
Labels: automerge

#9422 Upgrade canton to 0.23.0
  WORKSPACE
  deps.bzl
Labels: automerge

#9428 ledger-api-test-tool: A bit of refactoring around `RaceConditionIT`.
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/RaceConditionIT.scala
  ledger/test-common/src/main/daml/semantic/RaceTests.daml
Labels: automerge

#9432 Don't duplicate export script option parsing
  daml-assistant/daml-helper/src/DA/Daml/Helper/Ledger.hs
  daml-assistant/daml-helper/src/DA/Daml/Helper/Main.hs
  daml-assistant/integration-tests/src/DA/Daml/Assistant/IntegrationTests.hs
Labels: automerge

#9431 Add tests for blindinginfo
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/BlindingSpec.scala
  daml-lf/transaction-test-lib/src/main/scala/lf/transaction/test/TransactionBuilder.scala
Labels: automerge

#9425 remove Array[String] instances from Oracle json-api driver layer
  ledger-service/db-backend/src/main/scala/com/digitalasset/http/dbbackend/Queries.scala
  ledger-service/http-json/BUILD.bazel
  ledger-service/http-json/src/it/scala/http/HttpServiceWithPostgresIntTest.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/dbbackend/SupportedJdbcDriver.scala
Labels: automerge

#9421 Integrate mutable state cache layer into ReadOnlySqlLedger
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
  ledger/participant-integration-api/src/main/scala/platform/index/ReadOnlySqlLedger.scala
  ledger/participant-integration-api/src/main/scala/platform/index/ReadOnlySqlLedgerWithMutableCache.scala
  ledger/participant-integration-api/src/main/scala/platform/index/ReadOnlySqlLedgerWithTranslationCache.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/JdbcLedgerDao.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/ParametersTable.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/ContractsReader.scala
  ledger/participant-integration-api/src/main/scala/platform/store/cache/MutableCacheBackedContractStore.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/JdbcLedgerDao.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/LedgerDao.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/MeteredLedgerDao.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/cache/MutableCacheBackedContractStoreSpec.scala
Labels: automerge

#9429 KV: do not use "Inputs" part of InputsAndEffects
  daml-lf/transaction-test-lib/src/main/scala/lf/transaction/test/TransactionBuilder.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionSpec.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/Conversions.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/KeyValueSubmission.scala
Labels: automerge

#9439 Release v1.13.0-snapshot.20210419.6730.0.8c3a8c04
  LATEST
Labels: Standard-Change

#9442 Clearer variable name for subtype evidence
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
Labels: automerge

#9446 Document daml ledger export script
  docs/source/index.rst
  docs/source/tools/export.rst
Labels: automerge

#9443 Test for duplicate contracts when querying on behalf of multiple parties
  ledger-service/http-json-testing/src/main/scala/com/daml/http/HttpServiceTestFixture.scala
  ledger-service/http-json/src/it/daml/Account.daml
  ledger-service/http-json/src/itlib/scala/http/AbstractWebsocketServiceIntegrationTest.scala
Labels: automerge

#9444 Additional metrics for mutable contract state cache
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
  ledger/participant-integration-api/src/main/scala/platform/index/ReadOnlySqlLedgerWithMutableCache.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/parallel/ParallelIndexerFactory.scala
  ledger/participant-integration-api/src/main/scala/platform/store/cache/ContractKeyStateCache.scala
  ledger/participant-integration-api/src/main/scala/platform/store/cache/ContractsStateCache.scala
  ledger/participant-integration-api/src/main/scala/platform/store/cache/MutableCacheBackedContractStore.scala
  ledger/participant-integration-api/src/main/scala/platform/store/cache/StateCache.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/cache/StateCacheSpec.scala
Labels: automerge

#9456 more robust macOS cleanup
  ci/clean-up.yml
  infra/macos/2-common-box/init.sh
  infra/vsts_agent_ubuntu_20_04_startup.sh
Labels: Standard-Change

#9450 add ledger connection retry on json-api start
  ledger-service/http-json-ledger-client/BUILD.bazel
  ledger-service/http-json-ledger-client/src/main/scala/com/daml/http/LedgerClientBase.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
Labels: component/json-api

#9469 Optionally emit setTime actions in daml export
  daml-script/export/src/it/scala/com/daml/script/export/IT.scala
  daml-script/export/src/main/scala/com/daml/script/export/Config.scala
  daml-script/export/src/main/scala/com/daml/script/export/Encode.scala
  daml-script/export/src/main/scala/com/daml/script/export/Export.scala
  daml-script/export/src/main/scala/com/daml/script/export/Main.scala
  daml-script/export/src/main/scala/com/daml/script/export/TreeUtils.scala
  daml-script/export/src/test/scala/com/daml/script/export/ActionsFromTreesSpec.scala
  daml-script/export/src/test/scala/com/daml/script/export/EncodeSetTimeSpec.scala
  daml-script/export/src/test/scala/com/daml/script/export/EncodeValueSpec.scala
  daml-script/export/src/test/scala/com/daml/script/export/TestData.scala
  docs/source/tools/export.rst
Labels: automerge

#9449 Scala codegen: use immutable.Map newtype for GenMap instead of InsertOrdMap
  language-support/scala/bindings/src/main/2.12/com/daml/ledger/client/binding/Compat.scala
  language-support/scala/bindings/src/main/2.13/com/daml/ledger/client/binding/Compat.scala
  language-support/scala/bindings/src/main/scala/com/digitalasset/ledger/client/binding/binding/Primitive.scala
  language-support/scala/codegen-sample-app/src/test/scala/com/digitalasset/codegen/DataTypeIT.scala
  language-support/scala/codegen-testing/BUILD.bazel
  language-support/scala/codegen-testing/src/main/scala/com/digitalasset/ledger/client/binding/encoding/ShowEncoding.scala
  language-support/scala/codegen-testing/src/main/scala/com/digitalasset/ledger/client/binding/encoding/ShrinkEncoding.scala
  language-support/scala/codegen-testing/src/test/2.13/scala/com/digitalasset/ledger/client/binding/Primitive213Spec.scala
  language-support/scala/codegen-testing/src/test/scala/com/digitalasset/ledger/client/binding/PrimitiveSpec.scala
Labels: automerge, component/scala-ecosystem

#9468 Extend Transaction proto format for rollback nodes.
  daml-lf/kv-transaction-support/src/test/scala/com/daml/lf/kv/TransactionNormalizerSpec.scala
  daml-lf/transaction-test-lib/src/main/scala/lf/value/test/ValueGenerators.scala
  daml-lf/transaction/src/main/protobuf/com/daml/lf/transaction.proto
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionCoder.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionVersion.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionCoderSpec.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/KeyValueCommitting.scala
Labels: automerge, component/daml-engine

#9480 Fix broken merge
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
Labels: automerge

#9479 Fix validation of rollback nodes
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Validation.scala
Labels: automerge

#9491 deprecate InsertOrdMap
  daml-lf/data/src/main/2.12/com/daml/lf/data/AbstractInsertOrdMap.scala
  daml-lf/data/src/main/2.13/com/daml/lf/data/AbstractInsertOrdMap.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/InsertOrdMap.scala
  daml-lf/data/src/test/scala/com/digitalasset/daml/lf/data/InsertOrdMapTest.scala
Labels: component/daml-engine

#9502 compatibility: Use the same Scala version as the root.
  WORKSPACE
  bazel_tools/scala_version.bzl
  compatibility/WORKSPACE
Labels: automerge

#9508 snapshot release 2021-04-27
  LATEST
Labels: Standard-Change, automerge

#9511 Switch to an environment variable for enabling Oracle tests.
  BUILD
  WORKSPACE
  bazel_tools/oracle.bzl
  ci/build.yml
  ledger-service/http-json-oracle/BUILD.bazel
  ledger/participant-integration-api/BUILD.bazel
  triggers/service/BUILD.bazel
Labels: automerge

#9513 kvutils: Log a missing input state warning without the stack trace. [KVL-796]
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/Err.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/TransactionCommitter.scala
Labels: automerge

#9512 Support rollback nodes in KeyValueCommitting.submissionOutputs
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/KeyValueCommitting.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/KeyValueCommittingSpec.scala
Labels: automerge

#9501 Support rollback nodes in PostCommitValidation
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/PostCommitValidation.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/PostCommitValidation.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/dao/events/PostCommitValidationSpec.scala
Labels: automerge

#9516 kvutils: Use the contextualized logger in the committer.
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/KeyValueCommitting.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/CommitContext.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/Committer.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/ConfigCommitter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/PackageCommitter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/PartyAllocationCommitter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/SubmissionExecutor.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/TransactionCommitter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/keys/ContractKeysValidation.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/keys/KeyMonotonicityValidation.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/SubmissionValidator.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/batch/BatchedSubmissionValidator.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/PreExecutingValidatingCommitter.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/KVTest.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/KVUtilsConfigSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/KVUtilsPackageSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/KVUtilsPartySpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/KVUtilsTransactionSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/CommitContextSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/CommitterSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/ConfigCommitterSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/PackageCommitterSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/PartyAllocationCommitterSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/TransactionCommitterSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/keys/KeyMonotonicityValidationSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/SubmissionValidatorSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/preexecution/PreExecutingSubmissionValidatorSpec.scala
Labels: automerge

#9527 Fix ImmArray.copyToArray
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/ImmArray.scala
  daml-lf/data/src/test/scala/com/digitalasset/daml/lf/data/ImmArrayTest.scala
Labels: automerge

#9525 kvutils: Make `Step` a trait to carry the logging context more easily.
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/CommitStep.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/Committer.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/ConfigCommitter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/PackageCommitter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/PartyAllocationCommitter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/package.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/DamlTransactionEntrySummary.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/TransactionCommitter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/keys/ContractKeysValidation.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/keys/KeyMonotonicityValidation.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/package.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/CommitterSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/ConfigCommitterSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/PackageCommitterSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/PartyAllocationCommitterSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/TransactionCommitterSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/keys/KeyMonotonicityValidationSpec.scala
Labels: automerge

#9531 Allow missing exercise results when version >= minExceptions
  daml-lf/transaction-test-lib/src/main/scala/lf/value/test/ValueGenerators.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionCoder.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionCoderSpec.scala
Labels: component/daml-engine

#9523 Move builtin exceptions to a stable package.
  compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
  compiler/damlc/daml-prim-src/DA/Internal/Exception/Types.daml
  compiler/damlc/daml-prim-src/LibraryModules.daml
  compiler/damlc/daml-stdlib-src/DA/Internal/Exception.daml
  compiler/damlc/daml-stdlib-src/DA/Internal/LF.daml
  compiler/damlc/lib/DA/Cli/Damlc/Packaging.hs
  compiler/damlc/stable-packages/BUILD.bazel
  compiler/damlc/stable-packages/src/GenerateStablePackage.hs
  compiler/damlc/tests/src/DA/Test/DataDependencies.hs
  compiler/damlc/tests/src/stable-packages.sh
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DarReaderTest.scala
Labels: automerge

#9517 First draw of an interface separating ingestion and storage
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/IndexerConfig.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/JdbcIndexer.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/parallel/AsyncSupport.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/parallel/BatchingParallelIngestionPipe.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/parallel/DBDTOV1.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/parallel/ParallelIndexerFactory.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/parallel/PostgresStorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/parallel/RawDBBatchPostgreSQLV1.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/parallel/StorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/parallel/UpdateToDBDTOV1.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Config.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/LedgerFactory.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/ParticipantIndexerConfig.scala
Labels: automerge

#9528 Upgrade to Scala 2.13.5
  .bazelrc
  BAZEL-JVM.md
  BAZEL.md
  bazel-java-deps.bzl
  bazel_tools/scala_version.bzl
  ci/build.yml
  compatibility/.bazelrc
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/EncodeV1.scala
  daml-lf/interface/src/test/scala/com/digitalasset/daml/lf/iface/TypeSpec.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Profile.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/crypto/Hash.scala
  daml-script/test/src/test-utils/com/daml/lf/engine/script/test/AbstractFuncIT.scala
  extractor/src/main/scala/com/digitalasset/extractor/json/JsonConverters.scala
  extractor/src/test/suite/scala/com/digitalasset/extractor/AuthSpec.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/ToValueGenerator.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/package.scala
  language-support/scala/bindings-akka/src/main/scala/com/digitalasset/ledger/client/binding/config/Positive.scala
  ledger-service/db-backend/src/main/scala/com/digitalasset/http/dbbackend/Queries.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractWebsocketServiceIntegrationTest.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsFetch.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/domain.scala
  ledger-service/lf-value-json/src/main/scala/com/digitalasset/daml/lf/value/json/ApiCodecCompressed.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/akkastreams/dispatcher/SubSource.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/Assertions.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerTestSuite.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/LotsOfPartiesIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/PerformanceEnvelope.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/TransactionScaleIT.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/OffsetUpdate.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/KeyValueConsumption.scala
  maven_install_2.12.json
  maven_install_2.13.json
  navigator/backend/src/main/scala/com/digitalasset/navigator/dotnot/PropertyCursor.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/query/filter/package.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/query/project/package.scala
  nix/nixpkgs.nix
  release/src/Main.hs
  runtime-components/non-repudiation-resources/src/main/scala/com/daml/nonrepudiation/resources/HikariTransactorResourceOwner.scala
  triggers/service/auth/src/main/scala/com/daml/auth/middleware/oauth2/RequestTemplates.scala
Labels: automerge

#9533 increase Linux CI size
  infra/vsts_agent_ubuntu_20_04.tf
Labels: Standard-Change

#9535 Moving StorageBackend and related artifacts to their proper place
  ledger/participant-integration-api/src/main/scala/platform/indexer/JdbcIndexer.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/parallel/ParallelIndexerFactory.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/DBDTOV1.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/StorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/UpdateToDBDTOV1.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PostgresStorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/RawDBBatchPostgreSQLV1.scala
Labels: automerge

#9539 Minor refactoring
  ledger/participant-integration-api/src/main/scala/platform/indexer/JdbcIndexer.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/parallel/AsyncSupport.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/parallel/PerfSupport.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/DBDTOV1.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/StorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/UpdateToDBDTOV1.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/RawDBBatchPostgreSQLV1.scala
Labels: automerge

#9540 Introduce combined storeTransaction method in LedgerDao for sandbox-c…
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/JdbcLedgerDao.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/JdbcLedgerDao.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/LedgerDao.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/MeteredLedgerDao.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/sql/SqlLedger.scala
Labels: automerge

#9536 Fix TransactionCommitter.trimUnnecessaryNodes for rollback nodes
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/TransactionCommitter.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/TransactionCommitterSpec.scala
Labels: automerge

#9537 Share code between SBUFetchKey and SBULookupKey
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
Labels: automerge
