Repository digital-asset/daml, pull requests merged in 2021-10, with the labels that each got.

#11112 bypass value enrichment for the performance test
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/ScenarioRunner.scala
  daml-lf/scenario-interpreter/src/perf/benches/scala/com/digitalasset/daml/lf/speedy/perf/CollectAuthority.scala
Labels: component/daml-engine

#11120 LF: builtins to create, signatory, and observer on interface payload.
  compiler/damlc/BUILD.bazel
  compiler/damlc/daml-stdlib-src/DA/Experimental/Interface.daml
  compiler/damlc/daml-stdlib-src/LibraryModules.daml
  compiler/damlc/tests/daml-test-files/InterfaceExperimental.daml
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/spec/experimental.rst
Labels: component/daml-lf, automerge

#11057 move reusable functions from ContractsFetch to new fetch-contracts library
  ledger-service/fetch-contracts/BUILD.bazel
  ledger-service/fetch-contracts/src/main/scala/fetchcontracts/AcsTxStreams.scala
  ledger-service/fetch-contracts/src/main/scala/fetchcontracts/domain.scala
  ledger-service/fetch-contracts/src/main/scala/fetchcontracts/util/AkkaStreamsDoobie.scala
  ledger-service/fetch-contracts/src/main/scala/fetchcontracts/util/BeginBookmark.scala
  ledger-service/fetch-contracts/src/main/scala/fetchcontracts/util/ClientUtil.scala
  ledger-service/fetch-contracts/src/main/scala/fetchcontracts/util/ContractStreamStep.scala
  ledger-service/fetch-contracts/src/main/scala/fetchcontracts/util/GraphExtensions.scala
  ledger-service/fetch-contracts/src/main/scala/fetchcontracts/util/IdentifierConverters.scala
  ledger-service/fetch-contracts/src/main/scala/fetchcontracts/util/InsertDeleteStep.scala
  ledger-service/fetch-contracts/src/test/scala/fetchcontracts/util/ContractStreamStepTest.scala
  ledger-service/fetch-contracts/src/test/scala/fetchcontracts/util/InsertDeleteStepTest.scala
  ledger-service/http-json-oracle/BUILD.bazel
  ledger-service/http-json-perf/BUILD.bazel
  ledger-service/http-json-testing/BUILD.bazel
  ledger-service/http-json/BUILD.bazel
  ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTest.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsFetch.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/LedgerClientJwt.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/domain.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/JsonProtocol.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/ResponseFormats.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/util/ClientUtil.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/util/IdentifierConverters.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/util/Transactions.scala
Labels: automerge, component/json-api, application-runtime

#11113 Port error code changes
  ledger/error/src/main/scala/com/daml/error/ErrorResource.scala
  ledger/participant-integration-api/BUILD.bazel
  ledger/participant-integration-api/src/main/scala/platform/apiserver/error/LedgerApiErrors.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/error/RejectionGenerators.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/error/TransactionError.scala
Labels: automerge

#11110 Backport of fixing mutable state cache initialization offset
  ledger/participant-integration-api/src/main/scala/platform/index/ReadOnlySqlLedgerWithMutableCache.scala
  ledger/participant-integration-api/src/main/scala/platform/store/cache/MutableCacheBackedContractStore.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/cache/MutableCacheBackedContractStoreSpec.scala
Labels: automerge

#11111 [Divulgence pruning] Backport of "Fixes divulgence pruning offset update query"
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/QueryNonPruned.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/StorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/CommonStorageBackend.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/backend/StorageBackendTestsPruning.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/appendonlydao/SequentialWriteDaoSpec.scala
Labels: automerge, needs-backport

#11082 AuthorizationSpec
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/AuthorizationSpec.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/CheckAuthorization.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
Labels: component/daml-engine
