Repository digital-asset/daml, pull requests merged in 2021-09, with the labels that each got.

#10724 LF: Refactor engine test reinterpret
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
Labels: component/daml-engine

#9619 fix flaky test in RecoveringIndexer
  ledger/participant-integration-api/src/main/scala/platform/indexer/RecoveringIndexer.scala
Labels: automerge

#10525 [Docs] Add info on logs on Kubernetes & metrics in the ops section
  docs/source/index.rst
  docs/source/ops/connect/index.rst
  docs/source/ops/connect/logs-and-metrics.rst
Labels: automerge

#10759 Fixes participant to do retries on startup as waiting for DB
  ledger/participant-integration-api/src/main/scala/platform/store/FlywayMigrations.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PostgresStorageBackend.scala
Labels: automerge

#10746 Add unit tests for DBLockStorageBackend [DPP-495]
  ledger/participant-integration-api/src/main/scala/platform/store/backend/oracle/OracleStorageBackend.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/backend/StorageBackendSuite.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/backend/StorageBackendTestsDBLock.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/backend/StorageBackendPostgresSpec.scala
Labels: automerge

#10602 [JSON-API] Use the token from incoming requests to update the package list
  compatibility/bazel_tools/daml_ledger/Sandbox.hs
  daml-script/test/src/com/digitalasset/daml/lf/engine/script/test/JsonApiIt.scala
  ledger-service/http-json-cli/src/main/scala/com/daml/http/Config.scala
  ledger-service/http-json-cli/src/main/scala/com/daml/http/OptionParser.scala
  ledger-service/http-json-cli/src/main/scala/com/daml/http/StartSettings.scala
  ledger-service/http-json-ledger-client/ce/src/main/scala/com/daml/http/LedgerClient.scala
  ledger-service/http-json-ledger-client/ee/src/main/scala/com/daml/http/LedgerClient.scala
  ledger-service/http-json-ledger-client/src/main/scala/com/daml/http/LedgerClientBase.scala
  ledger-service/http-json-perf/src/main/scala/com/daml/http/perf/Main.scala
  ledger-service/http-json-testing/BUILD.bazel
  ledger-service/http-json-testing/src/main/scala/com/daml/http/HttpServiceTestFixture.scala
  ledger-service/http-json/BUILD.bazel
  ledger-service/http-json/src/failure/scala/http/HttpTestFixture.scala
  ledger-service/http-json/src/it/scala/http/AuthorizationTest.scala
  ledger-service/http-json/src/it/scala/http/HttpServiceIntegrationTest.scala
  ledger-service/http-json/src/it/scala/http/HttpServiceWithPostgresIntTest.scala
  ledger-service/http-json/src/it/scala/http/TlsTest.scala
  ledger-service/http-json/src/it/scala/http/WebsocketServiceOffsetTickIntTest.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTest.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractNonRepudiationTest.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractWebsocketServiceIntegrationTest.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsFetch.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/EndpointsCompanion.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/LedgerClientJwt.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Main.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/PackageManagementService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/PackageService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/domain.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/DomainJsonDecoder.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/util/ErrorOps.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/util/package.scala
  ledger-service/utils/src/main/scala/com/digitalasset/ledger/service/LedgerReader.scala
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/services/acs/ActiveContractSetClient.scala
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/services/acs/withoutledgerid/ActiveContractSetClient.scala
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/services/commands/CommandClient.scala
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/services/commands/withoutledgerid/CommandClient.scala
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/services/pkg/PackageClient.scala
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/services/pkg/withoutledgerid/PackageClient.scala
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/services/transactions/TransactionClient.scala
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/services/transactions/withoutledgerid/TransactionClient.scala
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/withoutledgerid/LedgerClient.scala
  libs-haskell/test-utils/DA/Test/Sandbox.hs
Labels: automerge, component/json-api

#10770 Fix flaky DBLock tests
  ledger/participant-integration-api/src/test/lib/scala/platform/store/backend/StorageBackendTestsDBLock.scala
Labels: automerge

#10705 HA protected ledger initialization for append only schema [DPP-551]
  ledger/indexer-benchmark/src/main/scala/ledger/indexerbenchmark/IndexerBenchmark.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/Indexer.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/JdbcIndexer.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/RecoveringIndexer.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/StandaloneIndexerServer.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/ha/PreemptableSequence.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/package.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/parallel/InitializeParallelIngestion.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/parallel/ParallelIndexerFactory.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/parallel/ParallelIndexerSubscription.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/indexer/JdbcIndexerSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/indexer/RecoveringIndexerSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/indexer/parallel/ParallelIndexerSubscriptionSpec.scala
  ledger/participant-state/kvutils/tools/src/main/scala/ledger/participant/state/kvutils/tools/integritycheck/IntegrityChecker.scala
Labels: automerge

#10765 remove dead code
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
Labels: component/daml-engine, automerge

#10791 Deprecate kvutils rejections generated only by participant state v1 [KVL-1090]
  ledger/participant-state/kvutils/src/main/protobuf/com/daml/ledger/participant/state/kvutils/daml_kvutils.proto
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/Conversions.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/batch/ConflictDetection.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/batch/ConflictDetectionSpec.scala
Labels: automerge

#10795 fix macOS Bazel cache
  infra/macos/2-common-box/init.sh
Labels: Standard-Change

#10797 Fix parallel ingestion initialization [DPP-542]
  ledger/participant-integration-api/src/main/scala/platform/indexer/parallel/ParallelIndexerFactory.scala
Labels: automerge

#10794 Cleanup DataSource initialization [DPP-583]
  ledger/participant-integration-api/src/main/scala/platform/store/FlywayMigrations.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/DbDispatcher.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/HikariJdbcConnectionProvider.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/StorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/VerifiedDataSource.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/CommonStorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/oracle/OracleStorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PostgresStorageBackend.scala
Labels: automerge

#10757 Enhance InMemoryLedger to use the ValueEnricher
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ValueEnricher.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/SandboxServer.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/SandboxIndexAndWriteService.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/inmemory/InMemoryLedger.scala
  ledger/sandbox-classic/src/test/lib/scala/platform/sandbox/LedgerResource.scala
Labels: component/daml-engine

#10764 [Divulgence pruning] Daml SDK docs update [DPP-536]
  docs/source/ops/index.rst
  ledger-api/grpc-definitions/com/daml/ledger/api/v1/admin/participant_pruning_service.proto
Labels: automerge

#10784 Command deduplication - Participant side/committer side command deduplication conformance tests split [KVL-1093]
  ledger/ledger-api-test-tool-on-canton/BUILD.bazel
  ledger/ledger-api-test-tool/BUILD.bazel
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/LedgerApiTestTool.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/CommandDeduplicationBase.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/CommandDeduplicationIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/KVCommandDeduplicationIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/Tests.scala
  ledger/ledger-api-test-tool/src/test/suite/scala/com/daml/ledger/api/testtool/NamesSpec.scala
  ledger/ledger-on-memory/BUILD.bazel
  ledger/ledger-on-sql/BUILD.bazel
  ledger/participant-state/kvutils/BUILD.bazel
  ledger/sandbox/BUILD.bazel
  runtime-components/non-repudiation-postgresql/src/test/scala/com/daml/nonrepudiation/postgresql/NonRepudiationProxyConformance.scala
Labels: automerge

#10816 Add command line option max-deduplication-duration for sandbox and KV [KVL-1098]
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Config.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/LedgerFactory.scala
  ledger/sandbox-common/src/main/scala/platform/sandbox/cli/CommonCliBase.scala
  ledger/sandbox-common/src/main/scala/platform/sandbox/config/SandboxConfig.scala
Labels: automerge

#10820 oracle_perf CI report formatting fixes
  ci/cron/daily-compat.yml
Labels: automerge

#10788 Account for multi participant conformance tests when updating the config [KVL-1092]
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/Allocation.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/CommandDeduplicationBase.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerTestCase.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerTestContext.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerTestSuite.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/CommandDeduplicationIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/KVCommandDeduplicationIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/PerformanceEnvelope.scala
  ledger/ledger-on-memory/BUILD.bazel
Labels: automerge

#10830 LF: scala AST and decoder for Interface
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/EncodeV1.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/Preprocessor.scala
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/reader/InterfaceReader.scala
  daml-lf/interface/src/test/scala/com/digitalasset/daml/lf/iface/reader/InterfaceReaderSpec.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/InterpreterTest.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Util.scala
  daml-lf/language/src/test/scala/com/digitalasset/daml/lf/language/AstSpec.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/AstRewriter.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ModParser.scala
  daml-lf/parser/src/test/scala/com/digitalasset/daml/lf/testing/parser/ParsersSpec.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Collision.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Serializability.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/TypeSubst.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/iterable/ExprIterable.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/iterable/TypeIterable.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/DependencyVersionSpec.scala
Labels: component/daml-lf

#10806 [JSON-API] surrogate template id cache
  ledger-service/db-backend/BUILD.bazel
  ledger-service/db-backend/src/main/scala/com/digitalasset/http/dbbackend/Queries.scala
  ledger-service/db-backend/src/main/scala/com/digitalasset/http/dbbackend/QueryBackend.scala
  ledger-service/db-backend/src/main/scala/com/digitalasset/http/dbbackend/SurrogateTemplateIdCache.scala
  ledger-service/http-json-cli/src/main/scala/com/daml/http/Config.scala
  ledger-service/http-json-cli/src/main/scala/com/daml/http/OptionParser.scala
  ledger-service/http-json-testing/src/main/scala/com/daml/http/HttpServiceTestFixture.scala
  ledger-service/http-json/BUILD.bazel
  ledger-service/http-json/src/bench/scala/com/daml/http/dbbackend/ContractDaoBenchmark.scala
  ledger-service/http-json/src/bench/scala/com/daml/http/dbbackend/QueryBenchmark.scala
  ledger-service/http-json/src/bench/scala/com/daml/http/dbbackend/QueryPayloadBenchmark.scala
  ledger-service/http-json/src/failure/scala/http/FailureTests.scala
  ledger-service/http-json/src/it/scala/http/HttpServicePostgresInt.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractDatabaseIntegrationTest.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsFetch.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Main.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/dbbackend/ContractDao.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/dbbackend/SupportedJdbcDriver.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/query/ValuePredicateTest.scala
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
Labels: automerge, component/json-api

#10840 Modify the name of the secrets-url CLI flag to tls-secrets-url [DPP-604]
  ledger/daml-on-sql/README.rst
  ledger/ledger-api-test-tool/BUILD.bazel
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Config.scala
  ledger/participant-state/kvutils/app/src/test/scala/com/daml/ledger/participant/state/kvutils/app/ConfigSpec.scala
  ledger/sandbox-common/src/main/scala/platform/sandbox/cli/CommonCliBase.scala
  ledger/sandbox-common/src/test/lib/scala/platform/sandbox/cli/CommonCliSpecBase.scala
Labels: component/ledger

#10833 LF: clean up useless version checks
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/EncodeV1.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
Labels: component/daml-engine, automerge

#10838 release 1.17.0-snapshot.20210910.7786.0.976ca400
  LATEST
Labels: automerge, Standard-Change

#10837 [docs] Replace AdoptOpenJDK suggestion by Adoptium
  docs/source/getting-started/installation.rst
Labels: automerge

#10842 [JSON-API] fix missing report line for oralce_perf
  ci/cron/daily-compat.yml
Labels: automerge

#10853 es cluster tweaks
  infra/es_cluster.tf
Labels: Standard-Change

#10753 LF: Simplify TransactionBuilder
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/BlindingSpec.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ValueEnricherSpec.scala
  daml-lf/transaction-test-lib/src/main/scala/lf/transaction/test/TransactionBuilder.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionVersion.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionSpec.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoExceptionSpec.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoSuite.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/services/ApiSubmissionServiceSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/index/TransactionConversionSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/backend/UpdateToDbDtoSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/dao/events/PostCommitValidationSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/dao/events/TransactionIndexingSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/ConversionsSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/KeyValueCommittingSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/TransactionCommitterSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/validation/ModelConformanceValidatorSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/validation/TransactionConsistencyValidatorSpec.scala
  ledger/participant-state/kvutils/tools/src/test/scala/ledger/participant/state/kvutils/tools/integritycheck/StateUpdateComparisonSpec.scala
Labels: component/daml-engine

#10860 ParticipantPruningIT divulgence test fixes to avoid flakiness on canton
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/ParticipantPruningIT.scala
Labels: automerge

#10865 [JSON-API] drop package token doc changes
  docs/source/json-api/index.rst
Labels: automerge

#10861 save kibana exports
  infra/es_cluster.tf
Labels: Standard-Change

#10864 Command deduplication - better support for different deduplication modes in conformance tests [KVL-1099]
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/deduplication/CommandDeduplicationBase.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/deduplication/KVCommandDeduplicationBase.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/AppendOnlyKVCommandDeduplicationIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/CommandDeduplicationIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/KVCommandDeduplicationIT.scala
Labels: automerge

#10828 Convert SValue to Value, and normalize, in a single code pass.
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
Labels: component/daml-engine

#10873 Cleanup normalize from svalue
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
Labels: component/daml-engine, automerge

#10894 Increase timeout for heavy tests in ParticipantPruningIT
  ledger/ledger-api-test-tool-on-canton/BUILD.bazel
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/ParticipantPruningIT.scala
Labels: automerge

#10887 Create a new grpc exception for each duplicate result [KVL-1099]
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/validation/ErrorFactories.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/platform/server/api/validation/ErrorFactoriesSpec.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiSubmissionService.scala
Labels: automerge

#10886 Chore slow migration error removal
  ledger/participant-integration-api/src/main/scala/platform/indexer/IndexerConfig.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/StandaloneIndexerServer.scala
  ledger/participant-integration-api/src/main/scala/platform/store/FlywayMigrations.scala
Labels: automerge

#10889 Fix Parallel Indexer initialization issue [DPP-542]
  ledger/participant-integration-api/src/main/scala/platform/indexer/parallel/ParallelIndexerFactory.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/indexer/parallel/ParallelIndexerFactorySpec.scala
Labels: automerge

#10904 Release 1.17.0 RC from second to last commit
  LATEST
Labels: Standard-Change

#10909 LF: Refactor PreprocessorSpec test
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/CommandPreprocessorSpec.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/PreprocessorSpec.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ValueEnricherSpec.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ValueTranslatorSpec.scala
  daml-lf/transaction-test-lib/src/main/scala/lf/transaction/test/TransactionBuilder.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/TestHelpers.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/TransactionCommitterSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/validation/ModelConformanceValidatorSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/validation/TransactionConsistencyValidatorSpec.scala
  ledger/participant-state/kvutils/tools/src/test/scala/ledger/participant/state/kvutils/tools/integritycheck/StateUpdateComparisonSpec.scala
Labels: component/daml-engine, automerge

#10916 Mark Extractor's VeryLargeArchiveSpec test as flaky
  extractor/BUILD.bazel
  extractor/extractor.bzl
  extractor/src/test/suite-flaky/com/daml/extractor/VeryLargeArchiveSpec.scala
Labels: automerge

#10922 Fix flaky ApiConfigManagementServiceSpec test
  ledger/participant-integration-api/src/test/suite/scala/db/migration/translation/apiserver/services/admin/ApiConfigManagementServiceSpec.scala
Labels: component/ledger

#10911 Add fetch, exercise implementations for interfaces in speedy.
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Profile.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
Labels: automerge

#10914 LF: exhaustive tests for CommandPreprocessor
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/CommandPreprocessor.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/CommandPreprocessorSpec.scala
Labels: automerge

#10912 Logging delay of submitted commands
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiSubmissionService.scala
Labels: automerge

#10766 Clean up sandbox-on-x conformance tests.
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/ConfigManagementServiceIT.scala
  ledger/sandbox-on-x/BUILD.bazel
Labels: component/ledger

#10940 Backport Python URL fix
  dev-env/windows/manifests/python-3.8.2.json
Labels: needs-backport

#10924 Backport #10883 and #10918
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/participant/ParticipantTestContext.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/AppendOnlyCommandDeduplicationParallelIT.scala
  ledger/ledger-on-memory/BUILD.bazel
  ledger/ledger-on-sql/BUILD.bazel
  ledger/test-common/src/main/scala/com/digitalasset/platform/testing/StreamConsumer.scala
Labels: needs-backport

#10927 LF: Exhaustive test for valueTranslator.
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/ValueTranslator.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/CommandPreprocessorSpec.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ValueTranslatorSpec.scala
Labels: component/daml-engine, automerge

#10935 Backport #10900 (Rename Completion.deduplication_time)
  buf-stable-protos-image.bin
  ledger-api/grpc-definitions/com/daml/ledger/api/v1/completion.proto
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/validation/FieldValidations.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/ledger/api/validation/SubmitRequestValidatorTest.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/deduplication/CommandDeduplicationBase.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/deduplication/KVCommandDeduplicationBase.scala
  ledger/participant-integration-api/src/main/resources/db/migration/h2database-appendonly/V1__Append_only_schema.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/h2database-appendonly/V1__Append_only_schema.sql
  ledger/participant-integration-api/src/main/resources/db/migration/oracle-appendonly/V1__Append_only_schema.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/oracle-appendonly/V1__Append_only_schema.sql
  ledger/participant-integration-api/src/main/resources/db/migration/postgres-appendonly/V110__add_deduplication_info_to_completions.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/postgres-appendonly/V110__add_deduplication_info_to_completions.sql
  ledger/participant-integration-api/src/main/scala/platform/store/CompletionFromTransaction.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/DbDto.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/UpdateToDbDto.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/CompletionStorageBackendTemplate.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/Schema.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/backend/StorageBackendTestValues.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/backend/StorageBackendTestsCompletions.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/backend/UpdateToDbDtoSpec.scala
Labels: needs-backport

#10903 [JSON-API] Production/HA documentation.
  docs/source/json-api/index.rst
  docs/source/json-api/metrics.rst
  docs/source/json-api/production-setup.rst
Labels: automerge

#10944 Upgrade canton to a more recent version
  deps.bzl
  ledger/ledger-api-test-tool-on-canton/BUILD.bazel
  ledger/ledger-api-test-tool-on-canton/enable-faster-pruning.conf
Labels: automerge

#10938 LF: rename language Interface to PackageInterface
  compiler/repl-service/server/src/main/scala/com/digitalasset/daml/lf/speedy/ReplServiceMain.scala
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Context.scala
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/DamlLfEncoder.scala
  daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/archive/testing/EncodeV1Spec.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ConcurrentCompiledPackages.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/CommandPreprocessor.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/ValueTranslator.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/interpreter/perf/src/main/scala/com/daml/lf/explore/Explore.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/CompiledPackages.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ExceptionTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/RollbackTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SpeedyTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/TailCallTest.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/PackageInterface.scala
  daml-lf/repl/src/main/scala/com/digitalasset/daml/lf/repl/testing/Main.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/DependencyVersion.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/PartyLiterals.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Serializability.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Validation.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/DependencyVersionSpec.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/PartyLiteralsSpec.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/SerializabilitySpec.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/TypingSpec.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
  ledger/participant-state/kvutils/tools/codec-benchmark/src/benchmark/scala/com/daml/lf/benchmark/TypedValueExtractor.scala
  ledger/participant-state/kvutils/tools/engine-replay/src/replay/scala/ledger/participant/state/kvutils/tools/engine/replay/Adapter.scala
Labels: component/daml-engine, automerge

#10936 LF: Test preprocessor is resuming properly
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/PreprocessorSpec.scala
Labels: component/daml-engine

#10960 interfaces: Add to/from interface in Scala AST
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/EncodeV1.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/AstRewriter.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/ValidationError.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/iterable/ExprIterable.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/iterable/TypeIterable.scala
Labels: automerge

#10967 Switch triggers service time provider default to wall-clock time
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/ServiceConfig.scala
  triggers/service/src/test-suite/scala/com/daml/lf/engine/trigger/ServiceConfigTest.scala
Labels: automerge

#10981 Improve feedback from failing match in AuthMatchers
  language-support/java/bindings-rxjava/BUILD.bazel
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/AuthMatchers.scala
Labels: automerge

#10973 LF: Move lookup tests out of EngineTest
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/PackageInterfaceSpec.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/transaction-test-lib/src/main/scala/lf/transaction/test/TransactionBuilder.scala
Labels: component/daml-engine

#10976 Retry upsert of command deduplication on oracle and h2 [DPP-609]
  ledger/participant-integration-api/src/main/scala/platform/store/backend/StorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/h2/H2StorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/oracle/OracleStorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PostgresStorageBackend.scala
Labels: component/ledger, needs-backport

#10982 interfaces: implement conversions, add test
  compiler/damlc/tests/daml-test-files/Interface.daml
  compiler/damlc/tests/daml-test-files/InterfaceDesugared.daml
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
Labels: automerge

#10897 Use ValueEnricher in ScenarioRunner
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ValueEnricher.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/ValueTranslator.scala
  daml-lf/scenario-interpreter/BUILD.bazel
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/ScenarioRunner.scala
Labels: component/daml-engine

#10979 bump dotnet
  ci/copy-windows-release-artifacts.sh
  infra/vsts_agent_windows.tf
Labels: Standard-Change

#10991 interface: Add test for conversion functions
  compiler/damlc/tests/daml-test-files/InterfaceConversions.daml
Labels: automerge

#10987 interfaces: Syntax highlighting for interfaces
  compiler/daml-extension/syntaxes/daml12.tmLanguage.xml
Labels: automerge

#10988 LF: reduce usage of NodeCreate.coinst
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/scenario/ScenarioLedger.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/CheckAuthorization.scala
  daml-lf/transaction-test-lib/src/main/scala/lf/transaction/test/TransactionBuilder.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Node.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionCoder.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/participant/util/LfEngineToApi.scala
  ledger/participant-integration-api/src/main/scala/db/migration/postgres/v25_backfill_participant_events/V25EventsTableInsert.scala
  ledger/participant-integration-api/src/main/scala/db/migration/postgres/v29_fix_participant_events/V29EventsTableInsert.scala
  ledger/participant-integration-api/src/main/scala/platform/store/ActiveLedgerStateManager.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/LfValueTranslation.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/PostCommitValidation.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/UpdateToDbDto.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/EventsTableH2Database.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/EventsTableOracle.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/EventsTablePostgresql.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/LfValueTranslation.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/PostCommitValidation.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoTransactionTreesSpec.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoTransactionsSpec.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcPipelinedInsertionsSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/backend/UpdateToDbDtoSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/dao/events/PostCommitValidationSpec.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/TransactionCommitter.scala
  ledger/participant-state/kvutils/tools/engine-replay/src/replay/scala/ledger/participant/state/kvutils/tools/engine/replay/Replay.scala
Labels: automerge

#10993 release 1.18.0-snapshot.20210921.7889.1.1b473c2b
  LATEST
Labels: Standard-Change

#10996 Release RC2 for SDK 1.17.0
  LATEST
Labels: Standard-Change

#10998 release 1.18.0-snapshot.20210922.7908.0.ced4a272
  LATEST
Labels: Standard-Change

#11003 Make LargeTransactionTest use ValueEnricher
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ValueEnricher.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/LargeTransactionTest.scala
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/ScenarioRunner.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/inmemory/InMemoryLedger.scala
Labels: component/daml-engine, automerge

#11010 Remove `transactionNormalization` flag.
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/EngineConfig.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/PartialTransactionSpec.scala
Labels: component/daml-engine, automerge

#11013 LF: Add interface support to the Preprocessor
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/CommandPreprocessor.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/PackageInterfaceSpec.scala
Labels: component/daml-lf, automerge

#11015 LF: Cosmetic clean-up in the Speedy Compiler
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
Labels: component/daml-engine, automerge

#10997 Increase the tolerance for handover of control in HaCoordinatorSpec [DPP-626]
  ledger/participant-integration-api/src/test/suite/scala/platform/indexer/ha/HaCoordinatorSpec.scala
Labels: component/ledger

#11020 LF: Refactor ProtoTest.scala
  daml-lf/archive/BUILD.bazel
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/ProtoTest.scala
Labels: component/daml-lf

#11019 Increase es disk size
  infra/es_cluster.tf
Labels: Standard-Change

#10857 es: drop jobs-* indices
  infra/es_cluster.tf
Labels: Standard-Change

#11048 Switch on NonUnitStatements warning in daml-lf/transaction
  daml-lf/transaction/BUILD.bazel
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/crypto/Hash.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/ledger/EventId.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionCoder.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/CidContainer.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/Value.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/ValueCoder.scala
Labels: component/daml-engine, automerge

#10617 detect unsynchronized contract table and retry
  ledger-service/db-backend/src/main/scala/com/digitalasset/http/dbbackend/Queries.scala
  ledger-service/db-backend/src/test/scala/com/digitalasset/http/dbbackend/QueriesSpec.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsFetch.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/dbbackend/ContractDao.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/domain.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/dbbackend/ContractDaoTest.scala
  libs-scala/scala-utils/BUILD.bazel
  libs-scala/scala-utils/src/main/scala/com/daml/scalautil/nonempty/NonEmpty.scala
Labels: automerge, component/json-api, application-runtime

#11046 [Divulgence pruning] Fixes divulgence pruning offset update query
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/QueryNonPruned.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/StorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/EventStorageBackendTemplate.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/ParameterStorageBackendTemplate.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/backend/StorageBackendTestsPruning.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/appendonlydao/SequentialWriteDaoSpec.scala
Labels: automerge

#11062 Release SDK 1.17.0
  LATEST
Labels: Standard-Change

#11067 Explicit discard in daml-lf/interpreter
  bazel_tools/scala.bzl
  daml-lf/interpreter/BUILD.bazel
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/scenario/ScenarioLedger.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Profile.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/WarningLog.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/transaction/BUILD.bazel
Labels: component/daml-engine, automerge

#11070 interface methods: Scala AST
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/Ref.scala
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/EncodeV1.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LookupError.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/PackageInterface.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Util.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/AstRewriter.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/iterable/ExprIterable.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/iterable/TypeIterable.scala
Labels: automerge

#11076 interface methods: Speedy
  compiler/damlc/tests/daml-test-files/Interface.daml
  compiler/damlc/tests/daml-test-files/InterfaceMethods.daml
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Profile.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
Labels: automerge

#10921 Drop NodeId type parameter
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Blinding.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Error.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Event.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ValueEnricher.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/TransactionPreprocessor.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/LargeTransactionTest.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ReinterpretTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/ledger/BlindingTransaction.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/scenario/ScenarioLedger.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/NormalizeRollbacks.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/NormalizeRollbacksSpec.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/RollbackTest.scala
  daml-lf/kv-transaction-support/src/main/scala/com/daml/lf/kv/TransactionNormalizer.scala
  daml-lf/kv-transaction-support/src/test/scala/com/daml/lf/kv/TransactionNormalizerSpec.scala
  daml-lf/transaction-test-lib/src/main/scala/lf/transaction/test/TransactionBuilder.scala
  daml-lf/transaction-test-lib/src/main/scala/lf/value/test/ValueGenerators.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/IncompleteTransaction.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Node.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Normalization.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionCoder.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionVersion.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Validation.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/package.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionCoderSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/validation/ValidationSpec.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ledgerinteraction/IdeLedgerClient.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/common/PlatformTypes.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/participant/util/LfEngineToApi.scala
  ledger/participant-integration-api/src/main/scala/db/migration/postgres/V4_1__Collect_Parties.scala
  ledger/participant-integration-api/src/main/scala/db/migration/postgres/v25_backfill_participant_events/package.scala
  ledger/participant-integration-api/src/main/scala/db/migration/postgres/v29_fix_participant_events/package.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/execution/StoreBackedCommandExecutor.scala
  ledger/participant-integration-api/src/main/scala/platform/index/TransactionConversion.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/package.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/package.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoSuite.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoTransactionLogUpdatesSpec.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoTransactionTreesSpec.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoTransactionsSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/indexer/ExecuteUpdateSpec.scala
  ledger/participant-state/kvutils/tools/codec-benchmark/src/benchmark/scala/com/daml/lf/benchmark/package.scala
  ledger/participant-state/kvutils/tools/engine-replay/src/replay/scala/ledger/participant/state/kvutils/tools/engine/replay/Adapter.scala
  ledger/participant-state/kvutils/tools/engine-replay/src/replay/scala/ledger/participant/state/kvutils/tools/engine/replay/Replay.scala
Labels: component/daml-engine

#11097 interface methods: Scala Typechecker
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/ValidationError.scala
Labels: automerge
