Repository digital-asset/daml, pull requests merged in 2021-01, with the labels that each got.

#8361 update test sha for copyright update
  ci/cron/perf/test_sha
Labels: automerge

#8362 java coden: itegration test for Generic Map
  language-support/java/codegen/BUILD.bazel
  language-support/java/codegen/src/it/daml/Lib_1_6.daml
  language-support/java/codegen/src/it/daml/Lib_1_7.daml
  language-support/java/codegen/src/it/daml/Lib_1_8.daml
  language-support/java/codegen/src/it/daml/Lib_dev.daml
  language-support/java/codegen/src/it/daml/Tests/GenMapTest.daml
  language-support/java/codegen/src/it/daml/Tests/TextMapTest.daml
  language-support/java/codegen/src/it/java-1.7/com/daml/AllTests.java
  language-support/java/codegen/src/it/java-1.8/com/daml/AllTests.java
  language-support/java/codegen/src/it/java-1.dev/com/daml/AllTests.java
  language-support/java/codegen/src/it/java-1.dev/com/daml/GenMapTest.java
  language-support/java/codegen/src/it/java-1.dev/com/daml/NumericTest.java
  language-support/java/codegen/src/it/java/com/daml/AllGenericTests.java
  language-support/java/codegen/src/it/java/com/daml/TextMapTest.java
Labels: component/java-ecosystem

#8364 LF: Scala type checker handle exceptions
  daml-lf/parser/src/test/scala/com/digitalasset/daml/lf/testing/parser/ParsersSpec.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/ValidationError.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/World.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/TypingSpec.scala
Labels: component/daml-lf

#8367 LF: prevent collision betweem templates and excetpions
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
  daml-lf/language/src/test/scala/com/digitalasset/daml/lf/language/AstSpec.scala
Labels: automerge, component/daml-lf

#8366 LF: fix specification of exceptions
  daml-lf/spec/daml-lf-1.rst
Labels: component/daml-lf

#8363 LF: Scala serializability checker handle exceptions
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Serializability.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/ValidationError.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/SerializabilitySpec.scala
Labels: component/daml-lf

#8365 LF: test LF 1.11 in DamlLfEncoderTest
  daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/archive/testing/DamlLfEncoderTest.scala
Labels: automerge, component/daml-lf

#8368 Fix queryContractKey for complex keys over gRPC
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/LedgerInteraction.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
  daml-script/test/daml-script-test-runner.sh
  daml-script/test/daml/ScriptTest.daml
  daml-script/test/src/test-utils/com/daml/lf/engine/script/test/AbstractFuncIT.scala
Labels: automerge

#8376 LF Spec: small fixes suggested by Martin
  daml-lf/spec/daml-lf-1.rst
Labels: component/daml-lf

#8380 Iterate over entrySet instead of keySet
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/FiltersByParty.java
Labels: automerge

#8378 Add missing + in prettyKind
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
Labels: automerge

#8381 Prefer Integer.valueOf over new Integer
  ledger-service/jwt/src/main/scala/com/digitalasset/jwt/JwksVerifier.scala
Labels: automerge

#8385 ci/cron: remove temp hack
  ci/cron/src/Main.hs
Labels: automerge

#8383 Drop unused Source.empty
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/services/commands/CommandTrackerFlow.scala
Labels: automerge

#8379 Remove a few redundant toString calls
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/Ref.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  ledger-service/utils/src/main/scala/com/digitalasset/ledger/service/LedgerReader.scala
Labels: automerge

#8388 ci: pin down Ubuntu versions
  azure-pipelines.yml
  ci/cron/tuesday.yml
  ci/cron/wednesday.yml
Labels: automerge

#8395 Cut down data-dependencies test.
  compiler/damlc/tests/src/DA/Test/DataDependencies.hs
Labels: automerge

#8398 language-support/java: Remove unused DAML imports in tests.
  language-support/java/codegen/src/it/daml/Tests/GenMapTest.daml
Labels: automerge

#8399 Fix hpp bazel rule.
  compiler/damlc/BUILD.bazel
Labels: automerge

#7945 participant-integration-api: Dedicated execution context for requests.
  language-support/java/codegen/src/ledger-tests/scala/com/digitalasset/TestUtil.scala
  ledger/ledger-api-auth/BUILD.bazel
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/services/ActiveContractsServiceAuthorization.scala
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/services/CommandCompletionServiceAuthorization.scala
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/services/CommandServiceAuthorization.scala
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/services/CommandSubmissionServiceAuthorization.scala
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/services/ConfigManagementServiceAuthorization.scala
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/services/LedgerConfigurationServiceAuthorization.scala
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/services/LedgerIdentityServiceAuthorization.scala
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/services/PackageManagementServiceAuthorization.scala
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/services/PackageServiceAuthorization.scala
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/services/ParticipantPruningServiceAuthorization.scala
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/services/PartyManagementServiceAuthorization.scala
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/services/TimeServiceAuthorization.scala
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/services/TransactionServiceAuthorization.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/services/grpc/GrpcCommandCompletionService.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/services/grpc/GrpcCommandService.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/services/grpc/GrpcCommandSubmissionService.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/services/grpc/GrpcHealthService.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/services/grpc/GrpcTransactionService.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/validation/ActiveContractsServiceValidation.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/validation/CommandCompletionServiceValidation.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/validation/LedgerConfigurationServiceValidation.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/validation/PackageServiceValidation.scala
  ledger/participant-integration-api/BUILD.bazel
  ledger/participant-integration-api/src/main/scala/platform/apiserver/ApiServices.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/GrpcServer.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/LedgerApiServer.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/ServerEventLoopGroups.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/StandaloneApiServer.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiActiveContractsService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiCommandCompletionService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiCommandService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiLedgerConfigurationService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiLedgerIdentityService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiPackageService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiSubmissionService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiTimeService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/LedgerConfigProvider.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/admin/ApiConfigManagementService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/admin/ApiPackageManagementService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/admin/ApiParticipantPruningService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/admin/ApiPartyManagementService.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/GrpcServerSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/services/LedgerConfigProviderSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/tls/TlsCertificateRevocationCheckingSpec.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Runner.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/SandboxServer.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/package.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/DevModeIT.scala
  ledger/sandbox/src/main/scala/platform/sandboxnext/Runner.scala
Labels: automerge

#8407 Include new Nix signing key in static nix config on CI nodes
  dev-env/etc/nix.conf
  infra/vsts_agent_linux_startup.sh
Labels: Standard-Change

#8401 LF: document preview of LF 1.11
  daml-lf/spec/daml-lf-1.rst
Labels: component/daml-lf

#8412 fix docs cron
  ci/cron/src/Main.hs
Labels: automerge

#8389 LF Spec: fix ordering of contract IDs.
  daml-lf/spec/contract-id.rst
  daml-lf/spec/daml-lf-1.rst
Labels: component/daml-lf

#8351 Make auth callback state bounded
  triggers/service/auth/BUILD.bazel
  triggers/service/auth/src/main/scala/com/daml/auth/middleware/api/Client.scala
  triggers/service/auth/src/main/scala/com/daml/auth/middleware/api/Request.scala
  triggers/service/auth/src/main/scala/com/daml/auth/middleware/api/RequestStore.scala
  triggers/service/auth/src/main/scala/com/daml/auth/middleware/oauth2/Config.scala
  triggers/service/auth/src/main/scala/com/daml/auth/middleware/oauth2/Server.scala
  triggers/service/auth/src/test/scala/com/daml/auth/middleware/oauth2/Resources.scala
  triggers/service/auth/src/test/scala/com/daml/auth/middleware/oauth2/Test.scala
  triggers/service/auth/src/test/scala/com/daml/auth/middleware/oauth2/TestFixture.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Server.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/ServiceConfig.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/ServiceMain.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceFixture.scala
Labels: automerge, component/trigger-service

#8418 Doc: mention ledger offset in transaction service too
  docs/source/app-dev/services.rst
  docs/source/upgrade/extend.rst
Labels: automerge, component/documentation

#8421 Port //daml-lf/interpreter to Scala 2.13
  ci/build.yml
  daml-lf/data/src/main/2.12/com/daml/lf/data/ImmArrayInstances.scala
  daml-lf/data/src/main/2.13/com/daml/lf/data/FrontStackInstances.scala
  daml-lf/data/src/test/scala/com/digitalasset/daml/lf/data/FrontStackSpec.scala
  daml-lf/interpreter/BUILD.bazel
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/scenario/ScenarioLedger.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/PrettyLightweight.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Profile.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/TraceLog.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/svalue/Equality.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/svalue/Ordering.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ComparisonSBuiltinTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/InterpreterTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SpeedyTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/svalue/OrderingSpec.scala
  daml-lf/transaction-test-lib/src/main/scala/lf/value/test/TypedValueGenerators.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/value/ValueSpec.scala
Labels: automerge

#8424 Add DA.Maybe to preprocessor exceptions.
  compiler/damlc/daml-preprocessor/src/DA/Daml/Preprocessor.hs
Labels: automerge

#8387 LF : Fix/Clean some LF related TODOs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/language/src/test/scala/com/digitalasset/daml/lf/language/AstSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionCoderSpec.scala
  extractor/BUILD.bazel
  extractor/src/test/suite/scala/com/digitalasset/extractor/GenMapSpec.scala
  language-support/scala/codegen-sample-app/BUILD.bazel
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoDivulgenceSpec.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Runner.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/query/SortingPager.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/query/project/package.scala
  navigator/backend/src/test/scala/com/digitalasset/navigator/backend/DamlConstants.scala
  navigator/backend/src/test/scala/com/digitalasset/navigator/backend/query/ContractFilterSpec.scala
  navigator/backend/src/test/scala/com/digitalasset/navigator/backend/query/ContractSortSpec.scala
Labels: component/daml-lf, component/navigator

#8425 Update .vscode/settings.json
  .vscode/settings.json
Labels: automerge

#8426 remove buck-out
  dev-env/bin/buck-out
Labels: automerge

#8431 Update VC redist to 14.28.29325.2
  .dadew
  dev-env/windows/manifests/bazel.json
  dev-env/windows/manifests/vcredist.json
Labels: automerge

#8205 Improve the docs copyright notice
  docs/configs/html/conf.py
Labels: automerge

#8429 rxjava: support for multiparty submissions
  language-support/java/bindings-rxjava/src/main/java/com/daml/ledger/rxjava/CommandClient.java
  language-support/java/bindings-rxjava/src/main/java/com/daml/ledger/rxjava/CommandSubmissionClient.java
  language-support/java/bindings-rxjava/src/main/java/com/daml/ledger/rxjava/grpc/CommandClientImpl.java
  language-support/java/bindings-rxjava/src/main/java/com/daml/ledger/rxjava/grpc/CommandSubmissionClientImpl.java
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/components/BotTest.scala
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/components/tests/helpers/DummyLedgerClient.scala
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/grpc/CommandClientImplTest.scala
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/SubmitAndWaitRequest.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/SubmitCommandsRequest.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/SubmitRequest.java
  language-support/java/codegen/src/ledger-tests/daml/AllTests.daml
  language-support/java/codegen/src/ledger-tests/scala/com/digitalasset/CodegenLedgerTest.scala
  language-support/java/codegen/src/ledger-tests/scala/com/digitalasset/TestUtil.scala
Labels: automerge

#8438 Add grpc-server-reflection-client
  libs-scala/grpc-server-reflection-client/BUILD.bazel
  libs-scala/grpc-server-reflection-client/src/main/scala/com/daml/grpc/reflection/MethodDescriptorInfo.scala
  libs-scala/grpc-server-reflection-client/src/main/scala/com/daml/grpc/reflection/ServerReflectionClient.scala
  libs-scala/grpc-server-reflection-client/src/main/scala/com/daml/grpc/reflection/ServerReflectionRequests.scala
  libs-scala/grpc-server-reflection-client/src/main/scala/com/daml/grpc/reflection/ServiceDescriptorInfo.scala
  libs-scala/grpc-server-reflection-client/src/main/scala/com/daml/grpc/reflection/ServiceDescriptorInfoObserver.scala
  libs-scala/grpc-server-reflection-client/src/test/scala/com/daml/grpc/reflection/ServerReflectionClientSpec.scala
Labels: automerge

#8446 Fix docs logo
  docs/theme/da_theme_skeleton/static/images/DAML_Logo_Blue.svg
Labels: automerge

#8447 Pin scalafmt version in configuration file
  .scalafmt.conf
Labels: automerge

#8350 Typo fix in fmap documentation
  compiler/damlc/daml-prim-src/GHC/Base.daml
Labels: automerge

#8441 Sandbox: add early access flag to the sandboxes
  daml-lf/encoder/BUILD.bazel
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/EngineConfig.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineInfoTest.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/language/daml-lf.bzl
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/PackageCommitterSpec.scala
  ledger/participant-state/kvutils/tools/src/main/scala/ledger/participant/state/kvutils/tools/integritycheck/IntegrityChecker.scala
  ledger/sandbox-classic/BUILD.bazel
  ledger/sandbox-classic/src/main/scala/platform/sandbox/Cli.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/SandboxServer.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/EngineModeIT.scala
  ledger/sandbox-common/src/main/scala/platform/sandbox/cli/CommonCli.scala
  ledger/sandbox-common/src/main/scala/platform/sandbox/config/SandboxConfig.scala
  ledger/sandbox-common/src/test/lib/scala/platform/sandbox/AbstractSandboxFixture.scala
  ledger/sandbox/BUILD.bazel
  ledger/sandbox/src/main/scala/platform/sandboxnext/Cli.scala
  ledger/sandbox/src/main/scala/platform/sandboxnext/Runner.scala
Labels: component/daml-lf, component/ledger

#8454 publish docs bundle as pipeline artifact
  ci/build.yml
Labels: automerge

#8456 Add table correlating Connect and Ledger API version
  docs/source/support/compatibility.rst
Labels: automerge

#8455 Bump Ledger API version to 1.8.0
  ledger-api/VERSION
Labels: automerge

#8453 Oauth template
  bazel-java-deps.bzl
  maven_install_2.12.json
  maven_install_2.13.json
  triggers/service/auth/BUILD.bazel
  triggers/service/auth/src/main/resources/com/daml/auth/middleware/oauth2/auth0_request_authorization.jsonnet
  triggers/service/auth/src/main/resources/com/daml/auth/middleware/oauth2/auth0_request_refresh.jsonnet
  triggers/service/auth/src/main/resources/com/daml/auth/middleware/oauth2/auth0_request_token.jsonnet
  triggers/service/auth/src/main/scala/com/daml/auth/middleware/oauth2/Config.scala
  triggers/service/auth/src/main/scala/com/daml/auth/middleware/oauth2/RequestTemplates.scala
  triggers/service/auth/src/main/scala/com/daml/auth/middleware/oauth2/Server.scala
  triggers/service/auth/src/test/scala/com/daml/auth/middleware/oauth2/TestFixture.scala
  triggers/service/auth/src/test/scala/com/daml/auth/middleware/oauth2/TestMiddleware.scala
  triggers/service/auth/src/test/scala/com/daml/auth/middleware/oauth2/TestRequestStore.scala
  triggers/service/auth/src/test/scala/com/daml/auth/middleware/oauth2/TestRequestTemplates.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceFixture.scala
Labels: automerge

#8464 Release 1.9.0 snapshot
  LATEST
Labels: Standard-Change

#8472 Build DAML Script library for all LF versions
  daml-lf/language/daml-lf.bzl
  daml-script/daml/BUILD.bazel
Labels: automerge

#8471 Allow multiple requesters for a commit in the ledger model
  docs/source/concepts/ledger-model/ledger-structure.rst
Labels: automerge

#8473 only update NOTICES from main daily compats
  ci/cron/daily-compat.yml
Labels: automerge

#8463 Update offset when party/config rejected on a duplicate
  ledger/participant-integration-api/src/main/scala/platform/store/dao/JdbcLedgerDao.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoConfigurationSpec.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoPartiesSpec.scala
Labels: automerge, component/ledger

#8474 Release 1.9. snapshot
  LATEST
Labels: Standard-Change

#8477 remove jfrog-cli
  ci/build-unix.yml
  dev-env/bin/hub-detect
  dev-env/bin/jfrog
  nix/default.nix
  nix/tools/jfrog-cli/default.nix
Labels: automerge

#8465 LF: get ride of user-defined patterns in ValueTranslation.
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/SortedLookupList.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/ValueTranslator.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/PreprocessorSpec.scala
Labels: component/daml-lf

#8419 Enable asynchronous commit per connection level
  ledger/participant-integration-api/BUILD.bazel
  ledger/participant-integration-api/src/main/scala/platform/store/DbType.scala
  ledger/participant-integration-api/src/main/scala/platform/store/FlywayMigrations.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/DbDispatcher.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/HikariJdbcConnectionProvider.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/JdbcLedgerDao.scala
  ledger/participant-integration-api/src/test/resources/logback-test.xml
  ledger/participant-integration-api/src/test/suite/scala/platform/indexer/JdbcIndexerSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/dao/HikariConnectionSpec.scala
  ledger/sandbox-classic/src/test/resources/logback-test.xml
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/stores/ledger/sql/SqlLedgerSpec.scala
Labels: automerge

#8489 trigger PRs job on generated PRs
  azure-pipelines.yml
  ci/cron/wednesday.yml
Labels: automerge

#8490 Remove redundant list of LF versions
  compiler/damlc/pkg-db/BUILD.bazel
  compiler/damlc/tests/BUILD.bazel
  compiler/damlc/util.bzl
  daml-lf/language/daml-lf.bzl
  daml-script/daml/BUILD.bazel
  triggers/daml/BUILD.bazel
Labels: automerge

#8486 kvutils: Use mockito-scala's `ArgCaptor`.
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/MockitoHelpers.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/api/BatchingLedgerWriterSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/api/KeyValueParticipantStateWriterSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/SubmissionValidatorSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/batch/BatchedSubmissionValidatorSpec.scala
Labels: automerge

#8483 kvutils: Make migration to the new key and value types easier.
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/queries/Queries.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/Raw.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/package.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/LedgerStateAccess.scala
Labels: automerge

#8492 Release yet another 1.9.0 snapshot
  LATEST
Labels: Standard-Change, automerge

#8480 fix race condition in DB update when ACS has later contracts than the ledger-end
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsFetch.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/LedgerClientJwt.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/util/BeginBookmark.scala
Labels: component/json-api

#8493 LF: provide methods to enrich LF values missing type and field name:
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ValueEnricher.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ValueEnricherSpec.scala
  daml-lf/transaction-test-lib/src/main/scala/lf/transaction/test/TransactionBuilder.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionVersion.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/dao/events/PostCommitValidationSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/TransactionCommitterSpec.scala
Labels: component/daml-lf

#8496 LF: move package lookup utilities directly inside GenPackage
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/SignatureLookup.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ValueEnricher.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/CommandPreprocessor.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/Preprocessor.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/ValueTranslator.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
Labels: component/daml-lf

#8226 hybrid database-then-gRPC websocket query
  ledger-service/db-backend/BUILD.bazel
  ledger-service/db-backend/src/main/scala/com/digitalasset/http/dbbackend/Queries.scala
  ledger-service/db-backend/src/test/scala/com/digitalasset/http/dbbackend/QueriesSpec.scala
  ledger-service/http-json/src/it/scala/http/HttpServicePostgresInt.scala
  ledger-service/http-json/src/it/scala/http/HttpServiceWithPostgresIntTest.scala
  ledger-service/http-json/src/it/scala/http/WebsocketServiceIntegrationTest.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/dbbackend/ContractDao.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/util/BeginBookmark.scala
Labels: component/json-api

#8505 Disable async commit on h2database
  ledger/participant-integration-api/src/main/scala/platform/store/dao/JdbcLedgerDao.scala
Labels: automerge

#8515 ci: clean-up disk cache if it gets too big
  ci/build-unix.yml
Labels: automerge

#8502 fix typo in docs
  docs/source/tools/sandbox.rst
Labels: automerge

#8512 LF: fix Transaction Decoder/Encoder
  daml-lf/transaction-test-lib/src/main/scala/lf/value/test/ValueGenerators.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionCoder.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/ValueCoder.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionCoderSpec.scala
Labels: component/daml-lf

#8520 update compiler header
  compiler/damlc/lib/DA/Cli/Damlc.hs
Labels: automerge

#8521 LF: drop useless function `getTemplateId` from preprocessor.
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/Preprocessor.scala
Labels: automerge, component/daml-engine

#8525 ci/cron: remove hidden.json
  ci/cron/src/Main.hs
Labels: automerge

#8531 ci: fix linux cleanup for spaces
  ci/build-unix.yml
Labels: automerge

#8533 Release 1.8.1-snapshot.20210115.5842.0.59f5d407
  LATEST
Labels: Standard-Change

#8532 Don't always redirect to /login automatically
  triggers/service/BUILD.bazel
  triggers/service/auth/src/main/scala/com/daml/auth/middleware/api/Client.scala
  triggers/service/auth/src/main/scala/com/daml/auth/middleware/api/Request.scala
  triggers/service/auth/src/main/scala/com/daml/auth/middleware/oauth2/Config.scala
  triggers/service/auth/src/main/scala/com/daml/auth/middleware/oauth2/Server.scala
  triggers/service/auth/src/main/scala/com/daml/auth/oauth2/api/Request.scala
  triggers/service/auth/src/test/scala/com/daml/auth/middleware/oauth2/Resources.scala
  triggers/service/auth/src/test/scala/com/daml/auth/middleware/oauth2/TestFixture.scala
  triggers/service/auth/src/test/scala/com/daml/auth/middleware/oauth2/TestMiddleware.scala
  triggers/service/authentication.md
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Server.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/ServiceConfig.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/ServiceMain.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceFixture.scala
Labels: automerge, component/trigger-service

#8537 Bless snapshot release 1.8.1-snapshot.20210115.5842.0.59f5d407 as release 1.8.1 [KVL-797]
  LATEST
Labels: Standard-Change

#8526 LF: Flatten ContractInstance inside NodeCreate
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ValueEnricher.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/TransactionPreprocessor.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/LargeTransactionTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/transaction-test-lib/src/main/scala/lf/transaction/test/TransactionBuilder.scala
  daml-lf/transaction-test-lib/src/main/scala/lf/value/test/ValueGenerators.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Node.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionCoder.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionCoderSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionSpec.scala
  ledger/participant-integration-api/src/main/scala/db/migration/h2database/V5_1__Populate_Event_Data.scala
  ledger/participant-integration-api/src/main/scala/db/migration/postgres/V10_1__Populate_Event_Data.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoDivulgenceSpec.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoSuite.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/ProjectionsSpec.scala
  ledger/participant-state/kvutils/tools/engine-benchmark/src/benchmark/scala/ledger/participant/state/kvutils/tools/engine/benchmark/Adapter.scala
Labels: component/daml-lf

#8555 Sandbox-classic: revert back the change of default contract ID seeding
  language-support/java/codegen/src/ledger-tests/scala/com/digitalasset/TestUtil.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/package.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/EngineModeIT.scala
Labels: component/ledger

#8560 sandbox-classic: test the default seeding is not changed
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/CliSpec.scala
Labels: automerge, component/ledger

#8559 Sandbox-classic: revert back the change of default contract ID seeding.
  language-support/java/codegen/src/ledger-tests/scala/com/digitalasset/TestUtil.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/package.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/EngineModeIT.scala
Labels: automerge, component/ledger

#8563 reduce ci/cron noise
  azure-cron.yml
Labels: automerge

#8561 Release 1.9 RC 2
  LATEST
Labels: Standard-Change, automerge

#8565 faster disk cleanup check
  ci/build-unix.yml
Labels: automerge

#8508 Pass MetricsRegistry to commitStrategySupport from IntegrityChecker
  ledger/participant-state/kvutils/tools/BUILD.bazel
  ledger/participant-state/kvutils/tools/integrity-check/src/main/scala/ledger/participant/state/kvutils/tools/integritycheck/LogAppendingCommitStrategySupport.scala
  ledger/participant-state/kvutils/tools/integrity-check/src/main/scala/ledger/participant/state/kvutils/tools/integritycheck/Main.scala
  ledger/participant-state/kvutils/tools/integrity-check/src/test/scala/ledger/participant/state/kvutils/tools/integritycheck/LogAppendingCommitStrategySupportSpec.scala
  ledger/participant-state/kvutils/tools/src/main/scala/ledger/participant/state/kvutils/tools/integritycheck/IntegrityChecker.scala
  ledger/participant-state/kvutils/tools/src/test/scala/ledger/participant/state/kvutils/tools/integritycheck/IntegrityCheckerSpec.scala
Labels: automerge

#8543 Log workflow id in combination with correlation id to aide troubleshooting
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiSubmissionService.scala
Labels: automerge

#8577 Bumping the release by one PR -- 1.10.0-snapshot.20210120.6106.0.58ef725a
  LATEST
Labels: Standard-Change

#8576 Add choice observers in the ledger model.
  docs/source/concepts/ledger-model/ledger-daml.rst
  docs/source/concepts/ledger-model/ledger-privacy.rst
Labels: automerge

#8572 Release SDK 1.9.0
  LATEST
Labels: Standard-Change

#8575 LF Encoder: fix encoding of LF 1.11
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/EncodeV1.scala
  daml-lf/encoder/src/test/lf/GenMap_1.11_1.dev_.lf
  daml-lf/encoder/src/test/lf/Int64_all_.lf
  daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/archive/testing/EncodeV1Spec.scala
Labels: component/daml-lf

#8585 Upgrade akka libraries
  bazel-java-deps.bzl
  maven_install_2.12.json
  maven_install_2.13.json
Labels: automerge

#8570 LF: generalize usage of GlobalKey#build builder
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/package.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/scenario/ScenarioLedger.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/crypto/Hash.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/GlobalKey.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/Conversions.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/InputsAndEffects.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/KeyValueCommitting.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/TransactionCommitter.scala
  ledger/participant-state/kvutils/tools/engine-benchmark/src/benchmark/scala/ledger/participant/state/kvutils/tools/engine/benchmark/Replay.scala
Labels: component/daml-engine

#8517 soft-code Postgres in json-api
  ledger-service/db-backend/src/main/scala/com/digitalasset/http/dbbackend/Queries.scala
  ledger-service/http-json-testing/src/main/scala/com/daml/http/HttpServiceTestFixture.scala
  ledger-service/http-json/BUILD.bazel
  ledger-service/http-json/src/it/scala/http/HttpServiceWithPostgresIntTest.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsFetch.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Main.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/dbbackend/ContractDao.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/dbbackend/SupportedJdbcDriver.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/query/ValuePredicate.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/query/ValuePredicateTest.scala
Labels: component/json-api

#8562 LF: Release LF 1.11
  daml-lf/archive/src/main/protobuf/com/daml/daml_lf_1_11/daml_lf_1.proto
  daml-lf/archive/src/main/protobuf/com/daml/daml_lf_dev/daml_lf_1.proto
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/ProtoTest.scala
  daml-lf/encoder/BUILD.bazel
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineInfoTest.scala
  daml-lf/language/daml-lf.bzl
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
  daml-lf/spec/daml-lf-1.rst
  daml-lf/spec/transaction.rst
  daml-lf/spec/value.rst
  extractor/src/test/suite/scala/com/digitalasset/extractor/EnumSpec.scala
  extractor/src/test/suite/scala/com/digitalasset/extractor/GenMapSpec.scala
  language-support/scala/codegen-sample-app/BUILD.bazel
  ledger-api/VERSION
  ledger/sandbox-classic/src/main/scala/platform/sandbox/SandboxServer.scala
Labels: component/daml-lf

#8590 Improve browser compatbility of auth middleware
  triggers/service/auth/src/main/scala/com/daml/auth/middleware/api/Client.scala
  triggers/service/auth/src/main/scala/com/daml/auth/middleware/api/Request.scala
  triggers/service/auth/src/main/scala/com/daml/auth/middleware/oauth2/Config.scala
  triggers/service/auth/src/main/scala/com/daml/auth/middleware/oauth2/Server.scala
  triggers/service/auth/src/test/scala/com/daml/auth/middleware/oauth2/TestFixture.scala
  triggers/service/auth/src/test/scala/com/daml/auth/middleware/oauth2/TestMiddleware.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceFixture.scala
Labels: automerge, component/trigger-service

#8597 Fix stdlib docs for `unless`
  compiler/damlc/daml-stdlib-src/DA/Action.daml
Labels: component/documentation

#8600 Change case of DAML on docs landing page
  docs/theme/da_theme_skeleton/boxes.html
Labels: automerge

#8610 copyright updates
  LICENSE
  README.md
  compiler/damlc/base-hoogle-template.txt
  daml-script/daml/daml-script-hoogle-template.txt
  docs/configs/pdf/conf.py
  docs/theme/docs/conf.py
  ghc-lib/new-working-on-ghc-lib.md
  ghc-lib/template-desugaring.md
  triggers/daml/daml-trigger-hoogle-template.txt
Labels: automerge

#8611 Drop early access tag on trigger service and auth middleware
  daml-assistant/daml-sdk/BUILD.bazel
  daml-assistant/daml-sdk/src/main/scala/com/digitalasset/daml/sdk/SdkMain.scala
  daml-assistant/exe/DA/Daml/Assistant.hs
  daml-assistant/integration-tests/src/DA/Daml/Assistant/IntegrationTests.hs
  docs/source/index.rst
  docs/source/tools/auth-middleware/index.rst
  docs/source/tools/trigger-service/index.rst
  docs/source/triggers/index.rst
  release/sdk-config.yaml.tmpl
  release/util.bzl
  triggers/service/auth/BUILD.bazel
  triggers/service/auth/release/oauth2-middleware-logback.xml
  triggers/service/auth/src/main/scala/com/daml/auth/middleware/oauth2/Server.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/ServiceConfig.scala
Labels: component/trigger-service

#8519 LF: remove versionning of the individual values in transaction proto.
  daml-lf/transaction-test-lib/src/main/scala/lf/value/test/ValueGenerators.scala
  daml-lf/transaction/src/main/protobuf/com/daml/lf/transaction.proto
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionCoder.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionVersion.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/ValueCoder.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionCoderSpec.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/KeyValueCommitting.scala
  ledger/participant-state/kvutils/tools/codec-benchmark/src/benchmark/scala/com/daml/lf/DeserializeValueBenchmark.scala
  ledger/participant-state/kvutils/tools/codec-benchmark/src/benchmark/scala/com/daml/lf/SerializeValueBenchmark.scala
  ledger/participant-state/kvutils/tools/codec-benchmark/src/benchmark/scala/com/daml/lf/benchmark/TypedValue.scala
  ledger/participant-state/kvutils/tools/codec-benchmark/src/benchmark/scala/com/daml/lf/benchmark/TypedValueExtractor.scala
  ledger/participant-state/kvutils/tools/codec-benchmark/src/benchmark/scala/com/daml/lf/benchmark/Versioned.scala
  ledger/participant-state/kvutils/tools/codec-benchmark/src/benchmark/scala/com/daml/lf/benchmark/package.scala
  ledger/participant-state/kvutils/tools/codec-benchmark/src/benchmark/scala/com/daml/lf/engine/SpeedyToValueBenchmark.scala
  ledger/participant-state/kvutils/tools/codec-benchmark/src/benchmark/scala/com/daml/lf/engine/ValueTranslatorBenchmark.scala
  ledger/participant-state/kvutils/tools/codec-benchmark/src/benchmark/scala/com/daml/lf/engine/package.scala
  ledger/participant-state/kvutils/tools/codec-benchmark/src/benchmark/scala/com/daml/lf/speedy/MachineImportValueBenchmark.scala
Labels: component/daml-lf

#8614 Publish JARs for trigger service and OAuth 2.0 middleware
  azure-pipelines.yml
  ci/build-unix.yml
  release/util.bzl
Labels: automerge, component/trigger-service

#8394 Switch to GHC 8.10.3
  BAZEL-haskell.md
  WORKSPACE
  bazel-haskell-deps.bzl
  bazel_tools/fat_cc_library.bzl
  bazel_tools/grpc-gettid.patch
  bazel_tools/haskell-cc-wrapper-windows.patch
  bazel_tools/haskell-ghc-lib.patch
  bazel_tools/haskell-ghcide-bounds.patch
  bazel_tools/haskell-windows-extra-libraries.patch
  bazel_tools/haskell-windows-remove-fake-libs.patch
  bazel_tools/haskell.bzl
  ci/cron/src/Main.hs
  compatibility/WORKSPACE
  compatibility/deps.bzl
  compatibility/sandbox-migration/runner/Migration/ProposeAccept.hs
  compatibility/stack-snapshot.yaml
  compatibility/stackage_snapshot.json
  compatibility/stackage_snapshot_windows.json
  compiler/damlc/BUILD.bazel
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/DataDependencies.hs
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Repl.hs
  compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
  compiler/damlc/daml-ide-core/test/Development/IDE/Core/API/Testing.hs
  compiler/damlc/daml-ide/src/DA/Daml/LanguageServer.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
  compiler/damlc/daml-opts/daml-opts/DA/Daml/Options.hs
  compiler/damlc/daml-preprocessor/src/DA/Daml/Preprocessor/Records.hs
  compiler/damlc/daml-visual/src/DA/Daml/Visual.hs
  compiler/damlc/lib/DA/Cli/Damlc.hs
  compiler/damlc/lib/DA/Cli/Damlc/BuildInfo.hs
  compiler/damlc/lib/DA/Cli/Damlc/Packaging.hs
  compiler/damlc/tests/src/DA/Test/DamlcIntegration.hs
  compiler/damlc/util.bzl
  compiler/lsp-tests/src/DA/Daml/Lsp/Test/Util.hs
  compiler/lsp-tests/src/Main.hs
  compiler/repl-service/protos/BUILD.bazel
  compiler/scenario-service/client/src/DA/Daml/LF/ScenarioServiceClient/LowLevel.hs
  compiler/scenario-service/protos/BUILD.bazel
  daml-assistant/daml-helper/test/DA/Daml/Helper/Test/Deployment.hs
  daml-assistant/integration-tests/src/DA/Daml/Assistant/IntegrationTestUtils.hs
  daml-lf/archive/BUILD.bazel
  deps.bzl
  dev-env/bin/ghc
  dev-env/bin/ghcide
  ghcide-snapshot.yaml
  ghcide_snapshot.json
  ghcide_snapshot_windows.json
  language-support/hs/bindings/src/DA/Ledger/LedgerService.hs
  language-support/hs/bindings/test/DA/Ledger/Tests.hs
  ledger-api/grpc-definitions/BUILD.bazel
  nix/bazel.nix
  nix/default.nix
  nix/ghc.nix
  nix/overrides/ghc-8.10.3.nix
  release/src/Main.hs
  release/src/Options.hs
  stack-snapshot.yaml
  stackage_snapshot.json
  stackage_snapshot_windows.json
Labels: automerge

#8607 Enable ledger-api-test-tool to be used as a library
  ledger/ledger-api-test-tool/BUILD.bazel
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/Cli.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/LedgerApiTestTool.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/Errors.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerServices.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerSession.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerSessionConfiguration.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerTestCasesRunner.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerTestSummary.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/Reporter.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/ResourceOwner.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/Result.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/participant/ParticipantSession.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/participant/ParticipantSessionConfiguration.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/participant/ParticipantSessionManager.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/ActiveContractsServiceIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/ClosedWorldIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/CommandDeduplicationIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/CommandServiceIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/CommandSubmissionCompletionIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/ConfigManagementServiceIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/ContractKeysIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/DivulgenceIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/HealthServiceIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/IdentityIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/LedgerConfigurationServiceIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/LotsOfPartiesIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/MultiPartySubmissionIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/PackageManagementServiceIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/PackageServiceIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/ParticipantPruningIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/PartyManagementServiceIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/PerformanceEnvelope.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/SemanticTests.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/TransactionScaleIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/TransactionServiceIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/WitnessesIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/WronglyTypedContractIdIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/Tests.scala
  libs-scala/resources-akka/src/main/scala/com/digitalasset/resources/akka/AkkaResourceOwnerFactories.scala
Labels: automerge

#8618 docs: fix URL parsing for search page
  docs/theme/js/theme.js
Labels: automerge

#8625 release 1.10.0-snapshot.20210125.6143.0.550aa48f
  LATEST
Labels: Standard-Change

#8558 Upgrade grpc and protobuf libraries
  bazel-java-deps.bzl
  bazel_tools/grpc-java-plugin-visibility.patch
  bazel_tools/protobuf-win32.patch
  compatibility/bazel_tools/daml_sdk.bzl
  deps.bzl
  docs/source/app-dev/bindings-java/quickstart/template-root/pom.xml
  maven_install_2.12.json
  maven_install_2.13.json
Labels: automerge

#8632 change comment of listknownparties: known instead of hosted
  ledger-api/grpc-definitions/com/daml/ledger/api/v1/admin/party_management_service.proto
Labels: automerge

#8608 Add the first non-repudiation middleware prototype
  runtime-components/non-repudiation-client/BUILD.bazel
  runtime-components/non-repudiation-client/src/main/java/com/daml/nonrepudiation/client/ByteMarshaller.java
  runtime-components/non-repudiation-client/src/main/java/com/daml/nonrepudiation/client/SigningInterceptor.java
  runtime-components/non-repudiation-core/BUILD.bazel
  runtime-components/non-repudiation-core/src/main/java/com/daml/nonrepudiation/Base64Fingerprint.java
  runtime-components/non-repudiation-core/src/main/java/com/daml/nonrepudiation/Base64Signature.java
  runtime-components/non-repudiation-core/src/main/java/com/daml/nonrepudiation/Headers.java
  runtime-components/non-repudiation/BUILD.bazel
  runtime-components/non-repudiation/src/main/scala/com/daml/nonrepudiation/KeyRepository.scala
  runtime-components/non-repudiation/src/main/scala/com/daml/nonrepudiation/NonRepudiationProxy.scala
  runtime-components/non-repudiation/src/main/scala/com/daml/nonrepudiation/SignatureVerificationInterceptor.scala
  runtime-components/non-repudiation/src/main/scala/com/daml/nonrepudiation/SignedCommandRepository.scala
  runtime-components/non-repudiation/src/test/resources/logback-test.xml
  runtime-components/non-repudiation/src/test/scala/com/daml/nonrepudiation/NonRepudiationProxyConformance.scala
  runtime-components/non-repudiation/src/test/scala/com/daml/nonrepudiation/NonRepudiationProxySpec.scala
Labels: automerge

#8622 Auth0 example configuration
  docs/source/tools/auth-middleware/oauth2.rst
  docs/source/tools/trigger-service/auth0_example.rst
  docs/source/tools/trigger-service/authorization.rst
  docs/source/tools/trigger-service/index.rst
Labels: automerge, component/trigger-service

#8638 Add test to verify that TLSv1.2 and TLSv1.3 work
  ledger/ledger-api-common/src/main/scala/com/digitalasset/ledger/api/tls/TlsConfiguration.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/TlsIT.scala
Labels: automerge

#8643 resources: Less context.
  libs-scala/resources/src/main/scala/com/digitalasset/resources/NestedResource.scala
  libs-scala/resources/src/main/scala/com/digitalasset/resources/PureResource.scala
  libs-scala/resources/src/main/scala/com/digitalasset/resources/Resource.scala
  libs-scala/resources/src/main/scala/com/digitalasset/resources/ResourceFactories.scala
  libs-scala/resources/src/test/suite/scala/com/digitalasset/resources/ResourceOwnerSpec.scala
Labels: automerge

#8062 LF: do not serialize types and field in transaction values.
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/ValueTranslator.scala
  daml-lf/interpreter/BUILD.bazel
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/svalue/Equality.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/svalue/OrderingSpec.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Util.scala
  daml-lf/transaction-test-lib/src/main/scala/lf/value/test/ValueNormalizer.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionCoder.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Validation.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/ValueCoder.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionCoderSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/value/ValueCoderSpec.scala
  ledger/participant-state/kvutils/tools/codec-benchmark/src/benchmark/scala/com/daml/lf/speedy/MachineImportValueBenchmark.scala
Labels: component/daml-lf

#8639 lengthen timeout for FlowUtilTest from 150ms to 5s
  ledger-service/http-json/src/test/scala/com/digitalasset/http/util/FlowUtilTest.scala
Labels: automerge, component/json-api

#8645 resources: Remove the default factories.
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/LedgerApiTestTool.scala
  libs-scala/postgresql-testing/src/main/scala/com/digitalasset/testing/postgresql/PostgresResource.scala
  libs-scala/resources-akka/src/main/scala/com/digitalasset/resources/akka/ActorMaterializerResourceOwner.scala
  libs-scala/resources-akka/src/main/scala/com/digitalasset/resources/akka/ActorSystemResourceOwner.scala
  libs-scala/resources-grpc/src/main/scala/com/daml/resources/grpc/ManagedChannelResourceOwner.scala
  libs-scala/resources-grpc/src/main/scala/com/daml/resources/grpc/NioEventLoopGroupResourceOwner.scala
  libs-scala/resources-grpc/src/main/scala/com/daml/resources/grpc/ServerResourceOwner.scala
  libs-scala/resources/src/main/scala/com/digitalasset/resources/CloseableResourceOwner.scala
  libs-scala/resources/src/main/scala/com/digitalasset/resources/ExecutorServiceResourceOwner.scala
  libs-scala/resources/src/main/scala/com/digitalasset/resources/FutureCloseableResourceOwner.scala
  libs-scala/resources/src/main/scala/com/digitalasset/resources/FutureResourceOwner.scala
  libs-scala/resources/src/main/scala/com/digitalasset/resources/NestedResource.scala
  libs-scala/resources/src/main/scala/com/digitalasset/resources/ProgramResource.scala
  libs-scala/resources/src/main/scala/com/digitalasset/resources/PureResource.scala
  libs-scala/resources/src/main/scala/com/digitalasset/resources/ReleasableResource.scala
  libs-scala/resources/src/main/scala/com/digitalasset/resources/Resource.scala
  libs-scala/resources/src/main/scala/com/digitalasset/resources/ResourceFactories.scala
  libs-scala/resources/src/main/scala/com/digitalasset/resources/TimerResourceOwner.scala
  libs-scala/resources/src/main/scala/com/digitalasset/resources/package.scala
  libs-scala/resources/src/test/lib/scala/com/digitalasset/resources/TestResourceOwner.scala
Labels: automerge

#8650 resources: Sometimes, `Future#andThen` is simpler.
  libs-scala/resources/src/main/scala/com/digitalasset/resources/NestedResource.scala
Labels: automerge

#8649 resources: Add `Resource#transform`, and mirror `Resource#transform{,With}` in `ResourceOwner`.
  libs-scala/resources/src/main/scala/com/digitalasset/resources/AbstractResourceOwner.scala
  libs-scala/resources/src/main/scala/com/digitalasset/resources/Resource.scala
  libs-scala/resources/src/main/scala/com/digitalasset/resources/ResourceFactories.scala
  libs-scala/resources/src/main/scala/com/digitalasset/resources/ResourceOwnerFactories.scala
  libs-scala/resources/src/test/suite/scala/com/digitalasset/resources/ResourceOwnerSpec.scala
Labels: automerge

#8642 Correctly document and report malformed party names when allocating
  compatibility/bazel_tools/testing.bzl
  ledger-api/grpc-definitions/com/daml/ledger/api/v1/admin/party_management_service.proto
  ledger/ledger-api-test-tool-on-canton/BUILD.bazel
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/PartyManagementServiceIT.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/admin/ApiPartyManagementService.scala
Labels: automerge

#8653 clean-up infra after Ubuntu 20.04 upgrade
  infra/vsts_agent_linux.tf
  infra/vsts_agent_linux_startup.sh
  infra/vsts_agent_ubuntu_20_04.tf
  infra/vsts_agent_ubuntu_20_04_startup.sh
Labels: Standard-Change

#8660 Restrict extensibility of ServerResourceOwner
  ledger/participant-integration-api/src/main/scala/platform/apiserver/GrpcServer.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/LedgerApiServer.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/GrpcServerSpec.scala
  libs-scala/resources-grpc/src/main/scala/com/daml/resources/grpc/ServerResourceOwner.scala
Labels: automerge

#8663 add Stefano to appr
  infra/data_bucket.tf
Labels: Standard-Change, automerge

#8669 Catch permission errors in readPortFile
  libs-haskell/da-hs-base/src/DA/PortFile.hs
Labels: automerge

#8644 LF: cleanup value.rst and transaction.rst
  daml-lf/spec/transaction.rst
  daml-lf/spec/value.rst
  daml-lf/transaction/src/main/protobuf/com/daml/lf/value.proto
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/ValueCoder.scala
Labels: component/daml-lf

#8668 Clean broken entries from the Bazel cache
  3rdparty/haskell/BUILD.bazel
  WORKSPACE
  azure-cron.yml
  bazel-haskell-deps.bzl
  bazel_tools/remote_apis_no_services.patch
  ci/cron/BUILD.bazel
  ci/cron/src/BazelCache.hs
  ci/cron/src/Main.hs
  deps.bzl
  ledger-api/grpc-definitions/BUILD.bazel
  stack-snapshot.yaml
  stackage_snapshot.json
  stackage_snapshot_windows.json
Labels: automerge

#8662 Minor docs fixes
  docs/.gitignore
  docs/configs/html/conf.py
  docs/configs/pdf/conf.py
  docs/theme/da_theme_skeleton/footer.html
  docs/theme/da_theme_skeleton/layout.html
  docs/theme/da_theme_skeleton/static/images/daml-favicon-1.ico
  docs/theme/da_theme_skeleton/static/images/daml-logo-mark-light.svg
  docs/theme/da_theme_skeleton/static/images/favicon/apple-touch-icon.png
  docs/theme/da_theme_skeleton/static/images/favicon/favicon-16x16.png
  docs/theme/da_theme_skeleton/static/images/favicon/favicon-32x32.png
  docs/theme/docs/conf.py
  docs/theme/js/theme.js
  docs/theme/sass/_theme_layout.sass
Labels: automerge

#8672 Non-repudiation: use binary headers for signature and fingerprint
  runtime-components/non-repudiation-client/src/main/java/com/daml/nonrepudiation/client/SigningInterceptor.java
  runtime-components/non-repudiation-core/BUILD.bazel
  runtime-components/non-repudiation-core/src/main/java/com/daml/nonrepudiation/Fingerprints.java
  runtime-components/non-repudiation-core/src/main/java/com/daml/nonrepudiation/Headers.java
  runtime-components/non-repudiation-core/src/main/java/com/daml/nonrepudiation/Signatures.java
  runtime-components/non-repudiation/src/main/scala/com/daml/nonrepudiation/KeyRepository.scala
  runtime-components/non-repudiation/src/main/scala/com/daml/nonrepudiation/SignatureVerificationInterceptor.scala
  runtime-components/non-repudiation/src/main/scala/com/daml/nonrepudiation/SignedCommandRepository.scala
  runtime-components/non-repudiation/src/test/scala/com/daml/nonrepudiation/NonRepudiationProxySpec.scala
Labels: automerge

#8671 Use cliopts.Http for OAuth 2.0 middleware
  daml-assistant/integration-tests/src/DA/Daml/Assistant/IntegrationTests.hs
  docs/source/tools/auth-middleware/oauth2.rst
  docs/source/tools/trigger-service/auth0_example.rst
  triggers/service/auth/BUILD.bazel
  triggers/service/auth/src/main/scala/com/daml/auth/middleware/oauth2/Config.scala
  triggers/service/auth/src/main/scala/com/daml/auth/middleware/oauth2/Server.scala
  triggers/service/auth/src/test/scala/com/daml/auth/middleware/oauth2/Resources.scala
  triggers/service/auth/src/test/scala/com/daml/auth/middleware/oauth2/TestFixture.scala
  triggers/service/auth/src/test/scala/com/daml/auth/middleware/oauth2/TestMiddleware.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceFixture.scala
Labels: automerge, component/trigger-service

#8681 LF: fix encoder testing dar for LF 1.12
  daml-lf/encoder/src/test/lf/Any_1.7_1.8_1.11_1.12_1.dev_.lf
  daml-lf/encoder/src/test/lf/Builtin_1.11_1.12.lf
  daml-lf/encoder/src/test/lf/GenMap_1.11_1.12_1.dev_.lf
  daml-lf/encoder/src/test/lf/Numeric_1.7_1.8_1.11_1.12_1.dev_.lf
  daml-lf/encoder/src/test/lf/Synonym_1.8_1.11_1.12_1.dev_.lf
  daml-lf/encoder/src/test/lf/Template_1.11_1.12_1.dev_.lf
Labels: automerge, component/daml-lf

#8682 Fix compatibility tests
  compatibility/bazel_tools/testing.bzl
Labels: automerge

#8648 LF: update transaction and value spec for LF 1.12
  daml-lf/spec/transaction.rst
  daml-lf/spec/value.rst
  daml-lf/transaction/src/main/protobuf/com/daml/lf/transaction.proto
  daml-lf/transaction/src/main/protobuf/com/daml/lf/value.proto
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionCoder.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/ValueCoder.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionCoderSpec.scala
  ledger/participant-state/kvutils/tools/codec-benchmark/src/benchmark/scala/com/daml/lf/benchmark/TypedValueExtractor.scala
Labels: component/daml-lf

#8684 Disable deriving-defaults per file
  3rdparty/haskell/BUILD.bazel
  bazel-haskell-deps.bzl
  bazel_tools/haskell_proto3_suite_deriving_defaults.patch
  compiler/repl-service/protos/BUILD.bazel
  daml-lf/archive/BUILD.bazel
  ledger-api/grpc-definitions/BUILD.bazel
Labels: automerge

#8690 ledger-api-test-tool: Provide context when expecting a failing Future.
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/Assertions.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/FutureAssertions.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/ActiveContractsServiceIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/ClosedWorldIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/CommandDeduplicationIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/CommandServiceIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/CommandSubmissionCompletionIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/ConfigManagementServiceIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/ContractKeysIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/LedgerConfigurationServiceIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/MultiPartySubmissionIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/PackageManagementServiceIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/PackageServiceIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/ParticipantPruningIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/PartyManagementServiceIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/SemanticTests.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/TransactionServiceIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/WronglyTypedContractIdIT.scala
Labels: automerge

#8683 sandbox-classic: Remove the unnecessary SQLite dependency.
  ledger/participant-integration-api/BUILD.bazel
  ledger/sandbox-classic/BUILD.bazel
  ledger/sandbox-common/BUILD.bazel
Labels: automerge

#8415 participant-integration-api: Reuse the services execution context for data munging.
  ledger/participant-integration-api/src/main/scala/platform/apiserver/StandaloneApiServer.scala
  ledger/participant-integration-api/src/main/scala/platform/index/JdbcIndex.scala
  ledger/participant-integration-api/src/main/scala/platform/index/ReadOnlySqlLedger.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/JdbcIndexer.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/StandaloneIndexerServer.scala
  ledger/participant-integration-api/src/main/scala/platform/store/IndexMetadata.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/JdbcLedgerDao.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoBackend.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoPostCommitValidationSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/indexer/JdbcIndexerSpec.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Runner.scala
  ledger/participant-state/kvutils/tools/src/main/scala/ledger/participant/state/kvutils/tools/integritycheck/IntegrityChecker.scala
  ledger/recovering-indexer-integration-tests/src/test/suite/scala/com/digitalasset/platform/indexer/RecoveringIndexerIntegrationSpec.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/SandboxServer.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/SandboxIndexAndWriteService.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/sql/SqlLedger.scala
  ledger/sandbox-classic/src/test/lib/scala/platform/sandbox/LedgerResource.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/stores/ledger/sql/SqlLedgerSpec.scala
  ledger/sandbox/src/main/scala/platform/sandboxnext/Runner.scala
Labels: automerge

#8696 Port readPortfile changes to compat workspace
  compatibility/bazel_tools/daml_ledger/Sandbox.hs
  libs-haskell/da-hs-base/src/DA/PortFile.hs
Labels: automerge
