Repository digital-asset/daml, pull requests merged in 2021-11, with the labels that each got.

#11486 Less logging on //docs:generate-error-codes-json
  ledger/error/BUILD.bazel
  ledger/error/src/main/resources/logback.xml
Labels: automerge

#11479 Evidence for contract-key testing
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ContractKeySpec.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  security-evidence.md
Labels: automerge

#11480 Add and wire ledger-end-cache [DPP-703]
  ledger/participant-integration-api/src/main/scala/platform/index/ReadOnlySqlLedger.scala
  ledger/participant-integration-api/src/main/scala/platform/index/ReadOnlySqlLedgerWithMutableCache.scala
  ledger/participant-integration-api/src/main/scala/platform/index/ReadOnlySqlLedgerWithTranslationCache.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/JdbcLedgerDao.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/SequentialWriteDao.scala
  ledger/participant-integration-api/src/main/scala/platform/store/cache/LedgerEndCache.scala
  ledger/participant-integration-api/src/main/scala/platform/store/cache/MutableCacheBackedContractStore.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoBackend.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoPostCommitValidationSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/appendonlydao/SequentialWriteDaoSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/cache/MutableCacheBackedContractStoreSpec.scala
  ledger/recovering-indexer-integration-tests/src/test/suite/scala/com/digitalasset/platform/indexer/RecoveringIndexerIntegrationSpec.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/sql/SqlLedger.scala
Labels: automerge

#11487 LF: ContractInstance should be a CidContainer
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/Value.scala
Labels: component/daml-engine, automerge

#11437 [Self-service error codes] Adapt all grpc assertions to additionally take self-service error codes [DPP-680]
  ledger/ledger-api-test-tool/BUILD.bazel
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/Assertions.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/deduplication/CommandDeduplicationBase.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/ActiveContractsServiceIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/ClosedWorldIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/CommandServiceIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/CommandSubmissionCompletionIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/ConfigManagementServiceIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/ContractKeysIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/DeeplyNestedValueIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/ExceptionsIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/LedgerConfigurationServiceIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/MultiPartySubmissionIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/PackageManagementServiceIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/PackageServiceIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/ParticipantPruningIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/PartyManagementServiceIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/SemanticTests.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/TransactionServiceAuthorizationIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/TransactionServiceExerciseIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/TransactionServiceQueryIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/TransactionServiceStreamsIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/TransactionServiceValidationIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/WronglyTypedContractIdIT.scala
  ledger/ledger-on-memory/BUILD.bazel
Labels: automerge

#11470 LF: drop com.daml.lf.transaction.Transaction.Transaction type alias.
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Blinding.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/LargeTransactionTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/ledger/BlindingTransaction.scala
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/Error.scala
  daml-lf/transaction-test-lib/src/main/scala/lf/transaction/test/TransactionBuilder.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
  ledger/participant-integration-api/src/main/scala/db/migration/postgres/V10_1__Populate_Event_Data.scala
  ledger/participant-integration-api/src/main/scala/db/migration/postgres/V4_1__Collect_Parties.scala
  ledger/participant-integration-api/src/main/scala/db/migration/postgres/v25_backfill_participant_events/package.scala
  ledger/participant-integration-api/src/main/scala/db/migration/postgres/v29_fix_participant_events/package.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/Conversions.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/Projections.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/DamlTransactionEntrySummary.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/ProjectionsSpec.scala
  ledger/participant-state/kvutils/tools/engine-replay/src/replay/scala/ledger/participant/state/kvutils/tools/engine/replay/Adapter.scala
Labels: component/daml-lf

#11501 [Trigger-Service] Migrate tests to sandbox
  triggers/service/BUILD.bazel
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceFixture.scala
Labels: automerge

#11469 LF: Rename GenNode to Node
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Blinding.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ValueEnricher.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/TransactionPreprocessor.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/LargeTransactionTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/ledger/BlindingTransaction.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/scenario/ScenarioLedger.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/CheckAuthorization.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/NormalizeRollbacks.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/NormalizeRollbacksSpec.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/PartialTransactionSpec.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/RollbackTest.scala
  daml-lf/kv-transaction-support/src/main/scala/com/daml/lf/kv/TransactionNormalizer.scala
  daml-lf/kv-transaction-support/src/test/scala/com/daml/lf/kv/TransactionNormalizerSpec.scala
  daml-lf/transaction-test-lib/src/main/scala/lf/transaction/test/TransactionBuilder.scala
  daml-lf/transaction-test-lib/src/main/scala/lf/value/test/ValueGenerators.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Node.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Normalization.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionCoder.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionCoderSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/validation/ValidationSpec.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/common/PlatformTypes.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/participant/util/LfEngineToApi.scala
  ledger/participant-integration-api/src/main/scala/db/migration/postgres/V10_1__Populate_Event_Data.scala
  ledger/participant-integration-api/src/main/scala/db/migration/postgres/v25_backfill_participant_events/package.scala
  ledger/participant-integration-api/src/main/scala/db/migration/postgres/v29_fix_participant_events/package.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/execution/StoreBackedCommandExecutor.scala
  ledger/participant-integration-api/src/main/scala/platform/index/TransactionConversion.scala
  ledger/participant-integration-api/src/main/scala/platform/store/ActiveLedgerStateManager.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/package.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoDivulgenceSpec.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoSuite.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoTransactionLogUpdatesSpec.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoTransactionTreesSpec.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoTransactionsSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/appendonlydao/events/PostCommitValidationSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/KVUtilsTransactionSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/ProjectionsSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/TransactionCommitterSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/validation/ModelConformanceValidatorSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/validation/TransactionConsistencyValidatorSpec.scala
  ledger/participant-state/kvutils/tools/engine-replay/src/replay/scala/ledger/participant/state/kvutils/tools/engine/replay/Adapter.scala
  ledger/participant-state/kvutils/tools/engine-replay/src/replay/scala/ledger/participant/state/kvutils/tools/engine/replay/Replay.scala
  ledger/participant-state/kvutils/tools/src/test/scala/ledger/participant/state/kvutils/tools/integritycheck/StateUpdateComparisonSpec.scala
Labels: component/daml-engine, component/daml-lf, automerge

#11504 ErrorCodeDocumentationGenerator uses multiple prefixes for scanning classpaths
  ledger/error/src/main/scala/com/daml/error/definitions/ErrorGroups.scala
  ledger/error/src/main/scala/com/daml/error/definitions/ProtoDeserializationError.scala
  ledger/error/src/main/scala/com/daml/error/generator/ErrorCodeDocumentationGenerator.scala
  ledger/error/src/main/scala/com/daml/error/generator/Main.scala
  ledger/error/src/test/suite/scala/com/daml/error/generator/ErrorCodeDocumentationGeneratorSpec.scala
Labels: automerge

#11508 Migrate language-support codegen tests to sandbox
  language-support/java/codegen/BUILD.bazel
  language-support/java/codegen/src/ledger-tests/scala/com/digitalasset/CodegenLedgerTest.scala
  language-support/java/codegen/src/ledger-tests/scala/com/digitalasset/StakeholdersTest.scala
  language-support/java/codegen/src/ledger-tests/scala/com/digitalasset/TestUtil.scala
Labels: automerge

#11500 Add priority-queue based worker Source [DPP-717]
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/ACSReader.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/appendonlydao/events/ACSReaderSpec.scala
Labels: automerge

#11475 Add string-interning cache primitives [DPP-702]
  ledger/participant-integration-api/src/main/scala/platform/store/interning/RawStringInterning.scala
  ledger/participant-integration-api/src/main/scala/platform/store/interning/StringInterning.scala
  ledger/participant-integration-api/src/main/scala/platform/store/interning/StringInterningView.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/interning/StringInterningViewSpec.scala
Labels: automerge

#11484 Add string-interning data access [DPP-707]
  ledger/participant-integration-api/src/main/resources/db/migration/h2database-appendonly/V1__Append_only_schema.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/h2database-appendonly/V1__Append_only_schema.sql
  ledger/participant-integration-api/src/main/resources/db/migration/oracle-appendonly/V3__Add_string_interning.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/oracle-appendonly/V3__Add_string_interning.sql
  ledger/participant-integration-api/src/main/resources/db/migration/postgres-appendonly/V112__add_string_interning.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/postgres-appendonly/V112__add_string_interning.sql
  ledger/participant-integration-api/src/main/scala/platform/store/backend/DbDto.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/StorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/StorageBackendFactory.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/Field.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/Schema.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/StringInterningStorageBackendTemplate.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/h2/H2ResetStorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/h2/H2StorageBackendFactory.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/oracle/OracleResetStorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/oracle/OracleStorageBackendFactory.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PostgresResetStorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PostgresStorageBackendFactory.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/backend/StorageBackendSuite.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/backend/StorageBackendTestsReset.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/backend/StorageBackendTestsStringInterning.scala
Labels: automerge

#11548 fix hoogle by pinning nixpkgs
  infra/hoogle_server.tf
Labels: Standard-Change

#11550 Upgrade canton used by ledger-api-test-tool conformance tests
  deps.bzl
  ledger/ledger-api-test-tool-on-canton/BUILD.bazel
  ledger/ledger-api-test-tool-on-canton/canton.conf
  ledger/ledger-api-test-tool-on-canton/unique-contract-keys.conf
Labels: automerge

#11554 LF: deprecate remaining type aliases in Transaction
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
Labels: component/daml-engine, automerge

#11557 Add DbDtoToStringsForInterning [DPP-708]
  ledger/participant-integration-api/src/main/scala/platform/store/backend/DbDtoToStringsForInterning.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/backend/DbDtoToStringsForInterningSpec.scala
Labels: automerge

#11567 [Self-service error codes] Parametrize method not class in ValueSwitch
  ledger/error/src/main/scala/com/daml/error/ErrorCodesVersionSwitcher.scala
  ledger/error/src/main/scala/com/daml/error/ValueSwitch.scala
  ledger/error/src/test/suite/scala/com/daml/error/ValueSwitchSpec.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/platform/server/api/services/grpc/GrpcHealthServiceSpec.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/Conversions.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/KeyValueConsumption.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/api/KeyValueParticipantStateReader.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/updates/TransactionRejections.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/KVTest.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/ConversionsSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/KVUtilsTransactionSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/KeyValueConsumptionSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/api/KeyValueParticipantStateReaderSpec.scala
Labels: automerge

#11577 Port LedgerApiServer rate limiter interface from canton
  ledger/participant-integration-api/src/main/scala/platform/apiserver/ApiServices.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/StandaloneApiServer.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiSubmissionService.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/services/ApiSubmissionServiceSpec.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/SandboxServer.scala
Labels: automerge

#11578 Backport: Restart the submission interpretation in case of a race [DPP-737]
  ledger/participant-integration-api/src/main/scala/platform/apiserver/execution/LedgerTimeAwareCommandExecutor.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/ContractsTable.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoContractsSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/execution/LedgerTimeAwareCommandExecutorSpec.scala
Labels: component/ledger

#11599 LF: Rename GenTransaction to Transaction
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Blinding.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ValueEnricher.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ReinterpretTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/NormalizeRollbacks.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/NormalizeRollbacksSpec.scala
  daml-lf/transaction-test-lib/src/main/scala/lf/value/test/ValueGenerators.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/IncompleteTransaction.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionCoder.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionVersion.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionCoderSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/validation/ValidationSpec.scala
Labels: component/daml-lf, automerge

#11601 LF: drop useless class com.daml.lf.transaction.Validation
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Validation.scala
Labels: component/daml-engine, automerge

#11589 limit contract insertion/deletion batching on backpressure
  ledger-service/fetch-contracts/src/main/scala/fetchcontracts/util/InsertDeleteStep.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsFetch.scala
Labels: automerge, component/json-api, application-runtime

#11592 foldLeft, foldRight, other Foldable specializations
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/FrontStack.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/ImmArray.scala
  daml-lf/data/src/test/scala/com/digitalasset/daml/lf/data/FrontStackSpec.scala
  libs-scala/scala-utils/src/main/scala/com/daml/scalautil/FoldableContravariant.scala
  libs-scala/scala-utils/src/main/scala/com/daml/scalautil/nonempty/NonEmpty.scala
Labels: component/daml-lf, automerge, component/json-api

#11533 LF: Abstract VersionedValue and VersionedContractInstance
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ValueEnricher.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/AuthPropagationSpec.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/scenario/ScenarioLedger.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/transaction-test-lib/src/main/scala/lf/transaction/test/TransactionBuilder.scala
  daml-lf/transaction-test-lib/src/main/scala/lf/value/test/ValueGenerators.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Node.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionCoder.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Util.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Versioned.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/Value.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/ValueCoder.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionCoderSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/value/ValueCoderSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/value/ValueSpec.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ledgerinteraction/IdeLedgerClient.scala
  ledger/participant-integration-api/src/main/scala/db/migration/postgres/V26_1__Fill_create_argument.scala
  ledger/participant-integration-api/src/main/scala/db/migration/postgres/V2_1__Rebuild_Acs.scala
  ledger/participant-integration-api/src/main/scala/db/migration/postgres/V32_1__Fix_key_hashes.scala
  ledger/participant-integration-api/src/main/scala/db/migration/postgres/V3__Recompute_Key_Hash.scala
  ledger/participant-integration-api/src/main/scala/platform/index/BuffersUpdater.scala
  ledger/participant-integration-api/src/main/scala/platform/index/EventFilter.scala
  ledger/participant-integration-api/src/main/scala/platform/store/ActiveLedgerStateManager.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/ContractStateEventsReader.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/LfValueTranslation.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/TransactionLogUpdatesConversions.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/package.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/UpdateToDbDto.scala
  ledger/participant-integration-api/src/main/scala/platform/store/cache/MutableCacheBackedContractStore.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoContractsAppendOnlySpec.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoContractsSpec.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoTransactionLogUpdatesSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/index/BuffersUpdaterSpec.scala
  ledger/participant-state/kvutils/tools/codec-benchmark/src/benchmark/scala/com/daml/lf/engine/SpeedyToValueBenchmark.scala
  ledger/participant-state/kvutils/tools/codec-benchmark/src/benchmark/scala/com/daml/lf/engine/ValueTranslatorBenchmark.scala
  ledger/participant-state/kvutils/tools/codec-benchmark/src/benchmark/scala/com/daml/lf/speedy/MachineImportValueBenchmark.scala
  ledger/participant-state/kvutils/tools/engine-replay/src/replay/scala/ledger/participant/state/kvutils/tools/engine/replay/Adapter.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/inmemory/InMemoryLedger.scala
  security-evidence.md
Labels: component/daml-engine, automerge

#11614 Dpp 710 activate interning write side
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
  ledger/participant-integration-api/src/main/resources/db/migration/h2database-appendonly/V1__Append_only_schema.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/h2database-appendonly/V1__Append_only_schema.sql
  ledger/participant-integration-api/src/main/resources/db/migration/oracle-appendonly/V4__add_ledger_end_string_interning_columnt_to_parameters.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/oracle-appendonly/V4__add_ledger_end_string_interning_columnt_to_parameters.sql
  ledger/participant-integration-api/src/main/resources/db/migration/postgres-appendonly/V113__enable_string_interning.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/postgres-appendonly/V113__enable_string_interning.sql
  ledger/participant-integration-api/src/main/scala/platform/index/ReadOnlySqlLedgerWithMutableCache.scala
  ledger/participant-integration-api/src/main/scala/platform/index/ReadOnlySqlLedgerWithTranslationCache.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/JdbcIndexer.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/parallel/InitializeParallelIngestion.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/parallel/ParallelIndexerFactory.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/parallel/ParallelIndexerSubscription.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/JdbcLedgerDao.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/LedgerDao.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/MeteredLedgerDao.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/SequentialWriteDao.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/DbDto.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/StorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/IngestionStorageBackendTemplate.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/ParameterStorageBackendTemplate.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/backend/StorageBackendProvider.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/backend/StorageBackendTestValues.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/backend/StorageBackendTestsCompletions.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/backend/StorageBackendTestsIngestion.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/backend/StorageBackendTestsIntegrity.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/backend/StorageBackendTestsMigrationPruning.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/backend/StorageBackendTestsPruning.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/backend/StorageBackendTestsTimestamps.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoActiveContractsSpec.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoBackend.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoCompletionsSpec.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoConfigurationSpec.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoContractEventsStreamSpec.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoContractsAppendOnlySpec.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoPostCommitValidationSpec.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoTransactionLogUpdatesSpec.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoTransactionTreesSpec.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoTransactionsSpec.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoTransactionsWriterSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/indexer/parallel/ParallelIndexerSubscriptionSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/appendonlydao/SequentialWriteDaoSpec.scala
  ledger/recovering-indexer-integration-tests/src/test/suite/scala/com/digitalasset/platform/indexer/RecoveringIndexerIntegrationSpec.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/sql/SqlLedger.scala
Labels: automerge

#11571 Add two phase retrieval merge function [DPP-718]
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/ACSReader.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/appendonlydao/events/ACSReaderSpec.scala
Labels: automerge

#11628 Release 1.11.3 snapshot
  LATEST
Labels: Standard-Change

#11642 Release new 1.18 snapshot
  LATEST
Labels: Standard-Change

#11605 different types for different speedy phases
  compiler/repl-service/server/src/main/scala/com/digitalasset/daml/lf/speedy/ReplServiceMain.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/interpreter/perf/src/main/scala/com/daml/lf/explore/Explore.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Anf.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/PrettyLightweight.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SDefinition.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr0.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/iterable/SExprIterable.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/AnfTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ComparisonSBuiltinTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/CompilerTest.scala
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/ScenarioRunner.scala
  daml-lf/scenario-interpreter/src/perf/benches/scala/com/digitalasset/daml/lf/speedy/perf/CollectAuthority.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Converter.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ScriptF.scala
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Runner.scala
Labels: component/daml-engine

#11652 Release 1.11.3 snapshot
  LATEST
Labels: Standard-Change

#11656 Move closureConvert and validate compiler phases into separate files.
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ClosureConversion.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr0.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ValidateCompilation.scala
Labels: component/daml-engine

#11664 Release snapshot 1.18.0-snapshot.20211111.8349.0.d938a44c
  LATEST
Labels: automerge, Standard-Change

#11454 party-set arguments for JSON API
  docs/source/json-api/index.rst
  ledger-service/http-json/BUILD.bazel
  ledger-service/http-json/src/it/edition/ce/com/daml/http/NonRepudiationTest.scala
  ledger-service/http-json/src/it/edition/ee/com/daml/http/NonRepudiationTest.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTest.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/CommandService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/domain.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/DomainJsonDecoder.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/JsonProtocol.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/util/JwtParties.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/CommandServiceTest.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/Generators.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/util/JwtPartiesTest.scala
  libs-scala/scala-utils/src/main/scala/com/daml/scalautil/nonempty/NonEmptyReturningOps.scala
Labels: automerge, component/json-api, application-runtime

#11647 Backport: limit contract insertion/deletion batching on backpressure
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsFetch.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/util/InsertDeleteStep.scala
Labels: component/json-api

#11668 Remove SEDamlException & SEImportValue from SExpr{0,1}
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Anf.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ClosureConversion.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr0.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr1.scala
Labels: component/daml-engine, automerge

#11673 LF: drop forgotten deprecated Node aliases.
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ReinterpretTest.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Normalization.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ledgerinteraction/IdeLedgerClient.scala
  ledger/participant-integration-api/src/main/scala/db/migration/postgres/V4_1__Collect_Parties.scala
Labels: automerge

#11622 [Self-service error codes] Adapt Sandbox classic rejection error codes
  ledger/error/src/main/scala/com/daml/error/definitions/LedgerApiErrors.scala
  ledger/error/src/main/scala/com/daml/error/definitions/RejectionGenerators.scala
  ledger/ledger-api-common/BUILD.bazel
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/validation/ErrorFactories.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/platform/server/api/validation/ErrorFactoriesSpec.scala
  ledger/ledger-api-domain/src/main/scala/com/digitalasset/ledger/api/domain.scala
  ledger/ledger-api-test-tool/BUILD.bazel
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/deduplication/CommandDeduplicationBase.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/ClosedWorldIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/CommandDeduplicationIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/CommandServiceIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/ContractKeysIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/ExceptionsIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/KVCommandDeduplicationIT.scala
  ledger/participant-integration-api/BUILD.bazel
  ledger/participant-integration-api/src/main/scala/platform/store/ActiveLedgerStateManager.scala
  ledger/participant-integration-api/src/main/scala/platform/store/Conversions.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/JdbcLedgerDao.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/PostCommitValidation.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoBackend.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/ConversionsSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/appendonlydao/events/PostCommitValidationSpec.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/Conversions.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/errors/KVErrors.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/updates/TransactionRejections.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/ConversionsSpec.scala
  ledger/sandbox-classic/BUILD.bazel
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/SandboxIndexAndWriteService.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/inmemory/InMemoryLedger.scala
  ledger/sandbox-classic/src/test/lib/scala/platform/sandbox/LedgerResource.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/stores/ledger/TransactionTimeModelComplianceIT.scala
Labels: automerge

#11646 Backport: Support deletion of a large number of contracts
  ledger-service/db-backend/src/main/scala/com/digitalasset/http/dbbackend/Queries.scala
  ledger-service/http-json-testing/src/main/scala/com/daml/http/HttpServiceTestFixture.scala
  ledger-service/http-json/src/it/daml/Account.daml
  ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTest.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsFetch.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/DomainJsonEncoder.scala
Labels: component/json-api

#11672 Improve byInterfaceNodes based on suggestions
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/Preprocessor.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
Labels: component/daml-engine

#11663 Activate party interning [DPP-712]
  ledger/participant-integration-api/src/main/resources/db/migration/h2database-appendonly/V1__Append_only_schema.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/h2database-appendonly/V1__Append_only_schema.sql
  ledger/participant-integration-api/src/main/resources/db/migration/oracle-appendonly/V5__activate_party_interning.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/oracle-appendonly/V5__activate_party_interning.sql
  ledger/participant-integration-api/src/main/resources/db/migration/postgres-appendonly/V114__activate_string_interning_for_parties.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/postgres-appendonly/V114__activate_string_interning_for_parties.sql
  ledger/participant-integration-api/src/main/scala/platform/store/Conversions.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/CompletionStorageBackendTemplate.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/ContractStorageBackendTemplate.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/EventStorageBackendTemplate.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/QueryStrategy.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/Schema.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/h2/H2EventStrategy.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/h2/H2Field.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/h2/H2FunctionAliases.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/h2/H2QueryStrategy.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/h2/H2Schema.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/oracle/OracleEventStrategy.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/oracle/OracleField.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/oracle/OracleQueryStrategy.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/oracle/OracleSchema.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PGField.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PGSchema.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PostgresEventStrategy.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PostgresQueryStrategy.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoBackend.scala
Labels: automerge

#11666 Limit gRPC wire transport size legacy error codes size
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/validation/ErrorFactories.scala
Labels: automerge

#11680 Activate template_id interning [DPP-713]
  ledger/participant-integration-api/src/main/resources/db/migration/h2database-appendonly/V1__Append_only_schema.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/h2database-appendonly/V1__Append_only_schema.sql
  ledger/participant-integration-api/src/main/resources/db/migration/oracle-appendonly/V6__activate_template_id_interning.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/oracle-appendonly/V6__activate_template_id_interning.sql
  ledger/participant-integration-api/src/main/resources/db/migration/postgres-appendonly/V115__activate_string_interning_for_template_ids.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/postgres-appendonly/V115__activate_string_interning_for_template_ids.sql
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/ContractStorageBackendTemplate.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/EventStorageBackendTemplate.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/Schema.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/h2/H2EventStrategy.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/oracle/OracleEventStrategy.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PostgresEventStrategy.scala
Labels: automerge

#11692 LF: Reintroduce TransactionVersion.asVersionedTransaction
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionVersion.scala
Labels: component/daml-lf, automerge

#11702 Log execution context throwables as error
  ledger/participant-integration-api/src/main/scala/platform/indexer/parallel/AsyncSupport.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/parallel/ParallelIndexerFactory.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/DbDispatcher.scala
  libs-scala/resources/src/main/scala/com/digitalasset/resources/ProgramResource.scala
Labels: automerge

#11676 Simplify handling for EqualList builtin.
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Anf.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ClosureConversion.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Profile.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr0.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr1.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ValidateCompilation.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/iterable/SExprIterable.scala
Labels: component/daml-engine, automerge

#11686 [Self-service error codes] Error code definitions revisiting [DPP-675]
  docs/sphinx_ext/self_service_error_codes_extension.py
  ledger/error/src/main/scala/com/daml/error/definitions/ErrorGroups.scala
  ledger/error/src/main/scala/com/daml/error/definitions/LedgerApiErrors.scala
  ledger/error/src/main/scala/com/daml/error/definitions/PackageServiceError.scala
  ledger/error/src/main/scala/com/daml/error/definitions/PruningServiceError.scala
  ledger/error/src/main/scala/com/daml/error/definitions/RejectionGenerators.scala
  ledger/error/src/main/scala/com/daml/error/definitions/SubmissionErrors.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/ledger/api/validation/LedgerOffsetValidator.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/validation/ErrorFactories.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/validation/FieldValidations.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/ledger/api/validation/CompletionServiceRequestValidatorTest.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/ledger/api/validation/SubmitRequestValidatorTest.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/ledger/api/validation/TransactionServiceRequestValidatorTest.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/platform/server/api/validation/ErrorFactoriesSpec.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/deduplication/CommandDeduplicationBase.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/ActiveContractsServiceIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/ClosedWorldIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/CommandServiceIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/CommandSubmissionCompletionIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/ConfigManagementServiceIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/ContractIdIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/ContractKeysIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/DeeplyNestedValueIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/ExceptionsIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/LedgerConfigurationServiceIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/MultiPartySubmissionIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/PackageServiceIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/ParticipantPruningIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/PartyManagementServiceIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/SemanticTests.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/TransactionServiceAuthorizationIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/TransactionServiceExerciseIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/TransactionServiceQueryIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/TransactionServiceStreamsIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/TransactionServiceValidationIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/WronglyTypedContractIdIT.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiCommandService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiLedgerIdentityService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiPackageService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiSubmissionService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/admin/ApiConfigManagementService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/admin/ApiParticipantPruningService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/admin/SynchronousResponse.scala
  ledger/participant-integration-api/src/main/scala/platform/index/LedgerBackedIndexService.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/JdbcLedgerDao.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/ConversionsSpec.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/errors/KVErrors.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/updates/TransactionRejections.scala
Labels: automerge

#11711 [Self-service error codes] Enrich migration guide [DPP-755]
  docs/source/error-codes/self-service/index.rst
  ledger/error/src/main/scala/com/daml/error/definitions/LedgerApiErrors.scala
  ledger/error/src/main/scala/com/daml/error/definitions/RejectionGenerators.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/validation/ErrorFactories.scala
  ledger/participant-integration-api/src/docs/resources/com/daml/platform/docs/self-service-error-codes-kv-errors-migration.yml
  ledger/participant-integration-api/src/docs/resources/com/daml/platform/docs/self-service-error-codes-migration.yml
  ledger/participant-integration-api/src/docs/resources/com/daml/platform/docs/self-service-error-codes-sandbox-classic-migration.yml
  ledger/participant-integration-api/src/docs/scala/com/daml/platform/docs/SelfServiceErrorCodes_MigrationGuideGen_App.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/updates/TransactionRejections.scala
Labels: automerge

#11713 test_suite for http-json, http-json-oracle integration tests
  ledger-service/http-json-oracle/BUILD.bazel
  ledger-service/http-json-oracle/src/it/scala/http/OracleIntTest.scala
  ledger-service/http-json-oracle/src/itlib/scala/http/HttpServiceOracleInt.scala
  ledger-service/http-json/BUILD.bazel
  ledger-service/http-json/src/it/scala/http/PostgresIntTest.scala
  ledger-service/http-json/src/itpostgres/scala/http/HttpServicePostgresInt.scala
Labels: component/json-api, application-runtime

#11714 Optimize data migrations for performance [DPP-714]
  ledger/participant-integration-api/src/main/resources/db/migration/postgres-appendonly/V114__activate_string_interning_for_parties.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/postgres-appendonly/V114__activate_string_interning_for_parties.sql
  ledger/participant-integration-api/src/main/resources/db/migration/postgres-appendonly/V114__activate_string_interning_for_parties_and_templates.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/postgres-appendonly/V114__activate_string_interning_for_parties_and_templates.sql
  ledger/participant-integration-api/src/main/resources/db/migration/postgres-appendonly/V115__activate_string_interning_for_template_ids.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/postgres-appendonly/V115__activate_string_interning_for_template_ids.sql
Labels: automerge

#11719 [DPP-739][Self-service error codes] Adapt QueueBackedTracker error codes
  docs/source/error-codes/self-service/index.rst
  ledger/error/src/main/scala/com/daml/error/definitions/LedgerApiErrors.scala
  ledger/ledger-api-client/BUILD.bazel
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/services/commands/tracker/CompletionResponse.scala
  ledger/ledger-api-client/src/test/suite/scala/com/digitalasset/ledger/client/services/commands/tracker/CompletionResponseTest.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/validation/ErrorFactories.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/platform/server/api/validation/ErrorFactoriesSpec.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/ConfigManagementServiceIT.scala
  ledger/participant-integration-api/BUILD.bazel
  ledger/participant-integration-api/src/docs/resources/com/daml/platform/docs/self-service-error-codes-migration.yml
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiCommandService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/tracking/QueueBackedTracker.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/services/ApiCommandServiceSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/services/tracking/QueueBackedTrackerSpec.scala
  libs-scala/grpc-utils/src/main/scala/com/digitalasset/grpc/GrpcStatus.scala
  libs-scala/grpc-utils/src/main/scala/com/digitalasset/grpc/RpcProtoExtractors.scala
Labels: automerge

#11688 Dpp 720 integrate acs reader
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
  ledger/participant-integration-api/src/main/scala/platform/index/ReadOnlySqlLedger.scala
  ledger/participant-integration-api/src/main/scala/platform/store/IndexMetadata.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/JdbcLedgerDao.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/ACSReader.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/TransactionsReader.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PostgresQueryStrategy.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoBackend.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoPostCommitValidationSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/appendonlydao/events/ACSReaderSpec.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Runner.scala
  ledger/recovering-indexer-integration-tests/src/test/suite/scala/com/digitalasset/platform/indexer/RecoveringIndexerIntegrationSpec.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/sql/SqlLedger.scala
Labels: automerge

#11740 release 1.18.0-snapshot.20211117.8399.0.a05a40ae
  LATEST
Labels: Standard-Change

#11742 link to documentation detailing gRPC-to-HTTP code mapping
  docs/source/json-api/index.rst
Labels: component/documentation, automerge, component/json-api, application-runtime

#11619 Drop Scala 2.12 support
  .bazelrc
  BAZEL-JVM.md
  BAZEL.md
  bazel-java-deps.bzl
  bazel_tools/scala_version.bzl
  ci/build.yml
  compatibility/.bazelrc
  maven_install_2.12.json
  nix/bazel.nix
  nix/nixpkgs.nix
  release/src/Options.hs
Labels: SDK 2.0

#11749 More missing error codes
  docs/source/error-codes/self-service/index.rst
  ledger/error/src/main/scala/com/daml/error/definitions/IndexErrors.scala
  ledger/error/src/main/scala/com/daml/error/definitions/LedgerApiErrors.scala
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/services/commands/tracker/CompletionResponse.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/validation/ErrorFactories.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/platform/server/api/validation/ErrorFactoriesSpec.scala
  ledger/ledger-api-domain/src/main/scala/com/digitalasset/ledger/api/domain.scala
  ledger/participant-integration-api/BUILD.bazel
  ledger/participant-integration-api/src/main/scala/platform/apiserver/execution/LedgerTimeAwareCommandExecutor.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/admin/ApiPartyManagementService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/tracking/QueueBackedTracker.scala
  ledger/participant-integration-api/src/main/scala/platform/store/Conversions.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/ACSReader.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/ContractsReader.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/EventsTable.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/TransactionsReader.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/appendonlydao/events/ACSReaderSpec.scala
  ledger/sandbox-classic/BUILD.bazel
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/SandboxIndexAndWriteService.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/Rejection.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/inmemory/InMemoryLedger.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/sql/SqlLedger.scala
  ledger/sandbox-classic/src/test/lib/scala/platform/sandbox/LedgerResource.scala
  ledger/sandbox-classic/src/test/lib/scala/platform/sandbox/stores/ledger/RejectionSpec.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/stores/ledger/TransactionTimeModelComplianceIT.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/stores/ledger/sql/SqlLedgerSpec.scala
Labels: automerge, needs-backport, sdk-1.18-rc2

#11766 Backport: Fix missing encoding of nested maps in typescript bindings
  language-support/ts/daml-types/index.test.ts
  language-support/ts/daml-types/index.ts
Labels: sdk-1.18-rc2

#11767 [Backport] More missing error codes (#11749)
  docs/source/error-codes/self-service/index.rst
  ledger-api/grpc-definitions/com/daml/ledger/api/v1/admin/config_management_service.proto
  ledger-api/grpc-definitions/com/daml/ledger/api/v1/admin/package_management_service.proto
  ledger-api/grpc-definitions/com/daml/ledger/api/v1/admin/participant_pruning_service.proto
  ledger-api/grpc-definitions/com/daml/ledger/api/v1/admin/party_management_service.proto
  ledger-api/grpc-definitions/com/daml/ledger/api/v1/command_completion_service.proto
  ledger/error/src/main/scala/com/daml/error/definitions/IndexErrors.scala
  ledger/error/src/main/scala/com/daml/error/definitions/LedgerApiErrors.scala
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/services/commands/tracker/CompletionResponse.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/validation/ErrorFactories.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/platform/server/api/validation/ErrorFactoriesSpec.scala
  ledger/ledger-api-domain/src/main/scala/com/digitalasset/ledger/api/domain.scala
  ledger/participant-integration-api/BUILD.bazel
  ledger/participant-integration-api/src/main/scala/platform/apiserver/execution/LedgerTimeAwareCommandExecutor.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/admin/ApiPartyManagementService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/tracking/QueueBackedTracker.scala
  ledger/participant-integration-api/src/main/scala/platform/store/Conversions.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/ACSReader.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/ContractsReader.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/EventsTable.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/TransactionsReader.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/appendonlydao/events/ACSReaderSpec.scala
  ledger/sandbox-classic/BUILD.bazel
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/SandboxIndexAndWriteService.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/Rejection.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/inmemory/InMemoryLedger.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/sql/SqlLedger.scala
  ledger/sandbox-classic/src/test/lib/scala/platform/sandbox/LedgerResource.scala
  ledger/sandbox-classic/src/test/lib/scala/platform/sandbox/stores/ledger/RejectionSpec.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/stores/ledger/TransactionTimeModelComplianceIT.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/stores/ledger/sql/SqlLedgerSpec.scala
Labels: automerge

#11744 LF: Simplify transaction versionning for interface
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/VersionRange.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/PartialTransactionSpec.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionVersion.scala
Labels: component/daml-lf

#11780 kvutils - Remove unused protobuf field to prevent breaking changes
  ledger/participant-state/kvutils/src/main/protobuf/com/daml/ledger/participant/state/kvutils/store/state.proto
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/CommandDeduplication.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/CommandDeduplicationSpec.scala
Labels: sdk-1.18-rc2

#11786 LF: Clean up Ast
  compiler/repl-service/server/src/main/scala/com/digitalasset/daml/lf/speedy/ReplServiceMain.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/DamlLfEncoder.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/interface/src/test/scala/com/digitalasset/daml/lf/iface/reader/InterfaceReaderSpec.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/InterpreterTest.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
  daml-lf/language/src/test/scala/com/digitalasset/daml/lf/language/AstSpec.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ModParser.scala
  daml-lf/parser/src/test/scala/com/digitalasset/daml/lf/testing/parser/ParsersSpec.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/iterable/ExprIterable.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/DependencyVersionSpec.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/TypingSpec.scala
Labels: component/daml-engine

#11795 LF: Simplify LF Syntax
  daml-lf/encoder/src/test/lf/Bool_all_.lf
  daml-lf/encoder/src/test/lf/Date_all_.lf
  daml-lf/encoder/src/test/lf/Decimal_all_.lf
  daml-lf/encoder/src/test/lf/Enum_all_.lf
  daml-lf/encoder/src/test/lf/GenMap_1.11_1.12_1.13_1.14_1.dev_.lf
  daml-lf/encoder/src/test/lf/Int64_all_.lf
  daml-lf/encoder/src/test/lf/List_all_.lf
  daml-lf/encoder/src/test/lf/Numeric_1.7_1.8_1.11_1.12_1.13_1.14_1.dev_.lf
  daml-lf/encoder/src/test/lf/Option_all_.lf
  daml-lf/encoder/src/test/lf/Party_all_.lf
  daml-lf/encoder/src/test/lf/Record_all_.lf
  daml-lf/encoder/src/test/lf/Template_1.11_1.12_1.13_1.14_1.dev_.lf
  daml-lf/encoder/src/test/lf/Template_1.6_1.7_1.8_.lf
  daml-lf/encoder/src/test/lf/TextMap_all_.lf
  daml-lf/encoder/src/test/lf/Text_all_.lf
  daml-lf/encoder/src/test/lf/Timestamp_all_.lf
  daml-lf/encoder/src/test/lf/Unit_all_.lf
  daml-lf/encoder/src/test/lf/Variant_all_.lf
  daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/archive/testing/EncodeV1Spec.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/PackageInterfaceSpec.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/CommandPreprocessorSpec.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/PreprocessorSpec.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ValueEnricherSpec.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ComparisonSBuiltinTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/CompilerTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ExceptionTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ProfilerTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/RollbackTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SpeedyTest.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ModParser.scala
  daml-lf/parser/src/test/scala/com/digitalasset/daml/lf/testing/parser/ParsersSpec.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/PartyLiteralsSpec.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/SerializabilitySpec.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/TypingSpec.scala
  security-evidence.md
Labels: component/daml-engine

#11804 Bump Windows postgres
  dev-env/windows/manifests/msys2.json
Labels: infra-backport

#11784 Fix es
  infra/es_cluster.tf
Labels: Standard-Change

#11685 [Self-service error codes] Enabled by default [DPP-691]
  compatibility/bazel_tools/testing.bzl
  compiler/damlc/tests/src/DA/Test/Repl/FuncTests.hs
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ledgerinteraction/GrpcLedgerClient.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ledgerinteraction/JsonLedgerClient.scala
  daml-script/test/daml-script-test-runner.sh
  docs/source/error-codes/self-service/index.rst
  language-support/hs/bindings/src/DA/Ledger/GrpcWrapUtils.hs
  language-support/hs/bindings/src/DA/Ledger/Services/CommandService.hs
  language-support/hs/bindings/src/DA/Ledger/Services/CommandSubmissionService.hs
  language-support/hs/bindings/src/DA/Ledger/Services/TransactionService.hs
  ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTest.scala
  ledger/indexer-benchmark/src/app/scala/ledger/indexerbenchmark/Main.scala
  ledger/ledger-api-client/src/it/scala/com/digitalasset/ledger/client/CommandClientIT.scala
  ledger/ledger-api-test-tool-on-canton/BUILD.bazel
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/dummy/DeprecatedSandboxClassicMemoryExceptionsIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/CommandServiceIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/DeprecatedSandboxClassicMemoryContractKeysIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/DeprecatedSandboxClassicMemoryExceptionsIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/Tests.scala
  ledger/ledger-api-test-tool/util.bzl
  ledger/ledger-on-memory/BUILD.bazel
  ledger/ledger-on-memory/src/test/suite/scala/com/daml/ledger/on/memory/InMemoryLedgerReaderWriterIntegrationSpec.scala
  ledger/ledger-on-sql/src/test/lib/scala/com/daml/ledger/on/sql/SqlLedgerReaderWriterIntegrationSpecBase.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoBackend.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoPostCommitValidationSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/services/ApiSubmissionServiceSpec.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Config.scala
  ledger/participant-state/kvutils/app/src/test/scala/com/daml/ledger/participant/state/kvutils/app/ConfigSpec.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/KVTest.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/ParticipantStateIntegrationSpecBase.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/api/KeyValueParticipantStateReaderSpec.scala
  ledger/participant-state/kvutils/tools/integrity-check/src/main/scala/ledger/participant/state/kvutils/tools/integritycheck/LogAppendingReadServiceFactory.scala
  ledger/recovering-indexer-integration-tests/src/test/suite/scala/com/digitalasset/platform/indexer/RecoveringIndexerIntegrationSpec.scala
  ledger/sandbox-classic/BUILD.bazel
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/auth/GetFlatTransactionByEventIdAuthIT.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/auth/GetTransactionByEventIdAuthIT.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/services/command/CommandServiceBackPressureIT.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/stores/ledger/TransactionTimeModelComplianceIT.scala
  ledger/sandbox-common/src/main/scala/platform/sandbox/cli/CommonCliBase.scala
  ledger/sandbox-common/src/main/scala/platform/sandbox/config/SandboxConfig.scala
  ledger/sandbox-common/src/test/lib/scala/platform/sandbox/cli/CommonCliSpecBase.scala
Labels: automerge, sdk-1.18-rc2

#11797 LF Parser: handle interface
  daml-lf/parser/BUILD.bazel
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ExprParser.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ModParser.scala
  daml-lf/parser/src/test/scala/com/digitalasset/daml/lf/testing/parser/ParsersSpec.scala
Labels: component/daml-engine, component/daml-lf

#11793 BACKPORT Move select DB logic to JVM [DPP-760] (#11777)
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/EventStorageBackendTemplate.scala
Labels: automerge

#11789 [DPP-417][Self-service error codes][Docs] Add more complete information for forking gRPC status codes.
  docs/source/error-codes/self-service/index.rst
  ledger/participant-integration-api/src/docs/resources/com/daml/platform/docs/self-service-error-codes-migration.yml
  ledger/participant-integration-api/src/docs/scala/com/daml/platform/docs/SelfServiceErrorCodes_MigrationGuideGen_App.scala
Labels: automerge

#11798 [Self-service error codes] Update existing error code references [DPP-593]
  docs/source/app-dev/grpc/error-codes.rst
  docs/source/app-dev/grpc/index.rst
  docs/source/index.rst
  docs/source/ops/index.rst
  ledger-api/grpc-definitions/com/daml/ledger/api/v1/admin/config_management_service.proto
  ledger-api/grpc-definitions/com/daml/ledger/api/v1/admin/participant_pruning_service.proto
  ledger-api/grpc-definitions/com/daml/ledger/api/v1/admin/party_management_service.proto
  ledger-api/grpc-definitions/com/daml/ledger/api/v1/command_completion_service.proto
  ledger-api/grpc-definitions/com/daml/ledger/api/v1/command_service.proto
  ledger-api/grpc-definitions/com/daml/ledger/api/v1/command_submission_service.proto
  ledger-api/grpc-definitions/com/daml/ledger/api/v1/transaction_service.proto
Labels: automerge, needs-backport, sdk-1.18-rc2

#11812 Refactoring for Canton compatibility on PackageServiceErrors
  ledger/error/src/main/scala/com/daml/error/ErrorResource.scala
  ledger/error/src/main/scala/com/daml/error/definitions/LoggingPackageServiceError.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/admin/ApiPackageManagementService.scala
Labels: automerge

#11810 [Backport] Self-service error codes enabled by default
  compatibility/bazel_tools/testing.bzl
  compiler/damlc/tests/src/DA/Test/Repl/FuncTests.hs
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ledgerinteraction/GrpcLedgerClient.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ledgerinteraction/JsonLedgerClient.scala
  daml-script/test/daml-script-test-runner.sh
  docs/source/error-codes/self-service/index.rst
  language-support/hs/bindings/src/DA/Ledger/GrpcWrapUtils.hs
  language-support/hs/bindings/src/DA/Ledger/Services/CommandService.hs
  language-support/hs/bindings/src/DA/Ledger/Services/CommandSubmissionService.hs
  language-support/hs/bindings/src/DA/Ledger/Services/TransactionService.hs
  ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTest.scala
  ledger/indexer-benchmark/src/app/scala/ledger/indexerbenchmark/Main.scala
  ledger/ledger-api-client/src/it/scala/com/digitalasset/ledger/client/CommandClientIT.scala
  ledger/ledger-api-test-tool-on-canton/BUILD.bazel
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/dummy/DeprecatedSandboxClassicMemoryExceptionsIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/CommandServiceIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/DeprecatedSandboxClassicMemoryContractKeysIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/DeprecatedSandboxClassicMemoryExceptionsIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/Tests.scala
  ledger/ledger-api-test-tool/util.bzl
  ledger/ledger-on-memory/BUILD.bazel
  ledger/ledger-on-memory/src/test/suite/scala/com/daml/ledger/on/memory/InMemoryLedgerReaderWriterIntegrationSpec.scala
  ledger/ledger-on-sql/src/test/lib/scala/com/daml/ledger/on/sql/SqlLedgerReaderWriterIntegrationSpecBase.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoBackend.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoPostCommitValidationSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/services/ApiSubmissionServiceSpec.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Config.scala
  ledger/participant-state/kvutils/app/src/test/scala/com/daml/ledger/participant/state/kvutils/app/ConfigSpec.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/KVTest.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/ParticipantStateIntegrationSpecBase.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/api/KeyValueParticipantStateReaderSpec.scala
  ledger/participant-state/kvutils/tools/integrity-check/src/main/scala/ledger/participant/state/kvutils/tools/integritycheck/LogAppendingReadServiceFactory.scala
  ledger/recovering-indexer-integration-tests/src/test/suite/scala/com/digitalasset/platform/indexer/RecoveringIndexerIntegrationSpec.scala
  ledger/sandbox-classic/BUILD.bazel
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/auth/GetFlatTransactionByEventIdAuthIT.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/auth/GetTransactionByEventIdAuthIT.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/services/command/CommandServiceBackPressureIT.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/stores/ledger/TransactionTimeModelComplianceIT.scala
  ledger/sandbox-common/src/main/scala/platform/sandbox/cli/CommonCliBase.scala
  ledger/sandbox-common/src/main/scala/platform/sandbox/config/SandboxConfig.scala
  ledger/sandbox-common/src/test/lib/scala/platform/sandbox/cli/CommonCliSpecBase.scala
Labels: automerge

#11822 [Backport] Canton compatibility refactoring of PackageServiceErrors
  ledger/error/src/main/scala/com/daml/error/ErrorResource.scala
  ledger/error/src/main/scala/com/daml/error/definitions/LoggingPackageServiceError.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/admin/ApiPackageManagementService.scala
Labels: automerge

#11825 LF: parsing interface primitives
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ExprParser.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/Lexer.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/Token.scala
  daml-lf/parser/src/test/scala/com/digitalasset/daml/lf/testing/parser/ParsersSpec.scala
Labels: component/daml-engine

#11821 [Backport] Update existing error code references [DPP-593]
  docs/source/app-dev/grpc/error-codes.rst
  docs/source/app-dev/grpc/index.rst
  docs/source/index.rst
  docs/source/ops/index.rst
  ledger-api/grpc-definitions/com/daml/ledger/api/v1/admin/config_management_service.proto
  ledger-api/grpc-definitions/com/daml/ledger/api/v1/admin/participant_pruning_service.proto
  ledger-api/grpc-definitions/com/daml/ledger/api/v1/command_service.proto
  ledger-api/grpc-definitions/com/daml/ledger/api/v1/command_submission_service.proto
  ledger-api/grpc-definitions/com/daml/ledger/api/v1/transaction_service.proto
Labels: automerge

#11823 port #11798 documentation changes to json-api HTTP codes documentation
  docs/source/json-api/index.rst
Labels: component/documentation, automerge, component/json-api, application-runtime

#11715 [Self-service error codes] Group explanations
  ledger/error/src/main/scala/com/daml/error/definitions/IndexErrors.scala
  ledger/error/src/main/scala/com/daml/error/definitions/LedgerApiErrors.scala
  ledger/error/src/main/scala/com/daml/error/definitions/LoggingPackageServiceError.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/errors/KVErrors.scala
Labels: automerge

#11834 [Backport] Generate error code directory compatible with both pdf and html docs (#11794)
  docs/BUILD.bazel
  docs/configs/html/conf.py
  docs/scripts/live-preview.sh
  docs/source/app-dev/grpc/error-codes.rst
  docs/source/app-dev/grpc/index.rst
  docs/sphinx_ext/self_service_error_codes_extension.py
  ledger/daml-on-sql/BUILD.bazel
  ledger/error/generator/BUILD.bazel
  ledger/error/generator/app/src/main/scala/com/daml/error/generator/app/ErrorCodeInventoryDocsGenApp.scala
  ledger/error/generator/app/src/main/scala/com/daml/error/generator/app/Main.scala
  ledger/error/generator/lib/src/main/scala/com/daml/error/generator/ErrorCodeDocumentationGenerator.scala
  ledger/error/generator/lib/src/main/scala/com/daml/error/generator/ErrorDocItem.scala
  ledger/error/generator/lib/src/main/scala/com/daml/error/generator/GroupDocItem.scala
  ledger/error/src/main/scala/com/daml/error/ErrorClass.scala
  ledger/error/src/main/scala/com/daml/error/ErrorGroup.scala
  ledger/error/src/test/suite/scala/com/daml/error/ErrorGroupSpec.scala
  ledger/error/src/test/utils/scala/com/daml/error/utils/testpackage/subpackage/MildErrors.scala
Labels: sdk-1.18-rc2

#11846 snapshot release 2021.11.24
  LATEST
Labels: Standard-Change

#11778 stack-safe closure conversion in speedy compiler
  daml-lf/interpreter/perf/src/main/scala/com/daml/lf/explore/Explore.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Anf.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ClosureConversion.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr0.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr1.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/AnfTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ClosureConversionTest.scala
Labels: component/daml-engine

#11837 [Backport] Split one narrow migration table …
  docs/source/app-dev/grpc/error-codes.rst
  docs/source/app-dev/grpc/status-codes-migration-table-ledger-api.rst
  ledger/participant-integration-api/src/docs/scala/com/daml/platform/docs/SelfServiceErrorCodes_MigrationGuideGen_App.scala
Labels: sdk-1.18-rc2

#11852 speedy compilation benchmark
  daml-lf/interpreter/BUILD.bazel
  daml-lf/interpreter/src/bench/com/daml/lf/interpreter/SpeedyCompilationBench.scala
Labels: component/daml-engine, automerge

#11850 All packages must be valid
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/WritePackagesService.scala
Labels: automerge

#11855 [Backport] Add a new KV submission failure error [KVL-1201]
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/errors/KVErrors.scala
Labels: sdk-1.18-rc2

#11860 increase linux cluster size
  infra/vsts_agent_ubuntu_20_04.tf
Labels: Standard-Change

#11833 LF: Test scala interface type checking
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ExprParser.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/Lexer.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/Token.scala
  daml-lf/parser/src/test/scala/com/digitalasset/daml/lf/testing/parser/ParsersSpec.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/TypingSpec.scala
  security-evidence.md
Labels: component/daml-lf

#11843 [Backport] Group explanations
  ledger/error/src/main/scala/com/daml/error/definitions/IndexErrors.scala
  ledger/error/src/main/scala/com/daml/error/definitions/LedgerApiErrors.scala
  ledger/error/src/main/scala/com/daml/error/definitions/LoggingPackageServiceError.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/errors/KVErrors.scala
Labels: automerge

#11696 fix Nix install on macOS nodes
  infra/macos/2-common-box/init.sh
Labels: Standard-Change

#11869 Release 1.18 RC2
  LATEST
Labels: Standard-Change

#11864 Drop DA.Next.Set and DA.Next.Map
  compiler/damlc/daml-stdlib-src/DA/Internal/LF.daml
  compiler/damlc/daml-stdlib-src/DA/Internal/Template/Functions.daml
  compiler/damlc/daml-stdlib-src/DA/List/BuiltinOrder.daml
  compiler/damlc/daml-stdlib-src/DA/Map.daml
  compiler/damlc/daml-stdlib-src/DA/Next/Map.daml
  compiler/damlc/daml-stdlib-src/DA/Next/Set.daml
  compiler/damlc/daml-stdlib-src/DA/Set.daml
  compiler/damlc/daml-stdlib-src/DA/Set/Types.daml
  compiler/damlc/daml-stdlib-src/LibraryModules.daml
  compiler/damlc/tests/daml-test-files/NextMap.daml
  compiler/damlc/tests/daml-test-files/NextMapDeprecated.daml
  compiler/damlc/tests/daml-test-files/NextSet.daml
  compiler/damlc/tests/daml-test-files/NextSetDeprecated.daml
  compiler/damlc/tests/src/DA/Test/UnstableTypes.hs
  daml-lf/tests/scenario/stable/contract-key-through-exercises/EXPECTED.ledger
  daml-lf/tests/scenario/stable/contract-key-through-exercises/Test.daml
  docs/source/upgrade/example/carbon-upgrade-trigger/daml/UpgradeTrigger.daml
  triggers/daml/Daml/Trigger.daml
  triggers/daml/Daml/Trigger/Assert.daml
  triggers/daml/Daml/Trigger/Internal.daml
  triggers/daml/Daml/Trigger/LowLevel.daml
  triggers/tests/daml/TemplateIdFilter.daml
  triggers/tests/scenarios/Rule.daml
Labels: SDK 2.0

#11878 Make DA.List.Total return Optional instead
  compiler/damlc/daml-stdlib-src/DA/List/Total.daml
  compiler/damlc/daml-stdlib-src/DA/Maybe/Total.daml
  compiler/damlc/daml-stdlib-src/DA/Optional/Total.daml
  compiler/damlc/daml-stdlib-src/LibraryModules.daml
  compiler/damlc/tests/daml-test-files/Examples.daml
  compiler/damlc/tests/daml-test-files/List_Total.daml
  compiler/damlc/tests/daml-test-files/MaybeCompat.daml
  compiler/damlc/tests/daml-test-files/Optional_Total.daml
Labels: SDK 2.0

#11820 LF: Drop Archive Snapshot for LF < 1.14
  daml-lf/archive/BUILD.bazel
  daml-lf/archive/README.md
  daml-lf/archive/proto_check_hash.sh
  daml-lf/archive/src/stable/protobuf/com/daml/daml_lf_1_11/daml_lf.proto
  daml-lf/archive/src/stable/protobuf/com/daml/daml_lf_1_11/daml_lf_1.proto
  daml-lf/archive/src/stable/protobuf/com/daml/daml_lf_1_12/daml_lf.proto
  daml-lf/archive/src/stable/protobuf/com/daml/daml_lf_1_12/daml_lf_1.proto
  daml-lf/archive/src/stable/protobuf/com/daml/daml_lf_1_13/daml_lf.proto
  daml-lf/archive/src/stable/protobuf/com/daml/daml_lf_1_13/daml_lf_1.proto
  daml-lf/archive/src/stable/protobuf/com/digitalasset/daml_lf_1_6/daml_lf.proto
  daml-lf/archive/src/stable/protobuf/com/digitalasset/daml_lf_1_6/daml_lf_0.proto
  daml-lf/archive/src/stable/protobuf/com/digitalasset/daml_lf_1_6/daml_lf_1.proto
  daml-lf/archive/src/stable/protobuf/com/digitalasset/daml_lf_1_7/daml_lf.proto
  daml-lf/archive/src/stable/protobuf/com/digitalasset/daml_lf_1_7/daml_lf_0.proto
  daml-lf/archive/src/stable/protobuf/com/digitalasset/daml_lf_1_7/daml_lf_1.proto
  daml-lf/archive/src/stable/protobuf/com/digitalasset/daml_lf_1_8/daml_lf.proto
  daml-lf/archive/src/stable/protobuf/com/digitalasset/daml_lf_1_8/daml_lf_0.proto
  daml-lf/archive/src/stable/protobuf/com/digitalasset/daml_lf_1_8/daml_lf_1.proto
  daml-lf/language/daml-lf.bzl
  release/artifacts.yaml
Labels: component/daml-engine

#11877 Use absolute stack locations in SExpr1
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Anf.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ClosureConversion.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr1.scala
Labels: component/daml-engine

#11894 LF: replace "dev" LF version by "1.dev" in bazel files
  daml-assistant/integration-tests/BUILD.bazel
  daml-lf/archive/BUILD.bazel
  daml-lf/archive/README.md
  daml-lf/archive/src/main/protobuf/com/daml/daml_lf_1_13/NO_AUTO_COPYRIGHT
  daml-lf/archive/src/main/protobuf/com/daml/daml_lf_1_14/NO_AUTO_COPYRIGHT
  daml-lf/encoder/BUILD.bazel
  daml-lf/engine/BUILD.bazel
  daml-lf/interface/BUILD.bazel
  daml-lf/interpreter/BUILD.bazel
  daml-lf/language/daml-lf.bzl
  daml-lf/scenario-interpreter/BUILD.bazel
  daml-lf/validation/BUILD.bazel
  daml-script/export/BUILD.bazel
  daml-script/runner/BUILD.bazel
  daml-script/test/BUILD.bazel
  docs/BUILD.bazel
  language-support/java/codegen/BUILD.bazel
  language-support/scala/codegen/BUILD.bazel
  ledger-service/utils/BUILD.bazel
  ledger/participant-integration-api/BUILD.bazel
  ledger/participant-state-index/BUILD.bazel
  ledger/participant-state-metrics/BUILD.bazel
  ledger/participant-state/BUILD.bazel
  ledger/participant-state/kvutils/BUILD.bazel
  ledger/participant-state/kvutils/app/BUILD.bazel
  ledger/participant-state/kvutils/tools/BUILD.bazel
  ledger/sandbox-classic/BUILD.bazel
  ledger/sandbox-on-x/BUILD.bazel
  ledger/sandbox-perf/BUILD.bazel
  ledger/sandbox/BUILD.bazel
  ledger/test-common/BUILD.bazel
  navigator/backend/BUILD.bazel
  release/artifacts.yaml
  triggers/service/BUILD.bazel
Labels: component/daml-engine

#11901 refactor to avoid impossible code path
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Anf.scala
Labels: component/daml-engine

#11912 Use Absolute-indexes as keys for the Env-mapping during closure-conversion
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ClosureConversion.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ClosureConversionTest.scala
Labels: component/daml-engine

#11915 Fix releasing of resources in case connection initialization failed
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/InitHookDataSourceProxy.scala
Labels: needs-backport
