Repository digital-asset/daml, pull requests merged in 2021-07, with the labels that each got.

#10164 docs: Suppress the output from `unzip`.
  docs/BUILD.bazel
Labels: automerge

#10165 language-support/scala/codegen: Set the logging level to `WARN`.
  language-support/scala/codegen-sample-app/BUILD.bazel
  language-support/scala/codegen/codegen.bzl
  language-support/scala/examples/BUILD.bazel
  ledger/test-common/BUILD.bazel
Labels: automerge

#10163 daml-lf/data: Optionally truncate party names in structured logs. [KVL-996]
  daml-lf/data/BUILD.bazel
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/Ref.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/logging/LoggingConfiguration.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/logging/package.scala
  daml-lf/encoder/BUILD.bazel
  daml-lf/engine/BUILD.bazel
  daml-lf/interface/BUILD.bazel
  daml-lf/interpreter/BUILD.bazel
  daml-lf/parser/BUILD.bazel
  daml-lf/transaction/BUILD.bazel
  daml-lf/validation/BUILD.bazel
  daml-script/runner/BUILD.bazel
  daml-script/test/BUILD.bazel
  extractor/BUILD.bazel
  language-support/scala/codegen/BUILD.bazel
  ledger/ledger-api-domain/src/main/scala/com/digitalasset/ledger/api/domain.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiCommandService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/admin/ApiPartyManagementService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/logging/package.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/ExecuteUpdate.scala
  ledger/participant-state/kvutils/tools/BUILD.bazel
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/Offset.scala
  libs-scala/logging-entries/BUILD.bazel
  libs-scala/logging-entries/src/main/scala/com/daml/logging/entries/LoggingValue.scala
  libs-scala/logging-entries/src/main/scala/com/daml/logging/entries/ToLoggingKey.scala
  libs-scala/logging-entries/src/main/scala/com/daml/logging/entries/ToLoggingValue.scala
  libs-scala/logging-entries/src/test/scala/com/daml/logging/entries/LoggingValueSpec.scala
  navigator/backend/BUILD.bazel
Labels: automerge

#10166 Backport: stop indexer upon unhealthy database [DPP-473]
  ledger/participant-integration-api/src/main/scala/platform/indexer/parallel/ParallelIndexerFactory.scala
Labels: automerge

#10177 Unhide JSON API metrics
  ledger-service/cli-opts/src/main/scala/cliopts/Metrics.scala
  ledger-service/http-json-cli/src/main/scala/com/daml/http/OptionParser.scala
Labels: automerge

#10178 Only run compat sandbox(classic)? on postgres tests on Linx
  compatibility/bazel_tools/testing.bzl
Labels: automerge

#10176 restore print of job metadata
  ci/upload-bazel-metrics.yml
Labels: automerge

#10175 Ledger API: bump version for LF 1.14
  docs/source/support/compatibility.rst
  ledger-api/VERSION
Labels: automerge

#10182 Release SDK 1.15 RC
  LATEST
Labels: Standard-Change

#10167 Tests for transaction validation
  daml-lf/transaction/BUILD.bazel
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/validation/ValidationSpec.scala
Labels: automerge, component/daml-engine

#10188 Fix a typo in an exceptions example.
  docs/source/daml/code-snippets-dev/Exceptions.daml
Labels: automerge

#10189 add tar to dev-env (#10173)
  dev-env/bin/tar
Labels: automerge

#10190 Drop logging on CompletionSource
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/services/commands/CommandCompletionSource.scala
Labels: automerge

#10186 release 1.14.1-snapshot.20210705.7132.0.c68194bf
  LATEST
Labels: Standard-Change, automerge

#10191 Use PartialFunction for more concise code.
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/validation/ValidationSpec.scala
Labels: automerge, component/daml-engine

#10193 feed elasticsearch cluster
  infra/es_cluster.tf
  infra/main.tf
Labels: Standard-Change

#10185 Deduplicate Java codegen running instructions
  docs/source/app-dev/bindings-java/codegen.rst
Labels: automerge

#10200 ci/windows: disable spool
  infra/vsts_agent_windows.tf
Labels: Standard-Change, automerge

#10203 Mark Daml profiler as stable
  docs/source/support/component-statuses.rst
Labels: automerge

#10207 es-feed: ignore invalid files
  infra/es_cluster.tf
Labels: Standard-Change, automerge

#10212 Backport: Publish execution logs on unix platforms
  build.sh
  ci/build-unix.yml
Labels: automerge

#10215 Reshuffle cocreature in daml-lf codeowners
  CODEOWNERS
Labels: automerge

#10205 Avoid collision in execution log postfix
  build.sh
  ci/build-unix.yml
Labels: automerge

#10213 LF: reorganize errors in com.daml.lf.archive
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/ScenarioServiceMain.scala
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Context.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DarReader.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/Decode.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/Error.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/Reader.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/package.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV1Spec.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/ZipBombDetectionSpec.scala
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/reader/DamlLfArchiveReader.scala
  ledger/participant-integration-api/src/main/scala/platform/packages/InMemoryPackageStore.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/TransactionCommitter.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Server.scala
Labels: automerge, component/daml-engine

#10204 Release DAML SDK 1.14.1
  LATEST
Labels: Standard-Change

#10217 LF: Simplify DarReader
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DarReader.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/Error.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/UniversalArchiveReader.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DarReaderTest.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeMain.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/ZipBombDetectionSpec.scala
  daml-script/export/src/it/scala/com/daml/script/export/IT.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/RunnerMain.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/TestMain.scala
  daml-script/test/src/com/digitalasset/daml/lf/engine/script/test/JsonApiIt.scala
  daml-script/test/src/test-utils/com/daml/lf/engine/script/test/AbstractParticipantsFixture.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/CodeGenRunner.scala
  language-support/java/codegen/src/test/scala/com/digitalasset/daml/lf/codegen/CodeGenRunnerTests.scala
  ledger-service/utils/src/main/scala/com/digitalasset/ledger/service/MetadataReader.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/admin/ApiPackageManagementService.scala
  ledger/participant-integration-api/src/main/scala/platform/packages/InMemoryPackageStore.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoSuite.scala
  ledger/participant-integration-api/src/test/suite/scala/db/migration/translation/apiserver/services/admin/ApiPackageManagementServiceSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/packages/DeduplicatingPackageLoaderSpec.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Runner.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/stores/ledger/sql/SqlLedgerSpec.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/stores/ledger/sql/SqlLedgerSpecAppendOnly.scala
  ledger/sandbox-common/src/test/lib/scala/platform/sandbox/services/TestCommands.scala
  ledger/sandbox/src/main/scala/platform/sandboxnext/Runner.scala
  ledger/test-common/src/main/scala/com/digitalasset/platform/testing/TestDarReader.scala
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/RunnerMain.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Server.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/ServiceMain.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceTest.scala
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/test/AbstractTriggerTest.scala
Labels: component/daml-engine

#10201 Warn on DA.Exception import
  compiler/damlc/daml-stdlib-src/DA/Exception.daml
  compiler/damlc/tests/daml-test-files/ExceptionImport.daml
Labels: automerge

#10219 tweak ES cluster
  infra/es_cluster.tf
  infra/main.tf
Labels: Standard-Change

#10220 Backport: Avoid collision in execution log postfix (#10205)
  build.sh
  ci/build-unix.yml
Labels: automerge

#10222 Release 1.14.2 snapshot
  LATEST
Labels: Standard-Change, automerge

#10225 TODO Cleanup: QueryNonPruned [DPP-459]
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/CommandCompletionsReader.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/JdbcLedgerDao.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/QueryNonPruned.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/TransactionsReader.scala
Labels: automerge

#10226 Release SDK 1.14.2
  LATEST
Labels: Standard-Change

#10229 add akshay to appr team
  infra/data_bucket.tf
  release/rotation
Labels: Standard-Change, automerge

#10232 tf: refactor appr var
  infra/data_bucket.tf
Labels: Standard-Change

#10236 es: switch to persistent nodes
  infra/es_cluster.tf
Labels: Standard-Change, automerge

#10240 Make @UNTIL-LF exclusive, add @UNTIL-LF-FEATURE.
  compiler/damlc/tests/daml-test-files/ExceptionImport.daml
  compiler/damlc/tests/daml-test-files/NextMap.daml
  compiler/damlc/tests/daml-test-files/NextSet.daml
  compiler/damlc/tests/src/DA/Test/DamlcIntegration.hs
Labels: automerge

#10238 Adds Unit tests for parallel-ingestion [DPP-455]
  ledger/participant-integration-api/BUILD.bazel
  ledger/participant-integration-api/src/main/scala/platform/indexer/parallel/ParallelIndexerFactory.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/indexer/parallel/BatchingParallelIngestionPipeSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/indexer/parallel/ParallelIndexerFactorySpec.scala
Labels: automerge

#10243 LF: Make DarReader ZipEntries immulatble
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DarReader.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/Reader.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/Bytes.scala
Labels: automerge, component/daml-engine

#10244 [JSON-API] Correctly extract the request source URL/IP
  ledger-service/http-json/BUILD.bazel
  ledger-service/http-json/src/main/resources/application.conf
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
Labels: automerge

#10249 LF: Deprecate com.daml.lf.data.TryOps.Bracket
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DarManifestReader.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DarReader.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/UniversalArchiveReader.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/TryOps.scala
  daml-lf/data/src/test/scala/com/digitalasset/daml/lf/data/TryOpsTest.scala
  ledger-service/http-json-testing/src/main/scala/com/daml/http/util/TestUtil.scala
  ledger-service/jwt/BUILD.bazel
  ledger-service/jwt/src/main/scala/com/digitalasset/jwt/KeyUtils.scala
  ledger-service/jwt/src/main/scala/com/digitalasset/jwt/RsaKeysGenerator.scala
Labels: automerge, component/daml-engine

#10248 [In-memory fan-out] Handle `null` submitters in getTransactionLogUpdates
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/CommonStorageBackend.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoSuite.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoTransactionLogUpdatesSpec.scala
Labels: automerge

#10251 LF: Drop old depreated code
  daml-lf/data/src/main/2.12/com/daml/lf/data/AbstractInsertOrdMap.scala
  daml-lf/data/src/main/2.13/com/daml/lf/data/AbstractInsertOrdMap.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/InsertOrdMap.scala
  daml-lf/data/src/test/scala/com/digitalasset/daml/lf/data/InsertOrdMapTest.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/EngineConfig.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/LargeTransactionTest.scala
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/Type.scala
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/package.scala
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/reader/package.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/scenario/ScenarioLedger.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageMajorVersion.scala
  daml-lf/transaction-test-lib/src/main/scala/lf/value/test/ValueGenerators.scala
  daml-lf/transaction-test-lib/src/main/scala/lf/value/test/ValueNormalizer.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Node.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/Value.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/ValueCoder.scala
  extractor/src/main/scala/com/digitalasset/extractor/writers/postgresql/MultiTableDataFormat.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/dependencygraph/DependencyGraph.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/lf/LFUtil.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/lf/UsedTypeParams.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/model/PackageRegistry.scala
Labels: automerge, component/daml-engine

#10252 [JSON-API] Small refactoring to start using akka http routes internally
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/EndpointsCompanion.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/StaticContentEndpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebsocketEndpoints.scala
Labels: automerge

#10253 Separate traces from warnings in engine.
  compiler/damlc/tests/src/DA/Test/ScriptService.hs
  compiler/repl-service/server/src/main/resources/logback.xml
  compiler/scenario-service/client/src/DA/Daml/LF/PrettyScenario.hs
  compiler/scenario-service/protos/scenario_service.proto
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/ScenarioServiceMain.scala
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Context.scala
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/TraceLog.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/WarningLog.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/InterpreterTest.scala
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/ScenarioRunner.scala
  daml-script/runner/src/main/resources/logback.xml
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ledgerinteraction/IdeLedgerClient.scala
  daml-script/test/src/main/resources/logback-test.xml
  triggers/runner/src/main/resources/logback.xml
Labels: automerge

#10255 ledger-on-sql: Use random log entry ID allocation so we don't depend on `SeedService`. [KVL-1002]
  ledger/ledger-on-sql/BUILD.bazel
  ledger/ledger-on-sql/README.md
  ledger/ledger-on-sql/src/app/scala/com/daml/ledger/on/sql/RandomLogEntryIdAllocator.scala
  ledger/ledger-on-sql/src/app/scala/com/daml/ledger/on/sql/SqlLedgerFactory.scala
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/SqlLedgerReaderWriter.scala
  ledger/ledger-on-sql/src/test/lib/scala/com/daml/ledger/on/sql/SqlLedgerReaderWriterIntegrationSpecBase.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/LogEntryIdAllocator.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/SubmissionValidator.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/validator/TestHelper.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/SubmissionValidatorSpec.scala
  ledger/sandbox/src/main/scala/platform/sandboxnext/Runner.scala
  ledger/sandbox/src/main/scala/platform/sandboxnext/SeedServiceLogEntryIdAllocator.scala
Labels: automerge

#10261 participant-integration-api: Move `SeedService` here. [KVL-1002]
  language-support/java/codegen/src/ledger-tests/scala/com/digitalasset/TestUtil.scala
  ledger-service/http-json-testing/src/main/scala/com/daml/http/HttpServiceTestFixture.scala
  ledger/daml-on-sql/src/main/scala/on/sql/Cli.scala
  ledger/daml-on-sql/src/test/lib/scala/on/sql/MainWithEphemeralPostgresql.scala
  ledger/daml-on-sql/src/test/suite/scala/on/sql/CliSpec.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/ApiServerConfig.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/ApiServices.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/SeedService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/StandaloneApiServer.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiSubmissionService.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/SeedingSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/services/ApiSubmissionServiceSpec.scala
  ledger/participant-state/BUILD.bazel
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Config.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/SeedService.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/Cli.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/SandboxServer.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/CliSpec.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/EngineModeIT.scala
  ledger/sandbox-common/BUILD.bazel
  ledger/sandbox-common/src/main/scala/platform/sandbox/cli/CommonCliBase.scala
  ledger/sandbox-common/src/main/scala/platform/sandbox/config/SandboxConfig.scala
  ledger/sandbox-common/src/test/lib/scala/platform/sandbox/AbstractSandboxFixture.scala
  ledger/sandbox/src/main/scala/platform/sandboxnext/Cli.scala
  ledger/sandbox/src/main/scala/platform/sandboxnext/Runner.scala
  ledger/sandbox/src/main/scala/platform/sandboxnext/SeedServiceLogEntryIdAllocator.scala
  ledger/sandbox/src/test/suite/scala/platform/sandboxnext/CliSpec.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceFixture.scala
Labels: automerge

#10254 Add disclaimer to participant state v2 API [KVL-998]
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/AdaptedV1ReadService.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/AdaptedV1WriteService.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/ReadService.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/TimeModel.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/Update.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/WriteService.scala
Labels: automerge

#10275 Backport: Avoid collision in execution log postfix (#10205) (#10220)
  build.sh
  ci/build-unix.yml
Labels: automerge

#10276 Document bazel-testlogs directory in BAZEL.md
  BAZEL.md
Labels: automerge

#10274 [JSON-API] Refactor Endpoints.scala to use path directives etc.
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
Labels: automerge, component/json-api

#10271 LF: Simplify UniversalDarReader
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/GenDarReader.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/UniversalArchiveReader.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/package.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/UniversalArchiveReaderSpec.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/ZipBombDetectionSpec.scala
  daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/archive/testing/DamlLfEncoderTest.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/LargeTransactionTest.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ReinterpretTest.scala
  daml-lf/interpreter/perf/BUILD.bazel
  daml-lf/interpreter/perf/src/main/scala/com/daml/lf/explore/ExploreDar.scala
  daml-lf/interpreter/perf/src/main/scala/com/daml/lf/explore/LoadDarFunction.scala
  daml-lf/repl/src/main/scala/com/digitalasset/daml/lf/repl/testing/Main.scala
  daml-lf/scenario-interpreter/src/perf/benches/scala/com/digitalasset/daml/lf/speedy/perf/CollectAuthority.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/CodeGen.scala
  ledger/participant-state/kvutils/tools/engine-replay/src/replay/scala/ledger/participant/state/kvutils/tools/engine/replay/Replay.scala
  ledger/sandbox-perf/src/perf/lib/scala/com/digitalasset/platform/sandbox/perf/LedgerFactories.scala
  ledger/sandbox-perf/src/perf/lib/scala/com/digitalasset/platform/sandbox/perf/util/DarUtil.scala
Labels: component/daml-engine

#10242 Fix crash on duplicate submissionId
  compatibility/bazel_tools/testing.bzl
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/participant/ParticipantTestContext.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/ConfigManagementServiceIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/PackageManagementServiceIT.scala
  ledger/participant-integration-api/src/main/resources/db/migration/h2database-appendonly/V1__Append_only_schema.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/h2database-appendonly/V1__Append_only_schema.sql
  ledger/participant-integration-api/src/main/resources/db/migration/oracle-appendonly/V1__Append_only_schema.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/oracle-appendonly/V1__Append_only_schema.sql
  ledger/participant-integration-api/src/main/resources/db/migration/postgres-appendonly/V105__drop_unique_index_constraints.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/postgres-appendonly/V105__drop_unique_index_constraints.sql
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/admin/ApiConfigManagementService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/admin/ApiPackageManagementService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/admin/package.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/JdbcLedgerDao.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoConfigurationAppendOnlySpec.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoConfigurationMutatingSpec.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoConfigurationSpec.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoSuite.scala
  ledger/participant-integration-api/src/test/suite/scala/db/migration/translation/apiserver/services/admin/ApiConfigManagementServiceSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/db/migration/translation/apiserver/services/admin/ApiPackageManagementServiceSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/dao/JdbcLedgerDaoH2AppendOnlySpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/dao/JdbcLedgerDaoH2DatabaseSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/dao/JdbcLedgerDaoOracleAppendOnlySpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/dao/JdbcLedgerDaoOracleDatabaseSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/dao/JdbcLedgerDaoPostgresqlAppendOnlySpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/dao/JdbcLedgerDaoPostgresqlSpec.scala
Labels: automerge

#10265 Add unit test to SequentialWriteDao [DPP-456]
  ledger/participant-integration-api/src/test/suite/scala/platform/indexer/parallel/ParallelIndexerFactorySpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/appendonlydao/SequentialWriteDaoSpec.scala
Labels: automerge

#10278 Fix status check in collect_build_data
  ci/build.yml
Labels: automerge

#10269 Release SDK 1.15
  LATEST
Labels: Standard-Change

#10277 LF: change type from Try to Either in archive module
  daml-lf/archive/BUILD.bazel
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DarManifestReader.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/Error.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/GenDarReader.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/UniversalArchiveReader.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/package.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DarManifestReaderTest.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DarReaderTest.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeMain.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV1Spec.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/UniversalArchiveReaderSpec.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/ZipBombDetectionSpec.scala
  daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/archive/testing/DamlLfEncoderTest.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/LargeTransactionTest.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ReinterpretTest.scala
  daml-lf/interpreter/perf/src/main/scala/com/daml/lf/explore/ExploreDar.scala
  daml-lf/interpreter/perf/src/main/scala/com/daml/lf/explore/LoadDarFunction.scala
  daml-lf/repl/src/main/scala/com/digitalasset/daml/lf/repl/testing/Main.scala
  daml-lf/scenario-interpreter/src/perf/benches/scala/com/digitalasset/daml/lf/speedy/perf/CollectAuthority.scala
  daml-script/export/src/it/scala/com/daml/script/export/IT.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/RunnerMain.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/TestMain.scala
  daml-script/test/src/com/digitalasset/daml/lf/engine/script/test/JsonApiIt.scala
  daml-script/test/src/test-utils/com/daml/lf/engine/script/test/AbstractParticipantsFixture.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/CodeGenRunner.scala
  language-support/java/codegen/src/test/scala/com/digitalasset/daml/lf/codegen/CodeGenRunnerTests.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/CodeGen.scala
  ledger-service/utils/src/main/scala/com/digitalasset/ledger/service/MetadataReader.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/admin/ApiPackageManagementService.scala
  ledger/participant-integration-api/src/main/scala/platform/packages/InMemoryPackageStore.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoSuite.scala
  ledger/participant-integration-api/src/test/suite/scala/db/migration/translation/apiserver/services/admin/ApiPackageManagementServiceSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/packages/DeduplicatingPackageLoaderSpec.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Runner.scala
  ledger/participant-state/kvutils/tools/engine-replay/src/replay/scala/ledger/participant/state/kvutils/tools/engine/replay/Replay.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/stores/ledger/sql/SqlLedgerSpec.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/stores/ledger/sql/SqlLedgerSpecAppendOnly.scala
  ledger/sandbox-common/src/test/lib/scala/platform/sandbox/services/TestCommands.scala
  ledger/sandbox-perf/src/perf/lib/scala/com/digitalasset/platform/sandbox/perf/LedgerFactories.scala
  ledger/sandbox-perf/src/perf/lib/scala/com/digitalasset/platform/sandbox/perf/util/DarUtil.scala
  ledger/sandbox/src/main/scala/platform/sandboxnext/Runner.scala
  ledger/test-common/src/main/scala/com/digitalasset/platform/testing/TestDarReader.scala
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/RunnerMain.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Server.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/ServiceMain.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceTest.scala
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/test/AbstractTriggerTest.scala
Labels: automerge, component/daml-engine

#10263 [In-memory fan-out] Oracle support
  ledger/ledger-on-sql/BUILD.bazel
  ledger/participant-integration-api/src/main/resources/db/migration/oracle-appendonly/V1__Append_only_schema.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/oracle-appendonly/V1__Append_only_schema.sql
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/CommonStorageBackend.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/dao/JdbcLedgerDaoOracleAppendOnlySpec.scala
Labels: automerge

#10285 Refresh json API materialized view on statement
  ledger-service/db-backend/src/main/scala/com/digitalasset/http/dbbackend/Queries.scala
Labels: automerge

#10291 ledger-on-sql: Remove conformance tests for H2 and SQLite files.
  ledger/ledger-on-sql/BUILD.bazel
  ledger/ledger-on-sql/src/test/lib/scala/com/daml/ledger/on/sql/MainWithEphemeralDirectory.scala
  ledger/ledger-on-sql/src/test/suite/scala/com/daml/ledger/on/sql/H2FileSqlLedgerReaderWriterIntegrationSpec.scala
  ledger/ledger-on-sql/src/test/suite/scala/com/daml/ledger/on/sql/SqliteFileSqlLedgerReaderWriterIntegrationSpec.scala
Labels: automerge

#10286 LF: Clean legacy from archive proto + TEXT_TO_CODE_POINTS typo
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/DecodeV1.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/EncodeV1.hs
  daml-lf/archive/src/main/protobuf/com/daml/daml_lf_dev/daml_lf_1.proto
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ExprParser.scala
  daml-lf/spec/daml-lf-1.rst
Labels: component/daml-engine

#10292 Codeowners: Add @nicu-da to the kvutils code review.
  CODEOWNERS
Labels: automerge

#10293 ledger-configuration: Add tests for the `Configuration` decoding methods. [KVL-1002]
  ledger/ledger-configuration/BUILD.bazel
  ledger/ledger-configuration/src/main/scala/com/daml/ledger/configuration/Configuration.scala
  ledger/ledger-configuration/src/test/suite/scala/com/daml/ledger/configuration/ConfigurationSpec.scala
Labels: automerge

#10299 participant-state-index: Use `Ref` directly. [KVL-1002]
  ledger/participant-state-index/BUILD.bazel
  ledger/participant-state-index/src/main/scala/com/daml/ledger/participant/state/index/v2/IndexPartyManagementService.scala
Labels: automerge

#10300 refresh es cluster
  infra/es_cluster.tf
Labels: Standard-Change

#10297 Ledger API Test Tool: add a `--max-connection-attempts` command line option [KVL-977]
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/Cli.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/Config.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/LedgerApiTestTool.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerTestCasesRunner.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/participant/ParticipantSession.scala
Labels: automerge

#10302 ledger-configuration: Correct the protobuf package. [KVL-1002]
  ledger/ledger-configuration/protobuf/BUILD.bazel
  ledger/ledger-configuration/protobuf/com/daml/ledger/configuration/ledger_configuration.proto
  ledger/ledger-configuration/protobuf/ledger_configuration.rst
  ledger/ledger-configuration/src/main/scala/com/daml/ledger/configuration/Configuration.scala
  ledger/ledger-configuration/src/test/suite/scala/com/daml/ledger/configuration/ConfigurationSpec.scala
  ledger/participant-state/kvutils/src/main/protobuf/daml_kvutils.proto
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/CommitterSpec.scala
  ledger/participant-state/kvutils/tools/integrity-check/src/test/scala/ledger/participant/state/kvutils/tools/integritycheck/RawWriteSetComparisonSpec.scala
Labels: automerge

#10301 Remove optLocation field from transaction nodes.
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/LargeTransactionTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/scenario/ScenarioLedger.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/CheckAuthorization.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/NormalizeRollbacksSpec.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/PartialTransactionSpec.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ProfilerTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/RollbackTest.scala
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/ScenarioRunner.scala
  daml-lf/scenario-interpreter/src/perf/benches/scala/com/digitalasset/daml/lf/speedy/perf/CollectAuthority.scala
  daml-lf/transaction-test-lib/src/main/scala/lf/transaction/test/TransactionBuilder.scala
  daml-lf/transaction-test-lib/src/main/scala/lf/value/test/ValueGenerators.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/IncompleteTransaction.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Node.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionCoder.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Validation.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionCoderSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/validation/ValidationSpec.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ledgerinteraction/IdeLedgerClient.scala
  ledger/participant-integration-api/src/main/scala/db/migration/h2database/V5_1__Populate_Event_Data.scala
  ledger/participant-integration-api/src/main/scala/db/migration/postgres/V10_1__Populate_Event_Data.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoDivulgenceSpec.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoSuite.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/validation/ModelConformanceValidator.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/ProjectionsSpec.scala
  ledger/participant-state/kvutils/tools/engine-replay/src/replay/scala/ledger/participant/state/kvutils/tools/engine/replay/Adapter.scala
Labels: automerge, component/daml-engine

#10298 [JSON-API] Put the request & response bodies into the log ctx if the log level is debug (for specific statements)
  ledger-service/http-json/src/it/resources/logback.xml
  ledger-service/http-json/src/main/resources/logback.xml
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
  libs-scala/contextualized-logging/BUILD.bazel
  libs-scala/contextualized-logging/src/main/scala/com/digitalasset/logging/LoggingValueSerializer.scala
  libs-scala/logging-entries/BUILD.bazel
  libs-scala/logging-entries/src/main/scala/com/daml/logging/entries/LoggingValue.scala
  libs-scala/logging-entries/src/main/scala/com/daml/logging/entries/ToLoggingValue.scala
Labels: automerge, component/json-api

#10312 [DOCS] Add documentation for the JSON API metrics
  docs/source/json-api/index.rst
  docs/source/json-api/metrics.rst
  ledger-service/http-json/README.md
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
Labels: component/documentation, component/json-api

#10318 increase ES memory
  infra/es_cluster.tf
Labels: Standard-Change

#10295 LF: use Either by default in all archive reader API
  compiler/repl-service/server/src/main/scala/com/digitalasset/daml/lf/speedy/ReplServiceMain.scala
  compiler/scenario-service/server/BUILD.bazel
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Context.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/Decode.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/GenDarReader.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/GenReader.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/Reader.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/UniversalArchiveReader.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/package.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeMain.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV1Spec.scala
  daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/archive/testing/EncodeV1Spec.scala
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/reader/DamlLfArchiveReader.scala
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/reader/InterfaceReader.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageMajorVersion.scala
  daml-script/export/src/main/scala/com/daml/script/export/Dependencies.scala
  ledger-service/utils/src/main/scala/com/digitalasset/ledger/service/LedgerReader.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/admin/ApiPackageManagementService.scala
  ledger/participant-integration-api/src/main/scala/platform/packages/DeduplicatingPackageLoader.scala
  ledger/participant-integration-api/src/main/scala/platform/packages/InMemoryPackageStore.scala
  ledger/participant-integration-api/src/main/scala/platform/store/BaseLedger.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/JdbcLedgerDao.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/JdbcLedgerDao.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/PackageCommitter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/validation/ModelConformanceValidator.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/ParticipantStateIntegrationSpecBase.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/SimplePackage.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/PackageCommitterSpec.scala
  ledger/participant-state/kvutils/tools/codec-benchmark/src/benchmark/scala/com/daml/lf/benchmark/BenchmarkWithLedgerExport.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/store/platform/PlatformSubscriber.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Server.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/dao/DbTriggerDao.scala
Labels: component/daml-engine

#10317 participant-state: Remove the Daml-LF transaction and value aliases. [KVL-1002]
  ledger/participant-integration-api/src/main/scala/db/migration/postgres/V2_1__Rebuild_Acs.scala
  ledger/participant-integration-api/src/main/scala/platform/store/ActiveLedgerState.scala
  ledger/participant-integration-api/src/main/scala/platform/store/ActiveLedgerStateManager.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/JdbcLedgerDao.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/PostCommitValidation.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/JdbcLedgerDao.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/LedgerDao.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/MeteredLedgerDao.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/PostCommitValidation.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/TransactionIndexing.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/TransactionsWriter.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoSuite.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/indexer/ExecuteUpdateSpec.scala
  ledger/participant-state-metrics/src/main/scala/com/daml/ledger/participant/state/v1/metrics/TimedWriteService.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/KeyValueSubmission.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/api/KeyValueParticipantState.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/api/KeyValueParticipantStateWriter.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/KVTest.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/DivulgedContract.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/TransactionMeta.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/Update.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/WriteService.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/package.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/AdaptedV1WriteService.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/DivulgedContract.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/TransactionMeta.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/Update.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/WriteService.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/package.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/InMemoryActiveLedgerState.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/LedgerBackedWriteService.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/Ledger.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/MeteredLedger.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/inmemory/InMemoryLedger.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/sql/SqlLedger.scala
  ledger/sandbox-on-x/src/main/scala/com/daml/ledger/sandbox/ReadWriteServiceBridge.scala
Labels: automerge

#10321 Disables flaky test suite of InstrumentedSource.bufferedSource
  ledger/metrics/src/test/suite/scala/com/daml/metrics/InstrumentedSourceSpec.scala
Labels: automerge

#10250 [In-memory fan-out] CLI parameters update
  ledger/participant-integration-api/src/main/scala/platform/index/ReadOnlySqlLedger.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Config.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/ParticipantConfig.scala
Labels: automerge

#10322 Mark Java Bot tests flaky
  language-support/java/bindings-rxjava/BUILD.bazel
Labels: automerge

#10328 fix besu listing
  docs/source/deploy/index.rst
Labels: automerge

#10329 Report divulgence warning at commit location.
  compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
  compiler/damlc/tests/daml-test-files/DiscloseViaChoiceObserver.daml
  compiler/damlc/tests/daml-test-files/Divulgence.daml
  compiler/damlc/tests/daml-test-files/ExceptionSemantics.daml
  compiler/damlc/tests/daml-test-files/MoreChoiceObserverDivulgence.daml
  compiler/scenario-service/client/src/DA/Daml/LF/PrettyScenario.hs
  compiler/scenario-service/client/src/DA/Daml/LF/ScenarioServiceClient.hs
  compiler/scenario-service/client/src/DA/Daml/LF/ScenarioServiceClient/LowLevel.hs
  compiler/scenario-service/protos/scenario_service.proto
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/WarningLog.scala
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/ScenarioRunner.scala
Labels: automerge

#10336 fix broken triggers link
  docs/source/tools/trigger-service/index.rst
  docs/source/triggers/index.rst
Labels: automerge

#10332 [JSON-API] Include the logging context in the ledger client for consistent logging
  daml-script/test/BUILD.bazel
  ledger-service/http-json-ledger-client/BUILD.bazel
  ledger-service/http-json-ledger-client/src/main/scala/com/daml/http/LedgerClientBase.scala
  ledger-service/http-json/BUILD.bazel
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
  ledger-service/utils/BUILD.bazel
  ledger-service/utils/src/main/scala/com/digitalasset/http/util/Logging.scala
Labels: component/json-api

#10342 fix template dot-files
  templates/BUILD.bazel
  templates/NO_AUTO_COPYRIGHT
  templates/default-dlint.yaml
Labels: automerge

#10350 participant-integration-api: De-spacify PostCommitValidationSpec.
  ledger/participant-integration-api/src/test/suite/scala/platform/store/dao/events/PostCommitValidationSpec.scala
Labels: automerge

#10352 remove duplicated rule in create-daml-app dlint
  templates/BUILD.bazel
Labels: automerge

#10349 participant-integration-api: Fill out stubs in ApiSubmissionServiceSpec.
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/services/ApiSubmissionServiceSpec.scala
Labels: automerge

#10337 LF: Compile netsed ELets using constant stack
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/CompilerTest.scala
  daml-lf/tests/scenario/stable/many-fields/EXPECTED.ledger
  daml-lf/tests/scenario/stable/many-fields/Test.daml
Labels: component/daml-engine

#10341 Re-add `application_id` to `DamlCommandDedupKey` [KVL-1000]
  ledger/participant-state/kvutils/src/main/protobuf/com/daml/ledger/participant/state/kvutils/daml_kvutils.proto
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/Conversions.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/KeyValueCommittingSpec.scala
Labels: automerge

#10314 LF: add context in LookupError
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Error.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ValueEnricher.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/Preprocessor.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Interface.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LookupError.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/TypingSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/services/ApiSubmissionServiceSpec.scala
Labels: component/daml-engine

#10319 Add conformance test for deeply nested values
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/DeeplyNestedValueIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/Tests.scala
  ledger/sandbox-classic/BUILD.bazel
  ledger/sandbox/BUILD.bazel
  ledger/test-common/src/main/daml/semantic/DeeplyNestedValue.daml
Labels: component/daml-lf, component/ledger

#10364 Stop printing stacktrace on logging setup failures
  ledger-service/cli-opts/src/main/scala/cliopts/Logging.scala
Labels: automerge

#10353 Support deletion of a large number of contracts
  ledger-service/db-backend/src/main/scala/com/digitalasset/http/dbbackend/Queries.scala
  ledger-service/http-json-testing/src/main/scala/com/daml/http/HttpServiceTestFixture.scala
  ledger-service/http-json/BUILD.bazel
  ledger-service/http-json/src/bench/scala/com/daml/http/dbbackend/InsertBenchmark.scala
  ledger-service/http-json/src/it/daml/Account.daml
  ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTest.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractNonRepudiationTest.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsFetch.scala
Labels: automerge

#10368 Limit length of package ids to 64 characters
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/IdString.scala
  daml-lf/data/src/test/scala/com/digitalasset/daml/lf/data/RefTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/RollbackTest.scala
  daml-lf/spec/daml-lf-1.rst
  daml-lf/transaction-test-lib/src/main/scala/lf/value/test/ValueGenerators.scala
Labels: automerge

#10373 ledger-configuration: Return a structured error from checkTime. [KVL-1002]
  ledger/ledger-configuration/src/main/scala/com/daml/ledger/configuration/LedgerTimeModel.scala
  ledger/ledger-configuration/src/test/suite/scala/com/daml/ledger/configuration/LedgerTimeModelSpec.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/validation/LedgerTimeValidator.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/TimeModelError.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/inmemory/InMemoryLedger.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/sql/SqlLedger.scala
Labels: automerge

#10357 Fetch actingParties always non-empty for supported versions (>=1.6)
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Validation.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/validation/ValidationSpec.scala
Labels: automerge, component/daml-engine

#10355 Cleanup perf
  ci/cron/daily-compat.yml
  ci/cron/perf/bench.sh
Labels: automerge

#10366 clear up record specifications in http-json integration tests
  ledger-service/http-json/BUILD.bazel
  ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTest.scala
Labels: automerge

#10382 LF: drop old serializability check for Values.
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/PartialTransactionSpec.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/Value.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/value/ValueSpec.scala
Labels: component/daml-lf

#10387 Stop swallowing error message in non-repudiation conformance tests
  runtime-components/non-repudiation-postgresql/src/test/scala/com/daml/nonrepudiation/postgresql/NonRepudiationProxyConformance.scala
Labels: automerge

#10381 treat exerciseResult structurally for isReplayedBy
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Validation.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/validation/ValidationSpec.scala
Labels: automerge, component/daml-engine

#10388 Daml export: make paths relative to daml.yaml
  daml-script/export/src/example-export/scala/com/daml/script/export/ExampleClient.scala
  daml-script/export/src/main/scala/com/daml/script/export/Export.scala
  docs/source/tools/export/output-root/daml.yaml
Labels: automerge

#10376 Introduce locally-defined `Rejection` reasons instead of the participant-state rejection reason type. [KVL-1002]
  ledger/participant-integration-api/BUILD.bazel
  ledger/participant-integration-api/src/main/scala/platform/store/CompletionFromTransaction.scala
  ledger/participant-integration-api/src/main/scala/platform/store/Conversions.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/JdbcLedgerDao.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/PostCommitValidation.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/JdbcLedgerDao.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/PostCommitValidation.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/ConversionsSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/dao/events/PostCommitValidationSpec.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/Rejection.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/Rejections.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/TransactionCommitter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/validation/LedgerTimeValidator.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/validation/ModelConformanceValidator.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/validation/TransactionConsistencyValidator.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/Rejection.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/TimeModelError.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/inmemory/InMemoryLedger.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/sql/SqlLedger.scala
Labels: automerge

#10392 Treat KeyWithMaintainers field structurally in all node types.
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Validation.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/validation/ValidationSpec.scala
Labels: automerge, component/daml-engine

#10344 use a single SQL query for any number of json-api query pairs
  ledger-service/db-backend/BUILD.bazel
  ledger-service/db-backend/src/main/scala/com/digitalasset/http/dbbackend/Queries.scala
  ledger-service/db-backend/src/test/scala/com/digitalasset/http/dbbackend/QueriesSpec.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/dbbackend/ContractDao.scala
  libs-scala/scala-utils/src/main/scala/com/daml/scalautil/nonempty/NonEmpty.scala
  libs-scala/scala-utils/src/main/scala/com/daml/scalautil/nonempty/package.scala
Labels: automerge

#10399 use doobie 0.9.0 Fragment-in-Fragment interpolation in json-api db-backend
  ledger-service/db-backend/src/main/scala/com/digitalasset/http/dbbackend/Queries.scala
  ledger-service/db-backend/src/test/scala/com/digitalasset/http/dbbackend/QueriesSpec.scala
Labels: automerge, component/json-api

#10404 participant-state-metrics: Add wrappers for v2. [KVL-1002]
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
  ledger/participant-state-metrics/BUILD.bazel
  ledger/participant-state-metrics/src/main/scala/com/daml/ledger/participant/state/v2/metrics/TimedReadService.scala
  ledger/participant-state-metrics/src/main/scala/com/daml/ledger/participant/state/v2/metrics/TimedWriteService.scala
Labels: automerge

#10397 Allow imports of internal modules
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
  compiler/damlc/daml-preprocessor/BUILD.bazel
  compiler/damlc/daml-preprocessor/src/DA/Daml/Preprocessor.hs
  compiler/damlc/tests/daml-test-files/InternalImport.daml
Labels: automerge

#10403 ledger-api-domain: Store the deduplication duration in `Commands`. [KVL-1002]
  ledger/ledger-api-common/src/main/scala/com/digitalasset/ledger/api/validation/CommandsValidator.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/validation/FieldValidations.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/ledger/api/validation/SubmitRequestValidatorTest.scala
  ledger/ledger-api-domain/src/main/scala/com/digitalasset/ledger/api/domain.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/logging/package.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/services/ApiSubmissionServiceSpec.scala
Labels: automerge

#10405 Keep the participant-state API prefixed. [KVL-1002]
  ledger/participant-integration-api/src/main/scala/platform/apiserver/ApiServices.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/StandaloneApiServer.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/execution/CommandExecutionResult.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/execution/StoreBackedCommandExecutor.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiSubmissionService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/LedgerConfigProvider.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/admin/ApiConfigManagementService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/admin/ApiPackageManagementService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/admin/ApiParticipantPruningService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/admin/ApiPartyManagementService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/admin/SynchronousResponse.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/ExecuteUpdate.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/Indexer.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/JdbcIndexer.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/OffsetUpdate.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/StandaloneIndexerServer.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/parallel/IndexerLoggingContext.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/parallel/ParallelIndexerFactory.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/JdbcLedgerDao.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/SequentialWriteDao.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/UpdateToDbDto.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/JdbcLedgerDao.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/LedgerDao.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/MeteredLedgerDao.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/ContractsTableH2.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/ContractsTableOracle.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/ContractsTablePostgres.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/EventsTableH2Database.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/EventsTableOracle.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/TransactionIndexing.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/TransactionsWriter.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcAppendOnlyTransactionInsertion.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcAtomicTransactionInsertion.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoCompletionsSpec.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoSuite.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcPipelinedTransactionInsertion.scala
  ledger/participant-integration-api/src/test/suite/scala/db/migration/translation/apiserver/services/admin/ApiConfigManagementServiceSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/db/migration/translation/apiserver/services/admin/ApiPackageManagementServiceSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/db/migration/translation/apiserver/services/admin/ApiPartyManagementServiceSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/services/ApiSubmissionServiceSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/services/LedgerConfigProviderSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/indexer/ExecuteUpdateSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/indexer/JdbcIndexerSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/indexer/parallel/ParallelIndexerFactorySpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/appendonlydao/SequentialWriteDaoSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/backend/UpdateToDbDtoSpec.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/LedgerBackedWriteService.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/SandboxIndexAndWriteService.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/Ledger.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/MeteredLedger.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/inmemory/InMemoryLedger.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/sql/SqlLedger.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/stores/ledger/TransactionTimeModelComplianceIT.scala
Labels: automerge

#10407 participant-state: Remove `WriteService#rejectSubmission`. [KVL-998]
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
  ledger/participant-state-metrics/BUILD.bazel
  ledger/participant-state-metrics/src/main/scala/com/daml/ledger/participant/state/v2/metrics/TimedWriteService.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/AdaptedV1WriteService.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/WriteService.scala
Labels: automerge

#10409 Fix links in changelog
  CHANGELOG
Labels: automerge

#10415 participant-integration-api: Fix completion debug log output.
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiCommandCompletionService.scala
  libs-scala/contextualized-logging/src/main/scala/com/digitalasset/logging/ContextualizedLogger.scala
  libs-scala/logging-entries/src/main/scala/com/daml/logging/entries/LoggingValue.scala
Labels: automerge

#10423 Don't fail if logs directory exists already on Windows
  build.ps1
Labels: automerge

#10421 Revert "Upgrade hikari to latest jdk8 version (#10406)"
  bazel-java-deps.bzl
  maven_install_2.12.json
  maven_install_2.13.json
Labels: automerge

#10425 Remove unused import from ledger_export.proto [KVL-980]
  ledger/participant-state/kvutils/src/main/protobuf/com/daml/ledger/participant/state/kvutils/export/ledger_export.proto
Labels: automerge

#10424 LF: parser for LF versions
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/DamlLfEncoder.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
  daml-lf/language/src/test/scala/com/digitalasset/daml/lf/language/LanguageVersionSpec.scala
Labels: automerge, component/daml-engine

#10426 Add a ContractDao benchmark for payload queries
  ledger-service/http-json/BUILD.bazel
  ledger-service/http-json/src/bench/scala/com/daml/http/dbbackend/ContractDaoBenchmark.scala
  ledger-service/http-json/src/bench/scala/com/daml/http/dbbackend/QueryPayloadBenchmark.scala
Labels: automerge

#10377 Let stable packages bypass LF version restrictions.
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/StablePackages.scala
  ledger/ledger-on-memory/BUILD.bazel
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Config.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Runner.scala
Labels: automerge

#10393 LF: ValueDecoder set recursion limit for values.
  compatibility/bazel_tools/testing.bzl
  daml-lf/transaction/src/main/protobuf/com/daml/lf/transaction.proto
  daml-lf/transaction/src/main/protobuf/com/daml/lf/value.proto
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionCoder.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/ValueCoder.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/value/ValueCoderSpec.scala
  ledger/ledger-api-test-tool-on-canton/BUILD.bazel
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/Tests.scala
  ledger/participant-integration-api/src/main/scala/platform/store/serialization/ValueSerializer.scala
  ledger/participant-integration-api/src/test/suite/scala/db/migration/translation/ValueSerializerTest.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/validation/ModelConformanceValidatorSpec.scala
  ledger/participant-state/kvutils/tools/codec-benchmark/src/benchmark/scala/com/daml/lf/benchmark/TypedValueExtractor.scala
  ledger/sandbox-classic/BUILD.bazel
  ledger/sandbox/BUILD.bazel
Labels: component/daml-lf

#10394 Compiler: Make LF 1.14 the default output
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  compiler/damlc/tests/src/DA/Test/Repl/FuncTests.hs
  compiler/damlc/tests/src/DA/Test/ShakeIdeClient.hs
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/language/daml-lf.bzl
  daml-lf/tests/scenario/stable/big-numeric/EXPECTED.ledger
  daml-lf/tests/scenario/stable/big-numeric/Test.daml
  daml-lf/tests/scenario/stable/contract-key-through-exercises/EXPECTED.ledger
  daml-lf/tests/scenario/stable/contract-keys/EXPECTED.ledger
  daml-lf/tests/scenario/stable/divulge-iou/EXPECTED.ledger
  daml-lf/tests/scenario/stable/gen-map/EXPECTED.ledger
  daml-lf/tests/scenario/stable/many-fields/EXPECTED.ledger
  daml-lf/tests/scenario/stable/mustfailcommit/EXPECTED.ledger
  daml-lf/tests/scenario/stable/mustfailinterpretation/EXPECTED.ledger
  daml-lf/tests/scenario/stable/mustfails/EXPECTED.ledger
  daml-script/test/daml-script-test-runner.sh
  daml-script/test/src/com/digitalasset/daml/lf/engine/script/test/JsonApiIt.scala
  docs/source/tools/export/output-root/daml.yaml
  language-support/java/codegen/src/test/scala/com/digitalasset/daml/lf/codegen/CodeGenRunnerTests.scala
  ledger/ledger-api-test-tool-on-canton/BUILD.bazel
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/MultiPartySubmissionIT.scala
  ledger/sandbox-on-x/BUILD.bazel
  release/artifacts.yaml
Labels: component/daml-lf

#10418 LF: Add context in missing package errors
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Error.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Result.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ValueEnricher.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/Preprocessor.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SResult.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/InterpreterTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LookupError.scala
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/ScenarioRunner.scala
Labels: component/daml-engine

#10432 rebuild protobuf image to pass check after proto change in #10393
  buf_image.bin
Labels: automerge

#10437 Switch to correct protobuf repo
  deps.bzl
Labels: automerge

#10441 Patch transitive protobuf dependency
  bazel_tools/haskell_protobuf_source.patch
  compatibility/deps.bzl
  deps.bzl
Labels: automerge

#10442 Fix typo in protobuf url
  bazel_tools/haskell_protobuf_source.patch
Labels: automerge

#10439 Move logging value definitions alongside their objects.
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/logging/package.scala
  ledger/ledger-api-domain/src/main/scala/com/digitalasset/ledger/api/domain.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiSubmissionService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/logging/package.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/ExecuteUpdate.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/parallel/IndexerLoggingContext.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/parallel/ParallelIndexerFactory.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/CompletionInfo.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/SubmitterInfo.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/Update.scala
  libs-scala/logging-entries/src/main/scala/com/daml/logging/entries/LoggingEntries.scala
Labels: automerge

#10443 LF: Missing value decoding changes from #10393
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionCoder.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/ValueCoder.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/value/ValueCoderSpec.scala
Labels: component/daml-engine, component/daml-lf
