Repository digital-asset/daml, pull requests merged in 2021-03, with the labels that each got.

#8974 Add a Ledger API changelog
  docs/source/support/compatibility.rst
Labels: automerge

#8972 Bump Ledger API version for LF 1.12
  docs/source/support/compatibility.rst
  ledger-api/VERSION
Labels: automerge

#8980 Bump JdbcLedgerDao resource acquisition timeout
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoBackend.scala
Labels: automerge

#8958 KV: fix transaction deserialization
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionCoder.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionCoderSpec.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/KeyValueCommitting.scala
Labels: component/dlik

#8985 ci/cron: fix retry policy
  ci/cron/src/Main.hs
Labels: automerge

#8993 Properly async pipeline stages in JdbcIndexer
  ledger/participant-integration-api/src/main/scala/platform/indexer/ExecuteUpdate.scala
Labels: automerge

#8969 Do not require a JWT token for Health and Reflection services [DPP-277]
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/package.scala
  ledger-service/http-json/src/it/scala/http/AuthorizationTest.scala
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/AuthService.scala
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/AuthServiceJWT.scala
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/AuthServiceNone.scala
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/AuthServiceStatic.scala
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/AuthServiceWildcard.scala
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/Authorizer.scala
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/Claims.scala
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/OngoingAuthorizationObserver.scala
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/interceptor/AuthorizationInterceptor.scala
  ledger/sandbox-classic/src/test/lib/scala/platform/sandbox/auth/AdminServiceCallAuthTests.scala
  ledger/sandbox-classic/src/test/lib/scala/platform/sandbox/auth/MultiPartyServiceCallAuthTests.scala
  ledger/sandbox-classic/src/test/lib/scala/platform/sandbox/auth/PublicServiceCallAuthTests.scala
  ledger/sandbox-classic/src/test/lib/scala/platform/sandbox/auth/SecuredServiceCallAuthTests.scala
  ledger/sandbox-classic/src/test/lib/scala/platform/sandbox/auth/ServiceCallAuthTests.scala
  ledger/sandbox-classic/src/test/lib/scala/platform/sandbox/auth/ServiceCallWithMainActorAuthTests.scala
  ledger/sandbox-classic/src/test/lib/scala/platform/sandbox/auth/UnsecuredServiceCallAuthTests.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/auth/CheckHealthAuthIT.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/auth/ListServicesAuthIT.scala
Labels: automerge

#8997 damlc-test: add 'large' label to BUILD
  compiler/damlc/tests/BUILD.bazel
Labels: automerge

#8996 Point out where the documentation for release.sh is
  release.sh
Labels: automerge

#9003 compat: fix killing stale sandbox(es)
  compatibility/test.sh
Labels: automerge

#9004 Backport: Do not require a JWT token for Health and Reflection services [DPP-27…
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/package.scala
  ledger-service/http-json/src/it/scala/http/AuthorizationTest.scala
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/AuthService.scala
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/AuthServiceJWT.scala
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/AuthServiceNone.scala
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/AuthServiceStatic.scala
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/AuthServiceWildcard.scala
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/Authorizer.scala
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/Claims.scala
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/OngoingAuthorizationObserver.scala
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/interceptor/AuthorizationInterceptor.scala
  ledger/sandbox-classic/src/test/lib/scala/platform/sandbox/auth/AdminServiceCallAuthTests.scala
  ledger/sandbox-classic/src/test/lib/scala/platform/sandbox/auth/MultiPartyServiceCallAuthTests.scala
  ledger/sandbox-classic/src/test/lib/scala/platform/sandbox/auth/PublicServiceCallAuthTests.scala
  ledger/sandbox-classic/src/test/lib/scala/platform/sandbox/auth/SecuredServiceCallAuthTests.scala
  ledger/sandbox-classic/src/test/lib/scala/platform/sandbox/auth/ServiceCallAuthTests.scala
  ledger/sandbox-classic/src/test/lib/scala/platform/sandbox/auth/ServiceCallWithMainActorAuthTests.scala
  ledger/sandbox-classic/src/test/lib/scala/platform/sandbox/auth/UnsecuredServiceCallAuthTests.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/auth/CheckHealthAuthIT.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/auth/ListServicesAuthIT.scala
Labels: automerge

#8998 Cut a snapshot release for the 1.8.0 special patch
  LATEST
Labels: Standard-Change

#9006 Release 1.10.2
  LATEST
Labels: Standard-Change

#9008 autorelease: improved PR message
  ci/cron/wednesday.yml
Labels: automerge

#9022 Document latency of Windows ad-hoc machine software installation
  release/RELEASE.md
Labels: automerge

#8982 Add non-repudiation API
  runtime-components/non-repudiation-api/BUILD.bazel
  runtime-components/non-repudiation-api/src/main/scala/com/daml/nonrepudiation/api/NonRepudiationApi.scala
  runtime-components/non-repudiation-api/src/main/scala/com/daml/nonrepudiation/api/Result.scala
  runtime-components/non-repudiation-api/src/main/scala/com/daml/nonrepudiation/api/v1/CertificatesEndpoint.scala
  runtime-components/non-repudiation-api/src/main/scala/com/daml/nonrepudiation/api/v1/SignedPayloadsEndpoint.scala
  runtime-components/non-repudiation-api/src/test/resources/logback-test.xml
  runtime-components/non-repudiation-api/src/test/scala/com/daml/nonrepudiation/api/NonRepudiationApiSpec.scala
  runtime-components/non-repudiation-api/src/test/scala/com/daml/nonrepudiation/api/v1/SignedPayloadsEndpointSpec.scala
Labels: automerge

#9029 Fix --extract option in ledger api test tool
  ledger/ledger-api-test-tool/BUILD.bazel
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/LedgerApiTestTool.scala
  ledger/ledger-api-test-tool/test-extract.sh
Labels: automerge

#9030 Backport: Fix --extract option in ledger api test tool
  ledger/ledger-api-test-tool/BUILD.bazel
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/LedgerApiTestTool.scala
  ledger/ledger-api-test-tool/test-extract.sh
Labels: automerge

#9031 Release SDK 1.11.0 RC 2
  LATEST
Labels: Standard-Change, automerge

#8983 Speedy: building transactions with rollback
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/RollbackTest.scala
Labels: automerge, component/daml-engine

#9037 slack: reduce @here mentions
  azure-pipelines.yml
  ci/daily_tell_slack.yml
  ci/tell-slack-failed.yml
Labels: automerge

#9038 send CI failures on separate channel
  azure-pipelines.yml
  ci/daily_tell_slack.yml
  ci/tell-slack-failed.yml
Labels: automerge

#9039 reduce noise on daily tests
  ci/cron/daily-compat.yml
  ci/daily_tell_slack.yml
Labels: automerge

#9042 ci/cron/check: low-hanging perf improvement
  ci/bash-lib.yml
  ci/cron/src/Main.hs
  dev-env/bin/dade-assist
Labels: automerge

#9047 LF: fix archive decoder for GREATER_DATE
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV1Spec.scala
Labels: automerge, component/daml-lf

#9048 ci/cron/check: remove dade-assist calls
  ci/cron/src/Main.hs
  dev-env/bin/dade-assist
Labels: automerge

#9040 Speedy: rollback within exercise
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/RollbackTest.scala
Labels: component/daml-engine

#9036 Add tests for client bindings
  runtime-components/non-repudiation-client/BUILD.bazel
  runtime-components/non-repudiation-client/src/test/resources/logback-test.xml
  runtime-components/non-repudiation-client/src/test/scala/com/daml/nonrepudiation/client/SigningInterceptorSpec.scala
Labels: automerge

#9064 Release SDK 1.11.0
  LATEST
Labels: Standard-Change, automerge

#9068 tell people to speak up about snapshot blockers
  ci/cron/tuesday.yml
Labels: automerge

#9069 fix typo in release notification
  azure-pipelines.yml
Labels: automerge

#8960 Start adding exception syntax support.
  bazel-haskell-deps.bzl
  bazel_tools/haskell-ghc-lib.patch
  ci/da-ghc-lib/compile.yml
  compiler/damlc/tests/daml-test-files/ExceptionDataType.daml
  compiler/damlc/tests/daml-test-files/ExceptionMultipleMessage.daml
  stack-snapshot.yaml
  stackage_snapshot.json
  stackage_snapshot_windows.json
Labels: automerge

#9058 LF: Make 1.12 the default compiler output
  compatibility/bazel_tools/testing.bzl
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  daml-lf/language/daml-lf.bzl
  daml-lf/tests/scenario/stable/contract-key-through-exercises/EXPECTED.ledger
  daml-lf/tests/scenario/stable/contract-keys/EXPECTED.ledger
  daml-lf/tests/scenario/stable/divulge-iou/EXPECTED.ledger
  daml-lf/tests/scenario/stable/many-fields/EXPECTED.ledger
  daml-lf/tests/scenario/stable/mustfails/EXPECTED.ledger
  ledger/ledger-api-test-tool-on-canton/BUILD.bazel
Labels: automerge, component/daml-lf

#9075 fix release notification
  azure-pipelines.yml
  ci/cron/wednesday.yml
Labels: automerge

#9080 Avoid submitTree on simple exercise commands
  daml-script/dump/src/main/scala/com/daml/script/dump/Encode.scala
  daml-script/dump/src/main/scala/com/daml/script/dump/TreeUtils.scala
  daml-script/dump/src/test/scala/com/daml/script/dump/EncodeCreatedSpec.scala
  daml-script/dump/src/test/scala/com/daml/script/dump/EncodeSimpleSpec.scala
  daml-script/dump/src/test/scala/com/daml/script/dump/IdentifySimpleSpec.scala
  daml-script/dump/src/test/scala/com/daml/script/dump/TestData.scala
Labels: automerge

#9082 Add DA.Exception and enable LF primitives.
  compiler/damlc/daml-preprocessor/src/DA/Daml/Preprocessor.hs
  compiler/damlc/daml-stdlib-src/DA/Exception.daml
  compiler/damlc/daml-stdlib-src/DA/Internal/Exception.daml
  compiler/damlc/daml-stdlib-src/LibraryModules.daml
  compiler/damlc/tests/daml-test-files/ExceptionDesugared.daml
Labels: automerge

#9072 LF: move value normalizer to transaction module.
  daml-lf/transaction-test-lib/src/main/scala/lf/value/test/ValueNormalizer.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Util.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionCoderSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/UtilSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/value/ValueCoderSpec.scala
Labels: component/daml-engine

#9087 Fix typo in azure-pipelines.yml
  azure-pipelines.yml
Labels: automerge

#9088 Refactor TableSpec
  runtime-components/non-repudiation-postgresql/src/test/scala/com/daml/nonrepudiation/postgresql/TablesSpec.scala
Labels: automerge

#9099 Fix compat job
  compatibility/WORKSPACE
  compatibility/assistant/BUILD
  compatibility/assistant/src/DA/Test/PlatformVersion.hs
  compatibility/build-release-artifacts-windows.ps1
  compatibility/build-release-artifacts.sh
  compatibility/head_sdk/BUILD
  release/windows-installer/BUILD.bazel
Labels: automerge

#9101 Apply new Daml logo to Navigator
  navigator/frontend/src/images/logo-large.png
  navigator/frontend/src/images/mark.png
Labels: automerge

#9098 Release new snapshot
  LATEST
Labels: Standard-Change

#9103 ci/windows: add missing mkdir
  ci/copy-windows-release-artifacts.sh
Labels: automerge

#9106 Release another snapshot
  LATEST
Labels: Standard-Change

#9051 LF: Experiment Hook for 1.dev
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Alpha.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Base.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/FreeVars.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Optics.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Pretty.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Recursive.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Subst.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/DecodeV1.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/EncodeV1.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/Simplifier.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Check.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Error.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion/Primitives.hs
  compiler/damlc/daml-preprocessor/src/DA/Daml/Preprocessor.hs
  compiler/damlc/daml-stdlib-src/DA/Experimental/Example.daml
  compiler/damlc/daml-stdlib-src/LibraryModules.daml
  daml-lf/archive/src/main/protobuf/com/daml/daml_lf_dev/daml_lf_1.proto
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV1Spec.scala
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/EncodeV1.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/AstRewriter.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ExprParser.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/Lexer.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/Token.scala
  daml-lf/parser/src/test/scala/com/digitalasset/daml/lf/testing/parser/ParsersSpec.scala
  daml-lf/spec/experimental.rst
  daml-lf/tests/scenario/dev/experimental/EXPECTED.ledger
  daml-lf/tests/scenario/dev/experimental/Test.daml
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/iterable/ExprIterable.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/iterable/TypeIterable.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/TypingSpec.scala
Labels: component/daml-engine, component/daml-lf

#9110 try new release process again
  LATEST
Labels: Standard-Change, automerge

#9116 Fix double push in CommandTracker (#9059)
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/services/commands/tracker/CommandTracker.scala
  ledger/ledger-api-client/src/test/suite/scala/com/digitalasset/ledger/client/services/commands/CommandTrackerFlowTest.scala
Labels: automerge

#9118 Release yet another snapshot
  LATEST
Labels: Standard-Change, automerge

#9122 Fix release notes link in docs
  docs/source/support/compatibility.rst
Labels: automerge

#9120 [Integration Kit, Ledger API] Remove hint about early access for participant pruning. It's stable now.
  docs/source/ops/index.rst
Labels: automerge

#9123 Fix release notes link in docs
  docs/source/support/compatibility.rst
Labels: automerge

#9121 [Integration Kit, Ledger API] Remove hint about early access for part…
  docs/source/ops/index.rst
Labels: automerge

#9128 Add pruning stabilization to ledger API changelog
  docs/source/ops/index.rst
  docs/source/support/compatibility.rst
Labels: automerge

#9126 Add pruning stabilization to ledger API changelog
  docs/source/ops/index.rst
  docs/source/support/compatibility.rst
Labels: automerge

#9130 Release 1.11.1 snapshot
  LATEST
Labels: Standard-Change

#9134 release 1.11.1-snapshot, take n+1
  LATEST
Labels: Standard-Change

#9136 release job: remove extra bash-lib
  azure-pipelines.yml
Labels: automerge

#9139 Upgrade msys packages
  dev-env/windows/manifests/msys2.json
Labels: automerge

#9084 Add new variant to Value.scala for builtin-exceptions.
  compiler/scenario-service/client/src/DA/Daml/LF/PrettyScenario.hs
  compiler/scenario-service/protos/scenario_service.proto
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/scenario/ScenarioLedger.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
  daml-lf/transaction-test-lib/src/main/scala/lf/transaction/test/TransactionBuilder.scala
  daml-lf/transaction-test-lib/src/main/scala/lf/value/test/ValueGenerators.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/crypto/Hash.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionVersion.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Util.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/Value.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/ValueCoder.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/crypto/HashSpec.scala
  extractor/src/main/scala/com/digitalasset/extractor/writers/postgresql/Queries.scala
  language-support/scala/bindings/src/main/scala/com/digitalasset/ledger/client/binding/binding/encoding/ValuePrimitiveEncoding.scala
  ledger-api/grpc-definitions/com/daml/ledger/api/v1/value.proto
  ledger-service/http-json/src/test/scala/com/digitalasset/http/util/ApiValueToLfValueConverterTest.scala
  ledger-service/lf-value-json/src/main/scala/com/digitalasset/daml/lf/value/json/ApiCodecCompressed.scala
  ledger-service/lf-value-json/src/main/scala/com/digitalasset/daml/lf/value/json/NavigatorModelAliases.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/ledger/api/validation/ValueValidator.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/participant/util/LfEngineToApi.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/store/serialization/KeyHasher.scala
  ledger/participant-state/kvutils/tools/engine-benchmark/src/benchmark/scala/ledger/participant/state/kvutils/tools/engine/benchmark/Adapter.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/json/ApiCodecVerbose.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/model/converter/LedgerApiV1.scala
Labels: component/daml-engine

#9137 Fix cache clean up
  ci/clean-up.yml
  infra/vsts_agent_ubuntu_20_04_startup.sh
Labels: Standard-Change

#9156 update areas to alert @S11001001 of changes
  CODEOWNERS
Labels: automerge

#9166 fix release job
  azure-pipelines.yml
  ci/bash-lib.yml
Labels: automerge

#9165 Fix flakiness in create-daml-app tests
  compatibility/bazel_tools/create-daml-app/index.test.ts
Labels: automerge

#9162 Release SDK 1.11.1
  LATEST
Labels: Standard-Change

#9150 Handle createAndExecuteCmd
  daml-script/dump/src/main/scala/com/daml/script/dump/Encode.scala
  daml-script/dump/src/main/scala/com/daml/script/dump/TreeUtils.scala
  daml-script/dump/src/test/scala/com/daml/script/dump/CmdReferencedCidsSpec.scala
  daml-script/dump/src/test/scala/com/daml/script/dump/EncodeSimpleSpec.scala
  daml-script/dump/src/test/scala/com/daml/script/dump/EncodeTreeSpec.scala
  daml-script/dump/src/test/scala/com/daml/script/dump/IdentifyCommandsSpec.scala
  daml-script/dump/src/test/scala/com/daml/script/dump/IdentifySimpleSpec.scala
  daml-script/dump/src/test/scala/com/daml/script/dump/TestData.scala
Labels: automerge

#9167 weekly release
  LATEST
Labels: Standard-Change, automerge

#9168 Document profiling internals
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Profile.scala
Labels: automerge

#9140 Generate exception instances from syntax.
  ci/da-ghc-lib/compile.yml
  compiler/damlc/tests/daml-test-files/ExceptionDesugared.daml
  compiler/damlc/tests/daml-test-files/ExceptionSyntax.daml
  stack-snapshot.yaml
  stackage_snapshot.json
  stackage_snapshot_windows.json
Labels: automerge

#9169 skip compat tests on release
  ci/build.yml
Labels: automerge

#8879 use representational variance for generated Scala classes
  language-support/scala/codegen-sample-app/src/main/daml/MyMain.daml
  language-support/scala/codegen-sample-app/src/test/scala/com/digitalasset/codegen/DataTypeIT.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/Util.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/lf/DamlDataTypeGen.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/lf/LFUtil.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/lf/UsedTypeParams.scala
  language-support/scala/codegen/src/test/scala/com/digitalasset/codegen/lf/UsedTypeParamsSpec.scala
Labels: automerge, component/scala-ecosystem

#9154 Recognize simple createAndExercise commands
  daml-script/dump/src/main/scala/com/daml/script/dump/TreeUtils.scala
  daml-script/dump/src/test/scala/com/daml/script/dump/EncodeSimpleSpec.scala
  daml-script/dump/src/test/scala/com/daml/script/dump/IdentifySimpleSpec.scala
  daml-script/dump/src/test/scala/com/daml/script/dump/TestData.scala
Labels: automerge

#9180 Integrate non-repudiation into HTTP JSON API
  daml-script/test/src/com/digitalasset/daml/lf/engine/script/test/JsonApiIt.scala
  ledger-service/http-json-testing/src/main/scala/com/daml/http/HttpServiceTestFixture.scala
  ledger-service/http-json/BUILD.bazel
  ledger-service/http-json/src/it/scala/http/NonRepudiationTest.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTest.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Cli.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Config.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Main.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/nonrepudiation/Configuration.scala
  release/artifacts.yaml
Labels: automerge

#9184 ci/docker: sync with hub
  ci/docker/README.md
Labels: automerge

#9185 Recognize (some) exerciseByKey commands in Daml script dumps
  daml-script/dump/src/main/scala/com/daml/script/dump/Encode.scala
  daml-script/dump/src/main/scala/com/daml/script/dump/TreeUtils.scala
  daml-script/dump/src/test/scala/com/daml/script/dump/EncodeSubmitSpec.scala
  daml-script/dump/src/test/scala/com/daml/script/dump/IdentifyCommandsSpec.scala
  daml-script/dump/src/test/scala/com/daml/script/dump/IdentifySimpleSpec.scala
  daml-script/dump/src/test/scala/com/daml/script/dump/TestData.scala
Labels: automerge

#9204 kvutils: Remove ledger dump functionality
  ledger/participant-state/kvutils/src/main/protobuf/daml_kvutils.proto
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/Debug.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/KeyValueCommitting.scala
Labels: automerge

#9205 LF: Add BigNumeric and Rounding to Scala AST
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/reader/InterfaceReader.scala
  daml-lf/interface/src/test/scala/com/digitalasset/daml/lf/iface/TypeSpec.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Util.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/AstRewriter.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ExprParser.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/TypeParser.scala
  daml-lf/parser/src/test/scala/com/digitalasset/daml/lf/testing/parser/ParsersSpec.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Serializability.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/ValidationError.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/iterable/ExprIterable.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/iterable/TypeIterable.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/TypingSpec.scala
Labels: component/daml-lf

#9178 add rollback node to transactions
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Blinding.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Event.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ValueEnricher.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/TransactionPreprocessor.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/InMemoryPrivateLedgerData.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/ledger/BlindingTransaction.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/scenario/ScenarioLedger.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/kv-transaction-support/src/main/scala/com/daml/lf/kv/Normalizer.scala
  daml-lf/transaction-test-lib/src/main/scala/lf/transaction/test/TransactionBuilder.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Node.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/NodeInfo.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionCoder.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionCoderSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionSpec.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ledgerinteraction/IdeLedgerClient.scala
  ledger/participant-integration-api/src/main/scala/db/migration/postgres/V4_1__Collect_Parties.scala
  ledger/participant-integration-api/src/main/scala/platform/store/ActiveLedgerStateManager.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/InputsAndEffects.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/keys/KeyConsistencyValidation.scala
  ledger/participant-state/kvutils/tools/engine-benchmark/src/benchmark/scala/ledger/participant/state/kvutils/tools/engine/benchmark/Adapter.scala
Labels: automerge, component/daml-engine

#9207 Remove contract arguments from localContracts
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ledgerinteraction/IdeLedgerClient.scala
Labels: automerge

#9211 LF: fix package in LF 1.12 proto snapshot
  daml-lf/archive/src/main/protobuf/com/daml/daml_lf_1_12/daml_lf.proto
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/ProtoTest.scala
Labels: automerge, component/daml-lf

#9210 LF: Add BigNumeric to archive proto
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/DecodeV1.hs
  daml-lf/archive/src/main/protobuf/com/daml/daml_lf_dev/daml_lf_1.proto
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV1Spec.scala
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/EncodeV1.scala
  daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/archive/testing/EncodeV1Spec.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/TypeOrdering.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/AstRewriter.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ExprParser.scala
  daml-lf/parser/src/test/scala/com/digitalasset/daml/lf/testing/parser/ParsersSpec.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/iterable/ExprIterable.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/iterable/TypeIterable.scala
Labels: automerge, component/daml-lf

#9215 LF: Add RoundingMode and BigNumeric in Haskell Ast
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Base.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Pretty.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Util.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/DecodeV1.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/EncodeV1.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/Simplifier.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Check.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Error.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Serializability.hs
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/DataDependencies.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
Labels: automerge, component/daml-lf

#9214 Optimize mapOptional and add more efficient findOptional
  compiler/damlc/daml-stdlib-src/DA/Optional.daml
  compiler/damlc/tests/daml-test-files/Optional.daml
Labels: automerge

#9227 fix release: skipping compat should not fail
  ci/build.yml
Labels: automerge

#9216 Improve syntax for selecting contract ids from a transaction tree
  daml-script/daml/Daml/Script.daml
  daml-script/dump/src/main/scala/com/daml/script/dump/Encode.scala
  daml-script/dump/src/main/scala/com/daml/script/dump/TreeUtils.scala
  daml-script/dump/src/test/scala/com/daml/script/dump/EncodeSubmitSpec.scala
Labels: automerge

#9231 Fix alias for test suite
  ledger/ledger-api-test-tool/conformance.bzl
Labels: automerge

#9234 fix slack notifs
  ci/bash-lib.yml
Labels: automerge

#9212 Implement structural cases for NodeRollback
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Blinding.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ValueEnricher.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/TransactionPreprocessor.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/InMemoryPrivateLedgerData.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/ledger/BlindingTransaction.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/kv-transaction-support/src/main/scala/com/daml/lf/kv/Normalizer.scala
  daml-lf/kv-transaction-support/src/test/scala/com/daml/lf/kv/NormalizerSpec.scala
  daml-lf/transaction-test-lib/src/main/scala/lf/transaction/test/TransactionBuilder.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Node.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionSpec.scala
Labels: automerge, component/daml-engine

#9237 LF: make LF-Repl test for GenMap stable
  daml-lf/tests/scenario/stable/gen-map/EXPECTED.ledger
  daml-lf/tests/scenario/stable/gen-map/Test.daml
Labels: automerge, component/daml-engine, component/daml-lf

#9239 Remove code duplication of driver names in HTTP JSON API
  ledger-service/http-json-cli/ce/src/main/scala/com/daml/http/Cli.scala
  ledger-service/http-json-cli/ee/src/main/scala/com/daml/http/Cli.scala
  ledger-service/http-json-cli/src/main/scala/com/daml/http/CliBase.scala
  ledger-service/http-json-cli/src/main/scala/com/daml/http/Config.scala
  ledger-service/http-json-cli/src/main/scala/com/daml/http/OptionParser.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Main.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/CliSpec.scala
Labels: automerge

#9238 Publish non-repudiation app fat JARs to Artifactory
  ci/copy-unix-release-artifacts.sh
  ci/publish-artifactory.sh
Labels: automerge

#9220 LF: runtime support for BigNumeric
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/NumericModule.scala
  daml-lf/encoder/src/test/lf/Builtin_1.dev_.lf
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/svalue/Ordering.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
Labels: component/daml-engine, component/daml-lf

#9203 Add try-catch syntax.
  ci/da-ghc-lib/compile.yml
  compiler/damlc/tests/daml-test-files/ExceptionSyntax.daml
  compiler/damlc/tests/daml-test-files/ExceptionTryCatch.daml
  stack-snapshot.yaml
  stackage_snapshot.json
  stackage_snapshot_windows.json
Labels: automerge

#9244 fix dev-env in clean-up
  ci/clean-up.yml
Labels: automerge

#9241 Speedy cleanup dynamic casting in builtins
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
Labels: component/daml-engine

#9251 LF-Repl: run only scenarios marked as test
  daml-lf/repl/src/main/scala/com/digitalasset/daml/lf/repl/testing/Main.scala
Labels: component/daml-engine

#9255 correct notifs for new linux jobs
  ci/build.yml
Labels: automerge

#9267 kvutils: Remove the conversions between `Raw` types.
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/Raw.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/package.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/LedgerStateAccess.scala
Labels: automerge

#9268 kvutils: Fix a flaky test in BatchingQueueSpec with `eventually`.
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/api/BatchingQueueSpec.scala
Labels: automerge

#9266 Get codeowners for /ledger and /ledger-api in shape
  CODEOWNERS
Labels: Standard-Change

#9273 Bump timeout in StaticTimeIT
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/services/time/StaticTimeIT.scala
Labels: automerge

#9259 Increase nix partition to max of 60Gb
  infra/macos/2-common-box/init.sh
Labels: Standard-Change

#9245 macos cache cleaning
  ci/clean-up.yml
  infra/macos/3-running-box/init.sh
Labels: Standard-Change

#9280 Upgrade Scala 2.12 to v2.12.13.
  BUILD
  WORKSPACE
  bazel-java-deps.bzl
  bazel_tools/BUILD.bazel
  bazel_tools/scala_version.bzl
  compatibility/WORKSPACE
  compatibility/maven_install.json
  libs-scala/gatling-utils/src/test/resources/simulation-log/multiple-scenarios-expected-csv.csv
  maven_install_2.12.json
  maven_install_2.13.json
  nix/nixpkgs.nix
  release/src/Main.hs
Labels: automerge

#9276 LF: Add TO_TEXT_BIGNUMERIC
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Base.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Pretty.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/DecodeV1.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/EncodeV1.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/Simplifier.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Check.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion/Primitives.hs
  compiler/damlc/daml-prim-src/GHC/Num.daml
  daml-lf/archive/src/main/protobuf/com/daml/daml_lf_dev/daml_lf_1.proto
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV1Spec.scala
  daml-lf/encoder/src/test/lf/Builtin_1.dev_.lf
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ExprParser.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
Labels: component/daml-engine

#9279 DPP-313 migration safety check
  ledger/participant-integration-api/src/test/suite/scala/platform/store/dao/AppendOnlySchemaMigrationSpec.scala
Labels: automerge

#9285 Prepare release 1.12.0-snapshot.20210330.6619.0.007b8674
  LATEST
Labels: Standard-Change, automerge

#9290 Fix build command for non-repudiation-client
  ci/copy-unix-release-artifacts.sh
Labels: automerge

#9292 1.12.0-snapshot.20210330.6622.0.eef158d6
  LATEST
Labels: Standard-Change, automerge

#9281 Fork com.daml.platform.store.dao
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/CommandCompletionsReader.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/CommandCompletionsTable.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/DbDispatcher.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/HikariJdbcConnectionProvider.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/JdbcConnectionProvider.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/JdbcLedgerDao.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/PaginatingAsyncStream.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/ParametersTable.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/CompressionMetrics.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/CompressionStrategy.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/ContractsReader.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/ContractsTable.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/EventsRange.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/EventsTable.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/EventsTableDelete.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/EventsTableFlatEvents.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/EventsTableFlatEventsRangeQueries.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/EventsTableQueries.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/EventsTableTreeEvents.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/LfValueTranslation.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/PostCommitValidation.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/PostCommitValidationData.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/QueryNonPruned.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/Raw.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/SqlFunctions.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/SqlSequence.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/TransactionsReader.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/package.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/LedgerDao.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/ContractsTable.scala
  ledger/participant-integration-api/src/main/scala/platform/store/serialization/Compression.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoContractsSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/dao/events/PostCommitValidationSpec.scala
Labels: automerge

#9295 1.12.0-snapshot.20210331.6626.0.29a68134
  LATEST
Labels: Standard-Change, automerge

#9305 Publish non-repudiation-core to Artifactory as well
  ci/copy-unix-release-artifacts.sh
  ci/publish-artifactory.sh
  runtime-components/non-repudiation-core/BUILD.bazel
Labels: automerge

#9288 Non-repudiation: documentation
  docs/source/index.rst
  docs/source/tools/non-repudiation.rst
Labels: automerge

#9307 1.12.0-snapshot.20210331.6634.0.b98a3881
  LATEST
Labels: Standard-Change, automerge

#9289 Add BigNumeric literals in Daml.
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
  compiler/damlc/daml-prim-src/GHC/Classes.daml
  compiler/damlc/daml-prim-src/GHC/Num.daml
  compiler/damlc/daml-prim-src/GHC/Real.daml
  compiler/damlc/daml-stdlib-src/DA/BigNumeric.daml
  compiler/damlc/tests/daml-test-files/BigNumericTooBig.daml
  daml-lf/tests/scenario/dev/big-numeric/Test.daml
Labels: automerge

#9242 Speedy: Cleanup Map litereals
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/ValueTranslator.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/PreprocessorSpec.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/iterable/SExprIterable.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/iterable/SValueIterable.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/svalue/Equality.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/svalue/Ordering.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
Labels: component/daml-engine

#9309 ledger-api-test-tool: Use Akka Streams for repeated tests.
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerTestCase.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerTestCasesRunner.scala
Labels: automerge

#9312 Do not publish non-repudiation client JARs to Artifactory
  ci/publish-artifactory.sh
Labels: automerge

#9311 ledger-api-test-tool: Show a pleasant error message if DAR upload fails.
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/Errors.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerTestCasesRunner.scala
Labels: automerge

#9313 1.12.0-snapshot.20210331.6640.0.4b807899
  LATEST
Labels: Standard-Change, automerge
