Repository digital-asset/daml, pull requests merged in 2021-06, with the labels that each got.

#9863 Reshuffle tests for AnyExceptionMessage
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ExceptionTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
Labels: automerge

#9860 Add a Foldable instance for Set
  compiler/damlc/daml-stdlib-src/DA/Set.daml
  compiler/damlc/tests/daml-test-files/Set.daml
Labels: automerge

#9864 Special case _tryCatch @Update in LFConversion.
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion/Primitives.hs
Labels: automerge

#9868 remove 2x 8020 todo tags
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/NormalizeRollbacksSpec.scala
Labels: automerge, component/daml-engine

#9869 resources: Only mutate test mock objects inside `synchronized` blocks.
  libs-scala/resources/src/test/suite/scala/com/digitalasset/resources/ResourceOwnerSpec.scala
Labels: automerge

#9870 Make data-deps exception tests version-aware.
  compiler/damlc/tests/src/DA/Test/DataDependencies.hs
Labels: automerge

#9867 Daml-lf suffixCid ignores V0 contract ids rather than erroring
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/CidContainer.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/Value.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionSpec.scala
Labels: automerge

#9881 Fix Windows test skipping
  build.ps1
Labels: automerge

#9873 Metrics for streamed elements
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/ApiServices.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiActiveContractsService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiCommandCompletionService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/StreamMetrics.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/transaction/ApiTransactionService.scala
Labels: automerge

#9813 [In-memory fan-out] Unit test for getTransactionLogUpdates
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoTransactionLogUpdatesSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/dao/JdbcLedgerDaoPostgresqlAppendOnlySpec.scala
Labels: automerge

#9885 Release new snapshot
  LATEST
Labels: Standard-Change, automerge

#9891 maybe fix deleted release tags
  azure-pipelines.yml
Labels: automerge

#9894 Parallel Ingestion renames
  ledger/participant-integration-api/src/main/scala/platform/indexer/parallel/ParallelIndexerFactory.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/JdbcLedgerDao.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/SequentialWriteDao.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/DbDto.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/StorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/UpdateToDbDto.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PGSchema.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PostgresDbBatch.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PostgresStorageBackend.scala
Labels: automerge

#9876 DPP-393 Enable sandbox tests for the append-only schema
  ledger/sandbox-classic/src/test/lib/scala/platform/sandbox/services/SandboxEnableAppendOnlySchema.scala
  ledger/sandbox-classic/src/test/lib/scala/platform/sandbox/services/SandboxFixture.scala
  ledger/sandbox-classic/src/test/resources/logback-test.xml
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/ScenarioLoadingITPostgres.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/services/command/CommandServiceBackPressureIT.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/services/command/CommandServiceIT.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/services/completion/CompletionServiceIT.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/services/configuration/LedgerConfigurationServiceIT.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/services/identity/LedgerIdentityServiceIT.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/services/reset/ResetServiceH2DatabaseIT.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/services/reset/ResetServicePostgresqlIT.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/stores/ledger/sql/SqlLedgerSpecAppendOnly.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/stores/ledger/sql/TransactionStreamTerminationIT.scala
Labels: automerge

#9892 Include PackageMetadata in LF interface
  daml-lf/interface/BUILD.bazel
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/EnvironmentInterface.scala
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/Interface.scala
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/reader/InterfaceReader.scala
  daml-lf/interface/src/test/scala/com/digitalasset/daml/lf/iface/reader/InterfaceReaderSpec.scala
  language-support/java/codegen/src/test/scala/com/digitalasset/daml/lf/codegen/InterfaceTreeSpec.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/CodeGen.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/dependencygraph/DependencyGraph.scala
  language-support/scala/codegen/src/test/scala/com/digitalasset/codegen/CodeGenSpec.scala
  language-support/scala/codegen/src/test/scala/com/digitalasset/codegen/UtilTest.scala
  language-support/scala/codegen/src/test/scala/com/digitalasset/codegen/lf/LFUtilSpec.scala
  language-support/scala/codegen/src/test/scala/com/digitalasset/codegen/lf/UsedTypeParamsSpec.scala
  navigator/backend/src/test/scala/com/digitalasset/navigator/backend/DamlConstants.scala
Labels: automerge

#9898 Postgres batching refinements
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PGField.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PGSchema.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PGTable.scala
Labels: automerge

#9902 Bump perf test for for #9871
  ci/cron/perf/test_sha
Labels: automerge

#9903 ledger-api-test-tool: Only wait for parties on participants under test.
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerTestContext.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/participant/ParticipantTestContext.scala
Labels: automerge

#9904 LF: Fix encoder for Exception
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/EncodeV1.scala
  daml-lf/encoder/src/test/lf/BigNumeric_1.13_1.dev_.lf
  daml-lf/encoder/src/test/lf/Builtin_1.11_1.12_1.13_1.dev_.lf
  daml-lf/encoder/src/test/lf/Exception_1.dev_.lf
  daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/archive/testing/DamlLfEncoderTest.scala
  daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/archive/testing/EncodeV1Spec.scala
Labels: automerge, component/daml-engine

#9906 LF: Preview version of LF 1.14
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion/UtilLF.hs
  compiler/damlc/tests/BUILD.bazel
  compiler/damlc/tests/daml-test-files/ExceptionSemantics.daml
  compiler/damlc/tests/src/DA/Test/ScriptService.hs
  compiler/damlc/tests/src/stable-packages.sh
  daml-lf/archive/src/main/protobuf/com/daml/daml_lf_dev/daml_lf_1.proto
  daml-lf/encoder/src/test/lf/Any_1.7_1.8_1.11_1.12_1.13_1.14_1.dev_.lf
  daml-lf/encoder/src/test/lf/BigNumeric_1.13_1.14_1.dev_.lf
  daml-lf/encoder/src/test/lf/Builtin_1.11_1.12_1.13_1.14_1.dev_.lf
  daml-lf/encoder/src/test/lf/Exception_1.14_1.dev_.lf
  daml-lf/encoder/src/test/lf/GenMap_1.11_1.12_1.13_1.14_1.dev_.lf
  daml-lf/encoder/src/test/lf/Numeric_1.7_1.8_1.11_1.12_1.13_1.14_1.dev_.lf
  daml-lf/encoder/src/test/lf/Synonym_1.8_1.11_1.12_1.13_1.14_1.dev_.lf
  daml-lf/encoder/src/test/lf/Template_1.11_1.12_1.13_1.14_1.dev_.lf
  daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/archive/testing/DamlLfEncoderTest.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineInfoTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ExceptionTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  daml-lf/language/daml-lf.bzl
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageMajorVersion.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
  daml-lf/spec/daml-lf-1.rst
  daml-lf/spec/transaction.rst
  daml-lf/transaction-test-lib/src/main/scala/lf/value/test/ValueGenerators.scala
  daml-lf/transaction/src/main/protobuf/com/daml/lf/transaction.proto
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionVersion.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionCoderSpec.scala
  language-support/java/codegen/BUILD.bazel
Labels: component/daml-lf

#9910 DPP-390 remove appendonly todos
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/EventsTableFlatEvents.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/EventsTableFlatEventsRangeQueries.scala
Labels: automerge

#9858 [In-memory fan-out] BuffersUpdater implementation
  ledger/ledger-on-sql/BUILD.bazel
  ledger/participant-integration-api/src/main/scala/platform/apiserver/ApiServerConfig.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/StandaloneApiServer.scala
  ledger/participant-integration-api/src/main/scala/platform/index/BuffersUpdater.scala
  ledger/participant-integration-api/src/main/scala/platform/index/JdbcIndex.scala
  ledger/participant-integration-api/src/main/scala/platform/index/ReadOnlySqlLedger.scala
  ledger/participant-integration-api/src/main/scala/platform/index/ReadOnlySqlLedgerWithMutableCache.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/TransactionsReader.scala
  ledger/participant-integration-api/src/main/scala/platform/store/cache/EventsBuffer.scala
  ledger/participant-integration-api/src/main/scala/platform/store/cache/MutableCacheBackedContractStore.scala
  ledger/participant-integration-api/src/main/scala/platform/store/interfaces/TransactionLogUpdate.scala
  ledger/participant-integration-api/src/test/resources/logback-test.xml
  ledger/participant-integration-api/src/test/suite/scala/platform/index/BuffersUpdaterSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/appendonlydao/events/TransactionsReaderSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/cache/EventsBufferSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/cache/MutableCacheBackedContractStoreSpec.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Config.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/LedgerFactory.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/ParticipantConfig.scala
  ledger/sandbox/src/main/scala/platform/sandboxnext/Runner.scala
Labels: automerge

#9912 LF: Freeze archive proto for LF 1.14
  daml-lf/archive/BUILD.bazel
  daml-lf/archive/src/main/protobuf/com/daml/daml_lf_1_14/daml_lf.proto
  daml-lf/archive/src/main/protobuf/com/daml/daml_lf_1_14/daml_lf_1.proto
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/ProtoTest.scala
  daml-lf/language/daml-lf.bzl
Labels: automerge, component/daml-engine

#9915 Upgrade canton to 0.25.0-snapshot supporting lf-1.13 and enable/fix tests
  deps.bzl
  ledger/ledger-api-test-tool-on-canton/BUILD.bazel
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/CommandServiceIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/CommandSubmissionCompletionIT.scala
Labels: automerge

#9920 skip fix_bazel_cache on forks
  ci/build.yml
Labels: automerge

#9921 Fix flaky InstrumentedSourceSpec test
  ledger/metrics/src/test/suite/scala/com/daml/metrics/InstrumentedSourceSpec.scala
Labels: automerge

#9922 LF: fix TransactionCoderSpec
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionCoderSpec.scala
Labels: automerge, component/daml-engine

#9923 Add metrics to the http json service
  daml-script/test/BUILD.bazel
  daml-script/test/src/com/digitalasset/daml/lf/engine/script/test/JsonApiIt.scala
  ledger-service/cli-opts/BUILD.bazel
  ledger-service/cli-opts/src/main/scala/cliopts/Metrics.scala
  ledger-service/http-json-cli/BUILD.bazel
  ledger-service/http-json-cli/src/main/scala/com/daml/http/Config.scala
  ledger-service/http-json-cli/src/main/scala/com/daml/http/OptionParser.scala
  ledger-service/http-json-cli/src/main/scala/com/daml/http/StartSettings.scala
  ledger-service/http-json-testing/BUILD.bazel
  ledger-service/http-json-testing/src/main/scala/com/daml/http/HttpServiceTestFixture.scala
  ledger-service/http-json/BUILD.bazel
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Main.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebsocketEndpoints.scala
  ledger/indexer-benchmark/src/main/scala/ledger/indexerbenchmark/Config.scala
  ledger/metrics/BUILD.bazel
  ledger/metrics/src/main/scala/com/daml/metrics/ExtendedDropwizardExports.scala
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
  ledger/metrics/src/main/scala/com/daml/metrics/MetricsReporter.scala
  ledger/metrics/src/main/scala/com/daml/metrics/MetricsReporting.scala
  ledger/metrics/src/main/scala/com/daml/metrics/PrometheusReporter.scala
  ledger/metrics/src/main/scala/io/prometheus/client/dropwizard/DropwizardExportsAccess.scala
  ledger/participant-integration-api/BUILD.bazel
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Config.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/SandboxServer.scala
  ledger/sandbox-common/BUILD.bazel
  ledger/sandbox-common/src/main/scala/platform/sandbox/cli/CommonCliBase.scala
  ledger/sandbox-common/src/main/scala/platform/sandbox/config/SandboxConfig.scala
  ledger/sandbox-common/src/test/lib/scala/platform/sandbox/cli/CommonCliSpecBase.scala
  ledger/sandbox/src/main/scala/platform/sandboxnext/Runner.scala
Labels: automerge

#9926 Allow two different time formats as input for the metrics reporting interval
  ledger-service/cli-opts/src/main/scala/cliopts/Metrics.scala
  ledger/sandbox-common/src/test/lib/scala/platform/sandbox/cli/CommonCliSpecBase.scala
Labels: automerge

#9930 Deprecate use of divulged contracts
  docs/source/support/component-statuses.rst
Labels: automerge

#9925 Force resolution for css what to 5.0.1
  navigator/frontend/package.json
  navigator/frontend/yarn.lock
Labels: automerge

#9929 Handle module-prefixes in Java codegen
  language-support/codegen-common/BUILD.bazel
  language-support/codegen-common/src/main/scala/com/digitalasset/daml/lf/codegen/conf/CodegenConfigReader.scala
  language-support/codegen-common/src/main/scala/com/digitalasset/daml/lf/codegen/conf/Conf.scala
  language-support/java/codegen/BUILD.bazel
  language-support/java/codegen/src/it/daml/Pkg1.0/A.daml
  language-support/java/codegen/src/it/daml/Pkg2.0/A.daml
  language-support/java/codegen/src/it/daml/pkg-root/daml.yaml
  language-support/java/codegen/src/it/daml/pkg-root/daml/Root.daml
  language-support/java/codegen/src/it/java/com/daml/ModulePrefixes.java
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/CodeGenRunner.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/JavaBackend.scala
  language-support/java/codegen/src/test/scala/com/digitalasset/daml/lf/codegen/CodeGenRunnerTests.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/Main.scala
Labels: automerge

#9938 Load the correct logback file for the http json service respecting the deployment situation
  ledger-service/cli-opts/src/main/scala/cliopts/Logging.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Main.scala
Labels: automerge

#9945 Proxy ledger API health endpoint in JSON API health endpoint
  ledger-service/http-json/src/failure/scala/http/FailureTests.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HealthService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
Labels: automerge

#9941 Backport ContractKeysValidation fixes from #9478
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/keys/ContractKeysValidation.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/keys/KeyConsistencyValidation.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/keys/KeyUniquenessValidation.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/TransactionCommitterSpec.scala
Labels: automerge

#9950 Proxy ledger API health endpoint in JSON API health endpoint (#9945)
  ledger-service/http-json/src/failure/scala/http/FailureTests.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HealthService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
Labels: automerge

#9949 LF: Fix specification of ArithmeticError
  daml-lf/spec/daml-lf-1.rst
Labels: component/daml-lf

#9954 Skip Scala_2_12 job on releases
  ci/build.yml
Labels: automerge

#9956 Fix collect_build_data job
  ci/build.yml
Labels: automerge

#9955 KV / batching queue: work around test flakiness by increasing `eventually` timeout
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/api/BatchingQueueSpec.scala
Labels: automerge

#9952 Define IncompleteTransaction for use by scenario-service
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/ScenarioServiceMain.scala
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/IncompleteTransaction.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ledgerinteraction/IdeLedgerClient.scala
Labels: automerge, component/daml-engine

#9957 Release SDK 1.11.2
  LATEST
Labels: Standard-Change, automerge

#9951 Adds Indexer state to GRPC health checks [DPP-434]
  ledger/participant-integration-api/src/main/scala/platform/indexer/RecoveringIndexer.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/StandaloneIndexerServer.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/indexer/RecoveringIndexerSpec.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Runner.scala
  ledger/sandbox/src/main/scala/platform/sandboxnext/Runner.scala
Labels: automerge

#9960 Backport Windows signing changes from #9786
  ci/copy-windows-release-artifacts.sh
Labels: automerge

#9961 Indexer GRPC health status [DPP-434]
  ledger/participant-integration-api/src/main/scala/platform/indexer/RecoveringIndexer.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/StandaloneIndexerServer.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/indexer/RecoveringIndexerSpec.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Runner.scala
  ledger/sandbox/src/main/scala/platform/sandboxnext/Runner.scala
Labels: automerge

#9965 Rerelease 1.11.2 snapshot
  LATEST
Labels: Standard-Change, automerge

#9940 Log call to submitAndWaitRequest with the command id provided in the log ctx
  ledger-service/http-json/src/main/scala/com/digitalasset/http/CommandService.scala
Labels: automerge

#9967 docs: tweak Exception intro
  docs/source/daml/intro/8_Exceptions.rst
  docs/source/daml/intro/daml/daml-intro-8/daml/Intro/Exceptions.daml
Labels: automerge

#9969 Use symlinks on Windows
  .bazelrc
  compatibility/.bazelrc
Labels: automerge

#9973 update Daml Hub auth in create-daml-app
  templates/create-daml-app/ui/.gitignore
  templates/create-daml-app/ui/src/components/LoginScreen.tsx.template
Labels: automerge

#9971 LF: Structure Engine Errors.
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ConcurrentCompiledPackages.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Error.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Result.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ValueEnricher.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/CommandPreprocessor.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/Preprocessor.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/TransactionPreprocessor.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/ValueTranslator.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/ValidationError.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiSubmissionService.scala
  ledger/participant-integration-api/src/main/scala/platform/store/ErrorCause.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/services/ApiSubmissionServiceSpec.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/PackageCommitter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/TransactionCommitter.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/KVTest.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/TransactionCommitterSpec.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/SandboxServer.scala
Labels: component/daml-lf

#9978 Address npm vulnerabilities
  package.json
  yarn.lock
Labels: automerge

#9972 Add proper error handling for missing contract keys
  compiler/damlc/tests/daml-test-files/FetchByKey.daml
  compiler/scenario-service/client/src/DA/Daml/LF/PrettyScenario.hs
  compiler/scenario-service/protos/scenario_service.proto
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Error.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SError.scala
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ScenarioRunner.scala
  daml-lf/tests/BasicTests.daml
Labels: automerge

#9988 Add date to log statements in the HTTP JSON service
  ledger-service/http-json/src/main/resources/logback.xml
Labels: automerge

#9989 Just print out the operator name for the operation logging
  ledger-service/http-json/src/main/scala/com/digitalasset/http/CommandService.scala
Labels: automerge

#9959 Storage query abstraction first sketch [DPP-420]
  ledger/participant-integration-api/src/main/scala/platform/index/BuffersUpdater.scala
  ledger/participant-integration-api/src/main/scala/platform/index/ReadOnlySqlLedgerWithMutableCache.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/parallel/ParallelIndexerFactory.scala
  ledger/participant-integration-api/src/main/scala/platform/store/Conversions.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/CommandCompletionsReader.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/CommandCompletionsTable.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/JdbcLedgerDao.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/ParametersTable.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/SequentialWriteDao.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/ContractStateEventsReader.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/ContractsReader.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/ContractsTable.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/EventsRange.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/EventsTable.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/EventsTableDelete.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/EventsTableFlatEvents.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/EventsTableFlatEventsRangeQueries.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/EventsTableTreeEvents.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/PostCommitValidation.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/PostCommitValidationData.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/QueryNonPruned.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/Raw.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/SqlFunctions.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/SqlSequence.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/TransactionLogUpdatesReader.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/TransactionsReader.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/package.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/StorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/CommonStorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/TemplatedStorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PostgresStorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/cache/MutableCacheBackedContractStore.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/DeduplicationKeyMaker.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/index/BuffersUpdaterSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/cache/MutableCacheBackedContractStoreSpec.scala
Labels: automerge

#10002 [Mutable state cache] Start cache from latest ledger head [DPP-437]
  ledger/participant-integration-api/src/main/scala/platform/index/ReadOnlySqlLedgerWithMutableCache.scala
  ledger/participant-integration-api/src/main/scala/platform/store/cache/MutableCacheBackedContractStore.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/cache/MutableCacheBackedContractStoreSpec.scala
Labels: automerge

#10004 Fix Typ
  docs/source/daml/intro/10_Functional101.rst
Labels: automerge

#10003 Clarify the semantics of DIV_INT64 in LF spec.
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  daml-lf/spec/daml-lf-1.rst
Labels: automerge

#10006 Release 1.14 RC 2
  LATEST
Labels: Standard-Change

#9980 LF: Structure package loading errors
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/DamlLfEncoder.scala
  daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/archive/testing/EncodeV1Spec.scala
  daml-lf/engine/BUILD.bazel
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ConcurrentCompiledPackages.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Error.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/Preprocessor.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ConcurrentCompiledPackagesTest.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineValidatePackagesTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
Labels: component/daml-engine

#10005 [JSON-API] Log templateId & choice name (if present) on command submissions in the json API
  ledger-service/http-json/src/main/scala/com/digitalasset/http/CommandService.scala
  libs-scala/contextualized-logging/BUILD.bazel
  libs-scala/contextualized-logging/src/main/scala/com/digitalasset/logging/LoggingContextOf.scala
Labels: automerge

#9995 [JSON-API] Add information from the jwtpayload to the logging context
  ledger-service/http-json/src/main/scala/com/digitalasset/http/CommandService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/domain.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/DomainSpec.scala
Labels: automerge, component/json-api

#10023 Revert "release 1.14.0-snapshot.20210615.7169.0.adeba206 (#10018)"
  LATEST
Labels: Standard-Change

#10025 Force css-what resolution in compiler/daml-extension & fully regenera…
  compiler/daml-extension/yarn.lock
Labels: automerge

#10022 Release 1.15.0-snapshot.20210615.7169.0.adeba206
  LATEST
Labels: Standard-Change

#10016 test different template-ID frequencies in the "mega" perf scenario
  ledger-service/http-json-perf/daml/LargeAcs.daml
  ledger-service/http-json-perf/src/main/scala/com/daml/http/perf/scenario/SyncQueryMegaAcs.scala
Labels: component/json-api

#10031 [JSON-API] Concurrent query etc. metrics
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
Labels: automerge

#10013 LF: Structure Preprocessing Errors
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Error.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/CommandPreprocessor.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/Preprocessor.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/TransactionPreprocessor.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/ValueTranslator.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ContractDiscriminatorFreshnessCheckSpec.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/PreprocessorSpec.scala
Labels: component/daml-engine

#10041 Release SDK 1.14.0
  LATEST
Labels: Standard-Change

#10042 Remove SqlSequence, cleanup code
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/EventsRange.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/EventsTableFlatEventsRangeQueries.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/SqlSequence.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/TransactionsReader.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/package.scala
Labels: automerge

#10036 make json-api's scopt better-typed by passing JDBC drivers implicitly
  ledger-service/http-json-cli/BUILD.bazel
  ledger-service/http-json-cli/ce/src/main/scala/com/daml/http/Cli.scala
  ledger-service/http-json-cli/ee/src/main/scala/com/daml/http/Cli.scala
  ledger-service/http-json-cli/src/main/scala/com/daml/http/CliBase.scala
  ledger-service/http-json-cli/src/main/scala/com/daml/http/Config.scala
  ledger-service/http-json-cli/src/main/scala/com/daml/http/OptionParser.scala
  ledger-service/http-json/BUILD.bazel
Labels: component/json-api

#10053 Use ScenarioRunner.submit in Daml Script
  compiler/damlc/tests/src/DA/Test/ScriptService.hs
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/ScenarioServiceMain.scala
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Context.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ScenarioRunner.scala
  daml-lf/scenario-interpreter/src/perf/benches/scala/com/digitalasset/daml/lf/speedy/perf/CollectAuthority.scala
  daml-script/runner/BUILD.bazel
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ScriptF.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ledgerinteraction/GrpcLedgerClient.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ledgerinteraction/IdeLedgerClient.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ledgerinteraction/JsonLedgerClient.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ledgerinteraction/ScriptLedgerClient.scala
Labels: automerge

#10027 I9996 value limits it fails oracle
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/SqlFunctions.scala
Labels: automerge

#10045 [JSON-API] Add moar timing metrics
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
Labels: automerge, component/json-api

#10037 [In-memory fan-out] Buffers updater start from ledger end [DPP-440]
  ledger/participant-integration-api/src/main/scala/platform/index/BuffersUpdater.scala
  ledger/participant-integration-api/src/main/scala/platform/index/ReadOnlySqlLedgerWithMutableCache.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/index/BuffersUpdaterSpec.scala
Labels: automerge

#10059 Release/1.14.x backport logging changes
  ledger-service/cli-opts/src/main/scala/cliopts/Logging.scala
  ledger-service/http-json/src/main/resources/logback.xml
  ledger-service/http-json/src/main/scala/com/digitalasset/http/CommandService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Main.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/domain.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/DomainSpec.scala
  libs-scala/contextualized-logging/BUILD.bazel
  libs-scala/contextualized-logging/src/main/scala/com/digitalasset/logging/LoggingContextOf.scala
Labels: component/json-api

#10061 Backport: Proxy ledger API health endpoint in JSON API health endpoint
  ledger-service/http-json/src/failure/scala/http/FailureTests.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HealthService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
Labels: automerge

#10067 fix 9_functional redirect
  docs/redirects.map
Labels: component/documentation

#10068 [JSON-API] Add db metrics & response construction metrics
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
Labels: component/json-api

#10069 allow CI pools to use any zone
  infra/modules/gcp_cdn_bucket/outputs.tf
  infra/vsts_agent_ubuntu_20_04.tf
  infra/vsts_agent_windows.tf
Labels: Standard-Change

#10074 Upgrade canton to 0.25.0 based on daml 1.14.0
  deps.bzl
Labels: automerge

#10063 Backport "Adds Indexer state to GRPC health checks" to 1.14 [DPP-450]
  ledger/participant-integration-api/src/main/scala/platform/indexer/RecoveringIndexer.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/StandaloneIndexerServer.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/indexer/RecoveringIndexerSpec.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Runner.scala
  ledger/sandbox/src/main/scala/platform/sandboxnext/Runner.scala
Labels: automerge

#10079 Simplify speedy benchmark
  azure-pipelines.yml
  ci/cron/daily-compat.yml
  ci/cron/perf/BazelExclusiveSandboxing.patch
  ci/cron/perf/CollectAuthority.scala.patch
  ci/cron/perf/bench.sh
  ci/cron/perf/compare.sh
  ci/cron/perf/test_sha
Labels: automerge

#10076 [JSON-API] Add metrics for ledger command submission timing
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
Labels: automerge, component/json-api

#10071 define query offset semantics solely in terms of #9847 per-query offsets
  docs/source/json-api/index.rst
Labels: component/documentation

#10087 dev-env: Remove some unused stuff.
  dev-env/bin/gpg
  dev-env/bin/make
  dev-env/bin/pip3.6
  dev-env/bin/python3.6
  dev-env/bin/sphinx-autobuild
  nix/default.nix
Labels: automerge

#10088 dev-env: Use `nix-shell` for scripts instead of sourcing `dade-common`.
  dev-env/bin/ghcide
  language-support/hs/bindings/README.md
  language-support/hs/bindings/export-package.sh
  language-support/hs/bindings/package.yaml
  nix/default.nix
  shell.nix
Labels: automerge

#9993 Support reinterpretation for failing commands
  daml-lf/engine/BUILD.bazel
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ReinterpretTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/tests/BUILD.bazel
  daml-lf/tests/reinterpret/AtVersion13.daml
  daml-lf/tests/reinterpret/AtVersion14.daml
  daml-lf/tests/reinterpret/daml.yaml
  daml-lf/tests/reinterpret/daml/ReinterpretTests.daml
Labels: automerge, component/daml-engine

#10090 Release 1.15 snapshot
  LATEST
Labels: Standard-Change

#10080 Log ledger api validation failures at info level
  ledger/ledger-api-common/BUILD.bazel
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/ValidationLogger.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/services/grpc/GrpcCommandCompletionService.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/services/grpc/GrpcCommandService.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/services/grpc/GrpcCommandSubmissionService.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/services/grpc/GrpcTransactionService.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/validation/ActiveContractsServiceValidation.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/validation/CommandCompletionServiceValidation.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/validation/LedgerConfigurationServiceValidation.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/validation/PackageServiceValidation.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiActiveContractsService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiPackageService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiTimeService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/admin/ApiConfigManagementService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/admin/ApiPackageManagementService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/admin/ApiParticipantPruningService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/admin/ApiPartyManagementService.scala
Labels: automerge

#10082 recommend some daml compiler warnings to enable
  docs/source/tools/assistant.rst
Labels: automerge, component/documentation

#10094 Release SDK 1.11.2
  LATEST
Labels: Standard-Change

#10064 [In-memory fan-out] Ensure getTransactionLogUpdates with max fetch size [DPP-453]
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/TransactionsReader.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/appendonlydao/events/TransactionsReaderSpec.scala
Labels: automerge

#10099 Bump cpu alloc for build-and-lint
  language-support/ts/codegen/tests/BUILD.bazel
Labels: automerge

#10093 remove redundant spaces in the log format
  ledger/sandbox-common/src/main/resources/logback.xml
Labels: automerge

#10107 Upgrade jest to the latest version
  compatibility/bazel_tools/create-daml-app/testDeps.json
  language-support/ts/codegen/tests/ts/build-and-lint-test/package.json
  language-support/ts/codegen/tests/ts/build-and-lint-test/src/__tests__/test.ts
  language-support/ts/daml-ledger/package.json
  language-support/ts/daml-react/package.json
  language-support/ts/daml-types/package.json
  language-support/ts/packages/package.json
  language-support/ts/packages/yarn.lock
  templates/create-daml-app-test-resources/testDeps.json
Labels: automerge

#10106 Cut a flaky expectation some more slack
  ledger/metrics/src/test/suite/scala/com/daml/metrics/InstrumentedSourceSpec.scala
Labels: automerge

#10077 LF: Release LF 1.14
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineInfoTest.scala
  daml-lf/language/daml-lf.bzl
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
  daml-lf/spec/daml-lf-1.rst
  daml-lf/spec/transaction.rst
  daml-lf/spec/value.rst
  daml-lf/tests/BUILD.bazel
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionSpec.scala
  ledger/ledger-api-test-tool-on-canton/BUILD.bazel
  ledger/sandbox-classic/BUILD.bazel
  release/artifacts.yaml
Labels: component/daml-lf

#10105 Force newer version of glob-parent in Navigator
  navigator/frontend/package.json
  navigator/frontend/yarn.lock
Labels: automerge

#9908 Upgrade nixpkgs
  ci/patch_bazel_windows/compile.yml
  dev-env/windows/manifests/bazel.json
  nix/bazel.nix
  nix/nixpkgs/default.src.json
Labels: automerge

#10102 contextualized-logging: Reduce the API surface and avoid name collisions.
  ledger-service/http-json/src/main/scala/com/digitalasset/http/CommandService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/util/Logging.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiActiveContractsService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiSubmissionService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/logging/package.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/ExecuteUpdate.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/parallel/IndexerLoggingContext.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/parallel/ParallelIndexerFactory.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/Committer.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/ConfigCommitter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/PackageCommitter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/PartyAllocationCommitter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/TransactionCommitter.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/CommitterSpec.scala
  libs-scala/contextualized-logging/BUILD.bazel
  libs-scala/contextualized-logging/src/main/scala/com/digitalasset/logging/LoggingContext.scala
  libs-scala/contextualized-logging/src/main/scala/com/digitalasset/logging/LoggingContextOf.scala
  libs-scala/contextualized-logging/src/main/scala/com/digitalasset/logging/LoggingEntries.scala
  libs-scala/contextualized-logging/src/main/scala/com/digitalasset/logging/package.scala
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Runner.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/TriggerRunner.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/TriggerRunnerImpl.scala
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/test/AbstractTriggerTest.scala
Labels: automerge

#10108 Fix Tx.Metadata for normalized transactions
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/NormalizeRollbacks.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/NormalizeRollbacksSpec.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/PartialTransactionSpec.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ProfilerTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/RollbackTest.scala
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ScenarioRunner.scala
  daml-lf/tests/Exceptions.daml
Labels: component/daml-engine

#10118 Refactor error reporting in Daml Repl
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Repl.hs
  compiler/damlc/tests/src/DA/Test/Repl/FuncTests.hs
  compiler/repl-service/client/src/DA/Daml/LF/ReplClient.hs
  compiler/repl-service/protos/repl_service.proto
  compiler/repl-service/server/src/main/scala/com/digitalasset/daml/lf/speedy/ReplServiceMain.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
Labels: automerge

#10091 LF: Move Speedy Interpretation Error to transaction package
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Error.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Result.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SError.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ExceptionTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ScenarioRunner.scala
  daml-lf/transaction/src/main/scala/com/daml/lf/Error.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/Value.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ScriptF.scala
  daml-script/test/src/com/digitalasset/daml/lf/engine/script/test/JsonApiIt.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiSubmissionService.scala
  ledger/participant-integration-api/src/main/scala/platform/store/ErrorCause.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/services/ApiSubmissionServiceSpec.scala
Labels: component/daml-lf

#10131 [JSON-API] Include contract id in the logging ctx when logging exercise commands
  ledger-service/http-json/src/main/scala/com/digitalasset/http/CommandService.scala
Labels: automerge, component/json-api

#10075 Scenario: move Scenario Error Throwable to scenario package
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/ScenarioServiceMain.scala
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Context.scala
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SError.scala
  daml-lf/repl/src/main/scala/com/digitalasset/daml/lf/repl/testing/Main.scala
  daml-lf/scenario-interpreter/BUILD.bazel
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/Error.scala
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/Pretty.scala
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/ScenarioRunner.scala
  daml-lf/scenario-interpreter/src/perf/benches/scala/com/digitalasset/daml/lf/speedy/perf/CollectAuthority.scala
  daml-lf/scenario-interpreter/src/test/scala/com/digitalasset/daml/lf/ScenarioRunnerTest.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ledgerinteraction/IdeLedgerClient.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/ScenarioLoader.scala
Labels: automerge

#10132 Java bindings: add DamlRecord, deprecate Record
  docs/source/app-dev/bindings-java/codegen.rst
  language-support/java/bindings-rxjava/src/main/java/com/daml/ledger/rxjava/components/helpers/CreatedContract.java
  language-support/java/bindings-rxjava/src/main/java/com/daml/ledger/rxjava/components/helpers/TemplateUtils.java
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/DamlLedgerClientTest.scala
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/components/BotTest.scala
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/components/ContractTransformationTest.scala
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/grpc/CommandClientImplTest.scala
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/grpc/CommandSubmissionClientImplTest.scala
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/grpc/helpers/TransactionGenerator.scala
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/CreateAndExerciseCommand.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/CreateCommand.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/CreatedEvent.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/DamlMap.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/DamlRecord.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/Decimal.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/Record.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/Value.java
  language-support/java/bindings/src/test/scala/com/daml/ledger/javaapi/data/DamlRecordSpec.scala
  language-support/java/bindings/src/test/scala/com/daml/ledger/javaapi/data/EventSpec.scala
  language-support/java/codegen/src/it/java-1.11/com/daml/GenMapTest.java
  language-support/java/codegen/src/it/java-1.11/com/daml/NumericTest.java
  language-support/java/codegen/src/it/java-1.12/com/daml/GenMapTest.java
  language-support/java/codegen/src/it/java-1.12/com/daml/NumericTest.java
  language-support/java/codegen/src/it/java-1.7/com/daml/NumericTest.java
  language-support/java/codegen/src/it/java-1.8/com/daml/NumericTest.java
  language-support/java/codegen/src/it/java-1.dev/com/daml/GenMapTest.java
  language-support/java/codegen/src/it/java-1.dev/com/daml/NumericTest.java
  language-support/java/codegen/src/it/java/com/daml/ListTest.java
  language-support/java/codegen/src/it/java/com/daml/OptionalTest.java
  language-support/java/codegen/src/it/java/com/daml/ParametrizedContractIdTest.java
  language-support/java/codegen/src/it/java/com/daml/RecordTest.java
  language-support/java/codegen/src/it/java/com/daml/SerializableTest.java
  language-support/java/codegen/src/it/java/com/daml/TemplateMethodTest.java
  language-support/java/codegen/src/it/java/com/daml/TextMapTest.java
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/FromValueGenerator.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/RecordMethods.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/TemplateClass.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/ToValueGenerator.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/VariantRecordMethods.scala
  language-support/java/codegen/src/test/java/com/digitalasset/testing/DecimalTestForAll.java
  language-support/java/codegen/src/test/java/com/digitalasset/testing/EnumTestForForAll.java
  language-support/java/codegen/src/test/java/com/digitalasset/testing/GenMapTestFor1_11AndFor1_12ndFor1_13AndFor1_dev.java
  language-support/java/codegen/src/test/java/com/digitalasset/testing/NumericTestFor1_7AndFor1_8AndFor1_11AndFor1_12ndFor1_13AndFor1_dev.java
  language-support/java/codegen/src/test/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/RecordLikeMethodsSpec.scala
  language-support/java/codegen/src/test/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/TemplateClassSpec.scala
Labels: automerge

#10123 ensure that signatories and observers are disjoint in ledger-api CreatedEvents
  ledger-api/grpc-definitions/com/daml/ledger/api/v1/event.proto
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/ActiveContractsServiceIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/TransactionServiceIT.scala
Labels: automerge, component/ledger

#10134 contextualized-logging: Introduce different logging types for more structure. [KVL-996]
  bazel_tools/scala.bzl
  daml-script/runner/BUILD.bazel
  ledger/ledger-api-client/BUILD.bazel
  ledger/ledger-api-common/BUILD.bazel
  ledger/ledger-api-domain/BUILD.bazel
  ledger/ledger-api-domain/src/main/scala/com/digitalasset/ledger/api/domain.scala
  ledger/participant-integration-api/BUILD.bazel
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiCommandCompletionService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/logging/package.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/transaction/ApiTransactionService.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/ExecuteUpdate.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/parallel/IndexerLoggingContext.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/parallel/ParallelIndexerFactory.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/JdbcLedgerDao.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/JdbcLedgerDao.scala
  ledger/participant-state/BUILD.bazel
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/api/BatchingLedgerWriter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/ConfigCommitter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/PackageCommitter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/TransactionCommitter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/ValidatingCommitter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/batch/BatchedSubmissionValidator.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/PreExecutingValidatingCommitter.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/Offset.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/SandboxServer.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/LedgerBackedWriteService.scala
  ledger/sandbox-common/BUILD.bazel
  ledger/sandbox-common/src/main/scala/platform/sandbox/logging/package.scala
  libs-scala/contextualized-logging/BUILD.bazel
  libs-scala/contextualized-logging/src/main/scala/com/digitalasset/logging/JsonStringSerializer.scala
  libs-scala/contextualized-logging/src/main/scala/com/digitalasset/logging/LoggingContext.scala
  libs-scala/contextualized-logging/src/main/scala/com/digitalasset/logging/LoggingEntries.scala
  libs-scala/contextualized-logging/src/main/scala/com/digitalasset/logging/LoggingMarker.scala
  libs-scala/contextualized-logging/src/main/scala/com/digitalasset/logging/LoggingValue.scala
  libs-scala/contextualized-logging/src/main/scala/com/digitalasset/logging/LoggingValueSerializer.scala
  libs-scala/contextualized-logging/src/main/scala/com/digitalasset/logging/package.scala
  libs-scala/contextualized-logging/src/test/suite/scala/com/digitalasset/logging/ContextualizedLoggerSpec.scala
  libs-scala/contextualized-logging/src/test/suite/scala/com/digitalasset/logging/JsonStringSerializerSpec.scala
  libs-scala/contextualized-logging/src/test/suite/scala/com/digitalasset/logging/LoggingValueSpec.scala
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Runner.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/TriggerRunnerImpl.scala
Labels: automerge

#10144 add ES cluster
  infra/es_cluster.tf
Labels: Standard-Change

#10142 Release ledger API test tool per LF version
  ledger/ledger-api-test-tool/BUILD.bazel
  release/artifacts.yaml
Labels: automerge

#10141 participant-integration-api: Move transaction requests to structured logging. [KVL-996]
  ledger/ledger-api-domain/src/main/scala/com/digitalasset/ledger/api/messages/transaction/GetTransactionByIdRequest.scala
  ledger/ledger-api-domain/src/main/scala/com/digitalasset/ledger/api/messages/transaction/GetTransactionTreesRequest.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiActiveContractsService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/logging/package.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/transaction/ApiTransactionService.scala
  libs-scala/contextualized-logging/src/main/scala/com/digitalasset/logging/LoggingEntries.scala
  libs-scala/contextualized-logging/src/main/scala/com/digitalasset/logging/LoggingValue.scala
  libs-scala/contextualized-logging/src/main/scala/com/digitalasset/logging/LoggingValueSerializer.scala
  libs-scala/contextualized-logging/src/test/suite/scala/com/digitalasset/logging/JsonStringSerializerSpec.scala
  libs-scala/contextualized-logging/src/test/suite/scala/com/digitalasset/logging/LoggingValueSpec.scala
Labels: automerge

#10092 [Mutable state cache] contractStateEvents bounded DB fetch size [DPP-464]
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/TransactionsReader.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/appendonlydao/events/TransactionsReaderSpec.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Config.scala
Labels: automerge

#10152 add kibana
  infra/es_cluster.tf
Labels: Standard-Change

#10139 Bump ghcide and upgrade to lsp/lsp-types
  bazel-haskell-deps.bzl
  bazel_tools/haskell-ghcide-expose-compat.patch
  bazel_tools/haskell-lsp-test-no-reexport.patch
  bazel_tools/haskell-zip.patch
  compiler/damlc/BUILD.bazel
  compiler/damlc/daml-compiler/BUILD.bazel
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Output.hs
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Repl.hs
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Validate.hs
  compiler/damlc/daml-doc/BUILD.bazel
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Driver.hs
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Extract.hs
  compiler/damlc/daml-doc/test/DA/Daml/Doc/Tests.hs
  compiler/damlc/daml-ide-core/BUILD.bazel
  compiler/damlc/daml-ide-core/src/Development/IDE/Core/IdeState/Daml.hs
  compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
  compiler/damlc/daml-ide-core/src/Development/IDE/Core/Service/Daml.hs
  compiler/damlc/daml-ide-core/test/Development/IDE/Core/API/Testing.hs
  compiler/damlc/daml-ide/BUILD.bazel
  compiler/damlc/daml-ide/src/DA/Daml/LanguageServer.hs
  compiler/damlc/daml-ide/src/DA/Daml/LanguageServer/CodeLens.hs
  compiler/damlc/daml-ide/src/DA/Daml/LanguageServer/Visualize.hs
  compiler/damlc/daml-ide/src/DA/Daml/SessionTelemetry.hs
  compiler/damlc/daml-lf-conversion/BUILD.bazel
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion/UtilLF.hs
  compiler/damlc/daml-opts/daml-opts/DA/Daml/Options.hs
  compiler/damlc/daml-rule-types/BUILD.bazel
  compiler/damlc/ide-debug-driver/BUILD.bazel
  compiler/damlc/ide-debug-driver/src/IdeDebugDriver.hs
  compiler/damlc/lib/DA/Cli/Damlc.hs
  compiler/damlc/tests/BUILD.bazel
  compiler/damlc/tests/src/DA/Test/DamlDocTest.hs
  compiler/damlc/tests/src/DA/Test/DamlcIntegration.hs
  compiler/damlc/tests/src/DA/Test/ScriptService.hs
  compiler/lsp-tests/BUILD.bazel
  compiler/lsp-tests/src/DA/Daml/Lsp/Test/Util.hs
  compiler/lsp-tests/src/Main.hs
  stack-snapshot.yaml
  stackage_snapshot.json
  stackage_snapshot_windows.json
Labels: automerge

#10153 ledger-api-common: There's only one way to order absolute offsets.
  daml-script/runner/BUILD.bazel
  ledger-service/http-json/BUILD.bazel
  ledger/ledger-api-client/BUILD.bazel
  ledger/ledger-api-common/BUILD.bazel
  ledger/ledger-api-common/src/main/scala/com/digitalasset/ledger/api/validation/CompletionServiceRequestValidator.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/ledger/api/validation/LedgerOffsetValidator.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/ledger/api/validation/TransactionServiceRequestValidator.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/services/domain/CommandCompletionService.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/services/domain/TransactionService.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/services/grpc/GrpcCommandCompletionService.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/services/grpc/GrpcTransactionService.scala
  ledger/ledger-api-common/src/test/lib/scala/com/digitalasset/ledger/api/validation/ValidatorTestUtils.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/ledger/api/validation/CompletionServiceRequestValidatorTest.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/ledger/api/validation/TransactionServiceRequestValidatorTest.scala
  ledger/ledger-api-domain/src/main/scala/com/digitalasset/ledger/api/domain.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiCommandCompletionService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/transaction/ApiTransactionService.scala
  ledger/sandbox-common/BUILD.bazel
Labels: automerge

#10145 LF: Clean Interpretation Error
  compiler/damlc/tests/daml-test-files/ContractIdInContractKey.daml
  compiler/damlc/tests/daml-test-files/WronglyTypedContract.daml
  compiler/repl-service/server/src/main/scala/com/digitalasset/daml/lf/speedy/ReplServiceMain.scala
  compiler/scenario-service/client/src/DA/Daml/LF/PrettyScenario.hs
  compiler/scenario-service/protos/scenario_service.proto
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Error.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Result.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ReinterpretTest.scala
  daml-lf/interpreter/BUILD.bazel
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SError.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/svalue/Equality.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/svalue/Ordering.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  daml-lf/scenario-interpreter/BUILD.bazel
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/ScenarioRunner.scala
  daml-lf/tests/scenario/stable/no-contract-ids-in-keys/EXPECTED.ledger
  daml-lf/transaction/src/main/scala/com/daml/lf/Error.scala
Labels: automerge, component/daml-lf

#10157 daml-lf/data: Add a conversion from Ref.Identifier to LoggingValue. [KVL-996]
  daml-lf/data/BUILD.bazel
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/Ref.scala
  daml-lf/encoder/BUILD.bazel
  daml-lf/engine/BUILD.bazel
  daml-lf/interface/BUILD.bazel
  daml-lf/interpreter/BUILD.bazel
  daml-lf/parser/BUILD.bazel
  daml-lf/transaction/BUILD.bazel
  daml-lf/validation/BUILD.bazel
  daml-script/runner/BUILD.bazel
  extractor/BUILD.bazel
  language-support/scala/codegen/BUILD.bazel
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/logging/package.scala
  ledger/participant-state/kvutils/tools/BUILD.bazel
  navigator/backend/BUILD.bazel
Labels: automerge
