Repository digital-asset/daml, pull requests merged in 2021-12, with the labels that each got.

#11946 Stack safe free-vars computation.
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ClosureConversion.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ClosureConversionTest.scala
Labels: component/daml-engine

#11953 Release 1.17.2-snapshot.20211124.7857.0.b33b94b8
  LATEST
Labels: Standard-Change

#11977 Release 1.18.0 RC 3
  LATEST
Labels: Standard-Change

#11981 Release 1.11.3-snapshot.20211123.6448.0.c679b4ab
  LATEST
Labels: Standard-Change

#11983 ci: increase hard drive space (not macOS)
  infra/periodic_killer.tf
  infra/vsts_agent_ubuntu_20_04.tf
  infra/vsts_agent_windows.tf
Labels: Standard-Change

#11992 Test release for split release process
  LATEST
Labels: Standard-Change

#11999 Promote 1.11.3-snapshot.20211123.6448.0.c679b4ab to release
  LATEST
Labels: Standard-Change

#12005 Drop 1.11.3 release to allow for a retry
  LATEST
  release.sh
Labels: Standard-Change

#12006 Rerelease 1.11.3
  LATEST
Labels: Standard-Change

#12007 Test release for split release process (attempt 2)
  LATEST
Labels: Standard-Change

#12019 Test release for split release process (attempt 3)
  LATEST
Labels: Standard-Change

#12039 Test release for split release process (attempt 4)
  LATEST
Labels: Standard-Change

#12038 Release SDK 1.18.0
  LATEST
Labels: Standard-Change

#12064 Expose UserManagementClient via LedgerClient
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/LedgerClient.scala
Labels: SDK 2.0

#11889 Wire up user management to ScriptLedgerClient
  compiler/damlc/tests/src/DA/Test/ScriptService.hs
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Converter.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ScriptF.scala
Labels: SDK 2.0

#12047 compileCommand takes `Env`
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
Labels: component/daml-engine

#11987 Use DeBruijn levels in SExpr0.
  daml-lf/interpreter/perf/src/main/scala/com/daml/lf/explore/Explore.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ClosureConversion.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr0.scala
Labels: component/daml-engine

#12074 Split release including #12072
  LATEST
Labels: Standard-Change

#12093 split release attempt n
  LATEST
Labels: Standard-Change

#12107 Split release test with cross-platform damlc
  LATEST
Labels: Standard-Change

#12117 repair ES cluster
  infra/es_cluster.tf
Labels: Standard-Change

#12118 es: mitigate log4j vuln
  infra/es_cluster.tf
Labels: Standard-Change

#12164 Release 2.0 snapshot
  LATEST
Labels: Standard-Change

#12160 use domain.Offset instead of String in ContractsFetch functions
  ledger-service/fetch-contracts/src/main/scala/fetchcontracts/AcsTxStreams.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsFetch.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsService.scala
Labels: component/json-api

#12182 Release another 2.0 snapshot
  LATEST
Labels: Standard-Change

#12200 Update Maven profile id
  release/src/Upload.hs
Labels: infra-backport

#12201 Snapshot release attempt
  LATEST
Labels: Standard-Change

#12203 Drop code to upload to com.digitalasset
  release/src/Upload.hs
Labels: infra-backport

#12206 Release attempt over 9000
  LATEST
Labels: Standard-Change

#12186 New split release for docs tests
  LATEST
Labels: Standard-Change

#12238 give a break to CI
  infra/vsts_agent_ubuntu_20_04.tf
  infra/vsts_agent_windows.tf
Labels: Standard-Change
