Repository digital-asset/daml, pull requests merged in 2021-02, with the labels that each got.

#8688 participant-integration-api: Make the RecoveringIndexer use a real execution context.
  ledger/participant-integration-api/src/main/scala/platform/indexer/RecoveringIndexer.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/StandaloneIndexerServer.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/indexer/RecoveringIndexerSpec.scala
Labels: automerge

#8697 Bump JVM on Darwin and force TLS 1.2
  .bazelrc
  nix/nixpkgs.nix
Labels: automerge

#8667 Convert participant_events low-cardinality columns to btree
  ledger/participant-integration-api/src/main/resources/db/migration/postgres/V42__Convert_hash_indices.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/postgres/V42__Convert_hash_indices.sql
Labels: automerge

#8705 Disable ghcide tests
  build.sh
Labels: automerge

#8704 Manual release 1.10.0-snapshot.20210201.6207.0.7cf1914d of the daml-sdk
  LATEST
Labels: Standard-Change

#8709 Revise signed payload repository
  runtime-components/non-repudiation/BUILD.bazel
  runtime-components/non-repudiation/src/main/scala/com/daml/nonrepudiation/KeyRepository.scala
  runtime-components/non-repudiation/src/main/scala/com/daml/nonrepudiation/NonRepudiationProxy.scala
  runtime-components/non-repudiation/src/main/scala/com/daml/nonrepudiation/SignatureData.scala
  runtime-components/non-repudiation/src/main/scala/com/daml/nonrepudiation/SignatureVerificationInterceptor.scala
  runtime-components/non-repudiation/src/main/scala/com/daml/nonrepudiation/SignedCommandRepository.scala
  runtime-components/non-repudiation/src/main/scala/com/daml/nonrepudiation/SignedPayload.scala
  runtime-components/non-repudiation/src/main/scala/com/daml/nonrepudiation/SignedPayloadRepository.scala
  runtime-components/non-repudiation/src/main/scala/com/daml/nonrepudiation/package.scala
  runtime-components/non-repudiation/src/test/scala/com/daml/nonrepudiation/NonRepudiationProxyConformance.scala
  runtime-components/non-repudiation/src/test/scala/com/daml/nonrepudiation/NonRepudiationProxySpec.scala
Labels: automerge

#8717 participant-integration-api: Don't copy the DAR file bytes.
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/admin/ApiPackageManagementService.scala
Labels: automerge

#8718 KV: flag to enable preview version in kvutils
  ledger/participant-state/kvutils/app/BUILD.bazel
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Config.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Runner.scala
Labels: component/dlik

#8731 Add //libs-scala/doobie-slf4j and replace usages of jdkLogHandler
  ledger-service/http-json/BUILD.bazel
  ledger-service/http-json/src/main/scala/com/digitalasset/http/dbbackend/ContractDao.scala
  libs-scala/doobie-slf4j/BUILD.bazel
  libs-scala/doobie-slf4j/src/main/scala/com/daml/doobie/logging/Slf4jLogHandler.scala
  release/artifacts.yaml
  triggers/service/BUILD.bazel
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/dao/DbTriggerDao.scala
Labels: automerge

#8732 ledger-on-memory: Split the Writer from the Reader. [KVL-821]
  ledger/ledger-on-memory/src/main/scala/com/daml/ledger/on/memory/InMemoryLedgerReaderWriter.scala
  ledger/ledger-on-memory/src/main/scala/com/daml/ledger/on/memory/InMemoryLedgerWriter.scala
  ledger/ledger-on-memory/src/test/suite/scala/com/daml/ledger/on/memory/InMemoryLedgerWriterSpec.scala
Labels: automerge

#8735 ledger-on-memory: Move committer construction into the writer. [KVL-821]
  ledger/ledger-on-memory/src/main/scala/com/daml/ledger/on/memory/InMemoryLedgerReaderWriter.scala
  ledger/ledger-on-memory/src/main/scala/com/daml/ledger/on/memory/InMemoryLedgerWriter.scala
Labels: automerge

#8733 DLint: Disable "Redundant pure" lint by default
  compiler/damlc/daml-ide-core/dlint.yaml
  compiler/damlc/tests/daml-test-files/ApplicativeDo.daml
Labels: automerge

#8737 kvutils: Export writes when using pre-execution. [KVL-822]
  ledger/ledger-on-memory/src/main/scala/com/daml/ledger/on/memory/InMemoryLedgerWriter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/export/SubmissionAggregatorWriteOperations.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/CombinedLedgerStateWriteOperations.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/LedgerStateAccess.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/PostExecutionFinalizer.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/PostExecutionWriter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/PreExecutingValidatingCommitter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/RawPostExecutionFinalizer.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/RawPostExecutionWriter.scala
Labels: automerge

#8739 Switch from public keys to certificates for non-repudiation
  runtime-components/non-repudiation-client/src/main/java/com/daml/nonrepudiation/client/SigningInterceptor.java
  runtime-components/non-repudiation-core/src/main/java/com/daml/nonrepudiation/Fingerprints.java
  runtime-components/non-repudiation/src/main/scala/com/daml/nonrepudiation/CertificateRepository.scala
  runtime-components/non-repudiation/src/main/scala/com/daml/nonrepudiation/KeyRepository.scala
  runtime-components/non-repudiation/src/main/scala/com/daml/nonrepudiation/NonRepudiationProxy.scala
  runtime-components/non-repudiation/src/main/scala/com/daml/nonrepudiation/SignatureVerificationInterceptor.scala
  runtime-components/non-repudiation/src/main/scala/com/daml/nonrepudiation/package.scala
  runtime-components/non-repudiation/src/test/scala/com/daml/nonrepudiation/NonRepudiationProxyConformance.scala
  runtime-components/non-repudiation/src/test/scala/com/daml/nonrepudiation/NonRepudiationProxySpec.scala
Labels: automerge

#8740 kvutils: Prepare the integrity checker for pre-execution. [KVL-822]
  ledger/ledger-on-memory/src/main/scala/com/daml/ledger/on/memory/InMemoryLedgerStateAccess.scala
  ledger/ledger-on-memory/src/main/scala/com/daml/ledger/on/memory/InMemoryLedgerStateOperations.scala
  ledger/participant-state/kvutils/tools/BUILD.bazel
  ledger/participant-state/kvutils/tools/integrity-check/src/main/scala/ledger/participant/state/kvutils/tools/integritycheck/LogAppendingCommitStrategySupport.scala
  ledger/participant-state/kvutils/tools/integrity-check/src/main/scala/ledger/participant/state/kvutils/tools/integritycheck/WriteRecordingLedgerStateAccess.scala
  ledger/participant-state/kvutils/tools/integrity-check/src/main/scala/ledger/participant/state/kvutils/tools/integritycheck/WriteRecordingLedgerStateOperations.scala
  ledger/participant-state/kvutils/tools/integrity_test.bzl
  ledger/participant-state/kvutils/tools/src/main/scala/ledger/participant/state/kvutils/tools/integritycheck/CommitStrategySupport.scala
  ledger/participant-state/kvutils/tools/src/main/scala/ledger/participant/state/kvutils/tools/integritycheck/IntegrityChecker.scala
Labels: automerge

#8744 remove dependency-check
  dev-env/bin/dependency-check
  nix/default.nix
  nix/tools/dependency-check/default.nix
Labels: automerge

#8745 Script to build docker locally
  dev-env/bin/daml-docker-head
Labels: automerge

#8749 LF: fix transaction validation
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Validation.scala
Labels: automerge, component/daml-lf

#8723 Non-repudiation: add persistent, SQL-backed signed commands repo
  bazel-java-deps.bzl
  maven_install_2.12.json
  maven_install_2.13.json
  runtime-components/non-repudiation-postgresql/BUILD.bazel
  runtime-components/non-repudiation-postgresql/src/main/resources/com/daml/nonrepudiation/NO_AUTO_COPYRIGHT
  runtime-components/non-repudiation-postgresql/src/main/resources/com/daml/nonrepudiation/postgresql/V1__init.sql
  runtime-components/non-repudiation-postgresql/src/main/scala/com/daml/nonrepudiation/postgresql/PostgresqlCertificateRepository.scala
  runtime-components/non-repudiation-postgresql/src/main/scala/com/daml/nonrepudiation/postgresql/PostgresqlSignedPayloadRepository.scala
  runtime-components/non-repudiation-postgresql/src/main/scala/com/daml/nonrepudiation/postgresql/Tables.scala
  runtime-components/non-repudiation-postgresql/src/main/scala/com/daml/nonrepudiation/postgresql/package.scala
  runtime-components/non-repudiation-postgresql/src/test/resources/logback-test.xml
  runtime-components/non-repudiation-postgresql/src/test/scala/com/daml/nonrepudiation/postgresql/NonRepudiationProxyConformance.scala
  runtime-components/non-repudiation/BUILD.bazel
  runtime-components/non-repudiation/src/main/scala/com/daml/nonrepudiation/package.scala
  runtime-components/non-repudiation/src/test/scala/com/daml/nonrepudiation/NonRepudiationProxyConformance.scala
Labels: automerge

#8743 integrity-checker: Switch to pre-execution. [KVL-822]
  ledger/ledger-on-memory/src/main/scala/com/daml/ledger/on/memory/InMemoryLedgerWriter.scala
  ledger/participant-state/kvutils/BUILD.bazel
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/PreExecutingValidatingCommitter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/TimeBasedWriteSetSelector.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/WriteSetSelector.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/reading/SerializingStateReader.scala
  ledger/participant-state/kvutils/tools/BUILD.bazel
  ledger/participant-state/kvutils/tools/integrity-check/src/main/resources/logback.xml
  ledger/participant-state/kvutils/tools/integrity-check/src/main/scala/ledger/participant/state/kvutils/tools/integritycheck/LogAppendingCommitStrategySupport.scala
  ledger/participant-state/kvutils/tools/integrity-check/src/main/scala/ledger/participant/state/kvutils/tools/integritycheck/Main.scala
  ledger/participant-state/kvutils/tools/integrity-check/src/main/scala/ledger/participant/state/kvutils/tools/integritycheck/RawPreExecutingCommitStrategySupport.scala
  ledger/participant-state/kvutils/tools/integrity-check/src/test/scala/ledger/participant/state/kvutils/tools/integritycheck/LogAppendingCommitStrategySupportSpec.scala
  ledger/participant-state/kvutils/tools/integrity-check/src/test/scala/ledger/participant/state/kvutils/tools/integritycheck/RawPreExecutingCommitStrategySupportSpec.scala
  ledger/participant-state/kvutils/tools/src/main/scala/ledger/participant/state/kvutils/tools/integritycheck/CommitStrategySupport.scala
  ledger/participant-state/kvutils/tools/src/main/scala/ledger/participant/state/kvutils/tools/integritycheck/IntegrityChecker.scala
  ledger/participant-state/kvutils/tools/src/main/scala/ledger/participant/state/kvutils/tools/integritycheck/StateUpdateComparison.scala
  ledger/participant-state/kvutils/tools/src/main/scala/ledger/participant/state/kvutils/tools/integritycheck/WriteSetComparison.scala
  ledger/participant-state/kvutils/tools/src/test/scala/ledger/participant/state/kvutils/tools/integritycheck/Builders.scala
  ledger/participant-state/kvutils/tools/src/test/scala/ledger/participant/state/kvutils/tools/integritycheck/IntegrityCheckerSpec.scala
  ledger/participant-state/kvutils/tools/src/test/scala/ledger/participant/state/kvutils/tools/integritycheck/WriteSetComparisonSpec.scala
Labels: automerge

#8757 ledger-on-memory: Only support pre-execution. [KVL-821]
  daml-script/test/src/test-utils/com/daml/lf/engine/script/test/MultiParticipantFixture.scala
  ledger/ledger-on-memory/BUILD.bazel
  ledger/ledger-on-memory/src/app/scala/com/daml/ledger/on/memory/ExtraConfig.scala
  ledger/ledger-on-memory/src/app/scala/com/daml/ledger/on/memory/InMemoryLedgerFactory.scala
  ledger/ledger-on-memory/src/app/scala/com/daml/ledger/on/memory/Main.scala
  ledger/ledger-on-memory/src/app/scala/com/daml/ledger/on/memory/Owner.scala
  ledger/ledger-on-memory/src/main/scala/com/daml/ledger/on/memory/InMemoryLedgerReaderWriter.scala
  ledger/ledger-on-memory/src/main/scala/com/daml/ledger/on/memory/InMemoryLedgerWriter.scala
  ledger/ledger-on-memory/src/main/scala/com/daml/ledger/on/memory/package.scala
  ledger/ledger-on-memory/src/test/lib/scala/com/daml/ledger/on/memory/InMemoryLedgerReaderWriterIntegrationSpecBase.scala
  ledger/ledger-on-memory/src/test/resources/logback-test.xml
  ledger/ledger-on-memory/src/test/suite/scala/com/daml/ledger/on/memory/InMemoryLedgerReaderWriterIntegrationSpec.scala
  ledger/ledger-on-memory/src/test/suite/scala/com/daml/ledger/on/memory/InMemoryLedgerWriterSpec.scala
  ledger/ledger-on-memory/src/test/suite/scala/com/daml/ledger/on/memory/NonBatchedInMemoryLedgerReaderWriterIntegrationSpec.scala
  ledger/participant-state/kvutils/BUILD.bazel
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Config.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/package.scala
  ledger/recovering-indexer-integration-tests/src/test/suite/scala/com/digitalasset/platform/indexer/RecoveringIndexerIntegrationSpec.scala
Labels: automerge

#8765 ledger-api-test-tool: Increase the dedup time in CommandDeduplicationIT.
  ledger/ledger-api-test-tool/BUILD.bazel
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/Cli.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/Config.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/LedgerApiTestTool.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/CommandDeduplicationIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/Defaults.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/Tests.scala
  runtime-components/non-repudiation-postgresql/src/test/scala/com/daml/nonrepudiation/postgresql/NonRepudiationProxyConformance.scala
Labels: automerge

#8190 Upgrade nixpkgs
  .bazelrc
  WORKSPACE
  bazel_tools/upb_compat.patch
  ci/cron/src/Main.hs
  ci/patch_bazel_windows/compile.yml
  ci/patch_bazel_windows/patch-bazel
  compatibility/WORKSPACE
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/EncodeV1.hs
  compiler/daml-lf-verify/src/DA/Daml/LF/Verify/ReferenceSolve.hs
  compiler/repl-service/client/src/DA/Daml/LF/ReplClient.hs
  compiler/scenario-service/client/src/DA/Daml/LF/ScenarioServiceClient/LowLevel.hs
  daml-assistant/src/DA/Daml/Assistant/Command.hs
  deps.bzl
  dev-env/bin/ibazel
  dev-env/windows/manifests/bazel.json
  nix/bazel.nix
  nix/default.nix
  nix/ghc.nix
  nix/nixpkgs.nix
  nix/nixpkgs/default.src.json
  nix/overrides/ghc-8.10.3.nix
  nix/overrides/ghc-8.6.3-binary.nix
  nix/overrides/protobuf/3.5.1.nix
  nix/overrides/protobuf/generic-v3.nix
  nix/overrides/scalafmt.nix
  nix/tools/license-checker/default.nix
  nix/tools/license-checker/node-env.nix
  nix/tools/python36/pygraphviz/default.nix
  nix/tools/semver-tool/default.nix
  nix/tools/sphinx-autobuild/requirements.nix
Labels: automerge

#8776 Port parts of //ledger-service to Scala 2.13
  ci/build.yml
  ledger-service/db-backend/BUILD.bazel
  ledger-service/db-backend/src/main/scala/com/digitalasset/http/dbbackend/Queries.scala
  ledger-service/jwt/BUILD.bazel
  ledger-service/lf-value-json/BUILD.bazel
  ledger-service/lf-value-json/src/test/scala/com/digitalasset/daml/lf/value/json/ApiCodecCompressedSpec.scala
  ledger-service/utils/BUILD.bazel
  ledger-service/utils/src/main/scala/com/digitalasset/ledger/service/MetadataReader.scala
Labels: automerge

#8779 Fix Daml Script dump integration tests
  BUILD
  daml-script/dump/BUILD.bazel
  daml-script/dump/src/it/scala/com/daml/script/dump/IT.scala
Labels: automerge

#8778 Release another 1.10 snapshot
  LATEST
Labels: Standard-Change

#8780 update Terraform files to match reality
  infra/bazel_cache.tf
  infra/binaries.tf
  infra/data_bucket.tf
  infra/dumps_bucket.tf
  infra/hoogle_server.tf
  infra/main.tf
  infra/modules/gcp_cdn_bucket/google_compute.tf
  infra/modules/gcp_cdn_bucket/google_storage.tf
  infra/modules/gcp_cdn_bucket/variables.tf
  infra/nix_cache.tf
  infra/periodic_killer.tf
  infra/vsts_agent_ubuntu_20_04.tf
  infra/vsts_agent_windows.tf
  infra/writer.tf
Labels: Standard-Change, automerge

#8782 ts: remove mention of create-daml-app
  language-support/ts/daml-ledger/README.md
Labels: automerge

#8786 integrity-checker: Reintroduce an interface for comparing write sets. [KVL-822]
  ledger/participant-state/kvutils/tools/BUILD.bazel
  ledger/participant-state/kvutils/tools/integrity-check/src/main/scala/ledger/participant/state/kvutils/tools/integritycheck/LogAppendingCommitStrategySupport.scala
  ledger/participant-state/kvutils/tools/integrity-check/src/main/scala/ledger/participant/state/kvutils/tools/integritycheck/RawPreExecutingCommitStrategySupport.scala
  ledger/participant-state/kvutils/tools/integrity-check/src/main/scala/ledger/participant/state/kvutils/tools/integritycheck/RawWriteSetComparison.scala
  ledger/participant-state/kvutils/tools/integrity-check/src/test/scala/ledger/participant/state/kvutils/tools/integritycheck/RawWriteSetComparisonSpec.scala
  ledger/participant-state/kvutils/tools/src/main/scala/ledger/participant/state/kvutils/tools/integritycheck/CommitStrategySupport.scala
  ledger/participant-state/kvutils/tools/src/main/scala/ledger/participant/state/kvutils/tools/integritycheck/IntegrityChecker.scala
  ledger/participant-state/kvutils/tools/src/main/scala/ledger/participant/state/kvutils/tools/integritycheck/ReplayingReadService.scala
  ledger/participant-state/kvutils/tools/src/main/scala/ledger/participant/state/kvutils/tools/integritycheck/WriteSetComparison.scala
Labels: automerge

#8788 Bump marked dependency
  language-support/ts/packages/package.json
  language-support/ts/packages/yarn.lock
Labels: automerge

#8789 Instrument Ledger API and DbDispatcher threadpools
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/DbDispatcher.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Runner.scala
Labels: automerge

#8752 ci/prs: add artifactory credentials
  azure-pipelines.yml
Labels: automerge

#8791 Release 1.10.0-snapshot.20210209.6265.0.19bf4031.
  LATEST
Labels: Standard-Change, automerge

#8794 Factor out shared DAR encoder
  daml-lf/archive/encoder/BUILD.bazel
  daml-lf/archive/encoder/src/main/scala/com/daml/lf/archive/DarManifestWriter.scala
  daml-lf/archive/encoder/src/main/scala/com/daml/lf/archive/DarWriter.scala
  daml-lf/encoder/BUILD.bazel
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/DamlLfEncoder.scala
  daml-script/dump/BUILD.bazel
  daml-script/dump/src/main/scala/com/daml/script/dump/Dependencies.scala
Labels: automerge

#8796 Clarify docs around --contract-id-seeding=no
  docs/source/tools/sandbox.rst
Labels: automerge

#8793 docs: try to improve script --input-file
  docs/source/daml-script/index.rst
Labels: automerge

#8803 Disable MacOS CI jobs
  ci/build.yml
Labels: Standard-Change

#8805 docs: remove references to create-daml-app repo
  docs/.gitignore
  docs/configs/html/conf.py
  docs/source/app-dev/app-arch.rst
  docs/source/tools/assistant.rst
  language-support/ts/daml-ledger/README.md
  language-support/ts/daml-react/README.md
Labels: automerge

#8807 bump disk cleanup threashold
  ci/clean-up.yml
Labels: automerge

#8809 kvutils/tools: Make it clear that `IntegrityChecker.run` exits.
  ledger/participant-state/kvutils/tools/integrity-check/src/main/scala/ledger/participant/state/kvutils/tools/integritycheck/Main.scala
  ledger/participant-state/kvutils/tools/src/main/scala/ledger/participant/state/kvutils/tools/integritycheck/IntegrityChecker.scala
Labels: automerge

#8811 replace deprecated blackduck property
  ci/cron/daily-compat.yml
Labels: automerge

#8812 bump check_releases timeout
  ci/cron/daily-compat.yml
Labels: automerge

#8814 Turn all Daml Intro templates into full projects
  docs/source/daml/intro/1_Token.rst
  docs/source/daml/intro/2_DamlScript.rst
  docs/source/daml/intro/3_Data.rst
  docs/source/daml/intro/4_Transformations.rst
  docs/source/daml/intro/5_Restrictions.rst
  docs/source/daml/intro/6_Parties.rst
  docs/source/daml/intro/daml/daml-intro-1/daml.yaml.template
  docs/source/daml/intro/daml/daml-intro-1/daml/Token.daml
  docs/source/daml/intro/daml/daml-intro-2/daml.yaml.template
  docs/source/daml/intro/daml/daml-intro-2/daml/Token_Test.daml
  docs/source/daml/intro/daml/daml-intro-3/daml.yaml.template
  docs/source/daml/intro/daml/daml-intro-3/daml/IDRef.daml
  docs/source/daml/intro/daml/daml-intro-3/daml/Keys.daml
  docs/source/daml/intro/daml/daml-intro-3/daml/List.daml
  docs/source/daml/intro/daml/daml-intro-3/daml/Native.daml
  docs/source/daml/intro/daml/daml-intro-3/daml/Record.daml
  docs/source/daml/intro/daml/daml-intro-3/daml/Tuple.daml
  docs/source/daml/intro/daml/daml-intro-3/daml/Variants.daml
  docs/source/daml/intro/daml/daml-intro-4/daml.yaml.template
  docs/source/daml/intro/daml/daml-intro-4/daml/Contact.daml
  docs/source/daml/intro/daml/daml-intro-4/daml/SimpleIou.daml
  docs/source/daml/intro/daml/daml-intro-5/daml.yaml.template
  docs/source/daml/intro/daml/daml-intro-5/daml/Restrictions.daml
  docs/source/daml/intro/daml/daml-intro-6/daml.yaml.template
  docs/source/daml/intro/daml/daml-intro-6/daml/Parties.daml
Labels: automerge

#8764 try to improve macOS install instructions
  docs/source/getting-started/path-variables.rst
Labels: automerge

#8818 Renaming, prep for exceptions in speedy PR.
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Anf.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
Labels: automerge, component/daml-engine

#8822 LF: Check we can handle template with at least 120 fields.
  daml-lf/tests/scenario/stable/many-fields/EXPECTED.ledger
  daml-lf/tests/scenario/stable/many-fields/Test.daml
Labels: automerge, component/daml-lf

#8827 LF: reduce recursion depth in Archive decoder.
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
Labels: automerge, component/daml-lf

#8828 Update compatibility docs for Ledger API version 1.9
  docs/source/support/compatibility.rst
  ledger-api/VERSION
Labels: automerge

#8832 fix Nix warning
  nix/nixpkgs.nix
Labels: automerge

#8831 Port //daml-script/... to Scala 2.13
  ci/build.yml
  daml-script/test/BUILD.bazel
  daml-script/test/src/com/digitalasset/daml/lf/engine/script/test/AuthIT.scala
  daml-script/test/src/com/digitalasset/daml/lf/engine/script/test/JsonPartyValidation.scala
  daml-script/test/src/com/digitalasset/daml/lf/engine/script/test/MultiParticipantIT.scala
  daml-script/test/src/com/digitalasset/daml/lf/engine/script/test/TlsIT.scala
  daml-script/test/src/test-utils/com/daml/lf/engine/script/test/AbstractFuncIT.scala
  daml-script/test/src/test-utils/com/daml/lf/engine/script/test/LogCollector.scala
Labels: automerge

#8808 LF: first draft of the exception internal API for PartialTransaction
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/PartialTransactionSpec.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
Labels: component/daml-engine, component/daml-lf

#8830 Release 1.11.0-snapshot.20210212.6300.0.ad161d7f
  LATEST
Labels: Standard-Change

#8833 data-deps: Dont let defaults leak constraints.
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Check.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Env.hs
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/DataDependencies.hs
  compiler/damlc/tests/src/DA/Test/DataDependencies.hs
Labels: automerge

#8838 Only bind contract ids that are used
  daml-script/dump/src/main/scala/com/daml/script/dump/Encode.scala
  daml-script/dump/src/main/scala/com/daml/script/dump/TreeUtils.scala
  daml-script/dump/src/test/scala/com/daml/script/dump/EncodeTreeSpec.scala
  daml-script/dump/src/test/scala/com/daml/script/dump/TreeReferencedCidsSpec.scala
Labels: automerge

#8840 LF: (fix) compute exercise node seed is only once.
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
Labels: component/daml-engine, component/daml-lf

#8843 Fix the help text in KV Runner's config parser
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Config.scala
Labels: automerge

#8612 support exceptions in speedy
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Anf.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Profile.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SError.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/svalue/Equality.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ExceptionTest.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ExprParser.scala
  daml-lf/parser/src/test/scala/com/digitalasset/daml/lf/testing/parser/ParsersSpec.scala
Labels: component/daml-engine

#8766 Add first metrics to non-repudiation proxy
  runtime-components/non-repudiation-postgresql/src/test/scala/com/daml/nonrepudiation/postgresql/NonRepudiationProxyConformance.scala
  runtime-components/non-repudiation/BUILD.bazel
  runtime-components/non-repudiation/src/main/scala/com/daml/nonrepudiation/CertificateRepository.scala
  runtime-components/non-repudiation/src/main/scala/com/daml/nonrepudiation/Metrics.scala
  runtime-components/non-repudiation/src/main/scala/com/daml/nonrepudiation/MetricsReporterOwner.scala
  runtime-components/non-repudiation/src/main/scala/com/daml/nonrepudiation/NonRepudiationProxy.scala
  runtime-components/non-repudiation/src/main/scala/com/daml/nonrepudiation/SignatureVerification.scala
  runtime-components/non-repudiation/src/main/scala/com/daml/nonrepudiation/SignatureVerificationInterceptor.scala
  runtime-components/non-repudiation/src/main/scala/com/daml/nonrepudiation/SignedPayloadRepository.scala
  runtime-components/non-repudiation/src/test/scala/com/daml/nonrepudiation/NonRepudiationProxySpec.scala
Labels: automerge

#8847 Port Navigator to Scala 2.13
  ci/build.yml
  navigator/backend/BUILD.bazel
  navigator/backend/src/main/scala/com/digitalasset/navigator/UIBackend.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/config/Config.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/data/DatabaseActions.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/dotnot/package.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/graphql/GraphQLSchema.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/graphql/JsonType.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/graphql/SprayMarshallers.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/graphql/StringAliasType.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/json/ApiCodecVerbose.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/model/Ledger.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/model/PackageRegistry.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/model/PartyState.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/model/converter/Converter.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/model/converter/LedgerApiV1.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/store/platform/PlatformStore.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/store/platform/PlatformSubscriber.scala
  navigator/backend/src/test/scala/com/digitalasset/navigator/backend/DamlConstants.scala
  navigator/backend/src/test/scala/com/digitalasset/navigator/backend/model/LedgerSpec.scala
  navigator/backend/src/test/scala/com/digitalasset/navigator/backend/query/ContractFilterSpec.scala
  navigator/integration-test/BUILD.bazel
  navigator/integration-test/src/main/scala/com/digitalasset/navigator/test/BrowserTest.scala
  navigator/integration-test/src/main/scala/com/digitalasset/navigator/test/Main.scala
Labels: automerge

#8851 Add //runtime-components to CODEOWNERS
  CODEOWNERS
Labels: automerge

#8852 Draw the rest of the Scala 2.13 owl
  bazel_tools/client_server/tests/BUILD.bazel
  ci/build.yml
  compiler/damlc/tests/src/DA/Test/ScriptService.hs
  compiler/damlc/tests/src/DA/Test/ShakeIdeClient.hs
  compiler/scenario-service/client/src/DA/Daml/LF/PrettyScenario.hs
  daml-assistant/daml-sdk/BUILD.bazel
Labels: automerge

#8855 More Scala 2.13 cleanup
  WORKSPACE
  bazel-java-deps.bzl
  bazel_tools/pom_file.bzl
  bazel_tools/scala.bzl
  ci/build.yml
  ledger-service/http-json-perf/BUILD.bazel
  ledger/participant-integration-api/BUILD.bazel
  libs-scala/gatling-utils/BUILD.bazel
  maven_install_2.12.json
  maven_install_2.13.json
  nix/bazel.nix
  nix/default.nix
  nix/nixpkgs.nix
Labels: automerge

#8868 qualify Set in Scala codegen output to avoid name collision
  language-support/scala/codegen-sample-app/src/main/daml/MyMain.daml
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/lf/LFUtil.scala
Labels: automerge, component/scala-ecosystem

#8875 Port Ledger API Test Tool to Scala 2.13
  ci/build.yml
  ledger/ledger-api-test-tool/BUILD.bazel
  ledger/ledger-api-test-tool/conformance.bzl
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/Cli.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/LedgerApiTestTool.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/Assertions.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/BenchmarkReporter.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/Envelope.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerTestCasesRunner.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/Reporter.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/PackageManagementServiceIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/PartyManagementServiceIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/PerformanceEnvelope.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/TransactionServiceIT.scala
  ledger/participant-state/kvutils/BUILD.bazel
  runtime-components/non-repudiation-postgresql/BUILD.bazel
  runtime-components/non-repudiation-postgresql/src/test/scala/com/daml/nonrepudiation/postgresql/NonRepudiationProxyConformance.scala
Labels: automerge

#8870 Release SDK 1.10.0
  LATEST
Labels: Standard-Change

#8877 Switch canton pruning test to be manual rather than disabling it
  ledger/ledger-api-test-tool-on-canton/BUILD.bazel
Labels: automerge

#8881 Fixup scala 2.13 check
  ci/build.yml
Labels: automerge

#8885 Stop pretending strings are booleans
  ci/build.yml
Labels: automerge

#8880 Release a new snapshot
  LATEST
Labels: Standard-Change

#8871 daml-lf: Hand-rolled loops.
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
Labels: automerge

#8893 Limit SDK/platform tests to the SDK HEAD
  compatibility/BUILD
Labels: automerge

#8878 Refactor speedy code for begin/end exercise
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Anf.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
Labels: automerge, component/daml-engine

#8895 Small speedy cleanups
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Anf.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
Labels: component/daml-engine

#8897 Rename tryCatchRaw to _tryCatch.
  compiler/damlc/daml-stdlib-src/DA/Internal/Exception.daml
Labels: automerge

#8903 Backport change to scala.bzl
  bazel_tools/scala_version.bzl
Labels: automerge

#8902 1.10.1 release
  LATEST
Labels: Standard-Change, automerge

#8904 Backport Daml Driver for PostgreSQL additional startup options to main
  ledger/daml-on-sql/README.rst
  ledger/daml-on-sql/src/main/scala/on/sql/Cli.scala
  ledger/daml-on-sql/src/main/scala/on/sql/Main.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/SandboxMain.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/SandboxServer.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/sql/SqlLedger.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/sql/SqlStartMode.scala
  ledger/sandbox-classic/src/test/lib/scala/platform/sandbox/LedgerResource.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/stores/ledger/sql/SqlLedgerSpec.scala
  ledger/sandbox-common/src/main/scala/platform/sandbox/config/PostgresStartupMode.scala
  ledger/sandbox-common/src/main/scala/platform/sandbox/config/SandboxConfig.scala
Labels: automerge

#8516 non-empty newtypes
  ledger-service/db-backend/BUILD.bazel
  ledger-service/db-backend/src/main/scala/com/digitalasset/http/dbbackend/Queries.scala
  ledger-service/db-backend/src/test/scala/com/digitalasset/http/dbbackend/QueriesSpec.scala
  libs-scala/scala-utils/BUILD.bazel
  libs-scala/scala-utils/src/main/2.12/scalautil/nonempty/NonEmptyCollCompat.scala
  libs-scala/scala-utils/src/main/2.13/scalautil/nonempty/NonEmptyCollCompat.scala
  libs-scala/scala-utils/src/main/scala/com/daml/scalautil/nonempty/NonEmpty.scala
  libs-scala/scala-utils/src/main/scala/com/daml/scalautil/nonempty/NonEmptyReturningOps.scala
  libs-scala/scala-utils/src/main/scala/com/daml/scalautil/nonempty/Patterns.scala
  libs-scala/scala-utils/src/main/scala/com/daml/scalautil/nonempty/package.scala
  libs-scala/scala-utils/src/test/scala/com/daml/scalautil/nonempty/NonEmptySpec.scala
Labels: component/json-api

#8911 Stream stdout of verify_signatures
  ci/cron/src/Main.hs
Labels: automerge

#8912 Factor out utilities from com.daml.script.dump.Main
  daml-script/dump/src/main/scala/com/daml/script/dump/Dump.scala
  daml-script/dump/src/main/scala/com/daml/script/dump/LedgerUtils.scala
  daml-script/dump/src/main/scala/com/daml/script/dump/Main.scala
  daml-script/dump/src/main/scala/com/daml/script/dump/TreeUtils.scala
Labels: automerge

#8914 Use ContractId and Party types instead of plain String
  daml-script/dump/src/main/scala/com/daml/script/dump/Dump.scala
  daml-script/dump/src/main/scala/com/daml/script/dump/Encode.scala
  daml-script/dump/src/main/scala/com/daml/script/dump/LedgerUtils.scala
  daml-script/dump/src/main/scala/com/daml/script/dump/TreeUtils.scala
  daml-script/dump/src/test/scala/com/daml/script/dump/EncodeCreatedSpec.scala
  daml-script/dump/src/test/scala/com/daml/script/dump/EncodeTreeSpec.scala
  daml-script/dump/src/test/scala/com/daml/script/dump/EncodeValueSpec.scala
Labels: automerge

#8915 Fix and simplify readActiveContracts in Java codegen tests
  language-support/java/codegen/src/ledger-tests/scala/com/digitalasset/TestUtil.scala
Labels: automerge

#8907 Distinct before fetching parties in `allocateMissingInformees`
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiSubmissionService.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/services/ApiSubmissionServiceSpec.scala
Labels: automerge

#8930 skip Oracle test on forks
  ci/build.yml
  ci/prs.yml
Labels: automerge

#8931 Run PR build on notices updates
  ci/cron/daily-compat.yml
Labels: automerge

#8936 Sort Daml REPL options to clean up --help
  compiler/damlc/lib/DA/Cli/Damlc.hs
Labels: automerge

#8922 document HasField
  compiler/damlc/daml-stdlib-src/DA/Internal/Record.daml
  docs/scripts/preview.sh
Labels: automerge

#8938 cheat-sheet: update to newest version
  deps.bzl
Labels: automerge

#8939 readme: send to discuss instead of so
  README.md
Labels: automerge

#8943 Merge Maven uploads for different Scala versions
  bazel_tools/scala_version.bzl
  ci/build-unix.yml
  ci/build.yml
  libs-haskell/test-utils/BUILD.bazel
  libs-haskell/test-utils/DA/Test/Util.hs
  release/BUILD.bazel
  release/src/Main.hs
  release/src/Options.hs
  release/src/Util.hs
Labels: automerge

#8945 Snapshot release attempt 2
  LATEST
Labels: Standard-Change

#8951 Fix Scala release process again
  release/src/Main.hs
Labels: automerge

#8953 hopefully release 2.12
  LATEST
Labels: Standard-Change

#8957 Temporarily cut compatibility tests with incompatible versions of Daml-LF
  compatibility/bazel_tools/testing.bzl
Labels: automerge

#8952 Avoid submitTree for a sequence of creates
  daml-script/dump/src/main/scala/com/daml/script/dump/Encode.scala
  daml-script/dump/src/test/scala/com/daml/script/dump/EncodeCreatedSpec.scala
  daml-script/dump/src/test/scala/com/daml/script/dump/EncodeTreeSpec.scala
Labels: automerge

#8950 Fix closure references in Daml Repl
  compiler/damlc/tests/src/DA/Test/Repl/FuncTests.hs
  compiler/repl-service/protos/repl_service.proto
  compiler/repl-service/server/BUILD.bazel
  compiler/repl-service/server/src/main/scala/com/digitalasset/daml/lf/speedy/ReplServiceMain.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/iterable/SExprIterable.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/iterable/SValueIterable.scala
Labels: automerge

#8961 Helpers to create test ACS and TransactionTree
  daml-script/dump/src/test/scala/com/daml/script/dump/EncodeCreatedSpec.scala
  daml-script/dump/src/test/scala/com/daml/script/dump/EncodeTreeSpec.scala
  daml-script/dump/src/test/scala/com/daml/script/dump/TestData.scala
  daml-script/dump/src/test/scala/com/daml/script/dump/TreeReferencedCidsSpec.scala
Labels: automerge

#8963 Upgrade canton to 0.21.0 which supports lf-version 1.11
  WORKSPACE
  ledger/ledger-api-test-tool-on-canton/BUILD.bazel
  ledger/ledger-api-test-tool-on-canton/canton.conf
Labels: automerge
