Repository digital-asset/daml, pull requests merged in 2021-05, with the labels that each got.

#9550 Improve script errors when the endpoint is not the JSON API
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ledgerinteraction/JsonLedgerClient.scala
  daml-script/test/BUILD.bazel
  daml-script/test/src/com/digitalasset/daml/lf/engine/script/test/JsonApiIt.scala
Labels: automerge

#9551 Release another 1.13.0 snapshot
  LATEST
Labels: Standard-Change

#9557 Remove a couple of warts
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
Labels: automerge

#9558 Use common compiler plugins and options for the `scaladoc_jar` rule
  bazel_tools/scala.bzl
Labels: automerge

#9553 Handle references to missing contracts
  daml-script/export/BUILD.bazel
  daml-script/export/src/it/scala/com/daml/script/export/IT.scala
  daml-script/export/src/main/scala/com/daml/script/export/Encode.scala
  daml-script/export/src/main/scala/com/daml/script/export/Export.scala
  docs/source/tools/export.rst
Labels: automerge

#9552 LF ValueGenerators: fix transaction version generator
  daml-lf/transaction-test-lib/src/main/scala/lf/value/test/ValueGenerators.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionCoderSpec.scala
Labels: component/daml-engine

#9564 Fix numeric docs for shift and add a few tests
  compiler/damlc/daml-stdlib-src/DA/BigNumeric.daml
  compiler/damlc/tests/daml-test-files/BigNumeric.daml
Labels: automerge

#9556 add Victor to app-runtime
  infra/data_bucket.tf
  release/rotation
Labels: Standard-Change

#9570 Fix typo in daml-sdk-head
  dev-env/bin/daml-sdk-head
Labels: automerge

#9566 Remove rollback todo from ScenarioLedger
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/scenario/ScenarioLedger.scala
Labels: automerge

#9560 log all external requests at an info level
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiActiveContractsService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiCommandCompletionService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiLedgerConfigurationService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiLedgerIdentityService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiPackageService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiTimeService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/transaction/ApiTransactionService.scala
Labels: automerge

#9538 Cache global key inputs
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/tests/Exceptions.daml
Labels: automerge

#9568 Accept a comma-separated list of parties for daml ledger export
  daml-script/export/src/main/scala/com/daml/script/export/Config.scala
  daml-script/export/src/main/scala/com/daml/script/export/LedgerUtils.scala
  daml-script/export/src/test/scala/com/daml/script/export/ConfigSpec.scala
Labels: automerge

#9571 Disable migration tests on macos on PRs
  compatibility/BUILD
Labels: automerge

#9574 Release yet another 1.13 snapshot
  LATEST
Labels: Standard-Change, automerge

#9580 LF: make SBuiltins pure
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SpeedyTest.scala
Labels: automerge, component/daml-engine

#9584 Support rollback nodes in replay adapter
  ledger/participant-state/kvutils/tools/engine-replay/src/replay/scala/ledger/participant/state/kvutils/tools/engine/replay/Adapter.scala
Labels: automerge

#9581 Add logging command line option to ledger http service, fixes #7198
  daml-script/test/src/com/digitalasset/daml/lf/engine/script/test/JsonApiIt.scala
  ledger-service/http-json-cli/BUILD.bazel
  ledger-service/http-json-cli/src/main/scala/com/daml/http/Config.scala
  ledger-service/http-json-cli/src/main/scala/com/daml/http/OptionParser.scala
  ledger-service/http-json-cli/src/main/scala/com/daml/http/StartSettings.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Main.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/CliSpec.scala
Labels: automerge

#9572 LF: SBUKeyBuiltin clean up.
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
Labels: component/daml-engine

#9546 Only archive a key if it was brought into scope before
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/tests/Exceptions.daml
  daml-lf/tests/MultiKeys.daml
Labels: automerge

#9596 Drop com.daml.lf.engine.Event.collectEvents
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Event.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
Labels: automerge

#9592 Refactor out setGlobalLogLevel into ContextualLogging
  ledger-service/cli-opts/BUILD.bazel
  ledger-service/cli-opts/src/main/scala/cliopts/GlobalLogLevel.scala
  ledger-service/cli-opts/src/main/scala/cliopts/Logging.scala
  ledger-service/http-json-cli/src/main/scala/com/daml/http/OptionParser.scala
  ledger-service/http-json/BUILD.bazel
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Main.scala
  ledger/daml-on-sql/BUILD.bazel
  ledger/daml-on-sql/src/main/scala/on/sql/Main.scala
  ledger/sandbox-classic/BUILD.bazel
  ledger/sandbox-classic/src/main/scala/platform/sandbox/SandboxMain.scala
  ledger/sandbox-common/BUILD.bazel
  ledger/sandbox-common/src/main/scala/platform/sandbox/cli/CommonCliBase.scala
  ledger/sandbox/BUILD.bazel
  ledger/sandbox/src/main/scala/platform/sandboxnext/Main.scala
Labels: automerge

#9509 DPP-359 Add indexer flow level benchmark
  ledger/indexer-benchmark/BUILD.bazel
  ledger/indexer-benchmark/README.md
  ledger/indexer-benchmark/src/app/scala/ledger/indexerbenchmark/Main.scala
  ledger/indexer-benchmark/src/main/resources/logback.xml
  ledger/indexer-benchmark/src/main/scala/ledger/indexerbenchmark/Config.scala
  ledger/indexer-benchmark/src/main/scala/ledger/indexerbenchmark/IndexerBenchmark.scala
Labels: automerge

#9602 Mark reset service tests as flaky
  ledger/sandbox-classic/BUILD.bazel
  ledger/sandbox/BUILD.bazel
Labels: automerge

#9603 participant-integration-api: Avoid the serial EC in integration testing.
  ledger/participant-integration-api/src/main/scala/platform/apiserver/ApiServices.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/LedgerConfigProvider.scala
Labels: automerge

#9600 Filter divulgence to an empty set of parties
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/BlindingSpec.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/ledger/BlindingTransaction.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/BlindingInfo.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/index/TransactionConversionSpec.scala
Labels: automerge

#9598 Adapt indexer to empty divulgences
  ledger/participant-integration-api/src/main/scala/platform/store/backend/UpdateToDBDTOV1.scala
Labels: automerge

#9595 Remove builtin exception types from protobuf and ASTs.
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Base.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Pretty.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Util.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/DecodeV1.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/EncodeV1.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/Simplifier.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Check.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Serializability.hs
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/DataDependencies.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion/Primitives.hs
  compiler/damlc/daml-stdlib-src/DA/Internal/Exception.daml
  daml-lf/archive/src/main/protobuf/com/daml/daml_lf_dev/daml_lf_1.proto
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV1Spec.scala
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/reader/InterfaceReader.scala
  daml-lf/interface/src/test/scala/com/digitalasset/daml/lf/iface/TypeSpec.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ExceptionTest.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/TypeOrdering.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Util.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ExprParser.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/TypeParser.scala
  daml-lf/parser/src/test/scala/com/digitalasset/daml/lf/testing/parser/ParsersSpec.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Serializability.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/TypingSpec.scala
Labels: automerge

#9611 Upgrade grunt to address cve
  package.json
  yarn.lock
Labels: automerge

#9610 Move activeness check of globalKeyInputs into archive
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
Labels: automerge

#9616 Introduce SINCE-LF-FEATURE in integration tests.
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  compiler/damlc/tests/daml-test-files/ExceptionDataType.daml
  compiler/damlc/tests/daml-test-files/ExceptionDesugared.daml
  compiler/damlc/tests/daml-test-files/ExceptionMultipleMessage.daml
  compiler/damlc/tests/daml-test-files/ExceptionSemantics.daml
  compiler/damlc/tests/daml-test-files/ExceptionSyntax.daml
  compiler/damlc/tests/daml-test-files/ExceptionTryCatch.daml
  compiler/damlc/tests/src/DA/Test/DamlcIntegration.hs
Labels: automerge

#9608 Unwind partial transaction on mustFail
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/tests/scenario/actualize.sh
  daml-lf/tests/scenario/stable/mustfailcommit/EXPECTED.ledger
  daml-lf/tests/scenario/stable/mustfailcommit/Test.daml
  daml-lf/tests/scenario/stable/mustfailinterpretation/EXPECTED.ledger
  daml-lf/tests/scenario/stable/mustfailinterpretation/Test.daml
  daml-lf/tests/scenario/stable/mustfails/EXPECTED.ledger
Labels: automerge

#9587 LF: extends LF command with Fetch and Lookup
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/CommandPreprocessor.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/Preprocessor.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/TransactionPreprocessor.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ContractDiscriminatorFreshnessCheckSpec.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/LargeTransactionTest.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/command/Command.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Converter.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ScriptF.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ledgerinteraction/GrpcLedgerClient.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ledgerinteraction/IdeLedgerClient.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ledgerinteraction/JsonLedgerClient.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ledgerinteraction/ScriptLedgerClient.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/ledger/api/validation/CommandsValidator.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/KVTest.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/SimplePackage.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/KVUtilsTransactionSpec.scala
Labels: component/daml-engine

#9607 Add duplicate contract key checks to Speedy
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/EngineConfig.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Error.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SError.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/PartialTransactionSpec.scala
  daml-lf/tests/MultiKeys.daml
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/GlobalKey.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiSubmissionService.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/services/ApiSubmissionServiceSpec.scala
  ledger/participant-state/kvutils/app/BUILD.bazel
  ledger/sandbox/BUILD.bazel
Labels: automerge

#9624 sandbox-on-x: Support `beginAfter` in state updates.
  ledger/sandbox-on-x/src/main/scala/com/daml/ledger/sandbox/ReadWriteServiceBridge.scala
Labels: automerge

#9605 LF: refactor builtin exceptions in Speedy
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SError.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/iterable/SExprIterable.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/iterable/SValueIterable.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/svalue/Equality.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ExceptionTest.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
Labels: component/daml-engine

#9641 Check byKey in transaction validation
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/TransactionPreprocessor.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Validation.scala
Labels: automerge

#9640 Block concurrent SDK installations.
  bazel-haskell-deps.bzl
  daml-assistant/BUILD.bazel
  daml-assistant/src/DA/Daml/Assistant/Install.hs
  stackage_snapshot.json
  stackage_snapshot_windows.json
Labels: automerge

#9650 Release SDK 1.13.0
  LATEST
Labels: Standard-Change, automerge

#9652 Update date on code owners in RELEASE.md
  release/RELEASE.md
Labels: automerge

#9651 Drop version check from TransactionPreprocessor
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/TransactionPreprocessor.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ContractDiscriminatorFreshnessCheckSpec.scala
Labels: automerge

#9655 Fix update metrics population in parallel indexer
  ledger/participant-integration-api/src/main/scala/platform/indexer/parallel/ParallelIndexerFactory.scala
Labels: automerge

#9627 Remove version field from rollback node.
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ValueEnricher.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/transaction-test-lib/src/main/scala/lf/transaction/test/TransactionBuilder.scala
  daml-lf/transaction-test-lib/src/main/scala/lf/value/test/ValueGenerators.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Node.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionCoder.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionVersion.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Validation.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionCoderSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionSpec.scala
Labels: automerge, component/daml-engine

#9657 Update error message in interface reader.
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/reader/InterfaceReader.scala
Labels: automerge

#9672 Rename CorrelationID to InstanceUUID as it has been used wrongly.
  daml-script/test/src/com/digitalasset/daml/lf/engine/script/test/JsonApiIt.scala
  ledger-service/http-json-testing/src/main/scala/com/daml/http/HttpServiceTestFixture.scala
  ledger-service/http-json/src/it/scala/http/AuthorizationTest.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTest.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/CommandService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsFetch.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/LedgerClientJwt.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Main.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/PackageManagementService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/PackageService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/StaticContentEndpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebsocketEndpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/util/Logging.scala
Labels: automerge

#9673 restore performant join and avoid unnecessary table aliasing in participant contract…
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/ContractsReader.scala
Labels: automerge

#9675 Release 1.13.1 snapshot
  LATEST
Labels: Standard-Change, automerge

#9678 Rerelease 1.13.1 snapshot
  LATEST
Labels: Standard-Change, automerge

#9682 LF: clean compilation of SToTextXXX builtins
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
Labels: component/daml-engine

#9696 Release SDK 1.13.1
  LATEST
Labels: Standard-Change, automerge

#9698 Drop sanitize, add MagicHash in data-dependencies.
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/DataDependencies.hs
Labels: automerge

#9679 Never create a rollback node containing pre-exception descendants.
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ExceptionTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/PartialTransactionSpec.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/RollbackTest.scala
Labels: automerge, component/daml-engine

#9701 Fix client_server_build/test with port file
  bazel_tools/client_server/runner/BUILD.bazel
  bazel_tools/client_server/runner/Main.hs
  ledger/participant-integration-api/src/main/scala/platform/apiserver/StandaloneApiServer.scala
Labels: automerge

#9628 Simplify kvutils contract keys validation [KVL-911]
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/keys/ContractKeysValidation.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/keys/KeyConsistencyValidation.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/keys/KeyUniquenessValidation.scala
Labels: automerge

#9697 Fix MutableCacheBackedContractStoreSpec flakiness
  ledger/participant-integration-api/src/test/suite/scala/platform/store/cache/MutableCacheBackedContractStoreSpec.scala
Labels: automerge

#9703 Use new exception builtins in stdlib.
  compiler/damlc/daml-stdlib-src/DA/Internal/Exception.daml
Labels: automerge

#9707 Fix simplifier safety for AnyExceptionMessage
  compiler/daml-lf-tools/src/DA/Daml/LF/Simplifier.hs
Labels: automerge

#9699 Switch Scala default to 2.13
  BAZEL-JVM.md
  BAZEL.md
  azure-pipelines.yml
  bazel_tools/scala_version.bzl
  ci/build-unix.yml
  ci/build.yml
  compatibility/WORKSPACE
  compatibility/maven_install.json
  compatibility/sandbox-migration/BUILD
  compatibility/sandbox-migration/src/com/daml/JsonProtocol.scala
  nix/default.nix
Labels: automerge

#9702 DA.BigNumeric: Split shift, add roundToNumeric.
  compiler/damlc/daml-stdlib-src/DA/BigNumeric.daml
  compiler/damlc/tests/daml-test-files/BigNumeric.daml
Labels: automerge

#9704 LF: clean shifting BigNumeric builtin
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Pretty.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/DecodeV1.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/EncodeV1.hs
  daml-lf/archive/src/main/protobuf/com/daml/daml_lf_1_13/daml_lf_1.proto
  daml-lf/archive/src/main/protobuf/com/daml/daml_lf_dev/daml_lf_1.proto
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/ProtoTest.scala
  daml-lf/encoder/src/test/lf/Builtin_1.13_1.dev_.lf
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinBigNumericTest.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ExprParser.scala
  daml-lf/spec/daml-lf-1.rst
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
Labels: component/daml-lf

#9719 Release: Switch Andreas and me around in the release rotation.
  release/rotation
Labels: automerge

#9692 LF: Change error exception for Arithmetic builtins
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Base.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Pretty.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/DecodeV1.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/EncodeV1.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/Simplifier.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Check.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion/Primitives.hs
  compiler/damlc/daml-stdlib-src/DA/BigNumeric.daml
  compiler/damlc/tests/daml-test-files/PreludeTest.daml
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SError.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  daml-lf/tests/scenario/stable/eval-agreement/EXPECTED.ledger
Labels: component/daml-engine

#9722 Upgrade canton to 0.24.0
  deps.bzl
  ledger/ledger-api-test-tool-on-canton/BUILD.bazel
Labels: automerge

#9728 Compiler: drop BEToTextBigNumeric in favor of BEToText
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Base.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Pretty.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/DecodeV1.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/EncodeV1.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/Simplifier.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Check.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion/Primitives.hs
  compiler/damlc/daml-prim-src/GHC/Show.daml
Labels: automerge

#9693 Dpp 391 todo cleanup store backend
  ledger/participant-integration-api/src/main/scala/platform/store/backend/DBDTOV1.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/StorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/UpdateToDBDTOV1.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/RawDBBatchPostgreSQLV1.scala
  libs-scala/scala-utils/src/main/scala/com/daml/scalautil/NeverEqualsOverride.scala
Labels: automerge

#9714 Upgrade gatling to version 3.5.1
  bazel-java-deps.bzl
  ledger-service/http-json-perf/BUILD.bazel
  ledger-service/http-json-perf/src/main/scala/com/daml/http/perf/Main.scala
  libs-scala/gatling-utils/BUILD.bazel
  libs-scala/gatling-utils/src/main/scala/com/daml/gatling/stats/SimulationLog.scala
  libs-scala/gatling-utils/src/main/scala/com/daml/gatling/stats/SimulationLogSyntax.scala
  libs-scala/gatling-utils/src/main/scala/com/daml/gatling/stats/util/ReadFileSyntax.scala
  libs-scala/gatling-utils/src/main/scala/io/gatling/app/CustomRunner.scala
  libs-scala/gatling-utils/src/test/resources/simulation-log/assertions.json
  libs-scala/gatling-utils/src/test/resources/simulation-log/expected.csv
  libs-scala/gatling-utils/src/test/resources/simulation-log/minimal.txt
  libs-scala/gatling-utils/src/test/resources/simulation-log/missing-error-message.txt
  libs-scala/gatling-utils/src/test/resources/simulation-log/multiple-requests.txt
  libs-scala/gatling-utils/src/test/resources/simulation-log/multiple-run.txt
  libs-scala/gatling-utils/src/test/resources/simulation-log/multiple-scenarios-expected-csv.csv
  libs-scala/gatling-utils/src/test/resources/simulation-log/multiple-scenarios.txt
  libs-scala/gatling-utils/src/test/resources/simulation-log/no-request.txt
  libs-scala/gatling-utils/src/test/resources/simulation-log/no-run.txt
  libs-scala/gatling-utils/src/test/resources/simulation-log/no-user.txt
  libs-scala/gatling-utils/src/test/resources/simulation-log/stats.json
  libs-scala/gatling-utils/src/test/resources/simulation-log/with-unknown-entries.txt
  libs-scala/gatling-utils/src/test/scala/com/daml/gatling/stats/DurationStatisticsSpec.scala
  libs-scala/gatling-utils/src/test/scala/com/daml/gatling/stats/SimulationLogSpec.scala
  maven_install_2.12.json
  maven_install_2.13.json
Labels: automerge

#9709 Split DA.Internal.Exception.Types into three packages.
  compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
  compiler/damlc/daml-preprocessor/src/DA/Daml/Preprocessor.hs
  compiler/damlc/daml-prim-src/DA/Exception/ArithmeticError.daml
  compiler/damlc/daml-prim-src/DA/Exception/ContractError.daml
  compiler/damlc/daml-prim-src/DA/Exception/GeneralError.daml
  compiler/damlc/daml-prim-src/GHC/Err.daml
  compiler/damlc/daml-prim-src/LibraryModules.daml
  compiler/damlc/daml-stdlib-src/DA/Internal/Exception.daml
  compiler/damlc/lib/DA/Cli/Damlc/Packaging.hs
  compiler/damlc/stable-packages/BUILD.bazel
  compiler/damlc/stable-packages/src/GenerateStablePackage.hs
  compiler/damlc/tests/src/DA/Test/DataDependencies.hs
  compiler/damlc/tests/src/stable-packages.sh
  compiler/scenario-service/client/src/DA/Daml/LF/PrettyScenario.hs
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DarReaderTest.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/CommandServiceIT.scala
Labels: automerge

#9721 LF: Drop support of TO_QUOTED_TEXT_PARTY
  compiler/damlc/daml-stdlib-src/DA/Internal/LF.daml
  daml-lf/archive/src/main/protobuf/com/daml/daml_lf_dev/daml_lf_1.proto
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/spec/daml-lf-1.rst
Labels: component/daml-lf

#9396 Add a ledger model page for exceptions.
  docs/source/concepts/ledger-model/images/exception-daml-example.svg
  docs/source/concepts/ledger-model/images/exception-integrity-continuity-1.svg
  docs/source/concepts/ledger-model/images/exception-integrity-continuity-2.svg
  docs/source/concepts/ledger-model/images/exception-integrity-continuity-3.svg
  docs/source/concepts/ledger-model/images/exception-projection-example.svg
  docs/source/concepts/ledger-model/images/exception-structure-example-nested.svg
  docs/source/concepts/ledger-model/images/exception-structure-example.svg
  docs/source/concepts/ledger-model/index.rst
  docs/source/concepts/ledger-model/ledger-exceptions.rst
Labels: automerge

#9733 Parallelize the data-dependencies test.
  compiler/damlc/tests/BUILD.bazel
  compiler/damlc/tests/src/DA/Test/DataDependencies.hs
Labels: automerge

#9716 LF: rename conversion builtins
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Pretty.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/DecodeV1.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/EncodeV1.hs
  compiler/damlc/daml-stdlib-src/DA/Internal/LF.daml
  daml-lf/archive/src/main/protobuf/com/daml/daml_lf_dev/daml_lf_1.proto
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV1Spec.scala
  daml-lf/encoder/src/test/lf/Builtin_1.13_1.dev_.lf
  daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/archive/testing/EncodeV1Spec.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/InterpreterTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinBigNumericTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ExprParser.scala
  daml-lf/parser/src/test/scala/com/digitalasset/daml/lf/testing/parser/ParsersSpec.scala
  daml-lf/spec/daml-lf-1.rst
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/PartyLiteralsSpec.scala
Labels: automerge, component/daml-lf

#9732 Add golden test for example Daml ledger export
  bazel_tools/client_server/client_server_build.bzl
  bazel_tools/client_server/tests/BUILD.bazel
  bazel_tools/sh/sh.bzl
  daml-script/export/BUILD.bazel
  daml-script/export/src/example-export/scala/com/daml/script/export/ExampleClient.scala
  daml-script/export/src/main/scala/com/daml/script/export/Config.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/RunnerMain.scala
  docs/BUILD.bazel
  docs/source/index.rst
  docs/source/tools/export/index.rst
  docs/source/tools/export/output-root/Export.daml
  docs/source/tools/export/output-root/args.json
  docs/source/tools/export/output-root/daml.yaml
  ledger/participant-state/kvutils/BUILD.bazel
Labels: automerge

#9726 Engine: clean conversion builtin names
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV1Spec.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ExprParser.scala
  daml-lf/parser/src/test/scala/com/digitalasset/daml/lf/testing/parser/ParsersSpec.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
Labels: automerge, component/daml-engine

#9748 Fix flakiness in hot reload tests
  daml-assistant/integration-tests/BUILD.bazel
  daml-assistant/integration-tests/src/DA/Daml/Assistant/IntegrationTests.hs
Labels: automerge

#9753 Extend ConfigManagementServiceIT with tests on generation checking
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/ConfigManagementServiceIT.scala
Labels: automerge

#9669 ledger-service, navigator: Damlification of Scala files
  ledger-service/http-json/src/main/scala/com/digitalasset/http/EndpointsCompanion.scala
  ledger-service/lf-value-json/src/main/scala/com/digitalasset/daml/lf/value/json/ApiCodecCompressed.scala
  ledger-service/lf-value-json/src/main/scala/com/digitalasset/daml/lf/value/json/NavigatorModelAliases.scala
  ledger-service/lf-value-json/src/test/scala/com/digitalasset/daml/lf/value/json/ApiCodecCompressedSpec.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/graphql/JsonType.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/json/DamlLfCodec.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/model/Model.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/model/PackageRegistry.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/model/package.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/store/platform/PlatformStore.scala
  navigator/backend/src/test/scala/com/digitalasset/navigator/backend/DamlConstants.scala
  navigator/backend/src/test/scala/com/digitalasset/navigator/backend/json/DamlLfCodecSpec.scala
  navigator/backend/src/test/scala/com/digitalasset/navigator/backend/model/ModelSpec.scala
  navigator/integration-test/src/main/scala/com/digitalasset/navigator/test/runner/HeadDamli.scala
  navigator/integration-test/src/main/scala/com/digitalasset/navigator/test/runner/PackagedDamlc.scala
Labels: automerge

#9667 ledger: Damlification of Scala files
  ledger/daml-on-sql/src/main/scala/on/sql/package.scala
  ledger/ledger-api-auth/src/app/scala/com/daml/ledger/api/auth/Main.scala
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/Claims.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/ledger/api/validation/CommandsValidator.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/participant/util/LfEngineToApi.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/store/serialization/KeyHasher.scala
  ledger/ledger-api-domain/src/main/scala/com/digitalasset/ledger/api/domain.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/Cli.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/LedgerApiTestTool.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/SemanticTests.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/TransactionServiceIT.scala
  ledger/participant-integration-api/src/main/scala/db/migration/postgres/V2_1__Rebuild_Acs.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/execution/StoreBackedCommandExecutor.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/IndexerConfig.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/LfValueTranslation.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/PostCommitValidation.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/TransactionsReader.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/LedgerDao.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/LfValueTranslation.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/PostCommitValidation.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/TransactionsReader.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoSuite.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/MetricsNamingSpec.scala
  ledger/participant-state-index/src/main/scala/com/daml/ledger/participant/state/index/v2/package.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Config.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/Err.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/KeyValueCommitting.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/Committer.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/PackageValidationMode.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/TransactionCommitter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/package.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/CommitStrategy.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/batch/BatchedSubmissionValidator.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/reading/HasDamlStateValue.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/KVUtilsTransactionSpec.scala
  ledger/participant-state/kvutils/tools/codec-benchmark/src/benchmark/scala/com/daml/lf/benchmark/package.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/SubmitterInfo.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/TransactionMeta.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/WritePackagesService.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/WriteService.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/package.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/SandboxServer.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/stores/ledger/sql/SqlLedgerSpec.scala
  ledger/sandbox-common/src/test/lib/scala/platform/sandbox/services/TestCommands.scala
  ledger/sandbox/src/test/suite/scala/platform/sandboxnext/services/completion/CompletionServiceWithEmptyLedgerIT.scala
  ledger/sandbox/src/test/suite/scala/platform/sandboxnext/services/configuration/ConfigurationServiceWithEmptyLedgerIT.scala
Labels: automerge

#9755 Disable per commit windows compat tests
  ci/build.yml
Labels: automerge

#9747 Make DA.Assert throw AssertionFailed instead of GeneralError
  compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
  compiler/damlc/daml-preprocessor/src/DA/Daml/Preprocessor.hs
  compiler/damlc/daml-prim-src/DA/Exception/AssertionFailed.daml
  compiler/damlc/daml-prim-src/LibraryModules.daml
  compiler/damlc/daml-stdlib-src/DA/Assert.daml
  compiler/damlc/daml-stdlib-src/DA/Internal/Assert.daml
  compiler/damlc/daml-stdlib-src/DA/Internal/Exception.daml
  compiler/damlc/lib/DA/Cli/Damlc/Packaging.hs
  compiler/damlc/stable-packages/BUILD.bazel
  compiler/damlc/stable-packages/lib/DA/Daml/StablePackages.hs
  compiler/damlc/tests/daml-test-files/ExceptionAssert.daml
  compiler/damlc/tests/daml-test-files/ExceptionCatchError.daml
  compiler/damlc/tests/src/stable-packages.sh
  daml-script/daml/Daml/Script.daml
  daml-script/test/daml-script-test-runner.sh
  triggers/tests/scenarios/Rule.daml
Labels: automerge

#9746 Fix consumedBy in rollback nodes for scenario service
  compiler/damlc/tests/BUILD.bazel
  compiler/damlc/tests/src/DA/Test/ScriptService.hs
  compiler/scenario-service/client/src/DA/Daml/LF/PrettyScenario.hs
  compiler/scenario-service/protos/scenario_service.proto
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/scenario/ScenarioLedger.scala
Labels: automerge

#9761 LF: change format of ArithmeticError message
  compiler/damlc/tests/daml-test-files/PreludeTest.daml
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
  daml-lf/tests/scenario/stable/eval-agreement/EXPECTED.ledger
Labels: component/daml-lf

#9760 Throw ContractError in template precondition field
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion/UtilGHC.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion/UtilLF.hs
  compiler/damlc/tests/daml-test-files/ExceptionCreate.daml
  compiler/damlc/tests/daml-test-files/Precondition.daml
  compiler/damlc/tests/daml-test-files/SemanticsEvalOrder.daml
  compiler/scenario-service/client/src/DA/Daml/LF/PrettyScenario.hs
Labels: automerge

#9758 prepare for EV Windows signing
  azure-pipelines.yml
  ci/build-windows.yml
  infra/vsts_agent_windows.tf
Labels: Standard-Change

#9754 LF: Drop CONTRACT_ERROR
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Base.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Pretty.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/DecodeV1.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/EncodeV1.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/Simplifier.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Check.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion/Primitives.hs
  compiler/damlc/daml-stdlib-src/DA/Internal/Exception.daml
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/archive/src/main/protobuf/com/daml/daml_lf_dev/daml_lf_1.proto
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV1Spec.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/iterable/SExprIterable.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/iterable/SValueIterable.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/svalue/Equality.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/PartialTransactionSpec.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ExprParser.scala
  daml-lf/parser/src/test/scala/com/digitalasset/daml/lf/testing/parser/ParsersSpec.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/TypingSpec.scala
Labels: automerge, component/daml-lf

#9771 fix test_windows_signing job name
  azure-pipelines.yml
Labels: automerge

#9772 fix signing machine
  infra/vsts_agent_windows.tf
Labels: Standard-Change

#9773 test_windows_signing: add quotes
  azure-pipelines.yml
Labels: automerge

#9770 Makes sandbox-classic compression configurable
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/JdbcLedgerDao.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/SandboxServer.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/SandboxIndexAndWriteService.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/sql/SqlLedger.scala
  ledger/sandbox-common/src/main/scala/platform/sandbox/cli/CommonCliBase.scala
  ledger/sandbox-common/src/main/scala/platform/sandbox/config/SandboxConfig.scala
Labels: automerge

#9762 Make use of nameOf for naming telemetry traces in participant-integration-api
  ledger/participant-integration-api/BUILD.bazel
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/TransactionsReader.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/TransactionsReader.scala
  ledger/participant-integration-api/src/main/scala/platform/store/utils/Telemetry.scala
  libs-scala/nameof/BUILD.bazel
  libs-scala/nameof/src/main/scala/com/digitalasset/nameof/NameOf.scala
  libs-scala/nameof/src/main/scala/com/digitalasset/nameof/NameOfImpl.scala
  libs-scala/nameof/src/test/suite/resources/logback.xml
  libs-scala/nameof/src/test/suite/scala/com/digitalasset/logging/NameOfSpec.scala
Labels: automerge

#9776 test_windows_signing: install for u
  azure-pipelines.yml
  infra/vsts_agent_windows.tf
Labels: Standard-Change, automerge

#9779 fix azuresigntool invocation
  azure-pipelines.yml
Labels: automerge

#9780 debug signtool on main
  azure-pipelines.yml
Labels: automerge

#9786 new windows signing
  azure-pipelines.yml
  ci/build-windows.yml
  ci/copy-windows-release-artifacts.sh
  infra/vsts_agent_windows.tf
Labels: Standard-Change

#9712 Normalize rollback nodes when a transaction is constructed
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/Trampoline.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Anf.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/NormalizeRollbacks.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/NormalizeRollbacksSpec.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/RollbackTest.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionVersion.scala
Labels: automerge, component/daml-engine

#9798 Publish nameof library
  bazel_tools/pom_file.bzl
  bazel_tools/scala.bzl
  libs-scala/nameof/BUILD.bazel
  libs-scala/nameof/src/main/scala/com/digitalasset/nameof/NameOfImpl.scala
  release/artifacts.yaml
  release/src/Main.hs
Labels: automerge

#9800 Daml ledger export test - normalize SDK version
  daml-script/export/BUILD.bazel
Labels: automerge

#9801 release 1.14.0-snapshot.20210525.7017.0.2710fad0
  LATEST
Labels: Standard-Change

#9802 Parallelize daml-assistant integration tests.
  daml-assistant/integration-tests/BUILD.bazel
  daml-assistant/integration-tests/src/DA/Daml/Assistant/IntegrationTests.hs
  libs-haskell/test-utils/DA/Test/Process.hs
Labels: automerge

#9807 Add reference docs for exceptions
  docs/source/daml/code-snippets-dev/Exceptions.daml
  docs/source/daml/reference/exceptions.rst
  docs/source/daml/reference/index.rst
Labels: automerge

#9809 LF: fix parser
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ExprParser.scala
  daml-lf/parser/src/test/scala/com/digitalasset/daml/lf/testing/parser/ParsersSpec.scala
Labels: component/daml-engine

#9713 Upgrade protobuf-java and scalapb. [KVL-938]
  WORKSPACE
  bazel-java-deps.bzl
  bazel_tools/proto.bzl
  bazel_tools/scalapb.bzl
  bazel_tools/scalapb/BUILD.bazel
  bazel_tools/scalapb/com/daml/package.proto
  ledger/ledger-api-common/src/main/scala/com/digitalasset/ledger/api/validation/LedgerOffsetValidator.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/tracking/TrackerImpl.scala
  maven_install_2.12.json
  maven_install_2.13.json
  scala-protoc-plugins/scala-akka/AkkaGrpcServicePrinter.scala
  scala-protoc-plugins/scala-akka/AkkaStreamCompilerPlugin.scala
  scala-protoc-plugins/scala-akka/AkkaStreamGenerator.scala
  scala-protoc-plugins/scala-akka/BUILD.bazel
  scala-protoc-plugins/scalapb/BUILD.bazel
Labels: automerge

#9819 Speedy: Use SAny instead of SAnyException to reperesent AnyException
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SError.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/iterable/SExprIterable.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/iterable/SValueIterable.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/svalue/Equality.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ExceptionTest.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ScriptF.scala
Labels: automerge, component/daml-engine

#9829 Speedy: Clean SBuiltin
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
Labels: component/daml-engine

#9816 Ledger model section on transaction normalization.
  docs/source/concepts/ledger-model/images/exception-normalization-1.svg
  docs/source/concepts/ledger-model/images/exception-normalization-2.svg
  docs/source/concepts/ledger-model/ledger-exceptions.rst
Labels: automerge

#9815 Track oldChild in PartialTransaction context
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ExceptionTest.scala
Labels: automerge, component/daml-engine

#9825 [Mutable contract state cache] Tests for contract/key state new methods in ContractsReader
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoContractsAppendOnlySpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/dao/JdbcLedgerDaoPostgresqlAppendOnlySpec.scala
Labels: automerge

#9836 Enable mutable-contract-state-cache for ledger-on-SQL append-only tests
  ledger/ledger-on-sql/BUILD.bazel
Labels: automerge

#9845 Switch to our own nodes for releases
  azure-pipelines.yml
Labels: automerge

#9848 Switch Scala version Bazel config
  .bazelrc
  compatibility/.bazelrc
Labels: automerge

#9839 Uniform configuration of the command service across all ledgers
  daml-script/test/src/test-utils/com/daml/lf/engine/script/test/MultiParticipantFixture.scala
  ledger/participant-state/kvutils/app/BUILD.bazel
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Config.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/LedgerFactory.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/ParticipantConfig.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Runner.scala
  ledger/participant-state/kvutils/app/src/test/scala/com/daml/ledger/participant/state/kvutils/app/ConfigSpec.scala
Labels: automerge
