Repository digital-asset/daml, pull requests merged in 2021-08, with the labels that each got.

#10451 Tidy up braces and whitespace in `LedgerTimeAwareCommandExecutor`.
  ledger/participant-integration-api/src/main/scala/platform/apiserver/execution/LedgerTimeAwareCommandExecutor.scala
Labels: automerge

#10456 Build & releases 1.13 Ledger API test tool
  daml-lf/language/daml-lf.bzl
  ledger/ledger-api-test-tool/BUILD.bazel
  ledger/test-common/BUILD.bazel
  release/artifacts.yaml
Labels: automerge

#10453 LF: restrict length of Name and DottedName
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/IdString.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/Ref.scala
  daml-lf/data/src/test/scala/com/digitalasset/daml/lf/data/RefTest.scala
  daml-lf/spec/daml-lf-1.rst
Labels: component/daml-lf

#10454 KV: Fix KV's TransactionCommitter's rejection trace logs [KVL-1023]
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/Rejections.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/TransactionCommitter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/validation/LedgerTimeValidator.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/validation/ModelConformanceValidator.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/validation/TransactionConsistencyValidator.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/TimeBasedWriteSetSelector.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/validator/preexecution/WriteSetSelector.scala
Labels: automerge

#10455 participant-integration-api: Split LedgerConfigProvider into two, and add test cases. [KVL-1046]
  ledger/participant-integration-api/src/main/scala/platform/apiserver/ApiServices.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/configuration/CurrentLedgerConfiguration.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/configuration/IndexStreamingCurrentLedgerConfiguration.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/configuration/LedgerConfigProvider.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/configuration/LedgerConfigProvisioner.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiCommandService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiSubmissionService.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/configuration/IndexStreamingCurrentLedgerConfigurationSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/configuration/LedgerConfigProvisionerSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/services/ApiSubmissionServiceSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/services/LedgerConfigProviderSpec.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/SubmissionResult.scala
Labels: automerge

#10462 Append-only schema h2 database fix
  ledger/participant-integration-api/src/main/resources/db/migration/h2database-appendonly/V1__Append_only_schema.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/h2database-appendonly/V1__Append_only_schema.sql
Labels: automerge

#10460 Release a new 1.16.0 snapshot
  LATEST
Labels: Standard-Change

#10447 Fix deprecated buf command-line parameterization [KVL-980]
  fmt.sh
Labels: automerge

#10465 Remove unstable marker for append-only features
  ledger/ledger-on-sql/BUILD.bazel
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Config.scala
Labels: automerge

#10461 participant-integration-api: Use `Scheduler`, and add more tests to configuration initialization. [KVL-1046]
  ledger/participant-integration-api/BUILD.bazel
  ledger/participant-integration-api/src/main/scala/platform/apiserver/ApiServices.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/configuration/IndexStreamingCurrentLedgerConfiguration.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/configuration/LedgerConfigProvider.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/configuration/LedgerConfigProvisioner.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/configuration/IndexStreamingCurrentLedgerConfigurationSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/configuration/LedgerConfigProvisionerSpec.scala
  libs-scala/resources-akka/src/main/scala/com/digitalasset/resources/akka/AkkaResourceOwnerFactories.scala
  libs-scala/resources-akka/src/main/scala/com/digitalasset/resources/akka/CancellableResourceOwner.scala
  libs-scala/resources-akka/src/test/suite/scala/com/digitalasset/resources/akka/AkkaResourceOwnerSpec.scala
Labels: automerge

#10470 LF: drop PartialTransaction argument from Speedy err pretty printer
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/repl/src/main/scala/com/digitalasset/daml/lf/repl/testing/Main.scala
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/Pretty.scala
Labels: component/daml-engine

#10124 avoid row_number/partition for single-party Oracle contract queries
  ledger-service/db-backend/src/main/scala/com/digitalasset/http/dbbackend/Queries.scala
Labels: automerge

#10471 LF: Log internal errors
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/Error.scala
  daml-lf/data/BUILD.bazel
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/InternalError.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/Utf8.scala
  daml-lf/data/src/test/scala/com/digitalasset/daml/lf/data/Utf8Spec.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Error.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/ledger/BlindingTransaction.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/language/BUILD.bazel
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/TypeOrdering.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Util.scala
  daml-lf/transaction/BUILD.bazel
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Util.scala
Labels: component/daml-engine

#10480 Use at least LF version 1.7 for Daml ledger export
  daml-script/export/src/main/scala/com/daml/script/export/Dependencies.scala
  daml-script/export/src/test/scala/com/daml/script/export/DependenciesSpec.scala
Labels: automerge

#10483 Handle tuple values in Daml ledger export
  daml-script/export/src/main/scala/com/daml/script/export/Encode.scala
  daml-script/export/src/test/scala/com/daml/script/export/EncodeValueSpec.scala
Labels: automerge

#10490 Handle exerciseByKey after exercise command
  daml-script/export/src/main/scala/com/daml/script/export/TreeUtils.scala
  daml-script/export/src/test/scala/com/daml/script/export/IdentifyCommandsSpec.scala
Labels: automerge

#10482 [JSON-API] Move database independent tests into a seperate abstract test
  ledger-service/db-backend/src/main/scala/com/digitalasset/http/dbbackend/Queries.scala
  ledger-service/http-json-oracle/src/it/scala/http/HttpServiceOracleInt.scala
  ledger-service/http-json-oracle/src/it/scala/http/HttpServiceWithOracleTablePrefixIntTest.scala
  ledger-service/http-json-oracle/src/it/scala/http/OracleIntTest.scala
  ledger-service/http-json-testing/BUILD.bazel
  ledger-service/http-json-testing/src/main/scala/com/daml/http/HttpServiceTestFixture.scala
  ledger-service/http-json/BUILD.bazel
  ledger-service/http-json/src/it/scala/http/HttpServicePostgresInt.scala
  ledger-service/http-json/src/it/scala/http/HttpServiceWithPostgresIntTest.scala
  ledger-service/http-json/src/it/scala/http/HttpServiceWithPostgresTablePrefixIntTest.scala
  ledger-service/http-json/src/it/scala/http/PostgresIntTest.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractDatabaseIntegrationTest.scala
Labels: component/json-api

#10487 Replace LedgerConfiguration with InitialLedgerConfiguration or the load timeout. [KVL-1058]
  daml-script/runner/BUILD.bazel
  daml-script/test/BUILD.bazel
  extractor/BUILD.bazel
  language-support/java/codegen/BUILD.bazel
  language-support/scala/codegen-sample-app/BUILD.bazel
  ledger-service/http-json-testing/BUILD.bazel
  ledger-service/http-json/BUILD.bazel
  ledger/daml-on-sql/BUILD.bazel
  ledger/daml-on-sql/src/main/scala/on/sql/package.scala
  ledger/ledger-api-client/BUILD.bazel
  ledger/ledger-configuration/src/main/scala/com/daml/ledger/configuration/Configuration.scala
  ledger/ledger-on-memory/src/app/scala/com/daml/ledger/on/memory/InMemoryLedgerFactory.scala
  ledger/ledger-on-sql/src/app/scala/com/daml/ledger/on/sql/SqlLedgerFactory.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/ApiServerConfig.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/ApiServices.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/StandaloneApiServer.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/configuration/IndexStreamingCurrentLedgerConfiguration.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/configuration/LedgerConfigProvider.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/configuration/LedgerConfigProvisioner.scala
  ledger/participant-integration-api/src/main/scala/platform/configuration/InitialLedgerConfiguration.scala
  ledger/participant-integration-api/src/main/scala/platform/configuration/LedgerConfiguration.scala
  ledger/participant-integration-api/src/test/suite/scala/db/migration/translation/apiserver/services/admin/ApiConfigManagementServiceSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/configuration/IndexStreamingCurrentLedgerConfigurationSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/configuration/LedgerConfigProvisionerSpec.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Config.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/LedgerFactory.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Runner.scala
  ledger/sandbox-classic/BUILD.bazel
  ledger/sandbox-classic/src/main/scala/platform/sandbox/SandboxServer.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/package.scala
  ledger/sandbox-classic/src/test/lib/scala/platform/sandbox/services/SandboxFixture.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/services/configuration/LedgerConfigurationServiceIT.scala
  ledger/sandbox-common/BUILD.bazel
  ledger/sandbox-common/src/main/scala/platform/sandbox/cli/CommonCliBase.scala
  ledger/sandbox-common/src/main/scala/platform/sandbox/config/SandboxConfig.scala
  ledger/sandbox-on-x/src/main/scala/com/daml/ledger/sandbox/BridgeLedgerFactory.scala
  ledger/sandbox-perf/BUILD.bazel
  ledger/sandbox/BUILD.bazel
  ledger/sandbox/src/main/scala/platform/sandboxnext/Runner.scala
  ledger/sandbox/src/test/suite/scala/platform/sandboxnext/services/completion/CompletionServiceWithEmptyLedgerIT.scala
  runtime-components/non-repudiation-postgresql/BUILD.bazel
  triggers/service/BUILD.bazel
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceFixture.scala
  triggers/tests/BUILD.bazel
Labels: automerge

#10495 [JSON-API] Query fix & additional DB tests to cover the fix
  ledger-service/db-backend/src/main/scala/com/digitalasset/http/dbbackend/Queries.scala
  ledger-service/http-json-oracle/src/it/scala/http/HttpServiceOracleInt.scala
  ledger-service/http-json-oracle/src/it/scala/http/OracleIntTest.scala
  ledger-service/http-json-testing/BUILD.bazel
  ledger-service/http-json-testing/src/main/scala/com/daml/http/HttpServiceTestFixture.scala
  ledger-service/http-json/BUILD.bazel
  ledger-service/http-json/src/it/scala/http/HttpServicePostgresInt.scala
  ledger-service/http-json/src/it/scala/http/HttpServiceWithPostgresIntTest.scala
  ledger-service/http-json/src/it/scala/http/PostgresIntTest.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractDatabaseIntegrationTest.scala
Labels: automerge

#10496 participant-integration-api: Rename and restructure the configuration initialization classes. [KVL-1046]
  ledger/participant-integration-api/src/main/scala/platform/apiserver/ApiServices.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/configuration/IndexStreamingCurrentLedgerConfiguration.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/configuration/LedgerConfigurationInitializer.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/configuration/LedgerConfigurationProvisioner.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/configuration/LedgerConfigurationSubscription.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/configuration/LedgerConfigurationSubscriptionFromIndex.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiCommandService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiSubmissionService.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/configuration/LedgerConfigurationProvisionerSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/configuration/LedgerConfigurationSubscriptionFromIndexSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/services/ApiSubmissionServiceSpec.scala
Labels: automerge

#10498 participant-integration-api: Make the initial ledger config optional. [KVL-1046]
  ledger/participant-integration-api/src/main/scala/platform/apiserver/ApiServerConfig.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/ApiServices.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/configuration/LedgerConfigurationInitializer.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/LedgerFactory.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/SandboxServer.scala
  ledger/sandbox/src/main/scala/platform/sandboxnext/Runner.scala
Labels: automerge

#10502 Release another 1.16.x snapshot
  LATEST
Labels: Standard-Change

#10489 correct JSON API upper date bound
  docs/source/json-api/lf-value-specification.rst
  ledger-service/lf-value-json/src/main/scala/com/digitalasset/daml/lf/value/json/ApiCodecCompressed.scala
  ledger-service/lf-value-json/src/test/scala/com/digitalasset/daml/lf/value/json/ApiCodecCompressedSpec.scala
Labels: automerge, component/json-api

#10500 participant-integration-api: Always wait for the first config lookup.
  ledger/ledger-on-memory/src/app/scala/com/daml/ledger/on/memory/InMemoryLedgerFactory.scala
  ledger/ledger-on-sql/src/app/scala/com/daml/ledger/on/sql/SqlLedgerFactory.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/configuration/LedgerConfigurationSubscriptionFromIndex.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/configuration/LedgerConfigurationSubscriptionFromIndexSpec.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Config.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/LedgerFactory.scala
  ledger/sandbox-on-x/src/main/scala/com/daml/ledger/sandbox/BridgeLedgerFactory.scala
Labels: automerge

#10507 sandbox: Attempt to make the reset service tests less flaky.
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/SqlLedgerReaderWriter.scala
  ledger/sandbox-common/src/test/lib/scala/platform/sandbox/services/reset/ResetServiceITBase.scala
  ledger/sandbox/src/main/scala/platform/sandboxnext/Runner.scala
Labels: automerge

#10508 Create a proper state enum in LedgerConfigurationSubscriptionFromIndex. [KVL-1046]
  ledger/participant-integration-api/BUILD.bazel
  ledger/participant-integration-api/src/main/scala/platform/apiserver/configuration/LedgerConfigurationSubscriptionFromIndex.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/configuration/LedgerConfigurationSubscriptionFromIndexSpec.scala
Labels: automerge

#10511 timer-utils: If `RetryStrategy` eventually fails, explain what happened.
  extractor/src/test/suite/scala/com/digitalasset/extractor/VeryLargeArchiveSpec.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/Assertions.scala
  libs-scala/timer-utils/src/main/scala/com/digitalasset/timer/RetryStrategy.scala
  libs-scala/timer-utils/src/test/suite/scala/com/daml/timer/RetryStrategySpec.scala
Labels: automerge

#10520 Disable pushing Bazel metrics on PRs from forks
  ci/upload-bazel-metrics.yml
Labels: automerge

#10532 Support running daml navigator without a config file
  daml-assistant/daml-helper/src/DA/Daml/Helper/Ledger.hs
  navigator/backend/src/main/scala/com/digitalasset/navigator/config/Config.scala
  navigator/backend/src/test/scala/com/digitalasset/navigator/backend/config/ConfigSpec.scala
Labels: automerge

#10536 Handle not quite empty directory digests in cache cleanup
  ci/cron/src/BazelCache.hs
Labels: automerge

#10526 Handle missing template instances in Daml ledger export
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Util.scala
  daml-script/daml/Daml/Script.daml
  daml-script/export/integration-tests/export-lf-1.6/BUILD.bazel
  daml-script/export/integration-tests/export-lf-1.6/daml/LF16.daml
  daml-script/export/integration-tests/export-lf-1.6/scala/com/daml/script/export/LF16ExportClient.scala
  daml-script/export/src/main/scala/com/daml/script/export/Dependencies.scala
  daml-script/export/src/main/scala/com/daml/script/export/Encode.scala
  daml-script/export/src/main/scala/com/daml/script/export/Export.scala
  daml-script/export/src/test/scala/com/daml/script/export/AstSyntax.scala
  daml-script/export/src/test/scala/com/daml/script/export/EncodeInstancesSpec.scala
  daml-script/export/src/test/scala/com/daml/script/export/EncodeSubmitSpec.scala
  daml-script/export/src/test/scala/com/daml/script/export/EncodeTypeSpec.scala
  daml-script/export/src/test/scala/com/daml/script/export/ExportCidRefsSpec.scala
Labels: automerge

#10523 H2 Storage backend support for canton jdbc urls with user/password
  ledger/participant-integration-api/src/main/scala/platform/store/backend/h2/H2StorageBackend.scala
Labels: automerge

#10528 factor the complicated bits of contract selection between PG, Oracle
  ledger-service/db-backend/src/main/scala/com/digitalasset/http/dbbackend/Queries.scala
Labels: automerge, component/json-api

#10555 fix hoogle
  infra/hoogle_server.tf
Labels: automerge, Standard-Change

#10537 kvutils: Improve the test coverage of OffsetBuilder, and support negative numbers.
  ledger/participant-state/kvutils/BUILD.bazel
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/OffsetBuilder.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/OffsetBuilderSpec.scala
Labels: automerge

#10559 Fix sdk version in script export tests
  daml-script/export/integration-tests/export-lf-1.6/BUILD.bazel
  daml-script/export/integration-tests/export-lf-1.6/scala/com/daml/script/export/LF16ExportClient.scala
  daml-script/export/integration-tests/matches-docs/BUILD.bazel
  daml-script/export/integration-tests/matches-docs/scala/com/daml/script/export/ExampleExportClient.scala
Labels: automerge

#10560 Release 1.17 snapshot
  LATEST
Labels: automerge, Standard-Change

#10562 ledger-api-test-tool: Enforce test naming standards.
  ledger/ledger-api-test-tool/BUILD.bazel
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/CommandServiceIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/ContractKeysIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/ExceptionsIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/PackageServiceIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/PartyManagementServiceIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/TransactionServiceIT.scala
  ledger/ledger-api-test-tool/src/test/suite/scala/com/daml/ledger/api/testtool/NamesSpec.scala
Labels: automerge

#10569 Bump bazel max jvm memory
  .bazelrc
  compatibility/.bazelrc
Labels: automerge

#10571 Enable --incompatible_remote_results_ignore_disk
  .bazelrc
  compatibility/.bazelrc
Labels: automerge

#10573 Upgrade to Scala 2.12.14 and 2.13.6.
  .bazelrc
  BAZEL-JVM.md
  BAZEL.md
  bazel-java-deps.bzl
  bazel_tools/scala_version.bzl
  ci/build.yml
  compatibility/.bazelrc
  compatibility/WORKSPACE
  compatibility/maven_install.json
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ConcurrentCompiledPackages.scala
  ledger/participant-state/kvutils/tools/src/test/scala/ledger/participant/state/kvutils/tools/integritycheck/StateUpdateExporterSpec.scala
  maven_install_2.12.json
  maven_install_2.13.json
  nix/nixpkgs.nix
  release/src/Options.hs
Labels: automerge

#10582 Extract grpc statuses to separate module [KVL-1005]
  ledger/ledger-grpc/BUILD.bazel
  ledger/ledger-grpc/src/main/daml/ledger/grpc/GrpcStatuses.scala
  ledger/ledger-grpc/src/test/suite/com/daml/ledger/grpc/GrpcStatusesSpec.scala
  ledger/participant-state/BUILD.bazel
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/Update.scala
  release/artifacts.yaml
Labels: automerge

#10557 Codeowners: Notify committer maintainers on API changes.
  CODEOWNERS
Labels: automerge

#10575 Handle imports for builtin types correctly in Daml export
  daml-script/export/src/main/scala/com/daml/script/export/Encode.scala
  daml-script/export/src/main/scala/com/daml/script/export/TreeUtils.scala
  daml-script/export/src/test/scala/com/daml/script/export/EncodeValueSpec.scala
  daml-script/export/src/test/scala/com/daml/script/export/ReferencesSpec.scala
Labels: automerge

#10584 Skip subject in changelog check
  ci/check-changelog.sh
Labels: automerge

#10583 Set ErrorInfo metadata flag for definite_answer [KVL-1005]
  ledger/ledger-api-client/BUILD.bazel
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/services/commands/tracker/CompletionResponse.scala
  ledger/ledger-api-client/src/test/suite/scala/com/digitalasset/ledger/client/services/commands/tracker/CompletionResponseTest.scala
Labels: automerge

#10524 Normalize transactions & values as a separate pass
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Normalization.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Util.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Validation.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/validation/ValidationSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/services/ApiSubmissionServiceSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/validation/ModelConformanceValidatorSpec.scala
Labels: component/daml-engine, automerge

#10586 ledger-grpc: Fix the directory paths. [KVL-1005]
  ledger/ledger-grpc/BUILD.bazel
  ledger/ledger-grpc/src/main/scala/com/daml/ledger/grpc/GrpcStatuses.scala
  ledger/ledger-grpc/src/test/suite/scala/com/daml/ledger/grpc/GrpcStatusesSpec.scala
Labels: automerge

#10587 Upgrade path-parse to 1.0.7
  language-support/ts/packages/yarn.lock
  navigator/frontend/yarn.lock
  yarn.lock
Labels: automerge

#10422 [JSON-API] Perf gatling MultiUserQueryScenario
  ledger-service/http-json-perf/README.md
  ledger-service/http-json-perf/daml/LargeAcs.daml
  ledger-service/http-json-perf/src/main/scala/com/daml/http/perf/Main.scala
  ledger-service/http-json-perf/src/main/scala/com/daml/http/perf/scenario/MultiUserQueryScenario.scala
  libs-scala/db-utils/src/main/scala/com/digitalasset/http/dbbackend/Connection.scala
  libs-scala/db-utils/src/main/scala/com/digitalasset/http/dbbackend/DBConfig.scala
  libs-scala/oracle-testing/src/main/scala/testing/oracle/OracleAround.scala
Labels: automerge, component/json-api

#10592 Simplify loading of logback file
  ledger-service/cli-opts/BUILD.bazel
  ledger-service/cli-opts/src/main/scala/cliopts/Logging.scala
Labels: automerge

#10594 Upgrade Flyway to v7.
  bazel-java-deps.bzl
  ledger/participant-integration-api/src/test/suite/scala/platform/store/FlywayMigrationsSpec.scala
  libs-scala/flyway-testing/src/main/scala/flyway/AbstractImmutableMigrationsSpec.scala
  maven_install_2.12.json
  maven_install_2.13.json
Labels: automerge

#10596 Fix badly versioned empty tx
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/transaction-test-lib/src/main/scala/lf/transaction/test/TransactionBuilder.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Normalization.scala
Labels: component/daml-engine

#10509 rewrite trigger docs to follow gsg
  daml-assistant/exe/DA/Daml/Assistant.hs
  daml-assistant/integration-tests/src/DA/Daml/Assistant/IntegrationTests.hs
  docs/BUILD.bazel
  docs/scripts/live-preview.sh
  docs/source/tools/trigger-service/index.rst
  docs/source/triggers/index.rst
  templates/BUILD.bazel
  templates/copy-trigger/daml.yaml.template
  templates/copy-trigger/src/CopyTrigger.daml
  templates/gsg-trigger.patch
  triggers/tests/BUILD.bazel
Labels: automerge

#10597 Introduce dependency on Oracle image version
  ci/BUILD
  ci/build.yml
  ci/oracle_image
  libs-scala/oracle-testing/BUILD.bazel
Labels: automerge

#10585 ledger-api-test-tool: Split TransactionServiceIT into lots of suites.
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/participant/ParticipantTestContext.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/ContractKeysIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/ParticipantPruningIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/TransactionServiceArgumentsIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/TransactionServiceAuthorizationIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/TransactionServiceCorrectnessIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/TransactionServiceExerciseIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/TransactionServiceIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/TransactionServiceOutputsIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/TransactionServiceQueryIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/TransactionServiceStakeholdersIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/TransactionServiceStreamsIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/TransactionServiceValidationIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/TransactionServiceVisibilityIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/tests/Tests.scala
Labels: automerge

#10604 Use the port file and dynamic port generation in client/server tests.
  bazel_tools/client_server/runner_with_port_file/BUILD.bazel
  bazel_tools/client_server/runner_with_port_file/Main.hs
  ledger/participant-state/kvutils/BUILD.bazel
Labels: automerge

#10615 bazel-tools: Replace `runner` with either `runner_with_port_check` or `runner_with_port_file`.
  bazel_tools/client_server/client_server_build.bzl
  bazel_tools/client_server/client_server_test.bzl
  bazel_tools/client_server/runner/BUILD.bazel
  bazel_tools/client_server/runner/Main.hs
  bazel_tools/client_server/runner_with_port_check/BUILD.bazel
  bazel_tools/client_server/runner_with_port_file/BUILD.bazel
  bazel_tools/client_server/runner_with_port_file/Main.hs
  bazel_tools/client_server/tests/BUILD.bazel
  daml-script/export/integration-tests/export-lf-1.6/BUILD.bazel
  daml-script/export/integration-tests/matches-docs/BUILD.bazel
  ledger/ledger-api-test-tool-on-canton/BUILD.bazel
  ledger/ledger-api-test-tool-on-canton/canton-test-runner.sh
  ledger/ledger-api-test-tool/conformance.bzl
  ledger/participant-state/kvutils/BUILD.bazel
  triggers/tests/BUILD.bazel
Labels: automerge

#10600 participant-integration-api: Store a status gRPC protobuf. [KVL-1005]
  ledger/participant-integration-api/BUILD.bazel
  ledger/participant-integration-api/src/main/protobuf/daml/platform/index.proto
  ledger/participant-integration-api/src/main/resources/db/migration/h2database-appendonly/V1__Append_only_schema.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/h2database-appendonly/V1__Append_only_schema.sql
  ledger/participant-integration-api/src/main/resources/db/migration/oracle-appendonly/V1__Append_only_schema.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/oracle-appendonly/V1__Append_only_schema.sql
  ledger/participant-integration-api/src/main/resources/db/migration/postgres-appendonly/V106__add_rejection_status_proto_column.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/postgres-appendonly/V106__add_rejection_status_proto_column.sql
  ledger/participant-integration-api/src/main/scala/platform/store/CompletionFromTransaction.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/DbDto.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/UpdateToDbDto.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/CompletionStorageBackendTemplate.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/Schema.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/CommandCompletionsTable.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/backend/UpdateToDbDtoSpec.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/inmemory/InMemoryLedger.scala
  release/artifacts.yaml
Labels: automerge

#10616 Drop broken symlink config
  .bazelrc
  compatibility/.bazelrc
Labels: automerge

#10622 ledger-on-sql: Increase the concurrency for conformance tests.
  ledger/ledger-on-sql/BUILD.bazel
Labels: automerge

#10620 LF: Drop contract ID Freshness check
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Error.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/CommandPreprocessor.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/Preprocessor.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/TransactionPreprocessor.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/ValueTranslator.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ContractDiscriminatorFreshnessCheckSpec.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/ScenarioRunner.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ledgerinteraction/IdeLedgerClient.scala
  ledger/participant-state/kvutils/tools/codec-benchmark/src/benchmark/scala/com/daml/lf/speedy/MachineImportValueBenchmark.scala
Labels: component/daml-engine, component/daml-lf

#10633 Oracle append-only schema: enable contract id index on participant_events_xxxx tables
  ledger/participant-integration-api/src/main/resources/db/migration/oracle-appendonly/V1__Append_only_schema.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/oracle-appendonly/V1__Append_only_schema.sql
Labels: automerge

#10632 Upgrade to a newer canton version (post 0.27.0 snapshot version)
  daml-lf/language/daml-lf.bzl
  deps.bzl
  ledger/ledger-api-test-tool-on-canton/BUILD.bazel
  ledger/ledger-api-test-tool-on-canton/canton.conf
  release/artifacts.yaml
Labels: automerge

#10626 participant-integration-api: Remove `limitMaxCommandsInFlight`. [KVL-1009]
  ledger/participant-integration-api/src/main/scala/platform/apiserver/ApiServices.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiCommandService.scala
  ledger/participant-integration-api/src/main/scala/platform/configuration/CommandConfiguration.scala
Labels: automerge

#10638 Reminder to put an empty line between subject and body
  ci/check-changelog.sh
Labels: automerge

#10624 Upgrade Nixpkgs [KVL-1045]
  Upgrading.md
  compiler/damlc/daml-ide/src/DA/Daml/LanguageServer/CodeLens.hs
  nix/nixpkgs/default.src.json
Labels: automerge

#10637 participant-integration-api: Fix a flaky test.
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/configuration/LedgerConfigurationSubscriptionFromIndexSpec.scala
Labels: automerge

#10639 participant-integration-api: Attempt to fix RecoveringIndexerSpec.
  ledger/participant-integration-api/src/test/suite/scala/platform/indexer/RecoveringIndexerSpec.scala
Labels: automerge

#10640 ledger-api-health: Use the Scala health status values everywhere.
  ledger/indexer-benchmark/src/app/scala/ledger/indexerbenchmark/Main.scala
  ledger/indexer-benchmark/src/main/scala/ledger/indexerbenchmark/IndexerBenchmark.scala
  ledger/ledger-api-health/src/main/scala/com/digitalasset/ledger/api/health/HealthStatus.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/RecoveringIndexer.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/StandaloneIndexerServer.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/parallel/ParallelIndexerFactory.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/indexer/RecoveringIndexerSpec.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/api/BatchingLedgerWriter.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/api/BatchingLedgerWriterSpec.scala
  ledger/participant-state/kvutils/tools/integrity-check/src/main/scala/ledger/participant/state/kvutils/tools/integritycheck/LogAppendingReadServiceFactory.scala
  ledger/participant-state/kvutils/tools/src/test/scala/ledger/participant/state/kvutils/tools/integritycheck/StateUpdateExporterSpec.scala
  ledger/sandbox-on-x/src/main/scala/com/daml/ledger/sandbox/ReadWriteServiceBridge.scala
Labels: automerge

#10630 LF: Comparisons fail at runtime if comparing local vs global CIDs
  daml-lf/interpreter/BUILD.bazel
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/svalue/Equality.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/svalue/Ordering.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/svalue/EqualitySpec.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/svalue/OrderingSpec.scala
  daml-lf/transaction/src/main/scala/com/daml/lf/Error.scala
Labels: component/daml-lf

#10631 [JSON-API] key_hash field to speed up fetchByKey queries
  ledger-service/db-backend/BUILD.bazel
  ledger-service/db-backend/src/main/scala/com/digitalasset/http/dbbackend/Queries.scala
  ledger-service/http-json-perf/README.md
  ledger-service/http-json-perf/src/main/scala/com/daml/http/perf/Main.scala
  ledger-service/http-json-perf/src/main/scala/com/daml/http/perf/scenario/OracleMultiUserQueryScenario.scala
  ledger-service/http-json/src/bench/scala/com/daml/http/dbbackend/ContractDaoBenchmark.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsFetch.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/dbbackend/ContractDao.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/domain.scala
Labels: component/json-api

#10635 [Divulgence pruning] Added `prune_all_divulged_contracts` to PruneRequest [DPP-534]
  ledger-api/grpc-definitions/com/daml/ledger/api/v1/admin/participant_pruning_service.proto
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/participant/ParticipantTestContext.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/ParticipantPruningIT.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/admin/ApiParticipantPruningService.scala
  ledger/participant-state-metrics/src/main/scala/com/daml/ledger/participant/state/v1/metrics/TimedWriteService.scala
  ledger/participant-state-metrics/src/main/scala/com/daml/ledger/participant/state/v2/metrics/TimedWriteService.scala
  ledger/participant-state/kvutils/BUILD.bazel
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/api/KeyValueParticipantState.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/api/KeyValueParticipantStateWriter.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/WriteParticipantPruningService.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/AdaptedV1WriteService.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/WriteParticipantPruningService.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/LedgerBackedWriteService.scala
  ledger/sandbox-on-x/src/main/scala/com/daml/ledger/sandbox/ReadWriteServiceBridge.scala
Labels: automerge

#10650 participant-integration-api: Accommodate changes to max dedup time.
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/services/commands/CommandClient.scala
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/services/commands/CommandTrackerFlow.scala
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/services/commands/tracker/CommandTracker.scala
  ledger/ledger-api-client/src/test/suite/scala/com/digitalasset/ledger/client/services/commands/CommandTrackerFlowTest.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiCommandService.scala
Labels: automerge

#10655 Update curl 7.73.0 --> 7.78.0
  .dadew
  dev-env/windows/manifests/curl.json
Labels: automerge

#10656 participant-state: Generate correct gRPC error codes by v2 `WriteService` [KVL-1081]
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/AdaptedV1WriteService.scala
  ledger/participant-state/src/test/suite/scala/com/daml/ledger/participant/state/v2/AdaptedV1WriteServiceSpec.scala
Labels: automerge

#10628 Map shortened scala test suite names to long names on Windows
  bazel_tools/scala.bzl
  build.ps1
  ci/remap-scala-test-short-names.ps1
  ci/upload-bazel-metrics.yml
  infra/es_cluster.tf
Labels: Standard-Change

#10642 LF: Contract ID suffix check in Preprocessor
  daml-lf/engine/BUILD.bazel
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/EngineConfig.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Error.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ValueEnricher.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/CommandPreprocessor.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/Preprocessor.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/TransactionPreprocessor.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/ValueTranslator.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/PreprocessorSpec.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ReinterpretTest.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Converter.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ScriptF.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ledgerinteraction/IdeLedgerClient.scala
  ledger/participant-state/kvutils/tools/codec-benchmark/src/benchmark/scala/com/daml/lf/engine/SpeedyToValueBenchmark.scala
  ledger/participant-state/kvutils/tools/codec-benchmark/src/benchmark/scala/com/daml/lf/engine/ValueTranslatorBenchmark.scala
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Converter.scala
Labels: component/daml-engine

#10653 participant-integration-api: Move `TrackerMap` code around. [KVL-1009]
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/services/commands/tracker/CompletionResponse.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/ledger/api/validation/CommandsValidator.scala
  ledger/participant-integration-api/BUILD.bazel
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiCommandService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/tracking/Tracker.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/tracking/TrackerImpl.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/tracking/TrackerMap.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/services/tracking/TrackerMapSpec.scala
Labels: automerge

#10648 Normalize transaction values within the engine
  compiler/repl-service/server/src/main/scala/com/digitalasset/daml/lf/speedy/ReplServiceMain.scala
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/EngineConfig.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ValueEnricher.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/LargeTransactionTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Anf.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/iterable/SExprIterable.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/PartialTransactionSpec.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/RollbackTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SValueTest.scala
  daml-lf/repl/src/main/scala/com/digitalasset/daml/lf/repl/testing/Main.scala
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/ScenarioRunner.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Validation.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/validation/ValidationSpec.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Converter.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/RunnerMain.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ledgerinteraction/IdeLedgerClient.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ledgerinteraction/JsonLedgerClient.scala
  daml-script/test/src/com/digitalasset/daml/lf/engine/script/test/JsonApiIt.scala
  ledger/participant-state/kvutils/tools/codec-benchmark/src/benchmark/scala/com/daml/lf/engine/SpeedyToValueBenchmark.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/SandboxServer.scala
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Converter.scala
Labels: component/daml-engine

#10665 Include committers in PartialTransaction root context
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/PartialTransactionSpec.scala
Labels: automerge

#10663 participant-integration-api: Move tracker code around, and tidy up tests.
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiCommandService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/tracking/QueueBackedTracker.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/tracking/SizeCappedMap.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/services/tracking/QueueBackedTrackerSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/services/tracking/SizeCappedMapTest.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/services/tracking/TrackerImplTest.scala
Labels: automerge

#10662 participant-integration-api: Ensure that all waiting, failed, and closed trackers are cleaned up.
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/tracking/TrackerMap.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/services/tracking/TrackerMapSpec.scala
Labels: automerge

#10672 Expose pending contracts in triggers
  triggers/daml/Daml/Trigger.daml
Labels: automerge

#10687 LF: V1 Contract ID check in Preprocessor
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/EngineConfig.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Error.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/CommandPreprocessor.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/Preprocessor.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/ValueTranslator.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/LargeTransactionTest.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/PreprocessorSpec.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ReinterpretTest.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Converter.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ScriptF.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ledgerinteraction/IdeLedgerClient.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/ContractIdIT.scala
  ledger/participant-state/kvutils/tools/codec-benchmark/src/benchmark/scala/com/daml/lf/engine/SpeedyToValueBenchmark.scala
  ledger/participant-state/kvutils/tools/codec-benchmark/src/benchmark/scala/com/daml/lf/engine/ValueTranslatorBenchmark.scala
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Converter.scala
Labels: component/daml-lf

#10539 enable JSON search index on Oracle by default
  ledger-service/db-backend/src/main/scala/com/digitalasset/http/dbbackend/Queries.scala
  ledger-service/db-backend/src/main/scala/com/digitalasset/http/dbbackend/QueryBackend.scala
  ledger-service/http-json-cli/BUILD.bazel
  ledger-service/http-json-cli/ce/src/main/scala/com/daml/http/Cli.scala
  ledger-service/http-json-cli/ee/src/main/scala/com/daml/http/Cli.scala
  ledger-service/http-json-cli/src/main/scala/com/daml/http/CliBase.scala
  ledger-service/http-json-cli/src/main/scala/com/daml/http/Config.scala
  ledger-service/http-json-cli/src/main/scala/com/daml/http/OptionParser.scala
  ledger-service/http-json-cli/src/main/scala/com/daml/http/dbbackend/DbStartupMode.scala
  ledger-service/http-json-cli/src/main/scala/com/daml/http/dbbackend/JdbcConfig.scala
  ledger-service/http-json-oracle/BUILD.bazel
  ledger-service/http-json-oracle/src/it/scala/http/HttpServiceOracleInt.scala
  ledger-service/http-json-oracle/src/it/scala/http/HttpServiceWithOracleIntTest.scala
  ledger-service/http-json-oracle/src/it/scala/http/OracleIntTest.scala
  ledger-service/http-json-oracle/src/it/scala/http/WebsocketServiceWithOracleIntTest.scala
  ledger-service/http-json-perf/src/main/scala/com/daml/http/perf/Main.scala
  ledger-service/http-json-testing/src/main/scala/com/daml/http/HttpServiceTestFixture.scala
  ledger-service/http-json/src/bench/scala/com/daml/http/dbbackend/ContractDaoBenchmark.scala
  ledger-service/http-json/src/bench/scala/com/daml/http/dbbackend/InsertBenchmark.scala
  ledger-service/http-json/src/bench/scala/com/daml/http/dbbackend/QueryBenchmark.scala
  ledger-service/http-json/src/bench/scala/com/daml/http/dbbackend/QueryPayloadBenchmark.scala
  ledger-service/http-json/src/failure/scala/http/FailureTests.scala
  ledger-service/http-json/src/failure/scala/http/HttpTestFixture.scala
  ledger-service/http-json/src/it/scala/http/HttpServicePostgresInt.scala
  ledger-service/http-json/src/it/scala/http/HttpServiceWithPostgresIntTest.scala
  ledger-service/http-json/src/it/scala/http/PostgresIntTest.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractDatabaseIntegrationTest.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsFetch.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/DbStartupOps.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/dbbackend/ContractDao.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/dbbackend/SupportedJdbcDriver.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/query/ValuePredicate.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/CliSpec.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/query/ValuePredicateTest.scala
  libs-scala/db-utils/BUILD.bazel
  libs-scala/db-utils/src/main/scala/com/digitalasset/http/dbbackend/Connection.scala
  libs-scala/db-utils/src/main/scala/com/digitalasset/http/dbbackend/DBConfig.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Server.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/ServiceConfig.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/ServiceMain.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/dao/DbTriggerDao.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceFixture.scala
Labels: automerge, component/json-api

#10703 LF: Update specification with Contract ID Comparability check
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/svalue/Equality.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/svalue/Ordering.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/svalue/EqualitySpec.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/svalue/OrderingSpec.scala
  daml-lf/spec/contract-id.rst
  daml-lf/spec/daml-lf-1.rst
  daml-lf/transaction/src/main/scala/com/daml/lf/Error.scala
Labels: component/daml-lf

#10720 remove non functioning oracle json array indices
  ledger/participant-integration-api/src/main/resources/db/migration/oracle-appendonly/V1__Append_only_schema.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/oracle-appendonly/V1__Append_only_schema.sql
Labels: automerge

#10681 Add LedgerClientWithoutLedgerId next to the LedgerClient
  language-support/scala/bindings-akka/src/main/scala/com/digitalasset/ledger/client/binding/LedgerClientBinding.scala
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/GrpcChannel.scala
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/LedgerClient.scala
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/services/acs/ActiveContractSetClient.scala
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/services/acs/withoutledgerid/ActiveContractSetClient.scala
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/services/commands/CommandClient.scala
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/services/commands/withoutledgerid/CommandClient.scala
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/services/configuration/LedgerConfigurationClient.scala
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/services/pkg/PackageClient.scala
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/services/pkg/withoutledgerid/PackageClient.scala
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/services/transactions/TransactionClient.scala
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/services/transactions/withoutledgerid/TransactionClient.scala
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/services/version/VersionClient.scala
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/services/version/withoutledgerid/VersionClient.scala
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/withoutledgerid/LedgerClient.scala
Labels: component/json-api

#10715 Use soft references for values in the caches [DPP-561]
  ledger/caching/src/main/scala/com/daml/caching/SizedCache.scala
  ledger/caching/src/main/scala/com/daml/caching/WeightedCache.scala
Labels: component/ledger

#10661 [Divulgence pruning] Prune all divulged contracts only after migration offset [DPP-483]
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/JdbcLedgerDao.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/StorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/CommonStorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/h2/H2StorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/oracle/OracleStorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PostgresStorageBackend.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/backend/StorageBackendTestValues.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/backend/StorageBackendTestsInitializeIngestion.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/backend/StorageBackendTestsMigrationPruning.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/backend/StorageBackendTestsReset.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/backend/StorageBackendPostgresSpec.scala
Labels: automerge

#10717 Ledger-API Conformance test for V0 Contract IDs
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/EngineConfig.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Error.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ReinterpretTest.scala
  language-support/hs/bindings/test/DA/Ledger/Tests.hs
  ledger/ledger-api-test-tool-on-canton/BUILD.bazel
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/ContractIdIT.scala
  ledger/ledger-on-memory/BUILD.bazel
  ledger/ledger-on-sql/BUILD.bazel
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Runner.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/SandboxServer.scala
  ledger/sandbox/BUILD.bazel
  ledger/sandbox/src/main/scala/platform/sandboxnext/Runner.scala
Labels: component/daml-lf, component/ledger

#10725 LF: Drop outdated TODOs
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Error.scala
  daml-lf/tests/BUILD.bazel
  daml-lf/transaction/src/main/protobuf/com/daml/lf/transaction.proto
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiSubmissionService.scala
  ledger/participant-integration-api/src/main/scala/platform/store/ErrorCause.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/KVTest.scala
  ledger/sandbox-classic/BUILD.bazel
  ledger/sandbox-classic/src/main/scala/platform/sandbox/SandboxServer.scala
Labels: automerge

#10691 [Divulgence pruning] Prune immediate divulgence [DPP-513]
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/ParticipantPruningIT.scala
  ledger/ledger-on-memory/BUILD.bazel
  ledger/ledger-on-sql/BUILD.bazel
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/CommonStorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/QueryStrategy.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/h2/H2StorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/oracle/OracleStorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PostgresStorageBackend.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/backend/StorageBackendTestValues.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/backend/StorageBackendTestsPruning.scala
  ledger/sandbox-on-x/BUILD.bazel
Labels: automerge

#10711 DPP-368 clean up flags
  ledger/indexer-benchmark/src/main/scala/ledger/indexerbenchmark/Config.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Config.scala
Labels: automerge
