Repository digital-asset/daml, pull requests merged in 2022-03, with the labels that each got.

#13110 Release SDK 2.0.0
  LATEST
Labels: Standard-Change

#13116 appr: add Stewart
  infra/data_bucket.tf
  release/rotation
Labels: Standard-Change

#13114 [JSON-API] Remove dependency on user provided tokens for the perf runner & refactor main
  ci/cron/daily-compat.yml
  ledger-service/http-json-perf/BUILD.bazel
  ledger-service/http-json-perf/README.md
  ledger-service/http-json-perf/src/main/scala/com/daml/http/perf/Config.scala
  ledger-service/http-json-perf/src/main/scala/com/daml/http/perf/Main.scala
  ledger-service/http-json-perf/src/main/scala/com/daml/http/perf/OracleRunner.scala
  ledger-service/http-json-perf/src/main/scala/com/daml/http/perf/QueryStoreBracket.scala
  ledger-service/http-json-perf/src/main/scala/com/daml/http/perf/scenario/SimulationConfig.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/EndpointsCompanion.scala
Labels: component/json-api

#13151 shut down ElasticSearch
  infra/es_cluster.tf
Labels: Standard-Change

#13161 [JSON-API] Normalize token parsing & remove custom parsing code
  ledger-service/http-json-testing/src/main/scala/com/daml/http/HttpServiceTestFixture.scala
  ledger-service/http-json/src/failure/scala/http/FailureTests.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTest.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/EndpointsCompanion.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebsocketEndpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/endpoints/RouteSetup.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/endpoints/UserManagement.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/CommandServiceTest.scala
Labels: component/json-api

#13164 Make http.domain a package
  ledger-service/http-json/src/main/scala/com/digitalasset/http/domain.scala
Labels: component/json-api, team/app-runtime

#13195 hunt down DAML better
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  compiler/damlc/tests/daml-test-files/Text.daml
  compiler/damlc/tests/daml-test-files/TextEq.daml
  compiler/damlc/tests/src/DA/Test/DamlDoc.hs
  compiler/damlc/tests/src/DA/Test/DamlcIntegration.hs
  compiler/damlc/tests/src/DA/Test/DamlcIntegrationMain.hs
  compiler/damlc/tests/src/DA/Test/DataDependencies.hs
  compiler/damlc/tests/src/DamlcTest.hs
  compiler/damlc/tests/src/daml-ghc-deterministic.sh
  daml-assistant/daml-helper/src/DA/Daml/Helper/Init.hs
  daml-assistant/daml-helper/src/DA/Daml/Helper/New.hs
  daml-assistant/daml-helper/src/DA/Daml/Helper/Studio.hs
  daml-assistant/integration-tests/src/DA/Daml/Assistant/CreateDamlAppTests.hs
  daml-assistant/integration-tests/src/DA/Daml/Assistant/IntegrationTests.hs
  daml-assistant/src/DA/Daml/Assistant/Env.hs
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/tests/scenario/actualize.sh
  daml-script/daml/daml-script-hoogle-template.txt
  dev-env/bin/dade-help
  dev-env/bin/daml-sdk-head
  docs/configs/html/conf.py
  docs/configs/pdf/conf.py
  docs/configs/static/pygments_daml_lexer.py
  docs/source/json-api/production-setup.rst
  docs/theme/da_theme_skeleton/navbar.html
  docs/theme/da_theme_skeleton/static/images/Daml_Logo_Blue.svg
  docs/theme/docs/conf.py
  infra/hoogle_server.tf
  language-support/hs/bindings/examples/nim/package.yaml
  language-support/hs/bindings/package.yaml
  language-support/java/codegen/src/it/java/com/daml/AllGenericTests.java
  language-support/scala/codegen-sample-app/src/test/java/com/digitalasset/codegen/UsageFromJava.java
  language-support/ts/codegen/src/TsCodeGenMain.hs
  language-support/ts/daml-ledger/package.json
  language-support/ts/daml-react/package.json
  language-support/ts/daml-types/package.json
  ledger/metrics/collection/grafana/provisioning/dashboards/dashboards.yaml
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/EventsTable.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/TransactionLogUpdatesConversions.scala
  ledger/participant-integration-api/src/main/scala/platform/store/cache/EventsBuffer.scala
  navigator/backend/scenarios/rental/daml/Main.daml
  navigator/frontend/src/ui-core/src/ArgumentDisplay/Guide.tsx
  navigator/frontend/src/ui-core/src/ArgumentDisplay/index.tsx
  navigator/frontend/src/ui-core/src/ParameterForm/Guide.tsx
  navigator/frontend/src/ui-core/src/ParameterForm/index.tsx
  navigator/integration-test/src/main/resources/Main.daml
  navigator/integration-test/src/main/scala/com/digitalasset/navigator/test/runner/PackagedDamlc.scala
  rules_daml/daml.bzl
  triggers/daml/daml-trigger-hoogle-template.txt
Labels: Standard-Change

#12906 [JSON-API] Fix duplicate error logging & improve error logs messages
  ledger-service/http-json/src/main/scala/com/digitalasset/http/CommandService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/EndpointsCompanion.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/endpoints/CreateAndExercise.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/endpoints/RouteSetup.scala
Labels: component/json-api, team/app-runtime

#13224 Fix red `main`
  ledger-service/http-json/src/main/scala/com/digitalasset/http/endpoints/MeteringReportEndpoint.scala
Labels: component/json-api, team/app-runtime

#13113 json-api failure tests with user tokens
  ledger-service/http-json-testing/src/main/scala/com/daml/http/HttpServiceUserFixture.scala
  ledger-service/http-json/src/failure/scala/http/FailureTests.scala
  ledger-service/http-json/src/it/scala/http/HttpServiceIntegrationTestUserManagement.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTest.scala
Labels: component/json-api, team/app-runtime, concern/testing

#13230 Remove mentions of Daml connect
  ci/docker/README.md
  daml-script/export/src/main/scala/com/daml/script/export/Config.scala
  language-support/scala/examples/quickstart-scala/README.md
  release/windows-installer/src/WindowsInstaller.hs
Labels: gardening

#13278 fix maven_coordinates for nonempty-cats
  libs-scala/nonempty-cats/BUILD.bazel
Labels: team/app-runtime, gardening

#13281 Do not point at a milestone from the HTTP JSON API docs
  docs/source/json-api/index.rst
Labels: component/documentation, team/app-runtime, gardening

#13273 release 1.18.2-snapshot.20220310.8437.0.5221a5d1
  LATEST
Labels: Standard-Change

#13282 nonempty-cats refactoring
  ledger-service/http-json-testing/BUILD.bazel
  ledger-service/http-json-testing/src/main/scala/com/daml/http/HttpServiceUserFixture.scala
  ledger-service/http-json/BUILD.bazel
  libs-scala/nonempty-cats/src/main/scala/nonempty/catsinstances/impl/CatsInstancesLow.scala
  libs-scala/scala-utils/BUILD.bazel
  libs-scala/scala-utils/src/main/scala/com/daml/scalautil/ImplicitPreference.scala
  libs-scala/scala-utils/src/main/scala/com/daml/scalautil/package.scala
  libs-scala/scala-utils/src/test/scala/com/daml/scalautil/ImplicitPreferenceSpec.scala
  libs-scala/scala-utils/src/test/scala/com/daml/scalautil/nonempty/NonEmptySpec.scala
Labels: team/app-runtime, gardening

#13293 retry 1.18.2 snapshot
  LATEST
Labels: Standard-Change

#13311 Remove dead code from Java codegen
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/ResourceManagement.scala
Labels: component/java-ecosystem, team/app-runtime, gardening

#13313 Reduce noise when building `//daml-lf/encoder:testing-dar-*`
  daml-lf/encoder/BUILD.bazel
Labels: component/java-ecosystem, team/app-runtime, gardening

#13330 Remove mentions of the token for package retrieval
  docs/source/json-api/index.rst
Labels: component/documentation, component/json-api, team/app-runtime, gardening

#13301 interface choices in json-api
  docs/source/json-api/index.rst
  language-support/ts/codegen/tests/ts/build-and-lint-test/src/__tests__/test.ts
  ledger-service/http-json-oracle/BUILD.bazel
  ledger-service/http-json/BUILD.bazel
  ledger-service/http-json/src/it/daml/CIou.daml
  ledger-service/http-json/src/it/daml/IIou.daml
  ledger-service/http-json/src/it/scala/http/HttpServiceIntegrationTest.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTest.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/PackageService.scala
  ledger-service/utils/src/main/scala/com/digitalasset/ledger/service/TemplateIds.scala
Labels: component/json-api, team/app-runtime

#13346 Test that we return a 404 when requesting information about non-existing packages
  ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTest.scala
Labels: component/json-api, gardening

#13361 Refactor Scala codegen: simplify by removing unnecessary abstractions
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/CodeGen.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/Main.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/Util.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/dependencygraph/DependencyGraph.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/dependencygraph/Graph.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/dependencygraph/Node.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/exception/CodeGenFailure.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/exception/UnsupportedTypeError.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/lf/DamlContractTemplateGen.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/lf/DamlDataTypeGen.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/lf/EventDecoderGen.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/lf/HierarchicalOutput.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/lf/LFUtil.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/lf/PackageIDsGen.scala
  language-support/scala/codegen/src/test/scala/com/digitalasset/codegen/GraphSpec.scala
  language-support/scala/codegen/src/test/scala/com/digitalasset/codegen/UtilTest.scala
  language-support/scala/codegen/src/test/scala/com/digitalasset/codegen/lf/LFUtilSpec.scala
Labels: component/java-ecosystem, component/scala-ecosystem, team/app-runtime, gardening

#13371 2.0.1 RC release
  LATEST
Labels: Standard-Change

#13377 Address open security advisories
  navigator/frontend/package.json
  navigator/frontend/yarn.lock
Labels: component/navigator, gardening, concern/security

#13373 retry 2.0.1 snapshot
  LATEST
Labels: Standard-Change

#13393 Release 1.18.2 RC
  LATEST
Labels: Standard-Change

#13426 Add a temporary lenient Replay Exercise Command
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/CommandPreprocessor.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/ReplayCommand.scala
Labels: component/daml-engine

#13432 interface evaluation tests
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/EvaluationOrderTest.scala
  security-evidence.md
Labels: component/daml-engine

#13443 ifaces:evaluation order tests for fetch by iface
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/EvaluationOrderTest.scala
  security-evidence.md
Labels: component/daml-engine, interfaces mvp

#13455 Allow LF dev for daml script test
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/TestMain.scala
Labels: component/daml-script

#13409 docs: highlight json api supports multi-party submissions
  docs/source/json-api/index.rst
Labels: component/documentation

#13473 Release 1.18.2
  LATEST
Labels: Standard-Change

#13406 better errors when querying by interface ID
  ledger-service/http-json-oracle/BUILD.bazel
  ledger-service/http-json/BUILD.bazel
  ledger-service/http-json/src/it/scala/http/HttpServiceIntegrationTest.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTest.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/PackageService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/DomainJsonDecoder.scala
  ledger-service/utils/src/main/scala/com/digitalasset/ledger/service/TemplateIds.scala
  security-evidence.md
Labels: component/json-api, team/app-runtime
