Repository digital-asset/daml, pull requests merged in 2022-12, with the labels that each got.

#15762 2.5.0-rc1 take 2
  LATEST
Labels: Standard-Change

#15798 Javascript library security updates
  compiler/daml-extension/yarn.lock
  language-support/ts/packages/yarn.lock
  navigator/frontend/yarn.lock
  yarn.lock
Labels: component/navigator, dependencies, component/js-ecosystem, team/ledger-clients, javascript, gardening, component/daml-studio

#15828 next RC, maybe
  LATEST
Labels: Standard-Change

#15841 2.5.0-rc2
  LATEST
Labels: Standard-Change

#15458 13355 removed proxy* methods from RouteSetup
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/EndpointsCompanion.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/endpoints/MeteringReportEndpoint.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/endpoints/PackagesAndDars.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/endpoints/Parties.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/endpoints/RouteSetup.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/endpoints/UserManagement.scala
Labels: component/json-api, team/ledger-clients, gardening

#15874 update qs, express for security
  compiler/daml-extension/yarn.lock
  navigator/frontend/yarn.lock
  package.json
  yarn.lock
Labels: component/navigator, dependencies, team/ledger-clients, javascript, gardening, component/daml-studio

#15896 start 2.5.0 process
  LATEST
Labels: Standard-Change

#15901 [Engine] compute agreement as part of contract caching
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Profile.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/EvaluationOrderTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ExplicitDisclosureLib.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ProfilerTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  security-evidence.md
Labels: component/daml-engine

#15892 start 2.3.8 process
  LATEST
Labels: Standard-Change

#15907 ignore build-and-lint-test `yarn.lock` inconsistency on release
  language-support/ts/codegen/tests/build-and-lint.sh
Labels: broken, component/build-system, component/js-ecosystem, team/ledger-clients, concern/testing

#15588 [Speedy] create Scenario Machine
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Context.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/interpreter/BUILD.bazel
  daml-lf/interpreter/perf/src/main/scala/com/daml/lf/explore/Explore.scala
  daml-lf/interpreter/perf/src/main/scala/com/daml/lf/explore/ExploreDar.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/PhaseOne.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SResult.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/CompilerTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ExplicitDisclosureLib.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinBigNumericTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SpeedyTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SpeedyTestLib.scala
  daml-lf/repl/src/main/scala/com/digitalasset/daml/lf/repl/testing/Main.scala
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/ScenarioRunner.scala
  daml-lf/scenario-interpreter/src/perf/benches/scala/com/digitalasset/daml/lf/speedy/perf/CollectAuthority.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ScriptF.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ledgerinteraction/IdeLedgerClient.scala
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Runner.scala
Labels: component/daml-engine

#15733 fix MAXIMUM_NUMBER_OF_STREAMS errors when doing many websocket queries
  ledger-service/fetch-contracts/BUILD.bazel
  ledger-service/fetch-contracts/src/main/scala/fetchcontracts/AcsTxStreams.scala
  ledger-service/fetch-contracts/src/main/scala/fetchcontracts/util/AkkaStreamsDoobie.scala
  ledger-service/fetch-contracts/src/main/scala/fetchcontracts/util/GraphExtensions.scala
  ledger-service/fetch-contracts/src/test/scala/fetchcontracts/AcsTxStreamsTest.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
Labels: component/json-api, team/ledger-clients

#15923 use LF 1.15 instead of dev for interface-related bazel tests
  daml-lf/api-type-signature/BUILD.bazel
  docs/BUILD.bazel
  language-support/java/codegen/BUILD.bazel
  language-support/scala/codegen-sample-app/BUILD.bazel
  ledger-service/http-json/BUILD.bazel
Labels: component/daml-lf, component/java-ecosystem, component/scala-ecosystem, component/json-api, team/ledger-clients, concern/testing

#15937 Remove duplicate FailureTests classes
  ledger-service/http-json/src/failurelib/scala/http/FailureTests.scala
Labels: component/json-api, team/ledger-clients, concern/testing, gardening

#15948 backport (#15733) fix MAXIMUM_NUMBER_OF_STREAMS errors when doing many websocket queries
  ledger-service/fetch-contracts/BUILD.bazel
  ledger-service/fetch-contracts/src/main/scala/fetchcontracts/AcsTxStreams.scala
  ledger-service/fetch-contracts/src/main/scala/fetchcontracts/util/AkkaStreamsDoobie.scala
  ledger-service/fetch-contracts/src/main/scala/fetchcontracts/util/GraphExtensions.scala
  ledger-service/fetch-contracts/src/test/scala/fetchcontracts/AcsTxStreamsTest.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
Labels: component/json-api, team/ledger-clients

#12341 NonEmpty for non-empty arguments to Queries methods
  ledger-service/db-backend/src/main/scala/com/digitalasset/http/dbbackend/Queries.scala
  ledger-service/db-backend/src/test/scala/com/digitalasset/http/dbbackend/QueriesSpec.scala
  ledger-service/http-json/BUILD.bazel
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/dbbackend/ContractDao.scala
  libs-scala/nonempty/src/main/scala/nonempty/NonEmpty.scala
Labels: component/json-api, team/ledger-clients, gardening
