Repository digital-asset/daml, pull requests merged in 2022-06, with the labels that each got.

#14004 toInterface, unsafeFromInterface overloads in Java codegen
  docs/source/app-dev/bindings-java/codegen.rst
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/InterfaceCompanion.java
  language-support/java/codegen/src/ledger-tests/scala/com/digitalasset/InterfacesTest.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/ContractIdClass.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/InterfaceClass.scala
Labels: component/java-ecosystem, team/app-runtime

#14037 two-phase create-and-exercise with unified exercise methods in Java
  docs/source/app-dev/bindings-java/codegen.rst
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/Template.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/ByKey.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/ContractCompanion.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/ContractId.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/ContractTypeCompanion.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/CreateAnd.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/Exercises.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/InterfaceCompanion.java
  language-support/java/codegen/src/ledger-tests/daml/Interfaces.daml
  language-support/java/codegen/src/ledger-tests/scala/com/digitalasset/CodegenLedgerTest.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/ClassForType.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/ClassGenUtils.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/ContractClass.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/ContractIdClass.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/InterfaceClass.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/TemplateClass.scala
Labels: component/java-ecosystem, team/app-runtime

#14057 in daml-lf/interface, resolve choices directly from DefInterface
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/DefDataType.scala
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/reader/InterfaceReader.scala
  daml-lf/interface/src/test/scala/com/digitalasset/daml/lf/iface/reader/InterfaceReaderSpec.scala
Labels: component/daml-lf, team/app-runtime

#14078 remove inherited exercise methods from Java codegen
  language-support/java/codegen/src/ledger-tests/scala/com/digitalasset/InterfacesTest.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/CodeGenRunner.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/TemplateClass.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/lf/codegen/lf/DamlContractTemplateGen.scala
Labels: component/java-ecosystem, team/app-runtime

#14101 use more domain models for json-api response tests
  ledger-service/http-json-testing/src/main/scala/com/daml/http/HttpServiceTestFixture.scala
  ledger-service/http-json/src/failurelib/scala/http/FailureTests.scala
  ledger-service/http-json/src/it/scala/http/HttpServiceIntegrationTest.scala
  ledger-service/http-json/src/it/scala/http/HttpServiceIntegrationTestUserManagement.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTest.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTestFuns.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractWebsocketServiceIntegrationTest.scala
  security-evidence.md
Labels: component/json-api, team/app-runtime, concern/testing, gardening

#13991 toInterface and unsafeToTemplate in Scala codegen
  language-support/scala/bindings/src/main/scala/com/digitalasset/ledger/client/binding/binding/Interface.scala
  language-support/scala/bindings/src/main/scala/com/digitalasset/ledger/client/binding/binding/Primitive.scala
  language-support/scala/bindings/src/main/scala/com/digitalasset/ledger/client/binding/binding/Template.scala
  language-support/scala/bindings/src/main/scala/com/digitalasset/ledger/client/binding/binding/TemplateCompanion.scala
  language-support/scala/codegen-sample-app/BUILD.bazel
  language-support/scala/codegen-sample-app/src/main/daml/MyMain.daml
  language-support/scala/codegen-sample-app/src/test/scala/com/digitalasset/codegen/DataTypeIT.scala
  language-support/scala/codegen-sample-app/src/test/scala/com/digitalasset/codegen/GeneratedCommandsUT.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/lf/codegen/lf/DamlContractTemplateGen.scala
Labels: component/scala-ecosystem, team/app-runtime

#14113 remove inherited choices from Scala codegen, test interface/template IDs
  language-support/scala/codegen-sample-app/src/main/daml/MyMain.daml
  language-support/scala/codegen-sample-app/src/main/daml/MyMainIface.daml
  language-support/scala/codegen-sample-app/src/test/scala/com/digitalasset/codegen/GeneratedCommandsUT.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/lf/codegen/CodeGen.scala
  ledger/ledger-api-tests/suites/src/main/scala/com/daml/ledger/api/testtool/suites/v1_dev/InterfaceIT.scala
Labels: component/scala-ecosystem, team/app-runtime, concern/testing

#14115 hide unresolved/resolved states in lf/interface library
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/DefDataType.scala
Labels: component/daml-lf, team/app-runtime, gardening

#14126 ci: pin Linux image to yesterday's because today's is broken
  infra/vsts_agent_ubuntu_20_04.tf
Labels: Standard-Change

#14092 choice name overloads in TypeScript codegen
  language-support/ts/codegen/src/TsCodeGenMain.hs
  language-support/ts/codegen/tests/daml/Lib/Mod.daml
  language-support/ts/codegen/tests/daml/Lib/ModIfaceOnly.daml
  language-support/ts/codegen/tests/daml/Main.daml
  language-support/ts/codegen/tests/ts/build-and-lint-test/src/__tests__/test.ts
  language-support/ts/daml-types/index.ts
Labels: component/js-ecosystem, team/app-runtime

#14158 use domain.Party instead of String in json-api tests
  ledger-service/http-json/src/it/scala/http/HttpServiceIntegrationTestUserManagement.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTest.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTestFuns.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractWebsocketServiceIntegrationTest.scala
  security-evidence.md
Labels: component/json-api, team/app-runtime, concern/testing, gardening

#14167 accept standard hlists as record/variant specs
  daml-lf/transaction-test-lib/src/main/scala/lf/value/test/TypedValueGenerators.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/crypto/HashSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/value/ValueSpec.scala
  ledger-service/lf-value-json/src/test/scala/com/digitalasset/daml/lf/value/json/ApiCodecCompressedSpec.scala
Labels: component/daml-lf, component/json-api, team/app-runtime, concern/testing, gardening

#14223 1.18.3-rc
  LATEST
Labels: Standard-Change

#14239 infra: tighten TLS security
  infra/bazel_cache.tf
  infra/binaries.tf
  infra/hoogle_server.tf
  infra/main.tf
  infra/modules/gcp_cdn_bucket/google_compute.tf
  infra/modules/gcp_cdn_bucket/variables.tf
  infra/nix_cache.tf
Labels: Standard-Change

#14143 ci: unpin Ubuntu image
  infra/vsts_agent_ubuntu_20_04.tf
Labels: Standard-Change

#14098 Timeout for LedgerIdentityClient
  language-support/java/bindings-rxjava/src/main/java/com/daml/ledger/rxjava/DamlLedgerClient.java
  language-support/java/bindings-rxjava/src/main/java/com/daml/ledger/rxjava/grpc/LedgerIdentityClientImpl.java
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/grpc/LedgerIdentityClientTest.scala
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/grpc/helpers/LedgerIdentityServiceImpl.scala
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/grpc/helpers/LedgerServices.scala
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/grpc/helpers/LedgerServicesImpls.scala
Labels: component/java-ecosystem, team/app-runtime

#14277 export LedgerOptions from @daml/ledger
  language-support/ts/daml-ledger/index.ts
Labels: component/js-ecosystem, team/app-runtime, gardening

#14275 replace remaining RNil usages with shapeless.record.Record
  daml-lf/transaction-test-lib/src/main/scala/lf/value/test/TypedValueGenerators.scala
  ledger-service/http-json/src/it/scala/http/HttpServiceIntegrationTest.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTestFuns.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/query/ValuePredicateTest.scala
  ledger-service/lf-value-json/src/test/scala/com/digitalasset/daml/lf/value/json/ApiCodecCompressedSpec.scala
Labels: component/json-api, team/app-runtime, concern/testing, gardening

#13771 Add support for cmd deduplication & submission id for cmd submissions
  docs/source/json-api/index.rst
  ledger-service/http-json/src/it/edition/ce/com/daml/http/NonRepudiationTest.scala
  ledger-service/http-json/src/it/edition/ee/com/daml/http/NonRepudiationTest.scala
  ledger-service/http-json/src/it/scala/http/HttpServiceIntegrationTestUserManagement.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTest.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTestFuns.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/CommandService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/domain.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/endpoints/CreateAndExercise.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/endpoints/MeteringReportEndpoint.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/JsonProtocol.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/util/Commands.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/CommandServiceTest.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/Generators.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/json/JsonProtocolTest.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/util/JwtPartiesTest.scala
  security-evidence.md
Labels: component/json-api, team/app-runtime

#14192 add retroImplements to lf/iface DefInterface
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/DefDataType.scala
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/EnvironmentInterface.scala
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/Interface.scala
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/package.scala
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/reader/InterfaceReader.scala
  daml-lf/interface/src/test/scala/com/digitalasset/daml/lf/iface/reader/InterfaceReaderSpec.scala
  language-support/codegen-common/src/test/scala/com/digitalasset/daml/lf/codegen/dependencygraph/DependencyGraphSpec.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/CodeGenRunner.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/lf/codegen/CodeGen.scala
  language-support/scala/codegen/src/test/scala/com/digitalasset/lf/codegen/lf/UsedTypeParamsSpec.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/PackageService.scala
Labels: component/daml-lf, component/java-ecosystem, component/scala-ecosystem, component/json-api, team/app-runtime, roadmap/interfaces

#14310 release 1.18.3 stable
  LATEST
Labels: Standard-Change
