Repository digital-asset/daml, pull requests merged in 2022-09, with the labels that each got.

#14888 release 2.3.4
  LATEST
Labels: Standard-Change

#14890 Fix LF conversion and typechecker #12051 TODOs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Serializability.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
  compiler/damlc/tests/daml-test-files/InterfaceSerializabilityArgument.daml
  compiler/damlc/tests/daml-test-files/InterfaceSerializabilityPayload.daml
  compiler/damlc/tests/daml-test-files/InterfaceSerializabilityResult.daml
Labels: language

#14892 declare retroactive interface implementations in TypeScript
  language-support/ts/codegen/src/TsCodeGenMain.hs
  language-support/ts/codegen/tests/daml/Retro.daml
  language-support/ts/codegen/tests/daml/RetroView.daml
  language-support/ts/codegen/tests/ts/build-and-lint-test/src/__tests__/test.ts
Labels: component/js-ecosystem, team/ledger-clients

#14919 v1/stream/query interface subscription support
  ledger-service/fetch-contracts/src/main/scala/fetchcontracts/domain.scala
  ledger-service/fetch-contracts/src/main/scala/fetchcontracts/domain/ContractTypeId.scala
  ledger-service/http-json/BUILD.bazel
  ledger-service/http-json/src/it/daml/IAccount.daml
  ledger-service/http-json/src/itlib/scala/http/AbstractWebsocketServiceIntegrationTest.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ErrorMessages.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
  security-evidence.md
Labels: component/json-api, team/ledger-clients, roadmap/interfaces

#14920 interface subscriptions from TypeScript codegen
  language-support/ts/codegen/src/TsCodeGenMain.hs
  language-support/ts/codegen/tests/daml/Main.daml
  language-support/ts/codegen/tests/ts/build-and-lint-test/src/__tests__/test.ts
  language-support/ts/daml-ledger/index.ts
  language-support/ts/daml-types/index.ts
Labels: component/js-ecosystem, team/ledger-clients, roadmap/interfaces

#14968 widen @daml/react types to admit querying interfaces
  language-support/ts/daml-react/createLedgerContext.ts
  language-support/ts/daml-react/defaultLedgerContext.ts
Labels: component/js-ecosystem, team/ledger-clients, roadmap/interfaces

#14953 remove choice inheritance from TypeScript codegen
  language-support/ts/codegen/src/TsCodeGenMain.hs
  language-support/ts/codegen/tests/ts/build-and-lint-test/src/__tests__/test.ts
  language-support/ts/daml-types/index.ts
Labels: component/js-ecosystem, team/ledger-clients

#14972 Remove : ResolvedQuery from pattern match
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
Labels: team/ledger-clients, roadmap/interfaces

#14970 Added Packages deduplication before module name collision check.
  language-support/java/codegen/BUILD.bazel
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/CodeGenRunner.scala
  language-support/java/codegen/src/test/daml/Foo2.daml
  language-support/java/codegen/src/test/scala/com/digitalasset/daml/lf/codegen/CodeGenRunnerTests.scala
Labels: component/java-ecosystem, team/ledger-clients

#14977 2.4.0 rc1
  LATEST
Labels: Standard-Change

#14971 forbid interface choices for createAnd and byKey
  language-support/ts/codegen/src/TsCodeGenMain.hs
  language-support/ts/codegen/tests/ts/build-and-lint-test/src/index.ts
  language-support/ts/daml-ledger/index.test.ts
  language-support/ts/daml-ledger/index.ts
  language-support/ts/daml-types/index.ts
Labels: component/js-ecosystem, team/ledger-clients

#14981 Fire a warning if both config file and cli opts found.
  ledger-service/http-json-cli/src/main/scala/com/daml/http/OptionParser.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/CliSpec.scala
  security-evidence.md
Labels: component/json-api, team/ledger-clients

#14996 2.4.0-rc1 take 2
  LATEST
Labels: Standard-Change

#14978 Do not send archive commands if there is no active contract
  daml-assistant/daml-helper/src/DA/Daml/Helper/Ledger.hs
Labels: component/daml-assistant, team/ledger-clients

#15007 remove redundant StatusCode checks from many tests
  ledger-service/http-json/src/it/edition/ce/com/daml/http/NonRepudiationTest.scala
  ledger-service/http-json/src/it/edition/ee/com/daml/http/NonRepudiationTest.scala
  ledger-service/http-json/src/it/scala/http/HttpServiceIntegrationTest.scala
  ledger-service/http-json/src/it/scala/http/HttpServiceIntegrationTestUserManagement.scala
  ledger-service/http-json/src/it/scala/http/TlsTest.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTest.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTestFuns.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractWebsocketServiceIntegrationTest.scala
  security-evidence.md
Labels: component/json-api, concern/testing, gardening

#15008 factor stream-starting code in websocket JSON API tests
  ledger-service/http-json-testing/src/main/scala/com/daml/http/WebsocketTestFixture.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractWebsocketServiceIntegrationTest.scala
  security-evidence.md
Labels: component/json-api, team/ledger-clients, concern/testing, gardening

#15024 2.4.0-rc2
  LATEST
Labels: Standard-Change

#15041 retest Oracle with payload indexing
  ledger-service/fetch-contracts/src/main/scala/fetchcontracts/domain.scala
  ledger-service/http-json-oracle/BUILD.bazel
  ledger-service/http-json-oracle/src/it/scala/http/HttpServiceWithOracleIntTestCustomToken.scala
  ledger-service/http-json-oracle/src/it/scala/http/HttpServiceWithOracleIntTestNoPayloadIndexCustomToken.scala
  ledger-service/http-json-oracle/src/itlib/scala/http/HttpServiceWithOracleIntTest.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTest.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/domain.scala
  security-evidence.md
Labels: component/json-api, team/ledger-clients, oracle, concern/testing, gardening

#14964 [engine] stack-safe daml-lf archive decoding
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV1Spec.scala
  daml-lf/tests/scenario/stable/many-fields/EXPECTED.ledger
  daml-lf/tests/scenario/stable/many-fields/Test.daml
Labels: component/daml-engine

#15049 prepare for 2.3.5
  LATEST
Labels: Standard-Change

#15022 better JsNull check for Oracle; test scenarios for nested cases
  ledger-service/db-backend/src/main/scala/com/digitalasset/http/dbbackend/Queries.scala
  ledger-service/http-json/BUILD.bazel
  ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTest.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTestFuns.scala
  ledger-service/http-json/src/itlib/scala/http/FilterDiscriminatorScenario.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/query/ValuePredicateTest.scala
  security-evidence.md
Labels: component/json-api, team/ledger-clients

#15058 Backport better JsNull check for Oracle to 2.3.x
  ledger-service/db-backend/src/main/scala/com/digitalasset/http/dbbackend/Queries.scala
  ledger-service/http-json-oracle/BUILD.bazel
  ledger-service/http-json-oracle/src/it/scala/http/HttpServiceWithOracleIntTestCustomToken.scala
  ledger-service/http-json-oracle/src/it/scala/http/HttpServiceWithOracleIntTestNoPayloadIndexCustomToken.scala
  ledger-service/http-json-oracle/src/itlib/scala/http/HttpServiceWithOracleIntTest.scala
  ledger-service/http-json/BUILD.bazel
  ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTest.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTestFuns.scala
  ledger-service/http-json/src/itlib/scala/http/FilterDiscriminatorScenario.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/query/ValuePredicateTest.scala
  security-evidence.md
Labels: component/json-api, team/ledger-clients

#15088 replace OneAnd with NonEmpty for query templateIds
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/domain.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/JsonProtocol.scala
Labels: component/json-api, team/ledger-clients, gardening

#15087 rename daml-lf-interface Maven artifact to ...api-type-signature; remove deprecated symbols
  daml-lf/api-type-signature/BUILD.bazel
  daml-lf/api-type-signature/src/main/scala/lf/iface/package.scala
  daml-lf/api-type-signature/src/main/scala/lf/iface/reader/package.scala
  daml-lf/api-type-signature/src/main/scala/lf/typesig/EnvironmentSignature.scala
  daml-lf/api-type-signature/src/main/scala/lf/typesig/PackageSignature.scala
  daml-lf/api-type-signature/src/main/scala/lf/typesig/reader/SignatureReader.scala
Labels: component/daml-lf, team/ledger-clients, gardening

#15089 Documentation for ledgerApiError in json api
  docs/source/json-api/index.rst
Labels: component/json-api, gardening

#15096 combine mostly-duplicate functions in TS codegen
  language-support/ts/codegen/src/TsCodeGenMain.hs
Labels: component/js-ecosystem, team/ledger-clients, gardening

#15105 release 2.3.6
  LATEST
Labels: Standard-Change

#15050 handle incomplete event metadata for parsing exercise results
  language-support/ts/codegen/tests/BUILD.bazel
  language-support/ts/codegen/tests/build-and-lint.sh
  language-support/ts/codegen/tests/daml/Hidden.daml
  language-support/ts/codegen/tests/daml/Main.daml
  language-support/ts/codegen/tests/ts/build-and-lint-test/src/__tests__/test.ts
  language-support/ts/daml-ledger/index.ts
Labels: component/js-ecosystem, team/ledger-clients
