Repository digital-asset/daml, pull requests merged in 2022-08, with the labels that each got.

#14569 interface views for daml-lf/interface library
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/DefDataType.scala
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/EnvironmentInterface.scala
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/Interface.scala
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/reader/InterfaceReader.scala
  daml-lf/interface/src/test/daml/InterfaceTestLib.daml
  daml-lf/interface/src/test/daml/InterfaceTestPackage.daml
  daml-lf/interface/src/test/scala/com/digitalasset/daml/lf/iface/reader/InterfaceReaderSpec.scala
  language-support/codegen-common/src/main/scala/com/digitalasset/daml/lf/codegen/dependencygraph/DependencyGraph.scala
  language-support/codegen-common/src/test/scala/com/digitalasset/daml/lf/codegen/dependencygraph/DependencyGraphSpec.scala
  language-support/scala/codegen/src/test/scala/com/digitalasset/lf/codegen/lf/UsedTypeParamsSpec.scala
Labels: component/daml-lf, component/json-api, team/app-runtime

#14583 Address navigator frontend security advisories
  navigator/frontend/package.json
  navigator/frontend/yarn.lock
Labels: component/navigator, team/ledger-clients, gardening, concern/security

#14586 Address root package.json security advisories
  package.json
  yarn.lock
Labels: team/ledger-clients, gardening, concern/security

#14593 onboarding: add Chun Lok to release rotation
  infra/data_bucket.tf
  release/rotation
Labels: Standard-Change

#14595 Address async security advisory
  package.json
  yarn.lock
Labels: dependencies, team/ledger-clients, javascript, gardening, concern/security

#14633 Testing fromValue with contract id
  language-support/java/codegen/BUILD.bazel
  language-support/java/codegen/src/test/daml/Bar.daml
  language-support/java/codegen/src/test/scala/com/digitalasset/daml/lf/codegen/backend/java/FromValueSpec.scala
Labels: component/java-ecosystem, team/ledger-clients

#14650 Add static conversion method ContractId => T.ContractId in ContractId
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/ContractCompanion.java
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/ContractIdClass.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/TemplateClass.scala
  language-support/java/codegen/src/test/scala/com/digitalasset/daml/lf/codegen/backend/java/FromValueSpec.scala
Labels: component/java-ecosystem, team/ledger-clients

#14577 distinguishing template and interface IDs in json-api
  ledger-service/fetch-contracts/src/main/scala/fetchcontracts/AcsTxStreams.scala
  ledger-service/fetch-contracts/src/main/scala/fetchcontracts/domain.scala
  ledger-service/fetch-contracts/src/main/scala/fetchcontracts/domain/ContractTypeId.scala
  ledger-service/http-json/src/it/scala/http/HttpServiceIntegrationTest.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTestFuns.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractWebsocketServiceIntegrationTest.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/PackageService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/domain.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/DomainJsonDecoder.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/JsonProtocol.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/util/Transactions.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/Generators.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/PackageServiceTest.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/json/JsonProtocolTest.scala
Labels: component/json-api, team/ledger-clients, roadmap/interfaces

#14714 remove unneeded yarn resolutions
  language-support/ts/packages/package.json
  language-support/ts/packages/yarn.lock
  navigator/frontend/package.json
  navigator/frontend/yarn.lock
  package.json
  yarn.lock
Labels: component/navigator, component/js-ecosystem, team/ledger-clients, gardening

#14537 interface subscriptions from Java bindings
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/grpc/TransactionsClientImplTest.scala
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/grpc/helpers/DataLayerHelpers.scala
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/grpc/helpers/TransactionGenerator.scala
  language-support/java/bindings/BUILD.bazel
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/CreatedEvent.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/Filter.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/InclusiveFilter.java
  language-support/java/bindings/src/test/scala/com/daml/ledger/javaapi/data/EventSpec.scala
  language-support/java/bindings/src/test/scala/com/daml/ledger/javaapi/data/Generators.scala
Labels: component/java-ecosystem, team/ledger-clients, roadmap/interfaces

#14635 M1 build setup using Packer & Tart
  infra/macos/m1-build/README.md
  infra/macos/m1-build/daml-build.pkr.hcl
  infra/macos/m1-build/init-1.sh
  infra/macos/m1-build/init-2.sh
  infra/macos/m1-build/init-3.sh
Labels: Standard-Change

#14740 don't use query store at ledger-begin
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
Labels: component/json-api, team/ledger-clients

#14775 release: prepare for 2.3.3
  LATEST
Labels: Standard-Change

#14785 use new api-type-signature names in some dependents
  daml-lf/transaction-test-lib/src/main/scala/lf/value/test/TypedValueGenerators.scala
  language-support/codegen-common/src/main/scala/com/digitalasset/daml/lf/codegen/Util.scala
  language-support/codegen-common/src/main/scala/com/digitalasset/daml/lf/codegen/dependencygraph/DependencyGraph.scala
  language-support/codegen-common/src/main/scala/com/digitalasset/daml/lf/codegen/dependencygraph/TransitiveClosure.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/CodeGenRunner.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/InterfaceTree.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/ClassForType.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/ClassGenUtils.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/ContractIdClass.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/EnumClass.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/FromValueGenerator.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/InterfaceClass.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/TemplateClass.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/lf/codegen/CodeGen.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/lf/codegen/lf/DamlDataTypeGen.scala
  ledger-service/lf-value-json/src/main/scala/com/digitalasset/daml/lf/value/json/ApiCodecCompressed.scala
  ledger-service/lf-value-json/src/main/scala/com/digitalasset/daml/lf/value/json/NavigatorModelAliases.scala
  ledger-service/utils/src/main/scala/com/digitalasset/ledger/service/LedgerReader.scala
  ledger-service/utils/src/main/scala/com/digitalasset/ledger/service/MetadataReader.scala
  ledger-service/utils/src/main/scala/com/digitalasset/ledger/service/TemplateIds.scala
Labels: component/daml-lf, team/ledger-clients, gardening

#14757 Load interface and interface instance from packages in the Ledger
  navigator/backend/BUILD.bazel
  navigator/backend/src/main/scala/com/digitalasset/navigator/json/ModelCodec.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/model/Model.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/model/PackageRegistry.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/model/PackageState.scala
  navigator/backend/src/test/scala/com/digitalasset/navigator/backend/query/ContractFilterSpec.scala
  navigator/backend/src/test/scala/com/digitalasset/navigator/backend/query/ContractSortSpec.scala
  navigator/backend/src/test/scala/com/digitalasset/navigator/backend/query/FilterSpec.scala
Labels: component/navigator, team/ledger-clients, roadmap/interfaces

#14813 Fix for interface instance of interface from data-dependency
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/DataDependencies.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
  compiler/damlc/tests/src/DA/Test/DataDependencies.hs
Labels: language

#14811 14796 front end change
  navigator/backend/src/main/scala/com/digitalasset/navigator/data/CommandRow.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/graphql/GraphQLSchema.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/model/Model.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/model/converter/LedgerApiV1.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/model/package.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/store/Store.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/store/platform/PlatformStore.scala
  navigator/backend/src/test/resources/schema.graphql
  navigator/backend/src/test/scala/com/digitalasset/navigator/backend/data/RowSpec.scala
  navigator/frontend/src/api/Queries.ts
  navigator/frontend/src/applets/contract/ContractComponent.tsx
  navigator/frontend/src/applets/contract/index.tsx
  navigator/frontend/src/applets/contracts/columns.tsx
  navigator/frontend/src/applets/contracts/data.tsx
  navigator/frontend/src/applets/customview/index.tsx
  navigator/frontend/src/applets/templatecontracts/columns.tsx
  navigator/frontend/src/applets/templatecontracts/data.tsx
  navigator/frontend/src/applets/templates/data.tsx
  navigator/frontend/src/routes/index.ts
  navigator/frontend/src/ui-core/src/ChoicesButton/index.tsx
Labels: component/navigator, team/ledger-clients, roadmap/interfaces

#14843 Pass retroImplements from Ast.DefInterface to DefInterface
  daml-lf/api-type-signature/src/main/scala/lf/typesig/PackageSignature.scala
  daml-lf/api-type-signature/src/main/scala/lf/typesig/reader/SignatureReader.scala
  daml-lf/api-type-signature/src/test/daml/RetroInterface.daml
  daml-lf/api-type-signature/src/test/scala/lf/typesig/reader/SignatureReaderSpec.scala
Labels: component/daml-lf, component/java-ecosystem, component/scala-ecosystem, team/ledger-clients, roadmap/interfaces

#14728 propagate template/interface ID distinction throughout JSON API
  ledger-service/fetch-contracts/src/main/scala/fetchcontracts/AcsTxStreams.scala
  ledger-service/fetch-contracts/src/main/scala/fetchcontracts/domain.scala
  ledger-service/fetch-contracts/src/main/scala/fetchcontracts/domain/ContractTypeId.scala
  ledger-service/http-json/src/bench/scala/com/daml/http/dbbackend/QueryBenchmark.scala
  ledger-service/http-json/src/bench/scala/com/daml/http/dbbackend/QueryPayloadBenchmark.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsFetch.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/PackageService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/dbbackend/ContractDao.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/domain.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/DomainJsonDecoder.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/JsonProtocol.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/Generators.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/PackageServiceTest.scala
Labels: component/json-api, team/ledger-clients

#14856 deprecate interface library names; use new names downstream
  daml-lf/api-type-signature/src/main/scala/lf/iface/package.scala
  daml-lf/api-type-signature/src/main/scala/lf/iface/reader/package.scala
  daml-lf/api-type-signature/src/main/scala/lf/typesig/EnvironmentSignature.scala
  daml-lf/api-type-signature/src/main/scala/lf/typesig/PackageSignature.scala
  daml-lf/api-type-signature/src/main/scala/lf/typesig/reader/SignatureReader.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/svalue/OrderingSpec.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Converter.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/RunnerMain.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ledgerinteraction/JsonLedgerClient.scala
  daml-script/test/src/com/digitalasset/daml/lf/engine/script/test/JsonApiIt.scala
  daml-script/test/src/test-utils/com/daml/lf/engine/script/test/AbstractParticipantsFixture.scala
  language-support/codegen-common/src/main/scala/com/digitalasset/daml/lf/codegen/dependencygraph/NodeType.scala
  language-support/codegen-common/src/test/scala/com/digitalasset/daml/lf/codegen/UtilSpec.scala
  language-support/codegen-common/src/test/scala/com/digitalasset/daml/lf/codegen/dependencygraph/DependencyGraphSpec.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/ClassForType.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/ClassGenUtils.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/ContractClass.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/ContractIdClass.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/RecordClass.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/ToValueGenerator.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/VariantClass.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/VariantConstructorClass.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/package.scala
  language-support/java/codegen/src/test/scala/com/digitalasset/daml/lf/codegen/CodeGenRunnerTests.scala
  language-support/java/codegen/src/test/scala/com/digitalasset/daml/lf/codegen/InterfaceTreeSpec.scala
  language-support/java/codegen/src/test/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/RecordFieldsSpec.scala
  language-support/java/codegen/src/test/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/RecordLikeMethodsSpec.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/lf/codegen/lf/DamlContractTemplateGen.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/lf/codegen/lf/DamlInterfaceGen.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/lf/codegen/lf/DefTemplateWithRecord.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/lf/codegen/lf/LFUtil.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/lf/codegen/lf/PackageIDsGen.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/lf/codegen/lf/ScopedDataType.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/lf/codegen/lf/UsedTypeParams.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/lf/codegen/lf/VarianceCache.scala
  language-support/scala/codegen/src/test/scala/com/digitalasset/lf/codegen/UtilTest.scala
  language-support/scala/codegen/src/test/scala/com/digitalasset/lf/codegen/lf/UsedTypeParamsSpec.scala
  ledger-service/http-json/src/bench/scala/com/daml/http/dbbackend/QueryPayloadBenchmark.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/PackageService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/domain.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/JsValueToApiValueConverter.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/query/ValuePredicate.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/query/ValuePredicateTest.scala
  ledger-service/lf-value-json/src/test/scala/com/digitalasset/daml/lf/value/json/ApiCodecCompressedSpec.scala
  ledger-service/utils/src/main/scala/com/digitalasset/ledger/service/MetadataReader.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/model/PackageRegistry.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/model/PackageState.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/model/PartyState.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/model/converter/LedgerApiV1.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/model/package.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/store/platform/PlatformSubscriber.scala
  navigator/backend/src/test/scala/com/digitalasset/navigator/backend/DamlConstants.scala
Labels: component/daml-lf, component/java-ecosystem, component/scala-ecosystem, component/json-api, team/ledger-clients, component/daml-script, gardening

#14874 Test cases to ensure retroactive implements works in json-api
  ledger-service/http-json/BUILD.bazel
  ledger-service/http-json/src/it/daml/RIIou.daml
  ledger-service/http-json/src/it/scala/http/HttpServiceIntegrationTest.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTestFuns.scala
Labels: component/json-api, team/ledger-clients, roadmap/interfaces

#14875 Test retro implements in java codegen
  language-support/java/codegen/BUILD.bazel
  language-support/java/codegen/src/test/daml/Retro.daml
  language-support/java/codegen/src/test/scala/com/digitalasset/daml/lf/codegen/backend/java/InterfaceRetroImplementsSpec.scala
Labels: component/java-ecosystem, team/ledger-clients, roadmap/interfaces

#14882 Test retro implements in scala codegen
  language-support/scala/codegen-sample-app/BUILD.bazel
  language-support/scala/codegen-sample-app/src/main/daml/MyMainIfaceRetro.daml
  language-support/scala/codegen-sample-app/src/test/scala/com/digitalasset/codegen/DataTypeIT.scala
Labels: component/scala-ecosystem, team/ledger-clients, roadmap/interfaces

#14877 enable interface view tests in api-type-signature
  daml-lf/api-type-signature/src/test/scala/lf/typesig/reader/SignatureReaderSpec.scala
Labels: component/daml-lf, team/ledger-clients, roadmap/interfaces

#14134 make exercise by interface contract ID safe
  language-support/ts/codegen/src/TsCodeGenMain.hs
  language-support/ts/codegen/tests/ts/build-and-lint-test/src/__tests__/test.ts
  language-support/ts/daml-types/index.ts
Labels: component/js-ecosystem, team/ledger-clients, roadmap/interfaces
