Repository digital-asset/daml, pull requests merged in 2022-02, with the labels that each got.

#12685 match Foldable.foldl1's argument order to DA.List.foldl1's order
  compiler/damlc/daml-stdlib-src/DA/Foldable.daml
  compiler/damlc/tests/daml-test-files/List.daml
Labels: language

#12700 split release
  LATEST
Labels: Standard-Change

#12563 user tokens in oauth2-middleware
  triggers/service/auth/src/main/scala/com/daml/auth/middleware/oauth2/Server.scala
  triggers/service/auth/src/test/scala/com/daml/auth/middleware/oauth2/TestMiddleware.scala
  triggers/service/auth/src/test/scala/com/daml/auth/oauth2/test/server/Test.scala
Labels: application-runtime

#12769 split: release
  LATEST
Labels: Standard-Change

#12777 chunked HTTP response for /v1/users endpoint
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
Labels: component/json-api, team/app-runtime

#12787 Engine: fix compilation exception catch
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
Labels: don't merge!

#12805 move endpoint functions to separate package
  ledger-service/http-json/src/it/scala/http/HttpServiceIntegrationTest.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/EndpointsCompanion.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/endpoints/CreateAndExercise.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/endpoints/PackagesAndDars.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/endpoints/RouteSetup.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/endpoints/UserManagement.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/endpoints/RouteSetupTest.scala
Labels: component/json-api, team/app-runtime

#12843 New split release including jdbc downgrade
  LATEST
Labels: Standard-Change

#12845 Fix es
  infra/es_cluster.tf
  infra/main.tf
Labels: Standard-Change

#12699 [JSON-API] Fix duplicate calls to the command service while debug logging is enabled
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
Labels: component/json-api

#12918 ci: bump Windows workdirs
  ci/build.yml
  infra/vsts_agent_windows.tf
Labels: Standard-Change

#12939 [ledger-api] - Rename max deduplication time to max deduplication duration [KVL-1311]
  buf-ledger-api.yaml
  docs/source/app-dev/app-arch.rst
  docs/source/app-dev/command-deduplication.rst
  docs/source/app-dev/ledger-api.rst
  docs/source/app-dev/services.rst
  language-support/hs/bindings/src/DA/Ledger/Convert.hs
  language-support/hs/bindings/src/DA/Ledger/Types.hs
  language-support/hs/bindings/test/DA/Ledger/Tests.hs
  ledger-api/grpc-definitions/com/daml/ledger/api/v1/ledger_configuration_service.proto
  ledger/indexer-benchmark/src/main/scala/ledger/indexerbenchmark/IndexerBenchmark.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/ledger/api/validation/CommandsValidator.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/ledger/api/validation/SubmitAndWaitRequestValidator.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/ledger/api/validation/SubmitRequestValidator.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/services/grpc/GrpcCommandService.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/services/grpc/GrpcCommandSubmissionService.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/validation/DeduplicationPeriodValidator.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/platform/server/api/services/grpc/GrpcCommandServiceSpec.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/platform/server/api/services/grpc/GrpcCommandSubmissionServiceSpec.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/platform/server/api/validation/DeduplicationPeriodValidatorSpec.scala
  ledger/ledger-api-tests/suites/src/main/scala/com/daml/ledger/api/testtool/suites/v1_8/CommandDeduplicationPeriodValidationIT.scala
  ledger/ledger-api-tests/suites/src/main/scala/com/daml/ledger/api/testtool/suites/v1_8/LedgerConfigurationServiceIT.scala
  ledger/ledger-configuration/protobuf/com/daml/ledger/configuration/ledger_configuration.proto
  ledger/ledger-configuration/protobuf/ledger_configuration.rst
  ledger/ledger-configuration/src/main/scala/com/daml/ledger/configuration/Configuration.scala
  ledger/ledger-configuration/src/test/suite/scala/com/daml/ledger/configuration/ConfigurationSpec.scala
  ledger/ledger-runner-common/src/main/scala/com/daml/ledger/runner/common/ConfigProvider.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiCommandService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiLedgerConfigurationService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiSubmissionService.scala
  ledger/participant-integration-api/src/main/scala/platform/index/LedgerBackedIndexService.scala
  ledger/participant-integration-api/src/test/suite/scala/db/migration/translation/apiserver/services/admin/ApiConfigManagementServiceSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/configuration/LedgerConfigurationSubscriptionFromIndexSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/execution/LedgerTimeAwareCommandExecutorSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/execution/StoreBackedCommandExecutorSpec.scala
  ledger/participant-state-index/src/main/scala/com/daml/ledger/participant/state/index/v2/package.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/api/LedgerReader.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/api/WriteServiceWithDeduplicationSupport.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/CommandDeduplication.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/TestHelpers.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/KVUtilsTransactionSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/api/KeyValueParticipantStateWriterSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/api/WriteServiceWithDeduplicationSupportSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/CommitterSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/CommandDeduplicationSpec.scala
  ledger/participant-state/kvutils/tools/integrity-check/src/test/scala/ledger/participant/state/kvutils/tools/integritycheck/RawPreExecutingCommitStrategySupportSpec.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/Update.scala
  ledger/sandbox-common/src/main/scala/platform/sandbox/config/SandboxConfig.scala
  ledger/sandbox-on-x/src/main/scala/com/daml/ledger/sandbox/BridgeConfig.scala
  ledger/sandbox-on-x/src/main/scala/com/daml/ledger/sandbox/BridgeReadService.scala
  ledger/sandbox-on-x/src/main/scala/com/daml/ledger/sandbox/BridgeWriteService.scala
  ledger/sandbox-on-x/src/main/scala/com/daml/ledger/sandbox/SandboxOnXRunner.scala
  ledger/sandbox-on-x/src/main/scala/com/daml/ledger/sandbox/bridge/LedgerBridge.scala
  ledger/sandbox-on-x/src/main/scala/com/daml/ledger/sandbox/domain/Rejection.scala
  ledger/sandbox-on-x/src/test/it/scala/com/daml/ledger/platform/sandbox/services/configuration/LedgerConfigurationServiceIT.scala
  ledger/sandbox-on-x/src/test/suite/scala/com/daml/ledger/sandbox/bridge/validate/DeduplicationStateSpec.scala
  ledger/sandbox-on-x/src/test/suite/scala/com/daml/ledger/sandbox/bridge/validate/SequenceSpec.scala
Labels: SDK 2.0

#12978 document Java 11 is needed; small release instruction problems found today
  docs/source/getting-started/index.rst
  docs/source/getting-started/installation.rst
  docs/source/json-api/production-setup.rst
  release/RELEASE.md
Labels: component/documentation

#12929 port auth middleware "test client" for user tokens
  triggers/service/auth/BUILD.bazel
  triggers/service/auth/src/main/scala/com/daml/auth/oauth2/test/server/Config.scala
  triggers/service/auth/src/main/scala/com/daml/auth/oauth2/test/server/Server.scala
  triggers/service/auth/src/test/scala/com/daml/auth/middleware/oauth2/TestFixture.scala
  triggers/service/auth/src/test/scala/com/daml/auth/oauth2/test/server/Test.scala
  triggers/service/auth/src/test/scala/com/daml/auth/oauth2/test/server/TestFixture.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceFixture.scala
Labels: team/app-runtime, component/auth-middleware, concern/testing

#13002 Fix code block rendering issues
  docs/theme/sass/_theme_highlighter.sass
Labels: SDK 2.0

#12999 Change mechanism for detecting the index page in the docs theme.
  docs/theme/da_theme_skeleton/layout.html
Labels: SDK 2.0

#12991 test middleware user tokens with oauth2 server user tokens
  triggers/service/auth/src/test/scala/com/daml/auth/middleware/oauth2/TestFixture.scala
  triggers/service/auth/src/test/scala/com/daml/auth/middleware/oauth2/TestMiddleware.scala
  triggers/service/auth/src/test/scala/com/daml/auth/oauth2/test/server/TestFixture.scala
Labels: team/app-runtime, component/auth-middleware, concern/testing

#13028 Fix tf
  infra/hoogle_server.tf
  infra/main.tf
  infra/vsts_agent_ubuntu_20_04.tf
  infra/vsts_agent_ubuntu_20_04_startup.sh
Labels: Standard-Change

#13035 Bump releases on main to 2.1.0
  LATEST
Labels: Standard-Change

#13061 ci: bump Nix on macOS nodes
  infra/macos/2-common-box/init.sh
Labels: Standard-Change

#13056 Enable html4 writer in sphinx
  docs/configs/html/conf.py
Labels: needs-backport

#12994 enable oauth2-test's user tokens in trigger service tests
  triggers/service/src/test-suite/scala/com/daml/lf/engine/trigger/TriggerServiceTestAuth.scala
  triggers/service/src/test-suite/scala/com/daml/lf/engine/trigger/TriggerServiceTestAuthWithOracle.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceFixture.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceTest.scala
Labels: component/trigger-service, team/app-runtime, concern/testing

#13073 Fix GSG to account for login requirement
  docs/source/getting-started/images/create-daml-app-main-screen-initial-view.png
  docs/source/getting-started/index.rst
Labels: needs-backport

#13085 Document user management support in Navigator
  docs/source/tools/navigator/index.rst
  templates/skeleton/daml/Main.daml
Labels: needs-backport

#13089 Fix dependencies for create-daml-app
  templates/create-daml-app/daml.yaml.template
  templates/gsg-trigger.patch
Labels: needs-backport

#13077 use user token for trigger service sandbox test fixture
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/AuthServiceJWTPayload.scala
  triggers/service/src/test-suite/scala/com/daml/lf/engine/trigger/TriggerServiceTestAuth.scala
  triggers/service/src/test-suite/scala/com/daml/lf/engine/trigger/TriggerServiceTestAuthWithOracle.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceFixture.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceTest.scala
Labels: component/trigger-service, team/app-runtime, concern/testing

#13096 Release new 2.0.0 RC
  LATEST
Labels: Standard-Change
