Repository digital-asset/daml, pull requests merged in 2022-05, with the labels that each got.

#13724 non-reflective abstractions for Java codegen Contracts
  docs/source/app-dev/bindings-java/codegen.rst
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/Contract.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/ContractCompanion.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/ContractWithKey.java
  language-support/java/codegen/src/it/java/com/daml/TemplateMethodTest.java
  language-support/java/codegen/src/ledger-tests/scala/com/digitalasset/CodegenLedgerTest.scala
  language-support/java/codegen/src/ledger-tests/scala/com/digitalasset/TestUtil.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/ClassGenUtils.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/ContractClass.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/TemplateClass.scala
  language-support/java/codegen/src/test/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/ContractClassBuilderSpec.scala
Labels: component/java-ecosystem, team/app-runtime

#13844 add missing imports in some interface-implementation cases
  language-support/ts/codegen/src/TsCodeGenMain.hs
  language-support/ts/codegen/tests/daml/Lib/ModIfaceOnly.daml
  language-support/ts/codegen/tests/daml/Main.daml
Labels: component/js-ecosystem, team/app-runtime

#13859 Override annotation for create; add toValue to Template
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/Template.java
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/TemplateClass.scala
Labels: component/java-ecosystem, team/app-runtime

#13858 minimal Scala codegen interface support
  language-support/scala/codegen-sample-app/BUILD.bazel
  language-support/scala/codegen-sample-app/src/main/daml/MyMain.daml
  language-support/scala/codegen-sample-app/src/test/scala/com/digitalasset/codegen/GeneratedCommandsUT.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/lf/codegen/CodeGen.scala
Labels: component/scala-ecosystem, team/app-runtime, interfaces mvp

#13878 Release 2.2.0
  LATEST
Labels: Standard-Change

#13884 Interface: conformance test of Interface
  ledger/ledger-api-test-tool-on-canton/BUILD.bazel
  ledger/ledger-api-test-tool-on-canton/canton.conf
  ledger/ledger-api-test-tool-on-canton/unique-contract-keys.conf
  ledger/ledger-api-tests/conformance.bzl
  ledger/ledger-api-tests/suites/BUILD.bazel
  ledger/ledger-api-tests/suites/src/main/scala/com/daml/ledger/api/testtool/suites/v1_dev.scala
  ledger/ledger-api-tests/suites/src/main/scala/com/daml/ledger/api/testtool/suites/v1_dev/InterfaceIT.scala
  ledger/test-common/BUILD.bazel
  ledger/test-common/src/main/daml/semantic/Interface.daml
Labels: component/daml-engine

#13930 release 2.0.1
  LATEST
Labels: Standard-Change

#13829 reduce fixture-passing boilerplate in json-api tests
  ledger-service/http-json/src/it/edition/ce/com/daml/http/NonRepudiationTest.scala
  ledger-service/http-json/src/it/edition/ee/com/daml/http/NonRepudiationTest.scala
  ledger-service/http-json/src/it/scala/http/HttpServiceIntegrationTest.scala
  ledger-service/http-json/src/it/scala/http/HttpServiceIntegrationTestUserManagement.scala
  ledger-service/http-json/src/it/scala/http/HttpServiceWithPostgresIntTest.scala
  ledger-service/http-json/src/it/scala/http/TlsTest.scala
  ledger-service/http-json/src/it/scala/http/WebsocketServiceOffsetTickIntTest.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTest.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTestFuns.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractNonRepudiationTest.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractWebsocketServiceIntegrationTest.scala
  security-evidence.md
Labels: component/json-api, team/app-runtime, concern/testing, gardening

#13957 remove some contract-ID generality from TypedValueGenerators
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/svalue/OrderingSpec.scala
  daml-lf/transaction-test-lib/src/main/scala/lf/value/test/TypedValueGenerators.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/crypto/HashSpec.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/value/ValueSpec.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTest.scala
Labels: component/daml-lf, team/app-runtime, concern/testing, gardening

#13955 refactor contract/party endpoint functions to endpoints package
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/endpoints/ContractList.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/endpoints/Parties.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/endpoints/RouteSetup.scala
Labels: component/json-api, team/app-runtime, gardening

#13960 replace hand-disassembly of json in tests with domain model values
  ledger-service/http-json/src/it/scala/http/TlsTest.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTest.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTestFuns.scala
  security-evidence.md
Labels: component/json-api, team/app-runtime, concern/testing, gardening

#13959 javadocs for codegen support in javaapi bindings
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/Contract.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/ContractCompanion.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/ContractWithKey.java
Labels: component/documentation, component/java-ecosystem, team/app-runtime, gardening

#14018 remove Stewart from release rotation
  infra/data_bucket.tf
  release/rotation
Labels: Standard-Change

#13938 choice name overloading in lf/interface
  daml-lf/interface/BUILD.bazel
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/DefDataType.scala
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/EnvironmentInterface.scala
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/Interface.scala
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/reader/InterfaceReader.scala
  daml-lf/interface/src/test/daml/InterfaceTestLib.daml
  daml-lf/interface/src/test/daml/InterfaceTestPackage.daml
  daml-lf/interface/src/test/scala/com/digitalasset/daml/lf/iface/DefDataTypeSpec.scala
  daml-lf/interface/src/test/scala/com/digitalasset/daml/lf/iface/reader/InterfaceReaderSpec.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/RunnerMain.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ledgerinteraction/JsonLedgerClient.scala
  language-support/codegen-common/BUILD.bazel
  language-support/codegen-common/src/test/scala/com/digitalasset/daml/lf/codegen/UtilSpec.scala
  language-support/codegen-common/src/test/scala/com/digitalasset/daml/lf/codegen/dependencygraph/DependencyGraphSpec.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/TemplateClass.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/lf/codegen/lf/DamlContractTemplateGen.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/lf/codegen/lf/LFUtil.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/PackageService.scala
  libs-scala/nonempty/src/main/scala/nonempty/NonEmptyReturningOps.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/model/PackageRegistry.scala
  navigator/backend/src/test/scala/com/digitalasset/navigator/backend/DamlConstants.scala
Labels: component/daml-lf, team/app-runtime
