Repository digital-asset/daml, pull requests merged in 2022-10, with the labels that each got.

#15143 passed value decoder to interface Companion
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/ContractCompanion.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/ContractId.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/ContractTypeCompanion.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/InterfaceCompanion.java
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/ClassForType.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/ContractIdClass.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/InterfaceClass.scala
Labels: component/java-ecosystem, team/ledger-clients, ledger clients facade

#15155 turn on -Xlint -Werror for Java bindings
  language-support/java/bindings-rxjava/BUILD.bazel
  language-support/java/bindings-rxjava/src/main/java/com/daml/ledger/rxjava/DamlLedgerClient.java
  language-support/java/bindings-rxjava/src/main/java/com/daml/ledger/rxjava/LedgerClient.java
  language-support/java/bindings-rxjava/src/main/java/com/daml/ledger/rxjava/LedgerIdentityClient.java
  language-support/java/bindings-rxjava/src/main/java/com/daml/ledger/rxjava/grpc/LedgerIdentityClientImpl.java
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/grpc/LedgerIdentityClientTest.scala
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/grpc/helpers/LedgerServices.scala
  language-support/java/bindings/BUILD.bazel
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/DamlGenMap.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/DamlList.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/Record.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/SubmitCommandsRequest.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/ByKey.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/CreateAnd.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/DamlRecord.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/DefinedDataType.java
  language-support/java/codegen/codegen.bzl
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/ContractIdClass.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/EnumClass.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/InterfaceClass.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/TemplateClass.scala
  language-support/java/javaopts.bzl
Labels: component/java-ecosystem, team/ledger-clients, gardening

#15173 mark parts of Java bindings final
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/grpc/helpers/TransactionGenerator.scala
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/Bool.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/Checkpoint.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/CompletionStreamRequest.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/CompletionStreamResponse.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/ContractId.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/CreateAndExerciseCommand.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/CreateCommand.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/DamlCollectors.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/DamlMap.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/Date.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/Decimal.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/ExerciseByKeyCommand.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/ExerciseCommand.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/FiltersByParty.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/GetActiveContractsRequest.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/GetActiveContractsResponse.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/GetFlatTransactionResponse.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/GetLedgerEndResponse.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/GetPackageResponse.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/GetPackageStatusResponse.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/GetTransactionResponse.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/GetTransactionTreesResponse.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/GetTransactionsRequest.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/GetTransactionsResponse.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/Int64.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/NoFilter.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/Party.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/SubmitAndWaitRequest.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/SubmitCommandsRequest.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/SubmitRequest.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/Text.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/Timestamp.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/Transaction.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/TransactionTree.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/Unit.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/UnsupportedEventTypeException.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/User.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/Value.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/PrimitiveValueDecoders.java
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/ToValueGenerator.scala
Labels: component/java-ecosystem, team/ledger-clients

#15116 Provide contract choice metadata
  docs/source/app-dev/bindings-java/codegen.rst
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/ChoiceMetadata.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/ContractCompanion.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/ContractTypeCompanion.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/InterfaceCompanion.java
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/ContractIdClass.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/InterfaceClass.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/TemplateClass.scala
  language-support/java/codegen/src/test/scala/com/digitalasset/daml/lf/codegen/backend/java/ChoiceMetadataFieldsSpec.scala
Labels: component/java-ecosystem, team/ledger-clients, ledger clients facade

#15000 remove some ResolvedQuery cases
  ledger-service/fetch-contracts/src/main/scala/fetchcontracts/domain.scala
  ledger-service/fetch-contracts/src/main/scala/fetchcontracts/domain/ContractTypeId.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/CommandService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsFetch.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/domain.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/util/Collections.scala
Labels: component/json-api, team/ledger-clients

#15209 javadocs for javaapi.data.codegen
  language-support/java/bindings-rxjava/src/main/java/com/daml/ledger/rxjava/LedgerIdentityClient.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/Bool.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/ChoiceMetadata.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/ContractTypeCompanion.java
Labels: component/java-ecosystem, team/ledger-clients, gardening

#15201 run query-store-independent tests less often
  ledger-service/http-json-oracle/src/itlib/scala/http/HttpServiceWithOracleIntTest.scala
  ledger-service/http-json/src/it/scala/http/HttpServiceIntegrationTest.scala
  ledger-service/http-json/src/it/scala/http/HttpServiceIntegrationTestUserManagement.scala
  ledger-service/http-json/src/it/scala/http/HttpServiceWithPostgresIntTest.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTest.scala
  security-evidence.md
Labels: component/json-api, team/ledger-clients, concern/testing, gardening

#15195 add missing PrimitiveValueDecoders
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/PrimitiveValueDecoders.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/ValueDecoder.java
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/FromValueGenerator.scala
  language-support/java/codegen/src/test/scala/com/digitalasset/daml/lf/codegen/backend/java/FromValueSpec.scala
Labels: component/java-ecosystem, team/ledger-clients, ledger clients facade

#15159 Typed ACS and transaction streams for Java codegen
  docs/source/app-dev/bindings-java/quickstart/template-root/pom.xml
  docs/source/app-dev/bindings-java/quickstart/template-root/src/main/java/com/daml/quickstart/iou/IouMain.java
  language-support/java/bindings-rxjava/src/main/java/com/daml/ledger/rxjava/ActiveContractsClient.java
  language-support/java/bindings-rxjava/src/main/java/com/daml/ledger/rxjava/ContractUtil.java
  language-support/java/bindings-rxjava/src/main/java/com/daml/ledger/rxjava/TransactionsClient.java
  language-support/java/bindings-rxjava/src/main/java/com/daml/ledger/rxjava/grpc/ActiveContractClientImpl.java
  language-support/java/bindings-rxjava/src/main/java/com/daml/ledger/rxjava/grpc/TransactionClientImpl.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/ActiveContracts.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/TransactionFilter.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/Contract.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/ContractCompanion.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/ContractTypeCompanion.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/ContractWithInterfaceView.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/ContractWithKey.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/InterfaceCompanion.java
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/ContractClass.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/InterfaceClass.scala
Labels: component/java-ecosystem, team/ledger-clients, ledger clients facade

#15247 [Trigger] refactor Converter
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Converter.scala
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Runner.scala
Labels: component/daml-script

#15267 replace `x -> d.decode(x)` with `d` in Java codegen output
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/FromValueGenerator.scala
Labels: component/java-ecosystem, team/ledger-clients, gardening

#15259 Remove yarn resolutions
  navigator/frontend/package.json
  navigator/frontend/yarn.lock
  package.json
  yarn.lock
Labels: component/navigator, dependencies, team/ledger-clients, javascript, gardening

#15295 rename ChoiceMetadata to Choice
  docs/source/app-dev/bindings-java/codegen.rst
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/Choice.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/ContractCompanion.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/ContractTypeCompanion.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/InterfaceCompanion.java
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/TemplateClass.scala
  language-support/java/codegen/src/test/scala/com/digitalasset/daml/lf/codegen/backend/java/ChoiceMetadataFieldsSpec.scala
Labels: component/java-ecosystem, team/ledger-clients, ledger clients facade

#15199 Replace ContractTypeId with ContractTypeId.Template where appropriate
  ledger-service/fetch-contracts/src/main/scala/fetchcontracts/domain.scala
  ledger-service/fetch-contracts/src/main/scala/fetchcontracts/util/InsertDeleteStep.scala
  ledger-service/http-json-testing/src/main/scala/com/daml/http/HttpServiceTestFixture.scala
  ledger-service/http-json/src/bench/scala/com/daml/http/dbbackend/InsertBenchmark.scala
  ledger-service/http-json/src/bench/scala/com/daml/http/dbbackend/QueryBenchmark.scala
  ledger-service/http-json/src/it/scala/http/HttpServiceIntegrationTest.scala
  ledger-service/http-json/src/it/scala/http/HttpServiceIntegrationTestUserManagement.scala
  ledger-service/http-json/src/it/scala/http/HttpServiceWithPostgresIntTest.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractDatabaseIntegrationTest.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTest.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTestFuns.scala
  ledger-service/http-json/src/itlib/scala/http/FilterDiscriminatorScenario.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/CommandService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/PackageService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/dbbackend/ContractDao.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/domain.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/endpoints/ContractList.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/endpoints/CreateAndExercise.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/DomainJsonDecoder.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/DomainJsonEncoder.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/JsonProtocol.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/Generators.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/json/JsonProtocolTest.scala
  security-evidence.md
Labels: component/json-api, team/ledger-clients, gardening

#15282 make resolver preserve ContractTypeId type *and* class
  ledger-service/http-json/src/it/scala/http/HttpServiceIntegrationTest.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/PackageService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/domain.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/DomainJsonDecoder.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/PackageServiceTest.scala
Labels: component/json-api, team/ledger-clients

#15328 do not use the external definition of "serializable"
  docs/source/app-dev/daml-lf-translation.rst
Labels: component/documentation, team/ledger-clients, gardening

#15329 use domain.Party instead of String in json-api tests
  ledger-service/http-json-testing/src/main/scala/com/daml/http/HttpServiceTestFixture.scala
  ledger-service/http-json-testing/src/main/scala/com/daml/http/HttpServiceUserFixture.scala
  ledger-service/http-json/src/failurelib/scala/http/FailureTests.scala
  ledger-service/http-json/src/it/scala/http/HttpServiceIntegrationTestUserManagement.scala
  ledger-service/http-json/src/it/scala/http/WebsocketServiceOffsetTickIntTest.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTest.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTestFuns.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractWebsocketServiceIntegrationTest.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/CommandServiceTest.scala
  security-evidence.md
Labels: component/json-api, team/ledger-clients, gardening

#15330 less stringly websocket testing
  ledger-service/http-json-testing/src/main/scala/com/daml/http/WebsocketTestFixture.scala
  ledger-service/http-json/src/failurelib/scala/http/FailureTests.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractWebsocketServiceIntegrationTest.scala
Labels: component/json-api, team/ledger-clients, concern/testing, gardening

#15193 Add Update<R> to exercise and create method result types in Java codegen
  docs/source/app-dev/bindings-java/quickstart.rst
  docs/source/app-dev/bindings-java/quickstart/template-root/src/main/java/com/daml/quickstart/iou/IouMain.java
  language-support/java/bindings-rxjava/src/main/java/com/daml/ledger/rxjava/CommandClient.java
  language-support/java/bindings-rxjava/src/main/java/com/daml/ledger/rxjava/CommandSubmissionClient.java
  language-support/java/bindings-rxjava/src/main/java/com/daml/ledger/rxjava/grpc/CommandClientImpl.java
  language-support/java/bindings-rxjava/src/main/java/com/daml/ledger/rxjava/grpc/CommandSubmissionClientImpl.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/Command.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/EventUtils.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/Template.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/ByKey.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/Choice.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/ContractId.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/CreateAnd.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/Created.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/Exercised.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/Exercises.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/HasCommands.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/Update.java
  language-support/java/codegen/src/it/java/com/daml/TemplateMethodTest.java
  language-support/java/codegen/src/ledger-tests/scala/com/digitalasset/CodegenLedgerTest.scala
  language-support/java/codegen/src/ledger-tests/scala/com/digitalasset/InterfacesTest.scala
  language-support/java/codegen/src/ledger-tests/scala/com/digitalasset/TestUtil.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/ContractIdClass.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/TemplateClass.scala
  language-support/java/codegen/src/test/scala/com/digitalasset/daml/lf/codegen/backend/java/ChoiceFieldsSpec.scala
  language-support/java/codegen/src/test/scala/com/digitalasset/daml/lf/codegen/backend/java/InterfaceRetroImplementsSpec.scala
Labels: component/java-ecosystem, team/ledger-clients, ledger clients facade

#15316 test number of query results after overlapping contract IDs in database
  ledger-service/http-json-oracle/BUILD.bazel
  ledger-service/http-json/BUILD.bazel
  ledger-service/http-json/src/it/daml/RIou.daml
  ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTest.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTestFuns.scala
  security-evidence.md
Labels: component/json-api, team/ledger-clients, concern/testing

#15367 getContractTypeId on Template and Contract
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/Template.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/Contract.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/ContractId.java
  language-support/java/codegen/BUILD.bazel
  language-support/java/codegen/src/it/java/com/daml/TemplateMethodTest.java
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/TemplateClass.scala
  language-support/java/codegen/src/test/scala/com/digitalasset/daml/lf/codegen/backend/java/InterfaceRetroImplementsSpec.scala
  language-support/java/codegen/src/test/scala/com/digitalasset/daml/lf/codegen/backend/java/InterfaceSpec.scala
Labels: component/java-ecosystem, team/ledger-clients, ledger clients facade
