Repository digital-asset/daml, pull requests merged in 2022-11, with the labels that each got.

#15401 call library functions instead of generating code
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/PrimitiveValueDecoders.java
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/FromValueGenerator.scala
Labels: component/java-ecosystem, team/ledger-clients, gardening

#15304 Query store support for interface query/fetch
  ledger-service/db-backend/BUILD.bazel
  ledger-service/db-backend/src/main/scala/com/digitalasset/http/dbbackend/Queries.scala
  ledger-service/db-backend/src/test/scala/com/digitalasset/http/dbbackend/QueriesSpec.scala
  ledger-service/http-json/src/bench/scala/com/daml/http/dbbackend/InsertBenchmark.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsFetch.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
Labels: component/json-api, team/ledger-clients, concern/performance

#15423 Retire changelog entries mechanism
  .github/pull_request_template.md
  CHANGELOG
  CONTRIBUTING.md
  ci/check-changelog.sh
  ci/prs.yml
  release/RELEASE.md
Labels: discussion

#15409 split JSON API production setup doc to separate documents
  docs/source/json-api/index.rst
  docs/source/json-api/production-setup.rst
  docs/source/json-api/production-setup/architecture.rst
  docs/source/json-api/production-setup/logging.rst
  docs/source/json-api/production-setup/metrics.rst
  docs/source/json-api/production-setup/query-store.rst
  docs/source/json-api/production-setup/scaling-and-redundancy.rst
  docs/source/json-api/production-setup/security-and-privacy.rst
Labels: component/documentation, component/json-api, team/ledger-clients

#15454 start 2.3.7 release process
  LATEST
Labels: Standard-Change

#15461 @hidden does not take an argument
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/Choice.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/Contract.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/ContractCompanion.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/ContractTypeCompanion.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/ContractWithKey.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/Exercises.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/InterfaceCompanion.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/Update.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/ValueDecoder.java
Labels: component/java-ecosystem, team/ledger-clients, gardening

#15472 move fromContractId and fromCreatedEvent to ContractTypeCompanion
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/ContractFilter.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/TransactionFilter.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/ByKey.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/Contract.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/ContractCompanion.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/ContractId.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/ContractTypeCompanion.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/ContractWithInterfaceView.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/CreateAnd.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/InterfaceCompanion.java
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/ContractClass.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/ContractIdClass.scala
Labels: component/java-ecosystem, team/ledger-clients, gardening

#15473 add `map` to `Update`
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/Update.java
Labels: component/java-ecosystem, team/ledger-clients, gardening, ledger clients facade

#15480 start 2.4.1 process
  LATEST
Labels: Standard-Change

#15515 release 2.4.2
  LATEST
Labels: Standard-Change

#15413 document intended scale, use case contour of JSON API
  docs/source/json-api/index.rst
  docs/source/json-api/production-setup/architecture.rst
  docs/source/json-api/production-setup/logging.rst
  docs/source/json-api/production-setup/metrics.rst
  docs/source/json-api/production-setup/query-store.rst
  docs/source/json-api/production-setup/scaling-and-redundancy.rst
  docs/source/json-api/production-setup/security-and-privacy.rst
Labels: component/documentation, component/json-api, team/ledger-clients

#15566 document serializability in the Templates reference doc
  docs/source/daml/reference/templates.rst
Labels: component/documentation, team/ledger-clients, gardening

#15644 remove unused mbSubst from TS codegen
  language-support/ts/codegen/src/TsCodeGenMain.hs
Labels: component/js-ecosystem, team/ledger-clients, gardening

#15646 use require for some argument checks instead of assert
  ledger-service/db-backend/src/main/scala/com/digitalasset/http/dbbackend/Queries.scala
Labels: component/json-api, team/ledger-clients, gardening

#15642 make packagePrefixes implicit in Java codegen
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/CodeGenRunner.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/ClassForType.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/ClassGenUtils.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/ContractClass.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/ContractIdClass.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/FromValueGenerator.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/InterfaceClass.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/RecordClass.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/RecordMethods.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/TemplateClass.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/TemplateMethods.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/ToValueGenerator.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/VariantClass.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/VariantConstructorClass.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/VariantRecordClass.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/VariantRecordMethods.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/VariantValueDecodersMethods.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/package.scala
  language-support/java/codegen/src/test/scala/com/digitalasset/daml/lf/codegen/CodeGenRunnerTests.scala
  language-support/java/codegen/src/test/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/RecordFieldsSpec.scala
  language-support/java/codegen/src/test/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/RecordLikeMethodsSpec.scala
Labels: component/java-ecosystem, team/ledger-clients, gardening

#15643 use syntax that can report inequality failure in Java codegen test
  language-support/java/codegen/src/test/scala/com/digitalasset/daml/lf/codegen/CodeGenRunnerTests.scala
Labels: component/java-ecosystem, concern/testing, gardening

#15629 remove Victor's access to data bucket
  infra/data_bucket.tf
Labels: Standard-Change

#15444 remove abandoned snapshots from LATEST
  LATEST
  ci/check-for-release-job.yml
Labels: Standard-Change

#15727 Add yarn lock file for build-and-lint-test
  language-support/ts/.gitignore
  language-support/ts/codegen/tests/build-and-lint.sh
  language-support/ts/codegen/tests/ts/yarn.lock
Labels: dependencies, component/js-ecosystem, team/ledger-clients, javascript

#15740 starting 2.5.0-rc1 process
  LATEST
Labels: Standard-Change
