Repository digital-asset/daml, pull requests merged in 2022-01, with the labels that each got.

#12239 Expand ci cluster back
  infra/vsts_agent_ubuntu_20_04.tf
  infra/vsts_agent_windows.tf
Labels: Standard-Change

#12255 Update ci nodes for copyright update
  infra/vsts_agent_ubuntu_20_04.tf
Labels: Standard-Change

#12265 devenv: Use `NIX_USER_CONF_FILES` to set caches.
  dev-env/etc/nix.conf
  dev-env/lib/dade-dump-profile
  infra/vsts_agent_ubuntu_20_04_startup.sh
Labels: Standard-Change

#12262 Fix es cluster
  infra/es_cluster.tf
Labels: Standard-Change

#12270 New split release
  LATEST
Labels: Standard-Change

#12302 Release RC for SDK 1.18.1
  LATEST
Labels: Standard-Change

#12228 [Trigger Service/Oauth2-Middleware] Hocon config refactor
  ledger-service/pureconfig-utils/BUILD.bazel
  ledger-service/pureconfig-utils/src/main/scala/com/daml/pureconfigutils/SharedConfigReaders.scala
  ledger-service/pureconfig-utils/src/test/scala/com/daml/pureconfigutils/SharedConfigReadersTest.scala
  triggers/service/BUILD.bazel
  triggers/service/auth/BUILD.bazel
  triggers/service/auth/src/main/scala/com/daml/auth/middleware/oauth2/Cli.scala
  triggers/service/auth/src/main/scala/com/daml/auth/middleware/oauth2/Config.scala
  triggers/service/auth/src/test/scala/com/daml/auth/middleware/oauth2/CliSpec.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceAppConf.scala
  triggers/service/src/test-suite/scala/com/daml/lf/engine/trigger/CliSpec.scala
Labels: application-runtime

#12327 Release SDK v2.0.0-snapshot.20220110.8812.0.3a08380b
  LATEST
Labels: Standard-Change

#12333 Fix terraform
  infra/periodic_killer.tf
  infra/vsts_agent_ubuntu_20_04.tf
Labels: Standard-Change

#12236 [JSON-API] HOCON config json api
  docs/source/json-api/index.rst
  docs/source/json-api/production-setup.rst
  ledger-service/http-json-cli/BUILD.bazel
  ledger-service/http-json-cli/ee/src/main/scala/com/daml/http/NonRepudiationOptions.scala
  ledger-service/http-json-cli/src/main/scala/com/daml/http/CliBase.scala
  ledger-service/http-json-cli/src/main/scala/com/daml/http/Config.scala
  ledger-service/http-json-cli/src/main/scala/com/daml/http/FileBasedConfig.scala
  ledger-service/http-json-cli/src/main/scala/com/daml/http/JsonApiCli.scala
  ledger-service/http-json-cli/src/main/scala/com/daml/http/OptionParser.scala
  ledger-service/http-json-cli/src/main/scala/com/daml/http/StartSettings.scala
  ledger-service/http-json-cli/src/main/scala/com/daml/http/dbbackend/JdbcConfig.scala
  ledger-service/http-json-oracle/src/itlib/scala/http/HttpServiceOracleInt.scala
  ledger-service/http-json-perf/src/main/scala/com/daml/http/perf/Main.scala
  ledger-service/http-json-testing/src/main/scala/com/daml/http/HttpServiceTestFixture.scala
  ledger-service/http-json/BUILD.bazel
  ledger-service/http-json/src/bench/scala/com/daml/http/dbbackend/ContractDaoBenchmark.scala
  ledger-service/http-json/src/failure/scala/http/HttpTestFixture.scala
  ledger-service/http-json/src/it/scala/http/WebsocketServiceOffsetTickIntTest.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractWebsocketServiceIntegrationTest.scala
  ledger-service/http-json/src/itpostgres/scala/http/HttpServicePostgresInt.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Main.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
  ledger-service/http-json/src/test/resources/http-json-api-minimal.conf
  ledger-service/http-json/src/test/resources/http-json-api.conf
  ledger-service/http-json/src/test/scala/com/digitalasset/http/CliSpec.scala
  ledger-service/pureconfig-utils/BUILD.bazel
  ledger-service/pureconfig-utils/src/main/scala/com/daml/pureconfigutils/SharedConfigReaders.scala
  ledger-service/pureconfig-utils/src/test/scala/com/daml/pureconfigutils/SharedConfigReadersTest.scala
  ledger/metrics/src/main/scala/com/daml/metrics/MetricsReporter.scala
  triggers/service/auth/src/test/scala/com/daml/auth/middleware/oauth2/CliSpec.scala
Labels: component/json-api, application-runtime

#12339 Release SDK 1.18.1 RC
  LATEST
Labels: Standard-Change

#12338 LF: Cache field index inside structural record projection builtin
  daml-lf/interpreter/src/bench/com/daml/lf/interpreter/StructProjBench.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
Labels: component/daml-engine

#12351 Create a new split release
  LATEST
Labels: Standard-Change

#12335 local import cleanup in json-api
  ledger-service/http-json-cli/src/main/scala/com/daml/http/dbbackend/DbStartupMode.scala
  ledger-service/http-json-testing/src/main/scala/com/daml/http/WebsocketTestFixture.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTest.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractWebsocketServiceIntegrationTest.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/domain.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/SprayJson.scala
Labels: component/json-api, application-runtime

#12340 design guidelines for JSON API endpoints
  ledger-service/http-json/README.md
Labels: component/json-api, application-runtime

#12385 Release SDK 1.18.1 RC 2
  LATEST
Labels: Standard-Change

#12373 split-releases: gcs accounts for assembly & canton
  infra/data_bucket.tf
Labels: Standard-Change

#12396 offboarding Akshay
  infra/data_bucket.tf
  release/rotation
Labels: Standard-Change

#12395 Rerelease 1.18.1 RC
  LATEST
Labels: Standard-Change

#12408 Disable printer sharing
  infra/vsts_agent_windows.tf
Labels: Standard-Change

#12415 Release SDK 1.18.1
  LATEST
Labels: Standard-Change

#12436 Trigger split-release
  LATEST
Labels: Standard-Change

#12444 trigger split-release
  LATEST
Labels: Standard-Change

#12489 ci: use service account for Windows nodes
  infra/vsts_agent_windows.tf
Labels: Standard-Change

#12492 split release
  LATEST
Labels: Standard-Change

#12547 Cut a new split release
  LATEST
Labels: Standard-Change

#12554 Fix es
  infra/es_cluster.tf
Labels: Standard-Change

#12577 split-release
  LATEST
Labels: Standard-Change

#12599 ci: temporarily increase Windows capacity
  infra/vsts_agent_windows.tf
Labels: Standard-Change

#12603 release 2.0.0-snapshot.20220126.9029.0.42cf70b1
  LATEST
Labels: Standard-Change

#12607 ci: reduce Windows capacity
  infra/vsts_agent_windows.tf
Labels: Standard-Change

#12614 release 2.0.0-snapshot.20220127.9042.0.4038d0a7
  LATEST
Labels: Standard-Change

#12624 Split release 2022-01-27
  LATEST
Labels: Standard-Change

#12645 ci: pin workdirs on Windows
  infra/vsts_agent_windows.tf
Labels: Standard-Change

#12670 Bump terraform
  infra/.gitignore
  infra/data_bucket.tf
  infra/main.tf
  infra/modules/gcp_cdn_bucket/versions.tf
  infra/versions.tf
  infra/vsts_agent_ubuntu_20_04.tf
  infra/vsts_agent_windows.tf
  nix/default.nix
Labels: Standard-Change
