Repository digital-asset/daml, pull requests merged in 2022-07, with the labels that each got.

#14345 release candidate for 2.2.1
  LATEST
Labels: Standard-Change

#14354 Release 2.2.1
  LATEST
Labels: Standard-Change

#14378 initiate 2.3.0-rc2
  LATEST
Labels: Standard-Change

#14394 use defaultSandboxPorts for assistant defaults
  daml-assistant/daml-helper/src/DA/Daml/Helper/Main.hs
Labels: component/daml-assistant, team/app-runtime, gardening

#14281 split up, parallelize assistant integration tests
  daml-assistant/integration-tests/BUILD.bazel
  daml-assistant/integration-tests/src/DA/Daml/Assistant/IntegrationTestUtils.hs
  daml-assistant/integration-tests/src/DA/Daml/Assistant/IntegrationTests.hs
  daml-assistant/integration-tests/src/DA/Daml/Assistant/QuickstartTests.hs
Labels: component/daml-assistant, team/app-runtime, concern/testing, gardening

#14423 Java bindings interface id blind booleans
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/ExercisedEvent.java
  language-support/java/bindings/src/test/scala/com/daml/ledger/javaapi/data/EventSpec.scala
Labels: component/java-ecosystem, team/app-runtime

#14425 release: 2.3.0 stable
  LATEST
Labels: Standard-Change

#14416 [engine] Transmit completed transaction via SResultFinalValue.
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/interpreter/perf/src/main/scala/com/daml/lf/explore/Explore.scala
  daml-lf/interpreter/perf/src/main/scala/com/daml/lf/explore/ExploreDar.scala
  daml-lf/interpreter/perf/src/main/scala/com/daml/lf/explore/LoadDarFunction.scala
  daml-lf/interpreter/src/bench/com/daml/lf/interpreter/StructProjBench.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SResult.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ExceptionTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/InterpreterTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/PartialTransactionSpec.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ProfilerTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SpeedyTestLib.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/TailCallTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/svalue/OrderingSpec.scala
  daml-lf/repl/src/main/scala/com/digitalasset/daml/lf/repl/testing/Main.scala
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/ScenarioRunner.scala
  daml-lf/scenario-interpreter/src/perf/benches/scala/com/digitalasset/daml/lf/speedy/perf/CollectAuthority.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Converter.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Runner.scala
Labels: component/daml-engine

#14487 replace custom toOptional in interface library with scala-library method
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/DefDataType.scala
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/package.scala
Labels: component/daml-lf, team/app-runtime, gardening

#14518 release 2.3.2
  LATEST
Labels: Standard-Change

#14485 make getInterfaceId optional
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/grpc/helpers/TransactionGenerator.scala
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/ExercisedEvent.java
Labels: component/java-ecosystem, team/app-runtime

#14522 group JSON API tests by endpoint, other categories
  ledger-service/http-json/src/it/scala/http/HttpServiceIntegrationTestUserManagement.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTest.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractWebsocketServiceIntegrationTest.scala
  security-evidence.md
Labels: component/json-api, team/app-runtime, concern/testing, gardening

#14527 add operations for non-empty sorted maps
  libs-scala/nonempty/src/main/scala/nonempty/NonEmpty.scala
  libs-scala/nonempty/src/test/scala/nonempty/NonEmptySpec.scala
Labels: team/app-runtime

#14536 suggest JSON API/JavaScript users use the bindings and codegen
  docs/source/json-api/index.rst
  docs/source/json-api/lf-value-specification.rst
Labels: component/documentation, component/json-api, team/app-runtime

#14566 LF conversion: split `Env`
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Repl.hs
  compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
  compiler/damlc/daml-ide-core/src/Development/IDE/Core/Service/Daml.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
Labels: language
