Repository digital-asset/daml, pull requests merged in 2022-04, with the labels that each got.

#13510 Remove by_interface field form proto Transaction Nodes
  daml-lf/transaction-test-lib/src/main/scala/lf/value/test/ValueGenerators.scala
  daml-lf/transaction/src/main/protobuf/com/daml/lf/transaction.proto
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionCoder.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionVersion.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionCoderSpec.scala
Labels: component/daml-engine, interfaces mvp

#13511 Remove ByInterface Replay Command
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/CommandPreprocessor.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/CommandPreprocessorSpec.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/InterfacesTest.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ReinterpretTest.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/ReplayCommand.scala
Labels: component/daml-engine, interfaces mvp

#13509 Remove by_interface from scenario transaction Nodes
  compiler/scenario-service/client/test/DA/Daml/LF/PrettyScenarioSpec.hs
  compiler/scenario-service/protos/scenario_service.proto
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
Labels: component/daml-engine, interfaces mvp

#13502 Remove byInterface form transaction tree SBuiltins
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/CommandPreprocessor.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/TransactionPreprocessor.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Command.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/PhaseOne.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Profile.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/tests/scenario/dev/interfaces/EXPECTED.ledger
Labels: component/daml-engine, interfaces mvp

#13527 Cut daml SDK release 2.0.1-snapshot.20220331.9373.0.4a445be6
  LATEST
Labels: Standard-Change

#13495 LF spec: Small-step semantics for expression evaluation
  daml-lf/spec/daml-lf-1.rst
Labels: component/daml-lf

#13460 Add generation of FromInterfaceContractId methods for supporting templates in the java codegen
  docs/source/app-dev/bindings-java/codegen.rst
  language-support/java/codegen/src/ledger-tests/daml/Interfaces.daml
  language-support/java/codegen/src/ledger-tests/scala/com/digitalasset/InterfacesTest.scala
  language-support/java/codegen/src/ledger-tests/scala/com/digitalasset/TestUtil.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/ContractIdClass.scala
Labels: team/app-runtime

#13565 use matchers for auth middleware test assertions
  security-evidence.md
  triggers/service/auth/BUILD.bazel
  triggers/service/auth/src/test/scala/com/daml/auth/middleware/oauth2/TestMiddleware.scala
  triggers/service/auth/src/test/scala/com/daml/auth/middleware/oauth2/TestRequestStore.scala
  triggers/service/auth/src/test/scala/com/daml/auth/oauth2/test/server/Client.scala
  triggers/service/auth/src/test/scala/com/daml/auth/oauth2/test/server/Test.scala
Labels: team/app-runtime, component/auth-middleware, concern/testing, gardening

#13563 cross-reference associated WS and normal POST docs
  docs/source/json-api/index.rst
Labels: component/documentation, component/json-api, team/app-runtime, gardening

#13569 use matchers for trigger test assertions
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/test/AbstractFuncTests.scala
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/test/DevOnly.scala
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/test/Jwt.scala
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/test/Tls.scala
Labels: team/app-runtime, component/triggers, concern/testing, gardening

#13576 release 2.1.0
  LATEST
Labels: Standard-Change

#13625 release 2.1.1
  LATEST
Labels: Standard-Change

#13619 nicer party throwaway literals in tests
  daml-lf/transaction-test-lib/src/main/scala/lf/value/test/TypedValueGenerators.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTest.scala
  security-evidence.md
Labels: team/app-runtime, concern/testing, gardening

#13636 support cross-module interface implementation in typescript codegen
  language-support/ts/codegen/src/TsCodeGenMain.hs
  language-support/ts/codegen/tests/daml/Lib/Mod.daml
  language-support/ts/codegen/tests/daml/Main.daml
Labels: component/js-ecosystem, team/app-runtime

#13633 test and document error when querying with a pruned offset argument
  docs/source/json-api/index.rst
  ledger-service/http-json-testing/src/main/scala/com/daml/http/WebsocketTestFixture.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractWebsocketServiceIntegrationTest.scala
  security-evidence.md
Labels: component/documentation, component/json-api, team/app-runtime, concern/testing

#13617 reenable no-unnecessary-type-assertion eslint warnings
  language-support/ts/daml-ledger/index.ts
  language-support/ts/daml-types/.eslintrc.json
Labels: component/js-ecosystem, team/app-runtime, gardening

#13618 remove small Scala 2.12 artifacts
  ledger-service/db-backend/src/main/scala/com/digitalasset/http/dbbackend/Queries.scala
  ledger-service/http-json-testing/src/main/scala/com/daml/http/util/TestUtil.scala
Labels: component/json-api, team/app-runtime, gardening

#13624 Release 2.0.1 RC4
  LATEST
Labels: Standard-Change

#13658 add missing type parameter evidence to Java codegen output when Numeric used
  language-support/java/codegen/src/it/daml/Tests/RecordTest.daml
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/package.scala
Labels: component/java-ecosystem, team/app-runtime

#13685 split AbstractHttpServiceIntegrationTest into two files
  ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTest.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTestFuns.scala
  security-evidence.md
Labels: component/json-api, team/app-runtime, concern/testing, gardening

#13692 Daml-Script: fix MultiTestIT test
  daml-script/test/daml/MultiTest.daml
Labels: component/daml-script

#13684 LF: Add a convenient companion object for ArrayList
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/Preprocessor.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/ValueTranslator.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ValueTranslatorSpec.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ArrayList.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/PhaseOne.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Profile.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/CompilerTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SpeedyTest.scala
  daml-script/converter/src/main/scala/Converter.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Converter.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ScriptF.scala
  daml-script/test/src/test-utils/com/daml/lf/engine/script/test/AbstractParticipantsFixture.scala
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Converter.scala
Labels: component/daml-engine

#13682 LF: Structure stable packages
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ExceptionTest.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/StablePackage.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/StablePackages.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/Value.scala
  daml-script/converter/src/main/scala/Converter.scala
  daml-script/export/src/main/scala/com/daml/script/export/Dependencies.scala
  daml-script/export/src/main/scala/com/daml/script/export/TreeUtils.scala
  daml-script/export/src/test/scala/com/daml/script/export/AstSyntax.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Converter.scala
  daml-script/test/src/test-utils/com/daml/lf/engine/script/test/AbstractParticipantsFixture.scala
Labels: component/daml-engine

#13687 different representation of Leibniz and Liskov in Scala codegen base library
  language-support/scala/bindings/src/main/scala/com/digitalasset/ledger/client/binding/binding/Primitive.scala
  language-support/scala/bindings/src/main/scala/com/digitalasset/ledger/client/binding/binding/TemplateCompanion.scala
  language-support/scala/codegen-testing/src/main/scala/com/digitalasset/ledger/client/binding/encoding/GenEncoding.scala
  language-support/scala/codegen-testing/src/main/scala/com/digitalasset/ledger/client/binding/encoding/ShowEncoding.scala
Labels: component/scala-ecosystem, team/app-runtime, gardening

#13651 Replace more instances of 'scenario' with 'script'
  compiler/daml-extension/snippets/daml.json
  compiler/daml-extension/syntaxes/daml.json
  release/sdk-config.yaml.tmpl
Labels: language

#13739 Daml-script: marking MultiParticipantIT as falky in windows
  daml-script/test/BUILD.bazel
Labels: component/daml-script
