Repository digital-asset/daml, pull requests merged in 2023-02, with the labels that each got.

#16216 update CI node reset permissions
  infra/main.tf
  infra/periodic_killer.tf
  infra/vsts_agent_ubuntu_20_04.tf
  nix/default.nix
Labels: Standard-Change

#16221 Add createArgumentsBlob and ContractMetadata to Java bindings' CreatedEvents
  language-support/java/bindings-rxjava/src/test/scala/com/daml/ledger/rxjava/grpc/helpers/TransactionGenerator.scala
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/ContractMetadata.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/CreatedEvent.java
  language-support/java/bindings/src/test/scala/com/daml/ledger/javaapi/data/EventSpec.scala
  language-support/java/bindings/src/test/scala/com/daml/ledger/javaapi/data/Generators.scala
  language-support/java/codegen/src/test/scala/com/digitalasset/daml/lf/codegen/backend/java/InterfaceSpec.scala
Labels: component/java-ecosystem, team/ledger-clients

#16255 start 2.5.3 process
  LATEST
Labels: Standard-Change

#16175 [Engine] Add cooperative interruption
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/EngineConfig.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Result.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/execution/StoreBackedCommandExecutor.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/LfValueTranslation.scala
  ledger/sandbox-on-x/resources/generated-default.conf
Labels: component/daml-engine

#16302 [Speedy] do not need disclosed contract at Machine creation time
  compiler/scenario-service/client/src/DA/Daml/LF/PrettyScenario.hs
  compiler/scenario-service/protos/scenario_service.proto
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Error.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/CommandPreprocessor.scala
  daml-lf/interpreter/BUILD.bazel
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/CompilerTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ExplicitDisclosureLib.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ExplicitDisclosureTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/PartialTransactionSpec.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SpeedyTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SpeedyTestLib.scala
  daml-lf/spec/daml-lf-1.rst
  daml-lf/transaction/src/main/scala/com/daml/lf/Error.scala
  ledger/ledger-api-tests/suites/src/main/scala/com/daml/ledger/api/testtool/suites/v1_15/ExplicitDisclosureIT.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/RejectionGenerators.scala
Labels: component/daml-engine

#16360 Revert integration test support until fixed
  compiler/damlc/tests/BUILD.bazel
  compiler/damlc/tests/daml-test-files/Loop.daml
  compiler/damlc/tests/daml-test-files/ScriptEnabled.daml
  compiler/damlc/tests/src/DA/Test/DamlcIntegration.hs
Labels: component/damlc

#16367 2.6 release candidate
  LATEST
Labels: Standard-Change

#16361 Bring back script integration
  BUILD
  compiler/damlc/tests/BUILD.bazel
  compiler/damlc/tests/daml-test-files/Loop.daml
  compiler/damlc/tests/daml-test-files/ScriptEnabled.daml
  compiler/damlc/tests/src/DA/Test/DamlcIntegration.hs
Labels: component/damlc

#16393 ci: fix Linux nodes
  infra/vsts_agent_ubuntu_20_04_startup.sh
Labels: Standard-Change

#16397 start 2.5.4 process
  LATEST
Labels: Standard-Change

#16401 more determinism in delete order
  ledger-service/db-backend/BUILD.bazel
  ledger-service/db-backend/src/main/scala/com/digitalasset/http/dbbackend/Queries.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsFetch.scala
Labels: component/json-api, oracle, don't rebase!
