Repository digital-asset/daml, pull requests merged in 2023-01, with the labels that each got.

#15962 [Docs] Swap sentences to comply with evaluation logic
  docs/source/concepts/ledger-model/ledger-integrity.rst
Labels: component/documentation

#16041 infra: add delete permission to assembly account
  infra/data_bucket.tf
Labels: Standard-Change

#16059 revert #16041
  infra/data_bucket.tf
Labels: Standard-Change

#16080 start 2.5.1
  LATEST
Labels: Standard-Change

#16142 remove 2.3.5 from LATEST - it never happened
  LATEST
Labels: Standard-Change

#16140 Release 2.4.3
  LATEST
Labels: Standard-Change

#16116 reduce package service calls to avoid `THREADPOOL_OVERLOADED` errors
  ledger-service/http-json-testing/src/main/scala/com/daml/http/HttpServiceTestFixture.scala
  ledger-service/http-json/src/it/scala/http/AuthorizationTest.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/CommandService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/EndpointsCompanion.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/LedgerClientJwt.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/PackageService.scala
  ledger-service/utils/BUILD.bazel
  ledger-service/utils/src/main/scala/com/digitalasset/ledger/service/Grpc.scala
  ledger-service/utils/src/main/scala/com/digitalasset/ledger/service/LedgerReader.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoSuite.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoTransactionsSpec.scala
  libs-scala/scala-utils/src/main/scala/com/daml/scalautil/TraverseFMSyntax.scala
Labels: component/json-api, team/ledger-clients, needs-backport

#16170 reduce package service calls to avoid `THREADPOOL_OVERLOADED` errors
  ledger-service/http-json-testing/src/main/scala/com/daml/http/HttpServiceTestFixture.scala
  ledger-service/http-json/src/it/scala/http/AuthorizationTest.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/CommandService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/EndpointsCompanion.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/LedgerClientJwt.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/PackageService.scala
  ledger-service/utils/BUILD.bazel
  ledger-service/utils/src/main/scala/com/digitalasset/ledger/service/Grpc.scala
  ledger-service/utils/src/main/scala/com/digitalasset/ledger/service/LedgerReader.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoSuite.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoTransactionsSpec.scala
  libs-scala/scala-utils/src/main/scala/com/daml/scalautil/TraverseFMSyntax.scala
Labels: component/json-api, team/ledger-clients

#16174 start 2.5.2 process
  LATEST
Labels: Standard-Change
