Repository digital-asset/daml, pull requests merged in 2023-03, with the labels that each got.

#16424 start 2.3.9
  LATEST
Labels: Standard-Change

#16435 [Speedy] drop bultins made useless by #16320
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/CompilerTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ExplicitDisclosureLib.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
Labels: component/daml-engine

#16434 [infra] revert logging change
  infra/vsts_agent_ubuntu_20_04.tf
  infra/vsts_agent_ubuntu_20_04_startup.sh
Labels: Standard-Change

#16430 Fix controller unused arg warning for interface archives
  bazel_tools/ghc-lib/version.bzl
  compiler/damlc/tests/daml-test-files/AmbiguousInterfaceInstance.EXPECTED.desugared-daml
  compiler/damlc/tests/daml-test-files/Interface.EXPECTED.desugared-daml
  compiler/damlc/tests/daml-test-files/InterfaceChoiceCollision2.EXPECTED.desugared-daml
  compiler/damlc/tests/daml-test-files/InterfaceChoiceGuardFailed.EXPECTED.desugared-daml
  compiler/damlc/tests/daml-test-files/InterfaceChoiceGuardFailedNotExtended.EXPECTED.desugared-daml
  compiler/damlc/tests/daml-test-files/InterfaceContractDoesNotImplementInterface.EXPECTED.desugared-daml
  compiler/damlc/tests/daml-test-files/InterfaceControllerUnusedWarning.daml
  compiler/damlc/tests/daml-test-files/InterfaceConversions.EXPECTED.desugared-daml
  compiler/damlc/tests/daml-test-files/InterfaceDoubleSpend.EXPECTED.desugared-daml
  compiler/damlc/tests/daml-test-files/InterfaceEmpty.EXPECTED.desugared-daml
  compiler/damlc/tests/daml-test-files/InterfaceEq.EXPECTED.desugared-daml
  compiler/damlc/tests/daml-test-files/InterfaceErrors.EXPECTED.desugared-daml
  compiler/damlc/tests/daml-test-files/InterfaceFunctions.EXPECTED.desugared-daml
  compiler/damlc/tests/daml-test-files/InterfaceGuarded.EXPECTED.desugared-daml
  compiler/damlc/tests/daml-test-files/InterfaceGuardedNotExtended.EXPECTED.desugared-daml
  compiler/damlc/tests/daml-test-files/InterfaceNameCollision.EXPECTED.desugared-daml
  compiler/damlc/tests/daml-test-files/InterfaceNoExerciseRequiring.EXPECTED.desugared-daml
  compiler/damlc/tests/daml-test-files/InterfaceNoExerciseTemplate.EXPECTED.desugared-daml
  compiler/damlc/tests/daml-test-files/InterfaceNoMethodOnRequiring.EXPECTED.desugared-daml
  compiler/damlc/tests/daml-test-files/InterfaceNoMethodOnTemplate.EXPECTED.desugared-daml
  compiler/damlc/tests/daml-test-files/InterfaceNotSupported.EXPECTED.desugared-daml
  compiler/damlc/tests/daml-test-files/InterfaceRequiresCircular.EXPECTED.desugared-daml
  compiler/damlc/tests/daml-test-files/InterfaceRequiresCircularIndirect.EXPECTED.desugared-daml
  compiler/damlc/tests/daml-test-files/InterfaceRequiresClash.EXPECTED.desugared-daml
  compiler/damlc/tests/daml-test-files/InterfaceRequiresClashA.EXPECTED.desugared-daml
  compiler/damlc/tests/daml-test-files/InterfaceRequiresClashB.EXPECTED.desugared-daml
  compiler/damlc/tests/daml-test-files/InterfaceRequiresError.EXPECTED.desugared-daml
  compiler/damlc/tests/daml-test-files/InterfaceRequiresNotClosed.EXPECTED.desugared-daml
  compiler/damlc/tests/daml-test-files/InterfaceSerializabilityArgument.EXPECTED.desugared-daml
  compiler/damlc/tests/daml-test-files/InterfaceSerializabilityPayload.EXPECTED.desugared-daml
  compiler/damlc/tests/daml-test-files/InterfaceSerializabilityResult.EXPECTED.desugared-daml
  compiler/damlc/tests/daml-test-files/InterfaceSyntax.EXPECTED.desugared-daml
  compiler/damlc/tests/daml-test-files/InterfaceUpcastDowncast.EXPECTED.desugared-daml
  compiler/damlc/tests/daml-test-files/QualifiedRetroactiveInterfaceInstance.EXPECTED.desugared-daml
  compiler/damlc/tests/daml-test-files/RetroactiveInterfaceInstance.EXPECTED.desugared-daml
Labels: component/damlc

#16448 flip allow-batching to off for Oracle
  ledger-service/db-backend/src/main/scala/com/digitalasset/http/dbbackend/Queries.scala
Labels: component/json-api, oracle, concern/performance

#16452 2.3.10 snapshot
  LATEST
Labels: Standard-Change

#16461 infra: document token rotation
  infra/README.md
Labels: Standard-Change

#16453 [Speedy] move compilation of disclosure outside of the Machine.
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/interpreter/BUILD.bazel
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/CompilerTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/EvaluationOrderTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ExplicitDisclosureLib.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ExplicitDisclosureTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SpeedyTest.scala
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/ScenarioRunner.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ledgerinteraction/IdeLedgerClient.scala
  security-evidence.md
Labels: component/daml-engine

#16476 new 2.6 rc
  LATEST
Labels: Standard-Change

#16472 log suppressed errors out-of-band (Forward Port of #16261)
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
Labels: component/json-api, team/ledger-clients, concern/observability

#16482 start 2.3.10 process
  LATEST
Labels: Standard-Change

#16471 more determinism in delete order (forward port of #16401)
  ledger-service/db-backend/src/main/scala/com/digitalasset/http/dbbackend/Queries.scala
  ledger-service/db-backend/src/test/scala/com/digitalasset/http/dbbackend/QueriesSpec.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsFetch.scala
Labels: component/json-api, team/ledger-clients, concern/performance

#16494 start 2.5.5
  LATEST
Labels: Standard-Change

#16498 infra: larger virtual disks
  infra/vsts_agent_ubuntu_20_04.tf
  infra/vsts_agent_ubuntu_20_04_startup.sh
Labels: Standard-Change

#16594 [Script] fix AuthIT
  daml-script/test/src/com/digitalasset/daml/lf/engine/script/test/AuthIT.scala
  daml-script/test/src/com/digitalasset/daml/lf/engine/script/test/FuncStaticTimeIT.scala
  daml-script/test/src/com/digitalasset/daml/lf/engine/script/test/FuncWallClockIT.scala
  daml-script/test/src/com/digitalasset/daml/lf/engine/script/test/MultiParticipantIT.scala
  daml-script/test/src/com/digitalasset/daml/lf/engine/script/test/TlsIT.scala
  daml-script/test/src/test-utils/com/daml/lf/engine/script/test/AbstractFuncIT.scala
  daml-script/test/src/test-utils/com/daml/lf/engine/script/test/AbstractScriptTest.scala
  daml-script/test/src/test-utils/com/daml/lf/engine/script/test/CantonFixture.scala
Labels: component/daml-script

#16610 ci: set up Ubuntu nodes on Azure
  infra/README.md
  infra/main.tf
  infra/ubuntu.tf
  infra/ubuntu_azure.tf
  infra/ubuntu_gcp.tf
  infra/ubuntu_startup.sh
  nix/default.nix
Labels: Standard-Change

#16629 fix small oversight in azure config
  infra/ubuntu_azure.tf
Labels: Standard-Change

#16628 start 2.3.11
  LATEST
Labels: Standard-Change

#16529 explicit disclosure parameters for JSON API
  ledger-service/http-json-testing/src/main/scala/com/daml/http/HttpServiceTestFixture.scala
  ledger-service/http-json-testing/src/main/scala/com/daml/http/HttpServiceUserFixture.scala
  ledger-service/http-json/BUILD.bazel
  ledger-service/http-json/src/it/daml/Disclosure.daml
  ledger-service/http-json/src/it/edition/ce/com/daml/http/NonRepudiationTest.scala
  ledger-service/http-json/src/it/edition/ee/com/daml/http/NonRepudiationTest.scala
  ledger-service/http-json/src/it/scala/http/HttpServiceIntegrationTestUserManagement.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTest.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTestFuns.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractWebsocketServiceIntegrationTest.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/CommandService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/domain.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/endpoints/CreateAndExercise.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/DomainJsonDecoder.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/DomainJsonEncoder.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/JsonProtocol.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/util/Commands.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/util/JwtParties.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/CommandServiceTest.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/DomainSpec.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/Generators.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/json/JsonProtocolTest.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/util/JwtPartiesTest.scala
  libs-scala/scalatest-utils/BUILD.bazel
  libs-scala/scalatest-utils/src/main/scala/scalatest/FreeSpecCheckLaws.scala
Labels: component/json-api, roadmap/explicit-disclosure

#16633 start 2.6.1 process
  LATEST
Labels: Standard-Change

#16611 allow disclosed contracts to be passed to create-and-exercise
  ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTest.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/domain.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/DomainJsonDecoder.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/DomainJsonEncoder.scala
Labels: component/json-api, roadmap/explicit-disclosure
