Repository digital-asset/daml, pull requests merged in 2023-04, with the labels that each got.

#16635 test payloadBlob and multiple disclosed contracts in JSON API exercise, create-and-exercise
  ledger-service/http-json/src/it/daml/Disclosure.daml
  ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTest.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTestFuns.scala
Labels: component/json-api, team/ledger-clients, roadmap/explicit-disclosure

#16678 infra: fix inadvertent shadowing in reset-azure
  infra/ubuntu_azure.tf
Labels: Standard-Change

#16687 JSON-API: Fix for warning in logback output, if can’t be inside appender.
  ledger-service/http-json/src/main/resources/logback.xml
Labels: component/json-api

#16696 Start 2.6.2 release process
  LATEST
Labels: Standard-Change

#16703 remove ubuntu nodes on reset
  infra/ubuntu_startup.sh
Labels: Standard-Change

#16721 start 2.6.3
  LATEST
Labels: Standard-Change

#16705 infra: add a Windows node on Azure
  .dadew
  dev-env/windows/manifests/gcloud.json
  infra/azure.tf
  infra/main.tf
  infra/ubuntu_azure.tf
  infra/windows.tf
  infra/windows_azure.tf
  infra/windows_gcp.tf
  infra/windows_startup.ps1
  nix/default.nix
Labels: Standard-Change

#16723 Windows clean up
  infra/azure.tf
  infra/periodic_killer.tf
  infra/windows.tf
Labels: Standard-Change

#16741 change Azure subscription
  infra/README.md
  infra/main.tf
Labels: Standard-Change

#16744 2.3.12 snapshot for testing
  LATEST
Labels: Standard-Change

#16759 [LF] Kill expirmental optimized text primitives
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Base.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Pretty.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/DecodeV1.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/EncodeV1.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/Simplifier.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Check.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion/Primitives.hs
  compiler/damlc/daml-stdlib-src/DA/Text.daml
  compiler/damlc/tests/daml-test-files/UnstableText.daml
  daml-lf/archive/src/main/protobuf/com/daml/daml_lf_dev/daml_lf_1.proto
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/PhaseOne.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
Labels: component/daml-lf
