Repository digital-asset/daml, pull requests merged in 2023-05, with the labels that each got.

#16784 [Speedy] implement new type erasure friendly numeric builtins
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/PhaseOne.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SError.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
Labels: component/daml-engine

#16788 clean up Windows machines
  infra/azure.tf
Labels: Standard-Change

#16792 start 2.3.12
  LATEST
Labels: Standard-Change

#16801 Release 2.6.4 with no changes in the daml repo
  LATEST
Labels: Standard-Change

#16812 infra: increase Windows disk sizes
  infra/windows.tf
Labels: Standard-Change

#16873 infra: tweak Azure config
  infra/ubuntu_azure.tf
  infra/windows.tf
  infra/windows_azure.tf
  infra/windows_gcp.tf
  infra/windows_startup.ps1
Labels: Standard-Change

#16887 JSON API: make template id lookup concurrency-safe (2.6.x backport)
  ledger-service/db-backend/src/main/scala/com/digitalasset/http/dbbackend/Queries.scala
Labels: component/json-api

#16861 try new version scheme
  LATEST
  release.sh
Labels: Standard-Change
