Repository digital-asset/daml, pull requests merged in 2024-10, with the labels that each got.

#20034 new snapshot of #20015
  sdk/LATEST
Labels: Standard-Change

#20052 new adhoc snapshot for #20015
  sdk/LATEST
Labels: Standard-Change

#20047 JSON API: add test demonstrating issue with package id in exercise event in the presence of upgrades
  sdk/ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTest.scala
Labels: component/json-api, upgrades

#20082 addhoc snapshot to test #20078
  sdk/LATEST
Labels: Standard-Change

#20120 new 2.9.5 snapshot
  sdk/LATEST
Labels: Standard-Change

#20141 adhoc snapshot for testing #20076
  sdk/LATEST
Labels: Standard-Change

#20153 Add 2.9.5 release
  sdk/LATEST
Labels: Standard-Change

#20160 adhoc snapshot for #20076
  sdk/LATEST
Labels: Standard-Change

#20167 LF Value: remove Order and Equal instances
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/svalue/OrderingSpec.scala
  sdk/daml-lf/transaction/BUILD.bazel
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/Value.scala
  sdk/daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/value/ValueSpec.scala
  sdk/language-support/java/json/BUILD.bazel
  sdk/ledger-service/lf-value-json/src/main/scala/com/digitalasset/daml/lf/value/json/ApiCodecCompressed.scala
  sdk/ledger-service/lf-value-json/src/test/scala/com/digitalasset/daml/lf/value/json/ApiCodecCompressedSpec.scala
Labels: upgrades

#20176 LF Value: remove the remainder of Value Order instance
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/Value.scala
Labels: upgrades

#20205 adhoc snapshot to test #20076
  sdk/LATEST
Labels: Standard-Change

#20208 2.9.6 snapshot
  sdk/LATEST
Labels: Standard-Change

#20217 Snapshot for daml-finance fixes
  sdk/LATEST
Labels: Standard-Change
