Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @basvangijzel-DA, @dylant-da, @gerolf-da, @paulbrauner-da, @remyhaemmerle-da, @digital-asset/daml-language, @digital-asset/kv-participant

update NOTICES file
  sdk/NOTICES
Owners: none

Use FatContractInstance for disclosure in Command
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/ledger/api/domain/domain.scala
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Error.scala
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/CommandPreprocessor.scala
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/Preprocessor.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/PreprocessorSpec.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Command.scala
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/command/ApiCommand.scala
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v1/ledgerinteraction/IdeLedgerClient.scala
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ledgerinteraction/IdeLedgerClient.scala
Owners: none

fix
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/PreprocessorSpec.scala
Owners: none

Fix non-internal deps for split release (#19448)
  ci/prs.yml
  sdk/compatibility/test-all-installs.sh
  sdk/compiler/damlc/BUILD.bazel
  sdk/compiler/damlc/lib/DA/Cli/Damlc/DependencyDb.hs
Owners: @digital-asset/daml-language, @digital-asset/kv-participant

Fix non-internal deps for split release (#19448) (#19720)
  ci/prs.yml
  sdk/compatibility/test-all-installs.sh
  sdk/compiler/damlc/BUILD.bazel
  sdk/compiler/damlc/lib/DA/Cli/Damlc/DependencyDb.hs
Owners: @digital-asset/daml-language, @digital-asset/kv-participant

Fix VSCode starting daml IDE
  sdk/compiler/daml-extension/src/extension.ts
Owners: @digital-asset/daml-language

Fix VSCode starting daml IDE
  sdk/compiler/daml-extension/src/extension.ts
Owners: @digital-asset/daml-language

Fix VSCode starting daml IDE
  sdk/compiler/daml-extension/src/extension.ts
Owners: @digital-asset/daml-language

Revert breaking part of the fix on Canton for later consideration
  sdk/canton/community/participant/src/main/scala/com/digitalasset/canton/participant/protocol/submission/TransactionTreeFactoryImplV3.scala
  sdk/daml-script/test/daml/upgrades/Interfaces.daml
Owners: none

Fix VSCode starting daml IDE (#19723)
  sdk/compiler/daml-extension/src/extension.ts
Owners: @digital-asset/daml-language

reduce overloading of Hash#add
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/crypto/Hash.scala
Owners: none

add Andreas' collision test cases
  sdk/daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/crypto/HashSpec.scala
Owners: none

[LF] make thehashing scheme upgradable friendly
  sdk/canton/community/base/src/main/scala/com/digitalasset/canton/protocol/SerializableRawContractInstance.scala
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/crypto/Hash.scala
  sdk/daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/crypto/HashSpec.scala
Owners: none

fixed types generated by codegen backport main commit - b9fe360
  sdk/language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/EnumClass.scala
  sdk/language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/FromJsonGenerator.scala
  sdk/language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/RecordClass.scala
  sdk/language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/TemplateClass.scala
  sdk/language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/VariantClass.scala
Owners: none

delimited record with a final zero
  sdk/daml-lf/transaction/src/main/protobuf/com/digitalasset/daml/lf/value.proto
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/crypto/Hash.scala
  sdk/daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/crypto/HashSpec.scala
  sdk/daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/value/ValueCoderSpec.scala
Owners: none

fixed types generated by codegen backport main commit - b9fe360
  sdk/language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/EnumClass.scala
  sdk/language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/FromJsonGenerator.scala
  sdk/language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/RecordClass.scala
  sdk/language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/TemplateClass.scala
  sdk/language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/VariantClass.scala
Owners: none

Fix VSCode starting daml IDE (#19722)
  sdk/compiler/daml-extension/src/extension.ts
Owners: @digital-asset/daml-language

fix
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/crypto/Hash.scala
Owners: none

cosmetic
  sdk/daml-lf/transaction/src/main/protobuf/com/digitalasset/daml/lf/value.proto
Owners: none

test m1 on Sonoma 14.6
  ci/build.yml
Owners: @digital-asset/daml-language

correct assignment
  ci/build.yml
Owners: @digital-asset/daml-language

correct assignment
  ci/build.yml
Owners: @digital-asset/daml-language

correct assignment
  ci/build.yml
Owners: @digital-asset/daml-language

correct assignment
  ci/build.yml
Owners: @digital-asset/daml-language

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

CODEOWNERS   @basvangijzel-DA @dylant-da @gerolf-da @paulbrauner-da @remyhaemmerle-da 
LATEST       @basvangijzel-DA @dylant-da @gerolf-da @paulbrauner-da @remyhaemmerle-da

# Build / CI / environment
/ci/                   @digital-asset/daml-language
/sdk/dev-env/          @digital-asset/daml-language
/sdk/nix/              @digital-asset/daml-language
azure-pipelines.yml    @digital-asset/daml-language
azure-cron.yml         @digital-asset/daml-language
sdk/release/           @digital-asset/daml-language
sdk/release.sh         @digital-asset/daml-language

# Blackduck
/sdk/NOTICES

# Compatibility test
/sdk/compatibility/     @digital-asset/daml-language @digital-asset/kv-participant

# Language
/sdk/daml-assistant/    @digital-asset/daml-language
/sdk/daml-script/       
/sdk/compiler/          @digital-asset/daml-language
/sdk/libs-haskell/      @digital-asset/daml-language
/sdk/ghc-lib/           @digital-asset/daml-language
/sdk/test-common/canton/ 

# Runtime
/sdk/daml-lf/ 


# Ecosystems
/sdk/language-support/hs/       @digital-asset/daml-language
/sdk/language-support/java/     
/sdk/language-support/scala/    
/sdk/language-support/ts/       

# Application Runtime
/sdk/ledger-service/
/sdk/runtime-components/ 

# Canton code drop
/sdk/canton/

# Misc
/sdk/docs/ 
/sdk/libs-scala/

# Observability related libraries
/sdk/observability
