Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @digital-asset/daml-release-owners, @dylant-da, @paulbrauner-da, @remyhaemmerle-da, @digital-asset/daml-language, @digital-asset/kv-participant

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

sdk/bazel-java-deps.bzl @digital-asset/daml-release-owners

CODEOWNERS   @dylant-da @paulbrauner-da @remyhaemmerle-da 
/sdk/LATEST @digital-asset/daml-release-owners

# Build / CI / environment
/ci/                   @digital-asset/daml-language
/sdk/dev-env/          @digital-asset/daml-language
/sdk/nix/              @digital-asset/daml-language
azure-pipelines.yml    @digital-asset/daml-language
azure-cron.yml         @digital-asset/daml-language
sdk/release/           @digital-asset/daml-language
sdk/release.sh         @digital-asset/daml-language

# Blackduck
/sdk/NOTICES

# Compatibility test
/sdk/compatibility/     @digital-asset/daml-language @digital-asset/kv-participant

# Language
/sdk/daml-assistant/    @digital-asset/daml-language
/sdk/daml-script/       
/sdk/compiler/          @digital-asset/daml-language
/sdk/libs-haskell/      @digital-asset/daml-language
/sdk/ghc-lib/           @digital-asset/daml-language
/sdk/test-common/canton/ 

# Runtime
/sdk/daml-lf/ 


# Ecosystems
/sdk/language-support/hs/       @digital-asset/daml-language
/sdk/language-support/java/     
/sdk/language-support/scala/    
/sdk/language-support/ts/       

# Application Runtime
/sdk/ledger-service/
/sdk/runtime-components/ 

# Misc
/sdk/docs/ 
/sdk/libs-scala/

# Observability related libraries
/sdk/observability

Util import, PID-hash.dar
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Util.hs
  sdk/compiler/damlc/tests/platform-independence.dar-hash
Owners: @digital-asset/daml-language

fmt
  sdk/daml-lf/data/BUILD.bazel
Owners: none

Revert intellij refactor change
  sdk/canton/community/ledger/ledger-common/src/main/scala/com/digitalasset/canton/metrics/ServicesMetrics.scala
Owners: none

Discard reasons if lf is low
  sdk/compiler/daml-lf-proto-encode/src/DA/Daml/LF/Proto3/EncodeV2.hs
Owners: @digital-asset/daml-language

Add check for set field on unsupported lf, fix scala encoder
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV2.scala
  sdk/daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/EncodeV2.scala
  sdk/daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ModParser.scala
Owners: none

Better traces (noPkgImportReason)
  sdk/compiler/script-service/server/src/main/scala/com/digitalasset/daml/lf/script/Context.scala
  sdk/daml-lf/api-type-signature/src/test/scala/com/digitalasset/daml/lf/typesig/reader/SignatureReaderSpec.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV2.scala
  sdk/daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV2Spec.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/MetaDataTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ReinterpretTest.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/InterpreterTest.scala
  sdk/daml-lf/language/src/test/scala/com/digitalasset/daml/lf/language/AstSpec.scala
  sdk/daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ModParser.scala
  sdk/daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/DependencyVersionSpec.scala
  sdk/daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/TypingSpec.scala
Owners: @digital-asset/daml-language

PID-hash.dar
  sdk/compiler/damlc/tests/platform-independence.dar-hash
Owners: @digital-asset/daml-language

Add VETTING_CHANGE to Haskell bindings
  sdk/language-support/hs/bindings/src/DA/Ledger/Services/PackageManagementService.hs
Owners: @digital-asset/daml-language

Drop unused dep
  sdk/canton/BUILD.bazel
Owners: none

Replace None with empty string in Vetting UX decoders & encoders
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/ledger/api/util.scala
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/platform/apiserver/services/ApiPackageService.scala
Owners: none

Fix prism test
  sdk/daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/testing/archive/EncodeSpec.scala
Owners: none

Added chimney macros dep for community_synchronizer.
  sdk/canton/BUILD.bazel
Owners: none

optimize cases
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV2.scala
Owners: none

format
  sdk/canton/BUILD.bazel
Owners: none

Second iteration of evaluation costModel
  sdk/daml-lf/interpreter/BUILD.bazel
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/CostModel.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/CostModelTest.scala
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
Owners: none

Fix UpgradeCheckMain
  sdk/daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/UpgradeCheckMain.scala
Owners: none

Fix UpgradeCheckMain
  sdk/daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/UpgradeCheckMain.scala
Owners: none

disable cost model test on windows
  sdk/daml-lf/interpreter/BUILD.bazel
Owners: none

cosmetic
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/CostModelTest.scala
Owners: none

Address Carl's review
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/CostModel.scala
Owners: none

Addressing review comments
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/Preprocessor.scala
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/data/CostModel.scala
Owners: none

Add Circle Attestation Daml Testing
  sdk/compiler/damlc/tests/daml-test-files/AttestationTestData.daml
  sdk/compiler/damlc/tests/daml-test-files/AttestationTests.daml
Owners: @digital-asset/daml-language

Pre-processor: Input Size Limits (#21916)
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/Preprocessor.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/data/CostModel.scala
Owners: none

restore prefetchKeys
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/platform/apiserver/execution/StoreBackedCommandInterpreter.scala
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/Preprocessor.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/NodeSeedsTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/AuthPropagationSpec.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/LargeTransactionTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/UpgradesMatrixUnit.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/CompilerTest.scala
  sdk/daml-lf/snapshot/src/test/scala/com/digitalasset/daml/lf/testing/snapshot/ReplayBenchmarkTest.scala
  sdk/security-evidence.md
Owners: none

revert accidental type change
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
Owners: none

Enabling gas in snapshot replay benchmark
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/EngineConfig.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/CostModel.scala
  sdk/daml-lf/snapshot/src/benchmark/scala/com/digitalasset/daml/lf/testing/snapshot/ReplayBenchmark.scala
  sdk/daml-lf/snapshot/src/main/scala/com/digitalasset/daml/lf/testing/snapshot/TransactionSnapshot.scala
Owners: none

Second iteration of evaluation costModel (#21949)
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/EngineConfig.scala
  sdk/daml-lf/interpreter/BUILD.bazel
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/CostModel.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/CostModelTest.scala
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
  sdk/daml-lf/snapshot/src/benchmark/scala/com/digitalasset/daml/lf/testing/snapshot/ReplayBenchmark.scala
  sdk/daml-lf/snapshot/src/main/scala/com/digitalasset/daml/lf/testing/snapshot/TransactionSnapshot.scala
Owners: none

Extend preprocess input size costs to the transaction tree
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/data/CostModel.scala
Owners: none

moved community/drivers/reference to new location
  sdk/canton/BUILD.bazel
Owners: none

Fix build
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/PreprocessorSpec.scala
  sdk/security-evidence.md
Owners: none

kill disclosures in engine (#21929)
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/CommandPreprocessor.scala
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/Preprocessor.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/AuthPropagationSpec.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/InterfacesTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/LargeTransactionTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/PreprocessorSpec.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/UpgradesMatrixUnit.scala
  sdk/daml-lf/ide-ledger/src/main/scala/com/digitalasset/daml/lf/script/IdeLedgerRunner.scala
  sdk/daml-lf/interpreter/BUILD.bazel
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltinFun.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/compiler/Compiler.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/CompilerTest.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/EvaluationOrderTest.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ExceptionTest.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ExplicitDisclosureLib.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ExplicitDisclosureTest.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SpeedyTest.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SpeedyTestLib.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/UpgradeTest.scala
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ledgerinteraction/IdeLedgerClient.scala
  sdk/security-evidence.md
Owners: none

Fix community-reference.
  sdk/daml-assistant/daml-helper/src/DA/Daml/Helper/Util.hs
  sdk/language-support/ts/codegen/tests/ts/build-and-lint-test/src/__tests__/canton.conf
  sdk/libs-haskell/canton-test-utils/DA/Test/Sandbox.hs
  sdk/test-common/canton/it-lib/src/main/scala/com/daml/integrationtest/CantonRunner.scala
Owners: @digital-asset/daml-language

Backport of #21686, #21688 and #21802
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Base.hs
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Pretty.hs
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  sdk/compiler/daml-lf-proto-decode/src/DA/Daml/LF/Proto3/DecodeV2.hs
  sdk/compiler/daml-lf-proto-encode/src/DA/Daml/LF/Proto3/EncodeV2.hs
  sdk/compiler/daml-lf-tools/src/DA/Daml/LF/Simplifier.hs
  sdk/compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Check.hs
  sdk/compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion/Primitives.hs
  sdk/compiler/damlc/daml-stdlib-src/DA/Crypto/Text.daml
  sdk/compiler/damlc/tests/daml-test-files/CCTPMintTokenWithECDSA.daml
  sdk/daml-lf/archive/src/main/protobuf/com/digitalasset/daml/lf/archive/daml_lf2.proto
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV2.scala
  sdk/daml-lf/data/BUILD.bazel
  sdk/daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/Utf8.scala
  sdk/daml-lf/data/src/test/scala/com/digitalasset/daml/lf/data/Utf8Spec.scala
  sdk/daml-lf/encoder/src/test/lf/Builtin_2.dev_.lf
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/PhaseOne.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltinFun.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBSECP256K1BoolTest.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
  sdk/daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ExprParser.scala
  sdk/daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
  sdk/daml-script/daml/Daml/Script.daml
  sdk/daml-script/daml/Daml/Script/Internal/Questions/Crypto/Text.daml
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ScriptF.scala
  sdk/libs-scala/crypto/src/main/scala/com/daml/crypto/MessageSignaturePrototype.scala
  sdk/libs-scala/crypto/src/main/scala/com/daml/crypto/MessageSignaturePrototypeUtil.scala
  sdk/libs-scala/crypto/src/test/scala/com/daml/crypto/MessageSignaturePrototypeSpec.scala
Owners: @digital-asset/daml-language

Fix GrpcServer.scala, DummyTestSetup.scala
  sdk/bazel-java-deps.bzl
  sdk/libs-scala/grpc-test-utils/src/main/scala/com/daml/grpc/test/GrpcServer.scala
  sdk/maven_install_2.13.json
  sdk/runtime-components/non-repudiation-testing/src/main/scala/com/daml/nonrepudiation/testing/DummyTestSetup.scala
Owners: @digital-asset/daml-release-owners

rotate release duty after 2025-09-24
  sdk/release/rotation
Owners: @digital-asset/daml-language

Fix 8th shard test
  sdk/daml-script/test/src/main/scala/com/digitalasset/daml/lf/engine/script/test/UpgradesMatrixIT.scala
Owners: none

fix typo that omitted some test cases in UpgradesMatrixIT
  sdk/daml-script/test/src/main/scala/com/digitalasset/daml/lf/engine/script/test/UpgradesMatrixIT.scala
Owners: none

Test fix
  sdk/compiler/damlc/tests/platform-independence.dar-hash
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltinFun.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
Owners: @digital-asset/daml-language

Reverted optionals in package_management_service.proto and friends.
  sdk/canton/community/ledger-api/src/main/protobuf/com/daml/ledger/api/v2/admin/package_management_service.proto
  sdk/canton/community/ledger-api/src/main/protobuf/com/daml/ledger/api/v2/package_reference.proto
  sdk/canton/community/ledger-api/src/main/protobuf/com/daml/ledger/api/v2/package_service.proto
Owners: none

Added explicit imports to upgradesmatrixtext
  sdk/daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/EncodeV2.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/UpgradesMatrix.scala
Owners: none
