Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @gerolf-da, @cocreature, @bame-da, @garyverhaegen-da, @aherrmann-da, @dasormeter, @sofiafaro-da, @stefanobaghino-da, @remyhaemmerle-da, @S11001001, @miklos-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da, @fabiotudone-da, @SamirTalwar-DA, @nickchapman-da, @robin-da, @nemanja-da

Exposed metrics for active contract and completions streams
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/LedgerApiBenchTool.scala
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/metrics/DamlMetrics.scala
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/metrics/ExposedMetrics.scala
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/metrics/MetricsCollector.scala
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/metrics/MetricsManager.scala
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/metrics/MetricsSet.scala
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/metrics/StreamMetrics.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Removed unused comment
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Log ledger api validation failures at info level (#10080) (#10095)
  ledger/ledger-api-common/BUILD.bazel
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/ValidationLogger.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/services/grpc/GrpcCommandCompletionService.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/services/grpc/GrpcCommandService.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/services/grpc/GrpcCommandSubmissionService.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/services/grpc/GrpcTransactionService.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/validation/ActiveContractsServiceValidation.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/validation/CommandCompletionServiceValidation.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/validation/LedgerConfigurationServiceValidation.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/validation/PackageServiceValidation.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiActiveContractsService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiPackageService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiTimeService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/admin/ApiConfigManagementService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/admin/ApiPackageManagementService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/admin/ApiParticipantPruningService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/admin/ApiPartyManagementService.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Update compatibility/bazel_tools/testing.bzl
  compatibility/bazel_tools/testing.bzl
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature

remove redundant spaces in the log format (#10093)
  ledger/sandbox-common/src/main/resources/logback.xml
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

contextualized-logging: Remove a now-unused compat import.
  libs-scala/contextualized-logging/BUILD.bazel
  libs-scala/contextualized-logging/src/main/scala/com/digitalasset/logging/LoggingContextOf.scala
Owners: @S11001001

contextualized-logging: Avoid overloading `LoggingEntries#apply`.
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/logging/package.scala
  libs-scala/contextualized-logging/src/main/scala/com/digitalasset/logging/LoggingEntries.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da, @S11001001

Fix linting
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

update compat versions for 1.11.2
  compatibility/versions.bzl
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature

Force newer version of glob-parent in Navigator
  navigator/frontend/package.json
  navigator/frontend/yarn.lock
Owners: @cocreature, @stefanobaghino-da

Upgrade nixpkgs
  nix/bazel.nix
  nix/nixpkgs/default.src.json
Owners: @garyverhaegen-da

Upgrade Bazel on Windows
  ci/patch_bazel_windows/compile.yml
  dev-env/windows/manifests/bazel.json
Owners: @garyverhaegen-da

bump bazel hash
  dev-env/windows/manifests/bazel.json
Owners: @garyverhaegen-da

Compiler: Make LF 1.13 the default output (#9907)
  compatibility/bazel_tools/testing.bzl
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  compiler/damlc/daml-stdlib-src/DA/BigNumeric.daml
  compiler/damlc/tests/src/DA/Test/ShakeIdeClient.hs
  compiler/lsp-tests/src/Main.hs
  daml-lf/language/daml-lf.bzl
  daml-lf/tests/scenario/stable/contract-key-through-exercises/EXPECTED.ledger
  daml-lf/tests/scenario/stable/contract-keys/EXPECTED.ledger
  daml-lf/tests/scenario/stable/divulge-iou/EXPECTED.ledger
  daml-lf/tests/scenario/stable/gen-map/EXPECTED.ledger
  daml-lf/tests/scenario/stable/many-fields/EXPECTED.ledger
  daml-lf/tests/scenario/stable/mustfailcommit/EXPECTED.ledger
  daml-lf/tests/scenario/stable/mustfailinterpretation/EXPECTED.ledger
  daml-lf/tests/scenario/stable/mustfails/EXPECTED.ledger
  docs/source/tools/export/output-root/daml.yaml
  release/artifacts.yaml
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature, @remyhaemmerle-da, @bame-da, @nemanja-da

LF: Realease LF 1.14
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineInfoTest.scala
  daml-lf/language/daml-lf.bzl
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
  daml-lf/spec/daml-lf-1.rst
  daml-lf/spec/transaction.rst
  daml-lf/spec/value.rst
  daml-lf/tests/BUILD.bazel
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionSpec.scala
  ledger/ledger-api-test-tool-on-canton/BUILD.bazel
  ledger/sandbox-classic/BUILD.bazel
  release/artifacts.yaml
Owners: @cocreature, @remyhaemmerle-da, @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Cut a flaky expectation some more slack
  ledger/metrics/src/test/suite/scala/com/daml/metrics/InstrumentedSourceSpec.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Upgrade jest to the latest version
  compatibility/bazel_tools/create-daml-app/testDeps.json
  language-support/ts/codegen/tests/ts/build-and-lint-test/package.json
  language-support/ts/codegen/tests/ts/build-and-lint-test/src/__tests__/test.ts
  language-support/ts/daml-ledger/package.json
  language-support/ts/daml-react/package.json
  language-support/ts/daml-types/package.json
  language-support/ts/packages/package.json
  language-support/ts/packages/yarn.lock
  templates/create-daml-app-test-resources/testDeps.json
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature, @robin-da, @stefanobaghino-da

Upgrade jest to the latest version (#10107)
  compatibility/bazel_tools/create-daml-app/testDeps.json
  language-support/ts/codegen/tests/ts/build-and-lint-test/package.json
  language-support/ts/codegen/tests/ts/build-and-lint-test/src/__tests__/test.ts
  language-support/ts/daml-ledger/package.json
  language-support/ts/daml-react/package.json
  language-support/ts/daml-types/package.json
  language-support/ts/packages/package.json
  language-support/ts/packages/yarn.lock
  templates/create-daml-app-test-resources/testDeps.json
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature, @robin-da, @stefanobaghino-da

Cut a flaky expectation some more slack (#10106)
  ledger/metrics/src/test/suite/scala/com/daml/metrics/InstrumentedSourceSpec.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

LF: Realease LF 1.14 (#10077)
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineInfoTest.scala
  daml-lf/language/daml-lf.bzl
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
  daml-lf/spec/daml-lf-1.rst
  daml-lf/spec/transaction.rst
  daml-lf/spec/value.rst
  daml-lf/tests/BUILD.bazel
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionSpec.scala
  ledger/ledger-api-test-tool-on-canton/BUILD.bazel
  ledger/sandbox-classic/BUILD.bazel
  release/artifacts.yaml
Owners: @cocreature, @remyhaemmerle-da, @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Force newer version of glob-parent in Navigator (#10105)
  navigator/frontend/package.json
  navigator/frontend/yarn.lock
Owners: @cocreature, @stefanobaghino-da

[DOCS] Let jwt.io link to an already filled in working payload (#10026)
  docs/source/json-api/index.rst
Owners: @bame-da, @nemanja-da

Upgrade nixpkgs (#9908)
  ci/patch_bazel_windows/compile.yml
  dev-env/windows/manifests/bazel.json
  nix/bazel.nix
  nix/nixpkgs/default.src.json
Owners: @garyverhaegen-da

json-api perf tests: combine large-ACS frequencies combinatorially instead of in lockstep (#10101)
  ledger-service/http-json-perf/daml/LargeAcs.daml
  ledger-service/http-json-perf/src/main/scala/com/daml/http/perf/scenario/SyncQueryMegaAcs.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

contextualized-logging: Remove the silencer plugin.
  libs-scala/contextualized-logging/BUILD.bazel
Owners: @S11001001

contextualized-logging: Reduce the API surface and avoid name collisions. (#10102)
  ledger-service/http-json/src/main/scala/com/digitalasset/http/CommandService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/util/Logging.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiActiveContractsService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiSubmissionService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/logging/package.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/ExecuteUpdate.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/parallel/IndexerLoggingContext.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/parallel/ParallelIndexerFactory.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/Committer.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/ConfigCommitter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/PackageCommitter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/PartyAllocationCommitter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/TransactionCommitter.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/CommitterSpec.scala
  libs-scala/contextualized-logging/BUILD.bazel
  libs-scala/contextualized-logging/src/main/scala/com/digitalasset/logging/LoggingContext.scala
  libs-scala/contextualized-logging/src/main/scala/com/digitalasset/logging/LoggingContextOf.scala
  libs-scala/contextualized-logging/src/main/scala/com/digitalasset/logging/LoggingEntries.scala
  libs-scala/contextualized-logging/src/main/scala/com/digitalasset/logging/package.scala
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Runner.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/TriggerRunner.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/TriggerRunnerImpl.scala
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/test/AbstractTriggerTest.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da, @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da, @fabiotudone-da, @miklos-da, @SamirTalwar-DA, @aherrmann-da

fix Tx.Metadata for normalized transactions
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/PartialTransactionSpec.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ProfilerTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/RollbackTest.scala
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ScenarioRunner.scala
Owners: @cocreature

[Scala client bindings] Fix a "deadlock" in CommandRetryFlow
  language-support/scala/bindings-akka/BUILD.bazel
  language-support/scala/bindings-akka/src/main/scala/com/digitalasset/ledger/client/binding/LedgerClientBinding.scala
  language-support/scala/bindings-akka/src/main/scala/com/digitalasset/ledger/client/binding/retrying/CommandRetryFlow.scala
  language-support/scala/bindings-akka/src/test/scala/com/digitalasset/ledger/client/binding/retrying/CommandRetryFlowUT.scala
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/LedgerClient.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da, @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Fixup action seed normalization
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/NormalizeRollbacks.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/NormalizeRollbacksSpec.scala
  daml-lf/tests/Exceptions.daml
Owners: @cocreature, @remyhaemmerle-da

update NOTICES file
  NOTICES
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature, @dasormeter

Circumvent the CommandRetryFlow deadlock
  language-support/scala/bindings-akka/BUILD.bazel
  language-support/scala/bindings-akka/src/main/scala/com/digitalasset/ledger/client/binding/LedgerClientBinding.scala
  language-support/scala/bindings-akka/src/main/scala/com/digitalasset/ledger/client/binding/retrying/CommandRetryFlow.scala
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/services/commands/CommandClient.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da, @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Upgrade to GHC 9.0.1
  WORKSPACE
  compatibility/WORKSPACE
  compiler/damlc/BUILD.bazel
  compiler/damlc/lib/DA/Cli/Damlc/Packaging.hs
  compiler/damlc/util.bzl
  nix/bazel.nix
  nix/nixpkgs.nix
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature

Disable CI jobs
  ci/build.yml
Owners: @garyverhaegen-da

DPP-428 Add missing indices for index initialization (#10083)
  ledger/participant-integration-api/src/main/resources/db/migration/h2database-appendonly/V1__Append_only_schema.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/h2database-appendonly/V1__Append_only_schema.sql
  ledger/participant-integration-api/src/main/resources/db/migration/oracle/V1__Init.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/postgres-appendonly/V102__add_initialization_indices.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/postgres-appendonly/V102__add_initialization_indices.sql
  ledger/participant-integration-api/src/test/suite/scala/platform/store/FlywayMigrationsSpec.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Remove duplicate index (#10084)
  ledger/participant-integration-api/src/main/resources/db/migration/postgres-appendonly/V103__remove_duplicate_index.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/postgres-appendonly/V103__remove_duplicate_index.sql
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Fix Tx.Metadata for normalized transactions (#10108)
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/NormalizeRollbacks.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/NormalizeRollbacksSpec.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/PartialTransactionSpec.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ProfilerTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/RollbackTest.scala
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ScenarioRunner.scala
  daml-lf/tests/Exceptions.daml
Owners: @cocreature, @remyhaemmerle-da

[Mutable state cache] TransactionsReader.getContractStateEvents bounded fetch page size
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/TransactionsReader.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/appendonlydao/events/TransactionsReaderSpec.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Config.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da, @fabiotudone-da, @miklos-da, @SamirTalwar-DA

print version of the ledger api test tool as part of the report CHANGELOG_BEGIN CHANGELOG_END
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/Reporter.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

switch to fixed bignum backend
  nix/nixpkgs/default.src.json
Owners: @garyverhaegen-da

bump snapshot
  bazel-haskell-deps.bzl
  stack-snapshot.yaml
  stackage_snapshot.json
Owners: none

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

CODEOWNERS   @gerolf-da @cocreature
LATEST       @gerolf-da @bame-da @cocreature

# Build / CI / environment
/ci/                @garyverhaegen-da
/dev-env/           @garyverhaegen-da
/nix/               @garyverhaegen-da
/infra/             @garyverhaegen-da
azure-pipelines.yml @garyverhaegen-da
azure-cron.yml      @garyverhaegen-da

# Blackduck
NOTICES     @garyverhaegen-da @aherrmann-da @cocreature @dasormeter

# Language
/compiler/           @cocreature
/libs-haskell/       @cocreature
/daml-assistant/    @sofiafaro-da  @cocreature
/daml-script/       @cocreature  @aherrmann-da @stefanobaghino-da
/triggers/          @cocreature  @aherrmann-da @stefanobaghino-da
/ghc-lib/           @cocreature
/compatibility/     @garyverhaegen-da @aherrmann-da @cocreature

# Runtime
/daml-lf/ @remyhaemmerle-da
/daml-lf/archive/da/ @cocreature
/daml-lf/data-scalacheck/ @S11001001 @cocreature
/daml-lf/engine/ @cocreature
/daml-lf/governance.rst
/daml-lf/interpreter/ @cocreature
/daml-lf/kv-transaction-support/ @cocreature @gerolf-da @miklos-da
/daml-lf/repl/ @cocreature
/daml-lf/scenario-interpreter/  @cocreature
/daml-lf/spec/daml-lf-1.rst @cocreature
/daml-lf/spec/transaction.rst @cocreature
/daml-lf/spec/value.rst @cocreature
/daml-lf/transaction-test-lib/ @S11001001 @cocreature
/daml-lf/transaction/src/main/scala/com/daml/lf/transaction/ @cocreature
/daml-lf/transaction/src/main/scala/com/daml/lf/value/ @cocreature
/daml-lf/validation/ @cocreature

/ledger-service/    @S11001001 @cocreature @stefanobaghino-da

/ledger/      @gerolf-da @mziolekda @nmarton-da @rautenrieth-da @tudor-da
/ledger-api/  @gerolf-da @mziolekda @nmarton-da @rautenrieth-da @tudor-da

/ledger/participant-state/kvutils/ @fabiotudone-da @gerolf-da @miklos-da @SamirTalwar-DA

/runtime-components/    @stefanobaghino-da @cocreature

# Ecosystems
/language-support/hs/       @nickchapman-da
/language-support/java/     @cocreature @stefanobaghino-da
/language-support/scala/    @S11001001 @cocreature @stefanobaghino-da
/language-support/ts/        @robin-da @cocreature @garyverhaegen-da @stefanobaghino-da

# Tools
/extractor/         @S11001001 @stefanobaghino-da
/navigator/         @cocreature @stefanobaghino-da
/navigator/backend/src/main/scala/com/digitalasset/navigator/json/    @S11001001

# Misc
/docs/              @bame-da @nemanja-da
/libs-scala/        @stefanobaghino-da @SamirTalwar-DA
/libs-scala/contextualized-logging/    @S11001001
/libs-scala/scala-utils/    @S11001001
/libs-scala/scalatest-utils/    @S11001001
