Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @digital-asset/daml-release-owners, @dylant-da, @paulbrauner-da, @remyhaemmerle-da, @digital-asset/daml-language, @digital-asset/kv-participant

fix deps
  sdk/bazel-java-deps.bzl
  sdk/canton/BUILD.bazel
  sdk/canton/community/bindings-java/src/main/java/com/daml/ledger/javaapi/data/Bool.java
  sdk/canton_maven_install.json
Owners: @digital-asset/daml-release-owners

fix //release:test-protobuf-structur test
  sdk/release/test-protobuf-structure.sh
Owners: @digital-asset/daml-language

Backport of #21686, #21688 and #21802 (#21958)
  ci/build.yml
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Base.hs
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Pretty.hs
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  sdk/compiler/daml-lf-proto-decode/src/DA/Daml/LF/Proto3/DecodeV2.hs
  sdk/compiler/daml-lf-proto-encode/src/DA/Daml/LF/Proto3/EncodeV2.hs
  sdk/compiler/daml-lf-tools/src/DA/Daml/LF/Simplifier.hs
  sdk/compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Check.hs
  sdk/compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion/Primitives.hs
  sdk/compiler/damlc/daml-stdlib-src/DA/Crypto/Text.daml
  sdk/compiler/damlc/tests/daml-test-files/CCTPMintTokenWithECDSA.daml
  sdk/compiler/damlc/tests/platform-independence.dar-hash
  sdk/daml-lf/archive/src/main/protobuf/com/digitalasset/daml/lf/archive/daml_lf2.proto
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV2.scala
  sdk/daml-lf/data/BUILD.bazel
  sdk/daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/Utf8.scala
  sdk/daml-lf/data/src/test/scala/com/digitalasset/daml/lf/data/Utf8Spec.scala
  sdk/daml-lf/encoder/src/test/lf/Builtin_2.dev_.lf
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/PhaseOne.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltinFun.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBSECP256K1BoolTest.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
  sdk/daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ExprParser.scala
  sdk/daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
  sdk/daml-script/daml/Daml/Script.daml
  sdk/daml-script/daml/Daml/Script/Internal/Questions/Crypto/Text.daml
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ScriptF.scala
  sdk/libs-scala/crypto/src/main/scala/com/daml/crypto/MessageSignaturePrototype.scala
  sdk/libs-scala/crypto/src/main/scala/com/daml/crypto/MessageSignaturePrototypeUtil.scala
  sdk/libs-scala/crypto/src/test/scala/com/daml/crypto/MessageSignaturePrototypeSpec.scala
Owners: @digital-asset/daml-language

pin maven
  sdk/maven_install_2.13.json
Owners: none

Revert CI windows fix/hack
  ci/build.yml
Owners: @digital-asset/daml-language

Revert 3.3 CI build hack (#21981)
  ci/build.yml
Owners: @digital-asset/daml-language

drop useless code, that do not compile
  sdk/canton/BUILD.bazel
  sdk/canton/community/synchronizer/src/main/scala/com/digitalasset/canton/synchronizer/sequencer/block/bftordering/core/BftBlockOrdererConfig.scala
Owners: none

add back CreateStandaloneConfig in the canton code drop
  sdk/canton/BUILD.bazel
  sdk/canton/community/synchronizer/src/main/scala/com/digitalasset/canton/synchronizer/sequencer/block/bftordering/core/BftBlockOrdererConfig.scala
Owners: none

add test cases for metadata
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ValidateContractInstanceSpec.scala
Owners: none

address Paul's review
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionCoder.scala
Owners: none

Fix UpgradesSpecBase
  sdk/daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/upgrade/UpgradesSpecBase.scala
Owners: none

Expose contract hashing and validation in the Engine (#21970)
  sdk/canton/community/common/src/main/scala/com/digitalasset/canton/util/ContractValidator.scala
  sdk/canton/community/common/src/main/scala/com/digitalasset/canton/util/LfContractValidation.scala
  sdk/compiler/script-service/server/src/main/scala/com/digitalasset/daml/lf/script/Conversions.scala
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ContractValidation.scala
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ContractValidationSpec.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/HashCreateNodeSpec.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ValidateContractInstanceSpec.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/interpretation/Error.scala
Owners: @digital-asset/daml-language

enable TypedNormalForm test cases in ValidateContractInstanceSpec
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ValidateContractInstanceSpec.scala
Owners: none

add TypedNormalForm test cases in EngineTest
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  sdk/security-evidence.md
Owners: none

do not authenticate contracts in the IDE ledger
  sdk/daml-lf/ide-ledger/src/main/scala/com/digitalasset/daml/lf/script/IdeLedgerRunner.scala
Owners: none

update security-evidence.md
  sdk/security-evidence.md
Owners: none

authenticate contracts that use the new TypedNormalForm hashing method
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltinFun.scala
Owners: none

Backport of PR #21967 to 3.3 (#21973)
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  sdk/compiler/damlc/tests/platform-independence.dar-hash
  sdk/daml-lf/archive/src/main/protobuf/com/digitalasset/daml/lf/archive/daml_lf2.proto
  sdk/daml-lf/encoder/src/test/lf/Builtin_2.1_.lf
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
  sdk/docs/sharable/sdk/reference/daml/stdlib/DA-Crypto-Text.rst
Owners: @digital-asset/daml-language

WIP: ensure old archive decoders fail with 2.1 mutated archives
  sdk/bazel-java-deps.bzl
  sdk/daml-lf/archive/BUILD.bazel
  sdk/daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DarReaderTest.scala
Owners: @digital-asset/daml-release-owners

Revert "WIP: ensure old archive decoders fail with 2.1 mutated archives"
  sdk/bazel-java-deps.bzl
  sdk/daml-lf/archive/BUILD.bazel
  sdk/daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DarReaderTest.scala
Owners: @digital-asset/daml-release-owners

fix
  sdk/WORKSPACE
  sdk/bazel-java-deps.bzl
  sdk/daml-lf/archive/BUILD.bazel
  sdk/daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/LegacyArchiveReaderTest.scala
  sdk/legacy_maven_install.json
Owners: @digital-asset/daml-release-owners

fmt.sh
  sdk/daml-lf/archive/BUILD.bazel
  sdk/daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/LegacyArchiveReaderTest.scala
Owners: none

Windows fixes
  sdk/compiler/daml-extension/src/language_client.ts
  sdk/compiler/damlc/daml-resolution-config/src/DA/Daml/Resolution/Config.hs
Owners: @digital-asset/daml-language

3.3 only: ensure old archive decoders fail with 2.1 mutated archives (#21975)
  sdk/WORKSPACE
  sdk/bazel-java-deps.bzl
  sdk/daml-lf/archive/BUILD.bazel
  sdk/daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/LegacyArchiveReaderTest.scala
  sdk/legacy_maven_install.json
Owners: @digital-asset/daml-release-owners

release/3.3.x Snapshot Create a snapshot for [release/3.3.x](https://github.com/digital-asset/daml/commits/release/3.3.x/) at commit 4f3223e30c77aea1c509c446a0ba1fa6213af909
  sdk/LATEST
Owners: @digital-asset/daml-release-owners

add some integration tests for v12 authentication
  sdk/daml-script/test/daml/upgrades/stable/InvalidUpgrades.daml
Owners: none

release/3.3.x Snapshot (#21985)
  sdk/LATEST
Owners: @digital-asset/daml-release-owners

ci: Publish OCI images to the da-images project as well as da-images-dev.
  azure-pipelines.yml
Owners: @digital-asset/daml-language

Remove `--google-artifact-registry` temporarily
  ci/build-unix.yml
Owners: @digital-asset/daml-language

Remove `--google-artifact-registry` temporarily (#21989)
  ci/build-unix.yml
Owners: @digital-asset/daml-language

Fix UpgradesSpecBase
  sdk/daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/upgrade/UpgradesSpecBase.scala
Owners: none

fix deps
  sdk/bazel-java-deps.bzl
  sdk/canton/BUILD.bazel
  sdk/canton/community/bindings-java/src/main/java/com/daml/ledger/javaapi/data/Bool.java
  sdk/canton_maven_install.json
  sdk/maven_install_2.13.json
Owners: @digital-asset/daml-release-owners

CantonRunner
  sdk/test-common/canton/it-lib/src/main/scala/com/daml/integrationtest/CantonRunner.scala
Owners: none

Review fixes
  sdk/compiler/daml-extension/src/language_client.ts
  sdk/compiler/daml-extension/src/sdk_install.ts
  sdk/compiler/damlc/lib/DA/Cli/Damlc/Command/MultiIde/SdkInstall.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc/Command/MultiIde/Types.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc/Command/MultiIde/Util.hs
  sdk/dev-env/bin/dpm-sdk-head
  sdk/shell.nix
Owners: @digital-asset/daml-language

Update release testing instructions to include DPM
  sdk/release/RELEASE.md
Owners: @digital-asset/daml-language

Change daml-script-lts to daml-script in `multi-package-example` project template
  sdk/templates/multi-package-example/interfaces/daml.yaml.template
  sdk/templates/multi-package-example/main/daml.yaml.template
  sdk/templates/multi-package-example/test/daml.yaml.template
Owners: none

Implement dpm SDK installation in IDE and `dpm-sdk-head` command (#21941)
  ci/get-dpm.sh
  sdk/compiler/daml-extension/src/extension.ts
  sdk/compiler/daml-extension/src/language_client.ts
  sdk/compiler/daml-extension/src/sdk_install.ts
  sdk/compiler/damlc/daml-resolution-config/src/DA/Daml/Resolution/Config.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc/Command/MultiIde.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc/Command/MultiIde/SdkInstall.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc/Command/MultiIde/Types.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc/Command/MultiIde/Util.hs
  sdk/daml-assistant/daml-helper/src/DA/Daml/Helper/Studio.hs
  sdk/dev-env/bin/dpm-sdk-head
  sdk/shell.nix
Owners: @digital-asset/daml-language

release/3.3.x Snapshot Create a snapshot for [release/3.3.x](https://github.com/digital-asset/daml/commits/release/3.3.x/) at commit 4f3223e30c77aea1c509c446a0ba1fa6213af909
  sdk/LATEST
Owners: @digital-asset/daml-release-owners

release/3.3.x Snapshot (#21993)
  sdk/LATEST
Owners: @digital-asset/daml-release-owners

Remove patch of upgradesMatrix fixed by parser fix
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/UpgradesMatrix.scala
Owners: none

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

sdk/bazel-java-deps.bzl @digital-asset/daml-release-owners

CODEOWNERS   @dylant-da @paulbrauner-da @remyhaemmerle-da 
/sdk/LATEST @digital-asset/daml-release-owners

# Build / CI / environment
/ci/                   @digital-asset/daml-language
/sdk/dev-env/          @digital-asset/daml-language
/sdk/nix/              @digital-asset/daml-language
azure-pipelines.yml    @digital-asset/daml-language
azure-cron.yml         @digital-asset/daml-language
sdk/release/           @digital-asset/daml-language
sdk/release.sh         @digital-asset/daml-language

# Blackduck
/sdk/NOTICES

# Compatibility test
/sdk/compatibility/     @digital-asset/daml-language @digital-asset/kv-participant

# Language
/sdk/daml-assistant/    @digital-asset/daml-language
/sdk/daml-script/       
/sdk/compiler/          @digital-asset/daml-language
/sdk/libs-haskell/      @digital-asset/daml-language
/sdk/ghc-lib/           @digital-asset/daml-language
/sdk/test-common/canton/ 

# Runtime
/sdk/daml-lf/ 


# Ecosystems
/sdk/language-support/hs/       @digital-asset/daml-language
/sdk/language-support/java/     
/sdk/language-support/scala/    
/sdk/language-support/ts/       

# Application Runtime
/sdk/ledger-service/
/sdk/runtime-components/ 

# Misc
/sdk/docs/ 
/sdk/libs-scala/

# Observability related libraries
/sdk/observability
