Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @digital-asset/empty, @bitonic, @neil-da, @hurryabit, @cbaatz-da, @garyverhaegen-da, @gerolf-da, @nicholassmith-da, @bethaitman

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

*           @digital-asset/empty
CODEOWNERS  @bitonic @neil-da @hurryabit @cbaatz-da
VERSION     @digital-asset/empty

# Build / CI / environment
/3rdparty/          @digital-asset/empty
/bazel_tools/       @digital-asset/empty
/build-scripts/     @digital-asset/empty
/ci/                @garyverhaegen-da
/dev-env/           @garyverhaegen-da
/dotfiles/          @digital-asset/empty
/hazel/             @digital-asset/empty
/nix/               @garyverhaegen-da
/infra/             @garyverhaegen-da
/rattle/            @digital-asset/empty
/replacements/      @digital-asset/empty
/rules_daml/        @digital-asset/empty
BAZEL-JVM.md        @digital-asset/empty
BAZEL-haskell.md    @digital-asset/empty
BAZEL.md            @digital-asset/empty
BUILD               @digital-asset/empty
WORKSPACE           @digital-asset/empty
azure-pipelines.yml @garyverhaegen-da
azure-cron.yml      @garyverhaegen-da
build.ps1           @digital-asset/empty
build.sh            @digital-asset/empty
deps.bzl            @digital-asset/empty

# Language
/compiler/          @digital-asset/empty
/daml-foundations/  @digital-asset/empty
/libs-haskell/      @digital-asset/empty
/ghc-lib/           @digital-asset/empty

# SDK
/release/           @digital-asset/empty
/sdk/               @digital-asset/empty
/da-assistant/      @digital-asset/empty
/daml-assistant/    @digital-asset/empty
/templates/         @digital-asset/empty

# Runtime
/daml-lf/           @digital-asset/empty
/ledger/            @digital-asset/empty
/ledger-api/        @digital-asset/empty

# Ecosystems
/language-support/          @digital-asset/empty
/language-support/java/     @digital-asset/empty @gerolf-da @nicholassmith-da
/language-support/js/       @digital-asset/empty
/language-support/scala/    @digital-asset/empty
/scala-protoc-plugins/      @digital-asset/empty

# Tools
/extractor/         @digital-asset/empty
/navigator/         @digital-asset/empty
/web-ide/           @digital-asset/empty

# Misc
/docs/              @bethaitman
/notices-gen/       @digital-asset/empty
/oss-compliance/    @digital-asset/empty

CHANGELOG           @digital-asset/empty
CODE_OF_CONDUCT.md  @digital-asset/empty
CONTRIBUTING.md     @digital-asset/empty
COPY                @digital-asset/empty
LICENSE             @digital-asset/empty
NOTICES             @digital-asset/empty
README.md           @digital-asset/empty
daml-logo.png       @digital-asset/empty

Fix typo
  docs/source/daml/reference/structure.rst
Owners: @bethaitman

Expunge Ledger API NPM package (#1394)
  ledger-api/npm-package/.gitignore
  ledger-api/npm-package/LICENSE.txt
  ledger-api/npm-package/package-lock.json
  ledger-api/npm-package/package.json
Owners: @digital-asset/empty

Implement suggestions from the review
  bazel_tools/scala.bzl
Owners: @digital-asset/empty

Fix formatting
  bazel_tools/scala.bzl
Owners: @digital-asset/empty

Push StateT evaluation into convertCoercion (#1396)
  daml-foundations/daml-ghc/ghc-compiler/src/DA/Daml/GHC/Compiler/Convert.hs
Owners: @digital-asset/empty

Fixes #1340 - Add Scaladocs generation to the Bazel rules. (#1341)
  WORKSPACE
  bazel_tools/scala.bzl
  language-support/scala/codegen-sample-app/BUILD.bazel
  nix/bazel.nix
Owners: @digital-asset/empty, @garyverhaegen-da

getting a compiler SOE
  ledger/backend-api/src/main/scala/com/digitalasset/ledger/backend/api/v1/LedgerBackend.scala
  ledger/sandbox/src/main/scala/com/digitalasset/ledger/server/apiserver/ApiServices.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/LedgerIdGenerator.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/LedgerConfigurationService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/SandboxCommandCompletionService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/SandboxPackageService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/SandboxResetService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/SandboxSubmissionService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/transaction/SandboxTransactionService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/Ledger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/SandboxLedgerBackend.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/inmemory/InMemoryLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/LedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/MeteredLedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/PostgresLedgerDao.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/TestHelpers.scala
Owners: @digital-asset/empty

Make logback config explicit in binaries and tests.
  ledger/ledger-api-integration-tests/BUILD.bazel
  ledger/sandbox-perf/BUILD.bazel
Owners: @digital-asset/empty

Check in DAR file for Java codegen test against DAML-LF 1.1
  language-support/java/codegen/BUILD.bazel
  language-support/java/codegen/src/it/dar/integration-tests-model-1.1.dar
Owners: @digital-asset/empty, @gerolf-da, @nicholassmith-da

/ledger/... compiles
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/common/LedgerIdMode.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/TimeServiceDisabledIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/TimeServiceIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/identity/LedgerIdentityServiceGivenIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/transaction/TransactionBackpressureIT.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/PlatformApplications.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/LedgerContext.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/tests/integration/ledger/api/commands/MultiLedgerCommandUtils.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/cli/Cli.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/Ledger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/MeteredLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/MeteredLedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/PostgresLedgerDao.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/LedgerResource.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/TestHelpers.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/cli/CliSpec.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/services/SandboxFixture.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/TransactionMRTComplianceIT.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/PostgresDaoSpec.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedgerSpec.scala
Owners: @digital-asset/empty

daml-lf: add FROM_TEXT_INT64 and FROM_TEXT_DECIMAL
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Base.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Pretty.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/DecodeV1.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/EncodeV1.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/Simplifier.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Check.hs
  daml-foundations/daml-ghc/ghc-compiler/src/DA/Daml/GHC/Compiler/Primitives.hs
  daml-lf/archive/da/daml_lf_1.proto
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  daml-lf/lfpackage/src/main/scala/com/digitalasset/daml/lf/lfpackage/Ast.scala
  daml-lf/lfpackage/src/main/scala/com/digitalasset/daml/lf/lfpackage/DecodeV1.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ExprParser.scala
  daml-lf/spec/daml-lf-1.rst
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
Owners: @digital-asset/empty

all compiles
  language-support/java/codegen/BUILD.bazel
  language-support/java/codegen/src/ledger-tests/scala/com/digitalasset/CodegenLedgerTest.scala
  language-support/scala/codegen-sample-app/src/test/scala/com/digitalasset/codegen/ScalaCodeGenIT.scala
  language-support/scala/examples/codegen-sbt-example/sandbox-example/src/main/scala/com/digitalasset/example/ExampleMain.scala
Owners: @digital-asset/empty, @gerolf-da, @nicholassmith-da

Freeze DAML-LF 1.dev into DAML-LF 1.5
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  daml-foundations/daml-ghc/package-database/BUILD.bazel
  daml-lf/archive/da/daml_lf_1.proto
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/LanguageMajorVersion.scala
  daml-lf/lfpackage/src/main/scala/com/digitalasset/daml/lf/lfpackage/DecodeV1.scala
  daml-lf/spec/daml-lf-1.rst
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/VersionTimeline.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Serializability.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/SerializabilitySpec.scala
Owners: @digital-asset/empty

fmt
  language-support/java/codegen/src/ledger-tests/scala/com/digitalasset/CodegenLedgerTest.scala
  language-support/scala/examples/codegen-sbt-example/sandbox-example/src/main/scala/com/digitalasset/example/ExampleMain.scala
Owners: @digital-asset/empty, @gerolf-da, @nicholassmith-da

Check in DAR file for Java codegen test against DAML-LF 1.1 (#1406)
  language-support/java/codegen/BUILD.bazel
  language-support/java/codegen/src/it/dar/integration-tests-model-1.1.dar
Owners: @digital-asset/empty, @gerolf-da, @nicholassmith-da

Make logback config explicit in binaries and tests. (#1405)
  ledger/ledger-api-integration-tests/BUILD.bazel
  ledger/sandbox-perf/BUILD.bazel
Owners: @digital-asset/empty

Fix typos in Haskell
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Base.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/DecodeV1.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/Simplifier.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Check.hs
Owners: @digital-asset/empty

using LedgerId domain type (#1403)
  language-support/java/codegen/BUILD.bazel
  language-support/java/codegen/src/ledger-tests/scala/com/digitalasset/CodegenLedgerTest.scala
  language-support/scala/codegen-sample-app/src/test/scala/com/digitalasset/codegen/ScalaCodeGenIT.scala
  language-support/scala/examples/codegen-sbt-example/sandbox-example/src/main/scala/com/digitalasset/example/ExampleMain.scala
  ledger/backend-api/src/main/scala/com/digitalasset/ledger/backend/api/v1/LedgerBackend.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/common/LedgerIdMode.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/TimeServiceDisabledIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/TimeServiceIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/identity/LedgerIdentityServiceGivenIT.scala
  ledger/ledger-api-integration-tests/src/test/itsuite/scala/com/digitalasset/platform/tests/integration/ledger/api/transaction/TransactionBackpressureIT.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/PlatformApplications.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/LedgerContext.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/tests/integration/ledger/api/commands/MultiLedgerCommandUtils.scala
  ledger/sandbox/src/main/scala/com/digitalasset/ledger/server/apiserver/ApiServices.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/LedgerIdGenerator.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/cli/Cli.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/LedgerConfigurationService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/SandboxCommandCompletionService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/SandboxPackageService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/SandboxResetService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/SandboxSubmissionService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/transaction/SandboxTransactionService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/Ledger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/MeteredLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/SandboxLedgerBackend.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/inmemory/InMemoryLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedger.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/LedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/MeteredLedgerDao.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/dao/PostgresLedgerDao.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/LedgerResource.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/TestHelpers.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/cli/CliSpec.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/services/SandboxFixture.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/TransactionMRTComplianceIT.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/PostgresDaoSpec.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/SqlLedgerSpec.scala
Owners: @digital-asset/empty, @gerolf-da, @nicholassmith-da

cosmetic change
  daml-lf/archive/da/daml_lf_1.proto
  daml-lf/spec/daml-lf-1.rst
Owners: @digital-asset/empty

Isolate daml-on-x prototype
  ledger/api-server-damlonx/BUILD.bazel
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/DamlOnXActiveContractsService.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/DamlOnXTransactionService.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/backport/EventFilter.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/backport/EventOps.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/backport/GrpcTransactionService.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/backport/TransactionConversion.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/backport/TransactionService.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/backport/TransactionTreeNodes.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/backport/TransientContractRemover.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/backport/VisibleTransaction.scala
Owners: @digital-asset/empty

formatting
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Event.scala
Owners: @digital-asset/empty

remove unnecessary dependency from api-server-damlonx
  ledger/api-server-damlonx/BUILD.bazel
Owners: @digital-asset/empty

Implement TransactionService of index api.
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/Ref.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Event.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/ledger/api/validation/TransactionServiceRequestValidator.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/participant/util/EventFilter.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/services/domain/TransactionService.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/services/grpc/GrpcTransactionService.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/services/transaction/TransactionConversion.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/services/transaction/TransactionFiltration.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/services/transaction/TransactionTreeNodes.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/services/transaction/TransientContractRemover.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/services/transaction/VisibleTransaction.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/platform/server/services/transaction/TransientContractRemoverTest.scala
  ledger/ledger-api-domain/src/main/scala/com/digitalasset/ledger/api/domain.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/semantictest/ApiScenarioTransform.scala
  ledger/participant-state-index/reference/src/main/scala/com/daml/ledger/participant/state/index/v1/impl/reference/TransactionFiltering.scala
  ledger/participant-state-index/src/main/scala/com/daml/ledger/participant/state/index/v2/TransactionsService.scala
  ledger/participant-state-index/src/main/scala/com/daml/ledger/participant/state/index/v2/package.scala
  ledger/sandbox/src/main/scala/com/digitalasset/ledger/server/apiserver/ApiServices.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/transaction/SandboxTransactionService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/transaction/TransactionPipeline.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/SandboxLedgerBackend.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/services/transaction/EventConverterSpec.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/services/transaction/EventFilterSpec.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/services/transaction/TransactionPipelineTest.scala
Owners: @digital-asset/empty

fix compiler error after last-minute refactoring
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/services/grpc/GrpcTransactionService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/SandboxLedgerBackend.scala
Owners: @digital-asset/empty

Fix some inconsistencies.
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/services/grpc/GrpcTransactionService.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/services/transaction/TransactionConversion.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/services/transaction/TransactionTreeNodes.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/services/transaction/TransientContractRemover.scala
Owners: @digital-asset/empty

Fix docs test
  daml-foundations/daml-ghc/package-database/BUILD.bazel
  docs/BUILD.bazel
Owners: @digital-asset/empty, @bethaitman

Drop support for DAML-LF 1.1 from damlc
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Check.hs
  daml-foundations/daml-ghc/daml-stdlib-src/DA/Internal/LF.daml
  daml-foundations/daml-ghc/ghc-compiler/src/DA/Daml/GHC/Compiler/Primitives.hs
  daml-foundations/daml-ghc/tests/PartyVsText.daml
  daml-foundations/daml-ghc/tests/Show.daml
  daml-lf/archive/da/daml_lf_1.proto
  daml-lf/spec/daml-lf-1.rst
Owners: @digital-asset/empty

Add show party test back
  daml-foundations/daml-ghc/tests/PartyVsText.daml
Owners: @digital-asset/empty

Update release notes
  docs/source/support/release-notes.rst
Owners: @bethaitman

Transaction service (#1404)
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/Ref.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Event.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/DamlOnXActiveContractsService.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/DamlOnXTransactionService.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/backport/EventFilter.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/backport/EventOps.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/backport/GrpcTransactionService.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/backport/TransactionConversion.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/backport/TransactionService.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/backport/TransactionTreeNodes.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/backport/TransientContractRemover.scala
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/backport/VisibleTransaction.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/ledger/api/validation/TransactionServiceRequestValidator.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/services/domain/TransactionService.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/services/grpc/GrpcTransactionService.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/services/transaction/TransactionConversion.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/services/transaction/TransactionFiltration.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/platform/server/services/transaction/TransientContractRemoverTest.scala
  ledger/ledger-api-domain/src/main/scala/com/digitalasset/ledger/api/domain.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/semantictest/ApiScenarioTransform.scala
  ledger/participant-state-index/reference/src/main/scala/com/daml/ledger/participant/state/index/v1/impl/reference/TransactionFiltering.scala
  ledger/participant-state-index/src/main/scala/com/daml/ledger/participant/state/index/v2/TransactionsService.scala
  ledger/participant-state-index/src/main/scala/com/daml/ledger/participant/state/index/v2/package.scala
  ledger/sandbox/src/main/scala/com/digitalasset/ledger/server/apiserver/ApiServices.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/transaction/SandboxTransactionService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/transaction/TransactionPipeline.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/SandboxLedgerBackend.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/services/transaction/EventConverterSpec.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/services/transaction/EventFilterSpec.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/services/transaction/TransactionPipelineTest.scala
Owners: @digital-asset/empty

Remove target version from Java codegen test
  language-support/java/codegen/BUILD.bazel
Owners: @digital-asset/empty, @gerolf-da, @nicholassmith-da

Add a --project-root option damlc to specify the project root
  daml-assistant/daml-helper/src/DamlHelper.hs
  daml-assistant/daml-project-config/DAML/Project/Consts.hs
  daml-assistant/integration-tests/src/Main.hs
  daml-foundations/daml-tools/da-hs-daml-cli/BUILD.bazel
  daml-foundations/daml-tools/da-hs-daml-cli/DA/Cli/Damlc.hs
  daml-foundations/daml-tools/da-hs-daml-cli/DA/Cli/Options.hs
Owners: @digital-asset/empty

Reverted changes to how we handle file paths
  daml-assistant/daml-project-config/DAML/Project/Consts.hs
Owners: @digital-asset/empty

Drop support for DAML-LF 1.1 from damlc (#1231)
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Check.hs
  daml-foundations/daml-ghc/daml-stdlib-src/DA/Internal/LF.daml
  daml-foundations/daml-ghc/ghc-compiler/src/DA/Daml/GHC/Compiler/Primitives.hs
  daml-foundations/daml-ghc/package-database/BUILD.bazel
  daml-foundations/daml-ghc/tests/PartyVsText.daml
  daml-foundations/daml-ghc/tests/Show.daml
  daml-lf/archive/da/daml_lf_1.proto
  daml-lf/spec/daml-lf-1.rst
  docs/BUILD.bazel
  docs/source/support/release-notes.rst
  language-support/java/codegen/BUILD.bazel
Owners: @digital-asset/empty, @bethaitman, @gerolf-da, @nicholassmith-da

Generic templates: support ensure and agreement clauses
  daml-foundations/daml-ghc/ghc-compiler/src/DA/Daml/GHC/Compiler/Convert.hs
  daml-foundations/daml-ghc/tests/GenericTemplates.daml
  daml-foundations/daml-ghc/tests/IouDSL.daml
  daml-foundations/daml-ghc/tests/ProposalDSL.daml
Owners: @digital-asset/empty

Add a --project-root option damlc to specify the project root (#1401)
  daml-assistant/daml-helper/src/DamlHelper.hs
  daml-assistant/daml-project-config/DAML/Project/Consts.hs
  daml-assistant/integration-tests/src/Main.hs
  daml-foundations/daml-tools/da-hs-daml-cli/BUILD.bazel
  daml-foundations/daml-tools/da-hs-daml-cli/DA/Cli/Damlc.hs
  daml-foundations/daml-tools/da-hs-daml-cli/DA/Cli/Options.hs
Owners: @digital-asset/empty

Fix DAML-LF type checker
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Check.hs
Owners: @digital-asset/empty

Fix merging fallout
  daml-foundations/daml-ghc/ghc-compiler/src/DA/Daml/GHC/Compiler/Primitives.hs
Owners: @digital-asset/empty

daml-lf: add FROM_TEXT_INT64 and FROM_TEXT_DECIMAL (#1407)
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Base.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Pretty.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/DecodeV1.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/EncodeV1.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/Simplifier.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Check.hs
  daml-foundations/daml-ghc/ghc-compiler/src/DA/Daml/GHC/Compiler/Primitives.hs
  daml-lf/archive/da/daml_lf_1.proto
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  daml-lf/lfpackage/src/main/scala/com/digitalasset/daml/lf/lfpackage/Ast.scala
  daml-lf/lfpackage/src/main/scala/com/digitalasset/daml/lf/lfpackage/DecodeV1.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ExprParser.scala
  daml-lf/spec/daml-lf-1.rst
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
Owners: @digital-asset/empty

Freeze DAML-LF 1.dev into DAML-LF 1.5
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  daml-foundations/daml-ghc/package-database/BUILD.bazel
  daml-lf/archive/da/daml_lf_1.proto
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/LanguageMajorVersion.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineInfoTest.scala
  daml-lf/lfpackage/src/main/scala/com/digitalasset/daml/lf/lfpackage/DecodeV1.scala
  daml-lf/spec/daml-lf-1.rst
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/VersionTimeline.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Serializability.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/SerializabilitySpec.scala
Owners: @digital-asset/empty
