Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @gerolf-da, @cocreature, @bame-da, @garyverhaegen-da, @aherrmann-da, @dasormeter, @sofiafaro-da, @stefanobaghino-da, @remyhaemmerle-da, @S11001001, @miklos-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da, @fabiotudone-da, @SamirTalwar-DA, @nickchapman-da, @robin-da, @nemanja-da

Miklos' suggestion
  ledger/participant-integration-api/src/test/suite/scala/platform/store/appendonlydao/events/TransactionsReaderSpec.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Apply suggestions from code review
  ledger/participant-integration-api/src/test/suite/scala/platform/store/appendonlydao/events/TransactionsReaderSpec.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

participant-integration-api: Move transaction requests to structured logging. [KVL-996] (#10141)
  ledger/ledger-api-domain/src/main/scala/com/digitalasset/ledger/api/messages/transaction/GetTransactionByIdRequest.scala
  ledger/ledger-api-domain/src/main/scala/com/digitalasset/ledger/api/messages/transaction/GetTransactionTreesRequest.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiActiveContractsService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/logging/package.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/transaction/ApiTransactionService.scala
  libs-scala/contextualized-logging/src/main/scala/com/digitalasset/logging/LoggingEntries.scala
  libs-scala/contextualized-logging/src/main/scala/com/digitalasset/logging/LoggingValue.scala
  libs-scala/contextualized-logging/src/main/scala/com/digitalasset/logging/LoggingValueSerializer.scala
  libs-scala/contextualized-logging/src/test/suite/scala/com/digitalasset/logging/JsonStringSerializerSpec.scala
  libs-scala/contextualized-logging/src/test/suite/scala/com/digitalasset/logging/LoggingValueSpec.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da, @S11001001

release 1.15.0-snapshot.20210630.7261.0.84e1f3a7
  LATEST
Owners: @gerolf-da, @bame-da, @cocreature

rotate release duty after 1.15.0-snapshot.20210630.7261.0.84e1f3a7
  release/rotation
Owners: none

update NOTICES file
  NOTICES
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature, @dasormeter

Bump ghcide and upgrade to lsp/lsp-types
  bazel-haskell-deps.bzl
  bazel_tools/haskell-ghcide-expose-compat.patch
  bazel_tools/haskell-lsp-test-no-reexport.patch
  bazel_tools/haskell-zip.patch
  compiler/damlc/BUILD.bazel
  compiler/damlc/daml-compiler/BUILD.bazel
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Output.hs
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Repl.hs
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Validate.hs
  compiler/damlc/daml-doc/BUILD.bazel
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Driver.hs
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Extract.hs
  compiler/damlc/daml-doc/test/DA/Daml/Doc/Tests.hs
  compiler/damlc/daml-ide-core/BUILD.bazel
  compiler/damlc/daml-ide-core/src/Development/IDE/Core/IdeState/Daml.hs
  compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
  compiler/damlc/daml-ide-core/src/Development/IDE/Core/Service/Daml.hs
  compiler/damlc/daml-ide-core/test/Development/IDE/Core/API/Testing.hs
  compiler/damlc/daml-ide/BUILD.bazel
  compiler/damlc/daml-ide/src/DA/Daml/LanguageServer.hs
  compiler/damlc/daml-ide/src/DA/Daml/LanguageServer/CodeLens.hs
  compiler/damlc/daml-ide/src/DA/Daml/LanguageServer/Visualize.hs
  compiler/damlc/daml-ide/src/DA/Daml/SessionTelemetry.hs
  compiler/damlc/daml-lf-conversion/BUILD.bazel
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion/UtilLF.hs
  compiler/damlc/daml-opts/daml-opts/DA/Daml/Options.hs
  compiler/damlc/daml-rule-types/BUILD.bazel
  compiler/damlc/ide-debug-driver/BUILD.bazel
  compiler/damlc/ide-debug-driver/src/IdeDebugDriver.hs
  compiler/damlc/lib/DA/Cli/Damlc.hs
  compiler/damlc/tests/BUILD.bazel
  compiler/damlc/tests/src/DA/Test/DamlDocTest.hs
  compiler/damlc/tests/src/DA/Test/DamlcIntegration.hs
  compiler/damlc/tests/src/DA/Test/ScriptService.hs
  compiler/lsp-tests/BUILD.bazel
  compiler/lsp-tests/src/DA/Daml/Lsp/Test/Util.hs
  compiler/lsp-tests/src/Main.hs
  stack-snapshot.yaml
  stackage_snapshot.json
  stackage_snapshot_windows.json
Owners: @cocreature

Increase timeout for TransactionServiceIT:TXFlatTransactionsVisibility
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/TransactionServiceIT.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

logging-entries: Fix dependencies for 2.12.
  ledger/ledger-api-client/BUILD.bazel
  ledger/ledger-api-common/BUILD.bazel
  ledger/recovering-indexer-integration-tests/BUILD.bazel
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Address Mortiz' review
  compiler/damlc/tests/daml-test-files/ContractIdInContractKey.daml
  compiler/damlc/tests/daml-test-files/WronglyTypedContract.daml
  compiler/scenario-service/client/src/DA/Daml/LF/PrettyScenario.hs
  compiler/scenario-service/protos/scenario_service.proto
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Error.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/svalue/Ordering.scala
Owners: @cocreature

logging-entries: Missed one more Scala 2.12 dependency.
  ledger-service/http-json/BUILD.bazel
Owners: @S11001001, @cocreature, @stefanobaghino-da

Tudor/backport paging mutable contract state cache (#10133)
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/ApiServerConfig.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/StandaloneApiServer.scala
  ledger/participant-integration-api/src/main/scala/platform/configuration/IndexConfiguration.scala
  ledger/participant-integration-api/src/main/scala/platform/index/JdbcIndex.scala
  ledger/participant-integration-api/src/main/scala/platform/index/ReadOnlySqlLedger.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/IndexerConfig.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/JdbcIndexer.scala
  ledger/participant-integration-api/src/main/scala/platform/store/IndexMetadata.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/JdbcLedgerDao.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/ContractStateEventsReader.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/TransactionsReader.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoBackend.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoPostCommitValidationSpec.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoTransactionsSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/appendonlydao/events/TransactionsReaderSpec.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Config.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/LedgerFactory.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/SandboxServer.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/SandboxIndexAndWriteService.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/sql/SqlLedger.scala
  ledger/sandbox-classic/src/test/lib/scala/platform/sandbox/LedgerResource.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/stores/ledger/sql/SqlLedgerSpec.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/stores/ledger/sql/SqlLedgerSpecAppendOnly.scala
  ledger/sandbox-common/src/main/scala/platform/sandbox/cli/CommonCliBase.scala
  ledger/sandbox-common/src/main/scala/platform/sandbox/config/SandboxConfig.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da, @fabiotudone-da, @miklos-da, @SamirTalwar-DA

fix
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
Owners: @cocreature

update compat versions for 1.15.0-snapshot.20210630.7261.0.84e1f3a7
  compatibility/versions.bzl
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature

[Mutable state cache] contractStateEvents bounded DB fetch size [DPP-464] (#10092)
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/TransactionsReader.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/appendonlydao/events/TransactionsReaderSpec.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Config.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da, @fabiotudone-da, @miklos-da, @SamirTalwar-DA

Bump rev
  bazel-haskell-deps.bzl
  stackage_snapshot.json
Owners: none

Simple draw of stopping indexing upon unhealthy DbDispatcher
  ledger/participant-integration-api/src/main/scala/platform/indexer/parallel/ParallelIndexerFactory.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

release: Publish logging-entries.
  release/artifacts.yaml
Owners: none

add kibana
  infra/es_cluster.tf
Owners: @garyverhaegen-da

add kibana (#10152)
  infra/es_cluster.tf
Owners: @garyverhaegen-da

Bump ghcide and upgrade to lsp/lsp-types (#10139)
  bazel-haskell-deps.bzl
  bazel_tools/haskell-ghcide-expose-compat.patch
  bazel_tools/haskell-lsp-test-no-reexport.patch
  bazel_tools/haskell-zip.patch
  compiler/damlc/BUILD.bazel
  compiler/damlc/daml-compiler/BUILD.bazel
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Output.hs
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Repl.hs
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Validate.hs
  compiler/damlc/daml-doc/BUILD.bazel
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Driver.hs
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Extract.hs
  compiler/damlc/daml-doc/test/DA/Daml/Doc/Tests.hs
  compiler/damlc/daml-ide-core/BUILD.bazel
  compiler/damlc/daml-ide-core/src/Development/IDE/Core/IdeState/Daml.hs
  compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
  compiler/damlc/daml-ide-core/src/Development/IDE/Core/Service/Daml.hs
  compiler/damlc/daml-ide-core/test/Development/IDE/Core/API/Testing.hs
  compiler/damlc/daml-ide/BUILD.bazel
  compiler/damlc/daml-ide/src/DA/Daml/LanguageServer.hs
  compiler/damlc/daml-ide/src/DA/Daml/LanguageServer/CodeLens.hs
  compiler/damlc/daml-ide/src/DA/Daml/LanguageServer/Visualize.hs
  compiler/damlc/daml-ide/src/DA/Daml/SessionTelemetry.hs
  compiler/damlc/daml-lf-conversion/BUILD.bazel
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion/UtilLF.hs
  compiler/damlc/daml-opts/daml-opts/DA/Daml/Options.hs
  compiler/damlc/daml-rule-types/BUILD.bazel
  compiler/damlc/ide-debug-driver/BUILD.bazel
  compiler/damlc/ide-debug-driver/src/IdeDebugDriver.hs
  compiler/damlc/lib/DA/Cli/Damlc.hs
  compiler/damlc/tests/BUILD.bazel
  compiler/damlc/tests/src/DA/Test/DamlDocTest.hs
  compiler/damlc/tests/src/DA/Test/DamlcIntegration.hs
  compiler/damlc/tests/src/DA/Test/ScriptService.hs
  compiler/lsp-tests/BUILD.bazel
  compiler/lsp-tests/src/DA/Daml/Lsp/Test/Util.hs
  compiler/lsp-tests/src/Main.hs
  stack-snapshot.yaml
  stackage_snapshot.json
  stackage_snapshot_windows.json
Owners: @cocreature

ledger-api-common: There's only one way to order absolute offsets.
  daml-script/runner/BUILD.bazel
  ledger-service/http-json/BUILD.bazel
  ledger/ledger-api-client/BUILD.bazel
  ledger/ledger-api-common/BUILD.bazel
  ledger/ledger-api-common/src/main/scala/com/digitalasset/ledger/api/validation/CompletionServiceRequestValidator.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/ledger/api/validation/LedgerOffsetValidator.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/ledger/api/validation/TransactionServiceRequestValidator.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/services/domain/CommandCompletionService.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/services/domain/TransactionService.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/services/grpc/GrpcCommandCompletionService.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/services/grpc/GrpcTransactionService.scala
  ledger/ledger-api-common/src/test/lib/scala/com/digitalasset/ledger/api/validation/ValidatorTestUtils.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/ledger/api/validation/CompletionServiceRequestValidatorTest.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/ledger/api/validation/TransactionServiceRequestValidatorTest.scala
  ledger/ledger-api-domain/src/main/scala/com/digitalasset/ledger/api/domain.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiCommandCompletionService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/transaction/ApiTransactionService.scala
  ledger/sandbox-common/BUILD.bazel
Owners: @cocreature, @aherrmann-da, @stefanobaghino-da, @S11001001, @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Increase timeout for TransactionServiceIT:TXFlatTransactionsVisibility (#10150)
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/TransactionServiceIT.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

ledger-api-common: There's only one way to order absolute offsets. (#10153)
  daml-script/runner/BUILD.bazel
  ledger-service/http-json/BUILD.bazel
  ledger/ledger-api-client/BUILD.bazel
  ledger/ledger-api-common/BUILD.bazel
  ledger/ledger-api-common/src/main/scala/com/digitalasset/ledger/api/validation/CompletionServiceRequestValidator.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/ledger/api/validation/LedgerOffsetValidator.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/ledger/api/validation/TransactionServiceRequestValidator.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/services/domain/CommandCompletionService.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/services/domain/TransactionService.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/services/grpc/GrpcCommandCompletionService.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/services/grpc/GrpcTransactionService.scala
  ledger/ledger-api-common/src/test/lib/scala/com/digitalasset/ledger/api/validation/ValidatorTestUtils.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/ledger/api/validation/CompletionServiceRequestValidatorTest.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/ledger/api/validation/TransactionServiceRequestValidatorTest.scala
  ledger/ledger-api-domain/src/main/scala/com/digitalasset/ledger/api/domain.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiCommandCompletionService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/transaction/ApiTransactionService.scala
  ledger/sandbox-common/BUILD.bazel
Owners: @cocreature, @aherrmann-da, @stefanobaghino-da, @S11001001, @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

LF: Clean Interpretation Error (#10145)
  compiler/damlc/tests/daml-test-files/ContractIdInContractKey.daml
  compiler/damlc/tests/daml-test-files/WronglyTypedContract.daml
  compiler/repl-service/server/src/main/scala/com/digitalasset/daml/lf/speedy/ReplServiceMain.scala
  compiler/scenario-service/client/src/DA/Daml/LF/PrettyScenario.hs
  compiler/scenario-service/protos/scenario_service.proto
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Error.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Result.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ReinterpretTest.scala
  daml-lf/interpreter/BUILD.bazel
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SError.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/svalue/Equality.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/svalue/Ordering.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  daml-lf/scenario-interpreter/BUILD.bazel
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/ScenarioRunner.scala
  daml-lf/tests/scenario/stable/no-contract-ids-in-keys/EXPECTED.ledger
  daml-lf/transaction/src/main/scala/com/daml/lf/Error.scala
Owners: @cocreature, @remyhaemmerle-da

daml-lf/data: Add a conversion from Ref.Identifier to LoggingValue.
  daml-lf/data/BUILD.bazel
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/Ref.scala
  daml-lf/encoder/BUILD.bazel
  daml-lf/engine/BUILD.bazel
  daml-lf/interface/BUILD.bazel
  daml-lf/interpreter/BUILD.bazel
  daml-lf/parser/BUILD.bazel
  daml-lf/transaction/BUILD.bazel
  daml-lf/validation/BUILD.bazel
  daml-script/runner/BUILD.bazel
  extractor/BUILD.bazel
  language-support/scala/codegen/BUILD.bazel
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/logging/package.scala
  ledger/participant-state/kvutils/tools/BUILD.bazel
  navigator/backend/BUILD.bazel
Owners: @remyhaemmerle-da, @cocreature, @aherrmann-da, @stefanobaghino-da, @S11001001, @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da, @fabiotudone-da, @miklos-da, @SamirTalwar-DA

[In-memory fan-out] TransactionLogUpdatesConversions optimization * Lazily convert to transaction trees in TransactionLogUpdatesConversions.ToTransactionTree
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/BufferedTransactionsReader.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/TransactionLogUpdatesConversions.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

[In-memory fan-out] Fix execution contexts in ReadOnlySqlLedgerWithMutableCache * servicesExecutionContext is used in all non-resource components * Remove widespread use of resourceContext
  ledger/participant-integration-api/src/main/scala/platform/index/BuffersUpdater.scala
  ledger/participant-integration-api/src/main/scala/platform/index/ReadOnlySqlLedger.scala
  ledger/participant-integration-api/src/main/scala/platform/index/ReadOnlySqlLedgerWithMutableCache.scala
  ledger/participant-integration-api/src/main/scala/platform/store/cache/MutableCacheBackedContractStore.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/index/BuffersUpdaterSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/cache/MutableCacheBackedContractStoreSpec.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Addressed review comments
  ledger/participant-integration-api/src/main/scala/platform/index/ReadOnlySqlLedgerWithMutableCache.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/BufferedTransactionsReader.scala
  ledger/participant-integration-api/src/main/scala/platform/store/cache/MutableCacheBackedContractStore.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/cache/MutableCacheBackedContractStoreSpec.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Retry bazel cache up & downloads
  nix/bazel-retry-cache.patch
  nix/nixpkgs.nix
Owners: @garyverhaegen-da

daml-lf/data: Add a conversion from Ref.Identifier to LoggingValue. (#10157)
  daml-lf/data/BUILD.bazel
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/Ref.scala
  daml-lf/encoder/BUILD.bazel
  daml-lf/engine/BUILD.bazel
  daml-lf/interface/BUILD.bazel
  daml-lf/interpreter/BUILD.bazel
  daml-lf/parser/BUILD.bazel
  daml-lf/transaction/BUILD.bazel
  daml-lf/validation/BUILD.bazel
  daml-script/runner/BUILD.bazel
  extractor/BUILD.bazel
  language-support/scala/codegen/BUILD.bazel
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/logging/package.scala
  ledger/participant-state/kvutils/tools/BUILD.bazel
  navigator/backend/BUILD.bazel
Owners: @remyhaemmerle-da, @cocreature, @aherrmann-da, @stefanobaghino-da, @S11001001, @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da, @fabiotudone-da, @miklos-da, @SamirTalwar-DA

DEL-8657 update version info for Haskell LF libraries
  build-scripts/build_hs_lf_tooling.sh
  compiler/daml-lf-ast/daml-lf-ast.cabal
  compiler/daml-lf-proto/daml-lf-proto.cabal
  compiler/daml-lf-reader/daml-lf-reader.cabal
  libs-haskell/da-hs-base/da-hs-base.cabal
Owners: @cocreature

DEL-8657 add a missing module
  libs-haskell/da-hs-base/da-hs-base.cabal
Owners: @cocreature

Simple draw of stopping indexing upon unhealthy DbDispatcher (#10154)
  ledger/participant-integration-api/src/main/scala/platform/indexer/parallel/ParallelIndexerFactory.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

daml-lf/data: Truncate party names in log output, on request.
  compiler/repl-service/server/BUILD.bazel
  compiler/scenario-service/server/BUILD.bazel
  daml-lf/archive/BUILD.bazel
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/LoggingConfiguration.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/Ref.scala
  daml-lf/engine/BUILD.bazel
  daml-lf/interpreter/BUILD.bazel
  daml-lf/language/BUILD.bazel
  daml-lf/parser/BUILD.bazel
  daml-lf/repl/BUILD.bazel
  daml-lf/scenario-interpreter/BUILD.bazel
  daml-lf/transaction-test-lib/BUILD.bazel
  daml-lf/transaction/BUILD.bazel
  daml-script/converter/BUILD.bazel
  daml-script/runner/BUILD.bazel
  daml-script/test/BUILD.bazel
  language-support/java/codegen/BUILD.bazel
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiCommandService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/admin/ApiPartyManagementService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/logging/package.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/ExecuteUpdate.scala
  ledger/participant-state/kvutils/tools/BUILD.bazel
  libs-scala/logging-entries/BUILD.bazel
  libs-scala/logging-entries/src/main/scala/com/daml/logging/entries/LoggingValue.scala
  libs-scala/logging-entries/src/test/scala/com/daml/logging/entries/LoggingValueSpec.scala
  triggers/service/BUILD.bazel
  triggers/tests/BUILD.bazel
Owners: @cocreature, @remyhaemmerle-da, @S11001001, @aherrmann-da, @stefanobaghino-da, @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da, @fabiotudone-da, @miklos-da, @SamirTalwar-DA

participant-integration-api: Truncate parties in filters when logging.
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/Ref.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/logging/package.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/ExecuteUpdate.scala
  libs-scala/logging-entries/src/main/scala/com/daml/logging/entries/ToLoggingKey.scala
Owners: @remyhaemmerle-da, @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da, @stefanobaghino-da, @SamirTalwar-DA

logging-entries: Make `ToLoggingValue` mixin-able.
  ledger/ledger-api-domain/src/main/scala/com/digitalasset/ledger/api/domain.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/Offset.scala
  libs-scala/logging-entries/src/main/scala/com/daml/logging/entries/LoggingValue.scala
  libs-scala/logging-entries/src/main/scala/com/daml/logging/entries/ToLoggingValue.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da, @stefanobaghino-da, @SamirTalwar-DA

participant-integration-api: Cast to `Party` for logging.
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/logging/package.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

daml-lf/data: Move `Party to LoggingValue` to a new package.
  compiler/repl-service/server/BUILD.bazel
  compiler/scenario-service/server/BUILD.bazel
  daml-lf/archive/BUILD.bazel
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/Ref.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/logging/LoggingConfiguration.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/logging/package.scala
  daml-lf/engine/BUILD.bazel
  daml-lf/interpreter/BUILD.bazel
  daml-lf/language/BUILD.bazel
  daml-lf/parser/BUILD.bazel
  daml-lf/repl/BUILD.bazel
  daml-lf/scenario-interpreter/BUILD.bazel
  daml-lf/transaction-test-lib/BUILD.bazel
  daml-lf/transaction/BUILD.bazel
  daml-script/converter/BUILD.bazel
  daml-script/runner/BUILD.bazel
  daml-script/test/BUILD.bazel
  language-support/java/codegen/BUILD.bazel
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/logging/package.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/ExecuteUpdate.scala
  triggers/service/BUILD.bazel
  triggers/tests/BUILD.bazel
Owners: @cocreature, @remyhaemmerle-da, @S11001001, @aherrmann-da, @stefanobaghino-da, @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

LF: avoid usage of GlobalKey.key in engine error
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Error.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/LargeTransactionTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/scenario/ScenarioLedger.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/scenario-interpreter/BUILD.bazel
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/Error.scala
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/Pretty.scala
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/ScenarioRunner.scala
  daml-lf/transaction/src/main/scala/com/daml/lf/Error.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ledgerinteraction/IdeLedgerClient.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiSubmissionService.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/services/ApiSubmissionServiceSpec.scala
Owners: @cocreature, @remyhaemmerle-da, @aherrmann-da, @stefanobaghino-da, @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

CODEOWNERS   @gerolf-da @cocreature
LATEST       @gerolf-da @bame-da @cocreature

# Build / CI / environment
/ci/                @garyverhaegen-da
/dev-env/           @garyverhaegen-da
/nix/               @garyverhaegen-da
/infra/             @garyverhaegen-da
azure-pipelines.yml @garyverhaegen-da
azure-cron.yml      @garyverhaegen-da

# Blackduck
NOTICES     @garyverhaegen-da @aherrmann-da @cocreature @dasormeter

# Language
/compiler/           @cocreature
/libs-haskell/       @cocreature
/daml-assistant/    @sofiafaro-da  @cocreature
/daml-script/       @cocreature  @aherrmann-da @stefanobaghino-da
/triggers/          @cocreature  @aherrmann-da @stefanobaghino-da
/ghc-lib/           @cocreature
/compatibility/     @garyverhaegen-da @aherrmann-da @cocreature

# Runtime
/daml-lf/ @remyhaemmerle-da
/daml-lf/archive/da/ @cocreature
/daml-lf/data-scalacheck/ @S11001001 @cocreature
/daml-lf/engine/ @cocreature
/daml-lf/governance.rst
/daml-lf/interpreter/ @cocreature
/daml-lf/kv-transaction-support/ @cocreature @gerolf-da @miklos-da
/daml-lf/repl/ @cocreature
/daml-lf/scenario-interpreter/  @cocreature
/daml-lf/spec/daml-lf-1.rst @cocreature
/daml-lf/spec/transaction.rst @cocreature
/daml-lf/spec/value.rst @cocreature
/daml-lf/transaction-test-lib/ @S11001001 @cocreature
/daml-lf/transaction/src/main/scala/com/daml/lf/transaction/ @cocreature
/daml-lf/transaction/src/main/scala/com/daml/lf/value/ @cocreature
/daml-lf/validation/ @cocreature

/ledger-service/    @S11001001 @cocreature @stefanobaghino-da

/ledger/      @gerolf-da @mziolekda @nmarton-da @rautenrieth-da @tudor-da
/ledger-api/  @gerolf-da @mziolekda @nmarton-da @rautenrieth-da @tudor-da

/ledger/participant-state/kvutils/ @fabiotudone-da @gerolf-da @miklos-da @SamirTalwar-DA

/runtime-components/    @stefanobaghino-da @cocreature

# Ecosystems
/language-support/hs/       @nickchapman-da
/language-support/java/     @cocreature @stefanobaghino-da
/language-support/scala/    @S11001001 @cocreature @stefanobaghino-da
/language-support/ts/        @robin-da @cocreature @garyverhaegen-da @stefanobaghino-da

# Tools
/extractor/         @S11001001 @stefanobaghino-da
/navigator/         @cocreature @stefanobaghino-da
/navigator/backend/src/main/scala/com/digitalasset/navigator/json/    @S11001001

# Misc
/docs/              @bame-da @nemanja-da
/libs-scala/        @stefanobaghino-da @SamirTalwar-DA
/libs-scala/contextualized-logging/    @S11001001
/libs-scala/scala-utils/    @S11001001
/libs-scala/scalatest-utils/    @S11001001
