Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @gerolf-da, @cocreature, @bame-da, @garyverhaegen-da, @aherrmann-da, @dasormeter, @sofiafaro-da, @stefanobaghino-da, @remyhaemmerle-da, @S11001001, @miklos-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da, @fabiotudone-da, @SamirTalwar-DA, @nickchapman-da, @robin-da, @nemanja-da

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

CODEOWNERS   @gerolf-da @cocreature
LATEST       @gerolf-da @bame-da @cocreature

# Build / CI / environment
/ci/                @garyverhaegen-da
/dev-env/           @garyverhaegen-da
/nix/               @garyverhaegen-da
/infra/             @garyverhaegen-da
azure-pipelines.yml @garyverhaegen-da
azure-cron.yml      @garyverhaegen-da

# Blackduck
NOTICES     @garyverhaegen-da @aherrmann-da @cocreature @dasormeter

# Language
/compiler/           @cocreature
/libs-haskell/       @cocreature
/daml-assistant/    @sofiafaro-da  @cocreature
/daml-script/       @cocreature  @aherrmann-da @stefanobaghino-da
/triggers/          @cocreature  @aherrmann-da @stefanobaghino-da
/ghc-lib/           @cocreature
/compatibility/     @garyverhaegen-da @aherrmann-da @cocreature

# Runtime
/daml-lf/ @remyhaemmerle-da
/daml-lf/archive/da/ @cocreature
/daml-lf/data-scalacheck/ @S11001001 @cocreature
/daml-lf/engine/ @cocreature
/daml-lf/governance.rst
/daml-lf/interpreter/ @cocreature
/daml-lf/kv-transaction-support/ @cocreature @gerolf-da @miklos-da
/daml-lf/repl/ @cocreature
/daml-lf/scenario-interpreter/  @cocreature
/daml-lf/spec/daml-lf-1.rst @cocreature
/daml-lf/spec/transaction.rst @cocreature
/daml-lf/spec/value.rst @cocreature
/daml-lf/transaction-test-lib/ @S11001001 @cocreature
/daml-lf/transaction/src/main/scala/com/daml/lf/transaction/ @cocreature
/daml-lf/transaction/src/main/scala/com/daml/lf/value/ @cocreature
/daml-lf/validation/ @cocreature

/ledger-service/    @S11001001 @cocreature @stefanobaghino-da

/ledger/      @gerolf-da @mziolekda @nmarton-da @rautenrieth-da @tudor-da
/ledger-api/  @gerolf-da @mziolekda @nmarton-da @rautenrieth-da @tudor-da

/ledger/participant-state/kvutils/ @fabiotudone-da @gerolf-da @miklos-da @SamirTalwar-DA

/runtime-components/    @stefanobaghino-da @cocreature

# Ecosystems
/language-support/hs/       @nickchapman-da
/language-support/java/     @cocreature @stefanobaghino-da
/language-support/scala/    @S11001001 @cocreature @stefanobaghino-da
/language-support/ts/        @robin-da @cocreature @garyverhaegen-da @stefanobaghino-da

# Tools
/extractor/         @S11001001 @stefanobaghino-da
/navigator/         @cocreature @stefanobaghino-da
/navigator/backend/src/main/scala/com/digitalasset/navigator/json/    @S11001001

# Misc
/docs/              @bame-da @nemanja-da
/libs-scala/        @stefanobaghino-da @SamirTalwar-DA
/libs-scala/contextualized-logging/    @S11001001
/libs-scala/scala-utils/    @S11001001
/libs-scala/scalatest-utils/    @S11001001

daml-lf-data: Move the `Identifier` logging to another package.
  daml-lf/data/BUILD.bazel
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/Ref.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/logging/package.scala
  daml-lf/encoder/BUILD.bazel
  daml-lf/engine/BUILD.bazel
  daml-lf/interface/BUILD.bazel
  daml-lf/parser/BUILD.bazel
  daml-lf/transaction/BUILD.bazel
  daml-lf/validation/BUILD.bazel
  daml-script/runner/BUILD.bazel
  extractor/BUILD.bazel
  language-support/scala/codegen/BUILD.bazel
  ledger/participant-state/kvutils/tools/BUILD.bazel
  navigator/backend/BUILD.bazel
Owners: @remyhaemmerle-da, @cocreature, @aherrmann-da, @stefanobaghino-da, @S11001001, @fabiotudone-da, @gerolf-da, @miklos-da, @SamirTalwar-DA

Retry bazel cache up & downloads (#10156)
  nix/bazel-retry-cache.patch
  nix/nixpkgs.nix
Owners: @garyverhaegen-da

docs: Suppress the output from `unzip`.
  docs/BUILD.bazel
Owners: @bame-da, @nemanja-da

language-support/scala/codegen: Set the logging level to `WARN`.
  language-support/scala/codegen-sample-app/BUILD.bazel
  language-support/scala/codegen/codegen.bzl
  language-support/scala/examples/BUILD.bazel
  ledger/test-common/BUILD.bazel
Owners: @S11001001, @cocreature, @stefanobaghino-da, @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

docs: Suppress the output from `unzip`. (#10164)
  docs/BUILD.bazel
Owners: @bame-da, @nemanja-da

Backport to 1.14.x: Simple draw of stopping indexing upon unhealthy DbDispatcher
  ledger/participant-integration-api/src/main/scala/platform/indexer/parallel/ParallelIndexerFactory.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Expect a conflated Txn when streaming out the ACS block
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

update NOTICES file
  NOTICES
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature, @dasormeter

disclosures: a PoC for submitting disclosures
  compiler/damlc/daml-stdlib-src/DA/Internal/Compatible.daml
  compiler/damlc/daml-stdlib-src/DA/Internal/LF.daml
  compiler/scenario-service/client/src/DA/Daml/LF/PrettyScenario.hs
  compiler/scenario-service/protos/scenario_service.proto
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/scenario/ScenarioLedger.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/Error.scala
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/Pretty.scala
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/ScenarioRunner.scala
  daml-lf/transaction/src/main/scala/com/daml/lf/Error.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/command/Command.scala
  daml-script/daml/Daml/Script.daml
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Converter.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ScriptF.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ledgerinteraction/GrpcLedgerClient.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ledgerinteraction/IdeLedgerClient.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ledgerinteraction/JsonLedgerClient.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ledgerinteraction/ScriptLedgerClient.scala
  language-support/hs/bindings/src/DA/Ledger/Convert.hs
  ledger-api/grpc-definitions/com/daml/ledger/api/v1/commands.proto
  ledger/ledger-api-common/src/main/scala/com/digitalasset/ledger/api/validation/CommandsValidator.scala
Owners: @cocreature, @remyhaemmerle-da, @aherrmann-da, @stefanobaghino-da, @nickchapman-da, @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

language-support/scala/codegen: Set the logging level to `WARN`. (#10165)
  language-support/scala/codegen-sample-app/BUILD.bazel
  language-support/scala/codegen/codegen.bzl
  language-support/scala/examples/BUILD.bazel
  ledger/test-common/BUILD.bazel
Owners: @S11001001, @cocreature, @stefanobaghino-da, @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

daml-lf/data: Optionally truncate party names in structured logs. [KVL-996] (#10163)
  daml-lf/data/BUILD.bazel
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/Ref.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/logging/LoggingConfiguration.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/logging/package.scala
  daml-lf/encoder/BUILD.bazel
  daml-lf/engine/BUILD.bazel
  daml-lf/interface/BUILD.bazel
  daml-lf/interpreter/BUILD.bazel
  daml-lf/parser/BUILD.bazel
  daml-lf/transaction/BUILD.bazel
  daml-lf/validation/BUILD.bazel
  daml-script/runner/BUILD.bazel
  daml-script/test/BUILD.bazel
  extractor/BUILD.bazel
  language-support/scala/codegen/BUILD.bazel
  ledger/ledger-api-domain/src/main/scala/com/digitalasset/ledger/api/domain.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiCommandService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/admin/ApiPartyManagementService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/logging/package.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/ExecuteUpdate.scala
  ledger/participant-state/kvutils/tools/BUILD.bazel
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/Offset.scala
  libs-scala/logging-entries/BUILD.bazel
  libs-scala/logging-entries/src/main/scala/com/daml/logging/entries/LoggingValue.scala
  libs-scala/logging-entries/src/main/scala/com/daml/logging/entries/ToLoggingKey.scala
  libs-scala/logging-entries/src/main/scala/com/daml/logging/entries/ToLoggingValue.scala
  libs-scala/logging-entries/src/test/scala/com/daml/logging/entries/LoggingValueSpec.scala
  navigator/backend/BUILD.bazel
Owners: @remyhaemmerle-da, @cocreature, @aherrmann-da, @stefanobaghino-da, @S11001001, @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da, @fabiotudone-da, @miklos-da, @SamirTalwar-DA

Print ledger-api-bench-tool final report when a stream in ended by shutting down API server CHANGELOG_BEGIN CHANGELOG_END
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/util/ObserverWithResult.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

DEL-8657 update version info for Haskell LF libraries (#10160)
  build-scripts/build_hs_lf_tooling.sh
  compiler/daml-lf-ast/daml-lf-ast.cabal
  compiler/daml-lf-proto/daml-lf-proto.cabal
  compiler/daml-lf-reader/daml-lf-reader.cabal
  libs-haskell/da-hs-base/da-hs-base.cabal
Owners: @cocreature

Log ledger-api-bench-tool failure with specific header to make it compatible with the lr-sidecar
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/util/MetricReporter.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Expect a conflated Txn when streaming out the ACS block (#10168)
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

cleanup harder
  ci/build.yml
Owners: @garyverhaegen-da

add tar to dev-env
  dev-env/bin/tar
Owners: @garyverhaegen-da

add tar to dev-env (#10173)
  dev-env/bin/tar
Owners: @garyverhaegen-da

.
  ci/upload-bazel-metrics.yml
Owners: @garyverhaegen-da

Update ci/upload-bazel-metrics.yml
  ci/upload-bazel-metrics.yml
Owners: @garyverhaegen-da

Update ci/upload-bazel-metrics.yml
  ci/upload-bazel-metrics.yml
Owners: @garyverhaegen-da

.
  ci/upload-bazel-metrics.yml
Owners: @garyverhaegen-da

.
  ci/upload-bazel-metrics.yml
Owners: @garyverhaegen-da

compress bazel build logs
  ci/upload-bazel-metrics.yml
Owners: @garyverhaegen-da

.
  ci/upload-bazel-metrics.yml
Owners: @garyverhaegen-da

.
  ci/upload-bazel-metrics.yml
Owners: @garyverhaegen-da

.
  ci/upload-bazel-metrics.yml
Owners: @garyverhaegen-da

compress bazel build logs (#10162)
  ci/upload-bazel-metrics.yml
Owners: @garyverhaegen-da

Ledger API: bump version for LF 1.14
  docs/source/support/compatibility.rst
  ledger-api/VERSION
Owners: @bame-da, @nemanja-da, @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

restore print of job metadata
  ci/upload-bazel-metrics.yml
Owners: @garyverhaegen-da

Update docs/source/support/compatibility.rst
  docs/source/support/compatibility.rst
Owners: @bame-da, @nemanja-da

Backport to 1.14.x: Simple draw of stopping indexing upon unhealthy DbDispatcher (#10166)
  ledger/participant-integration-api/src/main/scala/platform/indexer/parallel/ParallelIndexerFactory.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Unhide JSON API metrics
  ledger-service/cli-opts/src/main/scala/cliopts/Metrics.scala
  ledger-service/http-json-cli/src/main/scala/com/daml/http/OptionParser.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

Update docs/source/support/compatibility.rst
  docs/source/support/compatibility.rst
Owners: @bame-da, @nemanja-da

Only run sandbox(classic)? on postgres tests on Linx
  compatibility/bazel_tools/testing.bzl
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature

Improvements to the documentation with regards to offsets
  docs/source/app-dev/app-arch.rst
  docs/source/app-dev/bindings-java/quickstart.rst
  docs/source/app-dev/services.rst
Owners: @bame-da, @nemanja-da

Unhide JSON API metrics (#10177)
  ledger-service/cli-opts/src/main/scala/cliopts/Metrics.scala
  ledger-service/http-json-cli/src/main/scala/com/daml/http/OptionParser.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

Document how to run the Java codegen from the Daml assistant
  docs/source/app-dev/bindings-java/codegen.rst
Owners: @bame-da, @nemanja-da

Add divulgence warning and test in script service.
  compiler/damlc/tests/src/DA/Test/ScriptService.hs
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/TraceLog.scala
Owners: @cocreature

scalafmt
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
Owners: @cocreature
