Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @digital-asset/daml-release-owners, @dylant-da, @paulbrauner-da, @remyhaemmerle-da, @digital-asset/daml-language, @digital-asset/kv-participant

projectPath -> packagePath
  sdk/compiler/damlc/daml-package-config/src/DA/Daml/Package/Config.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc.hs
  sdk/compiler/damlc/tests/src/DA/Test/ScriptService.hs
  sdk/daml-assistant/daml-helper/src/DA/Daml/Helper/Util.hs
  sdk/daml-assistant/daml-project-config/DA/Daml/Project/Consts.hs
  sdk/daml-assistant/exe/DA/Daml/Assistant.hs
  sdk/daml-assistant/src/DA/Daml/Assistant/Install.hs
  sdk/daml-assistant/src/DA/Daml/Assistant/Version.hs
  sdk/daml-assistant/test/DA/Daml/Assistant/Tests.hs
  sdk/language-support/ts/codegen/src/TsCodeGenMain.hs
Owners: @digital-asset/daml-language

Fix mistake in haskell code, rename project -> package in scala
  sdk/daml-assistant/exe/DA/Daml/Assistant.hs
  sdk/daml-assistant/scala-daml-package-config/BUILD.bazel
  sdk/daml-assistant/scala-daml-package-config/README.md
  sdk/daml-assistant/scala-daml-package-config/src/main/scala/com/daml/assistant/config/PackageConfig.scala
  sdk/daml-assistant/scala-daml-package-config/src/test/scala/com/daml/assistant/config/ProjectConfigSpec.scala
  sdk/language-support/codegen-common/BUILD.bazel
  sdk/language-support/codegen-common/src/main/scala/com/digitalasset/daml/lf/codegen/conf/CodegenConfigReader.scala
  sdk/language-support/codegen-common/src/test/scala/com/digitalasset/daml/lf/codegen/conf/CodegenConfigReaderSpec.scala
  sdk/language-support/codegen-main/BUILD.bazel
  sdk/release/artifacts.yaml
Owners: @digital-asset/daml-language

withExpectProjectRoot -> withExpectPackageRoot
  sdk/compiler/damlc/lib/DA/Cli/Damlc.hs
  sdk/daml-assistant/daml-project-config/DA/Daml/Project/Consts.hs
Owners: @digital-asset/daml-language

ProjectPath -> PackagePath
  sdk/compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Dar.hs
  sdk/compiler/damlc/daml-ide-core/src/Development/IDE/Core/IdeState/Daml.hs
  sdk/compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
  sdk/compiler/damlc/daml-ide/src/DA/Daml/LanguageServer/SplitGotoDefinition.hs
  sdk/compiler/damlc/daml-opts/daml-opts-types/DA/Daml/Options/Types.hs
  sdk/compiler/damlc/daml-package-config/src/DA/Daml/Package/Config.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc/Command/MultiIde/PackageData.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc/Command/MultiIde/Types.hs
  sdk/compiler/damlc/lib/DA/Cli/Options.hs
  sdk/compiler/damlc/tests/src/DA/Test/ScriptService.hs
  sdk/compiler/damlc/tests/src/DA/Test/ScriptService_1_15.hs
  sdk/compiler/script-service/client/src/DA/Daml/LF/ScriptServiceClient.hs
  sdk/daml-assistant/daml-helper/src/DA/Daml/Helper/Util.hs
  sdk/daml-assistant/daml-project-config/DA/Daml/Project/Config.hs
  sdk/daml-assistant/daml-project-config/DA/Daml/Project/Consts.hs
  sdk/daml-assistant/daml-project-config/DA/Daml/Project/Types.hs
  sdk/daml-assistant/src/DA/Daml/Assistant/Env.hs
  sdk/daml-assistant/src/DA/Daml/Assistant/Install.hs
  sdk/daml-assistant/src/DA/Daml/Assistant/Types.hs
  sdk/daml-assistant/src/DA/Daml/Assistant/Version.hs
  sdk/daml-assistant/test/DA/Daml/Assistant/Tests.hs
  sdk/language-support/ts/codegen/src/TsCodeGenMain.hs
Owners: @digital-asset/daml-language

Many smaller renames
  sdk/compatibility/bazel_tools/daml_ledger/Main.hs
  sdk/compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Dar.hs
  sdk/compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
  sdk/compiler/damlc/daml-ide/src/DA/Daml/LanguageServer/SplitGotoDefinition.hs
  sdk/compiler/damlc/daml-opts/daml-opts/DA/Daml/Options.hs
  sdk/compiler/damlc/daml-package-config/src/DA/Daml/Package/Config.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc/Command/MultiIde/Types.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc/Command/MultiIde/Util.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc/Packaging.hs
  sdk/compiler/damlc/tests/src/CliParser.hs
  sdk/compiler/damlc/tests/src/DA/Test/DamlcUpgrades.hs
  sdk/compiler/damlc/tests/src/DA/Test/IncrementalPackageDb.hs
  sdk/compiler/damlc/tests/src/DA/Test/ScriptService.hs
  sdk/daml-assistant/daml-helper/src/DA/Daml/Helper/Init.hs
  sdk/daml-assistant/daml-helper/src/DA/Daml/Helper/Ledger.hs
  sdk/daml-assistant/daml-helper/src/DA/Daml/Helper/New.hs
  sdk/daml-assistant/daml-helper/src/DA/Daml/Helper/Start.hs
  sdk/daml-assistant/daml-helper/src/DA/Daml/Helper/Util.hs
  sdk/daml-assistant/daml-helper/test/DA/Daml/Helper/Test/Deployment.hs
  sdk/daml-assistant/exe/DA/Daml/Assistant.hs
  sdk/daml-assistant/src/DA/Daml/Assistant/Env.hs
  sdk/daml-assistant/src/DA/Daml/Assistant/Install.hs
  sdk/language-support/ts/codegen/src/TsCodeGenMain.hs
Owners: @digital-asset/daml-language, @digital-asset/kv-participant

Add --package-check, deprecate --project-check
  sdk/compiler/damlc/lib/DA/Cli/Options.hs
Owners: @digital-asset/daml-language

withProjectRoot -> withPackageRoot
  sdk/compiler/damlc/lib/DA/Cli/Damlc.hs
  sdk/daml-assistant/daml-helper/src/DA/Daml/Helper/Start.hs
  sdk/daml-assistant/daml-project-config/DA/Daml/Project/Consts.hs
Owners: @digital-asset/daml-language

ProjectCheck -> PackageLocationCheck
  sdk/compiler/damlc/lib/DA/Cli/Damlc.hs
  sdk/compiler/damlc/lib/DA/Cli/Options.hs
  sdk/daml-assistant/daml-helper/src/DA/Daml/Helper/Start.hs
  sdk/daml-assistant/daml-project-config/DA/Daml/Project/Consts.hs
Owners: @digital-asset/daml-language

projectConfigName -> packageConfigName
  sdk/compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
  sdk/compiler/damlc/daml-opts/daml-opts/DA/Daml/Options.hs
  sdk/compiler/damlc/daml-package-config/src/DA/Daml/Package/Config.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc/Command/MultiIde/DarDependencies.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc/Command/MultiIde/PackageData.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc/Command/MultiIde/Util.hs
  sdk/compiler/script-service/client/src/DA/Daml/LF/ScriptServiceClient.hs
  sdk/daml-assistant/daml-helper/src/DA/Daml/Helper/Init.hs
  sdk/daml-assistant/daml-helper/src/DA/Daml/Helper/New.hs
  sdk/daml-assistant/daml-helper/src/DA/Daml/Helper/Util.hs
  sdk/daml-assistant/daml-project-config/DA/Daml/Project/Config.hs
  sdk/daml-assistant/daml-project-config/DA/Daml/Project/Consts.hs
  sdk/daml-assistant/src/DA/Daml/Assistant/Env.hs
  sdk/daml-assistant/src/DA/Daml/Assistant/Version.hs
  sdk/daml-assistant/test/DA/Daml/Assistant/Tests.hs
Owners: @digital-asset/daml-language

LookForProjectPath -> LookForPackagePath, Fixes to Assistant tests
  sdk/compiler/damlc/lib/DA/Cli/Damlc.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc/Packaging.hs
  sdk/daml-assistant/exe/DA/Daml/Assistant.hs
  sdk/daml-assistant/src/DA/Daml/Assistant/Env.hs
  sdk/daml-assistant/src/DA/Daml/Assistant/Types.hs
  sdk/daml-assistant/test/DA/Daml/Assistant/Tests.hs
Owners: @digital-asset/daml-language

readProjectConfig -> readPackageConfig, readProjectConfigPure -> readPackageConfigPure, projectConfigUsesEnvironmentVariables -> packageConfigUsesEnvironmentVariables
  sdk/compiler/damlc/daml-ide/src/DA/Daml/LanguageServer/SplitGotoDefinition.hs
  sdk/compiler/damlc/daml-package-config/src/DA/Daml/Package/Config.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc/Command/MultiIde/Util.hs
  sdk/compiler/script-service/client/src/DA/Daml/LF/ScriptServiceClient.hs
  sdk/daml-assistant/daml-helper/src/DA/Daml/Helper/Util.hs
  sdk/daml-assistant/daml-project-config/DA/Daml/Project/Config.hs
  sdk/daml-assistant/exe/DA/Daml/Assistant.hs
  sdk/daml-assistant/src/DA/Daml/Assistant/Install.hs
  sdk/daml-assistant/src/DA/Daml/Assistant/Version.hs
  sdk/daml-assistant/test/DA/Daml/Assistant/Tests.hs
  sdk/language-support/ts/codegen/src/TsCodeGenMain.hs
Owners: @digital-asset/daml-language

getProjectPath -> getPackagePath
  sdk/compiler/damlc/lib/DA/Cli/Damlc.hs
  sdk/daml-assistant/daml-helper/src/DA/Daml/Helper/Studio.hs
  sdk/daml-assistant/daml-helper/src/DA/Daml/Helper/Util.hs
  sdk/daml-assistant/daml-project-config/DA/Daml/Project/Consts.hs
  sdk/daml-assistant/src/DA/Daml/Assistant/Env.hs
  sdk/daml-assistant/src/DA/Daml/Assistant/Version.hs
  sdk/daml-assistant/test/DA/Daml/Assistant/Tests.hs
  sdk/language-support/ts/codegen/src/TsCodeGenMain.hs
Owners: @digital-asset/daml-language

runTestsInProjectOrFiles -> runTestsInPackageOrFiles, defaultProjectPath -> defaultPackagePath, getCanonDefaultProjectPath -> getCanonDefaultPackagePath
  sdk/compiler/damlc/lib/DA/Cli/Damlc.hs
Owners: @digital-asset/daml-language

projectPackageDatabase -> packageDatabasePath, projectDependenciesDatabase -> packageDependenciesDatabasePath
  sdk/compiler/damlc/daml-opts/daml-opts-types/DA/Daml/Options/Packaging/Metadata.hs
  sdk/compiler/damlc/daml-opts/daml-opts-types/DA/Daml/Options/Types.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc/DependencyDb.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc/Packaging.hs
  sdk/compiler/damlc/tests/src/DA/Test/DamlcIntegration.hs
Owners: @digital-asset/daml-language

package -> project
  sdk/compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
  sdk/compiler/damlc/daml-opts/daml-opts-types/DA/Daml/Options/Packaging/Metadata.hs
  sdk/compiler/damlc/daml-opts/daml-opts-types/DA/Daml/Options/Types.hs
  sdk/compiler/damlc/daml-opts/daml-opts/DA/Daml/Options.hs
  sdk/compiler/damlc/daml-package-config/src/DA/Daml/Package/Config.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc/Command/MultiIde/Util.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc/Packaging.hs
  sdk/compiler/damlc/lib/DA/Cli/Options.hs
  sdk/compiler/damlc/tests/src/DA/Test/DataDependencies.hs
  sdk/compiler/damlc/tests/src/DA/Test/IncrementalBuilds.hs
  sdk/compiler/damlc/tests/src/DA/Test/Packaging.hs
  sdk/compiler/damlc/tests/src/DamlcLint.hs
  sdk/compiler/damlc/tests/src/DamlcTest.hs
  sdk/compiler/lsp-tests/src/Main.hs
  sdk/compiler/script-service/client/src/DA/Daml/LF/ScriptServiceClient.hs
  sdk/daml-assistant/daml-helper/src/DA/Daml/Helper/Init.hs
  sdk/daml-assistant/daml-helper/src/DA/Daml/Helper/Ledger.hs
  sdk/daml-assistant/daml-helper/src/DA/Daml/Helper/Main.hs
  sdk/daml-assistant/daml-helper/src/DA/Daml/Helper/New.hs
  sdk/daml-assistant/daml-helper/src/DA/Daml/Helper/Util.hs
  sdk/daml-assistant/daml-project-config/DA/Daml/Project/Config.hs
  sdk/daml-assistant/daml-project-config/DA/Daml/Project/Consts.hs
  sdk/daml-assistant/daml-project-config/DA/Daml/Project/Types.hs
  sdk/daml-assistant/exe/DA/Daml/Assistant.hs
  sdk/daml-assistant/integration-tests/src/DA/Daml/Assistant/IntegrationTests.hs
  sdk/daml-assistant/src/DA/Daml/Assistant/Env.hs
  sdk/daml-assistant/src/DA/Daml/Assistant/Install.hs
  sdk/daml-assistant/src/DA/Daml/Assistant/Version.hs
  sdk/language-support/ts/codegen/src/TsCodeGenMain.hs
  sdk/language-support/ts/codegen/tests/src/DA/Test/Daml2js.hs
Owners: @digital-asset/daml-language

Deprecate --project-root, --project-check, PROJECT_ROOT. One last rename
  sdk/compiler/damlc/lib/DA/Cli/Damlc.hs
  sdk/daml-assistant/exe/DA/Daml/Assistant.hs
Owners: @digital-asset/daml-language

fix
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/CostModel.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltinFun.scala
Owners: none

Fix "Blackduck Scan" -> "Open PR to update NOTICES file"
  ci/blackduck.yml
Owners: @digital-asset/daml-language

simplified remap-scala...
  ci/report-flakes.yml
  sdk/ci/remap-scala-test-short-names.ps1
Owners: @digital-asset/daml-language

also validate upgrades in phase 1
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/AuthPropagationSpec.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ContractKeySpec.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/InterfacesTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/UpgradesMatrixUnit.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltinFun.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/EvaluationOrderTest.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ExplicitDisclosureLib.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/LimitsSpec.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinInterfaceTest.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/TransactionVersionTest.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/UpgradeTest.scala
  sdk/security-evidence.md
Owners: none

rename Metadata to ContractMetadata
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltinFun.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
Owners: none

add comments to speedy/UpgradeTEst
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/UpgradeTest.scala
Owners: none

Stop relying on creation package in fetchTemplate/fetchInterface (#21865)
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/AuthPropagationSpec.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ContractKeySpec.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/InterfacesTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/UpgradesMatrixUnit.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltinFun.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/EvaluationOrderTest.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ExplicitDisclosureLib.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/LimitsSpec.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinInterfaceTest.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/TransactionVersionTest.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/UpgradeTest.scala
  sdk/daml-script/test/daml/upgrades/stable/PackageSelection.daml
  sdk/daml-script/test/daml/upgrades/stable/UnvettedPackages.daml
  sdk/security-evidence.md
Owners: none

..
  sdk/ci/remap-scala-test-short-names.ps1
Owners: none

Remove logging as it trips test
  sdk/compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
Owners: @digital-asset/daml-language

test missing creation package in the upgrade test matrix
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/UpgradesMatrix.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/UpgradesMatrixUnit.scala
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ledgerinteraction/grpcLedgerClient/AdminLedgerClient.scala
  sdk/daml-script/test/src/main/scala/com/digitalasset/daml/lf/engine/script/test/UpgradesMatrixIT.scala
Owners: none

update scaladoc
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/UpgradesMatrix.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/UpgradesMatrixUnit.scala
  sdk/security-evidence.md
Owners: none

...
  sdk/build.ps1
  sdk/ci/remap-scala-test-short-names.ps1
Owners: none

define hash on svalues
  sdk/daml-lf/interpreter/BUILD.bazel
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/crypto/SValueHash.scala
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/crypto/Hash.scala
Owners: none

....
  ci/build.yml
  ci/prs.yml
  ci/report-flakes.yml
  ci/report_flakes.py
  sdk/ci/remap-scala-test-short-names.ps1
Owners: @digital-asset/daml-language

release notes
  sdk/UNRELEASED.md
Owners: none

Fix "Blackduck Scan" -> "Open PR to update NOTICES file" (#21891)
  ci/blackduck.yml
Owners: @digital-asset/daml-language

fix
  sdk/daml-lf/interpreter/BUILD.bazel
Owners: none

docs: Fix broken links in the sdlc-howtos section of the build docs.
  sdk/docs/manually-written/sdk/sdlc-howtos/smart-contracts/build/index.rst
  sdk/docs/manually-written/sdk/sdlc-howtos/smart-contracts/debug/index.rst
  sdk/docs/manually-written/sdk/sdlc-howtos/smart-contracts/develop/index.rst
  sdk/docs/manually-written/sdk/sdlc-howtos/smart-contracts/develop/patterns.rst
  sdk/docs/manually-written/sdk/sdlc-howtos/smart-contracts/upgrade/index.rst
  sdk/docs/sharable/sdk/sdlc-howtos/smart-contracts/build/index.rst
  sdk/docs/sharable/sdk/sdlc-howtos/smart-contracts/debug/index.rst
  sdk/docs/sharable/sdk/sdlc-howtos/smart-contracts/develop/index.rst
  sdk/docs/sharable/sdk/sdlc-howtos/smart-contracts/develop/patterns.rst
  sdk/docs/sharable/sdk/sdlc-howtos/smart-contracts/upgrade/index.rst
Owners: none

fixing condition
  ci/report-flakes.yml
Owners: @digital-asset/daml-language

Add imports to EncodeModule rule, fixing tests?🙏
  sdk/compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
  sdk/compiler/damlc/tests/src/DA/Test/DataDependencies.hs
Owners: @digital-asset/daml-language

WIP
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV2.scala
Owners: none

Fix codegen-java-oci copying path
  ci/copy-unix-release-artifacts.sh
  ci/copy-windows-release-artifacts.sh
Owners: @digital-asset/daml-language

Add imports to EncodeModule rule, fixing tests?🙏
  sdk/compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
  sdk/compiler/damlc/tests/src/DA/Test/DataDependencies.hs
Owners: @digital-asset/daml-language

Fix codegen-java-oci copying path (#21900)
  ci/copy-unix-release-artifacts.sh
  ci/copy-windows-release-artifacts.sh
Owners: @digital-asset/daml-language

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

sdk/bazel-java-deps.bzl @digital-asset/daml-release-owners

CODEOWNERS   @dylant-da @paulbrauner-da @remyhaemmerle-da 
/sdk/LATEST @digital-asset/daml-release-owners

# Build / CI / environment
/ci/                   @digital-asset/daml-language
/sdk/dev-env/          @digital-asset/daml-language
/sdk/nix/              @digital-asset/daml-language
azure-pipelines.yml    @digital-asset/daml-language
azure-cron.yml         @digital-asset/daml-language
sdk/release/           @digital-asset/daml-language
sdk/release.sh         @digital-asset/daml-language

# Blackduck
/sdk/NOTICES

# Compatibility test
/sdk/compatibility/     @digital-asset/daml-language @digital-asset/kv-participant

# Language
/sdk/daml-assistant/    @digital-asset/daml-language
/sdk/daml-script/       
/sdk/compiler/          @digital-asset/daml-language
/sdk/libs-haskell/      @digital-asset/daml-language
/sdk/ghc-lib/           @digital-asset/daml-language
/sdk/test-common/canton/ 

# Runtime
/sdk/daml-lf/ 


# Ecosystems
/sdk/language-support/hs/       @digital-asset/daml-language
/sdk/language-support/java/     
/sdk/language-support/scala/    
/sdk/language-support/ts/       

# Application Runtime
/sdk/ledger-service/
/sdk/runtime-components/ 

# Misc
/sdk/docs/ 
/sdk/libs-scala/

# Observability related libraries
/sdk/observability
