Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @digital-asset/daml-release-owners, @dylant-da, @paulbrauner-da, @remyhaemmerle-da, @digital-asset/daml-language, @digital-asset/kv-participant

Use `fromInterface`in `_exerciseInterfaceGuard` (2.dev only)
  sdk/compiler/damlc/daml-stdlib-src/DA/Internal/Interface.daml
Owners: @digital-asset/daml-language

main Snapshot Create a snapshot for [main](https://github.com/digital-asset/daml/commits/main/) at commit e7c30885fbc4f5b786276eb31a88a4bc3dcb406a
  sdk/LATEST
Owners: @digital-asset/daml-release-owners

main Snapshot (#22071)
  sdk/LATEST
Owners: @digital-asset/daml-release-owners

Update platform-independence.dar-hash
  sdk/compiler/damlc/tests/platform-independence.dar-hash
Owners: @digital-asset/daml-language

Disallow decoding `UNSAFE_FROM_INTERFACE`
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV2.scala
  sdk/daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV2Spec.scala
  sdk/daml-lf/encoder/src/test/lf/Interface_extended_2.dev_.lf
  sdk/daml-lf/encoder/src/test/lf/Interface_unsafe_from_interface_2.1_.lf
  sdk/daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/testing/archive/DamlLfEncoderTest.scala
  sdk/daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/testing/archive/EncodeSpec.scala
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
Owners: none

DependencyVersionSpec
  sdk/daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/DependencyVersionSpec.scala
Owners: none

Update UNRELEASED.md
  sdk/UNRELEASED.md
Owners: none

EngineInfoTest
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineInfoTest.scala
Owners: none

Update ghc to latest commit on main
  sdk/bazel_tools/ghc-lib/version.bzl
Owners: none

Roger/,some tests to lf2.2 (#22065)
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  sdk/daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/testing/archive/EncodeSpec.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineInfoTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/preprocessing/ValueTranslatorSpec.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ValueTranslatorSpec.scala
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
  sdk/daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/DependencyVersionSpec.scala
Owners: @digital-asset/daml-language

fix
  sdk/canton/community/ledger/ledger-common/src/main/scala/com/digitalasset/canton/ledger/error/PackageServiceErrors.scala
Owners: none

fix
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ledgerinteraction/grpcLedgerClient/AdminLedgerClient.scala
Owners: none

Reject trailing nones for v11 and v12 contracts in value import (#22064)
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/HashCreateNodeSpec.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/LargeTransactionTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/UpgradesMatrixUnit.scala
  sdk/daml-lf/ide-ledger/src/main/scala/com/digitalasset/daml/lf/script/IdeLedgerRunner.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltinFun.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ValueTranslator.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/EvaluationOrderTest.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SpeedyTestLib.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/UpgradeTest.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ValueTranslatorSpec.scala
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/FatContractInstance.scala
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/GlobalKey.scala
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/Value.scala
Owners: none

add tests
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/UpgradeTest.scala
Owners: none

fix UpgradeTest
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/UpgradeTest.scala
Owners: none

address review comments
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Enricher.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EnricherSpec.scala
Owners: none

add tests
  sdk/daml-lf/engine/BUILD.bazel
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Enricher.scala
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Result.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EnricherSpec.scala
Owners: none

add enrichContractWithPackages method to the enricher
  sdk/daml-lf/engine/BUILD.bazel
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Enricher.scala
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Result.scala
Owners: none

remove test meant for other branch
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/UpgradeTest.scala
Owners: none

Add test for wrong package name.
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/UpgradeTest.scala
Owners: none

add enrichContractWithPackages method to the enricher (#22066)
  sdk/daml-lf/engine/BUILD.bazel
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Enricher.scala
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Result.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EnricherSpec.scala
Owners: none

make the test pass
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltinFun.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/UpgradeTest.scala
Owners: none

extend ValidationFailed error with srd and dst pkg names
  sdk/canton/community/ledger/ledger-common/src/main/scala/com/digitalasset/canton/ledger/error/groups/CommandExecutionErrors.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltinFun.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/UpgradeTest.scala
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/interpretation/Error.scala
  sdk/daml-script/daml/Daml/Script/Internal/Questions/Submit/Error.daml
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ledgerinteraction/GrpcErrorParser.scala
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ledgerinteraction/IdeLedgerClient.scala
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ledgerinteraction/SubmitError.scala
Owners: none

sync docs
  sdk/docs/sharable/hoogle/daml-script-hoogle.txt
  sdk/docs/sharable/sdk/reference/daml-script/api/Daml-Script.rst
Owners: none

fix daml-script tests
  sdk/daml-script/test/daml/upgrades/dev/ContractKeys.daml
  sdk/daml-script/test/daml/upgrades/dev/MetadataChanged.daml
  sdk/daml-script/test/daml/upgrades/stable/MetadataChanged.daml
  sdk/daml-script/test/daml/upgrades/stable/SignatoryObserverChanges.daml
Owners: none

fix swapped fields in pretty-print and overly specified tests
  sdk/canton/community/ledger/ledger-common/src/main/scala/com/digitalasset/canton/ledger/error/groups/CommandExecutionErrors.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  sdk/daml-script/test/daml/upgrades/dev/ContractKeys.daml
  sdk/daml-script/test/daml/upgrades/dev/MetadataChanged.daml
  sdk/daml-script/test/daml/upgrades/stable/MetadataChanged.daml
  sdk/daml-script/test/daml/upgrades/stable/SignatoryObserverChanges.daml
Owners: none

DamlLfEncoderTest LanguageVersionSpec DamlScriptUtilityPackage
  sdk/daml-lf/encoder/src/test/lf/Any_2.2_.lf
  sdk/daml-lf/encoder/src/test/lf/Builtin_2.2_.lf
  sdk/daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/testing/archive/DamlLfEncoderTest.scala
  sdk/daml-lf/language/daml-lf.bzl
  sdk/daml-lf/language/src/test/scala/com/digitalasset/daml/lf/language/LanguageVersionSpec.scala
  sdk/daml-script/test/BUILD.bazel
  sdk/daml-script/test/src/main/scala/com/digitalasset/daml/lf/engine/script/test/DamlScriptUtilityPackage.scala
Owners: none

Add 2.2 duplicate of new lf test
  sdk/daml-lf/encoder/src/test/lf/Interface_unsafe_from_interface_2.2_.lf
Owners: none

rm unsafe_from_interface since removed from 2.2
  sdk/daml-lf/encoder/src/test/lf/Interface_unsafe_from_interface_2.2_.lf
  sdk/daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/testing/archive/DamlLfEncoderTest.scala
Owners: none

Roger/more lf2.2 tests (#22072)
  sdk/daml-lf/encoder/src/test/lf/Any_2.2_.lf
  sdk/daml-lf/encoder/src/test/lf/Builtin_2.2_.lf
  sdk/daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/testing/archive/DamlLfEncoderTest.scala
  sdk/daml-lf/language/daml-lf.bzl
  sdk/daml-lf/language/src/test/scala/com/digitalasset/daml/lf/language/LanguageVersionSpec.scala
  sdk/daml-script/test/BUILD.bazel
  sdk/daml-script/test/src/main/scala/com/digitalasset/daml/lf/engine/script/test/DamlScriptUtilityPackage.scala
Owners: none

Set default to 2.2
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  sdk/compiler/damlc/tests/platform-independence.dar-hash
  sdk/daml-lf/archive/BUILD.bazel
  sdk/daml-lf/language/daml-lf.bzl
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageMajorVersion.scala
  sdk/rules_daml/daml.bzl
Owners: @digital-asset/daml-language

Detect inconsistent package names in fat contract instances (#22073)
  sdk/canton/community/ledger/ledger-common/src/main/scala/com/digitalasset/canton/ledger/error/groups/CommandExecutionErrors.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltinFun.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/UpgradeTest.scala
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/interpretation/Error.scala
  sdk/daml-script/daml/Daml/Script/Internal/Questions/Submit/Error.daml
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ledgerinteraction/GrpcErrorParser.scala
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ledgerinteraction/IdeLedgerClient.scala
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ledgerinteraction/SubmitError.scala
  sdk/daml-script/test/daml/upgrades/dev/ContractKeys.daml
  sdk/daml-script/test/daml/upgrades/dev/MetadataChanged.daml
  sdk/daml-script/test/daml/upgrades/stable/MetadataChanged.daml
  sdk/daml-script/test/daml/upgrades/stable/SignatoryObserverChanges.daml
  sdk/docs/sharable/hoogle/daml-script-hoogle.txt
  sdk/docs/sharable/sdk/reference/daml-script/api/Daml-Script.rst
Owners: none

main Snapshot Create a snapshot for [main](https://github.com/digital-asset/daml/commits/main/) at commit 73a71be32271c1bd457d6681d3c97b52bd502a29
  sdk/LATEST
Owners: @digital-asset/daml-release-owners

promote dev upgrade errors to non-dev ones (#22046)
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/platform/apiserver/services/RejectionGenerators.scala
  sdk/canton/community/ledger/ledger-common/src/main/scala/com/digitalasset/canton/ledger/error/groups/CommandExecutionErrors.scala
Owners: none

chore: fixed dead links (#21483)
  sdk/BAZEL-haskell.md
  sdk/canton/community/app/src/pack/examples/08-interactive-submission/README.md
  sdk/language-support/ts/codegen/README.md
Owners: none

promote dev upgrade errors to non-dev ones (#22046)
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/platform/apiserver/services/RejectionGenerators.scala
  sdk/canton/community/ledger/ledger-common/src/main/scala/com/digitalasset/canton/ledger/error/groups/CommandExecutionErrors.scala
Owners: none

SG19-5: adapt validatedar to imports (#21918)
  sdk/canton/community/ledger/ledger-common/src/main/scala/com/digitalasset/canton/ledger/error/PackageServiceErrors.scala
Owners: none

fix
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ledgerinteraction/grpcLedgerClient/AdminLedgerClient.scala
Owners: none

Fixed decoder by changing place of side-effect
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV2.scala
Owners: none

update 'Getting started' public docs for 3.4
  sdk/docs/manually-written/sdk/tutorials/smart-contracts/archive.rst
  sdk/docs/manually-written/sdk/tutorials/smart-contracts/choices.rst
  sdk/docs/manually-written/sdk/tutorials/smart-contracts/compose.rst
  sdk/docs/manually-written/sdk/tutorials/smart-contracts/constraints.rst
  sdk/docs/manually-written/sdk/tutorials/smart-contracts/contracts.rst
  sdk/docs/manually-written/sdk/tutorials/smart-contracts/daml-scripts.rst
  sdk/docs/manually-written/sdk/tutorials/smart-contracts/data.rst
  sdk/docs/manually-written/sdk/tutorials/smart-contracts/dependencies.rst
  sdk/docs/manually-written/sdk/tutorials/smart-contracts/exceptions.rst
  sdk/docs/manually-written/sdk/tutorials/smart-contracts/parties.rst
  sdk/docs/manually-written/sdk/tutorials/smart-contracts/tests.rst
Owners: none

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

sdk/bazel-java-deps.bzl @digital-asset/daml-release-owners

CODEOWNERS   @dylant-da @paulbrauner-da @remyhaemmerle-da 
/sdk/LATEST @digital-asset/daml-release-owners

# Build / CI / environment
/ci/                   @digital-asset/daml-language
/sdk/dev-env/          @digital-asset/daml-language
/sdk/nix/              @digital-asset/daml-language
azure-pipelines.yml    @digital-asset/daml-language
azure-cron.yml         @digital-asset/daml-language
sdk/release/           @digital-asset/daml-language
sdk/release.sh         @digital-asset/daml-language

# Blackduck
/sdk/NOTICES

# Compatibility test
/sdk/compatibility/     @digital-asset/daml-language @digital-asset/kv-participant

# Language
/sdk/daml-assistant/    @digital-asset/daml-language
/sdk/daml-script/       
/sdk/compiler/          @digital-asset/daml-language
/sdk/libs-haskell/      @digital-asset/daml-language
/sdk/ghc-lib/           @digital-asset/daml-language
/sdk/test-common/canton/ 

# Runtime
/sdk/daml-lf/ 


# Ecosystems
/sdk/language-support/hs/       @digital-asset/daml-language
/sdk/language-support/java/     
/sdk/language-support/scala/    
/sdk/language-support/ts/       

# Application Runtime
/sdk/ledger-service/
/sdk/runtime-components/ 

# Misc
/sdk/docs/ 
/sdk/libs-scala/

# Observability related libraries
/sdk/observability
