Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @digital-asset/daml-release-owners, @dylant-da, @paulbrauner-da, @remyhaemmerle-da, @digital-asset/daml-language, @digital-asset/kv-participant

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

sdk/bazel-java-deps.bzl @digital-asset/daml-release-owners

CODEOWNERS   @dylant-da @paulbrauner-da @remyhaemmerle-da 
/sdk/LATEST @digital-asset/daml-release-owners

# Build / CI / environment
/ci/                   @digital-asset/daml-language
/sdk/dev-env/          @digital-asset/daml-language
/sdk/nix/              @digital-asset/daml-language
azure-pipelines.yml    @digital-asset/daml-language
azure-cron.yml         @digital-asset/daml-language
sdk/release/           @digital-asset/daml-language
sdk/release.sh         @digital-asset/daml-language

# Blackduck
/sdk/NOTICES

# Compatibility test
/sdk/compatibility/     @digital-asset/daml-language @digital-asset/kv-participant

# Language
/sdk/daml-assistant/    @digital-asset/daml-language
/sdk/daml-script/       
/sdk/compiler/          @digital-asset/daml-language
/sdk/libs-haskell/      @digital-asset/daml-language
/sdk/ghc-lib/           @digital-asset/daml-language
/sdk/test-common/canton/ 

# Runtime
/sdk/daml-lf/ 


# Ecosystems
/sdk/language-support/hs/       @digital-asset/daml-language
/sdk/language-support/java/     
/sdk/language-support/scala/    
/sdk/language-support/ts/       

# Application Runtime
/sdk/ledger-service/
/sdk/runtime-components/ 

# Misc
/sdk/docs/ 
/sdk/libs-scala/

# Observability related libraries
/sdk/observability

[CI] Log errors when Maven upload fails (#21794)
  sdk/hie.yaml
  sdk/release/src/Upload.hs
Owners: @digital-asset/daml-language

main Snapshot Create a snapshot for [main](https://github.com/digital-asset/daml/commits/main/) at commit 75fdf1d5e5f9a899c12b4fcf22fa4ff86cd541f2
  sdk/LATEST
Owners: @digital-asset/daml-release-owners

main Snapshot (#21797)
  sdk/LATEST
Owners: @digital-asset/daml-release-owners

Disable InternedTypes.daml for lf > 2.1
  sdk/compiler/damlc/tests/daml-test-files/InternedTypes.daml
Owners: @digital-asset/daml-language

main adhoc Snapshot
  sdk/LATEST
Owners: @digital-asset/daml-release-owners

main adhoc Snapshot (#21798)
  sdk/LATEST
Owners: @digital-asset/daml-release-owners

Wire in steo counts and add in a simple test
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
Owners: none

Make TS codegen independent of @daml/ledger
  sdk/language-support/ts/codegen/src/TsCodeGenMain.hs
Owners: none

Apply suggestion from @paulbrauner-da
  sdk/bazel-java-deps.bzl
Owners: @digital-asset/daml-release-owners

rm local flattening (#21658)
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  sdk/compiler/daml-lf-proto-decode/src/DA/Daml/LF/Proto3/DecodeV2.hs
  sdk/compiler/daml-lf-proto-encode/BUILD.bazel
  sdk/compiler/daml-lf-proto-encode/src/DA/Daml/LF/Proto3/EncodeV2.hs
  sdk/compiler/daml-lf-proto-encode/test/DA/Daml/LF/Proto3/EncodeTest.hs
  sdk/compiler/daml-lf-proto-util/src/DA/Daml/LF/Proto3/DerivingData.hs
  sdk/compiler/daml-lf-proto-util/src/DA/Daml/LF/Proto3/Util.hs
  sdk/compiler/daml-lf-proto/BUILD.bazel
  sdk/compiler/damlc/tests/daml-test-files/FunctionalDependencies.daml
  sdk/compiler/damlc/tests/daml-test-files/InternedTypes.daml
  sdk/compiler/damlc/tests/src/query-lf.jq
  sdk/daml-lf/archive/src/main/protobuf/com/digitalasset/daml/lf/archive/daml_lf2.proto
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV2.scala
  sdk/daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV2Spec.scala
  sdk/daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/EncodeV2.scala
Owners: @digital-asset/daml-language

Use NONEwithECDSA as ECDSA is ambiguous
  sdk/compiler/damlc/tests/daml-test-files/CCTPMintTokenWithECDSA.daml
  sdk/libs-scala/crypto/src/main/scala/com/daml/crypto/MessageSignaturePrototype.scala
  sdk/libs-scala/crypto/src/main/scala/com/daml/crypto/MessageSignaturePrototypeUtil.scala
  sdk/libs-scala/crypto/src/test/scala/com/daml/crypto/MessageSignaturePrototypeSpec.scala
Owners: @digital-asset/daml-language

Initial implementation
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Base.hs
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Optics.hs
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Pretty.hs
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Util.hs
  sdk/compiler/daml-lf-proto-decode/src/DA/Daml/LF/Proto3/DecodeV2.hs
  sdk/compiler/daml-lf-proto-encode/src/DA/Daml/LF/Proto3/EncodeV2.hs
  sdk/compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Dar.hs
  sdk/compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
  sdk/compiler/damlc/daml-lf-util/BUILD.bazel
  sdk/compiler/damlc/daml-lf-util/src/DA/Daml/UtilLF.hs
  sdk/compiler/damlc/daml-rule-types/src/Development/IDE/Core/RuleTypes/Daml.hs
  sdk/compiler/damlc/stable-packages/lib/DA/Daml/StablePackages.hs
  sdk/compiler/damlc/tests/BUILD.bazel
  sdk/compiler/damlc/tests/platform-independence.dar-hash
  sdk/compiler/damlc/tests/src/DA/Test/GenerateSimpleDalf.hs
  sdk/daml-lf/archive/src/main/protobuf/com/digitalasset/daml/lf/archive/daml_lf2.proto
Owners: @digital-asset/daml-language

Cabal changes
  sdk/compiler/damlc/daml-lf-util/daml-lf-util.cabal
Owners: @digital-asset/daml-language

@dylant-da comments
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Optics.hs
  sdk/compiler/daml-lf-proto-encode/src/DA/Daml/LF/Proto3/EncodeV2.hs
  sdk/compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
  sdk/compiler/damlc/stable-packages/lib/DA/Daml/StablePackages.hs
  sdk/compiler/damlc/tests/src/DA/Test/GenerateSimpleDalf.hs
Owners: @digital-asset/daml-language

Fix for "Blackduck Scan" -> "Open PR to update NOTICES file"
  ci/blackduck.yml
Owners: @digital-asset/daml-language

Revert a prior change
  sdk/compiler/damlc/tests/daml-test-files/CCTPMintToken.daml
Owners: @digital-asset/daml-language

Removed @daml-react.
  ci/blackduck.yml
  sdk/compatibility/WORKSPACE
  sdk/compatibility/bazel_tools/daml_sdk.bzl
  sdk/compatibility/build-ts-libs.sh
  sdk/compatibility/versions/UpdateVersions.hs
  sdk/daml-assistant/integration-tests/BUILD.bazel
  sdk/docs/BUILD.bazel
  sdk/docs/configs/html/conf.py
  sdk/docs/configs/pdf/conf.py
  sdk/docs/manually-written/sdk/reference/cheat-sheet.rst
  sdk/docs/manually-written/sdk/reference/cheat-sheet/includes/command-line-tools.rst.inc
  sdk/docs/manually-written/sdk/reference/cheat-sheet/includes/javascript.rst.inc
  sdk/docs/sharable/sdk/reference/cheat-sheet.rst
  sdk/docs/sharable/sdk/reference/cheat-sheet/includes/command-line-tools.rst.inc
  sdk/docs/sharable/sdk/reference/cheat-sheet/includes/javascript.rst.inc
  sdk/language-support/ts/codegen/tests/src/DA/Test/Daml2jsUtils.hs
  sdk/language-support/ts/daml-ledger/README.md
  sdk/language-support/ts/daml-ledger/index.ts
  sdk/language-support/ts/daml-react/.eslintrc.json
  sdk/language-support/ts/daml-react/.gitignore
  sdk/language-support/ts/daml-react/BUILD.bazel
  sdk/language-support/ts/daml-react/README.md
  sdk/language-support/ts/daml-react/createLedgerContext.ts
  sdk/language-support/ts/daml-react/defaultLedgerContext.ts
  sdk/language-support/ts/daml-react/index.test.ts
  sdk/language-support/ts/daml-react/index.ts
  sdk/language-support/ts/daml-react/jest.config.js
  sdk/language-support/ts/daml-react/package.json
  sdk/language-support/ts/daml-react/tsconfig.json
  sdk/language-support/ts/daml-types/README.md
  sdk/language-support/ts/package.json
  sdk/release/src/Main.hs
Owners: @digital-asset/daml-language, @digital-asset/kv-participant

replace importValue with translateValue
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
Owners: none

fix UpdateMatrix
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/UpgradesMatrix.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/UpgradesMatrixUnit.scala
  sdk/daml-script/test/src/main/scala/com/digitalasset/daml/lf/engine/script/test/UpgradesMatrixIT.scala
Owners: none

fix speedy/UpgradeTest
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/UpgradeTest.scala
Owners: none

fix daml script upgrade tests
  sdk/daml-script/daml/Daml/Script/Internal/Questions/Submit/Error.daml
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ledgerinteraction/SubmitError.scala
  sdk/daml-script/test/daml/upgrades/dev/DataChanges.daml
  sdk/daml-script/test/daml/upgrades/stable/DataChanges.daml
  sdk/daml-script/test/daml/upgrades/stable/Exceptions.daml
  sdk/daml-script/test/daml/upgrades/stable/Fetch.daml
  sdk/daml-script/test/daml/upgrades/stable/FromInterface.daml
  sdk/daml-script/test/daml/upgrades/stable/VariantChanges.daml
Owners: none

typos, leftover comments
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ValueTranslator.scala
Owners: none

update security evidence
  sdk/security-evidence.md
Owners: none

bump grpc, pekko, opentelemetry (#21744)
  sdk/bazel-java-deps.bzl
  sdk/libs-scala/grpc-test-utils/src/main/scala/com/daml/grpc/test/GrpcServer.scala
  sdk/maven_install_2.13.json
Owners: @digital-asset/daml-release-owners

main ad-hoc Snapshot Create a snapshot for [main](https://github.com/digital-asset/daml/commits/main/) at commit a77a3d96abde9c36c56d42ae4e2b8fec88f7ee35
  sdk/LATEST
Owners: @digital-asset/daml-release-owners

Restore preprocessing.ValueTranslator and its test
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/ValueTranslator.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/preprocessing/ValueTranslatorSpec.scala
Owners: none

dummy PR
  sdk/daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/ImmArray.scala
Owners: none

Update to use new environment variable
  sdk/daml-assistant/daml-helper/src/DA/Daml/Helper/New.hs
  sdk/daml-assistant/daml-project-config/DA/Daml/Project/Consts.hs
Owners: @digital-asset/daml-language

Buildifier
  sdk/daml-assistant/daml-helper/BUILD.bazel
Owners: @digital-asset/daml-language

Use NONEwithECDSA as ECDSA is ambiguous (#21802)
  sdk/compiler/damlc/tests/daml-test-files/CCTPMintToken.daml
  sdk/compiler/damlc/tests/daml-test-files/CCTPMintTokenWithECDSA.daml
  sdk/libs-scala/crypto/src/main/scala/com/daml/crypto/MessageSignaturePrototype.scala
  sdk/libs-scala/crypto/src/main/scala/com/daml/crypto/MessageSignaturePrototypeUtil.scala
  sdk/libs-scala/crypto/src/test/scala/com/daml/crypto/MessageSignaturePrototypeSpec.scala
Owners: @digital-asset/daml-language

main ad-hoc Snapshot (#21804)
  sdk/LATEST
Owners: @digital-asset/daml-release-owners

Pkg imports: Incremental builds
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Base.hs
  sdk/compiler/daml-lf-proto-decode/src/DA/Daml/LF/Proto3/DecodeV2.hs
  sdk/compiler/daml-lf-proto-encode/src/DA/Daml/LF/Proto3/EncodeV2.hs
  sdk/compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
  sdk/compiler/damlc/daml-rule-types/src/Development/IDE/Core/RuleTypes/Daml.hs
  sdk/compiler/script-service/client/src/DA/Daml/LF/ScriptServiceClient/LowLevel.hs
Owners: @digital-asset/daml-language

Restore preprocessing.ValueTranslator and its test (#21807)
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/ValueTranslator.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/preprocessing/ValueTranslatorSpec.scala
Owners: none

Testing fixes to account for SEVal and SDefinition caching effects
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  sdk/security-evidence.md
Owners: none

Address review
  sdk/daml-assistant/daml-helper/src/DA/Daml/Helper/New.hs
  sdk/daml-assistant/daml-helper/src/DA/Daml/Helper/Studio.hs
  sdk/daml-assistant/daml-project-config/DA/Daml/Project/Consts.hs
Owners: @digital-asset/daml-language

simple benchmark base
  sdk/daml-lf/interpreter/BUILD.bazel
  sdk/daml-lf/interpreter/bench/BUILD.bazel
  sdk/daml-lf/interpreter/bench/src/lf/benchs.lf
  sdk/daml-lf/interpreter/bench/src/scala/com/digitalasset/daml/lf/speedy/Bench.scala
  sdk/daml-lf/interpreter/bench/src/scala/com/digitalasset/daml/lf/speedy/SpeedyCompilationBench.scala
  sdk/daml-lf/interpreter/bench/src/scala/com/digitalasset/daml/lf/speedy/StructProjBench.scala
Owners: none

cleanup
  sdk/daml-lf/interpreter/BUILD.bazel
  sdk/daml-lf/interpreter/bench/src/lf/benchs.lf
  sdk/daml-lf/interpreter/src/bench/scala/com/digitalasset/daml/lf/speedy/SpeedyCompilationBench.scala
  sdk/daml-lf/interpreter/src/bench/scala/com/digitalasset/daml/lf/speedy/StructProjBench.scala
Owners: none

fix
  sdk/daml-lf/interpreter/bench/src/scala/com/digitalasset/daml/lf/speedy/Bench.scala
Owners: none

fix
  sdk/daml-lf/interpreter/bench/BUILD.bazel
Owners: none

fmt
  sdk/daml-lf/interpreter/bench/BUILD.bazel
Owners: none
