Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @digital-asset/daml-release-owners, @dylant-da, @paulbrauner-da, @remyhaemmerle-da, @digital-asset/daml-language, @digital-asset/kv-participant

main Snapshot Create a snapshot for [main](https://github.com/digital-asset/daml/commits/main/) at commit 0a56b0425530de84872f8d0714b1c198908591cc
  sdk/LATEST
Owners: @digital-asset/daml-release-owners

main Snapshot (#21902)
  sdk/LATEST
Owners: @digital-asset/daml-release-owners

integration-v22 passing 🥳
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  sdk/daml-lf/language/daml-lf.bzl
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageMajorVersion.scala
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionVersion.scala
Owners: @digital-asset/daml-language

Build //... passing 🥳
  sdk/language-support/java/codegen/codegen.bzl
Owners: none

AllTestsFor2_2.java
  sdk/language-support/java/codegen/src/test/java/com/digitalasset/testing/AllTestsFor2_2.java
Owners: none

Port and adapt HashSpec to the SValue hash.
  sdk/daml-lf/interpreter/BUILD.bazel
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/crypto/SValueHash.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/crypto/SValueHashSpec.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/crypto/expected-stability-contract-id-hashes.txt
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/crypto/expected-stability-values-contract-hashes.txt
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/crypto/expected-stability-values-key-hashes.txt
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/crypto/Hash.scala
Owners: none

EngineInfoTest.scala, AllTests.java
  sdk/daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/testing/archive/DamlLfEncoderTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineInfoTest.scala
Owners: none

Change default lf version
  sdk/daml-lf/language/daml-lf.bzl
Owners: none

Add 2.2 AllTest.java
  sdk/language-support/java/codegen/src/it/java-2.2/com/daml/AllTests.java
Owners: none

Cleanup unused/comments
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Base.hs
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Util.hs
  sdk/compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Dar.hs
  sdk/compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
Owners: @digital-asset/daml-language

enforce strictly ordered genmaps in importValue (#21889)
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ValueTranslator.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SValueTest.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ValueTranslatorSpec.scala
Owners: none

diable CostModelTest on darwin
  sdk/daml-lf/interpreter/BUILD.bazel
Owners: none

update NOTICES file
  sdk/NOTICES
Owners: none

update NOTICES file
  sdk/NOTICES
Owners: none

Start intiatiting CostModel with concreate values (#21881)
  sdk/bazel-java-deps.bzl
  sdk/daml-lf/interpreter/BUILD.bazel
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/CostModel.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltinFun.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/CostModelTest.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/TailCallTest.scala
  sdk/maven_install_2.13.json
Owners: @digital-asset/daml-release-owners

Add CanExecuteAs and CanExecuteAsAnyParty cases to Converter.scala
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Converter.scala
Owners: none

Fix TS codegen to produce interfaces using pkg name rather than pkg id (#21885)
  sdk/UNRELEASED.md
  sdk/language-support/ts/codegen/src/TsCodeGenMain.hs
Owners: none

gRPC update to 1.75.0
  sdk/bazel-java-deps.bzl
  sdk/deprecated_maven_install.json
  sdk/maven_install_2.13.json
Owners: @digital-asset/daml-release-owners

add tests for record, variant and enums names and labels
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/crypto/SValueHash.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/crypto/SValueHashSpec.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/crypto/expected-stability-values-key-hashes.txt
Owners: none

back to bzl build
  ci/report_flakes.py
  sdk/ci/remap-scala-test-short-names.ps1
Owners: @digital-asset/daml-language

Fix UpgradeCheckMain with @adrien-piquerez-da
  sdk/canton/BUILD.bazel
  sdk/daml-lf/validation/BUILD.bazel
  sdk/daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/UpgradeCheckMain.scala
Owners: none

switch on
  ci/report-flakes.yml
Owners: @digital-asset/daml-language

Set opentelemetry 1.12.0
  sdk/bazel-java-deps.bzl
  sdk/maven_install_2.13.json
Owners: @digital-asset/daml-release-owners

Fix UpgradeCheckMain and tests
  sdk/daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/UpgradeCheckMain.scala
  sdk/daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/upgrade/UpgradesCheckSpec.scala
Owners: none

Add 2.2 to test-common
  sdk/test-common/BUILD.bazel
Owners: none

add a test for type tags
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/crypto/SValueHashSpec.scala
Owners: none

formatting
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/crypto/SValueHash.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/crypto/SValueHashSpec.scala
Owners: none

default in ast, building again 🙏
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
Owners: @digital-asset/daml-language

platform-independence.dar-hash
  sdk/compiler/damlc/tests/platform-independence.dar-hash
Owners: @digital-asset/daml-language

..
  sdk/ci/remap-scala-test-short-names.ps1
Owners: none

Fix UpgradesSpec tests
  sdk/daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/upgrade/UpgradesSpecBase.scala
Owners: none

Test infra os upgrade. Don\'t merge!
  ci/build.yml
  ci/prs.yml
Owners: @digital-asset/daml-language

rotate release duty after 2025-09-17
  sdk/release/rotation
Owners: @digital-asset/daml-language

update NOTICES file
  sdk/NOTICES
Owners: none

Pre-processor: Input Size Limits
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/Preprocessor.scala
Owners: none

Account for class/object headers
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/Preprocessor.scala
Owners: none

Change admin workflow bazel targets
  sdk/canton/BUILD.bazel
Owners: none

suggestions by @oliverse-da
  sdk/canton/BUILD.bazel
Owners: none

Provide script 2.2 to shake test
  sdk/compiler/damlc/tests/BUILD.bazel
Owners: @digital-asset/daml-language

Implement sdk installation via DPM
  sdk/compiler/daml-extension/src/sdk_install.ts
  sdk/compiler/damlc/daml-resolution-config/src/DA/Daml/Resolution/Config.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc/Command/MultiIde/SdkInstall.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc/Command/MultiIde/Types.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc/Command/MultiIde/Util.hs
Owners: @digital-asset/daml-language

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

sdk/bazel-java-deps.bzl @digital-asset/daml-release-owners

CODEOWNERS   @dylant-da @paulbrauner-da @remyhaemmerle-da 
/sdk/LATEST @digital-asset/daml-release-owners

# Build / CI / environment
/ci/                   @digital-asset/daml-language
/sdk/dev-env/          @digital-asset/daml-language
/sdk/nix/              @digital-asset/daml-language
azure-pipelines.yml    @digital-asset/daml-language
azure-cron.yml         @digital-asset/daml-language
sdk/release/           @digital-asset/daml-language
sdk/release.sh         @digital-asset/daml-language

# Blackduck
/sdk/NOTICES

# Compatibility test
/sdk/compatibility/     @digital-asset/daml-language @digital-asset/kv-participant

# Language
/sdk/daml-assistant/    @digital-asset/daml-language
/sdk/daml-script/       
/sdk/compiler/          @digital-asset/daml-language
/sdk/libs-haskell/      @digital-asset/daml-language
/sdk/ghc-lib/           @digital-asset/daml-language
/sdk/test-common/canton/ 

# Runtime
/sdk/daml-lf/ 


# Ecosystems
/sdk/language-support/hs/       @digital-asset/daml-language
/sdk/language-support/java/     
/sdk/language-support/scala/    
/sdk/language-support/ts/       

# Application Runtime
/sdk/ledger-service/
/sdk/runtime-components/ 

# Misc
/sdk/docs/ 
/sdk/libs-scala/

# Observability related libraries
/sdk/observability
