Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @hurryabit, @gerolf-da, @cocreature, @bame-da, @garyverhaegen-da, @sofiafaro-da, @aherrmann-da, @S11001001, @remyhaemmerle-da, @rautenrieth-da, @SamirTalwar-DA, @stefanobaghino-da, @dajmaki, @dasormeter, @fabiotudone-da, @miklos-da, @mziolekda, @nickchapman-da, @robin-da, @nemanja-da

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

CODEOWNERS  @hurryabit @gerolf-da @cocreature
LATEST      @hurryabit @gerolf-da @bame-da @cocreature

# Build / CI / environment
/ci/                @garyverhaegen-da
/dev-env/           @garyverhaegen-da
/nix/               @garyverhaegen-da
/infra/             @garyverhaegen-da
azure-pipelines.yml @garyverhaegen-da
azure-cron.yml      @garyverhaegen-da

# Language
/compiler/          @hurryabit @cocreature
/libs-haskell/      @hurryabit @cocreature
/daml-assistant/    @sofiafaro-da @hurryabit @cocreature
/daml-script/       @cocreature @hurryabit @aherrmann-da
/triggers/          @cocreature @hurryabit @aherrmann-da
/ghc-lib/           @cocreature
/compatibility/     @garyverhaegen-da @aherrmann-da @cocreature

# Runtime
/daml-lf/governance.rst @hurryabit @S11001001
/daml-lf/archive/da/    @remyhaemmerle-da @hurryabit
/daml-lf/engine/ @hurryabit @remyhaemmerle-da
/daml-lf/interpreter/ @hurryabit @remyhaemmerle-da
/daml-lf/repl/ @hurryabit @remyhaemmerle-da
/daml-lf/scenario-interpreter/ @hurryabit @remyhaemmerle-da
/daml-lf/spec/value.rst @S11001001 @hurryabit
/daml-lf/spec/transaction.rst @S11001001 @hurryabit
/daml-lf/spec/daml-lf-1.rst @remyhaemmerle-da @hurryabit
/daml-lf/data-scalacheck/  @S11001001
/daml-lf/transaction-test-lib/  @S11001001
/daml-lf/validation/    @remyhaemmerle-da
/daml-lf/transaction/src/main/scala/com/daml/lf/transaction/ @S11001001
/daml-lf/transaction/src/main/scala/com/daml/lf/value/       @S11001001

/ledger-service/    @S11001001 @cocreature

/ledger/      @gerolf-da @rautenrieth-da @SamirTalwar-DA @stefanobaghino-da
/ledger-api/  @gerolf-da @rautenrieth-da @SamirTalwar-DA @stefanobaghino-da

# DAML-on-X
/ledger/participant-state/kvutils/  @dajmaki @dasormeter @fabiotudone-da @gerolf-da @miklos-da @mziolekda @rautenrieth-da @SamirTalwar-DA @stefanobaghino-da

# Ecosystems
/language-support/hs/       @nickchapman-da
/language-support/java/     @cocreature
/language-support/scala/    @S11001001 @cocreature
/language-support/ts/       @hurryabit @robin-da @cocreature @garyverhaegen-da

# Tools
/extractor/         @S11001001
/navigator/         @cocreature

# Misc
/docs/              @bame-da @nemanja-da @hurryabit
/libs-scala/        @stefanobaghino-da @SamirTalwar-DA

Speedy Compiler: factorize and clean code (fixe of #7493) (#7540)
  daml-lf/interpreter/BUILD.bazel
  daml-lf/interpreter/perf/src/main/scala/com/daml/lf/explore/Explore.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Anf.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
Owners: @hurryabit, @remyhaemmerle-da

trigger service auth /auth endpoint (#7545)
  triggers/service/auth/BUILD.bazel
  triggers/service/auth/src/main/scala/com/daml/oauth/middleware/Request.scala
  triggers/service/auth/src/main/scala/com/daml/oauth/middleware/Server.scala
  triggers/service/auth/src/main/scala/com/daml/oauth/server/Request.scala
  triggers/service/auth/src/test/scala/com/daml/oauth/middleware/Test.scala
Owners: @cocreature, @hurryabit, @aherrmann-da

ledger-on-sql: Use the `sc` prefix for `scala.concurrent`.
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/SqlLedgerReaderWriter.scala
Owners: @gerolf-da, @rautenrieth-da, @SamirTalwar-DA, @stefanobaghino-da

move DamlTuple2 to common converter library
  daml-script/converter/src/main/scala/Converter.scala
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Runner.scala
Owners: @cocreature, @hurryabit, @aherrmann-da

ledger-on-sql: Remove an unnecessary import.
  ledger/ledger-on-sql/src/main/scala/com/daml/ledger/on/sql/Database.scala
Owners: @gerolf-da, @rautenrieth-da, @SamirTalwar-DA, @stefanobaghino-da

combine the two Frees, provide from Script
  daml-script/daml/BUILD.bazel
  daml-script/daml/Daml/Script.daml
  triggers/daml/Daml/Trigger/LowLevel.daml
Owners: @cocreature, @hurryabit, @aherrmann-da

remove time argument from integration tests
  docs/source/triggers/index.rst
  docs/source/triggers/template-root/src/CopyTrigger.daml
  triggers/tests/daml/CreateAndExercise.daml
  triggers/tests/daml/ExerciseByKey.daml
  triggers/tests/daml/MaxInboundMessageTest.daml
  triggers/tests/daml/PendingSet.daml
  triggers/tests/daml/Retry.daml
  triggers/tests/daml/TemplateIdFilter.daml
Owners: @bame-da, @nemanja-da, @hurryabit, @cocreature, @aherrmann-da

periodically check signatures
  ci/bash-lib.yml
  ci/cron/daily-compat.yml
Owners: @garyverhaegen-da

add trigger rule simulator to support Assert module
  triggers/daml/Daml/Trigger/Assert.daml
  triggers/daml/Daml/Trigger/LowLevel.daml
Owners: @cocreature, @hurryabit, @aherrmann-da

missed new Free module
  daml-script/daml/Daml/Script/Free.daml
Owners: @cocreature, @hurryabit, @aherrmann-da

remove retract as we ended up using foldFree for that purpose instead
  daml-script/daml/Daml/Script/Free.daml
Owners: @cocreature, @hurryabit, @aherrmann-da

throw ConverterException instead of RuntimeException
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Runner.scala
Owners: @cocreature, @hurryabit, @aherrmann-da

remove Time argument from coin-upgrade-trigger
  docs/source/upgrade/example/coin-upgrade-trigger/daml/UpgradeTrigger.daml
Owners: @bame-da, @nemanja-da, @hurryabit

port trigger service tests
  triggers/service/test-model/ErrorTrigger.daml
  triggers/service/test-model/LowLevelErrorTrigger.daml
  triggers/service/test-model/TestTrigger.daml
Owners: @cocreature, @hurryabit, @aherrmann-da

periodically check signatures (#7543)
  ci/bash-lib.yml
  ci/cron/daily-compat.yml
Owners: @garyverhaegen-da

port trigger scenario test
  triggers/tests/scenarios/Rule.daml
Owners: @cocreature, @hurryabit, @aherrmann-da

put TriggerSetup and TriggerRule into LowLevel.Trigger instead of unboxed Free
  daml-script/converter/src/main/scala/Converter.scala
  triggers/daml/Daml/Trigger.daml
  triggers/daml/Daml/Trigger/LowLevel.daml
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Runner.scala
  triggers/service/test-model/LowLevelErrorTrigger.daml
Owners: @cocreature, @hurryabit, @aherrmann-da

remove Time argument from trigger compatibility test
  compatibility/bazel_tools/daml_trigger/example/src/CopyTrigger.daml
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature

submit commands as soon as each `emitCommands` is sequenced
  triggers/daml/Daml/Trigger.daml
  triggers/daml/Daml/Trigger/Internal.daml
Owners: @cocreature, @hurryabit, @aherrmann-da

filter out compatibility tests for triggers before now
  compatibility/BUILD
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature

remove commented imports, libraries from new shared converter
  daml-script/converter/BUILD.bazel
  daml-script/converter/src/main/scala/Converter.scala
Owners: @cocreature, @hurryabit, @aherrmann-da

make the TriggerF interpreter tail-recursive
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Runner.scala
Owners: @cocreature, @hurryabit, @aherrmann-da

remove unused compatibility trait
  daml-script/converter/src/main/scala/ConverterPackageCompat.scala
Owners: @cocreature, @hurryabit, @aherrmann-da

add back new state logging
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Runner.scala
Owners: @cocreature, @hurryabit, @aherrmann-da

remove refactoring comment
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Runner.scala
Owners: @cocreature, @hurryabit, @aherrmann-da

rewrite some LowLevel initialStates in do
  triggers/tests/daml/ACS.daml
  triggers/tests/daml/CommandId.daml
  triggers/tests/daml/Heartbeat.daml
  triggers/tests/daml/Numeric.daml
  triggers/tests/daml/Time.daml
Owners: @cocreature, @hurryabit, @aherrmann-da

remove line breaks in quotes CHANGELOG_BEGIN CHANGELOG_END
  docs/source/app-dev/app-arch.rst
  docs/source/app-dev/bindings-java/quickstart.rst
  docs/source/app-dev/bindings-ts/index.rst
  docs/source/concepts/ledger-model/ledger-integrity.rst
  docs/source/concepts/ledger-model/ledger-privacy.rst
  docs/source/daml-integration-kit/index.rst
  docs/source/daml-repl/index.rst
  docs/source/daml-script/index.rst
  docs/source/daml/daml-studio.rst
  docs/source/deploy/generic_ledger.rst
  docs/source/json-api/index.rst
  docs/source/tools/ledger-api-test-tool/index.rst
  docs/source/triggers/index.rst
  docs/source/upgrade/automation.rst
  docs/source/upgrade/index.rst
  docs/whitelist.txt
Owners: @bame-da, @nemanja-da, @hurryabit

remove line breaks in quotes CHANGELOG_BEGIN CHANGELOG_END
  docs/source/app-dev/app-arch.rst
  docs/source/app-dev/bindings-java/quickstart.rst
  docs/source/app-dev/bindings-ts/index.rst
  docs/source/concepts/ledger-model/ledger-integrity.rst
  docs/source/concepts/ledger-model/ledger-privacy.rst
  docs/source/daml-integration-kit/index.rst
  docs/source/daml-repl/index.rst
  docs/source/daml-script/index.rst
  docs/source/daml/daml-studio.rst
  docs/source/deploy/generic_ledger.rst
  docs/source/json-api/index.rst
  docs/source/tools/ledger-api-test-tool/index.rst
  docs/source/triggers/index.rst
  docs/source/upgrade/automation.rst
  docs/source/upgrade/index.rst
Owners: @bame-da, @nemanja-da, @hurryabit

fix quotes in Bifunctor.daml
  compiler/damlc/daml-stdlib-src/DA/Bifunctor.daml
Owners: @hurryabit, @cocreature

add check to BUILD.bazel with extended whitelist
  docs/BUILD.bazel
  docs/scripts/whitelist.txt
Owners: @bame-da, @nemanja-da, @hurryabit

refactor: call bash script from BUILD.bazel
  docs/BUILD.bazel
  docs/scripts/check-closing-quotes.sh
  docs/scripts/check-closing-quotes.sh.whitelist
Owners: @bame-da, @nemanja-da, @hurryabit

Revert "use devenv in azure-pipelines.yml"
  azure-pipelines.yml
Owners: @garyverhaegen-da

Revert "add CI job to azure pipeline"
  azure-pipelines.yml
Owners: @garyverhaegen-da

README: avoid line breaks
  docs/README.md
Owners: @bame-da, @nemanja-da, @hurryabit

filter whitelist in output too
  docs/scripts/check-closing-quotes.sh
Owners: @bame-da, @nemanja-da, @hurryabit

Update docs/scripts/check-closing-quotes.sh.whitelist
  docs/scripts/check-closing-quotes.sh.whitelist
Owners: @bame-da, @nemanja-da, @hurryabit

fix Bifunctor.daml quotes
  compiler/damlc/daml-stdlib-src/DA/Bifunctor.daml
  docs/scripts/check-closing-quotes.sh.whitelist
Owners: @hurryabit, @cocreature, @bame-da, @nemanja-da

Update docs/scripts/check-closing-quotes.sh.whitelist
  docs/scripts/check-closing-quotes.sh.whitelist
Owners: @bame-da, @nemanja-da, @hurryabit

use ~ instead of ` for section titles
  docs/scripts/check-closing-quotes.sh.whitelist
  docs/source/concepts/ledger-model/ledger-integrity.rst
Owners: @bame-da, @nemanja-da, @hurryabit

merge rename
  docs/scripts/check-closing-quotes.sh.whitelist
Owners: @bame-da, @nemanja-da, @hurryabit
