Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @gerolf-da, @cocreature, @bame-da, @garyverhaegen-da, @aherrmann-da, @dasormeter, @sofiafaro-da, @stefanobaghino-da, @remyhaemmerle-da, @S11001001, @miklos-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da, @fabiotudone-da, @SamirTalwar-DA, @nickchapman-da, @robin-da, @nemanja-da

expand the InitDdl set to include materialized views
  ledger-service/db-backend/src/main/scala/com/digitalasset/http/dbbackend/Queries.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

replace search index with a materialized view that expands the stakeholders
  ledger-service/db-backend/src/main/scala/com/digitalasset/http/dbbackend/Queries.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

allow materialized views to be created in Oracle testing
  libs-scala/oracle-testing/src/main/scala/testing/oracle/OracleAround.scala
Owners: @stefanobaghino-da, @SamirTalwar-DA

join and query the contract_stakeholders table for party-set membership
  ledger-service/db-backend/src/main/scala/com/digitalasset/http/dbbackend/Queries.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

Release SDK 1.14.0
  LATEST
Owners: @gerolf-da, @bame-da, @cocreature

Remove SqlSequence, cleanup code
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/EventsRange.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/EventsTableFlatEventsRangeQueries.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/SqlSequence.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/TransactionsReader.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/package.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Abstract away ledger interaction
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ScenarioRunner.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ledgerinteraction/IdeLedgerClient.scala
Owners: @cocreature, @aherrmann-da, @stefanobaghino-da

LF: Structure Preprocessing Errors (#10013)
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Error.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/CommandPreprocessor.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/Preprocessor.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/TransactionPreprocessor.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/ValueTranslator.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ContractDiscriminatorFreshnessCheckSpec.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/PreprocessorSpec.scala
Owners: @cocreature

Adds support for special preparedStatement for oracle
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/Field.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/Table.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/oracle/OracleField.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/oracle/OracleSchema.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/oracle/OracleTable.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Release SDK 1.14.0 (#10041)
  LATEST
Owners: @gerolf-da, @bame-da, @cocreature

Remove SqlSequence, cleanup code (#10042)
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/EventsRange.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/EventsTableFlatEventsRangeQueries.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/SqlSequence.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/TransactionsReader.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/package.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Fixup benchmark
  daml-lf/scenario-interpreter/BUILD.bazel
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ScenarioRunner.scala
  daml-lf/scenario-interpreter/src/perf/benches/scala/com/digitalasset/daml/lf/speedy/perf/CollectAuthority.scala
Owners: @cocreature

Fix daml-script
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ledgerinteraction/IdeLedgerClient.scala
Owners: @cocreature, @aherrmann-da, @stefanobaghino-da

Minor change
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/services/TransactionService.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

query_offset -> queryOffset
  ledger-service/http-json/src/itlib/scala/http/AbstractWebsocketServiceIntegrationTest.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/JsonProtocol.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

Document per-query offsets
  docs/source/json-api/index.rst
Owners: @bame-da, @nemanja-da

Fix vsce publishing
  azure-cron.yml
Owners: @garyverhaegen-da

Fix broken package.json config
  package.json
Owners: none

Split scenario & ledger execution (#10039)
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Context.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Anf.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SResult.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/iterable/SExprIterable.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/repl/src/main/scala/com/digitalasset/daml/lf/repl/testing/Main.scala
  daml-lf/scenario-interpreter/BUILD.bazel
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ScenarioRunner.scala
  daml-lf/scenario-interpreter/src/perf/benches/scala/com/digitalasset/daml/lf/speedy/perf/CollectAuthority.scala
  daml-lf/scenario-interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ScenarioRunnerTest.scala
  daml-lf/tests/scenario/stable/mustfails/EXPECTED.ledger
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ledgerinteraction/IdeLedgerClient.scala
Owners: @cocreature, @remyhaemmerle-da, @aherrmann-da, @stefanobaghino-da

Preparation: introduce partyArrayContext for more flexibility
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/TemplatedStorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PostgresStorageBackend.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Extend sandbox-classic unit test suites for H2
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/services/reset/ResetServiceH2DatabaseIT.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Fixing typo, some renames based on review
  ledger/ledger-on-sql/BUILD.bazel
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoBackendH2AppendOnly.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/dao/JdbcLedgerDaoH2AppendOnlySpec.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Preparation: add append-only-from-scratch feature to FlywayMigrations
  ledger/participant-integration-api/src/main/scala/platform/store/FlywayMigrations.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Add support for H2 StorageBackend
  ledger/participant-integration-api/src/main/scala/platform/store/backend/StorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/h2/H2FunctionAliases.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/h2/H2Schema.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/h2/H2StorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/h2/H2Table.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Add squashed Flyway migration for append-only H2
  ledger/participant-integration-api/src/main/resources/db/migration/h2database-appendonly/V1__Append_only_schema.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/h2database-appendonly/V1__Append_only_schema.sql
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Extend conformance test suites for H2
  ledger/ledger-on-sql/BUILD.bazel
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Preparation: pull up initialisation
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/CommonStorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PostgresStorageBackend.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Extend JDBCLedgerDao unit test suites for H2
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoBackendH2DatabaseAppendOnly.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/dao/JdbcLedgerDaoH2DatabaseAppendOnlySpec.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Do not terminate streams when no end-offset given in `ledger-api-bench-tool` [DPP-422] (#10035)
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/services/TransactionService.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

[JSON-API] Add more timing metrics
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da, @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Implemented in-memory buffers prunning in BaseLedger (#9936)
  ledger/participant-integration-api/src/main/scala/platform/index/ReadOnlySqlLedger.scala
  ledger/participant-integration-api/src/main/scala/platform/index/ReadOnlySqlLedgerWithMutableCache.scala
  ledger/participant-integration-api/src/main/scala/platform/index/ReadOnlySqlLedgerWithTranslationCache.scala
  ledger/participant-integration-api/src/main/scala/platform/package.scala
  ledger/participant-integration-api/src/main/scala/platform/store/BaseLedger.scala
  ledger/participant-integration-api/src/main/scala/platform/store/cache/MutableCacheBackedContractStore.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/BaseLedgerSpec.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/sql/SqlLedger.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Add comments to new metrics
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Fix vsce publishing (#10043)
  azure-cron.yml
Owners: @garyverhaegen-da

Fix broken package.json config (#10044)
  package.json
Owners: none

update NOTICES file
  NOTICES
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature, @dasormeter

Allow constraints in any position in data-deps.
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/DataDependencies.hs
  compiler/damlc/tests/src/DA/Test/DataDependencies.hs
Owners: @cocreature

H2 support for append only schema (part2) [DPP-394] (#10030)
  ledger/ledger-on-sql/BUILD.bazel
  ledger/participant-integration-api/src/main/resources/db/migration/h2database-appendonly/V1__Append_only_schema.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/h2database-appendonly/V1__Append_only_schema.sql
  ledger/participant-integration-api/src/main/scala/platform/store/FlywayMigrations.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/StorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/CommonStorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/TemplatedStorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/h2/H2FunctionAliases.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/h2/H2Schema.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/h2/H2StorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/h2/H2Table.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoBackendH2AppendOnly.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/dao/JdbcLedgerDaoH2AppendOnlySpec.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/services/reset/ResetServiceH2DatabaseIT.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Split metrics up more & remove obsolete metric
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da, @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

pass supportedJdbcDriverNames implicitly, and only to what actually needs it (#10036)
  ledger-service/http-json-cli/BUILD.bazel
  ledger-service/http-json-cli/ce/src/main/scala/com/daml/http/Cli.scala
  ledger-service/http-json-cli/ee/src/main/scala/com/daml/http/Cli.scala
  ledger-service/http-json-cli/src/main/scala/com/daml/http/CliBase.scala
  ledger-service/http-json-cli/src/main/scala/com/daml/http/Config.scala
  ledger-service/http-json-cli/src/main/scala/com/daml/http/OptionParser.scala
  ledger-service/http-json/BUILD.bazel
Owners: @S11001001, @cocreature, @stefanobaghino-da

Allow constraints in any position in data-deps. (#10049)
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/DataDependencies.hs
  compiler/damlc/tests/src/DA/Test/DataDependencies.hs
Owners: @cocreature

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

CODEOWNERS   @gerolf-da @cocreature
LATEST       @gerolf-da @bame-da @cocreature

# Build / CI / environment
/ci/                @garyverhaegen-da
/dev-env/           @garyverhaegen-da
/nix/               @garyverhaegen-da
/infra/             @garyverhaegen-da
azure-pipelines.yml @garyverhaegen-da
azure-cron.yml      @garyverhaegen-da

# Blackduck
NOTICES     @garyverhaegen-da @aherrmann-da @cocreature @dasormeter

# Language
/compiler/           @cocreature
/libs-haskell/       @cocreature
/daml-assistant/    @sofiafaro-da  @cocreature
/daml-script/       @cocreature  @aherrmann-da @stefanobaghino-da
/triggers/          @cocreature  @aherrmann-da @stefanobaghino-da
/ghc-lib/           @cocreature
/compatibility/     @garyverhaegen-da @aherrmann-da @cocreature

# Runtime
/daml-lf/ @remyhaemmerle-da
/daml-lf/archive/da/ @cocreature
/daml-lf/data-scalacheck/ @S11001001 @cocreature
/daml-lf/engine/ @cocreature
/daml-lf/governance.rst
/daml-lf/interpreter/ @cocreature
/daml-lf/kv-transaction-support/ @cocreature @gerolf-da @miklos-da
/daml-lf/repl/ @cocreature
/daml-lf/scenario-interpreter/  @cocreature
/daml-lf/spec/daml-lf-1.rst @cocreature
/daml-lf/spec/transaction.rst @cocreature
/daml-lf/spec/value.rst @cocreature
/daml-lf/transaction-test-lib/ @S11001001 @cocreature
/daml-lf/transaction/src/main/scala/com/daml/lf/transaction/ @cocreature
/daml-lf/transaction/src/main/scala/com/daml/lf/value/ @cocreature
/daml-lf/validation/ @cocreature

/ledger-service/    @S11001001 @cocreature @stefanobaghino-da

/ledger/      @gerolf-da @mziolekda @nmarton-da @rautenrieth-da @tudor-da
/ledger-api/  @gerolf-da @mziolekda @nmarton-da @rautenrieth-da @tudor-da

/ledger/participant-state/kvutils/ @fabiotudone-da @gerolf-da @miklos-da @SamirTalwar-DA

/runtime-components/    @stefanobaghino-da @cocreature

# Ecosystems
/language-support/hs/       @nickchapman-da
/language-support/java/     @cocreature @stefanobaghino-da
/language-support/scala/    @S11001001 @cocreature @stefanobaghino-da
/language-support/ts/        @robin-da @cocreature @garyverhaegen-da @stefanobaghino-da

# Tools
/extractor/         @S11001001 @stefanobaghino-da
/navigator/         @cocreature @stefanobaghino-da
/navigator/backend/src/main/scala/com/digitalasset/navigator/json/    @S11001001

# Misc
/docs/              @bame-da @nemanja-da
/libs-scala/        @stefanobaghino-da @SamirTalwar-DA
/libs-scala/contextualized-logging/    @S11001001
/libs-scala/scala-utils/    @S11001001
/libs-scala/scalatest-utils/    @S11001001
