Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @digital-asset/daml-release-owners, @dylant-da, @paulbrauner-da, @remyhaemmerle-da, @digital-asset/daml-language, @digital-asset/kv-participant

removed comment
  sdk/compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
Owners: @digital-asset/daml-language

Add test
  sdk/daml-lf/engine/BUILD.bazel
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineValidatePackagesTest.scala
Owners: none

Removed non-stable daml-prim from list stable pkgs
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Util.hs
  sdk/compiler/damlc/tests/src/DA/Test/PackageImports.hs
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV2.scala
  sdk/daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/EncodeV2.scala
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
Owners: @digital-asset/daml-language

Updates from own use
  sdk/release/RELEASE.md
Owners: @digital-asset/daml-language

rotate release duty after 2025-10-08
  sdk/release/rotation
Owners: @digital-asset/daml-language

Move test to script-test
  sdk/daml-lf/engine/BUILD.bazel
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineValidatePackagesTest.scala
Owners: none

add view test
  sdk/compiler/damlc/tests/daml-test-files/NullCharacter.daml
Owners: @digital-asset/daml-language

main Snapshot (#22104)
  sdk/LATEST
Owners: @digital-asset/daml-release-owners

docs: fix numbered list in Getting strarted guide
  sdk/docs/manually-written/sdk/tutorials/smart-contracts/dependencies.rst
  sdk/docs/sharable/sdk/tutorials/smart-contracts/dependencies.rst
Owners: none

change daml-install link
  sdk/docs/manually-written/sdk/tutorials/smart-contracts/intro.rst
  sdk/docs/sharable/sdk/tutorials/smart-contracts/intro.rst
Owners: none

externalref
  sdk/docs/manually-written/sdk/tutorials/smart-contracts/intro.rst
  sdk/docs/sharable/sdk/tutorials/smart-contracts/intro.rst
Owners: none

some more dpm renames
  sdk/docs/manually-written/sdk/tutorials/smart-contracts/intro.rst
  sdk/docs/manually-written/sdk/tutorials/smart-contracts/tests.rst
  sdk/docs/sharable/sdk/tutorials/smart-contracts/intro.rst
  sdk/docs/sharable/sdk/tutorials/smart-contracts/tests.rst
Owners: none

some more dpm renames (#22100)
  sdk/docs/manually-written/sdk/tutorials/smart-contracts/intro.rst
  sdk/docs/manually-written/sdk/tutorials/smart-contracts/tests.rst
  sdk/docs/sharable/sdk/tutorials/smart-contracts/intro.rst
  sdk/docs/sharable/sdk/tutorials/smart-contracts/tests.rst
Owners: none

reject null character when converting SValue to Value (#22090)
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/platform/apiserver/services/RejectionGenerators.scala
  sdk/canton/community/ledger/ledger-common/src/main/scala/com/digitalasset/canton/ledger/error/groups/CommandExecutionErrors.scala
  sdk/compiler/damlc/tests/daml-test-files/NullChar.daml
  sdk/compiler/damlc/tests/daml-test-files/NullCharacter.daml
  sdk/compiler/script-service/client/src/DA/Daml/LF/PrettyScript.hs
  sdk/compiler/script-service/protos/script_service.proto
  sdk/compiler/script-service/server/src/main/scala/com/digitalasset/daml/lf/script/Conversions.scala
  sdk/daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/Text.scala
  sdk/daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/package.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SValueTest.scala
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/interpretation/Error.scala
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ledgerinteraction/IdeLedgerClient.scala
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ledgerinteraction/SubmitError.scala
Owners: @digital-asset/daml-language

docs: fix numbered list in Getting strarted guide (#22111)
  sdk/docs/manually-written/sdk/tutorials/smart-contracts/dependencies.rst
  sdk/docs/sharable/sdk/tutorials/smart-contracts/dependencies.rst
Owners: none

update docs for dpm
  sdk/docs/manually-written/overview/overview/enterprise.rst
  sdk/docs/manually-written/sdk/reference/cheat-sheet/includes/command-line-tools.rst.inc
  sdk/docs/manually-written/sdk/tutorials/smart-contracts/next-steps.rst
  sdk/docs/sharable/overview/overview/enterprise.rst
  sdk/docs/sharable/sdk/reference/cheat-sheet/includes/command-line-tools.rst.inc
  sdk/docs/sharable/sdk/tutorials/smart-contracts/next-steps.rst
Owners: none

replace daml build with dpm build, add warning for daml assistant
  sdk/docs/manually-written/sdk/component-howtos/development-tooling-authors/how-to-parse-daml-archive-files.rst
  sdk/docs/manually-written/sdk/component-howtos/smart-contracts/assistant.rst
  sdk/docs/manually-written/sdk/component-howtos/smart-contracts/assistant/config-files.rst
  sdk/docs/manually-written/sdk/component-howtos/smart-contracts/assistant/flags.rst
  sdk/docs/manually-written/sdk/component-howtos/smart-contracts/daml-studio.rst
  sdk/docs/manually-written/sdk/component-howtos/smart-contracts/profiler.rst
  sdk/docs/manually-written/sdk/explanations/daml-packages-and-archive-files.rst
  sdk/docs/manually-written/sdk/reference/cheat-sheet/includes/scripts.rst.inc
  sdk/docs/manually-written/sdk/reference/daml/packages.rst
  sdk/docs/manually-written/sdk/sdlc-howtos/smart-contracts/build/how-to-build-dar-files.rst
  sdk/docs/manually-written/sdk/sdlc-howtos/smart-contracts/upgrade/smart-contract-upgrades.rst
  sdk/docs/sharable/sdk/component-howtos/development-tooling-authors/how-to-parse-daml-archive-files.rst
  sdk/docs/sharable/sdk/component-howtos/smart-contracts/assistant.rst
  sdk/docs/sharable/sdk/component-howtos/smart-contracts/assistant/config-files.rst
  sdk/docs/sharable/sdk/component-howtos/smart-contracts/assistant/flags.rst
  sdk/docs/sharable/sdk/component-howtos/smart-contracts/daml-studio.rst
  sdk/docs/sharable/sdk/component-howtos/smart-contracts/profiler.rst
  sdk/docs/sharable/sdk/explanations/daml-packages-and-archive-files.rst
  sdk/docs/sharable/sdk/reference/cheat-sheet/includes/scripts.rst.inc
  sdk/docs/sharable/sdk/reference/daml/packages.rst
  sdk/docs/sharable/sdk/sdlc-howtos/smart-contracts/build/how-to-build-dar-files.rst
  sdk/docs/sharable/sdk/sdlc-howtos/smart-contracts/upgrade/smart-contract-upgrades.rst
Owners: none

main Snapshot Create a snapshot for [main](https://github.com/digital-asset/daml/commits/main/) at commit 93a220d8a0380f34fdd4dee4c2440a195cd58808
  sdk/LATEST
Owners: @digital-asset/daml-release-owners

update daml-studio
  sdk/docs/manually-written/sdk/component-howtos/smart-contracts/daml-studio.rst
  sdk/docs/sharable/sdk/component-howtos/smart-contracts/daml-studio.rst
Owners: none

main Snapshot (#22112)
  sdk/LATEST
Owners: @digital-asset/daml-release-owners

docs: daml assistant deprecation warning
  sdk/docs/manually-written/sdk/component-howtos/smart-contracts/assistant.rst
  sdk/docs/sharable/sdk/component-howtos/smart-contracts/assistant.rst
Owners: none

Further dpm docs changes (#22108)
  sdk/docs/manually-written/overview/overview/enterprise.rst
  sdk/docs/manually-written/sdk/component-howtos/development-tooling-authors/how-to-parse-daml-archive-files.rst
  sdk/docs/manually-written/sdk/component-howtos/smart-contracts/assistant.rst
  sdk/docs/manually-written/sdk/component-howtos/smart-contracts/assistant/config-files.rst
  sdk/docs/manually-written/sdk/component-howtos/smart-contracts/assistant/flags.rst
  sdk/docs/manually-written/sdk/component-howtos/smart-contracts/daml-studio.rst
  sdk/docs/manually-written/sdk/component-howtos/smart-contracts/profiler.rst
  sdk/docs/manually-written/sdk/explanations/daml-packages-and-archive-files.rst
  sdk/docs/manually-written/sdk/reference/cheat-sheet/includes/command-line-tools.rst.inc
  sdk/docs/manually-written/sdk/reference/cheat-sheet/includes/scripts.rst.inc
  sdk/docs/manually-written/sdk/reference/daml/packages.rst
  sdk/docs/manually-written/sdk/sdlc-howtos/smart-contracts/build/how-to-build-dar-files.rst
  sdk/docs/manually-written/sdk/sdlc-howtos/smart-contracts/upgrade/smart-contract-upgrades.rst
  sdk/docs/manually-written/sdk/tutorials/smart-contracts/next-steps.rst
  sdk/docs/sharable/overview/overview/enterprise.rst
  sdk/docs/sharable/sdk/component-howtos/development-tooling-authors/how-to-parse-daml-archive-files.rst
  sdk/docs/sharable/sdk/component-howtos/smart-contracts/assistant.rst
  sdk/docs/sharable/sdk/component-howtos/smart-contracts/assistant/config-files.rst
  sdk/docs/sharable/sdk/component-howtos/smart-contracts/assistant/flags.rst
  sdk/docs/sharable/sdk/component-howtos/smart-contracts/daml-studio.rst
  sdk/docs/sharable/sdk/component-howtos/smart-contracts/profiler.rst
  sdk/docs/sharable/sdk/explanations/daml-packages-and-archive-files.rst
  sdk/docs/sharable/sdk/reference/cheat-sheet/includes/command-line-tools.rst.inc
  sdk/docs/sharable/sdk/reference/cheat-sheet/includes/scripts.rst.inc
  sdk/docs/sharable/sdk/reference/daml/packages.rst
  sdk/docs/sharable/sdk/sdlc-howtos/smart-contracts/build/how-to-build-dar-files.rst
  sdk/docs/sharable/sdk/sdlc-howtos/smart-contracts/upgrade/smart-contract-upgrades.rst
  sdk/docs/sharable/sdk/tutorials/smart-contracts/next-steps.rst
Owners: none

some 3.4 sandbox and canton docs
  sdk/docs/manually-written/sdk/component-howtos/application-development/sandbox.rst
  sdk/docs/sharable/sdk/component-howtos/application-development/sandbox.rst
Owners: none

feedback
  sdk/docs/manually-written/sdk/component-howtos/application-development/dpm-sandbox.rst
  sdk/docs/sharable/sdk/component-howtos/application-development/dpm-sandbox.rst
Owners: none

externalref
  sdk/docs/manually-written/sdk/component-howtos/application-development/dpm-sandbox.rst
  sdk/docs/sharable/sdk/component-howtos/application-development/dpm-sandbox.rst
Owners: none

some 3.4 sandbox and canton docs (#22114)
  sdk/docs/manually-written/sdk/component-howtos/application-development/dpm-sandbox.rst
  sdk/docs/sharable/sdk/component-howtos/application-development/dpm-sandbox.rst
Owners: none

correct anchors on docs
  sdk/docs/manually-written/overview/overview/enterprise.rst
  sdk/docs/manually-written/sdk/component-howtos/smart-contracts/daml-studio.rst
  sdk/docs/sharable/overview/overview/enterprise.rst
  sdk/docs/sharable/sdk/component-howtos/smart-contracts/daml-studio.rst
Owners: none

daml script --> dpm script
  sdk/docs/manually-written/sdk/reference/cheat-sheet/includes/scripts.rst.inc
  sdk/docs/manually-written/sdk/sdlc-howtos/smart-contracts/build/how-to-build-dar-files.rst
  sdk/docs/manually-written/sdk/sdlc-howtos/smart-contracts/upgrade/smart-contract-upgrades.rst
  sdk/docs/sharable/sdk/reference/cheat-sheet/includes/scripts.rst.inc
  sdk/docs/sharable/sdk/sdlc-howtos/smart-contracts/build/how-to-build-dar-files.rst
  sdk/docs/sharable/sdk/sdlc-howtos/smart-contracts/upgrade/smart-contract-upgrades.rst
Owners: none

more dpm docs
  sdk/docs/manually-written/sdk/component-howtos/smart-contracts/assistant.rst
  sdk/docs/manually-written/sdk/component-howtos/smart-contracts/assistant/config-files.rst
  sdk/docs/manually-written/sdk/component-howtos/smart-contracts/assistant/flags.rst
  sdk/docs/manually-written/sdk/reference/cheat-sheet/includes/concepts.rst.inc
  sdk/docs/manually-written/sdk/reference/cheat-sheet/includes/what-is.rst.inc
  sdk/docs/manually-written/sdk/reference/glossary.rst
  sdk/docs/manually-written/sdk/tutorials/smart-contracts/stdlib.rst
  sdk/docs/sharable/sdk/component-howtos/smart-contracts/assistant.rst
  sdk/docs/sharable/sdk/component-howtos/smart-contracts/assistant/config-files.rst
  sdk/docs/sharable/sdk/component-howtos/smart-contracts/assistant/flags.rst
  sdk/docs/sharable/sdk/reference/cheat-sheet/includes/concepts.rst.inc
  sdk/docs/sharable/sdk/reference/cheat-sheet/includes/what-is.rst.inc
  sdk/docs/sharable/sdk/reference/glossary.rst
  sdk/docs/sharable/sdk/tutorials/smart-contracts/stdlib.rst
Owners: none

daml new, daml test
  sdk/docs/manually-written/sdk/component-howtos/smart-contracts/daml-studio.rst
  sdk/docs/manually-written/sdk/reference/cheat-sheet/includes/scripts.rst.inc
  sdk/docs/manually-written/sdk/sdlc-howtos/smart-contracts/build/how-to-build-dar-files.rst
  sdk/docs/manually-written/sdk/sdlc-howtos/smart-contracts/develop/patterns.rst
  sdk/docs/manually-written/sdk/sdlc-howtos/smart-contracts/upgrade/smart-contract-upgrades.rst
  sdk/docs/sharable/sdk/component-howtos/smart-contracts/daml-studio.rst
  sdk/docs/sharable/sdk/reference/cheat-sheet/includes/scripts.rst.inc
  sdk/docs/sharable/sdk/sdlc-howtos/smart-contracts/build/how-to-build-dar-files.rst
  sdk/docs/sharable/sdk/sdlc-howtos/smart-contracts/develop/patterns.rst
  sdk/docs/sharable/sdk/sdlc-howtos/smart-contracts/upgrade/smart-contract-upgrades.rst
Owners: none

update daml codegen java, daml codegen js
  sdk/docs/manually-written/sdk/component-howtos/application-development/daml-codegen-java.rst
  sdk/docs/manually-written/sdk/component-howtos/application-development/daml-codegen-javascript.rst
  sdk/docs/sharable/sdk/component-howtos/application-development/daml-codegen-java.rst
  sdk/docs/sharable/sdk/component-howtos/application-development/daml-codegen-javascript.rst
Owners: none

daml damlc
  sdk/docs/manually-written/sdk/component-howtos/smart-contracts/profiler.rst
  sdk/docs/manually-written/sdk/sdlc-howtos/smart-contracts/upgrade/smart-contract-upgrades.rst
  sdk/docs/sharable/sdk/component-howtos/smart-contracts/profiler.rst
  sdk/docs/sharable/sdk/sdlc-howtos/smart-contracts/upgrade/smart-contract-upgrades.rst
Owners: none

daml sandbox
  sdk/docs/manually-written/sdk/sdlc-howtos/smart-contracts/upgrade/smart-contract-upgrades.rst
  sdk/docs/sharable/sdk/sdlc-howtos/smart-contracts/upgrade/smart-contract-upgrades.rst
Owners: none

dpm sandbox --dar instead of upload-dar
  sdk/docs/manually-written/sdk/component-howtos/application-development/dpm-sandbox.rst
  sdk/docs/sharable/sdk/component-howtos/application-development/dpm-sandbox.rst
Owners: none

update docs links to 3.x docs for damlc
  sdk/compiler/damlc/daml-preprocessor/src/DA/Daml/Preprocessor.hs
  sdk/compiler/damlc/daml-stdlib-src/DA/Fail.daml
  sdk/compiler/damlc/daml-stdlib-src/DA/Internal/Fail/Types.daml
  sdk/compiler/damlc/daml-stdlib-src/DA/Internal/Record.daml
  sdk/compiler/damlc/lib/DA/Cli/Options.hs
Owners: @digital-asset/daml-language

update docs
  sdk/docs/sharable/hoogle/daml-base-hoogle.txt
  sdk/docs/sharable/sdk/reference/daml/stdlib/DA-Fail.rst
  sdk/docs/sharable/sdk/reference/daml/stdlib/DA-Record.rst
Owners: none

more `daml` --> `dpm` docs changes (#22115)
  sdk/docs/manually-written/overview/overview/enterprise.rst
  sdk/docs/manually-written/sdk/component-howtos/application-development/daml-codegen-java.rst
  sdk/docs/manually-written/sdk/component-howtos/application-development/daml-codegen-javascript.rst
  sdk/docs/manually-written/sdk/component-howtos/application-development/dpm-sandbox.rst
  sdk/docs/manually-written/sdk/component-howtos/smart-contracts/assistant.rst
  sdk/docs/manually-written/sdk/component-howtos/smart-contracts/assistant/config-files.rst
  sdk/docs/manually-written/sdk/component-howtos/smart-contracts/assistant/flags.rst
  sdk/docs/manually-written/sdk/component-howtos/smart-contracts/daml-studio.rst
  sdk/docs/manually-written/sdk/component-howtos/smart-contracts/profiler.rst
  sdk/docs/manually-written/sdk/reference/cheat-sheet/includes/concepts.rst.inc
  sdk/docs/manually-written/sdk/reference/cheat-sheet/includes/scripts.rst.inc
  sdk/docs/manually-written/sdk/reference/cheat-sheet/includes/what-is.rst.inc
  sdk/docs/manually-written/sdk/reference/glossary.rst
  sdk/docs/manually-written/sdk/sdlc-howtos/smart-contracts/build/how-to-build-dar-files.rst
  sdk/docs/manually-written/sdk/sdlc-howtos/smart-contracts/develop/patterns.rst
  sdk/docs/manually-written/sdk/sdlc-howtos/smart-contracts/upgrade/smart-contract-upgrades.rst
  sdk/docs/manually-written/sdk/tutorials/smart-contracts/stdlib.rst
  sdk/docs/sharable/overview/overview/enterprise.rst
  sdk/docs/sharable/sdk/component-howtos/application-development/daml-codegen-java.rst
  sdk/docs/sharable/sdk/component-howtos/application-development/daml-codegen-javascript.rst
  sdk/docs/sharable/sdk/component-howtos/application-development/dpm-sandbox.rst
  sdk/docs/sharable/sdk/component-howtos/smart-contracts/assistant.rst
  sdk/docs/sharable/sdk/component-howtos/smart-contracts/assistant/config-files.rst
  sdk/docs/sharable/sdk/component-howtos/smart-contracts/assistant/flags.rst
  sdk/docs/sharable/sdk/component-howtos/smart-contracts/daml-studio.rst
  sdk/docs/sharable/sdk/component-howtos/smart-contracts/profiler.rst
  sdk/docs/sharable/sdk/reference/cheat-sheet/includes/concepts.rst.inc
  sdk/docs/sharable/sdk/reference/cheat-sheet/includes/scripts.rst.inc
  sdk/docs/sharable/sdk/reference/cheat-sheet/includes/what-is.rst.inc
  sdk/docs/sharable/sdk/reference/glossary.rst
  sdk/docs/sharable/sdk/sdlc-howtos/smart-contracts/build/how-to-build-dar-files.rst
  sdk/docs/sharable/sdk/sdlc-howtos/smart-contracts/develop/patterns.rst
  sdk/docs/sharable/sdk/sdlc-howtos/smart-contracts/upgrade/smart-contract-upgrades.rst
  sdk/docs/sharable/sdk/tutorials/smart-contracts/stdlib.rst
Owners: none

Bump NIGHTLY_PREFIX
  sdk/NIGHTLY_PREFIX
Owners: none

Comments by @samual-williams-da
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineValidatePackagesTest.scala
Owners: none

update docs links to 3.x docs for damlc (#22116)
  sdk/compiler/damlc/daml-preprocessor/src/DA/Daml/Preprocessor.hs
  sdk/compiler/damlc/daml-stdlib-src/DA/Fail.daml
  sdk/compiler/damlc/daml-stdlib-src/DA/Internal/Fail/Types.daml
  sdk/compiler/damlc/daml-stdlib-src/DA/Internal/Record.daml
  sdk/compiler/damlc/lib/DA/Cli/Options.hs
  sdk/docs/sharable/hoogle/daml-base-hoogle.txt
  sdk/docs/sharable/sdk/reference/daml/stdlib/DA-Fail.rst
  sdk/docs/sharable/sdk/reference/daml/stdlib/DA-Record.rst
Owners: @digital-asset/daml-language

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

sdk/bazel-java-deps.bzl @digital-asset/daml-release-owners

CODEOWNERS   @dylant-da @paulbrauner-da @remyhaemmerle-da 
/sdk/LATEST @digital-asset/daml-release-owners

# Build / CI / environment
/ci/                   @digital-asset/daml-language
/sdk/dev-env/          @digital-asset/daml-language
/sdk/nix/              @digital-asset/daml-language
azure-pipelines.yml    @digital-asset/daml-language
azure-cron.yml         @digital-asset/daml-language
sdk/release/           @digital-asset/daml-language
sdk/release.sh         @digital-asset/daml-language

# Blackduck
/sdk/NOTICES

# Compatibility test
/sdk/compatibility/     @digital-asset/daml-language @digital-asset/kv-participant

# Language
/sdk/daml-assistant/    @digital-asset/daml-language
/sdk/daml-script/       
/sdk/compiler/          @digital-asset/daml-language
/sdk/libs-haskell/      @digital-asset/daml-language
/sdk/ghc-lib/           @digital-asset/daml-language
/sdk/test-common/canton/ 

# Runtime
/sdk/daml-lf/ 


# Ecosystems
/sdk/language-support/hs/       @digital-asset/daml-language
/sdk/language-support/java/     
/sdk/language-support/scala/    
/sdk/language-support/ts/       

# Application Runtime
/sdk/ledger-service/
/sdk/runtime-components/ 

# Misc
/sdk/docs/ 
/sdk/libs-scala/

# Observability related libraries
/sdk/observability
