Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @gerolf-da, @cocreature, @bame-da, @garyverhaegen-da, @aherrmann-da, @dasormeter, @sofiafaro-da, @stefanobaghino-da, @remyhaemmerle-da, @S11001001, @miklos-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da, @fabiotudone-da, @SamirTalwar-DA, @nickchapman-da, @robin-da, @nemanja-da

`ledger-api-bench-tool` - Active contracts stream, completions stream [DPP-398, DPP-399] (#9857)
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/Cli.scala
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/Config.scala
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/LedgerApiBenchTool.scala
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/metrics/MeteredStreamObserver.scala
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/metrics/MetricsCollector.scala
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/metrics/MetricsManager.scala
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/metrics/MetricsSet.scala
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/metrics/StreamMetrics.scala
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/services/ActiveContractsService.scala
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/services/CommandCompletionService.scala
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/services/TransactionService.scala
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/util/TypedActorSystemResourceOwner.scala
  ledger/ledger-api-bench-tool/src/test/suite/scala/com/daml/ledger/api/benchtool/metrics/MetricsCollectorSpec.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

TxTree: WIP
  bench.sh
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SError.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/NormalizeRollbacks.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/NormalizeRollbacksSpec.scala
  daml-lf/repl/src/main/scala/com/digitalasset/daml/lf/repl/testing/Main.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/Transaction.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TxTree.scala
Owners: @cocreature, @remyhaemmerle-da

update compat versions for 1.14.0-snapshot.20210608.7123.0.3cb8d5c2
  compatibility/versions.bzl
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature

Load the correct logback file for the http json service respecting the deployment situation
  ledger-service/cli-opts/src/main/scala/cliopts/Logging.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Main.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

Move import statement, remove some braces and reformat
  ledger-service/cli-opts/src/main/scala/cliopts/Logging.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

Move system prop dependend logic to cliopts Logging.scala
  ledger-service/cli-opts/src/main/scala/cliopts/Logging.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Main.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

Remove PathKind type in cliopts Logging.scala as it's not necessary anymore
  ledger-service/cli-opts/src/main/scala/cliopts/Logging.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

stop writing partial-transaction info by scenario-service when reporting errors
  compiler/damlc/tests/daml-test-files/TransientFailure.daml
  compiler/damlc/tests/src/DA/Test/ScriptService.hs
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
Owners: @cocreature

remove mention of partial transaction in docs
  docs/source/daml/daml-studio.rst
Owners: @bame-da, @nemanja-da

Load the correct logback file for the http json service respecting the deployment situation (#9938)
  ledger-service/cli-opts/src/main/scala/cliopts/Logging.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Main.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

Log call to submitAndWaitRequest with the command id provided in the log ctx
  ledger-service/http-json/src/main/scala/com/digitalasset/http/CommandService.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

Require the request id to be also in the log ctx
  ledger-service/http-json/src/main/scala/com/digitalasset/http/CommandService.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

A test case for crashing participant in a multi-node env with divulged contracts
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/ContractKeysIT.scala
  ledger/test-common/src/main/daml/model/Test.daml
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Fixed test naming
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/ContractKeysIT.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

deprecations
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsFetch.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/JsValueToApiValueConverter.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/JsonProtocol.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/SprayJson.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

more invariance
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebsocketEndpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/domain.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/query/ValuePredicate.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

cleanup unused
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/EndpointsCompanion.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

more invariance; http-json compiles
  ledger-service/http-json/src/main/scala/com/digitalasset/http/domain.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

final either follies
  ledger-service/http-json-perf/src/main/scala/com/daml/http/perf/Main.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/Generators.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/json/JsonProtocolTest.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/json/ResponseFormatsTest.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/util/FlowUtilTest.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

Backport ContractKeysValidation fixes from #9478
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/keys/ContractKeysValidation.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/keys/KeyConsistencyValidation.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/keys/KeyUniquenessValidation.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/TransactionCommitterSpec.scala
Owners: @fabiotudone-da, @gerolf-da, @miklos-da, @SamirTalwar-DA

oracle varray to json
  bazel-java-deps.bzl
  ledger/participant-integration-api/BUILD.bazel
  ledger/participant-integration-api/src/main/resources/db/migration/oracle/V1__Init.sql
  ledger/participant-integration-api/src/main/scala/platform/store/Conversions.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/JdbcLedgerDao.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/ContractsTableOracle.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/EventsTable.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/EventsTableFlatEvents.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/EventsTableFlatEventsRangeQueries.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/EventsTableOracle.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/SqlFunctions.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoActiveContractsSpec.scala
  ledger/participant-integration-api/src/test/resources/OracleLog.properties
  ledger/participant-integration-api/src/test/suite/scala/platform/store/dao/JdbcLedgerDaoPostgresqlSpec.scala
  maven_install_2.13.json
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Forward port additional contract keys validation tests
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/TransactionCommitterSpec.scala
Owners: @fabiotudone-da, @gerolf-da, @miklos-da, @SamirTalwar-DA

small 2.12 extra incompatibility
  ledger-service/http-json/src/test/scala/com/digitalasset/http/util/FlowUtilTest.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

Proxy ledger API health endpoint in JSON API health endpoint
  ledger-service/http-json/src/failure/scala/http/FailureTests.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HealthService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

naming things is hard
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HealthService.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

Fix Scala 2.12
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HealthService.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

Proxy ledger API health endpoint in JSON API health endpoint (#9945)
  ledger-service/http-json/src/failure/scala/http/FailureTests.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HealthService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

build queries for deletions by key
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/ContractsTable.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/ContractsTableH2.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/ContractsTablePostgres.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/TransactionIndexing.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Rename parameter
  ledger/participant-integration-api/src/main/scala/platform/apiserver/ApiServerConfig.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/StandaloneApiServer.scala
  ledger/participant-integration-api/src/main/scala/platform/configuration/IndexConfiguration.scala
  ledger/participant-integration-api/src/main/scala/platform/index/JdbcIndex.scala
  ledger/participant-integration-api/src/main/scala/platform/index/ReadOnlySqlLedger.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/IndexerConfig.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/JdbcIndexer.scala
  ledger/participant-integration-api/src/main/scala/platform/store/IndexMetadata.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/JdbcLedgerDao.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/TransactionsReader.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoBackend.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoPostCommitValidationSpec.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoTransactionsSpec.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Config.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/LedgerFactory.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/SandboxServer.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/SandboxIndexAndWriteService.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/sql/SqlLedger.scala
  ledger/sandbox-classic/src/test/lib/scala/platform/sandbox/LedgerResource.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/stores/ledger/sql/SqlLedgerSpec.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/stores/ledger/sql/SqlLedgerSpecAppendOnly.scala
  ledger/sandbox-common/src/main/scala/platform/sandbox/cli/CommonCliBase.scala
  ledger/sandbox-common/src/main/scala/platform/sandbox/config/SandboxConfig.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da, @fabiotudone-da, @miklos-da, @SamirTalwar-DA

Change default value
  ledger/participant-integration-api/src/main/scala/platform/configuration/IndexConfiguration.scala
  ledger/participant-integration-api/src/main/scala/platform/store/IndexMetadata.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoTransactionsSpec.scala
  ledger/sandbox-classic/src/test/lib/scala/platform/sandbox/LedgerResource.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/stores/ledger/sql/SqlLedgerSpec.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/stores/ledger/sql/SqlLedgerSpecAppendOnly.scala
  ledger/sandbox-common/src/main/scala/platform/sandbox/config/SandboxConfig.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Show on Strings adds `"`; deal with that
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/InsertOrdMap.scala
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/reader/InterfaceReader.scala
  language-support/scala/codegen-testing/src/main/scala/com/digitalasset/ledger/client/binding/encoding/ShowEncoding.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/Main.scala
  ledger-service/db-backend/src/main/scala/com/digitalasset/http/dbbackend/Queries.scala
Owners: @remyhaemmerle-da, @S11001001, @cocreature, @stefanobaghino-da

Reuse parameter
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/TransactionsReader.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

update NOTICES file
  NOTICES
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature, @dasormeter

fmt
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/keys/ContractKeysValidation.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/keys/KeyUniquenessValidation.scala
Owners: @fabiotudone-da, @gerolf-da, @miklos-da, @SamirTalwar-DA

Forward port additional contract keys validation tests (#9944)
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/TransactionCommitterSpec.scala
Owners: @fabiotudone-da, @gerolf-da, @miklos-da, @SamirTalwar-DA

build queries for nullifications of past key
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/ContractsTable.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/ContractsTableH2.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/ContractsTablePostgres.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/TransactionIndexing.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/TransactionsWriter.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

add test for disclosed contract clashing on contract keys
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/ContractKeysIT.scala
  ledger/test-common/src/main/daml/model/Test.daml
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Backport ContractKeysValidation fixes from #9478 (#9941)
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/keys/ContractKeysValidation.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/keys/KeyConsistencyValidation.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/keys/KeyUniquenessValidation.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/TransactionCommitterSpec.scala
Owners: @fabiotudone-da, @gerolf-da, @miklos-da, @SamirTalwar-DA

Rename cli flag
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Config.scala
  ledger/sandbox-common/src/main/scala/platform/sandbox/cli/CommonCliBase.scala
Owners: @fabiotudone-da, @gerolf-da, @miklos-da, @SamirTalwar-DA, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

LF: Fix specification of exception in builtin
  daml-lf/spec/daml-lf-1.rst
Owners: @cocreature

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

CODEOWNERS   @gerolf-da @cocreature
LATEST       @gerolf-da @bame-da @cocreature

# Build / CI / environment
/ci/                @garyverhaegen-da
/dev-env/           @garyverhaegen-da
/nix/               @garyverhaegen-da
/infra/             @garyverhaegen-da
azure-pipelines.yml @garyverhaegen-da
azure-cron.yml      @garyverhaegen-da

# Blackduck
NOTICES     @garyverhaegen-da @aherrmann-da @cocreature @dasormeter

# Language
/compiler/           @cocreature
/libs-haskell/       @cocreature
/daml-assistant/    @sofiafaro-da  @cocreature
/daml-script/       @cocreature  @aherrmann-da @stefanobaghino-da
/triggers/          @cocreature  @aherrmann-da @stefanobaghino-da
/ghc-lib/           @cocreature
/compatibility/     @garyverhaegen-da @aherrmann-da @cocreature

# Runtime
/daml-lf/ @remyhaemmerle-da
/daml-lf/archive/da/ @cocreature
/daml-lf/data-scalacheck/ @S11001001 @cocreature
/daml-lf/engine/ @cocreature
/daml-lf/governance.rst
/daml-lf/interpreter/ @cocreature
/daml-lf/kv-transaction-support/ @cocreature @gerolf-da @miklos-da
/daml-lf/repl/ @cocreature
/daml-lf/scenario-interpreter/  @cocreature
/daml-lf/spec/daml-lf-1.rst @cocreature
/daml-lf/spec/transaction.rst @cocreature
/daml-lf/spec/value.rst @cocreature
/daml-lf/transaction-test-lib/ @S11001001 @cocreature
/daml-lf/transaction/src/main/scala/com/daml/lf/transaction/ @cocreature
/daml-lf/transaction/src/main/scala/com/daml/lf/value/ @cocreature
/daml-lf/validation/ @cocreature

/ledger-service/    @S11001001 @cocreature @stefanobaghino-da

/ledger/      @gerolf-da @mziolekda @nmarton-da @rautenrieth-da @tudor-da
/ledger-api/  @gerolf-da @mziolekda @nmarton-da @rautenrieth-da @tudor-da

/ledger/participant-state/kvutils/ @fabiotudone-da @gerolf-da @miklos-da @SamirTalwar-DA

/runtime-components/    @stefanobaghino-da @cocreature

# Ecosystems
/language-support/hs/       @nickchapman-da
/language-support/java/     @cocreature @stefanobaghino-da
/language-support/scala/    @S11001001 @cocreature @stefanobaghino-da
/language-support/ts/        @robin-da @cocreature @garyverhaegen-da @stefanobaghino-da

# Tools
/extractor/         @S11001001 @stefanobaghino-da
/navigator/         @cocreature @stefanobaghino-da
/navigator/backend/src/main/scala/com/digitalasset/navigator/json/    @S11001001

# Misc
/docs/              @bame-da @nemanja-da
/libs-scala/        @stefanobaghino-da @SamirTalwar-DA
/libs-scala/contextualized-logging/    @S11001001
/libs-scala/scala-utils/    @S11001001
/libs-scala/scalatest-utils/    @S11001001
