Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @gerolf-da, @cocreature, @bame-da, @garyverhaegen-da, @aherrmann-da, @dasormeter, @sofiafaro-da, @stefanobaghino-da, @remyhaemmerle-da, @S11001001, @miklos-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da, @fabiotudone-da, @SamirTalwar-DA, @nickchapman-da, @robin-da, @nemanja-da

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

CODEOWNERS   @gerolf-da @cocreature
LATEST       @gerolf-da @bame-da @cocreature

# Build / CI / environment
/ci/                @garyverhaegen-da
/dev-env/           @garyverhaegen-da
/nix/               @garyverhaegen-da
/infra/             @garyverhaegen-da
azure-pipelines.yml @garyverhaegen-da
azure-cron.yml      @garyverhaegen-da

# Blackduck
NOTICES     @garyverhaegen-da @aherrmann-da @cocreature @dasormeter

# Language
/compiler/           @cocreature
/libs-haskell/       @cocreature
/daml-assistant/    @sofiafaro-da  @cocreature
/daml-script/       @cocreature  @aherrmann-da @stefanobaghino-da
/triggers/          @cocreature  @aherrmann-da @stefanobaghino-da
/ghc-lib/           @cocreature
/compatibility/     @garyverhaegen-da @aherrmann-da @cocreature

# Runtime
/daml-lf/ @remyhaemmerle-da
/daml-lf/archive/da/ @cocreature
/daml-lf/data-scalacheck/ @S11001001 @cocreature
/daml-lf/engine/ @cocreature
/daml-lf/governance.rst
/daml-lf/interpreter/ @cocreature
/daml-lf/kv-transaction-support/ @cocreature @gerolf-da @miklos-da
/daml-lf/repl/ @cocreature
/daml-lf/scenario-interpreter/  @cocreature
/daml-lf/spec/daml-lf-1.rst @cocreature
/daml-lf/spec/transaction.rst @cocreature
/daml-lf/spec/value.rst @cocreature
/daml-lf/transaction-test-lib/ @S11001001 @cocreature
/daml-lf/transaction/src/main/scala/com/daml/lf/transaction/ @cocreature
/daml-lf/transaction/src/main/scala/com/daml/lf/value/ @cocreature
/daml-lf/validation/ @cocreature

/ledger-service/    @S11001001 @cocreature @stefanobaghino-da

/ledger/      @gerolf-da @mziolekda @nmarton-da @rautenrieth-da @tudor-da
/ledger-api/  @gerolf-da @mziolekda @nmarton-da @rautenrieth-da @tudor-da

/ledger/participant-state/kvutils/ @fabiotudone-da @gerolf-da @miklos-da @SamirTalwar-DA

/runtime-components/    @stefanobaghino-da @cocreature

# Ecosystems
/language-support/hs/       @nickchapman-da
/language-support/java/     @cocreature @stefanobaghino-da
/language-support/scala/    @S11001001 @cocreature @stefanobaghino-da
/language-support/ts/        @robin-da @cocreature @garyverhaegen-da @stefanobaghino-da

# Tools
/extractor/         @S11001001 @stefanobaghino-da
/navigator/         @cocreature @stefanobaghino-da
/navigator/backend/src/main/scala/com/digitalasset/navigator/json/    @S11001001

# Misc
/docs/              @bame-da @nemanja-da
/libs-scala/        @stefanobaghino-da @SamirTalwar-DA
/libs-scala/contextualized-logging/    @S11001001
/libs-scala/scala-utils/    @S11001001
/libs-scala/scalatest-utils/    @S11001001

Bump urllib3 to address dependabot warning (#9879)
  docs/scripts/Pipfile
  docs/scripts/Pipfile.lock
Owners: @bame-da, @nemanja-da

add deduplication period to completions
  ledger-api/grpc-definitions/com/daml/ledger/api/v1/commands.proto
  ledger-api/grpc-definitions/com/daml/ledger/api/v1/completion.proto
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

update compat versions for 1.14.0-snapshot.20210601.7081.0.7d716e6d
  compatibility/versions.bzl
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature

address review comments
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiActiveContractsService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiCommandCompletionService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/StreamMetrics.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/transaction/ApiTransactionService.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

unify SubmissionContext and SubmitterInfo
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/SubmissionContext.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/SubmitterInfo.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/WriteService.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Fix Windows test skipping
  build.ps1
Owners: none

Add warning about using divulged contracts in pruning doc
  docs/source/ops/index.rst
Owners: @bame-da, @nemanja-da

fix LF Adapater & TailCallTest
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/TailCallTest.scala
  ledger/participant-state/kvutils/tools/engine-replay/src/replay/scala/ledger/participant/state/kvutils/tools/engine/replay/Adapter.scala
Owners: @cocreature, @fabiotudone-da, @gerolf-da, @miklos-da, @SamirTalwar-DA

Add LookupError.Defintiom
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Interface.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LookupError.scala
Owners: @remyhaemmerle-da

reformulate LookupError message
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LookupError.scala
Owners: @remyhaemmerle-da

make lookup result more generic
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/ValueTranslator.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SpeedyTest.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Interface.scala
Owners: @cocreature, @remyhaemmerle-da

add TODO comment around handleLookup definitions
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ValueEnricher.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/Preprocessor.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
Owners: @cocreature

fix LookupError name space
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ValueEnricher.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/Preprocessor.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Interface.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LookupError.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/TypingSpec.scala
Owners: @cocreature, @remyhaemmerle-da

comment lookupTypeSyn and lookupDataType
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Interface.scala
Owners: @remyhaemmerle-da

Fix Windows test skipping (#9881)
  build.ps1
Owners: none

Introduce simple metrics to the http-json service
  daml-script/test/BUILD.bazel
  daml-script/test/src/com/digitalasset/daml/lf/engine/script/test/JsonApiIt.scala
  ledger-service/cli-opts/BUILD.bazel
  ledger-service/cli-opts/src/main/scala/cliopts/Metrics.scala
  ledger-service/http-json-cli/BUILD.bazel
  ledger-service/http-json-cli/src/main/scala/com/daml/http/Config.scala
  ledger-service/http-json-cli/src/main/scala/com/daml/http/OptionParser.scala
  ledger-service/http-json-cli/src/main/scala/com/daml/http/StartSettings.scala
  ledger-service/http-json-testing/BUILD.bazel
  ledger-service/http-json-testing/src/main/scala/com/daml/http/HttpServiceTestFixture.scala
  ledger-service/http-json/BUILD.bazel
  ledger-service/http-json/src/main/resources/application.conf
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Main.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebsocketEndpoints.scala
  ledger/sandbox-common/BUILD.bazel
  ledger/sandbox-common/src/main/scala/platform/sandbox/metrics/MetricsReporting.scala
Owners: @cocreature, @aherrmann-da, @stefanobaghino-da, @S11001001, @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

add config changes required for checking deduplication guarantees
  ledger/participant-state/protobuf/com/daml/ledger/participant/state/ledger_configuration.proto
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Metrics for streamed elements (#9873)
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/ApiServices.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiActiveContractsService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiCommandCompletionService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/StreamMetrics.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/transaction/ApiTransactionService.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Release new snapshot
  LATEST
Owners: @gerolf-da, @bame-da, @cocreature

Update docs/source/ops/index.rst
  docs/source/ops/index.rst
Owners: @bame-da, @nemanja-da

Implemented JdbcLedgerDaoTransactionLogUpdatesSpec (#9813)
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoTransactionLogUpdatesSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/dao/JdbcLedgerDaoPostgresqlAppendOnlySpec.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Revert "Try to unflake JSON API failure tests (#9855)"
  ledger-service/http-json/BUILD.bazel
  ledger-service/http-json/src/failure/resources/application.conf
Owners: @S11001001, @cocreature, @stefanobaghino-da

use PackageSignature inside Interface
  compiler/repl-service/server/src/main/scala/com/digitalasset/daml/lf/speedy/ReplServiceMain.scala
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Context.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ConcurrentCompiledPackages.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/CompiledPackages.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Interface.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Converter.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ScriptF.scala
Owners: @cocreature, @remyhaemmerle-da, @aherrmann-da, @stefanobaghino-da

Release new snapshot (#9885)
  LATEST
Owners: @gerolf-da, @bame-da, @cocreature

fix ledger
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/CommandServiceIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/CommandSubmissionCompletionIT.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/SimplePackage.scala
  ledger/participant-state/kvutils/tools/engine-replay/src/benchmark/scala/ledger/participant/state/kvutils/tools/engine/replay/ReplayBenchmark.scala
  ledger/participant-state/kvutils/tools/engine-replay/src/profile/scala/ledger/participant/state/kvutils/tools/engine/replay/ReplayProfile.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da, @fabiotudone-da, @miklos-da, @SamirTalwar-DA

fix for scala 2.12
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
Owners: @remyhaemmerle-da

fix triggers
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/test/AbstractTriggerTest.scala
Owners: @cocreature, @aherrmann-da, @stefanobaghino-da

Introduce metrics in the http-json service
  daml-script/test/BUILD.bazel
  daml-script/test/src/com/digitalasset/daml/lf/engine/script/test/JsonApiIt.scala
  ledger-service/cli-opts/BUILD.bazel
  ledger-service/cli-opts/src/main/scala/cliopts/Metrics.scala
  ledger-service/http-json-cli/BUILD.bazel
  ledger-service/http-json-cli/src/main/scala/com/daml/http/Config.scala
  ledger-service/http-json-cli/src/main/scala/com/daml/http/OptionParser.scala
  ledger-service/http-json-cli/src/main/scala/com/daml/http/StartSettings.scala
  ledger-service/http-json-testing/BUILD.bazel
  ledger-service/http-json-testing/src/main/scala/com/daml/http/HttpServiceTestFixture.scala
  ledger-service/http-json/BUILD.bazel
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Main.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebsocketEndpoints.scala
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
Owners: @cocreature, @aherrmann-da, @stefanobaghino-da, @S11001001, @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Update docs/source/ops/index.rst
  docs/source/ops/index.rst
Owners: @bame-da, @nemanja-da

Fix the formatting on the LF spec.
  daml-lf/spec/daml-lf-1.rst
Owners: @cocreature

Release ledger-api-bench-tool
  release/artifacts.yaml
Owners: none

maybe fix deleted release tags
  azure-pipelines.yml
Owners: @garyverhaegen-da

Release ledger-api-bench-tool (#9890)
  release/artifacts.yaml
Owners: none

Update azure-pipelines.yml
  azure-pipelines.yml
Owners: @garyverhaegen-da

maybe fix deleted release tags (#9891)
  azure-pipelines.yml
Owners: @garyverhaegen-da

Revert "Try to unflake JSON API failure tests (#9855)" (#9887)
  ledger-service/http-json/BUILD.bazel
  ledger-service/http-json/src/failure/resources/application.conf
Owners: @S11001001, @cocreature, @stefanobaghino-da

Include PackageMetadata in LF interface
  daml-lf/interface/BUILD.bazel
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/EnvironmentInterface.scala
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/Interface.scala
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/reader/InterfaceReader.scala
  daml-lf/interface/src/test/scala/com/digitalasset/daml/lf/iface/reader/InterfaceReaderSpec.scala
Owners: @remyhaemmerle-da

Iterating more is less
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/EnvironmentInterface.scala
Owners: @remyhaemmerle-da

fix LF test
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/TypingSpec.scala
Owners: @cocreature

fix triggers tests
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceTest.scala
Owners: @cocreature, @aherrmann-da, @stefanobaghino-da
