Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @gerolf-da, @cocreature, @bame-da, @garyverhaegen-da, @aherrmann-da, @dasormeter, @sofiafaro-da, @stefanobaghino-da, @remyhaemmerle-da, @S11001001, @miklos-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da, @fabiotudone-da, @SamirTalwar-DA, @nickchapman-da, @robin-da, @nemanja-da

Renamed to
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/metrics/MetricsCollector.scala
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/metrics/MetricsManager.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

"never" replaces "should not"
  ledger-api/grpc-definitions/com/daml/ledger/api/v1/event.proto
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

ensure that signatories and observers are disjoint in ledger-api CreatedEvents (#10123)
  ledger-api/grpc-definitions/com/daml/ledger/api/v1/event.proto
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/ActiveContractsServiceIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/TransactionServiceIT.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

10050 append only schema on oracle (#10051)
  ci/build.yml
  ledger/ledger-on-sql/BUILD.bazel
  ledger/ledger-on-sql/src/test/lib/scala/com/daml/ledger/on/sql/MainWithEphemeralOracleUser.scala
  ledger/participant-integration-api/src/main/resources/db/migration/h2database-appendonly/V1__Append_only_schema.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/h2database-appendonly/V1__Append_only_schema.sql
  ledger/participant-integration-api/src/main/resources/db/migration/oracle-appendonly/V1__Append_only_schema.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/oracle-appendonly/V1__Append_only_schema.sql
  ledger/participant-integration-api/src/main/resources/db/migration/oracle/V1__Init.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/oracle/V1__Init.sql
  ledger/participant-integration-api/src/main/resources/db/migration/postgres-appendonly/V104__rename_packages_size_column.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/postgres-appendonly/V104__rename_packages_size_column.sql
  ledger/participant-integration-api/src/main/scala/platform/store/Conversions.scala
  ledger/participant-integration-api/src/main/scala/platform/store/FlywayMigrations.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/DbDto.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/StorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/UpdateToDbDto.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/CommonStorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/Field.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/Schema.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/Table.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/TemplatedStorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/h2/H2StorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/oracle/OracleField.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/oracle/OracleSchema.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/oracle/OracleStorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/oracle/OracleTable.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoBackendOracleAppendOnly.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoTransactionsSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/FlywayMigrationsSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/dao/JdbcLedgerDaoOracleAppendOnlySpec.scala
Owners: @garyverhaegen-da, @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

add oracle and postgres conformance tests
  ledger/sandbox-on-x/BUILD.bazel
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

bazel format
  ledger/sandbox-on-x/BUILD.bazel
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

append only sandbox-on-x conformance test
  ledger/sandbox-on-x/BUILD.bazel
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

increase time factor for append only sandbox-on-x conformance-test
  ledger/sandbox-on-x/BUILD.bazel
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Create a link to party management service in main Ledger API page.
  docs/source/app-dev/ledger-api.rst
Owners: @bame-da, @nemanja-da

[Mutable state cache] TransactionsReader.getContractStateEvents bounded fetch page size
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/ContractStateEventsReader.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/TransactionsReader.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/appendonlydao/events/TransactionsReaderSpec.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Config.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da, @fabiotudone-da, @miklos-da, @SamirTalwar-DA

Resolve contract keys conflicts in disclosed contracts (#9948) (#10034) (#10135)
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/ContractsTable.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/ContractsTableH2.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/ContractsTableOracle.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/ContractsTablePostgres.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/TransactionsWriter.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

kvutils: Make it explicit that we're logging the hashes of archives.
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/PackageCommitter.scala
Owners: @fabiotudone-da, @gerolf-da, @miklos-da, @SamirTalwar-DA

Renamed damlMetrics to exposedMetrics, pt 2
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/LedgerApiBenchTool.scala
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/metrics/MetricsCollector.scala
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/metrics/MetricsManager.scala
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/metrics/StreamMetrics.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Move visibility checks into speedy. (#10136)
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Result.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ContractDiscriminatorFreshnessCheckSpec.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/LargeTransactionTest.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ReinterpretTest.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ValueEnricherSpec.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SResult.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/ScenarioRunner.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/StandaloneApiServer.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/execution/StoreBackedCommandExecutor.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/execution/StoreBackedCommandExecutorSpec.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/PackageCommitter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/TransactionCommitter.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/KVTest.scala
  ledger/participant-state/kvutils/tools/codec-benchmark/src/benchmark/scala/com/daml/lf/speedy/MachineImportValueBenchmark.scala
  ledger/participant-state/kvutils/tools/engine-replay/src/replay/scala/ledger/participant/state/kvutils/tools/engine/replay/Replay.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/SandboxServer.scala
Owners: @cocreature, @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da, @fabiotudone-da, @miklos-da, @SamirTalwar-DA

Increased timeout for TransactionServiceIT:TXInvisibleTransactionTreeByEventId
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/TransactionServiceIT.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Daml assistant capitalization
  compatibility/bazel_tools/daml_sdk.bzl
  compiler/damlc/tests/src/daml-ghc-deterministic.sh
  daml-assistant/exe/DA/Daml/Assistant.hs
  daml-assistant/src/DA/Daml/Assistant/Install/Completion.hs
  daml-assistant/src/DA/Daml/Assistant/Install/Path.hs
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature, @sofiafaro-da

participant-integration-api: Remove the subscription ID.
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/transaction/ApiTransactionService.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

participant-integration-api: Move transaction requests to trace logging.
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/transaction/ApiTransactionService.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

participant-integration-api: Reorder methods in ApiTransactionService.
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/transaction/ApiTransactionService.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Daml assistant capitalization (#10140)
  compatibility/bazel_tools/daml_sdk.bzl
  compiler/damlc/tests/src/daml-ghc-deterministic.sh
  daml-assistant/exe/DA/Daml/Assistant.hs
  daml-assistant/src/DA/Daml/Assistant/Install/Completion.hs
  daml-assistant/src/DA/Daml/Assistant/Install/Path.hs
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature, @sofiafaro-da

participant-integration-api: Add the word "request" to some log lines.
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/transaction/ApiTransactionService.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Divulgence crash tests [DPP-433] (#9942)
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/ContractKeysIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/DivulgenceIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/TransactionServiceIT.scala
  ledger/test-common/src/main/daml/model/Test.daml
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

participant-integration-api: Add a logging prefix for string offsets.
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/logging/package.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/transaction/ApiTransactionService.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

ledger-api-domain: `immutable.Set` -> `Set`.
  ledger/ledger-api-domain/src/main/scala/com/digitalasset/ledger/api/messages/transaction/GetTransactionByIdRequest.scala
  ledger/ledger-api-domain/src/main/scala/com/digitalasset/ledger/api/messages/transaction/GetTransactionTreesRequest.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

participant-integration-api: Log transaction filters on subscription.
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiActiveContractsService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/logging/package.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/transaction/ApiTransactionService.scala
  libs-scala/contextualized-logging/src/main/scala/com/digitalasset/logging/LoggingEntries.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da, @S11001001

participant-integration-api: Log transaction filters.
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiActiveContractsService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/logging/package.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/transaction/ApiTransactionService.scala
  libs-scala/contextualized-logging/src/main/scala/com/digitalasset/logging/LoggingEntries.scala
  libs-scala/contextualized-logging/src/main/scala/com/digitalasset/logging/LoggingValue.scala
  libs-scala/contextualized-logging/src/main/scala/com/digitalasset/logging/LoggingValueSerializer.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da, @S11001001

participant-integration-api: Log the entire transaction request.
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/logging/package.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/transaction/ApiTransactionService.scala
  libs-scala/contextualized-logging/src/main/scala/com/digitalasset/logging/LoggingValue.scala
  libs-scala/contextualized-logging/src/main/scala/com/digitalasset/logging/LoggingValueSerializer.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da, @S11001001

Improved resource management for metrics reporters
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/metrics/MetricRegistryOwner.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

add ES cluster
  infra/es_cluster.tf
Owners: @garyverhaegen-da

add ES cluster (#10144)
  infra/es_cluster.tf
Owners: @garyverhaegen-da

contextualized-logging: Avoid `View` because it's not in Scala 2.12.
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/logging/package.scala
  libs-scala/contextualized-logging/src/main/scala/com/digitalasset/logging/LoggingEntries.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da, @S11001001

contextualized-logging: Add tests for booleans.
  libs-scala/contextualized-logging/src/test/suite/scala/com/digitalasset/logging/JsonStringSerializerSpec.scala
  libs-scala/contextualized-logging/src/test/suite/scala/com/digitalasset/logging/LoggingValueSpec.scala
Owners: @S11001001

LF: Clean Interpretation Error
  compiler/damlc/tests/daml-test-files/ContractIdInContractKey.daml
  compiler/damlc/tests/daml-test-files/WronglyTypedContract.daml
  compiler/repl-service/server/src/main/scala/com/digitalasset/daml/lf/speedy/ReplServiceMain.scala
  compiler/scenario-service/client/src/DA/Daml/LF/PrettyScenario.hs
  compiler/scenario-service/protos/scenario_service.proto
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Error.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Result.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ReinterpretTest.scala
  daml-lf/interpreter/BUILD.bazel
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SError.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/svalue/Equality.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/svalue/Ordering.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  daml-lf/scenario-interpreter/BUILD.bazel
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/ScenarioRunner.scala
  daml-lf/tests/scenario/stable/no-contract-ids-in-keys/EXPECTED.ledger
  daml-lf/transaction/src/main/scala/com/daml/lf/Error.scala
Owners: @cocreature, @remyhaemmerle-da

Release ledger API test tool per LF version
  ledger/ledger-api-test-tool/BUILD.bazel
  release/artifacts.yaml
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Use global logger for metrics report
  ledger/ledger-api-bench-tool/src/main/resources/logback.xml
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/LedgerApiBenchTool.scala
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/metrics/MetricRegistryOwner.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

contextualized-logging: Avoid methods that accept views.
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/logging/package.scala
  libs-scala/contextualized-logging/src/main/scala/com/digitalasset/logging/LoggingEntries.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da, @S11001001

Release ledger API test tool per LF version (#10142)
  ledger/ledger-api-test-tool/BUILD.bazel
  release/artifacts.yaml
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

`ledger-api-bench-tool` - exposed metrics for Prometheus [DPP-471] (#10103)
  ledger/ledger-api-bench-tool/BUILD.bazel
  ledger/ledger-api-bench-tool/src/main/resources/logback.xml
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/Cli.scala
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/Config.scala
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/LedgerApiBenchTool.scala
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/metrics/ExposedMetrics.scala
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/metrics/MetricRegistryOwner.scala
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/metrics/MetricsCollector.scala
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/metrics/MetricsManager.scala
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/metrics/MetricsSet.scala
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/metrics/SizeMetric.scala
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/metrics/StreamMetrics.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

fix
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
Owners: @cocreature

participant-integration-api: One more try at building with Scala 2.12.
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/logging/package.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

CODEOWNERS   @gerolf-da @cocreature
LATEST       @gerolf-da @bame-da @cocreature

# Build / CI / environment
/ci/                @garyverhaegen-da
/dev-env/           @garyverhaegen-da
/nix/               @garyverhaegen-da
/infra/             @garyverhaegen-da
azure-pipelines.yml @garyverhaegen-da
azure-cron.yml      @garyverhaegen-da

# Blackduck
NOTICES     @garyverhaegen-da @aherrmann-da @cocreature @dasormeter

# Language
/compiler/           @cocreature
/libs-haskell/       @cocreature
/daml-assistant/    @sofiafaro-da  @cocreature
/daml-script/       @cocreature  @aherrmann-da @stefanobaghino-da
/triggers/          @cocreature  @aherrmann-da @stefanobaghino-da
/ghc-lib/           @cocreature
/compatibility/     @garyverhaegen-da @aherrmann-da @cocreature

# Runtime
/daml-lf/ @remyhaemmerle-da
/daml-lf/archive/da/ @cocreature
/daml-lf/data-scalacheck/ @S11001001 @cocreature
/daml-lf/engine/ @cocreature
/daml-lf/governance.rst
/daml-lf/interpreter/ @cocreature
/daml-lf/kv-transaction-support/ @cocreature @gerolf-da @miklos-da
/daml-lf/repl/ @cocreature
/daml-lf/scenario-interpreter/  @cocreature
/daml-lf/spec/daml-lf-1.rst @cocreature
/daml-lf/spec/transaction.rst @cocreature
/daml-lf/spec/value.rst @cocreature
/daml-lf/transaction-test-lib/ @S11001001 @cocreature
/daml-lf/transaction/src/main/scala/com/daml/lf/transaction/ @cocreature
/daml-lf/transaction/src/main/scala/com/daml/lf/value/ @cocreature
/daml-lf/validation/ @cocreature

/ledger-service/    @S11001001 @cocreature @stefanobaghino-da

/ledger/      @gerolf-da @mziolekda @nmarton-da @rautenrieth-da @tudor-da
/ledger-api/  @gerolf-da @mziolekda @nmarton-da @rautenrieth-da @tudor-da

/ledger/participant-state/kvutils/ @fabiotudone-da @gerolf-da @miklos-da @SamirTalwar-DA

/runtime-components/    @stefanobaghino-da @cocreature

# Ecosystems
/language-support/hs/       @nickchapman-da
/language-support/java/     @cocreature @stefanobaghino-da
/language-support/scala/    @S11001001 @cocreature @stefanobaghino-da
/language-support/ts/        @robin-da @cocreature @garyverhaegen-da @stefanobaghino-da

# Tools
/extractor/         @S11001001 @stefanobaghino-da
/navigator/         @cocreature @stefanobaghino-da
/navigator/backend/src/main/scala/com/digitalasset/navigator/json/    @S11001001

# Misc
/docs/              @bame-da @nemanja-da
/libs-scala/        @stefanobaghino-da @SamirTalwar-DA
/libs-scala/contextualized-logging/    @S11001001
/libs-scala/scala-utils/    @S11001001
/libs-scala/scalatest-utils/    @S11001001
