Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @gerolf-da, @cocreature, @bame-da, @garyverhaegen-da, @aherrmann-da, @dasormeter, @sofiafaro-da, @stefanobaghino-da, @remyhaemmerle-da, @S11001001, @miklos-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da, @fabiotudone-da, @SamirTalwar-DA, @nickchapman-da, @robin-da, @nemanja-da

fix LF comparison
  daml-lf/language/daml-lf.bzl
Owners: @remyhaemmerle-da

fix java codegen test
  language-support/java/codegen/BUILD.bazel
  language-support/java/codegen/src/it/java-1.13/com/daml/AllTests.java
  language-support/java/codegen/src/it/java-1.13/com/daml/GenMapTest.java
  language-support/java/codegen/src/it/java-1.13/com/daml/NumericTest.java
  language-support/java/codegen/src/test/java/com/digitalasset/testing/AllTestsFor1_13.java
Owners: @cocreature, @stefanobaghino-da

fix
  daml-lf/language/daml-lf.bzl
Owners: @remyhaemmerle-da

Apply suggestions from code review
  daml-lf/tests/BUILD.bazel
Owners: @remyhaemmerle-da

Upgrade canton to 0.25.0-snapshot supporting lf-1.13 and enable/fix tests (#9915)
  deps.bzl
  ledger/ledger-api-test-tool-on-canton/BUILD.bazel
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/CommandServiceIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/CommandSubmissionCompletionIT.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Add missing telemetryContext instances in the ledger-api-client's Ctx CHANGELOG_BEGIN CHANGELOG_END
  language-support/scala/bindings-akka/src/main/scala/com/digitalasset/ledger/client/binding/retrying/CommandRetryFlow.scala
  language-support/scala/bindings-akka/src/main/scala/com/digitalasset/ledger/client/binding/retrying/RetryInfo.scala
  ledger/ledger-api-client/src/main/scala/com/digitalasset/util/Ctx.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da, @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

fix
  language-support/java/codegen/BUILD.bazel
Owners: @cocreature, @stefanobaghino-da

Add missing telemetryContext instances in the ledger-api-client's Ctx (#9916)
  language-support/scala/bindings-akka/src/main/scala/com/digitalasset/ledger/client/binding/retrying/CommandRetryFlow.scala
  language-support/scala/bindings-akka/src/main/scala/com/digitalasset/ledger/client/binding/retrying/RetryInfo.scala
  ledger/ledger-api-client/src/main/scala/com/digitalasset/util/Ctx.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da, @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Address TODOs in JdbcIndexer (#9911)
  ledger/participant-integration-api/src/main/scala/platform/indexer/JdbcIndexer.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Add dependency proto3-suite for Setup.hs
  build-scripts/build_hs_lf_tooling.sh
Owners: none

skip fix_bazel_cache on forks
  ci/build.yml
Owners: @garyverhaegen-da

skip fix_bazel_cache on forks (#9920)
  ci/build.yml
Owners: @garyverhaegen-da

Remove whitespace changes & restore import order where it was unecessarily changed & Interpret input interval for reporting as seconds (cut of milliseconds etc.)
  ledger-service/http-json-cli/src/main/scala/com/daml/http/StartSettings.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
  ledger/metrics/src/main/scala/com/daml/metrics/ExtendedDropwizardExports.scala
  ledger/metrics/src/main/scala/com/daml/metrics/MetricsReporting.scala
  ledger/metrics/src/main/scala/com/daml/metrics/PrometheusReporter.scala
  ledger/participant-state/kvutils/tools/integrity-check/src/main/scala/ledger/participant/state/kvutils/tools/integritycheck/LogAppendingReadServiceFactory.scala
  ledger/participant-state/kvutils/tools/integrity-check/src/main/scala/ledger/participant/state/kvutils/tools/integritycheck/Main.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/SandboxServer.scala
  ledger/sandbox-common/src/main/scala/platform/sandbox/cli/CommonCliBase.scala
  ledger/sandbox/src/main/scala/platform/sandboxnext/Runner.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da, @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da, @fabiotudone-da, @miklos-da, @SamirTalwar-DA

Another round of removing whitespace changes & restoring import order
  ledger-service/http-json-cli/src/main/scala/com/daml/http/StartSettings.scala
  ledger/metrics/src/main/scala/com/daml/metrics/MetricsReporter.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da, @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Add dependency proto3-suite for Setup.hs (#9917)
  build-scripts/build_hs_lf_tooling.sh
Owners: none

LF: clean up the remaining Exception TODOs (#9913)
  daml-lf/language/daml-lf.bzl
  daml-lf/tests/BUILD.bazel
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionVersion.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionSpec.scala
  language-support/java/codegen/BUILD.bazel
  language-support/java/codegen/src/it/java-1.13/com/daml/AllTests.java
  language-support/java/codegen/src/it/java-1.13/com/daml/GenMapTest.java
  language-support/java/codegen/src/it/java-1.13/com/daml/NumericTest.java
  language-support/java/codegen/src/test/java/com/digitalasset/testing/AllTestsFor1_13.java
  ledger/ledger-api-test-tool/util.bzl
  ledger/ledger-on-sql/BUILD.bazel
  ledger/sandbox-classic/BUILD.bazel
Owners: @remyhaemmerle-da, @cocreature, @stefanobaghino-da, @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Don't drop the exception cause in the parseUri function of the MetricsReporter
  ledger/metrics/src/main/scala/com/daml/metrics/MetricsReporter.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Make set equality explicit in submitter info guarantee
  ledger/participant-state/kvutils/src/main/protobuf/daml_kvutils.proto
Owners: @fabiotudone-da, @gerolf-da, @miklos-da, @SamirTalwar-DA

Fix flaky InstrumentedSourceSpec test * Lower expectations in `signal mostly full buffer if slow consumer`
  ledger/metrics/src/test/suite/scala/com/daml/metrics/InstrumentedSourceSpec.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

LF: fix TransactionCoderSpec
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionCoderSpec.scala
Owners: @remyhaemmerle-da

Introduce metrics in the http-json service
  daml-script/test/BUILD.bazel
  daml-script/test/src/com/digitalasset/daml/lf/engine/script/test/JsonApiIt.scala
  ledger-service/cli-opts/BUILD.bazel
  ledger-service/cli-opts/src/main/scala/cliopts/Metrics.scala
  ledger-service/http-json-cli/BUILD.bazel
  ledger-service/http-json-cli/src/main/scala/com/daml/http/Config.scala
  ledger-service/http-json-cli/src/main/scala/com/daml/http/OptionParser.scala
  ledger-service/http-json-cli/src/main/scala/com/daml/http/StartSettings.scala
  ledger-service/http-json-testing/BUILD.bazel
  ledger-service/http-json-testing/src/main/scala/com/daml/http/HttpServiceTestFixture.scala
  ledger-service/http-json/BUILD.bazel
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Main.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebsocketEndpoints.scala
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
Owners: @cocreature, @aherrmann-da, @stefanobaghino-da, @S11001001, @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Use better value name than optMr & optFd in cliopts Metrics.scala
  ledger-service/cli-opts/src/main/scala/cliopts/Metrics.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

Propagate context exception for the parseUri function in MetricsReporter.scala
  ledger/metrics/src/main/scala/com/daml/metrics/MetricsReporter.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Remove unecessary import
  ledger/metrics/src/main/scala/com/daml/metrics/PrometheusReporter.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Fix another rearranged import
  ledger/metrics/src/main/scala/com/daml/metrics/MetricsReporter.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Revert usage of Nanoseconds for conversion from scala duration to java duration to usage of Seconds
  ledger/metrics/src/main/scala/com/daml/metrics/MetricsReporting.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Readd newline in https OptionParser.scala
  ledger-service/http-json-cli/src/main/scala/com/daml/http/OptionParser.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

Fix another whitespace removal
  ledger/sandbox-classic/src/main/scala/platform/sandbox/SandboxServer.scala
  ledger/sandbox-common/src/main/scala/platform/sandbox/cli/CommonCliBase.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Move cliHint value above parseUri function to have a better structure (it's used once before it's defined and once after it's defined, which is weird to me)
  ledger/metrics/src/main/scala/com/daml/metrics/MetricsReporter.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Hide metrics option for http-json
  ledger-service/cli-opts/src/main/scala/cliopts/Metrics.scala
  ledger-service/http-json-cli/src/main/scala/com/daml/http/OptionParser.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

Shorten hideIfRequested function
  ledger-service/cli-opts/src/main/scala/cliopts/Metrics.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

Restore non-ugly formatting for that one section in Endpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

Add missing return type annotation for invalidRead in MetricsReporter
  ledger/metrics/src/main/scala/com/daml/metrics/MetricsReporter.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Move MetricsReporter and it's dependencies into //ledger/metrics
  daml-script/test/src/com/digitalasset/daml/lf/engine/script/test/JsonApiIt.scala
  ledger-service/cli-opts/BUILD.bazel
  ledger-service/cli-opts/src/main/scala/cliopts/Metrics.scala
  ledger-service/http-json-cli/BUILD.bazel
  ledger-service/http-json-cli/src/main/scala/com/daml/http/Config.scala
  ledger-service/http-json-cli/src/main/scala/com/daml/http/StartSettings.scala
  ledger-service/http-json/BUILD.bazel
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Main.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebsocketEndpoints.scala
  ledger/indexer-benchmark/src/main/scala/ledger/indexerbenchmark/Config.scala
  ledger/metrics/BUILD.bazel
  ledger/metrics/src/main/scala/com/daml/metrics/ExtendedDropwizardExports.scala
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
  ledger/metrics/src/main/scala/com/daml/metrics/MetricsReporter.scala
  ledger/metrics/src/main/scala/com/daml/metrics/MetricsReporting.scala
  ledger/metrics/src/main/scala/com/daml/metrics/PrometheusReporter.scala
  ledger/metrics/src/main/scala/io/prometheus/client/dropwizard/DropwizardExportsAccess.scala
  ledger/participant-integration-api/BUILD.bazel
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Config.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/SandboxServer.scala
  ledger/sandbox-common/BUILD.bazel
  ledger/sandbox-common/src/main/scala/platform/sandbox/cli/CommonCliBase.scala
  ledger/sandbox-common/src/main/scala/platform/sandbox/config/SandboxConfig.scala
  ledger/sandbox-common/src/test/lib/scala/platform/sandbox/cli/CommonCliSpecBase.scala
  ledger/sandbox/src/main/scala/platform/sandboxnext/Runner.scala
Owners: @cocreature, @aherrmann-da, @stefanobaghino-da, @S11001001, @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da, @fabiotudone-da, @miklos-da, @SamirTalwar-DA

Update ledger/sandbox-common/src/test/lib/scala/platform/sandbox/cli/CommonCliSpecBase.scala
  ledger/sandbox-common/src/test/lib/scala/platform/sandbox/cli/CommonCliSpecBase.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Readd metrics cli option to sandbox after refactoring
  ledger/sandbox-common/src/main/scala/platform/sandbox/cli/CommonCliBase.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Remove import order changes & whitespace changes
  ledger-service/http-json-cli/src/main/scala/com/daml/http/Config.scala
  ledger-service/http-json-cli/src/main/scala/com/daml/http/StartSettings.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
  ledger/indexer-benchmark/src/main/scala/ledger/indexerbenchmark/Config.scala
  ledger/metrics/src/main/scala/com/daml/metrics/ExtendedDropwizardExports.scala
  ledger/metrics/src/main/scala/com/daml/metrics/MetricsReporting.scala
  ledger/metrics/src/main/scala/com/daml/metrics/PrometheusReporter.scala
  ledger/sandbox-common/src/test/lib/scala/platform/sandbox/cli/CommonCliSpecBase.scala
  ledger/sandbox/src/main/scala/platform/sandboxnext/Runner.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da, @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Fix flaky InstrumentedSourceSpec test (#9921)
  ledger/metrics/src/test/suite/scala/com/daml/metrics/InstrumentedSourceSpec.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

clarify commentary wrt deduplicate_until and deduplication_duration
  ledger/participant-state/kvutils/src/main/protobuf/daml_kvutils.proto
Owners: @fabiotudone-da, @gerolf-da, @miklos-da, @SamirTalwar-DA

Preprocessor for LF Encoder
  daml-lf/encoder/BUILD.bazel
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/DamlLfEncoder.scala
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/Encode.scala
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/EncodeV1.scala
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/Preprocessor.scala
  daml-lf/encoder/src/test/lf/Any.lf
  daml-lf/encoder/src/test/lf/BigNumeric.lf
  daml-lf/encoder/src/test/lf/Bool.lf
  daml-lf/encoder/src/test/lf/Builtin_1.11_1.12_1.13_1.14_1.dev_.lf
  daml-lf/encoder/src/test/lf/Builtin_1.7_1.8_.lf
  daml-lf/encoder/src/test/lf/ComparisonBuiltin.lf
  daml-lf/encoder/src/test/lf/Date.lf
  daml-lf/encoder/src/test/lf/Decimal.lf
  daml-lf/encoder/src/test/lf/Enum.lf
  daml-lf/encoder/src/test/lf/Exception.lf
  daml-lf/encoder/src/test/lf/GenMap.lf
  daml-lf/encoder/src/test/lf/Int64.lf
  daml-lf/encoder/src/test/lf/List.lf
  daml-lf/encoder/src/test/lf/Numeric.lf
  daml-lf/encoder/src/test/lf/Option.lf
  daml-lf/encoder/src/test/lf/Party.lf
  daml-lf/encoder/src/test/lf/Record.lf
  daml-lf/encoder/src/test/lf/Synonym.lf
  daml-lf/encoder/src/test/lf/Template.lf
  daml-lf/encoder/src/test/lf/Template_1.6_1.7_1.8_.lf
  daml-lf/encoder/src/test/lf/Text.lf
  daml-lf/encoder/src/test/lf/TextMap.lf
  daml-lf/encoder/src/test/lf/Timestamp.lf
  daml-lf/encoder/src/test/lf/Unit.lf
  daml-lf/encoder/src/test/lf/Variant.lf
  daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/archive/testing/DamlLfEncoderTest.scala
Owners: @remyhaemmerle-da

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

CODEOWNERS   @gerolf-da @cocreature
LATEST       @gerolf-da @bame-da @cocreature

# Build / CI / environment
/ci/                @garyverhaegen-da
/dev-env/           @garyverhaegen-da
/nix/               @garyverhaegen-da
/infra/             @garyverhaegen-da
azure-pipelines.yml @garyverhaegen-da
azure-cron.yml      @garyverhaegen-da

# Blackduck
NOTICES     @garyverhaegen-da @aherrmann-da @cocreature @dasormeter

# Language
/compiler/           @cocreature
/libs-haskell/       @cocreature
/daml-assistant/    @sofiafaro-da  @cocreature
/daml-script/       @cocreature  @aherrmann-da @stefanobaghino-da
/triggers/          @cocreature  @aherrmann-da @stefanobaghino-da
/ghc-lib/           @cocreature
/compatibility/     @garyverhaegen-da @aherrmann-da @cocreature

# Runtime
/daml-lf/ @remyhaemmerle-da
/daml-lf/archive/da/ @cocreature
/daml-lf/data-scalacheck/ @S11001001 @cocreature
/daml-lf/engine/ @cocreature
/daml-lf/governance.rst
/daml-lf/interpreter/ @cocreature
/daml-lf/kv-transaction-support/ @cocreature @gerolf-da @miklos-da
/daml-lf/repl/ @cocreature
/daml-lf/scenario-interpreter/  @cocreature
/daml-lf/spec/daml-lf-1.rst @cocreature
/daml-lf/spec/transaction.rst @cocreature
/daml-lf/spec/value.rst @cocreature
/daml-lf/transaction-test-lib/ @S11001001 @cocreature
/daml-lf/transaction/src/main/scala/com/daml/lf/transaction/ @cocreature
/daml-lf/transaction/src/main/scala/com/daml/lf/value/ @cocreature
/daml-lf/validation/ @cocreature

/ledger-service/    @S11001001 @cocreature @stefanobaghino-da

/ledger/      @gerolf-da @mziolekda @nmarton-da @rautenrieth-da @tudor-da
/ledger-api/  @gerolf-da @mziolekda @nmarton-da @rautenrieth-da @tudor-da

/ledger/participant-state/kvutils/ @fabiotudone-da @gerolf-da @miklos-da @SamirTalwar-DA

/runtime-components/    @stefanobaghino-da @cocreature

# Ecosystems
/language-support/hs/       @nickchapman-da
/language-support/java/     @cocreature @stefanobaghino-da
/language-support/scala/    @S11001001 @cocreature @stefanobaghino-da
/language-support/ts/        @robin-da @cocreature @garyverhaegen-da @stefanobaghino-da

# Tools
/extractor/         @S11001001 @stefanobaghino-da
/navigator/         @cocreature @stefanobaghino-da
/navigator/backend/src/main/scala/com/digitalasset/navigator/json/    @S11001001

# Misc
/docs/              @bame-da @nemanja-da
/libs-scala/        @stefanobaghino-da @SamirTalwar-DA
/libs-scala/contextualized-logging/    @S11001001
/libs-scala/scala-utils/    @S11001001
/libs-scala/scalatest-utils/    @S11001001
