Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @digital-asset/daml-release-owners, @dylant-da, @paulbrauner-da, @remyhaemmerle-da, @digital-asset/daml-language, @digital-asset/kv-participant

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

sdk/bazel-java-deps.bzl @digital-asset/daml-release-owners

CODEOWNERS   @dylant-da @paulbrauner-da @remyhaemmerle-da 
/sdk/LATEST @digital-asset/daml-release-owners

# Build / CI / environment
/ci/                   @digital-asset/daml-language
/sdk/dev-env/          @digital-asset/daml-language
/sdk/nix/              @digital-asset/daml-language
azure-pipelines.yml    @digital-asset/daml-language
azure-cron.yml         @digital-asset/daml-language
sdk/release/           @digital-asset/daml-language
sdk/release.sh         @digital-asset/daml-language

# Blackduck
/sdk/NOTICES

# Compatibility test
/sdk/compatibility/     @digital-asset/daml-language @digital-asset/kv-participant

# Language
/sdk/daml-assistant/    @digital-asset/daml-language
/sdk/daml-script/       
/sdk/compiler/          @digital-asset/daml-language
/sdk/libs-haskell/      @digital-asset/daml-language
/sdk/ghc-lib/           @digital-asset/daml-language
/sdk/test-common/canton/ 

# Runtime
/sdk/daml-lf/ 


# Ecosystems
/sdk/language-support/hs/       @digital-asset/daml-language
/sdk/language-support/java/     
/sdk/language-support/scala/    
/sdk/language-support/ts/       

# Application Runtime
/sdk/ledger-service/
/sdk/runtime-components/ 

# Misc
/sdk/docs/ 
/sdk/libs-scala/

# Observability related libraries
/sdk/observability

update NOTICES file
  sdk/NOTICES
Owners: none

make curl verbose
  ci/bash-lib.yml
Owners: @digital-asset/daml-language

update NOTICES file
  sdk/NOTICES
Owners: none

Use scalapb options from Canton (#22217)
  sdk/canton/BUILD.bazel
  sdk/daml-assistant/integration-tests/src/DA/Daml/Assistant/IntegrationTests.hs
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ledgerinteraction/grpcLedgerClient/GrpcLedgerClient.scala
  sdk/hie.yaml
  sdk/release/test-protobuf-structure.sh
Owners: @digital-asset/daml-language

display github error
  ci/bash-lib.yml
Owners: @digital-asset/daml-language

update NOTICES file
  sdk/NOTICES
Owners: none

Avoid using proto defaults in daml-script (#22215)
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ledgerinteraction/grpcLedgerClient/GrpcLedgerClient.scala
Owners: none

Use scalapb options from Canton (#22217)
  sdk/canton/BUILD.bazel
  sdk/daml-assistant/integration-tests/src/DA/Daml/Assistant/IntegrationTests.hs
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ledgerinteraction/grpcLedgerClient/GrpcLedgerClient.scala
  sdk/hie.yaml
  sdk/release/test-protobuf-structure.sh
Owners: @digital-asset/daml-language

remove vebose from curl
  ci/bash-lib.yml
Owners: @digital-asset/daml-language

update NOTICES file
  sdk/NOTICES
Owners: none

http1
  ci/bash-lib.yml
Owners: @digital-asset/daml-language

update NOTICES file
  sdk/NOTICES
Owners: none

do not fail in curl
  ci/bash-lib.yml
Owners: @digital-asset/daml-language

update NOTICES file
  sdk/NOTICES
Owners: none

wip
  sdk/.envrc
Owners: none

Initial idea, to test
  sdk/.envrc
  sdk/shell.nix
Owners: none

use main as base branch for testing
  ci/bash-lib.yml
Owners: @digital-asset/daml-language

update NOTICES file
  sdk/NOTICES
Owners: none

Snapshot release for 3.3 and to enable archive schema readers to be backported for PQS
  sdk/LATEST
Owners: @digital-asset/daml-release-owners

Blackduck CI job: Fix the NOTICES file PR creation (#22219)
  ci/blackduck.yml
Owners: @digital-asset/daml-language

update NOTICES file
  sdk/NOTICES
Owners: none

fix run_notices_pr_build
  ci/cron/daily-compat.yml
Owners: @digital-asset/daml-language

[3.4][Backport] Use scalapb options from Canton (#22225)
  sdk/canton/BUILD.bazel
  sdk/daml-assistant/integration-tests/src/DA/Daml/Assistant/IntegrationTests.hs
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ledgerinteraction/grpcLedgerClient/GrpcLedgerClient.scala
  sdk/hie.yaml
  sdk/release/test-protobuf-structure.sh
Owners: @digital-asset/daml-language

minor improvements
  sdk/language-support/java/codegen/BUILD.bazel
  sdk/language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/Main.scala
Owners: none

fix run_notices_pr_build (#22233)
  ci/cron/daily-compat.yml
Owners: @digital-asset/daml-language

update NOTICES file
  sdk/NOTICES
Owners: none

add a toString method for TranslationFailed errors
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/interpretation/Error.scala
Owners: none

Replace existing 3.3.0 line with the new one!
  sdk/LATEST
Owners: @digital-asset/daml-release-owners

add a toString method for TranslationFailed errors
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/interpretation/Error.scala
Owners: none

Update ghcide to fix document symbols Add patch in multi-ide to prevent errors from past IDEs
  sdk/bazel-haskell-deps.bzl
  sdk/compiler/damlc/lib/DA/Cli/Damlc/Command/MultiIde/Handlers.hs
Owners: @digital-asset/daml-language

Remove dpm version env var from VSCode when running studio
  sdk/daml-assistant/daml-helper/src/DA/Daml/Helper/Studio.hs
  sdk/daml-assistant/daml-project-config/DA/Daml/Project/Consts.hs
Owners: @digital-asset/daml-language

Remove dpm version env var from VSCode when running studio
  sdk/daml-assistant/daml-helper/src/DA/Daml/Helper/Studio.hs
  sdk/daml-assistant/daml-project-config/DA/Daml/Project/Consts.hs
Owners: @digital-asset/daml-language

Update GHCIDE rev to main
  sdk/bazel-haskell-deps.bzl
Owners: none

Remove most outdated refs from bazelfiles
  sdk/compiler/damlc/tests/BUILD.bazel
  sdk/daml-lf/api-type-signature/BUILD.bazel
  sdk/daml-lf/encoder/BUILD.bazel
  sdk/daml-lf/engine/BUILD.bazel
  sdk/daml-lf/interpreter/BUILD.bazel
  sdk/daml-lf/language/daml-lf.bzl
  sdk/daml-lf/snapshot/BUILD.bazel
  sdk/daml-lf/stable-packages/BUILD.bazel
  sdk/daml-lf/tests/BUILD.bazel
  sdk/daml-script/daml/BUILD.bazel
  sdk/daml-script/test/BUILD.bazel
  sdk/docs/BUILD.bazel
  sdk/language-support/java/codegen/BUILD.bazel
Owners: @digital-asset/daml-language

Generate haskell Versions from bzl
  sdk/compiler/daml-lf-ast/BUILD.bazel
  sdk/compiler/daml-lf-ast/daml-lf-ast.cabal
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version/VersionType.hs
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version/VersionUtil.hs
  sdk/compiler/daml-lf-ast/test/DA/Daml/LF/Ast/Tests.hs
  sdk/compiler/daml-lf-tools/tests/DA/Daml/LF/Simplifier/Tests.hs
  sdk/compiler/damlc/daml-desugar/test/DA/Daml/Desugar/Tests.hs
  sdk/compiler/damlc/daml-opts/daml-opts-types/DA/Daml/Options/Types.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc/Command/UpgradeCheck.hs
  sdk/compiler/damlc/lib/DA/Cli/Options.hs
  sdk/compiler/damlc/stable-packages/lib/DA/Daml/StablePackages.hs
  sdk/compiler/damlc/tests/src/DA/Test/DamlcIntegration.hs
  sdk/compiler/damlc/tests/src/DA/Test/DamlcUpgrades.hs
  sdk/compiler/damlc/tests/src/DA/Test/DataDependencies.hs
  sdk/daml-lf/language/BUILD.bazel
  sdk/daml-lf/language/daml-lf.bzl
  sdk/daml-lf/language/generate_haskell_versions.py
Owners: @digital-asset/daml-language

Removed unused testindg-dar-lookup targets
  sdk/daml-lf/encoder/BUILD.bazel
Owners: none

Remove distinction between compiler/engine lf
  sdk/compiler/damlc/pkg-db/BUILD.bazel
  sdk/compiler/damlc/tests/BUILD.bazel
  sdk/daml-lf/encoder/BUILD.bazel
  sdk/daml-lf/language/BUILD.bazel
  sdk/daml-lf/language/daml-lf.bzl
  sdk/daml-script/daml/BUILD.bazel
  sdk/language-support/java/codegen/BUILD.bazel
  sdk/rules_daml/daml.bzl
Owners: @digital-asset/daml-language

Clean up haskell-defined version ranges
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version/VersionUtil.hs
  sdk/compiler/daml-lf-proto-decode/src/DA/Daml/LF/Proto3/Decode.hs
  sdk/compiler/damlc/lib/DA/Cli/Options.hs
  sdk/compiler/damlc/tests/src/DA/Test/DataDependencies.hs
  sdk/compiler/damlc/tests/src/DA/Test/Packaging.hs
  sdk/daml-lf/language/generate_haskell_versions.py
Owners: @digital-asset/daml-language

Cleaned comments
  sdk/compiler/daml-lf-ast/BUILD.bazel
  sdk/daml-lf/language/BUILD.bazel
  sdk/daml-lf/language/generate_haskell_versions.py
Owners: @digital-asset/daml-language

Comments for replaybenchmark
  sdk/daml-lf/snapshot/BUILD.bazel
Owners: none
