Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @gerolf-da, @cocreature, @bame-da, @garyverhaegen-da, @aherrmann-da, @dasormeter, @sofiafaro-da, @stefanobaghino-da, @remyhaemmerle-da, @S11001001, @miklos-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da, @fabiotudone-da, @SamirTalwar-DA, @nickchapman-da, @robin-da, @nemanja-da

Log migration progress on kvutils participants
  ledger/participant-state/kvutils/app/src/main/resources/com/daml/ledger/participant/state/kvutils/app/logback.base.xml
Owners: @fabiotudone-da, @gerolf-da, @miklos-da, @SamirTalwar-DA

Revert "Log flyway progress in daml-on-sql"
  ledger/daml-on-sql/BUILD.bazel
  ledger/daml-on-sql/src/main/resources/logback.xml
  ledger/sandbox-classic/BUILD.bazel
  ledger/sandbox-classic/src/main/resources/logback.xml
  ledger/sandbox-common/BUILD.bazel
  ledger/sandbox-common/src/main/resources/logback.xml
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Log flyway progress on daml-on-sql
  ledger/daml-on-sql/BUILD.bazel
  ledger/daml-on-sql/src/main/resources/logback.xml
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

various cleanup, mostly removing printlns
  ledger/participant-integration-api/BUILD.bazel
  ledger/participant-integration-api/src/main/resources/db/migration/oracle/V1__Init.sql
  ledger/participant-integration-api/src/main/scala/platform/store/Conversions.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/JdbcLedgerDao.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/ContractsTableOracle.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/EventsTable.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/EventsTableFlatEvents.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/EventsTableFlatEventsRangeQueries.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/SqlFunctions.scala
  ledger/participant-integration-api/src/test/resources/OracleLog.properties
  ledger/participant-integration-api/src/test/suite/scala/platform/store/dao/JdbcLedgerDaoPostgresqlSpec.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

remove oracle connection from conversions and dependencies, cleaning up vestigial scala side varray code
  ledger/participant-integration-api/BUILD.bazel
  ledger/participant-integration-api/src/main/scala/platform/store/Conversions.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

fix lazylist/stream issue by using java stream. remove braces
  ledger/participant-integration-api/src/main/scala/platform/store/Conversions.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/EventsTableFlatEventsRangeQueries.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Remove broken dep from release job (#9963)
  azure-pipelines.yml
Owners: @garyverhaegen-da

Rerelease 1.11.2 snapshot
  LATEST
Owners: @gerolf-da, @bame-da, @cocreature

debug
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
Owners: @cocreature

Adds Indexer state to GRPC health checks [DPP-434] (#9951) (#9961)
  ledger/participant-integration-api/src/main/scala/platform/indexer/RecoveringIndexer.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/StandaloneIndexerServer.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/indexer/RecoveringIndexerSpec.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Runner.scala
  ledger/sandbox/src/main/scala/platform/sandboxnext/Runner.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da, @fabiotudone-da, @miklos-da, @SamirTalwar-DA

Rerelease 1.11.2 snapshot (#9965)
  LATEST
Owners: @gerolf-da, @bame-da, @cocreature

docs: tweak Exception intro
  docs/source/daml/intro/8_Exceptions.rst
  docs/source/daml/intro/daml/daml-intro-8/daml/Intro/Exceptions.daml
Owners: @bame-da, @nemanja-da

Log command kind in submitAndWaitRequest of CommandService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/CommandService.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

Generate Bazel logs and upload to GCS
  build.ps1
  build.sh
  ci/build.yml
  ci/job-variables.yml
  ci/upload-bazel-metrics.yml
Owners: @garyverhaegen-da

Move git_*_sha into variables template
  ci/build.yml
  ci/job-variables.yml
Owners: @garyverhaegen-da

update compat versions for 1.11.2-snapshot.20210610.6433.1.a08f6ea2
  compatibility/versions.bzl
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature

Collect build-event-stream (#9831)
  build.ps1
  build.sh
  ci/build.yml
  ci/job-variables.yml
  ci/upload-bazel-metrics.yml
Owners: @garyverhaegen-da

Update ledger-service/http-json/src/main/scala/com/digitalasset/http/CommandService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/CommandService.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

review comments
  docs/source/daml/intro/8_Exceptions.rst
  docs/source/daml/intro/daml/daml-intro-8/daml/Intro/Exceptions.daml
Owners: @bame-da, @nemanja-da

Log call to submitAndWaitRequest with the command id provided in the log ctx (#9940)
  ledger-service/http-json/src/main/scala/com/digitalasset/http/CommandService.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

docs: tweak Exception intro (#9967)
  docs/source/daml/intro/8_Exceptions.rst
  docs/source/daml/intro/daml/daml-intro-8/daml/Intro/Exceptions.daml
Owners: @bame-da, @nemanja-da

LF: Structure Engine Errors.
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ConcurrentCompiledPackages.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Error.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Result.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ValueEnricher.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/CommandPreprocessor.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/Preprocessor.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/TransactionPreprocessor.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/ValueTranslator.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
Owners: @cocreature

remove dead code
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Error.scala
Owners: @cocreature

Apply suggestions from code review
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Error.scala
Owners: @cocreature

update Daml Hub auth in create-daml-app
  templates/create-daml-app/ui/.gitignore
  templates/create-daml-app/ui/src/components/LoginScreen.tsx.template
Owners: none

Address Mortiz' review
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Error.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Result.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/CommandPreprocessor.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/Preprocessor.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/TransactionPreprocessor.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/ValueTranslator.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/ValidationError.scala
Owners: @cocreature

fix leger
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiSubmissionService.scala
  ledger/participant-integration-api/src/main/scala/platform/store/ErrorCause.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/services/ApiSubmissionServiceSpec.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/PackageCommitter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/TransactionCommitter.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da, @fabiotudone-da, @miklos-da, @SamirTalwar-DA

Use symlinks on Windows
  .bazelrc
  compatibility/.bazelrc
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature

fix ledger
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/KVTest.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/TransactionCommitterSpec.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/SandboxServer.scala
Owners: @fabiotudone-da, @gerolf-da, @miklos-da, @SamirTalwar-DA, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Use symlinks on Windows (#9969)
  .bazelrc
  compatibility/.bazelrc
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature

review comment
  templates/create-daml-app/ui/src/components/LoginScreen.tsx.template
Owners: none

update Daml Hub auth in create-daml-app (#9973)
  templates/create-daml-app/ui/.gitignore
  templates/create-daml-app/ui/src/components/LoginScreen.tsx.template
Owners: none

fix ApiSubmissionServiceSpec
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/services/ApiSubmissionServiceSpec.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

LF: Structure Engine Errors. (#9971)
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ConcurrentCompiledPackages.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Error.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Result.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ValueEnricher.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/CommandPreprocessor.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/Preprocessor.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/TransactionPreprocessor.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/ValueTranslator.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/ValidationError.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiSubmissionService.scala
  ledger/participant-integration-api/src/main/scala/platform/store/ErrorCause.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/services/ApiSubmissionServiceSpec.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/PackageCommitter.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/TransactionCommitter.scala
  ledger/participant-state/kvutils/src/test/lib/scala/com/daml/ledger/participant/state/kvutils/KVTest.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/transaction/TransactionCommitterSpec.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/SandboxServer.scala
Owners: @cocreature, @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da, @fabiotudone-da, @miklos-da, @SamirTalwar-DA

Address npm vulnerabilities
  package.json
  yarn.lock
Owners: none

Add proper error handling for missing contract keys
  compiler/damlc/tests/daml-test-files/FetchByKey.daml
  compiler/scenario-service/client/src/DA/Daml/LF/PrettyScenario.hs
  compiler/scenario-service/protos/scenario_service.proto
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Error.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SError.scala
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ScenarioRunner.scala
  daml-lf/tests/BasicTests.daml
Owners: @cocreature, @remyhaemmerle-da

backwards compat
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Error.scala
Owners: @cocreature

Address npm vulnerabilities (#9978)
  package.json
  yarn.lock
Owners: none

fix tests
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
Owners: @cocreature

Add proper error handling for missing contract keys (#9972)
  compiler/damlc/tests/daml-test-files/FetchByKey.daml
  compiler/scenario-service/client/src/DA/Daml/LF/PrettyScenario.hs
  compiler/scenario-service/protos/scenario_service.proto
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Error.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SError.scala
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ScenarioRunner.scala
  daml-lf/tests/BasicTests.daml
Owners: @cocreature, @remyhaemmerle-da

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

CODEOWNERS   @gerolf-da @cocreature
LATEST       @gerolf-da @bame-da @cocreature

# Build / CI / environment
/ci/                @garyverhaegen-da
/dev-env/           @garyverhaegen-da
/nix/               @garyverhaegen-da
/infra/             @garyverhaegen-da
azure-pipelines.yml @garyverhaegen-da
azure-cron.yml      @garyverhaegen-da

# Blackduck
NOTICES     @garyverhaegen-da @aherrmann-da @cocreature @dasormeter

# Language
/compiler/           @cocreature
/libs-haskell/       @cocreature
/daml-assistant/    @sofiafaro-da  @cocreature
/daml-script/       @cocreature  @aherrmann-da @stefanobaghino-da
/triggers/          @cocreature  @aherrmann-da @stefanobaghino-da
/ghc-lib/           @cocreature
/compatibility/     @garyverhaegen-da @aherrmann-da @cocreature

# Runtime
/daml-lf/ @remyhaemmerle-da
/daml-lf/archive/da/ @cocreature
/daml-lf/data-scalacheck/ @S11001001 @cocreature
/daml-lf/engine/ @cocreature
/daml-lf/governance.rst
/daml-lf/interpreter/ @cocreature
/daml-lf/kv-transaction-support/ @cocreature @gerolf-da @miklos-da
/daml-lf/repl/ @cocreature
/daml-lf/scenario-interpreter/  @cocreature
/daml-lf/spec/daml-lf-1.rst @cocreature
/daml-lf/spec/transaction.rst @cocreature
/daml-lf/spec/value.rst @cocreature
/daml-lf/transaction-test-lib/ @S11001001 @cocreature
/daml-lf/transaction/src/main/scala/com/daml/lf/transaction/ @cocreature
/daml-lf/transaction/src/main/scala/com/daml/lf/value/ @cocreature
/daml-lf/validation/ @cocreature

/ledger-service/    @S11001001 @cocreature @stefanobaghino-da

/ledger/      @gerolf-da @mziolekda @nmarton-da @rautenrieth-da @tudor-da
/ledger-api/  @gerolf-da @mziolekda @nmarton-da @rautenrieth-da @tudor-da

/ledger/participant-state/kvutils/ @fabiotudone-da @gerolf-da @miklos-da @SamirTalwar-DA

/runtime-components/    @stefanobaghino-da @cocreature

# Ecosystems
/language-support/hs/       @nickchapman-da
/language-support/java/     @cocreature @stefanobaghino-da
/language-support/scala/    @S11001001 @cocreature @stefanobaghino-da
/language-support/ts/        @robin-da @cocreature @garyverhaegen-da @stefanobaghino-da

# Tools
/extractor/         @S11001001 @stefanobaghino-da
/navigator/         @cocreature @stefanobaghino-da
/navigator/backend/src/main/scala/com/digitalasset/navigator/json/    @S11001001

# Misc
/docs/              @bame-da @nemanja-da
/libs-scala/        @stefanobaghino-da @SamirTalwar-DA
/libs-scala/contextualized-logging/    @S11001001
/libs-scala/scala-utils/    @S11001001
/libs-scala/scalatest-utils/    @S11001001
