Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @digital-asset/daml-release-owners, @dylant-da, @paulbrauner-da, @remyhaemmerle-da, @digital-asset/daml-language, @digital-asset/kv-participant

Fix dpm version calls and pin DPM (#22044)
  ci/get-dpm.sh
  sdk/dev-env/bin/dpm-sdk-head
Owners: @digital-asset/daml-language

Fix SDK Protobuf for Canton main (#22042)
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  sdk/compiler/daml-lf-tools/src/DA/Daml/LF/Simplifier.hs
  sdk/compiler/damlc/daml-stdlib-src/DA/Crypto/Text.daml
  sdk/compiler/damlc/tests/platform-independence.dar-hash
  sdk/daml-lf/archive/src/main/protobuf/com/digitalasset/daml/lf/archive/daml_lf2.proto
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV2.scala
  sdk/daml-lf/encoder/src/test/lf/Builtin_2.1_.lf
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
  sdk/docs/sharable/sdk/reference/daml/stdlib/DA-Crypto-Text.rst
  sdk/docs/sharable/sdk/reference/daml/stdlib/Prelude.rst
Owners: @digital-asset/daml-language

ci: Move everything to da-images/public, instead of da-images-dev/private.
  azure-pipelines.yml
  ci/publish-oci.sh
  ci/split-release-job.yml
  sdk/dev-env/bin/dpm-sdk-head
Owners: @digital-asset/daml-language

fix daml-script tests
  sdk/daml-script/test/daml/upgrades/stable/AuthenticationErrors.daml
  sdk/daml-script/test/daml/upgrades/stable/VariantChanges.daml
Owners: none

Promote dev errors to non-dev ones.
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/platform/apiserver/services/RejectionGenerators.scala
  sdk/canton/community/ledger/ledger-common/src/main/scala/com/digitalasset/canton/ledger/error/groups/CommandExecutionErrors.scala
  sdk/compiler/script-service/client/src/DA/Daml/LF/PrettyScript.hs
  sdk/compiler/script-service/protos/script_service.proto
  sdk/compiler/script-service/server/src/main/scala/com/digitalasset/daml/lf/script/Conversions.scala
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/UpgradesMatrixUnit.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltinFun.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ValueTranslator.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/UpgradeTest.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ValueTranslatorSpec.scala
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/interpretation/Error.scala
  sdk/daml-script/daml/Daml/Script/Internal/Questions/Submit/Error.daml
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ledgerinteraction/GrpcErrorParser.scala
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ledgerinteraction/IdeLedgerClient.scala
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ledgerinteraction/SubmitError.scala
  sdk/daml-script/test/daml/upgrades/dev/DataChanges.daml
  sdk/daml-script/test/daml/upgrades/stable/AuthenticationErrors.daml
  sdk/daml-script/test/daml/upgrades/stable/DataChanges.daml
  sdk/daml-script/test/daml/upgrades/stable/Exceptions.daml
  sdk/daml-script/test/daml/upgrades/stable/Fetch.daml
  sdk/daml-script/test/daml/upgrades/stable/FromInterface.daml
  sdk/daml-script/test/daml/upgrades/stable/VariantChanges.daml
  sdk/daml-script/test/src/main/scala/com/digitalasset/daml/lf/engine/script/test/UpgradesMatrixIT.scala
  sdk/docs/sharable/hoogle/daml-script-hoogle.txt
  sdk/docs/sharable/sdk/reference/daml-script/api/Daml-Script.rst
Owners: @digital-asset/daml-language

pull dpm named version from stable public repo
  ci/get-dpm.sh
Owners: @digital-asset/daml-language

update NOTICES file
  sdk/NOTICES
Owners: none

Add deprecation warning for unsafeFromInterface
  sdk/compiler/damlc/daml-stdlib-src/DA/Internal/Interface.daml
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltinFun.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/UpgradeTest.scala
Owners: @digital-asset/daml-language

Update stdlib hash
  sdk/compiler/damlc/tests/platform-independence.dar-hash
Owners: @digital-asset/daml-language

simplify test
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/UpgradeTest.scala
Owners: none

Add missing tweaks
  azure-pipelines.yml
  ci/get-dpm.sh
  sdk/dev-env/bin/dpm-sdk-head
Owners: @digital-asset/daml-language

enable authentication test cases in the test matrix
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/UpgradesMatrix.scala
Owners: none

Ensure dpm pin is working
  azure-pipelines.yml
  ci/split-release-job.yml
Owners: @digital-asset/daml-language

ci: Move everything to `da-images/public-unstable`, instead of `da-images-dev/private` (#22035)
  azure-pipelines.yml
  ci/get-dpm.sh
  ci/publish-oci.sh
  ci/split-release-job.yml
  sdk/dev-env/bin/dpm-sdk-head
Owners: @digital-asset/daml-language

Add deprecation warning on `unsafeFromInterface` (#22043)
  sdk/compiler/damlc/daml-stdlib-src/DA/Internal/Interface.daml
  sdk/compiler/damlc/tests/platform-independence.dar-hash
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltinFun.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/UpgradeTest.scala
Owners: @digital-asset/daml-language

Update sdk/compiler/daml-lf-proto-decode/src/DA/Daml/LF/Proto3/Decode.hs
  sdk/compiler/daml-lf-proto-decode/src/DA/Daml/LF/Proto3/Decode.hs
Owners: @digital-asset/daml-language

enable authentication test cases in the test matrix (#22051)
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/UpgradesMatrix.scala
Owners: none

Revert "Update sdk/compiler/daml-lf-proto-decode/src/DA/Daml/LF/Proto3/Decode.hs"
  sdk/compiler/daml-lf-proto-decode/src/DA/Daml/LF/Proto3/Decode.hs
Owners: @digital-asset/daml-language

JSON API: add mutex around request handlers that update the cache
  sdk/ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsService.scala
Owners: none

Update progName to dpm
  sdk/daml-assistant/daml-helper/src/DA/Daml/Helper/New.hs
Owners: @digital-asset/daml-language

Add dpm init
  sdk/daml-assistant/daml-helper/component.yaml
  sdk/daml-assistant/daml-helper/src/DA/Daml/Helper/New.hs
  sdk/templates/empty-skeleton/daml/.gitkeep
Owners: @digital-asset/daml-language

fix for Paul
  sdk/canton/base/errors/src/main/scala/com/digitalasset/base/error/ErrorResource.scala
  sdk/canton/community/ledger/ledger-common/src/main/scala/com/digitalasset/canton/ledger/error/groups/CommandExecutionErrors.scala
Owners: none

address review comments
  sdk/canton/community/ledger/ledger-common/src/main/scala/com/digitalasset/canton/ledger/error/groups/CommandExecutionErrors.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltinFun.scala
Owners: none

Add Dpm init (#22034)
  sdk/daml-assistant/daml-helper/component.yaml
  sdk/daml-assistant/daml-helper/src/DA/Daml/Helper/New.hs
  sdk/templates/empty-skeleton/daml/.gitkeep
Owners: @digital-asset/daml-language

create adhoc release
  sdk/LATEST
Owners: @digital-asset/daml-release-owners

update 3.4.0-snapshot
  sdk/LATEST
Owners: @digital-asset/daml-release-owners

update LATEST
  sdk/LATEST
Owners: @digital-asset/daml-release-owners

update latest
  sdk/LATEST
Owners: @digital-asset/daml-release-owners

remove dead disclosure-related code
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/PreprocessorSpec.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Command.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/CompilerTest.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
Owners: none

remove unused import
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Command.scala
Owners: none

Default to TypedNormalForm in Result.consume (#22004)
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Result.scala
Owners: none

create snapshot 3.4 release (#22054)
  sdk/LATEST
Owners: @digital-asset/daml-release-owners

remove unused import
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/CompilerTest.scala
Owners: none

Fix broken daml links.
  sdk/docs/manually-written/overview/explanations/ledger-model/ledger-privacy.rst
  sdk/docs/sharable/overview/explanations/ledger-model/ledger-privacy.rst
Owners: none

chore: fix typo in CONTRIBUTING.md (#21733)
  CONTRIBUTING.md
Owners: none

Revert "Open up IsParties instances (#21390)"
  sdk/compiler/damlc/daml-stdlib-src/DA/Internal/Template/Functions.daml
  sdk/compiler/damlc/daml-stdlib-src/DA/NonEmpty.daml
  sdk/compiler/damlc/daml-stdlib-src/DA/Set.daml
  sdk/compiler/damlc/tests/platform-independence.dar-hash
  sdk/docs/sharable/sdk/reference/daml/stdlib/DA-NonEmpty-Types.rst
  sdk/docs/sharable/sdk/reference/daml/stdlib/DA-Set.rst
  sdk/docs/sharable/sdk/reference/daml/stdlib/Prelude.rst
Owners: @digital-asset/daml-language

Ensure HEX_TO_TEXT primitives generate valid UTF8
  sdk/compiler/damlc/daml-stdlib-src/DA/Crypto/Text.daml
  sdk/compiler/damlc/tests/daml-test-files/HexEncodingDecoding.daml
  sdk/compiler/damlc/tests/platform-independence.dar-hash
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltinFun.scala
Owners: @digital-asset/daml-language

docs: Mark UpdateService.GetUpdateTrees as a broken symbol for now. (#22057)
  sdk/docs/manually-written/overview/explanations/ledger-model/ledger-privacy.rst
  sdk/docs/sharable/overview/explanations/ledger-model/ledger-privacy.rst
Owners: none

[LF] introduce a basic patch mecanism for LF (#22019)
  sdk/compiler/daml-lf-proto-decode/src/DA/Daml/LF/Proto3/Decode.hs
  sdk/compiler/daml-lf-proto-encode/src/DA/Daml/LF/Proto3/Encode.hs
  sdk/compiler/daml-lf-proto-util/src/DA/Daml/LF/Proto3/Error.hs
  sdk/daml-lf/archive/src/main/protobuf/com/digitalasset/daml/lf/archive/daml_lf.proto
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/Decode.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV2.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/Reader.scala
  sdk/daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DarReaderTest.scala
  sdk/daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV2Spec.scala
  sdk/daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/testing/archive/DamlLfEncoderTest.scala
Owners: @digital-asset/daml-language

fix AdminLedgerClient
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ledgerinteraction/grpcLedgerClient/AdminLedgerClient.scala
Owners: none

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

sdk/bazel-java-deps.bzl @digital-asset/daml-release-owners

CODEOWNERS   @dylant-da @paulbrauner-da @remyhaemmerle-da 
/sdk/LATEST @digital-asset/daml-release-owners

# Build / CI / environment
/ci/                   @digital-asset/daml-language
/sdk/dev-env/          @digital-asset/daml-language
/sdk/nix/              @digital-asset/daml-language
azure-pipelines.yml    @digital-asset/daml-language
azure-cron.yml         @digital-asset/daml-language
sdk/release/           @digital-asset/daml-language
sdk/release.sh         @digital-asset/daml-language

# Blackduck
/sdk/NOTICES

# Compatibility test
/sdk/compatibility/     @digital-asset/daml-language @digital-asset/kv-participant

# Language
/sdk/daml-assistant/    @digital-asset/daml-language
/sdk/daml-script/       
/sdk/compiler/          @digital-asset/daml-language
/sdk/libs-haskell/      @digital-asset/daml-language
/sdk/ghc-lib/           @digital-asset/daml-language
/sdk/test-common/canton/ 

# Runtime
/sdk/daml-lf/ 


# Ecosystems
/sdk/language-support/hs/       @digital-asset/daml-language
/sdk/language-support/java/     
/sdk/language-support/scala/    
/sdk/language-support/ts/       

# Application Runtime
/sdk/ledger-service/
/sdk/runtime-components/ 

# Misc
/sdk/docs/ 
/sdk/libs-scala/

# Observability related libraries
/sdk/observability
