Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @hurryabit, @gerolf-da, @cocreature, @bame-da, @garyverhaegen-da, @aherrmann-da, @dasormeter, @sofiafaro-da, @stefanobaghino-da, @S11001001, @remyhaemmerle-da, @rautenrieth-da, @SamirTalwar-DA, @dajmaki, @fabiotudone-da, @miklos-da, @mziolekda, @nickchapman-da, @robin-da, @nemanja-da

match new scalafmt from #8437
  ledger-service/db-backend/src/main/scala/com/digitalasset/http/dbbackend/Queries.scala
  ledger-service/http-json/src/it/scala/http/HttpServicePostgresInt.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/dbbackend/ContractDao.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

Add LFConversion support for exception primitives. (#8427)
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion/Primitives.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion/UtilGHC.hs
  compiler/damlc/daml-stdlib-src/DA/Internal/Exception.daml
  compiler/damlc/daml-stdlib-src/DA/Internal/LF.daml
  compiler/damlc/daml-stdlib-src/LibraryModules.daml
Owners: @hurryabit, @cocreature

Address Mortiz's review
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/ClosedSubstitution.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/DelayedTypeSubstitution.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/ValueTranslator.scala
Owners: @hurryabit, @remyhaemmerle-da, @cocreature

release 1.9.0-snapshot.20201226.5947.0.c33140cf
  LATEST
Owners: @hurryabit, @gerolf-da, @bame-da, @cocreature

rotate release duty after 1.9.0-snapshot.20201226.5947.0.c33140cf
  release/rotation
Owners: none

Address Mortiz's review
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/DelayedTypeSubstitution.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/ValueTranslator.scala
Owners: @hurryabit, @remyhaemmerle-da, @cocreature

Flip columns
  docs/source/support/compatibility.rst
Owners: @bame-da, @nemanja-da, @hurryabit

Remove empty line
  docs/source/support/compatibility.rst
Owners: @bame-da, @nemanja-da, @hurryabit

Use null to indicate missing applicationId claim
  triggers/service/auth/src/main/resources/com/daml/auth/middleware/oauth2/auth0_request_authorization.jsonnet
  triggers/service/auth/src/main/scala/com/daml/auth/middleware/oauth2/RequestTemplates.scala
Owners: @cocreature, @hurryabit, @aherrmann-da, @stefanobaghino-da

formatting
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/DelayedTypeSubstitution.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/ValueTranslator.scala
Owners: @hurryabit, @remyhaemmerle-da, @cocreature

minor typo fix
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/DelayedTypeSubstitution.scala
Owners: @hurryabit, @remyhaemmerle-da, @cocreature

Fix invalid path on Windows
  triggers/service/auth/src/main/scala/com/daml/auth/middleware/oauth2/RequestTemplates.scala
Owners: @cocreature, @hurryabit, @aherrmann-da, @stefanobaghino-da

Doc minor issues (#8451)
  docs/source/concepts/ledger-model/ledger-structure.rst
  docs/source/daml/patterns.rst
  docs/source/daml/reference/contract-keys.rst
Owners: @bame-da, @nemanja-da, @hurryabit

Add table correlating Connect and Ledger API version (#8456)
  docs/source/support/compatibility.rst
Owners: @bame-da, @nemanja-da, @hurryabit

Close request template source
  triggers/service/auth/src/main/scala/com/daml/auth/middleware/oauth2/RequestTemplates.scala
Owners: @cocreature, @hurryabit, @aherrmann-da, @stefanobaghino-da

Remove expensive test (#8450)
  ledger/participant-integration-api/src/test/suite/scala/platform/store/dao/events/GroupContiguousHeavySpec.scala
Owners: @gerolf-da, @rautenrieth-da, @SamirTalwar-DA

Avoid repeated re-reading of Jsonnet files
  triggers/service/auth/src/main/scala/com/daml/auth/middleware/oauth2/RequestTemplates.scala
Owners: @cocreature, @hurryabit, @aherrmann-da, @stefanobaghino-da

drop deap code
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/DelayedTypeSubstitution.scala
Owners: @hurryabit, @remyhaemmerle-da, @cocreature

cosmetic changes
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/ValueTranslator.scala
Owners: @hurryabit, @remyhaemmerle-da, @cocreature

Factor out template argument mappings
  triggers/service/auth/src/main/scala/com/daml/auth/middleware/oauth2/RequestTemplates.scala
Owners: @cocreature, @hurryabit, @aherrmann-da, @stefanobaghino-da

Build and test //ledger-api/... against Scala 2.13 (#8452)
  ci/build.yml
  ledger-api/perf-testing/BUILD.bazel
  ledger-api/perf-testing/src/main/scala/com/digitalasset/ledger/api/perf/util/PerformanceTest.scala
  ledger-api/perf-testing/src/main/scala/com/digitalasset/ledger/api/perf/util/reporter/JMeterXmlGenerator.scala
  ledger-api/rs-grpc-akka/BUILD.bazel
  ledger-api/rs-grpc-bridge/BUILD.bazel
  ledger-api/rs-grpc-bridge/src/test/suite/scala/com/digitalasset/grpc/adapter/server/rs/BufferingSubscriber.scala
  ledger-api/rs-grpc-testing-utils/src/main/scala/com/digitalasset/grpc/adapter/server/rs/MockClientCallStreamObserver.scala
  ledger-api/rs-grpc-testing-utils/src/main/scala/com/digitalasset/grpc/adapter/server/rs/MockServerCallStreamObserver.scala
  ledger-api/sample-service/BUILD.bazel
Owners: @garyverhaegen-da, @gerolf-da, @rautenrieth-da, @SamirTalwar-DA

Bump Ledger API version to 1.8.0 (#8455)
  ledger-api/VERSION
Owners: @gerolf-da, @rautenrieth-da, @SamirTalwar-DA

factor out template error handling
  triggers/service/auth/src/main/scala/com/daml/auth/middleware/oauth2/Server.scala
Owners: @cocreature, @hurryabit, @aherrmann-da, @stefanobaghino-da

Add the missing UTryCatch primitive.
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion/Primitives.hs
Owners: @hurryabit, @cocreature

indent/associate
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion/Primitives.hs
Owners: @hurryabit, @cocreature

typo :-(
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion/Primitives.hs
Owners: @hurryabit, @cocreature

broken test
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/PreprocessorSpec.scala
Owners: @hurryabit, @remyhaemmerle-da, @cocreature

Oauth template (#8453)
  bazel-java-deps.bzl
  maven_install_2.12.json
  maven_install_2.13.json
  triggers/service/auth/BUILD.bazel
  triggers/service/auth/src/main/resources/com/daml/auth/middleware/oauth2/auth0_request_authorization.jsonnet
  triggers/service/auth/src/main/resources/com/daml/auth/middleware/oauth2/auth0_request_refresh.jsonnet
  triggers/service/auth/src/main/resources/com/daml/auth/middleware/oauth2/auth0_request_token.jsonnet
  triggers/service/auth/src/main/scala/com/daml/auth/middleware/oauth2/Config.scala
  triggers/service/auth/src/main/scala/com/daml/auth/middleware/oauth2/RequestTemplates.scala
  triggers/service/auth/src/main/scala/com/daml/auth/middleware/oauth2/Server.scala
  triggers/service/auth/src/test/scala/com/daml/auth/middleware/oauth2/TestFixture.scala
  triggers/service/auth/src/test/scala/com/daml/auth/middleware/oauth2/TestMiddleware.scala
  triggers/service/auth/src/test/scala/com/daml/auth/middleware/oauth2/TestRequestStore.scala
  triggers/service/auth/src/test/scala/com/daml/auth/middleware/oauth2/TestRequestTemplates.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceFixture.scala
Owners: @cocreature, @hurryabit, @aherrmann-da, @stefanobaghino-da

Release 1.9.0 snapshot
  LATEST
Owners: @hurryabit, @gerolf-da, @bame-da, @cocreature

LF: get ride of user-defined patterns in ValueTranslation.
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/SortedLookupList.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/ValueTranslator.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/PreprocessorSpec.scala
Owners: @hurryabit, @remyhaemmerle-da, @cocreature

formatting
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/ValueTranslator.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/PreprocessorSpec.scala
Owners: @hurryabit, @remyhaemmerle-da, @cocreature

Update daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/ValueTranslator.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/ValueTranslator.scala
Owners: @hurryabit, @remyhaemmerle-da, @cocreature

Upgrade scopt to 4.0.0
  bazel-java-deps.bzl
  extractor/src/main/scala/com/digitalasset/extractor/config/ConfigParser.scala
  language-support/codegen-main/src/main/scala/CodegenMain.scala
  ledger-service/jwt/src/main/scala/com/digitalasset/jwt/Main.scala
  ledger/ledger-api-auth/src/app/scala/com/daml/ledger/api/auth/Main.scala
  maven_install_2.12.json
  maven_install_2.13.json
  navigator/backend/src/main/scala/com/digitalasset/navigator/config/Arguments.scala
  navigator/integration-test/src/main/scala/com/digitalasset/navigator/test/config/Arguments.scala
Owners: @S11001001, @stefanobaghino-da, @cocreature, @gerolf-da, @rautenrieth-da, @SamirTalwar-DA

Use val instead of def
  extractor/src/main/scala/com/digitalasset/extractor/config/ConfigParser.scala
  language-support/codegen-main/src/main/scala/CodegenMain.scala
Owners: @S11001001, @stefanobaghino-da

Upgrade scopt to 4.0.0 (#8466)
  bazel-java-deps.bzl
  extractor/src/main/scala/com/digitalasset/extractor/config/ConfigParser.scala
  language-support/codegen-main/src/main/scala/CodegenMain.scala
  ledger-service/jwt/src/main/scala/com/digitalasset/jwt/Main.scala
  ledger/ledger-api-auth/src/app/scala/com/daml/ledger/api/auth/Main.scala
  maven_install_2.12.json
  maven_install_2.13.json
  navigator/backend/src/main/scala/com/digitalasset/navigator/config/Arguments.scala
  navigator/integration-test/src/main/scala/com/digitalasset/navigator/test/config/Arguments.scala
Owners: @S11001001, @stefanobaghino-da, @cocreature, @gerolf-da, @rautenrieth-da, @SamirTalwar-DA

Release 1.9.0 snapshot (#8464)
  LATEST
Owners: @hurryabit, @gerolf-da, @bame-da, @cocreature

pls main rename don't pk me
  docs/source/app-dev/app-arch.rst
  docs/source/concepts/ledger-model/ledger-integrity.rst
  docs/source/concepts/ledger-model/ledger-privacy.rst
  docs/source/concepts/ledger-model/ledger-structure.rst
  docs/source/daml/intro/2_DamlScript.rst
  docs/source/daml/intro/5_Restrictions.rst
  docs/source/getting-started/app-architecture.rst
Owners: @bame-da, @nemanja-da, @hurryabit

update compat versions for 1.9.0-snapshot.20210111.6034.0.7855b023
  compatibility/versions.bzl
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

CODEOWNERS  @hurryabit @gerolf-da @cocreature
LATEST      @hurryabit @gerolf-da @bame-da @cocreature

# Build / CI / environment
/ci/                @garyverhaegen-da
/dev-env/           @garyverhaegen-da
/nix/               @garyverhaegen-da
/infra/             @garyverhaegen-da
azure-pipelines.yml @garyverhaegen-da
azure-cron.yml      @garyverhaegen-da

# Blackduck
NOTICES     @garyverhaegen-da @aherrmann-da @cocreature @dasormeter

# Language
/compiler/          @hurryabit @cocreature
/libs-haskell/      @hurryabit @cocreature
/daml-assistant/    @sofiafaro-da @hurryabit @cocreature
/daml-script/       @cocreature @hurryabit @aherrmann-da @stefanobaghino-da
/triggers/          @cocreature @hurryabit @aherrmann-da @stefanobaghino-da
/ghc-lib/           @cocreature
/compatibility/     @garyverhaegen-da @aherrmann-da @cocreature

# Runtime
/daml-lf/governance.rst @hurryabit @S11001001
/daml-lf/archive/da/    @remyhaemmerle-da @hurryabit @cocreature
/daml-lf/engine/ @hurryabit @remyhaemmerle-da @cocreature
/daml-lf/interpreter/ @hurryabit @remyhaemmerle-da @cocreature
/daml-lf/repl/ @hurryabit @remyhaemmerle-da @cocreature
/daml-lf/scenario-interpreter/ @hurryabit @remyhaemmerle-da @cocreature
/daml-lf/spec/value.rst @S11001001 @hurryabit @cocreature
/daml-lf/spec/transaction.rst @S11001001 @hurryabit @cocreature
/daml-lf/spec/daml-lf-1.rst @remyhaemmerle-da @hurryabit @cocreature
/daml-lf/data-scalacheck/  @S11001001 @cocreature
/daml-lf/transaction-test-lib/  @S11001001 @cocreature
/daml-lf/validation/    @remyhaemmerle-da @cocreature
/daml-lf/transaction/src/main/scala/com/daml/lf/transaction/ @S11001001 @cocreature
/daml-lf/transaction/src/main/scala/com/daml/lf/value/       @S11001001 @cocreature

/ledger-service/    @S11001001 @cocreature @stefanobaghino-da

/ledger/      @gerolf-da @rautenrieth-da @SamirTalwar-DA
/ledger-api/  @gerolf-da @rautenrieth-da @SamirTalwar-DA

# DAML-on-X
/ledger/participant-state/kvutils/  @dajmaki @dasormeter @fabiotudone-da @gerolf-da @miklos-da @mziolekda @rautenrieth-da @SamirTalwar-DA

# Ecosystems
/language-support/hs/       @nickchapman-da
/language-support/java/     @cocreature @stefanobaghino-da
/language-support/scala/    @S11001001 @cocreature @stefanobaghino-da
/language-support/ts/       @hurryabit @robin-da @cocreature @garyverhaegen-da @stefanobaghino-da

# Tools
/extractor/         @S11001001 @stefanobaghino-da
/navigator/         @cocreature @stefanobaghino-da

# Misc
/docs/              @bame-da @nemanja-da @hurryabit
/libs-scala/        @stefanobaghino-da @SamirTalwar-DA
