Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @digital-asset/daml-release-owners, @dylant-da, @paulbrauner-da, @remyhaemmerle-da, @digital-asset/daml-language, @digital-asset/kv-participant

Fix windows download
  sdk/dev-env/windows/manifests/jdk.json
Owners: @digital-asset/daml-language

Fix windows download
  sdk/dev-env/windows/manifests/jdk.json
Owners: @digital-asset/daml-language

Bump SDK to 21
  sdk/.bazelrc
  sdk/WORKSPACE
  sdk/compatibility/.bazelrc
  sdk/compatibility/WORKSPACE
  sdk/compatibility/build-release-artifacts.sh
  sdk/dev-env/windows/manifests/jdk.json
  sdk/nix/bazel.nix
  sdk/nix/default.nix
Owners: @digital-asset/daml-language, @digital-asset/kv-participant

Remove unnecessary oracle support
  sdk/compatibility/bazel_tools/client_server/with-oracle/BUILD
  sdk/compatibility/bazel_tools/client_server/with-oracle/exe/Main.hs
  sdk/compatibility/bazel_tools/client_server/with-oracle/lib/WithOracle.hs
  sdk/compatibility/test.sh
Owners: @digital-asset/daml-language, @digital-asset/kv-participant

update NOTICES file
  sdk/NOTICES
Owners: none

add a timeout to the acquisition of locks, and an opname to correlate log lines
  sdk/ledger-service/http-json/src/main/scala/com/digitalasset/http/util/LockSet.scala
  sdk/ledger-service/http-json/src/test/scala/com/digitalasset/http/util/LockSetTest.scala
Owners: none

Bump JDK to 21 (#22185)
  sdk/.bazelrc
  sdk/WORKSPACE
  sdk/compatibility/.bazelrc
  sdk/compatibility/WORKSPACE
  sdk/compatibility/bazel_tools/client_server/with-oracle/BUILD
  sdk/compatibility/bazel_tools/client_server/with-oracle/exe/Main.hs
  sdk/compatibility/bazel_tools/client_server/with-oracle/lib/WithOracle.hs
  sdk/compatibility/build-release-artifacts.sh
  sdk/compatibility/test.sh
  sdk/dev-env/windows/manifests/jdk.json
  sdk/nix/bazel.nix
  sdk/nix/default.nix
Owners: @digital-asset/daml-language, @digital-asset/kv-participant

Remove unnecessary oracle support
  sdk/compatibility/bazel_tools/client_server/with-oracle/BUILD
  sdk/compatibility/bazel_tools/client_server/with-oracle/exe/Main.hs
  sdk/compatibility/bazel_tools/client_server/with-oracle/lib/WithOracle.hs
  sdk/compatibility/test.sh
Owners: @digital-asset/daml-language, @digital-asset/kv-participant

removed comment
  sdk/compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
Owners: @digital-asset/daml-language

Bump JDK to 21 [propagate to 3.4] (#22185) (#22186)
  sdk/.bazelrc
  sdk/WORKSPACE
  sdk/compatibility/.bazelrc
  sdk/compatibility/WORKSPACE
  sdk/compatibility/bazel_tools/client_server/with-oracle/BUILD
  sdk/compatibility/bazel_tools/client_server/with-oracle/exe/Main.hs
  sdk/compatibility/bazel_tools/client_server/with-oracle/lib/WithOracle.hs
  sdk/compatibility/build-release-artifacts.sh
  sdk/compatibility/test.sh
  sdk/dev-env/windows/manifests/jdk.json
  sdk/nix/bazel.nix
  sdk/nix/default.nix
Owners: @digital-asset/daml-language, @digital-asset/kv-participant

cleanup
  sdk/ledger-service/http-json/src/main/scala/com/digitalasset/http/util/LockSet.scala
  sdk/ledger-service/http-json/src/test/scala/com/digitalasset/http/util/LockSetTest.scala
Owners: none

Fix many issues
  sdk/compatibility/bazel_tools/BUILD
  sdk/compatibility/bazel_tools/daml_ledger/Main.hs
  sdk/compatibility/bazel_tools/daml_sdk.bzl
  sdk/compatibility/versions.bzl
  sdk/compatibility/versions/UpdateVersions.hs
Owners: @digital-asset/daml-language, @digital-asset/kv-participant

Add 3.3 snapshot to compat tests, remove old maven targets, fix UpdateVersions script
  sdk/compatibility/BUILD
  sdk/compatibility/README.md
  sdk/compatibility/WORKSPACE
  sdk/compatibility/bazel_tools/testing.bzl
  sdk/compatibility/deps.bzl
  sdk/compatibility/maven_install.json
  sdk/compatibility/update-versions.sh
  sdk/compatibility/versions.bzl
  sdk/compatibility/versions/BUILD
  sdk/compatibility/versions/UpdateVersions.hs
Owners: @digital-asset/daml-language, @digital-asset/kv-participant

Try to fix trigger_azure
  ci/bash-lib.yml
  ci/blackduck.yml
  ci/cron/daily-compat.yml
  ci/cron/wednesday.yml
  ci/prs.yml
Owners: @digital-asset/daml-language

Simplify logic
  sdk/compatibility/WORKSPACE
  sdk/compatibility/bazel_tools/BUILD
  sdk/compatibility/bazel_tools/testing.bzl
  sdk/compatibility/versions.bzl
  sdk/compatibility/versions/UpdateVersions.hs
Owners: @digital-asset/daml-language, @digital-asset/kv-participant

Rebase to main, remove leftover oracle stuff
  ci/BUILD
  sdk/ci/oracle_image
Owners: @digital-asset/daml-language

Fix issues with JWT and pulling SDKs in bazel
  sdk/compatibility/BUILD
  sdk/compatibility/WORKSPACE
  sdk/compatibility/bazel-haskell-deps.bzl
  sdk/compatibility/bazel_tools/daml_ledger/BUILD.bazel
  sdk/compatibility/bazel_tools/daml_ledger/Main.hs
  sdk/compatibility/test-all-installs.sh
Owners: @digital-asset/daml-language, @digital-asset/kv-participant

Add hash-based authentication to the IDE ledger
  sdk/daml-lf/ide-ledger/src/main/scala/com/digitalasset/daml/lf/script/IdeLedgerRunner.scala
  sdk/daml-script/test/daml/upgrades/stable/AuthenticationErrors.daml
Owners: none

mark VariantChanges.daml test case as no longer broken
  sdk/daml-script/test/daml/upgrades/stable/VariantChanges.daml
Owners: none

enabled strict validatedar
  sdk/canton/community/participant/src/main/scala/com/digitalasset/canton/participant/ParticipantNodeParameters.scala
  sdk/canton/community/participant/src/main/scala/com/digitalasset/canton/participant/admin/PackageUploader.scala
  sdk/canton/community/participant/src/main/scala/com/digitalasset/canton/participant/config/ParticipantNodeConfig.scala
Owners: none

Run matrix tests on both 2.2 and 2.dev (#22165)
  sdk/daml-lf/engine/BUILD.bazel
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/UpgradesMatrix.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/UpgradesMatrixUnit.scala
  sdk/daml-script/test/src/main/scala/com/digitalasset/daml/lf/engine/script/test/UpgradesMatrixIT.scala
  sdk/security-evidence.md
Owners: none

Fix windows SDK download to include architecture Add mediator-admin-port to freeport
  sdk/bazel_tools/os_info.bzl
  sdk/compatibility/bazel_tools/daml_ledger/Main.hs
  sdk/compatibility/bazel_tools/daml_sdk.bzl
Owners: @digital-asset/daml-language, @digital-asset/kv-participant

Fix portfile reading for 3.3 snapshot
  sdk/compatibility/bazel_tools/daml_ledger/Sandbox.hs
Owners: @digital-asset/daml-language, @digital-asset/kv-participant

Revert "Bump JDK to 21 [propagate to 3.4] (#22185) (#22186)"
  sdk/.bazelrc
  sdk/WORKSPACE
  sdk/compatibility/.bazelrc
  sdk/compatibility/WORKSPACE
  sdk/compatibility/build-release-artifacts.sh
  sdk/dev-env/windows/manifests/jdk.json
  sdk/nix/bazel.nix
  sdk/nix/default.nix
Owners: @digital-asset/daml-language, @digital-asset/kv-participant

suffix contract IDs in payloads before hashing
  sdk/daml-lf/ide-ledger/src/main/scala/com/digitalasset/daml/lf/script/IdeLedgerRunner.scala
  sdk/daml-script/test/daml/upgrades/stable/AuthenticationErrors.daml
Owners: none

[fwdport] Run matrix tests on both 2.2 and 2.dev (#22195)
  sdk/daml-lf/engine/BUILD.bazel
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/UpgradesMatrix.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/UpgradesMatrixUnit.scala
  sdk/daml-script/test/src/main/scala/com/digitalasset/daml/lf/engine/script/test/UpgradesMatrixIT.scala
  sdk/security-evidence.md
Owners: none

remove unused field in Commit
  sdk/daml-lf/ide-ledger/src/main/scala/com/digitalasset/daml/lf/script/IdeLedgerRunner.scala
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ledgerinteraction/IdeLedgerClient.scala
Owners: none

Revert the bump of JDK to 21 in 3.4 (#22185) (#22186)" (#22196)
  sdk/.bazelrc
  sdk/WORKSPACE
  sdk/compatibility/.bazelrc
  sdk/compatibility/WORKSPACE
  sdk/compatibility/build-release-artifacts.sh
  sdk/dev-env/windows/manifests/jdk.json
  sdk/nix/bazel.nix
  sdk/nix/default.nix
Owners: @digital-asset/daml-language, @digital-asset/kv-participant

removed commented out code (#22106)
  sdk/compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
Owners: @digital-asset/daml-language

Remove wrong test
  sdk/compatibility/bazel_tools/testing.bzl
Owners: @digital-asset/daml-language, @digital-asset/kv-participant

Formatting
  sdk/compatibility/bazel_tools/testing.bzl
Owners: @digital-asset/daml-language, @digital-asset/kv-participant

Update publish-oci.sh
  ci/publish-oci.sh
Owners: @digital-asset/daml-language

rotate release duty after 2025-10-22
  sdk/release/rotation
Owners: @digital-asset/daml-language

update NOTICES file
  sdk/NOTICES
Owners: none

Implement hash-based authentication in the IDE ledger (#22184)
  sdk/daml-lf/ide-ledger/src/main/scala/com/digitalasset/daml/lf/script/IdeLedgerRunner.scala
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ledgerinteraction/IdeLedgerClient.scala
  sdk/daml-script/test/daml/upgrades/stable/AuthenticationErrors.daml
  sdk/daml-script/test/daml/upgrades/stable/VariantChanges.daml
Owners: none

Implement hash-based authentication in the IDE ledger (#22184)
  sdk/daml-lf/ide-ledger/src/main/scala/com/digitalasset/daml/lf/script/IdeLedgerRunner.scala
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ledgerinteraction/IdeLedgerClient.scala
  sdk/daml-script/test/daml/upgrades/stable/AuthenticationErrors.daml
  sdk/daml-script/test/daml/upgrades/stable/VariantChanges.daml
Owners: none

[backport] Implement hash-based authentication in the IDE ledger (#22202)
  sdk/daml-lf/ide-ledger/src/main/scala/com/digitalasset/daml/lf/script/IdeLedgerRunner.scala
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ledgerinteraction/IdeLedgerClient.scala
  sdk/daml-script/test/daml/upgrades/stable/AuthenticationErrors.daml
  sdk/daml-script/test/daml/upgrades/stable/VariantChanges.daml
Owners: none

JSON API: add lock acquisition timeout to `LockSet` (#22180)
  sdk/ledger-service/http-json/src/main/scala/com/digitalasset/http/util/LockSet.scala
  sdk/ledger-service/http-json/src/test/scala/com/digitalasset/http/util/LockSetTest.scala
Owners: none

run upgrade matrix auth test cases against the IDE ledger
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/UpgradesMatrix.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/UpgradesMatrixUnit.scala
  sdk/daml-script/test/src/main/scala/com/digitalasset/daml/lf/engine/script/test/UpgradesMatrixIT.scala
  sdk/security-evidence.md
Owners: none

bump timeout of the matrix test to 'long'
  sdk/daml-lf/engine/BUILD.bazel
Owners: none

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

sdk/bazel-java-deps.bzl @digital-asset/daml-release-owners

CODEOWNERS   @dylant-da @paulbrauner-da @remyhaemmerle-da 
/sdk/LATEST @digital-asset/daml-release-owners

# Build / CI / environment
/ci/                   @digital-asset/daml-language
/sdk/dev-env/          @digital-asset/daml-language
/sdk/nix/              @digital-asset/daml-language
azure-pipelines.yml    @digital-asset/daml-language
azure-cron.yml         @digital-asset/daml-language
sdk/release/           @digital-asset/daml-language
sdk/release.sh         @digital-asset/daml-language

# Blackduck
/sdk/NOTICES

# Compatibility test
/sdk/compatibility/     @digital-asset/daml-language @digital-asset/kv-participant

# Language
/sdk/daml-assistant/    @digital-asset/daml-language
/sdk/daml-script/       
/sdk/compiler/          @digital-asset/daml-language
/sdk/libs-haskell/      @digital-asset/daml-language
/sdk/ghc-lib/           @digital-asset/daml-language
/sdk/test-common/canton/ 

# Runtime
/sdk/daml-lf/ 


# Ecosystems
/sdk/language-support/hs/       @digital-asset/daml-language
/sdk/language-support/java/     
/sdk/language-support/scala/    
/sdk/language-support/ts/       

# Application Runtime
/sdk/ledger-service/
/sdk/runtime-components/ 

# Misc
/sdk/docs/ 
/sdk/libs-scala/

# Observability related libraries
/sdk/observability
