Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @digital-asset/empty, @bitonic, @neil-da, @hurryabit, @cbaatz-da, @garyverhaegen-da, @gerolf-da, @nicholassmith-da, @bethaitman

Removed junk in tests
  daml-foundations/daml-ghc/tests/Bad.daml
  daml-foundations/daml-ghc/tests/ide/warning_tab.daml
Owners: @digital-asset/empty

Hlint fixes
  compiler/haskell-ide-core/src/Development/IDE/State/Shake.hs
  compiler/haskell-ide-core/test/Development/Ide/Tests.hs
Owners: @digital-asset/empty

Moved GetModificationTime to fix cyclic import
  compiler/haskell-ide-core/src/Development/IDE/State/FileStore.hs
Owners: @digital-asset/empty

Keep diagnostics without filepaths
  compiler/haskell-ide-core/src/Development/IDE/Types/Diagnostics.hs
Owners: @digital-asset/empty

Add the auto method to da-ghcid
  dev-env/bin/da-ghcid
Owners: @garyverhaegen-da

Removed empty file diagnostics
  daml-foundations/daml-tools/language-server-tests/tests/diagnostics/failed-name-resolution/EXPECTED.json
  daml-foundations/daml-tools/language-server-tests/tests/diagnostics/import-cycle/EXPECTED.json
  daml-foundations/daml-tools/language-server-tests/tests/diagnostics/import-error/EXPECTED.json
  daml-foundations/daml-tools/language-server-tests/tests/diagnostics/library-modules/EXPECTED.json
  daml-foundations/daml-tools/language-server-tests/tests/diagnostics/multi-module-funny/EXPECTED.json
  daml-foundations/daml-tools/language-server-tests/tests/diagnostics/multi-module/EXPECTED.json
  daml-foundations/daml-tools/language-server-tests/tests/diagnostics/scenario-error/EXPECTED.json
  daml-foundations/daml-tools/language-server-tests/tests/diagnostics/type-error/EXPECTED.json
Owners: @digital-asset/empty

Fixed release notes
  docs/source/support/release-notes.rst
Owners: @bethaitman

added fp tests
  compiler/haskell-ide-core/BUILD.bazel
  compiler/haskell-ide-core/test/Development/Ide/Tests.hs
  daml-assistant/daml-project-config/DAML/Project/Consts.hs
Owners: @digital-asset/empty

Seperated Diagnostics
  compiler/haskell-ide-core/src/Development/IDE/State/Shake.hs
  compiler/haskell-ide-core/src/Development/IDE/Types/Diagnostics.hs
  daml-foundations/daml-ghc/tests/Bad.daml
  daml-foundations/daml-ghc/tests/ide/warning_tab.daml
Owners: @digital-asset/empty

Made the garbage collector only use paths relative to the project root
  compiler/haskell-ide-core/src/Development/IDE/State/Shake.hs
  compiler/haskell-ide-core/src/Development/IDE/Types/Diagnostics.hs
  daml-foundations/daml-ghc/ide/src/Development/IDE/State/Rules/Daml.hs
  daml-foundations/daml-ghc/test-src/DA/Test/GHC.hs
  docs/source/support/release-notes.rst
Owners: @digital-asset/empty, @bethaitman

Fix test
  compiler/haskell-ide-core/test/Development/Ide/Tests.hs
Owners: @digital-asset/empty

Make syslink resolution consistent
  daml-assistant/daml-project-config/DAML/Project/Consts.hs
Owners: @digital-asset/empty

Removed flakey test
  compiler/haskell-ide-core/test/Development/Ide/Tests.hs
Owners: @digital-asset/empty

Remove project root
  compiler/haskell-ide-core/test/Development/Ide/Tests.hs
  daml-assistant/daml-project-config/DAML/Project/Consts.hs
Owners: @digital-asset/empty

Cleanup
  compiler/haskell-ide-core/test/Development/Ide/Tests.hs
Owners: @digital-asset/empty

Seperate haskell-ide-engine tests
  compiler/haskell-ide-core/BUILD.bazel
  compiler/haskell-ide-core/test/Demo.hs
  compiler/haskell-ide-core/test/Development/Ide/Tests.hs
Owners: @digital-asset/empty

Fix filepaths
  daml-assistant/daml-project-config/DAML/Project/Consts.hs
Owners: @digital-asset/empty

Improved speed of empty tests
  daml-foundations/daml-tools/language-server-tests/src/tests/diagnostics.ts
Owners: @digital-asset/empty

Reformated bazel
  compiler/haskell-ide-core/BUILD.bazel
Owners: @digital-asset/empty

Reset LSP timeout
  daml-foundations/daml-tools/language-server-tests/src/tests/diagnostics.ts
Owners: @digital-asset/empty

Fixed demo
  compiler/haskell-ide-core/test/Demo.hs
Owners: @digital-asset/empty

Fixed an issue in the bazel build where it couldn't build the stdlib
  daml-assistant/daml-project-config/DAML/Project/Consts.hs
Owners: @digital-asset/empty

Check presence of actors for old DAML-LF versions in decoder
  daml-lf/lfpackage/src/main/scala/com/digitalasset/daml/lf/lfpackage/DecodeV1.scala
Owners: @digital-asset/empty

Use flagYesNoAuto for scenario service.
  daml-assistant/daml-helper/src/Main.hs
  daml-assistant/src/DAML/Assistant/Command.hs
  daml-foundations/daml-ghc/ghc-compiler/src/DA/Daml/GHC/Compiler/Options.hs
  daml-foundations/daml-tools/da-hs-daml-cli/DA/Cli/Damlc.hs
  daml-foundations/daml-tools/da-hs-daml-cli/DA/Cli/Options.hs
  libs-haskell/da-hs-base/src/Options/Applicative/Extended.hs
Owners: @digital-asset/empty

using valid utf characters to generate rejections
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/PostgresDaoSpec.scala
Owners: @digital-asset/empty

Display warnings in daml build. (#1375)
  daml-assistant/daml-helper/src/Main.hs
  daml-assistant/src/DAML/Assistant/Command.hs
  daml-foundations/daml-ghc/daml-compiler/src/DA/Service/Daml/Compiler/Impl/Handle.hs
  daml-foundations/daml-ghc/ghc-compiler/src/DA/Daml/GHC/Compiler/Options.hs
  daml-foundations/daml-tools/da-hs-daml-cli/DA/Cli/Damlc.hs
  daml-foundations/daml-tools/da-hs-daml-cli/DA/Cli/Options.hs
  libs-haskell/da-hs-base/src/Options/Applicative/Extended.hs
Owners: @digital-asset/empty

Update ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/PostgresDaoSpec.scala
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/PostgresDaoSpec.scala
Owners: @digital-asset/empty

Make the actors optional in DAML-LF's exercise instruction (#1377)
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Base.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Pretty.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Recursive.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/DecodeV1.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/EncodeV1.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/Simplifier.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Check.hs
  daml-foundations/daml-ghc/ghc-compiler/src/DA/Daml/GHC/Compiler/Convert.hs
  daml-lf/archive/da/daml_lf_1.proto
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/lfpackage/src/main/scala/com/digitalasset/daml/lf/lfpackage/Ast.scala
  daml-lf/lfpackage/src/main/scala/com/digitalasset/daml/lf/lfpackage/DecodeV1.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ExprParser.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/Lexer.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/Token.scala
  daml-lf/parser/src/test/scala/com/digitalasset/daml/lf/testing/parser/ParsersSpec.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/TypeSubst.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/traversable/ExprTraversable.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/traversable/TypeTraversable.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/TypingSpec.scala
Owners: @digital-asset/empty

avoid null characters to generate rejections (#1378)
  ledger/sandbox/src/test/suite/scala/com/digitalasset/platform/sandbox/stores/ledger/sql/PostgresDaoSpec.scala
Owners: @digital-asset/empty

Change damlc and daml-stdlib to use exercise without actors
  daml-foundations/daml-ghc/daml-stdlib-src/DA/Internal/Template.daml
  daml-foundations/daml-ghc/ghc-compiler/src/DA/Daml/GHC/Compiler/Convert.hs
  daml-foundations/daml-ghc/tests/ExerciseWithoutActors.daml
Owners: @digital-asset/empty

damlonx does not depend on v2 index service anymore
  ledger/api-server-damlonx/BUILD.bazel
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/services/identity/LedgerIdentityServiceImpl.scala
  ledger/sandbox/src/main/scala/com/digitalasset/ledger/server/apiserver/ApiServices.scala
Owners: @digital-asset/empty

ContractId#apply is unbounded
  language-support/scala/bindings/src/main/scala/com/digitalasset/ledger/client/binding/binding/Primitive.scala
Owners: @digital-asset/empty

leger -> ledger
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/ledger/api/validation/SubmitRequestValidatorTest.scala
Owners: @digital-asset/empty

transacion id fix
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/SandboxLedgerBackend.scala
Owners: @digital-asset/empty

Handling missing cases
  compiler/scenario-service/client/src/DA/Daml/LF/PrettyScenario.hs
Owners: @digital-asset/empty

Change damlc and daml-stdlib to use exercise without actors (#1380)
  daml-foundations/daml-ghc/daml-stdlib-src/DA/Internal/Template.daml
  daml-foundations/daml-ghc/ghc-compiler/src/DA/Daml/GHC/Compiler/Convert.hs
  daml-foundations/daml-ghc/tests/ExerciseWithoutActors.daml
Owners: @digital-asset/empty

Simple generics (#1276)
  daml-foundations/daml-ghc/daml-prim-src/GHC/Generics.daml
  daml-foundations/daml-ghc/daml-prim-src/LibraryModules.daml
  daml-foundations/daml-ghc/ghc-compiler/src/DA/Daml/GHC/Compiler/Convert.hs
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DarReaderTest.scala
Owners: @digital-asset/empty

compile Scala codegen output removing ContractId tparam constraints (#1350)
  language-support/scala/bindings/src/main/scala/com/digitalasset/ledger/client/binding/binding/Primitive.scala
  language-support/scala/bindings/src/main/scala/com/digitalasset/ledger/client/binding/binding/Value.scala
  language-support/scala/bindings/src/main/scala/com/digitalasset/ledger/client/binding/binding/encoding/LfEncodable.scala
  language-support/scala/bindings/src/main/scala/com/digitalasset/ledger/client/binding/binding/encoding/ValuePrimitiveEncoding.scala
  language-support/scala/codegen-sample-app/src/main/daml/MyMain.daml
  language-support/scala/codegen-testing/src/main/scala/com/digitalasset/ledger/client/binding/encoding/EqualityEncoding.scala
  language-support/scala/codegen-testing/src/main/scala/com/digitalasset/ledger/client/binding/encoding/GenEncoding.scala
  language-support/scala/codegen-testing/src/main/scala/com/digitalasset/ledger/client/binding/encoding/ShowEncoding.scala
  language-support/scala/codegen-testing/src/main/scala/com/digitalasset/ledger/client/binding/encoding/ShrinkEncoding.scala
  language-support/scala/codegen-testing/src/test/scala/com/digitalasset/ledger/client/binding/ValueSpec.scala
Owners: @digital-asset/empty

remove dead code in extractor
  extractor/src/main/scala/com/digitalasset/extractor/Types.scala
  extractor/src/main/scala/com/digitalasset/extractor/ledger/LedgerReader.scala
  extractor/src/main/scala/com/digitalasset/extractor/writers/PostgreSQLWriter.scala
  extractor/src/main/scala/com/digitalasset/extractor/writers/PrinterFunctionWriter.scala
  extractor/src/main/scala/com/digitalasset/extractor/writers/postgresql/MultiTableDataFormat.scala
Owners: @digital-asset/empty

remove dead code in extractor (#1382)
  extractor/src/main/scala/com/digitalasset/extractor/Types.scala
  extractor/src/main/scala/com/digitalasset/extractor/ledger/LedgerReader.scala
  extractor/src/main/scala/com/digitalasset/extractor/writers/PostgreSQLWriter.scala
  extractor/src/main/scala/com/digitalasset/extractor/writers/PrinterFunctionWriter.scala
  extractor/src/main/scala/com/digitalasset/extractor/writers/postgresql/MultiTableDataFormat.scala
Owners: @digital-asset/empty

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

*           @digital-asset/empty
CODEOWNERS  @bitonic @neil-da @hurryabit @cbaatz-da
VERSION     @digital-asset/empty

# Build / CI / environment
/3rdparty/          @digital-asset/empty
/bazel_tools/       @digital-asset/empty
/build-scripts/     @digital-asset/empty
/ci/                @garyverhaegen-da
/dev-env/           @garyverhaegen-da
/dotfiles/          @digital-asset/empty
/hazel/             @digital-asset/empty
/nix/               @garyverhaegen-da
/infra/             @garyverhaegen-da
/rattle/            @digital-asset/empty
/replacements/      @digital-asset/empty
/rules_daml/        @digital-asset/empty
BAZEL-JVM.md        @digital-asset/empty
BAZEL-haskell.md    @digital-asset/empty
BAZEL.md            @digital-asset/empty
BUILD               @digital-asset/empty
WORKSPACE           @digital-asset/empty
azure-pipelines.yml @garyverhaegen-da
azure-cron.yml      @garyverhaegen-da
build.ps1           @digital-asset/empty
build.sh            @digital-asset/empty
deps.bzl            @digital-asset/empty

# Language
/compiler/          @digital-asset/empty
/daml-foundations/  @digital-asset/empty
/libs-haskell/      @digital-asset/empty
/ghc-lib/           @digital-asset/empty

# SDK
/release/           @digital-asset/empty
/sdk/               @digital-asset/empty
/da-assistant/      @digital-asset/empty
/daml-assistant/    @digital-asset/empty
/templates/         @digital-asset/empty

# Runtime
/daml-lf/           @digital-asset/empty
/ledger/            @digital-asset/empty
/ledger-api/        @digital-asset/empty

# Ecosystems
/language-support/          @digital-asset/empty
/language-support/java/     @digital-asset/empty @gerolf-da @nicholassmith-da
/language-support/js/       @digital-asset/empty
/language-support/scala/    @digital-asset/empty
/scala-protoc-plugins/      @digital-asset/empty

# Tools
/extractor/         @digital-asset/empty
/navigator/         @digital-asset/empty
/web-ide/           @digital-asset/empty

# Misc
/docs/              @bethaitman
/notices-gen/       @digital-asset/empty
/oss-compliance/    @digital-asset/empty

CHANGELOG           @digital-asset/empty
CODE_OF_CONDUCT.md  @digital-asset/empty
CONTRIBUTING.md     @digital-asset/empty
COPY                @digital-asset/empty
LICENSE             @digital-asset/empty
NOTICES             @digital-asset/empty
README.md           @digital-asset/empty
daml-logo.png       @digital-asset/empty
