Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @gerolf-da, @cocreature, @bame-da, @garyverhaegen-da, @aherrmann-da, @dasormeter, @sofiafaro-da, @stefanobaghino-da, @remyhaemmerle-da, @S11001001, @miklos-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da, @fabiotudone-da, @SamirTalwar-DA, @nickchapman-da, @robin-da, @nemanja-da

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

CODEOWNERS   @gerolf-da @cocreature
LATEST       @gerolf-da @bame-da @cocreature

# Build / CI / environment
/ci/                @garyverhaegen-da
/dev-env/           @garyverhaegen-da
/nix/               @garyverhaegen-da
/infra/             @garyverhaegen-da
azure-pipelines.yml @garyverhaegen-da
azure-cron.yml      @garyverhaegen-da

# Blackduck
NOTICES     @garyverhaegen-da @aherrmann-da @cocreature @dasormeter

# Language
/compiler/           @cocreature
/libs-haskell/       @cocreature
/daml-assistant/    @sofiafaro-da  @cocreature
/daml-script/       @cocreature  @aherrmann-da @stefanobaghino-da
/triggers/          @cocreature  @aherrmann-da @stefanobaghino-da
/ghc-lib/           @cocreature
/compatibility/     @garyverhaegen-da @aherrmann-da @cocreature

# Runtime
/daml-lf/ @remyhaemmerle-da
/daml-lf/archive/da/ @cocreature
/daml-lf/data-scalacheck/ @S11001001 @cocreature
/daml-lf/engine/ @cocreature
/daml-lf/governance.rst
/daml-lf/interpreter/ @cocreature
/daml-lf/kv-transaction-support/ @cocreature @gerolf-da @miklos-da
/daml-lf/repl/ @cocreature
/daml-lf/scenario-interpreter/  @cocreature
/daml-lf/spec/daml-lf-1.rst @cocreature
/daml-lf/spec/transaction.rst @cocreature
/daml-lf/spec/value.rst @cocreature
/daml-lf/transaction-test-lib/ @S11001001 @cocreature
/daml-lf/transaction/src/main/scala/com/daml/lf/transaction/ @cocreature
/daml-lf/transaction/src/main/scala/com/daml/lf/value/ @cocreature
/daml-lf/validation/ @cocreature

/ledger-service/    @S11001001 @cocreature @stefanobaghino-da

/ledger/      @gerolf-da @mziolekda @nmarton-da @rautenrieth-da @tudor-da
/ledger-api/  @gerolf-da @mziolekda @nmarton-da @rautenrieth-da @tudor-da

/ledger/participant-state/kvutils/ @fabiotudone-da @gerolf-da @miklos-da @SamirTalwar-DA

/runtime-components/    @stefanobaghino-da @cocreature

# Ecosystems
/language-support/hs/       @nickchapman-da
/language-support/java/     @cocreature @stefanobaghino-da
/language-support/scala/    @S11001001 @cocreature @stefanobaghino-da
/language-support/ts/        @robin-da @cocreature @garyverhaegen-da @stefanobaghino-da

# Tools
/extractor/         @S11001001 @stefanobaghino-da
/navigator/         @cocreature @stefanobaghino-da
/navigator/backend/src/main/scala/com/digitalasset/navigator/json/    @S11001001

# Misc
/docs/              @bame-da @nemanja-da
/libs-scala/        @stefanobaghino-da @SamirTalwar-DA
/libs-scala/contextualized-logging/    @S11001001
/libs-scala/scala-utils/    @S11001001
/libs-scala/scalatest-utils/    @S11001001

dev-env: Document `nix-direnv`.
  README.md
Owners: none

dev-env: Make load.sh work from anywhere.
  dev-env/load.sh
Owners: @garyverhaegen-da

CI: Load Nix before running fmt.sh.
  ci/build-unix.yml
Owners: @garyverhaegen-da

dev-env: Do not load dev-env twice with load.sh.
  .envrc
  dev-env/load.sh
Owners: @garyverhaegen-da

dev-env: Run `ensure-nix` as part of `load.sh`.
  dev-env/load.sh
Owners: @garyverhaegen-da

remove unhelpful create/ensure tests
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ReinterpretTest.scala
  daml-lf/tests/ReinterpretTests.daml
Owners: @cocreature, @remyhaemmerle-da

Run scenarios in off-ledger machine (#10070)
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/ScenarioServiceMain.scala
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Context.scala
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/interpreter/BUILD.bazel
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ExceptionTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinBigNumericTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/svalue/OrderingSpec.scala
  daml-lf/repl/src/main/scala/com/digitalasset/daml/lf/repl/testing/Main.scala
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ScenarioRunner.scala
  daml-lf/scenario-interpreter/src/perf/benches/scala/com/digitalasset/daml/lf/speedy/perf/CollectAuthority.scala
  daml-lf/scenario-interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ScenarioRunnerTest.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ScriptF.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ledgerinteraction/GrpcLedgerClient.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ledgerinteraction/IdeLedgerClient.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ledgerinteraction/JsonLedgerClient.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ledgerinteraction/ScriptLedgerClient.scala
Owners: @cocreature, @aherrmann-da, @stefanobaghino-da

Speedy: Refactor contract Id/Key callback
  compiler/damlc/tests/daml-test-files/ContractKeyNotEffective.daml
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/interpreter/BUILD.bazel
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SResult.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ScenarioRunner.scala
  daml-lf/scenario-interpreter/src/perf/benches/scala/com/digitalasset/daml/lf/speedy/perf/CollectAuthority.scala
Owners: @cocreature

test that reinterpretation of an uncatchable error remains a failure
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ReinterpretTest.scala
  daml-lf/tests/ReinterpretTests.daml
Owners: @cocreature, @remyhaemmerle-da

Log context of all updates written to the database (#10057)
  ledger/participant-integration-api/src/main/scala/platform/indexer/ExecuteUpdate.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/JdbcLedgerDao.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/Update.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Upgrade canton to 0.25.0 based on daml 1.14.0
  deps.bzl
Owners: none

Upgrade canton to 0.25.0 based on daml 1.14.0 (#10074)
  deps.bzl
Owners: none

[JSON-API] Add metrics for ledger command submission timing
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da, @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Fix --max-inbound-message-size flag in Daml Repl
  compiler/damlc/tests/ReplTest.daml
  compiler/damlc/tests/src/DA/Test/Repl.hs
  compiler/repl-service/client/src/DA/Daml/LF/ReplClient.hs
Owners: @cocreature

Backport "Adds Indexer state to GRPC health checks" to 1.14 [DPP-450] (#10063)
  ledger/participant-integration-api/src/main/scala/platform/indexer/RecoveringIndexer.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/StandaloneIndexerServer.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/indexer/RecoveringIndexerSpec.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Runner.scala
  ledger/sandbox/src/main/scala/platform/sandboxnext/Runner.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da, @fabiotudone-da, @miklos-da, @SamirTalwar-DA

Simplify speedy benchmark
  azure-pipelines.yml
  ci/cron/daily-compat.yml
  ci/cron/perf/BazelExclusiveSandboxing.patch
  ci/cron/perf/CollectAuthority.scala.patch
  ci/cron/perf/bench.sh
  ci/cron/perf/compare.sh
  ci/cron/perf/test_sha
Owners: @garyverhaegen-da

Speedy: Refactor contract Id/Key callback (#10033)
  compiler/damlc/tests/daml-test-files/ContractKeyNotEffective.daml
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/interpreter/BUILD.bazel
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SResult.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ScenarioRunner.scala
  daml-lf/scenario-interpreter/src/perf/benches/scala/com/digitalasset/daml/lf/speedy/perf/CollectAuthority.scala
Owners: @cocreature

CI: Build and push the developer environment in a separate job.
  ci/build-unix.yml
  ci/build.yml
Owners: @garyverhaegen-da

Simplify speedy benchmark (#10079)
  azure-pipelines.yml
  ci/cron/daily-compat.yml
  ci/cron/perf/BazelExclusiveSandboxing.patch
  ci/cron/perf/CollectAuthority.scala.patch
  ci/cron/perf/bench.sh
  ci/cron/perf/compare.sh
  ci/cron/perf/test_sha
Owners: @garyverhaegen-da

CI: Add our Bazel script to the CI cache.
  nix/default.nix
Owners: @garyverhaegen-da

CHANGELOG_BEGIN Log ledger api validation failures at info level CHANGELOG_END
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/ValidationLogger.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/services/grpc/GrpcCommandCompletionService.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/services/grpc/GrpcCommandService.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/services/grpc/GrpcCommandSubmissionService.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/services/grpc/GrpcTransactionService.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/validation/ActiveContractsServiceValidation.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/validation/CommandCompletionServiceValidation.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/validation/LedgerConfigurationServiceValidation.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/validation/PackageServiceValidation.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiActiveContractsService.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

[JSON-API] Add metrics for ledger command submission timing (#10076)
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da, @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

define query offset semantics solely in terms of #9847 per-query offsets (#10071)
  docs/source/json-api/index.rst
Owners: @bame-da, @nemanja-da

log validation failures in Api*Service family of classes
  ledger/ledger-api-common/BUILD.bazel
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/ValidationLogger.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiActiveContractsService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiPackageService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiTimeService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/admin/ApiConfigManagementService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/admin/ApiPackageManagementService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/admin/ApiParticipantPruningService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/admin/ApiPartyManagementService.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Update ci/build.yml
  ci/build.yml
Owners: @garyverhaegen-da

Total count metric exposed
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/LedgerApiBenchTool.scala
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/metrics/MetricsSet.scala
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/metrics/TotalCountMetric.scala
  ledger/ledger-api-bench-tool/src/test/suite/scala/com/daml/ledger/api/benchtool/metrics/TotalCountMetricSpec.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Re-enabled unit tests
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/metrics/MetricsSet.scala
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/metrics/TotalCountMetric.scala
  ledger/ledger-api-bench-tool/src/test/suite/scala/com/daml/ledger/api/benchtool/metrics/TotalCountMetricSpec.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Add missing indices for index initialization
  ledger/participant-integration-api/src/main/resources/db/migration/postgres-appendonly/V102__add_initialization_indices.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/postgres-appendonly/V102__add_initialization_indices.sql
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Remove duplicate index
  ledger/participant-integration-api/src/main/resources/db/migration/postgres-appendonly/V103__remove_duplicate_index.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/postgres-appendonly/V103__remove_duplicate_index.sql
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

release 1.15.0-snapshot.20210622.7213.0.d867d904
  LATEST
Owners: @gerolf-da, @bame-da, @cocreature

rotate release duty after 1.15.0-snapshot.20210622.7213.0.d867d904
  release/rotation
Owners: none

dev-env: Replace `gpg` and `make` with symlinks.
  dev-env/bin/gpg
  dev-env/bin/make
Owners: @garyverhaegen-da

dev-env: Remove sphinx-autobuild. It's brought in by pipenv.
  dev-env/bin/sphinx-autobuild
  nix/default.nix
Owners: @garyverhaegen-da

dev-env: Remove Python 3.6 references. They seem to be unused.
  dev-env/bin/pip3.6
  dev-env/bin/python3.6
Owners: @garyverhaegen-da

Fix --max-inbound-message-size flag in Daml Repl (#10078)
  compiler/damlc/tests/ReplTest.daml
  compiler/damlc/tests/src/DA/Test/Repl.hs
  compiler/repl-service/client/src/DA/Daml/LF/ReplClient.hs
Owners: @cocreature

test that rollback-version-check-error remains a failure for reinterpretation
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ReinterpretTest.scala
  daml-lf/tests/BUILD.bazel
  daml-lf/tests/reinterpret/AtVersion13.daml
  daml-lf/tests/reinterpret/AtVersion14.daml
  daml-lf/tests/reinterpret/daml.yaml
  daml-lf/tests/reinterpret/daml/ReinterpretTests.daml
Owners: @cocreature, @remyhaemmerle-da

dev-env: Remove some unused stuff. (#10087)
  dev-env/bin/gpg
  dev-env/bin/make
  dev-env/bin/pip3.6
  dev-env/bin/python3.6
  dev-env/bin/sphinx-autobuild
  nix/default.nix
Owners: @garyverhaegen-da

Introduce shell.nix to expose the Nix tooling, if required.
  nix/default.nix
  shell.nix
Owners: @garyverhaegen-da

dev-env: Rewrite the ghcide script to use nix-shell.
  dev-env/bin/ghcide
Owners: @garyverhaegen-da

language-support/hs: Use `nix-shell` for export-package.sh.
  language-support/hs/bindings/README.md
  language-support/hs/bindings/export-package.sh
  language-support/hs/bindings/package.yaml
Owners: @nickchapman-da
