Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @gerolf-da, @cocreature, @bame-da, @garyverhaegen-da, @aherrmann-da, @dasormeter, @sofiafaro-da, @stefanobaghino-da, @remyhaemmerle-da, @S11001001, @miklos-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da, @fabiotudone-da, @SamirTalwar-DA, @nickchapman-da, @robin-da, @nemanja-da

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

CODEOWNERS   @gerolf-da @cocreature
LATEST       @gerolf-da @bame-da @cocreature

# Build / CI / environment
/ci/                @garyverhaegen-da
/dev-env/           @garyverhaegen-da
/nix/               @garyverhaegen-da
/infra/             @garyverhaegen-da
azure-pipelines.yml @garyverhaegen-da
azure-cron.yml      @garyverhaegen-da

# Blackduck
NOTICES     @garyverhaegen-da @aherrmann-da @cocreature @dasormeter

# Language
/compiler/           @cocreature
/libs-haskell/       @cocreature
/daml-assistant/    @sofiafaro-da  @cocreature
/daml-script/       @cocreature  @aherrmann-da @stefanobaghino-da
/triggers/          @cocreature  @aherrmann-da @stefanobaghino-da
/ghc-lib/           @cocreature
/compatibility/     @garyverhaegen-da @aherrmann-da @cocreature

# Runtime
/daml-lf/ @remyhaemmerle-da
/daml-lf/archive/da/ @cocreature
/daml-lf/data-scalacheck/ @S11001001 @cocreature
/daml-lf/engine/ @cocreature
/daml-lf/governance.rst
/daml-lf/interpreter/ @cocreature
/daml-lf/kv-transaction-support/ @cocreature @gerolf-da @miklos-da
/daml-lf/repl/ @cocreature
/daml-lf/scenario-interpreter/  @cocreature
/daml-lf/spec/daml-lf-1.rst @cocreature
/daml-lf/spec/transaction.rst @cocreature
/daml-lf/spec/value.rst @cocreature
/daml-lf/transaction-test-lib/ @S11001001 @cocreature
/daml-lf/transaction/src/main/scala/com/daml/lf/transaction/ @cocreature
/daml-lf/transaction/src/main/scala/com/daml/lf/value/ @cocreature
/daml-lf/validation/ @cocreature

/ledger-service/    @S11001001 @cocreature @stefanobaghino-da

/ledger/      @gerolf-da @mziolekda @nmarton-da @rautenrieth-da @tudor-da
/ledger-api/  @gerolf-da @mziolekda @nmarton-da @rautenrieth-da @tudor-da

/ledger/participant-state/kvutils/ @fabiotudone-da @gerolf-da @miklos-da @SamirTalwar-DA

/runtime-components/    @stefanobaghino-da @cocreature

# Ecosystems
/language-support/hs/       @nickchapman-da
/language-support/java/     @cocreature @stefanobaghino-da
/language-support/scala/    @S11001001 @cocreature @stefanobaghino-da
/language-support/ts/        @robin-da @cocreature @garyverhaegen-da @stefanobaghino-da

# Tools
/extractor/         @S11001001 @stefanobaghino-da
/navigator/         @cocreature @stefanobaghino-da
/navigator/backend/src/main/scala/com/digitalasset/navigator/json/    @S11001001

# Misc
/docs/              @bame-da @nemanja-da
/libs-scala/        @stefanobaghino-da @SamirTalwar-DA
/libs-scala/contextualized-logging/    @S11001001
/libs-scala/scala-utils/    @S11001001
/libs-scala/scalatest-utils/    @S11001001

Add generic JDBC batch execution
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/Table.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Move code to common (preparation for JDBC batch execution)
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/Field.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/Schema.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/Table.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PGField.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PGSchema.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PGTable.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PostgresStorageBackend.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Add generic JDBC batch deletion and some more generic Field-s
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/Field.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/Schema.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/Table.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Seal access to Schema internals
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/Field.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/Schema.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/Table.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PGTable.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Address https://github.com/digital-asset/daml/pull/9847#discussion_r651949821
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

Address https://github.com/digital-asset/daml/pull/9847#discussion_r651943962
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

cometic
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Error.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/CommandPreprocessor.scala
Owners: @cocreature

Update ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

Update ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

Revert changes to make the function generic
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

Update ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

Reduce code duplication in Endpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

Apply review suggestion
  ledger-service/http-json/src/main/scala/com/digitalasset/http/CommandService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/domain.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/DomainSpec.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

Add information from the jwtpayload to the logging context
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

Update test name to reflect field name changes
  ledger-service/http-json/src/test/scala/com/digitalasset/http/DomainSpec.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

Create JwtPayloadG trait from which both payload variants inherit
  ledger-service/http-json/src/main/scala/com/digitalasset/http/domain.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

Log context of all updates written to the database (#10012)
  ledger/participant-integration-api/src/main/scala/platform/indexer/ExecuteUpdate.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/parallel/ParallelIndexerFactory.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/JdbcLedgerDao.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/JdbcLedgerDao.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/Update.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

[JSON-API] Add information from the jwtpayload to the logging context (#9995)
  ledger-service/http-json/src/main/scala/com/digitalasset/http/CommandService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/domain.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/DomainSpec.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

Revert "release 1.14.0-snapshot.20210615.7169.0.adeba206 (#10018)"
  LATEST
Owners: @gerolf-da, @bame-da, @cocreature

Revert "release 1.14.0-snapshot.20210615.7169.0.adeba206 (#10018)" (#10023)
  LATEST
Owners: @gerolf-da, @bame-da, @cocreature

release 1.15.0-snapshot.20210615.7169.0.adeba206
  LATEST
Owners: @gerolf-da, @bame-da, @cocreature

update compat versions for 1.14.0-snapshot.20210615.7169.0.adeba206
  compatibility/versions.bzl
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature

Force css-what resolution in compiler/daml-extension & fully regenerate the lock file
  compiler/daml-extension/package.json
  compiler/daml-extension/yarn.lock
Owners: @cocreature

Address https://github.com/digital-asset/daml/pull/9847#discussion_r652492756
  ledger-service/http-json/src/itlib/scala/http/AbstractWebsocketServiceIntegrationTest.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

DPP-394 h2 support for append only schema (#10009)
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/Field.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/Schema.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/Table.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PGField.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PGSchema.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PGTable.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PostgresDbBatch.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PostgresStorageBackend.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Preparation: pull up initialisation
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/CommonStorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PostgresStorageBackend.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Preparation: introduce partyArrayContext for more flexibility
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/TemplatedStorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PostgresStorageBackend.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Don't force resolution as it's unecessary
  compiler/daml-extension/package.json
Owners: @cocreature

Force css-what resolution in compiler/daml-extension & fully regenera… (#10025)
  compiler/daml-extension/yarn.lock
Owners: @cocreature

Upgrade to akka 2.6.15
  bazel-java-deps.bzl
  maven_install_2.12.json
  maven_install_2.13.json
Owners: none

[DOCS] Let jwt.io link to an already filled in working payload
  docs/source/json-api/index.rst
Owners: @bame-da, @nemanja-da

removing unnecessary thrown exception CHANGELOG_BEGIN CHANGELOG_END
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/SqlFunctions.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

release 1.15.0-snapshot.20210615.7169.0.adeba206 (#10022)
  LATEST
Owners: @gerolf-da, @bame-da, @cocreature

switching to camel case for constants CHANGELOG_BEGIN CHANGELOG_END
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/SqlFunctions.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Log context of all updates written to the database (#10010)
  ledger/participant-integration-api/src/main/scala/platform/indexer/parallel/ParallelIndexerFactory.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/JdbcLedgerDao.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/JdbcLedgerDao.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/Update.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

update compat versions for 1.15.0-snapshot.20210615.7169.0.adeba206
  compatibility/versions.bzl
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature

Address https://github.com/digital-asset/daml/pull/9847#discussion_r652537652
  ledger-service/http-json/src/itlib/scala/http/AbstractWebsocketServiceIntegrationTest.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

run format CHANGELOG_BEGIN CHANGELOG_END
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/SqlFunctions.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Preparation: add append-only-from-scratch feature to FlywayMigrations
  ledger/participant-integration-api/src/main/scala/platform/store/FlywayMigrations.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Add squashed Flyway migration for append-only H2
  ledger/participant-integration-api/src/main/resources/db/migration/h2database-appendonly/V1__Append_only_schema.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/h2database-appendonly/V1__Append_only_schema.sql
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da
