Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @digital-asset/empty, @bitonic, @neil-da, @hurryabit, @cbaatz-da, @garyverhaegen-da, @gerolf-da, @nicholassmith-da, @bethaitman

typos
  daml-lf/spec/daml-lf-1.rst
Owners: @digital-asset/empty

description of FROM_TEXT_INT64 & FROM_TEXT_DECIMAL
  daml-lf/spec/daml-lf-1.rst
Owners: @digital-asset/empty

amend version history
  daml-lf/spec/daml-lf-1.rst
Owners: @digital-asset/empty

Fix markup in DAML-LF spec
  daml-lf/spec/daml-lf-1.rst
Owners: @digital-asset/empty

Add release notes
  docs/source/support/release-notes.rst
Owners: @bethaitman

Freeze DAML-LF 1.dev into DAML-LF 1.5 (#1408)
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  daml-foundations/daml-ghc/package-database/BUILD.bazel
  daml-lf/archive/da/daml_lf_1.proto
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/LanguageMajorVersion.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineInfoTest.scala
  daml-lf/lfpackage/src/main/scala/com/digitalasset/daml/lf/lfpackage/DecodeV1.scala
  daml-lf/spec/daml-lf-1.rst
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/VersionTimeline.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Serializability.scala
  daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/SerializabilitySpec.scala
  docs/source/support/release-notes.rst
Owners: @digital-asset/empty, @bethaitman

Back parseInt/parseDecimal by DAML-LF primitives when available
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  daml-foundations/daml-ghc/daml-stdlib-src/DA/Text.daml
  daml-foundations/daml-ghc/ghc-compiler/src/DA/Daml/GHC/Compiler/Primitives.hs
Owners: @digital-asset/empty

Allow leading plus sign in parseInt/parseDecimal
  daml-foundations/daml-ghc/daml-stdlib-src/DA/Text.daml
  daml-foundations/daml-ghc/tests/Text.daml
Owners: @digital-asset/empty

Update release notes
  docs/source/support/release-notes.rst
Owners: @bethaitman

Allow leading plus in parseDecimal as well
  daml-foundations/daml-ghc/daml-stdlib-src/DA/Text.daml
Owners: @digital-asset/empty

Generic templates: support ensure and agreement clauses (#1411)
  daml-foundations/daml-ghc/ghc-compiler/src/DA/Daml/GHC/Compiler/Convert.hs
  daml-foundations/daml-ghc/tests/GenericTemplates.daml
  daml-foundations/daml-ghc/tests/IouDSL.daml
  daml-foundations/daml-ghc/tests/ProposalDSL.daml
Owners: @digital-asset/empty

Allow leading plus sign in parseInt/parseDecimal (#1416)
  daml-foundations/daml-ghc/daml-stdlib-src/DA/Text.daml
  daml-foundations/daml-ghc/tests/Text.daml
  docs/source/support/release-notes.rst
Owners: @digital-asset/empty, @bethaitman

Back parseInt/parseDecimal by DAML-LF primitives when available
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  daml-foundations/daml-ghc/daml-stdlib-src/DA/Text.daml
  daml-foundations/daml-ghc/ghc-compiler/src/DA/Daml/GHC/Compiler/Primitives.hs
Owners: @digital-asset/empty

Fix DAML-LF decoder (Scala)
  daml-lf/lfpackage/src/main/scala/com/digitalasset/daml/lf/lfpackage/DecodeV1.scala
Owners: @digital-asset/empty

Back parseInt/parseDecimal by DAML-LF primitives when available (#1415)
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  daml-foundations/daml-ghc/daml-stdlib-src/DA/Text.daml
  daml-foundations/daml-ghc/ghc-compiler/src/DA/Daml/GHC/Compiler/Primitives.hs
  daml-lf/lfpackage/src/main/scala/com/digitalasset/daml/lf/lfpackage/DecodeV1.scala
Owners: @digital-asset/empty

integration-test: Make semantic testing runs independent.
  ledger/ledger-api-integration-tests/src/test/semanticsuite/scala/com/digitalasset/platform/semantictest/SandboxSemanticTestsLfRunner.scala
Owners: @digital-asset/empty

Make sure akka threads are terminated at end of test runs.
  ledger-api/testing-utils/src/main/scala/com/digitalasset/ledger/api/testing/utils/AkkaBeforeAndAfterAll.scala
Owners: @digital-asset/empty

ledger-api-test-tool: Drop reset functionality.
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/Cli.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/Config.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/LedgerApiTestTool.scala
Owners: @digital-asset/empty

Add RemoteApiProxy fixture type.
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/PlatformApplications.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/LedgerFactories.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/MultiLedgerFixture.scala
  ledger/test-common/src/main/scala/com.digitalasset.platform.testing/LedgerBackend.scala
Owners: @digital-asset/empty

ledger-api-test-tool: Unify test code using scenario runner with IT suite.
  ledger-api/testing-utils/src/main/scala/com/digitalasset/ledger/api/testing/utils/AkkaBeforeAndAfterAll.scala
  ledger/ledger-api-integration-tests/BUILD.bazel
  ledger/ledger-api-integration-tests/src/test/semanticsuite/scala/com/digitalasset/platform/semantictest/SandboxSemanticTestsLfRunner.scala
  ledger/ledger-api-test-tool/BUILD.bazel
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/LedgerApiTestTool.scala
Owners: @digital-asset/empty

Review fixes.
  ledger/ledger-api-integration-tests/BUILD.bazel
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/PlatformApplications.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/RemoteServerResource.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/SandboxServerResource.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/LedgerApiTestTool.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/services/SandboxServerResource.scala
Owners: @digital-asset/empty

Ledger API Test Tool: Provide logback config.
  ledger/ledger-api-test-tool/BUILD.bazel
  ledger/ledger-api-test-tool/src/main/resources/logback.xml
Owners: @digital-asset/empty

integration-tests: Fail if the server under fixture is stuck.
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/RemoteServerResource.scala
Owners: @digital-asset/empty

Add Apache commons-lang3.
  3rdparty/dependencies.digest
  3rdparty/jvm/org/apache/commons/BUILD
  3rdparty/workspace.bzl
  dependencies.yaml
Owners: @digital-asset/empty

Use Ledger API Test Tool in tests of reference server.
  ledger/api-server-damlonx/reference/BUILD.bazel
  ledger/ledger-api-test-tool/BUILD.bazel
Owners: @digital-asset/empty

dade-copyright-headers: return success on successful reformatting.
  dev-env/bin/dade-copyright-headers
Owners: @garyverhaegen-da

Ledger API Test Tool: Implement custom test reporter.
  ledger/ledger-api-test-tool/BUILD.bazel
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/LedgerApiTestTool.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/ToolReporter.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/ToolSorter.scala
Owners: @digital-asset/empty

Add back the Java codegen integration tests for DAML-LF 1.0
  language-support/java/codegen/BUILD.bazel
  language-support/java/codegen/src/it/dar/integration-tests-model-1.0.dar
Owners: @digital-asset/empty, @gerolf-da, @nicholassmith-da

Separate damlc test-files from damlc test
  daml-assistant/daml-helper/src/DamlHelper.hs
  daml-assistant/daml-project-config/DAML/Project/Consts.hs
  daml-foundations/daml-tools/da-hs-daml-cli/DA/Cli/Damlc.hs
  daml-foundations/daml-tools/da-hs-daml-cli/DA/Cli/Options.hs
  release/sdk-config.yaml.tmpl
Owners: @digital-asset/empty

Add test case for damlc test-files
  daml-assistant/integration-tests/src/Main.hs
Owners: @digital-asset/empty

Fix rules_daml/daml.bzl daml_test
  rules_daml/daml.bzl
Owners: @digital-asset/empty

Unify semantic test between sandbox IT and Ledger API Test Tool (#1171)
  3rdparty/dependencies.digest
  3rdparty/jvm/org/apache/commons/BUILD
  3rdparty/workspace.bzl
  dependencies.yaml
  dev-env/bin/dade-copyright-headers
  ledger-api/testing-utils/src/main/scala/com/digitalasset/ledger/api/testing/utils/AkkaBeforeAndAfterAll.scala
  ledger/api-server-damlonx/reference/BUILD.bazel
  ledger/ledger-api-integration-tests/BUILD.bazel
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/PlatformApplications.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/LedgerFactories.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/MultiLedgerFixture.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/RemoteServerResource.scala
  ledger/ledger-api-integration-tests/src/test/lib/scala/com/digitalasset/platform/apitesting/SandboxServerResource.scala
  ledger/ledger-api-integration-tests/src/test/semanticsuite/scala/com/digitalasset/platform/semantictest/SandboxSemanticTestsLfRunner.scala
  ledger/ledger-api-test-tool/BUILD.bazel
  ledger/ledger-api-test-tool/src/main/resources/logback.xml
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/Cli.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/Config.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/LedgerApiTestTool.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/ToolReporter.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/ToolSorter.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/services/SandboxServerResource.scala
  ledger/test-common/src/main/scala/com.digitalasset.platform.testing/LedgerBackend.scala
Owners: @digital-asset/empty, @garyverhaegen-da

SandboxSubmissionService defined in terms of ContractStore and WriteService
  ledger/backend-api/src/main/scala/com/digitalasset/ledger/backend/api/v1/LedgerBackend.scala
  ledger/backend-api/src/main/scala/com/digitalasset/ledger/backend/api/v1/SubmissionHandle.scala
  ledger/participant-state-index/src/main/scala/com/daml/ledger/participant/state/index/v2/ContractStore.scala
  ledger/sandbox/src/main/scala/com/digitalasset/ledger/server/apiserver/ApiServices.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/SandboxSubmissionService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/SandboxContractStore.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/SandboxLedgerBackend.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/TestHelpers.scala
Owners: @digital-asset/empty

SandboxSubmissionService defined in terms of ContractStore and WriteService (#1419)
  ledger/backend-api/src/main/scala/com/digitalasset/ledger/backend/api/v1/LedgerBackend.scala
  ledger/backend-api/src/main/scala/com/digitalasset/ledger/backend/api/v1/SubmissionHandle.scala
  ledger/participant-state-index/src/main/scala/com/daml/ledger/participant/state/index/v2/ContractStore.scala
  ledger/sandbox/src/main/scala/com/digitalasset/ledger/server/apiserver/ApiServices.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/SandboxSubmissionService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/SandboxContractStore.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/SandboxLedgerBackend.scala
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/TestHelpers.scala
Owners: @digital-asset/empty

Release SDK 0.12.21
  VERSION
  docs/source/support/release-notes.rst
Owners: @digital-asset/empty, @bethaitman

Add back the Java codegen integration tests for DAML-LF 1.0 (#1418)
  language-support/java/codegen/BUILD.bazel
  language-support/java/codegen/src/it/dar/integration-tests-model-1.0.dar
Owners: @digital-asset/empty, @gerolf-da, @nicholassmith-da

Remove ghci[d].sh
  daml-assistant/ghci.sh
  daml-assistant/ghcid.sh
Owners: @digital-asset/empty

Add a nice error message on windows for install --force
  daml-assistant/src/DAML/Assistant/Install.hs
Owners: @digital-asset/empty

Release SDK 0.12.21 (#1420)
  VERSION
  docs/source/support/release-notes.rst
Owners: @digital-asset/empty, @bethaitman

Separate diagnostics from rule results
  WORKSPACE
  compiler/haskell-ide-core/BUILD.bazel
  compiler/haskell-ide-core/src/Development/IDE/State/FileStore.hs
  compiler/haskell-ide-core/src/Development/IDE/State/Shake.hs
  compiler/haskell-ide-core/src/Development/IDE/Types/Diagnostics.hs
  daml-foundations/daml-ghc/ide/test/Development/IDE/State/API/Testing.hs
  daml-foundations/daml-ghc/test-src/DA/Test/GHC.hs
  daml-foundations/daml-tools/language-server-tests/src/tests/issue-reports.ts
  daml-foundations/daml-tools/language-server-tests/tests/diagnostics/failed-name-resolution/EXPECTED.json
  daml-foundations/daml-tools/language-server-tests/tests/diagnostics/import-cycle/EXPECTED.json
  daml-foundations/daml-tools/language-server-tests/tests/diagnostics/import-error/EXPECTED.json
  daml-foundations/daml-tools/language-server-tests/tests/diagnostics/library-modules/EXPECTED.json
  daml-foundations/daml-tools/language-server-tests/tests/diagnostics/library-modules/Extra.daml
  daml-foundations/daml-tools/language-server-tests/tests/diagnostics/library-modules/LibraryModules.daml
  daml-foundations/daml-tools/language-server-tests/tests/diagnostics/library-modules/Main.daml
  daml-foundations/daml-tools/language-server-tests/tests/diagnostics/multi-module-funny/EXPECTED.json
  daml-foundations/daml-tools/language-server-tests/tests/diagnostics/multi-module/EXPECTED.json
  daml-foundations/daml-tools/language-server-tests/tests/diagnostics/multi-module/Libs/A.daml
  daml-foundations/daml-tools/language-server-tests/tests/diagnostics/multi-module/Libs/B.daml
  daml-foundations/daml-tools/language-server-tests/tests/diagnostics/multi-module/Main.daml
  daml-foundations/daml-tools/language-server-tests/tests/diagnostics/scenario-error/EXPECTED.json
  daml-foundations/daml-tools/language-server-tests/tests/diagnostics/type-error/EXPECTED.json
  docs/source/support/release-notes.rst
Owners: @digital-asset/empty, @bethaitman

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

*           @digital-asset/empty
CODEOWNERS  @bitonic @neil-da @hurryabit @cbaatz-da
VERSION     @digital-asset/empty

# Build / CI / environment
/3rdparty/          @digital-asset/empty
/bazel_tools/       @digital-asset/empty
/build-scripts/     @digital-asset/empty
/ci/                @garyverhaegen-da
/dev-env/           @garyverhaegen-da
/dotfiles/          @digital-asset/empty
/hazel/             @digital-asset/empty
/nix/               @garyverhaegen-da
/infra/             @garyverhaegen-da
/rattle/            @digital-asset/empty
/replacements/      @digital-asset/empty
/rules_daml/        @digital-asset/empty
BAZEL-JVM.md        @digital-asset/empty
BAZEL-haskell.md    @digital-asset/empty
BAZEL.md            @digital-asset/empty
BUILD               @digital-asset/empty
WORKSPACE           @digital-asset/empty
azure-pipelines.yml @garyverhaegen-da
azure-cron.yml      @garyverhaegen-da
build.ps1           @digital-asset/empty
build.sh            @digital-asset/empty
deps.bzl            @digital-asset/empty

# Language
/compiler/          @digital-asset/empty
/daml-foundations/  @digital-asset/empty
/libs-haskell/      @digital-asset/empty
/ghc-lib/           @digital-asset/empty

# SDK
/release/           @digital-asset/empty
/sdk/               @digital-asset/empty
/da-assistant/      @digital-asset/empty
/daml-assistant/    @digital-asset/empty
/templates/         @digital-asset/empty

# Runtime
/daml-lf/           @digital-asset/empty
/ledger/            @digital-asset/empty
/ledger-api/        @digital-asset/empty

# Ecosystems
/language-support/          @digital-asset/empty
/language-support/java/     @digital-asset/empty @gerolf-da @nicholassmith-da
/language-support/js/       @digital-asset/empty
/language-support/scala/    @digital-asset/empty
/scala-protoc-plugins/      @digital-asset/empty

# Tools
/extractor/         @digital-asset/empty
/navigator/         @digital-asset/empty
/web-ide/           @digital-asset/empty

# Misc
/docs/              @bethaitman
/notices-gen/       @digital-asset/empty
/oss-compliance/    @digital-asset/empty

CHANGELOG           @digital-asset/empty
CODE_OF_CONDUCT.md  @digital-asset/empty
CONTRIBUTING.md     @digital-asset/empty
COPY                @digital-asset/empty
LICENSE             @digital-asset/empty
NOTICES             @digital-asset/empty
README.md           @digital-asset/empty
daml-logo.png       @digital-asset/empty
