Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @digital-asset/daml-release-owners, @dylant-da, @paulbrauner-da, @remyhaemmerle-da, @digital-asset/daml-language, @digital-asset/kv-participant

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

sdk/bazel-java-deps.bzl @digital-asset/daml-release-owners

CODEOWNERS   @dylant-da @paulbrauner-da @remyhaemmerle-da 
/sdk/LATEST @digital-asset/daml-release-owners

# Build / CI / environment
/ci/                   @digital-asset/daml-language
/sdk/dev-env/          @digital-asset/daml-language
/sdk/nix/              @digital-asset/daml-language
azure-pipelines.yml    @digital-asset/daml-language
azure-cron.yml         @digital-asset/daml-language
sdk/release/           @digital-asset/daml-language
sdk/release.sh         @digital-asset/daml-language

# Blackduck
/sdk/NOTICES

# Compatibility test
/sdk/compatibility/     @digital-asset/daml-language @digital-asset/kv-participant

# Language
/sdk/daml-assistant/    @digital-asset/daml-language
/sdk/daml-script/       
/sdk/compiler/          @digital-asset/daml-language
/sdk/libs-haskell/      @digital-asset/daml-language
/sdk/ghc-lib/           @digital-asset/daml-language
/sdk/test-common/canton/ 

# Runtime
/sdk/daml-lf/ 


# Ecosystems
/sdk/language-support/hs/       @digital-asset/daml-language
/sdk/language-support/java/     
/sdk/language-support/scala/    
/sdk/language-support/ts/       

# Application Runtime
/sdk/ledger-service/
/sdk/runtime-components/ 

# Misc
/sdk/docs/ 
/sdk/libs-scala/

# Observability related libraries
/sdk/observability

Fixed decoder by changing place of side-effect (#22078)
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV2.scala
Owners: none

main Snapshot Create a snapshot for [main](https://github.com/digital-asset/daml/commits/main/) at commit a416ad59c9cba8a5aad2729f7e5d6e93f245bcb8
  sdk/LATEST
Owners: @digital-asset/daml-release-owners

Add in der encoded public and private keys
  sdk/compiler/damlc/tests/daml-test-files/AttestationTestData.daml
  sdk/compiler/damlc/tests/daml-test-files/AttestationTests.daml
Owners: @digital-asset/daml-language

main Snapshot (#22079)
  sdk/LATEST
Owners: @digital-asset/daml-release-owners

Added in all sample attestation test data
  sdk/compiler/damlc/tests/daml-test-files/AttestationTestData.daml
  sdk/compiler/damlc/tests/daml-test-files/AttestationTests.daml
Owners: @digital-asset/daml-language

[WIP]
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  sdk/compiler/daml-lf-proto-encode/src/DA/Daml/LF/Proto3/EncodeV2.hs
  sdk/compiler/daml-lf-proto-encode/src/DA/Daml/LF/Proto3/InternedArr.hs
  sdk/compiler/daml-lf-proto-encode/src/DA/Daml/LF/Proto3/InternedMap.hs
  sdk/compiler/damlc/daml-lf-util/src/DA/Daml/UtilLF.hs
  sdk/compiler/damlc/tests/BUILD.bazel
  sdk/compiler/damlc/tests/src/DA/Test/IncrementalBuilds.hs
  sdk/compiler/damlc/tests/util.bzl
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
Owners: @digital-asset/daml-language

Minor tidy up
  sdk/compiler/damlc/tests/daml-test-files/AttestationTestData.daml
  sdk/compiler/damlc/tests/daml-test-files/AttestationTests.daml
Owners: @digital-asset/daml-language

comment to explain why sig comparison is not possible
  sdk/compiler/damlc/tests/daml-test-files/AttestationTests.daml
Owners: @digital-asset/daml-language

Apply suggestion from @dasormeter
  sdk/docs/manually-written/sdk/tutorials/smart-contracts/tests.rst
Owners: none

synch docs
  sdk/docs/sharable/sdk/tutorials/smart-contracts/archive.rst
  sdk/docs/sharable/sdk/tutorials/smart-contracts/choices.rst
  sdk/docs/sharable/sdk/tutorials/smart-contracts/compose.rst
  sdk/docs/sharable/sdk/tutorials/smart-contracts/constraints.rst
  sdk/docs/sharable/sdk/tutorials/smart-contracts/contracts.rst
  sdk/docs/sharable/sdk/tutorials/smart-contracts/daml-scripts.rst
  sdk/docs/sharable/sdk/tutorials/smart-contracts/data.rst
  sdk/docs/sharable/sdk/tutorials/smart-contracts/dependencies.rst
  sdk/docs/sharable/sdk/tutorials/smart-contracts/exceptions.rst
  sdk/docs/sharable/sdk/tutorials/smart-contracts/parties.rst
  sdk/docs/sharable/sdk/tutorials/smart-contracts/tests.rst
Owners: none

Apply suggestion from @dasormeter
  sdk/docs/manually-written/sdk/tutorials/smart-contracts/dependencies.rst
Owners: none

Apply suggestion from @dasormeter
  sdk/docs/manually-written/sdk/tutorials/smart-contracts/dependencies.rst
Owners: none

Update dependencies.rst - API
  sdk/docs/sharable/sdk/tutorials/smart-contracts/dependencies.rst
Owners: none

fix(daml-types): avoid redundant index lookup in map set
  sdk/language-support/ts/daml-types/index.ts
Owners: none

fix some space leaks in interning
  sdk/compiler/daml-lf-proto-encode/src/DA/Daml/LF/Proto3/EncodeV2.hs
  sdk/compiler/daml-lf-proto-encode/src/DA/Daml/LF/Proto3/InternedArr.hs
  sdk/compiler/daml-lf-proto-encode/src/DA/Daml/LF/Proto3/InternedMap.hs
Owners: @digital-asset/daml-language

update NOTICES file
  sdk/NOTICES
Owners: none

fix some space leaks in interning
  sdk/compiler/daml-lf-proto-encode/src/DA/Daml/LF/Proto3/EncodeV2.hs
  sdk/compiler/daml-lf-proto-encode/src/DA/Daml/LF/Proto3/InternedArr.hs
Owners: @digital-asset/daml-language

Set default to 2.2
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  sdk/compiler/damlc/tests/platform-independence.dar-hash
  sdk/daml-lf/archive/BUILD.bazel
  sdk/daml-lf/language/daml-lf.bzl
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageMajorVersion.scala
  sdk/rules_daml/daml.bzl
Owners: @digital-asset/daml-language

Increase stack size, disable incrementalbuildstest
  sdk/compiler/daml-lf-proto-encode/src/DA/Daml/LF/Proto3/EncodeV2.hs
  sdk/compiler/daml-lf-proto-encode/src/DA/Daml/LF/Proto3/InternedArr.hs
  sdk/compiler/daml-lf-proto-encode/src/DA/Daml/LF/Proto3/InternedMap.hs
  sdk/compiler/damlc/daml-lf-util/src/DA/Daml/UtilLF.hs
  sdk/compiler/damlc/tests/BUILD.bazel
  sdk/compiler/damlc/tests/src/DA/Test/IncrementalBuilds.hs
Owners: @digital-asset/daml-language

Reenable incrementalbuildtest
  sdk/compiler/damlc/tests/BUILD.bazel
  sdk/compiler/damlc/tests/src/DA/Test/IncrementalBuilds.hs
Owners: @digital-asset/daml-language

Fixed incrementalbuilds but seems slow
  sdk/compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
Owners: @digital-asset/daml-language

Add new test cases for the preprocessing of records
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/preprocessing/ValueTranslatorSpec.scala
Owners: none

Damlc optional sdk-version
  sdk/compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Dar.hs
  sdk/compiler/damlc/daml-package-config/src/DA/Daml/Package/Config.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc/Packaging.hs
  sdk/dev-env/bin/dpm-sdk-head
Owners: @digital-asset/daml-language

reject null character when converting SValue to Value
  sdk/compiler/damlc/tests/daml-test-files/NulChar.daml
  sdk/compiler/script-service/client/src/DA/Daml/LF/PrettyScript.hs
  sdk/compiler/script-service/protos/script_service.proto
  sdk/compiler/script-service/server/src/main/scala/com/digitalasset/daml/lf/script/Conversions.scala
  sdk/daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/Text.scala
  sdk/daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/package.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SValueTest.scala
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/interpretation/Error.scala
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ledgerinteraction/IdeLedgerClient.scala
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ledgerinteraction/SubmitError.scala
Owners: @digital-asset/daml-language

test deeply nested value in integration test
  sdk/compiler/damlc/tests/daml-test-files/DeeplyNestedValue.daml
Owners: @digital-asset/daml-language

Flatarchive to dev
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  sdk/compiler/damlc/tests/platform-independence.dar-hash
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
Owners: @digital-asset/daml-language

Allow local contract IDs in local contract during import
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltinFun.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/UpgradeTest.scala
Owners: none

imports to dev
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  sdk/compiler/damlc/tests/platform-independence.dar-hash
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
Owners: @digital-asset/daml-language

fix
  sdk/compiler/damlc/tests/daml-test-files/NullChar.daml
Owners: @digital-asset/daml-language

update 'Getting started' public docs for 3.4 (#22074)
  sdk/docs/manually-written/sdk/tutorials/smart-contracts/archive.rst
  sdk/docs/manually-written/sdk/tutorials/smart-contracts/choices.rst
  sdk/docs/manually-written/sdk/tutorials/smart-contracts/compose.rst
  sdk/docs/manually-written/sdk/tutorials/smart-contracts/constraints.rst
  sdk/docs/manually-written/sdk/tutorials/smart-contracts/contracts.rst
  sdk/docs/manually-written/sdk/tutorials/smart-contracts/daml-scripts.rst
  sdk/docs/manually-written/sdk/tutorials/smart-contracts/data.rst
  sdk/docs/manually-written/sdk/tutorials/smart-contracts/dependencies.rst
  sdk/docs/manually-written/sdk/tutorials/smart-contracts/exceptions.rst
  sdk/docs/manually-written/sdk/tutorials/smart-contracts/parties.rst
  sdk/docs/manually-written/sdk/tutorials/smart-contracts/tests.rst
  sdk/docs/sharable/sdk/tutorials/smart-contracts/archive.rst
  sdk/docs/sharable/sdk/tutorials/smart-contracts/choices.rst
  sdk/docs/sharable/sdk/tutorials/smart-contracts/compose.rst
  sdk/docs/sharable/sdk/tutorials/smart-contracts/constraints.rst
  sdk/docs/sharable/sdk/tutorials/smart-contracts/contracts.rst
  sdk/docs/sharable/sdk/tutorials/smart-contracts/daml-scripts.rst
  sdk/docs/sharable/sdk/tutorials/smart-contracts/data.rst
  sdk/docs/sharable/sdk/tutorials/smart-contracts/dependencies.rst
  sdk/docs/sharable/sdk/tutorials/smart-contracts/exceptions.rst
  sdk/docs/sharable/sdk/tutorials/smart-contracts/parties.rst
  sdk/docs/sharable/sdk/tutorials/smart-contracts/tests.rst
Owners: none

fix
  sdk/canton/BUILD.bazel
  sdk/canton/community/base/src/main/scala/com/digitalasset/canton/sequencing/client/time/fetcher/SequencingTimeFetcher.scala
Owners: none

format
  sdk/canton/BUILD.bazel
Owners: none

Allow local contract IDs in local contract during import (#22093)
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltinFun.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/UpgradeTest.scala
Owners: none

main Snapshot Create a snapshot for [main](https://github.com/digital-asset/daml/commits/main/) at commit 758f21e2700528d285e23ad4dae923aaef5fe165
  sdk/LATEST
Owners: @digital-asset/daml-release-owners

Made 2.2 not default anymore
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  sdk/compiler/damlc/tests/platform-independence.dar-hash
  sdk/daml-lf/language/daml-lf.bzl
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageMajorVersion.scala
Owners: @digital-asset/daml-language

main Snapshot (#22098)
  sdk/LATEST
Owners: @digital-asset/daml-release-owners

fix some space leaks in interning (#22084)
  sdk/compiler/daml-lf-proto-encode/src/DA/Daml/LF/Proto3/EncodeV2.hs
  sdk/compiler/daml-lf-proto-encode/src/DA/Daml/LF/Proto3/InternedArr.hs
  sdk/compiler/daml-lf-proto-encode/src/DA/Daml/LF/Proto3/InternedMap.hs
Owners: @digital-asset/daml-language

address Paul's review
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/platform/apiserver/services/RejectionGenerators.scala
  sdk/canton/community/ledger/ledger-common/src/main/scala/com/digitalasset/canton/ledger/error/groups/CommandExecutionErrors.scala
  sdk/daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/Text.scala
Owners: none

Roger/lf2.2 default (#22086)
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  sdk/compiler/daml-lf-proto-encode/src/DA/Daml/LF/Proto3/EncodeV2.hs
  sdk/compiler/daml-lf-proto-encode/src/DA/Daml/LF/Proto3/InternedArr.hs
  sdk/compiler/daml-lf-proto-encode/src/DA/Daml/LF/Proto3/InternedMap.hs
  sdk/compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
  sdk/compiler/damlc/daml-lf-util/src/DA/Daml/UtilLF.hs
  sdk/compiler/damlc/tests/BUILD.bazel
  sdk/compiler/damlc/tests/platform-independence.dar-hash
  sdk/daml-lf/archive/BUILD.bazel
  sdk/daml-lf/language/daml-lf.bzl
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageMajorVersion.scala
  sdk/rules_daml/daml.bzl
Owners: @digital-asset/daml-language

main Snapshot Create a snapshot for [main](https://github.com/digital-asset/daml/commits/main/) at commit 8c277c299302da83970c829ce5dd3f0b9ddfc9e0
  sdk/LATEST
Owners: @digital-asset/daml-release-owners
