Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @digital-asset/daml-release-owners, @dylant-da, @paulbrauner-da, @remyhaemmerle-da, @digital-asset/daml-language, @digital-asset/kv-participant

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

sdk/bazel-java-deps.bzl @digital-asset/daml-release-owners

CODEOWNERS   @dylant-da @paulbrauner-da @remyhaemmerle-da 
/sdk/LATEST @digital-asset/daml-release-owners

# Build / CI / environment
/ci/                   @digital-asset/daml-language
/sdk/dev-env/          @digital-asset/daml-language
/sdk/nix/              @digital-asset/daml-language
azure-pipelines.yml    @digital-asset/daml-language
azure-cron.yml         @digital-asset/daml-language
sdk/release/           @digital-asset/daml-language
sdk/release.sh         @digital-asset/daml-language

# Blackduck
/sdk/NOTICES

# Compatibility test
/sdk/compatibility/     @digital-asset/daml-language @digital-asset/kv-participant

# Language
/sdk/daml-assistant/    @digital-asset/daml-language
/sdk/daml-script/       
/sdk/compiler/          @digital-asset/daml-language
/sdk/libs-haskell/      @digital-asset/daml-language
/sdk/ghc-lib/           @digital-asset/daml-language
/sdk/test-common/canton/ 

# Runtime
/sdk/daml-lf/ 


# Ecosystems
/sdk/language-support/hs/       @digital-asset/daml-language
/sdk/language-support/java/     
/sdk/language-support/scala/    
/sdk/language-support/ts/       

# Application Runtime
/sdk/ledger-service/
/sdk/runtime-components/ 

# Misc
/sdk/docs/ 
/sdk/libs-scala/

# Observability related libraries
/sdk/observability

projectPath -> packagePath
  sdk/compiler/damlc/daml-package-config/src/DA/Daml/Package/Config.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc.hs
  sdk/compiler/damlc/tests/src/DA/Test/ScriptService.hs
  sdk/daml-assistant/daml-helper/src/DA/Daml/Helper/Util.hs
  sdk/daml-assistant/daml-project-config/DA/Daml/Project/Consts.hs
  sdk/daml-assistant/exe/DA/Daml/Assistant.hs
  sdk/daml-assistant/src/DA/Daml/Assistant/Install.hs
  sdk/daml-assistant/src/DA/Daml/Assistant/Version.hs
  sdk/daml-assistant/test/DA/Daml/Assistant/Tests.hs
  sdk/language-support/ts/codegen/src/TsCodeGenMain.hs
Owners: @digital-asset/daml-language

Diff cleanup
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Util.hs
  sdk/compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Dar.hs
  sdk/compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
  sdk/compiler/damlc/tests/src/DA/Test/IncrementalBuilds.hs
Owners: @digital-asset/daml-language

"project" -> "package"
  sdk/compiler/damlc/daml-package-config/src/DA/Daml/Package/Config.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc/Command/MultiIde/Util.hs
  sdk/compiler/damlc/tests/src/DA/Test/DamlcMultiPackage.hs
  sdk/daml-assistant/daml-project-config/DA/Daml/Project/Config.hs
  sdk/daml-assistant/src/DA/Daml/Assistant/Install.hs
  sdk/daml-assistant/src/DA/Daml/Assistant/Version.hs
  sdk/daml-assistant/test/DA/Daml/Assistant/Tests.hs
  sdk/language-support/ts/codegen/tests/src/DA/Test/Daml2js.hs
Owners: @digital-asset/daml-language

testing short names
  sdk/bazel_tools/scala.bzl
  sdk/ci/remap-scala-test-short-names.ps1
Owners: none

LookForProjectPath -> LookForPackagePath, Fixes to Assistant tests
  sdk/compiler/damlc/lib/DA/Cli/Damlc.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc/Packaging.hs
  sdk/daml-assistant/exe/DA/Daml/Assistant.hs
  sdk/daml-assistant/src/DA/Daml/Assistant/Env.hs
  sdk/daml-assistant/src/DA/Daml/Assistant/Types.hs
  sdk/daml-assistant/test/DA/Daml/Assistant/Tests.hs
Owners: @digital-asset/daml-language

testing short names..
  sdk/bazel_tools/scala.bzl
Owners: none

testing short names...
  sdk/bazel_tools/scala.bzl
Owners: none

Replace project-root with package-root, implement fallback for compatibility
  sdk/compiler/damlc/ide-debug-driver/src/IdeDebugDriver.hs
  sdk/compiler/damlc/lib/DA/Cli/Options.hs
  sdk/compiler/damlc/tests/src/DA/Test/DamlcUpgrades.hs
  sdk/compiler/damlc/tests/src/DA/Test/DataDependencies.hs
  sdk/compiler/damlc/tests/src/DA/Test/IncrementalBuilds.hs
  sdk/compiler/damlc/tests/src/DA/Test/IncrementalPackageDb.hs
  sdk/compiler/damlc/tests/src/DA/Test/Packaging.hs
  sdk/compiler/damlc/tests/src/DA/Test/ScriptService.hs
  sdk/compiler/damlc/tests/src/DamlcTest.hs
Owners: @digital-asset/daml-language

testing short names....
  sdk/bazel_tools/scala.bzl
  sdk/ci/remap-scala-test-short-names.ps1
Owners: none

fix build
  sdk/bazel-java-deps.bzl
  sdk/canton/BUILD.bazel
  sdk/canton/community/common/src/main/scala/com/digitalasset/canton/interactive/InteractiveSubmissionEnricher.scala
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/platform/store/dao/events/LfEnricher.scala
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/platform/store/dao/events/LfValueTranslation.scala
  sdk/canton/community/participant/src/main/scala/com/digitalasset/canton/participant/ledger/api/StartableStoppableLedgerApiServer.scala
  sdk/canton/community/participant/src/main/scala/com/digitalasset/canton/participant/util/DAMLe.scala
  sdk/maven_install_2.13.json
Owners: @digital-asset/daml-release-owners

main Snapshot Create a snapshot for [main](https://github.com/digital-asset/daml/commits/main/) at commit 911aea04b957b05bc756c68a1c80df30aca22d1e
  sdk/LATEST
Owners: @digital-asset/daml-release-owners

testing short names.....
  sdk/ci/remap-scala-test-short-names.ps1
Owners: none

testing short names......
  sdk/ci/remap-scala-test-short-names.ps1
Owners: none

Initial implementation
  sdk/compiler/damlc/tests/BUILD.bazel
  sdk/compiler/damlc/tests/src/DA/Test/PackageImports.hs
Owners: @digital-asset/daml-language

testing short names.......
  sdk/ci/remap-scala-test-short-names.ps1
Owners: none

testing short names........
  sdk/ci/remap-scala-test-short-names.ps1
Owners: none

Add --package-check, deprecate --project-check
  sdk/compiler/damlc/lib/DA/Cli/Options.hs
Owners: @digital-asset/daml-language

main Snapshot (#21864)
  sdk/LATEST
Owners: @digital-asset/daml-release-owners

testing short names.........
  ci/report_flakes.py
  sdk/ci/remap-scala-test-short-names.ps1
Owners: @digital-asset/daml-language

UpgradeCheckMain
  sdk/daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/UpgradeCheckMain.scala
Owners: none

testing short names..........
  ci/report_flakes.py
Owners: @digital-asset/daml-language

package -> project
  sdk/compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
  sdk/compiler/damlc/daml-opts/daml-opts-types/DA/Daml/Options/Packaging/Metadata.hs
  sdk/compiler/damlc/daml-opts/daml-opts-types/DA/Daml/Options/Types.hs
  sdk/compiler/damlc/daml-opts/daml-opts/DA/Daml/Options.hs
  sdk/compiler/damlc/daml-package-config/src/DA/Daml/Package/Config.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc/Command/MultiIde/Util.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc/Packaging.hs
  sdk/compiler/damlc/lib/DA/Cli/Options.hs
  sdk/compiler/damlc/tests/src/DA/Test/DataDependencies.hs
  sdk/compiler/damlc/tests/src/DA/Test/IncrementalBuilds.hs
  sdk/compiler/damlc/tests/src/DA/Test/Packaging.hs
  sdk/compiler/damlc/tests/src/DamlcLint.hs
  sdk/compiler/damlc/tests/src/DamlcTest.hs
  sdk/compiler/lsp-tests/src/Main.hs
  sdk/compiler/script-service/client/src/DA/Daml/LF/ScriptServiceClient.hs
  sdk/daml-assistant/daml-helper/src/DA/Daml/Helper/Init.hs
  sdk/daml-assistant/daml-helper/src/DA/Daml/Helper/Ledger.hs
  sdk/daml-assistant/daml-helper/src/DA/Daml/Helper/Main.hs
  sdk/daml-assistant/daml-helper/src/DA/Daml/Helper/New.hs
  sdk/daml-assistant/daml-helper/src/DA/Daml/Helper/Util.hs
  sdk/daml-assistant/daml-project-config/DA/Daml/Project/Config.hs
  sdk/daml-assistant/daml-project-config/DA/Daml/Project/Consts.hs
  sdk/daml-assistant/daml-project-config/DA/Daml/Project/Types.hs
  sdk/daml-assistant/exe/DA/Daml/Assistant.hs
  sdk/daml-assistant/integration-tests/src/DA/Daml/Assistant/IntegrationTests.hs
  sdk/daml-assistant/src/DA/Daml/Assistant/Env.hs
  sdk/daml-assistant/src/DA/Daml/Assistant/Install.hs
  sdk/daml-assistant/src/DA/Daml/Assistant/Version.hs
  sdk/language-support/ts/codegen/src/TsCodeGenMain.hs
  sdk/language-support/ts/codegen/tests/src/DA/Test/Daml2js.hs
Owners: @digital-asset/daml-language

mbProjectRoot -> mPackageRoot, mProjectPath -> mPackagePath, projRoot -> packageRoot
  sdk/compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
  sdk/compiler/damlc/daml-opts/daml-opts-types/DA/Daml/Options/Types.hs
  sdk/compiler/damlc/daml-opts/daml-opts/DA/Daml/Options.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc/DependencyDb.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc/Packaging.hs
Owners: @digital-asset/daml-language

projectPackageDatabase -> packageDatabasePath, projectDependenciesDatabase -> packageDependenciesDatabasePath
  sdk/compiler/damlc/daml-opts/daml-opts-types/DA/Daml/Options/Packaging/Metadata.hs
  sdk/compiler/damlc/daml-opts/daml-opts-types/DA/Daml/Options/Types.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc/DependencyDb.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc/Packaging.hs
  sdk/compiler/damlc/tests/src/DA/Test/DamlcIntegration.hs
Owners: @digital-asset/daml-language

runTestsInProjectOrFiles -> runTestsInPackageOrFiles, defaultProjectPath -> defaultPackagePath, getCanonDefaultProjectPath -> getCanonDefaultPackagePath
  sdk/compiler/damlc/lib/DA/Cli/Damlc.hs
Owners: @digital-asset/daml-language

projectPathM -> mPackagePath, projectInstall -> packageInstall
  sdk/compiler/damlc/lib/DA/Cli/Damlc/Command/MultiIde/SdkInstall.hs
  sdk/daml-assistant/daml-helper/src/DA/Daml/Helper/Studio.hs
  sdk/daml-assistant/exe/DA/Daml/Assistant.hs
  sdk/daml-assistant/src/DA/Daml/Assistant/Env.hs
  sdk/daml-assistant/src/DA/Daml/Assistant/Install.hs
Owners: @digital-asset/daml-language

testing short names...........
  ci/report_flakes.py
Owners: @digital-asset/daml-language

Many smaller renames
  sdk/compatibility/bazel_tools/daml_ledger/Main.hs
  sdk/compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Dar.hs
  sdk/compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
  sdk/compiler/damlc/daml-ide/src/DA/Daml/LanguageServer/SplitGotoDefinition.hs
  sdk/compiler/damlc/daml-opts/daml-opts/DA/Daml/Options.hs
  sdk/compiler/damlc/daml-package-config/src/DA/Daml/Package/Config.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc/Command/MultiIde/Types.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc/Command/MultiIde/Util.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc/Packaging.hs
  sdk/compiler/damlc/tests/src/CliParser.hs
  sdk/compiler/damlc/tests/src/DA/Test/DamlcUpgrades.hs
  sdk/compiler/damlc/tests/src/DA/Test/IncrementalPackageDb.hs
  sdk/compiler/damlc/tests/src/DA/Test/ScriptService.hs
  sdk/daml-assistant/daml-helper/src/DA/Daml/Helper/Init.hs
  sdk/daml-assistant/daml-helper/src/DA/Daml/Helper/Ledger.hs
  sdk/daml-assistant/daml-helper/src/DA/Daml/Helper/New.hs
  sdk/daml-assistant/daml-helper/src/DA/Daml/Helper/Start.hs
  sdk/daml-assistant/daml-helper/src/DA/Daml/Helper/Util.hs
  sdk/daml-assistant/daml-helper/test/DA/Daml/Helper/Test/Deployment.hs
  sdk/daml-assistant/exe/DA/Daml/Assistant.hs
  sdk/daml-assistant/src/DA/Daml/Assistant/Env.hs
  sdk/daml-assistant/src/DA/Daml/Assistant/Install.hs
  sdk/language-support/ts/codegen/src/TsCodeGenMain.hs
Owners: @digital-asset/daml-language, @digital-asset/kv-participant

fine name get right
  ci/report_flakes.py
Owners: @digital-asset/daml-language

passing mappgin file
  ci/report-flakes.yml
  ci/report_flakes.py
Owners: @digital-asset/daml-language

passing mappgin file..
  ci/report-flakes.yml
Owners: @digital-asset/daml-language

passing mappgin file...
  ci/report_flakes.py
Owners: @digital-asset/daml-language

passing mappgin file....
  ci/report_flakes.py
Owners: @digital-asset/daml-language

do not rely on creation package in fetchTemplate
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltinFun.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/UpgradeTest.scala
  sdk/daml-script/test/daml/upgrades/stable/UnvettedPackages.daml
Owners: none

Fix or ignore UpgradesSpecBase tests
  sdk/daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/upgrade/UpgradesSpecAdminAPIDryRun.scala
  sdk/daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/upgrade/UpgradesSpecBase.scala
  sdk/daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/upgrade/UpgradesSpecLedgerAPIDryRun.scala
  sdk/daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/upgrade/UpgradesSpecUtil.scala
Owners: none

Ignore test failure and track in #21867
  sdk/daml-assistant/daml-helper/test/DA/Daml/Helper/Test/Ledger.hs
Owners: @digital-asset/daml-language

passing mappgin file.....
  ci/report_flakes.py
Owners: @digital-asset/daml-language

Fix spelling errors in documentation
  sdk/docs/sharable/hoogle/daml-base-hoogle.txt
  sdk/docs/sharable/hoogle/daml-script-hoogle.txt
  sdk/docs/sharable/sdk/reference/daml-script/api/Daml-Script.rst
  sdk/docs/sharable/sdk/reference/daml/stdlib/DA-NonEmpty.rst
Owners: none

Document damlc inspect command in Daml Assistant docs
  sdk/docs/manually-written/sdk/component-howtos/smart-contracts/assistant.rst
Owners: none

Improve Daml Assistant installation instructions
  sdk/docs/manually-written/sdk/component-howtos/smart-contracts/assistant.rst
Owners: none
