Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @gerolf-da, @cocreature, @bame-da, @garyverhaegen-da, @aherrmann-da, @dasormeter, @sofiafaro-da, @stefanobaghino-da, @remyhaemmerle-da, @S11001001, @miklos-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da, @fabiotudone-da, @SamirTalwar-DA, @nickchapman-da, @robin-da, @nemanja-da

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

CODEOWNERS   @gerolf-da @cocreature
LATEST       @gerolf-da @bame-da @cocreature

# Build / CI / environment
/ci/                @garyverhaegen-da
/dev-env/           @garyverhaegen-da
/nix/               @garyverhaegen-da
/infra/             @garyverhaegen-da
azure-pipelines.yml @garyverhaegen-da
azure-cron.yml      @garyverhaegen-da

# Blackduck
NOTICES     @garyverhaegen-da @aherrmann-da @cocreature @dasormeter

# Language
/compiler/           @cocreature
/libs-haskell/       @cocreature
/daml-assistant/    @sofiafaro-da  @cocreature
/daml-script/       @cocreature  @aherrmann-da @stefanobaghino-da
/triggers/          @cocreature  @aherrmann-da @stefanobaghino-da
/ghc-lib/           @cocreature
/compatibility/     @garyverhaegen-da @aherrmann-da @cocreature

# Runtime
/daml-lf/ @remyhaemmerle-da
/daml-lf/archive/da/ @cocreature
/daml-lf/data-scalacheck/ @S11001001 @cocreature
/daml-lf/engine/ @cocreature
/daml-lf/governance.rst
/daml-lf/interpreter/ @cocreature
/daml-lf/kv-transaction-support/ @cocreature @gerolf-da @miklos-da
/daml-lf/repl/ @cocreature
/daml-lf/scenario-interpreter/  @cocreature
/daml-lf/spec/daml-lf-1.rst @cocreature
/daml-lf/spec/transaction.rst @cocreature
/daml-lf/spec/value.rst @cocreature
/daml-lf/transaction-test-lib/ @S11001001 @cocreature
/daml-lf/transaction/src/main/scala/com/daml/lf/transaction/ @cocreature
/daml-lf/transaction/src/main/scala/com/daml/lf/value/ @cocreature
/daml-lf/validation/ @cocreature

/ledger-service/    @S11001001 @cocreature @stefanobaghino-da

/ledger/      @gerolf-da @mziolekda @nmarton-da @rautenrieth-da @tudor-da
/ledger-api/  @gerolf-da @mziolekda @nmarton-da @rautenrieth-da @tudor-da

/ledger/participant-state/kvutils/ @fabiotudone-da @gerolf-da @miklos-da @SamirTalwar-DA

/runtime-components/    @stefanobaghino-da @cocreature

# Ecosystems
/language-support/hs/       @nickchapman-da
/language-support/java/     @cocreature @stefanobaghino-da
/language-support/scala/    @S11001001 @cocreature @stefanobaghino-da
/language-support/ts/        @robin-da @cocreature @garyverhaegen-da @stefanobaghino-da

# Tools
/extractor/         @S11001001 @stefanobaghino-da
/navigator/         @cocreature @stefanobaghino-da
/navigator/backend/src/main/scala/com/digitalasset/navigator/json/    @S11001001

# Misc
/docs/              @bame-da @nemanja-da
/libs-scala/        @stefanobaghino-da @SamirTalwar-DA
/libs-scala/contextualized-logging/    @S11001001
/libs-scala/scala-utils/    @S11001001
/libs-scala/scalatest-utils/    @S11001001

Add support for H2 StorageBackend
  ledger/participant-integration-api/src/main/scala/platform/store/backend/StorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/h2/H2FunctionAliases.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/h2/H2Schema.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/h2/H2StorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/h2/H2Table.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Extend conformance test suites for H2
  ledger/ledger-on-sql/BUILD.bazel
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

remove tolist conversion CHANGELOG_BEGIN CHANGELOG_END
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/SqlFunctions.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Extend JDBCLedgerDao unit test suites for H2
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoBackendH2DatabaseAppendOnly.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/dao/JdbcLedgerDaoH2DatabaseAppendOnlySpec.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Extend sandbox-classic unit test suites for H2
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/services/reset/ResetServiceH2DatabaseIT.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

truncate party name for 64 chars for multi-valued submitters to avoid… (#10000)
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiCommandService.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

[JSON-API] Concurrent query etc. metrics
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da, @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Scala structural type application use case for minimizing the dependency surface of the client
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/JdbcLedgerDao.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/PostCommitValidation.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/StorageBackend.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Rename running metrics to throughput ones & add comments on the metrics
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da, @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Resolve contract keys conflicts in disclosed contracts (#9948)
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/ContractsTable.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/ContractsTableH2.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/ContractsTablePostgres.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/TransactionsWriter.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Adjust names of other existing metrics too, to have for the json api a more consistent metrics naming
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da, @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Address Moritz's review
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Error.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/TransactionPreprocessor.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/ValueTranslator.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
Owners: @cocreature

Do not terminate transactions/transaction trees streams when no end-offset provided in the ledger-api-bench-tool
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/services/TransactionService.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

test different template-ID frequencies in the "mega" perf scenario (#10016)
  ledger-service/http-json-perf/daml/LargeAcs.daml
  ledger-service/http-json-perf/src/main/scala/com/daml/http/perf/scenario/SyncQueryMegaAcs.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

[JSON-API] Concurrent query etc. metrics (#10031)
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da, @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

pass supportedJdbcDriverNames implicitly, and only to what actually needs it
  ledger-service/http-json-cli/BUILD.bazel
  ledger-service/http-json-cli/ce/src/main/scala/com/daml/http/Cli.scala
  ledger-service/http-json-cli/ee/src/main/scala/com/daml/http/Cli.scala
  ledger-service/http-json-cli/src/main/scala/com/daml/http/CliBase.scala
  ledger-service/http-json-cli/src/main/scala/com/daml/http/Config.scala
  ledger-service/http-json-cli/src/main/scala/com/daml/http/OptionParser.scala
  ledger-service/http-json/BUILD.bazel
Owners: @S11001001, @cocreature, @stefanobaghino-da

Oracle compliant append only schema
  ledger/participant-integration-api/src/main/resources/db/migration/oracle/V100_0__Append_only_schema.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/oracle/V100_0__Append_only_schema.sql
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoBackendOracleAppendOnly.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/dao/JdbcLedgerDaoOracleAppendOnlySpec.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Log context of all updates written to the database (#10010)
  ledger/participant-integration-api/src/main/scala/platform/indexer/parallel/ParallelIndexerFactory.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/JdbcLedgerDao.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/JdbcLedgerDao.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/Update.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

truncate party name for 64 chars for multi-valued submitters to avoid… (#10000)
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiCommandService.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Force css-what resolution in compiler/daml-extension & fully regenera… (#10025)
  compiler/daml-extension/yarn.lock
Owners: @cocreature

[JSON-API] Concurrent query etc. metrics (#10031)
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da, @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

recompute sha for changed oracle flyway scripts
  ledger/participant-integration-api/src/main/resources/db/migration/oracle/V100_0__Append_only_schema.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/oracle/V1__Init.sha256
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

release 1.15.0-snapshot.20210615.7169.0.adeba206 (#10022)
  LATEST
Owners: @gerolf-da, @bame-da, @cocreature

diff to postgres dump, create consolidated view
  ledger/participant-integration-api/src/main/resources/db/migration/oracle/V100_0__Append_only_schema.sql
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

diff to postgres dump to ensure all oracle setup is equiv
  ledger/participant-integration-api/src/main/resources/db/migration/oracle/V1__Init.sql
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

test different template-ID frequencies in the "mega" perf scenario (#10016)
  ledger-service/http-json-perf/daml/LargeAcs.daml
  ledger-service/http-json-perf/src/main/scala/com/daml/http/perf/scenario/SyncQueryMegaAcs.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

recompute sha for flyway script
  ledger/participant-integration-api/src/main/resources/db/migration/oracle/V100_0__Append_only_schema.sha256
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

drop old tables to prevent clash on name of new participant_events view
  ledger/participant-integration-api/src/main/resources/db/migration/oracle/V100_0__Append_only_schema.sql
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Implemented in-memory buffers prunning in BaseLedger
  ledger/participant-integration-api/src/main/scala/platform/index/ReadOnlySqlLedger.scala
  ledger/participant-integration-api/src/main/scala/platform/index/ReadOnlySqlLedgerWithMutableCache.scala
  ledger/participant-integration-api/src/main/scala/platform/index/ReadOnlySqlLedgerWithTranslationCache.scala
  ledger/participant-integration-api/src/main/scala/platform/package.scala
  ledger/participant-integration-api/src/main/scala/platform/store/BaseLedger.scala
  ledger/participant-integration-api/src/main/scala/platform/store/cache/MutableCacheBackedContractStore.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/BaseLedgerSpec.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/sql/SqlLedger.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

prelim oracle StorageBackend
  ledger/participant-integration-api/src/main/scala/platform/store/backend/StorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/oracle/OracleSchema.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/oracle/OracleStorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/oracle/OracleTable.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

truncate party name for 64 chars for multi-valued submitters to avoid… (#10000)
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiCommandService.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Oracle compliant append only schema
  ledger/participant-integration-api/src/main/resources/db/migration/oracle/V100_0__Append_only_schema.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/oracle/V100_0__Append_only_schema.sql
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoBackendOracleAppendOnly.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/dao/JdbcLedgerDaoOracleAppendOnlySpec.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

diff to postgres dump, create consolidated view
  ledger/participant-integration-api/src/main/resources/db/migration/oracle/V100_0__Append_only_schema.sql
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

diff to postgres dump to ensure all oracle setup is equiv
  ledger/participant-integration-api/src/main/resources/db/migration/oracle/V1__Init.sql
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

recompute sha for changed oracle flyway scripts
  ledger/participant-integration-api/src/main/resources/db/migration/oracle/V100_0__Append_only_schema.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/oracle/V1__Init.sha256
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

drop old tables to prevent clash on name of new participant_events view
  ledger/participant-integration-api/src/main/resources/db/migration/oracle/V100_0__Append_only_schema.sql
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

recompute sha for flyway script
  ledger/participant-integration-api/src/main/resources/db/migration/oracle/V100_0__Append_only_schema.sha256
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

prelim oracle StorageBackend
  ledger/participant-integration-api/src/main/scala/platform/store/backend/StorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/oracle/OracleSchema.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/oracle/OracleStorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/oracle/OracleTable.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Split scenario & ledger execution
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Context.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Anf.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SResult.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/iterable/SExprIterable.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/repl/src/main/scala/com/digitalasset/daml/lf/repl/testing/Main.scala
  daml-lf/scenario-interpreter/BUILD.bazel
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ScenarioRunner.scala
  daml-lf/scenario-interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ScenarioRunnerTest.scala
  daml-lf/tests/scenario/stable/mustfails/EXPECTED.ledger
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ledgerinteraction/IdeLedgerClient.scala
Owners: @cocreature, @remyhaemmerle-da, @aherrmann-da, @stefanobaghino-da

take the stakeholders column back out
  ledger-service/db-backend/src/main/scala/com/digitalasset/http/dbbackend/Queries.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da
