Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @digital-asset/daml-release-owners, @dylant-da, @paulbrauner-da, @remyhaemmerle-da, @digital-asset/daml-language

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

sdk/bazel-java-deps.bzl @digital-asset/daml-release-owners

CODEOWNERS   @dylant-da @paulbrauner-da @remyhaemmerle-da 
/sdk/LATEST @digital-asset/daml-release-owners

# Build / CI / environment
/ci/                   @digital-asset/daml-language
/sdk/dev-env/          @digital-asset/daml-language
/sdk/nix/              @digital-asset/daml-language
azure-pipelines.yml    @digital-asset/daml-language
azure-cron.yml         @digital-asset/daml-language
sdk/release/           @digital-asset/daml-language
sdk/release.sh         @digital-asset/daml-language

[Backport #22183] Add 3.3 snapshot to compat tests (#22216)
  ci/BUILD
  ci/bash-lib.yml
  ci/blackduck.yml
  ci/cron/daily-compat.yml
  ci/cron/wednesday.yml
  ci/prs.yml
  sdk/bazel_tools/os_info.bzl
  sdk/ci/oracle_image
  sdk/compatibility/BUILD
  sdk/compatibility/README.md
  sdk/compatibility/WORKSPACE
  sdk/compatibility/bazel-haskell-deps.bzl
  sdk/compatibility/bazel_tools/daml_ledger/BUILD.bazel
  sdk/compatibility/bazel_tools/daml_ledger/Main.hs
  sdk/compatibility/bazel_tools/daml_ledger/Sandbox.hs
  sdk/compatibility/bazel_tools/daml_script/daml_script.bzl
  sdk/compatibility/bazel_tools/daml_sdk.bzl
  sdk/compatibility/bazel_tools/testing.bzl
  sdk/compatibility/deps.bzl
  sdk/compatibility/maven_install.json
  sdk/compatibility/test-all-installs.sh
  sdk/compatibility/update-versions.sh
  sdk/compatibility/versions.bzl
  sdk/compatibility/versions/BUILD
  sdk/compatibility/versions/UpdateVersions.hs
  sdk/daml-assistant/daml-helper/src/DA/Daml/Helper/Main.hs
  sdk/daml-assistant/daml-helper/src/DA/Daml/Helper/Start.hs
  sdk/daml-assistant/daml-helper/src/DA/Daml/Helper/Util.hs
Owners: @digital-asset/daml-language

add test cases demonstrating key collisions
  sdk/daml-script/test/daml/upgrades/dev/ContractKeys.daml
Owners: none

Try use transcode as a Scala 3 dep
  sdk/bazel-java-deps.bzl
  sdk/canton/BUILD.bazel
  sdk/canton/community/ledger/ledger-json-api/src/main/scala/com/digitalasset/canton/http/json/v2/JsEventService.scala
  sdk/canton/community/ledger/ledger-json-api/src/main/scala/com/digitalasset/canton/http/json/v2/SchemaProcessorsImpl.scala
  sdk/maven_install_2.13.json
  sdk/third-parties/BUILD.bazel
  sdk/third-parties/transcode-codec-json_3.jar
  sdk/third-parties/transcode-codec-proto-scala-daml3.5_3.jar
  sdk/third-parties/transcode-daml-lf-daml3.5_3.jar
  sdk/third-parties/transcode-schema_3.jar
Owners: @digital-asset/daml-release-owners

add test cases demonstrating key collisions (#22282)
  sdk/daml-script/test/daml/upgrades/dev/ContractKeys.daml
Owners: none

remove unused import
  sdk/daml-script/test/src/main/scala/com/digitalasset/daml/lf/engine/script/test/UpgradesMatrixIT.scala
Owners: none

Fix CI on main (#22287)
  sdk/daml-script/test/src/main/scala/com/digitalasset/daml/lf/engine/script/test/UpgradesMatrixIT.scala
Owners: none

build all tests in PRs, even main-only ones
  sdk/build.sh
Owners: none

Removed unused cache libraries
  sdk/libs-scala/caching/BUILD.bazel
  sdk/libs-scala/caching/src/main/scala/com/daml/caching/Cache.scala
  sdk/libs-scala/caching/src/main/scala/com/daml/caching/CaffeineCache.scala
  sdk/libs-scala/caching/src/main/scala/com/daml/caching/CaffeineMetricsStatsCounter.scala
  sdk/libs-scala/caching/src/main/scala/com/daml/caching/MappedCache.scala
  sdk/libs-scala/caching/src/main/scala/com/daml/caching/NoCache.scala
  sdk/libs-scala/caching/src/main/scala/com/daml/caching/SizedCache.scala
  sdk/libs-scala/caching/src/main/scala/com/daml/caching/Weight.scala
  sdk/libs-scala/caching/src/main/scala/com/daml/caching/WeightedCache.scala
  sdk/libs-scala/caching/src/test/lib/scala/com/daml/caching/ConcurrentCacheBehaviorSpecBase.scala
  sdk/libs-scala/caching/src/test/lib/scala/com/daml/caching/ConcurrentCacheCachingSpecBase.scala
  sdk/libs-scala/caching/src/test/lib/scala/com/daml/caching/ConcurrentCacheEvictionSpecBase.scala
  sdk/libs-scala/caching/src/test/lib/scala/com/daml/caching/ConcurrentCacheSpecBase.scala
  sdk/libs-scala/caching/src/test/lib/scala/com/daml/caching/MapBackedCacheForTesting.scala
  sdk/libs-scala/caching/src/test/suite/scala/com/daml/caching/MapBackedCacheForTestingSpec.scala
  sdk/libs-scala/caching/src/test/suite/scala/com/daml/caching/MappedCacheSpec.scala
  sdk/libs-scala/caching/src/test/suite/scala/com/daml/caching/NoCacheSpec.scala
  sdk/libs-scala/caching/src/test/suite/scala/com/daml/caching/SizedCacheSpec.scala
  sdk/libs-scala/caching/src/test/suite/scala/com/daml/caching/WeightedCacheSpec.scala
  sdk/release/artifacts.yaml
Owners: @digital-asset/daml-language

fix
  sdk/build.sh
Owners: none

build all tests in PRs, even main-only ones (#22289)
  sdk/build.sh
Owners: none

Removed unused cache libraries (#22288)
  sdk/libs-scala/caching/BUILD.bazel
  sdk/libs-scala/caching/src/main/scala/com/daml/caching/Cache.scala
  sdk/libs-scala/caching/src/main/scala/com/daml/caching/CaffeineCache.scala
  sdk/libs-scala/caching/src/main/scala/com/daml/caching/CaffeineMetricsStatsCounter.scala
  sdk/libs-scala/caching/src/main/scala/com/daml/caching/MappedCache.scala
  sdk/libs-scala/caching/src/main/scala/com/daml/caching/NoCache.scala
  sdk/libs-scala/caching/src/main/scala/com/daml/caching/SizedCache.scala
  sdk/libs-scala/caching/src/main/scala/com/daml/caching/Weight.scala
  sdk/libs-scala/caching/src/main/scala/com/daml/caching/WeightedCache.scala
  sdk/libs-scala/caching/src/test/lib/scala/com/daml/caching/ConcurrentCacheBehaviorSpecBase.scala
  sdk/libs-scala/caching/src/test/lib/scala/com/daml/caching/ConcurrentCacheCachingSpecBase.scala
  sdk/libs-scala/caching/src/test/lib/scala/com/daml/caching/ConcurrentCacheEvictionSpecBase.scala
  sdk/libs-scala/caching/src/test/lib/scala/com/daml/caching/ConcurrentCacheSpecBase.scala
  sdk/libs-scala/caching/src/test/lib/scala/com/daml/caching/MapBackedCacheForTesting.scala
  sdk/libs-scala/caching/src/test/suite/scala/com/daml/caching/MapBackedCacheForTestingSpec.scala
  sdk/libs-scala/caching/src/test/suite/scala/com/daml/caching/MappedCacheSpec.scala
  sdk/libs-scala/caching/src/test/suite/scala/com/daml/caching/NoCacheSpec.scala
  sdk/libs-scala/caching/src/test/suite/scala/com/daml/caching/SizedCacheSpec.scala
  sdk/libs-scala/caching/src/test/suite/scala/com/daml/caching/WeightedCacheSpec.scala
  sdk/release/artifacts.yaml
Owners: @digital-asset/daml-language

remove unused dep from generated dar in UpgradesMatrixIT
  sdk/daml-script/test/src/main/scala/com/digitalasset/daml/lf/engine/script/test/UpgradesMatrixIT.scala
Owners: none

Update release testing instructions to include DPM (#21990)
  sdk/release/RELEASE.md
  sdk/templates/multi-package-example/interfaces/daml.yaml.template
  sdk/templates/multi-package-example/main/daml.yaml.template
  sdk/templates/multi-package-example/test/daml.yaml.template
Owners: @digital-asset/daml-language

fix
  sdk/canton/BUILD.bazel
Owners: none

fix
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/platform/apiserver/execution/StoreBackedCommandInterpreter.scala
Owners: none

Fix spelling errors in source files
  sdk/compiler/damlc/daml-stdlib-src/DA/NonEmpty.daml
  sdk/daml-assistant/daml-project-config/DA/Daml/Project/Config.hs
  sdk/daml-assistant/src/DA/Daml/Assistant/Version.hs
  sdk/daml-script/daml/Daml/Script/Internal/Questions/Submit.daml
Owners: none

Archive schema reader bug fixes
  sdk/daml-lf/api-type-signature/src/main/scala/com/digitalasset/daml/lf/typesig/reader/DamlLfArchiveReader.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/Decode.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV2.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/Reader.scala
  sdk/daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV1Spec.scala
  sdk/daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV2Spec.scala
Owners: none

Backport of https://github.com/digital-asset/daml/pull/22292 (Archive schema reader bug fixes)
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/Decode.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV2.scala
  sdk/daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV1Spec.scala
  sdk/daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV2Spec.scala
Owners: none

Backport of https://github.com/digital-asset/daml/pull/22292 (Archi schema reader bug fixes)
  sdk/daml-lf/api-type-signature/src/main/scala/com/digitalasset/daml/lf/typesig/reader/DamlLfArchiveReader.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/Decode.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV2.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/Reader.scala
  sdk/daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV1Spec.scala
  sdk/daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV2Spec.scala
Owners: none

Revert "Fix spelling errors in documentation"
  sdk/docs/sharable/hoogle/daml-base-hoogle.txt
  sdk/docs/sharable/hoogle/daml-script-hoogle.txt
  sdk/docs/sharable/sdk/reference/daml-script/api/Daml-Script.rst
  sdk/docs/sharable/sdk/reference/daml/stdlib/DA-NonEmpty.rst
Owners: none

Backport of #22292 (Archive schema reader bug fixes) (#22293)
  sdk/daml-lf/api-type-signature/src/main/scala/com/digitalasset/daml/lf/typesig/reader/DamlLfArchiveReader.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/Decode.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV2.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/Reader.scala
  sdk/daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV1Spec.scala
  sdk/daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV2Spec.scala
Owners: none

Archive schema reader bug fixes (#22292)
  sdk/daml-lf/api-type-signature/src/main/scala/com/digitalasset/daml/lf/typesig/reader/DamlLfArchiveReader.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/Decode.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV2.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/Reader.scala
  sdk/daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV1Spec.scala
  sdk/daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV2Spec.scala
Owners: none

security evidence
  sdk/security-evidence.md
Owners: none

Reject tycons in variants and enums in importValue
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/UpgradesMatrix.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ValueTranslator.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ValueTranslatorSpec.scala
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/Value.scala
Owners: none

release/3.4.x Snapshot Create a snapshot for [release/3.4.x](https://github.com/digital-asset/daml/commits/release/3.4.x/) at commit 3d851107753f12788ebabdf2e3851a896bcfa50b
  sdk/LATEST
Owners: @digital-asset/daml-release-owners

release/3.4.x Snapshot (#22297)
  sdk/LATEST
Owners: @digital-asset/daml-release-owners

change granularity of locking to be by (party, templateId) and allow disabling it with a value of 0
  sdk/ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsService.scala
Owners: none

update command-line config to be more consistent, and document that 0 is disable
  sdk/ledger-service/http-json-cli/src/main/scala/com/daml/http/dbbackend/JdbcConfig.scala
  sdk/ledger-service/http-json/src/test/scala/com/digitalasset/http/CliSpec.scala
Owners: none

scalafmt
  sdk/ledger-service/http-json-cli/src/main/scala/com/daml/http/dbbackend/JdbcConfig.scala
  sdk/ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsService.scala
Owners: none

Replace LanguageVersion
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
Owners: none

Remove dead code with @paulbrauner-da
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageMajorVersion.scala
Owners: none

Setup new object
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
Owners: none

Add New language version with @paulbrauner-da
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
Owners: none

Patch MajorVersion
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageMajorVersion.scala
Owners: none

Fix ordering/range
  sdk/daml-lf/data/src/main/scala/com/digitalasset/daml/lf/VersionRange.scala
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/compiler/Compiler.scala
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
Owners: none

Fix ScrtServiceMain
  sdk/compiler/script-service/server/src/main/scala/com/digitalasset/daml/lf/script/ScriptServiceMain.scala
Owners: none

Fix rebase
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/LargeTransactionTest.scala
  sdk/daml-lf/snapshot/src/test/scala/com/digitalasset/daml/lf/testing/snapshot/ReplayBenchmarkIT.scala
Owners: none

Dont import Major directly
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV2.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/package.scala
  sdk/daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/Encode.scala
Owners: none

rm Language(Major/Minor)Version.scala
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageMajorVersion.scala
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageMinorVersion.scala
Owners: none

Remove minorversion identifier alias
  sdk/daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV2Spec.scala
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
Owners: none
