Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @digital-asset/empty, @bitonic, @neil-da, @hurryabit, @cbaatz-da, @garyverhaegen-da, @gerolf-da, @nicholassmith-da, @bethaitman

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

*           @digital-asset/empty
CODEOWNERS  @bitonic @neil-da @hurryabit @cbaatz-da
VERSION     @digital-asset/empty

# Build / CI / environment
/3rdparty/          @digital-asset/empty
/bazel_tools/       @digital-asset/empty
/build-scripts/     @digital-asset/empty
/ci/                @garyverhaegen-da
/dev-env/           @garyverhaegen-da
/dotfiles/          @digital-asset/empty
/hazel/             @digital-asset/empty
/nix/               @garyverhaegen-da
/infra/             @garyverhaegen-da
/rattle/            @digital-asset/empty
/replacements/      @digital-asset/empty
/rules_daml/        @digital-asset/empty
BAZEL-JVM.md        @digital-asset/empty
BAZEL-haskell.md    @digital-asset/empty
BAZEL.md            @digital-asset/empty
BUILD               @digital-asset/empty
WORKSPACE           @digital-asset/empty
azure-pipelines.yml @garyverhaegen-da
azure-cron.yml      @garyverhaegen-da
build.ps1           @digital-asset/empty
build.sh            @digital-asset/empty
deps.bzl            @digital-asset/empty

# Language
/compiler/          @digital-asset/empty
/daml-foundations/  @digital-asset/empty
/libs-haskell/      @digital-asset/empty
/ghc-lib/           @digital-asset/empty

# SDK
/release/           @digital-asset/empty
/sdk/               @digital-asset/empty
/da-assistant/      @digital-asset/empty
/daml-assistant/    @digital-asset/empty
/templates/         @digital-asset/empty

# Runtime
/daml-lf/           @digital-asset/empty
/ledger/            @digital-asset/empty
/ledger-api/        @digital-asset/empty

# Ecosystems
/language-support/          @digital-asset/empty
/language-support/java/     @digital-asset/empty @gerolf-da @nicholassmith-da
/language-support/js/       @digital-asset/empty
/language-support/scala/    @digital-asset/empty
/scala-protoc-plugins/      @digital-asset/empty

# Tools
/extractor/         @digital-asset/empty
/navigator/         @digital-asset/empty
/web-ide/           @digital-asset/empty

# Misc
/docs/              @bethaitman
/notices-gen/       @digital-asset/empty
/oss-compliance/    @digital-asset/empty

CHANGELOG           @digital-asset/empty
CODE_OF_CONDUCT.md  @digital-asset/empty
CONTRIBUTING.md     @digital-asset/empty
COPY                @digital-asset/empty
LICENSE             @digital-asset/empty
NOTICES             @digital-asset/empty
README.md           @digital-asset/empty
daml-logo.png       @digital-asset/empty

Simplify how we handle DAML-LF version dependent builtins in damlc
  daml-foundations/daml-ghc/ghc-compiler/src/DA/Daml/GHC/Compiler/Primitives.hs
Owners: @digital-asset/empty

Fix //navigator/frontend genrule (#1333)
  navigator/frontend/BUILD.bazel
Owners: @digital-asset/empty

Test damlc against all supported DAML-LF version
  daml-foundations/daml-ghc/BUILD.bazel
  daml-foundations/daml-ghc/test-src/DA/Test/GHC.hs
  daml-foundations/daml-ghc/tests/DisjunctionChoices.daml
  daml-foundations/daml-ghc/tests/Map.daml
  daml-foundations/daml-ghc/tests/Set.daml
Owners: @digital-asset/empty

Release SDK 0.12.20 (#1330)
  VERSION
  docs/source/support/release-notes.rst
Owners: @digital-asset/empty, @bethaitman

Active Contacts Service from IndexService is wired through (#1314)
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/services/DamlOnXActiveContractsService.scala
  ledger/backend-api/src/main/scala/com/digitalasset/ledger/backend/api/v1/LedgerBackend.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/participant/util/EventFilter.scala
  ledger/participant-state-index/reference/src/main/scala/com/daml/ledger/participant/state/index/v1/impl/reference/ReferenceIndexService.scala
  ledger/participant-state-index/src/main/scala/com/daml/ledger/participant/state/index/v1/package.scala
  ledger/sandbox/src/main/scala/com/digitalasset/ledger/server/apiserver/ApiServices.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/SandboxActiveContractsService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/SandboxLedgerBackend.scala
Owners: @digital-asset/empty

Fix race condition in the initialization of scenario ctx roots
  daml-foundations/daml-ghc/ide/src/Development/IDE/State/RuleTypes/Daml.hs
  daml-foundations/daml-ghc/ide/src/Development/IDE/State/Rules/Daml.hs
  daml-foundations/daml-ghc/ide/src/Development/IDE/State/Service/Daml.hs
  daml-foundations/daml-ghc/ide/test/Development/IDE/State/API/Testing.hs
  daml-foundations/daml-ghc/util.bzl
Owners: @digital-asset/empty

Test damlc against all supported DAML-LF version (#1337)
  daml-foundations/daml-ghc/BUILD.bazel
  daml-foundations/daml-ghc/test-src/DA/Test/GHC.hs
  daml-foundations/daml-ghc/tests/DisjunctionChoices.daml
  daml-foundations/daml-ghc/tests/Map.daml
  daml-foundations/daml-ghc/tests/Set.daml
Owners: @digital-asset/empty

Simplify how we handle DAML-LF version dependent builtins in damlc
  daml-foundations/daml-ghc/ghc-compiler/src/DA/Daml/GHC/Compiler/Primitives.hs
Owners: @digital-asset/empty

Fix race condition in the initialization of scenario ctx roots (#1331)
  daml-foundations/daml-ghc/ide/src/Development/IDE/State/RuleTypes/Daml.hs
  daml-foundations/daml-ghc/ide/src/Development/IDE/State/Rules/Daml.hs
  daml-foundations/daml-ghc/ide/src/Development/IDE/State/Service/Daml.hs
  daml-foundations/daml-ghc/ide/test/Development/IDE/State/API/Testing.hs
  daml-foundations/daml-ghc/util.bzl
Owners: @digital-asset/empty

distinguish past/future transactions in return of Ledger.getTransactionsPF
  language-support/hs/bindings/BUILD.bazel
  language-support/hs/bindings/examples/Play.hs
  language-support/hs/bindings/examples/nim-console/src/SimLedger.hs
  language-support/hs/bindings/examples/nim-console/src/UI.hs
  language-support/hs/bindings/src/DA/Ledger.hs
  language-support/hs/bindings/src/DA/Ledger/PastAndFuture.hs
  language-support/hs/bindings/test/DA/Ledger/Sandbox.hs
  language-support/hs/bindings/test/DA/Ledger/Tests.hs
  language-support/hs/bindings/test/DA/Ledger/Trace.hs
Owners: @digital-asset/empty

Use closable Stream in Haskell ledger bindings
  language-support/hs/bindings/examples/nim-console/src/PastAndFuture.hs
  language-support/hs/bindings/examples/nim-console/src/SimLedger.hs
  language-support/hs/bindings/examples/nim-console/src/UI.hs
  language-support/hs/bindings/src/DA/Ledger.hs
  language-support/hs/bindings/src/DA/Ledger/Stream.hs
  language-support/hs/bindings/test/DA/Ledger/Tests.hs
Owners: @digital-asset/empty

first cut: nim-console running against a ledger
  language-support/hs/bindings/BUILD.bazel
  language-support/hs/bindings/examples/Play.hs
  language-support/hs/bindings/examples/nim-console/README.md
  language-support/hs/bindings/examples/nim-console/daml/Nim.daml
  language-support/hs/bindings/examples/nim-console/src/Domain.hs
  language-support/hs/bindings/examples/nim-console/src/External.hs
  language-support/hs/bindings/examples/nim-console/src/Interact.hs
  language-support/hs/bindings/examples/nim-console/src/Local.hs
  language-support/hs/bindings/examples/nim-console/src/Logging.hs
  language-support/hs/bindings/examples/nim-console/src/Main.hs
  language-support/hs/bindings/examples/nim-console/src/NimCommand.hs
  language-support/hs/bindings/examples/nim-console/src/NimLedger.hs
  language-support/hs/bindings/examples/nim-console/src/NimTrans.hs
  language-support/hs/bindings/examples/nim-console/src/Robot.hs
  language-support/hs/bindings/examples/nim-console/src/SimLedger.hs
  language-support/hs/bindings/examples/nim-console/src/UI.hs
  language-support/hs/bindings/src/DA/Ledger.hs
  language-support/hs/bindings/src/DA/Ledger/Convert.hs
  language-support/hs/bindings/src/DA/Ledger/Stream.hs
  language-support/hs/bindings/src/DA/Ledger/Types.hs
  language-support/hs/bindings/src/DA/Ledger/Valuable.hs
  language-support/hs/bindings/test/DA/Ledger/Tests.hs
Owners: @digital-asset/empty

move PastAndFuture abstraction into ledger interface code
  language-support/hs/bindings/examples/nim-console/src/SimLedger.hs
  language-support/hs/bindings/examples/nim-console/src/UI.hs
  language-support/hs/bindings/src/DA/Ledger/PastAndFuture.hs
Owners: @digital-asset/empty

Code review suggestion
  language-support/scala/bindings/src/main/scala/com/digitalasset/ledger/client/binding/binding/Contract.scala
Owners: @digital-asset/empty

Document the meaning of Option in Contract#agreementText (#1319)
  language-support/scala/bindings/src/main/scala/com/digitalasset/ledger/client/binding/binding/Contract.scala
Owners: @digital-asset/empty

Simplify how we handle DAML-LF version dependent builtins in damlc (#1335)
  daml-foundations/daml-ghc/ghc-compiler/src/DA/Daml/GHC/Compiler/Primitives.hs
Owners: @digital-asset/empty

Make exposed-modules field in daml.yaml optional
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Util.hs
  daml-assistant/integration-tests/src/Main.hs
  daml-foundations/daml-ghc/daml-compiler/src/DA/Service/Daml/Compiler/Impl/Handle.hs
  daml-foundations/daml-tools/da-hs-daml-cli/DA/Cli/Damlc.hs
  docs/source/support/release-notes.rst
  docs/source/tools/assistant.rst
Owners: @digital-asset/empty, @bethaitman

Add coerce for contract ids to DAML-LF
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Base.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Pretty.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/DecodeV1.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/EncodeV1.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/Simplifier.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Check.hs
  daml-foundations/daml-ghc/daml-stdlib-src/DA/Internal/LF.daml
  daml-foundations/daml-ghc/ghc-compiler/src/DA/Daml/GHC/Compiler/Primitives.hs
  daml-foundations/daml-ghc/tests/CoerceContractId.daml
  daml-lf/archive/da/daml_lf_1.proto
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/lfpackage/src/main/scala/com/digitalasset/daml/lf/lfpackage/Ast.scala
  daml-lf/lfpackage/src/main/scala/com/digitalasset/daml/lf/lfpackage/DecodeV1.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ExprParser.scala
  daml-lf/parser/src/test/scala/com/digitalasset/daml/lf/testing/parser/ParsersSpec.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
Owners: @digital-asset/empty

Add coerce for contract ids to DAML-LF
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Base.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Pretty.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/DecodeV1.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/EncodeV1.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/Simplifier.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Check.hs
  daml-foundations/daml-ghc/daml-stdlib-src/DA/Internal/LF.daml
  daml-foundations/daml-ghc/ghc-compiler/src/DA/Daml/GHC/Compiler/Primitives.hs
  daml-foundations/daml-ghc/tests/CoerceContractId.daml
  daml-lf/archive/da/daml_lf_1.proto
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/lfpackage/src/main/scala/com/digitalasset/daml/lf/lfpackage/Ast.scala
  daml-lf/lfpackage/src/main/scala/com/digitalasset/daml/lf/lfpackage/DecodeV1.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ExprParser.scala
  daml-lf/parser/src/test/scala/com/digitalasset/daml/lf/testing/parser/ParsersSpec.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
Owners: @digital-asset/empty

Reformat Scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
Owners: @digital-asset/empty

Make exposed-modules field in daml.yaml optional (#1345)
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Util.hs
  daml-assistant/integration-tests/src/Main.hs
  daml-foundations/daml-ghc/daml-compiler/src/DA/Service/Daml/Compiler/Impl/Handle.hs
  daml-foundations/daml-tools/da-hs-daml-cli/DA/Cli/Damlc.hs
  docs/source/support/release-notes.rst
  docs/source/tools/assistant.rst
Owners: @digital-asset/empty, @bethaitman

Add --all flag in daml version
  daml-assistant/BUILD.bazel
  daml-assistant/exe/DAML/Assistant.hs
  daml-assistant/src/DAML/Assistant/Command.hs
  daml-assistant/src/DAML/Assistant/Types.hs
Owners: @digital-asset/empty

Update version cacheing logic.
  daml-assistant/exe/DAML/Assistant.hs
  daml-assistant/src/DAML/Assistant/Cache.hs
  daml-assistant/src/DAML/Assistant/Version.hs
Owners: @digital-asset/empty

PR revisions.
  daml-assistant/BUILD.bazel
  daml-assistant/src/DAML/Assistant/Cache.hs
  daml-assistant/src/DAML/Assistant/Version.hs
Owners: @digital-asset/empty

List all available versions.
  daml-assistant/BUILD.bazel
  daml-assistant/exe/DAML/Assistant.hs
  daml-assistant/src/DAML/Assistant/Version.hs
Owners: @digital-asset/empty

Linting error
  daml-assistant/src/DAML/Assistant/Cache.hs
Owners: @digital-asset/empty

Save version list to cache
  daml-assistant/exe/DAML/Assistant.hs
  daml-assistant/src/DAML/Assistant/Cache.hs
  daml-assistant/src/DAML/Assistant/Version.hs
Owners: @digital-asset/empty

Update release notes.
  docs/source/support/release-notes.rst
Owners: @bethaitman

remove flaky failing test
  language-support/hs/bindings/test/DA/Ledger/Tests.hs
Owners: @digital-asset/empty

Update daml-assistant/src/DAML/Assistant/Version.hs
  daml-assistant/src/DAML/Assistant/Version.hs
Owners: @digital-asset/empty

Update docs/source/support/release-notes.rst
  docs/source/support/release-notes.rst
Owners: @bethaitman

Spliting on defname as well
  compiler/scenario-service/client/src/DA/Daml/LF/PrettyScenario.hs
Owners: @digital-asset/empty

incorporate feedback from the second round of reviews
  ledger-api/grpc-definitions/com/digitalasset/ledger/api/v1/admin/package_management_service.proto
  ledger-api/grpc-definitions/com/digitalasset/ledger/api/v1/admin/party_management_service.proto
Owners: @digital-asset/empty

Use Shake rules to access files of interest and open VRs
  daml-foundations/daml-ghc/ide/BUILD.bazel
  daml-foundations/daml-ghc/ide/src/Development/IDE/State/RuleTypes/Daml.hs
  daml-foundations/daml-ghc/ide/src/Development/IDE/State/Rules/Daml.hs
  daml-foundations/daml-ghc/ide/test/Development/IDE/State/API/Testing.hs
Owners: @digital-asset/empty

List all available versions, and persist version data. (#1339)
  daml-assistant/BUILD.bazel
  daml-assistant/exe/DAML/Assistant.hs
  daml-assistant/src/DAML/Assistant/Cache.hs
  daml-assistant/src/DAML/Assistant/Command.hs
  daml-assistant/src/DAML/Assistant/Types.hs
  daml-assistant/src/DAML/Assistant/Version.hs
  docs/source/support/release-notes.rst
Owners: @digital-asset/empty, @bethaitman

ValuePrimitiveEncoding.Mapped, mixin for the "axiom" parts of mapped and xmapped
  language-support/scala/bindings/src/main/scala/com/digitalasset/ledger/client/binding/binding/encoding/ValuePrimitiveEncoding.scala
Owners: @digital-asset/empty

Remove exerciseExplicit
  daml-foundations/daml-ghc/daml-stdlib-src/DA/Internal/Template.daml
  daml-lf/tests/AuthorizedDivulgence.daml
  docs/source/support/release-notes.rst
  ledger/ledger-api-integration-tests/src/test/semanticsuite/daml/SemanticTests.daml
Owners: @digital-asset/empty, @bethaitman

Use Shake rules to access files of interest and open VRs (#1348)
  daml-foundations/daml-ghc/ide/BUILD.bazel
  daml-foundations/daml-ghc/ide/src/Development/IDE/State/RuleTypes/Daml.hs
  daml-foundations/daml-ghc/ide/src/Development/IDE/State/Rules/Daml.hs
  daml-foundations/daml-ghc/ide/test/Development/IDE/State/API/Testing.hs
Owners: @digital-asset/empty

nim-console Ledger App (#1342)
  language-support/hs/bindings/BUILD.bazel
  language-support/hs/bindings/examples/Play.hs
  language-support/hs/bindings/examples/nim-console/README.md
  language-support/hs/bindings/examples/nim-console/daml/Nim.daml
  language-support/hs/bindings/examples/nim-console/src/Domain.hs
  language-support/hs/bindings/examples/nim-console/src/External.hs
  language-support/hs/bindings/examples/nim-console/src/Interact.hs
  language-support/hs/bindings/examples/nim-console/src/Local.hs
  language-support/hs/bindings/examples/nim-console/src/Logging.hs
  language-support/hs/bindings/examples/nim-console/src/Main.hs
  language-support/hs/bindings/examples/nim-console/src/NimCommand.hs
  language-support/hs/bindings/examples/nim-console/src/NimLedger.hs
  language-support/hs/bindings/examples/nim-console/src/NimTrans.hs
  language-support/hs/bindings/examples/nim-console/src/PastAndFuture.hs
  language-support/hs/bindings/examples/nim-console/src/Robot.hs
  language-support/hs/bindings/examples/nim-console/src/SimLedger.hs
  language-support/hs/bindings/examples/nim-console/src/UI.hs
  language-support/hs/bindings/src/DA/Ledger.hs
  language-support/hs/bindings/src/DA/Ledger/Convert.hs
  language-support/hs/bindings/src/DA/Ledger/PastAndFuture.hs
  language-support/hs/bindings/src/DA/Ledger/Stream.hs
  language-support/hs/bindings/src/DA/Ledger/Types.hs
  language-support/hs/bindings/src/DA/Ledger/Valuable.hs
  language-support/hs/bindings/test/DA/Ledger/Sandbox.hs
  language-support/hs/bindings/test/DA/Ledger/Tests.hs
  language-support/hs/bindings/test/DA/Ledger/Trace.hs
Owners: @digital-asset/empty

[ci/linux] keep daml copy until it's actually not needed anymore
  infra/vsts_agent_linux_startup.sh
Owners: @garyverhaegen-da
