Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @hurryabit, @gerolf-da, @bame-da, @garyverhaegen-da, @cocreature, @associahedron, @aherrmann-da, @shayne-fletcher, @S11001001, @remyhaemmerle-da, @leo-da, @rautenrieth-da, @SamirTalwar-DA, @stefanobaghino-da, @dajmaki, @dasormeter, @fabiotudone-da, @miklos-da, @mziolekda, @nickchapman-da, @robin-da, @nemanja-da

Fix optPow and errPow
  docs/source/daml/intro/daml/daml-intro-5/Restrictions.daml
Owners: @bame-da, @nemanja-da, @hurryabit

Fix optPow and errPow (#5722)
  docs/source/daml/intro/daml/daml-intro-5/Restrictions.daml
Owners: @bame-da, @nemanja-da, @hurryabit

Engine: some optimization
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/FastMap.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/HashCodeValProduct.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/MutableCompiledPackages.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/CompiledPackages.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/InterpreterTest.scala
  daml-lf/repl/src/main/scala/com/digitalasset/daml/lf/repl/testing/Main.scala
  daml-lf/scenario-interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ScenarioRunnerTest.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/Value.scala
Owners: none

formating
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/FastMap.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/HashCodeValProduct.scala
Owners: none

fix
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/FastMap.scala
Owners: none

Renaming of choice parameters
  compiler/daml-lf-verify/src/DA/Daml/LF/Verify.hs
  compiler/daml-lf-verify/src/DA/Daml/LF/Verify/Context.hs
  compiler/daml-lf-verify/src/DA/Daml/LF/Verify/Generate.hs
  compiler/daml-lf-verify/src/DA/Daml/LF/Verify/Solve.hs
  compiler/daml-lf-verify/src/DA/Daml/LF/Verify/Subst.hs
Owners: @hurryabit, @cocreature

Cleanup
  compiler/daml-lf-verify/src/DA/Daml/LF/Verify/Context.hs
  compiler/daml-lf-verify/src/DA/Daml/LF/Verify/Solve.hs
  compiler/daml-lf-verify/src/DA/Daml/LF/Verify/Subst.hs
  compiler/damlc/BUILD.bazel
Owners: @hurryabit, @cocreature

formating
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/FastMap.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/HashCodeValProduct.scala
Owners: none

add non-https option to more places in daml-assistant tests
  daml-assistant/daml-helper/src/DA/Daml/Helper/Run.hs
  daml-assistant/integration-tests/src/DA/Daml/Assistant/IntegrationTests.hs
Owners: @associahedron, @hurryabit, @cocreature

add non-https option to getting started guide
  docs/source/getting-started/index.rst
Owners: @bame-da, @nemanja-da, @hurryabit

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

CODEOWNERS  @hurryabit @gerolf-da
LATEST      @hurryabit @gerolf-da @bame-da

# Build / CI / environment
/ci/                @garyverhaegen-da
/dev-env/           @garyverhaegen-da
/nix/               @garyverhaegen-da
/infra/             @garyverhaegen-da
azure-pipelines.yml @garyverhaegen-da
azure-cron.yml      @garyverhaegen-da

# Language
/compiler/          @hurryabit @cocreature
/libs-haskell/      @hurryabit @cocreature
/daml-assistant/    @associahedron @hurryabit @cocreature
/daml-script/       @cocreature @hurryabit @aherrmann-da
/triggers/          @cocreature @hurryabit @aherrmann-da
/ghc-lib/           @shayne-fletcher @cocreature
/compatibility/     @garyverhaegen-da @aherrmann-da @cocreature

# Runtime
/daml-lf/governance.rst @gerolf-da @S11001001
/daml-lf/archive/da/    @remyhaemmerle-da @hurryabit @gerolf-da
/daml-lf/spec/value.rst @S11001001 @gerolf-da
/daml-lf/spec/transaction.rst @S11001001 @gerolf-da
/daml-lf/spec/daml-lf-1.rst @remyhaemmerle-da @hurryabit @gerolf-da
/daml-lf/data-scalacheck/  @S11001001
/daml-lf/transaction-scalacheck/  @S11001001
/daml-lf/validation/    @remyhaemmerle-da
/daml-lf/transaction/src/main/scala/com/daml/lf/transaction/ @S11001001
/daml-lf/transaction/src/main/scala/com/daml/lf/value/       @S11001001

/ledger-service/    @leo-da @S11001001

/ledger/      @gerolf-da @rautenrieth-da @SamirTalwar-DA @stefanobaghino-da
/ledger-api/  @gerolf-da @rautenrieth-da @SamirTalwar-DA @stefanobaghino-da

# DAML-on-X
/ledger/participant-state/kvutils/  @dajmaki @dasormeter @fabiotudone-da @gerolf-da @miklos-da @mziolekda @rautenrieth-da @SamirTalwar-DA @stefanobaghino-da

# Ecosystems
/language-support/hs/       @nickchapman-da
/language-support/java/     @gerolf-da @stefanobaghino-da
/language-support/scala/    @leo-da @S11001001
/language-support/ts/       @hurryabit @shayne-fletcher @robin-da

# Tools
/extractor/         @leo-da @S11001001
/navigator/         @rautenrieth-da

# Misc
/docs/              @bame-da @nemanja-da @hurryabit
/libs-scala/        @stefanobaghino-da @SamirTalwar-DA
