Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @gerolf-da, @cocreature, @stefanobaghino-da, @bame-da, @ray-roestenburg-da, @adriaanm-da, @garyverhaegen-da, @dasormeter, @sofiafaro-da, @remyhaemmerle-da, @S11001001, @digital-asset/kv-committer, @digital-asset/kv-participant, @meiersi-da, @nickchapman-da, @robin-da, @SamirTalwar-DA

Bazel ignore .bazel-cache dir used for doc live-preview script
  .bazelignore
Owners: none

Switch daml script multi-participant tests to Canton
  daml-script/test/BUILD.bazel
  daml-script/test/src/com/digitalasset/daml/lf/engine/script/test/MultiParticipantIT.scala
  daml-script/test/src/test-utils/com/daml/lf/engine/script/test/MultiParticipantFixture.scala
Owners: @cocreature

Remove unnecessary code line
  ledger-service/http-json/src/main/scala/com/digitalasset/http/EndpointsCompanion.scala
Owners: @S11001001, @stefanobaghino-da, @ray-roestenburg-da

code review
  ledger/error/generator/lib/src/main/scala/com/daml/error/generator/ErrorCodeDocumentationGenerator.scala
Owners: @digital-asset/kv-participant

Address sofia's review
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
Owners: @remyhaemmerle-da, @cocreature

more startup attempts
  daml-script/test/src/test-utils/com/daml/lf/engine/script/test/MultiParticipantFixture.scala
Owners: @cocreature

1
  ledger/error/generator/test/suite/scala/com/daml/error/generator/ErrorCodeDocumentationGeneratorSpec.scala
Owners: @digital-asset/kv-participant

[JSON-API] Normalize token parsing & remove custom parsing code (#13161)
  ledger-service/http-json-testing/src/main/scala/com/daml/http/HttpServiceTestFixture.scala
  ledger-service/http-json/src/failure/scala/http/FailureTests.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTest.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/EndpointsCompanion.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebsocketEndpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/endpoints/RouteSetup.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/endpoints/UserManagement.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/CommandServiceTest.scala
Owners: @S11001001, @stefanobaghino-da, @ray-roestenburg-da

Speed up Daml repl startup
  compiler/damlc/daml-compiler/BUILD.bazel
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Repl.hs
  compiler/damlc/lib/DA/Cli/Damlc.hs
  compiler/damlc/tests/src/DA/Test/Repl/FuncTests.hs
  compiler/repl-service/client/src/DA/Daml/LF/ReplClient.hs
  compiler/repl-service/protos/repl_service.proto
  compiler/repl-service/server/src/main/scala/com/digitalasset/daml/lf/speedy/ReplServiceMain.scala
Owners: @cocreature

LF: Add interface preconditions to spec.
  daml-lf/spec/daml-lf-1.rst
Owners: @remyhaemmerle-da, @cocreature

Add summary helpers
  ledger/metrics/src/main/scala/com/daml/metrics/TimedNative.scala
  ledger/metrics/src/main/scala/com/daml/metrics/package.scala
Owners: @digital-asset/kv-participant

Fix debug logging in `ApiTransactionService`
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/transaction/ApiTransactionService.scala
Owners: @digital-asset/kv-participant

rollback one change
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/transaction/ApiTransactionService.scala
Owners: @digital-asset/kv-participant

Make http.domain a package (Fixes #11151) (#13164)
  ledger-service/http-json/src/main/scala/com/digitalasset/http/domain.scala
Owners: @S11001001, @stefanobaghino-da, @ray-roestenburg-da

Update ledger/participant-integration-api/src/main/scala/platform/apiserver/services/transaction/ApiTransactionService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/transaction/ApiTransactionService.scala
Owners: @digital-asset/kv-participant

Remove most of ErrorFactories [DPP-606] (#13146)
  ledger/error/src/main/scala/com/daml/error/definitions/LedgerApiErrors.scala
  ledger/error/src/main/scala/com/daml/error/definitions/TransactionError.scala
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/Authorizer.scala
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/OngoingAuthorizationObserver.scala
  ledger/ledger-api-auth/src/main/scala/com/digitalasset/ledger/api/auth/interceptor/AuthorizationInterceptor.scala
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/services/commands/tracker/CompletionResponse.scala
  ledger/ledger-api-common/BUILD.bazel
  ledger/ledger-api-common/src/main/scala/com/digitalasset/ledger/api/validation/CommandsValidator.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/ledger/api/validation/LedgerOffsetValidator.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/services/grpc/GrpcHealthService.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/validation/DeduplicationPeriodValidator.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/validation/ErrorFactories.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/api/validation/FieldValidations.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/platform/server/api/validation/ErrorFactoriesSpec.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiCommandService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiLedgerIdentityService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiPackageService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiSubmissionService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiVersionService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/admin/ApiConfigManagementService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/admin/ApiPackageManagementService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/admin/ApiParticipantPruningService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/admin/SynchronousResponse.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/tracking/QueueBackedTracker.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/transaction/ApiTransactionService.scala
  ledger/participant-integration-api/src/main/scala/platform/index/IndexServiceImpl.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/JdbcLedgerDao.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/QueryNonPruned.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/deduplication/DeduplicationPeriodSupport.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/deduplication/DeduplicationPeriodSupportSpec.scala
  ledger/sandbox-on-x/BUILD.bazel
  ledger/sandbox-on-x/src/main/scala/com/daml/ledger/sandbox/domain/Rejection.scala
Owners: @digital-asset/kv-participant, @digital-asset/kv-committer

Use an error code when AkkaGrpc services get closed
  ledger-api/rs-grpc-akka/src/main/scala/com/digitalasset/grpc/adapter/server/akka/ServerAdapter.scala
  ledger-api/sample-service/BUILD.bazel
  ledger/error/src/main/scala/com/daml/error/ContextualizedErrorLogger.scala
  ledger/error/src/main/scala/com/daml/error/definitions/LedgerApiErrors.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/error/ErrorInterceptorSpec.scala
  libs-scala/contextualized-logging/src/main/scala/com/digitalasset/logging/LoggingContext.scala
  scala-protoc-plugins/scala-akka/AkkaGrpcServicePrinter.scala
Owners: @digital-asset/kv-participant, @S11001001

handle tls logs
  compiler/damlc/tests/src/DA/Test/Repl.hs
Owners: @cocreature

fix
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
Owners: @remyhaemmerle-da, @cocreature

Thorough stack-safety testing for all speedy compiler phases. (#13168)
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/PhaseOneTest.scala
Owners: @remyhaemmerle-da, @cocreature

DB metrics
  ledger/indexer-benchmark/src/main/scala/ledger/indexerbenchmark/IndexerBenchmark.scala
  ledger/metrics/src/main/scala/com/daml/metrics/DatabaseMetrics.scala
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/DbDispatcher.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/HikariJdbcConnectionProvider.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/ContractsReader.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/TransactionsReader.scala
Owners: @digital-asset/kv-participant

Formatted changes
  ledger/caching/src/main/scala/com/daml/caching/DropwizardStatsCounter.scala
  ledger/caching/src/main/scala/com/daml/caching/SizedCache.scala
  ledger/caching/src/main/scala/com/daml/caching/WeightedCache.scala
  ledger/metrics/src/main/scala/com/daml/metrics/DatabaseMetrics.scala
  ledger/metrics/src/main/scala/com/daml/metrics/DatabaseMetricsNative.scala
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
  ledger/metrics/src/main/scala/com/daml/metrics/TimedNative.scala
  ledger/metrics/src/main/scala/com/daml/metrics/package.scala
  ledger/metrics/src/test/suite/scala/com/daml/metrics/PackageSpec.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/ContractsReader.scala
  ledger/participant-state/kvutils/BUILD.bazel
Owners: @digital-asset/kv-participant, @digital-asset/kv-committer

two should be True
  daml-lf/spec/daml-lf-1.rst
Owners: @remyhaemmerle-da, @cocreature

Fix debug logging in `ApiTransactionService` (#13174)
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/transaction/ApiTransactionService.scala
Owners: @digital-asset/kv-participant

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

CODEOWNERS   @gerolf-da @cocreature @stefanobaghino-da
LATEST       @gerolf-da @bame-da @cocreature @ray-roestenburg-da @adriaanm-da

# Build / CI / environment
/ci/                @garyverhaegen-da
/dev-env/           @garyverhaegen-da
/nix/               @garyverhaegen-da
/infra/             @garyverhaegen-da
azure-pipelines.yml @garyverhaegen-da
azure-cron.yml      @garyverhaegen-da
/release/           @garyverhaegen-da
/release.sh         @garyverhaegen-da

# Blackduck
NOTICES     @garyverhaegen-da @cocreature @dasormeter

# Language
/compiler/          @cocreature
/libs-haskell/      @cocreature
/daml-assistant/    @sofiafaro-da @cocreature
/daml-script/       @cocreature
/triggers/          @cocreature
/ghc-lib/           @cocreature
/compatibility/     @garyverhaegen-da @cocreature

# Runtime
/daml-lf/ @remyhaemmerle-da @cocreature
/daml-lf/data-scalacheck/ @S11001001 @remyhaemmerle-da @cocreature
/daml-lf/governance.rst @sofiafaro-da @remyhaemmerle-da @cocreature
/daml-lf/kv-support/ @digital-asset/kv-committer @remyhaemmerle-da @cocreature
/daml-lf/transaction-test-lib/ @S11001001 @remyhaemmerle-da @cocreature

# KV Participant
/ledger/      @digital-asset/kv-participant
/ledger-api/  @digital-asset/kv-participant

# Ledger API Interfaces and Read/Write services are jointly owned between KV teams and @meiersi-da
/ledger-api/grpc-definitions/       @meiersi-da @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/ledger-configuration/       @meiersi-da @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/ledger-offset/              @meiersi-da @digital-asset/kv-participant @digital-asset/kv-committer 
/ledger/participant-state/src       @meiersi-da @digital-asset/kv-participant @digital-asset/kv-committer

# Needs cleanup due to mix of kvutils implementation and interfaces. Until then: shared ownership for KV teams
/ledger/participant-state/          @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/participant-state-metrics/  @digital-asset/kv-participant @digital-asset/kv-committer

# Owned by KV Participant with KV Committer added for notifications
/ledger/ledger-api-common/          @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/ledger-api-domain/          @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/ledger-api-health/          @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/ledger-api-tests/           @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/ledger-configuration/       @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/ledger-offset/              @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/participant-state-index/    @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/sandbox/                    @digital-asset/kv-participant @digital-asset/kv-committer

# KV Participant
/ledger/participant-integration-api/      @digital-asset/kv-participant


# KV Committer
/ledger/ledger-on-memory/           @digital-asset/kv-committer
/ledger/participant-state/kvutils/  @digital-asset/kv-committer


# Ecosystems
/language-support/hs/       @nickchapman-da @cocreature
/language-support/java/     @stefanobaghino-da @ray-roestenburg-da
/language-support/scala/    @S11001001 @stefanobaghino-da @ray-roestenburg-da
/language-support/ts/       @robin-da @garyverhaegen-da @stefanobaghino-da @ray-roestenburg-da

# Application Runtime
/ledger-service/       @S11001001 @stefanobaghino-da @ray-roestenburg-da
/navigator/            @stefanobaghino-da @ray-roestenburg-da
/runtime-components/   @stefanobaghino-da @ray-roestenburg-da
/triggers/service/     @stefanobaghino-da @ray-roestenburg-da
/navigator/backend/src/main/scala/com/digitalasset/navigator/json/    @S11001001

# Misc
/docs/              @cocreature @stefanobaghino-da
/libs-scala/        @stefanobaghino-da @SamirTalwar-DA
/libs-scala/contextualized-logging/    @S11001001
/libs-scala/scala-utils/    @S11001001
/libs-scala/scalatest-utils/    @S11001001
