Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @gerolf-da, @bame-da, @ray-roestenburg-da, @adriaanm-da, @garyverhaegen-da, @dasormeter, @sofiafaro-da, @remyhaemmerle-da, @S11001001, @digital-asset/kv-committer, @digital-asset/kv-participant, @meiersi-da, @nickchapman-da, @robin-da, @stefanobaghino-da, @soren-da, @matthiasS-da

Speedy: Delete dead code (#13809)
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
Owners: @remyhaemmerle-da

Minor readability fix: makes timeout related code more obvious
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiTimeService.scala
Owners: @digital-asset/kv-participant

docs: push source tree deps
  ci/copy-unix-release-artifacts.sh
  docs/BUILD.bazel
Owners: @garyverhaegen-da, @stefanobaghino-da

fmt
  docs/BUILD.bazel
Owners: @stefanobaghino-da

docs: push source tree deps (#13814)
  ci/copy-unix-release-artifacts.sh
  docs/BUILD.bazel
Owners: @garyverhaegen-da, @stefanobaghino-da

Update index.pdf
  docs/configs/pdf/index.rst
Owners: @stefanobaghino-da

Update packages.rst
  docs/source/daml/reference/packages.rst
Owners: @stefanobaghino-da

Update authorization.rst
  docs/source/app-dev/authorization.rst
Owners: @stefanobaghino-da

Update authorization.rst
  docs/source/app-dev/authorization.rst
Owners: @stefanobaghino-da

Update authorization.rst
  docs/source/app-dev/authorization.rst
Owners: @stefanobaghino-da

Removing the Daml Ledgers table (#13781)
  docs/configs/pdf/index.rst
  docs/source/app-dev/authorization.rst
  docs/source/daml/reference/packages.rst
  docs/source/deploying.rst
  docs/source/index.rst
Owners: @stefanobaghino-da

remove unused abstract method; note deprecation times
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/ContractCompanion.java
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/ContractClass.scala
Owners: @ray-roestenburg-da

non-reflective abstractions for Java codegen Contracts (#13724)
  docs/source/app-dev/bindings-java/codegen.rst
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/Contract.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/ContractCompanion.java
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/codegen/ContractWithKey.java
  language-support/java/codegen/src/it/java/com/daml/TemplateMethodTest.java
  language-support/java/codegen/src/ledger-tests/scala/com/digitalasset/CodegenLedgerTest.scala
  language-support/java/codegen/src/ledger-tests/scala/com/digitalasset/TestUtil.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/ClassGenUtils.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/ContractClass.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/TemplateClass.scala
  language-support/java/codegen/src/test/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/ContractClassBuilderSpec.scala
Owners: @stefanobaghino-da, @ray-roestenburg-da

Improve test
  ledger/error/src/main/scala/com/daml/error/definitions/groups/ConsistencyErrors.scala
  ledger/ledger-api-tests/suites/src/main/scala/com/daml/ledger/api/testtool/suites/v1_8/ExplicitDisclosureIT.scala
Owners: @digital-asset/kv-participant, @digital-asset/kv-committer

WIP
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/TransactionLogUpdatesConversions.scala
  ledger/participant-integration-api/src/main/scala/platform/store/cache/EventsBuffer.scala
Owners: @digital-asset/kv-participant

[LLP] Indexer latency optimizations [DPP-1014] (#13667)
  ledger/indexer-benchmark/src/main/scala/ledger/indexerbenchmark/Config.scala
  ledger/indexer-benchmark/src/main/scala/ledger/indexerbenchmark/IndexerBenchmarkResult.scala
  ledger/ledger-runner-common/src/main/scala/com/daml/ledger/runner/common/Config.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/IndexerConfig.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/JdbcIndexer.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/parallel/BatchN.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/parallel/BatchingParallelIngestionPipe.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/parallel/ParallelIndexerSubscription.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/indexer/parallel/BatchNSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/indexer/parallel/BatchingParallelIngestionPipeSpec.scala
Owners: @digital-asset/kv-participant

bump canton to 20220506
  canton_dep.bzl
Owners: @garyverhaegen-da

update NOTICES file
  NOTICES
Owners: @garyverhaegen-da, @dasormeter

update NOTICES file
  NOTICES
Owners: @garyverhaegen-da, @dasormeter

Split filtering from API_RESPONSE conversion
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/BufferedTransactionsReader.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/TransactionLogUpdatesConversions.scala
  ledger/participant-integration-api/src/main/scala/platform/store/cache/EventsBuffer.scala
Owners: @digital-asset/kv-participant

update NOTICES file
  NOTICES
Owners: @garyverhaegen-da, @dasormeter

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

CODEOWNERS   @gerolf-da
LATEST       @gerolf-da @bame-da @ray-roestenburg-da @adriaanm-da

# Build / CI / environment
/ci/                @garyverhaegen-da
/dev-env/           @garyverhaegen-da
/nix/               @garyverhaegen-da
/infra/             @garyverhaegen-da
azure-pipelines.yml @garyverhaegen-da
azure-cron.yml      @garyverhaegen-da
/release/           @garyverhaegen-da
/release.sh         @garyverhaegen-da
/canton_dep.bzl     @garyverhaegen-da

# Blackduck
NOTICES     @garyverhaegen-da @dasormeter

# Language
/daml-assistant/    @sofiafaro-da @ray-roestenburg-da
/daml-script/       @remyhaemmerle-da
/triggers/          @remyhaemmerle-da
/compatibility/     @garyverhaegen-da
/compiler/          @sofiafaro-da
/libs-haskell/      @sofiafaro-da
/ghc-lib/           @sofiafaro-da

# Runtime
/daml-lf/ @remyhaemmerle-da
/daml-lf/data-scalacheck/src/main/ @S11001001
/daml-lf/governance.rst @sofiafaro-da @remyhaemmerle-da
/daml-lf/kv-support/ @digital-asset/kv-committer @remyhaemmerle-da
/daml-lf/transaction-test-lib/src/main/ @S11001001

# KV Participant
/ledger/      @digital-asset/kv-participant
/ledger-api/  @digital-asset/kv-participant

# Ledger API Interfaces and Read/Write services are jointly owned between KV teams and @meiersi-da
/ledger-api/grpc-definitions/       @meiersi-da @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/ledger-configuration/       @meiersi-da @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/ledger-offset/              @meiersi-da @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/participant-state/src       @meiersi-da @digital-asset/kv-participant @digital-asset/kv-committer

# Owned by KV Participant with KV Committer added for notifications
/ledger/ledger-api-common/              @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/ledger-api-domain/              @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/ledger-api-health/              @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/ledger-api-tests/               @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/ledger-configuration/           @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/ledger-offset/                  @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/participant-state/              @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/participant-state-index/        @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/participant-state-kv-errors/    @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/participant-state-metrics/      @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/sandbox/                        @digital-asset/kv-participant @digital-asset/kv-committer

# KV Participant
/ledger/participant-integration-api/    @digital-asset/kv-participant

# Ecosystems
/language-support/hs/       @nickchapman-da @sofiafaro-da
/language-support/java/     @ray-roestenburg-da
/language-support/scala/    @S11001001 @ray-roestenburg-da
/language-support/ts/       @robin-da @garyverhaegen-da @ray-roestenburg-da

# Application Runtime
/ledger-service/       @ray-roestenburg-da
/navigator/            @ray-roestenburg-da
/runtime-components/   @ray-roestenburg-da
/triggers/service/     @ray-roestenburg-da

# Misc
/docs/              @stefanobaghino-da
/libs-scala/nonempty-cats/src/    @S11001001
/libs-scala/scala-utils/src/    @S11001001
/libs-scala/scalatest-utils/src/    @S11001001
/libs-scala/test-evidence/ @digital-asset/kv-participant @soren-da @matthiasS-da
