Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @hurryabit, @gerolf-da, @bame-da, @garyverhaegen-da, @cocreature, @associahedron, @aherrmann-da, @shayne-fletcher, @S11001001, @remyhaemmerle-da, @leo-da, @rautenrieth-da, @SamirTalwar-DA, @stefanobaghino-da, @dajmaki, @dasormeter, @fabiotudone-da, @miklos-da, @mziolekda, @nickchapman-da, @robin-da, @nemanja-da

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

CODEOWNERS  @hurryabit @gerolf-da
LATEST      @hurryabit @gerolf-da @bame-da

# Build / CI / environment
/ci/                @garyverhaegen-da
/dev-env/           @garyverhaegen-da
/nix/               @garyverhaegen-da
/infra/             @garyverhaegen-da
azure-pipelines.yml @garyverhaegen-da
azure-cron.yml      @garyverhaegen-da

# Language
/compiler/          @hurryabit @cocreature
/libs-haskell/      @hurryabit @cocreature
/daml-assistant/    @associahedron @hurryabit @cocreature
/daml-script/       @cocreature @hurryabit @aherrmann-da
/triggers/          @cocreature @hurryabit @aherrmann-da
/ghc-lib/           @shayne-fletcher @cocreature
/compatibility/     @garyverhaegen-da @aherrmann-da @cocreature

# Runtime
/daml-lf/governance.rst @gerolf-da @S11001001
/daml-lf/archive/da/    @remyhaemmerle-da @hurryabit @gerolf-da
/daml-lf/spec/value.rst @S11001001 @gerolf-da
/daml-lf/spec/transaction.rst @S11001001 @gerolf-da
/daml-lf/spec/daml-lf-1.rst @remyhaemmerle-da @hurryabit @gerolf-da
/daml-lf/data-scalacheck/  @S11001001
/daml-lf/transaction-scalacheck/  @S11001001
/daml-lf/validation/    @remyhaemmerle-da
/daml-lf/transaction/src/main/scala/com/daml/lf/transaction/ @S11001001
/daml-lf/transaction/src/main/scala/com/daml/lf/value/       @S11001001

/ledger-service/    @leo-da @S11001001

/ledger/      @gerolf-da @rautenrieth-da @SamirTalwar-DA @stefanobaghino-da
/ledger-api/  @gerolf-da @rautenrieth-da @SamirTalwar-DA @stefanobaghino-da

# DAML-on-X
/ledger/participant-state/kvutils/  @dajmaki @dasormeter @fabiotudone-da @gerolf-da @miklos-da @mziolekda @rautenrieth-da @SamirTalwar-DA @stefanobaghino-da

# Ecosystems
/language-support/hs/       @nickchapman-da
/language-support/java/     @gerolf-da @stefanobaghino-da
/language-support/scala/    @leo-da @S11001001
/language-support/ts/       @hurryabit @shayne-fletcher @robin-da

# Tools
/extractor/         @leo-da @S11001001
/navigator/         @rautenrieth-da

# Misc
/docs/              @bame-da @nemanja-da @hurryabit
/libs-scala/        @stefanobaghino-da @SamirTalwar-DA

Include latest snapshot in compatibility tests
  compatibility/BUILD
  compatibility/WORKSPACE
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature

Scenario service: fails when trying to lookup not visible key (#5561)
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SResult.scala
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ScenarioRunner.scala
  daml-lf/tests/scenario/daml-1.dev/contract-key-through-exercises/EXPECTED.ledger
  daml-lf/tests/scenario/daml-1.dev/contract-key-through-exercises/Test.daml
Owners: none

Scenario service: fails when trying to lookup not visible key (#5561)
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SResult.scala
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ScenarioRunner.scala
  daml-lf/tests/scenario/daml-1.dev/contract-key-through-exercises/EXPECTED.ledger
  daml-lf/tests/scenario/daml-1.dev/contract-key-through-exercises/Test.daml
Owners: none

use insecure option in daml assistant integration tests
  daml-assistant/integration-tests/src/DA/Daml/Assistant/IntegrationTests.hs
Owners: @associahedron, @hurryabit, @cocreature

log allowNonHttps setting
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Main.scala
Owners: @leo-da, @S11001001

fix tests
  daml-lf/tests/scenario/daml-1.dev/contract-key-through-exercises/EXPECTED.ledger
Owners: none

scalafmt: disable fancy progress bar on ci
  fmt.sh
Owners: none

Backport #5666. Scenario service fails when trying to lookup not visible key (#5710)
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SResult.scala
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ScenarioRunner.scala
  daml-lf/tests/scenario/daml-1.dev/contract-key-through-exercises/EXPECTED.ledger
  daml-lf/tests/scenario/daml-1.dev/contract-key-through-exercises/Test.daml
Owners: none

Remove duplicate field
  ledger/ledger-api-common/src/main/scala/com/digitalasset/ledger/api/validation/CommandsValidator.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/ledger/api/validation/SubmitRequestValidatorTest.scala
  ledger/ledger-api-domain/src/main/scala/com/digitalasset/ledger/api/domain.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/execution/LedgerTimeAwareCommandExecutor.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/execution/StoreBackedCommandExecutor.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/ApiSubmissionService.scala
Owners: @gerolf-da, @rautenrieth-da, @SamirTalwar-DA, @stefanobaghino-da

Add logging when ledger effective time is updated
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/execution/LedgerTimeAwareCommandExecutor.scala
Owners: @gerolf-da, @rautenrieth-da, @SamirTalwar-DA, @stefanobaghino-da

Add dade-assist step to compat cron job
  ci/cron/daily-compat.yml
Owners: @garyverhaegen-da

Remove duplicate ledger time field (#5698)
  ledger/ledger-api-common/src/main/scala/com/digitalasset/ledger/api/validation/CommandsValidator.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/ledger/api/validation/SubmitRequestValidatorTest.scala
  ledger/ledger-api-domain/src/main/scala/com/digitalasset/ledger/api/domain.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/execution/LedgerTimeAwareCommandExecutor.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/execution/StoreBackedCommandExecutor.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/ApiSubmissionService.scala
Owners: @gerolf-da, @rautenrieth-da, @SamirTalwar-DA, @stefanobaghino-da

Backport "Remove duplicate ledger time field (#5698)"
  ledger/ledger-api-common/src/main/scala/com/digitalasset/ledger/api/validation/CommandsValidator.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/ledger/api/validation/SubmitRequestValidatorTest.scala
  ledger/ledger-api-domain/src/main/scala/com/digitalasset/ledger/api/domain.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/execution/LedgerTimeAwareCommandExecutor.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/execution/StoreBackedCommandExecutor.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/ApiSubmissionService.scala
Owners: @gerolf-da, @rautenrieth-da, @SamirTalwar-DA, @stefanobaghino-da

Add dade-assist step to compat cron job (#5712)
  ci/cron/daily-compat.yml
Owners: @garyverhaegen-da

Apply suggestions from code review
  compatibility/bazel-haskell-deps.bzl
  compatibility/bazel_tools/client_server/BUILD
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature

Fix runfiles snippet
  compatibility/bazel_tools/daml_sdk.bzl
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature

Extend compatibility tests to DAML on SQL (#5705)
  azure-pipelines.yml
  compatibility/BUILD
  compatibility/WORKSPACE
  compatibility/bazel-haskell-deps.bzl
  compatibility/bazel_tools/BUILD
  compatibility/bazel_tools/client_server/BUILD
  compatibility/bazel_tools/client_server/WithPostgres.hs
  compatibility/bazel_tools/daml_sdk.bzl
  compatibility/bazel_tools/sandbox-with-postgres.sh
  compatibility/bazel_tools/testing.bzl
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature

Include latest snapshot in compatibility tests (#5709)
  compatibility/BUILD
  compatibility/WORKSPACE
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature

Backport "Remove duplicate ledger time field (#5698)" (#5713)
  ledger/ledger-api-common/src/main/scala/com/digitalasset/ledger/api/validation/CommandsValidator.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/ledger/api/validation/SubmitRequestValidatorTest.scala
  ledger/ledger-api-domain/src/main/scala/com/digitalasset/ledger/api/domain.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/execution/LedgerTimeAwareCommandExecutor.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/execution/StoreBackedCommandExecutor.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/apiserver/services/ApiSubmissionService.scala
Owners: @gerolf-da, @rautenrieth-da, @SamirTalwar-DA, @stefanobaghino-da

Release 1.0.1-snapshot
  LATEST
Owners: @hurryabit, @gerolf-da, @bame-da

Reduce start logging noise in ledger-on-memory/ledger-on-sql
  ledger/participant-state/kvutils/app/src/main/resources/com/daml/ledger/participant/state/kvutils/app/logback.base.xml
Owners: @dajmaki, @dasormeter, @fabiotudone-da, @gerolf-da, @miklos-da, @mziolekda, @rautenrieth-da, @SamirTalwar-DA, @stefanobaghino-da

Sandbox: Respect --log-level param
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/logging/GlobalLogLevel.scala
Owners: @gerolf-da, @rautenrieth-da, @SamirTalwar-DA, @stefanobaghino-da

client-server-test fix runfiles
  bazel_tools/client_server/client_server_test.bzl
Owners: none

compatibility: define versioned client server test
  compatibility/BUILD
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature

Version registry rules
  compatibility/BUILD
  compatibility/bazel_tools/version.bzl
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature

Define matrix test
  compatibility/BUILD
  compatibility/bazel_tools/version.bzl
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature

Factor out _get_version
  compatibility/bazel_tools/version.bzl
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature

Fix ./fmt.sh check
  compatibility/BUILD
  compatibility/WORKSPACE
  compatibility/bazel_tools/client_server/BUILD
  compatibility/bazel_tools/client_server/Main.hs
  compatibility/bazel_tools/client_server/WithPostgres.hs
  compatibility/bazel_tools/daml_sdk.bzl
  compatibility/bazel_tools/testing.bzl
  compatibility/deps.bzl
  compiler/damlc/BUILD.bazel
  deps.bzl
  fmt.sh
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature, @hurryabit

Factor out binary wrapper
  compatibility/bazel_tools/version.bzl
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature

auto declare wrapper
  compatibility/bazel_tools/version.bzl
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature

Rename matrix_test
  compatibility/BUILD
  compatibility/bazel_tools/version.bzl
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature

Update fmt.sh
  fmt.sh
Owners: none

Replace client_server_test by matrix tests
  compatibility/BUILD
  compatibility/bazel_tools/testing.bzl
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature

Fix ./fmt.sh check (#5718)
  compatibility/BUILD
  compatibility/WORKSPACE
  compatibility/bazel_tools/client_server/BUILD
  compatibility/bazel_tools/client_server/Main.hs
  compatibility/bazel_tools/client_server/WithPostgres.hs
  compatibility/bazel_tools/daml_sdk.bzl
  compatibility/bazel_tools/testing.bzl
  compatibility/deps.bzl
  compiler/damlc/BUILD.bazel
  deps.bzl
  fmt.sh
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature, @hurryabit

Extend compatibility tests to test against HEAD
  azure-pipelines.yml
  ci/compatibility.yml
  ci/cron/daily-compat.yml
  compatibility/.bazelignore
  compatibility/BUILD
  compatibility/WORKSPACE
  compatibility/bazel_tools/daml_sdk.bzl
  compatibility/bazel_tools/testing.bzl
  compatibility/build-release-artifacts.sh
  compatibility/head_sdk/.gitignore
  compatibility/head_sdk/BUILD
  compatibility/head_sdk/WORKSPACE
  compatibility/test.sh
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature

Release 1.0.1-snapshot (#5715)
  LATEST
Owners: @hurryabit, @gerolf-da, @bame-da

WIP postgres tests
  compatibility/BUILD
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature

Extend compatibility tests to test against HEAD (#5714)
  azure-pipelines.yml
  ci/compatibility.yml
  ci/cron/daily-compat.yml
  compatibility/.bazelignore
  compatibility/BUILD
  compatibility/WORKSPACE
  compatibility/bazel_tools/daml_sdk.bzl
  compatibility/bazel_tools/testing.bzl
  compatibility/build-release-artifacts.sh
  compatibility/head_sdk/.gitignore
  compatibility/head_sdk/BUILD
  compatibility/head_sdk/WORKSPACE
  compatibility/test.sh
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature

Address https://github.com/digital-asset/daml/pull/5717#pullrequestreview-399871413
  ledger/participant-state/kvutils/app/src/main/resources/com/daml/ledger/participant/state/kvutils/app/logback.base.xml
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/logging/GlobalLogLevel.scala
Owners: @dajmaki, @dasormeter, @fabiotudone-da, @gerolf-da, @miklos-da, @mziolekda, @rautenrieth-da, @SamirTalwar-DA, @stefanobaghino-da

Keep track of contract id's after fetching
  compiler/daml-lf-verify/src/DA/Daml/LF/Verify.hs
  compiler/daml-lf-verify/src/DA/Daml/LF/Verify/Context.hs
  compiler/daml-lf-verify/src/DA/Daml/LF/Verify/Generate.hs
  compiler/daml-lf-verify/src/DA/Daml/LF/Verify/Solve.hs
  test.out
Owners: @hurryabit, @cocreature
