Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @bitonic, @neil-da, @hurryabit, @cbaatz-da, @garyverhaegen-da, @leo-da, @S11001001, @remyhaemmerle-da, @gerolf-da, @rautenrieth-da, @bethaitman

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

CODEOWNERS  @bitonic @neil-da @hurryabit @cbaatz-da

# Build / CI / environment
/ci/                @garyverhaegen-da
/dev-env/           @garyverhaegen-da
/nix/               @garyverhaegen-da
/infra/             @garyverhaegen-da
azure-pipelines.yml @garyverhaegen-da
azure-cron.yml      @garyverhaegen-da

# Language
/compiler/          @hurryabit
/daml-foundations/  @hurryabit
/libs-haskell/      @hurryabit

# Runtime
/daml-lf/               @leo-da @S11001001
/daml-lf/governance.rst @bitonic @remyhaemmerle-da @S11001001
/daml-lf/archive/da/    @bitonic @remyhaemmerle-da
/daml-lf/spec/          @bitonic @remyhaemmerle-da @S11001001
/daml-lf/validation/    @remyhaemmerle-da

/ledger/      @gerolf-da @rautenrieth-da
/ledger-api/  @gerolf-da

# Ecosystems
/language-support/java/     @gerolf-da
/language-support/scala/    @leo-da @S11001001

# Tools
/extractor/         @leo-da @S11001001

# Misc
/docs/              @bethaitman

Release SDK 0.13.6
  VERSION
  docs/source/support/release-notes.rst
  unreleased.rst
Owners: @bethaitman

increasing default JMH timeout for manySmallContracts (#1851)
  azure-pipelines.yml
  ledger/sandbox-perf/src/perf/benches/scala/com/digitalasset/platform/sandbox/perf/LargeTransactionBench.scala
  ledger/sandbox-perf/src/perf/lib/scala/com/digitalasset/platform/sandbox/perf/TestHelper.scala
Owners: @garyverhaegen-da, @gerolf-da, @rautenrieth-da

fixing typo in Postgres config
  ledger/sandbox/src/test/lib/scala/com/digitalasset/platform/sandbox/persistence/PostgresAround.scala
Owners: @gerolf-da, @rautenrieth-da

Delete unused package dependencies
  compiler/hie-core/BUILD.bazel
  compiler/hie-core/hie-core.cabal
Owners: @hurryabit

Decode modules abstractely in scenario-service server (#1844)
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Context.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/Decode.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
Owners: @hurryabit, @leo-da, @S11001001

Release SDK 0.13.6 (#1854)
  VERSION
  docs/source/support/release-notes.rst
  unreleased.rst
Owners: @bethaitman

adapt to 5b480c99ec #1844
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Context.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
Owners: @hurryabit, @leo-da, @S11001001

Eliminate the use of pretty
  compiler/hie-core/BUILD.bazel
  compiler/hie-core/hie-core.cabal
  compiler/hie-core/src/Development/IDE/Types/Diagnostics.hs
  daml-foundations/daml-ghc/ide/src/Development/IDE/State/Rules/Daml.hs
Owners: @hurryabit

Don't export some things that weren't necessary
  compiler/hie-core/src/Development/IDE/Core/Rules.hs
  compiler/hie-core/src/Development/IDE/Core/Shake.hs
  compiler/hie-core/src/Development/IDE/GHC/Error.hs
  daml-foundations/daml-ghc/ide/src/Development/IDE/State/Rules/Daml.hs
Owners: @hurryabit

Add a missing dependency
  daml-foundations/daml-ghc/ide/BUILD.bazel
Owners: @hurryabit

Avoid reexporting files of interest methods
  compiler/hie-core/src/Development/IDE/Core/Service.hs
  compiler/hie-core/src/Development/IDE/LSP/LanguageServer.hs
  compiler/hie-core/test/Demo.hs
  daml-foundations/daml-ghc/damldoc/src/DA/Daml/GHC/Damldoc/HaddockParse.hs
  daml-foundations/daml-ghc/ide/src/Development/IDE/State/Service/Daml.hs
Owners: @hurryabit

Search service
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/PackageService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/domain.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/JsonProtocol.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/util/FutureUtil.scala
Owners: none
