Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @digital-asset/daml-release-owners, @dylant-da, @paulbrauner-da, @remyhaemmerle-da, @digital-asset/daml-language

Comments
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
Owners: none

precommit
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageMajorVersion.scala
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
  sdk/security-evidence.md
Owners: none

fix typo
  sdk/daml-lf/interpreter/perf/src/main/scala/com/digitalasset/daml/lf/speedy/explore/Explore.scala
Owners: none

bump NIGHTLY_PREFIX
  sdk/NIGHTLY_PREFIX
Owners: none

fix
  sdk/canton/BUILD.bazel
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ledgerinteraction/grpcLedgerClient/AdminLedgerClient.scala
Owners: none

remove unused dep from generated dar in UpgradesMatrixIT
  sdk/daml-script/test/src/main/scala/com/digitalasset/daml/lf/engine/script/test/UpgradesMatrixIT.scala
Owners: none

release/3.4.x Snapshot Create a snapshot for [release/3.4.x](https://github.com/digital-asset/daml/commits/release/3.4.x/) at commit 4a0cdbeaca987bfbe5e437a8dd921abc8ad7f8b9
  sdk/LATEST
Owners: @digital-asset/daml-release-owners

[backport] remove unused dep from generated dar in UpgradesMatrixIT (#22310)
  sdk/daml-script/test/src/main/scala/com/digitalasset/daml/lf/engine/script/test/UpgradesMatrixIT.scala
Owners: none

release/3.4.x Snapshot (#22311)
  sdk/LATEST
Owners: @digital-asset/daml-release-owners

bump blackduck script to e2e25278
  ci/blackduck.yml
Owners: @digital-asset/daml-language

fix
  sdk/canton/BUILD.bazel
Owners: none

Ignore deleted lines about adhoc and rc in LATEST (#22248)
  ci/check-for-release-job.yml
Owners: @digital-asset/daml-language

forgotten files
  sdk/canton/community/common/src/main/scala/com/digitalasset/canton/participant/ledger/api/LedgerApiJdbcUrl.scala
  sdk/canton/community/common/src/test/scala/com/digitalasset/canton/participant/ledger/api/LedgerApiJdbcUrlTest.scala
Owners: none

3.4.4 Release
  sdk/LATEST
Owners: @digital-asset/daml-release-owners

rotate release duty after 2025-11-05
  sdk/release/rotation
Owners: @digital-asset/daml-language

update canton to 20251104.17392.v98c1480b
  sdk/canton/community/app/src/test/scala/com/digitalasset/canton/integration/tests/multihostedparties/DivulgenceIntegrationTest.scala
  sdk/canton/community/app/src/test/scala/com/digitalasset/canton/integration/tests/pruning/LedgerPruningIntegrationTest.scala
  sdk/canton/community/app/src/test/scala/com/digitalasset/canton/integration/tests/toxiproxy/ToxiproxyHelpers.scala
  sdk/canton/community/participant/src/main/scala/com/digitalasset/canton/participant/pruning/AcsCommitmentProcessor.scala
  sdk/canton/community/participant/src/main/scala/com/digitalasset/canton/participant/store/AcsCommitmentStore.scala
  sdk/canton/community/participant/src/main/scala/com/digitalasset/canton/participant/store/db/DbAcsCommitmentStore.scala
  sdk/canton/community/participant/src/main/scala/com/digitalasset/canton/participant/store/memory/InMemoryAcsCommitmentStore.scala
  sdk/canton/community/participant/src/main/scala/com/digitalasset/canton/participant/sync/ConnectedSynchronizer.scala
  sdk/canton/community/participant/src/test/scala/com/digitalasset/canton/participant/store/AcsCommitmentStoreTest.scala
  sdk/canton/community/participant/src/test/scala/com/digitalasset/canton/participant/store/ThrowOnWriteCommitmentStore.scala
  sdk/canton/ref
Owners: none

3.4.4 Release (#22316)
  sdk/LATEST
Owners: @digital-asset/daml-release-owners

helper to object
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinBigNumericTest.scala
Owners: none

Migrate grpc 1.67.0 to 1.75.0
  sdk/.bazelversion
  sdk/bazel-java-deps.bzl
  sdk/canton/community/common/src/main/scala/com/digitalasset/canton/environment/CantonNodeBootstrap.scala
  sdk/canton/community/common/src/main/scala/com/digitalasset/canton/health/GrpcHealthServer.scala
  sdk/canton/community/domain/src/main/scala/com/digitalasset/canton/domain/server/DynamicDomainGrpcServer.scala
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/platform/apiserver/ApiServices.scala
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/platform/apiserver/ratelimiting/RateLimitingInterceptor.scala
  sdk/canton/community/ledger/ledger-api-core/src/test/scala/com/digitalasset/canton/platform/apiserver/ratelimiting/RateLimitingInterceptorSpec.scala
  sdk/libs-scala/grpc-reverse-proxy/src/main/scala/com/daml/grpc/ReverseProxy.scala
  sdk/libs-scala/grpc-server-reflection-client/src/main/scala/com/daml/grpc/reflection/ServerReflectionClient.scala
  sdk/libs-scala/grpc-server-reflection-client/src/main/scala/com/daml/grpc/reflection/ServerReflectionRequests.scala
  sdk/libs-scala/grpc-server-reflection-client/src/main/scala/com/daml/grpc/reflection/ServiceDescriptorInfoObserver.scala
  sdk/libs-scala/grpc-server-reflection-client/src/test/scala/com/daml/grpc/reflection/ServerReflectionClientSpec.scala
  sdk/libs-scala/grpc-test-utils/src/main/scala/com/daml/grpc/test/GrpcServer.scala
  sdk/maven_install_2.13.json
  sdk/runtime-components/non-repudiation-testing/src/main/scala/com/daml/nonrepudiation/testing/DummyTestSetup.scala
Owners: @digital-asset/daml-release-owners

Revert "Fix JvmMetricSet.scala"
  sdk/observability/metrics/src/main/scala/com/daml/metrics/JvmMetricSet.scala
Owners: none

Revert "Set opentelemetry 1.12.0"
  sdk/bazel-java-deps.bzl
  sdk/maven_install_2.13.json
Owners: @digital-asset/daml-release-owners

Revert "gRPC update to 1.75.0"
  sdk/bazel-java-deps.bzl
  sdk/deprecated_maven_install.json
  sdk/maven_install_2.13.json
Owners: @digital-asset/daml-release-owners

revert pekko and opentelemetry changes
  sdk/bazel-java-deps.bzl
  sdk/maven_install_2.13.json
Owners: @digital-asset/daml-release-owners

Add canton component
  sdk/canton/BUILD.bazel
  sdk/canton/component.yaml
Owners: none

Bring dpm into bazel
  sdk/WORKSPACE
  sdk/bazel_tools/dpm.bzl
Owners: none

Build dpm installation in bazel
  sdk/release/BUILD.bazel
  sdk/release/util.bzl
Owners: @digital-asset/daml-language

Update dpm-sdk-head script to use canton oci and avoid downloads
  sdk/dev-env/bin/dpm-sdk-head
Owners: @digital-asset/daml-language

Update assistant tests to also run against DPM
  sdk/daml-assistant/integration-tests/BUILD.bazel
  sdk/daml-assistant/integration-tests/src/DA/Daml/Assistant/IntegrationTestUtils.hs
  sdk/daml-assistant/integration-tests/src/DA/Daml/Assistant/IntegrationTests.hs
Owners: none

revert ProtoReflectionServiceV1 -> ProtoReflectionService
  sdk/canton/community/common/src/main/scala/com/digitalasset/canton/environment/CantonNodeBootstrap.scala
  sdk/canton/community/common/src/main/scala/com/digitalasset/canton/health/GrpcHealthServer.scala
  sdk/canton/community/domain/src/main/scala/com/digitalasset/canton/domain/server/DynamicDomainGrpcServer.scala
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/platform/apiserver/ApiServices.scala
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/platform/apiserver/ratelimiting/RateLimitingInterceptor.scala
  sdk/canton/community/ledger/ledger-api-core/src/test/scala/com/digitalasset/canton/platform/apiserver/ratelimiting/RateLimitingInterceptorSpec.scala
  sdk/libs-scala/grpc-test-utils/src/main/scala/com/daml/grpc/test/GrpcServer.scala
  sdk/runtime-components/non-repudiation-testing/src/main/scala/com/daml/nonrepudiation/testing/DummyTestSetup.scala
Owners: none

correct codegen-js for 3.4
  sdk/docs/manually-written/sdk/component-howtos/application-development/daml-codegen-javascript.rst
  sdk/docs/sharable/sdk/component-howtos/application-development/daml-codegen-javascript.rst
Owners: none

correct codegen-js
  sdk/docs/manually-written/sdk/component-howtos/application-development/daml-codegen-javascript.rst
  sdk/docs/sharable/sdk/component-howtos/application-development/daml-codegen-javascript.rst
Owners: none

correct codegen-js for 3.4 (#22320)
  sdk/docs/manually-written/sdk/component-howtos/application-development/daml-codegen-javascript.rst
  sdk/docs/sharable/sdk/component-howtos/application-development/daml-codegen-javascript.rst
Owners: none

correct codegen-js (#22321)
  sdk/docs/manually-written/sdk/component-howtos/application-development/daml-codegen-javascript.rst
  sdk/docs/sharable/sdk/component-howtos/application-development/daml-codegen-javascript.rst
Owners: none

update 3.3.0-snapshot examples in docs
  sdk/docs/manually-written/sdk/component-howtos/application-development/daml-codegen-java.rst
  sdk/docs/manually-written/sdk/component-howtos/application-development/daml-codegen-javascript.rst
  sdk/docs/manually-written/sdk/component-howtos/smart-contracts/assistant.rst
  sdk/docs/sharable/sdk/component-howtos/application-development/daml-codegen-java.rst
  sdk/docs/sharable/sdk/component-howtos/application-development/daml-codegen-javascript.rst
  sdk/docs/sharable/sdk/component-howtos/smart-contracts/assistant.rst
Owners: none

update 3.3.0-snapshot examples to 3.4.0-rc
  sdk/docs/manually-written/sdk/component-howtos/application-development/daml-codegen-java.rst
  sdk/docs/manually-written/sdk/component-howtos/application-development/daml-codegen-javascript.rst
  sdk/docs/manually-written/sdk/component-howtos/smart-contracts/assistant.rst
  sdk/docs/sharable/sdk/component-howtos/application-development/daml-codegen-java.rst
  sdk/docs/sharable/sdk/component-howtos/application-development/daml-codegen-javascript.rst
  sdk/docs/sharable/sdk/component-howtos/smart-contracts/assistant.rst
Owners: none

update canton to 20251105.17398.v46976acd
  sdk/canton/community/base/src/main/resources/rewrite-appender.xml
  sdk/canton/community/base/src/main/scala/com/digitalasset/canton/config/ServerConfig.scala
  sdk/canton/community/base/src/main/scala/com/digitalasset/canton/sequencing/client/SequencerClient.scala
  sdk/canton/community/base/src/main/scala/com/digitalasset/canton/sequencing/client/SequencerClientConfig.scala
  sdk/canton/community/bindings-java/src/main/java/com/daml/ledger/javaapi/data/UpdateSubmission.java
  sdk/canton/community/common/src/test/scala/com/digitalasset/canton/sequencing/client/SequencerClientTest.scala
  sdk/canton/community/synchronizer/src/main/scala/com/digitalasset/canton/synchronizer/sequencer/block/DriverBlockOrderer.scala
  sdk/canton/community/synchronizer/src/main/scala/com/digitalasset/canton/synchronizer/sequencer/block/bftordering/core/modules/output/OutputModule.scala
  sdk/canton/ref
Owners: none

update 3.3.0-snapshot examples to 3.4.0-rc (#22323)
  sdk/docs/manually-written/sdk/component-howtos/application-development/daml-codegen-java.rst
  sdk/docs/manually-written/sdk/component-howtos/application-development/daml-codegen-javascript.rst
  sdk/docs/manually-written/sdk/component-howtos/smart-contracts/assistant.rst
  sdk/docs/sharable/sdk/component-howtos/application-development/daml-codegen-java.rst
  sdk/docs/sharable/sdk/component-howtos/application-development/daml-codegen-javascript.rst
  sdk/docs/sharable/sdk/component-howtos/smart-contracts/assistant.rst
Owners: none

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

sdk/bazel-java-deps.bzl @digital-asset/daml-release-owners

CODEOWNERS   @dylant-da @paulbrauner-da @remyhaemmerle-da 
/sdk/LATEST @digital-asset/daml-release-owners

# Build / CI / environment
/ci/                   @digital-asset/daml-language
/sdk/dev-env/          @digital-asset/daml-language
/sdk/nix/              @digital-asset/daml-language
azure-pipelines.yml    @digital-asset/daml-language
azure-cron.yml         @digital-asset/daml-language
sdk/release/           @digital-asset/daml-language
sdk/release.sh         @digital-asset/daml-language
