Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @digital-asset/empty, @bitonic, @neil-da, @hurryabit, @cbaatz-da, @garyverhaegen-da, @gerolf-da, @nicholassmith-da, @bethaitman

Make generic template de/re-sugaring work for old DAML-LF versions
  daml-foundations/daml-ghc/ghc-compiler/src/DA/Daml/GHC/Compiler/Convert.hs
  daml-foundations/daml-ghc/tests/GenTemplCompat.daml
Owners: @digital-asset/empty

Better error message for install --force failure on Windows. (#1422)
  daml-assistant/ghci.sh
  daml-assistant/ghcid.sh
  daml-assistant/src/DAML/Assistant/Install.hs
Owners: @digital-asset/empty

Removing the trailing dots
  compiler/scenario-service/client/src/DA/Daml/LF/PrettyScenario.hs
Owners: @digital-asset/empty

Removing spaces
  compiler/scenario-service/client/src/DA/Daml/LF/PrettyScenario.hs
Owners: @digital-asset/empty

Removing lamdba
  compiler/scenario-service/client/src/DA/Daml/LF/PrettyScenario.hs
Owners: @digital-asset/empty

Separate diagnostics from rule results (#1423)
  WORKSPACE
  compiler/haskell-ide-core/BUILD.bazel
  compiler/haskell-ide-core/src/Development/IDE/State/FileStore.hs
  compiler/haskell-ide-core/src/Development/IDE/State/Shake.hs
  compiler/haskell-ide-core/src/Development/IDE/Types/Diagnostics.hs
  daml-foundations/daml-ghc/ide/test/Development/IDE/State/API/Testing.hs
  daml-foundations/daml-ghc/test-src/DA/Test/GHC.hs
  daml-foundations/daml-tools/language-server-tests/src/tests/issue-reports.ts
  daml-foundations/daml-tools/language-server-tests/tests/diagnostics/failed-name-resolution/EXPECTED.json
  daml-foundations/daml-tools/language-server-tests/tests/diagnostics/import-cycle/EXPECTED.json
  daml-foundations/daml-tools/language-server-tests/tests/diagnostics/import-error/EXPECTED.json
  daml-foundations/daml-tools/language-server-tests/tests/diagnostics/library-modules/EXPECTED.json
  daml-foundations/daml-tools/language-server-tests/tests/diagnostics/library-modules/Extra.daml
  daml-foundations/daml-tools/language-server-tests/tests/diagnostics/library-modules/LibraryModules.daml
  daml-foundations/daml-tools/language-server-tests/tests/diagnostics/library-modules/Main.daml
  daml-foundations/daml-tools/language-server-tests/tests/diagnostics/multi-module-funny/EXPECTED.json
  daml-foundations/daml-tools/language-server-tests/tests/diagnostics/multi-module/EXPECTED.json
  daml-foundations/daml-tools/language-server-tests/tests/diagnostics/multi-module/Libs/A.daml
  daml-foundations/daml-tools/language-server-tests/tests/diagnostics/multi-module/Libs/B.daml
  daml-foundations/daml-tools/language-server-tests/tests/diagnostics/multi-module/Main.daml
  daml-foundations/daml-tools/language-server-tests/tests/diagnostics/scenario-error/EXPECTED.json
  daml-foundations/daml-tools/language-server-tests/tests/diagnostics/type-error/EXPECTED.json
  docs/source/support/release-notes.rst
Owners: @digital-asset/empty, @bethaitman

SandboxLedgerBackend implements CompletionsService from IndexService
  ledger/participant-state-index/src/main/scala/com/daml/ledger/participant/state/index/v2/CompletionsService.scala
  ledger/participant-state-index/src/main/scala/com/daml/ledger/participant/state/index/v2/package.scala
  ledger/sandbox/src/main/scala/com/digitalasset/ledger/server/apiserver/ApiServices.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/transaction/SandboxTransactionService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/SandboxLedgerBackend.scala
Owners: @digital-asset/empty

Make generic template de/re-sugaring work for old DAML-LF versions (#1424)
  daml-foundations/daml-ghc/ghc-compiler/src/DA/Daml/GHC/Compiler/Convert.hs
  daml-foundations/daml-ghc/tests/GenTemplCompat.daml
Owners: @digital-asset/empty

things compile
  ledger/participant-state-index/src/main/scala/com/daml/ledger/participant/state/index/v2/CompletionsService.scala
  ledger/participant-state-index/src/main/scala/com/daml/ledger/participant/state/index/v2/LedgerEndService.scala
  ledger/participant-state-index/src/main/scala/com/daml/ledger/participant/state/index/v2/TransactionsService.scala
  ledger/participant-state-index/src/main/scala/com/daml/ledger/participant/state/index/v2/package.scala
  ledger/sandbox/src/main/scala/com/digitalasset/ledger/server/apiserver/ApiServices.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/SandboxCommandCompletionService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/SandboxLedgerBackend.scala
Owners: @digital-asset/empty

cleanup
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/Server.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/services/command/ReferenceCommandService.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/services/identity/LedgerIdentityService.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/services/testing/ReferenceTimeService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/ledger/server/apiserver/ApiServices.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/SandboxActiveContractsService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/SandboxCommandCompletionService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/SandboxPackageService.scala
Owners: @digital-asset/empty

cleanup
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/SandboxLedgerBackend.scala
Owners: @digital-asset/empty

Better function names
  compiler/scenario-service/client/src/DA/Daml/LF/PrettyScenario.hs
Owners: @digital-asset/empty

damlc test-files --> damlc test --files
  daml-assistant/integration-tests/src/Main.hs
  daml-foundations/daml-tools/da-hs-daml-cli/DA/Cli/Damlc.hs
  daml-foundations/daml-tools/da-hs-daml-cli/DA/Cli/Options.hs
  rules_daml/daml.bzl
Owners: @digital-asset/empty

Drop support for DAML-LF 1.2 from damlc
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/EncodeV1.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Check.hs
  daml-foundations/daml-ghc/ghc-compiler/src/DA/Daml/GHC/Compiler/Convert.hs
  daml-foundations/daml-ghc/ghc-compiler/src/DA/Daml/GHC/Compiler/Primitives.hs
  daml-foundations/daml-ghc/package-database/BUILD.bazel
  docs/source/support/release-notes.rst
Owners: @digital-asset/empty, @bethaitman

commandId is not optional anymore
  ledger/participant-state-index/src/main/scala/com/daml/ledger/participant/state/index/v2/package.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/SandboxCommandCompletionService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/SandboxLedgerBackend.scala
Owners: @digital-asset/empty

fixing the missed case
  compiler/scenario-service/client/src/DA/Daml/LF/PrettyScenario.hs
Owners: @digital-asset/empty

proper filtering of completions
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/SandboxLedgerBackend.scala
Owners: @digital-asset/empty

windows: more daml-ghc tests working
  .dadew
  WORKSPACE
  bazel_tools/dev_env_package/dev_env_tool.bzl
  build.ps1
  daml-foundations/daml-ghc/ide/BUILD.bazel
  daml-foundations/daml-ghc/ide/test/Development/IDE/State/API/Testing.hs
  daml-foundations/daml-ghc/test-lib/BUILD.bazel
  daml-foundations/daml-ghc/test-lib/DA/Test/Util.hs
  daml-foundations/daml-ghc/test-src/DA/Test/GHC.hs
  daml-foundations/daml-ghc/util.bzl
  dev-env/windows/manifests/msys2-jq.json
Owners: @digital-asset/empty, @garyverhaegen-da

windows: increased heap size for bond-trading-memory test
  daml-foundations/daml-ghc/BUILD.bazel
Owners: @digital-asset/empty

Add deprecation warning to da assistant.
  da-assistant/DA/Sdk/Cli.hs
Owners: @digital-asset/empty

damlc test --files (#1409)
  daml-assistant/daml-helper/src/DamlHelper.hs
  daml-assistant/daml-project-config/DAML/Project/Consts.hs
  daml-assistant/integration-tests/src/Main.hs
  daml-foundations/daml-tools/da-hs-daml-cli/DA/Cli/Damlc.hs
  daml-foundations/daml-tools/da-hs-daml-cli/DA/Cli/Options.hs
  release/sdk-config.yaml.tmpl
  rules_daml/daml.bzl
Owners: @digital-asset/empty

windows: more daml-ghc tests working (#1425)
  .dadew
  WORKSPACE
  bazel_tools/dev_env_package/dev_env_tool.bzl
  build.ps1
  daml-foundations/daml-ghc/BUILD.bazel
  daml-foundations/daml-ghc/ide/BUILD.bazel
  daml-foundations/daml-ghc/ide/test/Development/IDE/State/API/Testing.hs
  daml-foundations/daml-ghc/test-lib/BUILD.bazel
  daml-foundations/daml-ghc/test-lib/DA/Test/Util.hs
  daml-foundations/daml-ghc/test-src/DA/Test/GHC.hs
  daml-foundations/daml-ghc/util.bzl
  dev-env/windows/manifests/msys2-jq.json
Owners: @digital-asset/empty, @garyverhaegen-da

Bump da version number.
  da-assistant/BUILD.bazel
Owners: @digital-asset/empty

Completion Service via Index Service (#1426)
  ledger/api-server-damlonx/src/main/scala/com/daml/ledger/api/server/damlonx/Server.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/services/command/ReferenceCommandService.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/services/identity/LedgerIdentityService.scala
  ledger/ledger-api-common/src/main/scala/com/digitalasset/platform/server/services/testing/ReferenceTimeService.scala
  ledger/participant-state-index/src/main/scala/com/daml/ledger/participant/state/index/v2/CompletionsService.scala
  ledger/participant-state-index/src/main/scala/com/daml/ledger/participant/state/index/v2/LedgerEndService.scala
  ledger/participant-state-index/src/main/scala/com/daml/ledger/participant/state/index/v2/TransactionsService.scala
  ledger/participant-state-index/src/main/scala/com/daml/ledger/participant/state/index/v2/package.scala
  ledger/sandbox/src/main/scala/com/digitalasset/ledger/server/apiserver/ApiServices.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/SandboxServer.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/SandboxActiveContractsService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/SandboxCommandCompletionService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/SandboxPackageService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/services/transaction/SandboxTransactionService.scala
  ledger/sandbox/src/main/scala/com/digitalasset/platform/sandbox/stores/ledger/SandboxLedgerBackend.scala
Owners: @digital-asset/empty

Generic templates: add achive (choice)
  daml-foundations/daml-ghc/ghc-compiler/src/DA/Daml/GHC/Compiler/Convert.hs
  daml-foundations/daml-ghc/tests/GenTemplCompat.daml
  daml-foundations/daml-ghc/tests/GenericTemplates.daml
  daml-foundations/daml-ghc/tests/IouDSL.daml
  daml-foundations/daml-ghc/tests/ProposalDSL.daml
Owners: @digital-asset/empty

Drop support for DAML-LF 1.2 from damlc (#1428)
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/EncodeV1.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Check.hs
  daml-foundations/daml-ghc/ghc-compiler/src/DA/Daml/GHC/Compiler/Convert.hs
  daml-foundations/daml-ghc/ghc-compiler/src/DA/Daml/GHC/Compiler/Primitives.hs
  daml-foundations/daml-ghc/package-database/BUILD.bazel
  docs/source/support/release-notes.rst
Owners: @digital-asset/empty, @bethaitman

upgrade to bazel 0.26
  dev-env/windows/manifests/bazel.json
  nix/overrides/bazel/default.nix
Owners: @garyverhaegen-da

Scenario header (#1285)
  compiler/scenario-service/client/src/DA/Daml/LF/PrettyScenario.hs
Owners: @digital-asset/empty

correct hash of bazel 0.26 zip
  nix/overrides/bazel/default.nix
Owners: @garyverhaegen-da

test faithfulness of --party splitting, including with spaces
  extractor/BUILD.bazel
  extractor/src/test/suite/scala/com/digitalasset/extractor/MultiPartySpec.scala
Owners: @digital-asset/empty

Move DA.LanguageServer.Protocol to haskell-lsp-types
  .hlint.yaml
  daml-foundations/daml-ghc/language-server/BUILD.bazel
  daml-foundations/daml-ghc/language-server/src/DA/Service/Daml/LanguageServer.hs
  daml-foundations/daml-ghc/language-server/src/DA/Service/Daml/LanguageServer/CodeLens.hs
  daml-foundations/daml-ghc/language-server/src/DA/Service/Daml/LanguageServer/Common.hs
  daml-foundations/daml-ghc/language-server/src/DA/Service/Daml/LanguageServer/Definition.hs
  daml-foundations/daml-ghc/language-server/src/DA/Service/Daml/LanguageServer/Hover.hs
  daml-foundations/daml-tools/language-server-tests/tests/requests/initialize/request.json
  libs-haskell/da-hs-language-server/BUILD.bazel
  libs-haskell/da-hs-language-server/src/DA/LanguageServer/Protocol.hs
  libs-haskell/da-hs-language-server/src/DA/LanguageServer/Server.hs
Owners: @digital-asset/empty

remove unused mixins from MultiPartySpec
  extractor/src/test/suite/scala/com/digitalasset/extractor/MultiPartySpec.scala
Owners: @digital-asset/empty

update --party's help text regarding multiple parties
  extractor/src/main/scala/com/digitalasset/extractor/config/ConfigParser.scala
Owners: @digital-asset/empty

Bazel 0.25 since bazel-deps does not yet support 0.26
  dev-env/windows/manifests/bazel.json
  nix/overrides/bazel/default.nix
Owners: @garyverhaegen-da

correct SHA for 0.25 bazel zip
  nix/overrides/bazel/default.nix
Owners: @garyverhaegen-da

Update .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @digital-asset/empty

Update .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @digital-asset/empty

Update .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @digital-asset/empty

Update .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @digital-asset/empty

Update .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @digital-asset/empty

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

*           @digital-asset/empty
CODEOWNERS  @bitonic @neil-da @hurryabit @cbaatz-da
VERSION     @digital-asset/empty

# Build / CI / environment
/3rdparty/          @digital-asset/empty
/bazel_tools/       @digital-asset/empty
/build-scripts/     @digital-asset/empty
/ci/                @garyverhaegen-da
/dev-env/           @garyverhaegen-da
/dotfiles/          @digital-asset/empty
/hazel/             @digital-asset/empty
/nix/               @garyverhaegen-da
/infra/             @garyverhaegen-da
/rattle/            @digital-asset/empty
/replacements/      @digital-asset/empty
/rules_daml/        @digital-asset/empty
BAZEL-JVM.md        @digital-asset/empty
BAZEL-haskell.md    @digital-asset/empty
BAZEL.md            @digital-asset/empty
BUILD               @digital-asset/empty
WORKSPACE           @digital-asset/empty
azure-pipelines.yml @garyverhaegen-da
azure-cron.yml      @garyverhaegen-da
build.ps1           @digital-asset/empty
build.sh            @digital-asset/empty
deps.bzl            @digital-asset/empty

# Language
/compiler/          @digital-asset/empty
/daml-foundations/  @digital-asset/empty
/libs-haskell/      @digital-asset/empty
/ghc-lib/           @digital-asset/empty

# SDK
/release/           @digital-asset/empty
/sdk/               @digital-asset/empty
/da-assistant/      @digital-asset/empty
/daml-assistant/    @digital-asset/empty
/templates/         @digital-asset/empty

# Runtime
/daml-lf/           @digital-asset/empty
/ledger/            @digital-asset/empty
/ledger-api/        @digital-asset/empty

# Ecosystems
/language-support/          @digital-asset/empty
/language-support/java/     @digital-asset/empty @gerolf-da @nicholassmith-da
/language-support/js/       @digital-asset/empty
/language-support/scala/    @digital-asset/empty
/scala-protoc-plugins/      @digital-asset/empty

# Tools
/extractor/         @digital-asset/empty
/navigator/         @digital-asset/empty
/web-ide/           @digital-asset/empty

# Misc
/docs/              @bethaitman
/notices-gen/       @digital-asset/empty
/oss-compliance/    @digital-asset/empty

CHANGELOG           @digital-asset/empty
CODE_OF_CONDUCT.md  @digital-asset/empty
CONTRIBUTING.md     @digital-asset/empty
COPY                @digital-asset/empty
LICENSE             @digital-asset/empty
NOTICES             @digital-asset/empty
README.md           @digital-asset/empty
daml-logo.png       @digital-asset/empty
