Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @digital-asset/daml-release-owners, @dylant-da, @paulbrauner-da, @remyhaemmerle-da, @digital-asset/daml-language, @digital-asset/kv-participant

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

sdk/bazel-java-deps.bzl @digital-asset/daml-release-owners

CODEOWNERS   @dylant-da @paulbrauner-da @remyhaemmerle-da 
/sdk/LATEST @digital-asset/daml-release-owners

# Build / CI / environment
/ci/                   @digital-asset/daml-language
/sdk/dev-env/          @digital-asset/daml-language
/sdk/nix/              @digital-asset/daml-language
azure-pipelines.yml    @digital-asset/daml-language
azure-cron.yml         @digital-asset/daml-language
sdk/release/           @digital-asset/daml-language
sdk/release.sh         @digital-asset/daml-language

# Blackduck
/sdk/NOTICES

# Compatibility test
/sdk/compatibility/     @digital-asset/daml-language @digital-asset/kv-participant

# Language
/sdk/daml-assistant/    @digital-asset/daml-language
/sdk/daml-script/       
/sdk/compiler/          @digital-asset/daml-language
/sdk/libs-haskell/      @digital-asset/daml-language
/sdk/ghc-lib/           @digital-asset/daml-language
/sdk/test-common/canton/ 

# Runtime
/sdk/daml-lf/ 


# Ecosystems
/sdk/language-support/hs/       @digital-asset/daml-language
/sdk/language-support/java/     
/sdk/language-support/scala/    
/sdk/language-support/ts/       

# Application Runtime
/sdk/ledger-service/
/sdk/runtime-components/ 

# Misc
/sdk/docs/ 
/sdk/libs-scala/

# Observability related libraries
/sdk/observability

3.4-rc2 Snapshot Create a snapshot for [release/3.4.x](https://github.com/digital-asset/daml/commits/release/3.4.x/) at commit 4acf13f925a023c7cb285eb65623b101fb65cab6
  sdk/LATEST
Owners: @digital-asset/daml-release-owners

running with 4 shards and reverting to moderate timeout
  sdk/daml-lf/engine/BUILD.bazel
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/UpgradesMatrixUnit.scala
Owners: none

still too long, changing back to long
  sdk/daml-lf/engine/BUILD.bazel
Owners: none

3.4-rc2 Snapshot (#22204)
  sdk/LATEST
Owners: @digital-asset/daml-release-owners

trying with timeout moderate but larger heap
  sdk/daml-lf/engine/BUILD.bazel
Owners: none

Take `3.5` tag for release in addition to `main` (#22197)
  ci/publish-oci.sh
Owners: @digital-asset/daml-language

do not publish main tag from release branch
  ci/publish-oci.sh
Owners: @digital-asset/daml-language

Update publish-oci.sh
  ci/publish-oci.sh
Owners: @digital-asset/daml-language

Attempt windows fix
  sdk/compatibility/bazel_tools/daml_ledger/Main.hs
  sdk/compatibility/bazel_tools/daml_script/daml_script.bzl
Owners: @digital-asset/daml-language, @digital-asset/kv-participant

(backport 3.4.x) OCI Tag extra `3.4` tag for release, do not take `main` tag (#22198)
  ci/publish-oci.sh
Owners: @digital-asset/daml-language

run upgrade matrix auth test cases against the IDE ledger (#22203)
  sdk/daml-lf/engine/BUILD.bazel
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/UpgradesMatrix.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/UpgradesMatrixUnit.scala
  sdk/daml-script/test/src/main/scala/com/digitalasset/daml/lf/engine/script/test/UpgradesMatrixIT.scala
  sdk/security-evidence.md
Owners: none

run upgrade matrix auth test cases against the IDE ledger (#22203)
  sdk/daml-lf/engine/BUILD.bazel
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/UpgradesMatrix.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/UpgradesMatrixUnit.scala
  sdk/daml-script/test/src/main/scala/com/digitalasset/daml/lf/engine/script/test/UpgradesMatrixIT.scala
  sdk/security-evidence.md
Owners: none

Remove distinction between compiler/engine lf
  sdk/compiler/damlc/pkg-db/BUILD.bazel
  sdk/compiler/damlc/tests/BUILD.bazel
  sdk/daml-lf/encoder/BUILD.bazel
  sdk/daml-lf/language/BUILD.bazel
  sdk/daml-lf/language/daml-lf.bzl
  sdk/daml-script/daml/BUILD.bazel
  sdk/language-support/java/codegen/BUILD.bazel
  sdk/rules_daml/daml.bzl
Owners: @digital-asset/daml-language

Clean up haskell-defined version ranges
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version/VersionUtil.hs
  sdk/compiler/daml-lf-proto-decode/src/DA/Daml/LF/Proto3/Decode.hs
  sdk/compiler/damlc/lib/DA/Cli/Options.hs
  sdk/compiler/damlc/tests/src/DA/Test/DataDependencies.hs
  sdk/compiler/damlc/tests/src/DA/Test/Packaging.hs
  sdk/daml-lf/language/generate_haskell_versions.py
Owners: @digital-asset/daml-language

Make python data-driven on json labels
  sdk/daml-lf/language/BUILD.bazel
  sdk/daml-lf/language/generate_haskell_versions.py
Owners: none

Clean up rebase
  sdk/daml-script/runner/BUILD.bazel
  sdk/daml-script/test/BUILD.bazel
Owners: none

Name versions as internal names
  sdk/daml-lf/language/daml-lf.bzl
Owners: none

Buildifier-fix
  sdk/daml-lf/language/daml-lf.bzl
Owners: none

Generate haskell Versions from bzl
  sdk/compiler/daml-lf-ast/BUILD.bazel
  sdk/compiler/daml-lf-ast/daml-lf-ast.cabal
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version/VersionType.hs
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version/VersionUtil.hs
  sdk/compiler/daml-lf-ast/test/DA/Daml/LF/Ast/Tests.hs
  sdk/compiler/daml-lf-tools/tests/DA/Daml/LF/Simplifier/Tests.hs
  sdk/compiler/damlc/daml-desugar/test/DA/Daml/Desugar/Tests.hs
  sdk/compiler/damlc/daml-opts/daml-opts-types/DA/Daml/Options/Types.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc/Command/UpgradeCheck.hs
  sdk/compiler/damlc/lib/DA/Cli/Options.hs
  sdk/compiler/damlc/stable-packages/lib/DA/Daml/StablePackages.hs
  sdk/compiler/damlc/tests/src/DA/Test/DamlcIntegration.hs
  sdk/compiler/damlc/tests/src/DA/Test/DamlcUpgrades.hs
  sdk/compiler/damlc/tests/src/DA/Test/DataDependencies.hs
  sdk/daml-lf/language/BUILD.bazel
  sdk/daml-lf/language/daml-lf.bzl
  sdk/daml-lf/language/generate_haskell_versions.py
Owners: @digital-asset/daml-language

Fix old var in datadeps
  sdk/compiler/damlc/tests/src/DA/Test/DataDependencies.hs
Owners: @digital-asset/daml-language

Remove defaultOrLatestStable
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version/VersionUtil.hs
  sdk/compiler/damlc/tests/src/DA/Test/DataDependencies.hs
  sdk/compiler/damlc/tests/src/DA/Test/IncrementalBuilds.hs
  sdk/compiler/damlc/tests/src/DA/Test/ScriptService.hs
  sdk/compiler/damlc/tests/src/DA/Test/ShakeIdeClient.hs
  sdk/compiler/damlc/tests/src/DamlcPkgManager.hs
Owners: @digital-asset/daml-language

Removed unused testindg-dar-lookup targets
  sdk/daml-lf/encoder/BUILD.bazel
Owners: none

temp fix for script-service to be overhauled in next pr
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version/VersionType.hs
  sdk/compiler/damlc/tests/src/DA/Test/ScriptService.hs
Owners: @digital-asset/daml-language

Buildifier fix
  sdk/compiler/daml-lf-ast/BUILD.bazel
  sdk/daml-lf/encoder/BUILD.bazel
  sdk/daml-lf/engine/BUILD.bazel
  sdk/daml-lf/language/BUILD.bazel
  sdk/daml-lf/snapshot/BUILD.bazel
  sdk/daml-lf/tests/BUILD.bazel
  sdk/daml-script/test/BUILD.bazel
Owners: @digital-asset/daml-language

Remove most outdated refs from bazelfiles
  sdk/compiler/damlc/tests/BUILD.bazel
  sdk/daml-lf/api-type-signature/BUILD.bazel
  sdk/daml-lf/encoder/BUILD.bazel
  sdk/daml-lf/engine/BUILD.bazel
  sdk/daml-lf/interpreter/BUILD.bazel
  sdk/daml-lf/language/daml-lf.bzl
  sdk/daml-lf/snapshot/BUILD.bazel
  sdk/daml-lf/stable-packages/BUILD.bazel
  sdk/daml-lf/tests/BUILD.bazel
  sdk/daml-script/daml/BUILD.bazel
  sdk/daml-script/test/BUILD.bazel
  sdk/docs/BUILD.bazel
  sdk/language-support/java/codegen/BUILD.bazel
Owners: @digital-asset/daml-language

Initial impl, compiles (pre switch)
  sdk/compiler/daml-lf-ast/BUILD.bazel
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Range.hs
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version/VersionType.hs
  sdk/daml-lf/language/BUILD.bazel
  sdk/daml-lf/language/daml-lf.bzl
  sdk/daml-lf/language/generate_haskell_features.py
Owners: @digital-asset/daml-language

Update range with From/Until
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Range.hs
Owners: @digital-asset/daml-language

Made the switch, ast building
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Range.hs
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version/VersionType.hs
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version/VersionUtil.hs
  sdk/compiler/damlc/tests/src/DA/Test/DataDependencies.hs
  sdk/compiler/damlc/tests/src/DA/Test/ScriptService.hs
  sdk/daml-lf/language/daml-lf.bzl
  sdk/daml-lf/language/generate_haskell_features.py
Owners: @digital-asset/daml-language

Compile rest
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version/VersionUtil.hs
  sdk/compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion/Primitives.hs
  sdk/compiler/damlc/daml-lf-util/src/DA/Daml/UtilLF.hs
  sdk/compiler/damlc/daml-opts/daml-opts/DA/Daml/Options.hs
  sdk/compiler/damlc/tests/src/DA/Test/DamlcIntegration.hs
  sdk/compiler/damlc/tests/src/DA/Test/DataDependencies.hs
  sdk/daml-lf/language/generate_haskell_features.py
Owners: @digital-asset/daml-language

Fix scriptservice
  sdk/compiler/damlc/tests/src/DA/Test/ScriptService.hs
Owners: @digital-asset/daml-language

[backport] run upgrade matrix auth test cases against the IDE ledger (#22207)
  sdk/daml-lf/engine/BUILD.bazel
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/UpgradesMatrix.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/UpgradesMatrixUnit.scala
  sdk/daml-script/test/src/main/scala/com/digitalasset/daml/lf/engine/script/test/UpgradesMatrixIT.scala
  sdk/security-evidence.md
Owners: none

buildifier-fix
  sdk/compiler/daml-lf-ast/BUILD.bazel
  sdk/daml-lf/language/BUILD.bazel
  sdk/daml-lf/language/daml-lf.bzl
Owners: @digital-asset/daml-language

script-runner-lib
  sdk/daml-script/runner/BUILD.bazel
Owners: none

fix
  sdk/daml-lf/validation/BUILD.bazel
Owners: none

Revert the bump of JDK to 21 in 3.4 (#22185) (#22186)" (#22196)
  sdk/.bazelrc
  sdk/WORKSPACE
  sdk/compatibility/.bazelrc
  sdk/compatibility/WORKSPACE
  sdk/compatibility/build-release-artifacts.sh
  sdk/dev-env/windows/manifests/jdk.json
  sdk/nix/bazel.nix
  sdk/nix/default.nix
Owners: @digital-asset/daml-language, @digital-asset/kv-participant

Fix incorrect readme
  sdk/compatibility/README.md
Owners: @digital-asset/daml-language, @digital-asset/kv-participant

Add 3.3 snapshot to compat tests, (#22183)
  ci/BUILD
  ci/bash-lib.yml
  ci/blackduck.yml
  ci/cron/daily-compat.yml
  ci/cron/wednesday.yml
  ci/prs.yml
  sdk/bazel_tools/os_info.bzl
  sdk/ci/oracle_image
  sdk/compatibility/BUILD
  sdk/compatibility/README.md
  sdk/compatibility/WORKSPACE
  sdk/compatibility/bazel-haskell-deps.bzl
  sdk/compatibility/bazel_tools/daml_ledger/BUILD.bazel
  sdk/compatibility/bazel_tools/daml_ledger/Main.hs
  sdk/compatibility/bazel_tools/daml_ledger/Sandbox.hs
  sdk/compatibility/bazel_tools/daml_script/daml_script.bzl
  sdk/compatibility/bazel_tools/daml_sdk.bzl
  sdk/compatibility/bazel_tools/testing.bzl
  sdk/compatibility/deps.bzl
  sdk/compatibility/maven_install.json
  sdk/compatibility/test-all-installs.sh
  sdk/compatibility/update-versions.sh
  sdk/compatibility/versions.bzl
  sdk/compatibility/versions/BUILD
  sdk/compatibility/versions/UpdateVersions.hs
Owners: @digital-asset/daml-language, @digital-asset/kv-participant

dumb typo fix
  sdk/compiler/damlc/tests/src/DA/Test/DataDependencies.hs
Owners: @digital-asset/daml-language

ignore recent deprecation warning in canton proto
  sdk/daml-script/runner/BUILD.bazel
Owners: none

Backport of #22145, #22154, #22167, #22181, #22167 and #22175
  sdk/canton/community/ledger/ledger-json-api/src/main/scala/com/digitalasset/canton/ledger/service/LedgerReader.scala
  sdk/daml-lf/api-type-signature/src/main/scala/com/digitalasset/daml/lf/typesig/reader/DamlLfArchiveReader.scala
  sdk/daml-lf/api-type-signature/src/main/scala/com/digitalasset/daml/lf/typesig/reader/SignatureReader.scala
  sdk/daml-lf/api-type-signature/src/test/scala/com/digitalasset/daml/lf/typesig/reader/SignatureReaderSpec.scala
  sdk/daml-lf/archive/BUILD.bazel
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/Decode.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV2.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/GenReader.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/Reader.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/package.scala
  sdk/daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV1Spec.scala
  sdk/daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV2Spec.scala
  sdk/daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/testing/archive/DamlLfEncoderTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/NodeSeedsTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/AuthPropagationSpec.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ContractKeySpec.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/InterfaceViewSpec.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/InterfacesTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/LargeTransactionTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ReinterpretTest.scala
  sdk/daml-lf/interpreter/perf/src/main/scala/com/digitalasset/daml/lf/speedy/explore/ExploreDar.scala
  sdk/daml-lf/interpreter/perf/src/main/scala/com/digitalasset/daml/lf/speedy/explore/LoadDarFunction.scala
  sdk/daml-lf/repl/src/main/scala/com/digitalasset/daml/lf/speedy/testing/Main.scala
  sdk/daml-lf/snapshot/src/main/scala/com/digitalasset/daml/lf/testing/snapshot/TransactionSnapshot.scala
  sdk/daml-lf/stable-packages/src/test/scala/com/digitalasset/daml/lf/stablepackages/StablePackagesTest.scala
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/RunnerMain.scala
  sdk/libs-scala/safe-proto/src/main/scala/com/daml/SafeProto.scala
Owners: none
