Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @hurryabit, @gerolf-da, @cocreature, @bame-da, @garyverhaegen-da, @sofiafaro-da, @aherrmann-da, @S11001001, @remyhaemmerle-da, @rautenrieth-da, @SamirTalwar-DA, @stefanobaghino-da, @dajmaki, @dasormeter, @fabiotudone-da, @miklos-da, @mziolekda, @nickchapman-da, @robin-da, @nemanja-da

match #7501 fromPureSExpr sig change in 00b80b8ea3
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Runner.scala
Owners: @cocreature, @hurryabit, @aherrmann-da

avoid using forwardPort in runTrigger
  triggers/daml/Daml/Trigger.daml
  triggers/daml/Daml/Trigger/LowLevel.daml
Owners: @cocreature, @hurryabit, @aherrmann-da

push State back into DAML, so it can be excluded from the action list
  triggers/daml/Daml/Trigger.daml
  triggers/daml/Daml/Trigger/LowLevel.daml
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Runner.scala
Owners: @cocreature, @hurryabit, @aherrmann-da

push Message back into DAML, unifying the action language for initialState and update
  triggers/daml/Daml/Trigger.daml
  triggers/daml/Daml/Trigger/LowLevel.daml
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Runner.scala
Owners: @cocreature, @hurryabit, @aherrmann-da

bringing TriggerF into initial state
  triggers/daml/Daml/Trigger/LowLevel.daml
Owners: @cocreature, @hurryabit, @aherrmann-da

really add TriggerF into initial state, with all ports, tested
  triggers/daml/Daml/Trigger.daml
  triggers/daml/Daml/Trigger/LowLevel.daml
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Runner.scala
  triggers/tests/daml/ACS.daml
  triggers/tests/daml/CommandId.daml
  triggers/tests/daml/Heartbeat.daml
  triggers/tests/daml/Numeric.daml
  triggers/tests/daml/Time.daml
Owners: @cocreature, @hurryabit, @aherrmann-da

add ActionTrigger class, express initialState in its terms
  triggers/daml/Daml/Trigger.daml
  triggers/daml/Daml/Trigger/LowLevel.daml
Owners: @cocreature, @hurryabit, @aherrmann-da

add all TriggerF actions to existing TriggerA
  triggers/daml/Daml/Trigger/Internal.daml
  triggers/daml/Daml/Trigger/LowLevel.daml
Owners: @cocreature, @hurryabit, @aherrmann-da

Trigger.rule will no longer have Time argument
  triggers/daml/Daml/Trigger.daml
Owners: @cocreature, @hurryabit, @aherrmann-da

rename getS, setS to get, put, matching C.M.T.State from transformers
  triggers/daml/Daml/Trigger.daml
  triggers/daml/Daml/Trigger/Internal.daml
  triggers/daml/Daml/Trigger/LowLevel.daml
Owners: @cocreature, @hurryabit, @aherrmann-da

make high-level Rule evaluate to the underlying TriggerF sequence
  triggers/daml/Daml/Trigger.daml
  triggers/daml/Daml/Trigger/Internal.daml
  triggers/daml/Daml/Trigger/LowLevel.daml
Owners: @cocreature, @hurryabit, @aherrmann-da

Assert's testRule doesn't have a transform yet
  triggers/daml/Daml/Trigger/Assert.daml
Owners: @cocreature, @hurryabit, @aherrmann-da

Speedy Compiler: factorize and clean code (#7493)
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
Owners: @hurryabit, @remyhaemmerle-da

Speedy: Kill multi-binding SLet.
  daml-lf/interpreter/perf/src/main/scala/com/daml/lf/explore/Explore.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Anf.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/PrettyLightweight.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/AnfTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SpeedyTest.scala
Owners: @hurryabit, @remyhaemmerle-da

Revert "Speedy Compiler: factorize and clean code (#7493)"
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
Owners: @hurryabit, @remyhaemmerle-da

Revert "Speedy Compiler: factorize and clean code (#7493)" (#7538)
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
Owners: @hurryabit, @remyhaemmerle-da

Factor out request bodies
  triggers/service/auth/src/main/scala/com/daml/oauth/middleware/Server.scala
Owners: @cocreature, @hurryabit, @aherrmann-da

Implement /auth endpoint
  triggers/service/auth/BUILD.bazel
  triggers/service/auth/src/main/scala/com/daml/oauth/middleware/Request.scala
  triggers/service/auth/src/main/scala/com/daml/oauth/middleware/Server.scala
  triggers/service/auth/src/main/scala/com/daml/oauth/server/Request.scala
  triggers/service/auth/src/test/scala/com/daml/oauth/middleware/Test.scala
Owners: @cocreature, @hurryabit, @aherrmann-da

Fix data-deps dictionary function name mismatches.
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/DataDependencies.hs
  compiler/damlc/tests/src/DA/Test/Packaging.hs
Owners: @hurryabit, @cocreature

Fix comments
  compiler/damlc/tests/src/DA/Test/Packaging.hs
Owners: @hurryabit, @cocreature

DAML Engine: Remove token argument to SBU* builtins
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
Owners: @hurryabit, @remyhaemmerle-da

DAML Engine: Remove token argument to SBU* builtins
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
Owners: @hurryabit, @remyhaemmerle-da

apply suggestion
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/DataDependencies.hs
Owners: @hurryabit, @cocreature

Ledger: revert time change from #7430
  ledger-api/rs-grpc-akka/src/main/scala/com/digitalasset/grpc/adapter/AkkaExecutionSequencerPool.scala
Owners: @gerolf-da, @rautenrieth-da, @SamirTalwar-DA, @stefanobaghino-da

Fix data-deps dictionary function name mismatches. (#7539)
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/DataDependencies.hs
  compiler/damlc/tests/src/DA/Test/Packaging.hs
Owners: @hurryabit, @cocreature

/auth check the required claims
  triggers/service/auth/src/main/scala/com/daml/oauth/middleware/Server.scala
  triggers/service/auth/src/test/scala/com/daml/oauth/middleware/Test.scala
Owners: @cocreature, @hurryabit, @aherrmann-da

Factor out middlewareUri
  triggers/service/auth/src/test/scala/com/daml/oauth/middleware/Test.scala
Owners: @cocreature, @hurryabit, @aherrmann-da

DAML Engine: Remove token argument to SBU* builtins (#7542)
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
Owners: @hurryabit, @remyhaemmerle-da

fmt
  triggers/service/auth/src/main/scala/com/daml/oauth/middleware/Request.scala
  triggers/service/auth/src/main/scala/com/daml/oauth/middleware/Server.scala
  triggers/service/auth/src/main/scala/com/daml/oauth/server/Request.scala
  triggers/service/auth/src/test/scala/com/daml/oauth/middleware/Test.scala
Owners: @cocreature, @hurryabit, @aherrmann-da

Speedy: Reintroduce usage of muti-binding let.
  daml-lf/interpreter/perf/src/main/scala/com/daml/lf/explore/Explore.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Anf.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
Owners: @hurryabit, @remyhaemmerle-da

make SELet be only an intermediary compilation step
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
Owners: @hurryabit, @remyhaemmerle-da

typo
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
Owners: @hurryabit, @remyhaemmerle-da

Revert "Revert "Speedy Compiler: factorize and clean code (#7493)""
  daml-lf/interpreter/BUILD.bazel
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
Owners: @hurryabit, @remyhaemmerle-da

improve comments
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
Owners: @hurryabit, @remyhaemmerle-da

Write proper SDK version in DAR manifest for snapshots
  compiler/damlc/daml-package-config/src/DA/Daml/Package/Config.hs
  compiler/damlc/lib/DA/Cli/Damlc/Packaging.hs
  compiler/damlc/tests/src/DA/Test/Packaging.hs
Owners: @hurryabit, @cocreature

add CI job CHANGELOG_BEGIN CHANGELOG_END
  ci/check-closing-quotes.yml
Owners: @garyverhaegen-da

add CI job to azure pipeline
  azure-pipelines.yml
Owners: @garyverhaegen-da

less implicit variables
  triggers/service/auth/src/main/scala/com/daml/oauth/middleware/Server.scala
Owners: @cocreature, @hurryabit, @aherrmann-da

use devenv in azure-pipelines.yml
  azure-pipelines.yml
Owners: @garyverhaegen-da

remove unnecessary yml
  ci/check-closing-quotes.yml
Owners: @garyverhaegen-da

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

CODEOWNERS  @hurryabit @gerolf-da @cocreature
LATEST      @hurryabit @gerolf-da @bame-da @cocreature

# Build / CI / environment
/ci/                @garyverhaegen-da
/dev-env/           @garyverhaegen-da
/nix/               @garyverhaegen-da
/infra/             @garyverhaegen-da
azure-pipelines.yml @garyverhaegen-da
azure-cron.yml      @garyverhaegen-da

# Language
/compiler/          @hurryabit @cocreature
/libs-haskell/      @hurryabit @cocreature
/daml-assistant/    @sofiafaro-da @hurryabit @cocreature
/daml-script/       @cocreature @hurryabit @aherrmann-da
/triggers/          @cocreature @hurryabit @aherrmann-da
/ghc-lib/           @cocreature
/compatibility/     @garyverhaegen-da @aherrmann-da @cocreature

# Runtime
/daml-lf/governance.rst @hurryabit @S11001001
/daml-lf/archive/da/    @remyhaemmerle-da @hurryabit
/daml-lf/engine/ @hurryabit @remyhaemmerle-da
/daml-lf/interpreter/ @hurryabit @remyhaemmerle-da
/daml-lf/repl/ @hurryabit @remyhaemmerle-da
/daml-lf/scenario-interpreter/ @hurryabit @remyhaemmerle-da
/daml-lf/spec/value.rst @S11001001 @hurryabit
/daml-lf/spec/transaction.rst @S11001001 @hurryabit
/daml-lf/spec/daml-lf-1.rst @remyhaemmerle-da @hurryabit
/daml-lf/data-scalacheck/  @S11001001
/daml-lf/transaction-test-lib/  @S11001001
/daml-lf/validation/    @remyhaemmerle-da
/daml-lf/transaction/src/main/scala/com/daml/lf/transaction/ @S11001001
/daml-lf/transaction/src/main/scala/com/daml/lf/value/       @S11001001

/ledger-service/    @S11001001 @cocreature

/ledger/      @gerolf-da @rautenrieth-da @SamirTalwar-DA @stefanobaghino-da
/ledger-api/  @gerolf-da @rautenrieth-da @SamirTalwar-DA @stefanobaghino-da

# DAML-on-X
/ledger/participant-state/kvutils/  @dajmaki @dasormeter @fabiotudone-da @gerolf-da @miklos-da @mziolekda @rautenrieth-da @SamirTalwar-DA @stefanobaghino-da

# Ecosystems
/language-support/hs/       @nickchapman-da
/language-support/java/     @cocreature
/language-support/scala/    @S11001001 @cocreature
/language-support/ts/       @hurryabit @robin-da @cocreature @garyverhaegen-da

# Tools
/extractor/         @S11001001
/navigator/         @cocreature

# Misc
/docs/              @bame-da @nemanja-da @hurryabit
/libs-scala/        @stefanobaghino-da @SamirTalwar-DA
