Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @hurryabit, @gerolf-da, @cocreature, @bame-da, @garyverhaegen-da, @sofiafaro-da, @aherrmann-da, @S11001001, @remyhaemmerle-da, @rautenrieth-da, @SamirTalwar-DA, @stefanobaghino-da, @dajmaki, @dasormeter, @fabiotudone-da, @miklos-da, @mziolekda, @nickchapman-da, @robin-da, @nemanja-da

Fix bifunctor docs
  compiler/damlc/daml-stdlib-src/DA/Bifunctor.daml
  docs/configs/static/pygments_daml_lexer.py
Owners: @hurryabit, @cocreature, @bame-da, @nemanja-da

revert: use triple backticks in Bifunctor
  compiler/damlc/daml-stdlib-src/DA/Bifunctor.daml
Owners: @hurryabit, @cocreature

rename to allowlist
  docs/BUILD.bazel
  docs/scripts/check-closing-quotes.sh
  docs/scripts/check-closing-quotes.sh.allow
Owners: @bame-da, @nemanja-da, @hurryabit

revert Bifunctor quote changes back to 3 backticks
  compiler/damlc/daml-stdlib-src/DA/Bifunctor.daml
Owners: @hurryabit, @cocreature

Drop SdkVersion.toGhcPkgVersion entirely
  BUILD
  compiler/damlc/lib/DA/Cli/Damlc/Packaging.hs
Owners: @hurryabit, @cocreature

Write proper SDK version in DAR manifest for snapshots
  compiler/damlc/daml-package-config/src/DA/Daml/Package/Config.hs
  compiler/damlc/lib/DA/Cli/Damlc/Packaging.hs
  compiler/damlc/tests/src/DA/Test/Packaging.hs
Owners: @hurryabit, @cocreature

fix filename
  docs/BUILD.bazel
Owners: @bame-da, @nemanja-da, @hurryabit

Fix qualified name handling in DAML REPL
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Repl.hs
  compiler/damlc/tests/BUILD.bazel
  compiler/damlc/tests/Colliding.daml
  compiler/damlc/tests/ReplTest.daml
  compiler/damlc/tests/src/DA/Test/Repl/FuncTests.hs
Owners: @hurryabit, @cocreature

Update compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Repl.hs
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Repl.hs
Owners: @hurryabit, @cocreature

Factor out typechecking of imports
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Repl.hs
Owners: @hurryabit, @cocreature

Ledger: revert time change from #7430 (#7541)
  ledger-api/rs-grpc-akka/src/main/scala/com/digitalasset/grpc/adapter/AkkaExecutionSequencerPool.scala
Owners: @gerolf-da, @rautenrieth-da, @SamirTalwar-DA, @stefanobaghino-da

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

CODEOWNERS  @hurryabit @gerolf-da @cocreature
LATEST      @hurryabit @gerolf-da @bame-da @cocreature

# Build / CI / environment
/ci/                @garyverhaegen-da
/dev-env/           @garyverhaegen-da
/nix/               @garyverhaegen-da
/infra/             @garyverhaegen-da
azure-pipelines.yml @garyverhaegen-da
azure-cron.yml      @garyverhaegen-da

# Language
/compiler/          @hurryabit @cocreature
/libs-haskell/      @hurryabit @cocreature
/daml-assistant/    @sofiafaro-da @hurryabit @cocreature
/daml-script/       @cocreature @hurryabit @aherrmann-da
/triggers/          @cocreature @hurryabit @aherrmann-da
/ghc-lib/           @cocreature
/compatibility/     @garyverhaegen-da @aherrmann-da @cocreature

# Runtime
/daml-lf/governance.rst @hurryabit @S11001001
/daml-lf/archive/da/    @remyhaemmerle-da @hurryabit
/daml-lf/engine/ @hurryabit @remyhaemmerle-da
/daml-lf/interpreter/ @hurryabit @remyhaemmerle-da
/daml-lf/repl/ @hurryabit @remyhaemmerle-da
/daml-lf/scenario-interpreter/ @hurryabit @remyhaemmerle-da
/daml-lf/spec/value.rst @S11001001 @hurryabit
/daml-lf/spec/transaction.rst @S11001001 @hurryabit
/daml-lf/spec/daml-lf-1.rst @remyhaemmerle-da @hurryabit
/daml-lf/data-scalacheck/  @S11001001
/daml-lf/transaction-test-lib/  @S11001001
/daml-lf/validation/    @remyhaemmerle-da
/daml-lf/transaction/src/main/scala/com/daml/lf/transaction/ @S11001001
/daml-lf/transaction/src/main/scala/com/daml/lf/value/       @S11001001

/ledger-service/    @S11001001 @cocreature

/ledger/      @gerolf-da @rautenrieth-da @SamirTalwar-DA @stefanobaghino-da
/ledger-api/  @gerolf-da @rautenrieth-da @SamirTalwar-DA @stefanobaghino-da

# DAML-on-X
/ledger/participant-state/kvutils/  @dajmaki @dasormeter @fabiotudone-da @gerolf-da @miklos-da @mziolekda @rautenrieth-da @SamirTalwar-DA @stefanobaghino-da

# Ecosystems
/language-support/hs/       @nickchapman-da
/language-support/java/     @cocreature
/language-support/scala/    @S11001001 @cocreature
/language-support/ts/       @hurryabit @robin-da @cocreature @garyverhaegen-da

# Tools
/extractor/         @S11001001
/navigator/         @cocreature

# Misc
/docs/              @bame-da @nemanja-da @hurryabit
/libs-scala/        @stefanobaghino-da @SamirTalwar-DA
