Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @gerolf-da, @cocreature, @bame-da, @garyverhaegen-da, @aherrmann-da, @dasormeter, @sofiafaro-da, @stefanobaghino-da, @remyhaemmerle-da, @S11001001, @miklos-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da, @fabiotudone-da, @SamirTalwar-DA, @nickchapman-da, @robin-da, @nemanja-da

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

CODEOWNERS   @gerolf-da @cocreature
LATEST       @gerolf-da @bame-da @cocreature

# Build / CI / environment
/ci/                @garyverhaegen-da
/dev-env/           @garyverhaegen-da
/nix/               @garyverhaegen-da
/infra/             @garyverhaegen-da
azure-pipelines.yml @garyverhaegen-da
azure-cron.yml      @garyverhaegen-da

# Blackduck
NOTICES     @garyverhaegen-da @aherrmann-da @cocreature @dasormeter

# Language
/compiler/           @cocreature
/libs-haskell/       @cocreature
/daml-assistant/    @sofiafaro-da  @cocreature
/daml-script/       @cocreature  @aherrmann-da @stefanobaghino-da
/triggers/          @cocreature  @aherrmann-da @stefanobaghino-da
/ghc-lib/           @cocreature
/compatibility/     @garyverhaegen-da @aherrmann-da @cocreature

# Runtime
/daml-lf/ @remyhaemmerle-da
/daml-lf/archive/da/ @cocreature
/daml-lf/data-scalacheck/ @S11001001 @cocreature
/daml-lf/engine/ @cocreature
/daml-lf/governance.rst
/daml-lf/interpreter/ @cocreature
/daml-lf/kv-transaction-support/ @cocreature @gerolf-da @miklos-da
/daml-lf/repl/ @cocreature
/daml-lf/scenario-interpreter/  @cocreature
/daml-lf/spec/daml-lf-1.rst @cocreature
/daml-lf/spec/transaction.rst @cocreature
/daml-lf/spec/value.rst @cocreature
/daml-lf/transaction-test-lib/ @S11001001 @cocreature
/daml-lf/transaction/src/main/scala/com/daml/lf/transaction/ @cocreature
/daml-lf/transaction/src/main/scala/com/daml/lf/value/ @cocreature
/daml-lf/validation/ @cocreature

/ledger-service/    @S11001001 @cocreature @stefanobaghino-da

/ledger/      @gerolf-da @mziolekda @nmarton-da @rautenrieth-da @tudor-da
/ledger-api/  @gerolf-da @mziolekda @nmarton-da @rautenrieth-da @tudor-da

/ledger/participant-state/kvutils/ @fabiotudone-da @gerolf-da @miklos-da @SamirTalwar-DA

/runtime-components/    @stefanobaghino-da @cocreature

# Ecosystems
/language-support/hs/       @nickchapman-da
/language-support/java/     @cocreature @stefanobaghino-da
/language-support/scala/    @S11001001 @cocreature @stefanobaghino-da
/language-support/ts/        @robin-da @cocreature @garyverhaegen-da @stefanobaghino-da

# Tools
/extractor/         @S11001001 @stefanobaghino-da
/navigator/         @cocreature @stefanobaghino-da
/navigator/backend/src/main/scala/com/digitalasset/navigator/json/    @S11001001

# Misc
/docs/              @bame-da @nemanja-da
/libs-scala/        @stefanobaghino-da @SamirTalwar-DA
/libs-scala/contextualized-logging/    @S11001001
/libs-scala/scala-utils/    @S11001001
/libs-scala/scalatest-utils/    @S11001001

try to tweak canton conformance test
  ledger/ledger-api-test-tool-on-canton/BUILD.bazel
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

formatting
  ledger/ledger-api-test-tool-on-canton/BUILD.bazel
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

fix tests
  language-support/java/codegen/src/test/scala/com/digitalasset/daml/lf/codegen/InterfaceTreeSpec.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/CodeGen.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/dependencygraph/DependencyGraph.scala
  language-support/scala/codegen/src/test/scala/com/digitalasset/codegen/CodeGenSpec.scala
  language-support/scala/codegen/src/test/scala/com/digitalasset/codegen/UtilTest.scala
  language-support/scala/codegen/src/test/scala/com/digitalasset/codegen/lf/LFUtilSpec.scala
  language-support/scala/codegen/src/test/scala/com/digitalasset/codegen/lf/UsedTypeParamsSpec.scala
  navigator/backend/src/test/scala/com/digitalasset/navigator/backend/DamlConstants.scala
Owners: @cocreature, @stefanobaghino-da, @S11001001

Some minor changes based on review
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PGField.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PGSchema.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PGTable.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PostgresDbBatch.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PostgresStorageBackend.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Cleanup/refactoring postgres-batching
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PGField.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PGSchema.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PGTable.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PostgresDbBatch.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

TODO Cleanup: postgre-batching
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PGField.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PGSchema.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PGTable.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PostgresDbBatch.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PostgresStorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/RawDBBatchPostgreSQLV1.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Some typo-fix
  ledger/sandbox-common/src/main/scala/platform/sandbox/cli/CommonCliBase.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Add runtime check of input to prevent string-array serialisation issues
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PGField.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Some bugfixes
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PGField.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PostgresDbBatch.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

fix codec-benchmark
  ledger/participant-state/kvutils/tools/BUILD.bazel
  ledger/participant-state/kvutils/tools/codec-benchmark/src/benchmark/scala/com/daml/lf/benchmark/BenchmarkWithLedgerExport.scala
  ledger/participant-state/kvutils/tools/codec-benchmark/src/benchmark/scala/com/daml/lf/benchmark/TypedValueExtractor.scala
  ledger/participant-state/kvutils/tools/codec-benchmark/src/benchmark/scala/com/daml/lf/engine/SpeedyToValueBenchmark.scala
  ledger/participant-state/kvutils/tools/codec-benchmark/src/benchmark/scala/com/daml/lf/engine/ValueTranslatorBenchmark.scala
Owners: @fabiotudone-da, @gerolf-da, @miklos-da, @SamirTalwar-DA

Dpp 392 todo cleanup postgre batch (#9875)
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PGField.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PGSchema.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PGTable.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PostgresDbBatch.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PostgresStorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/RawDBBatchPostgreSQLV1.scala
  ledger/sandbox-common/src/main/scala/platform/sandbox/cli/CommonCliBase.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Try to fix windows skipping again
  ci/build-windows.yml
  ci/build.yml
Owners: @garyverhaegen-da

Parallel Ingestion renames
  ledger/participant-integration-api/src/main/scala/platform/indexer/parallel/ParallelIndexerFactory.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/JdbcLedgerDao.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/SequentialWriteDao.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/DbDto.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/StorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/UpdateToDbDto.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PGSchema.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PostgresDbBatch.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PostgresStorageBackend.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Enable sandbox tests for the append-only schema
  ledger/sandbox-classic/src/test/lib/scala/platform/sandbox/services/SandboxEnableAppendOnlySchema.scala
  ledger/sandbox-classic/src/test/lib/scala/platform/sandbox/services/SandboxFixture.scala
  ledger/sandbox-classic/src/test/resources/logback-test.xml
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/ScenarioLoadingITPostgres.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/services/command/CommandServiceBackPressureIT.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/services/command/CommandServiceIT.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/services/completion/CompletionServiceIT.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/services/configuration/LedgerConfigurationServiceIT.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/services/identity/LedgerIdentityServiceIT.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/services/reset/ResetServiceH2DatabaseIT.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/services/reset/ResetServicePostgresqlIT.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/stores/ledger/sql/SqlLedgerSpecAppendOnly.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/stores/ledger/sql/TransactionStreamTerminationIT.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

try to fix compatibility test
  compatibility/bazel_tools/testing.bzl
  ledger/ledger-api-test-tool-on-canton/BUILD.bazel
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature, @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

separate indices for signatories and observers
  ledger-service/db-backend/src/main/scala/com/digitalasset/http/dbbackend/Queries.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

try a bit more
  compatibility/bazel_tools/testing.bzl
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature

nvarchar2 keys are text-incompatible, but varchar2 keys are fine
  ledger-service/db-backend/src/main/scala/com/digitalasset/http/dbbackend/Queries.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

not using dataguide
  ledger-service/db-backend/src/main/scala/com/digitalasset/http/dbbackend/Queries.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

Remove TODO
  ledger/participant-integration-api/src/main/resources/db/migration/postgres-appendonly/V100_1__Append_only_cleanup.sql
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Parallel Ingestion renames (#9894)
  ledger/participant-integration-api/src/main/scala/platform/indexer/parallel/ParallelIndexerFactory.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/JdbcLedgerDao.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/SequentialWriteDao.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/DbDto.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/StorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/UpdateToDbDto.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PGSchema.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PostgresDbBatch.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PostgresStorageBackend.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Address review comment
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/stores/ledger/sql/SqlLedgerSpecAppendOnly.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Reorder fields
  ledger/participant-integration-api/src/main/resources/db/migration/postgres-appendonly/V100_0__Append_only_schema.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/postgres-appendonly/V100_0__Append_only_schema.sql
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

fixup remove todo
  ledger/participant-integration-api/src/main/resources/db/migration/postgres-appendonly/V100_1__Append_only_cleanup.sha256
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Remove todo
  ledger/participant-integration-api/src/main/resources/db/migration/postgres-appendonly/V102__drop_configuration_from_parameters_table.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/postgres-appendonly/V102__drop_configuration_from_parameters_table.sql
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Rename migration
  ledger/participant-integration-api/src/main/resources/db/migration/postgres-appendonly/V101__drop_configuration_from_parameters_table.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/postgres-appendonly/V101__drop_configuration_from_parameters_table.sql
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

DPP-393 Enable sandbox tests for the append-only schema (#9876)
  ledger/sandbox-classic/src/test/lib/scala/platform/sandbox/services/SandboxEnableAppendOnlySchema.scala
  ledger/sandbox-classic/src/test/lib/scala/platform/sandbox/services/SandboxFixture.scala
  ledger/sandbox-classic/src/test/resources/logback-test.xml
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/ScenarioLoadingITPostgres.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/services/command/CommandServiceBackPressureIT.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/services/command/CommandServiceIT.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/services/completion/CompletionServiceIT.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/services/configuration/LedgerConfigurationServiceIT.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/services/identity/LedgerIdentityServiceIT.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/services/reset/ResetServiceH2DatabaseIT.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/services/reset/ResetServicePostgresqlIT.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/stores/ledger/sql/SqlLedgerSpecAppendOnly.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/stores/ledger/sql/TransactionStreamTerminationIT.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

fmt
  language-support/scala/codegen/src/test/scala/com/digitalasset/codegen/CodeGenSpec.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

add deduplication_duration; and time model check to reject submission
  ledger/participant-state/kvutils/src/main/protobuf/daml_kvutils.proto
Owners: @fabiotudone-da, @gerolf-da, @miklos-da, @SamirTalwar-DA

a bit more try
  compatibility/bazel_tools/testing.bzl
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature

fix
  compatibility/bazel_tools/testing.bzl
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature

fix scala 2.12
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/EnvironmentInterface.scala
Owners: @remyhaemmerle-da

Fix the formatting on the LF spec. (#9889)
  daml-lf/spec/daml-lf-1.rst
Owners: @cocreature

Include PackageMetadata in LF interface (#9892)
  daml-lf/interface/BUILD.bazel
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/EnvironmentInterface.scala
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/Interface.scala
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/reader/InterfaceReader.scala
  daml-lf/interface/src/test/scala/com/digitalasset/daml/lf/iface/reader/InterfaceReaderSpec.scala
  language-support/java/codegen/src/test/scala/com/digitalasset/daml/lf/codegen/InterfaceTreeSpec.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/CodeGen.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/dependencygraph/DependencyGraph.scala
  language-support/scala/codegen/src/test/scala/com/digitalasset/codegen/CodeGenSpec.scala
  language-support/scala/codegen/src/test/scala/com/digitalasset/codegen/UtilTest.scala
  language-support/scala/codegen/src/test/scala/com/digitalasset/codegen/lf/LFUtilSpec.scala
  language-support/scala/codegen/src/test/scala/com/digitalasset/codegen/lf/UsedTypeParamsSpec.scala
  navigator/backend/src/test/scala/com/digitalasset/navigator/backend/DamlConstants.scala
Owners: @remyhaemmerle-da, @cocreature, @stefanobaghino-da, @S11001001

Try to fix windows skipping again (#9893)
  ci/build-windows.yml
  ci/build.yml
Owners: @garyverhaegen-da

Apply suggestions from code review
  compatibility/bazel_tools/testing.bzl
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature

Update compatibility/bazel_tools/testing.bzl
  compatibility/bazel_tools/testing.bzl
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature

update compat versions for 1.14.0-snapshot.20210602.7086.0.f36f556b
  compatibility/versions.bzl
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature

fix compatibility test exlusions
  compatibility/bazel_tools/testing.bzl
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature

fix
  compatibility/bazel_tools/testing.bzl
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature
