Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @digital-asset/daml-release-owners, @dylant-da, @paulbrauner-da, @remyhaemmerle-da, @digital-asset/daml-language, @digital-asset/kv-participant

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

sdk/bazel-java-deps.bzl @digital-asset/daml-release-owners

CODEOWNERS   @dylant-da @paulbrauner-da @remyhaemmerle-da 
/sdk/LATEST @digital-asset/daml-release-owners

# Build / CI / environment
/ci/                   @digital-asset/daml-language
/sdk/dev-env/          @digital-asset/daml-language
/sdk/nix/              @digital-asset/daml-language
azure-pipelines.yml    @digital-asset/daml-language
azure-cron.yml         @digital-asset/daml-language
sdk/release/           @digital-asset/daml-language
sdk/release.sh         @digital-asset/daml-language

# Blackduck
/sdk/NOTICES

# Compatibility test
/sdk/compatibility/     @digital-asset/daml-language @digital-asset/kv-participant

# Language
/sdk/daml-assistant/    @digital-asset/daml-language
/sdk/daml-script/       
/sdk/compiler/          @digital-asset/daml-language
/sdk/libs-haskell/      @digital-asset/daml-language
/sdk/ghc-lib/           @digital-asset/daml-language
/sdk/test-common/canton/ 

# Runtime
/sdk/daml-lf/ 


# Ecosystems
/sdk/language-support/hs/       @digital-asset/daml-language
/sdk/language-support/java/     
/sdk/language-support/scala/    
/sdk/language-support/ts/       

# Application Runtime
/sdk/ledger-service/
/sdk/runtime-components/ 

# Misc
/sdk/docs/ 
/sdk/libs-scala/

# Observability related libraries
/sdk/observability

fix
  sdk/daml-lf/validation/BUILD.bazel
Owners: none

fix
  sdk/daml-script/runner/BUILD.bazel
Owners: none

avoid deprecation warnings
  sdk/daml-script/runner/BUILD.bazel
Owners: none

another attempt
  sdk/daml-script/runner/BUILD.bazel
Owners: none

fix
  sdk/daml-lf/validation/BUILD.bazel
Owners: none

script-runner-lib
  sdk/daml-script/runner/BUILD.bazel
Owners: none

move admin workflow dars to the dar sub-directory
  sdk/canton/BUILD.bazel
Owners: none

Fix sandbox
  sdk/daml-assistant/daml-helper/src/DA/Daml/Helper/Main.hs
  sdk/daml-assistant/daml-helper/src/DA/Daml/Helper/Start.hs
  sdk/daml-assistant/daml-helper/src/DA/Daml/Helper/Util.hs
Owners: @digital-asset/daml-language

fix
  sdk/daml-lf/validation/BUILD.bazel
Owners: none

script-runner-lib
  sdk/daml-script/runner/BUILD.bazel
Owners: none

move admin workflow dars to the dar sub-directory
  sdk/canton/BUILD.bazel
Owners: none

Fix sandbox
  sdk/daml-assistant/daml-helper/src/DA/Daml/Helper/Main.hs
  sdk/daml-assistant/daml-helper/src/DA/Daml/Helper/Start.hs
  sdk/daml-assistant/daml-helper/src/DA/Daml/Helper/Util.hs
Owners: @digital-asset/daml-language

fix authentification
  sdk/compiler/damlc/tests/BUILD.bazel
  sdk/compiler/damlc/tests/src/DamlcPkgManager.hs
  sdk/daml-assistant/daml-helper/BUILD.bazel
  sdk/daml-assistant/daml-helper/test/DA/Daml/Helper/Test/Deployment.hs
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ledgerinteraction/grpcLedgerClient/AdminLedgerClient.scala
  sdk/daml-script/test/src/main/scala/com/digitalasset/daml/lf/engine/script/test/AuthIT.scala
  sdk/language-support/hs/bindings/test/DA/Ledger/Tests.hs
  sdk/libs-haskell/canton-test-utils/DA/Test/Sandbox.hs
  sdk/test-common/canton/it-lib/src/main/scala/com/daml/integrationtest/CantonConfig.scala
  sdk/test-common/canton/it-lib/src/main/scala/com/daml/integrationtest/CantonRunner.scala
Owners: @digital-asset/daml-language

Local elimination of the divideExact
  sdk/canton/community/participant/src/main/scala/com/digitalasset/canton/participant/pruning/AcsCommitmentProcessor.scala
Owners: none

Cleaned comments
  sdk/compiler/daml-lf-ast/BUILD.bazel
  sdk/daml-lf/language/BUILD.bazel
  sdk/daml-lf/language/generate_haskell_versions.py
Owners: @digital-asset/daml-language

Switch jdk back to 17 (#22214)
  sdk/.bazelrc
  sdk/WORKSPACE
  sdk/compatibility/.bazelrc
  sdk/compatibility/WORKSPACE
  sdk/compatibility/build-release-artifacts.sh
  sdk/dev-env/windows/manifests/jdk.json
  sdk/nix/bazel.nix
  sdk/nix/default.nix
Owners: @digital-asset/daml-language, @digital-asset/kv-participant

Avoid using proto defaults in daml-script
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ledgerinteraction/grpcLedgerClient/GrpcLedgerClient.scala
Owners: none

Explicit Minorversion Ord instance
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version/VersionType.hs
Owners: @digital-asset/daml-language

dumb typo fix
  sdk/compiler/damlc/tests/src/DA/Test/DataDependencies.hs
Owners: @digital-asset/daml-language

Initial impl, compiles (pre switch)
  sdk/compiler/daml-lf-ast/BUILD.bazel
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Range.hs
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version/VersionType.hs
  sdk/daml-lf/language/BUILD.bazel
  sdk/daml-lf/language/daml-lf.bzl
  sdk/daml-lf/language/generate_haskell_features.py
Owners: @digital-asset/daml-language

Update range with From/Until
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Range.hs
Owners: @digital-asset/daml-language

Fix scriptservice
  sdk/compiler/damlc/tests/src/DA/Test/ScriptService.hs
Owners: @digital-asset/daml-language

Compile rest
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version/VersionUtil.hs
  sdk/compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion/Primitives.hs
  sdk/compiler/damlc/daml-lf-util/src/DA/Daml/UtilLF.hs
  sdk/compiler/damlc/daml-opts/daml-opts/DA/Daml/Options.hs
  sdk/compiler/damlc/tests/src/DA/Test/DamlcIntegration.hs
  sdk/compiler/damlc/tests/src/DA/Test/DataDependencies.hs
  sdk/daml-lf/language/generate_haskell_features.py
Owners: @digital-asset/daml-language

Made the switch, ast building
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Range.hs
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version/VersionType.hs
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version/VersionUtil.hs
  sdk/compiler/damlc/tests/src/DA/Test/DataDependencies.hs
  sdk/compiler/damlc/tests/src/DA/Test/ScriptService.hs
  sdk/daml-lf/language/daml-lf.bzl
  sdk/daml-lf/language/generate_haskell_features.py
Owners: @digital-asset/daml-language

buildifier-fix
  sdk/compiler/daml-lf-ast/BUILD.bazel
  sdk/daml-lf/language/BUILD.bazel
  sdk/daml-lf/language/daml-lf.bzl
Owners: @digital-asset/daml-language

Add 3.3 snapshot to compat tests, (#22183)
  ci/BUILD
  ci/bash-lib.yml
  ci/blackduck.yml
  ci/cron/daily-compat.yml
  ci/cron/wednesday.yml
  ci/prs.yml
  sdk/bazel_tools/os_info.bzl
  sdk/ci/oracle_image
  sdk/compatibility/BUILD
  sdk/compatibility/README.md
  sdk/compatibility/WORKSPACE
  sdk/compatibility/bazel-haskell-deps.bzl
  sdk/compatibility/bazel_tools/daml_ledger/BUILD.bazel
  sdk/compatibility/bazel_tools/daml_ledger/Main.hs
  sdk/compatibility/bazel_tools/daml_ledger/Sandbox.hs
  sdk/compatibility/bazel_tools/daml_script/daml_script.bzl
  sdk/compatibility/bazel_tools/daml_sdk.bzl
  sdk/compatibility/bazel_tools/testing.bzl
  sdk/compatibility/deps.bzl
  sdk/compatibility/maven_install.json
  sdk/compatibility/test-all-installs.sh
  sdk/compatibility/update-versions.sh
  sdk/compatibility/versions.bzl
  sdk/compatibility/versions/BUILD
  sdk/compatibility/versions/UpdateVersions.hs
Owners: @digital-asset/daml-language, @digital-asset/kv-participant

Remove unused field checks
  sdk/daml-lf/archive/BUILD.bazel
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/Reader.scala
  sdk/libs-scala/safe-proto/src/main/scala/com/daml/SafeProto.scala
Owners: none

Use scalapb options from Canton
  sdk/canton/BUILD.bazel
Owners: none

Avoid using proto defaults in daml-script (#22215)
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ledgerinteraction/grpcLedgerClient/GrpcLedgerClient.scala
Owners: none

Fix GrpcLedgerClient
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ledgerinteraction/grpcLedgerClient/GrpcLedgerClient.scala
Owners: none

[WIP]
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Util.hs
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version/VersionType.hs
  sdk/compiler/daml-lf-proto-encode/BUILD.bazel
  sdk/compiler/daml-lf-proto-encode/src/DA/Daml/LF/Proto3/EncodeV2.hs
  sdk/compiler/damlc/stable-packages/json/BUILD.bazel
  sdk/compiler/damlc/stable-packages/json/stable-packages.json
  sdk/compiler/damlc/stable-packages/lib/DA/Daml/StablePackages.hs
  sdk/compiler/damlc/tests/BUILD.bazel
  sdk/compiler/damlc/tests/src/DA/Test/PackageImports.hs
Owners: @digital-asset/daml-language

Backport ArchiveReaderSchema (#22212)
  sdk/canton/community/ledger/ledger-json-api/src/main/scala/com/digitalasset/canton/ledger/service/LedgerReader.scala
  sdk/daml-lf/api-type-signature/src/main/scala/com/digitalasset/daml/lf/typesig/reader/DamlLfArchiveReader.scala
  sdk/daml-lf/api-type-signature/src/main/scala/com/digitalasset/daml/lf/typesig/reader/SignatureReader.scala
  sdk/daml-lf/api-type-signature/src/test/scala/com/digitalasset/daml/lf/typesig/reader/SignatureReaderSpec.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/Decode.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV2.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/GenReader.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/Reader.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/package.scala
  sdk/daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV1Spec.scala
  sdk/daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV2Spec.scala
  sdk/daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/testing/archive/DamlLfEncoderTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/NodeSeedsTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/AuthPropagationSpec.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ContractKeySpec.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/InterfaceViewSpec.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/InterfacesTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/LargeTransactionTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ReinterpretTest.scala
  sdk/daml-lf/interpreter/perf/src/main/scala/com/digitalasset/daml/lf/speedy/explore/ExploreDar.scala
  sdk/daml-lf/interpreter/perf/src/main/scala/com/digitalasset/daml/lf/speedy/explore/LoadDarFunction.scala
  sdk/daml-lf/repl/src/main/scala/com/digitalasset/daml/lf/speedy/testing/Main.scala
  sdk/daml-lf/snapshot/src/main/scala/com/digitalasset/daml/lf/testing/snapshot/TransactionSnapshot.scala
  sdk/daml-lf/stable-packages/src/test/scala/com/digitalasset/daml/lf/stablepackages/StablePackagesTest.scala
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/RunnerMain.scala
Owners: none

Make daml_script_test wait until synchronizers are connected pre-upload
  sdk/compatibility/WORKSPACE
  sdk/compatibility/bazel_tools/daml_script/daml_script.bzl
Owners: @digital-asset/daml-language, @digital-asset/kv-participant

Fix test-protobuf-structure.sh
  sdk/release/test-protobuf-structure.sh
Owners: @digital-asset/daml-language

Validate ADMIN_PORT is correct
  sdk/compatibility/bazel_tools/daml_script/daml_script.bzl
Owners: @digital-asset/daml-language, @digital-asset/kv-participant

Add //daml-assistant/integration-tests in hie.yaml
  sdk/hie.yaml
Owners: none

Add missing field TemplateFilter
  sdk/daml-assistant/integration-tests/src/DA/Daml/Assistant/IntegrationTests.hs
Owners: @digital-asset/daml-language

try and fix blackduck 'open NOTICES PR'
  ci/blackduck.yml
Owners: @digital-asset/daml-language

always run, for testing
  ci/blackduck.yml
Owners: @digital-asset/daml-language

always run, for testing
  ci/blackduck.yml
Owners: @digital-asset/daml-language
