Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @gerolf-da, @cocreature, @bame-da, @garyverhaegen-da, @aherrmann-da, @dasormeter, @sofiafaro-da, @stefanobaghino-da, @remyhaemmerle-da, @S11001001, @miklos-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da, @fabiotudone-da, @SamirTalwar-DA, @nickchapman-da, @robin-da, @nemanja-da

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

CODEOWNERS   @gerolf-da @cocreature
LATEST       @gerolf-da @bame-da @cocreature

# Build / CI / environment
/ci/                @garyverhaegen-da
/dev-env/           @garyverhaegen-da
/nix/               @garyverhaegen-da
/infra/             @garyverhaegen-da
azure-pipelines.yml @garyverhaegen-da
azure-cron.yml      @garyverhaegen-da

# Blackduck
NOTICES     @garyverhaegen-da @aherrmann-da @cocreature @dasormeter

# Language
/compiler/           @cocreature
/libs-haskell/       @cocreature
/daml-assistant/    @sofiafaro-da  @cocreature
/daml-script/       @cocreature  @aherrmann-da @stefanobaghino-da
/triggers/          @cocreature  @aherrmann-da @stefanobaghino-da
/ghc-lib/           @cocreature
/compatibility/     @garyverhaegen-da @aherrmann-da @cocreature

# Runtime
/daml-lf/ @remyhaemmerle-da
/daml-lf/archive/da/ @cocreature
/daml-lf/data-scalacheck/ @S11001001 @cocreature
/daml-lf/engine/ @cocreature
/daml-lf/governance.rst
/daml-lf/interpreter/ @cocreature
/daml-lf/kv-transaction-support/ @cocreature @gerolf-da @miklos-da
/daml-lf/repl/ @cocreature
/daml-lf/scenario-interpreter/  @cocreature
/daml-lf/spec/daml-lf-1.rst @cocreature
/daml-lf/spec/transaction.rst @cocreature
/daml-lf/spec/value.rst @cocreature
/daml-lf/transaction-test-lib/ @S11001001 @cocreature
/daml-lf/transaction/src/main/scala/com/daml/lf/transaction/ @cocreature
/daml-lf/transaction/src/main/scala/com/daml/lf/value/ @cocreature
/daml-lf/validation/ @cocreature

/ledger-service/    @S11001001 @cocreature @stefanobaghino-da

/ledger/      @gerolf-da @mziolekda @nmarton-da @rautenrieth-da @tudor-da
/ledger-api/  @gerolf-da @mziolekda @nmarton-da @rautenrieth-da @tudor-da

/ledger/participant-state/kvutils/ @fabiotudone-da @gerolf-da @miklos-da @SamirTalwar-DA

/runtime-components/    @stefanobaghino-da @cocreature

# Ecosystems
/language-support/hs/       @nickchapman-da
/language-support/java/     @cocreature @stefanobaghino-da
/language-support/scala/    @S11001001 @cocreature @stefanobaghino-da
/language-support/ts/        @robin-da @cocreature @garyverhaegen-da @stefanobaghino-da

# Tools
/extractor/         @S11001001 @stefanobaghino-da
/navigator/         @cocreature @stefanobaghino-da
/navigator/backend/src/main/scala/com/digitalasset/navigator/json/    @S11001001

# Misc
/docs/              @bame-da @nemanja-da
/libs-scala/        @stefanobaghino-da @SamirTalwar-DA
/libs-scala/contextualized-logging/    @S11001001
/libs-scala/scala-utils/    @S11001001
/libs-scala/scalatest-utils/    @S11001001

Update ledger/sandbox-common/src/main/scala/platform/sandbox/cli/CommonCliBase.scala
  ledger/sandbox-common/src/main/scala/platform/sandbox/cli/CommonCliBase.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

LF: fix TransactionCoderSpec (#9922)
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionCoderSpec.scala
Owners: @remyhaemmerle-da

Align setter & config name for metricsReportingInterval setting too in CommonCliBase.scala
  ledger/sandbox-common/src/main/scala/platform/sandbox/cli/CommonCliBase.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Rename http_json_api in Metrics.scala of metrics project to HttpJsonApi
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da, @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Reformat CommonCliBase.scala of sandbox-common project
  ledger/sandbox-common/src/main/scala/platform/sandbox/cli/CommonCliBase.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Force resolution for css what to 5.0.1
  navigator/frontend/package.json
  navigator/frontend/yarn.lock
Owners: @cocreature, @stefanobaghino-da

Fix CommonCliSpecBase test of sandbox
  ledger/sandbox-common/src/test/lib/scala/platform/sandbox/cli/CommonCliSpecBase.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Add metrics to the http json service (#9923)
  daml-script/test/BUILD.bazel
  daml-script/test/src/com/digitalasset/daml/lf/engine/script/test/JsonApiIt.scala
  ledger-service/cli-opts/BUILD.bazel
  ledger-service/cli-opts/src/main/scala/cliopts/Metrics.scala
  ledger-service/http-json-cli/BUILD.bazel
  ledger-service/http-json-cli/src/main/scala/com/daml/http/Config.scala
  ledger-service/http-json-cli/src/main/scala/com/daml/http/OptionParser.scala
  ledger-service/http-json-cli/src/main/scala/com/daml/http/StartSettings.scala
  ledger-service/http-json-testing/BUILD.bazel
  ledger-service/http-json-testing/src/main/scala/com/daml/http/HttpServiceTestFixture.scala
  ledger-service/http-json/BUILD.bazel
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Main.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebsocketEndpoints.scala
  ledger/indexer-benchmark/src/main/scala/ledger/indexerbenchmark/Config.scala
  ledger/metrics/BUILD.bazel
  ledger/metrics/src/main/scala/com/daml/metrics/ExtendedDropwizardExports.scala
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
  ledger/metrics/src/main/scala/com/daml/metrics/MetricsReporter.scala
  ledger/metrics/src/main/scala/com/daml/metrics/MetricsReporting.scala
  ledger/metrics/src/main/scala/com/daml/metrics/PrometheusReporter.scala
  ledger/metrics/src/main/scala/io/prometheus/client/dropwizard/DropwizardExportsAccess.scala
  ledger/participant-integration-api/BUILD.bazel
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Config.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/SandboxServer.scala
  ledger/sandbox-common/BUILD.bazel
  ledger/sandbox-common/src/main/scala/platform/sandbox/cli/CommonCliBase.scala
  ledger/sandbox-common/src/main/scala/platform/sandbox/config/SandboxConfig.scala
  ledger/sandbox-common/src/test/lib/scala/platform/sandbox/cli/CommonCliSpecBase.scala
  ledger/sandbox/src/main/scala/platform/sandboxnext/Runner.scala
Owners: @cocreature, @aherrmann-da, @stefanobaghino-da, @S11001001, @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da, @fabiotudone-da, @miklos-da, @SamirTalwar-DA

Allow two different time formats as input for the metrics reporting interval and accordingly revert to using the old test for the CommonCliSpecBase in sandbox-common
  ledger-service/cli-opts/src/main/scala/cliopts/Metrics.scala
  ledger/sandbox-common/src/test/lib/scala/platform/sandbox/cli/CommonCliSpecBase.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da, @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Replace the thrown RuntimeException in the DurationFormat reader with an IllegalArgumentException
  ledger-service/cli-opts/src/main/scala/cliopts/Metrics.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

Try parsing java duration first
  ledger-service/cli-opts/src/main/scala/cliopts/Metrics.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

Add test which covers the scala duration format too in the CommonCliSpecBase of sandbox-common
  ledger/sandbox-common/src/test/lib/scala/platform/sandbox/cli/CommonCliSpecBase.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Add comment about java duration format
  ledger-service/cli-opts/src/main/scala/cliopts/Metrics.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

[docs] Remove link to the #daml-contributors
  docs/source/concepts/glossary.rst
Owners: @bame-da, @nemanja-da

Fix variable name Fix typos
  daml-script/daml/Daml/Script.daml
  docs/source/daml/intro/4_Transformations.rst
  docs/source/daml/intro/6_Parties.rst
  docs/source/daml/intro/8_Exceptions.rst
  triggers/daml/Daml/Trigger.daml
Owners: @cocreature, @aherrmann-da, @stefanobaghino-da, @bame-da, @nemanja-da

Fix variable name (#9927)
  daml-script/daml/Daml/Script.daml
  docs/source/daml/intro/4_Transformations.rst
  docs/source/daml/intro/6_Parties.rst
  docs/source/daml/intro/8_Exceptions.rst
  triggers/daml/Daml/Trigger.daml
Owners: @cocreature, @aherrmann-da, @stefanobaghino-da, @bame-da, @nemanja-da

Allow two different time formats as input for the metrics reporting interval (#9926)
  ledger-service/cli-opts/src/main/scala/cliopts/Metrics.scala
  ledger/sandbox-common/src/test/lib/scala/platform/sandbox/cli/CommonCliSpecBase.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da, @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Deprecate use of divulged contracts
  docs/source/support/component-statuses.rst
Owners: @bame-da, @nemanja-da

Deprecate use of divulged contracts (#9930)
  docs/source/support/component-statuses.rst
Owners: @bame-da, @nemanja-da

Handle module-prefixes in Java codegen
  language-support/codegen-common/BUILD.bazel
  language-support/codegen-common/src/main/scala/com/digitalasset/daml/lf/codegen/conf/CodegenConfigReader.scala
  language-support/codegen-common/src/main/scala/com/digitalasset/daml/lf/codegen/conf/Conf.scala
  language-support/java/codegen/BUILD.bazel
  language-support/java/codegen/src/it/daml/Pkg1.0/A.daml
  language-support/java/codegen/src/it/daml/Pkg2.0/A.daml
  language-support/java/codegen/src/it/daml/pkg-root/daml.yaml
  language-support/java/codegen/src/it/daml/pkg-root/daml/Root.daml
  language-support/java/codegen/src/it/java/com/daml/ModulePrefixes.java
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/CodeGenRunner.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/JavaBackend.scala
  language-support/java/codegen/src/test/scala/com/digitalasset/daml/lf/codegen/CodeGenRunnerTests.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/Main.scala
Owners: @cocreature, @stefanobaghino-da, @S11001001

Make events decoding parallelism configurable
  ledger/participant-integration-api/src/main/scala/platform/apiserver/ApiServerConfig.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/StandaloneApiServer.scala
  ledger/participant-integration-api/src/main/scala/platform/configuration/IndexConfiguration.scala
  ledger/participant-integration-api/src/main/scala/platform/index/JdbcIndex.scala
  ledger/participant-integration-api/src/main/scala/platform/index/ReadOnlySqlLedger.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/IndexerConfig.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/JdbcIndexer.scala
  ledger/participant-integration-api/src/main/scala/platform/store/IndexMetadata.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/JdbcLedgerDao.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/TransactionsReader.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoBackend.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoPostCommitValidationSpec.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoTransactionsSpec.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Config.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/LedgerFactory.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/SandboxServer.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/SandboxIndexAndWriteService.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/sql/SqlLedger.scala
  ledger/sandbox-classic/src/test/lib/scala/platform/sandbox/LedgerResource.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/stores/ledger/sql/SqlLedgerSpec.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/stores/ledger/sql/SqlLedgerSpecAppendOnly.scala
  ledger/sandbox-common/src/main/scala/platform/sandbox/config/SandboxConfig.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da, @fabiotudone-da, @miklos-da, @SamirTalwar-DA

Add CLI parameters
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Config.scala
  ledger/sandbox-common/src/main/scala/platform/sandbox/cli/CommonCliBase.scala
Owners: @fabiotudone-da, @gerolf-da, @miklos-da, @SamirTalwar-DA, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

\/ in http-json
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/EndpointsCompanion.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebsocketEndpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/ApiValueToJsValueConverter.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/DomainJsonEncoder.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

\/ in http-json
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/EndpointsCompanion.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebsocketEndpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/DomainJsonEncoder.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

release 1.14.0-snapshot.20210608.7123.0.3cb8d5c2
  LATEST
Owners: @gerolf-da, @bame-da, @cocreature

rotate release duty after 1.14.0-snapshot.20210608.7123.0.3cb8d5c2
  release/rotation
Owners: none

Reference ticket in todos
  language-support/codegen-common/src/main/scala/com/digitalasset/daml/lf/codegen/conf/CodegenConfigReader.scala
  language-support/codegen-common/src/main/scala/com/digitalasset/daml/lf/codegen/conf/Conf.scala
Owners: none

less stupid map initialization
  language-support/java/codegen/BUILD.bazel
  language-support/java/codegen/src/test/scala/com/digitalasset/daml/lf/codegen/CodeGenRunnerTests.scala
Owners: @cocreature, @stefanobaghino-da

Force resolution for css what to 5.0.1 (#9925)
  navigator/frontend/package.json
  navigator/frontend/yarn.lock
Owners: @cocreature, @stefanobaghino-da

Pull out string assembly
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/CodeGenRunner.scala
Owners: @cocreature, @stefanobaghino-da

Update language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/CodeGenRunner.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/CodeGenRunner.scala
Owners: @cocreature, @stefanobaghino-da

Update language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/CodeGenRunner.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/CodeGenRunner.scala
Owners: @cocreature, @stefanobaghino-da

fewer views
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/CodeGenRunner.scala
Owners: @cocreature, @stefanobaghino-da

more assert
  language-support/java/codegen/BUILD.bazel
  language-support/java/codegen/src/test/scala/com/digitalasset/daml/lf/codegen/CodeGenRunnerTests.scala
Owners: @cocreature, @stefanobaghino-da

more private
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/CodeGenRunner.scala
Owners: @cocreature, @stefanobaghino-da

fmt
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/CodeGenRunner.scala
Owners: @cocreature, @stefanobaghino-da

fix scala 2.12
  language-support/java/codegen/src/test/scala/com/digitalasset/daml/lf/codegen/CodeGenRunnerTests.scala
Owners: @cocreature, @stefanobaghino-da

Optimize flat transaction trees query with event_kind predicate
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/EventsTableFlatEventsRangeQueries.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Handle module-prefixes in Java codegen (#9929)
  language-support/codegen-common/BUILD.bazel
  language-support/codegen-common/src/main/scala/com/digitalasset/daml/lf/codegen/conf/CodegenConfigReader.scala
  language-support/codegen-common/src/main/scala/com/digitalasset/daml/lf/codegen/conf/Conf.scala
  language-support/java/codegen/BUILD.bazel
  language-support/java/codegen/src/it/daml/Pkg1.0/A.daml
  language-support/java/codegen/src/it/daml/Pkg2.0/A.daml
  language-support/java/codegen/src/it/daml/pkg-root/daml.yaml
  language-support/java/codegen/src/it/daml/pkg-root/daml/Root.daml
  language-support/java/codegen/src/it/java/com/daml/ModulePrefixes.java
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/CodeGenRunner.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/JavaBackend.scala
  language-support/java/codegen/src/test/scala/com/digitalasset/daml/lf/codegen/CodeGenRunnerTests.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/Main.scala
Owners: @cocreature, @stefanobaghino-da, @S11001001

ledger-api-bench-tool: Completions stream (#9872)
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/Cli.scala
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/Config.scala
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/LedgerApiBenchTool.scala
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/metrics/MetricsSet.scala
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/services/ActiveContractsService.scala
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/services/CommandCompletionService.scala
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/services/TransactionService.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da
