Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @gerolf-da, @cocreature, @bame-da, @garyverhaegen-da, @aherrmann-da, @dasormeter, @sofiafaro-da, @stefanobaghino-da, @remyhaemmerle-da, @S11001001, @digital-asset/kv-committer, @digital-asset/kv-participant, @meiersi-da, @nickchapman-da, @robin-da, @nemanja-da, @SamirTalwar-DA

remove release step
  release/RELEASE.md
Owners: @garyverhaegen-da

Removed InterpretationCostBasedLedgerWriterChooser*.
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/api/InterpretationCostBasedLedgerWriterChooser.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/api/InterpretationCostBasedLedgerWriterChooserSpec.scala
Owners: @digital-asset/kv-committer

interfaces: Sync InterfaceDesugared with Interface
  compiler/damlc/tests/daml-test-files/InterfaceDesugared.daml
Owners: @cocreature

Extract the envelope from daml_kvutils.proto
  ledger/participant-state/kvutils/src/main/protobuf/com/daml/ledger/participant/state/kvutils/daml_kvutils.proto
  ledger/participant-state/kvutils/src/main/protobuf/com/daml/ledger/participant/state/kvutils/envelope/envelope.proto
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/Envelope.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/Raw.scala
  ledger/participant-state/kvutils/tools/integrity-check/src/test/scala/ledger/participant/state/kvutils/tools/integritycheck/RawWriteSetComparisonSpec.scala
Owners: @meiersi-da, @digital-asset/kv-committer

daml-lf/parser -- switch on; nothing to do
  daml-lf/parser/BUILD.bazel
Owners: @remyhaemmerle-da, @cocreature

daml-lf/validation : switch on lf_scalacopts_stricter & fix wartremover:NonUnitStatements
  daml-lf/validation/BUILD.bazel
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
Owners: @remyhaemmerle-da, @cocreature

lf_scalacopts_stricter in daml-lf/transaction-test-lib
  daml-lf/transaction-test-lib/BUILD.bazel
Owners: @S11001001

lf_scalacopts_stricter in daml-lf/scenario-interpreter
  daml-lf/scenario-interpreter/BUILD.bazel
Owners: @remyhaemmerle-da, @cocreature

Remove unused import
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/Envelope.scala
Owners: @digital-asset/kv-committer

Extract configuration submission from daml_kvutils.proto
  ledger/participant-state/kvutils/src/main/protobuf/com/daml/ledger/participant/state/kvutils/daml_kvutils.proto
  ledger/participant-state/kvutils/src/main/protobuf/com/daml/ledger/participant/state/kvutils/wire/configuration_submission.proto
  ledger/participant-state/kvutils/src/main/protobuf/com/daml/ledger/participant/state/kvutils/wire/submission.proto
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/KeyValueSubmission.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/ConfigCommitter.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/ConfigCommitterSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/SubmissionValidatorSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/preexecution/PreExecutingSubmissionValidatorSpec.scala
  ledger/participant-state/kvutils/tools/integrity-check/src/test/scala/ledger/participant/state/kvutils/tools/integritycheck/RawPreExecutingCommitStrategySupportSpec.scala
Owners: @meiersi-da, @digital-asset/kv-committer

interfaces: Sync InterfaceDesugared with Interface (#11191)
  compiler/damlc/tests/daml-test-files/InterfaceDesugared.daml
Owners: @cocreature

Removed InterpretationCostBasedLedgerWriterChooser*. (#11190)
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/api/InterpretationCostBasedLedgerWriterChooser.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/api/InterpretationCostBasedLedgerWriterChooserSpec.scala
Owners: @digital-asset/kv-committer

remove Iface type
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/DefDataType.scala
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/reader/InterfaceReader.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/ClassForType.scala
  language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/VariantClass.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/CodeGen.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/dependencygraph/DependencyGraph.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/lf/DamlDataTypeGen.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/lf/UsedTypeParams.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/query/ValuePredicate.scala
  ledger-service/lf-value-json/src/main/scala/com/digitalasset/daml/lf/value/json/ApiCodecCompressed.scala
  ledger-service/lf-value-json/src/main/scala/com/digitalasset/daml/lf/value/json/NavigatorModelAliases.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/json/DamlLfCodec.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/model/PackageRegistry.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/model/converter/LedgerApiV1.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/query/filter/package.scala
  navigator/backend/src/main/scala/com/digitalasset/navigator/query/project/package.scala
Owners: @remyhaemmerle-da, @cocreature, @stefanobaghino-da, @S11001001

LF: clarify compilation of choice Body.
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
Owners: @remyhaemmerle-da, @cocreature

formatting
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
Owners: @remyhaemmerle-da, @cocreature

[Self-service error codes] Refactored for Canton integration * Introduces ErrorCodeLoggingContext which is used to abstract away the logging tech stack
  ledger/error/src/main/scala/com/daml/error/BaseError.scala
  ledger/error/src/main/scala/com/daml/error/ErrorCategory.scala
  ledger/error/src/main/scala/com/daml/error/ErrorCode.scala
  ledger/error/src/main/scala/com/daml/error/ErrorCodeLoggingContext.scala
  ledger/error/src/main/scala/com/daml/error/ErrorResource.scala
  ledger/error/src/test/suite/scala/com/daml/error/ErrorCodeSpec.scala
  ledger/participant-integration-api/BUILD.bazel
  ledger/participant-integration-api/src/main/scala/platform/apiserver/error/LedgerApiErrors.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/error/PackageServiceError.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/error/ProtoDeserializationError.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/error/PruningServiceError.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/error/RejectionGenerators.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/error/TransactionError.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/transaction/ApiTransactionService.scala
  ledger/participant-integration-api/src/main/scala/platform/store/ErrorCause.scala
Owners: @digital-asset/kv-participant, @meiersi-da

Moved all error definitions in //ledger/error
  daml-lf/validation/BUILD.bazel
  ledger/error/BUILD.bazel
  ledger/error/src/main/scala/com/daml/error/ErrorCause.scala
  ledger/error/src/main/scala/com/daml/error/definitions/ErrorGroups.scala
  ledger/error/src/main/scala/com/daml/error/definitions/LedgerApiErrors.scala
  ledger/error/src/main/scala/com/daml/error/definitions/PackageServiceError.scala
  ledger/error/src/main/scala/com/daml/error/definitions/ProtoDeserializationError.scala
  ledger/error/src/main/scala/com/daml/error/definitions/PruningServiceError.scala
  ledger/error/src/main/scala/com/daml/error/definitions/RejectionGenerators.scala
  ledger/error/src/main/scala/com/daml/error/definitions/SubmissionErrors.scala
  ledger/error/src/main/scala/com/daml/error/definitions/TransactionError.scala
  ledger/participant-integration-api/BUILD.bazel
  ledger/participant-integration-api/src/main/scala/platform/apiserver/error/CorrelationId.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/execution/CommandExecutor.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/execution/LedgerTimeAwareCommandExecutor.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/execution/StoreBackedCommandExecutor.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/execution/TimedCommandExecutor.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiSubmissionService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/transaction/ApiTransactionService.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/services/ApiSubmissionServiceSpec.scala
Owners: @remyhaemmerle-da, @cocreature, @digital-asset/kv-participant, @meiersi-da

Formatting
  ledger/error/BUILD.bazel
  ledger/error/src/main/scala/com/daml/error/ErrorCode.scala
  ledger/error/src/main/scala/com/daml/error/definitions/ErrorGroups.scala
  ledger/error/src/main/scala/com/daml/error/definitions/LedgerApiErrors.scala
  ledger/error/src/main/scala/com/daml/error/definitions/RejectionGenerators.scala
  ledger/error/src/main/scala/com/daml/error/definitions/SubmissionErrors.scala
  ledger/error/src/main/scala/com/daml/error/definitions/TransactionError.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/execution/StoreBackedCommandExecutor.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/transaction/ApiTransactionService.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/services/ApiSubmissionServiceSpec.scala
Owners: @digital-asset/kv-participant, @meiersi-da

Fix compilation issues
  ledger/error/src/main/scala/com/daml/error/ErrorCode.scala
  ledger/error/src/main/scala/com/daml/error/ErrorCodeLoggingContext.scala
Owners: @digital-asset/kv-participant

Fix tests
  ledger/participant-integration-api/BUILD.bazel
Owners: @digital-asset/kv-participant, @meiersi-da

Docs and remove of implicit conversion to DamlErrorCodeLoggingContext
  ledger/error/src/main/scala/com/daml/error/ErrorCodeLoggingContext.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/transaction/ApiTransactionService.scala
Owners: @digital-asset/kv-participant, @meiersi-da

Make KV error codes compliant with the self-service error codes design
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/Conversions.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/ConversionsSpec.scala
Owners: @digital-asset/kv-committer

speedy compiler unit tests: test#1
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SpeedyCompilerSpec.scala
Owners: @remyhaemmerle-da, @cocreature

Disable multi-participant test in split participant
  ledger/ledger-on-memory/BUILD.bazel
Owners: @digital-asset/kv-committer

Fix NonUnitStatements in daml-lf code (#11145)
  daml-lf/archive/BUILD.bazel
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/package.scala
  daml-lf/data-scalacheck/BUILD.bazel
  daml-lf/data/BUILD.bazel
  daml-lf/data/src/main/2.12/com/daml/lf/data/AbstractImmArraySeq.scala
  daml-lf/data/src/main/2.12/com/daml/lf/data/LawlessTraversals.scala
  daml-lf/data/src/main/2.13/com/daml/lf/data/ImmArrayInstances.scala
  daml-lf/data/src/main/2.13/com/daml/lf/data/LawlessTraversals.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/IdString.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/ImmArray.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/Ref.scala
  daml-lf/data/src/main/scala/com/digitalasset/daml/lf/data/Utf8.scala
  daml-lf/engine/BUILD.bazel
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ConcurrentCompiledPackages.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Event.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/CommandPreprocessor.scala
  daml-lf/interface/BUILD.bazel
  daml-lf/kv-transaction-support/BUILD.bazel
  daml-lf/parser/BUILD.bazel
  daml-lf/scenario-interpreter/BUILD.bazel
  daml-lf/transaction-test-lib/BUILD.bazel
  daml-lf/validation/BUILD.bazel
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
Owners: @remyhaemmerle-da, @cocreature, @S11001001, @digital-asset/kv-committer

Add missing ContractIdIT test
  ledger/daml-on-sql/BUILD.bazel
Owners: @digital-asset/kv-participant

pinned stackage windows
  stackage_snapshot_windows.json
Owners: none

make sure createAndExercise is not called on interfaces
  daml-script/daml/Daml/Script.daml
Owners: @cocreature, @aherrmann-da, @stefanobaghino-da

dont discard errors
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
Owners: @remyhaemmerle-da, @cocreature

Addressed Pawel's review comments
  ledger/error/BUILD.bazel
  ledger/error/src/main/scala/com/daml/error/BaseError.scala
  ledger/error/src/main/scala/com/daml/error/ErrorCode.scala
  ledger/error/src/main/scala/com/daml/error/ErrorCodeLoggingContext.scala
  ledger/error/src/main/scala/com/daml/error/definitions/SubmissionErrors.scala
Owners: @digital-asset/kv-participant

Syncing with main
  ledger/participant-integration-api/src/main/scala/platform/apiserver/ApiServices.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiSubmissionService.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/services/ApiSubmissionServiceSpec.scala
Owners: @digital-asset/kv-participant, @meiersi-da

LF: type and compile Interface fixed choices
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
Owners: @remyhaemmerle-da, @cocreature

cleanup
  compiler/damlc/daml-stdlib-src/DA/Experimental/Interface.daml
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
Owners: @cocreature, @remyhaemmerle-da

test speedy compilation: identity function
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SpeedyCompilerSpec.scala
Owners: @remyhaemmerle-da, @cocreature

Extract configuration submission from daml_kvutils.proto [KVL-1090] (#11194)
  ledger/participant-state/kvutils/src/main/protobuf/com/daml/ledger/participant/state/kvutils/daml_kvutils.proto
  ledger/participant-state/kvutils/src/main/protobuf/com/daml/ledger/participant/state/kvutils/wire/configuration_submission.proto
  ledger/participant-state/kvutils/src/main/protobuf/com/daml/ledger/participant/state/kvutils/wire/submission.proto
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/KeyValueSubmission.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/ConfigCommitter.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/ConfigCommitterSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/SubmissionValidatorSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/validator/preexecution/PreExecutingSubmissionValidatorSpec.scala
  ledger/participant-state/kvutils/tools/integrity-check/src/test/scala/ledger/participant/state/kvutils/tools/integritycheck/RawPreExecutingCommitStrategySupportSpec.scala
Owners: @meiersi-da, @digital-asset/kv-committer

fix some token
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
Owners: @remyhaemmerle-da, @cocreature

Alias import
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/Envelope.scala
Owners: @digital-asset/kv-committer

cleanup
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
Owners: @remyhaemmerle-da, @cocreature

speedy compile unit tests: two more test case; test with/without latest compile phases
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SpeedyCompilerSpec.scala
Owners: @remyhaemmerle-da, @cocreature

Address sophia's review
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
Owners: @remyhaemmerle-da, @cocreature

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

CODEOWNERS   @gerolf-da @cocreature
LATEST       @gerolf-da @bame-da @cocreature

# Build / CI / environment
/ci/                @garyverhaegen-da
/dev-env/           @garyverhaegen-da
/nix/               @garyverhaegen-da
/infra/             @garyverhaegen-da
azure-pipelines.yml @garyverhaegen-da
azure-cron.yml      @garyverhaegen-da
/release/           @garyverhaegen-da
/release.sh         @garyverhaegen-da

# Blackduck
NOTICES     @garyverhaegen-da @aherrmann-da @cocreature @dasormeter

# Language
/compiler/           @cocreature
/libs-haskell/       @cocreature
/daml-assistant/    @sofiafaro-da  @cocreature
/daml-script/       @cocreature  @aherrmann-da @stefanobaghino-da
/triggers/          @cocreature  @aherrmann-da @stefanobaghino-da
/ghc-lib/           @cocreature
/compatibility/     @garyverhaegen-da @aherrmann-da @cocreature

# Runtime
/daml-lf/ @remyhaemmerle-da @cocreature
/daml-lf/data-scalacheck/ @S11001001
/daml-lf/governance.rst @sofiafaro-da
/daml-lf/kv-transaction-support/ @digital-asset/kv-committer
/daml-lf/transaction-test-lib/ @S11001001

/ledger-service/    @S11001001 @stefanobaghino-da

# KV Participant
/ledger/      @digital-asset/kv-participant
/ledger-api/  @digital-asset/kv-participant

# Interfaces that are jointly owned
/ledger-api/grpc-definitions/       @meiersi-da @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/ledger-configuration/       @meiersi-da @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/ledger-offset/              @meiersi-da @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/participant-state/          @meiersi-da @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/participant-state-metrics/  @meiersi-da @digital-asset/kv-participant @digital-asset/kv-committer

# Owned by KV Participant with KV Committer added for notifications
/ledger/ledger-api-common/          @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/ledger-api-domain/          @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/ledger-api-health/          @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/ledger-api-test-tool/       @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/ledger-configuration/       @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/ledger-offset/              @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/participant-state-index/    @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/sandbox/                    @digital-asset/kv-participant @digital-asset/kv-committer

# Owned by KV Participant except for IndexDB schema which is jointly owned with @meiersi-da
/ledger/participant-integration-api/                    @digital-asset/kv-participant @meiersi-da


# KV Committer
/ledger/ledger-on-memory/           @digital-asset/kv-committer
/ledger/ledger-on-sql/              @digital-asset/kv-committer
/ledger/participant-state/kvutils/  @digital-asset/kv-committer

# Jointly owned persistence schema and wire format
/ledger/participant-state/kvutils/src/main/protobuf  @meiersi-da @digital-asset/kv-committer


/runtime-components/    @stefanobaghino-da

# Ecosystems
/language-support/hs/       @nickchapman-da @cocreature
/language-support/java/     @stefanobaghino-da
/language-support/scala/    @S11001001 @stefanobaghino-da
/language-support/ts/        @robin-da @garyverhaegen-da @stefanobaghino-da

# Tools
/extractor/         @S11001001 @stefanobaghino-da
/navigator/         @stefanobaghino-da
/navigator/backend/src/main/scala/com/digitalasset/navigator/json/    @S11001001

# Misc
/docs/              @bame-da @nemanja-da
/libs-scala/        @stefanobaghino-da @SamirTalwar-DA
/libs-scala/contextualized-logging/    @S11001001
/libs-scala/scala-utils/    @S11001001
/libs-scala/scalatest-utils/    @S11001001
