Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @digital-asset/daml-release-owners, @dylant-da, @paulbrauner-da, @remyhaemmerle-da, @digital-asset/daml-language, @digital-asset/kv-participant

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

sdk/bazel-java-deps.bzl @digital-asset/daml-release-owners

CODEOWNERS   @dylant-da @paulbrauner-da @remyhaemmerle-da 
/sdk/LATEST @digital-asset/daml-release-owners

# Build / CI / environment
/ci/                   @digital-asset/daml-language
/sdk/dev-env/          @digital-asset/daml-language
/sdk/nix/              @digital-asset/daml-language
azure-pipelines.yml    @digital-asset/daml-language
azure-cron.yml         @digital-asset/daml-language
sdk/release/           @digital-asset/daml-language
sdk/release.sh         @digital-asset/daml-language

# Blackduck
/sdk/NOTICES

# Compatibility test
/sdk/compatibility/     @digital-asset/daml-language @digital-asset/kv-participant

# Language
/sdk/daml-assistant/    @digital-asset/daml-language
/sdk/daml-script/       
/sdk/compiler/          @digital-asset/daml-language
/sdk/libs-haskell/      @digital-asset/daml-language
/sdk/ghc-lib/           @digital-asset/daml-language
/sdk/test-common/canton/ 

# Runtime
/sdk/daml-lf/ 


# Ecosystems
/sdk/language-support/hs/       @digital-asset/daml-language
/sdk/language-support/java/     
/sdk/language-support/scala/    
/sdk/language-support/ts/       

# Application Runtime
/sdk/ledger-service/
/sdk/runtime-components/ 

# Misc
/sdk/docs/ 
/sdk/libs-scala/

# Observability related libraries
/sdk/observability

Fix unvetting dependencies from daml-script
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ledgerinteraction/grpcLedgerClient/AdminLedgerClient.scala
Owners: none

fix deps
  sdk/canton/BUILD.bazel
Owners: none

CantonRunner
  sdk/test-common/canton/it-lib/src/main/scala/com/daml/integrationtest/CantonRunner.scala
Owners: none

Revert "Fix UpgradesSpecBase"
  sdk/daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/upgrade/UpgradesSpecBase.scala
Owners: none

fixed //release:test-protobuf-structure
  sdk/release/test-protobuf-structure.sh
Owners: @digital-asset/daml-language

Fix UpgradesSpecBase
  sdk/daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/upgrade/UpgradesSpecBase.scala
Owners: none

Improve error for mismatching SDK versions in deps
  sdk/compiler/damlc/lib/DA/Cli/Damlc/DependencyDb.hs
Owners: @digital-asset/daml-language

Oops
  sdk/compiler/damlc/lib/DA/Cli/Damlc/DependencyDb.hs
Owners: @digital-asset/daml-language

add the Dummy case to the show instance
  sdk/daml-script/daml/Daml/Script/Internal/Questions/Submit/Error.daml
Owners: none

fixed bootstrap scripts
  sdk/daml-assistant/daml-helper/src/DA/Daml/Helper/Util.hs
  sdk/libs-haskell/canton-test-utils/DA/Test/Sandbox.hs
Owners: @digital-asset/daml-language

remove useless Feature flags for crypto primitives
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  sdk/compiler/damlc/daml-stdlib-src/DA/Crypto/Text.daml
  sdk/compiler/damlc/tests/platform-independence.dar-hash
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV2.scala
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
  sdk/daml-script/daml/Daml/Script.daml
  sdk/daml-script/daml/Daml/Script/Internal/Questions/Crypto/Text.daml
Owners: @digital-asset/daml-language

fix the correct show instance
  sdk/daml-script/daml/Daml/Script/Internal/Questions/Submit/Error.daml
Owners: none

delete obsolete upgrade error codes (#22007)
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/platform/apiserver/services/RejectionGenerators.scala
  sdk/canton/community/ledger/ledger-common/src/main/scala/com/digitalasset/canton/ledger/error/groups/CommandExecutionErrors.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/interpretation/Error.scala
  sdk/daml-script/daml/Daml/Script/Internal/Questions/Submit/Error.daml
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ledgerinteraction/GrpcErrorParser.scala
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ledgerinteraction/IdeLedgerClient.scala
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ledgerinteraction/SubmitError.scala
  sdk/daml-script/test/src/main/scala/com/digitalasset/daml/lf/engine/script/test/UpgradesMatrixIT.scala
  sdk/docs/sharable/hoogle/daml-script-hoogle.txt
  sdk/docs/sharable/sdk/reference/daml-script/api/Daml-Script.rst
Owners: none

remove useless Feature flags for crypto primitives (#22010)
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  sdk/compiler/damlc/daml-stdlib-src/DA/Crypto/Text.daml
  sdk/compiler/damlc/tests/platform-independence.dar-hash
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV2.scala
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
  sdk/daml-script/daml/Daml/Script.daml
  sdk/daml-script/daml/Daml/Script/Internal/Questions/Crypto/Text.daml
Owners: @digital-asset/daml-language

Remove useless exception feature
  sdk/compiler/damlc/daml-prim-src/DA/Exception/ArithmeticError.daml
  sdk/compiler/damlc/daml-prim-src/DA/Exception/AssertionFailed.daml
  sdk/compiler/damlc/daml-prim-src/DA/Exception/GeneralError.daml
  sdk/compiler/damlc/daml-prim-src/DA/Exception/PreconditionFailed.daml
  sdk/compiler/damlc/daml-prim-src/GHC/Enum.daml
  sdk/compiler/damlc/daml-prim-src/GHC/Err.daml
  sdk/compiler/damlc/daml-prim-src/LibraryModules.daml
  sdk/compiler/damlc/daml-stdlib-src/DA/Assert.daml
  sdk/compiler/damlc/daml-stdlib-src/DA/Exception.daml
  sdk/compiler/damlc/daml-stdlib-src/DA/Internal/Assert.daml
  sdk/compiler/damlc/daml-stdlib-src/DA/Internal/Desugar.daml
  sdk/compiler/damlc/daml-stdlib-src/DA/Internal/Exception.daml
  sdk/compiler/damlc/daml-stdlib-src/DA/Internal/Fail.daml
  sdk/compiler/damlc/daml-stdlib-src/DA/Internal/LF.daml
  sdk/compiler/damlc/tests/daml-test-files/ExceptionAssert.daml
  sdk/compiler/damlc/tests/daml-test-files/ExceptionDataType.daml
  sdk/compiler/damlc/tests/daml-test-files/ExceptionMultipleMessage.daml
  sdk/compiler/damlc/tests/daml-test-files/ExceptionNoUnusedWarning.daml
  sdk/compiler/damlc/tests/daml-test-files/ExceptionSemantics.daml
  sdk/compiler/damlc/tests/daml-test-files/ExceptionSemanticsWithKeys.daml
  sdk/compiler/damlc/tests/daml-test-files/ExceptionSyntax.daml
  sdk/compiler/damlc/tests/daml-test-files/ExceptionTryCatch.daml
  sdk/compiler/damlc/tests/daml-test-files/ExceptionsDeprecated.daml
  sdk/compiler/damlc/tests/daml-test-files/ExceptionsDeprecatedDisabled.daml
  sdk/compiler/damlc/tests/daml-test-files/ScriptTryCatch.daml
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV2.scala
  sdk/daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV2Spec.scala
  sdk/daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/EncodeV2.scala
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
  sdk/daml-script/daml/Daml/Script/Internal/Questions/Exceptions.daml
Owners: @digital-asset/daml-language

update platform-independence.dar-hash
  sdk/compiler/damlc/tests/platform-independence.dar-hash
Owners: @digital-asset/daml-language

rotate release duty after 2025-10-01
  sdk/release/rotation
Owners: @digital-asset/daml-language

[Engine] drop dead persistedPackageVersion feature flag
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
  sdk/daml-lf/transaction-test-lib/src/main/scala/com/digitalasset/daml/lf/value/test/ValueGenerators.scala
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionVersion.scala
Owners: none

Remove useless feature flag for exceptions (#22009)
  sdk/compiler/damlc/daml-prim-src/DA/Exception/ArithmeticError.daml
  sdk/compiler/damlc/daml-prim-src/DA/Exception/AssertionFailed.daml
  sdk/compiler/damlc/daml-prim-src/DA/Exception/GeneralError.daml
  sdk/compiler/damlc/daml-prim-src/DA/Exception/PreconditionFailed.daml
  sdk/compiler/damlc/daml-prim-src/GHC/Enum.daml
  sdk/compiler/damlc/daml-prim-src/GHC/Err.daml
  sdk/compiler/damlc/daml-prim-src/LibraryModules.daml
  sdk/compiler/damlc/daml-stdlib-src/DA/Assert.daml
  sdk/compiler/damlc/daml-stdlib-src/DA/Exception.daml
  sdk/compiler/damlc/daml-stdlib-src/DA/Internal/Assert.daml
  sdk/compiler/damlc/daml-stdlib-src/DA/Internal/Desugar.daml
  sdk/compiler/damlc/daml-stdlib-src/DA/Internal/Exception.daml
  sdk/compiler/damlc/daml-stdlib-src/DA/Internal/Fail.daml
  sdk/compiler/damlc/daml-stdlib-src/DA/Internal/LF.daml
  sdk/compiler/damlc/tests/daml-test-files/ExceptionAssert.daml
  sdk/compiler/damlc/tests/daml-test-files/ExceptionDataType.daml
  sdk/compiler/damlc/tests/daml-test-files/ExceptionMultipleMessage.daml
  sdk/compiler/damlc/tests/daml-test-files/ExceptionNoUnusedWarning.daml
  sdk/compiler/damlc/tests/daml-test-files/ExceptionSemantics.daml
  sdk/compiler/damlc/tests/daml-test-files/ExceptionSemanticsWithKeys.daml
  sdk/compiler/damlc/tests/daml-test-files/ExceptionSyntax.daml
  sdk/compiler/damlc/tests/daml-test-files/ExceptionTryCatch.daml
  sdk/compiler/damlc/tests/daml-test-files/ExceptionsDeprecated.daml
  sdk/compiler/damlc/tests/daml-test-files/ExceptionsDeprecatedDisabled.daml
  sdk/compiler/damlc/tests/daml-test-files/ScriptTryCatch.daml
  sdk/compiler/damlc/tests/platform-independence.dar-hash
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV2.scala
  sdk/daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV2Spec.scala
  sdk/daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/EncodeV2.scala
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
  sdk/daml-script/daml/Daml/Script/Internal/Questions/Exceptions.daml
Owners: @digital-asset/daml-language

rename temp Dummy contstructor to something less common
  sdk/daml-script/daml/Daml/Script/Internal/Questions/Submit/Error.daml
Owners: none

sync doc
  sdk/docs/sharable/hoogle/daml-script-hoogle.txt
  sdk/docs/sharable/sdk/reference/daml-script/api/Daml-Script.rst
Owners: none

accept a cid substitution in hashCreateNode and validateContractInstance
  sdk/canton/community/common/src/main/scala/com/digitalasset/canton/util/ContractValidator.scala
  sdk/canton/community/common/src/main/scala/com/digitalasset/canton/util/LfContractValidation.scala
Owners: none

Update sdk/canton/community/common/src/main/scala/com/digitalasset/canton/util/ContractValidator.scala
  sdk/canton/community/common/src/main/scala/com/digitalasset/canton/util/ContractValidator.scala
Owners: none

delete obsolete upgrade error codes
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/platform/apiserver/services/RejectionGenerators.scala
  sdk/canton/community/ledger/ledger-common/src/main/scala/com/digitalasset/canton/ledger/error/groups/CommandExecutionErrors.scala
Owners: none

fix deps and hashing
  sdk/canton/BUILD.bazel
  sdk/canton/community/common/src/main/scala/com/digitalasset/canton/util/ContractHasher.scala
Owners: none

rename temp Dummy contstructor to something less common (#22015)
  sdk/daml-script/daml/Daml/Script/Internal/Questions/Submit/Error.daml
  sdk/docs/sharable/hoogle/daml-script-hoogle.txt
  sdk/docs/sharable/sdk/reference/daml-script/api/Daml-Script.rst
Owners: none

main Snapshot Create a snapshot for [main](https://github.com/digital-asset/daml/commits/main/) at commit 20f8888209ab03a1277046a06db8276838ab79ba
  sdk/LATEST
Owners: @digital-asset/daml-release-owners

[Engine] drop dead persistedPackageVersion feature flag (#22014)
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
  sdk/daml-lf/transaction-test-lib/src/main/scala/com/digitalasset/daml/lf/value/test/ValueGenerators.scala
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionVersion.scala
Owners: none

main Snapshot (#22018)
  sdk/LATEST
Owners: @digital-asset/daml-release-owners

Tried replacement in CurrentCompiledPackages, but failing tests:
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ConcurrentCompiledPackages.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/NodeSeedsTest.scala
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
Owners: none

address Paul's review
  sdk/daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DarReaderTest.scala
Owners: none

cleanup
  sdk/daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DarReaderTest.scala
Owners: none

add back scala-parallel-collections dep remove in #22000
  sdk/bazel-java-deps.bzl
  sdk/maven_install_2.13.json
Owners: @digital-asset/daml-release-owners

Processed @paulbrauner-da's comments
  sdk/compiler/script-service/server/src/main/scala/com/digitalasset/daml/lf/script/Context.scala
  sdk/daml-lf/api-type-signature/src/test/scala/com/digitalasset/daml/lf/typesig/reader/SignatureReaderSpec.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV2.scala
  sdk/daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/EncodeV2.scala
  sdk/daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/testing/archive/DamlLfEncoderTest.scala
  sdk/daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/testing/archive/EncodeSpec.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/MetaDataTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ReinterpretTest.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/InterpreterTest.scala
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
  sdk/daml-lf/language/src/test/scala/com/digitalasset/daml/lf/language/AstSpec.scala
  sdk/daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ModParser.scala
  sdk/daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/DependencyVersionSpec.scala
  sdk/daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/TypingSpec.scala
  sdk/security-evidence.md
Owners: @digital-asset/daml-language

SG19-5: Incorporated directdeps in imports (#22005)
  sdk/compiler/script-service/server/src/main/scala/com/digitalasset/daml/lf/script/Context.scala
  sdk/daml-lf/api-type-signature/src/test/scala/com/digitalasset/daml/lf/typesig/reader/SignatureReaderSpec.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV2.scala
  sdk/daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/EncodeV2.scala
  sdk/daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/testing/archive/DamlLfEncoderTest.scala
  sdk/daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/testing/archive/EncodeSpec.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/MetaDataTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ReinterpretTest.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/InterpreterTest.scala
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
  sdk/daml-lf/language/src/test/scala/com/digitalasset/daml/lf/language/AstSpec.scala
  sdk/daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ModParser.scala
  sdk/daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/DependencyVersionSpec.scala
  sdk/daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/TypingSpec.scala
  sdk/security-evidence.md
Owners: @digital-asset/daml-language

[Engine] reject archive with unknown fields (#22006)
  sdk/daml-lf/archive/BUILD.bazel
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/GenReader.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/package.scala
  sdk/daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DarReaderTest.scala
Owners: none

add back scala-parallel-collections dep removed in #22000 (#22020)
  sdk/bazel-java-deps.bzl
  sdk/maven_install_2.13.json
Owners: @digital-asset/daml-release-owners

rewrote validatedar + tests adapting to imports
  sdk/compiler/damlc/tests/src/DA/Test/PackageImports.hs
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ConcurrentCompiledPackages.scala
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineValidatePackagesTest.scala
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
Owners: @digital-asset/daml-language

disable json api
  sdk/libs-haskell/canton-test-utils/DA/Test/Sandbox.hs
  sdk/test-common/canton/it-lib/src/main/scala/com/daml/integrationtest/CantonRunner.scala
Owners: @digital-asset/daml-language

feat: comprehensive DAML repository improvements
  IMPROVEMENTS.md
  PULL_REQUEST.md
  README.md
  ci/build-unix.yml
  sdk/.bazelrc
  sdk/.pre-commit-config.yaml
  sdk/build.sh
  sdk/package.json
  sdk/scripts/performance-monitor.sh
  setup-dev-env.sh
Owners: @digital-asset/daml-language
