Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @digital-asset/daml-release-owners, @dylant-da, @paulbrauner-da, @remyhaemmerle-da, @digital-asset/daml-language, @digital-asset/kv-participant

JSON API: add mutex around request handlers that update the cache
  sdk/ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsService.scala
Owners: none

fix
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/package.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/LargeTransactionTest.scala
  sdk/daml-lf/interpreter/perf/src/main/scala/com/digitalasset/daml/lf/speedy/explore/ExploreDar.scala
  sdk/daml-lf/interpreter/perf/src/main/scala/com/digitalasset/daml/lf/speedy/explore/LoadDarFunction.scala
  sdk/daml-lf/repl/src/main/scala/com/digitalasset/daml/lf/speedy/testing/Main.scala
Owners: none

fix
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/package.scala
  sdk/daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/UniversalArchiveReaderSpec.scala
  sdk/daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/testing/archive/DamlLfEncoderTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/NodeSeedsTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/AuthPropagationSpec.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ContractKeySpec.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/InterfaceViewSpec.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/InterfacesTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ReinterpretTest.scala
  sdk/daml-lf/snapshot/src/main/scala/com/digitalasset/daml/lf/testing/snapshot/TransactionSnapshot.scala
  sdk/daml-lf/snapshot/src/test/scala/com/digitalasset/daml/lf/testing/snapshot/ReplayBenchmarkTest.scala
  sdk/daml-lf/stable-packages/src/test/scala/com/digitalasset/daml/lf/stablepackages/StablePackagesTest.scala
Owners: none

fix
  sdk/daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/testing/archive/DamlLfEncoderTest.scala
Owners: none

Fix Unauthenticated.
  sdk/daml-script/test/src/main/scala/com/digitalasset/daml/lf/engine/script/test/AuthIT.scala
  sdk/test-common/canton/it-lib/src/main/scala/com/daml/integrationtest/CantonConfig.scala
  sdk/test-common/canton/it-lib/src/main/scala/com/daml/integrationtest/CantonRunner.scala
Owners: none

JSON API: add mutex around requests that update cache (#22053)
  sdk/ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsService.scala
  sdk/ledger-service/http-json/src/main/scala/com/digitalasset/http/util/LockSet.scala
  sdk/ledger-service/http-json/src/test/scala/com/digitalasset/http/util/LockSetTest.scala
Owners: none

add missing DarSchemaDecoder (#22175)
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/package.scala
  sdk/daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/testing/archive/DamlLfEncoderTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/NodeSeedsTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/AuthPropagationSpec.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ContractKeySpec.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/InterfaceViewSpec.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/InterfacesTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/LargeTransactionTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ReinterpretTest.scala
  sdk/daml-lf/interpreter/perf/src/main/scala/com/digitalasset/daml/lf/speedy/explore/ExploreDar.scala
  sdk/daml-lf/interpreter/perf/src/main/scala/com/digitalasset/daml/lf/speedy/explore/LoadDarFunction.scala
  sdk/daml-lf/repl/src/main/scala/com/digitalasset/daml/lf/speedy/testing/Main.scala
  sdk/daml-lf/snapshot/src/main/scala/com/digitalasset/daml/lf/testing/snapshot/TransactionSnapshot.scala
  sdk/daml-lf/snapshot/src/test/scala/com/digitalasset/daml/lf/testing/snapshot/ReplayBenchmarkTest.scala
  sdk/daml-lf/stable-packages/src/test/scala/com/digitalasset/daml/lf/stablepackages/StablePackagesTest.scala
Owners: none

release/3.4.x Snapshot Create a snapshot for [release/3.4.x](https://github.com/digital-asset/daml/commits/release/3.4.x/) at commit 0c8ae53c556d1a65ce13032c6cba54eb50e31120
  sdk/LATEST
Owners: @digital-asset/daml-release-owners

Address review
  sdk/compiler/damlc/daml-package-config/src/DA/Daml/Package/Config.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc/Command/MultiIde/SdkInstall.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc/Packaging.hs
Owners: @digital-asset/daml-language

Run matrix tests on both 2.2 and 2.dev
  sdk/daml-lf/engine/BUILD.bazel
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/UpgradesMatrix.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/UpgradesMatrixUnit.scala
  sdk/daml-script/test/src/main/scala/com/digitalasset/daml/lf/engine/script/test/UpgradesMatrixIT.scala
  sdk/security-evidence.md
Owners: none

address review comments
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/UpgradesMatrix.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/UpgradesMatrixUnit.scala
  sdk/security-evidence.md
Owners: none

Generate haskell Versions from bzl
  sdk/compiler/daml-lf-ast/BUILD.bazel
  sdk/compiler/daml-lf-ast/daml-lf-ast.cabal
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version/VersionType.hs
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version/VersionUtil.hs
  sdk/compiler/daml-lf-ast/test/DA/Daml/LF/Ast/Tests.hs
  sdk/compiler/daml-lf-tools/tests/DA/Daml/LF/Simplifier/Tests.hs
  sdk/compiler/damlc/daml-desugar/test/DA/Daml/Desugar/Tests.hs
  sdk/compiler/damlc/daml-opts/daml-opts-types/DA/Daml/Options/Types.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc/Command/UpgradeCheck.hs
  sdk/compiler/damlc/lib/DA/Cli/Options.hs
  sdk/compiler/damlc/stable-packages/lib/DA/Daml/StablePackages.hs
  sdk/compiler/damlc/tests/src/DA/Test/DamlcIntegration.hs
  sdk/compiler/damlc/tests/src/DA/Test/DamlcUpgrades.hs
  sdk/compiler/damlc/tests/src/DA/Test/DataDependencies.hs
  sdk/daml-lf/language/BUILD.bazel
  sdk/daml-lf/language/daml-lf.bzl
  sdk/daml-lf/language/generate_haskell_versions.py
Owners: @digital-asset/daml-language

[forwardport] add missing DarSchemaDecoder
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/package.scala
  sdk/daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/testing/archive/DamlLfEncoderTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/NodeSeedsTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/AuthPropagationSpec.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ContractKeySpec.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/InterfaceViewSpec.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/InterfacesTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/LargeTransactionTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ReinterpretTest.scala
  sdk/daml-lf/interpreter/perf/src/main/scala/com/digitalasset/daml/lf/speedy/explore/ExploreDar.scala
  sdk/daml-lf/interpreter/perf/src/main/scala/com/digitalasset/daml/lf/speedy/explore/LoadDarFunction.scala
  sdk/daml-lf/repl/src/main/scala/com/digitalasset/daml/lf/speedy/testing/Main.scala
  sdk/daml-lf/snapshot/src/main/scala/com/digitalasset/daml/lf/testing/snapshot/TransactionSnapshot.scala
  sdk/daml-lf/snapshot/src/test/scala/com/digitalasset/daml/lf/testing/snapshot/ReplayBenchmarkTest.scala
  sdk/daml-lf/stable-packages/src/test/scala/com/digitalasset/daml/lf/stablepackages/StablePackagesTest.scala
Owners: none

Remove distinction between compiler/engine lf
  sdk/compiler/damlc/pkg-db/BUILD.bazel
  sdk/compiler/damlc/tests/BUILD.bazel
  sdk/daml-lf/encoder/BUILD.bazel
  sdk/daml-lf/language/BUILD.bazel
  sdk/daml-lf/language/daml-lf.bzl
  sdk/daml-script/daml/BUILD.bazel
  sdk/language-support/java/codegen/BUILD.bazel
  sdk/rules_daml/daml.bzl
Owners: @digital-asset/daml-language

Remove unused import
  sdk/compiler/damlc/lib/DA/Cli/Damlc/Command/MultiIde/SdkInstall.hs
Owners: @digital-asset/daml-language

Run matrix tests on both 2.2 and 2.dev (#22165)
  sdk/daml-lf/engine/BUILD.bazel
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/UpgradesMatrix.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/UpgradesMatrixUnit.scala
  sdk/daml-script/test/src/main/scala/com/digitalasset/daml/lf/engine/script/test/UpgradesMatrixIT.scala
  sdk/security-evidence.md
Owners: none

release/3.4.x Snapshot (#22179)
  sdk/LATEST
Owners: @digital-asset/daml-release-owners

Fix //language-support/ts/codegen/tests:npm-update-check
  sdk/language-support/ts/codegen/tests/BUILD.bazel
Owners: none

Fix //daml-assistant/integration-tests:integration-tests
  sdk/docs/source/sdk/component-howtos/ledger-interaction/daml-script/template-root/daml.yaml.template
Owners: none

Fix //daml-lf/tests:ReinterpretTests-v2.test
  sdk/daml-lf/tests/reinterpret/daml.yaml
Owners: none

Sync docs
  sdk/docs/sharable/sdk/component-howtos/ledger-interaction/daml-script/template-root/daml.yaml.template
Owners: none

Fix //compiler/damlc/tests:packaging
  sdk/compiler/damlc/tests/src/DA/Test/Packaging.hs
Owners: @digital-asset/daml-language

Fix //docs:daml-intro-daml-test-base
  sdk/docs/BUILD.bazel
Owners: none

Fix //compiler/damlc/tests:upgrades
  sdk/compiler/damlc/tests/src/DA/Test/DamlcUpgrades.hs
Owners: @digital-asset/daml-language

test.dar to lf 2.2 which fixes 2 targets, namely:
  sdk/daml-assistant/daml-helper/BUILD.bazel
Owners: @digital-asset/daml-language

mv tests to lf 2.2 that use haskell (en/de)coder and scala encoder (#22174)
  sdk/compiler/damlc/tests/src/DA/Test/DamlcUpgrades.hs
  sdk/compiler/damlc/tests/src/DA/Test/Packaging.hs
  sdk/daml-assistant/daml-helper/BUILD.bazel
  sdk/daml-lf/tests/reinterpret/daml.yaml
  sdk/docs/BUILD.bazel
  sdk/docs/sharable/sdk/component-howtos/ledger-interaction/daml-script/template-root/daml.yaml.template
  sdk/docs/source/sdk/component-howtos/ledger-interaction/daml-script/template-root/daml.yaml.template
  sdk/language-support/ts/codegen/tests/BUILD.bazel
Owners: @digital-asset/daml-language

Add 2.2 for //docs:daml-intro-daml-test-base
  sdk/docs/BUILD.bazel
Owners: none

Add datadependencies test comments
  sdk/compiler/damlc/tests/src/DA/Test/DataDependencies.hs
Owners: @digital-asset/daml-language

Fix quickstart-tests
  sdk/daml-assistant/integration-tests/BUILD.bazel
  sdk/daml-assistant/integration-tests/src/DA/Daml/Assistant/QuickstartTests.hs
  sdk/daml-script/test/BUILD.bazel
Owners: @digital-asset/daml-language

Fix //daml-assistant/integration-tests:integration-tests
  sdk/daml-assistant/integration-tests/src/DA/Daml/Assistant/IntegrationTests.hs
Owners: @digital-asset/daml-language

Fix UpgradesCheckSpec
  sdk/test-common/BUILD.bazel
Owners: none

Remove wrong tag
  sdk/docs/BUILD.bazel
Owners: none

Fix more Unauthenticated.
  sdk/compiler/damlc/tests/BUILD.bazel
  sdk/compiler/damlc/tests/src/DamlcPkgManager.hs
  sdk/daml-assistant/daml-helper/BUILD.bazel
  sdk/daml-assistant/daml-helper/test/DA/Daml/Helper/Test/Deployment.hs
  sdk/language-support/hs/bindings/test/DA/Ledger/Tests.hs
  sdk/libs-haskell/canton-test-utils/DA/Test/Sandbox.hs
Owners: @digital-asset/daml-language

Remove most outdated refs from bazelfiles
  sdk/compiler/damlc/tests/BUILD.bazel
  sdk/daml-lf/api-type-signature/BUILD.bazel
  sdk/daml-lf/encoder/BUILD.bazel
  sdk/daml-lf/engine/BUILD.bazel
  sdk/daml-lf/interpreter/BUILD.bazel
  sdk/daml-lf/language/daml-lf.bzl
  sdk/daml-lf/snapshot/BUILD.bazel
  sdk/daml-lf/stable-packages/BUILD.bazel
  sdk/daml-lf/tests/BUILD.bazel
  sdk/daml-script/daml/BUILD.bazel
  sdk/daml-script/test/BUILD.bazel
  sdk/docs/BUILD.bazel
  sdk/language-support/java/codegen/BUILD.bazel
Owners: @digital-asset/daml-language

Removed unused testindg-dar-lookup targets
  sdk/daml-lf/encoder/BUILD.bazel
Owners: none

Buildifier fix
  sdk/compiler/daml-lf-ast/BUILD.bazel
  sdk/daml-lf/encoder/BUILD.bazel
  sdk/daml-lf/engine/BUILD.bazel
  sdk/daml-lf/language/BUILD.bazel
  sdk/daml-lf/snapshot/BUILD.bazel
  sdk/daml-lf/tests/BUILD.bazel
  sdk/daml-script/test/BUILD.bazel
Owners: @digital-asset/daml-language

[3.5] Allow missing sdk-version in `daml.yaml` (#22143)
  sdk/compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Dar.hs
  sdk/compiler/damlc/daml-package-config/src/DA/Daml/Package/Config.hs
  sdk/compiler/damlc/daml-package-config/test/DA/Daml/Package/ConfigTest.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc/Command/MultiIde/SdkInstall.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc/Command/MultiIde/Types.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc/Command/MultiIde/Util.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc/Packaging.hs
  sdk/dev-env/bin/dpm-sdk-head
  sdk/hie.yaml
Owners: @digital-asset/daml-language

mv rest of tests that use scala decoder to lf 2.2 (#22164)
  sdk/compiler/damlc/tests/src/DA/Test/DataDependencies.hs
  sdk/daml-assistant/integration-tests/BUILD.bazel
  sdk/daml-assistant/integration-tests/src/DA/Daml/Assistant/IntegrationTests.hs
  sdk/daml-assistant/integration-tests/src/DA/Daml/Assistant/QuickstartTests.hs
  sdk/daml-script/test/BUILD.bazel
  sdk/docs/BUILD.bazel
  sdk/test-common/BUILD.bazel
Owners: @digital-asset/daml-language

[forwardport] add missing DarSchemaDecoder (#22181)
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/package.scala
  sdk/daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/testing/archive/DamlLfEncoderTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/NodeSeedsTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/AuthPropagationSpec.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ContractKeySpec.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/InterfaceViewSpec.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/InterfacesTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/LargeTransactionTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ReinterpretTest.scala
  sdk/daml-lf/interpreter/perf/src/main/scala/com/digitalasset/daml/lf/speedy/explore/ExploreDar.scala
  sdk/daml-lf/interpreter/perf/src/main/scala/com/digitalasset/daml/lf/speedy/explore/LoadDarFunction.scala
  sdk/daml-lf/repl/src/main/scala/com/digitalasset/daml/lf/speedy/testing/Main.scala
  sdk/daml-lf/snapshot/src/main/scala/com/digitalasset/daml/lf/testing/snapshot/TransactionSnapshot.scala
  sdk/daml-lf/snapshot/src/test/scala/com/digitalasset/daml/lf/testing/snapshot/ReplayBenchmarkTest.scala
  sdk/daml-lf/stable-packages/src/test/scala/com/digitalasset/daml/lf/stablepackages/StablePackagesTest.scala
Owners: none

Bump SDK to 21
  sdk/.bazelrc
  sdk/WORKSPACE
  sdk/compatibility/.bazelrc
  sdk/compatibility/WORKSPACE
  sdk/compatibility/build-release-artifacts.sh
  sdk/dev-env/windows/manifests/jdk.json
  sdk/nix/bazel.nix
  sdk/nix/default.nix
Owners: @digital-asset/daml-language, @digital-asset/kv-participant

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

sdk/bazel-java-deps.bzl @digital-asset/daml-release-owners

CODEOWNERS   @dylant-da @paulbrauner-da @remyhaemmerle-da 
/sdk/LATEST @digital-asset/daml-release-owners

# Build / CI / environment
/ci/                   @digital-asset/daml-language
/sdk/dev-env/          @digital-asset/daml-language
/sdk/nix/              @digital-asset/daml-language
azure-pipelines.yml    @digital-asset/daml-language
azure-cron.yml         @digital-asset/daml-language
sdk/release/           @digital-asset/daml-language
sdk/release.sh         @digital-asset/daml-language

# Blackduck
/sdk/NOTICES

# Compatibility test
/sdk/compatibility/     @digital-asset/daml-language @digital-asset/kv-participant

# Language
/sdk/daml-assistant/    @digital-asset/daml-language
/sdk/daml-script/       
/sdk/compiler/          @digital-asset/daml-language
/sdk/libs-haskell/      @digital-asset/daml-language
/sdk/ghc-lib/           @digital-asset/daml-language
/sdk/test-common/canton/ 

# Runtime
/sdk/daml-lf/ 


# Ecosystems
/sdk/language-support/hs/       @digital-asset/daml-language
/sdk/language-support/java/     
/sdk/language-support/scala/    
/sdk/language-support/ts/       

# Application Runtime
/sdk/ledger-service/
/sdk/runtime-components/ 

# Misc
/sdk/docs/ 
/sdk/libs-scala/

# Observability related libraries
/sdk/observability
