Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @gerolf-da, @cocreature, @bame-da, @garyverhaegen-da, @aherrmann-da, @dasormeter, @sofiafaro-da, @stefanobaghino-da, @remyhaemmerle-da, @S11001001, @miklos-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da, @fabiotudone-da, @SamirTalwar-DA, @nickchapman-da, @robin-da, @nemanja-da

standalone oracle appendonly schema script regen shas on flyway scripts revert some cosmetic refactoring in CommonStorageBackend
  ledger/participant-integration-api/src/main/resources/db/migration/oracle-appendonly/V100_0__Append_only_schema.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/oracle-appendonly/V100_0__Append_only_schema.sql
  ledger/participant-integration-api/src/main/scala/platform/store/FlywayMigrations.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/CommonStorageBackend.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoTransactionsSpec.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

remove ignore on fall back to limit-based query with consistent results
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoTransactionsSpec.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

do not change name of size column in packages table for mutable schema for all DBs
  ledger/participant-integration-api/src/main/resources/db/migration/h2database/V1__Init.sha256
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Bump timeout
  compiler/repl-service/client/src/DA/Daml/LF/ReplClient.hs
Owners: @cocreature

scalafmt and include sha check for oracle append only flyway script
  ledger/participant-integration-api/src/main/scala/platform/store/backend/h2/H2StorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PostgresStorageBackend.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/FlywayMigrationsSpec.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Stream (flat) transaction (tree) pages concurrently with a fixed page size.
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/EventsRange.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/TransactionsReader.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Refactor error reporting in Daml Repl (#10118)
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Repl.hs
  compiler/damlc/tests/src/DA/Test/Repl/FuncTests.hs
  compiler/repl-service/client/src/DA/Daml/LF/ReplClient.hs
  compiler/repl-service/protos/repl_service.proto
  compiler/repl-service/server/src/main/scala/com/digitalasset/daml/lf/speedy/ReplServiceMain.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
Owners: @cocreature, @aherrmann-da, @stefanobaghino-da

correct missing package_size rename
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/CommonStorageBackend.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

remove some todos -- correct corrupted V1__Init.sql
  ledger/participant-integration-api/src/main/resources/db/migration/oracle-appendonly/V100_0__Append_only_schema.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/oracle-appendonly/V100_0__Append_only_schema.sql
  ledger/participant-integration-api/src/main/resources/db/migration/oracle/V1__Init.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/oracle/V1__Init.sql
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

correct bazel file
  ledger/ledger-api-test-tool/BUILD.bazel
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

.
  stack-snapshot.yaml
  stackage_snapshot.json
Owners: none

LF: Move Speedy Interpretation Error to transaction package
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Error.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Result.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SError.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ExceptionTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ScenarioRunner.scala
  daml-lf/transaction/src/main/scala/com/daml/lf/Error.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/Value.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ScriptF.scala
  daml-script/test/src/com/digitalasset/daml/lf/engine/script/test/JsonApiIt.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiSubmissionService.scala
  ledger/participant-integration-api/src/main/scala/platform/store/ErrorCause.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/services/ApiSubmissionServiceSpec.scala
Owners: @cocreature, @remyhaemmerle-da, @aherrmann-da, @stefanobaghino-da, @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

LF: Move Speedy Interpretation Error to transaction package (#10091)
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Error.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Result.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SError.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ExceptionTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ScenarioRunner.scala
  daml-lf/transaction/src/main/scala/com/daml/lf/Error.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/Value.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ScriptF.scala
  daml-script/test/src/com/digitalasset/daml/lf/engine/script/test/JsonApiIt.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiSubmissionService.scala
  ledger/participant-integration-api/src/main/scala/platform/store/ErrorCause.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/services/ApiSubmissionServiceSpec.scala
Owners: @cocreature, @remyhaemmerle-da, @aherrmann-da, @stefanobaghino-da, @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

document that signatories shouldn't appear in observers in ledger-api
  ledger-api/grpc-definitions/com/daml/ledger/api/v1/event.proto
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

add disjoint signatories/observers checks to ACS and transaction ledger-api tests
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/ActiveContractsServiceIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/TransactionServiceIT.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Bump
  ci/da-ghc-lib/compile.yml
  stack-snapshot.yaml
  stackage_snapshot.json
Owners: @garyverhaegen-da

.
  stack-snapshot.yaml
  stackage_snapshot.json
Owners: none

.
  stack-snapshot.yaml
  stackage_snapshot.json
Owners: none

.
  bazel-haskell-deps.bzl
  stack-snapshot.yaml
  stackage_snapshot.json
Owners: none

scala 2.12 compatibility
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/ActiveContractsServiceIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/TransactionServiceIT.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

.
  bazel-haskell-deps.bzl
  bazel_tools/haskell_proto3_suite_deriving_defaults.patch
Owners: none

json-api: avoid row_number/partition for single-party Oracle contract queries
  ledger-service/db-backend/src/main/scala/com/digitalasset/http/dbbackend/Queries.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

Update ledger/ledger-on-sql/src/test/lib/scala/com/daml/ledger/on/sql/MainWithEphemeralOracleUser.scala
  ledger/ledger-on-sql/src/test/lib/scala/com/daml/ledger/on/sql/MainWithEphemeralOracleUser.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

correct version number for postgres rename column scripts
  ledger/participant-integration-api/src/main/resources/db/migration/postgres-appendonly/V104__rename_packages_size_column.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/postgres-appendonly/V104__rename_packages_size_column.sql
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

remove unnecessary migration tables for oracle append only
  ledger/participant-integration-api/src/main/resources/db/migration/oracle-appendonly/V100_0__Append_only_schema.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/oracle-appendonly/V100_0__Append_only_schema.sql
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

review feedback: rename createEventFilter as requested, remove todos
  ledger/ledger-on-sql/BUILD.bazel
  ledger/participant-integration-api/src/main/resources/db/migration/oracle/V1__Init.sql
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/TemplatedStorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/h2/H2StorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/oracle/OracleStorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PostgresStorageBackend.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

review feedback: case consistency
  ledger/participant-integration-api/src/main/resources/db/migration/oracle-appendonly/V100_0__Append_only_schema.sql
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

review feedback: update todos with issue markers
  ledger/participant-integration-api/src/main/resources/db/migration/oracle-appendonly/V100_0__Append_only_schema.sql
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

review feedback: cleanup
  ledger/participant-integration-api/src/main/resources/db/migration/oracle-appendonly/V100_0__Append_only_schema.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/oracle-appendonly/V100_0__Append_only_schema.sql
  ledger/participant-integration-api/src/main/resources/db/migration/oracle/V1__Init.sha256
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/CommonStorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/TemplatedStorageBackend.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

review feedback: OracleField and OracleSchema cleanup
  ledger/participant-integration-api/src/main/scala/platform/store/backend/oracle/OracleField.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/oracle/OracleSchema.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

update NOTICES file
  NOTICES
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature, @dasormeter

update NOTICES file
  NOTICES
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature, @dasormeter

update NOTICES file
  NOTICES
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature, @dasormeter

Metrics for getContractStateEvents and getTransactionLogUpdates chunk fetch size
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/TransactionsReader.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Config.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da, @fabiotudone-da, @miklos-da, @SamirTalwar-DA

Scenario: move Scenario Error Throwable to scenario package
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/ScenarioServiceMain.scala
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Context.scala
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SError.scala
  daml-lf/repl/src/main/scala/com/digitalasset/daml/lf/repl/testing/Main.scala
  daml-lf/scenario-interpreter/BUILD.bazel
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/Error.scala
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/Pretty.scala
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/ScenarioRunner.scala
  daml-lf/scenario-interpreter/src/perf/benches/scala/com/digitalasset/daml/lf/speedy/perf/CollectAuthority.scala
  daml-lf/scenario-interpreter/src/test/scala/com/digitalasset/daml/lf/ScenarioRunnerTest.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ledgerinteraction/IdeLedgerClient.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/ScenarioLoader.scala
Owners: @cocreature, @aherrmann-da, @stefanobaghino-da, @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

[JSON-API] Include contract id in the logging ctx when logging exercise commands
  ledger-service/http-json/src/main/scala/com/digitalasset/http/CommandService.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

[JSON-API] Include contract id in the logging ctx when logging exercise commands (#10131)
  ledger-service/http-json/src/main/scala/com/digitalasset/http/CommandService.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

small improvements highlighted by code review
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/EventsRange.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/TransactionsReader.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Addressed review comments
  ledger/participant-integration-api/src/test/suite/scala/platform/store/appendonlydao/events/TransactionsReaderSpec.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Address https://github.com/digital-asset/daml/pull/10132#discussion_r659705929
  language-support/java/bindings/src/main/java/com/daml/ledger/javaapi/data/DamlRecord.scala
Owners: @cocreature, @stefanobaghino-da

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

CODEOWNERS   @gerolf-da @cocreature
LATEST       @gerolf-da @bame-da @cocreature

# Build / CI / environment
/ci/                @garyverhaegen-da
/dev-env/           @garyverhaegen-da
/nix/               @garyverhaegen-da
/infra/             @garyverhaegen-da
azure-pipelines.yml @garyverhaegen-da
azure-cron.yml      @garyverhaegen-da

# Blackduck
NOTICES     @garyverhaegen-da @aherrmann-da @cocreature @dasormeter

# Language
/compiler/           @cocreature
/libs-haskell/       @cocreature
/daml-assistant/    @sofiafaro-da  @cocreature
/daml-script/       @cocreature  @aherrmann-da @stefanobaghino-da
/triggers/          @cocreature  @aherrmann-da @stefanobaghino-da
/ghc-lib/           @cocreature
/compatibility/     @garyverhaegen-da @aherrmann-da @cocreature

# Runtime
/daml-lf/ @remyhaemmerle-da
/daml-lf/archive/da/ @cocreature
/daml-lf/data-scalacheck/ @S11001001 @cocreature
/daml-lf/engine/ @cocreature
/daml-lf/governance.rst
/daml-lf/interpreter/ @cocreature
/daml-lf/kv-transaction-support/ @cocreature @gerolf-da @miklos-da
/daml-lf/repl/ @cocreature
/daml-lf/scenario-interpreter/  @cocreature
/daml-lf/spec/daml-lf-1.rst @cocreature
/daml-lf/spec/transaction.rst @cocreature
/daml-lf/spec/value.rst @cocreature
/daml-lf/transaction-test-lib/ @S11001001 @cocreature
/daml-lf/transaction/src/main/scala/com/daml/lf/transaction/ @cocreature
/daml-lf/transaction/src/main/scala/com/daml/lf/value/ @cocreature
/daml-lf/validation/ @cocreature

/ledger-service/    @S11001001 @cocreature @stefanobaghino-da

/ledger/      @gerolf-da @mziolekda @nmarton-da @rautenrieth-da @tudor-da
/ledger-api/  @gerolf-da @mziolekda @nmarton-da @rautenrieth-da @tudor-da

/ledger/participant-state/kvutils/ @fabiotudone-da @gerolf-da @miklos-da @SamirTalwar-DA

/runtime-components/    @stefanobaghino-da @cocreature

# Ecosystems
/language-support/hs/       @nickchapman-da
/language-support/java/     @cocreature @stefanobaghino-da
/language-support/scala/    @S11001001 @cocreature @stefanobaghino-da
/language-support/ts/        @robin-da @cocreature @garyverhaegen-da @stefanobaghino-da

# Tools
/extractor/         @S11001001 @stefanobaghino-da
/navigator/         @cocreature @stefanobaghino-da
/navigator/backend/src/main/scala/com/digitalasset/navigator/json/    @S11001001

# Misc
/docs/              @bame-da @nemanja-da
/libs-scala/        @stefanobaghino-da @SamirTalwar-DA
/libs-scala/contextualized-logging/    @S11001001
/libs-scala/scala-utils/    @S11001001
/libs-scala/scalatest-utils/    @S11001001
