Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @digital-asset/daml-release-owners, @dylant-da, @paulbrauner-da, @remyhaemmerle-da, @digital-asset/daml-language, @digital-asset/kv-participant

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

sdk/bazel-java-deps.bzl @digital-asset/daml-release-owners

CODEOWNERS   @dylant-da @paulbrauner-da @remyhaemmerle-da 
/sdk/LATEST @digital-asset/daml-release-owners

# Build / CI / environment
/ci/                   @digital-asset/daml-language
/sdk/dev-env/          @digital-asset/daml-language
/sdk/nix/              @digital-asset/daml-language
azure-pipelines.yml    @digital-asset/daml-language
azure-cron.yml         @digital-asset/daml-language
sdk/release/           @digital-asset/daml-language
sdk/release.sh         @digital-asset/daml-language

# Blackduck
/sdk/NOTICES

# Compatibility test
/sdk/compatibility/     @digital-asset/daml-language @digital-asset/kv-participant

# Language
/sdk/daml-assistant/    @digital-asset/daml-language
/sdk/daml-script/       
/sdk/compiler/          @digital-asset/daml-language
/sdk/libs-haskell/      @digital-asset/daml-language
/sdk/ghc-lib/           @digital-asset/daml-language
/sdk/test-common/canton/ 

# Runtime
/sdk/daml-lf/ 


# Ecosystems
/sdk/language-support/hs/       @digital-asset/daml-language
/sdk/language-support/java/     
/sdk/language-support/scala/    
/sdk/language-support/ts/       

# Application Runtime
/sdk/ledger-service/
/sdk/runtime-components/ 

# Misc
/sdk/docs/ 
/sdk/libs-scala/

# Observability related libraries
/sdk/observability

authenticate 3.2 and 3.3 contracts in the engine
  sdk/compiler/script-service/server/src/main/scala/com/digitalasset/daml/lf/script/Conversions.scala
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Result.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltinFun.scala
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/interpretation/Error.scala
Owners: @digital-asset/daml-language

add authentication test cases in EngineTests
  sdk/daml-lf/engine/src/test/daml/BasicTests.daml
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  sdk/security-evidence.md
Owners: none

add comments
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltinFun.scala
Owners: none

Decoding, scala side
  sdk/compiler/daml-lf-proto-decode/BUILD.bazel
  sdk/compiler/daml-lf-proto-decode/test/DA/Daml/LF/Proto3/DecodeTest.hs
  sdk/compiler/daml-lf-proto-encode/test/DA/Daml/LF/Proto3/EncodeTest.hs
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV2.scala
  sdk/daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV2Spec.scala
Owners: @digital-asset/daml-language

uncomment accidentally commented out assertion
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
Owners: none

Stable packages list
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Util.hs
  sdk/compiler/daml-lf-proto-encode/BUILD.bazel
  sdk/compiler/daml-lf-proto-encode/src/DA/Daml/LF/Proto3/EncodeV2.hs
Owners: @digital-asset/daml-language

Authenticate legacy contracts in the engine (#21843)
  sdk/compiler/script-service/server/src/main/scala/com/digitalasset/daml/lf/script/Conversions.scala
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Result.scala
  sdk/daml-lf/engine/src/test/daml/BasicTests.daml
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltinFun.scala
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/interpretation/Error.scala
  sdk/security-evidence.md
Owners: @digital-asset/daml-language

Scala encoder: add pkgimports
  sdk/compiler/daml-lf-proto-decode/daml-lf-proto-decode.cabal
  sdk/compiler/daml-lf-proto-encode/daml-lf-proto-encode.cabal
  sdk/compiler/daml-lf-proto-encode/src/DA/Daml/LF/Proto3/EncodeV2.hs
  sdk/compiler/damlc/tests/platform-independence.dar-hash
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV2.scala
  sdk/daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/EncodeV2.scala
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
  sdk/daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ModParser.scala
Owners: @digital-asset/daml-language

Typescript codegen fixes
  ci/copy-unix-release-artifacts.sh
  ci/copy-windows-release-artifacts.sh
  ci/publish-oci.sh
  sdk/daml-assistant/daml-helper/src/DA/Daml/Helper/Codegen.hs
  sdk/language-support/ts/codegen/BUILD.bazel
  sdk/language-support/ts/codegen/component.yaml
  sdk/language-support/ts/codegen/src/TsCodeGenMain.hs
Owners: @digital-asset/daml-language

Java codegen fixes
  ci/copy-unix-release-artifacts.sh
  ci/copy-windows-release-artifacts.sh
  sdk/language-support/codegen-common/src/main/scala/com/digitalasset/daml/lf/codegen/conf/Conf.scala
  sdk/language-support/codegen-main/BUILD.bazel
  sdk/language-support/codegen-main/component.yaml
  sdk/language-support/codegen-main/src/main/scala/com/daml/codegen/CodegenMain.scala
  sdk/language-support/java/codegen/BUILD.bazel
Owners: @digital-asset/daml-language

Add packagePathEnvVar
  sdk/compiler/damlc/lib/DA/Cli/Damlc.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc/Command/MultiIde/SdkInstall.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc/Command/MultiIde/SubIdeManagement.hs
  sdk/compiler/damlc/tests/BUILD.bazel
  sdk/compiler/damlc/tests/src/CliParser.hs
  sdk/compiler/damlc/tests/src/DamlcPkgManager.hs
  sdk/daml-assistant/daml-helper/BUILD.bazel
  sdk/daml-assistant/daml-helper/test/DA/Daml/Helper/Test/Deployment.hs
  sdk/daml-assistant/daml-project-config/DA/Daml/Project/Consts.hs
  sdk/daml-assistant/integration-tests/BUILD.bazel
  sdk/daml-assistant/integration-tests/src/DA/Daml/Assistant/QuickstartTests.hs
  sdk/daml-assistant/scala-daml-project-config/src/main/scala/com/daml/assistant/config/ProjectConfig.scala
  sdk/daml-assistant/src/DA/Daml/Assistant/Env.hs
  sdk/daml-assistant/test/DA/Daml/Assistant/Tests.hs
Owners: @digital-asset/daml-language

Scalafmt
  sdk/daml-assistant/scala-daml-project-config/src/main/scala/com/daml/assistant/config/ProjectConfig.scala
  sdk/language-support/codegen-main/src/main/scala/com/daml/codegen/CodegenMain.scala
Owners: @digital-asset/daml-language

Passing build not test
  sdk/compiler/script-service/server/src/main/scala/com/digitalasset/daml/lf/script/Context.scala
  sdk/daml-lf/api-type-signature/src/test/scala/com/digitalasset/daml/lf/typesig/reader/SignatureReaderSpec.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV2.scala
  sdk/daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/EncodeV2.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/MetaDataTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ReinterpretTest.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/InterpreterTest.scala
  sdk/daml-lf/language/src/test/scala/com/digitalasset/daml/lf/language/AstSpec.scala
  sdk/daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ModParser.scala
  sdk/daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/DependencyVersionSpec.scala
  sdk/daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/TypingSpec.scala
Owners: @digital-asset/daml-language

forbit relative contract IDs in API commands
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Error.scala
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/CommandPreprocessor.scala
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/Preprocessor.scala
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/TransactionPreprocessor.scala
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/ValueTranslator.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/preprocessing/ApiCommandPreprocessorSpec.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/preprocessing/ValueTranslatorSpec.scala
Owners: none

Maybe -> Either (build passing)
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Base.hs
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Optics.hs
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Util.hs
  sdk/compiler/daml-lf-proto-decode/src/DA/Daml/LF/Proto3/DecodeV2.hs
  sdk/compiler/daml-lf-proto-encode/src/DA/Daml/LF/Proto3/EncodeV2.hs
  sdk/compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Dar.hs
  sdk/compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
  sdk/compiler/damlc/daml-lf-util/src/DA/Daml/UtilLF.hs
  sdk/compiler/damlc/daml-rule-types/src/Development/IDE/Core/RuleTypes/Daml.hs
  sdk/compiler/damlc/stable-packages/lib/DA/Daml/StablePackages.hs
  sdk/compiler/damlc/tests/src/DA/Test/GenerateSimpleDalf.hs
  sdk/compiler/script-service/client/src/DA/Daml/LF/ScriptServiceClient/LowLevel.hs
Owners: @digital-asset/daml-language

Publish Scala artifacts to Google Artifact Repository
  ci/build-unix.yml
  sdk/release/src/Main.hs
  sdk/release/src/Options.hs
  sdk/release/src/Types.hs
  sdk/release/src/Upload.hs
Owners: @digital-asset/daml-language

Fix compilation issues
  sdk/compiler/damlc/lib/DA/Cli/Damlc.hs
  sdk/daml-assistant/daml-project-config/DA/Daml/Project/Consts.hs
  sdk/daml-assistant/src/DA/Daml/Assistant/Env.hs
Owners: @digital-asset/daml-language

docs: Fix broken links in the sdlc-howtos section of the build docs.
  sdk/docs/manually-written/sdk/sdlc-howtos/smart-contracts/build/index.rst
  sdk/docs/manually-written/sdk/sdlc-howtos/smart-contracts/debug/index.rst
  sdk/docs/manually-written/sdk/sdlc-howtos/smart-contracts/develop/index.rst
  sdk/docs/manually-written/sdk/sdlc-howtos/smart-contracts/develop/patterns.rst
  sdk/docs/manually-written/sdk/sdlc-howtos/smart-contracts/upgrade/index.rst
  sdk/docs/sharable/sdk/sdlc-howtos/smart-contracts/build/index.rst
  sdk/docs/sharable/sdk/sdlc-howtos/smart-contracts/debug/index.rst
  sdk/docs/sharable/sdk/sdlc-howtos/smart-contracts/develop/index.rst
  sdk/docs/sharable/sdk/sdlc-howtos/smart-contracts/develop/patterns.rst
  sdk/docs/sharable/sdk/sdlc-howtos/smart-contracts/upgrade/index.rst
Owners: none

fix build
  sdk/canton/community/app/src/test/scala/com/digitalasset/canton/integration/util/TestSubmissionService.scala
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/platform/apiserver/execution/StoreBackedCommandInterpreter.scala
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/platform/store/dao/events/LfValueTranslation.scala
  sdk/canton/community/participant/src/main/scala/com/digitalasset/canton/participant/util/DAMLe.scala
Owners: none

Untie dependency from quickstart to rx-java (#21815)
  sdk/docs/BUILD.bazel
  sdk/docs/sharable/sdk/tutorials/quickstart/template-root/pom.xml
  sdk/docs/sharable/sdk/tutorials/quickstart/template-root/src/main/java/com/daml/quickstart/iou/IouMain.java
  sdk/docs/source/sdk/tutorials/quickstart/template-root/pom.xml
  sdk/docs/source/sdk/tutorials/quickstart/template-root/src/main/java/com/daml/quickstart/iou/IouMain.java
Owners: none

Wrap GAR upload in try catch
  sdk/release/BUILD.bazel
  sdk/release/src/Main.hs
  sdk/release/src/Upload.hs
Owners: @digital-asset/daml-language

Publish Scala artifacts to Google Artifact Repository (#21851)
  ci/build-unix.yml
  sdk/release/BUILD.bazel
  sdk/release/src/Main.hs
  sdk/release/src/Options.hs
  sdk/release/src/Types.hs
  sdk/release/src/Upload.hs
Owners: @digital-asset/daml-language

main Snapshot Create a snapshot for [main](https://github.com/digital-asset/daml/commits/main/) at commit f7bcb0789d0413bd950993a234a8d2700cc32b4f
  sdk/LATEST
Owners: @digital-asset/daml-release-owners

fix build even more
  sdk/canton/BUILD.bazel
Owners: none

projectOpts -> packageLocationOpts
  sdk/compiler/damlc/lib/DA/Cli/Damlc.hs
  sdk/compiler/damlc/lib/DA/Cli/Options.hs
Owners: @digital-asset/daml-language

rename flags
  sdk/canton/community/common/src/main/scala/com/digitalasset/canton/interactive/InteractiveSubmissionEnricher.scala
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/platform/store/dao/events/LfEnricher.scala
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/platform/store/dao/events/LfValueTranslation.scala
  sdk/canton/community/ledger/ledger-api-core/src/test/scala/com/digitalasset/canton/platform/store/dao/events/LfEnricherSpec.scala
  sdk/canton/community/participant/src/main/scala/com/digitalasset/canton/participant/ledger/api/StartableStoppableLedgerApiServer.scala
  sdk/canton/community/participant/src/main/scala/com/digitalasset/canton/participant/util/DAMLe.scala
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/EngineConfig.scala
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Enricher.scala
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/CommandPreprocessor.scala
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/Preprocessor.scala
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/TransactionPreprocessor.scala
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/ValueTranslator.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ContractKeySpec.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/LargeTransactionTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ReinterpretTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/preprocessing/ApiCommandPreprocessorSpec.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/preprocessing/ReplayCommandPreprocessorSpec.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/preprocessing/ValueTranslatorSpec.scala
  sdk/daml-lf/ide-ledger/src/main/scala/com/digitalasset/daml/lf/script/IdeLedgerRunner.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ValueTranslator.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ValueTranslatorSpec.scala
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Converter.scala
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ScriptF.scala
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ledgerinteraction/IdeLedgerClient.scala
Owners: none

main Snapshot (#21855)
  sdk/LATEST
Owners: @digital-asset/daml-release-owners

ProjectOpts -> PackageLocationOpts
  sdk/compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
  sdk/compiler/damlc/daml-opts/daml-opts-types/DA/Daml/Options/Packaging/Metadata.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc/Packaging.hs
  sdk/compiler/damlc/lib/DA/Cli/Options.hs
  sdk/daml-assistant/daml-helper/src/DA/Daml/Helper/Init.hs
  sdk/language-support/ts/codegen/tests/src/DA/Test/Daml2js.hs
Owners: @digital-asset/daml-language

Add windows flake reporting back to build
  ci/build.yml
  ci/report-flakes.yml
  ci/report_flakes.py
Owners: @digital-asset/daml-language

fix yml
  ci/report-flakes.yml
Owners: @digital-asset/daml-language

forbid relative contract IDs in API commands (#21849)
  sdk/canton/community/common/src/main/scala/com/digitalasset/canton/interactive/InteractiveSubmissionEnricher.scala
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/platform/store/dao/events/LfEnricher.scala
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/platform/store/dao/events/LfValueTranslation.scala
  sdk/canton/community/ledger/ledger-api-core/src/test/scala/com/digitalasset/canton/platform/store/dao/events/LfEnricherSpec.scala
  sdk/canton/community/participant/src/main/scala/com/digitalasset/canton/participant/ledger/api/StartableStoppableLedgerApiServer.scala
  sdk/canton/community/participant/src/main/scala/com/digitalasset/canton/participant/util/DAMLe.scala
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/EngineConfig.scala
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Enricher.scala
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Error.scala
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/CommandPreprocessor.scala
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/Preprocessor.scala
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/TransactionPreprocessor.scala
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/ValueTranslator.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ContractKeySpec.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/LargeTransactionTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ReinterpretTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/preprocessing/ApiCommandPreprocessorSpec.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/preprocessing/ReplayCommandPreprocessorSpec.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/preprocessing/ValueTranslatorSpec.scala
  sdk/daml-lf/ide-ledger/src/main/scala/com/digitalasset/daml/lf/script/IdeLedgerRunner.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ValueTranslator.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ValueTranslatorSpec.scala
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Converter.scala
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ScriptF.scala
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ledgerinteraction/IdeLedgerClient.scala
Owners: none

trying windows specific dade assist
  ci/report-flakes.yml
Owners: @digital-asset/daml-language

Fix for "Open PR to update NOTICES file" (#21826)
  ci/blackduck.yml
Owners: @digital-asset/daml-language

..
  ci/report-flakes.yml
Owners: @digital-asset/daml-language

Add weekly snapshot verification step to release/README.md
  sdk/release/RELEASE.md
Owners: @digital-asset/daml-language

light build
  ci/build.yml
Owners: @digital-asset/daml-language

light build..
  ci/build.yml
Owners: @digital-asset/daml-language

light build...
  ci/prs.yml
Owners: @digital-asset/daml-language

address Fabio review
  sdk/release/RELEASE.md
Owners: @digital-asset/daml-language

cosmetic
  sdk/release/RELEASE.md
Owners: @digital-asset/daml-language
