Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @digital-asset/daml-release-owners, @dylant-da, @paulbrauner-da, @remyhaemmerle-da, @digital-asset/daml-language, @digital-asset/kv-participant

delete obsolete upgrade error codes
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/platform/apiserver/services/RejectionGenerators.scala
  sdk/canton/community/ledger/ledger-common/src/main/scala/com/digitalasset/canton/ledger/error/groups/CommandExecutionErrors.scala
Owners: none

accept a cid substitution in hashCreateNode and validateContractInstance
  sdk/canton/community/common/src/main/scala/com/digitalasset/canton/util/ContractValidator.scala
  sdk/canton/community/common/src/main/scala/com/digitalasset/canton/util/LfContractValidation.scala
Owners: none

Update sdk/canton/community/common/src/main/scala/com/digitalasset/canton/util/ContractValidator.scala
  sdk/canton/community/common/src/main/scala/com/digitalasset/canton/util/ContractValidator.scala
Owners: none

disable json api
  sdk/libs-haskell/canton-test-utils/DA/Test/Sandbox.hs
  sdk/test-common/canton/it-lib/src/main/scala/com/daml/integrationtest/CantonRunner.scala
Owners: @digital-asset/daml-language

fix deps and hashing
  sdk/canton/BUILD.bazel
  sdk/canton/community/common/src/main/scala/com/digitalasset/canton/util/ContractHasher.scala
Owners: none

address Paul's review
  sdk/canton/community/base/src/main/scala/com/digitalasset/canton/protocol/hash/TransactionHash.scala
  sdk/canton/community/base/src/main/scala/com/digitalasset/canton/protocol/package.scala
  sdk/canton/community/common/src/main/scala/com/digitalasset/canton/version/LfSerializationVersionToProtocolVersions.scala
  sdk/canton/community/common/src/test/scala/com/digitalasset/canton/protocol/ExampleTransaction.scala
  sdk/canton/community/common/src/test/scala/com/digitalasset/canton/protocol/ExampleTransactionFactory.scala
  sdk/canton/community/common/src/test/scala/com/digitalasset/canton/protocol/SerializableContractTest.scala
  sdk/canton/community/common/src/test/scala/com/digitalasset/canton/protocol/hash/NodeHashV1Test.scala
  sdk/canton/community/common/src/test/scala/com/digitalasset/canton/util/LfTransactionBuilder.scala
  sdk/canton/community/common/src/test/scala/com/digitalasset/canton/version/DamlLfVersionToProtocolVersionsTest.scala
  sdk/canton/community/ledger-api/src/main/protobuf/com/daml/ledger/api/v2/interactive/interactive_submission_service.proto
  sdk/canton/community/participant/src/main/scala/com/digitalasset/canton/participant/protocol/submission/UsableSynchronizers.scala
  sdk/canton/community/participant/src/test/scala/com/digitalasset/canton/participant/protocol/submission/SynchronizerSelectionFixture.scala
  sdk/canton/community/participant/src/test/scala/com/digitalasset/canton/participant/protocol/submission/SynchronizersFilterTest.scala
  sdk/canton/community/participant/src/test/scala/com/digitalasset/canton/participant/protocol/submission/routing/SynchronizerSelectorTest.scala
  sdk/canton/community/upgrading-integration-tests/src/test/scala/com/digitalasset/canton/integration/tests/upgrading/UpgradingBaseTest.scala
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Event.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SerializationVersionTest.scala
  sdk/daml-lf/transaction-test-lib/src/main/scala/com/digitalasset/daml/lf/transaction/test/TestNodeBuilder.scala
  sdk/daml-lf/transaction-test-lib/src/main/scala/com/digitalasset/daml/lf/value/test/ValueGenerators.scala
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/crypto/Hash.scala
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/SerializationVersion.scala
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionCoder.scala
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/ValueCoder.scala
  sdk/daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/crypto/NodeHashV1Spec.scala
  sdk/daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionCoderSpec.scala
Owners: none

update security-evidence.md
  sdk/security-evidence.md
Owners: none

[LF] introduce a basic patch mecanism for LF
  sdk/compiler/daml-lf-proto-decode/src/DA/Daml/LF/Proto3/Decode.hs
  sdk/compiler/daml-lf-proto-encode/src/DA/Daml/LF/Proto3/Encode.hs
  sdk/compiler/daml-lf-proto-util/src/DA/Daml/LF/Proto3/Error.hs
  sdk/daml-lf/archive/src/main/protobuf/com/digitalasset/daml/lf/archive/daml_lf.proto
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/Decode.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV2.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/Reader.scala
  sdk/daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DarReaderTest.scala
  sdk/daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV2Spec.scala
  sdk/daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/testing/archive/DamlLfEncoderTest.scala
Owners: @digital-asset/daml-language

main Snapshot Create a snapshot for [main](https://github.com/digital-asset/daml/commits/main/) at commit 9bd7e7ade7d2222cf95cca5fa6c611369ee1b89e
  sdk/LATEST
Owners: @digital-asset/daml-release-owners

main Snapshot (#22026)
  sdk/LATEST
Owners: @digital-asset/daml-release-owners

Add JARs installation in dpm-sdk-head
  sdk/dev-env/bin/dpm-sdk-head
Owners: @digital-asset/daml-language

When upgrading check that package name has not changed
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltinFun.scala
Owners: none

add test cases triggering auth errors
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/UpgradesMatrix.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/UpgradesMatrixUnit.scala
  sdk/daml-script/test/src/main/scala/com/digitalasset/daml/lf/engine/script/test/UpgradesMatrixIT.scala
Owners: none

parameterize command generation with underlying ledger
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/UpgradesMatrix.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/UpgradesMatrixUnit.scala
  sdk/daml-script/test/src/main/scala/com/digitalasset/daml/lf/engine/script/test/UpgradesMatrixIT.scala
  sdk/security-evidence.md
Owners: none

security evidence
  sdk/security-evidence.md
Owners: none

Add JARs installation in `dpm-sdk-head` (#22022)
  sdk/dev-env/bin/dpm-sdk-head
Owners: @digital-asset/daml-language

Added empty lf2.2 intened to be used as staging
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  sdk/compiler/damlc/tests/BUILD.bazel
  sdk/daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/testing/archive/DamlLfEncoderTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineInfoTest.scala
  sdk/daml-lf/language/daml-lf.bzl
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageMajorVersion.scala
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
  sdk/language-support/java/codegen/codegen.bzl
  sdk/language-support/java/codegen/src/it/java-2.2/com/daml/AllTests.java
  sdk/language-support/java/codegen/src/test/java/com/digitalasset/testing/AllTestsFor2_2.java
  sdk/test-common/BUILD.bazel
Owners: @digital-asset/daml-language

Fix SerializationVersion
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/SerializationVersion.scala
Owners: none

Add authentication error tests to the test matrix (#22002)
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/UpgradesMatrix.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/UpgradesMatrixUnit.scala
  sdk/daml-script/test/src/main/scala/com/digitalasset/daml/lf/engine/script/test/UpgradesMatrixIT.scala
  sdk/security-evidence.md
Owners: none

add original metadata to Update.ValidationFailed
  sdk/canton/community/ledger/ledger-common/src/main/scala/com/digitalasset/canton/ledger/error/groups/CommandExecutionErrors.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltinFun.scala
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/interpretation/Error.scala
  sdk/daml-script/daml/Daml/Script/Internal/Questions/Submit/Error.daml
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ledgerinteraction/GrpcErrorParser.scala
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ledgerinteraction/IdeLedgerClient.scala
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ledgerinteraction/SubmitError.scala
  sdk/daml-script/test/daml/upgrades/dev/ContractKeys.daml
  sdk/daml-script/test/daml/upgrades/dev/MetadataChanged.daml
  sdk/daml-script/test/daml/upgrades/stable/MetadataChanged.daml
  sdk/daml-script/test/daml/upgrades/stable/SignatoryObserverChanges.daml
Owners: none

docs: Mark UpdateService.GetUpdateTrees as a broken symbol for now.
  sdk/docs/manually-written/overview/explanations/ledger-model/ledger-privacy.rst
  sdk/docs/sharable/overview/explanations/ledger-model/ledger-privacy.rst
Owners: none

ci: Publish OCI images to the da-images project as well as da-images-… (#21988)
  azure-pipelines.yml
Owners: @digital-asset/daml-language

docs: Mark UpdateService.GetUpdateTrees as a broken symbol for now. (#22029)
  sdk/docs/manually-written/overview/explanations/ledger-model/ledger-privacy.rst
  sdk/docs/sharable/overview/explanations/ledger-model/ledger-privacy.rst
Owners: none

introduce nullable resources to simplify the daml-script parsing or errors
  sdk/canton/base/errors/src/main/scala/com/digitalasset/base/error/ErrorResource.scala
  sdk/canton/community/ledger/ledger-common/src/main/scala/com/digitalasset/canton/ledger/error/groups/CommandExecutionErrors.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltinFun.scala
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ledgerinteraction/GrpcErrorParser.scala
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ledgerinteraction/SubmitError.scala
Owners: none

sync docs
  sdk/docs/sharable/hoogle/daml-script-hoogle.txt
  sdk/docs/sharable/sdk/reference/daml-script/api/Daml-Script.rst
Owners: none

update security-evidence.md
  sdk/security-evidence.md
Owners: none

add empty lf 2.2 (to become staging version) (#21905)
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  sdk/compiler/damlc/tests/BUILD.bazel
  sdk/daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/testing/archive/DamlLfEncoderTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineInfoTest.scala
  sdk/daml-lf/language/daml-lf.bzl
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageMajorVersion.scala
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/SerializationVersion.scala
  sdk/language-support/java/codegen/codegen.bzl
  sdk/language-support/java/codegen/src/it/java-2.2/com/daml/AllTests.java
  sdk/language-support/java/codegen/src/test/java/com/digitalasset/testing/AllTestsFor2_2.java
  sdk/test-common/BUILD.bazel
Owners: @digital-asset/daml-language

move contract ID version parameter from Engine config to interpretation methods
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/platform/apiserver/execution/StoreBackedCommandInterpreter.scala
  sdk/canton/community/participant/src/main/scala/com/digitalasset/canton/participant/util/DAMLe.scala
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/EngineConfig.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/NodeSeedsTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/AuthPropagationSpec.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ContractKeySpec.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/InterfacesTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/LargeTransactionTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ReinterpretTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/UpgradesMatrix.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/UpgradesMatrixUnit.scala
  sdk/daml-lf/snapshot/src/benchmark/scala/com/digitalasset/daml/lf/testing/snapshot/ReplayBenchmark.scala
  sdk/daml-lf/snapshot/src/main/scala/com/digitalasset/daml/lf/testing/snapshot/TransactionSnapshot.scala
  sdk/daml-lf/snapshot/src/profile/scala/com/digitalasset/daml/lf/testing/snapshot/ReplayProfile.scala
  sdk/daml-lf/snapshot/src/test/scala/com/digitalasset/daml/lf/testing/snapshot/ReplayBenchmarkIT.scala
  sdk/daml-lf/snapshot/src/test/scala/com/digitalasset/daml/lf/testing/snapshot/ReplayBenchmarkTest.scala
  sdk/security-evidence.md
Owners: none

fix deps
  sdk/canton/BUILD.bazel
Owners: none

format
  sdk/security-evidence.md
Owners: none

Better ValidationFailed error (#22011)
  sdk/canton/base/errors/src/main/scala/com/digitalasset/base/error/ErrorResource.scala
  sdk/canton/community/ledger/ledger-common/src/main/scala/com/digitalasset/canton/ledger/error/groups/CommandExecutionErrors.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltinFun.scala
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/interpretation/Error.scala
  sdk/daml-script/daml/Daml/Script/Internal/Questions/Submit/Error.daml
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ledgerinteraction/GrpcErrorParser.scala
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ledgerinteraction/IdeLedgerClient.scala
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ledgerinteraction/SubmitError.scala
  sdk/daml-script/test/daml/upgrades/dev/ContractKeys.daml
  sdk/daml-script/test/daml/upgrades/dev/MetadataChanged.daml
  sdk/daml-script/test/daml/upgrades/stable/MetadataChanged.daml
  sdk/daml-script/test/daml/upgrades/stable/SignatoryObserverChanges.daml
  sdk/docs/sharable/hoogle/daml-script-hoogle.txt
  sdk/docs/sharable/sdk/reference/daml-script/api/Daml-Script.rst
Owners: none

Add dpm init
  sdk/daml-assistant/daml-helper/component.yaml
  sdk/daml-assistant/daml-helper/src/DA/Daml/Helper/New.hs
  sdk/templates/empty-skeleton/daml/.gitkeep
Owners: @digital-asset/daml-language

Update progName to dpm
  sdk/daml-assistant/daml-helper/src/DA/Daml/Helper/New.hs
Owners: @digital-asset/daml-language

fixed //daml-script/test:upgrade-test
  sdk/daml-script/test/daml/upgrades/stable/AuthenticationErrors.daml
Owners: none

ci: Move everything to da-images/public, instead of da-images-dev/private.
  azure-pipelines.yml
  ci/get-dpm.sh
  ci/split-release-job.yml
  sdk/dev-env/bin/dpm-sdk-head
Owners: @digital-asset/daml-language

update NOTICES file
  sdk/NOTICES
Owners: none

fix for Remy
  sdk/canton/community/app/src/test/scala/com/digitalasset/canton/integration/tests/DamlRollbackTest.scala
  sdk/canton/community/app/src/test/scala/com/digitalasset/canton/integration/tests/repair/RepairServiceIntegrationTest.scala
  sdk/canton/community/base/src/main/scala/com/digitalasset/canton/logging/pretty/PrettyInstances.scala
  sdk/canton/community/base/src/main/scala/com/digitalasset/canton/protocol/hash/NodeHashBuilder.scala
  sdk/canton/community/base/src/main/scala/com/digitalasset/canton/protocol/hash/TransactionHash.scala
  sdk/canton/community/base/src/main/scala/com/digitalasset/canton/protocol/package.scala
  sdk/canton/community/base/src/main/scala/com/digitalasset/canton/util/LfTransactionUtil.scala
  sdk/canton/community/common/src/main/scala/com/daml/lf/CantonOnly.scala
  sdk/canton/community/common/src/main/scala/com/digitalasset/canton/protocol/WellFormedTransaction.scala
  sdk/canton/community/common/src/main/scala/com/digitalasset/canton/version/DamlLfVersionToProtocolVersions.scala
  sdk/canton/community/common/src/main/scala/com/digitalasset/canton/version/LfSerializationVersionToProtocolVersions.scala
  sdk/canton/community/common/src/test/scala/com/digitalasset/canton/data/ActionDescriptionTest.scala
  sdk/canton/community/common/src/test/scala/com/digitalasset/canton/data/TransactionViewTest.scala
  sdk/canton/community/common/src/test/scala/com/digitalasset/canton/protocol/ExampleTransaction.scala
  sdk/canton/community/common/src/test/scala/com/digitalasset/canton/protocol/ExampleTransactionFactory.scala
  sdk/canton/community/common/src/test/scala/com/digitalasset/canton/protocol/SerializableContractTest.scala
  sdk/canton/community/common/src/test/scala/com/digitalasset/canton/protocol/WellFormedTransactionTest.scala
  sdk/canton/community/common/src/test/scala/com/digitalasset/canton/protocol/hash/HashUtils.scala
  sdk/canton/community/common/src/test/scala/com/digitalasset/canton/protocol/hash/NodeHashV1Test.scala
  sdk/canton/community/common/src/test/scala/com/digitalasset/canton/util/LfTransactionBuilder.scala
  sdk/canton/community/common/src/test/scala/com/digitalasset/canton/version/DamlLfVersionToProtocolVersionsTest.scala
  sdk/canton/community/ledger-api/src/main/protobuf/com/daml/ledger/api/v2/interactive/interactive_submission_service.proto
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/platform/apiserver/services/command/interactive/codec/PreparedTransactionDecoder.scala
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/platform/apiserver/services/command/interactive/codec/PreparedTransactionEncoder.scala
  sdk/canton/community/ledger/ledger-api-core/src/test/scala/com/digitalasset/canton/ledger/api/validation/ValidateDisclosedContractsTest.scala
  sdk/canton/community/ledger/ledger-api-core/src/test/scala/com/digitalasset/canton/platform/apiserver/execution/LedgerTimeAwareCommandExecutorSpec.scala
  sdk/canton/community/ledger/ledger-api-core/src/test/scala/com/digitalasset/canton/platform/apiserver/execution/ResolveMaximumLedgerTimeSpec.scala
  sdk/canton/community/ledger/ledger-api-core/src/test/scala/com/digitalasset/canton/platform/apiserver/execution/StoreBackedCommandInterpreterSpec.scala
  sdk/canton/community/ledger/ledger-api-core/src/test/scala/com/digitalasset/canton/platform/apiserver/services/DisclosedContractCreator.scala
  sdk/canton/community/ledger/ledger-api-core/src/test/scala/com/digitalasset/canton/platform/apiserver/services/command/CommandSubmissionServiceImplSpec.scala
  sdk/canton/community/ledger/ledger-api-core/src/test/scala/com/digitalasset/canton/platform/index/InMemoryStateUpdaterSpec.scala
  sdk/canton/community/ledger/ledger-api-core/src/test/scala/com/digitalasset/canton/platform/store/dao/JdbcLedgerDaoSuite.scala
  sdk/canton/community/ledger/ledger-common/src/main/scala/com/digitalasset/canton/ledger/error/groups/CommandExecutionErrors.scala
  sdk/canton/community/participant/src/main/scala/com/digitalasset/canton/participant/protocol/submission/TransactionTreeFactoryImpl.scala
  sdk/canton/community/participant/src/main/scala/com/digitalasset/canton/participant/protocol/submission/UsableSynchronizers.scala
  sdk/canton/community/participant/src/main/scala/com/digitalasset/canton/participant/protocol/submission/routing/TransactionData.scala
  sdk/canton/community/participant/src/test/scala/com/digitalasset/canton/participant/protocol/submission/SynchronizerSelectionFixture.scala
  sdk/canton/community/participant/src/test/scala/com/digitalasset/canton/participant/protocol/submission/SynchronizersFilterTest.scala
  sdk/canton/community/participant/src/test/scala/com/digitalasset/canton/participant/protocol/submission/routing/SynchronizerSelectorTest.scala
  sdk/canton/community/participant/src/test/scala/com/digitalasset/canton/participant/util/CreatesActiveContracts.scala
Owners: none

fix for Paul
  sdk/canton/base/errors/src/main/scala/com/digitalasset/base/error/ErrorResource.scala
  sdk/canton/community/ledger/ledger-common/src/main/scala/com/digitalasset/canton/ledger/error/groups/CommandExecutionErrors.scala
Owners: none

Fix SDK Protobuf for Canton main
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  sdk/compiler/daml-lf-tools/src/DA/Daml/LF/Simplifier.hs
  sdk/compiler/damlc/daml-stdlib-src/DA/Crypto/Text.daml
  sdk/compiler/damlc/tests/platform-independence.dar-hash
  sdk/daml-lf/archive/src/main/protobuf/com/digitalasset/daml/lf/archive/daml_lf2.proto
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV2.scala
  sdk/daml-lf/encoder/src/test/lf/Builtin_2.1_.lf
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
  sdk/docs/sharable/sdk/reference/daml/stdlib/DA-Crypto-Text.rst
  sdk/docs/sharable/sdk/reference/daml/stdlib/Prelude.rst
Owners: @digital-asset/daml-language

Fix dpm version calls and pin DPM
  ci/get-dpm.sh
  sdk/dev-env/bin/dpm-sdk-head
Owners: @digital-asset/daml-language

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

sdk/bazel-java-deps.bzl @digital-asset/daml-release-owners

CODEOWNERS   @dylant-da @paulbrauner-da @remyhaemmerle-da 
/sdk/LATEST @digital-asset/daml-release-owners

# Build / CI / environment
/ci/                   @digital-asset/daml-language
/sdk/dev-env/          @digital-asset/daml-language
/sdk/nix/              @digital-asset/daml-language
azure-pipelines.yml    @digital-asset/daml-language
azure-cron.yml         @digital-asset/daml-language
sdk/release/           @digital-asset/daml-language
sdk/release.sh         @digital-asset/daml-language

# Blackduck
/sdk/NOTICES

# Compatibility test
/sdk/compatibility/     @digital-asset/daml-language @digital-asset/kv-participant

# Language
/sdk/daml-assistant/    @digital-asset/daml-language
/sdk/daml-script/       
/sdk/compiler/          @digital-asset/daml-language
/sdk/libs-haskell/      @digital-asset/daml-language
/sdk/ghc-lib/           @digital-asset/daml-language
/sdk/test-common/canton/ 

# Runtime
/sdk/daml-lf/ 


# Ecosystems
/sdk/language-support/hs/       @digital-asset/daml-language
/sdk/language-support/java/     
/sdk/language-support/scala/    
/sdk/language-support/ts/       

# Application Runtime
/sdk/ledger-service/
/sdk/runtime-components/ 

# Misc
/sdk/docs/ 
/sdk/libs-scala/

# Observability related libraries
/sdk/observability
