Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @digital-asset/daml-release-owners, @dylant-da, @paulbrauner-da, @remyhaemmerle-da, @digital-asset/daml-language, @digital-asset/kv-participant

fmt.sh
  sdk/security-evidence.md
Owners: none

CI fix
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ScriptF.scala
Owners: none

fix typo that omitted some test cases in UpgradesMatrixIT (#21963)
  sdk/daml-script/test/src/main/scala/com/digitalasset/daml/lf/engine/script/test/UpgradesMatrixIT.scala
Owners: none

Move crypto primitive additions to a mutated 2.1 on main
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  sdk/daml-lf/archive/src/main/protobuf/com/digitalasset/daml/lf/archive/daml_lf2.proto
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
Owners: @digital-asset/daml-language

Remove old comments
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/UpgradesMatrix.scala
Owners: none

Extened Left of imports with dep tracker set
  sdk/compiler/script-service/server/src/main/scala/com/digitalasset/daml/lf/script/Context.scala
  sdk/daml-lf/api-type-signature/src/test/scala/com/digitalasset/daml/lf/typesig/reader/SignatureReaderSpec.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV2.scala
  sdk/daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/DamlLfEncoder.scala
  sdk/daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/EncodeV2.scala
  sdk/daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/testing/archive/EncodeSpec.scala
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ConcurrentCompiledPackages.scala
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/MetaDataTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ReinterpretTest.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/InterpreterTest.scala
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Util.scala
  sdk/daml-lf/language/src/test/scala/com/digitalasset/daml/lf/language/AstSpec.scala
  sdk/daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ModParser.scala
  sdk/daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/DependencyVersionSpec.scala
  sdk/daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/TypingSpec.scala
  sdk/security-evidence.md
Owners: @digital-asset/daml-language

Fix DamlLfEncoderTest by diffing out stablepackages
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV2.scala
  sdk/daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/DamlLfEncoder.scala
  sdk/daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/testing/archive/DamlLfEncoderTest.scala
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
Owners: none

Incorporate fix to remysyntax
  sdk/daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/EncodeV2.scala
Owners: none

Removed optionals for interactive_submission_service.proto.
  sdk/canton/community/ledger-api/src/main/protobuf/com/daml/ledger/api/v2/interactive/interactive_submission_service.proto
  sdk/canton/community/ledger-api/src/main/protobuf/com/daml/ledger/api/v2/transaction.proto
Owners: none

sync docs
  sdk/compiler/damlc/tests/platform-independence.dar-hash
  sdk/docs/sharable/hoogle/daml-base-hoogle.txt
  sdk/docs/sharable/sdk/reference/daml/stdlib/DA-Crypto-Text.rst
Owners: @digital-asset/daml-language

WIP
  sdk/canton/BUILD.bazel
  sdk/canton/community/ledger-api/src/main/protobuf/com/daml/ledger/api/v2/admin/party_management_service.proto
Owners: none

2.1 LF fix
  sdk/daml-lf/encoder/src/test/lf/Builtin_2.1_.lf
Owners: none

Add interactive filegroup
  sdk/canton/BUILD.bazel
  sdk/canton/community/ledger-api/src/main/protobuf/com/daml/ledger/api/v2/trace_context.proto
Owners: none

CI test fixes
  sdk/daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/upgrade/UpgradesSpecBase.scala
Owners: none

Freeze ledger-api proto files used by Haskell
  sdk/3rdparty/haskell/BUILD.bazel
  sdk/canton/BUILD.bazel
  sdk/daml-assistant/daml-helper/BUILD.bazel
  sdk/language-support/hs/bindings/BUILD.bazel
  sdk/language-support/hs/bindings/export-package.sh
  sdk/libs-haskell/ledger-api-pb/BUILD.bazel
  sdk/libs-haskell/ledger-api-pb/src/protobuf/com/daml/ledger/api/v2/admin/object_meta.proto
  sdk/libs-haskell/ledger-api-pb/src/protobuf/com/daml/ledger/api/v2/admin/package_management_service.proto
  sdk/libs-haskell/ledger-api-pb/src/protobuf/com/daml/ledger/api/v2/admin/party_management_service.proto
  sdk/libs-haskell/ledger-api-pb/src/protobuf/com/daml/ledger/api/v2/admin/user_management_service.proto
  sdk/libs-haskell/ledger-api-pb/src/protobuf/com/daml/ledger/api/v2/package_service.proto
Owners: @digital-asset/daml-language

docs: Remove some legacy docs infrastructure that is no longer needed.
  sdk/deps.bzl
  sdk/docs/BUILD.bazel
  sdk/docs/error.html
  sdk/docs/redirect_template.html
  sdk/docs/redirects.map
Owners: none

Move crypto primitive additions to a mutated 2.1 on main (#21967)
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  sdk/compiler/damlc/tests/platform-independence.dar-hash
  sdk/daml-lf/archive/src/main/protobuf/com/digitalasset/daml/lf/archive/daml_lf2.proto
  sdk/daml-lf/encoder/src/test/lf/Builtin_2.1_.lf
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
  sdk/daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/upgrade/UpgradesSpecBase.scala
  sdk/docs/sharable/hoogle/daml-base-hoogle.txt
  sdk/docs/sharable/sdk/reference/daml/stdlib/DA-Crypto-Text.rst
Owners: @digital-asset/daml-language

fmt
  sdk/daml-assistant/daml-helper/BUILD.bazel
Owners: @digital-asset/daml-language

add comments
  sdk/libs-haskell/ledger-api-pb/README.md
  sdk/libs-haskell/ledger-api-pb/src/protobuf/com/daml/ledger/api/v2/admin/object_meta.proto
  sdk/libs-haskell/ledger-api-pb/src/protobuf/com/daml/ledger/api/v2/admin/package_management_service.proto
  sdk/libs-haskell/ledger-api-pb/src/protobuf/com/daml/ledger/api/v2/admin/party_management_service.proto
  sdk/libs-haskell/ledger-api-pb/src/protobuf/com/daml/ledger/api/v2/admin/user_management_service.proto
  sdk/libs-haskell/ledger-api-pb/src/protobuf/com/daml/ledger/api/v2/package_service.proto
Owners: @digital-asset/daml-language

docs: Remove some legacy docs infrastructure that is no longer needed. (#21972)
  sdk/deps.bzl
  sdk/docs/BUILD.bazel
  sdk/docs/error.html
  sdk/docs/redirect_template.html
  sdk/docs/redirects.map
Owners: none

Backport of #21967
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  sdk/compiler/damlc/tests/platform-independence.dar-hash
  sdk/daml-lf/archive/src/main/protobuf/com/digitalasset/daml/lf/archive/daml_lf2.proto
  sdk/daml-lf/encoder/src/test/lf/Builtin_2.1_.lf
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
  sdk/docs/sharable/sdk/reference/daml/stdlib/DA-Crypto-Text.rst
Owners: @digital-asset/daml-language

Roger/fix remysyntax imports (#21965)
  sdk/daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/EncodeV2.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/UpgradesMatrix.scala
  sdk/security-evidence.md
Owners: none

implement validation and contract hashing in Engine
  sdk/canton/community/common/src/main/scala/com/digitalasset/canton/util/LfContractValidation.scala
  sdk/compiler/script-service/server/src/main/scala/com/digitalasset/daml/lf/script/Conversions.scala
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ContractValidation.scala
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ContractValidationSpec.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ValidateContractInstanceSpec.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/interpretation/Error.scala
Owners: @digital-asset/daml-language

add tests for hashCreateNode and validateContractInstance
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/HashCreateNodeSpec.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ValidateContractInstanceSpec.scala
Owners: none

Remove redundant ContractValidation.scala
  sdk/canton/community/common/src/main/scala/com/digitalasset/canton/util/ContractValidator.scala
  sdk/canton/community/common/src/main/scala/com/digitalasset/canton/util/LfContractValidation.scala
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ContractValidation.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ContractValidationSpec.scala
Owners: none

Get haskellpb rule working
  sdk/canton/BUILD.bazel
  sdk/canton/community/ledger-api/src/main/protobuf/com/daml/ledger/api/v2/interactive/interactive_submission_service.proto
Owners: none

typo in date
  sdk/libs-haskell/ledger-api-pb/README.md
  sdk/libs-haskell/ledger-api-pb/src/protobuf/com/daml/ledger/api/v2/admin/object_meta.proto
  sdk/libs-haskell/ledger-api-pb/src/protobuf/com/daml/ledger/api/v2/admin/package_management_service.proto
  sdk/libs-haskell/ledger-api-pb/src/protobuf/com/daml/ledger/api/v2/admin/party_management_service.proto
  sdk/libs-haskell/ledger-api-pb/src/protobuf/com/daml/ledger/api/v2/admin/user_management_service.proto
  sdk/libs-haskell/ledger-api-pb/src/protobuf/com/daml/ledger/api/v2/package_service.proto
Owners: @digital-asset/daml-language

Freeze ledger-api proto files used by Haskell (#21971)
  sdk/3rdparty/haskell/BUILD.bazel
  sdk/canton/BUILD.bazel
  sdk/daml-assistant/daml-helper/BUILD.bazel
  sdk/language-support/hs/bindings/BUILD.bazel
  sdk/language-support/hs/bindings/export-package.sh
  sdk/libs-haskell/ledger-api-pb/BUILD.bazel
  sdk/libs-haskell/ledger-api-pb/README.md
  sdk/libs-haskell/ledger-api-pb/src/protobuf/com/daml/ledger/api/v2/admin/object_meta.proto
  sdk/libs-haskell/ledger-api-pb/src/protobuf/com/daml/ledger/api/v2/admin/package_management_service.proto
  sdk/libs-haskell/ledger-api-pb/src/protobuf/com/daml/ledger/api/v2/admin/party_management_service.proto
  sdk/libs-haskell/ledger-api-pb/src/protobuf/com/daml/ledger/api/v2/admin/user_management_service.proto
  sdk/libs-haskell/ledger-api-pb/src/protobuf/com/daml/ledger/api/v2/package_service.proto
Owners: @digital-asset/daml-language

Freeze ledger-api proto files used by Haskell
  sdk/3rdparty/haskell/BUILD.bazel
  sdk/canton/BUILD.bazel
  sdk/daml-assistant/daml-helper/BUILD.bazel
  sdk/language-support/hs/bindings/BUILD.bazel
  sdk/language-support/hs/bindings/export-package.sh
  sdk/libs-haskell/ledger-api-pb/BUILD.bazel
  sdk/libs-haskell/ledger-api-pb/README.md
  sdk/libs-haskell/ledger-api-pb/src/protobuf/com/daml/ledger/api/v2/admin/object_meta.proto
  sdk/libs-haskell/ledger-api-pb/src/protobuf/com/daml/ledger/api/v2/admin/package_management_service.proto
  sdk/libs-haskell/ledger-api-pb/src/protobuf/com/daml/ledger/api/v2/admin/party_management_service.proto
  sdk/libs-haskell/ledger-api-pb/src/protobuf/com/daml/ledger/api/v2/admin/user_management_service.proto
  sdk/libs-haskell/ledger-api-pb/src/protobuf/com/daml/ledger/api/v2/package_reference.proto
  sdk/libs-haskell/ledger-api-pb/src/protobuf/com/daml/ledger/api/v2/package_service.proto
Owners: @digital-asset/daml-language

fix
  sdk/canton/BUILD.bazel
  sdk/canton/community/ledger/ledger-json-api/src/main/scala/com/digitalasset/canton/http/json/v2/CirceRelaxedCodec.scala
Owners: none

fmt
  sdk/canton/BUILD.bazel
Owners: none

fix
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Converter.scala
Owners: none

fmt
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Converter.scala
Owners: none

remove default PR description
  .github/pull_request_template.md
Owners: none

Freeze ledger-api proto files used by Haskell (#21976)
  sdk/3rdparty/haskell/BUILD.bazel
  sdk/canton/BUILD.bazel
  sdk/daml-assistant/daml-helper/BUILD.bazel
  sdk/language-support/hs/bindings/BUILD.bazel
  sdk/language-support/hs/bindings/export-package.sh
  sdk/libs-haskell/ledger-api-pb/BUILD.bazel
  sdk/libs-haskell/ledger-api-pb/README.md
  sdk/libs-haskell/ledger-api-pb/src/protobuf/com/daml/ledger/api/v2/admin/object_meta.proto
  sdk/libs-haskell/ledger-api-pb/src/protobuf/com/daml/ledger/api/v2/admin/package_management_service.proto
  sdk/libs-haskell/ledger-api-pb/src/protobuf/com/daml/ledger/api/v2/admin/party_management_service.proto
  sdk/libs-haskell/ledger-api-pb/src/protobuf/com/daml/ledger/api/v2/admin/user_management_service.proto
  sdk/libs-haskell/ledger-api-pb/src/protobuf/com/daml/ledger/api/v2/package_reference.proto
  sdk/libs-haskell/ledger-api-pb/src/protobuf/com/daml/ledger/api/v2/package_service.proto
Owners: @digital-asset/daml-language

remove default PR description (#21979)
  .github/pull_request_template.md
Owners: none

community_synchronizer
  sdk/canton/BUILD.bazel
  sdk/canton/community/synchronizer/src/main/scala/com/digitalasset/canton/synchronizer/sequencer/block/bftordering/core/BftBlockOrdererConfig.scala
Owners: none

community_base
  sdk/bazel-java-deps.bzl
  sdk/canton/BUILD.bazel
  sdk/canton/community/ledger/ledger-common/src/main/scala/com/digitalasset/canton/ledger/client/LedgerClient.scala
  sdk/maven_install_2.13.json
Owners: @digital-asset/daml-release-owners

for21958 fix
  ci/prs.yml
Owners: @digital-asset/daml-language

for21958
  ci/build.yml
  ci/prs.yml
Owners: @digital-asset/daml-language

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

sdk/bazel-java-deps.bzl @digital-asset/daml-release-owners

CODEOWNERS   @dylant-da @paulbrauner-da @remyhaemmerle-da 
/sdk/LATEST @digital-asset/daml-release-owners

# Build / CI / environment
/ci/                   @digital-asset/daml-language
/sdk/dev-env/          @digital-asset/daml-language
/sdk/nix/              @digital-asset/daml-language
azure-pipelines.yml    @digital-asset/daml-language
azure-cron.yml         @digital-asset/daml-language
sdk/release/           @digital-asset/daml-language
sdk/release.sh         @digital-asset/daml-language

# Blackduck
/sdk/NOTICES

# Compatibility test
/sdk/compatibility/     @digital-asset/daml-language @digital-asset/kv-participant

# Language
/sdk/daml-assistant/    @digital-asset/daml-language
/sdk/daml-script/       
/sdk/compiler/          @digital-asset/daml-language
/sdk/libs-haskell/      @digital-asset/daml-language
/sdk/ghc-lib/           @digital-asset/daml-language
/sdk/test-common/canton/ 

# Runtime
/sdk/daml-lf/ 


# Ecosystems
/sdk/language-support/hs/       @digital-asset/daml-language
/sdk/language-support/java/     
/sdk/language-support/scala/    
/sdk/language-support/ts/       

# Application Runtime
/sdk/ledger-service/
/sdk/runtime-components/ 

# Misc
/sdk/docs/ 
/sdk/libs-scala/

# Observability related libraries
/sdk/observability
