Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @gerolf-da, @cocreature, @bame-da, @garyverhaegen-da, @aherrmann-da, @dasormeter, @sofiafaro-da, @stefanobaghino-da, @remyhaemmerle-da, @S11001001, @miklos-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da, @fabiotudone-da, @SamirTalwar-DA, @nickchapman-da, @robin-da, @nemanja-da

remove 2x 8020 todo tags (#9868)
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/NormalizeRollbacksSpec.scala
Owners: @cocreature

Make data-deps exception tests version-aware.
  compiler/damlc/tests/src/DA/Test/DataDependencies.hs
Owners: @cocreature

Review feedback
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/CidContainer.scala
Owners: @remyhaemmerle-da

Daml-lf suffixCid ignores V0 contract ids rather than erroring
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/CidContainer.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/Value.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionSpec.scala
Owners: @remyhaemmerle-da

qualify everything
  compiler/damlc/tests/src/DA/Test/DataDependencies.hs
Owners: @cocreature

typo
  compiler/damlc/tests/src/DA/Test/DataDependencies.hs
Owners: @cocreature

resources: Only mutate test mock objects inside `synchronized` blocks. (#9869)
  libs-scala/resources/src/test/suite/scala/com/digitalasset/resources/ResourceOwnerSpec.scala
Owners: @stefanobaghino-da, @SamirTalwar-DA

Adda test for an unhandled builtin exception to ExceptionTest.scala (#9866)
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ExceptionTest.scala
Owners: @cocreature

Add tests for decoding of UpdateTryCatch (#9865)
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV1Spec.scala
Owners: @remyhaemmerle-da

Make data-deps exception tests version-aware. (#9870)
  compiler/damlc/tests/src/DA/Test/DataDependencies.hs
Owners: @cocreature

Implemented JdbcLedgerDaoTransactionLogUpdatesSpec
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoTransactionLogUpdatesSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/dao/JdbcLedgerDaoPostgresqlAppendOnlySpec.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Daml-lf suffixCid ignores V0 contract ids rather than erroring (#9867)
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/CidContainer.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/Value.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionSpec.scala
Owners: @remyhaemmerle-da

ledger-api-bench-tool: Completions stream
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/Cli.scala
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/Config.scala
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/LedgerApiBenchTool.scala
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/metrics/MetricsSet.scala
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/services/ActiveContractsService.scala
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/services/CommandCompletionService.scala
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/services/TransactionService.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

TODO Cleanup: postgre-batching
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PGField.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PGSchema.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PGTable.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PostgresDbBatch.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PostgresStorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/RawDBBatchPostgreSQLV1.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Baseline Postgres version of append only schema
  ledger/participant-integration-api/src/main/resources/db/migration/oracle/V100_0__Append_only_schema.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/oracle/V100_0__Append_only_schema.sql
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

WIP : oracle on new appendonly schema
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/JdbcLedgerDao.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/ContractsReader.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/SqlFunctions.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/StorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/oracle/OracleStorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/oracle/RawDBBatchOracleV1.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoBackendOracleAppendOnly.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/dao/JdbcLedgerDaoOracleAppendOnlySpec.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Use createOracleArray over createARRAY which returns deprecated ARRAY type
  ledger/participant-integration-api/src/main/scala/platform/store/Conversions.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Oracle compliant append only schema
  ledger/participant-integration-api/src/main/resources/db/migration/oracle/V100_0__Append_only_schema.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/oracle/V100_0__Append_only_schema.sql
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Fix the notion of transaction equivalence in the ledger model for exceptions. (#9850)
  docs/source/concepts/ledger-model/ledger-exceptions.rst
Owners: @bame-da, @nemanja-da

CHANGELOG_BEGIN Add metrics counting the elements in transaction, transaction-tree, completion and acs streams CHANGELOG_END
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/ApiServices.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiActiveContractsService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiCommandCompletionService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/transaction/ApiTransactionService.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

format scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiActiveContractsService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/ApiCommandCompletionService.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/transaction/ApiTransactionService.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Try to unflake JSON API failure tests (#9855)
  ledger-service/http-json/src/failure/resources/application.conf
Owners: @S11001001, @cocreature, @stefanobaghino-da

Cleanup/refactoring postgres-batching
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PGField.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PGSchema.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PGTable.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PostgresDbBatch.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

correct a few compilation errors
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/JdbcLedgerDao.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Add runtime check of input to prevent string-array serialisation issues
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PGField.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

rebuild maven pins
  maven_install_2.12.json
  maven_install_2.13.json
Owners: none

further invariant \/
  extractor/src/main/scala/com/digitalasset/extractor/ledger/types/TransactionTree.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/CodeGen.scala
  ledger-service/http-json-ledger-client/src/main/scala/com/daml/http/LedgerClientBase.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsFetch.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebsocketEndpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/domain.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/DomainJsonDecoder.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/JsonProtocol.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/query/ValuePredicate.scala
Owners: @S11001001, @stefanobaghino-da, @cocreature

EitherT params were swapped
  ledger-service/http-json/src/main/scala/com/digitalasset/http/CommandService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/PartiesService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/util/FutureUtil.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

import disambiguation
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ScriptF.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ledgerinteraction/GrpcLedgerClient.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/CodeGen.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/domain.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/query/ValuePredicate.scala
Owners: @cocreature, @aherrmann-da, @stefanobaghino-da, @S11001001

OneAnd and Nel interface changes
  ledger-service/http-json/src/main/scala/com/digitalasset/http/PartiesService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/dbbackend/ContractDao.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/query/ValuePredicate.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/util/Collections.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

further Either games
  extractor/src/main/scala/com/digitalasset/extractor/ledger/types/Event.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/PartiesService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebsocketEndpoints.scala
  libs-scala/scala-utils/src/main/scala/com/daml/scalautil/WidenEither.scala
Owners: @S11001001, @stefanobaghino-da, @cocreature

toValidation
  extractor/src/main/scala/com/digitalasset/extractor/ledger/types/LedgerValue.scala
  extractor/src/main/scala/com/digitalasset/extractor/ledger/types/RecordField.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/CodeGen.scala
Owners: @S11001001, @stefanobaghino-da, @cocreature

others
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ledgerinteraction/GrpcLedgerClient.scala
  extractor/src/main/scala/com/digitalasset/extractor/ledger/types/LedgerValue.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/CodeGen.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/Main.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/lf/DamlDataTypeGen.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/lf/UsedTypeParams.scala
  language-support/scala/codegen/src/test/scala/com/digitalasset/codegen/lf/LFUtilSpec.scala
  language-support/scala/codegen/src/test/scala/com/digitalasset/codegen/types/NamespaceSpec.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
Owners: @cocreature, @aherrmann-da, @stefanobaghino-da, @S11001001

\/ and reformatting
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
  extractor/src/main/scala/com/digitalasset/extractor/ledger/types/LedgerValue.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/Main.scala
  language-support/scala/codegen/src/main/scala/com/digitalasset/codegen/lf/DamlDataTypeGen.scala
  language-support/scala/codegen/src/test/scala/com/digitalasset/codegen/lf/LFUtilSpec.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
  libs-scala/scala-utils/src/main/scala/com/daml/scalautil/WidenEither.scala
Owners: @cocreature, @aherrmann-da, @stefanobaghino-da, @S11001001

release 1.14.0-snapshot.20210601.7081.0.7d716e6d
  LATEST
Owners: @gerolf-da, @bame-da, @cocreature

rotate release duty after 1.14.0-snapshot.20210601.7081.0.7d716e6d
  release/rotation
Owners: none

introduce CompletionInfo and submissionTime for rejectSubmission
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/CompletionInfo.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/ReadService.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/SubmissionContext.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/Update.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/WriteService.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Bump urllib3 to address dependabot warning
  docs/scripts/Pipfile
  docs/scripts/Pipfile.lock
Owners: @bame-da, @nemanja-da

Renamed project:DABL to Dam Hub in the deployments section (#9843)
  docs/source/deploy/index.rst
Owners: @bame-da, @nemanja-da

rename DeduplicationWindow to DeduplicationPeriod
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/CompletionInfo.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/DeduplicationPeriod.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

CODEOWNERS   @gerolf-da @cocreature
LATEST       @gerolf-da @bame-da @cocreature

# Build / CI / environment
/ci/                @garyverhaegen-da
/dev-env/           @garyverhaegen-da
/nix/               @garyverhaegen-da
/infra/             @garyverhaegen-da
azure-pipelines.yml @garyverhaegen-da
azure-cron.yml      @garyverhaegen-da

# Blackduck
NOTICES     @garyverhaegen-da @aherrmann-da @cocreature @dasormeter

# Language
/compiler/           @cocreature
/libs-haskell/       @cocreature
/daml-assistant/    @sofiafaro-da  @cocreature
/daml-script/       @cocreature  @aherrmann-da @stefanobaghino-da
/triggers/          @cocreature  @aherrmann-da @stefanobaghino-da
/ghc-lib/           @cocreature
/compatibility/     @garyverhaegen-da @aherrmann-da @cocreature

# Runtime
/daml-lf/ @remyhaemmerle-da
/daml-lf/archive/da/ @cocreature
/daml-lf/data-scalacheck/ @S11001001 @cocreature
/daml-lf/engine/ @cocreature
/daml-lf/governance.rst
/daml-lf/interpreter/ @cocreature
/daml-lf/kv-transaction-support/ @cocreature @gerolf-da @miklos-da
/daml-lf/repl/ @cocreature
/daml-lf/scenario-interpreter/  @cocreature
/daml-lf/spec/daml-lf-1.rst @cocreature
/daml-lf/spec/transaction.rst @cocreature
/daml-lf/spec/value.rst @cocreature
/daml-lf/transaction-test-lib/ @S11001001 @cocreature
/daml-lf/transaction/src/main/scala/com/daml/lf/transaction/ @cocreature
/daml-lf/transaction/src/main/scala/com/daml/lf/value/ @cocreature
/daml-lf/validation/ @cocreature

/ledger-service/    @S11001001 @cocreature @stefanobaghino-da

/ledger/      @gerolf-da @mziolekda @nmarton-da @rautenrieth-da @tudor-da
/ledger-api/  @gerolf-da @mziolekda @nmarton-da @rautenrieth-da @tudor-da

/ledger/participant-state/kvutils/ @fabiotudone-da @gerolf-da @miklos-da @SamirTalwar-DA

/runtime-components/    @stefanobaghino-da @cocreature

# Ecosystems
/language-support/hs/       @nickchapman-da
/language-support/java/     @cocreature @stefanobaghino-da
/language-support/scala/    @S11001001 @cocreature @stefanobaghino-da
/language-support/ts/        @robin-da @cocreature @garyverhaegen-da @stefanobaghino-da

# Tools
/extractor/         @S11001001 @stefanobaghino-da
/navigator/         @cocreature @stefanobaghino-da
/navigator/backend/src/main/scala/com/digitalasset/navigator/json/    @S11001001

# Misc
/docs/              @bame-da @nemanja-da
/libs-scala/        @stefanobaghino-da @SamirTalwar-DA
/libs-scala/contextualized-logging/    @S11001001
/libs-scala/scala-utils/    @S11001001
/libs-scala/scalatest-utils/    @S11001001
