Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @gerolf-da, @cocreature, @bame-da, @garyverhaegen-da, @aherrmann-da, @dasormeter, @sofiafaro-da, @stefanobaghino-da, @remyhaemmerle-da, @S11001001, @miklos-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da, @fabiotudone-da, @SamirTalwar-DA, @nickchapman-da, @robin-da, @nemanja-da

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

CODEOWNERS   @gerolf-da @cocreature
LATEST       @gerolf-da @bame-da @cocreature

# Build / CI / environment
/ci/                @garyverhaegen-da
/dev-env/           @garyverhaegen-da
/nix/               @garyverhaegen-da
/infra/             @garyverhaegen-da
azure-pipelines.yml @garyverhaegen-da
azure-cron.yml      @garyverhaegen-da

# Blackduck
NOTICES     @garyverhaegen-da @aherrmann-da @cocreature @dasormeter

# Language
/compiler/           @cocreature
/libs-haskell/       @cocreature
/daml-assistant/    @sofiafaro-da  @cocreature
/daml-script/       @cocreature  @aherrmann-da @stefanobaghino-da
/triggers/          @cocreature  @aherrmann-da @stefanobaghino-da
/ghc-lib/           @cocreature
/compatibility/     @garyverhaegen-da @aherrmann-da @cocreature

# Runtime
/daml-lf/ @remyhaemmerle-da
/daml-lf/archive/da/ @cocreature
/daml-lf/data-scalacheck/ @S11001001 @cocreature
/daml-lf/engine/ @cocreature
/daml-lf/governance.rst
/daml-lf/interpreter/ @cocreature
/daml-lf/kv-transaction-support/ @cocreature @gerolf-da @miklos-da
/daml-lf/repl/ @cocreature
/daml-lf/scenario-interpreter/  @cocreature
/daml-lf/spec/daml-lf-1.rst @cocreature
/daml-lf/spec/transaction.rst @cocreature
/daml-lf/spec/value.rst @cocreature
/daml-lf/transaction-test-lib/ @S11001001 @cocreature
/daml-lf/transaction/src/main/scala/com/daml/lf/transaction/ @cocreature
/daml-lf/transaction/src/main/scala/com/daml/lf/value/ @cocreature
/daml-lf/validation/ @cocreature

/ledger-service/    @S11001001 @cocreature @stefanobaghino-da

/ledger/      @gerolf-da @mziolekda @nmarton-da @rautenrieth-da @tudor-da
/ledger-api/  @gerolf-da @mziolekda @nmarton-da @rautenrieth-da @tudor-da

/ledger/participant-state/kvutils/ @fabiotudone-da @gerolf-da @miklos-da @SamirTalwar-DA

/runtime-components/    @stefanobaghino-da @cocreature

# Ecosystems
/language-support/hs/       @nickchapman-da
/language-support/java/     @cocreature @stefanobaghino-da
/language-support/scala/    @S11001001 @cocreature @stefanobaghino-da
/language-support/ts/        @robin-da @cocreature @garyverhaegen-da @stefanobaghino-da

# Tools
/extractor/         @S11001001 @stefanobaghino-da
/navigator/         @cocreature @stefanobaghino-da
/navigator/backend/src/main/scala/com/digitalasset/navigator/json/    @S11001001

# Misc
/docs/              @bame-da @nemanja-da
/libs-scala/        @stefanobaghino-da @SamirTalwar-DA
/libs-scala/contextualized-logging/    @S11001001
/libs-scala/scala-utils/    @S11001001
/libs-scala/scalatest-utils/    @S11001001

Only run sandbox(classic)? on postgres tests on Linx (#10178)
  compatibility/bazel_tools/testing.bzl
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature

restore print of job metadata (#10176)
  ci/upload-bazel-metrics.yml
Owners: @garyverhaegen-da

Ledger API: bump version for LF 1.14 (#10175)
  docs/source/support/compatibility.rst
  ledger-api/VERSION
Owners: @bame-da, @nemanja-da, @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Release SDK 1.15 RC
  LATEST
Owners: @gerolf-da, @bame-da, @cocreature

Apply suggestions from code review
  docs/source/app-dev/services.rst
Owners: @bame-da, @nemanja-da

Address Moritz's review
  compiler/damlc/tests/src/DA/Test/ScriptService.hs
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/TraceLog.scala
Owners: @cocreature

Release SDK 1.15 RC (#10182)
  LATEST
Owners: @gerolf-da, @bame-da, @cocreature

Rename traceLog.add to traceLog.addDebug
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/TraceLog.scala
Owners: @cocreature

Document how to run the Java codegen from the Daml assistant (#10181)
  docs/source/app-dev/bindings-java/codegen.rst
Owners: @bame-da, @nemanja-da

Addresses https://github.com/digital-asset/daml/pull/10180#discussion_r664001785
  docs/source/app-dev/services.rst
Owners: @bame-da, @nemanja-da

fix test
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/InterpreterTest.scala
Owners: @cocreature

update compat versions for 1.15.0-snapshot.20210705.7286.0.62aabcc4
  compatibility/versions.bzl
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature

Deduplicate Java codegen running instructions
  docs/source/app-dev/bindings-java/codegen.rst
Owners: @bame-da, @nemanja-da

[In-memory fan-out] Performance optimizations [DPP-470] (#10127)
  ledger/participant-integration-api/src/main/scala/platform/index/BuffersUpdater.scala
  ledger/participant-integration-api/src/main/scala/platform/index/ReadOnlySqlLedger.scala
  ledger/participant-integration-api/src/main/scala/platform/index/ReadOnlySqlLedgerWithMutableCache.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/BufferedTransactionsReader.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/TransactionLogUpdatesConversions.scala
  ledger/participant-integration-api/src/main/scala/platform/store/cache/MutableCacheBackedContractStore.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/index/BuffersUpdaterSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/cache/MutableCacheBackedContractStoreSpec.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Add test using exercise
  compiler/damlc/tests/src/DA/Test/ScriptService.hs
Owners: @cocreature

Testing for Validation.isReplayedBy
  daml-lf/transaction/BUILD.bazel
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/validation/ValidationSpec.scala
Owners: @remyhaemmerle-da

reduce noise in Scala bindings
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/services/commands/CommandTrackerFlow.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

val --> private def
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/validation/ValidationSpec.scala
Owners: @remyhaemmerle-da

def --> val
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/validation/ValidationSpec.scala
Owners: @remyhaemmerle-da

Update ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/services/commands/CommandTrackerFlow.scala
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/services/commands/CommandTrackerFlow.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

prefer fail to println/assert(false)
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/validation/ValidationSpec.scala
Owners: @remyhaemmerle-da

add single transaction test
  compiler/damlc/tests/src/DA/Test/ScriptService.hs
Owners: @cocreature

Tests for transaction validation (#10167)
  daml-lf/transaction/BUILD.bazel
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/validation/ValidationSpec.scala
Owners: @remyhaemmerle-da

Add divulgence warning and test in script service. (#10179)
  compiler/damlc/tests/src/DA/Test/ScriptService.hs
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/TraceLog.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/InterpreterTest.scala
Owners: @cocreature

Fix a typo in an exceptions example.
  docs/source/daml/code-snippets-dev/Exceptions.daml
Owners: @bame-da, @nemanja-da

add tar to dev-env (#10173)
  dev-env/bin/tar
Owners: @garyverhaegen-da

reduce noise in Scala bindings (#10187)
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/services/commands/CommandTrackerFlow.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Drop logging on CompletionSource
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/services/commands/CommandCompletionSource.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Fix a typo in an exceptions example. (#10188)
  docs/source/daml/code-snippets-dev/Exceptions.daml
Owners: @bame-da, @nemanja-da

add tar to dev-env (#10173) (#10189)
  dev-env/bin/tar
Owners: @garyverhaegen-da

release 1.14.1-snapshot.20210706.7133.0.8ec16e94
  LATEST
Owners: @gerolf-da, @bame-da, @cocreature

Print final report on graceful shutdown even if streams are not complete
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/metrics/MetricsManager.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Use PartialFunction for more concise code.
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/validation/ValidationSpec.scala
Owners: @remyhaemmerle-da

tweak to use guards
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/validation/ValidationSpec.scala
Owners: @remyhaemmerle-da

blind fix for 2.12
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/validation/ValidationSpec.scala
Owners: @remyhaemmerle-da

try fix 2.12 build
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/validation/ValidationSpec.scala
Owners: @remyhaemmerle-da

Drop logging on CompletionSource (#10190)
  ledger/ledger-api-client/src/main/scala/com/digitalasset/ledger/client/services/commands/CommandCompletionSource.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

release 1.14.1-snapshot.20210706.7133.0.8ec16e94 (#10186)
  LATEST
Owners: @gerolf-da, @bame-da, @cocreature

loose if-guard parens
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/validation/ValidationSpec.scala
Owners: @remyhaemmerle-da

fixes for 2.12 build (should actually work this time!)
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/validation/ValidationSpec.scala
Owners: @remyhaemmerle-da
