Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @digital-asset/daml-release-owners, @dylant-da, @paulbrauner-da, @remyhaemmerle-da, @digital-asset/daml-language, @digital-asset/kv-participant

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

sdk/bazel-java-deps.bzl @digital-asset/daml-release-owners

CODEOWNERS   @dylant-da @paulbrauner-da @remyhaemmerle-da 
/sdk/LATEST @digital-asset/daml-release-owners

# Build / CI / environment
/ci/                   @digital-asset/daml-language
/sdk/dev-env/          @digital-asset/daml-language
/sdk/nix/              @digital-asset/daml-language
azure-pipelines.yml    @digital-asset/daml-language
azure-cron.yml         @digital-asset/daml-language
sdk/release/           @digital-asset/daml-language
sdk/release.sh         @digital-asset/daml-language

# Blackduck
/sdk/NOTICES

# Compatibility test
/sdk/compatibility/     @digital-asset/daml-language @digital-asset/kv-participant

# Language
/sdk/daml-assistant/    @digital-asset/daml-language
/sdk/daml-script/       
/sdk/compiler/          @digital-asset/daml-language
/sdk/libs-haskell/      @digital-asset/daml-language
/sdk/ghc-lib/           @digital-asset/daml-language
/sdk/test-common/canton/ 

# Runtime
/sdk/daml-lf/ 


# Ecosystems
/sdk/language-support/hs/       @digital-asset/daml-language
/sdk/language-support/java/     
/sdk/language-support/scala/    
/sdk/language-support/ts/       

# Application Runtime
/sdk/ledger-service/
/sdk/runtime-components/ 

# Misc
/sdk/docs/ 
/sdk/libs-scala/

# Observability related libraries
/sdk/observability

Fix incorrect ContractId in SCU reference documentation
  sdk/docs/manually-written/sdk/reference/smart-contract-upgrades.rst
Owners: none

Improve DAML_HOME and TMPDIR documentation for installation
  sdk/docs/manually-written/sdk/component-howtos/smart-contracts/assistant.rst
Owners: none

Initial cost model (#21830)
  sdk/compiler/script-service/server/src/main/scala/com/digitalasset/daml/lf/script/Conversions.scala
  sdk/daml-lf/interpreter/bench/src/scala/com/digitalasset/daml/lf/speedy/Bench.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/CostModel.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltinFun.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SpeedyTestLib.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/TailCallTest.scala
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/interpretation/Error.scala
  sdk/security-evidence.md
Owners: @digital-asset/daml-language

Fix merge
  sdk/compiler/daml-lf-proto-decode/src/DA/Daml/LF/Proto3/DecodeV2.hs
  sdk/compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
Owners: @digital-asset/daml-language

SG19-5: Initial implementation (#21836)
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Base.hs
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Optics.hs
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Pretty.hs
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Util.hs
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  sdk/compiler/daml-lf-proto-decode/src/DA/Daml/LF/Proto3/DecodeV2.hs
  sdk/compiler/daml-lf-proto-encode/src/DA/Daml/LF/Proto3/EncodeV2.hs
  sdk/compiler/daml-lf-proto-util/src/DA/Daml/LF/Proto3/DerivingData.hs
  sdk/compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Dar.hs
  sdk/compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
  sdk/compiler/damlc/daml-lf-util/BUILD.bazel
  sdk/compiler/damlc/daml-lf-util/daml-lf-util.cabal
  sdk/compiler/damlc/daml-lf-util/src/DA/Daml/UtilLF.hs
  sdk/compiler/damlc/daml-rule-types/src/Development/IDE/Core/RuleTypes/Daml.hs
  sdk/compiler/damlc/stable-packages/lib/DA/Daml/StablePackages.hs
  sdk/compiler/damlc/tests/BUILD.bazel
  sdk/compiler/damlc/tests/platform-independence.dar-hash
  sdk/compiler/damlc/tests/src/DA/Test/GenerateSimpleDalf.hs
  sdk/compiler/script-service/client/src/DA/Daml/LF/ScriptServiceClient/LowLevel.hs
  sdk/daml-lf/archive/src/main/protobuf/com/digitalasset/daml/lf/archive/daml_lf2.proto
Owners: @digital-asset/daml-language

fix build
  sdk/canton/BUILD.bazel
Owners: none

Mandate pkg interning on haskell side
  sdk/compiler/daml-lf-proto-decode/src/DA/Daml/LF/Proto3/DecodeV2.hs
Owners: @digital-asset/daml-language

Initial implementation
  sdk/compiler/damlc/tests/BUILD.bazel
  sdk/compiler/damlc/tests/src/DA/Test/PackageImports.hs
Owners: @digital-asset/daml-language

main Snapshot Create a snapshot for [main](https://github.com/digital-asset/daml/commits/main/) at commit d91c46d8ec02b78dee968b3ed232a119854ff8b4
  sdk/LATEST
Owners: @digital-asset/daml-release-owners

main Snapshot (#21877)
  sdk/LATEST
Owners: @digital-asset/daml-release-owners

Disable outdated test for 2.dev
  sdk/compiler/damlc/tests/daml-test-files/InternedExternalRefs.daml
Owners: @digital-asset/daml-language

platform-independence.dar-hash
  sdk/compiler/damlc/tests/platform-independence.dar-hash
Owners: @digital-asset/daml-language

Enforce on scala side (this breaks scala encoder)
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV2.scala
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
Owners: none

do not rely on creation package in fetchTemplate
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltinFun.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/EvaluationOrderTest.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/UpgradeTest.scala
  sdk/daml-script/test/daml/upgrades/stable/PackageSelection.daml
  sdk/daml-script/test/daml/upgrades/stable/UnvettedPackages.daml
  sdk/security-evidence.md
Owners: none

pkg import table scala logic
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV2.scala
  sdk/daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/EncodeV2.scala
Owners: none

fallback mapping
  ci/report_flakes.py
Owners: @digital-asset/daml-language

SG19-5: property-based test (#21769)
  sdk/compiler/damlc/tests/BUILD.bazel
  sdk/compiler/damlc/tests/src/DA/Test/PackageImports.hs
Owners: @digital-asset/daml-language

test missing creation pacakge in speedy/UpgradeTest
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/UpgradeTest.scala
Owners: none

Temporarely normalize relative path, to fix
  sdk/compiler/daml-lf-proto-decode/src/DA/Daml/LF/Proto3/DecodeV2.hs
  sdk/compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
  sdk/compiler/damlc/tests/src/DA/Test/DataDependencies.hs
  sdk/compiler/script-service/client/src/DA/Daml/LF/ScriptServiceClient.hs
  sdk/compiler/script-service/client/src/DA/Daml/LF/ScriptServiceClient/LowLevel.hs
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV2.scala
  sdk/daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/EncodeV2.scala
Owners: @digital-asset/daml-language

Fix PackageImports
  sdk/compiler/damlc/tests/src/DA/Test/PackageImports.hs
Owners: @digital-asset/daml-language

Next iteration on the cost model
  sdk/bazel-java-deps.bzl
  sdk/daml-lf/interpreter/BUILD.bazel
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/CostModel.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltinFun.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/CostModelTest.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/TailCallTest.scala
  sdk/maven_install_2.13.json
Owners: @digital-asset/daml-release-owners

address Carl's review
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/CostModel.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/CostModelTest.scala
Owners: none

address more of Carl's review
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/CostModelTest.scala
Owners: none

Initial idea, to test
  sdk/.envrc
  sdk/shell.nix
Owners: none

remove redundant check in fetchTemplate
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltinFun.scala
Owners: none

read with bom
  ci/report_flakes.py
Owners: @digital-asset/daml-language

TS codegen produces interaces using pkg name rather than pkg id
  sdk/language-support/ts/codegen/src/TsCodeGenMain.hs
Owners: none

rotate release duty after 2025-09-10
  sdk/release/rotation
Owners: @digital-asset/daml-language

enforce strictly ordered genmaps in importValue
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ValueTranslator.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SValueTest.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ValueTranslatorSpec.scala
Owners: none

update canton to 20250910.16876.v0aa05983
  sdk/canton/community/app/src/pack/examples/13-observability/canton/network.conf
  sdk/canton/community/app/src/pack/examples/13-observability/docker-compose-observability.yml
  sdk/canton/community/app/src/test/daml/CantonLfDev/daml.yaml
  sdk/canton/community/app/src/test/daml/CantonLfV21/daml.yaml
  sdk/canton/community/app/src/test/daml/CantonTest/daml.yaml
  sdk/canton/community/app/src/test/daml/CantonTestDev/daml.yaml
  sdk/canton/community/app/src/test/daml/JsonApiTest/Account/daml.yaml
  sdk/canton/community/app/src/test/daml/JsonApiTest/CIou/daml.yaml
  sdk/canton/community/app/src/test/daml/JsonApiTest/Upgrades/V1/daml.yaml
  sdk/canton/community/app/src/test/daml/JsonApiTest/Upgrades/V2/daml.yaml
  sdk/canton/community/app/src/test/daml/JsonApiTest/User/daml.yaml
  sdk/canton/community/common/src/main/daml/CantonExamples/daml.yaml
  sdk/canton/community/demo/src/main/daml/ai-analysis/daml.yaml
  sdk/canton/community/demo/src/main/daml/bank/daml.yaml
  sdk/canton/community/demo/src/main/daml/doctor/daml.yaml
  sdk/canton/community/demo/src/main/daml/health-insurance/daml.yaml
  sdk/canton/community/demo/src/main/daml/medical-records/daml.yaml
  sdk/canton/community/integration-testing/src/main/scala/com/digitalasset/canton/integration/plugins/UseBftSequencer.scala
  sdk/canton/community/integration-testing/src/main/scala/com/digitalasset/canton/integration/plugins/UseLedgerApiTestTool.scala
  sdk/canton/community/ledger/ledger-common-dars/src/main/daml/carbonv1/daml.yaml
  sdk/canton/community/ledger/ledger-common-dars/src/main/daml/carbonv2/daml.yaml
  sdk/canton/community/ledger/ledger-common-dars/src/main/daml/experimental/daml.yaml
  sdk/canton/community/ledger/ledger-common-dars/src/main/daml/model/daml.yaml
  sdk/canton/community/ledger/ledger-common-dars/src/main/daml/model_iface/daml.yaml
  sdk/canton/community/ledger/ledger-common-dars/src/main/daml/ongoing_stream_package_upload/daml.yaml
  sdk/canton/community/ledger/ledger-common-dars/src/main/daml/package_management/daml.yaml
  sdk/canton/community/ledger/ledger-common-dars/src/main/daml/semantic/daml.yaml
  sdk/canton/community/ledger/ledger-common-dars/src/main/daml/upgrade/1.0.0/daml.yaml
  sdk/canton/community/ledger/ledger-common-dars/src/main/daml/upgrade/2.0.0/daml.yaml
  sdk/canton/community/ledger/ledger-common-dars/src/main/daml/upgrade/3.0.0/daml.yaml
  sdk/canton/community/ledger/ledger-common-dars/src/main/daml/upgrade_fetch/1.0.0/daml.yaml
  sdk/canton/community/ledger/ledger-common-dars/src/main/daml/upgrade_fetch/2.0.0/daml.yaml
  sdk/canton/community/ledger/ledger-common-dars/src/main/daml/upgrade_iface/daml.yaml
  sdk/canton/community/ledger/ledger-json-api/src/test/daml/damldefinitionsservice/dep/daml.yaml
  sdk/canton/community/ledger/ledger-json-api/src/test/daml/damldefinitionsservice/main/daml.yaml
  sdk/canton/community/ledger/ledger-json-api/src/test/daml/v2_1/daml.yaml
  sdk/canton/community/ledger/ledger-json-api/src/test/daml/v2_dev/daml.yaml
  sdk/canton/community/participant/src/main/daml/AdminWorkflows/daml.yaml
  sdk/canton/community/participant/src/main/daml/PartyReplication/daml.yaml
  sdk/canton/ref
Owners: none

finalizing
  ci/report-flakes.yml
  ci/report_flakes.py
  sdk/build.ps1
  sdk/ci/remap-scala-test-short-names.ps1
Owners: @digital-asset/daml-language

a bit more
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/CostModel.scala
Owners: none

DPM Codegen integration (#21848)
  ci/copy-unix-release-artifacts.sh
  ci/copy-windows-release-artifacts.sh
  ci/publish-oci.sh
  sdk/compiler/damlc/lib/DA/Cli/Damlc.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc/Command/MultiIde/SdkInstall.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc/Command/MultiIde/SubIdeManagement.hs
  sdk/compiler/damlc/tests/BUILD.bazel
  sdk/compiler/damlc/tests/src/CliParser.hs
  sdk/compiler/damlc/tests/src/DamlcPkgManager.hs
  sdk/daml-assistant/daml-helper/BUILD.bazel
  sdk/daml-assistant/daml-helper/src/DA/Daml/Helper/Codegen.hs
  sdk/daml-assistant/daml-helper/test/DA/Daml/Helper/Test/Deployment.hs
  sdk/daml-assistant/daml-project-config/DA/Daml/Project/Consts.hs
  sdk/daml-assistant/integration-tests/BUILD.bazel
  sdk/daml-assistant/integration-tests/src/DA/Daml/Assistant/QuickstartTests.hs
  sdk/daml-assistant/scala-daml-project-config/src/main/scala/com/daml/assistant/config/ProjectConfig.scala
  sdk/daml-assistant/src/DA/Daml/Assistant/Env.hs
  sdk/daml-assistant/test/DA/Daml/Assistant/Tests.hs
  sdk/language-support/codegen-common/src/main/scala/com/digitalasset/daml/lf/codegen/conf/Conf.scala
  sdk/language-support/codegen-main/BUILD.bazel
  sdk/language-support/codegen-main/component.yaml
  sdk/language-support/codegen-main/src/main/scala/com/daml/codegen/CodegenMain.scala
  sdk/language-support/java/codegen/BUILD.bazel
  sdk/language-support/ts/codegen/BUILD.bazel
  sdk/language-support/ts/codegen/component.yaml
  sdk/language-support/ts/codegen/src/TsCodeGenMain.hs
Owners: @digital-asset/daml-language

ProjectOpts -> PackageLocationOpts
  sdk/compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
  sdk/compiler/damlc/daml-opts/daml-opts-types/DA/Daml/Options/Packaging/Metadata.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc/Packaging.hs
  sdk/compiler/damlc/lib/DA/Cli/Options.hs
  sdk/daml-assistant/daml-helper/src/DA/Daml/Helper/Init.hs
  sdk/language-support/ts/codegen/tests/src/DA/Test/Daml2js.hs
Owners: @digital-asset/daml-language

projectOpts -> packageLocationOpts
  sdk/compiler/damlc/lib/DA/Cli/Damlc.hs
  sdk/compiler/damlc/lib/DA/Cli/Options.hs
Owners: @digital-asset/daml-language

"project" -> "package"
  sdk/compiler/damlc/daml-package-config/src/DA/Daml/Package/Config.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc/Command/MultiIde/Util.hs
  sdk/compiler/damlc/tests/src/DA/Test/DamlcMultiPackage.hs
  sdk/daml-assistant/daml-project-config/DA/Daml/Project/Config.hs
  sdk/daml-assistant/src/DA/Daml/Assistant/Install.hs
  sdk/daml-assistant/src/DA/Daml/Assistant/Version.hs
  sdk/daml-assistant/test/DA/Daml/Assistant/Tests.hs
  sdk/language-support/ts/codegen/tests/src/DA/Test/Daml2js.hs
Owners: @digital-asset/daml-language

Replace project-root with package-root, implement fallback for compatibility
  sdk/compiler/damlc/ide-debug-driver/src/IdeDebugDriver.hs
  sdk/compiler/damlc/lib/DA/Cli/Options.hs
  sdk/compiler/damlc/tests/src/DA/Test/DamlcUpgrades.hs
  sdk/compiler/damlc/tests/src/DA/Test/DataDependencies.hs
  sdk/compiler/damlc/tests/src/DA/Test/IncrementalBuilds.hs
  sdk/compiler/damlc/tests/src/DA/Test/IncrementalPackageDb.hs
  sdk/compiler/damlc/tests/src/DA/Test/Packaging.hs
  sdk/compiler/damlc/tests/src/DA/Test/ScriptService.hs
  sdk/compiler/damlc/tests/src/DamlcTest.hs
Owners: @digital-asset/daml-language

projectPathM -> mPackagePath, projectInstall -> packageInstall
  sdk/compiler/damlc/lib/DA/Cli/Damlc/Command/MultiIde/SdkInstall.hs
  sdk/daml-assistant/daml-helper/src/DA/Daml/Helper/Studio.hs
  sdk/daml-assistant/exe/DA/Daml/Assistant.hs
  sdk/daml-assistant/src/DA/Daml/Assistant/Env.hs
  sdk/daml-assistant/src/DA/Daml/Assistant/Install.hs
Owners: @digital-asset/daml-language

getUnresolvedReleaseVersionFromProjectPath -> getUnresolvedReleaseVersionFromPackagePath, getSdkVersionFromProjectPath -> getSdkVersionFromPackagePath,
  sdk/daml-assistant/exe/DA/Daml/Assistant.hs
  sdk/daml-assistant/src/DA/Daml/Assistant/Env.hs
  sdk/daml-assistant/src/DA/Daml/Assistant/Version.hs
Owners: @digital-asset/daml-language

mbProjectRoot -> mPackageRoot, mProjectPath -> mPackagePath, projRoot -> packageRoot
  sdk/compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
  sdk/compiler/damlc/daml-opts/daml-opts-types/DA/Daml/Options/Types.hs
  sdk/compiler/damlc/daml-opts/daml-opts/DA/Daml/Options.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc/DependencyDb.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc/Packaging.hs
Owners: @digital-asset/daml-language
