Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @gerolf-da, @cocreature, @bame-da, @garyverhaegen-da, @aherrmann-da, @dasormeter, @sofiafaro-da, @stefanobaghino-da, @remyhaemmerle-da, @S11001001, @miklos-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da, @fabiotudone-da, @SamirTalwar-DA, @nickchapman-da, @robin-da, @nemanja-da

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

CODEOWNERS   @gerolf-da @cocreature
LATEST       @gerolf-da @bame-da @cocreature

# Build / CI / environment
/ci/                @garyverhaegen-da
/dev-env/           @garyverhaegen-da
/nix/               @garyverhaegen-da
/infra/             @garyverhaegen-da
azure-pipelines.yml @garyverhaegen-da
azure-cron.yml      @garyverhaegen-da

# Blackduck
NOTICES     @garyverhaegen-da @aherrmann-da @cocreature @dasormeter

# Language
/compiler/           @cocreature
/libs-haskell/       @cocreature
/daml-assistant/    @sofiafaro-da  @cocreature
/daml-script/       @cocreature  @aherrmann-da @stefanobaghino-da
/triggers/          @cocreature  @aherrmann-da @stefanobaghino-da
/ghc-lib/           @cocreature
/compatibility/     @garyverhaegen-da @aherrmann-da @cocreature

# Runtime
/daml-lf/ @remyhaemmerle-da
/daml-lf/archive/da/ @cocreature
/daml-lf/data-scalacheck/ @S11001001 @cocreature
/daml-lf/engine/ @cocreature
/daml-lf/governance.rst
/daml-lf/interpreter/ @cocreature
/daml-lf/kv-transaction-support/ @cocreature @gerolf-da @miklos-da
/daml-lf/repl/ @cocreature
/daml-lf/scenario-interpreter/  @cocreature
/daml-lf/spec/daml-lf-1.rst @cocreature
/daml-lf/spec/transaction.rst @cocreature
/daml-lf/spec/value.rst @cocreature
/daml-lf/transaction-test-lib/ @S11001001 @cocreature
/daml-lf/transaction/src/main/scala/com/daml/lf/transaction/ @cocreature
/daml-lf/transaction/src/main/scala/com/daml/lf/value/ @cocreature
/daml-lf/validation/ @cocreature

/ledger-service/    @S11001001 @cocreature @stefanobaghino-da

/ledger/      @gerolf-da @mziolekda @nmarton-da @rautenrieth-da @tudor-da
/ledger-api/  @gerolf-da @mziolekda @nmarton-da @rautenrieth-da @tudor-da

/ledger/participant-state/kvutils/ @fabiotudone-da @gerolf-da @miklos-da @SamirTalwar-DA

/runtime-components/    @stefanobaghino-da @cocreature

# Ecosystems
/language-support/hs/       @nickchapman-da
/language-support/java/     @cocreature @stefanobaghino-da
/language-support/scala/    @S11001001 @cocreature @stefanobaghino-da
/language-support/ts/        @robin-da @cocreature @garyverhaegen-da @stefanobaghino-da

# Tools
/extractor/         @S11001001 @stefanobaghino-da
/navigator/         @cocreature @stefanobaghino-da
/navigator/backend/src/main/scala/com/digitalasset/navigator/json/    @S11001001

# Misc
/docs/              @bame-da @nemanja-da
/libs-scala/        @stefanobaghino-da @SamirTalwar-DA
/libs-scala/contextualized-logging/    @S11001001
/libs-scala/scala-utils/    @S11001001
/libs-scala/scalatest-utils/    @S11001001

Use PartialFunction for more concise code. (#10191)
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/validation/ValidationSpec.scala
Owners: @remyhaemmerle-da

feed elasticsearch cluster
  infra/es_cluster.tf
  infra/main.tf
Owners: @garyverhaegen-da

Publish execution logs on unix platforms
  build.sh
  ci/build-unix.yml
Owners: @garyverhaegen-da

Drop cleanup of node_modules
  build.sh
  compatibility/build-release-artifacts.sh
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature

update compat versions for 1.14.1-snapshot.20210706.7133.0.8ec16e94
  compatibility/versions.bzl
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature

feed elasticsearch cluster (#10193)
  infra/es_cluster.tf
  infra/main.tf
Owners: @garyverhaegen-da

Improvements to the documentation with regards to offsets (#10180)
  docs/source/app-dev/app-arch.rst
  docs/source/app-dev/bindings-java/quickstart.rst
  docs/source/app-dev/services.rst
Owners: @bame-da, @nemanja-da

release 1.15.0-snapshot.20210707.7299.0.0d881f5e
  LATEST
Owners: @gerolf-da, @bame-da, @cocreature

rotate release duty after 1.15.0-snapshot.20210707.7299.0.0d881f5e
  release/rotation
Owners: none

Deduplicate Java codegen running instructions (#10185)
  docs/source/app-dev/bindings-java/codegen.rst
Owners: @bame-da, @nemanja-da

Drop cleanup of node_modules (#10195)
  build.sh
  compatibility/build-release-artifacts.sh
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature

Publish execution logs on unix platforms (#10194)
  build.sh
  ci/build-unix.yml
Owners: @garyverhaegen-da

ci/windows: disable spool
  infra/vsts_agent_windows.tf
Owners: @garyverhaegen-da

increase no-spool to 6
  infra/vsts_agent_windows.tf
Owners: @garyverhaegen-da

Move exercise context computation to the client side
  compiler/scenario-service/client/BUILD.bazel
  compiler/scenario-service/client/src/DA/Daml/LF/PrettyScenario.hs
  compiler/scenario-service/client/test/DA/Daml/LF/PrettyScenarioSpec.hs
  compiler/scenario-service/protos/scenario_service.proto
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/IncompleteTransaction.scala
Owners: @cocreature, @remyhaemmerle-da

Windows name truncation causing collisions
  infra/vsts_agent_windows.tf
Owners: @garyverhaegen-da

update main group
  infra/vsts_agent_windows.tf
Owners: @garyverhaegen-da

Mark Daml profiler as stable
  docs/source/support/component-statuses.rst
Owners: @bame-da, @nemanja-da

remove temp group
  infra/vsts_agent_windows.tf
Owners: @garyverhaegen-da

Release DAML SDK 1.14.1
  LATEST
Owners: @gerolf-da, @bame-da, @cocreature

ci/windows: disable spool (#10200)
  infra/vsts_agent_windows.tf
Owners: @garyverhaegen-da

Mark Daml profiler as stable (#10203)
  docs/source/support/component-statuses.rst
Owners: @bame-da, @nemanja-da

es-feed: ignore invalid files
  infra/es_cluster.tf
Owners: @garyverhaegen-da

Move exercise context computation to the client side (#10199)
  compiler/scenario-service/client/BUILD.bazel
  compiler/scenario-service/client/src/DA/Daml/LF/PrettyScenario.hs
  compiler/scenario-service/client/test/DA/Daml/LF/PrettyScenarioSpec.hs
  compiler/scenario-service/protos/scenario_service.proto
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/IncompleteTransaction.scala
Owners: @cocreature, @remyhaemmerle-da

Instrument buffer after contract state events stream
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/TransactionsReader.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Revert v1 changes.
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/Configuration.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/ReadService.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/RejectionReason.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/SubmissionResult.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/SubmitterInfo.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/Update.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/WriteService.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v1/package.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

es-feed: ignore invalid files (#10207)
  infra/es_cluster.tf
Owners: @garyverhaegen-da

[In-memory fan-out] Add traces to BufferedTransactionsReader methods * Add debug logging with basic request parameters to methods
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/BufferedTransactionsReader.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/TracingUtils.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/TransactionsReader.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Addressed review comment * Span is now disjoint to calls to the TransactionsReader
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/BufferedTransactionsReader.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Initial version of v2 participant state API.
  ledger-api/grpc-definitions/BUILD.bazel
  ledger/participant-state/BUILD.bazel
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/CompletionInfo.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/Configuration.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/DeduplicationPeriod.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/DivulgedContract.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/LedgerInitialConditions.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/Offset.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/PruningResult.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/ReadService.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/SeedService.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/SubmissionResult.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/SubmitterInfo.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/TimeModel.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/TransactionMeta.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/Update.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/Version.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/WriteConfigService.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/WritePackagesService.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/WriteParticipantPruningService.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/WritePartyService.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/WriteService.scala
  ledger/participant-state/src/main/scala/com/daml/ledger/participant/state/v2/package.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Address Moritz' review
  compiler/repl-service/server/src/main/scala/com/digitalasset/daml/lf/speedy/ReplServiceMain.scala
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Context.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DarReader.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/Decode.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/Reader.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/UniversalArchiveReader.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV1Spec.scala
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/reader/DamlLfArchiveReader.scala
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/reader/InterfaceReader.scala
  daml-lf/interpreter/perf/src/main/scala/com/daml/lf/explore/ExploreDar.scala
  daml-lf/interpreter/perf/src/main/scala/com/daml/lf/explore/LoadDarFunction.scala
  daml-script/export/src/main/scala/com/daml/script/export/Dependencies.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Server.scala
Owners: @cocreature, @remyhaemmerle-da, @aherrmann-da, @stefanobaghino-da

cosmetic
  daml-lf/archive/BUILD.bazel
  daml-lf/archive/encoder/BUILD.bazel
  daml-lf/archive/encoder/src/main/scala/com/daml/lf/archive/DarWriter.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/Dar.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/TestMain.scala
  daml-script/test/src/com/digitalasset/daml/lf/engine/script/test/JsonApiIt.scala
  daml-script/test/src/test-utils/com/daml/lf/engine/script/test/AbstractParticipantsFixture.scala
  triggers/runner/src/main/scala/com/digitalasset/daml/lf/engine/trigger/RunnerMain.scala
  triggers/service/src/main/scala/com/digitalasset/daml/lf/engine/trigger/Server.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceTest.scala
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/test/AbstractTriggerTest.scala
Owners: @remyhaemmerle-da, @cocreature, @aherrmann-da, @stefanobaghino-da

Allow retriable lookupMaximumLedgerTime on contention
  ledger/participant-integration-api/src/main/scala/platform/store/cache/MutableCacheBackedContractStore.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/cache/MutableCacheBackedContractStoreSpec.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Backport: Publish execution logs on unix platforms
  build.sh
  ci/build-unix.yml
Owners: @garyverhaegen-da

Backport: Publish execution logs on unix platforms (#10212)
  build.sh
  ci/build-unix.yml
Owners: @garyverhaegen-da

Update SHA for 1.14.1 that contains a fix for artifacts publishing * Included change https://github.com/digital-asset/daml/pull/10212
  LATEST
Owners: @gerolf-da, @bame-da, @cocreature

prefer Seq to List when generating samples
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/validation/ValidationSpec.scala
Owners: @remyhaemmerle-da

use TableDrivenPropertyChecks
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/validation/ValidationSpec.scala
Owners: @remyhaemmerle-da

remove count/println
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/validation/ValidationSpec.scala
Owners: @remyhaemmerle-da
