Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @gerolf-da, @remyhaemmerle-da, @bame-da, @garyverhaegen-da, @rgugliel-da, @dasormeter, @basvangijzel-DA, @filmackay, @akrmn, @dylant-da, @samuel-williams-da, @digital-asset/kv-committer, @S11001001, @digital-asset/kv-participant, @meiersi-da, @nickchapman-da, @digital-asset/daml-docs, @hrischuk-da, @soren-da, @matthiasS-da, @digital-asset/platform-enablement

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

CODEOWNERS   @gerolf-da @remyhaemmerle-da
LATEST       @gerolf-da @bame-da

# Build / CI / environment
/ci/                @garyverhaegen-da
/dev-env/           @garyverhaegen-da
/nix/               @garyverhaegen-da
/infra/             @garyverhaegen-da
azure-pipelines.yml @garyverhaegen-da
azure-cron.yml      @garyverhaegen-da
/release/           @garyverhaegen-da
/release.sh         @garyverhaegen-da
/canton_dep.bzl     @garyverhaegen-da @remyhaemmerle-da @rgugliel-da

# Blackduck
NOTICES     @garyverhaegen-da @dasormeter

# Compatibility test
/compatibility/     @basvangijzel-DA @garyverhaegen-da @gerolf-da @remyhaemmerle-da

# Language
/daml-assistant/    @remyhaemmerle-da @filmackay
/daml-script/       @remyhaemmerle-da
/triggers/          @remyhaemmerle-da
/compiler/          @basvangijzel-DA @remyhaemmerle-da @akrmn @dylant-da @samuel-williams-da
/libs-haskell/      @basvangijzel-DA @remyhaemmerle-da @akrmn @dylant-da @samuel-williams-da
/ghc-lib/           @basvangijzel-DA @remyhaemmerle-da @akrmn @dylant-da @samuel-williams-da

# Runtime
/daml-lf/ @remyhaemmerle-da
/daml-lf/data-scalacheck/src/main/ @remyhaemmerle-da
/daml-lf/kv-support/ @digital-asset/kv-committer @remyhaemmerle-da
/daml-lf/transaction-test-lib/src/main/ @remyhaemmerle-da @S11001001

# KV Participant
/ledger/      @digital-asset/kv-participant
/ledger-api/  @digital-asset/kv-participant

# Ledger API Interfaces and Read/Write services are jointly owned between KV teams and @meiersi-da
/ledger-api/grpc-definitions/       @meiersi-da @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/ledger-configuration/       @meiersi-da @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/ledger-offset/              @meiersi-da @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/participant-state/src       @meiersi-da @digital-asset/kv-participant @digital-asset/kv-committer

# Owned by KV Participant with KV Committer added for notifications
/ledger/ledger-api-common/              @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/ledger-api-domain/              @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/ledger-api-health/              @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/ledger-configuration/           @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/ledger-offset/                  @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/participant-state/              @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/participant-state-index/        @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/participant-state-kv-errors/    @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/participant-state-metrics/      @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/sandbox/                        @digital-asset/kv-participant @digital-asset/kv-committer
/ledger-test-tool/                      @digital-asset/kv-participant @digital-asset/kv-committer

# KV Participant
/ledger/participant-integration-api/    @digital-asset/kv-participant

# Conformance test on canton
/ledger-test-tool/ledger-api-test-tool-on-canton @remyhaemmerle-da @rgugliel-da

# Ecosystems
/language-support/hs/       @nickchapman-da @remyhaemmerle-da
/language-support/java/     @filmackay
/language-support/scala/    @filmackay
/language-support/ts/       @garyverhaegen-da @filmackay

# Application Runtime
/ledger-service/       @filmackay
/navigator/            @filmackay
/runtime-components/   @filmackay
/triggers/service/     @filmackay

# Misc
/docs/              @digital-asset/daml-docs @hrischuk-da
/libs-scala/nonempty/src/    @S11001001
/libs-scala/nonempty-cats/src/    @S11001001
/libs-scala/scala-utils/src/    @S11001001
/libs-scala/scalatest-utils/src/    @S11001001
/libs-scala/test-evidence/ @digital-asset/kv-participant @soren-da @matthiasS-da

# Observability related libraries
/observability @digital-asset/platform-enablement

fix
  compatibility/build-release-artifacts-windows.ps1
  compatibility/build-release-artifacts.sh
Owners: @basvangijzel-DA, @garyverhaegen-da, @gerolf-da, @remyhaemmerle-da

Move CatonFixtur in its own module
  canton/BUILD.bazel
  canton/it-lib/src/main/com/daml/CantonConfig.scala
  canton/it-lib/src/main/com/daml/CantonFixture.scala
  canton/it-lib/src/main/com/daml/CantonRunner.scala
  daml-lf/integration-test-lib/BUILD.bazel
  daml-script/export/integration-tests/reproduces-transactions/BUILD.bazel
  daml-script/export/integration-tests/reproduces-transactions/test/scala/com/daml/script/export/ReproducesTransactions.scala
  daml-script/test/BUILD.bazel
  daml-script/test/src/com/digitalasset/daml/lf/engine/script/test/AuthIT.scala
  daml-script/test/src/com/digitalasset/daml/lf/engine/script/test/DamlScriptTestRunner.scala
  daml-script/test/src/com/digitalasset/daml/lf/engine/script/test/JsonApiIt.scala
  daml-script/test/src/test-utils/com/daml/lf/engine/script/test/AbstractFuncIT.scala
  daml-script/test/src/test-utils/com/daml/lf/engine/script/test/AbstractScriptTest.scala
  daml-script/test/src/test-utils/com/daml/lf/engine/script/test/CompiledDar.scala
  language-support/java/codegen/BUILD.bazel
  language-support/java/codegen/src/ledger-tests/scala/com/digitalasset/TestUtil.scala
  language-support/scala/codegen-sample-app/BUILD.bazel
  language-support/scala/codegen-sample-app/src/test/scala/com/digitalasset/codegen/ScalaCodeGenIT.scala
  language-support/ts/codegen/tests/BUILD.bazel
  ledger-test-tool/test/BUILD.bazel
  navigator/backend/BUILD.bazel
  navigator/backend/src/test/scala/com/digitalasset/navigator/backend/IntegrationTest.scala
  triggers/tests/BUILD.bazel
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/test/AbstractTriggerTest.scala
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/test/AbstractTriggerTestWithCanton.scala
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/test/CompiledDar.scala
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/test/ConfigSpec.scala
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/test/Jwt.scala
Owners: @remyhaemmerle-da, @filmackay, @garyverhaegen-da, @digital-asset/kv-participant, @digital-asset/kv-committer

Convert tests to using user management
  compatibility/bazel_tools/create-daml-app/Main.hs
  compatibility/bazel_tools/create-daml-app/index.test.ts
  compatibility/bazel_tools/testing.bzl
Owners: @basvangijzel-DA, @garyverhaegen-da, @gerolf-da, @remyhaemmerle-da

allocate free port to domain to avoid flakes
  compatibility/bazel_tools/daml_ledger/Main.hs
Owners: @basvangijzel-DA, @garyverhaegen-da, @gerolf-da, @remyhaemmerle-da

test fixes
  language-support/scala/codegen-sample-app/src/test/scala/com/digitalasset/codegen/ScalaCodeGenIT.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceTest.scala
Owners: @filmackay

merge conflict fix
  language-support/scala/codegen-sample-app/src/test/scala/com/digitalasset/codegen/ScalaCodeGenIT.scala
Owners: @filmackay

toxi proxy trigger service Canton test migration
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceFixture.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceTest.scala
Owners: @filmackay

Last changes from self review
  daml-script/export/integration-tests/reproduces-transactions/test/scala/com/daml/script/export/ReproducesTransactions.scala
  ledger-service/http-json-testing/src/main/scala/com/daml/http/HttpServiceTestFixture.scala
  ledger-service/http-json-testing/src/main/scala/com/daml/http/util/SandboxTestLedger.scala
  ledger-service/http-json/src/failurelib/scala/http/ToxicSandboxFixture.scala
  ledger-service/http-json/src/it/scala/http/WebsocketServiceOffsetTickIntTest.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTest.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTestFuns.scala
Owners: @remyhaemmerle-da, @filmackay

Drop StrictLogging from ledger-services tests
  daml-lf/integration-test-lib/src/main/com/daml/lf/CantonFixture.scala
  daml-script/export/integration-tests/reproduces-transactions/test/scala/com/daml/script/export/ReproducesTransactions.scala
  ledger-service/http-json/src/it/scala/http/HttpServiceIntegrationTestUserManagement.scala
  ledger-service/http-json/src/it/scala/http/WebsocketServiceOffsetTickIntTest.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTest.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTestFuns.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractWebsocketServiceIntegrationTest.scala
Owners: @remyhaemmerle-da, @filmackay

Add missing imports to language support
  language-support/java/codegen/BUILD.bazel
  language-support/scala/codegen-sample-app/BUILD.bazel
Owners: @filmackay

allocate free port to domain to avoid flakes (#16827)
  compatibility/bazel_tools/daml_ledger/Main.hs
Owners: @basvangijzel-DA, @garyverhaegen-da, @gerolf-da, @remyhaemmerle-da

Port create-daml-app compatibility test to canton (#16820)
  compatibility/bazel_tools/create-daml-app/Main.hs
  compatibility/bazel_tools/create-daml-app/index.test.ts
  compatibility/bazel_tools/create_daml_app_test.sh
  compatibility/bazel_tools/testing.bzl
Owners: @basvangijzel-DA, @garyverhaegen-da, @gerolf-da, @remyhaemmerle-da

bump canton to 20230508
  canton_dep.bzl
Owners: @garyverhaegen-da, @remyhaemmerle-da, @rgugliel-da

Refactor PackageMetadata construction
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Base.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Util.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/EncodeV1.hs
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Dar.hs
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Repl.hs
  compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
  compiler/damlc/daml-lf-util/src/DA/Daml/UtilLF.hs
Owners: @basvangijzel-DA, @remyhaemmerle-da, @akrmn, @dylant-da, @samuel-williams-da

extend eval order testing for choice authority
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/EvaluationOrderTest.scala
Owners: @remyhaemmerle-da

update security evidence
  security-evidence.md
Owners: none

Eliminate create-daml-app config without user management
  templates/create-daml-app/ui/src/config.ts.template
Owners: none

Apply suggestions from code review
  daml-lf/integration-test-lib/src/main/com/daml/lf/CantonFixture.scala
  ledger-service/http-json-perf/src/main/scala/com/daml/http/perf/Main.scala
  ledger-service/http-json-testing/src/main/scala/com/daml/http/HttpServiceTestFixture.scala
Owners: @remyhaemmerle-da, @filmackay

Small fixes
  daml-lf/integration-test-lib/src/main/com/daml/lf/CantonConfig.scala
  ledger-service/http-json-testing/src/main/scala/com/daml/http/HttpServiceTestFixture.scala
Owners: @remyhaemmerle-da, @filmackay

. update hash
  canton_dep.bzl
Owners: @garyverhaegen-da, @remyhaemmerle-da, @rgugliel-da

Add channelResource to canton config Add comment for contract id length
  daml-lf/integration-test-lib/src/main/com/daml/lf/CantonConfig.scala
  ledger-service/http-json/BUILD.bazel
  ledger-service/http-json/src/failurelib/scala/http/ToxicSandboxFixture.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTest.scala
Owners: @remyhaemmerle-da, @filmackay

Postgres trigger service Canton test migration
  triggers/service/src/test-suite/scala/com/daml/lf/engine/trigger/TriggerServiceTestAuthWithPostgres.Scala
  triggers/service/src/test-suite/scala/com/daml/lf/engine/trigger/TriggerServiceTestWithPostgres.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceFixture.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceTest.scala
Owners: @filmackay

Oracle trigger service Canton test migration
  triggers/service/src/test-suite/scala/com/daml/lf/engine/trigger/TriggerServiceTestAuthWithOracle.scala
  triggers/service/src/test-suite/scala/com/daml/lf/engine/trigger/TriggerServiceTestWithOracle.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceFixture.scala
Owners: @filmackay

trigger service Canton test migration cleanup work
  triggers/service/BUILD.bazel
  triggers/service/src/test-suite/scala/com/daml/lf/engine/trigger/TriggerServiceTestAuth.scala
  triggers/service/src/test-suite/scala/com/daml/lf/engine/trigger/TriggerServiceTestAuthClaims.scala
  triggers/service/src/test-suite/scala/com/daml/lf/engine/trigger/TriggerServiceTestAuthWithOracle.scala
  triggers/service/src/test-suite/scala/com/daml/lf/engine/trigger/TriggerServiceTestAuthWithPostgres.Scala
  triggers/service/src/test-suite/scala/com/daml/lf/engine/trigger/TriggerServiceTestInMem.scala
  triggers/service/src/test-suite/scala/com/daml/lf/engine/trigger/TriggerServiceTestWithOracle.scala
  triggers/service/src/test-suite/scala/com/daml/lf/engine/trigger/TriggerServiceTestWithPostgres.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceFixture.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceTest.scala
Owners: @filmackay

bazel and AbstractTriggerTest cleanup
  triggers/service/BUILD.bazel
  triggers/tests/BUILD.bazel
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/simulation/CatAndFoodTriggerSimulation.scala
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/simulation/CatTriggerResourceUsageTest.scala
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/simulation/TriggerMultiProcessSimulation.scala
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/simulation/TriggerRuleSimulationLibTest.scala
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/simulation/process/ledger/LedgerExternalAction.scala
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/test/AbstractFuncTests.scala
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/test/AbstractTriggerTest.scala
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/test/AbstractTriggerTestWithCanton.scala
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/test/DevOnly.scala
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/test/Jwt.scala
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/test/LoadTesting.scala
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/test/Tls.scala
Owners: @filmackay, @remyhaemmerle-da

oracle CI fix
  triggers/service/BUILD.bazel
Owners: @filmackay

oracle CI fix
  triggers/service/BUILD.bazel
Owners: @filmackay

Add USoftFetch LFConversion primitive
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion/Primitives.hs
Owners: @basvangijzel-DA, @remyhaemmerle-da, @akrmn, @dylant-da, @samuel-williams-da

Add SoftFetch in Daml LF
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Alpha.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Base.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/FreeVars.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Pretty.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Recursive.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Subst.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/DecodeV1.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/EncodeV1.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Check.hs
  compiler/damlc/daml-visual/src/DA/Daml/Visual.hs
  daml-lf/archive/src/main/protobuf/com/daml/daml_lf_dev/daml_lf_1.proto
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/EncodeV1.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/PhaseOne.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Profile.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/AstRewriter.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/iterable/ExprIterable.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/iterable/TypeIterable.scala
Owners: @basvangijzel-DA, @remyhaemmerle-da, @akrmn, @dylant-da, @samuel-williams-da

Package Metadata now can include an upgraded package id
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Base.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Optics.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Pretty.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Util.hs
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/DecodeV1.hs
  compiler/daml-lf-proto/src/DA/Daml/LF/Proto3/EncodeV1.hs
  compiler/damlc/daml-compiler/BUILD.bazel
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Dar.hs
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Repl.hs
  compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
  compiler/damlc/daml-package-config/src/DA/Daml/Package/Config.hs
  compiler/damlc/lib/DA/Cli/Damlc.hs
  compiler/damlc/stable-packages/lib/DA/Daml/StablePackages.hs
  daml-lf/archive/src/main/protobuf/com/daml/daml_lf_dev/daml_lf_1.proto
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ModParser.scala
Owners: @basvangijzel-DA, @remyhaemmerle-da, @akrmn, @dylant-da, @samuel-williams-da

Define SoftFetch in terms of SBPromoteAnyContract
  compiler/scenario-service/client/src/DA/Daml/LF/PrettyScenario.hs
  compiler/scenario-service/protos/scenario_service.proto
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/transaction/src/main/scala/com/daml/lf/Error.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/RejectionGenerators.scala
Owners: @basvangijzel-DA, @remyhaemmerle-da, @akrmn, @dylant-da, @samuel-williams-da, @digital-asset/kv-participant

TODOs
  daml-script/test/upgrades/coin-v1/Coin.daml
  daml-script/test/upgrades/coin-v2/Coin.daml
Owners: @remyhaemmerle-da

define PackageInterface#lookupPredecessors
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/PackageInterface.scala
Owners: @remyhaemmerle-da

Add script test for softFetch
  daml-script/test/BUILD.bazel
  daml-script/test/src/test-utils/com/daml/lf/engine/script/test/AbstractFuncIT.scala
  daml-script/test/upgrades/coin-upgrade/CoinUpgrade.daml
  daml-script/test/upgrades/coin-v1/Coin.daml
  daml-script/test/upgrades/coin-v2/Coin.daml
Owners: @remyhaemmerle-da

daml_compile rule now takes upgrades arg
  rules_daml/daml.bzl
Owners: none

Add softFetch function in Daml
  compiler/damlc/daml-stdlib-src/DA/Internal/Template/Functions.daml
Owners: @basvangijzel-DA, @remyhaemmerle-da, @akrmn, @dylant-da, @samuel-williams-da

rotate release duty after 2023-05-10
  release/rotation
Owners: @garyverhaegen-da

bump canton to 20230510
  canton_dep.bzl
Owners: @garyverhaegen-da, @remyhaemmerle-da, @rgugliel-da

Removing securityTestLayer from test evidence
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  libs-scala/test-evidence/scalatest/src/main/scala/com/daml/test/evidence/scalatest/JsonCodec.scala
  libs-scala/test-evidence/tag/src/main/scala/com/daml/test/evidence/tag/Security.scala
Owners: @remyhaemmerle-da, @digital-asset/kv-participant, @soren-da, @matthiasS-da

Migrate LedgerClient tests from to Canton
  daml-lf/integration-test-lib/BUILD.bazel
  daml-lf/integration-test-lib/src/main/com/daml/lf/CantonFixture.scala
  daml-lf/integration-test-lib/src/main/com/daml/lf/TestCommands.scala
  ledger/ledger-api-client/BUILD.bazel
  ledger/ledger-api-client/src/it/scala/com/digitalasset/ledger/client/CommandClientIT.scala
  ledger/ledger-api-client/src/it/scala/com/digitalasset/ledger/client/LedgerClientAuthIT.scala
  ledger/ledger-api-client/src/it/scala/com/digitalasset/ledger/client/LedgerClientIT.scala
Owners: @remyhaemmerle-da, @digital-asset/kv-participant
