Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @gerolf-da, @remyhaemmerle-da, @bame-da, @garyverhaegen-da, @rgugliel-da, @dasormeter, @basvangijzel-DA, @filmackay, @akrmn, @dylant-da, @samuel-williams-da, @digital-asset/kv-committer, @S11001001, @digital-asset/kv-participant, @meiersi-da, @nickchapman-da, @digital-asset/daml-docs, @hrischuk-da, @soren-da, @matthiasS-da, @digital-asset/platform-enablement

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

CODEOWNERS   @gerolf-da @remyhaemmerle-da
LATEST       @gerolf-da @bame-da

# Build / CI / environment
/ci/                @garyverhaegen-da
/dev-env/           @garyverhaegen-da
/nix/               @garyverhaegen-da
/infra/             @garyverhaegen-da
azure-pipelines.yml @garyverhaegen-da
azure-cron.yml      @garyverhaegen-da
/release/           @garyverhaegen-da
/release.sh         @garyverhaegen-da
/canton_dep.bzl     @garyverhaegen-da @remyhaemmerle-da @rgugliel-da

# Blackduck
NOTICES     @garyverhaegen-da @dasormeter

# Compatibility test
/compatibility/     @basvangijzel-DA @garyverhaegen-da @gerolf-da @remyhaemmerle-da

# Language
/daml-assistant/    @remyhaemmerle-da @filmackay
/daml-script/       @remyhaemmerle-da
/triggers/          @remyhaemmerle-da
/compiler/          @basvangijzel-DA @remyhaemmerle-da @akrmn @dylant-da @samuel-williams-da
/libs-haskell/      @basvangijzel-DA @remyhaemmerle-da @akrmn @dylant-da @samuel-williams-da
/ghc-lib/           @basvangijzel-DA @remyhaemmerle-da @akrmn @dylant-da @samuel-williams-da

# Runtime
/daml-lf/ @remyhaemmerle-da
/daml-lf/data-scalacheck/src/main/ @remyhaemmerle-da
/daml-lf/kv-support/ @digital-asset/kv-committer @remyhaemmerle-da
/daml-lf/transaction-test-lib/src/main/ @remyhaemmerle-da @S11001001

# KV Participant
/ledger/      @digital-asset/kv-participant
/ledger-api/  @digital-asset/kv-participant

# Ledger API Interfaces and Read/Write services are jointly owned between KV teams and @meiersi-da
/ledger-api/grpc-definitions/       @meiersi-da @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/ledger-configuration/       @meiersi-da @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/ledger-offset/              @meiersi-da @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/participant-state/src       @meiersi-da @digital-asset/kv-participant @digital-asset/kv-committer

# Owned by KV Participant with KV Committer added for notifications
/ledger/ledger-api-common/              @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/ledger-api-domain/              @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/ledger-api-health/              @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/ledger-configuration/           @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/ledger-offset/                  @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/participant-state/              @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/participant-state-index/        @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/participant-state-kv-errors/    @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/participant-state-metrics/      @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/sandbox/                        @digital-asset/kv-participant @digital-asset/kv-committer
/ledger-test-tool/                      @digital-asset/kv-participant @digital-asset/kv-committer

# KV Participant
/ledger/participant-integration-api/    @digital-asset/kv-participant

# Conformance test on canton
/ledger-test-tool/ledger-api-test-tool-on-canton @remyhaemmerle-da @rgugliel-da

# Ecosystems
/language-support/hs/       @nickchapman-da @remyhaemmerle-da
/language-support/java/     @filmackay
/language-support/scala/    @filmackay
/language-support/ts/       @garyverhaegen-da @filmackay

# Application Runtime
/ledger-service/       @filmackay
/navigator/            @filmackay
/runtime-components/   @filmackay
/triggers/service/     @filmackay

# Misc
/docs/              @digital-asset/daml-docs @hrischuk-da
/libs-scala/nonempty/src/    @S11001001
/libs-scala/nonempty-cats/src/    @S11001001
/libs-scala/scala-utils/src/    @S11001001
/libs-scala/scalatest-utils/src/    @S11001001
/libs-scala/test-evidence/ @digital-asset/kv-participant @soren-da @matthiasS-da

# Observability related libraries
/observability @digital-asset/platform-enablement

address reviews
  ledger/ledger-api-client/src/it/scala/com/digitalasset/ledger/client/CommandClientIT.scala
  ledger/ledger-api-client/src/it/scala/com/digitalasset/ledger/client/LedgerClientAuthIT.scala
  ledger/ledger-api-client/src/it/scala/com/digitalasset/ledger/client/LedgerClientIT.scala
Owners: @digital-asset/kv-participant

Updating test evidence
  security-evidence.md
Owners: none

[engine] choice authority eval order testing (#16835)
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/EvaluationOrderTest.scala
  security-evidence.md
Owners: @remyhaemmerle-da

Apply suggestions from review
  ledger-service/http-json-perf/src/main/scala/com/daml/http/perf/Main.scala
  ledger-service/http-json-testing/src/main/scala/com/daml/http/HttpServiceTestFixture.scala
  ledger-service/http-json-testing/src/main/scala/com/daml/http/HttpServiceUserFixture.scala
  ledger-service/http-json-testing/src/main/scala/com/daml/http/util/SandboxTestLedger.scala
  ledger-service/http-json/src/failurelib/scala/http/ToxicSandboxFixture.scala
  ledger-service/http-json/src/it/scala/http/AuthorizationTest.scala
  ledger-service/http-json/src/it/scala/http/WebsocketServiceOffsetTickIntTest.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTest.scala
Owners: @filmackay

Bring back pruning test ignored
  ledger-service/http-json/src/itlib/scala/http/AbstractWebsocketServiceIntegrationTest.scala
Owners: @filmackay

Trim the compatibility test matrix
  compatibility/bazel_tools/daml_script/daml_script.bzl
  compatibility/bazel_tools/testing.bzl
Owners: @basvangijzel-DA, @garyverhaegen-da, @gerolf-da, @remyhaemmerle-da

correct script tested versions
  compatibility/bazel_tools/daml_script/daml_script.bzl
Owners: @basvangijzel-DA, @garyverhaegen-da, @gerolf-da, @remyhaemmerle-da

Migrate LedgerClient test from to Canton (#16795)
  daml-lf/integration-test-lib/BUILD.bazel
  daml-lf/integration-test-lib/src/main/com/daml/lf/CantonFixture.scala
  daml-lf/integration-test-lib/src/main/com/daml/lf/TestCommands.scala
  ledger/ledger-api-client/BUILD.bazel
  ledger/ledger-api-client/src/it/scala/com/digitalasset/ledger/client/CommandClientIT.scala
  ledger/ledger-api-client/src/it/scala/com/digitalasset/ledger/client/LedgerClientAuthIT.scala
  ledger/ledger-api-client/src/it/scala/com/digitalasset/ledger/client/LedgerClientIT.scala
Owners: @remyhaemmerle-da, @digital-asset/kv-participant

Trim the compatibility test matrix (#16844)
  compatibility/bazel_tools/daml_script/daml_script.bzl
  compatibility/bazel_tools/testing.bzl
Owners: @basvangijzel-DA, @garyverhaegen-da, @gerolf-da, @remyhaemmerle-da

Removing securityTestLayer from test evidence (#16843)
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  libs-scala/test-evidence/scalatest/src/main/scala/com/daml/test/evidence/scalatest/JsonCodec.scala
  libs-scala/test-evidence/tag/src/main/scala/com/daml/test/evidence/tag/Security.scala
  security-evidence.md
Owners: @remyhaemmerle-da, @digital-asset/kv-participant, @soren-da, @matthiasS-da

update compat versions (2023-05-09)
  compatibility/maven_install.json
  compatibility/versions.bzl
Owners: @basvangijzel-DA, @garyverhaegen-da, @gerolf-da, @remyhaemmerle-da

update compat versions (2023-05-10)
  compatibility/maven_install.json
  compatibility/versions.bzl
Owners: @basvangijzel-DA, @garyverhaegen-da, @gerolf-da, @remyhaemmerle-da

In-memory trigger service Canton test migration (#16811)
  daml-lf/integration-test-lib/src/main/com/daml/lf/CantonFixture.scala
  language-support/scala/codegen-sample-app/src/test/scala/com/digitalasset/codegen/ScalaCodeGenIT.scala
  triggers/service/BUILD.bazel
  triggers/service/src/test-suite/scala/com/daml/lf/engine/trigger/TriggerServiceTestAuth.scala
  triggers/service/src/test-suite/scala/com/daml/lf/engine/trigger/TriggerServiceTestAuthClaims.scala
  triggers/service/src/test-suite/scala/com/daml/lf/engine/trigger/TriggerServiceTestInMem.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceFixture.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceTest.scala
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/simulation/CatAndFoodTriggerSimulation.scala
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/simulation/CatTriggerResourceUsageTest.scala
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/simulation/TriggerRuleSimulationLibTest.scala
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/test/AbstractFuncTests.scala
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/test/AbstractTriggerTestWithCanton.scala
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/test/DevOnly.scala
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/test/Jwt.scala
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/test/LoadTesting.scala
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/test/Tls.scala
Owners: @remyhaemmerle-da, @filmackay

Fix after merge
  ledger/ledger-api-client/src/it/scala/com/digitalasset/ledger/client/CommandClientIT.scala
  ledger/ledger-api-client/src/it/scala/com/digitalasset/ledger/client/LedgerClientAuthIT.scala
  ledger/ledger-api-client/src/it/scala/com/digitalasset/ledger/client/LedgerClientIT.scala
Owners: @digital-asset/kv-participant

Fix last test from merge
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceFixture.scala
Owners: @filmackay

toxi proxy trigger service Canton test migration (#16829)
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceFixture.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceTest.scala
Owners: @filmackay

minor review fix
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceTest.scala
Owners: @filmackay

More merge fixes
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceFixture.scala
Owners: @filmackay

Postgres trigger service Canton test migration (#16836)
  triggers/service/src/test-suite/scala/com/daml/lf/engine/trigger/TriggerServiceTestAuthWithPostgres.Scala
  triggers/service/src/test-suite/scala/com/daml/lf/engine/trigger/TriggerServiceTestWithPostgres.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceFixture.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceTest.scala
Owners: @filmackay

Check LF >= 1.dev when decoding 'upgradedPackageId' and 'softFetch' in DecodeV1.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
Owners: @remyhaemmerle-da

Check that softFetch is not called on templates with contract keys
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/Typing.scala
  daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/ValidationError.scala
Owners: @remyhaemmerle-da

Extract PackageUpgradesIT from AbstractFuncIT
  daml-script/test/src/com/digitalasset/daml/lf/engine/script/test/PackageUpgradesIT.scala
  daml-script/test/src/test-utils/com/daml/lf/engine/script/test/AbstractFuncIT.scala
Owners: @remyhaemmerle-da

Update docstring for SBPromoteAnyContract
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
Owners: @remyhaemmerle-da

ModParser todo
  daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ModParser.scala
Owners: @remyhaemmerle-da

Seq=>List
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/PackageInterface.scala
  daml-lf/transaction/src/main/scala/com/daml/lf/Error.scala
Owners: @remyhaemmerle-da

Fix build errors
  daml-lf/api-type-signature/src/test/scala/lf/typesig/reader/SignatureReaderSpec.scala
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV1Spec.scala
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/DamlLfEncoder.scala
  daml-script/export/src/test/scala/com/daml/script/export/DependenciesSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/db/migration/translation/apiserver/services/admin/ApiPackageManagementServiceSpec.scala
Owners: @remyhaemmerle-da, @digital-asset/kv-participant

Implement Interface, template and choice entries in hoogle
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Extract/Templates.hs
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Extract/Types.hs
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Render/Hoogle.hs
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Render/Output.hs
  compiler/damlc/daml-doc/src/DA/Daml/Doc/Types.hs
  compiler/damlc/daml-doc/test/DA/Daml/Doc/Tests.hs
  compiler/damlc/tests/daml-test-files/DamlDocHoogle.EXPECTED.hoogle
  compiler/damlc/tests/daml-test-files/DamlDocHoogle.daml
Owners: @basvangijzel-DA, @remyhaemmerle-da, @akrmn, @dylant-da, @samuel-williams-da

Update expected files with additional anchor for choice
  compiler/damlc/tests/daml-test-files/DamlHasVersion.EXPECTED.md
  compiler/damlc/tests/daml-test-files/ExportList.EXPECTED.md
  compiler/damlc/tests/daml-test-files/ExportList.EXPECTED.rst
  compiler/damlc/tests/daml-test-files/Interface.EXPECTED.md
  compiler/damlc/tests/daml-test-files/Interface.EXPECTED.rst
  compiler/damlc/tests/daml-test-files/Iou12.EXPECTED.md
  compiler/damlc/tests/daml-test-files/Iou12.EXPECTED.rst
  compiler/damlc/tests/daml-test-files/QualifiedInterface.EXPECTED.md
  compiler/damlc/tests/daml-test-files/QualifiedInterface.EXPECTED.rst
  compiler/damlc/tests/daml-test-files/QualifiedRetroactiveInterfaceInstance.EXPECTED.md
  compiler/damlc/tests/daml-test-files/QualifiedRetroactiveInterfaceInstance.EXPECTED.rst
  compiler/damlc/tests/daml-test-files/RetroactiveInterfaceInstance.EXPECTED.md
  compiler/damlc/tests/daml-test-files/RetroactiveInterfaceInstance.EXPECTED.rst
Owners: @basvangijzel-DA, @remyhaemmerle-da, @akrmn, @dylant-da, @samuel-williams-da

Fix build error
  compiler/damlc/tests/src/DA/Test/GenerateSimpleDalf.hs
  compiler/damlc/tests/src/DA/Test/Packaging.hs
Owners: @basvangijzel-DA, @remyhaemmerle-da, @akrmn, @dylant-da, @samuel-williams-da

Redefine serializable datatype, rewrite printTestCoverage to use it
  compiler/damlc/lib/DA/Cli/Damlc/Test.hs
  compiler/damlc/lib/DA/Cli/Damlc/Test/TestResults.hs
  compiler/scenario-service/protos/test_results.proto
Owners: @basvangijzel-DA, @remyhaemmerle-da, @akrmn, @dylant-da, @samuel-williams-da

Oracle trigger service Canton test migration (#16837)
  triggers/service/BUILD.bazel
  triggers/service/src/test-suite/scala/com/daml/lf/engine/trigger/TriggerServiceTestAuthWithOracle.scala
  triggers/service/src/test-suite/scala/com/daml/lf/engine/trigger/TriggerServiceTestWithOracle.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceFixture.scala
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceTest.scala
Owners: @filmackay

Fix bug in occurence counting
  compiler/damlc/lib/DA/Cli/Damlc/Test/TestResults.hs
Owners: @basvangijzel-DA, @remyhaemmerle-da, @akrmn, @dylant-da, @samuel-williams-da

Refactor/restructure code
  compiler/damlc/lib/DA/Cli/Damlc/Test/TestResults.hs
Owners: @basvangijzel-DA, @remyhaemmerle-da, @akrmn, @dylant-da, @samuel-williams-da

Implement choice/template printers, amend PackageId datatype
  compiler/damlc/lib/DA/Cli/Damlc/Test/TestResults.hs
  compiler/scenario-service/protos/test_results.proto
Owners: @basvangijzel-DA, @remyhaemmerle-da, @akrmn, @dylant-da, @samuel-williams-da

Protobuf encoding/decoding
  compiler/damlc/lib/DA/Cli/Damlc/Test/TestResults.hs
Owners: @basvangijzel-DA, @remyhaemmerle-da, @akrmn, @dylant-da, @samuel-williams-da

Move CatonFixture in its own bazel module
  canton/BUILD.bazel
  canton/it-lib/BUILD.bazel
  canton/it-lib/src/main/com/daml/CantonConfig.scala
  canton/it-lib/src/main/com/daml/CantonFixture.scala
  canton/it-lib/src/main/com/daml/CantonRunner.scala
  canton/it-lib/src/main/com/daml/TestCommands.scala
  ci/cron/daily-compat.yml
  daml-lf/integration-test-lib/src/main/com/daml/lf/CantonRunner.scala
  daml-script/export/integration-tests/reproduces-transactions/BUILD.bazel
  daml-script/export/integration-tests/reproduces-transactions/test/scala/com/daml/script/export/ReproducesTransactions.scala
  daml-script/test/BUILD.bazel
  daml-script/test/src/com/digitalasset/daml/lf/engine/script/test/AuthIT.scala
  daml-script/test/src/com/digitalasset/daml/lf/engine/script/test/DamlScriptTestRunner.scala
  daml-script/test/src/com/digitalasset/daml/lf/engine/script/test/JsonApiIt.scala
  daml-script/test/src/test-utils/com/daml/lf/engine/script/test/AbstractFuncIT.scala
  daml-script/test/src/test-utils/com/daml/lf/engine/script/test/AbstractScriptTest.scala
  daml-script/test/src/test-utils/com/daml/lf/engine/script/test/CompiledDar.scala
  language-support/java/codegen/BUILD.bazel
  language-support/java/codegen/src/ledger-tests/scala/com/digitalasset/TestUtil.scala
  language-support/scala/codegen-sample-app/BUILD.bazel
  language-support/scala/codegen-sample-app/src/test/scala/com/digitalasset/codegen/ScalaCodeGenIT.scala
  language-support/ts/codegen/tests/BUILD.bazel
  ledger-test-tool/ledger-api-test-tool-on-canton/BUILD.bazel
  ledger-test-tool/ledger-api-test-tool-on-canton/canton-test-runner.sh
  ledger/ledger-api-client/BUILD.bazel
  ledger/ledger-api-client/src/it/scala/com/digitalasset/ledger/client/CommandClientIT.scala
  ledger/ledger-api-client/src/it/scala/com/digitalasset/ledger/client/LedgerClientAuthIT.scala
  ledger/ledger-api-client/src/it/scala/com/digitalasset/ledger/client/LedgerClientIT.scala
  navigator/backend/BUILD.bazel
  navigator/backend/src/test/scala/com/digitalasset/navigator/backend/IntegrationTest.scala
  triggers/service/BUILD.bazel
  triggers/service/src/test/scala/com/digitalasset/daml/lf/engine/trigger/TriggerServiceFixture.scala
  triggers/tests/BUILD.bazel
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/simulation/CatAndFoodTriggerSimulation.scala
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/test/AbstractTriggerTest.scala
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/test/AbstractTriggerTestWithCanton.scala
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/test/CompiledDar.scala
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/test/ConfigSpec.scala
  triggers/tests/src/test/scala/com/digitalasset/daml/lf/engine/trigger/test/Jwt.scala
Owners: @garyverhaegen-da, @remyhaemmerle-da, @filmackay, @rgugliel-da, @digital-asset/kv-participant

fix after rebase
  canton/it-lib/src/main/com/daml/CantonConfig.scala
  ledger-service/http-json-oracle/BUILD.bazel
  ledger-service/http-json-perf/BUILD.bazel
  ledger-service/http-json-perf/src/main/scala/com/daml/http/perf/Main.scala
  ledger-service/http-json-testing/BUILD.bazel
  ledger-service/http-json-testing/src/main/scala/com/daml/http/HttpServiceTestFixture.scala
  ledger-service/http-json-testing/src/main/scala/com/daml/http/HttpServiceUserFixture.scala
  ledger-service/http-json-testing/src/main/scala/com/daml/http/util/SandboxTestLedger.scala
  ledger-service/http-json/BUILD.bazel
  ledger-service/http-json/src/failurelib/scala/http/ToxicSandboxFixture.scala
  triggers/service/BUILD.bazel
Owners: @filmackay

oracle build fix
  triggers/service/src/test-suite/scala/com/daml/lf/engine/trigger/TriggerServiceTestAuthWithOracle.scala
  triggers/service/src/test-suite/scala/com/daml/lf/engine/trigger/TriggerServiceTestWithOracle.scala
Owners: @filmackay

update hash of canton snapshot
  canton_dep.bzl
Owners: @garyverhaegen-da, @remyhaemmerle-da, @rgugliel-da

Fix new IT
  compiler/damlc/tests/daml-test-files/DamlDocHoogle.daml
Owners: @basvangijzel-DA, @remyhaemmerle-da, @akrmn, @dylant-da, @samuel-williams-da
