Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @digital-asset/daml-release-owners, @dylant-da, @paulbrauner-da, @remyhaemmerle-da, @digital-asset/daml-language, @digital-asset/kv-participant

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

sdk/bazel-java-deps.bzl @digital-asset/daml-release-owners

CODEOWNERS   @dylant-da @paulbrauner-da @remyhaemmerle-da 
/sdk/LATEST @digital-asset/daml-release-owners

# Build / CI / environment
/ci/                   @digital-asset/daml-language
/sdk/dev-env/          @digital-asset/daml-language
/sdk/nix/              @digital-asset/daml-language
azure-pipelines.yml    @digital-asset/daml-language
azure-cron.yml         @digital-asset/daml-language
sdk/release/           @digital-asset/daml-language
sdk/release.sh         @digital-asset/daml-language

# Blackduck
/sdk/NOTICES

# Compatibility test
/sdk/compatibility/     @digital-asset/daml-language @digital-asset/kv-participant

# Language
/sdk/daml-assistant/    @digital-asset/daml-language
/sdk/daml-script/       
/sdk/compiler/          @digital-asset/daml-language
/sdk/libs-haskell/      @digital-asset/daml-language
/sdk/ghc-lib/           @digital-asset/daml-language
/sdk/test-common/canton/ 

# Runtime
/sdk/daml-lf/ 


# Ecosystems
/sdk/language-support/hs/       @digital-asset/daml-language
/sdk/language-support/java/     
/sdk/language-support/scala/    
/sdk/language-support/ts/       

# Application Runtime
/sdk/ledger-service/
/sdk/runtime-components/ 

# Misc
/sdk/docs/ 
/sdk/libs-scala/

# Observability related libraries
/sdk/observability

fix UpdateMatrix
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/UpgradesMatrix.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/UpgradesMatrixUnit.scala
  sdk/daml-script/test/src/main/scala/com/digitalasset/daml/lf/engine/script/test/UpgradesMatrixIT.scala
Owners: none

fix daml script upgrade tests
  sdk/daml-script/daml/Daml/Script/Internal/Questions/Submit/Error.daml
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ledgerinteraction/SubmitError.scala
  sdk/daml-script/test/daml/upgrades/dev/DataChanges.daml
  sdk/daml-script/test/daml/upgrades/stable/DataChanges.daml
  sdk/daml-script/test/daml/upgrades/stable/Exceptions.daml
  sdk/daml-script/test/daml/upgrades/stable/Fetch.daml
  sdk/daml-script/test/daml/upgrades/stable/FromInterface.daml
  sdk/daml-script/test/daml/upgrades/stable/VariantChanges.daml
Owners: none

remove labels from fat contract instances produced by the IDE ledger
  sdk/daml-lf/ide-ledger/src/main/scala/com/digitalasset/daml/lf/script/IdeLedgerRunner.scala
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/FatContractInstance.scala
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/GlobalKey.scala
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/Value.scala
Owners: none

fix UpgradesMatrix
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/UpgradesMatrix.scala
  sdk/security-evidence.md
Owners: none

replace importValue with translateValue
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
Owners: none

fix speedy.UpgradeTest
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/UpgradeTest.scala
Owners: none

fix speedy/UpgradeTest
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/UpgradeTest.scala
Owners: none

fix LargeTransactionTest
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/LargeTransactionTest.scala
Owners: none

normalize svalues passed to importValue in fromInterface
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/UpgradesMatrixUnit.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/PartialTransaction.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltinFun.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/CompilerTest.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ExceptionTest.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/UpgradeTest.scala
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ledgerinteraction/IdeLedgerClient.scala
  sdk/security-evidence.md
Owners: none

add engine tests for ill-typed and ill-formed values
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
Owners: none

update test evidence
  sdk/security-evidence.md
Owners: none

fix AuthPropagationSpec
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/AuthPropagationSpec.scala
Owners: none

typos, leftover comments
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ValueTranslator.scala
Owners: none

rename withoutLabels to nonVerbose
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/LargeTransactionTest.scala
  sdk/daml-lf/ide-ledger/src/main/scala/com/digitalasset/daml/lf/script/IdeLedgerRunner.scala
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/FatContractInstance.scala
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/GlobalKey.scala
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/Value.scala
  sdk/security-evidence.md
Owners: none

fix ReinterpretTest
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ReinterpretTest.scala
Owners: none

remove dead code from FatContractInstance
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/FatContractInstance.scala
Owners: none

Move encode to Reader of State
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  sdk/compiler/daml-lf-proto-encode/src/DA/Daml/LF/Proto3/EncodeV2.hs
Owners: @digital-asset/daml-language

Sort-of decode implementation
  sdk/compiler/daml-lf-proto-decode/src/DA/Daml/LF/Proto3/DecodeV2.hs
  sdk/compiler/daml-lf-proto-encode/src/DA/Daml/LF/Proto3/EncodeV2.hs
  sdk/daml-lf/archive/src/main/protobuf/com/digitalasset/daml/lf/archive/daml_lf2.proto
Owners: @digital-asset/daml-language

Switch to ImportMap (no proto changes yet)
  sdk/compiler/daml-lf-proto-encode/src/DA/Daml/LF/Proto3/EncodeV2.hs
  sdk/compiler/daml-lf-proto-encode/test/DA/Daml/LF/Proto3/EncodeTest.hs
  sdk/daml-lf/archive/src/main/protobuf/com/digitalasset/daml/lf/archive/daml_lf1.proto
Owners: @digital-asset/daml-language

Incorporate ifSupports(M)
  sdk/compiler/daml-lf-proto-encode/src/DA/Daml/LF/Proto3/EncodeV2.hs
Owners: @digital-asset/daml-language

Conditional pkg import interning
  sdk/compiler/daml-lf-proto-encode/src/DA/Daml/LF/Proto3/EncodeV2.hs
Owners: @digital-asset/daml-language

adding streamobserver
  sdk/docs/sharable/sdk/tutorials/quickstart/template-root/src/main/java/com/daml/quickstart/iou/IouMain.java
  sdk/docs/source/sdk/tutorials/quickstart/template-root/src/main/java/com/daml/quickstart/iou/IouMain.java
Owners: none

fix canton/BUILD.bazel
  sdk/canton/BUILD.bazel
Owners: none

apply review sugestions and address minor comments
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/PartialTransaction.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/PartialTransactionSpec.scala
Owners: none

typecheck fat contract instances (#21771)
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/AuthPropagationSpec.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/LargeTransactionTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ReinterpretTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/UpgradesMatrix.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/UpgradesMatrixUnit.scala
  sdk/daml-lf/ide-ledger/src/main/scala/com/digitalasset/daml/lf/script/IdeLedgerRunner.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/PartialTransaction.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltinFun.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ValueTranslator.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/CompilerTest.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ExceptionTest.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/PartialTransactionSpec.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/UpgradeTest.scala
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/FatContractInstance.scala
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/GlobalKey.scala
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/Value.scala
  sdk/daml-script/daml/Daml/Script/Internal/Questions/Submit/Error.daml
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ledgerinteraction/IdeLedgerClient.scala
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ledgerinteraction/SubmitError.scala
  sdk/daml-script/test/daml/upgrades/dev/DataChanges.daml
  sdk/daml-script/test/daml/upgrades/stable/DataChanges.daml
  sdk/daml-script/test/daml/upgrades/stable/Exceptions.daml
  sdk/daml-script/test/daml/upgrades/stable/Fetch.daml
  sdk/daml-script/test/daml/upgrades/stable/FromInterface.daml
  sdk/daml-script/test/daml/upgrades/stable/VariantChanges.daml
  sdk/daml-script/test/src/main/scala/com/digitalasset/daml/lf/engine/script/test/UpgradesMatrixIT.scala
  sdk/security-evidence.md
Owners: none

Make TS codegen independent of @daml/ledger (#21799)
  sdk/language-support/ts/codegen/README.md
  sdk/language-support/ts/codegen/src/TsCodeGenMain.hs
  sdk/language-support/ts/codegen/tests/BUILD.bazel
  sdk/language-support/ts/codegen/tests/ts/build-and-lint-test/package.json
  sdk/language-support/ts/codegen/tests/ts/build-and-lint-test/src/__tests__/test.ts
  sdk/language-support/ts/codegen/tests/ts/build-and-lint-test/src/index.ts
  sdk/language-support/ts/codegen/tests/ts/package.json
  sdk/language-support/ts/daml-types/README.md
  sdk/language-support/ts/daml-types/index.ts
Owners: none

delete unused WronglyTypedContractSoft
  sdk/compiler/script-service/client/src/DA/Daml/LF/PrettyScript.hs
  sdk/compiler/script-service/protos/script_service.proto
  sdk/compiler/script-service/server/src/main/scala/com/digitalasset/daml/lf/script/Conversions.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/interpretation/Error.scala
  sdk/daml-script/daml/Daml/Script/Internal/Questions/Submit/Error.daml
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ledgerinteraction/SubmitError.scala
Owners: @digital-asset/daml-language

delete unused WronglyTypedContractSoft (#21841)
  sdk/compiler/script-service/client/src/DA/Daml/LF/PrettyScript.hs
  sdk/compiler/script-service/protos/script_service.proto
  sdk/compiler/script-service/server/src/main/scala/com/digitalasset/daml/lf/script/Conversions.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/interpretation/Error.scala
  sdk/daml-script/daml/Daml/Script/Internal/Questions/Submit/Error.daml
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ledgerinteraction/SubmitError.scala
Owners: @digital-asset/daml-language

Delete unused ResultNeedUpgradeVerification and transitive users
  sdk/canton/community/app/src/test/scala/com/digitalasset/canton/integration/util/TestSubmissionService.scala
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/platform/apiserver/execution/StoreBackedCommandInterpreter.scala
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/platform/store/dao/events/LfValueTranslation.scala
  sdk/canton/community/participant/src/main/scala/com/digitalasset/canton/participant/util/DAMLe.scala
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Result.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/NodeSeedsTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ReinterpretTest.scala
  sdk/daml-lf/ide-ledger/src/main/scala/com/digitalasset/daml/lf/script/IdeLedgerRunner.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SResult.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ChoiceAuthorityTest.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SpeedyTestLib.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/UpgradeTest.scala
  sdk/security-evidence.md
Owners: none

Remove @daml/ledger TS library
  sdk/NOTICES
  sdk/daml-assistant/integration-tests/BUILD.bazel
  sdk/docs/BUILD.bazel
  sdk/language-support/ts/codegen/README.md
  sdk/language-support/ts/codegen/tests/BUILD.bazel
  sdk/language-support/ts/codegen/tests/build-and-lint.sh
  sdk/language-support/ts/codegen/tests/ts/yarn.lock
  sdk/language-support/ts/codegen/tests/watch-yarn.sh
  sdk/language-support/ts/daml-ledger/.eslintrc.json
  sdk/language-support/ts/daml-ledger/.gitignore
  sdk/language-support/ts/daml-ledger/BUILD.bazel
  sdk/language-support/ts/daml-ledger/README.md
  sdk/language-support/ts/daml-ledger/index.test.ts
  sdk/language-support/ts/daml-ledger/index.ts
  sdk/language-support/ts/daml-ledger/jest.config.js
  sdk/language-support/ts/daml-ledger/package.json
  sdk/language-support/ts/daml-ledger/tsconfig.json
  sdk/release/src/Main.hs
Owners: @digital-asset/daml-language

rotate release duty after 2025-09-03
  sdk/release/rotation
Owners: @digital-asset/daml-language

Fix build
  sdk/daml-assistant/integration-tests/src/DA/Daml/Assistant/IntegrationTests.hs
  sdk/language-support/ts/codegen/tests/src/DA/Test/Daml2js.hs
  sdk/language-support/ts/codegen/tests/src/DA/Test/Daml2jsUtils.hs
Owners: @digital-asset/daml-language

Haskell side
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Util.hs
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  sdk/compiler/daml-lf-proto-decode/src/DA/Daml/LF/Proto3/DecodeV2.hs
  sdk/compiler/daml-lf-proto-encode/src/DA/Daml/LF/Proto3/EncodeV2.hs
  sdk/compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
  sdk/compiler/damlc/stable-packages/lib/DA/Daml/StablePackages.hs
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV2.scala
Owners: @digital-asset/daml-language

simplification
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SpeedyTestLib.scala
Owners: none

Fix compatibility
  sdk/compatibility/WORKSPACE
  sdk/compatibility/bazel_tools/daml_sdk.bzl
  sdk/compatibility/build-ts-libs.sh
Owners: @digital-asset/daml-language, @digital-asset/kv-participant

Remove @daml/ledger TS library (#21844)
  sdk/NOTICES
  sdk/compatibility/WORKSPACE
  sdk/compatibility/bazel_tools/daml_sdk.bzl
  sdk/compatibility/build-ts-libs.sh
  sdk/daml-assistant/integration-tests/BUILD.bazel
  sdk/daml-assistant/integration-tests/src/DA/Daml/Assistant/IntegrationTests.hs
  sdk/docs/BUILD.bazel
  sdk/language-support/ts/codegen/README.md
  sdk/language-support/ts/codegen/tests/BUILD.bazel
  sdk/language-support/ts/codegen/tests/build-and-lint.sh
  sdk/language-support/ts/codegen/tests/src/DA/Test/Daml2js.hs
  sdk/language-support/ts/codegen/tests/src/DA/Test/Daml2jsUtils.hs
  sdk/language-support/ts/codegen/tests/ts/yarn.lock
  sdk/language-support/ts/codegen/tests/watch-yarn.sh
  sdk/language-support/ts/daml-ledger/.eslintrc.json
  sdk/language-support/ts/daml-ledger/.gitignore
  sdk/language-support/ts/daml-ledger/BUILD.bazel
  sdk/language-support/ts/daml-ledger/README.md
  sdk/language-support/ts/daml-ledger/index.test.ts
  sdk/language-support/ts/daml-ledger/index.ts
  sdk/language-support/ts/daml-ledger/jest.config.js
  sdk/language-support/ts/daml-ledger/package.json
  sdk/language-support/ts/daml-ledger/tsconfig.json
  sdk/release/src/Main.hs
Owners: @digital-asset/daml-language, @digital-asset/kv-participant

Delete unused ResultNeedUpgradeVerification and transitive usages (#21842)
  sdk/canton/community/app/src/test/scala/com/digitalasset/canton/integration/util/TestSubmissionService.scala
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/platform/apiserver/execution/StoreBackedCommandInterpreter.scala
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/platform/store/dao/events/LfValueTranslation.scala
  sdk/canton/community/participant/src/main/scala/com/digitalasset/canton/participant/util/DAMLe.scala
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Result.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/NodeSeedsTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ReinterpretTest.scala
  sdk/daml-lf/ide-ledger/src/main/scala/com/digitalasset/daml/lf/script/IdeLedgerRunner.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SResult.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ChoiceAuthorityTest.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SpeedyTestLib.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/UpgradeTest.scala
  sdk/security-evidence.md
Owners: none

authenticate 3.2 and 3.3 contracts in the engine
  sdk/compiler/script-service/server/src/main/scala/com/digitalasset/daml/lf/script/Conversions.scala
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Result.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltinFun.scala
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/interpretation/Error.scala
Owners: @digital-asset/daml-language

add comments
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltinFun.scala
Owners: none

add authentication test cases in EngineTests
  sdk/daml-lf/engine/src/test/daml/BasicTests.daml
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  sdk/security-evidence.md
Owners: none
