Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @digital-asset/daml-release-owners, @dylant-da, @paulbrauner-da, @remyhaemmerle-da, @digital-asset/daml-language, @digital-asset/kv-participant

rm non-stable daml-prim from list stable pkgs (#22101)
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Util.hs
  sdk/compiler/damlc/tests/src/DA/Test/PackageImports.hs
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV2.scala
  sdk/daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/EncodeV2.scala
  sdk/daml-lf/engine/BUILD.bazel
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineValidatePackagesTest.scala
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
Owners: @digital-asset/daml-language

reject null characters when converting Value to SValue
  sdk/compiler/damlc/tests/daml-test-files/NullChar.daml
  sdk/compiler/damlc/tests/daml-test-files/NullCharacter.daml
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Error.scala
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/ValueTranslator.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/preprocessing/ValueTranslatorSpec.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ValueTranslator.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ValueTranslatorSpec.scala
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/interpretation/Error.scala
Owners: @digital-asset/daml-language

main 3.5.0 Snapshot Create a snapshot for [main](https://github.com/digital-asset/daml/commits/main/) at commit 046029d99127bcd1d1e24a9f9eaae6d096fbd719
  sdk/LATEST
Owners: @digital-asset/daml-release-owners

Add new test cases for the preprocessing of records (#22089)
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/preprocessing/ValueTranslatorSpec.scala
Owners: none

main 3.5.0 Snapshot (#22125)
  sdk/LATEST
Owners: @digital-asset/daml-release-owners

reject null characters when converting Value to SValue (#22124)
  sdk/compiler/damlc/tests/daml-test-files/NullChar.daml
  sdk/compiler/damlc/tests/daml-test-files/NullCharacter.daml
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Error.scala
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/ValueTranslator.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/preprocessing/ValueTranslatorSpec.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ValueTranslator.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ValueTranslatorSpec.scala
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/interpretation/Error.scala
Owners: @digital-asset/daml-language

[WIP] WIP
  sdk/compiler/daml-lf-ast/BUILD.bazel
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version/VersionType.hs
  sdk/daml-lf/language/BUILD.bazel
  sdk/daml-lf/language/daml-lf.bzl
  sdk/daml-lf/language/generate_haskell_versions.py
Owners: @digital-asset/daml-language

docs: replace upload-dar
  sdk/docs/manually-written/sdk/sdlc-howtos/smart-contracts/upgrade/smart-contract-upgrades.rst
  sdk/docs/sharable/sdk/sdlc-howtos/smart-contracts/upgrade/smart-contract-upgrades.rst
Owners: none

Fix codegen for packages depending on 3.3 packages
  sdk/language-support/ts/codegen/src/TsCodeGenMain.hs
Owners: none

docs: remove more references to 'daml start'
  sdk/docs/manually-written/sdk/component-howtos/application-development/dpm-sandbox.rst
  sdk/docs/sharable/sdk/component-howtos/application-development/dpm-sandbox.rst
Owners: none

docs: remove more references to 'daml start' (#22130)
  sdk/docs/manually-written/sdk/component-howtos/application-development/dpm-sandbox.rst
  sdk/docs/sharable/sdk/component-howtos/application-development/dpm-sandbox.rst
Owners: none

Fix codegen for packages depending on 3.3 packages (#22129)
  sdk/language-support/ts/codegen/src/TsCodeGenMain.hs
Owners: none

rotate release duty after 2025-10-15
  sdk/release/rotation
Owners: @digital-asset/daml-language

reject text with null characters during (de)serialization
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionCoder.scala
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/ValueCoder.scala
  sdk/daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/value/ValueCoderSpec.scala
Owners: none

restore interface view checks
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/UpgradesMatrix.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltinFun.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/EvaluationOrderTest.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ExceptionTest.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinInterfaceTest.scala
  sdk/security-evidence.md
Owners: none

polish tests
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionCoder.scala
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/ValueCoder.scala
  sdk/daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/value/ValueCoderSpec.scala
Owners: none

fix
  sdk/compiler/damlc/tests/daml-test-files/DeeplyNestedValue.daml
Owners: @digital-asset/daml-language

change the locking to be per-template
  sdk/ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsService.scala
  sdk/ledger-service/http-json/src/main/scala/com/digitalasset/http/util/LockSet.scala
  sdk/ledger-service/http-json/src/test/scala/com/digitalasset/http/util/LockSetTest.scala
Owners: none

Add logging. Also ensure the lock acquisition does not consume all the threads, starving out the execution of the block
  sdk/ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsService.scala
  sdk/ledger-service/http-json/src/main/scala/com/digitalasset/http/util/LockSet.scala
  sdk/ledger-service/http-json/src/test/scala/com/digitalasset/http/util/LockSetTest.scala
Owners: none

update to work properly with args that are futures
  sdk/ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsService.scala
  sdk/ledger-service/http-json/src/main/scala/com/digitalasset/http/util/LockSet.scala
  sdk/ledger-service/http-json/src/test/scala/com/digitalasset/http/util/LockSetTest.scala
Owners: none

[LF] drop archive snapshots
  sdk/compiler/script-service/protos/BUILD.bazel
  sdk/daml-lf/archive/BUILD.bazel
  sdk/daml-lf/archive/README.md
  sdk/daml-lf/archive/buf.yaml
  sdk/daml-lf/archive/proto_breaking_changes.sh
  sdk/daml-lf/archive/proto_check_hash.sh
  sdk/daml-lf/archive/src/main/protobuf/com/digitalasset/daml/lf/archive/daml_lf.proto
  sdk/daml-lf/archive/src/protobuf/com/digitalasset/daml/lf/archive/daml_lf.proto
  sdk/daml-lf/archive/src/protobuf/com/digitalasset/daml/lf/archive/daml_lf1.proto
  sdk/daml-lf/archive/src/protobuf/com/digitalasset/daml/lf/archive/daml_lf2.proto
  sdk/daml-lf/archive/src/stable/NO_AUTO_COPYRIGHT
  sdk/daml-lf/archive/src/stable/protobuf/com/daml/daml_lf_2_1/daml_lf2.proto
  sdk/release/artifacts.yaml
  sdk/release/util.bzl
Owners: @digital-asset/daml-language

fix
  sdk/release/test-protobuf-structure.sh
Owners: @digital-asset/daml-language

test deeply nested values in integration test (#22091)
  sdk/compiler/damlc/tests/daml-test-files/DeeplyNestedValue.daml
Owners: @digital-asset/daml-language

do not compute the view in create by interface
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/compiler/PhaseOne.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/EvaluationOrderTest.scala
  sdk/security-evidence.md
Owners: none

stashed work
  sdk/compiler/damlc/tests/crypto/AttestationTestData.daml
  sdk/compiler/damlc/tests/crypto/AttestationTests.daml
Owners: @digital-asset/daml-language

Check that crypto primitives generate no unexpected exceptions
  sdk/daml-lf/interpreter/BUILD.bazel
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltinFun.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBSECP256K1BoolTest.scala
Owners: none

Implement upgrade-check dpm component
  ci/copy-unix-release-artifacts.sh
  ci/copy-windows-release-artifacts.sh
  ci/publish-oci.sh
  sdk/daml-lf/validation/BUILD.bazel
  sdk/daml-lf/validation/component.yaml
  sdk/daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/UpgradeCheckMain.scala
  sdk/dev-env/bin/dpm-sdk-head
Owners: @digital-asset/daml-language

Proper Archive Schema decoder
  sdk/daml-lf/api-type-signature/src/main/scala/com/digitalasset/daml/lf/typesig/package.scala
  sdk/daml-lf/api-type-signature/src/main/scala/com/digitalasset/daml/lf/typesig/reader/DamlLfArchiveReader.scala
  sdk/daml-lf/api-type-signature/src/main/scala/com/digitalasset/daml/lf/typesig/reader/SignatureReader.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/Decode.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV2.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/package.scala
  sdk/daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV2Spec.scala
Owners: none

reject text with null characters during (de)serialization (#22133)
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionCoder.scala
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/ValueCoder.scala
  sdk/daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/value/ValueCoderSpec.scala
Owners: none

[LF] drop archive snapshots (#22040)
  sdk/compiler/script-service/protos/BUILD.bazel
  sdk/daml-lf/archive/BUILD.bazel
  sdk/daml-lf/archive/README.md
  sdk/daml-lf/archive/buf.yaml
  sdk/daml-lf/archive/proto_breaking_changes.sh
  sdk/daml-lf/archive/proto_check_hash.sh
  sdk/daml-lf/archive/src/main/protobuf/com/digitalasset/daml/lf/archive/daml_lf.proto
  sdk/daml-lf/archive/src/protobuf/com/digitalasset/daml/lf/archive/daml_lf.proto
  sdk/daml-lf/archive/src/protobuf/com/digitalasset/daml/lf/archive/daml_lf1.proto
  sdk/daml-lf/archive/src/protobuf/com/digitalasset/daml/lf/archive/daml_lf2.proto
  sdk/daml-lf/archive/src/stable/NO_AUTO_COPYRIGHT
  sdk/daml-lf/archive/src/stable/protobuf/com/daml/daml_lf_2_1/daml_lf2.proto
  sdk/release/artifacts.yaml
  sdk/release/test-protobuf-structure.sh
  sdk/release/util.bzl
Owners: @digital-asset/daml-language

Refactor to use daml-script to run tests
  sdk/daml-script/test/BUILD.bazel
  sdk/daml-script/test/daml/crypto/AttestationTestData.daml
  sdk/daml-script/test/daml/crypto/AttestationTests.daml
  sdk/daml-script/test/src/main/scala/com/digitalasset/daml/lf/engine/script/test/AttestationIT.scala
Owners: none

docs: replace upload-dar (#22128)
  sdk/docs/manually-written/sdk/sdlc-howtos/smart-contracts/upgrade/smart-contract-upgrades.rst
  sdk/docs/sharable/sdk/sdlc-howtos/smart-contracts/upgrade/smart-contract-upgrades.rst
Owners: none

fix
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV2.scala
Owners: none

review comments
  sdk/ledger-service/http-json/src/main/scala/com/digitalasset/http/util/LockSet.scala
  sdk/ledger-service/http-json/src/test/scala/com/digitalasset/http/util/LockSetTest.scala
Owners: none

[DO NOT MERGE] set chaching to false
  sdk/.bazelrc
  sdk/compatibility/.bazelrc
Owners: @digital-asset/daml-language, @digital-asset/kv-participant

address Carl's review
  sdk/daml-lf/api-type-signature/src/main/scala/com/digitalasset/daml/lf/typesig/reader/DamlLfArchiveReader.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/Decode.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  sdk/daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV1Spec.scala
  sdk/daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV2Spec.scala
Owners: none

2_2 default, add parserparameters minor
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
  sdk/daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ParserParameters.scala
Owners: none

Split attestation Daml into its own dar file
  sdk/daml-script/test/BUILD.bazel
  sdk/daml-script/test/src/main/scala/com/digitalasset/daml/lf/engine/script/test/AttestationIT.scala
Owners: none

Changes from review
  sdk/release/RELEASE.md
Owners: @digital-asset/daml-language

polish
  sdk/daml-lf/api-type-signature/src/main/scala/com/digitalasset/daml/lf/typesig/package.scala
  sdk/daml-lf/api-type-signature/src/main/scala/com/digitalasset/daml/lf/typesig/reader/DamlLfArchiveReader.scala
  sdk/daml-lf/api-type-signature/src/main/scala/com/digitalasset/daml/lf/typesig/reader/SignatureReader.scala
  sdk/daml-lf/api-type-signature/src/test/scala/com/digitalasset/daml/lf/typesig/reader/SignatureReaderSpec.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/Decode.scala
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/RunnerMain.scala
Owners: none

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

sdk/bazel-java-deps.bzl @digital-asset/daml-release-owners

CODEOWNERS   @dylant-da @paulbrauner-da @remyhaemmerle-da 
/sdk/LATEST @digital-asset/daml-release-owners

# Build / CI / environment
/ci/                   @digital-asset/daml-language
/sdk/dev-env/          @digital-asset/daml-language
/sdk/nix/              @digital-asset/daml-language
azure-pipelines.yml    @digital-asset/daml-language
azure-cron.yml         @digital-asset/daml-language
sdk/release/           @digital-asset/daml-language
sdk/release.sh         @digital-asset/daml-language

# Blackduck
/sdk/NOTICES

# Compatibility test
/sdk/compatibility/     @digital-asset/daml-language @digital-asset/kv-participant

# Language
/sdk/daml-assistant/    @digital-asset/daml-language
/sdk/daml-script/       
/sdk/compiler/          @digital-asset/daml-language
/sdk/libs-haskell/      @digital-asset/daml-language
/sdk/ghc-lib/           @digital-asset/daml-language
/sdk/test-common/canton/ 

# Runtime
/sdk/daml-lf/ 


# Ecosystems
/sdk/language-support/hs/       @digital-asset/daml-language
/sdk/language-support/java/     
/sdk/language-support/scala/    
/sdk/language-support/ts/       

# Application Runtime
/sdk/ledger-service/
/sdk/runtime-components/ 

# Misc
/sdk/docs/ 
/sdk/libs-scala/

# Observability related libraries
/sdk/observability
