Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @digital-asset/empty, @bitonic, @neil-da, @hurryabit, @cbaatz-da, @garyverhaegen-da, @gerolf-da, @nicholassmith-da, @bethaitman

Upgrade to ghc-lib 0.20190523.1
  WORKSPACE
Owners: @digital-asset/empty

[ci/linux] keep daml copy until it's actually not needed anymore (#1349)
  infra/vsts_agent_linux_startup.sh
Owners: @garyverhaegen-da

convert MetaData, MetaSel, MetaCons types
  daml-foundations/daml-ghc/ghc-compiler/src/DA/Daml/GHC/Compiler/Convert.hs
Owners: @digital-asset/empty

added a comment regarding a check for origin of Meta constructor in conversion
  daml-foundations/daml-ghc/ghc-compiler/src/DA/Daml/GHC/Compiler/Convert.hs
Owners: @digital-asset/empty

fixing doc generation
  daml-foundations/daml-ghc/daml-prim-src/GHC/Generics.daml
Owners: @digital-asset/empty

functional dependencies and small fixes
  daml-foundations/daml-ghc/daml-prim-src/GHC/Generics.daml
Owners: @digital-asset/empty

no PolyKinds in generics
  daml-foundations/daml-ghc/daml-prim-src/GHC/Generics.daml
Owners: @digital-asset/empty

ghc compiles generics
  daml-foundations/daml-ghc/daml-prim-src/GHC/Generics.daml
  daml-foundations/daml-ghc/daml-prim-src/LibraryModules.daml
Owners: @digital-asset/empty

update dar reader test
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DarReaderTest.scala
Owners: @digital-asset/empty

rename varKind to tyVarKind for clarity
  daml-foundations/daml-ghc/ghc-compiler/src/DA/Daml/GHC/Compiler/Convert.hs
Owners: @digital-asset/empty

added reference to original Generics.hs and git commit hash
  daml-foundations/daml-ghc/daml-prim-src/GHC/Generics.daml
Owners: @digital-asset/empty

more general kind conversion
  daml-foundations/daml-ghc/ghc-compiler/src/DA/Daml/GHC/Compiler/Convert.hs
Owners: @digital-asset/empty

added copyright header
  daml-foundations/daml-ghc/daml-prim-src/GHC/Generics.daml
Owners: @digital-asset/empty

Removing maybe type
  compiler/scenario-service/client/src/DA/Daml/LF/PrettyScenario.hs
Owners: @digital-asset/empty

Brace not needed
  compiler/scenario-service/client/src/DA/Daml/LF/PrettyScenario.hs
Owners: @digital-asset/empty

extra spaces
  compiler/scenario-service/client/src/DA/Daml/LF/PrettyScenario.hs
Owners: @digital-asset/empty

resolving pkg ref from identifier
  compiler/scenario-service/client/src/DA/Daml/LF/PrettyScenario.hs
Owners: @digital-asset/empty

Hliting
  compiler/scenario-service/client/src/DA/Daml/LF/PrettyScenario.hs
Owners: @digital-asset/empty

remove extra spaces
  compiler/scenario-service/client/src/DA/Daml/LF/PrettyScenario.hs
Owners: @digital-asset/empty

Create SECURITY.md
  SECURITY.md
Owners: @digital-asset/empty

remove ValuePrimitiveEncoding.mapped
  language-support/scala/bindings/src/main/scala/com/digitalasset/ledger/client/binding/binding/encoding/ValuePrimitiveEncoding.scala
Owners: @digital-asset/empty

mark members of ValuePrimitiveEncoding.Mapped final
  language-support/scala/bindings/src/main/scala/com/digitalasset/ledger/client/binding/binding/encoding/ValuePrimitiveEncoding.scala
Owners: @digital-asset/empty

add Maps to random tests
  language-support/scala/codegen-testing/src/test/scala/com/digitalasset/ledger/client/binding/ValueSpec.scala
Owners: @digital-asset/empty

replace <: Template[A] with : TC in ValuePrimitiveEncoding#valueContractId
  language-support/scala/bindings/src/main/scala/com/digitalasset/ledger/client/binding/binding/Value.scala
  language-support/scala/bindings/src/main/scala/com/digitalasset/ledger/client/binding/binding/encoding/LfEncodable.scala
  language-support/scala/bindings/src/main/scala/com/digitalasset/ledger/client/binding/binding/encoding/ValuePrimitiveEncoding.scala
  language-support/scala/codegen-testing/src/main/scala/com/digitalasset/ledger/client/binding/encoding/EqualityEncoding.scala
  language-support/scala/codegen-testing/src/main/scala/com/digitalasset/ledger/client/binding/encoding/GenEncoding.scala
  language-support/scala/codegen-testing/src/main/scala/com/digitalasset/ledger/client/binding/encoding/ShowEncoding.scala
  language-support/scala/codegen-testing/src/main/scala/com/digitalasset/ledger/client/binding/encoding/ShrinkEncoding.scala
  language-support/scala/codegen-testing/src/test/scala/com/digitalasset/ledger/client/binding/ValueSpec.scala
  language-support/scala/codegen-testing/src/test/scala/com/digitalasset/ledger/client/binding/encoding/LfTypeEncodingSpec.scala
Owners: @digital-asset/empty

final modifications following the reviews
  ledger-api/grpc-definitions/com/digitalasset/ledger/api/v1/admin/package_management_service.proto
  ledger-api/grpc-definitions/com/digitalasset/ledger/api/v1/admin/party_management_service.proto
Owners: @digital-asset/empty

replace : TC with no bound in ValuePrimitiveEncoding#valueContractId
  language-support/scala/bindings/src/main/scala/com/digitalasset/ledger/client/binding/binding/Value.scala
  language-support/scala/bindings/src/main/scala/com/digitalasset/ledger/client/binding/binding/encoding/LfEncodable.scala
  language-support/scala/bindings/src/main/scala/com/digitalasset/ledger/client/binding/binding/encoding/ValuePrimitiveEncoding.scala
  language-support/scala/codegen-testing/src/main/scala/com/digitalasset/ledger/client/binding/encoding/EqualityEncoding.scala
  language-support/scala/codegen-testing/src/main/scala/com/digitalasset/ledger/client/binding/encoding/GenEncoding.scala
  language-support/scala/codegen-testing/src/main/scala/com/digitalasset/ledger/client/binding/encoding/ShowEncoding.scala
  language-support/scala/codegen-testing/src/main/scala/com/digitalasset/ledger/client/binding/encoding/ShrinkEncoding.scala
  language-support/scala/codegen-testing/src/test/scala/com/digitalasset/ledger/client/binding/ValueSpec.scala
  language-support/scala/codegen-testing/src/test/scala/com/digitalasset/ledger/client/binding/encoding/LfTypeEncodingSpec.scala
Owners: @digital-asset/empty

correct wrong field number
  ledger-api/grpc-definitions/com/digitalasset/ledger/api/v1/admin/party_management_service.proto
Owners: @digital-asset/empty

stub test for generating with #1315's liberated contract IDs
  language-support/scala/codegen-sample-app/src/main/daml/MyMain.daml
Owners: @digital-asset/empty

undo useless changes
  language-support/scala/codegen-testing/src/test/scala/com/digitalasset/ledger/client/binding/ValueSpec.scala
Owners: @digital-asset/empty

Update installation.rst
  docs/source/getting-started/installation.rst
Owners: @bethaitman

Update installation.rst (#1359)
  docs/source/getting-started/installation.rst
Owners: @bethaitman

Upgrade to ghc-lib 0.20190523.1 (#1355)
  WORKSPACE
Owners: @digital-asset/empty

webide: analytics
  web-ide/proxy/package-lock.json
  web-ide/proxy/package.json
  web-ide/proxy/src/config.json
  web-ide/proxy/src/routes/webide.ts
Owners: @digital-asset/empty

webide: add page to events
  web-ide/proxy/src/routes/webide.ts
Owners: @digital-asset/empty

refactor figuring the TransactionFilter to give to API
  extractor/src/main/scala/com/digitalasset/extractor/Extractor.scala
Owners: @digital-asset/empty

replace ExtractorConfig#party with parties
  extractor/src/main/scala/com/digitalasset/extractor/config/ExtractorConfig.scala
Owners: @digital-asset/empty

adjust remainder of extractor main code to handle multiple parties
  extractor/src/main/scala/com/digitalasset/extractor/Extractor.scala
  extractor/src/main/scala/com/digitalasset/extractor/config/ConfigParser.scala
  extractor/src/main/scala/com/digitalasset/extractor/writers/postgresql/StateHandler.scala
Owners: @digital-asset/empty

previous extractor tests pass
  extractor/src/test/lib/scala/com/digitalasset/extractor/services/ExtractorFixture.scala
Owners: @digital-asset/empty

webide: analytics (#1358)
  web-ide/proxy/package-lock.json
  web-ide/proxy/package.json
  web-ide/proxy/src/config.json
  web-ide/proxy/src/routes/webide.ts
Owners: @digital-asset/empty

provide initial definitions for party management and package management (#1264)
  ledger-api/grpc-definitions/com/digitalasset/ledger/api/v1/admin/package_management_service.proto
  ledger-api/grpc-definitions/com/digitalasset/ledger/api/v1/admin/party_management_service.proto
Owners: @digital-asset/empty

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

*           @digital-asset/empty
CODEOWNERS  @bitonic @neil-da @hurryabit @cbaatz-da
VERSION     @digital-asset/empty

# Build / CI / environment
/3rdparty/          @digital-asset/empty
/bazel_tools/       @digital-asset/empty
/build-scripts/     @digital-asset/empty
/ci/                @garyverhaegen-da
/dev-env/           @garyverhaegen-da
/dotfiles/          @digital-asset/empty
/hazel/             @digital-asset/empty
/nix/               @garyverhaegen-da
/infra/             @garyverhaegen-da
/rattle/            @digital-asset/empty
/replacements/      @digital-asset/empty
/rules_daml/        @digital-asset/empty
BAZEL-JVM.md        @digital-asset/empty
BAZEL-haskell.md    @digital-asset/empty
BAZEL.md            @digital-asset/empty
BUILD               @digital-asset/empty
WORKSPACE           @digital-asset/empty
azure-pipelines.yml @garyverhaegen-da
azure-cron.yml      @garyverhaegen-da
build.ps1           @digital-asset/empty
build.sh            @digital-asset/empty
deps.bzl            @digital-asset/empty

# Language
/compiler/          @digital-asset/empty
/daml-foundations/  @digital-asset/empty
/libs-haskell/      @digital-asset/empty
/ghc-lib/           @digital-asset/empty

# SDK
/release/           @digital-asset/empty
/sdk/               @digital-asset/empty
/da-assistant/      @digital-asset/empty
/daml-assistant/    @digital-asset/empty
/templates/         @digital-asset/empty

# Runtime
/daml-lf/           @digital-asset/empty
/ledger/            @digital-asset/empty
/ledger-api/        @digital-asset/empty

# Ecosystems
/language-support/          @digital-asset/empty
/language-support/java/     @digital-asset/empty @gerolf-da @nicholassmith-da
/language-support/js/       @digital-asset/empty
/language-support/scala/    @digital-asset/empty
/scala-protoc-plugins/      @digital-asset/empty

# Tools
/extractor/         @digital-asset/empty
/navigator/         @digital-asset/empty
/web-ide/           @digital-asset/empty

# Misc
/docs/              @bethaitman
/notices-gen/       @digital-asset/empty
/oss-compliance/    @digital-asset/empty

CHANGELOG           @digital-asset/empty
CODE_OF_CONDUCT.md  @digital-asset/empty
CONTRIBUTING.md     @digital-asset/empty
COPY                @digital-asset/empty
LICENSE             @digital-asset/empty
NOTICES             @digital-asset/empty
README.md           @digital-asset/empty
daml-logo.png       @digital-asset/empty
