Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @gerolf-da, @cocreature, @bame-da, @garyverhaegen-da, @aherrmann-da, @dasormeter, @sofiafaro-da, @stefanobaghino-da, @remyhaemmerle-da, @S11001001, @miklos-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da, @fabiotudone-da, @SamirTalwar-DA, @nickchapman-da, @robin-da, @nemanja-da

Fix regression
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

Address https://github.com/digital-asset/daml/pull/9847#discussion_r647020825
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

Address https://github.com/digital-asset/daml/pull/9847#discussion_r647019965
  ledger-service/http-json/src/itlib/scala/http/AbstractWebsocketServiceIntegrationTest.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

Address https://github.com/digital-asset/daml/pull/9847#discussion_r647019447
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

[Mutable state cache] Start cache from latest ledger head (#9998)
  ledger/participant-integration-api/src/main/scala/platform/index/ReadOnlySqlLedgerWithMutableCache.scala
  ledger/participant-integration-api/src/main/scala/platform/store/cache/MutableCacheBackedContractStore.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/cache/MutableCacheBackedContractStoreSpec.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Clarify semantics of DIV_INT64 in LF spec.
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  daml-lf/spec/daml-lf-1.rst
Owners: @cocreature

spelling
  daml-lf/spec/daml-lf-1.rst
Owners: @cocreature

Integrate with ACS calls
  ledger-service/http-json/src/itlib/scala/http/AbstractWebsocketServiceIntegrationTest.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsFetch.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/domain.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

Drop pkgIds argument from Engine.validatePackages (#9986)
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/admin/ApiPackageManagementService.scala
  ledger/participant-integration-api/src/test/suite/scala/db/migration/translation/apiserver/services/admin/ApiPackageManagementServiceSpec.scala
  ledger/participant-state/kvutils/src/main/scala/com/daml/ledger/participant/state/kvutils/committer/PackageCommitter.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/committer/PackageCommitterSpec.scala
Owners: @cocreature, @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da, @fabiotudone-da, @miklos-da, @SamirTalwar-DA

scalafmt
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
Owners: @cocreature

hardcode numbers in MOD_INT64 test
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
Owners: @cocreature

Fix Type
  docs/source/daml/intro/10_Functional101.rst
Owners: @bame-da, @nemanja-da

Don't duplicate log failed futures in the http json api (commandservice specific)
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

Remove the wrong changes I accidentally made, the functions are quite similar xD
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

Improve comment
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

Restore old formatting
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

Fix duplicate logging of a failed future differently via adding another error case in CommandService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/CommandService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

remove the additional type and just make the id optional & remove unecessary comment
  ledger-service/http-json/src/main/scala/com/digitalasset/http/CommandService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

Fix three broken tests
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

[Mutable state cache] Start cache from latest ledger head (#9998) (#10002)
  ledger/participant-integration-api/src/main/scala/platform/index/ReadOnlySqlLedgerWithMutableCache.scala
  ledger/participant-integration-api/src/main/scala/platform/store/cache/MutableCacheBackedContractStore.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/cache/MutableCacheBackedContractStoreSpec.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Fix Type (#10004)
  docs/source/daml/intro/10_Functional101.rst
Owners: @bame-da, @nemanja-da

Clarify the semantics of DIV_INT64 in LF spec. (#10003)
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  daml-lf/spec/daml-lf-1.rst
Owners: @cocreature

Fix one regression
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

Don't duplicate log failed futures in the http json api (commandservice specific ones) (#9990)
  ledger-service/http-json/src/main/scala/com/digitalasset/http/CommandService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

Release 1.14 RC 2
  LATEST
Owners: @gerolf-da, @bame-da, @cocreature

Fix last regression
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

Address https://github.com/digital-asset/daml/pull/9847#discussion_r651586811
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsFetch.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

Address https://github.com/digital-asset/daml/pull/9847#discussion_r651668995
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsService.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

Address https://github.com/digital-asset/daml/pull/9847#discussion_r651669134
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsService.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

Address https://github.com/digital-asset/daml/pull/9847#discussion_r651669691
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

Address https://github.com/digital-asset/daml/pull/9847#discussion_r651670134
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

Address https://github.com/digital-asset/daml/pull/9847#discussion_r651676902
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsService.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

Address review comments
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/BufferedTransactionsReader.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/EventsTable.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/TransactionLogUpdatesConversions.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/TransactionsReader.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/EventsTable.scala
  ledger/participant-integration-api/src/main/scala/platform/store/interfaces/TransactionLogUpdate.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoTransactionLogUpdatesSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/index/BuffersUpdaterSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/appendonlydao/events/BufferedTransactionsReaderSpec.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

LF: Structure package loading errors
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ConcurrentCompiledPackages.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Error.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/preprocessing/Preprocessor.scala
Owners: @cocreature

Fix Scala 2.12 compilation error
  ledger-service/http-json/src/itlib/scala/http/AbstractWebsocketServiceIntegrationTest.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

[JSON-API] Log source and path of incoming http requests & the response with info level
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

address Moritz' review
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/DamlLfEncoder.scala
  daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/archive/testing/EncodeV1Spec.scala
  daml-lf/engine/BUILD.bazel
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ConcurrentCompiledPackages.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Error.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ConcurrentCompiledPackagesTest.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineValidatePackagesTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
Owners: @remyhaemmerle-da, @cocreature

Log templateId & choice name (if present) on command submissions in the json API
  ledger-service/http-json/src/main/scala/com/digitalasset/http/CommandService.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

formatting
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ConcurrentCompiledPackagesTest.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineValidatePackagesTest.scala
Owners: @cocreature

Move the template id & the choice into the logging context
  ledger-service/http-json/src/main/scala/com/digitalasset/http/CommandService.scala
  libs-scala/contextualized-logging/src/main/scala/com/digitalasset/logging/LoggingContextOf.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

CODEOWNERS   @gerolf-da @cocreature
LATEST       @gerolf-da @bame-da @cocreature

# Build / CI / environment
/ci/                @garyverhaegen-da
/dev-env/           @garyverhaegen-da
/nix/               @garyverhaegen-da
/infra/             @garyverhaegen-da
azure-pipelines.yml @garyverhaegen-da
azure-cron.yml      @garyverhaegen-da

# Blackduck
NOTICES     @garyverhaegen-da @aherrmann-da @cocreature @dasormeter

# Language
/compiler/           @cocreature
/libs-haskell/       @cocreature
/daml-assistant/    @sofiafaro-da  @cocreature
/daml-script/       @cocreature  @aherrmann-da @stefanobaghino-da
/triggers/          @cocreature  @aherrmann-da @stefanobaghino-da
/ghc-lib/           @cocreature
/compatibility/     @garyverhaegen-da @aherrmann-da @cocreature

# Runtime
/daml-lf/ @remyhaemmerle-da
/daml-lf/archive/da/ @cocreature
/daml-lf/data-scalacheck/ @S11001001 @cocreature
/daml-lf/engine/ @cocreature
/daml-lf/governance.rst
/daml-lf/interpreter/ @cocreature
/daml-lf/kv-transaction-support/ @cocreature @gerolf-da @miklos-da
/daml-lf/repl/ @cocreature
/daml-lf/scenario-interpreter/  @cocreature
/daml-lf/spec/daml-lf-1.rst @cocreature
/daml-lf/spec/transaction.rst @cocreature
/daml-lf/spec/value.rst @cocreature
/daml-lf/transaction-test-lib/ @S11001001 @cocreature
/daml-lf/transaction/src/main/scala/com/daml/lf/transaction/ @cocreature
/daml-lf/transaction/src/main/scala/com/daml/lf/value/ @cocreature
/daml-lf/validation/ @cocreature

/ledger-service/    @S11001001 @cocreature @stefanobaghino-da

/ledger/      @gerolf-da @mziolekda @nmarton-da @rautenrieth-da @tudor-da
/ledger-api/  @gerolf-da @mziolekda @nmarton-da @rautenrieth-da @tudor-da

/ledger/participant-state/kvutils/ @fabiotudone-da @gerolf-da @miklos-da @SamirTalwar-DA

/runtime-components/    @stefanobaghino-da @cocreature

# Ecosystems
/language-support/hs/       @nickchapman-da
/language-support/java/     @cocreature @stefanobaghino-da
/language-support/scala/    @S11001001 @cocreature @stefanobaghino-da
/language-support/ts/        @robin-da @cocreature @garyverhaegen-da @stefanobaghino-da

# Tools
/extractor/         @S11001001 @stefanobaghino-da
/navigator/         @cocreature @stefanobaghino-da
/navigator/backend/src/main/scala/com/digitalasset/navigator/json/    @S11001001

# Misc
/docs/              @bame-da @nemanja-da
/libs-scala/        @stefanobaghino-da @SamirTalwar-DA
/libs-scala/contextualized-logging/    @S11001001
/libs-scala/scala-utils/    @S11001001
/libs-scala/scalatest-utils/    @S11001001
