Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @gerolf-da, @cocreature, @bame-da, @garyverhaegen-da, @aherrmann-da, @dasormeter, @sofiafaro-da, @stefanobaghino-da, @remyhaemmerle-da, @S11001001, @miklos-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da, @fabiotudone-da, @SamirTalwar-DA, @nickchapman-da, @robin-da, @nemanja-da

Refactor error reporting in Daml Repl
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Repl.hs
  compiler/damlc/tests/src/DA/Test/Repl/FuncTests.hs
  compiler/repl-service/client/src/DA/Daml/LF/ReplClient.hs
  compiler/repl-service/protos/repl_service.proto
  compiler/repl-service/server/src/main/scala/com/digitalasset/daml/lf/speedy/ReplServiceMain.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
Owners: @cocreature, @aherrmann-da, @stefanobaghino-da

Improved TransactionsReader.splitRange * Removed explicit minChunkSize * Added property check test
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/TransactionsReader.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/appendonlydao/events/TransactionsReaderSpec.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Config.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da, @fabiotudone-da, @miklos-da, @SamirTalwar-DA

diff to postgres dump, create consolidated view
  ledger/participant-integration-api/src/main/resources/db/migration/oracle/V100_0__Append_only_schema.sql
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Oracle compliant append only schema
  ledger/participant-integration-api/src/main/resources/db/migration/oracle/V100_0__Append_only_schema.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/oracle/V100_0__Append_only_schema.sql
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoBackendOracleAppendOnly.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/dao/JdbcLedgerDaoOracleAppendOnlySpec.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

diff to postgres dump to ensure all oracle setup is equiv
  ledger/participant-integration-api/src/main/resources/db/migration/oracle/V1__Init.sql
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

recompute sha for changed oracle flyway scripts
  ledger/participant-integration-api/src/main/resources/db/migration/oracle/V100_0__Append_only_schema.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/oracle/V1__Init.sha256
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

WIP: primitive println debugging
  ledger/participant-integration-api/src/main/scala/platform/store/backend/oracle/OracleTable.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

drop old tables to prevent clash on name of new participant_events view
  ledger/participant-integration-api/src/main/resources/db/migration/oracle/V100_0__Append_only_schema.sql
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

conversion Instant -> Timestamp for oracle
  ledger/participant-integration-api/src/main/scala/platform/store/backend/oracle/OracleField.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Adds support for special preparedStatement for oracle
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/Field.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/Table.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/oracle/OracleField.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/oracle/OracleSchema.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/oracle/OracleTable.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

enable debug version of oracle driver
  ledger/participant-integration-api/BUILD.bazel
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

recompute sha for flyway script
  ledger/participant-integration-api/src/main/resources/db/migration/oracle/V100_0__Append_only_schema.sha256
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

prelim oracle StorageBackend
  ledger/participant-integration-api/src/main/scala/platform/store/backend/StorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/oracle/OracleSchema.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/oracle/OracleStorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/oracle/OracleTable.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Passing PackagesSpec with appendonlyschema on Oracle Rename size column to siz to avoid reserved word clash, including migration script for postgres
  ledger/participant-integration-api/src/main/resources/db/migration/h2database-appendonly/V1__Append_only_schema.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/h2database-appendonly/V1__Append_only_schema.sql
  ledger/participant-integration-api/src/main/resources/db/migration/h2database/V1__Init.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/h2database/V1__Init.sql
  ledger/participant-integration-api/src/main/resources/db/migration/oracle-appendonly/V100_0__Append_only_schema.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/oracle-appendonly/V100_0__Append_only_schema.sql
  ledger/participant-integration-api/src/main/resources/db/migration/oracle/V100_0__Append_only_schema.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/postgres-appendonly/V102_100__rename_packages_size_column.sql
  ledger/participant-integration-api/src/main/scala/platform/store/backend/DbDto.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/UpdateToDbDto.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/CommonStorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/Schema.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/oracle/OracleTable.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

scalafmt
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/TemplatedStorageBackend.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

revert enabling oracle jdbc debug
  ledger/participant-integration-api/BUILD.bazel
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

cleanup
  ledger/participant-integration-api/src/main/scala/platform/store/backend/oracle/OracleField.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

scalafmt
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/CommonStorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/Field.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/Table.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/oracle/OracleField.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/oracle/OracleSchema.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/oracle/OracleStorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/oracle/OracleTable.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoBackendOracleAppendOnly.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

remove semi-colons for ending statements that are problematic for oracle driver
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/CommonStorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/TemplatedStorageBackend.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

correct oracle failing active contract spec tests
  ledger/participant-integration-api/src/main/scala/platform/store/backend/oracle/OracleStorageBackend.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

bazel buildifier reformat
  ledger/participant-integration-api/BUILD.bazel
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

passing configuration spec for appendonly on oracle
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/CommonStorageBackend.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/dao/JdbcLedgerDaoOracleAppendOnlySpec.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

wire in JdbcLedgerDaoCompletionsSpec
  ledger/participant-integration-api/src/test/suite/scala/platform/store/dao/JdbcLedgerDaoOracleAppendOnlySpec.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

siz instead of size for packages table on all dbs and schema
  ledger/participant-integration-api/src/main/resources/db/migration/h2database/V102_100__rename_packages_size_column.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/h2database/V102_100__rename_packages_size_column.sql
  ledger/participant-integration-api/src/main/resources/db/migration/h2database/V1__Init.sql
  ledger/participant-integration-api/src/main/resources/db/migration/oracle-appendonly/V100_0__Append_only_schema.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/oracle-appendonly/V100_0__Append_only_schema.sql
  ledger/participant-integration-api/src/main/resources/db/migration/oracle/V1__Init.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/oracle/V1__Init.sql
  ledger/participant-integration-api/src/main/resources/db/migration/postgres/V102_100__rename_packages_size_column.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/postgres/V102_100__rename_packages_size_column.sql
  ledger/participant-integration-api/src/main/scala/platform/store/dao/JdbcLedgerDao.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

use db generic FETCH NEXT n ROW ONLY rather than limit for cross db compat
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/CommonStorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/TemplatedStorageBackend.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

include sha for new postgres migration script
  ledger/participant-integration-api/src/main/resources/db/migration/postgres-appendonly/V102_100__rename_packages_size_column.sha256
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

add missing copyright header
  ledger/participant-integration-api/src/main/scala/platform/store/backend/oracle/OracleField.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

passing party spec for appendonly on oracle
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/CommonStorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/oracle/OracleField.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/dao/JdbcLedgerDaoOracleAppendOnlySpec.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

First draw adding Oracle conformance test suites to CI
  ledger/ledger-on-sql/BUILD.bazel
  ledger/ledger-on-sql/src/test/lib/scala/com/daml/ledger/on/sql/MainWithEphemeralOracleUser.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Switches from composit SQLs to single SQLs at prepared statements to accommodate Oracle limitation
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/CommonStorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/oracle/OracleStorageBackend.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Fixes queries with empty startExclusive Offsets
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/CommonStorageBackend.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Use cross-db fetch next $n rows only syntax instead of limit syntax that works only for postgres/h2
  ledger/participant-integration-api/src/main/scala/platform/store/backend/h2/H2StorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PostgresStorageBackend.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

rename siz to package_size
  ledger/participant-integration-api/src/main/resources/db/migration/h2database-appendonly/V1__Append_only_schema.sql
  ledger/participant-integration-api/src/main/resources/db/migration/oracle-appendonly/V100_0__Append_only_schema.sql
  ledger/participant-integration-api/src/main/resources/db/migration/postgres-appendonly/V102_100__rename_packages_size_column.sql
  ledger/participant-integration-api/src/main/scala/platform/store/backend/DbDto.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/UpdateToDbDto.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/CommonStorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/Schema.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

wire in the oracle conformance tests for CI
  ci/build.yml
Owners: @garyverhaegen-da

do not change name of size column in packages table for mutable schema for all DBs
  ledger/participant-integration-api/src/main/resources/db/migration/h2database/V102_100__rename_packages_size_column.sql
  ledger/participant-integration-api/src/main/resources/db/migration/oracle-appendonly/V100_0__Append_only_schema.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/oracle-appendonly/V100_0__Append_only_schema.sql
  ledger/participant-integration-api/src/main/resources/db/migration/oracle/V1__Init.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/oracle/V1__Init.sql
  ledger/participant-integration-api/src/main/resources/db/migration/postgres-appendonly/V102_100__rename_packages_size_column.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/postgres-appendonly/V102_100__rename_packages_size_column.sql
  ledger/participant-integration-api/src/main/resources/db/migration/postgres/V102_100__rename_packages_size_column.sha256
  ledger/participant-integration-api/src/main/scala/platform/store/dao/JdbcLedgerDao.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

all tests up to divulgence passing for append only on oracle
  ledger/participant-integration-api/src/main/resources/db/migration/oracle-appendonly/V100_0__Append_only_schema.sql
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/TemplatedStorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/h2/H2StorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/oracle/OracleStorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PostgresStorageBackend.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/dao/JdbcLedgerDaoOracleAppendOnlySpec.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Fixes conversion to parties from Oracle-JSON at flatEventWitnessesColumn
  ledger/participant-integration-api/src/main/scala/platform/store/Conversions.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

recompute shas
  ledger/participant-integration-api/src/main/resources/db/migration/h2database-appendonly/V1__Append_only_schema.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/oracle-appendonly/V100_0__Append_only_schema.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/oracle/V1__Init.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/oracle/V1__Init.sql
  ledger/participant-integration-api/src/main/resources/db/migration/postgres-appendonly/V102_100__rename_packages_size_column.sha256
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

all appendonly tests passing on oracle
  ledger/participant-integration-api/src/main/resources/db/migration/oracle-appendonly/V100_0__Append_only_schema.sql
  ledger/participant-integration-api/src/main/scala/platform/store/backend/common/TemplatedStorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/h2/H2StorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/oracle/OracleStorageBackend.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PostgresStorageBackend.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoTransactionsSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/dao/JdbcLedgerDaoOracleAppendOnlySpec.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Fixes arrayIntersectionWhereClause by applying patch from mutable Oracle schema integration
  ledger/participant-integration-api/src/main/scala/platform/store/backend/oracle/OracleStorageBackend.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

CODEOWNERS   @gerolf-da @cocreature
LATEST       @gerolf-da @bame-da @cocreature

# Build / CI / environment
/ci/                @garyverhaegen-da
/dev-env/           @garyverhaegen-da
/nix/               @garyverhaegen-da
/infra/             @garyverhaegen-da
azure-pipelines.yml @garyverhaegen-da
azure-cron.yml      @garyverhaegen-da

# Blackduck
NOTICES     @garyverhaegen-da @aherrmann-da @cocreature @dasormeter

# Language
/compiler/           @cocreature
/libs-haskell/       @cocreature
/daml-assistant/    @sofiafaro-da  @cocreature
/daml-script/       @cocreature  @aherrmann-da @stefanobaghino-da
/triggers/          @cocreature  @aherrmann-da @stefanobaghino-da
/ghc-lib/           @cocreature
/compatibility/     @garyverhaegen-da @aherrmann-da @cocreature

# Runtime
/daml-lf/ @remyhaemmerle-da
/daml-lf/archive/da/ @cocreature
/daml-lf/data-scalacheck/ @S11001001 @cocreature
/daml-lf/engine/ @cocreature
/daml-lf/governance.rst
/daml-lf/interpreter/ @cocreature
/daml-lf/kv-transaction-support/ @cocreature @gerolf-da @miklos-da
/daml-lf/repl/ @cocreature
/daml-lf/scenario-interpreter/  @cocreature
/daml-lf/spec/daml-lf-1.rst @cocreature
/daml-lf/spec/transaction.rst @cocreature
/daml-lf/spec/value.rst @cocreature
/daml-lf/transaction-test-lib/ @S11001001 @cocreature
/daml-lf/transaction/src/main/scala/com/daml/lf/transaction/ @cocreature
/daml-lf/transaction/src/main/scala/com/daml/lf/value/ @cocreature
/daml-lf/validation/ @cocreature

/ledger-service/    @S11001001 @cocreature @stefanobaghino-da

/ledger/      @gerolf-da @mziolekda @nmarton-da @rautenrieth-da @tudor-da
/ledger-api/  @gerolf-da @mziolekda @nmarton-da @rautenrieth-da @tudor-da

/ledger/participant-state/kvutils/ @fabiotudone-da @gerolf-da @miklos-da @SamirTalwar-DA

/runtime-components/    @stefanobaghino-da @cocreature

# Ecosystems
/language-support/hs/       @nickchapman-da
/language-support/java/     @cocreature @stefanobaghino-da
/language-support/scala/    @S11001001 @cocreature @stefanobaghino-da
/language-support/ts/        @robin-da @cocreature @garyverhaegen-da @stefanobaghino-da

# Tools
/extractor/         @S11001001 @stefanobaghino-da
/navigator/         @cocreature @stefanobaghino-da
/navigator/backend/src/main/scala/com/digitalasset/navigator/json/    @S11001001

# Misc
/docs/              @bame-da @nemanja-da
/libs-scala/        @stefanobaghino-da @SamirTalwar-DA
/libs-scala/contextualized-logging/    @S11001001
/libs-scala/scala-utils/    @S11001001
/libs-scala/scalatest-utils/    @S11001001
