Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @digital-asset/daml-release-owners, @dylant-da, @paulbrauner-da, @remyhaemmerle-da, @digital-asset/daml-language, @digital-asset/kv-participant

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

sdk/bazel-java-deps.bzl @digital-asset/daml-release-owners

CODEOWNERS   @dylant-da @paulbrauner-da @remyhaemmerle-da 
/sdk/LATEST @digital-asset/daml-release-owners

# Build / CI / environment
/ci/                   @digital-asset/daml-language
/sdk/dev-env/          @digital-asset/daml-language
/sdk/nix/              @digital-asset/daml-language
azure-pipelines.yml    @digital-asset/daml-language
azure-cron.yml         @digital-asset/daml-language
sdk/release/           @digital-asset/daml-language
sdk/release.sh         @digital-asset/daml-language

# Blackduck
/sdk/NOTICES

# Compatibility test
/sdk/compatibility/     @digital-asset/daml-language @digital-asset/kv-participant

# Language
/sdk/daml-assistant/    @digital-asset/daml-language
/sdk/daml-script/       
/sdk/compiler/          @digital-asset/daml-language
/sdk/libs-haskell/      @digital-asset/daml-language
/sdk/ghc-lib/           @digital-asset/daml-language
/sdk/test-common/canton/ 

# Runtime
/sdk/daml-lf/ 


# Ecosystems
/sdk/language-support/hs/       @digital-asset/daml-language
/sdk/language-support/java/     
/sdk/language-support/scala/    
/sdk/language-support/ts/       

# Application Runtime
/sdk/ledger-service/
/sdk/runtime-components/ 

# Misc
/sdk/docs/ 
/sdk/libs-scala/

# Observability related libraries
/sdk/observability

update to dpm upgrade-check
  sdk/docs/manually-written/sdk/sdlc-howtos/smart-contracts/upgrade/smart-contract-upgrades.rst
Owners: none

dpm
  sdk/docs/sharable/sdk/sdlc-howtos/smart-contracts/upgrade/smart-contract-upgrades.rst
Owners: none

update docs for `dpm upgrade-check` and `validateDar` (#22152)
  sdk/docs/manually-written/sdk/sdlc-howtos/smart-contracts/upgrade/smart-contract-upgrades.rst
  sdk/docs/sharable/sdk/sdlc-howtos/smart-contracts/upgrade/smart-contract-upgrades.rst
Owners: none

fix
  sdk/daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV2Spec.scala
Owners: none

Proper Archive Schema decoder (#22145)
  sdk/daml-lf/api-type-signature/src/main/scala/com/digitalasset/daml/lf/typesig/reader/DamlLfArchiveReader.scala
  sdk/daml-lf/api-type-signature/src/main/scala/com/digitalasset/daml/lf/typesig/reader/SignatureReader.scala
  sdk/daml-lf/api-type-signature/src/test/scala/com/digitalasset/daml/lf/typesig/reader/SignatureReaderSpec.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/Decode.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV2.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/package.scala
  sdk/daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV1Spec.scala
  sdk/daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DecodeV2Spec.scala
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/RunnerMain.scala
Owners: none

Check that crypto primitives generate no unexpected exceptions (#22140)
  sdk/daml-lf/interpreter/BUILD.bazel
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltinFun.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBSECP256K1BoolTest.scala
Owners: none

do not compute the view in create by interface (#22139)
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/compiler/PhaseOne.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/EvaluationOrderTest.scala
  sdk/security-evidence.md
Owners: none

add serializability test to InterfaceViewSpec
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/InterfaceViewSpec.scala
  sdk/daml-lf/tests/InterfaceViews.daml
Owners: none

add tests for view_interface
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinInterfaceTest.scala
Owners: none

remove dead code
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinInterfaceTest.scala
Owners: none

add tests for queryInterface
  sdk/daml-script/test/daml/upgrades/stable/InterfaceViews.daml
Owners: none

fix DeeplyNestedValue.daml
  sdk/compiler/damlc/tests/daml-test-files/DeeplyNestedValue.daml
Owners: @digital-asset/daml-language

check that views are serializable when computed
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltinFun.scala
Owners: none

fix NullChar integration test
  sdk/compiler/damlc/tests/daml-test-files/NullCharacter.daml
Owners: @digital-asset/daml-language

When computing a view, check that it is serializable. (#22141)
  sdk/compiler/damlc/tests/daml-test-files/DeeplyNestedValue.daml
  sdk/compiler/damlc/tests/daml-test-files/NullCharacter.daml
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/InterfaceViewSpec.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltinFun.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinInterfaceTest.scala
  sdk/daml-lf/tests/InterfaceViews.daml
  sdk/daml-script/test/daml/upgrades/stable/InterfaceViews.daml
Owners: @digital-asset/daml-language

Add LF 2.2 dars for daml-script to DPM component
  sdk/daml-script/runner/BUILD.bazel
  sdk/daml-script/runner/component.yaml
Owners: none

More review notes
  sdk/release/RELEASE.md
Owners: @digital-asset/daml-language

2_2 default, add parserparameters minor (#22147)
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
  sdk/daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ParserParameters.scala
Owners: none

Make archiveSchemaReader ignoring unknown fields
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/Decode.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/GenReader.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/Reader.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/package.scala
  sdk/daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DarReaderTest.scala
Owners: none

Implement upgrade-check dpm component (#22142)
  ci/copy-unix-release-artifacts.sh
  ci/copy-windows-release-artifacts.sh
  ci/publish-oci.sh
  sdk/daml-lf/validation/BUILD.bazel
  sdk/daml-lf/validation/component.yaml
  sdk/daml-lf/validation/src/main/scala/com/digitalasset/daml/lf/validation/UpgradeCheckMain.scala
  sdk/dev-env/bin/dpm-sdk-head
Owners: @digital-asset/daml-language

Add LF 2.2 dars for daml-script to DPM component (#22156)
  sdk/daml-script/runner/BUILD.bazel
  sdk/daml-script/runner/component.yaml
Owners: none

Bump NIGHTLY_PREFIX to 3.5.0 (#22118)
  sdk/NIGHTLY_PREFIX
Owners: none

release/3.4.x Snapshot Create a snapshot for [release/3.4.x](https://github.com/digital-asset/daml/commits/release/3.4.x/) at commit ff0c54f65dd1aad8c2133f3901131f29c5209fff
  sdk/LATEST
Owners: @digital-asset/daml-release-owners

main Snapshot Create a snapshot for [main](https://github.com/digital-asset/daml/commits/main/) at commit ff0c54f65dd1aad8c2133f3901131f29c5209fff
  sdk/LATEST
Owners: @digital-asset/daml-release-owners

fix
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/Reader.scala
Owners: none

release/3.4.x Snapshot (#22157)
  sdk/LATEST
Owners: @digital-asset/daml-release-owners

fix
  sdk/daml-lf/api-type-signature/src/main/scala/com/digitalasset/daml/lf/typesig/reader/DamlLfArchiveReader.scala
Owners: none

main Snapshot (#22158)
  sdk/LATEST
Owners: @digital-asset/daml-release-owners

Add Circle Attestation Daml Testing (#21954)
  sdk/daml-script/test/BUILD.bazel
  sdk/daml-script/test/daml/crypto/AttestationTestData.daml
  sdk/daml-script/test/daml/crypto/AttestationTests.daml
  sdk/daml-script/test/src/main/scala/com/digitalasset/daml/lf/engine/script/test/AttestationIT.scala
Owners: none

test that enricher reject non-serializable values
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EnricherSpec.scala
  sdk/daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/value/ValueCoderSpec.scala
Owners: none

Backport of #21954
  sdk/daml-script/test/BUILD.bazel
  sdk/daml-script/test/daml/crypto/AttestationTestData.daml
  sdk/daml-script/test/daml/crypto/AttestationTests.daml
  sdk/daml-script/test/src/main/scala/com/digitalasset/daml/lf/engine/script/test/AttestationIT.scala
Owners: none

add in nix-store-gcs-proxy go.sum file
  sdk/nix/tools/nix-store-gcs-proxy/go.sum
Owners: @digital-asset/daml-language

address Carl's review
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/Decode.scala
Owners: none

Make archiveSchemaReader ignoring unknown fields (#22154)
  sdk/daml-lf/api-type-signature/src/main/scala/com/digitalasset/daml/lf/typesig/reader/DamlLfArchiveReader.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/Decode.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/GenReader.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/Reader.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/package.scala
  sdk/daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DarReaderTest.scala
Owners: none

Run matrix tests on both 2.2 and 2.dev
  sdk/daml-lf/engine/BUILD.bazel
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/UpgradesMatrix.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/UpgradesMatrixUnit.scala
  sdk/daml-script/test/src/main/scala/com/digitalasset/daml/lf/engine/script/test/UpgradesMatrixIT.scala
  sdk/security-evidence.md
Owners: none

Fix SerializationVersionTest
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SerializationVersionTest.scala
Owners: none

Make archiveSchemaReader ignoring unknown fields (#22154)
  sdk/daml-lf/api-type-signature/src/main/scala/com/digitalasset/daml/lf/typesig/reader/DamlLfArchiveReader.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/Decode.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/GenReader.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/Reader.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/package.scala
  sdk/daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DarReaderTest.scala
Owners: none

add in nix-store-gcs-proxy go.sum file (#22162)
  sdk/nix/tools/nix-store-gcs-proxy/go.sum
Owners: @digital-asset/daml-language

Backport of #21954 (Add Circle Attestation Daml Testing) (#22161)
  sdk/daml-script/test/BUILD.bazel
  sdk/daml-script/test/daml/crypto/AttestationTestData.daml
  sdk/daml-script/test/daml/crypto/AttestationTests.daml
  sdk/daml-script/test/src/main/scala/com/digitalasset/daml/lf/engine/script/test/AttestationIT.scala
Owners: none

fix
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SerializationVersionTest.scala
Owners: none
