Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @digital-asset/daml-release-owners, @dylant-da, @paulbrauner-da, @remyhaemmerle-da, @digital-asset/daml-language, @digital-asset/kv-participant

Implement daml-new-oci dpm component (#21792)
  ci/copy-unix-release-artifacts.sh
  ci/copy-windows-release-artifacts.sh
  ci/publish-oci.sh
  sdk/daml-assistant/daml-helper/BUILD.bazel
  sdk/daml-assistant/daml-helper/component.yaml
  sdk/daml-assistant/daml-helper/src/DA/Daml/Helper/New.hs
  sdk/daml-assistant/daml-helper/src/DA/Daml/Helper/Studio.hs
  sdk/daml-assistant/daml-project-config/DA/Daml/Project/Consts.hs
Owners: @digital-asset/daml-language

Remove SDK version check for daml-script
  sdk/compiler/damlc/daml-resolution-config/src/DA/Daml/Resolution/Config.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc/DependencyDb.hs
Owners: @digital-asset/daml-language

Integrate step counts into replay benchmarks
  sdk/daml-lf/snapshot/src/benchmark/scala/com/digitalasset/daml/lf/testing/snapshot/ReplayBenchmark.scala
  sdk/daml-lf/snapshot/src/main/scala/com/digitalasset/daml/lf/testing/snapshot/TransactionSnapshot.scala
Owners: none

Remove SDK version check for daml-script (#21808)
  sdk/compiler/damlc/daml-resolution-config/src/DA/Daml/Resolution/Config.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc/DependencyDb.hs
Owners: @digital-asset/daml-language

some simple benchmarks for pure evaluation (#21779)
  sdk/daml-lf/interpreter/bench/BUILD.bazel
  sdk/daml-lf/interpreter/bench/src/scala/com/digitalasset/daml/lf/speedy/Bench.scala
Owners: none

Add environment variable AZURE_DEVOPS_EXT_PAT to task 'Bump Blackduck Script if needed'
  ci/blackduck.yml
Owners: @digital-asset/daml-language

Changes to allow Speedy to collect metric data (in principle) and communicate metrics back to a calling/control context (#21793)
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/InterfacesTest.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  sdk/daml-lf/snapshot/BUILD.bazel
  sdk/daml-lf/snapshot/src/benchmark/scala/com/digitalasset/daml/lf/testing/snapshot/ReplayBenchmark.scala
  sdk/daml-lf/snapshot/src/main/scala/com/digitalasset/daml/lf/testing/snapshot/TransactionSnapshot.scala
  sdk/security-evidence.md
Owners: none

Fix open_pr creation and trigger PRs pipeline for 'Bump Blackduck Script if needed'
  ci/blackduck.yml
Owners: @digital-asset/daml-language

Fix for "Blackduck Scan" -> "Open PR to update NOTICES file" (#21803)
  ci/blackduck.yml
Owners: @digital-asset/daml-language

Extend snapshot code to capture the number of transaction nodes
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltinFun.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  sdk/daml-lf/snapshot/src/benchmark/scala/com/digitalasset/daml/lf/testing/snapshot/ReplayBenchmark.scala
Owners: none

Update README and fmt fix
  sdk/daml-lf/snapshot/README.md
  sdk/security-evidence.md
Owners: none

Add step and tx counts to simple benchmarks
  sdk/daml-lf/interpreter/bench/src/scala/com/digitalasset/daml/lf/speedy/Bench.scala
Owners: none

Untie dependency from quickstart to rx-java
  sdk/docs/sharable/sdk/tutorials/quickstart/template-root/pom.xml
  sdk/docs/sharable/sdk/tutorials/quickstart/template-root/src/main/java/com/daml/quickstart/iou/IouMain.java
  sdk/docs/source/sdk/tutorials/quickstart/template-root/pom.xml
  sdk/docs/source/sdk/tutorials/quickstart/template-root/src/main/java/com/daml/quickstart/iou/IouMain.java
Owners: none

Removed @daml-react. (#21800)
  ci/blackduck.yml
  sdk/compatibility/WORKSPACE
  sdk/compatibility/bazel_tools/daml_sdk.bzl
  sdk/compatibility/build-ts-libs.sh
  sdk/compatibility/versions/UpdateVersions.hs
  sdk/daml-assistant/integration-tests/BUILD.bazel
  sdk/docs/BUILD.bazel
  sdk/docs/configs/html/conf.py
  sdk/docs/configs/pdf/conf.py
  sdk/docs/manually-written/sdk/reference/cheat-sheet.rst
  sdk/docs/manually-written/sdk/reference/cheat-sheet/includes/command-line-tools.rst.inc
  sdk/docs/manually-written/sdk/reference/cheat-sheet/includes/javascript.rst.inc
  sdk/docs/sharable/sdk/reference/cheat-sheet.rst
  sdk/docs/sharable/sdk/reference/cheat-sheet/includes/command-line-tools.rst.inc
  sdk/docs/sharable/sdk/reference/cheat-sheet/includes/javascript.rst.inc
  sdk/language-support/ts/codegen/tests/src/DA/Test/Daml2jsUtils.hs
  sdk/language-support/ts/daml-ledger/README.md
  sdk/language-support/ts/daml-ledger/index.ts
  sdk/language-support/ts/daml-react/.eslintrc.json
  sdk/language-support/ts/daml-react/.gitignore
  sdk/language-support/ts/daml-react/BUILD.bazel
  sdk/language-support/ts/daml-react/README.md
  sdk/language-support/ts/daml-react/createLedgerContext.ts
  sdk/language-support/ts/daml-react/defaultLedgerContext.ts
  sdk/language-support/ts/daml-react/index.test.ts
  sdk/language-support/ts/daml-react/index.ts
  sdk/language-support/ts/daml-react/jest.config.js
  sdk/language-support/ts/daml-react/package.json
  sdk/language-support/ts/daml-react/tsconfig.json
  sdk/language-support/ts/daml-types/README.md
  sdk/language-support/ts/package.json
  sdk/release/src/Main.hs
Owners: @digital-asset/daml-language, @digital-asset/kv-participant

Add ContractValidation interface with legacy implementation
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/ContractValidation.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ContractValidationSpec.scala
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/crypto/Hash.scala
Owners: none

Comments @dylant-da
  sdk/compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
  sdk/compiler/damlc/daml-rule-types/src/Development/IDE/Core/RuleTypes/Daml.hs
Owners: @digital-asset/daml-language

Add to damlRule
  sdk/compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
Owners: @digital-asset/daml-language

Move to maybe
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Base.hs
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Util.hs
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  sdk/compiler/daml-lf-proto-decode/src/DA/Daml/LF/Proto3/DecodeV2.hs
  sdk/compiler/daml-lf-proto-encode/src/DA/Daml/LF/Proto3/EncodeV2.hs
  sdk/compiler/daml-lf-proto-util/src/DA/Daml/LF/Proto3/DerivingData.hs
  sdk/compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Dar.hs
  sdk/compiler/damlc/daml-ide-core/src/Development/IDE/Core/Rules/Daml.hs
  sdk/compiler/damlc/daml-lf-util/src/DA/Daml/UtilLF.hs
  sdk/compiler/damlc/daml-rule-types/src/Development/IDE/Core/RuleTypes/Daml.hs
  sdk/compiler/damlc/stable-packages/lib/DA/Daml/StablePackages.hs
  sdk/compiler/damlc/tests/src/DA/Test/GenerateSimpleDalf.hs
  sdk/compiler/script-service/client/src/DA/Daml/LF/ScriptServiceClient/LowLevel.hs
  sdk/daml-lf/archive/src/main/protobuf/com/digitalasset/daml/lf/archive/daml_lf2.proto
Owners: @digital-asset/daml-language

JMH fixes to collect step and tx counts correctly
  sdk/daml-lf/interpreter/bench/src/scala/com/digitalasset/daml/lf/speedy/Bench.scala
Owners: none

Extend snapshot code to capture the number of transaction nodes (#21811)
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltinFun.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  sdk/daml-lf/snapshot/README.md
  sdk/daml-lf/snapshot/src/benchmark/scala/com/digitalasset/daml/lf/testing/snapshot/ReplayBenchmark.scala
  sdk/security-evidence.md
Owners: none

fix
  sdk/docs/BUILD.bazel
  sdk/docs/sharable/sdk/tutorials/quickstart/template-root/src/main/java/com/daml/quickstart/iou/IouMain.java
  sdk/docs/source/sdk/tutorials/quickstart/template-root/src/main/java/com/daml/quickstart/iou/IouMain.java
Owners: none

sync
  sdk/docs/sharable/sdk/tutorials/quickstart/template-root/src/main/java/com/daml/quickstart/iou/IouMain.java
Owners: none

restore accidentally disabled assertion in preprocessing/ValueTranslastorSpec
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/preprocessing/ValueTranslatorSpec.scala
Owners: none

reject records with tyCon ID or lables in speedy/ValueTranslator, fix and extend tests
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ValueTranslator.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ValueTranslatorSpec.scala
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/TypeDestructor.scala
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/interpretation/Error.scala
Owners: none

Fix FOLDR evaluation order
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltinFun.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/EvaluationOrderTest.scala
Owners: none

update security-evidence.md
  sdk/security-evidence.md
Owners: none

replace broken ref with absolute url
  sdk/docs/manually-written/overview/overview/enterprise.rst
  sdk/docs/sharable/overview/overview/enterprise.rst
Owners: none

fix
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/EvaluationOrderTest.scala
Owners: none

remove now useless SomeArrayEquals trait
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SomeArrayEquals.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/compiler/SExpr1.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SomeArrayEqualsTest.scala
Owners: none

fix SemanticsEvalOrder
  sdk/compiler/damlc/tests/daml-test-files/SemanticsEvalOrder.daml
Owners: @digital-asset/daml-language

bump grpc, pekko, opentelemetry
  sdk/bazel-java-deps.bzl
  sdk/canton/community/common/src/main/scala/com/digitalasset/canton/environment/CantonNodeBootstrap.scala
  sdk/canton/community/common/src/main/scala/com/digitalasset/canton/health/GrpcHealthServer.scala
  sdk/canton/community/domain/src/main/scala/com/digitalasset/canton/domain/server/DynamicDomainGrpcServer.scala
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/platform/apiserver/ApiServices.scala
  sdk/canton/community/ledger/ledger-api-core/src/test/scala/com/digitalasset/canton/platform/apiserver/ratelimiting/RateLimitingInterceptorSpec.scala
  sdk/libs-scala/grpc-test-utils/src/main/scala/com/daml/grpc/test/GrpcServer.scala
  sdk/runtime-components/non-repudiation-testing/src/main/scala/com/daml/nonrepudiation/testing/DummyTestSetup.scala
Owners: @digital-asset/daml-release-owners

fix UpdateMatrix
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/UpgradesMatrix.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/UpgradesMatrixUnit.scala
  sdk/daml-script/test/src/main/scala/com/digitalasset/daml/lf/engine/script/test/UpgradesMatrixIT.scala
Owners: none

replace importValue with translateValue
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SExpr.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
Owners: none

fix speedy/UpgradeTest
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/UpgradeTest.scala
Owners: none

fix daml script upgrade tests
  sdk/daml-script/daml/Daml/Script/Internal/Questions/Submit/Error.daml
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ledgerinteraction/SubmitError.scala
  sdk/daml-script/test/daml/upgrades/dev/DataChanges.daml
  sdk/daml-script/test/daml/upgrades/stable/DataChanges.daml
  sdk/daml-script/test/daml/upgrades/stable/Exceptions.daml
  sdk/daml-script/test/daml/upgrades/stable/Fetch.daml
  sdk/daml-script/test/daml/upgrades/stable/FromInterface.daml
  sdk/daml-script/test/daml/upgrades/stable/VariantChanges.daml
Owners: none

typos, leftover comments
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ValueTranslator.scala
Owners: none

update security evidence
  sdk/security-evidence.md
Owners: none

use externalref
  sdk/docs/manually-written/overview/overview/enterprise.rst
  sdk/docs/sharable/overview/overview/enterprise.rst
Owners: none

replace broken ref with absolute url (#21820)
  sdk/docs/manually-written/overview/overview/enterprise.rst
  sdk/docs/sharable/overview/overview/enterprise.rst
Owners: none

update NOTICES file
  sdk/NOTICES
Owners: none

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

sdk/bazel-java-deps.bzl @digital-asset/daml-release-owners

CODEOWNERS   @dylant-da @paulbrauner-da @remyhaemmerle-da 
/sdk/LATEST @digital-asset/daml-release-owners

# Build / CI / environment
/ci/                   @digital-asset/daml-language
/sdk/dev-env/          @digital-asset/daml-language
/sdk/nix/              @digital-asset/daml-language
azure-pipelines.yml    @digital-asset/daml-language
azure-cron.yml         @digital-asset/daml-language
sdk/release/           @digital-asset/daml-language
sdk/release.sh         @digital-asset/daml-language

# Blackduck
/sdk/NOTICES

# Compatibility test
/sdk/compatibility/     @digital-asset/daml-language @digital-asset/kv-participant

# Language
/sdk/daml-assistant/    @digital-asset/daml-language
/sdk/daml-script/       
/sdk/compiler/          @digital-asset/daml-language
/sdk/libs-haskell/      @digital-asset/daml-language
/sdk/ghc-lib/           @digital-asset/daml-language
/sdk/test-common/canton/ 

# Runtime
/sdk/daml-lf/ 


# Ecosystems
/sdk/language-support/hs/       @digital-asset/daml-language
/sdk/language-support/java/     
/sdk/language-support/scala/    
/sdk/language-support/ts/       

# Application Runtime
/sdk/ledger-service/
/sdk/runtime-components/ 

# Misc
/sdk/docs/ 
/sdk/libs-scala/

# Observability related libraries
/sdk/observability
