Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @gerolf-da, @cocreature, @stefanobaghino-da, @bame-da, @ray-roestenburg-da, @adriaanm-da, @garyverhaegen-da, @dasormeter, @sofiafaro-da, @remyhaemmerle-da, @S11001001, @digital-asset/kv-committer, @digital-asset/kv-participant, @meiersi-da, @nickchapman-da, @robin-da, @SamirTalwar-DA

1
  ledger/sandbox-on-x/src/main/scala/com/daml/ledger/sandbox/domain/Rejection.scala
Owners: @digital-asset/kv-participant

guard nightly
  ci/daily-snapshot.yml
Owners: @garyverhaegen-da

review
  ci/daily-snapshot.yml
Owners: @garyverhaegen-da

add release instructions to release notification
  ci/cron/tuesday.yml
Owners: @garyverhaegen-da

add link back to testing instructions
  release/RELEASE_SNAPSHOT_1.0.md
  release/RELEASE_SNAPSHOT_2.0.md
  release/RELEASE_STABLE_1.0.md
  release/RELEASE_STABLE_2.0.md
Owners: @garyverhaegen-da

also add to rotation PR
  ci/cron/wednesday.yml
Owners: @garyverhaegen-da

guard nightly (#13158)
  ci/daily-snapshot.yml
Owners: @garyverhaegen-da

Use DamlContextualizedErrorLogger.forTesting (#13137)
  ledger/error/src/main/scala/com/daml/error/ContextualizedErrorLogger.scala
  ledger/error/src/test/suite/scala/com/daml/error/ErrorCodeSpec.scala
  ledger/error/src/test/utils/scala/com/daml/error/utils/testpackage/subpackage/MildErrorsParent.scala
  ledger/ledger-api-client/src/test/suite/scala/com/digitalasset/ledger/client/services/commands/tracker/CompletionResponseTest.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/platform/server/api/validation/ErrorFactoriesSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/GrpcServerSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/apiserver/error/ErrorInterceptorSpec.scala
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/ConversionsSpec.scala
  ledger/sandbox-on-x/src/test/suite/scala/com/daml/ledger/sandbox/bridge/validate/ConflictCheckWithCommittedSpec.scala
  ledger/sandbox-on-x/src/test/suite/scala/com/daml/ledger/sandbox/bridge/validate/PrepareSubmissionSpec.scala
Owners: @digital-asset/kv-participant, @digital-asset/kv-committer

add release instructions to release notification (#13160)
  ci/cron/tuesday.yml
  ci/cron/wednesday.yml
  release/RELEASE_SNAPSHOT_1.0.md
  release/RELEASE_SNAPSHOT_2.0.md
  release/RELEASE_STABLE_1.0.md
  release/RELEASE_STABLE_2.0.md
Owners: @garyverhaegen-da

Concurrency fix to make operations atomic
  ledger/participant-integration-api/src/test/lib/scala/platform/indexer/ha/EndlessReadService.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/indexer/ha/IndexerStabilityTestFixture.scala
Owners: @digital-asset/kv-participant

comment fix
  ledger/participant-integration-api/src/test/lib/scala/platform/indexer/ha/EndlessReadService.scala
Owners: @digital-asset/kv-participant

Remove the use of eventually where it is not applicable
  ledger/ledger-api-tests/suites/src/main/scala/com/daml/ledger/api/testtool/suites/v1_8/ContractKeysIT.scala
  ledger/ledger-api-tests/suites/src/main/scala/com/daml/ledger/api/testtool/suites/v1_8/SemanticTests.scala
  ledger/ledger-api-tests/suites/src/main/scala/com/daml/ledger/api/testtool/suites/v1_8/TransactionServiceAuthorizationIT.scala
  ledger/ledger-api-tests/suites/src/main/scala/com/daml/ledger/api/testtool/suites/v1_8/TransactionServiceExerciseIT.scala
  ledger/ledger-api-tests/suites/src/main/scala/com/daml/ledger/api/testtool/suites/v1_8/TransactionServiceVisibilityIT.scala
Owners: @digital-asset/kv-participant, @digital-asset/kv-committer

Normalize token parsing & remove custom parsing code
  ledger-service/http-json/src/main/scala/com/digitalasset/http/EndpointsCompanion.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebsocketEndpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/endpoints/RouteSetup.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/endpoints/UserManagement.scala
Owners: @S11001001, @stefanobaghino-da, @ray-roestenburg-da

formatting
  ledger/ledger-api-tests/suites/src/main/scala/com/daml/ledger/api/testtool/suites/v1_8/TransactionServiceAuthorizationIT.scala
Owners: @digital-asset/kv-participant, @digital-asset/kv-committer

release instructions: fix line numbers
  release/RELEASE.md
Owners: @garyverhaegen-da

Add test to check that tokens without ledger id work correctly
  ledger-service/http-json-testing/src/main/scala/com/daml/http/HttpServiceTestFixture.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTest.scala
Owners: @S11001001, @stefanobaghino-da, @ray-roestenburg-da

Addressed review comments
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/config/Cli.scala
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/metrics/MeteredStreamObserver.scala
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/metrics/MetricsManager.scala
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/submission/CommandSubmitter.scala
  ledger/ledger-api-bench-tool/src/test/suite/scala/com/daml/ledger/api/benchtool/config/CliSpec.scala
  ledger/ledger-api-bench-tool/src/test/suite/scala/com/daml/ledger/api/benchtool/metrics/LatencyMetricSpec.scala
Owners: @digital-asset/kv-participant

[Error codes] Use scala.deprecated instead of a custom annotation [DPP-776]
  ledger/error/generator/app/src/main/scala/com/daml/error/generator/app/ErrorCategoryInventoryDocsGenApp.scala
  ledger/error/generator/app/src/main/scala/com/daml/error/generator/app/ErrorCodeInventoryDocsGenApp.scala
  ledger/error/generator/app/src/main/scala/com/daml/error/generator/app/Main.scala
  ledger/error/generator/lib/src/main/scala/com/daml/error/generator/ErrorCategoryDocItem.scala
  ledger/error/generator/lib/src/main/scala/com/daml/error/generator/ErrorCodeDocItem.scala
  ledger/error/generator/lib/src/main/scala/com/daml/error/generator/ErrorCodeDocumentationGenerator.scala
  ledger/error/generator/lib/src/main/scala/com/daml/error/generator/ErrorGroupDocItem.scala
  ledger/error/generator/test/suite/scala/com/daml/error/generator/ErrorCodeDocumentationGeneratorSpec.scala
  ledger/error/src/main/scala/com/daml/error/ErrorCode.scala
  ledger/error/src/main/scala/com/daml/error/definitions/LedgerApiErrors.scala
  ledger/error/src/test/utils/scala/com/daml/error/utils/testpackage/DeprecatedError.scala
Owners: @digital-asset/kv-participant

Update ledger-service/http-json/src/main/scala/com/digitalasset/http/endpoints/UserManagement.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/endpoints/UserManagement.scala
Owners: @S11001001, @stefanobaghino-da, @ray-roestenburg-da

Update ledger-service/http-json/src/main/scala/com/digitalasset/http/EndpointsCompanion.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/EndpointsCompanion.scala
Owners: @S11001001, @stefanobaghino-da, @ray-roestenburg-da

Make http.domain a package (Fixes #11151)
  ledger-service/http-json/src/main/scala/com/digitalasset/http/domain.scala
Owners: @S11001001, @stefanobaghino-da, @ray-roestenburg-da

shut down ElasticSearch (#13151)
  infra/es_cluster.tf
Owners: @garyverhaegen-da

Remove the overload of jwtForParties & change how the wihtoutNamespace JWT is constructed
  ledger-service/http-json-testing/src/main/scala/com/daml/http/HttpServiceTestFixture.scala
  ledger-service/http-json/src/failure/scala/http/FailureTests.scala
  ledger-service/http-json/src/itlib/scala/http/AbstractHttpServiceIntegrationTest.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/CommandServiceTest.scala
Owners: @S11001001, @stefanobaghino-da, @ray-roestenburg-da

Latency test implementation in LedgerApiBenchTool [DPP-947] (#13150)
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/Benchmark.scala
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/LedgerApiBenchTool.scala
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/config/Cli.scala
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/config/Config.scala
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/metrics/BenchmarkResult.scala
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/metrics/ExposedMetrics.scala
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/metrics/LatencyMetric.scala
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/metrics/MeteredStreamObserver.scala
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/metrics/MetricsManager.scala
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/metrics/StreamResult.scala
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/submission/CommandSubmitter.scala
  ledger/ledger-api-bench-tool/src/main/scala/com/daml/ledger/api/benchtool/util/ReportFormatter.scala
  ledger/ledger-api-bench-tool/src/test/suite/scala/com/daml/ledger/api/benchtool/config/CliSpec.scala
  ledger/ledger-api-bench-tool/src/test/suite/scala/com/daml/ledger/api/benchtool/metrics/LatencyMetricSpec.scala
Owners: @digital-asset/kv-participant

test interface using the old syntax
  daml-lf/interface/src/test/daml/InterfaceTestPackage.daml
  daml-lf/interface/src/test/scala/com/digitalasset/daml/lf/iface/reader/InterfaceReaderSpec.scala
Owners: @remyhaemmerle-da, @cocreature

compile the test interface with 1.dev
  daml-lf/interface/BUILD.bazel
  daml-lf/interface/src/test/daml/InterfaceTestPackage.daml
Owners: @remyhaemmerle-da, @cocreature

new DefInterface for iface.Interface
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/DefDataType.scala
Owners: @remyhaemmerle-da, @cocreature

build foldModule's state all at once
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/reader/InterfaceReader.scala
Owners: @remyhaemmerle-da, @cocreature

only pull the fixedChoices from the interfaces
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/reader/InterfaceReader.scala
Owners: @remyhaemmerle-da, @cocreature

add the DefInterfaces to the Interface and EnvironmentInterface boxes
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/EnvironmentInterface.scala
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/Interface.scala
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/reader/InterfaceReader.scala
Owners: @remyhaemmerle-da, @cocreature

remove state-stepping functions
  daml-lf/interface/src/main/scala/com/digitalasset/daml/lf/iface/reader/InterfaceReader.scala
Owners: @remyhaemmerle-da, @cocreature

failing test that the choice made it all the way through
  daml-lf/interface/src/test/scala/com/digitalasset/daml/lf/iface/reader/InterfaceReaderSpec.scala
Owners: @remyhaemmerle-da, @cocreature

update NOTICES file
  NOTICES
Owners: @garyverhaegen-da, @cocreature, @dasormeter

update NOTICES file
  NOTICES
Owners: @garyverhaegen-da, @cocreature, @dasormeter

update NOTICES file
  NOTICES
Owners: @garyverhaegen-da, @cocreature, @dasormeter

Revert "formatting"
  ledger/ledger-api-tests/suites/src/main/scala/com/daml/ledger/api/testtool/suites/v1_8/TransactionServiceAuthorizationIT.scala
Owners: @digital-asset/kv-participant, @digital-asset/kv-committer

Revert "Remove the use of eventually where it is not applicable"
  ledger/ledger-api-tests/suites/src/main/scala/com/daml/ledger/api/testtool/suites/v1_8/ContractKeysIT.scala
  ledger/ledger-api-tests/suites/src/main/scala/com/daml/ledger/api/testtool/suites/v1_8/SemanticTests.scala
  ledger/ledger-api-tests/suites/src/main/scala/com/daml/ledger/api/testtool/suites/v1_8/TransactionServiceAuthorizationIT.scala
  ledger/ledger-api-tests/suites/src/main/scala/com/daml/ledger/api/testtool/suites/v1_8/TransactionServiceExerciseIT.scala
  ledger/ledger-api-tests/suites/src/main/scala/com/daml/ledger/api/testtool/suites/v1_8/TransactionServiceVisibilityIT.scala
Owners: @digital-asset/kv-participant, @digital-asset/kv-committer

Thorough stack-safety testing for all speedy compiler phases.
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/PhaseOneTest.scala
Owners: @remyhaemmerle-da, @cocreature

fixing tests
  ledger/error/src/main/scala/com/daml/error/definitions/LedgerApiErrors.scala
  ledger/ledger-api-common/src/test/suite/scala/com/digitalasset/platform/server/api/validation/ErrorFactoriesSpec.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/services/tracking/QueueBackedTracker.scala
Owners: @digital-asset/kv-participant, @digital-asset/kv-committer

evantually removal
  ledger/ledger-api-tests/suites/src/main/scala/com/daml/ledger/api/testtool/suites/v1_8/TransactionServiceVisibilityIT.scala
Owners: @digital-asset/kv-participant, @digital-asset/kv-committer

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

CODEOWNERS   @gerolf-da @cocreature @stefanobaghino-da
LATEST       @gerolf-da @bame-da @cocreature @ray-roestenburg-da @adriaanm-da

# Build / CI / environment
/ci/                @garyverhaegen-da
/dev-env/           @garyverhaegen-da
/nix/               @garyverhaegen-da
/infra/             @garyverhaegen-da
azure-pipelines.yml @garyverhaegen-da
azure-cron.yml      @garyverhaegen-da
/release/           @garyverhaegen-da
/release.sh         @garyverhaegen-da

# Blackduck
NOTICES     @garyverhaegen-da @cocreature @dasormeter

# Language
/compiler/          @cocreature
/libs-haskell/      @cocreature
/daml-assistant/    @sofiafaro-da @cocreature
/daml-script/       @cocreature
/triggers/          @cocreature
/ghc-lib/           @cocreature
/compatibility/     @garyverhaegen-da @cocreature

# Runtime
/daml-lf/ @remyhaemmerle-da @cocreature
/daml-lf/data-scalacheck/ @S11001001 @remyhaemmerle-da @cocreature
/daml-lf/governance.rst @sofiafaro-da @remyhaemmerle-da @cocreature
/daml-lf/kv-support/ @digital-asset/kv-committer @remyhaemmerle-da @cocreature
/daml-lf/transaction-test-lib/ @S11001001 @remyhaemmerle-da @cocreature

# KV Participant
/ledger/      @digital-asset/kv-participant
/ledger-api/  @digital-asset/kv-participant

# Ledger API Interfaces and Read/Write services are jointly owned between KV teams and @meiersi-da
/ledger-api/grpc-definitions/       @meiersi-da @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/ledger-configuration/       @meiersi-da @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/ledger-offset/              @meiersi-da @digital-asset/kv-participant @digital-asset/kv-committer 
/ledger/participant-state/src       @meiersi-da @digital-asset/kv-participant @digital-asset/kv-committer

# Needs cleanup due to mix of kvutils implementation and interfaces. Until then: shared ownership for KV teams
/ledger/participant-state/          @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/participant-state-metrics/  @digital-asset/kv-participant @digital-asset/kv-committer

# Owned by KV Participant with KV Committer added for notifications
/ledger/ledger-api-common/          @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/ledger-api-domain/          @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/ledger-api-health/          @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/ledger-api-tests/           @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/ledger-configuration/       @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/ledger-offset/              @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/participant-state-index/    @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/sandbox/                    @digital-asset/kv-participant @digital-asset/kv-committer

# KV Participant
/ledger/participant-integration-api/      @digital-asset/kv-participant


# KV Committer
/ledger/ledger-on-memory/           @digital-asset/kv-committer
/ledger/participant-state/kvutils/  @digital-asset/kv-committer


# Ecosystems
/language-support/hs/       @nickchapman-da @cocreature
/language-support/java/     @stefanobaghino-da @ray-roestenburg-da
/language-support/scala/    @S11001001 @stefanobaghino-da @ray-roestenburg-da
/language-support/ts/       @robin-da @garyverhaegen-da @stefanobaghino-da @ray-roestenburg-da

# Application Runtime
/ledger-service/       @S11001001 @stefanobaghino-da @ray-roestenburg-da
/navigator/            @stefanobaghino-da @ray-roestenburg-da
/runtime-components/   @stefanobaghino-da @ray-roestenburg-da
/triggers/service/     @stefanobaghino-da @ray-roestenburg-da
/navigator/backend/src/main/scala/com/digitalasset/navigator/json/    @S11001001

# Misc
/docs/              @cocreature @stefanobaghino-da
/libs-scala/        @stefanobaghino-da @SamirTalwar-DA
/libs-scala/contextualized-logging/    @S11001001
/libs-scala/scala-utils/    @S11001001
/libs-scala/scalatest-utils/    @S11001001
