Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @gerolf-da, @cocreature, @bame-da, @garyverhaegen-da, @aherrmann-da, @dasormeter, @sofiafaro-da, @stefanobaghino-da, @remyhaemmerle-da, @S11001001, @miklos-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da, @fabiotudone-da, @SamirTalwar-DA, @nickchapman-da, @robin-da, @nemanja-da

Apply suggestions from code review
  daml-lf/spec/daml-lf-1.rst
Owners: @cocreature

Address Moritz' review
  daml-lf/spec/daml-lf-1.rst
Owners: @cocreature

minor typo
  daml-lf/spec/daml-lf-1.rst
Owners: @cocreature

Proxy ledger API health endpoint in JSON API health endpoint (#9945)
  ledger-service/http-json/src/failure/scala/http/FailureTests.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HealthService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

address Moritz gut felling
  daml-lf/spec/daml-lf-1.rst
Owners: @cocreature

Additional usability check for the disclosed contract
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/ContractKeysIT.scala
  ledger/test-common/src/main/daml/model/Test.daml
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

A newline
  ledger/test-common/src/main/daml/model/Test.daml
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Verify that fetching an archived contract is not possible
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/ContractKeysIT.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

fix Desirialization section
  daml-lf/spec/daml-lf-1.rst
Owners: @cocreature

Proxy ledger API health endpoint in JSON API health endpoint (#9945) (#9950)
  ledger-service/http-json/src/failure/scala/http/FailureTests.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HealthService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

Define IncompleteTransaction for use by scenario-service
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/ScenarioServiceMain.scala
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/IncompleteTransaction.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ledgerinteraction/IdeLedgerClient.scala
Owners: @cocreature, @remyhaemmerle-da, @aherrmann-da, @stefanobaghino-da

address review comments
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/ContractsTable.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/ContractsTableH2.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/ContractsTablePostgres.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/TransactionIndexing.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/TransactionsWriter.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

extend the ledger-api-test-tool test case to fetches
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/ContractKeysIT.scala
  ledger/test-common/src/main/daml/model/Test.daml
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Test release process for 1.11.x
  LATEST
Owners: @gerolf-da, @bame-da, @cocreature

LF: Fix specification of ArithmeticError (#9949)
  daml-lf/spec/daml-lf-1.rst
Owners: @cocreature

Skip Scala_2_12 job on releases
  ci/build.yml
Owners: @garyverhaegen-da

Skip Scala_2_12 job on releases (#9954)
  ci/build.yml
Owners: @garyverhaegen-da

Increase `eventually` timeout when waiting for queue to be killed
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/api/BatchingQueueSpec.scala
Owners: @fabiotudone-da, @gerolf-da, @miklos-da, @SamirTalwar-DA

Fix collect_build_data job
  ci/build.yml
Owners: @garyverhaegen-da

Second test case
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/ContractKeysIT.scala
  ledger/test-common/src/main/daml/model/Test.daml
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

improve names as per review comments
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
Owners: @cocreature

Fix collect_build_data job (#9956)
  ci/build.yml
Owners: @garyverhaegen-da

disclosure to submitter test case
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/ContractKeysIT.scala
  ledger/test-common/src/main/daml/model/Test.daml
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Increase `eventually` timeout when waiting for queue to be killed (#9955)
  ledger/participant-state/kvutils/src/test/suite/scala/com/daml/ledger/participant/state/kvutils/api/BatchingQueueSpec.scala
Owners: @fabiotudone-da, @gerolf-da, @miklos-da, @SamirTalwar-DA

Resolve contract keys conflicts in disclosed contracts (#9948)
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/ContractKeysIT.scala
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/ContractsTable.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/ContractsTableH2.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/ContractsTablePostgres.scala
  ledger/participant-integration-api/src/main/scala/platform/store/dao/events/TransactionsWriter.scala
  ledger/test-common/src/main/daml/model/Test.daml
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Release SDK 1.11.2 CHANGELOG_BEGIN CHANGELOG_END
  LATEST
Owners: @gerolf-da, @bame-da, @cocreature

Define IncompleteTransaction for use by scenario-service (#9952)
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/ScenarioServiceMain.scala
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/transaction/PartialTransaction.scala
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/IncompleteTransaction.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ledgerinteraction/IdeLedgerClient.scala
Owners: @cocreature, @remyhaemmerle-da, @aherrmann-da, @stefanobaghino-da

Adds Indexer state to GRPC health checks [DPP-434]
  ledger/participant-integration-api/src/main/scala/platform/indexer/RecoveringIndexer.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/StandaloneIndexerServer.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/indexer/RecoveringIndexerSpec.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Runner.scala
  ledger/sandbox/src/main/scala/platform/sandboxnext/Runner.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da, @fabiotudone-da, @miklos-da, @SamirTalwar-DA

Addressed review comments
  ledger/participant-integration-api/src/main/scala/platform/indexer/RecoveringIndexer.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/indexer/RecoveringIndexerSpec.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Release SDK 1.11.2 (#9957)
  LATEST
Owners: @gerolf-da, @bame-da, @cocreature

Adds Indexer state to GRPC health checks [DPP-434] (#9951)
  ledger/participant-integration-api/src/main/scala/platform/indexer/RecoveringIndexer.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/StandaloneIndexerServer.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/indexer/RecoveringIndexerSpec.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Runner.scala
  ledger/sandbox/src/main/scala/platform/sandboxnext/Runner.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da, @fabiotudone-da, @miklos-da, @SamirTalwar-DA

Backport Windows signing changes from #9786
  ci/copy-windows-release-artifacts.sh
Owners: @garyverhaegen-da

Adds Indexer state to GRPC health checks [DPP-434] (#9951)
  ledger/participant-integration-api/src/main/scala/platform/indexer/RecoveringIndexer.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/StandaloneIndexerServer.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/indexer/RecoveringIndexerSpec.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Runner.scala
  ledger/sandbox/src/main/scala/platform/sandboxnext/Runner.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da, @fabiotudone-da, @miklos-da, @SamirTalwar-DA

Backport Windows signing changes from #9786 (#9960)
  ci/copy-windows-release-artifacts.sh
Owners: @garyverhaegen-da

Release 1.11.2 snapshot attempt 2
  LATEST
Owners: @gerolf-da, @bame-da, @cocreature

Release 1.11.2 snapshot attempt 2 (#9962)
  LATEST
Owners: @gerolf-da, @bame-da, @cocreature

[docs] Remove link to the #daml-contributors (#9928)
  docs/source/concepts/glossary.rst
Owners: @bame-da, @nemanja-da

Remove broken dep from release job
  azure-pipelines.yml
Owners: @garyverhaegen-da

DPP-390 configurable event decoding parallelism (#9931)
  ledger/participant-integration-api/src/main/scala/platform/apiserver/ApiServerConfig.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/StandaloneApiServer.scala
  ledger/participant-integration-api/src/main/scala/platform/configuration/IndexConfiguration.scala
  ledger/participant-integration-api/src/main/scala/platform/index/JdbcIndex.scala
  ledger/participant-integration-api/src/main/scala/platform/index/ReadOnlySqlLedger.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/IndexerConfig.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/JdbcIndexer.scala
  ledger/participant-integration-api/src/main/scala/platform/store/IndexMetadata.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/JdbcLedgerDao.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/TransactionsReader.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoBackend.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoPostCommitValidationSpec.scala
  ledger/participant-integration-api/src/test/lib/scala/platform/store/dao/JdbcLedgerDaoTransactionsSpec.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Config.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/LedgerFactory.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/SandboxServer.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/SandboxIndexAndWriteService.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/stores/ledger/sql/SqlLedger.scala
  ledger/sandbox-classic/src/test/lib/scala/platform/sandbox/LedgerResource.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/stores/ledger/sql/SqlLedgerSpec.scala
  ledger/sandbox-classic/src/test/suite/scala/platform/sandbox/stores/ledger/sql/SqlLedgerSpecAppendOnly.scala
  ledger/sandbox-common/src/main/scala/platform/sandbox/cli/CommonCliBase.scala
  ledger/sandbox-common/src/main/scala/platform/sandbox/config/SandboxConfig.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da, @fabiotudone-da, @miklos-da, @SamirTalwar-DA

Log flyway progress in daml-on-sql
  ledger/daml-on-sql/BUILD.bazel
  ledger/daml-on-sql/src/main/resources/logback.xml
  ledger/sandbox-classic/BUILD.bazel
  ledger/sandbox-classic/src/main/resources/logback.xml
  ledger/sandbox-common/BUILD.bazel
  ledger/sandbox-common/src/main/resources/com/daml/platform/sandbox/logback.base.xml
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

CODEOWNERS   @gerolf-da @cocreature
LATEST       @gerolf-da @bame-da @cocreature

# Build / CI / environment
/ci/                @garyverhaegen-da
/dev-env/           @garyverhaegen-da
/nix/               @garyverhaegen-da
/infra/             @garyverhaegen-da
azure-pipelines.yml @garyverhaegen-da
azure-cron.yml      @garyverhaegen-da

# Blackduck
NOTICES     @garyverhaegen-da @aherrmann-da @cocreature @dasormeter

# Language
/compiler/           @cocreature
/libs-haskell/       @cocreature
/daml-assistant/    @sofiafaro-da  @cocreature
/daml-script/       @cocreature  @aherrmann-da @stefanobaghino-da
/triggers/          @cocreature  @aherrmann-da @stefanobaghino-da
/ghc-lib/           @cocreature
/compatibility/     @garyverhaegen-da @aherrmann-da @cocreature

# Runtime
/daml-lf/ @remyhaemmerle-da
/daml-lf/archive/da/ @cocreature
/daml-lf/data-scalacheck/ @S11001001 @cocreature
/daml-lf/engine/ @cocreature
/daml-lf/governance.rst
/daml-lf/interpreter/ @cocreature
/daml-lf/kv-transaction-support/ @cocreature @gerolf-da @miklos-da
/daml-lf/repl/ @cocreature
/daml-lf/scenario-interpreter/  @cocreature
/daml-lf/spec/daml-lf-1.rst @cocreature
/daml-lf/spec/transaction.rst @cocreature
/daml-lf/spec/value.rst @cocreature
/daml-lf/transaction-test-lib/ @S11001001 @cocreature
/daml-lf/transaction/src/main/scala/com/daml/lf/transaction/ @cocreature
/daml-lf/transaction/src/main/scala/com/daml/lf/value/ @cocreature
/daml-lf/validation/ @cocreature

/ledger-service/    @S11001001 @cocreature @stefanobaghino-da

/ledger/      @gerolf-da @mziolekda @nmarton-da @rautenrieth-da @tudor-da
/ledger-api/  @gerolf-da @mziolekda @nmarton-da @rautenrieth-da @tudor-da

/ledger/participant-state/kvutils/ @fabiotudone-da @gerolf-da @miklos-da @SamirTalwar-DA

/runtime-components/    @stefanobaghino-da @cocreature

# Ecosystems
/language-support/hs/       @nickchapman-da
/language-support/java/     @cocreature @stefanobaghino-da
/language-support/scala/    @S11001001 @cocreature @stefanobaghino-da
/language-support/ts/        @robin-da @cocreature @garyverhaegen-da @stefanobaghino-da

# Tools
/extractor/         @S11001001 @stefanobaghino-da
/navigator/         @cocreature @stefanobaghino-da
/navigator/backend/src/main/scala/com/digitalasset/navigator/json/    @S11001001

# Misc
/docs/              @bame-da @nemanja-da
/libs-scala/        @stefanobaghino-da @SamirTalwar-DA
/libs-scala/contextualized-logging/    @S11001001
/libs-scala/scala-utils/    @S11001001
/libs-scala/scalatest-utils/    @S11001001
