Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @gerolf-da, @cocreature, @bame-da, @garyverhaegen-da, @aherrmann-da, @dasormeter, @sofiafaro-da, @stefanobaghino-da, @remyhaemmerle-da, @S11001001, @miklos-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da, @fabiotudone-da, @SamirTalwar-DA, @nickchapman-da, @robin-da, @nemanja-da

s/DABL/Daml Hub/
  compatibility/bazel_tools/testing.bzl
  docs/source/app-dev/app-arch.rst
  docs/source/daml-script/index.rst
  docs/source/deploy/index.rst
  docs/source/getting-started/first-feature.rst
  docs/source/support/releases.rst
  docs/source/tools/assistant.rst
  ledger-service/http-json-cli/src/main/scala/com/daml/http/Config.scala
  templates/create-daml-app/README.md.template
  templates/create-daml-app/ui/src/components/LoginScreen.tsx.template
  templates/create-daml-app/ui/src/config.ts.template
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature, @bame-da, @nemanja-da, @S11001001, @stefanobaghino-da

undo format change
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
Owners: @cocreature

s/DABL/Daml Hub/ (#10062)
  compatibility/bazel_tools/testing.bzl
  docs/source/app-dev/app-arch.rst
  docs/source/daml-script/index.rst
  docs/source/deploy/index.rst
  docs/source/getting-started/first-feature.rst
  docs/source/support/releases.rst
  docs/source/tools/assistant.rst
  ledger-service/http-json-cli/src/main/scala/com/daml/http/Config.scala
  templates/create-daml-app/README.md.template
  templates/create-daml-app/ui/src/components/LoginScreen.tsx.template
  templates/create-daml-app/ui/src/config.ts.template
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature, @bame-da, @nemanja-da, @S11001001, @stefanobaghino-da

[JSON-API] Add moar timing metrics (#10045)
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da, @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

[In-memory fan-out] BuffersUpdater subscribes from the ledger end (#10037)
  ledger/participant-integration-api/src/main/scala/platform/index/BuffersUpdater.scala
  ledger/participant-integration-api/src/main/scala/platform/index/ReadOnlySqlLedgerWithMutableCache.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/index/BuffersUpdaterSpec.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Add per-query offsets to HTTP-JSON API (#9847)
  docs/source/json-api/index.rst
  ledger-service/http-json/BUILD.bazel
  ledger-service/http-json/src/itlib/scala/http/AbstractWebsocketServiceIntegrationTest.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/domain.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/json/JsonProtocol.scala
Owners: @bame-da, @nemanja-da, @S11001001, @cocreature, @stefanobaghino-da

Release/1.14.x backport logging changes (#10059)
  ledger-service/cli-opts/src/main/scala/cliopts/Logging.scala
  ledger-service/http-json/src/main/resources/logback.xml
  ledger-service/http-json/src/main/scala/com/digitalasset/http/CommandService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Main.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/domain.scala
  ledger-service/http-json/src/test/scala/com/digitalasset/http/DomainSpec.scala
  libs-scala/contextualized-logging/BUILD.bazel
  libs-scala/contextualized-logging/src/main/scala/com/digitalasset/logging/LoggingContextOf.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

Adds Indexer state to GRPC health checks [DPP-434]
  ledger/participant-integration-api/src/main/scala/platform/indexer/RecoveringIndexer.scala
  ledger/participant-integration-api/src/main/scala/platform/indexer/StandaloneIndexerServer.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/indexer/RecoveringIndexerSpec.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Runner.scala
  ledger/sandbox/src/main/scala/platform/sandboxnext/Runner.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da, @fabiotudone-da, @miklos-da, @SamirTalwar-DA

Addressed review comments
  ledger/participant-integration-api/src/main/scala/platform/indexer/RecoveringIndexer.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/indexer/RecoveringIndexerSpec.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Backport: Proxy ledger API health endpoint in JSON API health endpoint (#9945) (#10061)
  ledger-service/http-json/src/failure/scala/http/FailureTests.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HealthService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

clean up local VSCode after release
  release/RELEASE.md
Owners: none

Handle visibility outside of speedy (#10056)
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltin.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SResult.scala
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ScenarioRunner.scala
  daml-lf/scenario-interpreter/src/perf/benches/scala/com/digitalasset/daml/lf/speedy/perf/CollectAuthority.scala
Owners: @cocreature

fix 9_functional redirect
  docs/redirects.map
Owners: @bame-da, @nemanja-da

[JSON-API] Add db metrics & response construction metrics
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da, @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

allow CI pools to use any zone
  infra/modules/gcp_cdn_bucket/outputs.tf
  infra/vsts_agent_ubuntu_20_04.tf
  infra/vsts_agent_windows.tf
Owners: @garyverhaegen-da

fix 9_functional redirect (#10067)
  docs/redirects.map
Owners: @bame-da, @nemanja-da

clean up local VSCode after release (#10065)
  release/RELEASE.md
Owners: none

Run scenarios in off-ledger machine
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/ScenarioServiceMain.scala
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Context.scala
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/interpreter/BUILD.bazel
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ExceptionTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinBigNumericTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/svalue/OrderingSpec.scala
  daml-lf/repl/src/main/scala/com/digitalasset/daml/lf/repl/testing/Main.scala
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ScenarioRunner.scala
  daml-lf/scenario-interpreter/src/perf/benches/scala/com/digitalasset/daml/lf/speedy/perf/CollectAuthority.scala
  daml-lf/scenario-interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ScenarioRunnerTest.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/Runner.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ScriptF.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ledgerinteraction/GrpcLedgerClient.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ledgerinteraction/IdeLedgerClient.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ledgerinteraction/JsonLedgerClient.scala
  daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/ledgerinteraction/ScriptLedgerClient.scala
Owners: @cocreature, @aherrmann-da, @stefanobaghino-da

define query offset semantics solely in terms of #9847 per-query offsets
  docs/source/json-api/index.rst
Owners: @bame-da, @nemanja-da

Apply suggestions from code review
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
Owners: @cocreature

review comments
  compiler/scenario-service/server/src/main/scala/com/digitalasset/daml/lf/scenario/Conversions.scala
  daml-lf/scenario-interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/ScenarioRunner.scala
Owners: @cocreature

[In-memory fan-out] Ensure getTransactionLogUpdates with max fetch size
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/TransactionsReader.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/appendonlydao/events/TransactionsReaderSpec.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

more private
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Compiler.scala
Owners: @cocreature

update comment for Engine.reinterpret
  daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
Owners: @cocreature

test ensure failure works correctly; no rollback expected
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ReinterpretTest.scala
  daml-lf/tests/ReinterpretTests.daml
Owners: @cocreature, @remyhaemmerle-da

refactor to share duplicated code in reinterpret tests
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ReinterpretTest.scala
Owners: @cocreature

[JSON-API] Add db metrics & response construction metrics (#10068)
  ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da, @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

allow CI pools to use any zone (#10069)
  infra/modules/gcp_cdn_bucket/outputs.tf
  infra/vsts_agent_ubuntu_20_04.tf
  infra/vsts_agent_windows.tf
Owners: @garyverhaegen-da

dev-env: Replace `gpg` and `make` with symlinks.
  dev-env/bin/gpg
  dev-env/bin/make
Owners: @garyverhaegen-da

dev-env: Add `use nix` support to direnv.
  .envrc
  .gitignore
  nix/default.nix
  shell.nix
Owners: @garyverhaegen-da

dev-env: Remove Python 3.6 references. They seem to be unused.
  dev-env/bin/pip3.6
  dev-env/bin/python3.6
Owners: @garyverhaegen-da

dev-env: Remove sphinx-autobuild. It's brought in by pipenv.
  dev-env/bin/sphinx-autobuild
  nix/default.nix
Owners: @garyverhaegen-da

dev-env: Create links for Bazel and the JDK again.
  .envrc
  .gitignore
  BAZEL.md
Owners: none

dev-env: Rewrite the ghcide script to use nix-shell.
  dev-env/bin/ghcide
Owners: @garyverhaegen-da

language-support/hs: Use `nix-shell` for export-package.sh.
  language-support/hs/bindings/README.md
  language-support/hs/bindings/export-package.sh
  language-support/hs/bindings/package.yaml
Owners: @nickchapman-da

dev-env: Create a simpler file to source, called dev-env/load.sh.
  README.md
  azure-cron.yml
  azure-pipelines.yml
  build.sh
  ci/build-unix.yml
  ci/build.yml
  ci/clean-up.yml
  ci/cron/daily-compat.yml
  ci/cron/src/Main.hs
  ci/upload-bazel-metrics.yml
  compatibility/build-release-artifacts.sh
  compatibility/build-ts-libs.sh
  compatibility/test.sh
  compatibility/update-versions.sh
  dev-env/bin/da-ghci
  dev-env/load.sh
  fmt.sh
  nix/default.nix
Owners: @garyverhaegen-da, @aherrmann-da, @cocreature

dev-env: Delete now-unused "dade" scripts.
  dev-env/.gitignore
  dev-env/README.md
  dev-env/VERSION
  dev-env/bin/README.md
  dev-env/bin/da-install-git-hooks
  dev-env/bin/da-test-haskell-update-expected
  dev-env/bin/da-update-python-srcs
  dev-env/bin/da-virtualenv
  dev-env/bin/dade
  dev-env/bin/dade-assist
  dev-env/bin/dade-closure-size
  dev-env/bin/dade-collect-garbage
  dev-env/bin/dade-env
  dev-env/bin/dade-freeze
  dev-env/bin/dade-help
  dev-env/bin/dade-init
  dev-env/bin/dade-list
  dev-env/bin/dade-list-broken-symlinks
  dev-env/bin/dade-pipenv-lock
  dev-env/bin/dade-preload
  dev-env/bin/dade-prepare-for-update
  dev-env/bin/dade-release-tool
  dev-env/bin/data-uri
  dev-env/lib/dade-common
  dev-env/lib/dade-dump-profile
  dev-env/lib/dade-exec-nix-bin-tool
  dev-env/lib/dade-exec-nix-tool
  dev-env/lib/ensure-nix
  dev-env/profile_bash.sh
  dev-env/profile_zsh.sh
  nix/default.nix
Owners: @garyverhaegen-da

Load the Nix profile in build.sh.
  build.sh
Owners: none

dev-env: Restore ensure-nix.
  dev-env/lib/ensure-nix
Owners: @garyverhaegen-da

dev-env: Remove no-longer-used ignore lines.
  .bazelignore
  .gitignore
Owners: none

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

CODEOWNERS   @gerolf-da @cocreature
LATEST       @gerolf-da @bame-da @cocreature

# Build / CI / environment
/ci/                @garyverhaegen-da
/dev-env/           @garyverhaegen-da
/nix/               @garyverhaegen-da
/infra/             @garyverhaegen-da
azure-pipelines.yml @garyverhaegen-da
azure-cron.yml      @garyverhaegen-da

# Blackduck
NOTICES     @garyverhaegen-da @aherrmann-da @cocreature @dasormeter

# Language
/compiler/           @cocreature
/libs-haskell/       @cocreature
/daml-assistant/    @sofiafaro-da  @cocreature
/daml-script/       @cocreature  @aherrmann-da @stefanobaghino-da
/triggers/          @cocreature  @aherrmann-da @stefanobaghino-da
/ghc-lib/           @cocreature
/compatibility/     @garyverhaegen-da @aherrmann-da @cocreature

# Runtime
/daml-lf/ @remyhaemmerle-da
/daml-lf/archive/da/ @cocreature
/daml-lf/data-scalacheck/ @S11001001 @cocreature
/daml-lf/engine/ @cocreature
/daml-lf/governance.rst
/daml-lf/interpreter/ @cocreature
/daml-lf/kv-transaction-support/ @cocreature @gerolf-da @miklos-da
/daml-lf/repl/ @cocreature
/daml-lf/scenario-interpreter/  @cocreature
/daml-lf/spec/daml-lf-1.rst @cocreature
/daml-lf/spec/transaction.rst @cocreature
/daml-lf/spec/value.rst @cocreature
/daml-lf/transaction-test-lib/ @S11001001 @cocreature
/daml-lf/transaction/src/main/scala/com/daml/lf/transaction/ @cocreature
/daml-lf/transaction/src/main/scala/com/daml/lf/value/ @cocreature
/daml-lf/validation/ @cocreature

/ledger-service/    @S11001001 @cocreature @stefanobaghino-da

/ledger/      @gerolf-da @mziolekda @nmarton-da @rautenrieth-da @tudor-da
/ledger-api/  @gerolf-da @mziolekda @nmarton-da @rautenrieth-da @tudor-da

/ledger/participant-state/kvutils/ @fabiotudone-da @gerolf-da @miklos-da @SamirTalwar-DA

/runtime-components/    @stefanobaghino-da @cocreature

# Ecosystems
/language-support/hs/       @nickchapman-da
/language-support/java/     @cocreature @stefanobaghino-da
/language-support/scala/    @S11001001 @cocreature @stefanobaghino-da
/language-support/ts/        @robin-da @cocreature @garyverhaegen-da @stefanobaghino-da

# Tools
/extractor/         @S11001001 @stefanobaghino-da
/navigator/         @cocreature @stefanobaghino-da
/navigator/backend/src/main/scala/com/digitalasset/navigator/json/    @S11001001

# Misc
/docs/              @bame-da @nemanja-da
/libs-scala/        @stefanobaghino-da @SamirTalwar-DA
/libs-scala/contextualized-logging/    @S11001001
/libs-scala/scala-utils/    @S11001001
/libs-scala/scalatest-utils/    @S11001001
