Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @digital-asset/daml-release-owners, @dylant-da, @paulbrauner-da, @remyhaemmerle-da, @digital-asset/daml-language, @digital-asset/kv-participant

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

sdk/bazel-java-deps.bzl @digital-asset/daml-release-owners

CODEOWNERS   @dylant-da @paulbrauner-da @remyhaemmerle-da 
/sdk/LATEST @digital-asset/daml-release-owners

# Build / CI / environment
/ci/                   @digital-asset/daml-language
/sdk/dev-env/          @digital-asset/daml-language
/sdk/nix/              @digital-asset/daml-language
azure-pipelines.yml    @digital-asset/daml-language
azure-cron.yml         @digital-asset/daml-language
sdk/release/           @digital-asset/daml-language
sdk/release.sh         @digital-asset/daml-language

# Blackduck
/sdk/NOTICES

# Compatibility test
/sdk/compatibility/     @digital-asset/daml-language @digital-asset/kv-participant

# Language
/sdk/daml-assistant/    @digital-asset/daml-language
/sdk/daml-script/       
/sdk/compiler/          @digital-asset/daml-language
/sdk/libs-haskell/      @digital-asset/daml-language
/sdk/ghc-lib/           @digital-asset/daml-language
/sdk/test-common/canton/ 

# Runtime
/sdk/daml-lf/ 


# Ecosystems
/sdk/language-support/hs/       @digital-asset/daml-language
/sdk/language-support/java/     
/sdk/language-support/scala/    
/sdk/language-support/ts/       

# Application Runtime
/sdk/ledger-service/
/sdk/runtime-components/ 

# Misc
/sdk/docs/ 
/sdk/libs-scala/

# Observability related libraries
/sdk/observability

Generate imports in remysyntax parser
  sdk/daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ModParser.scala
Owners: none

fmt.sh
  sdk/security-evidence.md
Owners: none

also authenticate local contracts
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltinFun.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/UpgradeTest.scala
Owners: none

address indentation comment
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltinFun.scala
Owners: none

fix expectations in new test case
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/UpgradeTest.scala
Owners: none

backport .netrc file creation to 2.3.x (#21234)
  ci/build-unix.yml
  ci/build-windows.yml
  ci/create-dotnetrc.ps1
  ci/create-dotnetrc.sh
Owners: @digital-asset/daml-language

authenticate contracts hashed with TypedNormalForm (#21940)
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ValidateContractInstanceSpec.scala
  sdk/daml-lf/ide-ledger/src/main/scala/com/digitalasset/daml/lf/script/IdeLedgerRunner.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SBuiltinFun.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Speedy.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/UpgradeTest.scala
Owners: none

rename to authentication errors
  sdk/daml-script/test/daml/upgrades/stable/AuthenticationErrors.daml
Owners: none

add some integration tests for v12 authentication
  sdk/daml-script/test/daml/upgrades/stable/InvalidUpgrades.daml
Owners: none

add tests for local contracts
  sdk/daml-script/daml/Daml/Script/Internal/Questions/Submit/Error.daml
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ledgerinteraction/SubmitError.scala
  sdk/daml-script/test/daml/upgrades/stable/InvalidUpgrades.daml
Owners: none

Fix UpgradesSpecBase
  sdk/daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/upgrade/UpgradesSpecBase.scala
Owners: none

fix deps
  sdk/bazel-java-deps.bzl
  sdk/canton/BUILD.bazel
  sdk/canton_maven_install.json
  sdk/maven_install_2.13.json
Owners: @digital-asset/daml-release-owners

Fix for digital-asset/daml#21970
  sdk/canton/community/common/src/main/scala/com/digitalasset/canton/util/ContractValidator.scala
  sdk/canton/community/common/src/main/scala/com/digitalasset/canton/util/LfContractValidation.scala
  sdk/canton/community/participant/src/main/scala/com/digitalasset/canton/participant/admin/repair/RepairService.scala
  sdk/canton/community/participant/src/main/scala/com/digitalasset/canton/participant/protocol/reassignment/ReassignmentValidation.scala
Owners: none

CantonRunner
  sdk/test-common/canton/it-lib/src/main/scala/com/daml/integrationtest/CantonRunner.scala
Owners: none

Remove own ast traversal
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
  sdk/daml-lf/parser/BUILD.bazel
  sdk/daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ModParser.scala
Owners: none

add comments explaining why AuthenticationError instead of WronglyTypedContract
  sdk/daml-script/test/daml/upgrades/stable/AuthenticationErrors.daml
Owners: none

Remove quotes from option case
  sdk/dev-env/bin/dpm-sdk-head
Owners: @digital-asset/daml-language

fix variant name in SubmitError.scala
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ledgerinteraction/SubmitError.scala
Owners: none

swap expectations in dupicate package error message
  sdk/daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/upgrade/UpgradesSpecBase.scala
Owners: none

Remove quotes from option case (#21997)
  sdk/dev-env/bin/dpm-sdk-head
Owners: @digital-asset/daml-language

add some integration tests for new contract ID authentication (#21986)
  sdk/daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/upgrade/UpgradesSpecBase.scala
  sdk/daml-script/daml/Daml/Script/Internal/Questions/Submit/Error.daml
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ledgerinteraction/SubmitError.scala
  sdk/daml-script/test/daml/upgrades/stable/AuthenticationErrors.daml
Owners: none

rename packageIds
  sdk/daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ModParser.scala
Owners: none

[Engine] proto validator that rejects messages with unknown fields (#21938)
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionCoder.scala
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/package.scala
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/value/ValueCoder.scala
  sdk/daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionCoderSpec.scala
  sdk/libs-scala/safe-proto/src/main/scala/com/daml/SafeProto.scala
Owners: none

accept a cid substitution in hashCreateNode and validateContractInstance
  sdk/canton/community/common/src/main/scala/com/digitalasset/canton/util/ContractValidator.scala
  sdk/canton/community/common/src/main/scala/com/digitalasset/canton/util/LfContractValidation.scala
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/HashCreateNodeSpec.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ValidateContractInstanceSpec.scala
Owners: none

Roger/remysyntax parser generate imports (#21996)
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/UpgradesMatrix.scala
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
  sdk/daml-lf/parser/BUILD.bazel
  sdk/daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ModParser.scala
  sdk/security-evidence.md
Owners: none

Fix incorrect DAML_PROJECT and project-check warnings
  sdk/daml-assistant/exe/DA/Daml/Assistant.hs
  sdk/release/sdk-config.yaml.tmpl
Owners: @digital-asset/daml-language

Fix unvetting dependencies from daml-script
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ledgerinteraction/grpcLedgerClient/AdminLedgerClient.scala
Owners: none

Update sdk/canton/community/common/src/main/scala/com/digitalasset/canton/util/ContractValidator.scala
  sdk/canton/community/common/src/main/scala/com/digitalasset/canton/util/ContractValidator.scala
Owners: none

rename coinst to substitutedInstance
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
Owners: none

Default to TypedNormalForm in Result.consume
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Result.scala
Owners: none

accept a cid substitution in hashCreateNode and validateContractInstance (#22001)
  sdk/canton/community/common/src/main/scala/com/digitalasset/canton/util/ContractValidator.scala
  sdk/canton/community/common/src/main/scala/com/digitalasset/canton/util/LfContractValidation.scala
  sdk/daml-lf/engine/src/main/scala/com/digitalasset/daml/lf/engine/Engine.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/HashCreateNodeSpec.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ValidateContractInstanceSpec.scala
Owners: none

Fix incorrect DAML_PROJECT and project-check warnings (#21999)
  sdk/daml-assistant/exe/DA/Daml/Assistant.hs
  sdk/release/sdk-config.yaml.tmpl
Owners: @digital-asset/daml-language

Incorporated directdeps in imports
  sdk/compiler/script-service/server/src/main/scala/com/digitalasset/daml/lf/script/Context.scala
  sdk/daml-lf/api-type-signature/src/test/scala/com/digitalasset/daml/lf/typesig/reader/SignatureReaderSpec.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV2.scala
  sdk/daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/EncodeV2.scala
  sdk/daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/testing/archive/DamlLfEncoderTest.scala
  sdk/daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/testing/archive/EncodeSpec.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/MetaDataTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ReinterpretTest.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/InterpreterTest.scala
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
  sdk/daml-lf/language/src/test/scala/com/digitalasset/daml/lf/language/AstSpec.scala
  sdk/daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ModParser.scala
  sdk/daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/DependencyVersionSpec.scala
  sdk/daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/TypingSpec.scala
  sdk/security-evidence.md
Owners: @digital-asset/daml-language

Move DamlLfEncoder to imports
  sdk/daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/DamlLfEncoder.scala
Owners: none

delete obsolete upgrade error codes
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/platform/apiserver/services/RejectionGenerators.scala
  sdk/canton/community/ledger/ledger-common/src/main/scala/com/digitalasset/canton/ledger/error/groups/CommandExecutionErrors.scala
  sdk/daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/Pretty.scala
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/interpretation/Error.scala
  sdk/daml-script/daml/Daml/Script/Internal/Questions/Submit/Error.daml
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ledgerinteraction/GrpcErrorParser.scala
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ledgerinteraction/IdeLedgerClient.scala
  sdk/daml-script/runner/src/main/scala/com/digitalasset/daml/lf/engine/script/v2/ledgerinteraction/SubmitError.scala
  sdk/daml-script/test/src/main/scala/com/digitalasset/daml/lf/engine/script/test/UpgradesMatrixIT.scala
  sdk/docs/sharable/hoogle/daml-script-hoogle.txt
  sdk/docs/sharable/sdk/reference/daml-script/api/Daml-Script.rst
Owners: none

[Engine] reject archive with unknown fields
  sdk/daml-lf/archive/BUILD.bazel
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/GenReader.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/package.scala
  sdk/daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/archive/DarReaderTest.scala
Owners: none

Incorporated directdeps in imports
  sdk/compiler/script-service/server/src/main/scala/com/digitalasset/daml/lf/script/Context.scala
  sdk/daml-lf/api-type-signature/src/test/scala/com/digitalasset/daml/lf/typesig/reader/SignatureReaderSpec.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV1.scala
  sdk/daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/DecodeV2.scala
  sdk/daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/EncodeV2.scala
  sdk/daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/testing/archive/DamlLfEncoderTest.scala
  sdk/daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/testing/archive/EncodeSpec.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/MetaDataTest.scala
  sdk/daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/ReinterpretTest.scala
  sdk/daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/InterpreterTest.scala
  sdk/daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/Ast.scala
  sdk/daml-lf/language/src/test/scala/com/digitalasset/daml/lf/language/AstSpec.scala
  sdk/daml-lf/parser/src/main/scala/com/digitalasset/daml/lf/testing/parser/ModParser.scala
  sdk/daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/DependencyVersionSpec.scala
  sdk/daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/TypingSpec.scala
  sdk/security-evidence.md
Owners: @digital-asset/daml-language

Move DamlLfEncoder to imports
  sdk/daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/DamlLfEncoder.scala
Owners: none

fix deps
  sdk/bazel-java-deps.bzl
  sdk/canton/BUILD.bazel
  sdk/canton_maven_install.json
  sdk/maven_install_2.13.json
Owners: @digital-asset/daml-release-owners

Remove UpgradeSpecBase tests
  sdk/daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/upgrade/UpgradesSpecAdminAPIDryRun.scala
  sdk/daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/upgrade/UpgradesSpecAdminAPIWithValidation.scala
  sdk/daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/upgrade/UpgradesSpecBase.scala
  sdk/daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/upgrade/UpgradesSpecLedgerAPIDryRun.scala
  sdk/daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/upgrade/UpgradesSpecLedgerAPIWithValidation.scala
  sdk/daml-lf/validation/src/test/scala/com/digitalasset/daml/lf/validation/upgrade/UpgradesSpecUtil.scala
Owners: none
