Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @digital-asset/daml-release-owners, @dylant-da, @paulbrauner-da, @remyhaemmerle-da, @digital-asset/daml-language, @digital-asset/kv-participant

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

sdk/bazel-java-deps.bzl @digital-asset/daml-release-owners

CODEOWNERS   @dylant-da @paulbrauner-da @remyhaemmerle-da 
/sdk/LATEST @digital-asset/daml-release-owners

# Build / CI / environment
/ci/                   @digital-asset/daml-language
/sdk/dev-env/          @digital-asset/daml-language
/sdk/nix/              @digital-asset/daml-language
azure-pipelines.yml    @digital-asset/daml-language
azure-cron.yml         @digital-asset/daml-language
sdk/release/           @digital-asset/daml-language
sdk/release.sh         @digital-asset/daml-language

# Blackduck
/sdk/NOTICES

# Compatibility test
/sdk/compatibility/     @digital-asset/daml-language @digital-asset/kv-participant

# Language
/sdk/daml-assistant/    @digital-asset/daml-language
/sdk/daml-script/       
/sdk/compiler/          @digital-asset/daml-language
/sdk/libs-haskell/      @digital-asset/daml-language
/sdk/ghc-lib/           @digital-asset/daml-language
/sdk/test-common/canton/ 

# Runtime
/sdk/daml-lf/ 


# Ecosystems
/sdk/language-support/hs/       @digital-asset/daml-language
/sdk/language-support/java/     
/sdk/language-support/scala/    
/sdk/language-support/ts/       

# Application Runtime
/sdk/ledger-service/
/sdk/runtime-components/ 

# Misc
/sdk/docs/ 
/sdk/libs-scala/

# Observability related libraries
/sdk/observability

Name versions as internal names
  sdk/daml-lf/language/daml-lf.bzl
Owners: none

fmt
  sdk/daml-lf/language/daml-lf.bzl
Owners: none

Buildifier fix
  sdk/compiler/daml-lf-ast/BUILD.bazel
  sdk/daml-lf/encoder/BUILD.bazel
  sdk/daml-lf/engine/BUILD.bazel
  sdk/daml-lf/language/BUILD.bazel
  sdk/daml-lf/snapshot/BUILD.bazel
  sdk/daml-lf/tests/BUILD.bazel
  sdk/daml-script/test/BUILD.bazel
Owners: @digital-asset/daml-language

Most of comments @paulbrauner-da
  sdk/compiler/daml-lf-proto-decode/src/DA/Daml/LF/Proto3/Decode.hs
  sdk/compiler/damlc/lib/DA/Cli/Options.hs
  sdk/compiler/damlc/pkg-db/BUILD.bazel
  sdk/compiler/damlc/tests/BUILD.bazel
  sdk/compiler/damlc/tests/src/DA/Test/DamlcUpgrades.hs
  sdk/compiler/damlc/tests/src/DA/Test/DataDependencies.hs
  sdk/compiler/damlc/tests/src/DA/Test/Packaging.hs
  sdk/compiler/damlc/tests/src/DA/Test/ScriptService.hs
  sdk/compiler/damlc/tests/src/DA/Test/ShakeIdeClient.hs
  sdk/daml-lf/encoder/BUILD.bazel
  sdk/daml-lf/language/BUILD.bazel
  sdk/daml-lf/language/daml-lf.bzl
  sdk/daml-lf/language/generate_haskell_versions.py
  sdk/daml-lf/snapshot/BUILD.bazel
  sdk/daml-script/daml/BUILD.bazel
  sdk/daml-script/runner/BUILD.bazel
  sdk/language-support/java/codegen/BUILD.bazel
  sdk/rules_daml/daml.bzl
Owners: @digital-asset/daml-language

Buildifier-fix
  sdk/daml-lf/language/daml-lf.bzl
Owners: none

LF_DOCS_VERSION
  sdk/compiler/damlc/BUILD.bazel
  sdk/daml-lf/language/daml-lf.bzl
Owners: @digital-asset/daml-language

temp fix for script-service to be overhauled in next pr
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version/VersionType.hs
  sdk/compiler/damlc/tests/src/DA/Test/ScriptService.hs
Owners: @digital-asset/daml-language

Clean up rebase
  sdk/daml-script/runner/BUILD.bazel
  sdk/daml-script/test/BUILD.bazel
Owners: none

Fix old var in datadeps
  sdk/compiler/damlc/tests/src/DA/Test/DataDependencies.hs
Owners: @digital-asset/daml-language

Remove defaultOrLatestStable
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version/VersionUtil.hs
  sdk/compiler/damlc/tests/src/DA/Test/DataDependencies.hs
  sdk/compiler/damlc/tests/src/DA/Test/IncrementalBuilds.hs
  sdk/compiler/damlc/tests/src/DA/Test/ScriptService.hs
  sdk/compiler/damlc/tests/src/DA/Test/ShakeIdeClient.hs
  sdk/compiler/damlc/tests/src/DamlcPkgManager.hs
Owners: @digital-asset/daml-language

Make python data-driven on json labels
  sdk/daml-lf/language/BUILD.bazel
  sdk/daml-lf/language/generate_haskell_versions.py
Owners: none

Explicit Minorversion Ord instance
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version/VersionType.hs
Owners: @digital-asset/daml-language

buildifier
  sdk/daml-lf/language/BUILD.bazel
  sdk/daml-lf/language/daml-lf.bzl
Owners: none

Removal, build passing, readme instructions not
  sdk/daml-lf/snapshot/BUILD.bazel
  sdk/daml-lf/snapshot/README.md
  sdk/daml-lf/snapshot/src/test/scala/com/digitalasset/daml/lf/testing/snapshot/ReplayBenchmarkIT.scala
  sdk/daml-lf/snapshot/src/test/scala/com/digitalasset/daml/lf/testing/snapshot/ReplayBenchmarkTest.scala
Owners: none

Snapshot for 3.3 (#22228)
  sdk/LATEST
Owners: @digital-asset/daml-release-owners

add a toString method for TranslationFailed errors (#22237)
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/interpretation/Error.scala
Owners: none

Renamed vars to be more descript/uniform
  sdk/compiler/damlc/pkg-db/BUILD.bazel
  sdk/compiler/damlc/tests/BUILD.bazel
  sdk/daml-lf/api-type-signature/BUILD.bazel
  sdk/daml-lf/encoder/BUILD.bazel
  sdk/daml-lf/engine/BUILD.bazel
  sdk/daml-lf/interpreter/BUILD.bazel
  sdk/daml-lf/language/BUILD.bazel
  sdk/daml-lf/language/daml-lf.bzl
  sdk/daml-lf/snapshot/BUILD.bazel
  sdk/daml-lf/stable-packages/BUILD.bazel
  sdk/daml-lf/tests/BUILD.bazel
  sdk/daml-script/daml/BUILD.bazel
  sdk/daml-script/runner/BUILD.bazel
  sdk/daml-script/test/BUILD.bazel
  sdk/docs/BUILD.bazel
  sdk/language-support/java/codegen/BUILD.bazel
  sdk/rules_daml/daml.bzl
Owners: @digital-asset/daml-language

Fix Daml Studio DocumentSymbols error (#22239)
  sdk/bazel-haskell-deps.bzl
  sdk/compiler/damlc/lib/DA/Cli/Damlc/Command/MultiIde/Handlers.hs
Owners: @digital-asset/daml-language

Fix Daml Studio DocumentSymbols error (#22239)
  sdk/bazel-haskell-deps.bzl
  sdk/compiler/damlc/lib/DA/Cli/Damlc/Command/MultiIde/Handlers.hs
Owners: @digital-asset/daml-language

add config for lock-acquisition-timeout
  sdk/ledger-service/http-json-cli/src/main/scala/com/daml/http/Config.scala
  sdk/ledger-service/http-json-cli/src/main/scala/com/daml/http/JsonApiCli.scala
  sdk/ledger-service/http-json-cli/src/main/scala/com/daml/http/StartSettings.scala
  sdk/ledger-service/http-json-cli/src/main/scala/com/daml/http/dbbackend/JdbcConfig.scala
  sdk/ledger-service/http-json/src/main/scala/com/digitalasset/http/ContractsService.scala
  sdk/ledger-service/http-json/src/main/scala/com/digitalasset/http/HttpService.scala
  sdk/ledger-service/http-json/src/main/scala/com/digitalasset/http/util/LockSet.scala
  sdk/ledger-service/http-json/src/test/resources/http-json-api.conf
  sdk/ledger-service/http-json/src/test/scala/com/digitalasset/http/CliSpec.scala
  sdk/ledger-service/http-json/src/test/scala/com/digitalasset/http/util/LockSetTest.scala
  sdk/security-evidence.md
Owners: none

update NOTICES file
  sdk/NOTICES
Owners: none

Rename InterfaceTree to SignatureTree
  sdk/language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/CodeGenRunner.scala
  sdk/language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/SignatureTree.scala
  sdk/language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/ClassForType.scala
  sdk/language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/TemplateClass.scala
  sdk/language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/VariantClass.scala
  sdk/language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/package.scala
  sdk/language-support/java/codegen/src/test/scala/com/digitalasset/daml/lf/codegen/SignatureTreeSpec.scala
Owners: none

[Backport #22239] Fix Daml Studio DocumentSymbols error (#22244)
  sdk/bazel-haskell-deps.bzl
  sdk/compiler/damlc/lib/DA/Cli/Damlc/Command/MultiIde/Handlers.hs
Owners: @digital-asset/daml-language

Comments by @paulbrauner-da
  sdk/compiler/damlc/lib/DA/Cli/Options.hs
  sdk/daml-lf/language/BUILD.bazel
  sdk/daml-lf/language/daml-lf.bzl
Owners: @digital-asset/daml-language

add a toString method for TranslationFailed errors
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/interpretation/Error.scala
Owners: none

Remove dpm version env var from VSCode when running studio (#22240)
  sdk/daml-assistant/daml-helper/src/DA/Daml/Helper/Studio.hs
  sdk/daml-assistant/daml-project-config/DA/Daml/Project/Consts.hs
Owners: @digital-asset/daml-language

Renamed vars to be more descript/uniform
  sdk/compiler/damlc/pkg-db/BUILD.bazel
  sdk/compiler/damlc/tests/BUILD.bazel
  sdk/daml-lf/api-type-signature/BUILD.bazel
  sdk/daml-lf/encoder/BUILD.bazel
  sdk/daml-lf/engine/BUILD.bazel
  sdk/daml-lf/interpreter/BUILD.bazel
  sdk/daml-lf/language/BUILD.bazel
  sdk/daml-lf/language/daml-lf.bzl
  sdk/daml-lf/snapshot/BUILD.bazel
  sdk/daml-lf/stable-packages/BUILD.bazel
  sdk/daml-lf/tests/BUILD.bazel
  sdk/daml-script/daml/BUILD.bazel
  sdk/daml-script/runner/BUILD.bazel
  sdk/daml-script/test/BUILD.bazel
  sdk/docs/BUILD.bazel
  sdk/language-support/java/codegen/BUILD.bazel
  sdk/rules_daml/daml.bzl
Owners: @digital-asset/daml-language

Rename haskell vars as well
  sdk/compiler/daml-lf-ast/test/DA/Daml/LF/Ast/Tests.hs
  sdk/compiler/daml-lf-proto-decode/src/DA/Daml/LF/Proto3/Decode.hs
  sdk/compiler/daml-lf-tools/tests/DA/Daml/LF/Simplifier/Tests.hs
  sdk/compiler/damlc/daml-desugar/test/DA/Daml/Desugar/Tests.hs
  sdk/compiler/damlc/daml-opts/daml-opts-types/DA/Daml/Options/Types.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc/Command/UpgradeCheck.hs
  sdk/compiler/damlc/lib/DA/Cli/Options.hs
  sdk/compiler/damlc/tests/src/DA/Test/DamlcIntegration.hs
  sdk/compiler/damlc/tests/src/DA/Test/DamlcUpgrades.hs
  sdk/compiler/damlc/tests/src/DA/Test/DataDependencies.hs
  sdk/compiler/damlc/tests/src/DA/Test/IncrementalBuilds.hs
  sdk/compiler/damlc/tests/src/DA/Test/Packaging.hs
  sdk/compiler/damlc/tests/src/DA/Test/ScriptService.hs
  sdk/compiler/damlc/tests/src/DA/Test/ShakeIdeClient.hs
  sdk/compiler/damlc/tests/src/DamlcPkgManager.hs
  sdk/daml-lf/language/BUILD.bazel
Owners: @digital-asset/daml-language

Initial implementation
  sdk/compiler/daml-lf-ast/BUILD.bazel
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Range.hs
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version/VersionType.hs
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version/VersionUtil.hs
  sdk/compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion/Primitives.hs
  sdk/compiler/damlc/daml-lf-util/src/DA/Daml/UtilLF.hs
  sdk/compiler/damlc/daml-opts/daml-opts/DA/Daml/Options.hs
  sdk/compiler/damlc/tests/src/DA/Test/DamlcIntegration.hs
  sdk/compiler/damlc/tests/src/DA/Test/DataDependencies.hs
  sdk/compiler/damlc/tests/src/DA/Test/ScriptService.hs
  sdk/daml-lf/language/BUILD.bazel
  sdk/daml-lf/language/daml-lf.bzl
  sdk/daml-lf/language/generate_haskell_features.py
Owners: @digital-asset/daml-language

buildifier-fix
  sdk/daml-lf/language/BUILD.bazel
Owners: none

revert (mostly) of datadeps
  sdk/compiler/damlc/tests/src/DA/Test/DataDependencies.hs
Owners: @digital-asset/daml-language

Initial idea, to test
  sdk/.envrc
  sdk/shell.nix
Owners: none

[WIP] debug of .envrc
  sdk/.envrc
Owners: none

[backport] add a toString method for TranslationFailed errors (#22238)
  sdk/daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/interpretation/Error.scala
Owners: none

generate lf hs versions based on bzl versions (#22182)
  sdk/compiler/daml-lf-ast/BUILD.bazel
  sdk/compiler/daml-lf-ast/daml-lf-ast.cabal
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version/VersionType.hs
  sdk/compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version/VersionUtil.hs
  sdk/compiler/daml-lf-ast/test/DA/Daml/LF/Ast/Tests.hs
  sdk/compiler/daml-lf-proto-decode/src/DA/Daml/LF/Proto3/Decode.hs
  sdk/compiler/daml-lf-tools/tests/DA/Daml/LF/Simplifier/Tests.hs
  sdk/compiler/damlc/BUILD.bazel
  sdk/compiler/damlc/daml-desugar/test/DA/Daml/Desugar/Tests.hs
  sdk/compiler/damlc/daml-opts/daml-opts-types/DA/Daml/Options/Types.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc/Command/UpgradeCheck.hs
  sdk/compiler/damlc/lib/DA/Cli/Options.hs
  sdk/compiler/damlc/pkg-db/BUILD.bazel
  sdk/compiler/damlc/stable-packages/lib/DA/Daml/StablePackages.hs
  sdk/compiler/damlc/tests/BUILD.bazel
  sdk/compiler/damlc/tests/src/DA/Test/DamlcIntegration.hs
  sdk/compiler/damlc/tests/src/DA/Test/DamlcUpgrades.hs
  sdk/compiler/damlc/tests/src/DA/Test/DataDependencies.hs
  sdk/compiler/damlc/tests/src/DA/Test/IncrementalBuilds.hs
  sdk/compiler/damlc/tests/src/DA/Test/Packaging.hs
  sdk/compiler/damlc/tests/src/DA/Test/ScriptService.hs
  sdk/compiler/damlc/tests/src/DA/Test/ShakeIdeClient.hs
  sdk/compiler/damlc/tests/src/DamlcPkgManager.hs
  sdk/daml-lf/api-type-signature/BUILD.bazel
  sdk/daml-lf/encoder/BUILD.bazel
  sdk/daml-lf/engine/BUILD.bazel
  sdk/daml-lf/interpreter/BUILD.bazel
  sdk/daml-lf/language/BUILD.bazel
  sdk/daml-lf/language/daml-lf.bzl
  sdk/daml-lf/language/generate_haskell_versions.py
  sdk/daml-lf/snapshot/BUILD.bazel
  sdk/daml-lf/stable-packages/BUILD.bazel
  sdk/daml-lf/tests/BUILD.bazel
  sdk/daml-script/daml/BUILD.bazel
  sdk/daml-script/runner/BUILD.bazel
  sdk/daml-script/test/BUILD.bazel
  sdk/docs/BUILD.bazel
  sdk/language-support/java/codegen/BUILD.bazel
  sdk/rules_daml/daml.bzl
Owners: @digital-asset/daml-language

Renamed vars to be more descript/uniform
  sdk/compiler/damlc/pkg-db/BUILD.bazel
  sdk/compiler/damlc/tests/BUILD.bazel
  sdk/daml-lf/api-type-signature/BUILD.bazel
  sdk/daml-lf/encoder/BUILD.bazel
  sdk/daml-lf/engine/BUILD.bazel
  sdk/daml-lf/interpreter/BUILD.bazel
  sdk/daml-lf/language/BUILD.bazel
  sdk/daml-lf/language/daml-lf.bzl
  sdk/daml-lf/snapshot/BUILD.bazel
  sdk/daml-lf/stable-packages/BUILD.bazel
  sdk/daml-lf/tests/BUILD.bazel
  sdk/daml-script/daml/BUILD.bazel
  sdk/daml-script/runner/BUILD.bazel
  sdk/daml-script/test/BUILD.bazel
  sdk/docs/BUILD.bazel
  sdk/language-support/java/codegen/BUILD.bazel
  sdk/rules_daml/daml.bzl
Owners: @digital-asset/daml-language

Rename haskell vars as well
  sdk/compiler/daml-lf-ast/test/DA/Daml/LF/Ast/Tests.hs
  sdk/compiler/daml-lf-proto-decode/src/DA/Daml/LF/Proto3/Decode.hs
  sdk/compiler/daml-lf-tools/tests/DA/Daml/LF/Simplifier/Tests.hs
  sdk/compiler/damlc/daml-desugar/test/DA/Daml/Desugar/Tests.hs
  sdk/compiler/damlc/daml-opts/daml-opts-types/DA/Daml/Options/Types.hs
  sdk/compiler/damlc/lib/DA/Cli/Damlc/Command/UpgradeCheck.hs
  sdk/compiler/damlc/lib/DA/Cli/Options.hs
  sdk/compiler/damlc/tests/src/DA/Test/DamlcIntegration.hs
  sdk/compiler/damlc/tests/src/DA/Test/DamlcUpgrades.hs
  sdk/compiler/damlc/tests/src/DA/Test/DataDependencies.hs
  sdk/compiler/damlc/tests/src/DA/Test/IncrementalBuilds.hs
  sdk/compiler/damlc/tests/src/DA/Test/Packaging.hs
  sdk/compiler/damlc/tests/src/DA/Test/ScriptService.hs
  sdk/compiler/damlc/tests/src/DA/Test/ShakeIdeClient.hs
  sdk/compiler/damlc/tests/src/DamlcPkgManager.hs
  sdk/daml-lf/language/BUILD.bazel
Owners: @digital-asset/daml-language

local test
  sdk/bazel-java-deps.bzl
  sdk/ledger-service/http-json/BUILD.bazel
  sdk/ledger-service/http-json/src/main/scala/com/digitalasset/http/dbbackend/ContractDao.scala
  sdk/ledger-service/http-json/src/test/scala/com/digitalasset/http/ContractServiceTest.scala
  sdk/maven_install_2.13.json
Owners: @digital-asset/daml-release-owners

buildifer-fix
  sdk/daml-lf/language/BUILD.bazel
Owners: none

Ignore deleted lines about adhoc and rc in LATEST
  ci/check-for-release-job.yml
Owners: @digital-asset/daml-language
