Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @gerolf-da, @remyhaemmerle-da, @bame-da, @garyverhaegen-da, @dasormeter, @basvangijzel-DA, @filmackay, @akrmn, @dylant-da, @samuel-williams-da, @paulbrauner-da, @digital-asset/kv-committer, @S11001001, @digital-asset/kv-participant, @meiersi-da, @rgugliel-da, @digital-asset/daml-docs, @hrischuk-da, @soren-da, @matthiasS-da, @digital-asset/platform-enablement

[2.x] disable releases
  azure-pipelines.yml
  ci/check-for-release-job.yml
  ci/daily-snapshot.yml
Owners: @garyverhaegen-da

First step for basic type upgradability
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Upgrade.hs
Owners: @basvangijzel-DA, @remyhaemmerle-da, @akrmn, @dylant-da, @samuel-williams-da, @paulbrauner-da

Check all datatypes
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Upgrade.hs
Owners: @basvangijzel-DA, @remyhaemmerle-da, @akrmn, @dylant-da, @samuel-williams-da, @paulbrauner-da

fix type signature on checkUpgradeType
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Upgrade.hs
Owners: @basvangijzel-DA, @remyhaemmerle-da, @akrmn, @dylant-da, @samuel-williams-da, @paulbrauner-da

lint
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Upgrade.hs
Owners: @basvangijzel-DA, @remyhaemmerle-da, @akrmn, @dylant-da, @samuel-williams-da, @paulbrauner-da

remove unnecessary imports
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Upgrade.hs
Owners: @basvangijzel-DA, @remyhaemmerle-da, @akrmn, @dylant-da, @samuel-williams-da, @paulbrauner-da

Migrate to MonadGamma, implement checks for variants, more tests
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Check.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Env.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Error.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Keyability.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Recursion.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Serializability.hs
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Upgrade.hs
  compiler/damlc/daml-compiler/src/DA/Daml/Compiler/Dar.hs
  compiler/damlc/tests/src/DA/Test/DamlcUpgrades.hs
Owners: @basvangijzel-DA, @remyhaemmerle-da, @akrmn, @dylant-da, @samuel-williams-da, @paulbrauner-da

lint
  compiler/daml-lf-tools/src/DA/Daml/LF/TypeChecker/Upgrade.hs
Owners: @basvangijzel-DA, @remyhaemmerle-da, @akrmn, @dylant-da, @samuel-williams-da, @paulbrauner-da

Only update the canton directory in the main-2.x code drop (#18162)
  ci/cron/daily-compat.yml
Owners: @garyverhaegen-da

accept a 'base' argumentin open_pr (#18166)
  ci/bash-lib.yml
Owners: @garyverhaegen-da

Enrich assertDecodeInfoPackage with (PackageId, Ast.Package) in the return type
  canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/platform/store/packagemeta/PackageMetadata.scala
  daml-lf/archive/src/main/scala/com/digitalasset/daml/lf/archive/Decode.scala
Owners: @remyhaemmerle-da, @paulbrauner-da

[2.x] disable releases (#18171)
  azure-pipelines.yml
  ci/check-for-release-job.yml
  ci/daily-snapshot.yml
Owners: @garyverhaegen-da

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

CODEOWNERS   @gerolf-da @remyhaemmerle-da
LATEST       @gerolf-da @bame-da

# Build / CI / environment
/ci/                @garyverhaegen-da
/dev-env/           @garyverhaegen-da
/nix/               @garyverhaegen-da
azure-pipelines.yml @garyverhaegen-da
azure-cron.yml      @garyverhaegen-da
/release/           @garyverhaegen-da
/release.sh         @garyverhaegen-da

# Blackduck
NOTICES     @garyverhaegen-da @dasormeter

# Compatibility test
/compatibility/     @basvangijzel-DA @garyverhaegen-da @gerolf-da @remyhaemmerle-da

# Language
/daml-assistant/    @remyhaemmerle-da @filmackay
/daml-script/       @remyhaemmerle-da
/triggers/          @remyhaemmerle-da
/compiler/          @basvangijzel-DA @remyhaemmerle-da @akrmn @dylant-da @samuel-williams-da @paulbrauner-da
/libs-haskell/      @basvangijzel-DA @remyhaemmerle-da @akrmn @dylant-da @samuel-williams-da @paulbrauner-da
/ghc-lib/           @basvangijzel-DA @remyhaemmerle-da @akrmn @dylant-da @samuel-williams-da @paulbrauner-da
/test-common/canton/            @garyverhaegen-da @remyhaemmerle-da

# Runtime
/daml-lf/ @remyhaemmerle-da @paulbrauner-da
/daml-lf/kv-support/ @digital-asset/kv-committer @remyhaemmerle-da
/daml-lf/transaction-test-lib/src/main/ @remyhaemmerle-da @S11001001

# KV Participant
/ledger/      @digital-asset/kv-participant
/ledger-api/  @digital-asset/kv-participant

# Ledger API Interfaces and Read/Write services are jointly owned between KV teams and @meiersi-da
/ledger-api/grpc-definitions/       @meiersi-da @digital-asset/kv-participant @digital-asset/kv-committer

# Owned by KV Participant with KV Committer added for notifications
/ledger/ledger-api-common/              @digital-asset/kv-participant @digital-asset/kv-committer
/ledger/ledger-api-domain/              @digital-asset/kv-participant @digital-asset/kv-committer
/ledger-test-tool/                      @digital-asset/kv-participant @digital-asset/kv-committer

# Conformance test on canton
/ledger-test-tool/ledger-api-test-tool-on-canton @remyhaemmerle-da @rgugliel-da @digital-asset/kv-participant @digital-asset/kv-committer

# Ecosystems
/language-support/hs/       @remyhaemmerle-da
/language-support/java/     @filmackay
/language-support/scala/    @filmackay
/language-support/ts/       @garyverhaegen-da @filmackay

# Application Runtime
/ledger-service/       @filmackay
/navigator/            @filmackay
/runtime-components/   @filmackay
/triggers/service/     @filmackay

# Canton code drop
/canton/               @remyhaemmerle-da

# Misc
/docs/              @digital-asset/daml-docs @hrischuk-da
/libs-scala/nonempty/src/    @S11001001
/libs-scala/nonempty-cats/src/    @S11001001
/libs-scala/scala-utils/src/    @S11001001
/libs-scala/scalatest-utils/src/    @S11001001
/libs-scala/test-evidence/ @digital-asset/kv-participant @soren-da @matthiasS-da

# Observability related libraries
/observability @digital-asset/platform-enablement
