Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @digital-asset/empty, @bitonic, @neil-da, @hurryabit, @cbaatz-da, @garyverhaegen-da, @gerolf-da, @nicholassmith-da, @bethaitman

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

*           @digital-asset/empty
CODEOWNERS  @bitonic @neil-da @hurryabit @cbaatz-da
VERSION     @digital-asset/empty

# Build / CI / environment
/3rdparty/          @digital-asset/empty
/bazel_tools/       @digital-asset/empty
/build-scripts/     @digital-asset/empty
/ci/                @garyverhaegen-da
/dev-env/           @garyverhaegen-da
/dotfiles/          @digital-asset/empty
/hazel/             @digital-asset/empty
/nix/               @garyverhaegen-da
/infra/             @garyverhaegen-da
/rattle/            @digital-asset/empty
/replacements/      @digital-asset/empty
/rules_daml/        @digital-asset/empty
BAZEL-JVM.md        @digital-asset/empty
BAZEL-haskell.md    @digital-asset/empty
BAZEL.md            @digital-asset/empty
BUILD               @digital-asset/empty
WORKSPACE           @digital-asset/empty
azure-pipelines.yml @garyverhaegen-da
azure-cron.yml      @garyverhaegen-da
build.ps1           @digital-asset/empty
build.sh            @digital-asset/empty
deps.bzl            @digital-asset/empty

# Language
/compiler/          @digital-asset/empty
/daml-foundations/  @digital-asset/empty
/libs-haskell/      @digital-asset/empty
/ghc-lib/           @digital-asset/empty

# SDK
/release/           @digital-asset/empty
/sdk/               @digital-asset/empty
/da-assistant/      @digital-asset/empty
/daml-assistant/    @digital-asset/empty
/templates/         @digital-asset/empty

# Runtime
/daml-lf/           @digital-asset/empty
/ledger/            @digital-asset/empty
/ledger-api/        @digital-asset/empty

# Ecosystems
/language-support/          @digital-asset/empty
/language-support/java/     @digital-asset/empty @gerolf-da @nicholassmith-da
/language-support/js/       @digital-asset/empty
/language-support/scala/    @digital-asset/empty
/scala-protoc-plugins/      @digital-asset/empty

# Tools
/extractor/         @digital-asset/empty
/navigator/         @digital-asset/empty
/web-ide/           @digital-asset/empty

# Misc
/docs/              @bethaitman
/notices-gen/       @digital-asset/empty
/oss-compliance/    @digital-asset/empty

CHANGELOG           @digital-asset/empty
CODE_OF_CONDUCT.md  @digital-asset/empty
CONTRIBUTING.md     @digital-asset/empty
COPY                @digital-asset/empty
LICENSE             @digital-asset/empty
NOTICES             @digital-asset/empty
README.md           @digital-asset/empty
daml-logo.png       @digital-asset/empty

Rewrite coercion conversion in higher-order abstract syntax style
  daml-foundations/daml-ghc/ghc-compiler/src/DA/Daml/GHC/Compiler/Convert.hs
  daml-foundations/daml-ghc/tests/DefaultMethods.daml
Owners: @digital-asset/empty

Rewrite coercion conversion in higher-order abstract syntax style
  daml-foundations/daml-ghc/ghc-compiler/src/DA/Daml/GHC/Compiler/Convert.hs
  daml-foundations/daml-ghc/tests/DefaultMethods.daml
Owners: @digital-asset/empty

Still have to worry about the variant type
  compiler/scenario-service/client/src/DA/Daml/LF/PrettyScenario.hs
Owners: @digital-asset/empty

Error on bad constructor type
  compiler/scenario-service/client/src/DA/Daml/LF/PrettyScenario.hs
Owners: @digital-asset/empty

factor dar production for extractor tests
  extractor/BUILD.bazel
Owners: @digital-asset/empty

configureExtractor to change ExtractorConfig elements
  extractor/src/test/lib/scala/com/digitalasset/extractor/services/ExtractorFixture.scala
Owners: @digital-asset/empty

test that party-set extracts the inclusive union of visible contracts (and only that)
  extractor/src/test/resources/damls/RecordsAndVariants.daml
  extractor/src/test/suite/scala/com/digitalasset/extractor/MultiPartySpec.scala
Owners: @digital-asset/empty

release note for extractor multi-party support
  docs/source/support/release-notes.rst
Owners: @bethaitman

Now it expose the real poblem, we have to decide what we can do on variant types
  compiler/scenario-service/client/src/DA/Daml/LF/PrettyScenario.hs
Owners: @digital-asset/empty

Varaint types will have a trialing .
  compiler/scenario-service/client/src/DA/Daml/LF/PrettyScenario.hs
Owners: @digital-asset/empty

rendring headers from table body
  compiler/scenario-service/client/src/DA/Daml/LF/PrettyScenario.hs
Owners: @digital-asset/empty

rendring header from table instead of row
  compiler/scenario-service/client/src/DA/Daml/LF/PrettyScenario.hs
Owners: @digital-asset/empty

Rewrite coercion conversion in higher-order abstract syntax style (#1383)
  daml-foundations/daml-ghc/ghc-compiler/src/DA/Daml/GHC/Compiler/Convert.hs
  daml-foundations/daml-ghc/tests/DefaultMethods.daml
Owners: @digital-asset/empty

Simplify coercion conversion
  daml-foundations/daml-ghc/ghc-compiler/src/DA/Daml/GHC/Compiler/Convert.hs
Owners: @digital-asset/empty

Add a test for hihger-kinded coercions in damlc
  daml-foundations/daml-ghc/tests/NewtypeHigherKinded.daml
Owners: @digital-asset/empty

Add a test for hihger-kinded coercions in damlc (#1386)
  daml-foundations/daml-ghc/tests/NewtypeHigherKinded.daml
Owners: @digital-asset/empty

Detect type class instances during template resugaring qualified
  daml-foundations/daml-ghc/ghc-compiler/src/DA/Daml/GHC/Compiler/Convert.hs
  daml-foundations/daml-ghc/ghc-compiler/src/DA/Daml/GHC/Compiler/UtilGHC.hs
Owners: @digital-asset/empty

Improve parseInt/parseDecimal at the edge cases
  daml-foundations/daml-ghc/daml-stdlib-src/DA/Text.daml
  daml-foundations/daml-ghc/tests/Text.daml
Owners: @digital-asset/empty

Update the change log
  docs/source/support/release-notes.rst
Owners: @bethaitman

Detect type class instances during template resugaring qualified (#1388)
  daml-foundations/daml-ghc/ghc-compiler/src/DA/Daml/GHC/Compiler/Convert.hs
  daml-foundations/daml-ghc/ghc-compiler/src/DA/Daml/GHC/Compiler/UtilGHC.hs
Owners: @digital-asset/empty

Improve parseInt/parseDecimal at the edge cases (#1389)
  daml-foundations/daml-ghc/daml-stdlib-src/DA/Text.daml
  daml-foundations/daml-ghc/tests/Text.daml
  docs/source/support/release-notes.rst
Owners: @digital-asset/empty, @bethaitman

WIP: inject create and fetch
  daml-foundations/daml-ghc/ghc-compiler/src/DA/Daml/GHC/Compiler/Convert.hs
Owners: @digital-asset/empty

WIP: inject exercises & add scenario
  daml-foundations/daml-ghc/ghc-compiler/src/DA/Daml/GHC/Compiler/Convert.hs
  daml-foundations/daml-ghc/tests/GenericTemplates.daml
Owners: @digital-asset/empty

WIP: type class resugaring works
  daml-foundations/daml-ghc/ghc-compiler/src/DA/Daml/GHC/Compiler/Convert.hs
  daml-foundations/daml-ghc/tests/GenericTemplates.daml
Owners: @digital-asset/empty

WIP: reconstruct dict
  daml-foundations/daml-ghc/ghc-compiler/src/DA/Daml/GHC/Compiler/Convert.hs
Owners: @digital-asset/empty

WIP: add observers
  daml-foundations/daml-ghc/ghc-compiler/src/DA/Daml/GHC/Compiler/Convert.hs
  daml-foundations/daml-ghc/tests/GenericTemplates.daml
Owners: @digital-asset/empty

Prototype implementation of the backend for generic templates
  daml-foundations/daml-ghc/ghc-compiler/src/DA/Daml/GHC/Compiler/Convert.hs
  daml-foundations/daml-ghc/tests/GenericTemplates.daml
Owners: @digital-asset/empty

Prototype implementation of the backend for generic templates (#1391)
  daml-foundations/daml-ghc/ghc-compiler/src/DA/Daml/GHC/Compiler/Convert.hs
  daml-foundations/daml-ghc/tests/GenericTemplates.daml
Owners: @digital-asset/empty

Split generic proposal + IOU test in multiple modules
  daml-foundations/daml-ghc/tests/GenericTemplates.daml
  daml-foundations/daml-ghc/tests/IouDSL.daml
  daml-foundations/daml-ghc/tests/IouOldDSL.daml
  daml-foundations/daml-ghc/tests/ProposalDSL.daml
Owners: @digital-asset/empty

Split generic proposal + IOU test in multiple modules (#1392)
  daml-foundations/daml-ghc/tests/GenericTemplates.daml
  daml-foundations/daml-ghc/tests/IouDSL.daml
  daml-foundations/daml-ghc/tests/IouOldDSL.daml
  daml-foundations/daml-ghc/tests/ProposalDSL.daml
Owners: @digital-asset/empty

Generic templates: restructure type classes
  daml-foundations/daml-ghc/tests/GenericTemplates.daml
  daml-foundations/daml-ghc/tests/IouDSL.daml
  daml-foundations/daml-ghc/tests/ProposalDSL.daml
Owners: @digital-asset/empty

Fix bazel file formatting
  bazel_tools/scala.bzl
Owners: @digital-asset/empty

Fix scaladoc rule by adding the plugin JAR paths to the command inputs.
  bazel_tools/scala.bzl
  language-support/scala/codegen-sample-app/BUILD.bazel
Owners: @digital-asset/empty

Fixes #1340 - Add Scaladocs generation to the Bazel rules.
  WORKSPACE
  bazel_tools/scala.bzl
  nix/bazel.nix
Owners: @digital-asset/empty, @garyverhaegen-da

Require non-generated src files
  bazel_tools/scala.bzl
Owners: @digital-asset/empty

Generic templates: restructure type classes (#1393)
  daml-foundations/daml-ghc/tests/GenericTemplates.daml
  daml-foundations/daml-ghc/tests/IouDSL.daml
  daml-foundations/daml-ghc/tests/ProposalDSL.daml
Owners: @digital-asset/empty

Expunge Ledger API NPM package
  ledger-api/npm-package/.gitignore
  ledger-api/npm-package/LICENSE.txt
  ledger-api/npm-package/package-lock.json
  ledger-api/npm-package/package.json
Owners: @digital-asset/empty

Generic templates: remove controller/action from Choice type class
  daml-foundations/daml-ghc/tests/GenericTemplates.daml
  daml-foundations/daml-ghc/tests/IouDSL.daml
  daml-foundations/daml-ghc/tests/ProposalDSL.daml
Owners: @digital-asset/empty

Push StateT evaluation into convertCoercion
  daml-foundations/daml-ghc/ghc-compiler/src/DA/Daml/GHC/Compiler/Convert.hs
Owners: @digital-asset/empty

Generic templates: remove controller/action from Choice type class (#1395)
  daml-foundations/daml-ghc/tests/GenericTemplates.daml
  daml-foundations/daml-ghc/tests/IouDSL.daml
  daml-foundations/daml-ghc/tests/ProposalDSL.daml
Owners: @digital-asset/empty
