Repository digital-asset/daml, changes with the owners that CODEOWNERS names for each.
All owners: @gerolf-da, @cocreature, @bame-da, @garyverhaegen-da, @aherrmann-da, @dasormeter, @sofiafaro-da, @stefanobaghino-da, @remyhaemmerle-da, @S11001001, @miklos-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da, @fabiotudone-da, @SamirTalwar-DA, @nickchapman-da, @robin-da, @nemanja-da

CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Note that accounts or teams mentioned must have WRITE access to the repository.

# Only files explicitly mentioned are guarded by code owners (no * rule).

CODEOWNERS   @gerolf-da @cocreature
LATEST       @gerolf-da @bame-da @cocreature

# Build / CI / environment
/ci/                @garyverhaegen-da
/dev-env/           @garyverhaegen-da
/nix/               @garyverhaegen-da
/infra/             @garyverhaegen-da
azure-pipelines.yml @garyverhaegen-da
azure-cron.yml      @garyverhaegen-da

# Blackduck
NOTICES     @garyverhaegen-da @aherrmann-da @cocreature @dasormeter

# Language
/compiler/           @cocreature
/libs-haskell/       @cocreature
/daml-assistant/    @sofiafaro-da  @cocreature
/daml-script/       @cocreature  @aherrmann-da @stefanobaghino-da
/triggers/          @cocreature  @aherrmann-da @stefanobaghino-da
/ghc-lib/           @cocreature
/compatibility/     @garyverhaegen-da @aherrmann-da @cocreature

# Runtime
/daml-lf/ @remyhaemmerle-da
/daml-lf/archive/da/ @cocreature
/daml-lf/data-scalacheck/ @S11001001 @cocreature
/daml-lf/engine/ @cocreature
/daml-lf/governance.rst
/daml-lf/interpreter/ @cocreature
/daml-lf/kv-transaction-support/ @cocreature @gerolf-da @miklos-da
/daml-lf/repl/ @cocreature
/daml-lf/scenario-interpreter/  @cocreature
/daml-lf/spec/daml-lf-1.rst @cocreature
/daml-lf/spec/transaction.rst @cocreature
/daml-lf/spec/value.rst @cocreature
/daml-lf/transaction-test-lib/ @S11001001 @cocreature
/daml-lf/transaction/src/main/scala/com/daml/lf/transaction/ @cocreature
/daml-lf/transaction/src/main/scala/com/daml/lf/value/ @cocreature
/daml-lf/validation/ @cocreature

/ledger-service/    @S11001001 @cocreature @stefanobaghino-da

/ledger/      @gerolf-da @mziolekda @nmarton-da @rautenrieth-da @tudor-da
/ledger-api/  @gerolf-da @mziolekda @nmarton-da @rautenrieth-da @tudor-da

/ledger/participant-state/kvutils/ @fabiotudone-da @gerolf-da @miklos-da @SamirTalwar-DA

/runtime-components/    @stefanobaghino-da @cocreature

# Ecosystems
/language-support/hs/       @nickchapman-da
/language-support/java/     @cocreature @stefanobaghino-da
/language-support/scala/    @S11001001 @cocreature @stefanobaghino-da
/language-support/ts/        @robin-da @cocreature @garyverhaegen-da @stefanobaghino-da

# Tools
/extractor/         @S11001001 @stefanobaghino-da
/navigator/         @cocreature @stefanobaghino-da
/navigator/backend/src/main/scala/com/digitalasset/navigator/json/    @S11001001

# Misc
/docs/              @bame-da @nemanja-da
/libs-scala/        @stefanobaghino-da @SamirTalwar-DA
/libs-scala/contextualized-logging/    @S11001001
/libs-scala/scala-utils/    @S11001001
/libs-scala/scalatest-utils/    @S11001001

Postgres batching refinements
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PGField.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PGSchema.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PGTable.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

DPP-387 Remove migration todos (#9896)
  ledger/participant-integration-api/src/main/resources/db/migration/postgres-appendonly/V100_0__Append_only_schema.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/postgres-appendonly/V100_0__Append_only_schema.sql
  ledger/participant-integration-api/src/main/resources/db/migration/postgres-appendonly/V100_1__Append_only_cleanup.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/postgres-appendonly/V100_1__Append_only_cleanup.sql
  ledger/participant-integration-api/src/main/resources/db/migration/postgres-appendonly/V101__drop_configuration_from_parameters_table.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/postgres-appendonly/V101__drop_configuration_from_parameters_table.sql
  ledger/participant-integration-api/src/main/resources/db/migration/postgres-appendonly/V102__drop_configuration_from_parameters_table.sha256
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Change text columns to varchar
  ledger/participant-integration-api/src/main/resources/db/migration/postgres-appendonly/V100_0__Append_only_schema.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/postgres-appendonly/V100_0__Append_only_schema.sql
  ledger/participant-integration-api/src/main/resources/db/migration/postgres-appendonly/V100_1__Append_only_cleanup.sha256
  ledger/participant-integration-api/src/main/resources/db/migration/postgres-appendonly/V100_1__Append_only_cleanup.sql
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/EventsTableFlatEvents.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/EventsTableFlatEventsRangeQueries.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/EventsTableTreeEvents.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/SqlFunctions.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Fix typoed participant name in ExceptionsIT
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/ExceptionsIT.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Postgres batching refinements (#9898)
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PGField.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PGSchema.scala
  ledger/participant-integration-api/src/main/scala/platform/store/backend/postgresql/PGTable.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

ledger-api-test-tool: Improve logging when reporting waiting failed.
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/participant/ParticipantTestContext.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Bump perf test for for #9871
  ci/cron/perf/test_sha
Owners: @garyverhaegen-da

ledger-api-test-tool: Only wait for parties on participants under test.
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerTestContext.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/participant/ParticipantTestContext.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

LF: Fix encoder for Exception
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/EncodeV1.scala
  daml-lf/encoder/src/test/lf/BigNumeric_1.13_1.dev_.lf
  daml-lf/encoder/src/test/lf/Builtin_1.11_1.12_1.13_1.dev_.lf
  daml-lf/encoder/src/test/lf/Exception_1.dev_.lf
  daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/archive/testing/DamlLfEncoderTest.scala
  daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/archive/testing/EncodeV1Spec.scala
Owners: @remyhaemmerle-da

Add causal execution order in ledger model.
  docs/source/concepts/ledger-model/images/exception-causal-execution-nested.svg
  docs/source/concepts/ledger-model/ledger-exceptions.rst
Owners: @bame-da, @nemanja-da

Fix typoed participant name in ExceptionsIT (#9901)
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/ExceptionsIT.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Update daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/EncodeV1.scala
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/EncodeV1.scala
Owners: @remyhaemmerle-da

Bump perf test for for #9871 (#9902)
  ci/cron/perf/test_sha
Owners: @garyverhaegen-da

ledger-api-test-tool: Only wait for parties on participants under test. (#9903)
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/LedgerTestContext.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/infrastructure/participant/ParticipantTestContext.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

LF: Fix encoder for Exception (#9904)
  daml-lf/encoder/src/main/scala/com/digitalasset/daml/lf/archive/testing/EncodeV1.scala
  daml-lf/encoder/src/test/lf/BigNumeric_1.13_1.dev_.lf
  daml-lf/encoder/src/test/lf/Builtin_1.11_1.12_1.13_1.dev_.lf
  daml-lf/encoder/src/test/lf/Exception_1.dev_.lf
  daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/archive/testing/DamlLfEncoderTest.scala
  daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/archive/testing/EncodeV1Spec.scala
Owners: @remyhaemmerle-da

fix filepath
  docs/source/concepts/ledger-model/ledger-exceptions.rst
Owners: @bame-da, @nemanja-da

Move MetricsReporter and it's dependencies into //ledger/metrics
  daml-script/test/src/com/digitalasset/daml/lf/engine/script/test/JsonApiIt.scala
  ledger-service/cli-opts/BUILD.bazel
  ledger-service/cli-opts/src/main/scala/cliopts/Metrics.scala
  ledger-service/http-json-cli/BUILD.bazel
  ledger-service/http-json-cli/src/main/scala/com/daml/http/Config.scala
  ledger-service/http-json-cli/src/main/scala/com/daml/http/StartSettings.scala
  ledger-service/http-json/BUILD.bazel
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Main.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebSocketService.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/WebsocketEndpoints.scala
  ledger/indexer-benchmark/src/main/scala/ledger/indexerbenchmark/Config.scala
  ledger/metrics/BUILD.bazel
  ledger/metrics/src/main/scala/com/daml/metrics/ExtendedDropwizardExports.scala
  ledger/metrics/src/main/scala/com/daml/metrics/Metrics.scala
  ledger/metrics/src/main/scala/com/daml/metrics/MetricsReporter.scala
  ledger/metrics/src/main/scala/com/daml/metrics/MetricsReporting.scala
  ledger/metrics/src/main/scala/com/daml/metrics/PrometheusReporter.scala
  ledger/metrics/src/main/scala/io/prometheus/client/dropwizard/DropwizardExportsAccess.scala
  ledger/participant-integration-api/BUILD.bazel
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Config.scala
  ledger/sandbox-classic/src/main/scala/platform/sandbox/SandboxServer.scala
  ledger/sandbox-common/BUILD.bazel
  ledger/sandbox-common/src/main/scala/platform/sandbox/cli/CommonCliBase.scala
  ledger/sandbox-common/src/main/scala/platform/sandbox/config/SandboxConfig.scala
  ledger/sandbox-common/src/test/lib/scala/platform/sandbox/cli/CommonCliSpecBase.scala
  ledger/sandbox/src/main/scala/platform/sandboxnext/Runner.scala
Owners: @cocreature, @aherrmann-da, @stefanobaghino-da, @S11001001, @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da, @fabiotudone-da, @miklos-da, @SamirTalwar-DA

Restore non-ugly formatting for that one section in Endpoints.scala
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Endpoints.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

Update ledger/sandbox-common/src/test/lib/scala/platform/sandbox/cli/CommonCliSpecBase.scala
  ledger/sandbox-common/src/test/lib/scala/platform/sandbox/cli/CommonCliSpecBase.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Hide metrics option for http-json
  ledger-service/cli-opts/src/main/scala/cliopts/Metrics.scala
  ledger-service/http-json-cli/src/main/scala/com/daml/http/OptionParser.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

Add warning about using divulged contracts in pruning doc (#9883)
  docs/source/ops/index.rst
Owners: @bame-da, @nemanja-da

LF: Freeze LF 1.14
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion/UtilLF.hs
  compiler/damlc/tests/BUILD.bazel
  compiler/damlc/tests/daml-test-files/ExceptionSemantics.daml
  compiler/damlc/tests/src/DA/Test/ScriptService.hs
  compiler/damlc/tests/src/stable-packages.sh
  daml-lf/archive/src/main/protobuf/com/daml/daml_lf_dev/daml_lf_1.proto
  daml-lf/encoder/src/test/lf/Any_1.7_1.8_1.11_1.12_1.13_1.14_1.dev_.lf
  daml-lf/encoder/src/test/lf/BigNumeric_1.13_1.14_1.dev_.lf
  daml-lf/encoder/src/test/lf/Builtin_1.11_1.12_1.13_1.14_1.dev_.lf
  daml-lf/encoder/src/test/lf/Exception_1.14_1.dev_.lf
  daml-lf/encoder/src/test/lf/GenMap_1.11_1.12_1.13_1.14_1.dev_.lf
  daml-lf/encoder/src/test/lf/Numeric_1.7_1.8_1.11_1.12_1.13_1.14_1.dev_.lf
  daml-lf/encoder/src/test/lf/Synonym_1.8_1.11_1.12_1.13_1.14_1.dev_.lf
  daml-lf/encoder/src/test/lf/Template_1.11_1.12_1.13_1.14_1.dev_.lf
  daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/archive/testing/DamlLfEncoderTest.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineInfoTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ExceptionTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  daml-lf/language/daml-lf.bzl
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageMajorVersion.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
  daml-lf/spec/daml-lf-1.rst
  daml-lf/spec/transaction.rst
  daml-lf/transaction/src/main/protobuf/com/daml/lf/transaction.proto
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionVersion.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionCoderSpec.scala
  language-support/java/codegen/BUILD.bazel
Owners: @cocreature, @remyhaemmerle-da, @stefanobaghino-da

Add missing license header to new Metrics.scala file
  ledger-service/http-json/src/main/scala/com/digitalasset/http/Metrics.scala
Owners: @S11001001, @cocreature, @stefanobaghino-da

Address Mortiz' review
  daml-lf/transaction-test-lib/src/main/scala/lf/value/test/ValueGenerators.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionCoderSpec.scala
Owners: @S11001001, @cocreature, @remyhaemmerle-da

Apply suggestions from code review
  daml-lf/spec/daml-lf-1.rst
Owners: @cocreature

LF: Preview version of LF 1.14 (#9906)
  compiler/daml-lf-ast/src/DA/Daml/LF/Ast/Version.hs
  compiler/damlc/daml-lf-conversion/src/DA/Daml/LFConversion/UtilLF.hs
  compiler/damlc/tests/BUILD.bazel
  compiler/damlc/tests/daml-test-files/ExceptionSemantics.daml
  compiler/damlc/tests/src/DA/Test/ScriptService.hs
  compiler/damlc/tests/src/stable-packages.sh
  daml-lf/archive/src/main/protobuf/com/daml/daml_lf_dev/daml_lf_1.proto
  daml-lf/encoder/src/test/lf/Any_1.7_1.8_1.11_1.12_1.13_1.14_1.dev_.lf
  daml-lf/encoder/src/test/lf/BigNumeric_1.13_1.14_1.dev_.lf
  daml-lf/encoder/src/test/lf/Builtin_1.11_1.12_1.13_1.14_1.dev_.lf
  daml-lf/encoder/src/test/lf/Exception_1.14_1.dev_.lf
  daml-lf/encoder/src/test/lf/GenMap_1.11_1.12_1.13_1.14_1.dev_.lf
  daml-lf/encoder/src/test/lf/Numeric_1.7_1.8_1.11_1.12_1.13_1.14_1.dev_.lf
  daml-lf/encoder/src/test/lf/Synonym_1.8_1.11_1.12_1.13_1.14_1.dev_.lf
  daml-lf/encoder/src/test/lf/Template_1.11_1.12_1.13_1.14_1.dev_.lf
  daml-lf/encoder/src/test/scala/com/digitalasset/daml/lf/archive/testing/DamlLfEncoderTest.scala
  daml-lf/engine/src/test/scala/com/digitalasset/daml/lf/engine/EngineInfoTest.scala
  daml-lf/interpreter/src/main/scala/com/digitalasset/daml/lf/speedy/SValue.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/ExceptionTest.scala
  daml-lf/interpreter/src/test/scala/com/digitalasset/daml/lf/speedy/SBuiltinTest.scala
  daml-lf/language/daml-lf.bzl
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageMajorVersion.scala
  daml-lf/language/src/main/scala/com/digitalasset/daml/lf/language/LanguageVersion.scala
  daml-lf/spec/daml-lf-1.rst
  daml-lf/spec/transaction.rst
  daml-lf/transaction-test-lib/src/main/scala/lf/value/test/ValueGenerators.scala
  daml-lf/transaction/src/main/protobuf/com/daml/lf/transaction.proto
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionVersion.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionCoderSpec.scala
  language-support/java/codegen/BUILD.bazel
Owners: @cocreature, @remyhaemmerle-da, @S11001001, @stefanobaghino-da

Remove TODO
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/EventsTableFlatEvents.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Address todo
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/EventsTableFlatEventsRangeQueries.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

add changes to move deduplication safety check to committer
  ledger/participant-state/kvutils/src/main/protobuf/daml_kvutils.proto
  ledger/participant-state/protobuf/com/daml/ledger/participant/state/ledger_configuration.proto
Owners: @fabiotudone-da, @gerolf-da, @miklos-da, @SamirTalwar-DA, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

DPP-390 remove appendonly todos (#9910)
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/EventsTableFlatEvents.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/EventsTableFlatEventsRangeQueries.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

[In-memory fan-out] BuffersUpdater implementation (#9858)
  ledger/ledger-on-sql/BUILD.bazel
  ledger/participant-integration-api/src/main/scala/platform/apiserver/ApiServerConfig.scala
  ledger/participant-integration-api/src/main/scala/platform/apiserver/StandaloneApiServer.scala
  ledger/participant-integration-api/src/main/scala/platform/index/BuffersUpdater.scala
  ledger/participant-integration-api/src/main/scala/platform/index/JdbcIndex.scala
  ledger/participant-integration-api/src/main/scala/platform/index/ReadOnlySqlLedger.scala
  ledger/participant-integration-api/src/main/scala/platform/index/ReadOnlySqlLedgerWithMutableCache.scala
  ledger/participant-integration-api/src/main/scala/platform/store/appendonlydao/events/TransactionsReader.scala
  ledger/participant-integration-api/src/main/scala/platform/store/cache/EventsBuffer.scala
  ledger/participant-integration-api/src/main/scala/platform/store/cache/MutableCacheBackedContractStore.scala
  ledger/participant-integration-api/src/main/scala/platform/store/interfaces/TransactionLogUpdate.scala
  ledger/participant-integration-api/src/test/resources/logback-test.xml
  ledger/participant-integration-api/src/test/suite/scala/platform/index/BuffersUpdaterSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/appendonlydao/events/TransactionsReaderSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/cache/EventsBufferSpec.scala
  ledger/participant-integration-api/src/test/suite/scala/platform/store/cache/MutableCacheBackedContractStoreSpec.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/Config.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/LedgerFactory.scala
  ledger/participant-state/kvutils/app/src/main/scala/com/daml/ledger/participant/state/kvutils/app/ParticipantConfig.scala
  ledger/sandbox/src/main/scala/platform/sandboxnext/Runner.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da, @fabiotudone-da, @miklos-da, @SamirTalwar-DA

Address TODOs in JdbcIndexer
  ledger/participant-integration-api/src/main/scala/platform/indexer/JdbcIndexer.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

LF: Freeze archive proto for LF 1.14
  daml-lf/archive/BUILD.bazel
  daml-lf/archive/src/main/protobuf/com/daml/daml_lf_1_14/daml_lf.proto
  daml-lf/archive/src/main/protobuf/com/daml/daml_lf_1_14/daml_lf_1.proto
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/ProtoTest.scala
  daml-lf/language/daml-lf.bzl
Owners: @remyhaemmerle-da

LF: Freeze archive proto for LF 1.14 (#9912)
  daml-lf/archive/BUILD.bazel
  daml-lf/archive/src/main/protobuf/com/daml/daml_lf_1_14/daml_lf.proto
  daml-lf/archive/src/main/protobuf/com/daml/daml_lf_1_14/daml_lf_1.proto
  daml-lf/archive/src/test/scala/com/digitalasset/daml/lf/ProtoTest.scala
  daml-lf/language/daml-lf.bzl
Owners: @remyhaemmerle-da

LF: clean up some Exception TODOs
  daml-lf/tests/BUILD.bazel
  ledger/ledger-api-test-tool/util.bzl
  ledger/ledger-on-sql/BUILD.bazel
  ledger/sandbox-classic/BUILD.bazel
Owners: @remyhaemmerle-da, @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

fix
  ledger/ledger-api-test-tool/util.bzl
  ledger/ledger-on-sql/BUILD.bazel
  ledger/sandbox-classic/BUILD.bazel
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

link to #9914
  ledger/ledger-api-test-tool/util.bzl
  ledger/ledger-on-sql/BUILD.bazel
  ledger/sandbox-classic/BUILD.bazel
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

Upgrade canton to 0.25.0-snapshot supporting lf-1.13 and enable/fix tests
  deps.bzl
  ledger/ledger-api-test-tool-on-canton/BUILD.bazel
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/CommandServiceIT.scala
  ledger/ledger-api-test-tool/src/main/scala/com/daml/ledger/api/testtool/suites/CommandSubmissionCompletionIT.scala
Owners: @gerolf-da, @mziolekda, @nmarton-da, @rautenrieth-da, @tudor-da

a bit more clenup
  daml-lf/tests/BUILD.bazel
  daml-lf/transaction/src/main/scala/com/digitalasset/daml/lf/transaction/TransactionVersion.scala
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionSpec.scala
Owners: @remyhaemmerle-da

fix
  daml-lf/transaction/src/test/scala/com/digitalasset/daml/lf/transaction/TransactionSpec.scala
Owners: @remyhaemmerle-da
